[2018-10-08 23:32] bvaradar commented on #480
@AnkitMishra3220 :

"My use case is to optimize existing Hive table in which data is getting ingested from informatica jobs."
      We have a pending PR which details how to migrate existing tables to Hoodie. Here is the link : https://github.com/uber/hudi/blob/fda78e40ad6c0e18015610e5403858fea06a9634/docs/migration_guide.md
     Let me know if you have more question around this. We will be happy

[2018-10-11 20:45] shangxinli opened #483 "Fix addMetadataFields() to carry over 'props'"
Inside addMetadataFields(), it trunks the 'props' after adding the metadata. This blocks scenario where  it relies those 'props' to let Parquet do some work like encryption. The fix is simple by adding the 'props'.

     for (Schema.Field field : schema.getFields()) {
       if (!isMetadataField(field.name())) {
+        Schema.Field newField = new Schema.Field(field.name(), field.schema(), field.

[2018-10-15 18:19] bvaradar commented on #480
@AnkitMishra3220 : Were you able to make progress ? Let us know if you need any help.

[2018-10-15 23:09] vectorijk commented on #401
Hi @vinothchandar, I am working with @cb149 on applying Hudi in our production. We are looking for supporting DeltaStreamer for parquet. Is this duplicated with #429 which is about generalizing data source by using Spark data source API?

My question is also how hard is refactoring the code by using spark datasource api v2 fashion.

[2018-10-16 21:18] vectorijk commented on #410
Hi @vinothchandar, what's the status of this ticket? I guess it involves what we want to shift to datasource api v2.

[2018-10-16 22:19] vinothchandar commented on #401
#429 has some open issues which I don't know how to proceed..

I think the short term approach for parquet source makes sense to me.. @bvaradar is currently doing some work on an `HoodieIncrementalSource`, which consumes incrementally from an upstream hoodie dataset. Would this help with your usecase?

Or do you need source as raw parquet files? I vaguely remember discussing an alternate solution

[2018-10-16 23:50] vectorijk commented on #401
Thank you @vinothchandar !

Consumes incrementally from an upstream hoodie dataset might not be in our usecase. Since, we still need to do one-time parquet import for incremental changes periodically.

For our case, we dump avro messages in Kafka to HDFS (parquet files) by using Kafka Connect. As you said, we could directly have `deltastreamer` to read Avro from Kafka using `AvroKafkaSource`. I wi

[2018-10-17 07:38] vectorijk commented on #143
Hi, could you add me to the slack group? My email is jiangkai@gmail.com

[2018-10-17 21:43] leletan opened #487 "hoodie-spark now depends on hoodie-hive?"
There is an write option for hive here :

`  val DEFAULT_HIVE_PARTITION_EXTRACTOR_CLASS_OPT_VAL = classOf[SlashEncodedDayPartitionValueExtractor].getCanonicalName`

which will require dependency on hoodie-hive
https://github.com/uber/hudi/blob/master/hoodie-spark/src/main/scala/com/uber/hoodie/DataSourceOptions.scala#L22

[2018-10-17 22:31] leletan commented on #487
it seems this likely as per design, just to double confirm

[2018-10-18 06:07] bvaradar commented on #487
@leletan : Yes this is intentional. The pom dependency (https://github.com/uber/hudi/blob/1628d044ac5b2197fd8a565961f68b3aa7936f67/hoodie-spark/pom.xml#L223)  also reflects that. We had added support to automatically sync partitions to hive when writing through DataSource API.

For e:g -
https://github.com/uber/hudi/blob/1628d044ac5b2197fd8a565961f68b3aa7936f67/hoodie-spark/src/test/java/HoodieJav

[2018-10-18 06:08] leletan commented on #487
Thanks

[2018-10-18 06:08] #487 closed

[2018-10-18 17:15] bvaradar opened #489 "Seeing Netty package version mismatch when using hoodie bundle jars"
Cosmin reported an issue where he was seeing the below error:

java.lang.NoSuchMethodError: io.netty.buffer.PooledByteBufAllocator.metric()Lio/netty/buffer/PooledByteBufAllocatorMetric

with hoodie-spark-bundle.jar.

The bundle jars have netty classes included without getting shaded causing the error when used with Spark-2.3.1

[2018-10-18 17:16] bvaradar commented on #489
netty is a transitive dependency coming from hadoop-hdfs and spark-core. Since both are provided packages, we need to exclude them from bundle jars

[2018-10-18 18:09] arw357 commented on #489
This is the actual start-up exception:
[code]

[2018-10-19 21:28] n3nash opened #490 "Allow for projection and predicate pushdowns for SparkSQL over Hudi based tables"
Spark SQL on Hoodie table could run slower compared to Hive SQL on a Hoodie table

HiveInputFormat calls pushFilters() that sets the needed config.
And in Spark, HoodieInputFormat is loaded as HadoopInputFormat and not called via HiveInputFormat.

[2018-10-22 17:56] vinothchandar commented on #143
Done!

[2018-10-22 17:57] vinothchandar commented on #490
interesting.. any reproducible cases?

[2018-10-23 21:08] vinothchandar commented on #472
incremental DF works that way coz it only reads new data..  For regular data source, without glob we would have to read the entire table..

closing since this is not an issue

[2018-10-23 21:08] #472 closed

[2018-10-23 21:09] #441 closed

[2018-10-23 21:16] vinothchandar commented on #429
Thinking more about this, without specific knowledge about the datasource its not possible to design checkpoints.. Hence, we will close this and add new sources based on demand

[2018-10-23 21:16] #429 closed

[2018-10-23 21:16] vinothchandar commented on #430
this is merged

[2018-10-23 21:16] #430 closed

[2018-10-23 21:17] vinothchandar commented on #424
Think we have the workaround here.. reopen if further discussion is needed

[2018-10-23 21:17] #424 closed

[2018-10-23 21:17] vinothchandar commented on #414
already fixed on master..

[2018-10-23 21:17] #414 closed

[2018-10-23 21:19] vinothchandar commented on #410
@vectorijk apologies.. missed this..

Currently we use Avro GenericRecord as the canonical representation of a record inside Hoodie. While that works great if your source has avro, (e.g kafka), it incurs additional Row -> Avro conversion if your source is another dataframe (e.g rthe datasource) route. this issue is to explore a way to write rows all the way.  hope that clears it up

[2018-10-23 21:27] #125 closed

[2018-10-23 21:28] vinothchandar commented on #107
Closing since we are not pursuing this anymore

[2018-10-23 21:28] #107 closed

[2018-10-23 21:28] #59 closed

[2018-10-23 21:29] #55 closed

[2018-10-23 21:29] #53 closed

[2018-10-23 21:29] #47 closed

[2018-10-23 21:30] #17 closed

[2018-10-23 21:43] vinothchandar opened #491 "Introduce a way to collapse filegroups into one and reindex"
Idea here is to support use-cases like consolidating multiple files into a larger one. Note that we already tackle this in a different way by carefully sizing files on write. but there might be cases where folks want to say merge 1gb files into a 4gb file.

[2018-10-24 00:42] vinothchandar commented on #437
rolling this under #284 and closing this

[2018-10-24 00:42] #437 closed

[2018-10-24 21:23] vinothchandar opened #492 "Explore opportunities to cache some listStatus calls in HoodieInputFormat"
There are some opportunities for caching few list status calls in the HoodieInputFormat (albeit with tradeoffs)

=== Incremental Pull
Without a `datestr` predicate in the sql where clause, HiveServer could end up calling getSplits() for all that partitions, which can be expensive (list .hoodie , list the partition) and wasteful (end up throwing most of files anyway).

We could do much better by ac

[2018-10-26 17:12] vectorijk commented on #221
@vinothchandar Is that possible to set my own payload class as `DataSourceWriteOptions.PAYLOAD_CLASS_OPT_KEY` when using DataSource API to write any dataframe into hoodie managed dataset (like [here](https://uber.github.io/hudi/incremental_processing.html#via-custom-spark-job))?

Plus, I also saw there are some comments in `HoodieRecordPayload`. These comments mentioned two use cases. Case 1 is us

[2018-10-26 18:43] vectorijk commented on #221
Maybe I could cast `IndexedRecord` to `GenericData.Record`

[2018-10-30 19:35] arw357 opened #493 "Hive partition column defaults to String"
The hive partition column at hive table creation time defaults to "String"  type because the type of the partition column name is searched in a map which has it's keys surrounded by backticks ("`") ,thus the key is not found.

This is where the partition key type is found by the code :
https://github.com/uber/hudi/blob/5cb28e7b1ff09149ca88fc761d0e19369c6c3505/hoodie-hive/src/main/java/com/uber/hoo

[2018-10-31 18:58] bvaradar opened #494 "MOR - Allow partitioner to pick more than one small file for inserting new data"
For inserting new data, we pick only one small file when we cannot index log-files. This could cause lot more new file ids to be created as we limit  only one file to organically grow.

Relevant Code :  https://github.com/uber/hudi/blob/master/hoodie-client/src/main/java/com/uber/hoodie/table/HoodieMergeOnReadTable.java#L352

[2018-10-31 18:59] bvaradar commented on #494
@vinothchandar @n3nash : We would need to prioritize this some time.

[2018-11-05 19:29] n3nash commented on #494
Yeah, I'll take this up

[2018-11-07 11:09] gorros commented on #75
Do I understand correctly that Hudi does allow deletion of particular rows from partitioned data on HDFS in an efficient way, without overwriting whole data? Does this ticket cover that use-case?

[2018-11-08 21:23] vinothchandar commented on #75
yes that's correct.. Happy to provide more support over slack if thats something interests you

[2018-11-13 08:35] louisliu318 opened #498 "Is there any record delete examples?"
I can now do insert & upsert , how could I do deletes ? Is there any examples? Thanks~

[2018-11-13 22:53] n3nash opened #499 "Bin packing algorithm fails to pick some buckets when there's a large number of small files to be fixed"
Based on the config https://github.com/uber/hudi/blob/master/hoodie-client/src/main/java/com/uber/hoodie/config/HoodieCompactionConfig.java#L51 and the number of files needing more records to be packed, a bunch of small files will be chosen to write inserts to, find that here : https://github.com/uber/hudi/blob/master/hoodie-client/src/main/java/com/uber/hoodie/table/HoodieCopyOnWriteTable.java#L6

[2018-11-13 22:54] n3nash commented on #498
@louisliu318 Hard deletes are done by providing an optional generic record to your payload and soft deletes can be done by nulling out all the fields except the HoodieKey. What is your requirement ?

[2018-11-13 23:55] vinothchandar opened #501 "Explore adding support for Spark DataSource V2"
Just copying the discussion with @leletan on slack..

https://databricks.com/session/apache-spark-data-source-v2
https://docs.google.com/document/d/1n_vUVbF4KD3gxTmkNEon5qdQ-Z8qU5Frf6WMQZ6jJVM/edit#

https://docs.google.com/document/d/1DDXCTCrup4bKWByTalkXWgavcPdvur8a4eEu8x1BzPM/edit#

V2 Api does look much more thought out and general purpose. For Hoodie, the advantages still are a little unclear

[2018-11-14 00:02] vinothchandar commented on #498
You can take a look at `TestHoodieClientOnCopyOnWriteStorage.java` and `TestRawTripPayload` for examples.. Please let us know if that helps

[2018-11-14 00:04] vinothchandar commented on #499
yes that would greatly help understand the root cause .. We should let the IOHandles deal with empty iterators anyway.

[2018-11-14 05:51] charleso commented on #160
@vinothchandar Sorry to be a pain, I just hit this too on a clean clone/build too. I can't see that jar in either of the two configured repositories.

- http://central.maven.org/maven2/org/pentaho/
- https://repository.cloudera.com/artifactory/repo/org/pentaho/

[2018-11-14 06:45] louisliu318 commented on #498
@n3nash Thanks for the reply. What I want is hard delete.

[2018-11-14 06:47] louisliu318 commented on #498
@vinothchandar Thanks for your help. I will look into it.

[2018-11-14 07:20] n3nash commented on #499
@vinothchandar That's the fix I have put in our internal repo as of now. The Handle simply returns an empty WriteStatus iterator.

[2018-11-15 18:02] vinothchandar commented on #160
@bvaradar as well. Did you hit this issue by any chance when you did the docker stuff?
Should we just add the repository.

[2018-11-16 09:28] rajeshbalamohan opened #502 "Support "analyze table x compute statistics [for columns]" in Hive"
It would be good to add this support so that we can help the query planner to know the stats.

[2018-11-16 09:30] rajeshbalamohan opened #503 "Caching .hoodie file in inputformat to reduce lookups"
This can help in reducing the number of lookup calls. This would very beneficial when running on cloud environments where listing of files can be super expensive.

If we can add some basic stats in .hoodie, it would be possible to do split pruning in getSplits(). I will create separate ticket for this.

[2018-11-16 09:31] rajeshbalamohan opened #504 "Consider adding split pruning support"
If basic stats can be added in .hoodie file, it would be possible to eliminate unwanted files in split computation level itself (getSplits()). This can be super helpful to reduce workload on NN and in   in cloud systems.

[2018-11-16 09:34] rajeshbalamohan opened #505 "Need something similar to CombinedInputFormat to too many splits creation (e.g avoid >80K split size limits)"
For large partitions, it is possible to get splits which far exceeds the limits provided in the configs. For e.g, Tez does further grouping after splits are handed over by Hive. But in other engines, this might not be possible. It would be good to have something like CombinedInputFormat for other systems.

[2018-11-19 21:35] n3nash commented on #498
@louisliu318 There are some gaps in record deletes on MERGE_ON_READ table. Let me get back to you on that.

[2018-11-20 05:19] leletan commented on #504
+1

[2018-11-20 05:43] vinothchandar opened #506 "explodeRecordRDDWithFileComparisons is costly with HoodieBloomIndex/range pruning=on"
Per @leletan , caching the output improves the job performance a lot. Probably worth revisiting the tradeoffs again..

[2018-11-20 05:53] vinothchandar commented on #506
![screen shot 2018-11-19 at 12 34 51 pm](https://user-images.githubusercontent.com/1179324/48754169-90bcf000-ec45-11e8-9a54-6c4bd2181af5.png)
![screen shot 2018-11-19 at 11 12 10 am](https://user-images.githubusercontent.com/1179324/48754172-961a3a80-ec45-11e8-936c-71daee0f497a.png)

[2018-11-20 05:57] leletan commented on #506
Made a patch as moving *autoComputeParallelism* into *findMatchingFilesForRecordKeys*, there are other ways to do it, just putting some thoughts there:

[code]

[2018-11-20 06:02] vinothchandar commented on #506
Let me pore over this and get back. What I don't understand is that `recordRDD` is already cached & the other partitionToFileIndexInfo is also in memory . So going another pass over should have been fine.. Let me look into this with @bvaradar & @n3nash, on why its not helping and we can move from there..

[2018-11-20 06:19] leletan commented on #506
My guess is that, between `recordRDD.persist()` and `partitionToFileIndexInfo.collect()`, `loadInvolvedFiles` is an expensive method for object stores, especially for `GlobalBloomIndex`, there will be list, seek and read from object stores, making it slow?

[2018-11-20 06:29] louisliu318 commented on #498
@n3nash Thanks ~ . Looking Forward to your help .

[2018-11-20 18:34] leletan commented on #506
Actually I have another 2 runs and seeing much more time spent on
`flatMapToPair at HoodieGlobalBloomIndex.java:107`
no idea why this did not show up as big in the previous runs, no config changes.

[2018-11-20 18:34] leletan commented on #506
![screen shot 2018-11-20 at 10 31 14 am](https://user-images.githubusercontent.com/6158502/48794814-e4642380-ecaf-11e8-9a0e-436a1e0af03b.png)

[2018-11-20 18:39] leletan commented on #506
The run with 831 files (attached as the first images in this ticket) is running against a much smaller existing table, which makes sense not to have too much time for reading.

However, the following run with 3398 files across 4 partitions did not spend too much time on `explodeRecordRDDWithFileComparisons` either, which confused me.

[2018-11-20 18:39] leletan commented on #506
![screen shot 2018-11-19 at 3 54 02 pm](https://user-images.githubusercontent.com/6158502/48795029-956abe00-ecb0-11e8-8750-07bbfb982be0.png)

[2018-11-20 19:13] n3nash commented on #506
Sample screenshot of a successful job

<img width="1409" alt="screen shot 2018-11-20 at 11 12 37 am" src="https://user-images.githubusercontent.com/2722167/48796769-555a0a00-ecb5-11e8-85cb-46e3c8817906.png">

@vinothchandar @leletan FYI

[2018-11-20 19:14] vinothchandar commented on #506
@leletan there could be variability within runs - depending on data..
yes, the Global index basically will incur a lot of comparisons..

Hmmm. may be we should look into building https://github.com/uber/hudi/wiki/HashMap-Index more seriously?

[2018-11-20 19:16] vinothchandar commented on #506
@n3nash is that a kafka or db ingestion?  can we get one of each?

[2018-11-20 20:07] n3nash commented on #506
@vinothchandar That's a db ingestion one, as discussed kafka does not have such a DAG.

[2018-11-20 20:42] leletan commented on #506
interesting, roughly the same size but much higher number of partitions than my job, and it seems `explodeRecordRDDWithFileComparisons` is also an expensive stage (13 mins) in the sample uber job - with 738 files from the table to compare (please correct me if I am wrong).  Wondering is there any special spark side config / trick is used in that job.

[2018-11-20 20:43] leletan commented on #506
Wondering what is rule of the thumb to determine the number of partitions.

[2018-11-20 20:53] leletan commented on #506
Tried bumping up the number of partitions and does not seem helping in the performance.

[2018-11-20 21:44] vinothchandar commented on #499
@n3nash can you port your fix into a PR?

[2018-11-20 23:14] vinothchandar commented on #506
Summarizing what each line shown in the UI does..

1. `countByKey / HoodieBloomIndex:144` - Tries to get a Map<PartitionPath, number_of_input_records> to help determine parallelism
2. `collect / HoodieBloomIndex:249` - Gets a list of all data files.
3. `collect / HoodieBloomIndex:263` -  Reads footers containing range of keys in the file.
4. `count / HoodieBloomIndex:179` - Computes parallelism ne

[2018-11-20 23:29] vinothchandar commented on #502
#393 already is open around this.. We internally have this patched already..

[2018-11-20 23:32] vinothchandar commented on #504
Not sure if we want to add this to the .hoodie file.. but we do have thoughts around building a metaserver (we call it TimelineServer) that can provide file listings to ipf.getSplits . However one challenge is that the ipf does not have knowledge of the predicates in the query.. @rajeshbalamohan any thoughts on that?

[2018-11-21 01:04] vinothchandar commented on #506
Okay here is my proposal for the two issues

**1) Range pruning being expensive**
Currently we compare each incoming record key against all `BloomIndexFileInfo` objects, in a linear search. So complexity is `O(N * F)` (or 150B comparisons for what you are trying to do). If we stored the file key ranges in an Interval tree, then it would become `O(N log F)` or (30M log 5000 = ~120M comparisons or ~

[2018-11-21 01:20] nsivabalan commented on #506
@vinothchandar : sure. Will take a stab.

[2018-11-21 06:52] leletan commented on #506
Thanks for the explanation! Really helpful.

One further question about partitioning -
if I use hour partition and normal bloom filter (just in partition dedup), there are ~500 files each partition, even considering the long tail of events merging to small files.
And every batch there are almost always 50 - 100 files to insert/ merging for small files after deduping.
Every batch, the incoming data

[2018-11-21 08:11] leletan commented on #254
it seems there is even less intrusive work around:
just set `spark.hadoop.fs.%s.impl.disable.cache` to false
[code]

[2018-11-22 01:07] vinothchandar opened #508 "Introduce configs to control consistency check backoff timeouts"
Defaults are sane. But currently, they cause testConsistencyCheckDuringFinalize to take a long time (4m)

[2018-11-23 07:04] louisliu318 commented on #227
@n3nash @vinothchandar @littleRa1n What's the cause of this problem? I came across the same error ?

[2018-11-23 10:01] louisliu318 commented on #227
I changed the core of spark to 1 , the error gone away. May I ask why can not set the core more than 1 ?

[2018-11-24 20:47] smdahmed commented on #143
HI, Can you please add me to the slack group? My email is: smdahmed@gmail.com.

[2018-11-26 06:38] leletan commented on #499
Seeing that again even with the same parallelism. Will add the logging back (#497) and get more info if I run into it again.

[2018-11-27 01:09] leletan opened #509 "HoodieCommitArchiveLog.openWriter causes object store to throw exceptions"
Ran into following issue when trying to commit a batch into google cloud storage and it always fails for the first time and somehow powered through on the retry
[code]

[2018-11-27 19:36] leletan commented on #509
The root cause is likely to be here, in `com.uber.hoodie.common.table.log.HoodieLogFormatWriter.<init>(HoodieLogFormatWriter.java:73)`, the IOException catching requires the message to be "Not supported", however the `com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystemBase.append(GoogleHadoopFileSystemBase.java:811)` will throw exception with message "The append operation is not supported."
[cod

[2018-11-27 19:38] leletan commented on #509
@vinothchandar wondering what was the reason there is such a check and for error message check and please advice on how to deal with this issue, likely to be a quick fix if my hypothesis above is right. Thanks!

[2018-11-27 19:41] leletan commented on #509
or maybe we can have something like
[code]

[2018-11-27 20:01] vinothchandar commented on #509
but the comparison is ignoring case right? Thats how the message was for s3 :) I did not get this issue on s3..

We need to also understand how it eventually succeeds.

Just to clarify are you saying
 - All micro batches first fail and retry succeeds (or)
 - The first micro batch fails and the rest suceeds?

[2018-11-27 20:14] leletan commented on #509
tried the above fix in our own applications and it seems the error is gone

[2018-11-27 20:41] vinothchandar commented on #509
Right fix may be just to special case `s3a` and `gs`, instead of messing with exception messages.. Let me prep a diff based on this and add you

[2018-11-27 21:41] AndrewKL commented on #493
I ran into this as well

[code]

[2018-11-27 21:46] bvaradar commented on #493
Will look into this tonight.

[2018-11-27 21:46] vinothchandar commented on #506
are you asking how to set shuffle parallelism? Can you point me to the exact configs you are asking about..

At a high level, if you want to reduce runtime, you will bottlenecked by index lookup speed +  time to merge a 128MB file.. This ticket will try to improve first one. Whats the time you see on actual write phase?

if you have not run into this yet, there is some tuning tips here https://ube

[2018-11-27 21:48] bvaradar commented on #493
@AndrewKL : BTW, can you let us know the Hive and Hadoop versions you are using.

[2018-11-27 21:50] vinothchandar commented on #254
I was looking for a way to do this programmatically.. Were you able to test this out?

[2018-11-27 21:51] vinothchandar commented on #227
@louisliu318 issue is tracked in #254 . Basically, its a race in how the filesystem object gets closed across threads with cores > 2 . You can hop onto that ticket .

[2018-11-27 23:00] AndrewKL commented on #493
Here's some more detailed info
aws emr 5.19.0
spark 2.3.1
hadoop 2.8.5

[code]

[2018-11-27 23:07] AndrewKL commented on #493
Are unpartitioned tables supported by hudi?

[2018-11-27 23:40] leletan commented on #254
@vinothchandar I have not seen this issue coming up after I added the flag.

[2018-11-27 23:42] leletan commented on #254
We can
1. add this flag to hadoop config somewhere in the code
2. synchronize the filesystem creation as mention earlier

[2018-11-27 23:53] leletan commented on #509
what I observed is this one. Did not drill down too much why we are seeing that behavior though.

[2018-11-28 01:37] hanleiwang commented on #143
@vinothchandar Hi there, can you please add me into the hudi slack channel? my email is hanlei.wang@vungle.com. Tks.

[2018-11-28 01:58] #509 closed

[2018-11-29 17:03] vinothchandar opened #514 "Vote for committership for balaji"
@prazanna @n3nash Starting a vote on @bvaradar 's contributions to hoodie so far.. Docker setup, dependency cleanup, async compaction are some major improvements already merged and validated.

Please chime in with your vote

[2018-11-29 17:03] vinothchandar commented on #514
+1 from me

[2018-11-29 17:39] bvaradar commented on #493
Sorry for the delay.

@arw357 :  Thanks for debugging the issue. I have a pending PR ( https://github.com/uber/hudi/pull/515) that fixes it. Please use it if you are planning to try hoodie.

@AndrewKL : Hoodie is supposed to work with both partitioned and non-partitioned hive tables. There were some minor issues with partition-path handling which this PR (https://github.com/uber/hudi/pull/515) add

[2018-11-29 18:50] AndrewKL commented on #493
I'll update my code and give it a shot

[2018-11-30 05:55] cdmikechen opened #516 "Do we need to delete *.SF files in maven?"
when I use hoodie-spark-bundle-0.4.5-SNAPSHOT.jar to start a spark job, it report this error:
[code]
so I delete some `.SF` files `zip -d hoodie-spark-bundle-0.4.5-SNAPSHOT.jar 'META-INF/.SF' 'META-INF/.RSA' 'META-INF/*SF'`
[code]

I think it is better to add some filter to maven like this in shade plugin:
[code]
Do we need that?

[2018-11-30 09:50] cdmikechen opened #517 "avro 1.7 not have LogicalType.class, but in parquet 1.8 AvroSchemaConverter.class need it"
when use bulk_insert into hdfs via spark job, find this error:
[code]
LogicalType may be found in avro 1.8 and not in avro 1.7.7.

 some codes changed in pom.xml :
[code]
and use spark-submit :
[code]

how to fixed it?
Should I replace avro to 1.8 in Spark? I found in Spark 2.2.1, avro is 1.7.7.

[2018-11-30 19:08] n3nash commented on #514
+1 from me!

[2018-11-30 20:37] hindog commented on #143
Please add me to your slack channel: hindog@gmail.com

[2018-11-30 23:04] vinothchandar commented on #514
Alright.. its settled then!

[2018-11-30 23:04] #514 closed

[2018-12-03 02:57] cdmikechen commented on #517
I checked my code and found that I used a Timestamp Type column to insert hive. Avro 1.7.7 is not supported timestamp and timestamp was only introduced in Avro 1.8.x.

[2018-12-03 22:40] GaganjotSidhu commented on #143
@vinothchandar : Hi, Can you please add me into the hudi slack channel? My email is sherry.sidhu@vungle.com

[2018-12-03 23:25] n3nash opened #521 "Make the encoder thread local to avoid creating new Encoders when converting from/to GenericRecord"

[2018-12-04 22:48] n3nash opened #522 "Make the HoodieDataFile independent of fileStatus"
At the moment, HoodieDataFile depends on FileStatus to provide the required information. We would like to eliminate this dependency.

[2018-12-04 22:48] n3nash commented on #522
@vinothchandar @bvaradar FYI

[2018-12-04 23:37] AndrewKL commented on #493
I'm still in the middle of testing this buti found another minor bug.  Currently the HiveSyncTool requires a partition col.

[2018-12-05 00:29] vinothchandar commented on #517
We can consider upgrading Avro.. @n3nash wdyt?

[2018-12-05 00:30] vinothchandar commented on #143
All done.. Sorry forgot to write back on ticket.. Please let me in case I missed someone

[2018-12-05 00:37] bvaradar commented on #516
Thanks for reporting this issue. It makes sense to add these exclusion filters. We should do this for other fat-jars  too (hoodie-hive-bundle, hoodie-hive-bundle, hoodie-utilities).

@cdmikechen : Would you be interested in creating a PR on this :) ?

[2018-12-05 03:40] louisliu318 opened #523 "How to deal with mysql change logs using hudi ?"
Here is what I want:
The change logs of mysql (there are many tables) are put to one kafka topic . Then I want to ingest the data   and put them to different hive tables. How can I achieve this in a spark app , not one spark per table which resulting many spark apps? Thanks~

[2018-12-05 09:14] cdmikechen opened #524 "Standardize paths across incremental and snapshot/ro read from spark datasource"
I insert some data (spark2.2.1 with avro 1.7.7 and parquet 1.8.2):
[code]
and then insert another data :
[code]
They both succeeded. But when I want get some increment
[code]
using `VIEW_TYPE_INCREMENTAL_OPT_VAL`
[code]
using `VIEW_TYPE_READ_OPTIMIZED_OPT_VAL`
[code]

[2018-12-05 19:33] bvaradar commented on #524
@cdmikechen: The symptoms seem to indicate that there are no parquet files written. Can you paste the following output

1. Show commits:
    (a)  Run Hoodie CLI (./hoodie-cli/ hoodie-cli.sh)
    (b)  connect to your dataset connect --path /tmp/cloud2_code/c_upload_code
    (c) commits show
2. list (recursively) all the files/dirs under the base-path (/tmp/cloud2_code/c_upload_code).

[2018-12-06 02:53] cdmikechen commented on #524
@bvaradar
hoodie-cli
[code]
file list
[code]
[code]

[2018-12-06 04:02] cdmikechen commented on #517
@vinothchandar
Find another problem. I replace avro 1.7.7 to 1.8 in spark 2.2.1, And timestamp can translated successfully.
But I found that avro translate timestamp to long(int64) in parquet, not int96.

[2018-12-06 06:57] n3nash commented on #523
@louisliu318 One way to do this is as follows :

1. Create a Spark KafkaRDD from the Kafka data. Filter this RDD into multiple different RDD's by grouping change logs of each table in an RDD. You could go over the RDD once and write logic to split that RDD into multiple RDD's per table.
2. For each RDD, generate HoodieRecords, create a new writeClient with a basePath for the corresponding table fo

[2018-12-06 07:00] n3nash commented on #498
@louisliu318 What's your use case to use deletes in MERGE_ON_READ ? We have a couple of things that needs to be addressed to support true deletes in a MOR table. We will try to fix the deletes in MERGE_ON_READ soon.
In the meantime, can you try to setup your pipeline and operations using COPY_ON_WRITE table that support deletes right now ? This way you can play around and have some tables running

[2018-12-06 08:56] louisliu318 commented on #523
@n3nash Thanks for your reply.  Right now we are doing it similar to the first way, but one spark streaming application corresponding a few tables(eg ten) to avoid too many rdds in one application.

[2018-12-06 08:56] #523 closed

[2018-12-06 09:15] louisliu318 commented on #498
@n3nash We want to mirror our production MySql databases to hive in 5~30 mins latency.  Right now we are doing with COPY_ON_WRITE table with spark streaming~
One more question，Is it suitable if I use spark **structured streaming** with 2mins duration on COPY_ON_WRITE table. Thanks~

[2018-12-06 10:30] smalltimecharlie opened #525 "Update quickstart with expectations around windows/docker"
When following the quickstart guide - setting up a docker cluster - https://uber.github.io/hudi/quickstart.html at the final step we see the following:

[code]

We can verify these scripts are not present in the adhoc containers if we run

[code]

[2018-12-06 11:37] smalltimecharlie commented on #143
Hi,

please add smalltimecharlie@gmail.com :)

[2018-12-07 01:59] louisliu318 commented on #143
@vinothchandar  Hi, Can you please add me into the hudi slack channel? My email is louisliu318@gmail.com

[2018-12-07 07:36] cdmikechen opened #526 "Where is the logfile in hoodie?"
I used hoodie-cli.sh to connect a hoodie data from hdfs. I use help to see what commands are available.
I found that
[code]
But in my hoodie data path, I can not find any *.log files. And I tried to use `show logfile metadata --headeronly true --limit 10 --logFilePathPattern /tmp/cloud2_code/c_upload_code/*` or any files. It does not show a right metadata.
I also read `admin_guide.md`, but don`t f

[2018-12-07 19:56] bvaradar commented on #525
@smalltimecharlie  :  Thanks for filing the issue. Will look into this today  and get back to you.

[2018-12-07 23:11] bvaradar commented on #526
@cdmikechen : Looking at the other issue, the dataset is configured to be COPY_ON_WRITE. In this mode, all updates and inserts are ingested in columnar (parquet) format. Hence, you are not seeing any log files.

You can look at the table type in Hoodie CLI  by running the following commands:

connect --path <base-path>
desc

[2018-12-08 00:47] n3nash commented on #498
@louisliu318 That depends on a few factors :

1. What is the parallelism you are using to ingest that workload ?
2. What is the output file size (parquet file size) that you intend to write ?
3. Is a large number of small files a concern more or just being able to ingest in 2 mins ?

[2018-12-08 01:24] shangxinli opened #527 "Merkle tree based Hoodie dataset integrity"
Motivation:
Data integrity refers to the trustworthiness of data. Data integrity is so important that it doesn't need to emphasize any more. For example, if financial data is altered, which could be done by a malicious hacker or unintentional human error, will cause the company a bad reputation and possible legal issues.

The threats of data integrity could come from different aspects like human e

[2018-12-08 05:58] smalltimecharlie commented on #525
Hi Balaj,

Thanks for looking into this for me, I did notice that environment variable and figured it might well be that not being set properly for whatever reason.

Checking my docker versions I do get the same or later as yourself

ubuntu@GBC****:~/hudi/docker$ docker-compose -v
docker-compose version 1.17.1, build unknown
ubuntu@GBC****:~/hudi/docker$ docker -v
Docker version 18.09.0, build 4d6

[2018-12-10 03:04] louisliu318 commented on #498
@n3nash
1. Right now the parallelism is set to 1( Kafka partition is 1).  The average workload is 2000rps.
2. I want to keep the output file size same as the hdfs block size.(256MB). What's the recommended size in production?
3. I prefer having small number of small files.

[2018-12-10 05:36] amruthkesav commented on #274
Hi, Can you clarify how appends are happening to GCS? Is it more of a concat or the file is recreated everytime (Given GCS does not provide update)?

[2018-12-10 06:18] txy362922388 opened #528 "Does hudi support composite primary key upserts?"
I found the field `RECORDKEY_FIELD_OPT_KEY` in write options with default value `uuid`. Does it support the composite primary key ? If does, how can I set the composite primary key in string format ?

[2018-12-10 08:40] xubo245 opened #529 "There are some spell error in Hudi that need to be fixed"
There are some spell error in Hudi that need to be fixed:
for example:
parition =>partition

[2018-12-10 19:05] bvaradar commented on #525
@smalltimecharlie : I have not tried or hear anyone try with that setup  but would be happy to take in code/config changes that helps fixes the demo in your setup.  Not sure If I understood your message completely : Is the environment variable setup properly ? You might also want to see if there are any limitations with docker mounting  on your setup ?

[2018-12-11 04:03] amruthkesav commented on #274
So is it like every commit meta creates a new file and then later the compacter merges it?

[2018-12-11 19:34] vinothchandar commented on #517
sg. @n3nash can you chime in ?  any specific dependencies on 1.7.7?

[2018-12-11 19:43] vinothchandar commented on #524
The thing is, I don't see any files written for 20181205165606. IIUC you are writing 1 record correct? Also is this COW or MOR table? Can you paste contents of `.hoodie/hoodie.properties` and also do a `commit showfiles` (https://uber.github.io/hudi/admin_guide.html#drilling-down-to-a-specific-commit)

[2018-12-11 19:49] vinothchandar commented on #498
Your latency would be bound by amount of time it takes to merge the parquet file. 256MB files may take couple minutes (again depends on schema complexity etc that are parquet specific).. I would just first benchmark in batch with large paralellism, see the latency we get and move from there..

[2018-12-12 02:20] bdgeise commented on #143
Can you please add me to the slack channel? brandongeise@gmail.com

[2018-12-12 08:09] Brian01Chen commented on #75
How to delete the particular rows using Hudi , I not find any info.

[2018-12-12 18:59] n3nash opened #531 "Add a delete() API to HoodieWriteClient as well as Spark datasource"
At the moment, we support delete for COW tables by passing empty payloads. There are some gaps in performing hard deletes for MOR table types.

This ticket is to support delete() as a first class api.

[2018-12-12 19:04] n3nash commented on #75
@Brian01Chen Don't think there is any explicit information around this. I've added some info here : https://github.com/uber/hudi/issues/531. Let's follow up there.

[2018-12-12 22:58] vinothchandar commented on #527
I understand what you are getting at. Do you think access control mechanisms on the underlying storage don't do enough to prevent external/unauthorized access? Of course, this proposal is still valid if you are concerned about authorized users with malicious intent.

In terms of a full design for hoodie, we also need to take into account cleaning process, which deletes older files. And how each co

[2018-12-12 23:00] vinothchandar commented on #528
yes our kafka feeds all have composite keys in production..

[2018-12-13 17:35] msridhar opened #532 "Compile Hudi Java code with Error Prone + NullAway"
Chatted with @bvaradar about this.  This could help with robustness and eliminating NullPointerExceptions.  I'm willing to help out if there is interest.

[2018-12-13 18:36] bvaradar commented on #532
Thanks for reaching out @msridhar. Agree that NullAway would help bring more confidence to our certification process.

It would be great if you could send a PR with NullAway check enabled but in warning mode ( possible ?) so that we can start getting the report early but can act on it at our cadence :)

[2018-12-14 09:20] louisliu318 opened #533 "Hive sync error with <class org.apache.hadoop.hive.metastore.DefaultMetaStoreFilterHookImpl not com.uber.hoodie.org.apache.hadoop_hive.metastore.MetaStoreFilterHoo>"
**Environment:**
spark-2.3.2
hadoop-2.7.3
hive-1.2.1

**Error:**
I am using spark datasource api to insert data into hoodie table and sync to hive.
`Exception in thread "main" java.lang.RuntimeException: java.lang.RuntimeException: class org.apache.hadoop.hive.metastore.DefaultMetaStoreFilterHookImpl not com.uber.hoodie.org.apache.hadoop_hive.metastore.MetaStoreFilterHook
	at org.apache.hadoop.con

[2018-12-14 12:00] louisliu318 commented on #533
Removing the <relocation>s in maven-shade-plugin , the error gone. Maybe need some workaroud in `HoodieSparkSqlWriter.syncHive()` in which we can set some hive configurations with **com.uber.hoodie** or set configurations in hive-site.xml.

[2018-12-14 18:35] vinothchandar commented on #532
+1

[2018-12-17 02:10] #529 closed

[2018-12-17 21:36] bhasudha commented on #492
Hi @vinothchandar, are you working on this already? If not, can I take this one?

[2018-12-18 20:51] vinothchandar commented on #492
All yours.. :) Please let us know if you need any help moving forward

[2018-12-18 20:55] vinothchandar commented on #533
Hive 1.x.. Are you using the correct spark bundle?

From quickstart

[code]

@bvaradar for context

[2018-12-19 05:37] louisliu318 commented on #533
@vinothchandar I'm using Hive-1.2.1, not Hive-1.1.1. In `packaging/hoodie-spark-bundle/pom.xml`, -Dhive12 points to hive version 1.2.1.

[2018-12-19 05:58] cdmikechen commented on #524
@vinothchandar
[code]
sorry, I reset data by rewriting hoodie, I had lost old data. I will retry reading function.

[2018-12-19 06:54] bvaradar commented on #533
@louisliu318 : THanks for filing this ticket. Yes, with Hive-1.2.1, the maven profile is hive12 (default). When I tested similar setup, I did not encounter this issue. This is caused by shading some of hive jars and including them in the bundle (bit of a magic by trial and error).

It is not clear from your comment if you solved this by disabling shading ?

Can you also try shading hive-metastore

[2018-12-19 08:15] cdmikechen commented on #517
@vinothchandar
I found that
https://github.com/databricks/spark-avro/pull/291#issue-212513531
newest `databricks/spark-avro` just support avro 1.7, and timestamp/decimal only cast to long and string.

In spark2.4, avro can be upgraded to 1.8.2.
https://issues.apache.org/jira/browse/SPARK-24771
and this problem can be solved.

[2018-12-19 18:32] n3nash commented on #498
@louisliu318 Were you able to perform any benchmarks as pointed out above ?

[2018-12-19 18:33] n3nash commented on #492
@bhasudha We have a task internally to track this, before you start working on this, let's sync up.

[2018-12-19 18:35] n3nash commented on #401
@vectorijk Were you able to use `AvroKafkaSource` to address your use-case ?

[2018-12-19 21:47] shangxinli commented on #527
It is another layer of protection. There are multiple layers in the security world, for example, authZ, authN, encryption, audit, and integrity. Sometimes there are some overlaps between them but mostly they complement each other.  Access control and data integrity should complement each other. For example, what if hackers break through the access control system or some storage might not turn on a

[2018-12-21 02:52] louisliu318 commented on #533
I solved the problem by comment out the relocations in the shading section of pom.xml of hoodie-spark -
.

[2018-12-21 07:53] cdmikechen commented on #143
@vinothchandar
Please add me to Slack, my email is chenx@neunn.com
I have many questions to ask :)

[2018-12-21 18:18] vinothchandar commented on #533
can you throw your changes into a PR? Balaji and I discussed this more. He seems to have tested on hive1.2 as a part of the dockerized setup, and things worked for him.. Ideally we need to test this across all hive versions before making a call ... The hive jar versioning is very sensitive and changes made for one version often end up causing side effects for others

[2018-12-21 19:27] n3nash opened #536 "Reduce the number of partitions to perform listStatus on during compaction"
At the moment, we perform a list status on all partitions for compaction. Depending on the CompactionStrategy used, we might not need all the partitions to be listed thus can help in reducing the listStatus calls (even if caching is enabled).

@vinothchandar @bvaradar FYI

[2018-12-21 19:30] n3nash opened #537 "Eliminate the need to perform listStatus inside a partition while performing compaction/scheduling compaction"
We perform a listStatus inside a partition to basically get the HoodieDataFile information. Instead, we can just construct the HoodieDataFile from the information persisted to compaction.requested and avoid list status completely.

@vinothchandar @bvaradar FYI

[2018-12-25 03:06] cdmikechen commented on #254
@leletan
the same to me. I set `spark.hadoop.fs.hdfs.impl.disable.cache`.
[code]

I think maybe there is some other ways to solve this problem. Because if we use `df.write.parquet(**)` to save parquet, spark don't eport errors.

[2018-12-26 03:12] cdmikechen commented on #524
@vinothchandar
I have found the solution.
In `VIEW_TYPE_READ_OPTIMIZED_OPT_VAL` and `VIEW_TYPE_INCREMENTAL_OPT_VAL` the path reading data is different.
`VIEW_TYPE_READ_OPTIMIZED_OPT_VAL` path is `/tmp/cloud2_code/c_upload_code/*/*/*/*`, `VIEW_TYPE_INCREMENTAL_OPT_VAL` path is /tmp/cloud2_code/c_upload_code.
I think this issue can be closed.
By the way. Why not merge into one expression?

[2018-12-27 01:29] cdmikechen opened #540 "`COMBINE_BEFORE_INSERT_PROP` and `COMBINE_BEFORE_UPSERT_PROP` default values"
In `HoodieWriteConfig`, `COMBINE_BEFORE_INSERT_PROP` and `COMBINE_BEFORE_UPSERT_PROP` are defined default by `false` and `true`.
[code]
But in `DataSourceUtils`, If we don't set these two properties, these are defined replaced by `true` and `true`.
[code]
[code]
I think maybe we can change `combineInput(true, true)` to `combineInput(false, true)`.

[2018-12-29 08:09] sidnakoppa opened #542 "Unable to write the Array with null values"
While saving this data of type Array<String> i.e, revArray[null] to hudi
The record is failing with null pointer exception.

In current use case the Array[null] is expected scenario.
Could you please guide

[2018-12-29 08:12] sidnakoppa opened #543 "Date type converted to long"
I have saved the data of ordered_date
But while retrieving I am getting the ordered_date as long type
Though the dataset field is of type Date the hudi is treating it as long when ds.write.format is performed

Could you guide in saving the Date by preserving the type

[2018-12-29 09:45] louisliu318 commented on #543
You can not preserve the type without changing the source code. You can check `HoodieSparkSqlWriter` -> `val schema = AvroConversionUtils.convertStructTypeToAvroSchema(df.schema, structName, nameSpace)` which used `spark-avro` package.

[2018-12-31 18:47] vinothchandar commented on #524
@bvaradar also brought this up. I am open to suggestions on this. The incremental read is a bit different than the read_optimized view in the sense, the path globs have no meaning. I had it this way to avoid confusion for users who may pass in a globbed path and then be handed records from partitions not in the glob. for e.g: even if you pass `/path/to/dataset/2018/12/*`, if your incremental readi

[2018-12-31 18:48] vinothchandar commented on #254
Yeah. I am a little hesistant to disable fs caching for this. We will prioritize this in jan.

[2018-12-31 18:51] vinothchandar commented on #540
nice catch. I actually thought about that initially and kept it (true, true) to avoid new users passing in duplicates to insert and getting confused about finding duplicates in the dataset.

May be better docs is the way to go, rather than shuffling unnecessarily.. Happy to take a PR for this. @cdmikechen

[2018-12-31 18:52] vinothchandar commented on #542
can you paste the schema or stacktrace to go on?

[2019-01-01 05:58] sidnakoppa commented on #542
ds_03000118461010.select("at_unique_id","id","multicomp").printSchema
root
 |-- at_unique_id: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: string (nullable = true)
 |-- multicomp: string (nullable = true)

scala> ds_03000118461010.select("at_unique_id","id","multicomp").show
+------------+--------------+---------+
|at_unique_id|            id|multicomp|
+-------

[2019-01-02 01:05] cdmikechen commented on #543
@sidnakoppa
look this https://github.com/uber/hudi/issues/517#issuecomment-448506773
I also found this question. I changed some code in `spark-avro` and then it transed to LogicalType.
But in Hive 1.2.1 , Hive still think it is longType.

[2019-01-02 01:17] cdmikechen commented on #540
@vinothchandar OK. I will do it in a few days.

[2019-01-02 02:59] louisliu318 opened #544 "Improve HiveSyncTool handling of empty commit timeline"
Here is my use case:
I am using spark streaming to write data being received from Kafka to hoodie table, then I sync to hive table. And I using the non-partitioned hive table. I had set the `KeyGenerator ` with `NonpartitionedKeyGenerator.class`. When I synced to hive, the following error occurred. What's the reason causing this.  Below is my error ：
[code]

[2019-01-02 09:31] cdmikechen commented on #543
By the way, In parquet 1.8 or earlier, it doesn't have date type. It just has int96(nanotime type) and stores as bytes. If you want a long type date, you can use `getTime()` to save a long, and read by using timestamp function to trans to timestamp type.

[2019-01-02 17:52] vinothchandar commented on #544
@n3nash any ideas?

[2019-01-03 10:26] louisliu318 opened #545 "Hive sync error on non partitioned hive table: nullPointer exception"
Below is the error:
`com.uber.hoodie.hive.HoodieHiveSyncException: Failed in executing SQL ALTER TABLE databus_realtime.databus_realtime_databus_sub_hd_t_hudi_sub_hd: REPLACE COLUMNS(_hoodie_commit_time string, _hoodie_commit_seqno string, _hoodie_record_key string, _hoodie_partition_path string, _hoodie_file_name string, id bigint, dbname string, ctime string, mtime string, test1 int, test2_prod

[2019-01-03 10:38] louisliu318 commented on #545
This is my fault. I give a partiontionFiled in hiveSyncConfig.

[2019-01-03 10:38] #545 closed

[2019-01-04 01:21] n3nash commented on #544
@louisliu318 It seems like the error is what you pasted above `java.lang.IllegalArgumentException: Could not find any data file written for commit`. Do you see any parquet files getting created as part of this commit ?

[2019-01-04 07:21] louisliu318 commented on #544
@n3nash Sorry, I forgot to check that.  Before writing data, first check if the data is empty. If it's empty, skip; else write it. Then the problem went away.

[2019-01-04 08:16] cdmikechen opened #547 "The question about Hudi transform timestamp and decimal's type"
I have used hudi for a few weeks. During these weeks, I learned a lot about hudi in detail, but there's a problem that's been bothering me for a long time. Timestamp and Decimal types from avro to parquet in spark2.1-2.3 by `spark-avro` project[4.0.0] are replaced to long and string. I think these two types should be correctly transformed.
So I started reading `hudi`'s/`spark-avro`'s codes and try

[2019-01-07 12:04] sidnakoppa commented on #542
The

can be edited to manage the datatypes/values
thanks

[2019-01-11 00:09] vinothchandar commented on #527
Awesome. Happy to review a design around this anytime you are ready.

[2019-01-11 00:11] vinothchandar commented on #504
@bhasudha to follow up on our conversation today.. Not sure if this applies to presto as well

[2019-01-11 00:16] vinothchandar commented on #503
@bhasudha this is related to the other ticket you have.. But your current impl on presto is good and achieves this already..  Not sure if you want to own this in general :)

[2019-01-11 00:18] vinothchandar commented on #542
do you mind sharing your change? if its generally applicable, we can incorporate it back to the project @sidnakoppa

[2019-01-11 05:17] sidnakoppa commented on #542
We have not changed yet ,but the planned change is to mock the null String value to empty.
To mock null for other types default to be determined.
def createConverterToAvro:

 case ArrayType(elementType, _) =>

        val elementConverter = createConverterToAvro(
          elementType,
          structName,
          getNewRecordNamespace(elementType, recordNamespace, structName))
        (item: A

[2019-01-11 19:30] vinothchandar opened #549 "upgrade to Spark 2.4"

[2019-01-11 19:30] vinothchandar commented on #547
Opened #549

[2019-01-11 19:31] vinothchandar commented on #533
@louisliu318 ping again, to see if you can share the changes with us..

[2019-01-11 19:32] vinothchandar commented on #528
Closing .. Please reopen if you need additional clarifications

[2019-01-11 19:32] #528 closed

[2019-01-11 19:34] vinothchandar commented on #526
Closing due to inactivity

[2019-01-11 22:30] vinothchandar commented on #517
I chatted with folks here at Uber and we should be able to upgrade avro to 1.8 nonetheless. Would that help for now?

Also created a new ticket #549 to first upgrade to spark 2.4 stably first .. we can then explore

[2019-01-11 22:31] vinothchandar commented on #517
Are you referring to the example schema that has a column declared `timestamp double` ?

[2019-01-11 22:47] vinothchandar commented on #544
You mean, you had to add this check in your client? @louisliu318

Do you think, checking this within HiveSyncTool would be better for usability?

[2019-01-11 22:49] vinothchandar commented on #517
Closing this in favor of #547 .. This is a valid data type problem we have not thought through

[2019-01-11 22:49] #517 closed

[2019-01-11 22:52] vinothchandar commented on #547
Would upgrading to spark 2.4 expose access to all the classes we need,

We infact already did some of this, since we could not access few methods inside `spark-avro`. Happy to work together on this. If you can create a UnitTest that breaks as it is on hudi master and push it to a branch, then we can start iterating towards a solution..

[2019-01-11 22:55] vinothchandar commented on #543
@sidnakoppa ,  please follow #547 .. We can follow up there, with all the great analysis @cdmikechen has done already..

Separately, I recommend upgrading to Hive 2.x as much as possible. Speaking from experience at Uber, we had to deal with so many issues on Hive 1.x around schema evolution/data types, since parquet support was pretty raw back then... Is this something that's feasible for you? (a

[2019-01-14 02:08] cdmikechen opened #550 "NoSuchMethodError: org.eclipse.jetty.servlet.ServletMapping.setDefault(Z)V"
when using `hoodie-spark-bundle` lib in springboot (I use springboot 1.5.4), it reported this error:
[code]
it is a jar conflict in `springboot` and `hive-server`. I removed some dependencies in `hive-server`.
[code]
And then it worked! After a period of testing, deleting this dependency did not affect the use of Hoodie. If  is necessary, I can push it it with another question(https://github.com/u

[2019-01-14 13:57] smalltimecharlie commented on #525
Hi Balaji,

I'm happy to close this ticket if your happy. In the end I gave up with windows docker and just ran it in an ubuntu VM and all worked fine.

I think the issue was with the way windows docker manages volumes being incompatible with creating them from docker compose scripts.

Might be worth adding a note to this effect on the setup guide so others don't attempt the same as me!

[2019-01-15 04:02] cdmikechen commented on #498
@vinothchandar In my project that I'm working on, data from source has added a col named `extend_deal_type`. It has 3 type: 1 -> add, 2 -> update, 3 -> delete. I referred to `TestRawTripPayload ` and then changed some codes in `OverwriteWithLatestAvroPayload.java`.
[code]
So hoodie can delete datas. I think maybe we can add config name `DELETE_COL_NAME` and `DELETE_COL_VALUE` to deal with it.

[2019-01-16 11:10] louisliu318 opened #552 "Some questions about using hudi"
**Background**
1. I am using non-partitioned copy on write hoodie table.
2. I am using Datasource API for bulk insert.
3. I am using spark streaming for incremental upsert( insert, update, delete)

**Questions**
1. Which parameter controls the parquet file size? I had set the following parameter but not working. There are lots of files with size **1.x MB** after I bulk insert into hoodie table.
`

[2019-01-16 17:35] bvaradar commented on #552
Which parameter controls the parquet file size? I had set the following parameter but not working. There are lots of files with size 1.x MB after I bulk insert into hoodie table.

Other than the parameters that you have listed, bulkInsert parallelism (hoodie.bulkinsert.shuffle.parallelism) configuration also plays an important role in determining the number of files created due to bulkInsert. The

[2019-01-16 17:39] n3nash commented on #552
@louisliu318

Those are the right configs to use for turning on SMALL_FILE corrections.
`.option(HoodieCompactionConfig.PARQUET_SMALL_FILE_LIMIT_BYTES, 128 * 1024 * 1024)`

It may be just that at some point there were a lot of small files created and now they are slowly getting corrected depending on how many inserts you have. Can you notice other files which are closer to 128MB ?

As @bvaradar po

[2019-01-17 00:17] vinothchandar opened #553 "Clarify whether the hoodie-hadoop-mr jars need to be rolled out across Hive cluster"

[2019-01-17 00:17] n3nash opened #554 "Upgrading Hudi to use Hive 2.x"
Hive 2.x brings in non-backwards compatible changes to Hoodie, specifically to `HoodieInputFormat` and `HoodieRecordReader` such as
Hive1.x -> `  public RecordReader<Void, ArrayWritable> getRecordReader(final InputSplit split,.`
Hive 2.x -> `  public RecordReader<NullWritable, ArrayWritable> getRecordReader(final InputSplit split,...`

After talking with @rajeshbalamohan it seems like the industry

[2019-01-17 00:52] vinothchandar commented on #524
Rough plan : document this better + support an option to pass in acceptable partition paths

[2019-01-17 01:09] vinothchandar commented on #554
We need to test this thoroughly across all query engines & some of our users are still on 1.x.. So like to keep things as it is for now. Agree with the direction of moving towards Hive 2.x though

[2019-01-17 01:15] vinothchandar commented on #498
Good point.. This is similar to how we also do this. But I was wondering if , a user who wants to delete would just be interested in passing in the `HoodieKey`s alone. i.e just `_hoodie_record_key` and `_hoodie_partition_path`, without generating the other fields?

Alternatively, what do you think about adding a `DELETE` operation to the spark datasource options and then requiring that the incomin

[2019-01-17 04:02] louisliu318 commented on #552
@bvaradar
My workload is not big, about 10GB for first import using BUIK_INSERT. I had set the shuffle parallelism, still got lots of small files. Following is my config :
`ds.write().format("com.uber.hoodie")
                .option("hoodie.upsert.shuffle.parallelism","200")
                .option("hoodie.insert.shuffle.parallelism", "100")
                .option("hoodie.upsert.shuffle.parallel

[2019-01-17 04:15] louisliu318 commented on #552
@n3nash
You mean if there is a lot of inserts in the following incremental upsert, the file size can grow larger. Correct me if I'm wrong.
If I using spark streaming to do the incremental upserts with MAX_PARQUET_FILE_SIZE setting to 256MB and  PARQUET_SMALL_FILE_LIMIT_BYTES setting to 128MB, what's the recommended spark duration and hoodie configuration?

[2019-01-17 18:50] bvaradar opened #555 "Auto tune bulk insert parallelism"
Instead of letting users pick a number for bulk insert shuffle parallelism, Hoodie can size the incoming load and determine parallelism at runtime automatically

[2019-01-18 00:35] cdmikechen commented on #555
can `hoodie.insert.shuffle.parallelism` and `hoodie.upsert.shuffle.parallelism` also automatically set parallelism to deal with different data size?

[2019-01-18 02:18] vinothchandar commented on #555
+1 ..

But there are two aspects to this.

1. Making sure the insert/upsert/bulk_insert shuffle parallelism is large enough for us to consume to input. (I think Spark 2.4 gets rid of the 2GB limitation that annoys us all here)
2. Sizing it in such way that it generates minimal number of files..

[2019-01-18 02:19] vinothchandar opened #556 "Ensure min_commits_to_retain is > cleaner_commits_retained"

[2019-01-22 03:15] BigdataGit commented on #554
Hello, may I ask if the Hive2.3.3 version I am using is not compatible yet, I am getting an exception when I execute metadata synchronization to hive.
`2019-01-22 11:07:11,614 INFO  [main] metastore.HiveMetaStore (HiveMetaStore.java:newRawStore(582)) - 0: Opening raw store with implementation class:org.apache.hadoop.hive.metastore.ObjectStore
Exception in thread "main" java.lang.NoClassDefFoundErr

[2019-01-22 03:17] BigdataGit commented on #554
But it exists in Hive's lib.

[2019-01-22 03:28] BigdataGit opened #557 "HiveSyncTool execution exception for Hive2.3.3"
Hello, may I ask if the Hive2.3.3 version I am using is not compatible yet, I am getting an exception when I execute metadata sync to hive.

@vinothchandar @bvaradar

[2019-01-22 03:48] n3nash commented on #554
@BigdataGit Hudi continues to use Hive 1.x libs at the moment but we've tested that you should be able to talk to a Hive 2.x metastore from a Hive 1.x compiled Hudi. This ticket is talking about upgrading the client (HUDI) to Hive 2.x.

On the other hand, the above exception tells me there is some jar conflict in the way you're bundling and running HiveSyncTool. How are you running/executing the t

[2019-01-22 04:17] n3nash commented on #552
There isn't any generic recommended spark duration, it depends on a lot of factors such as amount of data ingested, parallelism of your job, how long it takes for you to write a 256 MB parquet file in your cluster etc which is best controlled by the clients.
Having said that, here is what I'm saying :

1. Using bulkInsert() -> Depending on the spread of your data, this may create some small files.

[2019-01-22 10:02] louisliu318 commented on #552
@n3nash Thanks for your tips. I will do some tests on our cluster.

[2019-01-22 10:02] #552 closed

[2019-01-22 12:33] xbaran commented on #549
+1

[2019-01-22 12:34] edwin565656 commented on #549
+1

[2019-01-24 06:13] #557 closed

[2019-01-25 10:14] MohitShiv opened #560 "Hudi S3 : Increasing the number of keys in the input data it is giving concurrent.ExecutionException"
Hi ,
I am trying to run  Hudi on AWS S3 with below cluster,

5 Node i3.4xlarge.( 1 master, 4 worker ).

The hudi ingestion working fine with the input file with 100 MB and till 200K unique keys of the table. However once we increase the data and number of keys beyond that we are getting below exception,

com.uber.hoodie.exception.HoodieException: com.uber.hoodie.exception.HoodieException: java.uti

[2019-01-25 17:32] n3nash commented on #560
@MohitShiv How many cores per executor are you using to run this spark job ? Can you also paste your configuration please ?

[2019-01-28 04:34] drewtenn commented on #143
Please add me too!

drewtenn@gmail.com

[2019-01-28 06:18] MohitShiv commented on #560
@n3nash
2 cores per executors. But we tried different configurations such that 1 to 4 cores per executors.

Is there any special configuration need to be done from hudi config side for large scale ?

[2019-01-28 14:45] n3nash commented on #560
@MohitShiv At the moment, it is recommended to use Hudi with 1 core per executor. Here are some details around why : https://github.com/uber/hudi/issues/254 and the task to document it https://github.com/uber/hudi/issues/479. You can always increase the number of executors (just like you were increasing the number of cores).
I'm not sure what you mean by large scale ? Could you share some informat

[2019-01-29 12:18] louisliu318 opened #561 "Error for non-partitioned hive table in realtime view of MOR"
2019-01-29 18:44:42,922 WARN  [HiveServer2-Handler-Pool: Thread-56]: thrift.ThriftCLIService (ThriftCLIService.java:FetchResults(681)) - Error fetching results:
org.apache.hive.service.cli.HiveSQLException: java.io.IOException: org.apache.avro.SchemaParseException: Empty name
	at org.apache.hive.service.cli.operation.SQLOperation.getNextRowSet(SQLOperation.java:352)
	at org.apache.hive.service.cli

[2019-01-29 13:55] louisliu318 commented on #561
In `com/uber/hoodie/hadoop/realtime/AbstractRealtimeRecordReader.java`, before add partition columns to Schema, check if partition column leghth first as follow: .
`

    String partitionColumns = jobConf.get("partition_columns","");

    List<String> partitioningFields = Arrays.stream(partitionColumns.split(",")).collect(Collectors.toList());

    if(partitionColumns.length() > 0){
      writerSc

[2019-01-30 09:31] MohitShiv commented on #560
@n3nash , thanks for the reply. It helps in my use case. When we use 1 core per executor then it is working.
I have few more questions on it,

1. Does HUDI support composite partition columns  ?
2. Does HUDI support  for composite primary key ?
3. Does HUDI support gz file as source ?

Let me know more details if answer of any of the question is yes.

Also when we are running on 50 gb data it is t

[2019-01-30 16:45] bvaradar commented on #561
Thanks @louisliu318 for filing the ticket. Let me look at it this week.

[2019-01-30 18:01] n3nash opened #562 "Return value when no partitions are chosen for compaction"

[2019-01-31 00:12] vinothchandar commented on #557
@BigdataGit hey did you resolve this ? things working? Hive 2.x should be working.,

[2019-01-31 00:19] vinothchandar commented on #560
Ah the cores things is turning out to be real pain. sorry about that. We will prioritize this in feb.

Hudi just treats partitionpath as a string, separated by `/`. You can customize it based on how you want it. Does that help?

Yes. But, again, you can combine the composite keys into a string and make it the key. Hudi adds a special _hoodie_record_key field to your data with this combined value.

[2019-02-02 02:50] melin commented on #549
In spark 2.4, the parquet version is 1.10.0 and can upgrade to the same version

[2019-02-02 02:51] melin opened #564 "In spark 2.4, the parquet version is 1.10.0, can upgrade to the same version?"
In spark 2.4, the parquet version is 1.10.0, can upgrade to the same version?

[code]

[2019-02-04 04:12] n3nash commented on #564
@melin We haven't vetted the project with spark 2.4, this is something that we plan to do here : https://github.com/uber/hudi/issues/549. As part of that upgrade we can definitely upgrade the parquet version which requires making sure parquet upgrades don't break any backwards compatibility. In the meantime, if this is something you can change in your branch and make it work, that could be an opti

[2019-02-07 00:00] bvaradar commented on #561
@louisliu318 : Looks like you are using older version of Hoodie. I am not able to see any reference to the code snippet you pasted. Can you let me know what is the version of hoodie you are using.

[2019-02-07 02:21] vinothchandar commented on #254
Also reported in #560

[2019-02-07 02:24] vinothchandar commented on #408
this basically amounts to not marking success (not exactly, since totalRecords needs to be bumped up), for implicit indexes

[code]

@ovj whats going to break for your subclassed WriteStatuses if we make this change? I really want to fix this..

cc @n3nash

[2019-02-07 23:26] bhasudha opened #567 "Can we make a hoodie-presto-bundle like hive and spark ?"

[2019-02-07 23:57] bhasudha commented on #567
I was trying to use hoodie-hadoop-mr and hoodie-common jars as runtime dependency in Presto. Looks like org/apache/commons/io/IOUtils is not packaged in those jars. Was looking into hive and spark bundles. Wondering if we can create something similar for Presto as well. I can work on that if you are okay. @vinothchandar @n3nash @bvaradar

[2019-02-08 00:30] vinothchandar commented on #567
yes please take a stab at it..

[2019-02-10 03:09] louisliu318 commented on #561
@bvaradar I am using the lastest master branch. Sorry for misguiding. The code snippet I pasted is the code I had changed.  You can find the original code by searching `List<String> partitioningFields = Arrays.stream` in class `com/uber/hoodie/hadoop/realtime/AbstractRealtimeRecordReader.java`.

[2019-02-11 08:33] dimejune13 opened #568 "Error reading Hoodie partition metadata"
Hi, I'm trying to perform a query to hudi using presto but stumbled upon this error:
[code]

From the log, it seems to be a `BlockMissingException` in hdfs, but the block does exist
[code]

Some information that might be useful:
- Presto Version: 0.216
- Hadoop version: 3.1.1
- Hive version: 3.1.0
- Hudi version: compile from master with last commit https://github.com/uber/hudi/commit/c70dbc13e94c

[2019-02-11 19:46] bvaradar commented on #561
Thanks @louisliu318 . Added a PR https://github.com/uber/hudi/pull/569. Please take a look

[2019-02-12 01:08] vinothchandar commented on #408
if I made the WriteStatus only carry the HoodieKey and HoodieRecordLocation, instead of HoodieRecord, would that be a problem?

[2019-02-12 01:11] ovj commented on #408
We do some record counting as part of handling markSuccess(). These are used for tracking completeness metrics. We do need Payload along with HoodieKey for this purpose during markSuccess. After the call is over we can decide to just keep HoodieKey & HoodieRecordLocation. That should be fine.

[2019-02-12 02:28] vinothchandar commented on #408
Okay, then I can't just skip calling markSuccess() ? I ll find a way to push this inside the default WriteStatus implementation, such that we don't keep incurring overhead from holding all HoodieRecord that are written (payload is deflated after marking success anyway). That should be transparent to whatever you are doing?

Does your WriteStatus impl still rely on some base class methods? or you o

[2019-02-12 02:41] ovj commented on #408
We are only overriding markSuccess() and markFailure() methods. All other methods we are using it from parent WriteStatus class as is.

[2019-02-12 18:42] vinothchandar commented on #408
okay gtk. will add you to the PR, if I pursue this

[2019-02-13 06:19] louisliu318 commented on #533
@vinothchandar In my environment, I commented the followling code in `packaging\hoodie-spark-bundle\hoodie-spark-bundle.iml`

                <relocation>
                  <pattern>org.apache.hive.jdbc.</pattern>
                  <shadedPattern>com.uber.hoodie.org.apache.hive.jdbc.</shadedPattern>
                </relocation>
                <relocation>
                  <pattern>org.apache.ha

[2019-02-13 18:15] bhasudha opened #573 "Fix leaking sockets open in HoodiePartitionMetadata"
We tried deploying Presto with latest Hoodie jars and observed sudden increase in the number of open sockets used from Presto coordinator. The sockets are in CLOSE_WAIT state. Since Presto is a long running process this seems like an issue specific for Presto and cannot be observed in short lived process like Hive/Spark applications. Debugging this further, we identified that this could be from Ho

[2019-02-13 18:16] bhasudha commented on #573
I can work on this if you folks are okay. @vinothchandar @n3nash @bvaradar

[2019-02-13 21:47] vinothchandar commented on #573
all yours. good catch btw

[2019-02-14 10:36] wittyameta commented on #143
Hi, please add me: wittyameta@gmail.com

[2019-02-14 18:14] pshivkumar opened #577 "Running out of disk space for large input dataset"
I am using 10 node r3.8xlarge (640GB SSD and 244G memory) cluster. I was able to load data files that are less than 1 GB under 15 minutes without any issues. But I am running into issues when I try to load 64GB dataset (This data is in hdfs parquet table) into hudi table (tableType COPY_ON_WRITE) on hdfs. I have tried loading this data to hudi by splitting it into 50 chunks using randomSplit and a

[2019-02-15 02:48] n3nash commented on #577
@pshivkumar How many executors are you using ? Essentially `--num-executors` is a spark parameter using which you can supply the number of executors. From the stacktrace, I can say the following is happening : Spark has something called a shuffle service that helps shuffle the data and write them to the local file system to be accessed by spark. If you are using a really low number of executors, t

[2019-02-15 03:05] pshivkumar commented on #577
@n3nash Thanks for quick response. I haven't set that explicitly. I will run the job setting --num-executors to 20 and update once that completes.

[2019-02-16 06:07] vinothchandar opened #578 "Guidance for hoodie-spark + hive sync to CDH"
Datasource users typically pull in `hoodie-spark` into their projects, without all the hive shading we do in hoodie-utiltiies or spark bundle. We need a recommendation here.

[2019-02-16 06:19] #573 closed

[2019-02-16 06:23] vinothchandar commented on #577
If you can give us a screeshot of the spark UI, it will be super helpful..

My guess is, your /tmp is pretty small.. you can try placing spark shuffle data in one of your larger disk partitions using `--conf spark.local.dir=/path/to/large/partition` ?

[2019-02-16 06:26] vinothchandar commented on #568
@bhasudha as well, in case you have seen anything similar on our clusters.

[2019-02-16 06:28] vinothchandar commented on #568
My guess, is some ephemeral failure due to HDFS balancing? (definitely guessing)..  There is nothing very special about the read of partition metadata file. It does seem like you can list and locate the complaining file/blocks though?

@bhasudha recently fixed a socket leak that we saw in Presto. Can't think of how this can be related though

[2019-02-16 11:54] tooptoop4 commented on #110
is .4.5 released or u mean .4.4?

[2019-02-16 11:56] tooptoop4 opened #579 "hive3.1.1 support?"
is anyone using hoodie with hive3.x?

[2019-02-18 06:44] dimejune13 commented on #568
Hi @vinothchandar , I don't think it has anything to do with ephemeral failure due to HDFS balancing because we also use hive (non-hudi) and we've never had any issue like this before when querying hive using presto. Or maybe am i missing something?

Also, could it be a version issue?

[2019-02-18 21:46] pshivkumar commented on #577
I have increased number of executors to 20. Job has been running for over 3 days and capacity remaining on the cluster has come down to around 2.5 TB from 5TB. So it looks like it is not because of size limitation of tmp directory as job is usually failing when overall cluster utilization is close to 5TB. In EMR cluster I am using /tmp points to /mnt/tmp and it has about 300G allocated in each of

[2019-02-19 02:55] n3nash commented on #577
Jobs running over 3 days is uncommon for Hudi jobs unless you are doing some sort of bulkInsert for few 100 terabytes of data. I think there's something we are missing here.
1. What's the `compactionTool` that you speak of as the main class ? Is this just a Hudi spark job ?
2. What's your input batch size ?
3. I see that the location of the hudi table shows 1.6 G, were you already able to ingest s

[2019-02-19 21:50] bvaradar commented on #561
Closing this issue as the corresponding PR is merged.

[2019-02-19 21:50] #561 closed

[2019-02-20 22:12] pshivkumar commented on #577
Thanks for prompt responses. I created new cluster and submitted the job again. It has been running since 2 hours. I now have access to sparkUI.

1. Yes, it is Hudi spark job. I am splitting input dataset into 40 parts and lading that to Hudi table. [Code link](https://drive.google.com/open?id=1O7omCp9BPWQAoHNKY7FJEV-J8w9mxQlW)

2. Input dataset is hdfs parquet dataset. Its size is 46G. I was not

[2019-02-20 23:45] ovj opened #580 "Change serializer for DiskBasedMap to handle non serializable java objects"
Current "com.uber.hoodie.common.util.SerializationUtils" requires us to have all objects to be java serializable.
Details of the discussion are here -> https://github.com/uber/hudi/pull/495. We need to switch that to Kryo serializer so that we can handle non java serializable objects.

In this case "org.apache.avro.util.Utf8" is not java serializable but it can be present in GenericRecord (Hoodie

[2019-02-21 00:21] vinothchandar commented on #110
Sorry I mistyped.. 0.4.4 has the consistency checks .. https://github.com/uber/hudi/blob/master/RELEASE_NOTES.md

[2019-02-21 00:24] vinothchandar commented on #579
Not that we are aware of.. :)

we have only compiled Hudi against Hive 1.x and used it against hive 1.x and 2.x. Did you give it a shot and faced issues? @tooptoop4 ?

[2019-02-21 00:31] vinothchandar commented on #579
See #554 for context into few issues we are running into to support Hive 2.3+

[2019-02-21 04:29] daikon12 opened #581 "ClassNotFoundException:HoodieInputFormat"
hi , When I followed the steps of quickstart  (https://uber.github.io/hudi/quickstart.html ) ,I have a problem：
![image](https://user-images.githubusercontent.com/8246136/53143489-22d0ed80-35d3-11e9-8e12-02881631bcb9.png)
and I found HoodieInputFormat.class  belongs to this jar:
![image](https://user-images.githubusercontent.com/8246136/53143664-f49fdd80-35d3-11e9-8f98-adc96f6b2e09.png)
So I intro

[2019-02-21 05:10] n3nash commented on #577
@pshivkumar From an initial look, what you are doing sounds reasonable. Although, ingesting 50 GB of data into Hudi should take no less than 15-30 mins in an average case. We will need a little more information to help you debug the problem :

1. Can you take a screenshot of the `stages` tab in your Spark UI. Essentially, I'm interested to see what's the shuffle in your stages.
2. Can you tell me

[2019-02-21 05:19] n3nash commented on #568
@dimejune13 The error you describe does seem like there is some sort of BLOCK replication issue in HDFS, for example a file/block becomes under replicated if 1 or more nodes go down depending on your replication factor; it doesn't look like a version issue since it's intermittently working for you. If you see this issue again, could you please run the following command :

http://hadoop.apache.org/

[2019-02-21 20:51] pshivkumar commented on #577
@n3nash Below is the stage info after job ran about 22 hours. I looked at parquet importer approach. Can I use this for datasets that have composite keys (I am using custom key generator in my current hudi job)?

1. Attached screenshot of stages tab.
![screen shot 2019-02-21 at 10 34 09 am](https://user-images.githubusercontent.com/47641088/53192982-a46d4f00-35c4-11e9-8883-493e0f844231.png)
2. I r

[2019-02-24 18:03] n3nash commented on #577
@pshivkumar Yes, the `HDFSParquetImporter` tool only takes a single value `_row_key`, but you can easily change the tool to support composite keys, happy to take a PR from you :)

Additionally, I see that the input size for each of your batch is around `225 GB` which is larger than what we thought earlier (45GB) for stage 419 whereas for stage 463 it correctly shows 46.6 GB, can you tell me what's

[2019-02-24 23:22] kzarzycki commented on #143
Please add me too, k.zarzycki@gmail.com

[2019-02-25 22:59] vinothchandar commented on #581
Hi.. is this from running the sync tool? Can you throw some light on your setup?

[2019-02-25 23:00] vinothchandar commented on #143
Hello all, Hudi is currently entered into the Apache Incubator program. And as a part of that, we are standardizing to apache mailing lists as the recommended means of community engagement. Please take a moment and subscribe to the dev mailing list here. https://hudi.apache.org/community.html

[2019-02-27 09:12] melin opened #585 "Build failed"
maven version:
[code]

exec cmd: mvn clean install -DskipTests

1、
[ERROR] Failed to execute goal org.scalastyle:scalastyle-maven-plugin:1.0.0:check (default) on project hoodie-spark: Failed during scalastyle execution: Unable to find configuration file at location style/scalastyle-config.xml -> [Help 1]

2、
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.0.2:compil

[2019-02-27 09:26] #585 closed

[2019-02-27 10:00] NetsanetGeb commented on #544
I am trying to use the Hive sync tool to synchronize the data on hdfs with a hive table and query it using HiveQL. Does the hive sync tool automatically call its tool as log as there is a new commit or do i have to call it manually to get it synchronized with the hive table.   Also, when it synchronizes how does it perform it, did it drop the previous table and add it as a new table or check the c

[2019-02-27 12:46] never-summer opened #586 "documentation mistake parametr"
I start "setting up docker cluster"(https://github.com/uber/hudi/blob/master/docs/quickstart.md#step-2-incrementally-ingest-data-from-kafka-topic ) and get error at step 2 when run command "spark-submit --class com.uber.hoodie.utilities.deltastreamer.HoodieDeltaStreamer $HUDI_UTILITIES_BUNDLE --storage-type COPY_ON_WRITE --source-class com.uber.hoodie.utilities.sources.JsonKafkaSource --source-ord

[2019-02-27 15:49] umeshkacha commented on #143
please invite me unk1102@gmail.com

[2019-02-27 18:00] n3nash commented on #577
@pshivkumar Checking again to see if you were able to make progress

[2019-02-27 18:00] n3nash commented on #568
@dimejune13 checking to see if you are seeing this issue consistently, please let us know

[2019-02-27 20:26] pshivkumar commented on #577
@n3nash - Same dataset is split and then each chunk of that data is passed onto those stages. For some reason that map stage size keeps ballooning over the time. My colleague is trying with different split approach and using properties suggested in issue https://github.com/uber/hudi/issues/246

I tried using HDFSParquetImporter for another dataset which does not have composite keys to see if it wo

[2019-02-27 22:12] AndrewKL opened #588 "Has anyone used hudi with AWS EMR and EMRFS on s3?"
Hey friends

Has anyone used hudi with AWS EMR and EMRFS on s3?  I've just started collecting some bugs and issues from an initial POC but I was wondering if anyone has attempted this beforeI put too much effort into this.

Cheers Andrew

[2019-02-27 22:23] AndrewKL commented on #588
PERFORMANCE BUG:

the metadata list performance is likely causing performance issues with hudi.

[code]

[2019-02-27 22:31] AndrewKL commented on #588
BUG: crash when input data comes from s3 +EMRFS

[code]

[2019-02-27 22:40] AndrewKL commented on #588
BUG:Transient no such file or directory

[code]

[2019-02-27 22:58] AndrewKL commented on #588
BUG:  crash due to concurrent modification

[code]

[2019-02-28 00:18] vinothchandar commented on #143
@umeshkacha @kzarzycki please sign up on the mailing list as well

[2019-02-28 00:27] vinothchandar commented on #544
@NetsanetGeb Hive sync is called everytime from DeltaStreamer and Spark source (there is a config to enable it). . If you don't do that, then you need to manually call after every commit.. It checks the commit time and updates teh schema incrementally.. does not drop and recreate the table. Hope that helps

[2019-02-28 02:44] vinothchandar commented on #577
@pshivkumar may be we can do a hangout sometime? and try to understand whats going on? Might be a much easier route to understand..

Hmmm. we need a schema to register the Hive table and that's derived from the parquet files.. What parquet version are you at?

[2019-02-28 02:45] vinothchandar commented on #577
I cant understand how the job ran for 22 hrs based on the UI.. Individual stages are in few minutes right? Are we missing something? Also the number of executors you have is 500 or so. 20 is what the UI shows at one time.. If you notice below "Executors" line in entry there is a drop down which forces to only list 20 executors..

[2019-03-01 01:02] AndrewKL commented on #564
I've been using hudi w/ spark 2.4 on AWS EMR and it works fine writing to hdfs.  (ignoring the test issue)

[2019-03-01 05:26] n3nash commented on #588
@AndrewKL Great to see this effort and thanks for summarizing the issues that you are facing. Let's try to dig a little further into each of these :

1. Performance Bug -> Have you tried to run a comparison of a non-hudi dataset (just a plain hive table for example) on HDFS vs S3 ? I'd like to understand if there's an inherent slowness of HDFS vs S3.

2. Just to be clear, is the EMRFs an issue wit

[2019-03-01 05:27] rchamarthi opened #589 "quickstart docker-demo : java.lang.NullPointerException when trying to execute delta-streamer"
I am trying to run the first delta-streamer in the quickstart to ingest into stock_ticks_cow and the process is failing with ```NullPointerException```.  Complete stack trace below.
Also, Step2 in the doc says that COW and MOR tables are initialized in prior step. Is that expected to be part of ```demo_setup.sh```?

[code]

[2019-03-01 05:32] n3nash commented on #586
@never-summer Yes, that is the correct way to enable a file based schema provider.
Hudi is now Apache incubating here : https://github.com/apache/incubator-hudi
Please help fix the documentation there by following the instruction starting here : https://hudi.apache.org/contributing.html#website.
Please also subscribe to the dev@hudi.apache.org mailing list to get faster responses.

[2019-03-01 06:11] n3nash commented on #589
@rchamarthi A similar issue was pointed out here : https://github.com/uber/hudi/issues/586. Please pass the following argument `--schemaprovider-class com.uber.hoodie.utilities.schema.FilebasedSchemaProvider` if you are using a schema provided in a file.
Please go through with this change and the complete setup and if you still have questions can answer them.

[2019-03-01 06:38] dimejune13 commented on #568
Seeing the error log and the code that throws the error, we decided to apply this particular commit: https://github.com/uber/hudi/commit/639c287cab4876f3b5951e5bcd7d4e940f16223f , rebuild the hudi jar, and deployed it on our presto cluster. We have been monitoring our cluster for 7 days and the error never appeared again.

Our guess (really, just a guess) is that this issue is caused by some kind

[2019-03-01 12:58] rahuledavalath opened #590 "Failed to APPEND_FILE /HUDI_MOR/2019/03/01/.abca886a-e213-4199-b571-475919d34fe5_20190301123358.log.1 for DFSClient_NONMAPREDUCE_-263902482_1 on 172.29.0.10 because lease recovery is in progress"
Hi
I am using **HoodieDeltaStreamer** class   to take data from kafka source and put to to hudi dfs loacation (Merge On Read ). After 2 jobs it is showing below error. I suspect there is some relation for this error with  ### source-ordering-field and ### key in the json data.

19/03/01 12:53:00 INFO HoodieLogFormat$WriterBuilder: Building HoodieLogFormat Writer
19/03/01 12:53:00 INFO HoodieLogFor

[2019-03-01 17:10] bvaradar commented on #590
@rahuledavalath :  As mentioned in https://github.com/uber/hudi/blob/687395e40f71f12f130640a9db048bea77a20d8c/hoodie-common/src/main/java/com/uber/hoodie/common/table/log/HoodieLogFormatWriter.java#L236

this is a corner case when spark retries a failed task too quickly before the lease is yielded or when the data-node expires.  In the case, Hudi append retries for 10 times before giving up.

[2019-03-01 17:16] rchamarthi commented on #589
Thanks @n3nash . That fixed it.

Running the hive sync script is returning ```FAILED: SemanticException Cannot find class 'com.uber.hoodie.hadoop.HoodieInputFormat'``` an error as below.  Does the ```hoodie-hadoop-mr``` need to be included in the classpath or the Hoodie hive uber jar is expected to have all the classes?

[code]

[2019-03-01 17:44] bvaradar commented on #589
@rchamarthi : I am unable to reproduce the issue.

The hoodie-hive bundle does include HoodieInputFormat.
Inside the adhoc-2  docker container, I ran the "jar tf" command and I am able to see the InputFormat class

jar tf /var/hoodie/ws/packaging/hoodie-hive-bundle/target/hoodie-hive-bundle-0.4.6-SNAPSHOT.jar | grep HoodieInputFormat
com/uber/hoodie/hadoop/HoodieInputFormat.class

Can you dump the

[2019-03-01 18:14] rchamarthi commented on #589
Hi @bvaradar

This is the output from the old bundle.

[code]

I see that you have a new version, so I got the latest version and I am trying to run the commands from the beginning. I see a different issue now in the hive initialization step. (I added in the ```schema-provider class flag``` this time). Here's the full log.

[code]

[2019-03-01 18:33] bvaradar commented on #589
Few questions/suggestions ?

Its not clear if you build containers locally (using the script : docker/build_local_docker_images.sh) or pull it from docker-hub (just run ./setup_demo.sh)

When I was trying to reproduce, I was using the existing container from docker-hub. Its been sometime since I tried the path where I build the docker images as it is already in dockerhub.

If you are building dock

[2019-03-01 18:35] bvaradar commented on #589
@rchamarthi : Forgot to @ you

Also, I will try the scenario where docker images are locally built and will test when I get a chance.

[2019-03-01 18:37] n3nash opened #591 "Hudi write phase (final writing to parquet) fails if there is a large number of Spark partitions"
<img width="685" alt="screen shot 2019-03-01 at 10 35 01 am" src="https://user-images.githubusercontent.com/2722167/53658464-b75bd100-3c0d-11e9-8bd4-cb069bf58965.png">

<img width="672" alt="screen shot 2019-03-01 at 10 35 54 am" src="https://user-images.githubusercontent.com/2722167/53658570-fbe76c80-3c0d-11e9-8a69-6708f83384e7.png">

On further analysis, it appears the spark driver is holding a

[2019-03-01 18:50] rchamarthi commented on #589
@bvaradar I actually ran just the ./setup_demo.sh. Let me try force deleting the docker containers and the volumes. I think my current target folder has two different versions and the code is picking up one of them - which happens to be the older build target here.

https://github.com/uber/hudi/blob/master/hoodie-hive/run_sync_tool.sh#L18

[2019-03-01 19:00] bvaradar opened #592 "Design and Implement embedded timeline service to cache filesystem view to reduce listStatus calls"
Desgin and Implement embedded timeline service to cache filesystem view to reduce listStatus calls

[2019-03-01 19:52] rchamarthi commented on #589
@bvaradar

So, the complete rebuild worked, as expected.

One other error I saw when running the sync script
The actual sync was complete, so the rest of the steps worked. Seems like another version/build issue?

[code]

Full Error log

[code]

[2019-03-01 19:55] rchamarthi commented on #589
I see you just pushed a commit related to this - https://github.com/uber/hudi/pull/593.  Thanks for the fast fix!  Does that fix the above issue as well? Happy to run it locally and test to confirm.

[2019-03-01 20:03] bvaradar commented on #589
@rchamarthi : Yes, I ran into the error as well and have the fix. It would be great if you could pull the PR and rebuild completely and test the demo.

Thanks
Balaji.V

[2019-03-02 01:25] rchamarthi commented on #589
I checked out the code in the PR, rebuilt from scratch and ran it. All the demo code works now. 👍 Thank you!

[2019-03-02 01:25] #589 closed

[2019-03-02 01:45] vinothchandar commented on #591
Is this just a spark issue? Try large driver containers?

[2019-03-02 01:46] vinothchandar commented on #590
does this lead to a irrecoverable situation for the job?

[2019-03-02 01:52] vinothchandar commented on #588
This is great, @AndrewKL .. Thanks for being so awesome!  Will turn them into JIRAs ... :)

[2019-03-03 12:38] NetsanetGeb commented on #544
Thanks, yes it helps a lot.
The hoodie dataset is stored in hdfs and later it is in sync with the hive table. what kind of tables are created by hive (external only or managed)?  is there any difference in the contents of the hoodie modeled table and the data stored in hive meta store.

[2019-03-04 19:21] rahuledavalath commented on #590
I am using the docker for testing these cases. Only when the job is trying to append to the log(3rd time) file i am getting this error. All jobs are falling by saying this error.  If i change the 'ts','key' to next hour it is working.  I am not able to do any new insert with out changing key,ts,  all are failed with this error.

[2019-03-04 20:16] bvaradar commented on #590
If this is demo run, I strongly suspect HDFS cluster stability in your docker cluster. If the box where you are running docker instances does not have enough memory to run all the containers, you might run into these weird issues.

Can you check if all data nodes are alive in your cluster and you have enough capacity to ingest new data.
    http://namenode:50070/

[2019-03-04 20:39] bvaradar commented on #590
@rahuledavalath : Please also subscribe to the dev@hudi.apache.org mailing list to get faster responses.

[2019-03-05 03:17] n3nash commented on #544
@NetsanetGeb Hudi is registered as an external table in Hive. Hudi controls the mechanism of how writes are done to a table (writing to an HDFS location) as well as manages schema evolution via avro and eventually registers a custom InputFormat to allow for snapshot reading of these tables. Thus, the data is controlled and managed by Hudi while the metadata (such as partitions) is managed by Hive.

[2019-03-05 21:41] vinothchandar commented on #284
Moved over to https://issues.apache.org/jira/projects/HUDI/issues/HUDI-2

[2019-03-05 21:41] #284 closed

[2019-03-05 21:43] vinothchandar commented on #433
Moved over to ASF JIRA https://issues.apache.org/jira/projects/HUDI/issues/HUDI-1?

[2019-03-05 21:43] #433 closed

[2019-03-05 21:48] vinothchandar commented on #592
Replaced by ASF JIRA [HUDI-1](https://issues.apache.org/jira/projects/HUDI/issues/HUDI-1)

[2019-03-05 21:48] #592 closed

[2019-03-05 21:59] vinothchandar commented on #588
@AndrewKL if you can add some context for these it would be helpful to turn them into JIRAs and investigate..

1. Can you please explain the setup (baseline and comparison)? I am assuming you are doing SparkSQL on Hive table? Did you use the path filter method? https://hudi.apache.org/sql_queries.html#spark

2. If EMRFs uses a scheme that is different from one of the supported ones, we need to add

[2019-03-05 22:18] vinothchandar commented on #579
@tooptoop4 please follow up on ASF JIRA https://issues.apache.org/jira/browse/HUDI-6 as needed

[2019-03-05 22:18] #579 closed

[2019-03-05 22:19] vinothchandar commented on #578
Moved over to https://issues.apache.org/jira/browse/HUDI-7

[2019-03-05 22:19] #578 closed

[2019-03-05 22:19] #567 closed

[2019-03-05 22:20] vinothchandar commented on #562
moved over to https://issues.apache.org/jira/browse/HUDI-8

[2019-03-05 22:20] #562 closed

[2019-03-05 22:22] vinothchandar commented on #556
Moved over to https://issues.apache.org/jira/browse/HUDI-9

[2019-03-05 22:22] #556 closed

[2019-03-05 22:29] vinothchandar commented on #555
Moved to https://issues.apache.org/jira/browse/HUDI-10

[2019-03-05 22:29] #555 closed

[2019-03-05 22:30] vinothchandar commented on #554
moved to https://issues.apache.org/jira/browse/HUDI-11

[2019-03-05 22:30] #554 closed

[2019-03-05 22:33] vinothchandar commented on #549
Moved here https://issues.apache.org/jira/browse/HUDI-12

[2019-03-05 22:33] #549 closed

[2019-03-05 22:34] vinothchandar commented on #553
Moved here https://issues.apache.org/jira/browse/HUDI-13

[2019-03-05 22:34] #553 closed

[2019-03-05 22:41] vinothchandar commented on #537
Moved to https://issues.apache.org/jira/browse/HUDI-14

[2019-03-05 22:41] #537 closed

[2019-03-05 22:42] #536 closed

[2019-03-05 22:42] vinothchandar commented on #531
Moved to https://issues.apache.org/jira/browse/HUDI-15

[2019-03-05 22:43] vinothchandar commented on #527
Moved over to https://issues.apache.org/jira/browse/HUDI-16

[2019-03-05 22:43] #527 closed

[2019-03-05 22:46] vinothchandar commented on #524
Moved to https://issues.apache.org/jira/browse/HUDI-17

[2019-03-05 22:46] #524 closed

[2019-03-05 22:48] vinothchandar commented on #522
Moved to https://issues.apache.org/jira/browse/HUDI-18

[2019-03-05 22:48] #522 closed

[2019-03-06 00:06] vinothchandar commented on #521
This is already done

[2019-03-06 00:06] #521 closed

[2019-03-06 00:07] vinothchandar commented on #508
Moved to https://issues.apache.org/jira/browse/HUDI-20

[2019-03-06 00:07] #508 closed

[2019-03-06 00:07] vinothchandar commented on #506
Moved over to https://issues.apache.org/jira/browse/HUDI-21

[2019-03-06 00:07] #506 closed

[2019-03-06 00:08] vinothchandar commented on #505
Moved to https://issues.apache.org/jira/browse/HUDI-22

[2019-03-06 00:08] #505 closed

[2019-03-06 00:09] vinothchandar commented on #504
Moved to https://issues.apache.org/jira/browse/HUDI-23

[2019-03-06 00:09] #504 closed

[2019-03-06 00:10] vinothchandar commented on #503
Moved here https://issues.apache.org/jira/browse/HUDI-24

[2019-03-06 00:10] #503 closed

[2019-03-06 00:11] vinothchandar commented on #492
Moved to https://issues.apache.org/jira/browse/HUDI-25

[2019-03-06 00:11] #492 closed

[2019-03-06 00:11] vinothchandar commented on #491
Moved to https://issues.apache.org/jira/browse/HUDI-26

[2019-03-06 00:11] #491 closed

[2019-03-06 00:12] #490 closed

[2019-03-06 00:12] #483 closed

[2019-03-06 00:13] #479 closed

[2019-03-06 00:19] #469 closed

[2019-03-06 00:20] #450 closed

[2019-03-06 00:21] #502 closed

[2019-03-06 00:22] vinothchandar commented on #393
Moved to https://issues.apache.org/jira/browse/HUDI-29

[2019-03-06 00:22] #393 closed

[2019-03-06 00:23] vinothchandar commented on #501
Moved over to https://issues.apache.org/jira/browse/HUDI-30

[2019-03-06 00:23] #501 closed

[2019-03-06 00:23] #499 closed

[2019-03-06 00:24] vinothchandar commented on #494
https://issues.apache.org/jira/browse/HUDI-31

[2019-03-06 00:24] #494 closed

[2019-03-06 00:25] vinothchandar commented on #428
Moved to https://issues.apache.org/jira/browse/HUDI-32

[2019-03-06 00:25] #428 closed

[2019-03-06 00:26] vinothchandar commented on #431
Moved to https://issues.apache.org/jira/browse/HUDI-33

[2019-03-06 00:26] #431 closed

[2019-03-06 00:27] vinothchandar commented on #425
Moved to https://issues.apache.org/jira/browse/HUDI-34

[2019-03-06 00:27] #425 closed

[2019-03-06 00:33] vinothchandar commented on #416
Moved to https://issues.apache.org/jira/browse/HUDI-35

[2019-03-06 00:33] #416 closed

[2019-03-06 00:33] #432 closed

[2019-03-06 00:34] vinothchandar commented on #410
https://issues.apache.org/jira/browse/HUDI-36

[2019-03-06 00:34] #410 closed

[2019-03-06 00:35] vinothchandar commented on #409
Moved to https://issues.apache.org/jira/browse/HUDI-37

[2019-03-06 00:35] #409 closed

[2019-03-06 00:36] vinothchandar commented on #408
Moved to https://issues.apache.org/jira/browse/HUDI-38

[2019-03-06 00:36] #408 closed

[2019-03-06 00:37] vinothchandar commented on #407
Moved to https://issues.apache.org/jira/browse/HUDI-39

[2019-03-06 00:37] #407 closed

[2019-03-06 00:37] #406 closed

[2019-03-06 00:37] vinothchandar commented on #401
Moved to https://issues.apache.org/jira/browse/HUDI-40

[2019-03-06 00:37] #401 closed

[2019-03-06 00:38] vinothchandar commented on #394
Moved to https://issues.apache.org/jira/browse/HUDI-41

[2019-03-06 00:38] #394 closed

[2019-03-06 00:39] vinothchandar commented on #385
Moved to https://issues.apache.org/jira/browse/HUDI-42

[2019-03-06 00:39] #385 closed

[2019-03-06 00:40] vinothchandar commented on #384
Moved to https://issues.apache.org/jira/browse/HUDI-43

[2019-03-06 00:40] #384 closed

[2019-03-06 00:41] #377 closed

[2019-03-06 00:43] vinothchandar commented on #376
Moved to https://issues.apache.org/jira/browse/HUDI-44

[2019-03-06 00:43] #376 closed

[2019-03-06 00:44] vinothchandar commented on #374
Moved to https://issues.apache.org/jira/browse/HUDI-45

[2019-03-06 00:44] #374 closed

[2019-03-06 00:45] vinothchandar commented on #369
Moved to https://issues.apache.org/jira/browse/HUDI-46

[2019-03-06 00:45] #369 closed

[2019-03-06 00:45] #364 closed

[2019-03-06 00:46] #363 closed

[2019-03-06 00:46] vinothchandar commented on #340
Moved to https://issues.apache.org/jira/browse/HUDI-47

[2019-03-06 00:46] #340 closed

[2019-03-06 00:47] vinothchandar commented on #339
Moved to https://issues.apache.org/jira/browse/HUDI-48

[2019-03-06 00:47] #339 closed

[2019-03-06 00:48] #338 closed

[2019-03-06 00:48] vinothchandar commented on #337
Moved to https://issues.apache.org/jira/browse/HUDI-49

[2019-03-06 00:48] #337 closed

[2019-03-06 00:49] #336 closed

[2019-03-06 00:49] #335 closed

[2019-03-06 00:49] #334 closed

[2019-03-06 00:49] #326 closed

[2019-03-06 00:49] vinothchandar commented on #314
Moved to https://issues.apache.org/jira/browse/HUDI-50

[2019-03-06 00:49] #314 closed

[2019-03-06 00:53] #81 closed

[2019-03-06 00:53] vinothchandar commented on #87
Moved to https://issues.apache.org/jira/browse/HUDI-51

[2019-03-06 00:53] #87 closed

[2019-03-06 00:54] vinothchandar commented on #88
Moved to https://issues.apache.org/jira/browse/HUDI-52

[2019-03-06 00:54] #88 closed

[2019-03-06 00:55] vinothchandar commented on #90
Moved to https://issues.apache.org/jira/browse/HUDI-53

[2019-03-06 00:55] #90 closed

[2019-03-06 00:56] vinothchandar commented on #94
Moved to https://issues.apache.org/jira/browse/HUDI-54

[2019-03-06 00:56] #94 closed

[2019-03-06 00:57] vinothchandar commented on #74
Moved to https://issues.apache.org/jira/browse/HUDI-55

[2019-03-06 00:57] #74 closed

[2019-03-06 00:57] #309 closed

[2019-03-06 00:58] vinothchandar commented on #70
Moved to https://issues.apache.org/jira/browse/HUDI-56

[2019-03-06 00:58] #70 closed

[2019-03-06 00:59] vinothchandar commented on #68
Moved to https://issues.apache.org/jira/browse/HUDI-57

[2019-03-06 00:59] #68 closed

[2019-03-06 00:59] #67 closed

[2019-03-06 00:59] #50 closed

[2019-03-06 00:59] #49 closed

[2019-03-06 01:00] #46 closed

[2019-03-06 01:01] vinothchandar commented on #41
Moved to https://issues.apache.org/jira/browse/HUDI-58

[2019-03-06 01:01] #41 closed

[2019-03-06 01:01] #37 closed

[2019-03-06 01:01] vinothchandar commented on #20
DeltaStreamer now does this!! yaay!

[2019-03-06 01:01] #20 closed

[2019-03-06 01:02] vinothchandar commented on #16
Moved to https://issues.apache.org/jira/browse/HUDI-59

[2019-03-06 01:02] #16 closed

[2019-03-06 01:03] vinothchandar commented on #8
moved to https://issues.apache.org/jira/browse/HUDI-60

[2019-03-06 01:03] #8 closed

[2019-03-06 01:05] vinothchandar commented on #415
Moved to https://issues.apache.org/jira/browse/HUDI-61

[2019-03-06 01:05] #415 closed

[2019-03-06 01:06] vinothchandar commented on #254
Moved to https://issues.apache.org/jira/browse/HUDI-27

[2019-03-06 01:06] #254 closed

[2019-03-06 02:02] vinothchandar commented on #269
Moved to https://issues.apache.org/jira/browse/HUDI-1

[2019-03-06 02:02] #269 closed

[2019-03-06 02:02] #300 closed

[2019-03-06 02:04] vinothchandar commented on #297
Moved to https://issues.apache.org/jira/browse/HUDI-62

[2019-03-06 02:04] #297 closed

[2019-03-06 02:04] #277 closed

[2019-03-06 02:05] vinothchandar commented on #273
This is adaondoned in favor of a Global Index

[2019-03-06 02:05] #273 closed

[2019-03-06 02:05] #272 closed

[2019-03-06 02:07] #270 closed

[2019-03-06 02:07] #308 closed

[2019-03-06 02:08] vinothchandar commented on #261
Thanks to @leletan . This is done and released as apart of 0.4.5

[2019-03-06 02:08] #261 closed

[2019-03-06 02:09] vinothchandar commented on #256
moved to https://issues.apache.org/jira/browse/HUDI-65

[2019-03-06 02:09] #256 closed

[2019-03-06 02:09] vinothchandar commented on #248
Abandoned..

[2019-03-06 02:09] #248 closed

[2019-03-06 02:10] vinothchandar commented on #233
Moved to https://issues.apache.org/jira/browse/HUDI-66

[2019-03-06 02:10] #233 closed

[2019-03-06 02:11] #226 closed

[2019-03-06 02:12] vinothchandar commented on #224
Moved to https://issues.apache.org/jira/browse/HUDI-67

[2019-03-06 02:12] #224 closed

[2019-03-06 02:14] vinothchandar commented on #155
Moved here https://issues.apache.org/jira/browse/HUDI-57

[2019-03-06 02:14] #155 closed

[2019-03-06 02:15] #137 closed

[2019-03-06 02:15] vinothchandar commented on #140
Moved to https://issues.apache.org/jira/browse/HUDI-68

[2019-03-06 02:15] #140 closed

[2019-03-06 02:16] vinothchandar commented on #136
Moved to https://issues.apache.org/jira/browse/HUDI-69

[2019-03-06 02:16] #136 closed

[2019-03-06 02:17] #128 closed

[2019-03-06 04:16] kaka11chen opened #594 "Avro doesn't have short and byte type, so there are some errors throws when met these type's fields."
Caused by: java.io.IOException: Could not create payload for class: com.uber.hoodie.OverwriteWithLatestAvroPayload
	at com.uber.hoodie.DataSourceUtils.createPayload(DataSourceUtils.java:114)
	at com.uber.hoodie.DataSourceUtils.createHoodieRecord(DataSourceUtils.java:159)
	at com.uber.hoodie.HoodieSparkSqlWriter$$anonfun$1.apply(HoodieSparkSqlWriter.scala:95)
	at com.uber.hoodie.HoodieSparkSqlWrite

[2019-03-06 06:45] n3nash commented on #173
At the moment we get full change logs so even no precombine works fine : https://github.com/uber/hudi/blob/master/hoodie-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/RealtimeCompactedRecordReader.java#L104 but this issue still exists.

[2019-03-06 06:53] vinothchandar commented on #173
Moved to https://issues.apache.org/jira/browse/HUDI-71

[2019-03-06 06:53] #173 closed

[2019-03-06 13:42] rahuledavalath opened #596 "Unable to find previous checkpoint. Please double check if this table was indeed built via delta streamer"
i have loaded a hudi dataset(**hoodie-0.4.5**) from kafka topic(delta streamer). after that i started compaction from hudi client.
The compaction was successfully completed. After that all log file was merged to  parquet files and selection was fine.

But when starting new loading to the hudi dataset i am getting below error.

Exception in thread "main" com.uber.hoodie.utilities.exception.HoodieDe

[2019-03-06 14:56] leilinee opened #597 "HoodieDeltaSteamer cannot deserialize avro source correctly"
As quick start document, I run HoodieDeltaStreamer.java with params

[code]

the context of my kafka-source.properties is

[code]

when running the main file, i got a error

[code]
that means my source data cannot deserialize  with avro schema.

How can i deserialize my avro data without "schema.registry.url" configuration by HoodieDeltaStreamer?  (I want to deserialize my avro data with a avro sc

[2019-03-06 18:07] n3nash commented on #596
@rahuledavalath How are you running a compaction on a table generated by the HoodieDeltaStreamer ? I'm guessing you are using MERGE_ON_READ storage type. Did you use the `HoodieCompactor` tool to run the compaction ? The HoodieDeltaStreamer at the moment does not support compaction operation so if you performed compaction out of the scope of DeltaStreamer it will lose the checkpoints.

[2019-03-06 20:30] rahuledavalath commented on #596
I am using hudi client shell to connect to the hudi data source path(MERGE_ON_READ). Then sheduling and running the compaction using the commands available in the client shell.

So if we can't use compaction in this way,  what is the alternative for compacting this data set.  (Document support is very much less on the compaction side) Please assist on this.

[2019-03-06 20:45] bvaradar commented on #597
The Confluent Kafka integration that we have in Hudi requires Schema Registry service (See https://docs.confluent.io/current/schema-registry/docs/schema_registry_tutorial.html)  to be running alongside Kafka when using Kafka as an Avro Source.

DeltaStreamer is a generic tool in the sense that it can support other types of sources than Avro (JSON, RDD). The configuration you mentioned (hoodie.delt

[2019-03-07 00:09] #594 closed

[2019-03-07 00:14] vinothchandar commented on #596
We should be able to run inline compaction... @rahuledavalath I think current defaults are probably not great..

@bvaradar please see if this needs a JIRA to make it simpler.

[2019-03-07 07:34] rahuledavalath commented on #596
I think the **inline compaction** will trigger when certain conditions were satisfied.   I have found some configurations for the same in **http://hudi.apache.org/configurations.html.** Here it is not mentioned in which file/way we need to pass this to spark job.

1. for example if i need to give below configs, in which file i need to give this configs.
2. for example for limiting the file size wh

[2019-03-07 17:10] bvaradar commented on #597
@leilinee :  We have created the jira (https://issues.apache.org/jira/browse/HUDI-73) to provide direct support to Avro Kafka Source.

I am not sure if you already have schema registry setup. Let us know if you run into any issues using Hudi.

[2019-03-07 17:37] bvaradar commented on #596
@rahuledavalath : Agreed, we will be improving the overall documentation in the near future.

Thanks for your question in @dev ML. Keep posting questions directly in ML for quicker response.

As mentioned in the Mailing List:
The configuration setup depends on which mechanism you use w.r.t Spark :
1. For Spark DataSource route, you can use the "options" API of DataFrameWriter to pass in these conf

[2019-03-07 19:30] rahuledavalath commented on #596
@n3nash @vinothchandar @bvaradar Thanks all for your valuable response.  I will try it in the way you suggested.

[2019-03-07 20:48] vinothchandar commented on #581
@daikon12 do you still have this issue?

[2019-03-08 08:21] rahuledavalath commented on #596
@bvaradar I tried  hoodie.compact.inline and hoodie.compact.inline.max.delta.commits properties for the DeltaStreamer by passing  it in config file with "--props" option.  But it says properties are not valid.

INFO HoodieDeltaStreamer: Checkpoint to resume from : Optional[ROW63,0:11]
INFO VerifiableProperties: Verifying properties
WARN VerifiableProperties: Property **OPERATION_OPT_KEY** is not v

[2019-03-08 08:57] AaronCH5 commented on #381
i use sprak 2.1.1 for netty-all-4.0.42.Final with redisson for netty-all-4.0.41.Final , but i see that has differences for two jar，how i can do it ? rebuild redisson or spark for netty-all？

[2019-03-08 09:28] bvaradar commented on #596
@rahuledavalath : This warn messages might be misleading in this context. Looks like it it coming from Kafka Source. At very high-level DeltaStreamer uses a single properties object to configure all things and this error could be coming from a component that do not understand other configs. Can you let the delta-streamer run to completion. Are you seeing errors/exception stopping the job ?

[2019-03-08 13:14] rahuledavalath commented on #596
@bvaradar There is no errors and exception but i am unable to notice a compaction.
I doubt the proprieties which is mentioned in the configurations section will work with deltastreamer class.
Below job i am using for all test cases including compaction.

spark-submit --class com.uber.hoodie.utilities.deltastreamer.**HoodieDeltaStreamer** **hoodie-utilities-0.4.5.jar**--storage-type **MERGE_ON_READ

[2019-03-09 01:51] vinothchandar commented on #525
Fixing the docs !

[2019-03-09 01:51] #525 closed

[2019-03-09 01:53] vinothchandar commented on #586
Fixed in the next patch

[2019-03-09 01:53] #586 closed

[2019-03-13 03:00] BigdataGit commented on #557
yes，already solved, thank you

[2019-03-13 23:16] n3nash commented on #557
@BigdataGit Can you please share the problems you faced and how you fixed it ?

[2019-03-14 00:20] n3nash commented on #381
@AaronCH5 I'm not aware of what redisson is and how your are using Hudi with it. If there are version clashes, as you mentioned, you can build different versions of it with the required packages or use mvn's exclude feature to exclude 2 different versions of the jar being packaged.

[2019-03-14 11:09] daikon12 commented on #581
Sorry for the late reply . Yes  ， It still does not work . Would you like to offer some ideas

[2019-03-14 15:08] leilinee commented on #597
thanks for your answer.

I have solved this problem. The  HoodieDeltaSteamer consume avro data from topic and then create spark RDDs , in this process,  HoodieDeltaSteamer deserialize avro data by **KafkaAvroDecoder.**

[code]

I rewrited **KafkaAvroDecoder** with my deserialize avro data code .

It have to implement  **Decoder** class and declare a construction method.

my deserialize code is in

[2019-03-14 15:09] #597 closed

[2019-03-14 20:36] vinothchandar commented on #597
@leilinee there is a JIRA open for this.. https://issues.apache.org/jira/browse/HUDI-73

Is this assigned to you? If not, if you could help address this in the main code line. it would be awesome!

[2019-03-15 01:08] vinothchandar commented on #581
It cannot find the HoodieInputFormat which is contained in the `hoodie-hadoop-mr-bundle`. Did you add the hoodie-hadoop-mr-hundle jar to your hive server?

We can also move this discussion to the dev mailing list, so we can respond quicker..
http://hudi.incubator.apache.org/community.html

[2019-03-15 12:45] daikon12 commented on #581
@vinothchandar thx your idea。
But I imported the package manually ，The detailed commands are shown below：
![image](https://user-images.githubusercontent.com/8246136/54432037-01db6280-4763-11e9-8cdd-ab05d1379b90.png)
But It doesn't seem to work。

[2019-03-15 17:10] pshivkumar commented on #577
@vinothchandar.. Yes, Hangout will help. I am in PDT time zone. Any Tuesday/Thursday work for me. Once you confirm, I will run the job again and keep cluster running for our meeting.

[2019-03-15 18:08] vinothchandar commented on #577
@pshivkumar have you joined our slack channel? https://hudi.apache.org/community.html
if you can hop on there, we can coordinate a time there.. next tue should be doable

[2019-03-15 18:33] vinothchandar commented on #581
I think we removed the suffix in 0.4.5

All you need is the hive bundle jar. It has the mr stuff internally

[code]

I will double check and update the docs..

Can you try running with just the `packaging/hoodie-hive-bundle/target/hoodie-hive-bundle-0.4.6-SNAPSHOT.jar` off master

[2019-03-15 20:49] vinothchandar commented on #581
Btw, you can use the https://github.com/apache/incubator-hudi/blob/master/hoodie-hive/run_sync_tool.sh tool to run it instead of doing it by hand?

[2019-03-16 01:28] n3nash commented on #591
This is an issue only during the write phase, other stages that have higher parallelism (for eg. BloomIndex) don't have issues. So although it may be a spark issue, we need to see why it manifests during the last write stage.

[2019-03-17 05:08] leilinee commented on #597
@vinothchandar  ok, i will try my best do that.

[2019-03-17 07:16] daikon12 commented on #581
When I run this script,The program output looks like this :
![image](https://user-images.githubusercontent.com/8246136/54486737-454ee180-48c7-11e9-9ab9-6ca99ef5896b.png)

Maybe there is a colon  missing .

[2019-03-17 07:24] daikon12 commented on #581
So I runit manually again and it works fine until I got the following error:
![image](https://user-images.githubusercontent.com/8246136/54486835-b8a52300-48c8-11e9-9ff4-1a563ddc2d24.png)
I need to import many such jars manually

[2019-03-19 18:07] vinothchandar commented on #581
You mean the run_sync_tool.sh gives you this error? Thats odd. Are the Hive jars themselves there? antlr should be provided by Hive I think?
@bvaradar as well to take a look..

[2019-03-20 09:07] BigdataGit opened #607 "The difference between `_hoodie_record_key` and `_row_key`？"
When creates an RT view, there are two primary key fields? What is the difference between them?

[2019-03-20 09:26] BigdataGit commented on #607
`_row_key` is the data source field mapping to hudi generation `_hoodie_record_key`

[2019-03-20 09:44] #607 closed

[2019-03-20 17:28] vinothchandar commented on #607
yes. to add, all merges/compaction etc happens based on _hoodie_record_key once its extracted out from the incoming data

[2019-03-20 17:37] NetsanetGeb commented on #544
I have published a json file to kafka and run the hoodie delta streamer as a spark job with a kafka as a main data source.
I set the kafka properties as following:
include=base.properties
hoodie.datasource.write.recordkey.field=key
hoodie.datasource.write.partitionpath.field=date
hoodie.deltastreamer.schemaprovider.source.schema.file=hdfs:///Projects/Hudi/Resources/source.avsc
hoodie.deltastreamer

[2019-03-20 19:41] vinothchandar commented on #544
@NetsanetGeb Just seems like the job cannot talk to kafka?  btw, do you mind posting this on the mailing list, since this seems like a separate issue? https://hudi.apache.org/community.html We are using the mailing list as the primary support channel now & can respond much quicker there

[2019-03-20 19:41] #544 closed

[2019-03-21 02:23] BigdataGit commented on #607
ok thanks

[2019-03-21 08:51] Zhujun-Vungle commented on #143
Hi would you add me to slack please~
jun.zhu@vungle.com

[2019-03-21 16:07] bvaradar commented on #581
@daikon12 :

The run_hive_sync tool failed because there were multiple standalone jdbc jars found in your hive installation. We have not seen this case in our installations. I have created a PR (https://github.com/apache/incubator-hudi/pull/609) to handle this case. Can you please apply this patch, try this out and let us know if this solved the issue.

Thanks,
Balaji.V

[2019-03-21 17:03] vinothchandar commented on #143
@Zhujun-Vungle Done.. Also please join our mailing list, where most of the conversations happen these days. https://hudi.apache.org/community.html :)

[2019-03-21 23:14] tooptoop4 commented on #502
@vinothchandar can you share the patch PR?

[2019-03-23 00:06] vinothchandar commented on #596
Closing this due to inactivity

[2019-03-23 00:06] #596 closed

[2019-03-23 00:07] #580 closed

[2019-03-23 00:08] vinothchandar commented on #547
@cdmikechen there is a thread on this on the mailing list. Are you still working/hitting this? If so, could you jump onto the thread on ML, so we can hash out a solution

[2019-03-23 00:08] vinothchandar commented on #540
Closing this due to inactivity

[2019-03-23 00:08] #540 closed

[2019-03-23 00:09] vinothchandar commented on #493
@AndrewKL non partitioned tables must be supported now.. (@bvaradar fyi).. close this?

[2019-03-23 12:31] smdahmed opened #613 "Too many S3 Connections being opened while df.write"
1. Table clean is called for every dataframe write (https://github.com/apache/incubator-hudi/blob/9e59da7fd96d8af0587efa2f34c89f56320d4c91/hoodie-client/src/main/java/com/uber/hoodie/table/HoodieCopyOnWriteTable.java#L293)
1. This calls cleanPartitionPaths (https://github.com/apache/incubator-hudi/blob/9e59da7fd96d8af0587efa2f34c89f56320d4c91/hoodie-client/src/main/java/com/uber/hoodie/table/Hoodi

[2019-03-25 02:32] vinothchandar commented on #613
https://issues.apache.org/jira/browse/HUDI-80 tracks a potential fix for this..

[2019-03-25 05:23] Achuth17 commented on #581
I faced the antlr recognition exception as well, Fixed it by adding a few jars (like the antlr jar) manually. Just thinking out loud, Why can't we pick all the jars from "{HIVE_HOME}/lib/" instead of selectively picking?

[2019-03-25 17:35] vinothchandar commented on #502
@bvaradar is looking into this.. https://issues.apache.org/jira/browse/HUDI-29 tracks this.

@tooptoop4 We hit it on cdh 1.1.0 at that time.. Do you mind joining the dev list and jira and share some details on the environment? is this blocking your progress atm? https://hudi.apache.org/community.html

[2019-03-25 18:01] bhasudha opened #614 "Add Presto 0.217 docker to quickstart and pre integration tests"
Add Presto docker containers to the demo and pre integration tests alongside existing Hive and Spark dockers. Update quickstart documentation for sample end-end to querying of Hoodie tables via Presto similiar to Hive and Spark examples already described.

[2019-03-25 18:08] #614 closed

[2019-03-26 13:07] cdmikechen commented on #547
@vinothchandar
Sorry for delay. I've changed my job in February, and my new job works for an automobile company. This company use HDP 3.1 with hadoop3 and spark2.3 and hive3.1. Because the version of hadoop and hive is too high, the new job is not using hudi for the time being.
Recently, my team is going to launch a new data lake project. My work is busy, so I don't have much time to pay attention

[2019-03-26 14:25] leilinen opened #615 "how change HoodieDeltaStreamer with Real-time calculation"
Hi, In my project, I want to  consume data from kafka topic and upsert data with hoodie. In hoodie, the HoodieDeltaStreamer is drived by spark context, which is a kind of batch program, it will exit after calculate one batch data. So I use **spark streaming context** to do that. the HoodieDeltaStreamer uses RDDs , but spark streaming context got DStream object from kafka topic with those code

[co

[2019-03-26 17:11] vinothchandar commented on #547
@cdmikechen no worries.. it would help if you can file a JIRA on hive/hadoop version gaps preventing you from using Hudi now? :)

[2019-03-26 17:11] vinothchandar commented on #547
Congrats on the new gig! :)

[2019-03-26 18:09] bvaradar commented on #581
@Achuth17 : This was  done on purpose. There are lot of different hadoop/hive environments out there. With Hudi having to interoperate across different query engines, it was practical to choose a set of hadoop/hive releases for which we can certify different hoodie tools/jars.  As part of this certification, we found that blindly picking all jars results in package conflicts with this ones present

[2019-03-26 18:10] bvaradar commented on #581
@daikon12 : Is run_hive_sync tool working fine now ?

[2019-03-27 13:39] leilinen commented on #615
I noticed that the dstream consumed from kafka topic was empty, for dstream.foreachRDD resulted nothing. But the kafka params is correct, and data can be consumed from topic directly.

[2019-03-27 16:48] vinothchandar commented on #615
@leilinen please post on the mailing list for faster response.
https://hudi.apache.org/community.html

Hudi just supports Spark at the moment. Flink support is being discussed on the mailing list.

Coming to what you are trying to do here, seems like you need the HoodieDeltaStreamer to be deployed as a continuously running streaming job.  We def want to get to that point eventually https://issues.

[2019-03-27 16:48] vinothchandar commented on #615
lets continue on the mailing list..  !

[2019-03-28 01:22] daikon12 commented on #581
Thank you  @vinothchandar  @bvaradar  You inspire me , This problem is probably caused by my version of hadoop and hive , Now I only have one client of parcels way . I will try another version later to see if it works.

[2019-03-28 23:41] vinothchandar commented on #254
y'all #620 should fix this

[2019-03-31 13:14] never-summer commented on #143
Hi would you add me to slack please~
radionov.maxim@gmail.com

[2019-04-01 21:05] vinothchandar commented on #143
@never-summer  Done.. Also please join our mailing list. https://hudi.apache.org/community.html :)

[2019-04-02 08:40] SemanticBeeng commented on #128
Do we want to consider what this means more exactly from perspective of `HudiIO`? (integration with `Apache Beam`, how `Spark` session is managed for long running jobs, what `workflow manager` means, etc)

See https://github.com/apache/beam/search?q=ProcessContext&unscoped_q=ProcessContext

[2019-04-02 18:11] lyogev commented on #498
Does anyone have an example of how to hard delete in spark SQL?
I can't seem to find a way to do this.

[2019-04-02 18:26] vinothchandar commented on #128
@SemanticBeeng this is orthogonal to connection management I believe.. This ticket was around figuring out how to deploy hudi in a long running mode.. Some aspects like givining up containers on dynamic allocation etc could still be useful. let me post this into HUDI-70

[2019-04-02 18:27] vinothchandar commented on #128
Once we approach beam, we can consider ProcessContext. for now, I think SparkStreamingContext or equivalent would do something similar I beleieve

[2019-04-02 18:27] lyogev commented on #498
Sorry figured it out.
Created a class:
[code]

And then set dataframe writer to:
[code]

[2019-04-03 02:02] thesuperzapper opened #628 "Replace Databricks spark-avro with native spark-avro"
I believe that we should bump to Spark 2.4 minimum for the native spark-avro package. Its just going to become problematic the longer we leave it, as Databricks spark-avro has no support for AVRO 1.8 logical types. [But core spark-avro does.](https://github.com/apache/spark/commit/be2238fb502b0f49a8a1baa6da9bc3e99540b40e#diff-c966b53dc6f5acf1a1dfc725d8dea605)

This has caused issues: #547 #543

It

[2019-04-03 04:35] vinothchandar commented on #628
Agree.. IIRC someone was working on spark 2.4 upgrade. Mind joining the mailing list and kick off a thread there? https://hudi.apache.org/community.html :)

[2019-04-03 17:34] vinothchandar commented on #498
yes .. :) .. this is something we have mulling on how to support this using the datasource APIs, which is kind of awkward for this..

Nonetheless, do you mind contributing this payload and some documentation either in wiki or site docs  towards this? HUDI-88 https://issues.apache.org/jira/browse/HUDI-88 is related as well.

[2019-04-03 22:46] milantracy commented on #143
could you add me to the slack channel, milantracy@gmail.com :) thanks a lot

[2019-04-03 22:58] vinothchandar commented on #143
done.. Also please join our mailing list. https://hudi.apache.org/community.html :)

[2019-04-03 23:42] vinothchandar commented on #628
https://issues.apache.org/jira/browse/HUDI-91 tracks this.. Closing GH issue in favor of that

[2019-04-03 23:42] #628 closed

[2019-04-04 00:39] vinothchandar commented on #591
@n3nash HUDI-72 tracks this

[2019-04-04 00:39] #591 closed

[2019-04-04 18:23] lyogev commented on #498
Of course I don't mind contributing, where would you think it will fit best? if in docs then in what section? configuration? quick start? new doc?

Thanks

[2019-04-06 07:36] jackwang2 opened #630 "Read RO View Exception: unable to infer schema for Parquet. It must be specified manually"
[code]

I can use above code to upsert json data and write parquet files successfully, but when try to read data by RO view, it always throws exception:

[code]

org.apache.spark.sql.AnalysisException: Unable to infer schema for Parquet. It must be specified manually.;
  at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$9.apply(DataSource.scala:208)
  at org.apache.spark.sql.execut

[2019-04-07 13:14] smdahmed commented on #613
S3 connections is not an issue. This was due to possible issues building a fat jar by incorporating a module into existing hudi build - which is not ideal. Closing this issue as invalid.

[2019-04-07 13:14] #613 closed

[2019-04-08 02:01] vinothchandar commented on #630
@jackwang2 That is just spark exception when it does not find parquet files under the directory you specify..  may be you need to pass in a glob of the actual folders while reading?

`val df2 = spark.read.format("com.uber.hoodie").load("s3a://my-bucket/temp/jack-test/result1/*/*/*")`

Also please post on your dev ML for faster responses.
hudi.apache.org/community.html

[2019-04-08 06:21] jackwang2 commented on #630
@vinothchandar Thanks for the feedback, it helps us a lot.

[2019-04-08 07:21] renwei111 opened #632 "BUILD FAILURE ,mvn clean install -DskipTests -Dhadoop.version=2.6.0-cdh5.7.2 -Dhive.version=1.1.0-cdh5.7.2"
[INFO] Hoodie ............................................. SUCCESS [  4.273 s]
[INFO] hoodie-common ...................................... SUCCESS [02:20 min]
[INFO] hoodie-hadoop-mr ................................... SUCCESS [01:38 min]
[INFO] hoodie-client ...................................... SUCCESS [  7.487 s]
[INFO] hoodie-hive ........................................ SUCCESS [  2.583 s]

[2019-04-08 15:18] ovj commented on #632
Hi,

Docker is mostly likely not installed on your machine.

See here http://hudi.apache.org/docker_demo.html.

On Mon, Apr 8, 2019 at 12:21 AM renwei111 <notifications@github.com> wrote:

[2019-04-09 02:06] thesuperzapper commented on #143
Hi there, can I please be added? mathew.wicks@gmail.com

[2019-04-09 06:43] rahuledavalath commented on #540
Dear @vinothchandar
http://hudi.apache.org/configurations.html#combineInput
combineInput(on_insert = false, on_update=true)

In documentation this property is mentioned as false,true for insert/upsert. But in actual code it is true,true.
It will create confusion to users. Kindly check this.

[2019-04-09 17:11] bvaradar commented on #533
This should be fixed by https://github.com/apache/incubator-hudi/pull/633

[2019-04-09 17:14] bvaradar commented on #632
@renwei111 :
The other way to skip integration test is to run

mvn clean install **-DskipITs** -DskipTests -Dhadoop.version=2.6.0-cdh5.7.2 -Dhive.version=1.1.0-cdh5.7.2

[2019-04-09 19:04] vinothchandar commented on #498
@iyogev sorry for the delayed response. Slow week.

The default payload classes are documented in the configurations.md file on asf-site branch. We can add a line for EmptyPayload there.

In terms of code, we can just add the payload together with a small test to wherever the default payload lives?

[2019-04-09 19:08] vinothchandar commented on #143
Done. Also please join our mailing list

[2019-04-09 19:56] #630 closed

[2019-04-10 04:30] renwei111 commented on #632
thank you,but is not ok

is build ok,谢了啊

[2019-04-10 04:31] #632 closed

[2019-04-10 23:13] n3nash commented on #533
closing this ticket in favor of #633 fixing the underlying issue

[2019-04-10 23:13] #533 closed

[2019-04-11 07:41] faisalmoeen commented on #143
Please add fmorakzai@gmail.com

[2019-04-11 17:38] vinothchandar commented on #143
done.. Also please join our mailing list. https://hudi.apache.org/community.html :)

[2019-04-14 16:01] lyogev opened #637 "Can't find snapshot releases"
Hi!
I can't seem to find snapshot releases in sonatype snapshot, am I looking at the wrong place?

Thanks

[2019-04-16 08:35] Zhujun-Vungle opened #639 "About global dedup, find some commit who keep inflight and still generate parquet file and fail dedup"
Hi,
Taking investigation on hudi, currently facing a issue when trying hudi global dedup
## ENV
data source: kafka
etl engine: spark streaming which simply ingest data per 10 minutes and write to s3 with global dedup enable
data sink: s3
viewer: hive table which create like https://cwiki.apache.org/confluence/display/HUDI/Registering+sample+dataset+to+Hive+via+beeline
[code]

## HUDI config

[code

[2019-04-16 18:07] vinothchandar commented on #637
Hi.. please post on the mailing lists for faster responses.. https://hudi.apache.org/community.html

We don't currently publish snapshot/night releases.. We just build master locally and work off local repository..  Would that be useful for you?

[2019-04-16 18:26] vinothchandar commented on #639
Hi.. please leave us a note on the dev mailing list for faster response.
https://hudi.apache.org/community.html

For Spark SQL, you need to push the path filter as documented here. https://hudi.apache.org/querying_data.html#spark-ro-view
Getting duplicates typically means, this  is missing..

So, the sequence of events is . We write parquet files and then upon successful writing of all attempted p

[2019-04-17 01:46] Zhujun-Vungle commented on #639
Thank you so much !! Really helpful!!

[2019-04-17 13:44] leilinen commented on #615
thanks for your suggestion @vinothchandar  It solved with a endless loop to consume and write data .

[2019-04-17 13:45] #615 closed

[2019-04-17 14:12] leilinen opened #643 "Offsets not available on leader"
Hi,

when it consume data with HoodieDeltaStreamer,  if topic offsets not avaliable, the process will throw a exception
[code]

It looks in ```KafkaOffsetGen.getNextOffsetRanges()``` method, if ```lastCheckpointStr.isPresent()``` is true, then get ```fromOffsets``` from ```lastCheckpointStr``` and not check whether ```fromOffsets``` is available.

Is that a bug of HoodieDeltaStreamer?

[2019-04-17 23:43] vinothchandar commented on #643
I think this indicates that Kafka has already deleted these offsets due to retention configs..
Can you paste the full stack trace? I am not sure if this is a bug in the tool atm . But love to understand and make this better if possible

Also, please post on the mailing list for faster responses.
https://hudi.apache.org/community.html

[2019-04-17 23:43] bvaradar commented on #590
Closing due to inactivity

[2019-04-17 23:43] #590 closed

[2019-04-17 23:43] vinothchandar commented on #588
@AndrewKL any more information on 4?

[2019-04-17 23:43] bvaradar commented on #581
Closing due to inactivity

[2019-04-17 23:43] #581 closed

[2019-04-17 23:44] bvaradar commented on #577
Closing due to inactivity

[2019-04-17 23:44] #577 closed

[2019-04-17 23:46] vinothchandar commented on #568
@dimejune13 Great that the issue was resolved.. @bhasudha thanks for identifying and fixing it..

[2019-04-17 23:46] #568 closed

[2019-04-17 23:47] vinothchandar commented on #564
#638 is open for this :)

@melin please hop onto that and if you can help test it more, it would be awesome..

[2019-04-17 23:47] #564 closed

[2019-04-17 23:48] vinothchandar commented on #532
Closing due to inactivity

[2019-04-17 23:48] #532 closed

[2019-04-17 23:50] vinothchandar commented on #516
https://issues.apache.org/jira/browse/HUDI-101 moved here

[2019-04-17 23:50] #516 closed

[2019-04-17 23:52] bvaradar commented on #480
Closing due to inactivity

[2019-04-17 23:52] #480 closed

[2019-04-17 23:54] #493 closed

[2019-04-17 23:54] vinothchandar commented on #439
Moved to HUDI-102

[2019-04-17 23:54] #439 closed

[2019-04-17 23:55] bvaradar commented on #489
Hoping this is fixed. Reopen if you still see the problem

[2019-04-17 23:55] #489 closed

[2019-04-17 23:57] bvaradar commented on #160
Not seeing this issue anymore. Please reopen if you still see the problem

[2019-04-18 03:08] Zhujun-Vungle commented on #639
Hi
Sorry , failed open https://lists.apache.org/list.html?dev@hudi.apache.org.
I have some follow up questions for this issue:

So, the sequence of events is . We write parquet files and then upon successful writing of all attempted parquet files, we actually make the commit as completed. (i.e not inflight anymore). So this is normal. This is done to prevent queries from reading partially written

[2019-04-18 10:01] jaimin-shah commented on #143
Please add me to Slack :) email is shahjaimin0395@gmail.com

[2019-04-18 12:22] leilinen commented on #643
hi, @vinothchandar  I made a test again.  Firstly, stop HoodieDeltaStreamer program, and produce data into topic, then stop produce, delete all data of topic, continue to generate data into topic (that makes HoodieDeltaStreamer next consume offset invalid ) . Restart HoodieDeltaStreamer to consume data , it will consume data from next consume offset, which is not avaliable. It will throw a excepti

[2019-04-19 01:28] vinothchandar commented on #143
done.. Also please join our mailing list. https://hudi.apache.org/community.html !

[2019-04-19 01:30] vinothchandar commented on #639
@Zhujun-Vungle I responded on the mailing list.. hope that answers this

[2019-04-19 08:54] Zhujun-Vungle commented on #639
Gotcha, thank you so much!

[2019-04-19 08:54] #639 closed

[2019-04-22 15:46] vinothchandar commented on #643
@leilinen you are right. Raised a JIRA for this.
https://issues.apache.org/jira/browse/HUDI-105
Also like your opinion on whether we should add a mode to DeltaSteamer to ignore the checkpoint and consume from earliest offset? Are you using DeltaSteamer in production , do you think it'd be useful to recover from situations like these?

Also please join our mailing list for faster responses. Github

[2019-04-24 13:00] sidnakoppa opened #652 "Reading Merge_on_read table| Failing SchemaParseException: Empty name"
Hi ,

I have created hudi data-set passing below option.

`.option(DataSourceWriteOptions.STORAGE_TYPE_OPT_KEY,"MERGE_ON_READ").`

When I create table in hive with below serde properies i am getting exception while reading.

[code]

If I create with below serde properties.I am unable to read the updated records.

[code]
I am able to read copy_on_write table's latest view
1. Could you guide in read

[2019-04-24 14:20] NetsanetGeb commented on #143
could you add me to the slack channel, net22geb@gmail.com  Thanks a lot.

[2019-04-24 16:34] n3nash commented on #652
@sidnakoppa When you run the HiveSyncTool, it registers the RealTime table with a suffix like :  <your_table_name>_rt. You can query this table for real time queries.

Just let the hive sync tool register the table in the metastore instead of manually registering anything. Once you have some data written into the table, the "_rt" should give you results in merge_on_read.

[2019-04-24 23:32] bvaradar commented on #637
Closing this for now. Kindly revert to mailing lists for any related questions.

[2019-04-24 23:32] #637 closed

[2019-04-25 05:55] sidnakoppa commented on #652
Thanks for the quick response.
I have written the data as below

Run Syntool with below params

**Output**

[code]

Table is created as below _emp_mor_ but was expecting it be created as **emp_mor_rt**

So created realtime table as below in hive but facing the exception as Failing SchemaParseException: Empty name

[code]

[2019-04-25 10:20] sidnakoppa commented on #652
**working fine in 0.4.6 version**

1. Issue is realtime table is not created by hivesync tool.
2. Manually created Realtime table and able to read updated records.

FYI - Failures reported were for 0.4.5V

[2019-04-25 13:47] zk19930911 opened #654 "Many small files"
spark-streamning batch is 60s，There are many small files in each batch.
I can set which parameter to merge these parquet files。

Official website said ：： Compaction is also pluggable, which can be extended to stitch older, less frequently updated data files to further reduce the total number of files.

please help me

[2019-04-25 20:27] vinothchandar commented on #654
Sure happy to help.. Can you describe the setup more? What hudi version/storage are you using?

Also please join our mailing list for faster responses.. https://hudi.apache.org/community.html

[2019-04-26 00:34] n3nash commented on #652
@sidnakoppa Something could be wrong with the setup for the realtime table to not be created by the hive sync tool automatically. if you take a look at the quickstart here : https://hudi.apache.org/docker_demo.html#step-3-sync-with-hive, it shows how both the tables should be created.

Can you create a new table with MERGE_ON_READ storage type and try syncing it again just to confirm that it doesn

[2019-04-26 03:03] zk19930911 commented on #654
0.4.5version;I refer to HoodieClientExample class，
code is
       newCommitTime = client.startCommit();
       logger.info("Starting commit " + newCommitTime);
       records.addAll(dataGen.generateUpdates(newCommitTime, 100));
       writeRecords = jsc.<HoodieRecord>parallelize(records, 1);
       client.upsert(writeRecords, newCommitTime);
60s upsert once
Many small parquet files  in per upsert

[2019-04-26 05:28] n3nash commented on #654
@zk19930911
Can you please share your HoodieWriteConfig ?

[2019-04-26 10:41] zk19930911 commented on #654
@n3nash  Hello
Path path = new Path(url);
                FileSystem fs = FSUtils.getFs(url, sc.hadoopConfiguration());
                if (!fs.exists(path)) {
                    HoodieTableMetaClient.initTableType(sc.hadoopConfiguration(), url, HoodieTableType.COPY_ON_WRITE, HivetableName, HoodieAvroPayload.class.getName());
                }
                HoodieWriteConfig cfg = HoodieWriteCo

[2019-04-26 10:55] sidnakoppa commented on #652
Thank you ,I was able to create tables using sync tool and I have posted the followup query in mailing list.

As suggested I run the set again.Below are the result

after multiple updates to same record ,the generated  log.1 has multiple instances of the same record.
At this point the updated record is not fetched.(n-1)th record is fetched.

[code]

PS : I tried the same set running the sync tool

[2019-04-29 18:42] vinothchandar commented on #654
are you programming agains the RDD api? https://hudi.apache.org/configurations.html#limitFileSize controls the size of the parquet file produced and setting this https://hudi.apache.org/configurations.html#compactionSmallFileSize to a value close the limitFileSize (say 100MB) should ensure small file handling kicks in

[2019-05-01 23:16] vinothchandar commented on #654
any updates?

[2019-05-01 23:17] vinothchandar commented on #643
#650 fixes this and we already have a jira so closing..

[2019-05-01 23:17] #643 closed

[2019-05-02 04:09] vinothchandar opened #661 "Tracking ticket for reporting Hudi usages from the community"
If you are using Hudi, it would awesome to hear from you and have you share this with the community. This way we can keep investing more in making Hudi, the better as a holistic open source big data storage solution.

[2019-05-02 05:04] tcbakes commented on #661
Not using it in prod yet, but very early stages of investigating its usage for ingestion use cases at Intuit.

[2019-05-02 07:43] rtjarvis commented on #661
At EMIS Health ([https://www.emishealth.com/]) we're using HUDI in production on AWS. We're the largest provider of Primary Care IT software in the UK and store over 500Bn healthcare records.

We use HUDI as a way to keep our analytics platform up-to-date from the source. We use Presto to query the data that is written.

We've only been using it for about 6 months - so far so good though!

[2019-05-02 17:37] sivachinni commented on #143
Please add me to slack channel- siva.rajesh@gmail.com. Already subscribed to mailing list. Thanks!

[2019-05-05 09:46] zk19930911 commented on #654
@vinothchandar  many updates

[2019-05-05 13:28] leilinen commented on #661
We are exploring incremental data updates with HUDI, and rewrited code of consuming data.  We hope HUDI help us increase incremental data write speed and save computing resouces. Now we are still in the exploration stage. It seems good for our needs.

[2019-05-05 13:33] leilinen opened #663 "Cannot query real time table"
Hi

I have written data into hdfs with hoodie, and sync hive table by hoodie-hive tool. It create a hoodie table and a hoodie real time table. when I query data from table, execute command like this:

[code]

It queried successfully to table hudi.waybill_table7 but got a null exception of hudi.waybill_table7_rt.

[code]

 The real time table structure like this:

[code]
My hoodie version is 0.4.6

[2019-05-05 13:43] SemanticBeeng commented on #661
Built a production grade file based data lake for Yields.io.
Building infrastructure for incremental, cross language/platform `machine learning` (feature store, JVM to Python `data fabric`, etc).
Wip on designing `HudiLink`: a way to use `Hudi` as data layer from `Apache Fink`  (this is _not_ about mixing the `Spark` and `Fink` programming models)

[2019-05-06 06:25] zk19930911 commented on #654
434051 2019-05-06 11:52 /user/～/3491f3dab4cc_0_20190506115250.parquet
434073 2019-05-06 11:58 /user/～/449d3edde4d6_0_20190506115810.parquet
434051 2019-05-06 11:53 /user/～/d4dd99e1bcac_0_20190506115340.parquet
434117 2019-05-06 11:51 /user/～/d2307c35cd17_0_20190506115141.parquet
all small files

[2019-05-06 13:09] JinHai-CN opened #668 "Question on Schema service"
Hi Guys, we are trying HUDI and according to the article, I am very curious what is schema service in following picture:
https://1fykyq3mdn5r21tpna3wkdyi-wpengine.netdna-ssl.com/wp-content/uploads/2018/10/image3.png

Is this in HUDI or Marmaray?

[2019-05-06 17:50] vinothchandar commented on #668
This is a schema service similar to the https://github.com/confluentinc/schema-registry built at Uber. Hudi deltastreamer works with the Confluent one.. There is also https://hortonworks.com/open-source/schema-registry/ which I have not used myself. Hope that helps!

please join our mailing list https://hudi.apache.org/community.html & post there, for faster responses in the future. :)

[2019-05-06 17:50] #668 closed

[2019-05-06 17:52] vinothchandar commented on #654
can you give us more information, so we can drill down?
https://github.com/apache/incubator-hudi/issues/654#issuecomment-487696347

[2019-05-06 17:52] vinothchandar commented on #663
Looking into it.

[2019-05-06 18:01] vinothchandar commented on #663
Seems like we cannot find a FileSlice corresponding to a parquet split

[code]

 First hint, I am suspecting if there is a bug due to pending compactions etc.. not sure though. I assume you are running MOR? If you share the listing of the partition path `waybill7/2019-04-19` it'd be helpful to debug..

[2019-05-06 19:20] n3nash commented on #654
@zk19930911 How much data do you ingest per batch ? Try reducing the following parallelisms :

`hoodie.bulkinsert.shuffle.parallelism` & `hoodie.insert.shuffle.parallelism` from 1500 to a lower value like say 300 if every batch that you're ingesting is not a lot. Say you want to write 512MB files, you have 1 GB worth of data, parallelism set to between 3 - 5 might suffice. Obviously it will increa

[2019-05-07 01:53] srinihacks commented on #143
Please add me to slack channel srinivasan@hackerrank.com

[2019-05-07 15:03] vinothchandar commented on #143
done.. Also please join our mailing list. https://hudi.apache.org/community.html !

[2019-05-13 13:28] arw357 commented on #489
I have reproduced the error with 0.4.5 - I managed to get around that by excluding netty and some other things from the spark-bundle ( which we are using )  .
[code]

[2019-05-13 15:27] jackwang2 opened #676 "Global dedup throws exception: Connection pool shut down"
19/05/13 12:55:15 INFO DAGScheduler: ResultStage 30 (count at HoodieSparkSqlWriter.scala:151) failed in 1.379 s due to Job aborted due to stage failure: Task 52 in stage 30.0 failed 4 times, most recent failure: Lost task 52.3 in stage 30.0 (TID 13983, ip-172-19-104-207, executor 32): java.lang.RuntimeException: com.uber.hoodie.exception.HoodieException: com.uber.hoodie.exception.HoodieException:

[2019-05-13 15:37] jackwang2 commented on #676
Environment:
1) Spark 2.3.1
2) Apache Hudi 0.4.5
3) The size of JSON data compressed in GZ format on S3 to dedup: 9.5GB

And the code is very simple:
[code]

[2019-05-13 15:45] tooptoop4 opened #677 "presto hoodie bundle giving error"
i followed
Copy the hudi/packaging/hoodie-presto-bundle/target/hoodie-presto-bundle-*.jar into $PRESTO_INSTALL/plugin/hive-hadoop2/
Startup your server and you should be able to query the same Hive table via Presto

but then presto startup got error (i am using presto v219, i've tried hoodie bundle of 4.5 and 4.6-SNAPSHOT but same error):

2019-05-13T15:39:30.335Z        ERROR   main    com.facebo

[2019-05-13 16:57] bvaradar commented on #676
@jackwang2 : We had a fix to allow  spark.executor.cores > 1 in master (not there in 0.4.5).

https://issues.apache.org/jira/browse/HUDI-27?jql=project%20%3D%20HUDI%20AND%20component%20%3D%20asf-migration

The issue you reported is likely the same one. Can you create a Hudi build against master and test it. We will be making a new release sometime this week.

Balaji.V

[2019-05-13 18:04] bvaradar commented on #677
@tooptoop4 :

Can you follow the suggestion mentioned in https://github.com/apache/incubator-hudi/issues/489#issuecomment-491822369 to see if it helps.

Also, Can you email to dev@ with the issue and the result of trying the change. This would greatly help others who are using Presto and they may also be able to share possible workarounds if present.

[2019-05-14 07:19] arw357 opened #681 "spark-bundle packaging shades HiveDriver"
In the pom that creates the spark-bundle you shade org.apache.hive  : [Here](https://github.com/apache/incubator-hudi/blob/master/packaging/hoodie-spark-bundle/pom.xml#L124)
In the HoodieHiveClient you use it unshaded:[here](https://github.com/apache/incubator-hudi/blob/master/hoodie-hive/src/main/java/com/uber/hoodie/hive/HoodieHiveClient.java#L59)
This leads to
[code]

[2019-05-16 03:10] bvaradar commented on #681
@arw357 :  The shading process is supposed to regex-replace  org.apache.hive.jdbc to com.uber.hoodie.org.apache.hive.jdbc in all call sites. Also , HoodieHiveClient resides in hoodie-hive which does not depend on the bundle directly. It is the other way round.

To confirm, you can do this
 jar tf $HUDI_SPARK_BUNDLE | grep HiveDriver
com/uber/hoodie/org/apache/hive/jdbc/HiveDriver.class
Now, unzip

[2019-05-16 03:10] bvaradar commented on #677
@tooptoop4 : Did it help ?

[2019-05-22 23:17] n3nash commented on #676
@jackwang2 Please reopen if the issue still persists.

[2019-05-22 23:17] #676 closed

[2019-05-22 23:17] vinothchandar commented on #663
Ping ping :)

[2019-05-22 23:18] n3nash commented on #654
@zk19930911 Please reopen if the issue still persists.

[2019-05-22 23:18] #654 closed

[2019-05-27 01:43] eisig opened #695 "quickstart demo stock_ticks_mor and stock_ticks_mor_rt return the same result"
I follow https://hudi.incubator.apache.org/docker_demo.html
Step 6(a): Run Hive Queries
The docs say that` ReadOptimized view will still return “10:29 am” as it will only read from the Parquet file. Realtime View will do on-the-fly merge and return latest committed data which is “10:59 a.m”.`
But I get the same result.

The code is the latest master brach(commit d0d2fa03379525e8156d5dc0adae9eb8526

[2019-05-28 04:21] bvaradar commented on #695
@eisig : Thanks for opening the issue. The defaults for inline compaction for DeltaStreamer recently changed to be enabled by default  causing both RO and RT table to be seeing the same version. This  is getting fixed by  https://github.com/apache/incubator-hudi/pull/696.

[2019-05-28 07:31] Zhujun-Vungle opened #697 "Hi, about spark retry problem, still exists in 0.4.6 with consistency on"
Running 0.4.6 version
Still had duplicate files due to spark retry, and caused by s3 file not found.
I didn't dig into the code details, but did we still generate new file id when retry?

Had set .option("hoodie.consistency.check.enabled", "true").
![image](https://user-images.githubusercontent.com/22140275/58459290-9730a500-815d-11e9-8799-1e484a73543c.png)

[2019-05-28 07:44] #697 closed

[2019-05-28 17:09] bvaradar commented on #697
@Zhujun-Vungle :  We have landed the Spark-Stage retry  https://github.com/apache/incubator-hudi/pull/651 master. 0.4.7 release is also around the corner.  Please try master or 0.4.7 once it is available. This should handle eventual consistency correctly.

Balaji.V

[2019-05-28 20:25] vinothchandar commented on #697
+1 also this is more about handling spark stage retries, not directly related to eventual consistency.. thats why consistencyChecks=on does not fix this issue

[2019-05-29 02:59] Zhujun-Vungle commented on #697
gotcha, thanks

[2019-05-30 04:01] #695 closed

[2019-05-30 04:03] eisig opened #704 "Shutdown hook was not called using spark on Kubernetes"
HoodieDeltaStreamer would not exit when running spark on k8s or spark on yarn

Should manual call jssc.stop() at the end of sync method to fix it?

[2019-05-30 09:19] cdmikechen opened #705 "hadoop 2.8.x miss RecoveryInProgressException class"
When compiling with hadoop version 2.8.4, I found that there is no longer `org.apache.hadoop.hdfs.protocol.RecoveryInProgressException` in `hadoop-hdfs-2.8.4` packge.
But I found that `com.uber.hoodie.common.table.log.HoodieLogFormatWriter` in `hoodie-common` import it with hadoop version 2.7.3. May be it can be replaced by a string in line 245 :
[code]
to
[code]

[2019-05-31 01:30] vinothchandar commented on #704
could you obtain a thread dump to see where its hanging?  vungle deploys hudi on k8s. have not heard this issue before.. thoughts?

[2019-05-31 01:31] vinothchandar commented on #705
@bvaradar @n3nash ?

[2019-06-04 10:03] NetsanetGeb opened #714 "Performance Comparison of HoodieDeltaStreamer and DataSourceAPI"
I am trying to ingest data using the DatasourceAPI and HoodieDeltaStreamer.
The ingestion latency of using DataSource API with the  HoodieSparkSQLWriter  is high compared to using delta streamer.Both datasource and deltastreamer use the same APIs. Why is it slow?  Are there specific option where we could specify to minimize the ingestion latency.

For example: when i run the delta streamer its tal

[2019-06-04 22:49] garyli1019 opened #715 "[Bug]Hudi 0.4.7 HoodieTable not found"
Hello, I am seeing `WARN  [com.uber.hoodie.table.HoodieTable] - InValid data paths=[]` when I upgraded to hoodie-spark-bundle 0.4.7. And Hudi not able to perform Upsert anymore. I am not using any existing dataset. I simply ran a job with `SaveMode.OverWrite` then ran an incremental job with `SaveMode.Append`. This warning appears in both jobs. The incremental portion has duplicate parquet files w

[2019-06-04 23:54] garyli1019 commented on #715
Update: The duplicate parquet files were caused by I didn't set up `withCleanerPolicy(policy = KEEP_LATEST_COMMITS)`.

[2019-06-05 00:03] vinothchandar commented on #714
Do both runs have same amount of data? Something like `WorkloadProfile.java:64` taking more time can only be explained by something like that... I also see that SparkSQL writer has even way more parallelism (6000). You can click inside the stage and see how the parallelism/input records compare?

[2019-06-05 00:19] bvaradar commented on #715
@garyli1019  The message "[com.uber.hoodie.table.HoodieTable] - InValid data paths=[] " should not cause duplicate records/files. From your latest comment, it seems to me that there are no issue. Let me know if it is otherwise.

[2019-06-05 08:56] NetsanetGeb commented on #714
Yes They have the same amount of data at the beginning as a source input.  But in the middle there are some differences. Not sure where they came from?

Stages of HoodieDeltaStreamer UI
![Stages of HoodieDeltaStreamer](https://user-images.githubusercontent.com/25975892/58943602-5a2d6980-8780-11e9-93a2-eec4a61bdc3d.png)

Stages of Datasource API Spark UI
![Stages of Datasource API UI](https://user-

[2019-06-05 15:25] amaranathv opened #716 "Class not found error in mapr platform"
I am getting below error while trying to do the quick start in our cluster environment.

I can able to do it successfully in mapr LIVE environment but not in our company environment.

Exception in thread "main" java.lang.NoSuchMethodError: org.apache.hadoop.hive.metastore.HiveMetaStoreClient.alter_table(Ljava/lang/String;Ljava/lang/String;Lorg/apache/hadoop/hive/metastore/api/Table;Z)V

I know the

[2019-06-05 18:14] garyli1019 commented on #715
Hi @bvaradar  yes, it didn't cause any duplicate.
In my case, I would like to directly read parquet without hoodie format, but the different version of commits won't let me do so. By setting `"hoodie.cleaner.commits.retained" -> "0"` solve my problem. Thanks!

[2019-06-05 18:14] #715 closed

[2019-06-05 21:17] vinothchandar commented on #714
My guess is , your parallelism 1500 is excessive for such low volume of data and the additional spark overhead is what you are seeing.. We set parallelism to 2 in tests for e.g for the same reason.
Can you set the datasource API parallelism to 2 as well and see? https://hudi.apache.org/configurations.html#withParallelism

[2019-06-05 23:10] bvaradar commented on #704
@eisig : Any updates on this issue ?

[2019-06-05 23:21] bvaradar commented on #716
@amaranathv  It looks like you have compiled Hudi with Hive 1.x but the docker setup has Hive 2.x . HiveMetaStoreClient.alter_table function signature has changed between Hive 1.x and Hive 2.x

[2019-06-05 23:46] bvaradar commented on #677
Closing this due to inactivity. Please reopen if issue persists.

[2019-06-05 23:46] #677 closed

[2019-06-05 23:47] bvaradar commented on #681
@arw357 : Were you able to resolve the problem ?

[2019-06-05 23:47] bvaradar commented on #663
Closing this due to inactivity. Please reopen if issue persists.

[2019-06-05 23:47] #663 closed

[2019-06-05 23:48] bvaradar commented on #498
Resolved.

[2019-06-05 23:48] #498 closed

[2019-06-05 23:50] bvaradar commented on #588
Closing this due to inactivity. Please reopen if issue persists.

[2019-06-05 23:50] #588 closed

[2019-06-06 01:28] bvaradar commented on #715
@garyli1019 : The Cleaner policy sounds good. But, this would only work when you are NOT querying the data during the time write is happening.

[2019-06-06 04:38] garyli1019 commented on #715
@bvaradar  What will be the consequence of that? Based on my understanding, hudi will generate a new version first, then the cleaner will delete the old version. Do you mean it will fail to delete the old file if I am querying the data?

[2019-06-06 05:07] bvaradar commented on #715
@garyli1019 : Yes, Hudi will generate a new version first and then cleaner will delete old version.  If the reader doesn't recognize Hudi format (if using Parquet format directly), then there is no snapshot isolation guarantee to reader.

Hudi writer will first create new version of parquet files in place before committing and running cleaner.  When you run a query around this time treating the da

[2019-06-06 05:33] garyli1019 commented on #715
@bvaradar  Gotcha, I am trying to use impala to read the data.
Currently, my approach is to maintain a single version of parquet. Impala table links to parquet files, and if the parquet file was deleted, I guess there will be some errors when running query. I will run a refresh job to relink impala table to new version parquet files after hudi finish writing. The gap will be after hudi delete the

[2019-06-06 09:18] eisig commented on #704
I just call  jssc.stop() right now.
It always happen event with the office spark example.

Build the image following the office docs(https://spark.apache.org/docs/latest/running-on-kubernetes.html#docker-images)
Run the simple JavaSparkPi( https://github.com/apache/spark/blob/master/examples/src/main/java/org/apache/spark/examples/JavaSparkPi.java).
If I comment out the 'spark.stop();`  The driver

[2019-06-06 16:15] arw357 commented on #681
Yup , I fixed on the spot then - I forgot how , but it's sure that what you wrote is correct - I tested on the version that I tried and it's correct.

[2019-06-06 16:15] #681 closed

[2019-06-07 04:28] garyli1019 commented on #179
Hello, is there any plan to add Impala support in the future? I am happy to look into it. I am pretty new to impala as well.

[2019-06-07 13:38] vinothchandar commented on #179
@garyli1019 yes love to support it. If you can drive it, that'd be awesome. It seemed doable back when I checked it out.  We can create a HUDI jira on this. Please join the mailing list if interested and give us your jira id. I can add you into contributors group.

[2019-06-07 13:59] vinothchandar commented on #715
lets work on the other thread. Impala integration won't be very hard I think, but we will need to engage with the project and make a code change like we did for Presto

[2019-06-07 15:19] vinothchandar commented on #704
Thanks for testing it out.. In that case, may be we can stop the spark context in this line in the main method?

https://github.com/apache/incubator-hudi/blob/a7e6cf51974f96c6b4bc945db25658cbb4bc48c7/hoodie-utilities/src/main/java/com/uber/hoodie/utilities/deltastreamer/HoodieDeltaStreamer.java#L469

are you interested in opening a small PR?

[2019-06-07 15:39] amaranathv commented on #716
thanks for your reply.
But i used below maven command only.
mvn clean install -DskipTests -DskipITs

[2019-06-07 15:51] NetsanetGeb commented on #714
@vinothchandar Thanks,  now the performance is similar after i set the parallelism to 2.
They have only few second difference.  Since setting high parallelism for low volume of data is causing in high data ingestion latency. When should we start increasing the parallelism for getting low data latency (What volume of data as a threshold )?

[2019-06-07 16:06] amaranathv commented on #661
I am doing POC on MapR platform to build the datafabric in incremental fashion and for ETL offload needs.

[2019-06-07 16:25] amaranathv commented on #716
I used mapR live online with hive 2.3 without any issues.But same thing is not working for hive 2.1 in our environment.
I used same build command on both the environment.

[2019-06-07 16:51] garyli1019 commented on #179
@vinothchandar I was already in the mailing list. My JIRA id was: garyli1019. Thanks!

[2019-06-07 17:44] vinothchandar commented on #179
Made a https://issues.apache.org/jira/browse/HUDI-146 and assigned to you for now.. We can work together on this there.. Please let me know if you have thoughts on getting started

[2019-06-07 17:53] #179 closed

[2019-06-07 17:58] vinothchandar commented on #714
Great!
Hudi writing is just an (advanced) spark job, so scaling tips that apply for spark also apply here generally. Defaults were tuned to 1500, to help handle upto 500GB input by default. I would increase parallelism by 1 for every 1GB of additional data (rough guess, you can easily experiment with values and see).. Please close this issue if things look good.

[2019-06-07 18:04] vinothchandar commented on #661
@leilinen @amaranathv do you mind providing details of your organizations/teams to add to the blurb

[2019-06-07 23:25] chandresh-pancholi commented on #297
Hi, This task has been unassigned. I would like to pick this up. Could you please help me out here? Where to start

[2019-06-07 23:29] vinothchandar commented on #297
@chandresh-pancholi if you give us your jira id, I can assign HUDI-62 to you. is that something you are interested in?

[2019-06-08 10:15] NetsanetGeb commented on #714
Thanks.  This is so helpful.

[2019-06-09 18:50] MaxStepQ opened #724 "Question. jdbc oracle"
Hello!
My global goal is to efficiently load increments (new records) and fields that have changed from Oracle DB to Hadoop. In all examples you are using kafka.
is it possible to use this construction and will the query in oracle be efficient ?

[code]

Thank you in advance !

[2019-06-10 03:36] vinothchandar commented on #724
Hi.  Yes. you can use any Spark datasource to extract a dataframe and write it out as Hudi dataset. High level, seems like you are looking for efficient ways of tailing Oracle via JDBC. In that case, there are probably tools like Sqoop, Kafka Connect (have not use it myself) that can help extract from Oracle nicely?. Happy to help more, but there are general spark/oracle issues.

Also please join

[2019-06-10 05:48] eisig commented on #704
I have another problem. If I add `--filter-dupes`, even if I stop the spark context, the driver will not exit after the executors exit. So I need to test more.

[2019-06-10 09:42] eisig commented on #704
@vinothchandar , If I add --filter-dupes, the spark job could not exit.
It could be reproduced by  following  https://hudi.apache.org/docker_demo.html with the  master branch。
add --filter-dupes to step2

[2019-06-11 16:30] vinothchandar commented on #704
That is weird. let me repro and get back.

[2019-06-11 20:15] bvaradar commented on #704
@eisig : We found the issue. It is caused by not properly shutting down a client which is opened in the filter-dupes path.
Have a PR https://github.com/apache/incubator-hudi/pull/725
We will merge it hopefully soon but meanwhile you can use this PR and try.

[2019-06-12 07:16] cdmikechen commented on #550
I added some exclusions in `hoodie-spark` and `hoodie-spark-bundle`, and then reinstalled hoodie with maven.
[code]
SpringBoot can run now.

[2019-06-12 08:49] karolchmist commented on #549
https://issues.apache.org/jira/browse/HUDI-12 points to this PR : https://github.com/apache/incubator-hudi/pull/638

[2019-06-12 09:36] Limmen commented on #143
Hi! Can I be added to slack please? kim@logicalclocks.com
I already joined the mailinglist.
Cheers, Kim

[2019-06-12 15:09] bvaradar commented on #704
This is merged.

[2019-06-12 15:09] #704 closed

[2019-06-12 23:10] n3nash commented on #716
Most likely your environment is bringing some Hive 1.x jar and the class loader is loading classes from there. The method signature of alter_table indicates this. Please try to ensure you use Hive 2.3 in your env  as well (since it worked) and that no other hive 1.x libs are present.

[2019-06-12 23:10] vinothchandar commented on #724
Closing, please reopen if needed

[2019-06-12 23:10] #724 closed

[2019-06-14 01:29] cdmikechen opened #734 "How to upsert data just with memory"
I found that there is a `hoodie.write.status.storage.level` configuration in `HoodieWriteConfig` , so I tried to update a row in a hoodie table (750 rows and 400KB). But when using spark to update a row to hoodie , hoodie still shuffle data to disk and not only use memory, and it will take more time.
![image](https://github.com/cdmikechen/image/blob/master/20190614.png)
I think if data is small ,

[2019-06-14 02:50] rbhartia commented on #705
Seems like this is due to hoodie-common POM using the hadoop-common and hadoop-hdfs modules with tests classifier. I was able to hoodie to build against 2.8.4 by simply adding these modules in hoodie-common pom.xml.

    <dependency>
      <groupId>org.apache.hadoop</groupId>
      <artifactId>hadoop-hdfs</artifactId>
    </dependency>
    <dependency>
      <groupId>org.apache.hadoop</groupId>

[2019-06-14 07:00] Gowthamsb12 opened #735 "Failed to instantiate SLF4J LoggerFactory"
Facing "Failed to instantiate SLF4J LoggerFactory" this log error while running
./run_sync_tool.sh  <with all the needed parameters> . and I am getting this error after setting HADOOP_HOME and HIVE_HOME

I am using HDP 3 with Hadoop version 3.

Complete Error log
`java.lang.NoClassDefFoundError: org/apache/log4j/Level
        at com.uber.hoodie.org.slf4j.LoggerFactory.bind(LoggerFactory.java:128)

[2019-06-14 09:10] cdmikechen opened #736 "hoodie-hive-hundle don't have hive jars"
when using `run_sync_tool.sh` to sync a table like that:
[code]
hoodie return this error:
[code]
I found this class is in in `hoodie-hive-bundle` pom (`hive-metastore`), but when packaged a `hoodie-hive-bundle-0.4.8-SNAPSHOT.jar`, this class is missing. And in `run_sync_tool.sh`, it doesn't include hive lib about `hive-metastore` and its dependencies lib.
I think maybe we can include hive jars in

[2019-06-14 21:29] tokaaron commented on #705
Opened PR:

https://github.com/apache/incubator-hudi/pull/739

[2019-06-16 04:09] amaranathv commented on #715
I am also getting similar kind of issue in MapR Hadoop distribution.
spark-submit --master yarn  --class com.uber.hoodie.utilities.deltastreamer.HoodieDeltaStreamer `ls /mapr/user/avenka23/hoodie/incubator-hudi/hoodie-utilities/target/hoodie-utilities-*-SNAPSHOT.jar`   --props file:///mapr/user/avenka23/delta-streamer/config/dfs-source.properties   --schemaprovider-class com.uber.hoodie.utilities.

[2019-06-17 00:44] cdmikechen commented on #735
HDP have a different maven dependency like (https://mvnrepository.com/artifact/org.apache.hadoop/hadoop-common?repo=hortonworks-releases)
[code]
maybe you can replace hadoop ,spark, hive's version and repackage hoodie and then try again.

[2019-06-17 00:45] cdmikechen commented on #735
HDP have a different maven dependency like (https://mvnrepository.com/artifact/org.apache.hadoop/hadoop-common?repo=hortonworks-releases)
[code]
Maybe you can replace hadoop ,spark, hive's version and repackage hoodie and then try again.

[2019-06-17 19:16] amaranathv opened #741 "java.lang.NoClassDefFoundError: com/uber/hoodie/exception/HoodieException"
I am getting below error after the maven rebuild(today) and running the delta-streamer command.
It was working fine previously with other issues.

java.lang.NoClassDefFoundError: com/uber/hoodie/exception/HoodieException

$ jar -tvf hoodie-utilities-0.4.8-SNAPSHOT.jar
     0 Mon Jun 17 11:08:48 CDT 2019 META-INF/
   134 Mon Jun 17 11:08:48 CDT 2019 META-INF/MANIFEST.MF
     0 Mon Jun 17 11:08:46 C

[2019-06-17 19:16] amaranathv commented on #741
Can you please help me on this one?

[2019-06-18 01:22] vinothchandar commented on #741
@amaranathv sorry about that. can you use `hoodie-utilities-bundle` jar instead of hoodie-utilities? The docs have been updated in the *.md files, but the site has not been regenerated yet.
https://github.com/apache/incubator-hudi/blob/asf-site/docs/writing_data.md#deltastreamer

[2019-06-18 01:36] vinothchandar commented on #705
Left 1 comment.. otherwise looks good..

We are in fact plannign to do a small hackathon to understand and rethink jar packaging in Hudi. Let us know if there are more gaps or if you'd like to be a part of it.

[2019-06-18 01:38] vinothchandar commented on #735
yes.. building it for those specific hadoop versions could help. We have not yet tested on hadoop 3. Let us know if you run into issues..
Also please join our mailing list as well, for faster responses. https://hudi.apache.org/community.html

[2019-06-18 01:40] vinothchandar commented on #715
IIUC @garyli1019 got it working.. So your issue might be different?
Please open a new mailing list thread/issue?

[code]

this line is curious..

[2019-06-18 01:42] vinothchandar commented on #734
would changing the storage level for the write status help? In general, persisting that (disk or memory) is key to handling spark level retries/recomputations of that RDD :)

[2019-06-18 14:37] amaranathv commented on #741
I am getting invalid data path now.

 InValid data paths=[file:///mapr/user/avenka23/delta-streamer/output5/2018/08/31/fe957979-67f8-4b68-a371-6c789e81339c-0_0-21-23_20190618093523.parquet]

Is there any property needs to be set or environment variables?

I am trying to mimic the docker demo using deltastreamer command line to ingest data from json into hoodie data set.

$ spark-submit --master ya

[2019-06-19 04:55] vinothchandar commented on #736
We are revisiting jar/bundles ground up.. Will factor this in and get back.

you can find some progress in the hackathon-0619 branch

[2019-06-19 06:12] nadeemnehru opened #749 "mvn clean install -DskipTests -Dhadoop.version=2.6.0-cdh5.7.2 -Dhive.version=1.1.0-cdh5.7.2: Build Failure"
I am setting up hudi for the first time  on an Ubuntu 16.04 server. I cloned the repo https://github.com/apache/incubator-hudi.git and then changed the directory to incubator-hudi. I then proceeded to build hudi as

`mvn clean install -DskipTests -Dhadoop.version=2.6.0-cdh5.7.2 -Dhive.version=1.1.0-cdh5.7.2`
as is mentioned at https://hudi.incubator.apache.org/quickstart.html.

The command ended w

[2019-06-19 06:26] n3nash commented on #749
@nadeemnehru You can use `hoodie-0.4.7` release if you want to use Hive 1.x. Going forward, Hudi support Hive 2.x on-wards. We will soon update the docs (https://issues.apache.org/jira/browse/HUDI-160)

[2019-06-19 06:42] nadeemnehru commented on #749
Thanks @n3nash
I am really a beginner with maven. So would be grateful if you could share how I can undo the changes that happened by running:
`mvn clean install -DskipTests -Dhadoop.version=2.6.0-cdh5.7.2 -Dhive.version=1.1.0-cdh5.7.2`

Also I downloaded the source code archive for hoodie-0.4.7 from https://github.com/apache/incubator-hudi/archive/hoodie-0.4.7.tar.gz and extracted it.
Do I need t

[2019-06-19 06:49] n3nash commented on #749
You can checkout the hoodie `0.4.7` from here : https://github.com/apache/incubator-hudi/tree/hoodie-0.4.7 and then use `mvn clean install -DskipTests -DskipITs` to build it

[2019-06-19 07:20] nadeemnehru commented on #749
Thanks @n3nash
The build completed successfully for hoodie 0.4.7

[2019-06-19 08:15] #749 closed

[2019-06-19 18:34] amaranathv commented on #741
Can you please help on this to complete the POC.

[2019-06-19 20:43] bvaradar commented on #741
@amaranathv : The invalid dataset is not an error message per se.
Apache Hudi implements optimistic concurrency for guaranteeing Key uniqueness even in the face of Spark Stage level retries. This message merely indicates that some Stage level retry happened during ingestion and Hudi identified some duplicate files that got created. Hudi will remove this file before committing the data.
So, this me

[2019-06-19 21:39] amaranathv commented on #741
Spark status shows as success but i didn't see any output files in the target directory and also i didn't see any logs that shows sample records and other details .

[2019-06-19 21:39] amaranathv commented on #741
it is printing what ever i had attached in previous reply.

[2019-06-19 22:03] bvaradar commented on #741
@amaranathv : To debug further,  Can you "ls" .hoodie folder and cat all the the ".deltacommit/.commit" files.

Also, if possible Can you attach the get the spark logs  and Spark UI screenshot

[2019-06-20 08:27] katiefrost95 commented on #143
Hey, can I be added to the slack channel? - katiesfrost95@gmail.com, thanks

[2019-06-20 11:12] xuFabius opened #754 "InvalidSchemaException"
When I run ./run_hoodie_app.sh.  The program ended with InvalidSchemaException.

`
Exception in thread "main" java.lang.ExceptionInInitializerError
	at org.apache.spark.sql.execution.datasources.parquet.ParquetWriteSupport$$anonfun$setSchema$2.apply(ParquetWriteSupport.scala:444)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetWriteSupport$$anonfun$setSchema$2.apply(ParquetWriteSuppo

[2019-06-20 17:48] amaranathv commented on #741
avenka23@dbsld0031:/mapr/user/avenka23/delta-streamer/output8/2018/08/31
$ ls -al
total 2
drwxr-x---. 2 avenka23 dce  2 Jun 19 16:42 .
drwxr-x---. 3 avenka23 dce  1 Jun 19 16:42 ..
-rw-r--r--. 1 avenka23 dce 93 Jun 19 16:42 .hoodie_partition_metadata
-rw-r--r--. 1 avenka23 dce 12 Jun 19 16:42 ..hoodie_partition_metadata.crc
I am seeing only these files in the output path.

[2019-06-20 17:51] bvaradar commented on #741
@amaranathv :  No .hoodie ? Should be /mapr/user/avenka23/delta-streamer/output8/.hoodie

[2019-06-20 17:52] amaranathv commented on #741
No

[2019-06-20 17:53] amaranathv commented on #741
sorry..i have .hoodie

[2019-06-20 17:54] amaranathv commented on #741
$ cat 20190618132401.commit
{
  "partitionToWriteStats" : {
    "2018/08/31" : [ {
      "fileId" : "86f06040-14e7-4c0c-989b-72b2b59fe119-0",
      "path" : "file:/mapr/user/avenka23/delta-streamer/output7/2018/08/31/86f06040-14e7-4c0c-989b-72b2b59fe119-0_0-20-21_20190618132401.parquet",
      "prevCommit" : "null",
      "numWrites" : 197,
      "numDeletes" : 0,
      "numUpdateWrites" : 0,

[2019-06-20 17:58] amaranathv commented on #741
![image](https://user-images.githubusercontent.com/51413224/59870418-2135ed00-935b-11e9-8d17-9494efca1918.png)

[2019-06-20 18:09] bvaradar commented on #741
@amaranathv : From the commit, it looks like you are writing to local file system

file:/mapr/user/avenka23/delta-streamer/output7/2018/08/31/86f06040-14e7-4c0c-989b-72b2b59fe119-0_0-20-21_20190618132401.parquet

If you are running this in a cluster setup (docker/non-docker), the file might have been wriiten in some executor host's local file-system. Use hdfs or cloud storage.

[2019-06-20 18:41] amaranathv commented on #741
Thanks! I will check and revert back...

[2019-06-20 19:03] amaranathv commented on #741
I am getting below error.

Caused by: com.uber.hoodie.exception.HoodieException: java.util.concurrent.ExecutionException: java.lang.IllegalArgumentException: BlockAlignedAvroParquetWriter does not support scheme maprfs

19/06/20 14:00:32 WARN Utils: Service 'SparkUI' could not bind on port 4240. Attempting port 4241.
19/06/20 14:00:32 WARN Utils: Service 'SparkUI' could not bind on port 4241. Atte

[2019-06-20 19:03] amaranathv commented on #741
Is it because of MapR Hadoop distribution?

[2019-06-20 19:10] amaranathv commented on #741
![image](https://user-images.githubusercontent.com/51413224/59874957-2c8e1600-9365-11e9-9b8f-30b4c34a2690.png)

[2019-06-20 19:12] amaranathv commented on #741
Please bear with me for too many questions..If it is cloudera distribution i shouldn't been asking these many question.

[2019-06-20 19:37] bvaradar commented on #741
@amaranathv : Can you rebuild Hudi with this patch https://github.com/apache/incubator-hudi/pull/756 and let me know if you are able to write. I can merge the PR if it works for you.

[2019-06-20 19:56] amaranathv commented on #741
I am rebuilding it.Will update the status once it is complete.

[2019-06-20 19:57] bvaradar commented on #741
@amaranathv : Thanks. Also join the mailing list and slack channel if you have not

[2019-06-20 20:20] RonBarabash commented on #661
Hey,
We are using Hudi at Yotpo for several usages.
Firstly, we integrated Hudi as a writer in our open source ETL framework: https://github.com/YotpoLtd/metorikku
We currently use it as an output writer for a CDC pipeline -
Events that are being generated from a database binlog streams to Kafka and then are written to S3. The cool thing with Hudi is that it helps maintain a consistent view of the

[2019-06-20 20:58] amaranathv commented on #741
I am part of mailing list.I will ad to slack channel soon.
It is working now.I can see the output files.

I am working on hive sync now.

[2019-06-20 21:37] amaranathv commented on #741
Hive sync is also complete and i can query the table as well..

Thanks! for your quick response.

[2019-06-20 21:53] bvaradar commented on #741
Awesome. Closing this issue.

[2019-06-20 21:53] #741 closed

[2019-06-21 01:20] cdmikechen commented on #754
Can you show your schema and write data?
In spark2.3, spark use avro1.7, if you want to use avro1.8, you need to replace your SPARK_HOME/jars/avro* to avro1.8.

[2019-06-21 02:04] xuFabius commented on #754
Thanks for cdmikechen's comment.

Data schema is 'com.uber.hoodie' . run_hoodie_app.sh is is hudi demo script in hoodie-spark project. My command is './run_hoodie_app.sh' without any parameter.  HoodieJavaApp launch spark on LOCAL model .

I had repleaced all arvo*-1.7 to avro*-1.8 but  return the same InvalidSchemaException

[2019-06-21 05:45] cdmikechen commented on #754
When I moved some hive2.* jars to SPARK_HOME/jars/ and then wrote some data to parquet, it reported error like that. Were you doing something like this?

[2019-06-21 08:31] cdmikechen opened #757 "spark-hoodie-bundle using hive-serde to sync hive table(Hive2.3.5)"
When setting `hoodie.datasource.hive_sync.enable` to true, I found we need to set `hive.metastore.filter.hook` from `org.apache.hadoop.hive.metastore.DefaultMetaStoreFilterHookImpl` to `com.uber.hoodie.org.apache.hadoop_hive.metastore.DefaultMetaStoreFilterHookImpl` in hive-site.xml or hive config (hive 2.3.5 and spark 2.3.3). Otherwise maybe hoodie report error like https://github.com/apache/incu

[2019-06-21 08:34] cdmikechen commented on #757
I'm testing Hive table to select a non-partition table, but when spark finished sync hoodie to hive, I found select 0 rows..
I'm looking for the reason.

[2019-06-22 22:25] bvaradar commented on #757
@cdmikechen : See if there is any inconsistencies w.r.t basePath in tableDescription.  Do you see a directory called "default" under basePath. Can you paste the output of "ls -a" in basePath and also the table description

[2019-06-24 00:31] cdmikechen commented on #757
@bvaradar Yeah, I have found this problem, I didn't use NonpartitionedKeyGenerator to insert data to non-partition table. So that it has a "default" path, Hive can not read non-partition table with a "default" path.

[2019-06-24 01:25] cdmikechen commented on #543
add a comment in https://issues.apache.org/jira/browse/HUDI-91

[2019-06-24 05:55] eisig commented on #736
@cdmikechen
Do you have set hive metastore uris in the hive config file?
or export an env
`export HOODIE_ENV_hive_DOT_metastore_DOT_uris="thrift://xx.xx.xx.xx:9083"`

[2019-06-24 06:59] cdmikechen commented on #736
@eisig
have set. I run shell with all hive jars like that:
[code]
and it can run.

[2019-06-24 16:04] #716 closed

[2019-06-24 16:06] amaranathv commented on #143
Hey, can I be added to the slack channel?  - amarnath.venkataswamy@gmail.com

[2019-06-24 20:41] shinray commented on #143
Please add shinray_kuo@intuit.com to slack! Already joined the mailing list.

[2019-06-24 20:47] amaranathv opened #759 "Deltastreamer not working in non partition table"

[2019-06-24 20:49] amaranathv commented on #759
Hive sync is failing when i try to create hoodie data set using deltastreamer without any partition column.

creating the output files with default folder after base path.

/stock_ticks_cow_no_part1/default/5f41f4c6-a334-4e73-a8b9-03303335c0df-0_0-20-21_20190624093814.parquet

[2019-06-24 21:57] bvaradar commented on #759
@amaranathv

Apart from changing the partition extractor class, you would need to change the keyGeneratorClass for non-partitioned table.

Use this param "--key-generator-class com.uber.hoodie.NonpartitionedKeyGenerator" as part of DeltaStreamer command-line execution.

Also, ensure we have the following configs defined in the properties file used by delta-streamer:

hoodie.datasource.write.keygen

[2019-06-24 22:00] bvaradar commented on #757
Thanks @cdmikechen

Also add the below config in the properties file.

hoodie.datasource.write.keygenerator.class=com.uber.hoodie.NonpartitionedKeyGenerator

We will eventually remove the DeltaStreamer CLI and rely on the properties config for uniform handling.

[2019-06-24 22:01] bvaradar commented on #757
@amaranathv :  FYI

[2019-06-25 16:38] amaranathv commented on #759
Is hive sync needed for non partition table?

Without hive sync i can able to query the table but if i try to re-run same command with second json file as in docker example I am unable to run the command.

Getting below error :

[Stage 1:=============================>                             (1 + 1) / 2]19/06/25 11:31:46 WARN TaskSetManager: Lost task 1.0 in stage 1.0 (TID 2, dbsld0070.uhc.com

[2019-06-26 02:56] amaranathv commented on #759
Can you please  anyone respond to this?

This might be some simple configuration or rebuild required.

I am getting below error while doing the hive synch.

2019-06-25 21:54:31,374 INFO  [main] hive.HoodieHiveClient (HoodieHiveClient.java:getPartitionsWrittenToSince(556)) - Last commit time synced is not known, listing all partitions in /********/stock_ticks_cow_no_part4,FS :com.mapr.fs.MapRFileSy

[2019-06-26 04:34] xuFabius commented on #754
Yes. My hive version is 2.3.5 .  it seems HoodieJavaApp can't work on hive 2

[2019-06-26 08:29] xuFabius commented on #754
HI cdmikechen, this problem had been resolved. hive-2.3.* is built on parquet-1.8.1.  I had rebuild hive-2.3.5 on parquet-1.8.3 and HoodieJavaApp runs well.

thanks

[2019-06-26 09:50] #754 closed

[2019-06-26 12:46] vinothchandar commented on #759
@amaranathv is the following taking effect? I still see the SlashEncodedDayPartitionValueExtractor being in use? `hoodie.datasource.hive_sync.partition_extractor_class=com.uber.hoodie.hive.NonPartitionedExtractor`

Also did you get past the issue pasted above the hive sync one?

[2019-06-26 15:07] amaranathv commented on #759
I didn't get your answer on this one.
hoodie.datasource.hive_sync.partition_extractor_class=com.uber.hoodie.hive.NonPartitionedExtractor

I am setting above property in property file.
No.I am unable to complete the hive sync successfully after first ingestion.

[2019-06-26 15:18] amaranathv commented on #759
got it..I added this class and it works.
-partition-value-extractor  com.uber.hoodie.hive.NonPartitionedExtractor

[2019-06-26 15:21] amaranathv commented on #759
hive sync is complete but my second ingestion to same table fails with same error.
Caused by: java.lang.IllegalArgumentException: Can not create a Path from an empty string
        at org.apache.hadoop.fs.Path.checkPathArg(Path.java:130)
        at org.apache.hadoop.fs.Path.<init>(Path.java:138)
        at org.apache.hadoop.fs.Path.<init>(Path.java:92)
        at com.uber.hoodie.table.HoodieCopyOn

[2019-06-26 15:24] amaranathv commented on #759
If i change the target base path and table name it is working but not for the existing table.

[2019-06-26 15:28] amaranathv commented on #759
![image](https://user-images.githubusercontent.com/51413224/60193344-1ec11080-97fd-11e9-9067-903a87868cd7.png)
![image](https://user-images.githubusercontent.com/51413224/60193367-2c769600-97fd-11e9-9612-c57748222495.png)

[2019-06-26 16:19] amaranathv commented on #759
Job aborted due to stage failure: Task 0 in stage 4.0 failed 4 times, most recent failure: Lost task 0.3 in stage 4.0 (TID 10, dbsls0406.uhc.com, executor 1): java.lang.IllegalArgumentException: Can not create a Path from an empty string 	at org.apache.hadoop.fs.Path.checkPathArg(Path.java:130) 	at org.apache.hadoop.fs.Path.<init>(Path.java:138) 	at org.apache.hadoop.fs.Path.<init>(Path.java:92)

[2019-06-26 16:20] amaranathv commented on #759
This is latest error logs.Hopefully it will helpful to trace the issue.

[2019-06-26 17:25] vinothchandar commented on #759
@amaranathv thanks.. will take a closer look. Must be some config issue again..

[2019-06-26 19:34] bvaradar commented on #759
@amaranathv : We have fixed this issue in a PR https://github.com/apache/incubator-hudi/pull/760 This will be merged sometime today after some more safety tests.  For your POC, can you use this patch and ensure everything works end-to-end for you for non-partitioned table.

Thanks
Balaji.V

[2019-06-26 20:38] amaranathv commented on #759
Is there any environment vaaibles needed to apply the patch?
I am getting below error.

$ curl -L https://github.com/apache/incubator-hudi/pull/760.patch > /tmp/760.patch
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   147    0   147    0     0    272      0 --:--:-- --:--:-- --:--:-

[2019-06-26 20:47] vinothchandar commented on #759
Easiest would be just try out master branch, by building it yourself.. if not, you can just `git cherry-pick` that commit alone to your branch.. Thats way more reliable

[2019-06-27 03:48] amaranathv commented on #759
I am getting same issue again.

[2019-06-27 04:03] amaranathv commented on #759
I am getting new error after i rerun same command with different output folder.

ERROR :

19/06/26 22:59:25 WARN SchedulerConfGenerator: Job Scheduling Configs will not be in effect as spark.scheduler.mode is not set to FAIR at instatiation time. Continuing without scheduling configs
19/06/26 22:59:29 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading lib

[2019-06-27 04:18] amaranathv commented on #759
I am getting new error after rerun with different output path.

19/06/26 22:59:58 ERROR FileSystemViewHandler: Got runtime exception servicing request partition=&basepath=%2Fdatalake%2Foptum%2Foptuminsight%2Fudw%2Fhive%2Fwarehouse%2Fstock_ticks_cow_no_part10&fileid=1349e964-8d2a-4928-a127-341cc33f37b8-0&lastinstantts=20190626224954&timelinehash=f3ed651effeb6c16de70cd22ee8d49758b4bd189b97d219a43a2d

[2019-06-27 04:46] bvaradar commented on #759
@amaranathv : Can you disable embedded timeline-server to unblock:

set hoodie.embed.timeline.server=false
and also remove the config hoodie.filesystem.view.type

I will look into why this is happening

Balaji.V

[2019-06-27 09:20] jackwang2 opened #764 "Hoodie 0.4.7: Error upserting bucketType UPDATE for partition #, No value present"
[code]

I use the AWS S3 as storage, and the piece of code likes below
[code]
Highly appreciate it if you show any ideas?

[2019-06-27 14:14] amaranathv commented on #759
I didn't have hoodie.filesystem.view.type in property  file

[2019-06-27 14:25] bvaradar commented on #759
Did you try setting  hoodie.embed.timeline.server=false ?

[2019-06-27 14:38] amaranathv commented on #759
I am not getting any error but i didn't see any output for the second ingestion.Empty stages in Spark History UI.

[2019-06-27 14:44] amaranathv commented on #759
I can setup a webex if you need to debug.

[2019-06-27 18:52] vinothchandar commented on #764
Looks similar to https://issues.apache.org/jira/browse/HUDI-116 , although 0.4.7 should have the fix already.. Seems like a tagging issue again? are you able to trim the data down and give me a reproducible case?

And for context, you upgraded to 0.4.7 and it started failing right away?  were things working fine in prior version (can you share that?)

@bvaradar @n3nash as well..

[2019-06-27 19:55] bvaradar commented on #759
Yeah, it is hard to understand with this setup. Please setup a webex either tonight or tomorrow ( between 9 p.m - 11 p.m PST works for me) and email me.

[2019-06-27 20:30] amaranathv commented on #759
sure..

[2019-06-28 04:54] jackwang2 commented on #764
@vinothchandar Thanks for looking this. Yes, seems the version of 0.4.7 is not compatible with 0.4.6, and it throws exception like below, but I use the new version 0.4.7 and write data to a new location to skip the `compatible issue`.

19/06/25 12:37:51 INFO HoodieCommitArchiveLog: Archiving instants [[20190618193930_cleanCOMPLETED], [20190618201752cleanCOMPLETED], [20190618204851cleanCOMPLETED],

[2019-06-28 06:32] eisig opened #766 "HoodieDeltaStreamer asyncCompactService is not closed, docker_demo won't exit."
follow https://hudi.apache.org/docker_demo.html
step 2 spark job to sync to MERGE_ON_READ table would not exit.

here is log:
[code]

[2019-06-28 07:01] NadeemMehraj opened #767 "spark-submit: java.util.NoSuchElementException: spark.scheduler.mode"
I am trying to setup Apache Hudi on an Ubuntu 16.04 server. I cloned the repo https://github.com/apache/incubator-hudi.git and then build it as

`mvn clean install -DskipTests -DskipITs`

The build completed successfully.

I then proceeded with testing by following through https://hudi.incubator.apache.org/docker_demo.html

When I try to execute

`spark-submit --class com.uber.hoodie.utilities.del

[2019-06-28 09:07] hotienvu commented on #767
Are you running the latest version? This issue has been fixed here? https://github.com/apache/incubator-hudi/pull/758

[2019-06-28 09:53] NadeemMehraj commented on #767
Thanks @hotienvu
I cloned the repo again and the issue does not occur

[2019-06-28 15:07] vinothchandar commented on #767
Thanks @hotienvu .. yes we are stabilizing things (landed 3 large changes recently) and will make a stable 0.4.8-SNAPSHOT or the first apache release in few weeks..

[2019-06-28 15:07] #767 closed

[2019-06-28 17:56] vinothchandar commented on #766
#760 should fix this? This was introduced by the long running/continuous mode in deltastreamer. There is a JIRA for making the demo run as a test. any takers? :)

[2019-06-28 17:59] vinothchandar commented on #764
@jackwang2 there should not be any compatibility issues between 0.4.6 and 0.4.7.
So there are two issues you are facing?
- Do you still run into the `No value present` issue?
- I will look at this new stack trace later today.

[2019-06-29 21:36] garyli1019 opened #768 "No Space Left On Device for upsert"
Hello, I am experiencing `No Space Left On Device` error on upserting and it always happened in one stage. I believe this might caused by `/tmp` is too small. I tried to change `spark.local.dir` to somewhere larger but it didn't help. Based on this answer: https://community.hortonworks.com/content/supportkb/186401/why-is-spark-filling-the-tmp-folder.html, I might need to ask my IT team to increase

[2019-06-30 08:19] chandresh-pancholi opened #769 ""getting started" link is not found"
https://hudi.incubator.apache.org/tag_getting_started.html

[2019-07-01 05:43] cdmikechen commented on #759
@amaranathv
you can see this pr: https://github.com/apache/incubator-hudi/pull/771.
I fixed `Can not create a Path from an empty string` error

[2019-07-01 07:58] hotienvu opened #772 "Reason for shading for hudi-timeline-service?"
I'm trying to us hoodie-spark as a dependency in my spark project (2.3.1). There is some conflict with io.netty so I check the lib jar and found out hoodie-spark depends on hoodie-timeline-service which is an uber jar. This prevents me from overwriting netty when running the latest spark. What is the reason for packaging hoodie-timeline-service in such way?

[2019-07-01 17:52] bvaradar commented on #772
@hotienvu : Agree timeline-service should not be a fat-jar. We had made a fat jar to run some standalone tests but did not get it reverted.
We are reworking our bundling strategy in this PR https://github.com/apache/incubator-hudi/pull/751 to give a proper definition of what should be and what should not be bundled. I have already addressed timeline-service in that PR.

[2019-07-01 18:04] bvaradar commented on #769
@chandresh-pancholi : Can you tell me where did you find this ?  I am not able to find this link from https://hudi.incubator.apache.org/

[2019-07-01 18:46] ovj opened #773 "Updates to HoodieRecord are missing during MergeHandle with ExternalSpillableMap"
MergeHandle uses ExternalSpillableMap for storing all new inserts to a file. Today during merge handle if number of records which we are adding to a file are a lot then ExternalSpillableMap may end up writing it to disk and future updates done to in memory copy of HoodieRecord will not be reflected into on disk copy. This creates duplicate key issue if we are using HBaseIndex. Creating this issue

[2019-07-02 00:46] cdmikechen opened #774 "Matching question of the version in Spark and Hive2"
When I used spark 2.3.3 and hive 2.3.3 to test hoodie, I found that if spark session `enableHiveSupport()`, it will match hive version in `org.apache.spark.sql.hive.client.IsolatedClientLoader`.
[code]
If I use a higher hive version to do some sql like `sparksession.sql("use database")`, it report this error:
[code]
In QuickStart, it says hoodie can work in `spark-2.[1-3].x` with `hive-2.3.3`. So

[2019-07-02 01:48] hotienvu commented on #772
Good to know! Thanks @bvaradar.

[2019-07-02 01:48] #772 closed

[2019-07-02 05:23] #766 closed

[2019-07-02 21:40] bvaradar commented on #773
@ovj will be submitting this PR shortly

[2019-07-02 23:45] bvaradar commented on #759
Thanks @cdmikechen for your contribution.  Can you let us know if it works end-to-end for non-partitioned table after this PR ?

[2019-07-03 00:34] bvaradar commented on #774
@cdmikechen :  The spark (2.[1-3].x and  hive-2.3.x compatibility we referred is w.r.t Hudi. If I remember correctly, the demo setup https://hudi.apache.org/docker_demo.html has Spark 2.3.1 shell and I can see the commands running.

Maybe, I am missing some context about your question, but if you look at the demo, you can see the whole spark-hudi-hive integration working without seeing the excepti

[2019-07-03 01:26] cdmikechen commented on #774
@bvaradar  I added some configs in spark session refer to https://issues.apache.org/jira/browse/SPARK-18112
[code]
I think if we set `spark.sql.hive.metastore.version`, spark will not use basic hive-1.2.1 metastore in itself jars lib and check hive version and then use `org.apache.spark.sql.hive.client.IsolatedClientLoader`.

[2019-07-03 15:23] smdahmed opened #776 "Incorrect averageBytesPerRecord Causes OOM"
Historically I see an issue that has been closed at: https://github.com/apache/incubator-hudi/issues/270.

I am not sure what the fix was for the above issue.

I have hit the issue today. Lets say there are about thousands of records but none get written (which may happen in my case as we want to selectively write records. And I am not sure if this is supposed to happen in the case when this issue

[2019-07-08 18:39] amaranathv commented on #759
It is working.Sorry for late reply due to long weekend.I will show the demo  to my team by this week..
Thanks! for your support on this.

[2019-07-08 19:07] rishabhp commented on #498
Based on the current code, the correct way to hard delete is (tested in `COW` only):

[code]

[2019-07-08 19:08] rishabhp commented on #531
Based on the current code, the correct way to hard delete is (tested in `COW` only):

[code]

[2019-07-08 23:29] vinothchandar commented on #776
Closing in favor of JIRA HUDI-164

[2019-07-08 23:29] #776 closed

[2019-07-08 23:34] vinothchandar commented on #773
closing in favor of https://issues.apache.org/jira/projects/HUDI/issues/HUDI-163

[2019-07-08 23:34] #773 closed

[2019-07-08 23:36] vinothchandar commented on #768
@garyli1019 please post on the mailing list for faster responses..

is this the same issue as bumping up ulimit that was discussed on slack?

[2019-07-10 03:06] amaranathv commented on #764
I am facing similar issue while creating the MOR tables.Please take a look.

ERROR Log :

 spark-submit --master yarn  --class com.uber.hoodie.utilities.deltastreamer.HoodieDeltaStreamer `ls /mapr/user/avenka23/hoodie/incubator-hudi/packaging/hoodie-utilities-bundle/target/hoodie-utilities-bundle*-SNAPSHOT.jar`   --props /user/avenka23/delta-streamer/config/dfs-source_no_partition.properties   --s

[2019-07-10 03:19] eisig opened #779 "HoodieDeltaStreamer may insert duplicate record?"
We use HoodieDeltaStreamer to ingest data from kafka to s3.  I found there some record are duplicate.

[code]

[2019-07-10 16:13] vinothchandar commented on #779
are you using the upsert() operation or insert() ? Also, given the commit_time and record_key and partition_path are all same, it indicates preCombining is not on? can you share your configs/

[2019-07-10 18:05] vinothchandar commented on #764
@jackwang2 @amaranathv there are 3 issues here with different stack traces.

@jackwang2 first issue you reported . is that gone? or you waiting for 0.4.7 to be fixed with issue below to try that?
[code]

@jackwang2 second issue (probably same as what you mentioned on slack?) . are you able to reproduce it? https://github.com/apache/incubator-hudi/blob/hoodie-0.4.7/hoodie-client/src/main/java/com/u

[2019-07-10 18:09] vinothchandar commented on #774
@cdmikechen the Hive integration is something we have had similar troubles with. On master, we no longer support Hive 1.x. Are you saying that unless someone sets these configs Hive sync does not work?

Also we are completely reworking the bundles atm. Any help testing and refining that would be appreciated.. Will also send an email to mailing list when ready

[2019-07-10 18:09] vinothchandar commented on #769
Please reopen as needed

[2019-07-10 18:09] #769 closed

[2019-07-10 18:10] #759 closed

[2019-07-11 01:27] jackwang2 commented on #764
@vinothchandar for the issue `java.util.NoSuchElementException: No value present`, It was not reproduced after I changing to another column for partition. Anyway, I would try to print the info like you suggested and update you.

[2019-07-11 14:17] amaranathv commented on #764
I am creating table without partition column .
I can try to rerun the process again and check.
Will delta streamer support MOR without partition column?
I have tested the copy on write without partition column.
Now I am testing Merge on Read without partition column.
That is when I got this issue.

Sent from my iPhone

[2019-07-11 17:00] NetsanetGeb commented on #714
**### Bench marking Hudi Upsert**

I am trying to bench mark Hudi upsert operation and the latency of ingesting 6 GB of data is 38 minutes with the cluster i provided. How can i enhance this?

For my specific use case, i used a spliced JSON data source with the schema having 20 columns.
The settings i used  for a cluster with (30 GB of RAM   and  100 GB available disk) are:
spark.driver.memory = 4

[2019-07-11 17:28] vinothchandar commented on #735
@Gowthamsb12  #751 is redoing the bundles. but for this issue, I think you should be able to find log4J if the classpath is set correctly?

[2019-07-11 17:29] #705 closed

[2019-07-11 17:34] amaranathv commented on #764
I am getting same error.

scala> .save("/datalake/888/888/888/hive/warehouse/test_hudi_spark_no_part_1_mor")
19/07/11 12:31:45 WARN TaskSetManager: Lost task 0.0 in stage 304.0 (TID 464, 88888.uhc.com, executor 2): com.uber.hoodie.exception.HoodieUpsertException: Error upserting bucketType UPDATE for partition :0
        at com.uber.hoodie.table.HoodieCopyOnWriteTable.handleUpsertPartition(HoodieC

[2019-07-11 17:35] vinothchandar commented on #736
@cdmikechen these jars are in the hive installation, thats why we don't bundle them.

[code]

is it possible the the script is not just picking them up?  are you able to repro this on top of #751 and see if this still is an issue?

[2019-07-11 17:58] vinothchandar commented on #550
In #751 , I actually found that the jetty jars are needed by the new embedded timeline server..

[code]

but lets shade them.

[2019-07-11 17:58] #550 closed