[2022-06-22 04:15] BruceKellan commented on #4993
I have some idea to optimize and I will open a new issue. Thanks your reply.

[2022-06-22 04:15] #4993 closed

[2022-06-22 04:33] kk17 commented on #5861
ok now. this document https://hudi.apache.org/docs/table_management/ need to be updated.

[2022-06-22 04:44] leoyy0316 opened #5932 "can not delete data when use spark scala code"
hudi version:0.10.1
can not delete data when use spark scala code
1.use sparksql to create table
create table temp_db.hudi_delete_leo (
  id int,
  name string,
  ts bigint
) using hudi
tblproperties (
  type = 'mor',
  primaryKey = 'id',
  preCombineField = 'ts'
);
2.insert data to table
insert into temp_db.hudi_delete_leo select 1, 'a1', 1000;
insert into temp_db.hudi_mor_tbl_ts_delete select 2,

[2022-06-22 04:49] WangCHX commented on #5861
@boneanxs will `--conf 'spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension'` fix the issue when inserting into existing table?

[2022-06-22 06:13] WangCHX commented on #5861
we are using `DeltaStreamer`  to create the table, do we also need to add that configuration?

[2022-06-22 06:38] danny0405 commented on #5931
Seems some class conflicts.

[2022-06-22 08:04] LinMingQiang opened #5934 "When reading the mor table with `QUERY_TYPE_SNAPSHOT`,Unable to correctly sort and de duplicate data by `PRECOMBINE_FIELD`."
 create table with : 
[code]
Data inflow sequence：

[code]

https://issues.apache.org/jira/browse/HUDI-4298

[2022-06-22 09:39] boneanxs commented on #5861
@WangCHX If you use `DeltaStreamer` to ingest data to hudi with hive sync enabled, you don't need to set this configuration. can you fire a new issue with details how to reproduce it so can track it?

[2022-06-22 10:09] developerwxl opened #5938 "Why Hudi publish data size much more than the input file size when publish to hive"
I use the insert operation to publish data to the hive.
I insert a 541 partitions table.
And the input data size is 153GB .But there are  2.6TB in the UpsertPartitioner job.
Here is the code
<img width="1138" alt="image" src="https://user-images.githubusercontent.com/4186869/175003745-65c0767a-eb05-45e2-9314-5fd3b8e36ddf.png">

Here is the spark ui
<img width="1635" alt="image" src="https://user-i

[2022-06-22 10:16] haoxie-aws opened #5939 "[SUPPORT] spark executors died due to underestimated record size"
**Describe the problem you faced**

Hi Hudi team! I have some spark executors intermittently die. When I look into the tasks assigned to dead executors, the tasks were trying to write parquet files that were over 320MB according to the logs of other executors that completed the tasks afterwards. However our PARQUET_MAX_FILE_SIZE is set to 100MB. I also noticed “AvgRecordSize => 26” in the driver l

[2022-06-22 13:08] Zhangshunyu commented on #5808
Hi @alexeykudinkin , now i am using dataskipping with column stat and meta table enabled, it works to prune files by this feature, but i find the num of matched lines are diff from file based meta.
For example, we have 'year, month, day' 3 level partitions and if we query the count(*) by using filters including partition columns and other columns, we find the result is diff.(the num of file based

[2022-06-22 17:56] vicuna96 opened #5942 "[SUPPORT] Partial Update on Global Index with BLOOM_INDEX_UPDATE_PARTITION_PATH_ENABLE"
**Describe the problem you faced**

Case 1.
We are currently trying to create a partial upsert pipeline with global index (GLOBAL_BLOOM). The issue that we face is that when setting HoodieIndexConfig.BLOOM_INDEX_UPDATE_PARTITION_PATH_ENABLE.key() -> "true", we notice that **the columns not updated by the partial update are dropped / nullified**.

Case 2.
In addition, as an alternative we are explo

[2022-06-22 19:25] h7kanna commented on #5548
Related https://github.com/apache/hudi/issues/5291

[2022-06-22 21:52] nsivabalan commented on #5886
@LinMingQiang  : So, with the linked patch, I assume things are good? can we close the github issue.

[2022-06-22 22:02] nsivabalan commented on #5904
@YannByron @minihippo: Can either of you folks follow up on this issue please.

[2022-06-23 00:29] nsivabalan commented on #5548
@umehrot2 @zhedoubushishi : Can you follow up on this issue please.
CC @yihua

[2022-06-23 00:34] #5886 closed

[2022-06-23 01:30] YuweiXiao commented on #5770
Clustering is a table service that re-organize the data files' layout, maybe it is not relevant in your case.

About the `average record size`, hudi use this (`hoodie.copyonwrite.record.size.estimate`, default 1KB) to estimate the total file size in your initial write (no available commits to compute the average size).

The code for file size management in `UpsertPartitioner::assignInserts`. Maybe

[2022-06-23 02:17] YannByron commented on #5932
[code]
you also need to provide the `spark.serializer`, `spark.sql.extensions`, `spark.sql.catalog.spark_catalog` configs which maybe you provide when use spark-sql.

[2022-06-23 02:27] xiarixiaoyao commented on #5915
@Reimus  only full schema evolution support change date type to string.

when you use this feature, you should  execute set hoodie.schema.on.read.enable=true， before execute alter command.
https://hudi.apache.org/docs/schema_evolution

[2022-06-23 02:55] leoyy0316 commented on #5932
@nsivabalan @YannByron
val df = spark.sql("select * from temp_db.hudi_mor_tbl_ts_delete limit 1")  df show the full record, and set ".option("hoodie.datasource.write.operation", WriteOperationType.DELETE.value()) " in scala code when delete, i copy this code from hudicode :HoodieDataSourceExample

i use spark3.0.1 some configs:
"spark.serializer": "org.apache.spark.serializer.KryoSerializer" ,
"sp

[2022-06-23 03:05] leoyy0316 commented on #5932
@nsivabalan @YannByron
i have try another way

import org.apache.hudi.DataSourceWriteOptions
import org.apache.hudi.config.{HoodieStorageConfig, HoodieWriteConfig}
import org.apache.spark.sql.{SaveMode, SparkSession}

val df = spark.sql("select *, concat(order_no,order_type) as id ,0 as ts  from ods_us.ods_cis_dbo_order_header limit 5")

import org.apache.spark.sql.types.{BooleanType, StructField,

[2022-06-23 03:07] nsivabalan commented on #5291
@umehrot2 @zhedoubushishi : we may need to support this for "cluster" mode as well. as of now, some code change is required which is not easy to maintain. can we come up w/ a plan to fix this for 0.12.

[2022-06-23 03:53] nsivabalan commented on #5934
by default hudi uses OverwriteWithLatestAvroPayload which does not honor precombine in all code paths. specifically when records in base file and records in log files are merged together. You can try using DefaultHoodieRecordPayload to achieve this.
https://hudi.apache.org/docs/configurations/#hoodiedatasourcewritepayloadclass
https://hudi.apache.org/docs/configurations/#writepayloadclass
https://

[2022-06-23 03:57] nsivabalan commented on #5938
"Getting small files from partitions" stage refers to reading existing data from hudi to fetch list of small file groups. So, this could refer to your hudi table size and not your incoming data size. does your existing hudi table size is 2.6 TB?

[2022-06-23 04:13] amit-ranjan-de commented on #5916
Sure! Sharing it below

[code]

[code]

[2022-06-23 04:36] LinMingQiang commented on #5934
by default FLink SQL uses Eventtimeavropayload,
`MergeIterator.mergeRowWithLog` calls `record.getData().combineAndGetUpdateValue(historyAvroRecord, tableSchema)`  instead of `record.getData().combineAndGetUpdateValue(historyAvroRecord, tableSchema, payloadConf)` . so The final call is `OverwriteWithLatestAvroPayload.combineAndGetUpdateValue(IndexedRecord,Schema)`

[2022-06-23 06:41] YannByron commented on #5932
@leoyy0316 quit from the current spark session when you finish the DML operations, to judge if this is spark cache to lead this question.

[2022-06-23 06:53] rmahindra123 commented on #5893
@BalaMahesh For debezium pipeline, please do not configure the schema registry provider. The schema is only fetched within the source. Please refer to the spark submit command at the end of this blog: https://hudi.apache.org/cn/blog/2022/01/14/change-data-capture-with-debezium-and-apache-hudi/. Let me know if you still face issues.

[2022-06-23 06:54] leoyy0316 commented on #5932
spark cache cause thiss question, thanks @YannByron but why? can you Briefly explain？thank you

[2022-06-23 08:52] developerwxl commented on #5938
So you mean even i use the "insert" operation, Hudi still read the existing hudi table data？ Could we let hudi publish data action ignore read the existed hudi table data？ I just want to add a new partition and add the new files to the new partition.

[2022-06-23 09:04] xiarixiaoyao commented on #5740
@YuweiXiao  how to reproduce the parquet file as your provide，
[code]
those code should be ok for hudi 0.11

[2022-06-23 14:07] parisni commented on #5780
well, to simulate s3 slow down, I ran multiple athena read queries on the table while ingesting.

I got s3 slow down message on athena, and by the way, the hudi logs said the timeline server is not reachable anymore, so it fall back to scanning files

[2022-06-23 14:10] parisni commented on #5767
BTW after this error, the metadata table was corrupted, and compaction failed

[2022-06-23 15:10] nsivabalan commented on #5938
Hudi does small file handling and so it has to.
you can read more on this here:
https://hudi.apache.org/blog/2021/03/01/hudi-file-sizing
https://hudi.apache.org/learn/faq/#how-do-i-to-avoid-creating-tons-of-small-files

If you wish to avoid this small file handling, you can set [this](
https://hudi.apache.org/docs/configurations/#hoodieparquetsmallfilelimit) config to 0.

[2022-06-23 16:45] xushiyan commented on #5942
@minihippo can you help look into this please?

[2022-06-23 18:47] vicuna96 commented on #5942
Case1: Hi @nsivabalan, yes we mean the latter explanation: a record is coming in which will update _col1_ and _col3_, but _col2_ has been populated before by a different source and thus there is a non-default value in hdfs. Hence we want to update _col1_ and _col3_ from this source, but if there was a value from _col2_ in hdfs, we would like to keep that value so that the record written is `increm

[2022-06-23 18:50] vicuna96 commented on #5942
Case 2: Yes, we would prefer to use HoodieIndexConfig.BLOOM_INDEX_UPDATE_PARTITION_PATH_ENABLE.key() -> "true" as well. Nonetheless, as explained in the previous comment, we noticed that partial update was working when the record was not moved across partitions, so we were testing this as a workaround to have a working partial update, since we can still run incremental on this dataset even if it d

[2022-06-23 19:03] Rap70r commented on #5770
I'm a bit confused. We are running Spark jobs on AWS EMR to merge changes against Hudi table on S3. We are passing the following parameter: `hoodie.parquet.max.file.size` which according to the documentation, it should maintain the size of files provided in this parameter. During initial load the files are split evenly according to that param. However, after several upserts, the files merge into a

[2022-06-23 22:18] zhedoubushishi commented on #5291
@nsivabalan Yes for the cluster mode, I would send out a CR to fix it.

[2022-06-24 06:51] glory9211 opened #5952 "[SUPPORT] HudiDeltaStreamer S3EventSource SQS optimize for reading large number of files in parallel fashion"
### Optimize DeltaStreamer S3EventSource Implementation for reading files in parallel fashion

Following this [guide](https://hudi.apache.org/docs/0.10.1/quick-start-guide/) we are trying to read incoming event files from Hudi DeltaStreamer [S3EventsSource.java](https://github.com/apache/hudi/blob/6456bd3a5199d60ff55d6c576e139025a1c940c7/hudi-utilities/src/main/java/org/apache/hudi/utilities/sourc

[2022-06-24 10:11] parisni opened #5960 "[SUPPORT] AWSGlueCatalogSyncClient partition AlreadyExistsException when syncing large table from scratch"
hudi 0.11.1
spark 3.2.1

I have several hudi tables with > 35k partitions. When running for first time hive sync  (meaning adding 35k partition from scratch into glue), I randomly get the bellow error which says the partition already exists which is weird because the table didn't exist yet and the partition is not duplicated in the list.

As a workaround I catched the error in the AWSGlueCatalogSy

[2022-06-24 12:05] jiangjin-f commented on #5911
I found hudi table exist one record ,then Consume the same recordKey data from Kafka , The only difference is 'last_ update_time' is before the existing record 'last_ update_time' field value. then hudi update record.
Whether there are parameter settings to keep the records up to date.

kafka Consume data
![02dd5eac-ec19-46d9-b619-94d63fcbea78](https://user-images.githubusercontent.com/46118864/17

[2022-06-24 13:05] rubenssoto commented on #4622
@codope @nsivabalan do you have updates on this subject? We stuck on Hudi 0.9 because of this :(

[2022-06-24 13:35] JerryYue-M commented on #5867
@danny0405 @codope
With Hudi release-0.11.0 version. this error appears frequently in the compact task so it can make compact fail.
I found that. firstly it may appear ` RemoteException: File does not exist` error that can cause mergeHandle close,before close it flush some records.at finally.it occur follow error:

2022-06-24 21:22:55,019 ERROR org.apache.hudi.io.HoodieMergeHandle

[2022-06-24 22:07] alexeykudinkin commented on #5808
@Zhangshunyu that def sounds like a bug to me. Can you please create a separate issue (it doesn't really overlap with this one) and provide steps to reproduce the issue (as much as possible)?

[2022-06-25 00:29] danny0405 commented on #5867
Do  you mean in `HoodieCompactionHandler#handleInsert`, we do not close the file handle correctly when exception occurs ? That's a valid point, maybe we can wrap the handles in `try finally` resource block.

[2022-06-25 07:31] Zhangshunyu commented on #5519
hudi0.11 also has this issue

1. we create a hudi table and load data using bulkinsert with metatable enable
2. when query disable metatable its ok
3. but when enabled metatable and dataskip, **some query** will throw exception:
`unsupportedOperationException PlainBianryDictionary parquet decodeToInt`

we never change the schema of table

[2022-06-25 08:05] zhangjq1014 commented on #5702
This version does not work, either.
Add a reset of this.lock= null in tryLock could solve the problem.

[2022-06-25 09:04] Zhangshunyu commented on #5808
Hi @alexeykudinkin , thanks for your reply, this problem is fixed by merging the mr for [Hudi-4200], after the records sorted read for hfile, its ok now.
 [HUDI-4200] Fixing sorting of keys fetched from metadata table

[2022-06-25 09:26] xiarixiaoyao commented on #5899
@kazdy   no full scheam evolution cannot support automatic evolution,  i am working for the feature , of course complex types, and nested schemas will supported.

[2022-06-25 11:52] kazdy commented on #5899
hi @xiarixiaoyao thanks for response :)
So full schema evolution is a separate feature to automatic evolution, but automatic evolution itself can be supported as a separate feature? Do I understand you correctly?

[2022-06-26 03:39] bithw1 opened #5975 "[SUPPORT] cleaner service is not very well documented"
Hi, I am reading at https://hudi.apache.org/docs/hoodie_cleaner,

The usage of utility tool `HoodieCleaner` is not very well documented,  it gives an example

[code]

but I don't know the content of the prop file：`kafka-source.properties`

I would like to know how to specify the configuration property, that I want to keep the latest 3 data versions when I run the cleaner

Thanks a lot

[2022-06-26 06:58] kumudkumartirupati opened #5976 "[SUPPORT] column stats raising `java.lang.NoClassDefFoundError` exception when enabled"
- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
- YES

**Describe the problem you faced**
Getting an exception when the column stats are enabled for tables which have decimal values.

**A clear and concise description of the problem**
Couldn't find many classes used in `HoodieMetadataPayload.java` from `org.apache.hudi.avro.model` package despite the spark bundle jar `hudi-

[2022-06-26 08:43] pratyakshsharma commented on #5551
No followups with me. @nsivabalan can you confirm as well?

[2022-06-26 13:24] xiaolongge904913 commented on #3042
I meet the same exception when using flink, how to fix it?

[2022-06-26 14:26] painterg opened #5979 "[SUPPORT]the hudi's table of join can not handle delete operation.But simple table is ok.why?"
**Environment Description**

* Hudi version : 0.10.1
* Hadoop version : 2.7.3
* Storage : HDFS
* Flink version : 1.13.6
* Flink-cdc version : 2.2.1
* Oracle version : 19c

I test the following case : (I use the flink sql way to code)
step 1 : I have two tables in the oracle,A and B.Then I create two hudi's tables,hudi_A(MOR) and hudi_B(MOR).
![image](https://user-images.githubusercontent.com/81795

[2022-06-26 16:11] parisni commented on #5489
was'nt the case sorry I forgot the NOT in the message :/

On Mon, 2022-06-20 at 08:38 -0700, Sagar Sumit wrote:

[2022-06-27 01:58] bkosuru opened #5980 "[SUPPORT] Insert/Upsert in 0.10.1 is slow compared to 0.8.0"
Hello,

Trying to upgrade hdfs based table to hudi 0.10.1 from 0.8.0. We cannot upgrade to 0.11.1 yet. Noticed a big performance hit with Insert/Upsert.

Insert in 0.8.0 - 5.7 min
Insert in 0.10.1 - 12 min

Upsert in 0.8.0 - 27min
Upsert in 0.10.1 - 66min

The writer config we use is here - https://github.com/apache/hudi/issues/5741
Is this is a known issue? Is there any additional setting we need

[2022-06-27 02:40] danny0405 commented on #5980
cc @nsivabalan , i have some impression that we have fixed the performance regression, do you remember which patch ?

[2022-06-27 02:50] developerwxl commented on #5938
I'm going to try it, Thanks for your comment. I will comment on the issue once I fix it.

[2022-06-27 03:33] YannByron commented on #5932
@leoyy0316 spark dataframe and sql can not share the same cache. you delete data by spark-sql, but when you get the data by dataframe, spark will use the cached `LogicalPlan` to response. Actually, there is an improvement to do for hudi that refresh/invalidate the cache for the same source.

[2022-06-27 03:37] JoshuaZhuCN opened #5981 "[SUPPORT] How to change the precombine field of a created Hudi table"
How to change the precombine field of a created Hudi table ?

1、I tried to use the alter table of spark SQL to change it, but it didn't take effect. Hoodie.properties is still the original field
2、When I try to use datasource to write, I directly specify the option ("hoodie.table.precombine.field", "new file"), and an error will occur
[code]

[2022-06-27 12:03] bkosuru opened #5983 "[SUPPORT] No partition pruning for Incremental Query"
Partition pruning does not seem to be working for Incremental Query.
Data Size 1TB
Table type COW
Data in HDFS

Regular query : 8.4 mins
Incremental Query: 90 mins for the same data

Noticed this in 0.10.1. Not sure if this happens in older versions
I set the following option on the reader.
.option("hoodie.file.index.enable", false)

The writer config we use is here - https://github.com/apache/hud

[2022-06-27 12:11] bkosuru commented on #5983
Here is screenshots:
![Screen Shot 2022-06-27 at 8 10 53 AM](https://user-images.githubusercontent.com/7408351/175938204-62228f24-6a7f-4a61-abcb-af347643482f.png)
![Screen Shot 2022-06-27 at 8 10 44 AM](https://user-images.githubusercontent.com/7408351/175938230-b6724a04-aa24-483a-a58b-44263e9dd311.png)

[2022-06-27 15:07] minihippo commented on #5916
@amit-ranjan-de Cloud u find 20220615161228.compaction and 20220615172826.compaction in the timeline?

[2022-06-27 15:24] minihippo commented on #5701
@gtwuser For the first bulk insert, are values of `NWDepStatus` empty? If it is, u could try to only write other columns into the table

[2022-06-27 15:26] minihippo commented on #5612
@gtwuser Can I close this issue, and we talk about the unsolved problem in the other issue which already using Spark 3.1?

[2022-06-27 17:16] kazdy commented on #5904
As a workaround, I could :)

[2022-06-27 18:39] rubenssoto opened #5984 "[SUPPORT] Error on GlobalSortPartitioner using 0.9.0"
Hello,

We are trying to process a table and write to Hudi, the data size from source is 274GB but the data sink is only 300mb. We are using EMR on EKS:

30 pods
32gb each pod
6000mb overhead memory
5 Cores
Hudi version: 0.9.0
Emr: 6.2.0

[code]

<img width="1792" alt="Captura de Tela 2022-06-27 às 15 36 01" src="https://user-images.githubusercontent.com/36298331/176012394-eeb8701d-29d3-4967-8440

[2022-06-27 19:19] phillycoder opened #5985 "[SUPPORT] Hudi upsert fails with java.lang.ClassCastException: optional binary xx (STRING) is not a group"
**Describe the problem you faced**

Getting `java.lang.ClassCastException: optional binary xx (STRING)` exception when a record get updated.
Also this issue specifically happening when a field is array of structs with one field.
But the issue is not happening when array of structs have more than one field.

**To Reproduce**

Steps to reproduce the behavior:

launch spark-shell
[code]

[code]

when

[2022-06-27 23:07] zhedoubushishi commented on #5291
@moustafaalaa With https://github.com/apache/hudi/pull/5987, similar to EMR, you can add `hudi-defaults.conf` to `spark.yarn.dist.files` so that Hudi can load this file.

This is a good suggestion: `hoodie.config.path => "s3:path"`. We would have a further discussion on whether/how to support this.

[2022-06-27 23:10] zhedoubushishi commented on #5548
Thanks for reporting this issue. I submitted a PR https://github.com/apache/hudi/pull/5987 to fix this issue. With this PR, similar to EMR, you can add `hudi-defaults.conf` to `spark.yarn.dist.files` so that Hudi can load this file.

[2022-06-28 02:18] neerajpadarthi opened #5989 "[SUPPORT] Schema Evolution Issue - New columns are not showing up in Spark-SQL."
When using Spark-SQL, it is not showing the new fields that are added at the end of the dataset but show up when using spark.read.format(‘org.apache.hudi‘).load(‘<s3-path>‘). I have linked the Glue catalog with the Hive metastore to access data in Athena & Spectrum and it worked as expected.

Spark-SQL - New columns are not present.
Spark.read - New columns are present.
Athena/Spectrum - New colum

[2022-06-28 07:00] Zhangshunyu opened #5992 "[SUPPORT]UnsupportedOperationException: org.apache.parquet.column.values.dictionary.PlainValuesDictionary$PlainBinaryDictionary"
hudi 0.11
spark 3.1

when enable metatable + dataskip, some query throws parquet decode exception:

set hoodie.metadata.enable=true;
set hoodie.metadata.index.column.stats.enable=true;
set hoodie.fileIndex.dataSkippingFailureMode = strict;
set hoodie.enable.data.skipping=true;
query as following
select * from hudi.hudi_test_table where  vin='abcde'  limit 1;

org.apache.spark.SparkException: Job a

[2022-06-28 07:01] Zhangshunyu commented on #5992
@alexeykudinkin is this problem related to [hudi-4319]?

[2022-06-28 08:31] kumudkumartirupati commented on #5976
Looks this is an issue with the mvn packaging. I retried building myself the jar from scratch `release-0.11.1` and it worked fine. I believe this has something to do with incompatible generated source classes for avro models being used during the packaging.
I can see that these generated classes are not getting cleaned during `mvn clean` and they are still available post `mvn clean` in the target

[2022-06-28 11:52] bkosuru commented on #5980
Insert in 0.8.0 - 5.7 min
Insert in 0.10.1 - 12 min
Insert in 0.11.1 - 5.7 min

Upsert in 0.8.0 - 27min
Upsert in 0.10.1 - 66min
Upsert is 0.11.1 - 42.5min

Using
      .option("hoodie.metadata.index.bloom.filter.enable", "true")
      .option("hoodie.metadata.index.column.stats.enable", "true")
      .option("hoodie.index.type", "BLOOM")

[2022-06-28 12:55] phillycoder commented on #5701
I have opened similar issue throwing same exception during update. I have a spark-shell example in it. https://github.com/apache/hudi/issues/5985

[2022-06-28 16:57] yihua commented on #5952
Thanks for the feature request.

The referenced code you mentioned in `S3EventsSource` converts the Json records already in Dataset to Dataframe for further processing.  Do you actually refer to the optimization of reading events from SQS (which should not actually involve file reading)?
[code]

Feel free to create a Jira ticket for the feature request and I encourage you to put up a PR.

[2022-06-28 17:43] yihua commented on #5960
@parisni the exception of `Partition already exists` shouldn't happen.  Could you provide the `HiveSyncTool` command with the arguments you use for reproducing the issue?

[2022-06-28 17:58] glory9211 commented on #5952
The function for reading the json files into a dataframe (not from SQS, the actual content of files) is not a parallel process. spark.read.json only runs on driver node

[2022-06-28 18:09] yihua commented on #5975
Hi @bithw1 thanks for reporting this.  I created a Jira ticket, HUDI-4339, to track the work of improving the docs for `HoodieCleaner`.

If you want to keep the latest 3 file versions, you need to add these specific configs to the properties:
[code]
https://hudi.apache.org/docs/configurations#hoodiecleanerpolicy
https://hudi.apache.org/docs/configurations#hoodiecleanerfileversionsretained

[2022-06-28 18:42] yihua commented on #5976
@kumudkumartirupati  Thanks for bubbling this up.  This is a known issue: the `hudi-utilities-slim-bundle` introduced by 0.11.0 release is not yet fully compatible with Spark 3.2 and hudi-spark3.2-bundle.  There are more details around this in the [release notes](https://hudi.apache.org/releases/release-0.11.0#slim-utilities-bundle) of 0.11.0.

This is due to some of the dependencies including Avr

[2022-06-28 19:26] yihua commented on #5979
@painterg For the Flink SQL `insert into hudi_C select fields... from hudi_A left join hudi_B on ....`, are the Hudi meta fields included?  I suspect that the meta information about the deletion is lost during the join operation, which is why hudi_C does not receive the '-D' operation.

@danny0405 what is the proper way of handling delete operation in Flink SQL in this case?

[2022-06-28 21:08] yihua commented on #5980
@bkosuru for 0.11.1, could you turn off column stats and bloom filter in metadata table and see if that helps bring the write latency on par?

[2022-06-28 22:14] yihua commented on #5981
@JoshuaZhuCN Given that the pre-combine field name is written to the table config in `hoodie.properties`, it cannot be changed after being set once in the current settings.  @nsivabalan @xushiyan is it a problem to relax this restriction?

[2022-06-28 22:45] yihua commented on #5984
@rubenssoto Based on your description, it looks like you tried to bulk insert the data from the source.  Likely the shuffle failure is due to out-of-memory on the executors.  What are the memory and parallelism configs (Hudi bulk insert shuffle parallelism and spark parallelism) you use?

[2022-06-28 22:46] yihua commented on #5983
@bkosuru Thanks for reporting the issue.  I'll look into that.

[2022-06-28 22:53] yihua commented on #5985
@phillycoder Thanks for reporting the issue.  I'll reproduce this on my end.  Are you migrating from an older Hudi version that worked for the same upsert scenario?

[2022-06-28 22:57] yihua commented on #5989
@neerajpadarthi Hudi 0.9.0 has experimental support for Spark SQL.  Have you tried newer releases and the latest 0.11.1 release to see if there is still a problem?

[2022-06-28 23:18] yihua commented on #5992
@Zhangshunyu It might be related to HUDI-4319.  Have you tried latest master to see if the problem still exists?

[2022-06-29 00:31] yihua commented on #5481
@MikeBuh sorry for getting back late.  If you still haven't figured out the right configs, [here](https://cwiki.apache.org/confluence/display/HUDI/Tuning+Guide) is a more detailed tuning guide for upserts.  At this point, tuning other configs, like making `spark.memory.fraction` and `spark.memory.storageFraction` small (e.g., 0.2 as mentioned in the guide) to make the job reliably slow instead of

[2022-06-29 00:40] phillycoder commented on #5985
We didn't use any older version for this project, so I am not sure if this worked with older version. we only started using version 0.10.1 version recently for our new project since it's been supported by EMR 6.6.0.

[2022-06-29 00:46] yihua commented on #5460
@zhilinli123 I checked markers you uploaded and they look fine.  I don't see the timeline content from `.hoodie`.  Could you paste the screenshot again?

There are a couple of fixes around markers in Flink since then: #5604, #5611.  Could you check if the latest master resolves your issue?

[2022-06-29 00:53] yihua commented on #5469
@jasondavindev to clarify, do you still see issues with BULK_INSERT in 0.11.0?

[2022-06-29 02:26] danny0405 commented on #5979
Your preCombine field should reflect the real event time of the UPDATE/DELETE event, usually, for debezium, we use the ts_ms field.

[2022-06-29 03:17] painterg commented on #5979
@yihua @danny0405 hi, the following is my hudi meta fields during my table creation.
![image](https://user-images.githubusercontent.com/81795585/176341450-ba1969f8-403c-4d66-bd34-29029f20bbe8.png)
hudi_A , hudi_A' , hudi_B , hudi_C all use meta fields.
But,the key problem is A-->hudi_A and B-->hudi_B is ok, so i think zhe debezium is ok.
For the better understanding,I draw a diagram:
![image](http

[2022-06-29 04:31] yihua commented on #5981
cc @YannByron

[2022-06-29 04:52] yihua commented on #5765
@melin HFile is used as the base file format in metadata table under `<base_path>/.hoodie/metadata`.  The metadata table is a MOR table and the HFile only appears after compaction in the metadata table.

It looks like the current way of packaging HFile classes is not compatible with Hadoop 3.

[2022-06-29 05:10] yihua commented on #5765
I created a ticket to track the fix: HUDI-4341.

[2022-06-29 05:12] southernriver commented on #143
Hi,Please add me to slack group
Email:southernriver@163.com
Thanks!

[2022-06-29 05:50] yihua commented on #5503
This might be related to the compatibility issue between HBase 2.4.9 and Hadoop 2.6.5.  @sleep1661 do you still see the issue?  Have you tried a newer Hadoop version like 2.8.x?

[2022-06-29 06:08] yihua commented on #5482
@parisni sorry to get back late on this.  Do you still encounter the same issue?  Have you tried the latest 0.11.1 release with a few fixes on the metadata table?

[2022-06-29 06:56] yihua commented on #5780
We can catch 5xx on the timeline server but the request from the executor to the timeline server can still time out if the responses are not returned in time.  The request timeout is 30 seconds I believe.

I created a ticket for the improvement: HUDI-4342.

[2022-06-29 07:01] kumud-hs commented on #5976
Thanks, @yihua for the clarification. Somehow missed that in the release notes and got confused from the default spark version used in the bundle `3.2` as per this (https://hudi.apache.org/docs/quick-start-guide). Closing this in favor of #5641

[2022-06-29 07:02] kumudkumartirupati commented on #5976
Thanks, @yihua for the clarification. Somehow missed that in the release notes and got confused from the default spark version used in the bundle 3.2 as per this (https://hudi.apache.org/docs/quick-start-guide). Closing this in favor of #5641

[2022-06-29 07:02] #5976 closed

[2022-06-29 07:40] yihua commented on #5457
@Chosen123Wang I need to check the usage.  If it's not used, we should remove it.  The writer is used on the executor side so likely that HoodieWrapperFileSystem is somehow not on the classpath.

[2022-06-29 07:51] yihua commented on #5081
Closing this ticket due to inactivity. @liockency feel free to reopen it if you still have questions.

[2022-06-29 07:53] JoshuaZhuCN opened #6001 "[SUPPORT] Cannot create again after deleting the Hudi external table using Spark SQL"
Cannot create again after deleting the Hudi external table using Spark SQL

**To Reproduce**

Steps to reproduce the behavior:

1. execute the spark sql like
[code]
2.
[code]
3. repeat step 1
4. it will get an error message like
[code]
5、if we delete the .hoodie directory, and repeat step 1, then it works

**Environment Description**

* Hudi version : 0.10.1

* Spark version : 3.1.3

* Hive versio

[2022-06-29 08:32] yihua commented on #5345
FYI this is the PR with the latest changes for Hadoop, Hive, and Spark 3.x upgrades: #5786.

[2022-06-29 08:39] yihua commented on #5211
The prior wildcard pattern is not meant to be used for a subset of partitions in a Hudi table.  Instead of globbing selective paths, you can still load the Hudi table with the base path and use `.filter` with the partition values so Spark does the partition pruning without scanning the whole table:
[code]

[2022-06-29 08:47] yihua commented on #5395
@todd5167 I'm going to close this ticket as you have got past it.  Feel free to reopen the issue if you see it again.

[2022-06-29 08:54] yihua commented on #5591
@BalaMahesh sorry for getting to this issue late.  Have you resolved this issue by any chance?  If `MARKERS.type` is not present, the logic assumes that the direct markers are stored, which causes the read failure in your case.  I'll check if we can improve the error handling in this case.

[2022-06-29 08:58] xudalei1977 commented on #4135
will hoodie.clustering.plan.strategy.sort.columns trigger a re-sort of all rows?

[2022-06-29 09:52] JoshuaZhuCN opened #6004 "[SUPPORT] Creating a Hudi external table will modify the value of "hoodie.table.name" in the "hoodie.properties" file"
Creating a Hudi external table will modify the value of "hoodie.table.name" in the "hoodie.properties" file.
This problem does not occur when using auto sync to hive.

Then how can i create _rt table manually by using spark sql?

**To Reproduce**

Steps to reproduce the behavior:

1.execute the sql to create an external table
[code]
2. see the hoodie.properties file，the value of hoodie.table.name

[2022-06-29 11:19] bkosuru commented on #5983
Thanks for looking into this. I can reproduce the issue in 0.11.1 as well

[2022-06-29 11:33] bkosuru commented on #5980
@yihua I will test when I get a chance. But since insert is performing well in 0.11.1 we will upgrade to 0.11.1
upsert usecase is rare for us.
You can change the priority to minor. Thanks

[2022-06-29 13:31] phillycoder commented on #5985
I am able to duplicate same issue in EMR 6.5.0 which comes with hudi 0.9.0

[2022-06-29 17:23] yihua commented on #6004
@XuQianJin-Stars @YannByron could you folks help here?

[2022-06-29 23:50] rahulsarda commented on #3707
I followed the above steps and ran the below insert statement including the above jars to the list of custom connectors

INSERT INTO t1 select uuid, ticker, price, event_time as ts from stock_table;

But the query hangs in Studio and there is no output event after 2 hrs. Is there any additional jars or settings in Zeppelin something that I am missing. Thanks!

[2022-06-30 00:47] txl2017 opened #6007 "spark query partition field error"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-30 03:55] zhouxumeng213 opened #6009 "kafka connect to Hudi,When 10w pieces of data are inserted, data is successfully written to kafka and deleted after kafka is dropped to hudi"
[2022-06-30 10:27:37,174] WARN Error while syncing (org.apache.hadoop.hdfs.DFSClient:694)
org.apache.hadoop.ipc.RemoteException(java.io.FileNotFoundException): File does not exist: /tmp/huditest/partition_0/.hoodie_partition_metadata_0 (inode 16466) [Lease.  Holder: DFSClient_NONMAPREDUCE_-535797949_164, pending creates: 1]
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.checkLease(FSNames

[2022-06-30 04:02] davidshtian commented on #3707
Any messages on Flink dashboard?

[2022-06-30 04:14] rahulsarda commented on #3707
I created a new studio environment, re-ran the scripts and it worked. Thanks for the quick response

[2022-06-30 08:00] shqiprimbkodelabs commented on #4583
The same issue is happening to me:

`Caused by: org.apache.flink.runtime.checkpoint.CheckpointException: Could not complete snapshot 9 for operator stream_write: HUDI_POINT_TIME_SERIES (2/4)#1. Failure reason: Checkpoint was declined.
	at org.apache.flink.streaming.api.operators.StreamOperatorStateHandler.snapshotState(StreamOperatorStateHandler.java:265)
	at org.apache.flink.streaming.api.operato

[2022-06-30 08:59] eric9204 opened #6011 "[SUPPORT] HoodieFlinkCompactor failed"
**Describe the problem you faced**

Only the first `compaction.requested` can be compressed successfully. When the second compaction request  was executed , the following error occurred.

**Environment Description**

* Hudi version :  Hudi  master

* Spark version : --

* Hive version : --

* Hadoop version :  Hadoop-3.3.0

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Docker? (yes/no) :  NO

**A

[2022-06-30 11:57] zhilinli123 commented on #5460
I have not found this problem in the latest version for the time being. I will contact you if there is a problem. Now you can turn it off

[2022-06-30 12:47] danny0405 commented on #4583
Have fixed it in https://github.com/apache/hudi/pull/5917

[2022-06-30 14:03] magnus-ISU commented on #2290
For anyone who has this question in the future, we are working with AWS python and spent many hours trying to figure out how to get this to work. You must pass in as options to your hudi writer:

    {
        "hoodie.datasource.write.payload.class" : "org.apache.hudi.payload.AWSDmsAvroPayload"
    }

In hindsight this maybe makes sense, but it confused us immensely as we were trying to figure it

[2022-06-30 14:39] veenaypatil opened #6014 "[SUPPORT] High runtime for a batch in SparkWriteHelper stage"
**Describe the problem you faced**

We are observing higher run times for a batch , it took 15hr plus to complete single batch, the subsequent batches are running fine. The dataset in question is not big. Attaching few screenshots for reference, GC times are less.
hoodieConfigs for reference

<img width="1780" alt="Screenshot 2022-06-29 at 10 04 10 PM" src="https://user-images.githubusercontent.co

[2022-06-30 16:14] rohitmittapalli opened #6015 "[SUPPORT] Building workload profile failing after upgrade to 0.11.0 when doing upsert operations"
**Describe the problem you faced**

A clear and concise description of the problem.

Upgrading to 0.11.1 , the deltastreamer is failing to write to a 6GB bucket. It is failing on the

`Building workload profile`

<img width="1431" alt="image" src="https://user-images.githubusercontent.com/84733594/176726541-e833e7a3-9724-454b-8c95-02d6ceddd298.png">

**To Reproduce**

[code]

**Expected behavior**

[2022-06-30 17:26] Shraddhak28 commented on #3704
I am facing this issue even after updating the writer.task value to 1. FYI, I am using the Flink SQL Client on AWS EMR cluster.
My Flink configuration JSON looks like this:
[code]
Should this configuration also have 1 in `taskmanager.numberOfTaskSlots`?

I am following this AWS Blog post - https://aws.amazon.com/blogs/big-data/create-a-low-latency-source-to-data-lake-pipeline-using-amazon-msk-conn

[2022-06-30 17:49] rohit-m-99 commented on #6015
When trying to upgrade to 0.11.1 I receive the following error:

[code]

[2022-06-30 17:57] Shraddhak28 commented on #3704
I created a new cluster with "taskmanager.numberOfTaskSlots":"1" and in hudi table definition, 'write.tasks' = '1', and it worked.

[2022-06-30 18:39] yihua commented on #6015
@rohit-m-99 do you use the Spark and Hudi jars provided by EMR for 0.11.0?

[2022-06-30 20:29] yihua commented on #6015
@rohit-m-99 there might be compatibility issues between hudi-spark3.2-bundle and hudi-utilities-bundle_2.12 in Spark 3.2.  However, that may not be the root cause here.  A few things to check:
(1) the average file sizes and number of files in the target table
(2) the memory usage and disk spill of the Spark tasks
(3) any warnings in the logs of the executors that fail the stage

Here is the tuning

[2022-06-30 21:53] yihua commented on #6015
@rohit-m-99 once you figure out the configs to successfully run the job, feel free to let me know and close the ticket.

[2022-06-30 23:43] yihua commented on #6007
@txl2017 Thanks for reporting this. @nsivabalan @alexeykudinkin if I'm not wrong, is this a known issue wrt the non-existent partition field?

[2022-06-30 23:45] yihua commented on #6007
@txl2017 could you also provide the full commands for Hive sync and spark-submit/spark-shell for reproducing the issue?

[2022-06-30 23:46] yihua commented on #6009
Hi @zhouxumeng213 , could you provide the detailed setup (environment, versions, etc.) and the steps to reproduce the errors?

[2022-06-30 23:51] yihua commented on #6011
@danny0405 do you have any idea why the compaction fails in Flink?

[2022-07-01 01:56] zhouxumeng213 commented on #6009
### Environment Description

Hudi version : 0.10.0

Spark version : 2.4.5

Hadoop version : 3.2.1

Storage (HDFS/S3/GCS..) : HDFS

Running on Docker? (yes/no) : no

### steps
1、Zookeeper and Kafka have been started；
2、Run setupkafka. sh under hudi-master/hudi-kafka-connect/demo to create the number：sh setupKafka.sh -n 100000
3、Go to the kafka home directory and run：./bin/connect-distributed.sh /op

[2022-07-01 02:41] XXwhite opened #6019 "[SUPPORT]如何让数据尽快的刷新到hudi中呢"
我使用FlinkCDC读取MongoDB的数据写入到hudi中，但是我发现hudi中总数始终比mongo的总数少一部分（几条或者更多），并且很久之后也不会追上，貌似最后一批数据不会马上刷新到hudi中，这可能不是一个问题，但是我想验证数据一致性，请问我该怎么配置，这是我的建表语句，compaction部分的配置貌似没起作用。
[code]

[2022-07-01 03:49] ykPrograWorld commented on #5774
open checkpoint

[2022-07-01 05:50] XXwhite commented on #6019
@yihua hello can you help me

[2022-07-01 06:24] zhilinli123 commented on #5460
<img width="1562" alt="image" src="https://user-images.githubusercontent.com/76689593/176836563-f5f1940c-b6f2-45aa-b39b-df7ccc65b586.png">
The same thing happens again

[2022-07-01 07:00] rohit-m-99 commented on #6015
Was able to successfully run the job by

1. Downgrading from Spark 3.2.1 to 3.1.2
2. Using hadoop version 3.2.0
3. Using hudi-utilities bundle exclusively in the deltastreamer
4. Exclusively using the insert operation

[code]

However this results in successful ingestion but is still pretty slow. See following operation:

Given the 250MB source limit seems like only inserting shouldn't be taking o

[2022-07-01 07:16] txl2017 commented on #6007
'partition-path-field'='systemdate'
'keygen-class'='ComplexTimeKeyGenerator'
'hive-sync-partition-extractor-class'='org.apache.hudi.hive.MultiPartKeysValueExtractor',
systemdate format is yyyyMMdd HH:mm:ss like '2022-06-29 12:00:00', and partition format is yyyyMMdd.
with this config sync to hive, use hive、flink、spark query hive ro table with systemdate=20220629, hive and flink hit the right resul

[2022-07-01 07:30] txl2017 commented on #6007
after that, we try another way to avoid this.
we change the hudi  source code in StreamWriteOperatorCoordinator class
  private void initHiveSync() {
    this.hiveSyncExecutor = NonThrownExecutor.builder(LOG).waitForTasksFinish(true).build();
    if(ZvosComplexTimeKeyGenerator.class.getName().equals(conf.getString(FlinkOptions.KEYGEN_CLASS_NAME))){
      conf.set(FlinkOptions.PARTITION_PATH_FIELD,

[2022-07-01 09:02] KnightChess commented on #6001
try `Create Table for an existing Hudi Table` if you not use `purge` param in drop sql
<img width="1296" alt="image" src="https://user-images.githubusercontent.com/20125927/176862535-cdc8c32a-3c70-41f1-b75b-6a8ee035c1db.png">

[2022-07-01 11:09] todd5167 opened #6021 "[SUPPORT] flink write rollback error, [Cannot use marker based rollback strategy on completed instant ]"
flink version: flink1.13
hudi-version: 0.10.0-patch

The flink job has been running normally for over 20 days. Has the bug been fixed? @danny0405

[code]

[2022-07-01 11:12] Nazerra opened #6022 "[SUPPORT] ALL PARQUET FILES FROM BASE PATH GOT DELETED BY CLEANER"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-07-01 12:08] #6021 closed

[2022-07-01 13:55] kazdy commented on #5452
hi @santoshsb, take a look at this nice PR by @xiarixiaoyao:
https://github.com/apache/hudi/pull/6017

[2022-07-01 16:24] kazdy commented on #6022
As discussed in slack, OCC was not enabled. Let's try with OCC enabled since these two jobs run in parallel.

[2022-07-01 18:48] Gatsby-Lee opened #6024 "[SUPPORT] DELETE_PARTITION causes AWS Athena Query failure"
**Describe the problem you faced**

A clear and concise description of the problem.

**To Reproduce**

Steps to reproduce the behavior:

1. DELETE_PARTITION for non-existing partition ( e.g. org_id=55555 )
* since it will raise an exception, you have to wrap the Spark Write.
* this operation will creates org_id=55555_\\$folder$ in Hudi Table Path ( BTW, why is it even created? )

2. UPSERT to othe

[2022-07-02 06:39] danny0405 commented on #5460
We have created a retry for remote request recently: maybe it can help you https://github.com/apache/hudi/pull/5884#issuecomment-1171983624

[2022-07-02 07:13] xiaozhch5 commented on #6019
If Flink Checkpoints is triggered or the write buffer size is greater than that you set in the options of  ’write.batch.size‘, 256MB by default, the data will be flished into the underneath filesystem.
You can decrease the checkpoint interval or reduce the value of ’write.batch.size' to flush the data faster

[2022-07-02 09:12] qjqqyy commented on #5980
seems to be related to #4012, which is fixed in 0.11.0

[2022-07-04 04:43] ccchenhe opened #6034 "[SUPPORT] Flink Bucket Index Can't Update Records Using 0.11.1"
**Describe the problem you faced**

testing hudi bucket index, I submit 2 flink applications to consume same topic using different group.id.

application A using 0.10.0, index.type(not hoodie.index.type) = 'BLOOM'
application B using 0.11.1, index.type(not hoodie.index.type) = 'BUCKET'

e.g. we have 2 binlogs
|id|DML type|detail|
|--|--|--|
|1|insert|insert xx into (id, update_time, status) values

[2022-07-04 06:28] moritzmeister commented on #2841
This thread is very helpful, this should end up in the documentation :)

[2022-07-04 09:46] danny0405 commented on #6034
One thing you need to know is that bucket index does not support update upon different partitions, expect that you source stream is CDC itself.

[2022-07-04 09:58] ccchenhe commented on #6034
yep, my kafka data source is binlog.
or can I understand that if using bucket index, it is better not to set partitions?

[2022-07-04 10:15] KnightChess opened #6037 "[QUESTION] about the implementation of spark merge into"
Hi, team, I have some doubt when use `merge into` with spark sql
1.
eg:
[code]
the matched condition col is  target table, it will throw cannot resolve, consider the below code, I'm not sure if it considers `mor` table. If so, `condition.map(resolveExpressionFrom(resolvedSource, target)(_))` for `cow` may be ok.
Are there any other considerations?
[code]

2.
I have the need to use multi updateActi

[2022-07-04 10:39] danny0405 commented on #6034
You can set up partitions, can you show some characteristics of the data that duplicates ? It is helpful to dig into the reason.

[2022-07-04 16:57] tommss opened #6038 "[SUPPORT] MOR taking more time than COW using HoodieJavaWriteClient"
I am doing a PoC of HUDI and I noticed that while using HoodieJavaWriteClient.java, the writes in case of MOR are taking more time when compared to COW.
But when using DataFrameReader, MOR is faster than COW for the same dataset.
In both cases I am doing 'insert' operation.
In case of java client, I notice a gradual decrease in throughput. There are total of 7million rows and I am batching with 20

[2022-07-04 17:54] fengjian428 commented on #6038
as long as use bulk_insert with NonSortPartitioner you can get better performance in cow mode than mor mode.
otherwise, cow table still need to copy small files into bigger one in every commit, that's also cause write amplification

[2022-07-04 18:03] tommss commented on #6038
But , I am not using bulk_insert option here as java client does not support it

[2022-07-04 18:15] fengjian428 commented on #6037
Do you want to use Merge into syntex on MergeOnRead table?  what's the error you got? I know there are some limitations if using this syntax on MOR.

[2022-07-04 18:19] fengjian428 commented on #6038
If not using bulk_insert, in my experience mor mode should be faster than cow mode in most of the cases due to write amplification, I've tested it.

[2022-07-04 18:27] fengjian428 commented on #6034
there are no duplicates in both tables,  is it possible events in Kafka are not the same when you ingest data into the bucket indexed table?

[2022-07-04 18:30] tommss commented on #6038
ok, I have noticed the same when using DataFrameReader. But after moving to java client, I see this behavior of MOR being slower than COW

[2022-07-04 18:43] fengjian428 commented on #6038
OK understood, could you provide more information like the file layout and timeline of the MOR table?
btw, is there necessary to use HoodieJavaWriteClient? I think there are also some limitations on MOR when using it

[2022-07-04 19:03] tommss commented on #6038
What exactly do you mean by file layout and timeline? Could you elaborate?
I am reading just 1 table from SQL DB table which has basic column types (around 15 columns). I have chosen the simplest table possible to begin with. I have created default partition for now and all 7million rows go into the same partition.
It has become necessary to use HoodieJavaWriteClient as  sparksession, sparkcontext

[2022-07-04 19:22] fengjian428 commented on #6038
Can just provide screenshots of data files and upload the files in .hoodie here

[2022-07-04 21:03] tommss commented on #6038
Attached are the screenshots of files under the partition folder
![filesset2](https://user-images.githubusercontent.com/3656499/177216296-bc1a341a-1539-4691-b112-13407907469c.png)

and some of the files in .hoodie folder
![hoodie_folder_fileset3](https://user-images.githubusercontent.com/3656499/177216308-4d118534-480d-4194-ab1f-d54e4a170c7e.png)

[2022-07-05 00:33] KnightChess commented on #6037
@fengjian428 No, just COW table.
In case one, it will throw AnalysisException `Cannot resolve target.age in ...., the input columns is: [id#x, name#y, age#z, dt#w]`.
In case two, I want use more than one updateAction may be like below
[code]
And I just want to know why add the limit in these case, then I will coding for these scenes.

[2022-07-05 02:18] fengjian428 commented on #6038
@tommss  there are no delta-logs in the path,  normally if you use a Global index, should generate delta-log first. I go through the source code of  HoodieJavaCopyOnWriteTable and HoodieSparkMergeOnReadTable and found there are no differences between them in insert behavior, HoodieSparkMergeOnReadTable just inherits the insert method from HoodieJavaCopyOnWriteTable.

[2022-07-05 02:22] YannByron commented on #6004
@yihua  copy that.
1. there should be a judgement to make it pass or throw an exception about the different properties;
2. if you want to create a rt table that can be queried in hive or other non-spark engine. you maybe execute the sql in hive , or in spark. @JoshuaZhuCN

[2022-07-05 02:25] YannByron commented on #5981
@yihua @JoshuaZhuCN for now the `recordKey` and `preCombineFiled` can not be changed. and IMO, we should not to relax the restriction that will guarantee our correctness of data.

[2022-07-05 02:29] tommss commented on #6038
Aren't delta-log files created when there are any updates? But in my case I am doing only inserts. There are no updates in my batch. I am just dumping data from DB table to file

[2022-07-05 03:00] fengjian428 commented on #6037
for the first question, I think this restriction is just back-compatible for mor table.  data should update correctly if remove the unResolvedAttrs check when using cow mode.

for the second one,  I go through the source code, then I found the expressionPayload that MergeInto used, cannot support more than one UPDATE condition and assignment.  I think I can create a pr for this

[2022-07-05 03:09] fengjian428 commented on #6038
not exactly.  in this case, you choose MemoryIndex which is a CanIndexLog index. so data can append to delta-log even if a new record insert. but for now HoodieJavaMergeOnReadTable is unfinished but this should be normal behavior

I'm not exactly sure what's your requirements really are.  the Dataframe or rdd is already distributed, why do you need to create a spark session in the worker node?

[2022-07-05 03:16] KnightChess commented on #6037
@fengjian428 thanks for answering, for the second, Looking forward to your pr :)

[2022-07-05 03:46] KWIGNIS commented on #3042
Did you fix it? I also encountered this problem with the Flink of 1.13.6. Where should I modify the version of parquet?

[2022-07-05 03:53] xiaolongge904913 commented on #3042
By add the following configuration to the packaging/hudi-flink-bundle/pom.xml，and package it yourself
[code]

[2022-07-05 06:02] yihua commented on #5981
@JoshuaZhuCN To change the pre-combine field, the only way is to create a new Hudi table based on the new configurations.  Hope that helps.  Feel free to reopen the issue if you have more questions.

[2022-07-05 06:02] #5981 closed

[2022-07-05 06:03] yihua commented on #5983
@bkosuru I'm able to reproduce this issue.  I'm working on a fix to enable partition pruning and projection for the incremental query on COW table.

[2022-07-05 06:07] yihua commented on #6037
Thanks @fengjian428 for looking into this.  Let's create a Jira ticket to track that.

[2022-07-05 06:49] fengjian428 commented on #6037
https://issues.apache.org/jira/browse/HUDI-4361 create one for multiple update actions @yihua

[2022-07-05 07:57] JoshuaZhuCN commented on #6004
@YannByron
2、These two DDLS are executed in spark SQL. Do you mean that the other DDL needs to be created in other engines？

[2022-07-05 08:05] ccchenhe commented on #6034
ok

now same id have 2 records, 1 is insert, other 1 is update
[code]
application using flink bloom state consume kafka ( these 2 records), and we got
![image](https://user-images.githubusercontent.com/20533543/177280265-1f3dc430-ec16-453c-9484-525e031e83ef.png)

application using flink bucket consume kafka ( these 2 records), and we got
<img width="1792" alt="image" src="https://user-images.githu

[2022-07-05 08:06] ccchenhe commented on #6034
m sure that all of records saved kafka and consume. becuase each binlog has double write hdfs use other channel

[2022-07-05 08:10] voonhous commented on #6037
Would like to enquire, for multiple update actions, how would overlapping matched actions be evaluated?

For example:
[code]

I am not really sure how traditional SQL parsers/engines handle these situations.

[2022-07-05 10:23] cajil opened #6047 "[SUPPORT] Hdfsparquetimport tool is not picking rowKeyField and partitionPathField in correct format"
**Describe the problem you faced**

I am trying to use hdfsparquetimport tool which is available within hudi-cli to bootstrap a table to hudi. The table to be bootstrapped is in parquet file format. While doing so, I am facing multiple issues due to schema mismatch between what is in the parquet file versus what is defined in avro schema file.

Note: Tests are run in AWS EMR environment.

Avro sch

[2022-07-05 10:28] cajil commented on #6047
To add on to the above issue, I have also tried bootstrapping parquet files without SNAPPY compression. But it didn't help either.

[2022-07-05 12:51] danny0405 commented on #6034
I see many useless options for the SQL, can you try this option again:
[code]

[2022-07-05 12:54] noahtaite opened #6048 "[SUPPORT] S3 throttling while loading a table written with "hoodie.metadata.enable" = true"
**Describe the problem you faced**

Our Hudi data lake is heavily partitioned by datasource, year, and month.

We have 1000 datasources currently loaded into the lake, and are looking to load 1000 more over 2 bulk_insert batches. Our Hudi data lake is a Java application that has custom schema validation logic. It is achieved by calling `spark.read.format("hudi").load(existingTable)` to retrieve th

[2022-07-05 15:09] tommss commented on #6038
- I changed index to Bloom to see if it makes any difference, but it does not.
- What do you mean by HoodieJavaMergeOnReadTable is unfinished ?
- Below is what we are trying to achieve in the cluster and the reason for using hudi java client.

![image](https://user-images.githubusercontent.com/3656499/177359536-299c0c3f-bc68-4159-8b8e-197986d12139.png)

[2022-07-05 15:15] fengjian428 commented on #6038
HoodieJavaWriteClient use HoodieJavaMergeOnReadTable for handle mor table, and HoodieJavaMergeOnReadTable does nothing but inherits function from HoodieJavaCopyOnWriteTable.
So if you cannot change to SparkWriteClient or Flink, we need to implement HoodieJavaMergeOnReadTable's function

[2022-07-05 15:26] fengjian428 commented on #6038
why don't you create a dataframe on top of rdd and then save it to hudi?
btw have you joined hudi's slack? we can discuss this

[2022-07-05 15:35] tommss commented on #143
Hi,Please add me to slack group
Email: sheishere48@gmail.com
Thanks!

[2022-07-05 15:44] noahtaite commented on #6048
![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/24283126/177366433-d21d3d16-31ed-41c8-93cf-aff1ae37b687.png)

You can see the effect is a spike here after inserting 500 more data sources (for a total of 1500) and then calling load() to do schema validation for the last 500.

[2022-07-05 15:48] fengjian428 commented on #6038
https://hudi.apache.org/community/get-involved  just click the join group link

[2022-07-06 04:51] yihua commented on #6014
cc @minihippo @xiarixiaoyao

[2022-07-06 04:51] yihua commented on #6011
cc @yuzhaojing

[2022-07-06 04:52] yihua commented on #6007
cc @minihippo

[2022-07-06 04:55] yihua commented on #5989
cc @minihippo @xiarixiaoyao

[2022-07-06 04:55] yihua commented on #5985
cc @minihippo

[2022-07-06 04:56] yihua commented on #5984
cc @minihippo

[2022-07-06 04:57] yihua commented on #5979
cc @yuzhaojing

[2022-07-06 06:26] shqiprimbkodelabs opened #6052 "[SUPPORT] HoodieRollbackException when starting Flink Job on existing Hudi Table"
I am using Hudi with Flink and when I submit the job it fails to rollback. This is issue happens also if any of the checkpoints fails.
`Caused by: org.apache.flink.util.FlinkException: Global failure triggered by OperatorCoordinator for 'stream_write: HUDI_TIME_SERIES' (operator e8fc67ede24cef102d7d7a9334f93f11).
    at org.apache.flink.runtime.operators.coordination.OperatorCoordinatorHolder$Lazy

[2022-07-06 06:40] RoderickAdriance commented on #5765
@yihua I use Hadoop3 and spark2 this problem will be resolved.
So I think this problem  is caused by the incompatibility between Hudi jar package and spark3 package.

[2022-07-06 07:47] danny0405 commented on #6011
It expects to be resolved already, cc @yuzhaojing any details here why the exception still exists ?

[2022-07-06 09:29] shqiprimbkodelabs commented on #6052
Still not working, it NoClassDefFoundError  AWSGlueCatalogSyncTool even though I am using Hive as catalog

`Caused by: java.lang.NoClassDefFoundError: org/apache/hudi/aws/sync/AWSGlueCatalogSyncTool
	at org.apache.hudi.sink.StreamWriteOperatorCoordinator.initHiveSync(StreamWriteOperatorCoordinator.java:332) `

[2022-07-06 09:42] danny0405 commented on #6052
oops, this is another bug ...

[2022-07-06 10:08] danny0405 commented on #6052
Did you use the flink-hudi-bundle jar , the hudi-aws expects to be packaged in.

[2022-07-06 10:41] shqiprimbkodelabs commented on #6052
Yes, also tried to include aws bundle but didn’t work

On Wed, Jul 6, 2022 at 12:08 PM Danny Chan ***@***.***> wrote:

--

Shqiprim Bunjaku

*KODE Labs*

m:

383 44 709 267

w:

*kodelabs.com <http://kodelabs.com/>*  e: ***@***.***

[2022-07-06 15:37] rishabhbandi commented on #5942
Even I am facing issue in doing Partial Update in Hudi @nsivabalan How can I reach out to you, please share your contact email.
I have posted the issue on Apache Hudi slack channel - https://apache-hudi.slack.com/archives/C4D716NPQ/p1657111605627799

[2022-07-06 19:12] rishabhbandi opened #6055 "Hudi Partial Update not working by using MERGE statement on Hudi External Table"
**Describe the problem you faced**

**Scenario #1:**

1)created a dataframe(**targetDf**) and using the below statement to write it in GCS Bucket location (for ex - **locA**)
targetDF.write.format(org.apache.hudi).options(hudiWriteConf).mode(SaveMode.Overwrite).save(locA)

2)then we are creating an external hudi table on locA. lets call it **ext_hudi_tbl_on_locA**

3)next we have our dataframe whi

[2022-07-06 21:21] parisni opened #6056 "[SUPPORT] Metadata table suddenly not cleaned / compacted anymore"
spark 3.2.1
hudi 0.11.1
----------------

I am populating hudi tables on a hourly basis with insert operation.
The table had been backfilled with bulk-insert operation previously.

Since about 50 commits at least, the metadata is not cleaned/compacted anymore.

As a result:
-  reading the table gets very slow (> 100 merge files)
- I need to increase `spark.hadoop.fs.s3a.connection.maximum` otherwi

[2022-07-07 00:51] yihua commented on #6056
@parisni Any pending instant in the active timeline of the data table blocks the compaction in the metadata table.  It's likely that there's a pending instant in the active timeline.  Could you share the complete timeline of the data table (`table/.hoodie/`) and metadata table (`table/.hoodie/metadata/.hoodie`) for debugging purposes?

[2022-07-07 00:57] yihua commented on #6055
@rishabhbandi could you provide the Hudi configs you use to write and update the tables?

@YannByron @xiarixiaoyao @XuQianJin-Stars could any of you help check if there is a problem?

[2022-07-07 01:41] yihua commented on #6048
@noahtaite We made a foundational redesign to the metadata table with synchronous updates in 0.10.0 release: https://hudi.apache.org/releases/release-0.10.0#metadata-table.  Could you try the latest release 0.11.1 and see if the problem is resolved?  Could you also share the content under `table/.hoodie/metadata` where the metadata table resides?

[2022-07-07 02:29] shuai-xu commented on #5765
@yihua , This problem is caused by that the hbase 2.4.9 jars in maven source are compiled with hadoop-2.7. The quick fix is to compile hbase with hadoop 3.* and mvn install it， and then compile hudi

[2022-07-07 05:59] rishabhbandi commented on #6055
Hudi Config

[2022-07-07 06:00] rishabhbandi commented on #6055
**Hudi Config**
"hoodie.datasource.write.recordkey.field" = "data_src_cd,sales_order_num"
"hoodie.datasource.write.partitionpath.field" = "op_cmpny_cd,order_placed_dt"
"hoodie.datasource.write.precombine.field" = "src_modfd_ts"
"hoodie.datasource.write.operation" = "upsert"
"hoodie.datasource.write.table.type" = "COPY_ON_WRITE"
"hoodie.table.name" = "ww_mb_dl_secure.sales_order"
"hoodie.datasource

[2022-07-07 06:53] eshu opened #6058 "[SUPPORT] Incremental and snapshot reads shows different results"
Hudi version: 0.11.1
Spark version: 3.1.1
Storage: S3
AWS Glue: 3

Function
[code]
shows different results, but because `hoodie.datasource.read.begin.instanttime` is 0, the same ones should appear.

Examples of output
[code]

[code]

These results are reproducible, but unfortunately I can't provide the dataset. I tried with and without `hoodie.datasource.read.incr.fallback.fulltablescan.enable` op

[2022-07-07 06:54] yihua commented on #6047
@cajil could you share a sample parquet file in the same schema for reproducing the issue?

This might be related to Spark’s vectorized parquet reader.  Could you try setting `spark.sql.parquet.enableVectorizedReader` to `false`?

[2022-07-07 08:46] cajil commented on #6047
@yihua I have tried with the suggested setting by providing in propsFilePath. Still running into the same issue.

I am attaching a sample parquet file for reproducing the issue. Only change being CREATED(timestamp) column instead of CREATEDBY(string) in the schema.

Schema definition
`{
  "name": "bootstraptest",
  "type": "record",
  "fields": [
    {
      "name": "CREATED",
      "type": {

[2022-07-07 11:42] zhangty123321 commented on #5833
Excuse me, is there a solution to this problem? This problem occurs almost every time we use Hudi to read full data.

[2022-07-07 14:15] noahtaite commented on #6048
@yihua

Yes, we can try EMR 5.36 which is released with the following Hudi version: 0.10.1-amzn-1. Do we need to re-generate the metadata table, or will the existing one for our large experiment work ok?

Yes, here is the content of the metadata table:
[code]

[2022-07-07 15:13] hassan-ammar commented on #6055
@rishabhbandi  can you please share the correct config to set table path ?

I am trying your scenario #2 (merging by spark.sql with managed HUDI table) and getting this error :
An error occurred while calling o89.sql. Hoodie table not found in path file:/tmp/spark-warehouse/[table_name]/.hoodie

[2022-07-07 15:53] rishabhbandi commented on #6055
@hassan-ammar can we have one working session if possible?

[2022-07-08 00:05] yihua commented on #6056
Yes, that should work.

You shouldn't modify the timeline by manually deleting the inflight instants as that can cause data files from inflight commits to be exposed to queries and corrupt the Hudi table.  Ideally, those commits should be automatically rolled back or retried.  I'll look at the timeline and see why they linger.

[2022-07-08 02:00] danny0405 commented on #5833
What do you mean by 'read full data' ?

[2022-07-08 02:30] eshu commented on #6058
It looks like the response is here: https://github.com/apache/hudi/issues/2841

So if I have a job that commits data 1 time per 15 minutes, to keep weekly data I need set the parameter `hoodie.cleaner.commits.retained` to 4 * 24 * 7?

[2022-07-08 03:43] zhangty123321 commented on #5833
Hello, I mean reading the full amount of data

[2022-07-08 03:53] danny0405 commented on #5833
To read from the hudi table or write into it ?

[2022-07-08 04:44] zhangty123321 commented on #5833
Read the data in full via flink cdc and write it to hudi

[2022-07-08 04:48] zhangty123321 commented on #5833
This error is almost a necessity, we tried to reduce the size of the table, and it still appeared

[2022-07-08 06:25] danny0405 commented on #5833
What kind of cdc source did you use ?

[2022-07-08 07:49] chenlianguu commented on #5765
I have met same problen, anyone can  explain this
![微信图片_20220708154909](https://user-images.githubusercontent.com/20611410/177944061-8d198ffd-dff1-406e-b773-58dea3c24677.png)
?

[2022-07-08 10:10] ccchenhe commented on #6034
after testing , not works : (

[2022-07-08 12:16] nochimow commented on #4622
Same here. Still waiting for an update to upgrade our Hudi from 0.9

[2022-07-08 14:03] rishabhbandi commented on #6055
@hassan-ammar below command being used to create the spark shell - spark-shell --jars gs://spark-lib/bigquery/spark-bigquery-with-dependencies_2.12-0.22.2.jar,/edge_data/code/svcordrdats/pipeline-resources/hudi-support-jars/hudi-spark-bundle_2.12-0.11.0.jar --conf spark.serializer=org.apache.spark.serializer.KryoSerializer --conf spark.kryoserializer.buffer.max=512m --conf 'spark.sql.extensions=or

[2022-07-08 16:29] yihua commented on #6056
After inspecting the timeline and `.hoodie` folder, it is likely that the rollback of the pending requested commits does not kick in.  I'll investigate that.  Meantime, you can manually roll back those commits through Hudi CLI using `commit rollback` before restarting the jobs.

[2022-07-08 16:53] fengjian428 commented on #6058
no, Hudi always keeps the latest version of records in DFS.

For the different result issue, could you upload the file under /.hoodie here? or just give a screenshot first is also ok

[2022-07-08 17:06] fengjian428 opened #6067 "[SUPPORT] what the Incremental query should be ?"
**Describe the problem you faced**

Refer to the definition on https://hudi.apache.org/docs/quick-start-guide#incremental-query, I thought incremental query can query a change data history, but after using it, I found it only returns one version of each FIle ID, should we improve this? or I'm misunderstanding the meaning of docs?

**To Reproduce**

Steps to reproduce the behavior:

1. create table

[2022-07-08 17:11] fengjian428 commented on #6038
Already discussed with @tommss via slack, I recommend using SparkWriteClient
@tommss do you have any update about this?

[2022-07-08 17:59] parisni opened #6068 "[SUPPORT] Partition prunning broken with metadata disable"
hudi 0.11.1
spark 3.2.1
-----------

I have a huge performance drop when disabling metadata table at read time.
Here is a reproductible example with 2k partitions. (spotted in production with 40k partitions)

[code]

Then try both (restating spark between two tests)
[code]

the former is fast, while the later, is as slow as reading the whole table (no partition prunning)

[2022-07-08 20:06] desaismi opened #6069 "[SUPPORT] /hoodie/temp Folder and contents not getting deleted"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-07-09 01:33] jiezi2026 opened #6070 "[SUPPORT]'hoodie.datasource.write.hive_style_partitioning':'true' does not take effect in hudi-0.11.1 & spark 3.2.1"
In hudi-0.11.1, when I use spark 3.2.1 for data initialization (bulk_insert mode),'hoodie datasource. write. hive_ style_ Partitioning':'true' does not take effect. But it works in upsert mode.

![image](https://user-images.githubusercontent.com/98273236/178086681-7b261036-dcda-4941-a47a-3c496ba47fef.png)

[2022-07-09 12:52] rkkalluri commented on #6068
If you check the sql tab of spark-ui or the explain plan for both statements you see that partition pruning is happening and we only read files from 1 partition to satisfy your query. It is the planning stage that differs where spark catalog first needs to know all the partitions that do exist so that it can filter or prune them. That is exactly the problem Hudi metadata will solve and does not ha

[2022-07-09 12:56] rkkalluri commented on #6068
"I have a huge performance drop when disabling metadata table at read time."

The above should read more like

"I have a huge performance improvement when enabling metadata table at read time."

[2022-07-09 13:05] rkkalluri commented on #6068
spark.sql.sources.parallelPartitionDiscovery.threshold=32

may be you can bump up this config to a bigger number since you have 40K partitions to see some improvement  to help with the no metadata situation.

[2022-07-09 15:01] parisni commented on #6068
@rkkalluri this makes sense ! thanks for your explanations

[2022-07-09 15:01] #6068 closed

[2022-07-09 18:11] fengjian428 commented on #6070
@jiezi2026 Could you tell me how I can reproduce this bug?  like using spark SQL or delta streamer?

[2022-07-09 18:19] fengjian428 commented on #6069
Hudi stores marker files in temp folder for tracking uncommitted data files.  had those commit_instant  been done? hence you can query some records on the condition  that _hoodie_commit_time = commit_instant

[2022-07-10 13:04] ToBeFinder opened #6074 "[SUPPORT] Flink Table Sql write hudi , data duplication in same partition"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-07-10 17:41] rkkalluri commented on #6068
I am able to force reading of just 1 partition with plain spark like

scala> spark.read.format("parquet").option("basePath",basePath).load("/tmp/test_table/1").show()
+-------------------+--------------------+------------------+----------------------+--------------------+---+----+-------+
|_hoodie_commit_time|_hoodie_commit_seqno|_hoodie_record_key|_hoodie_partition_path|   _hoodie_file_name| id|p

[2022-07-10 22:54] eshu commented on #6058
@fengjian428 I added the beginning and the end of .hoodie:
<img width="1433" alt="Screen Shot 2022-07-11 at 7 51 27" src="https://user-images.githubusercontent.com/3531759/178165136-754d79f7-bae2-47b6-855b-0751e6bc0796.png">
<img width="1436" alt="Screen Shot 2022-07-11 at 7 52 05" src="https://user-images.githubusercontent.com/3531759/178165147-3af7ced6-89a7-430c-b796-99c3faafc52b.png">

[2022-07-10 23:47] eshu commented on #6058
Current situation with incremental read:
Case 1, previous commit time from the incremental reading was 20220706130300379
[code]

Case 2, previous commit time was 20220706010239483:
[code]

It looks a cleaner process is involved here. We lost more records from the incremental read. Snapshot read have the same commit times (20220606082430597 and 20220608041038459 respectively).

[2022-07-11 03:11] dohongdayi commented on #5765
I resolved this by packaging a new version of hbase 2.4.9 with our Hadoop 3 version with the following command:

`mvn clean install -Denforcer.skip  -DskipTests -Dhadoop.profile=3.0 -Psite-install-step`

after that, changed `hbase.version` in pom.xml of Hudi and package Hudi again.

[2022-07-11 03:14] XXwhite commented on #6019
Hudi中数据延迟貌似不是因为Checkpoints，我的表类型是MERGE_ON_READ，我发现hudi并不会按照我的策略（'compaction.trigger.strategy'= 'num_or_time'）来压缩合并数据，才导致我不能及时看到数据，不知道有没有相关说明？

[2022-07-11 03:31] Zhangshunyu opened #6075 "Hudi's current driver cache management has some problems"
Hudi's current driver cache management has some problems:
  1) The cache is only shared within the session. In different sessions, because the cache is not shared, the cache information of the same table is loaded repeatedly;
  2) When a session is released, the corresponding cache of the session is not released, causing the cache to accumulate until oom
  3) When the session is first built, the q

[2022-07-11 06:24] xicm commented on #6047
It seems there is a bug in HDFSParquetImporter, we read the original value and assign it to partitionPath, shall we transform the record with the read schema  before writing?   @yihua
https://github.com/apache/hudi/blob/51244eba820b49cf5f5fbdfa6482482a74efaee7/hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java#L178-L204

[2022-07-11 08:46] jdiebold commented on #5717
@nsivabalan we did try to add "null" fields to the dataframe before writing it to the table... unfortunately we got the same error.
i suspect it has something to do with the order of the fields, but that would be a very cumbersome workaround to place these columns at the exact same spot.

[2022-07-11 09:38] jiezi2026 commented on #6070
In order to reproduce my problem, I made a small case.
In our scenario, we first use sqoop to extract MySQL data into a hive table TEMP.temp_hudi_s1.Then use pyspark to load the data of TEMP.temp_hudi_s1 table into TEMP.temp_hudi_t1 table to complete data initialization.

-----------------------------------[sparksql]----------------------------
CREATE database if NOT EXISTS TEMP COMMENT 'temp' loc

[2022-07-11 10:14] jiezi2026 commented on #6070
@fengjian428

[2022-07-11 14:05] KWIGNIS commented on #3042
thanks~~

[2022-07-11 16:49] desaismi commented on #6069
The instant `20220502180145` is in the `.hoodie/.temp/` folder, but not in the `.hoodie/` folder. I also see no records when querying `_hoodie_commit_time = 20220502180145`

[2022-07-12 01:22] txl2017 commented on #6007
use 0.11.1， is ok now

[2022-07-12 03:00] TengHuo commented on #6070
Yeah, we got the same issue when using bulk_insert in 0.11, and there is no problem in 0.10.1

@jiezi2026 you can try 0.10.1 if you are urgent

[2022-07-12 05:37] jiezi2026 commented on #6070
@TengHuo  Thanks, I'm trying to replace my code with sparksql.

[2022-07-12 06:31] YuweiXiao commented on #5541
Sorry for the late reply. The patch is posted above, PR #4012

[2022-07-12 09:24] TengHuo commented on #6070
Submitted a PR for fixing this issue: https://github.com/apache/hudi/pull/6085

And this issue is related with a merged PR: https://github.com/apache/hudi/pull/5462
and a pending PR: https://github.com/apache/hudi/pull/5470

[2022-07-12 09:58] LinMingQiang opened #6086 "Support to trigger the compaction in the flink batch mode write."
Configure parameter `compaction.batch.mode.enabled` to decide whether to enable offline `compaction`, users no longer need to perform `offline compaction` separately.

[2022-07-12 10:02] robertobechara commented on #4723
Hi @Gatsby-Lee, I'm currently having the same issue (running Hudi on ECS instead of EMR), how can I check this version?

Thanks,

[2022-07-12 10:09] minihippo commented on #5985
It's related to the Avro implementations. @fengjian428 It's the same problems that u are meeting, right?  Could u give a workaround?

[2022-07-12 10:22] minihippo commented on #5934
Changing the payload to `DefaultHoodieRecordPayload` may solve your problem. It match the semantic that get the latest one which value of combine field is bigger.

[2022-07-12 10:32] #5934 closed

[2022-07-12 11:17] fengjian428 commented on #5985
I have found an 'Avro field array not found' issue which is caused by ParquetReader can't read struct that only has one array type field.  **and the workaround is to add a dummy field into the struct.** I'm not very sure you are facing the same issue but you can also give it a try @phillycoder

[2022-07-12 14:06] bigdata-spec opened #6089 "[SUPPORT] Upgrading to 0.11.1 resulting use sparksql"
Hudi has recently released the latest version of Hudi, 0.11.1, which is pulled from Github and modified as follows for our Hadoop environment CDH6.3.2。
 Upgrading to 0.11.1 resulting use sparksql：
`

create table if not exists zone_test.hudi_spark_table_0707
(
    id                 string,
    brand_id           int,
    brand_name         string comment '品牌名称',
    model_id   int,
    model_name

[2022-07-12 15:42] minihippo commented on #5916
Any updates？

[2022-07-12 15:50] minihippo commented on #5984
Could provide the size of shuffle data and the number of reducers? According to these and the executor memory, we could find out a suitable paralism.

[2022-07-12 15:56] minihippo commented on #5989
@neerajpadarthi Hudi version has to be 0.11 that supports schema evolution.

[2022-07-12 17:51] xushiyan commented on #6067
@fengjian428 the full CDC feature should be available through this feature https://github.com/apache/hudi/pull/5436

[2022-07-12 20:33] kapjoshi-cisco commented on #5612
@minihippo sure we can close it, thanks.

[2022-07-12 20:37] gtwuser commented on #5612
@minihippo yes we can close this, thanks

[2022-07-12 20:37] #5612 closed

[2022-07-12 22:18] yihua commented on #6056
@parisni do you still see any issue after our offline sync?  I see that the rollback should kick in for the pending commits with timed-out heartbeats and then the compaction should happen in the metadata table.  If the pending commits are not rolled back for a long time, there might be a bug in specific corner case.

[2022-07-12 22:24] yihua commented on #6089
It looks like there is a conflict between the HBase hbase-default.xml from `hudi-hadoop-mr-bundle-0.11.1.jar` (HBase 2.4.9) and the CDH Hive HBase library (HBase 2.1.1-cdh6.3.2).  Could you try setting `hbase.defaults.for.version.skip` to `true` in hbase-site.xml or hbase-defaults.xml?

[2022-07-13 01:46] jiangbiao910 commented on #6089
Thank you for reply，
I try modify the **\hudi\hudi-common\src\main\resources\hbase-site.xml** ，setting **hbase.defaults.for.version.skip** to **true** ，but it does‘t work well， HS2   does not start ，
Log Error  as：
Caused by: java.lang.RuntimeException: hbase-default.xml file seems to be for an older version of HBase (2.4.9), this version is 2.1.0-cdh6.3.2。

[2022-07-13 02:41] JxKim commented on #6089
1

[2022-07-13 02:45] JxKim commented on #6086
现在有这个参数了吗

[2022-07-13 02:57] LinMingQiang commented on #6086
it will be coming soon.

[2022-07-13 03:04] LinMingQiang commented on #6086
https://issues.apache.org/jira/browse/HUDI-4385

[2022-07-13 03:19] jiangbiao910 commented on #6089
Thank you for reply，
I try modify the \hudi\hudi-common\src\main\resources\hbase-site.xml ，setting **hbase.defaults.for.version.skip** to **true**
It looks work well。
but I found that the **MOR partition table** cannot be queried directly through Hive **unless you manually add partitions** .
the **MOR no partition table  and COW(partition or no partition） can be queried directly through Hive .**
i

[2022-07-13 06:01] amit-ranjan-de commented on #5916
Hi @minihippo , sorry for late response!

I couldn't find `20220615161228.compaction` or `20220615172826.compaction` 😞

[code]

Also, under which cases two compaction could have the same file group in their plan?
Is there any mechanism to bypass this check when doing running `show fsview latest`?

[2022-07-13 06:33] todd5167 opened #6094 "[SUPPORT] hudi rollback throw java.lang.IllegalArgumentException"
1.  hudi version: 0.10.0-patch
2. flink write hudi config:
[code]

error log:
[code]
The current branch has this PR (https://issues.apache.org/jira/browse/HUDI-2641), whether there are other PRs to fix it

[2022-07-13 08:01] novisfff opened #6095 "[SUPPORT] May TimelineServerBasedWriteMarkers lost data?"
**Environment Description**

* Hudi version : 0.11.1

* Spark version :

* Hive version :

* Hadoop version :

* Storage (HDFS/S3/GCS..) :

* Running on Docker? (yes/no) : no

TimelineServerBasedWriteMarkers wirte marker file to fileSystem asynchronously, if some error crash the task, will the marker not written in time be lost? Will this cause some problems?

[2022-07-13 10:52] leoyy0316 opened #6097 "spark timestamp issue help!!!"
For hudi timestamp type, if bulksert is used for initialization and upsert is used for stream processing, this field will become 1970-01-19 09:54:26.763497 during query. As long as there is an update operation, this field in that file will become 1970-01-19 09:54:26.763497, files that have not been updated will not be affected; use bulksert stream processing during initialization, and the problem

[2022-07-13 13:00] phillycoder commented on #5985
@fengjian428 Thanks for the update.
Yes as I mentioned in my original post if I add a dummy field to that struct in the array, then  the update works. Do you have link of GitHub issue or any reference to this Parquet-Avro bug?

[2022-07-13 14:04] fengjian428 commented on #5985
@phillycoder this one https://issues.apache.org/jira/browse/PARQUET-1254

[2022-07-13 14:40] navbalaraman opened #6101 "[SUPPORT] Hudi Delete Not working with EMR, AWS Glue & S3"
### Describe the problem
I'm using a Spark job running on EMR to insert data using hudi (0.9.0). The inserts are working as expected and it stores parquet files in Amazon S3 and I have AWS Glue Data catalog which is used to read data from this S3 using Amazon Athena.
Now I have a use case where i need to delete some records in the dataset and I tried using hudi delete but the records are not getti

[2022-07-13 14:41] parisni commented on #6056
@yihua the commits never got rollback, after 10 days and almost 200 commits. Still the heartbeat file is present in the `.hoodie/.heartbeat` folder.
After manually rollback the pending commits, the metadata table get compacted.

[2022-07-13 15:05] navbalaraman commented on #6101
Got an error like this with the latest run (table_name is the actual name of the AWS Glue table):
"Got runtime exception when hive syncing table_name"

[2022-07-13 17:20] navbalaraman commented on #6101
Used a different config below and now am getting a different error "Failed to upsert for commit time 20220713163717"

[code]
Tried this per the option in the documentation given here https://hudi.apache.org/docs/0.9.0/writing_data/#deletes

[2022-07-13 19:22] minihippo commented on #5701
@phillycoder It looks like we have a workaround in the other issue.

[2022-07-13 21:09] alexeykudinkin commented on #6070
@TengHuo this is immediately addressed in https://github.com/apache/hudi/pull/6049 and will be properly addressed in the fix for HUDI-3993

[2022-07-13 21:49] #6070 closed

[2022-07-13 22:40] Gatsby-Lee commented on #4723
In my case, it was related to EMRFS version.
You need to check the EMRFS version in the environment.

I saw one of github issue that mentioned the EMRFS version, but I can't find it.

Glue2 and Glue3 use different EMRFS version.
When I tried Glue2, it used EMRFS version that doesn't have the patch/fix that supports "alter table cascade".

I am not sure how you can check EMRFS version in your env.

[2022-07-14 01:25] Aload opened #6102 "[SUPPORT]Missing data problem，exigency！！！"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-07-14 02:11] #5346 closed

[2022-07-14 02:42] todd5167 opened #6104 "[SUPPORT] Hope to maintain a stable version"
The current development route is that the next release will add some new functions and fix bugs in the old branch. However, the newly added functions will introduce new bugs. I hope the community can modify some important bugs on the released branch.Release new versions at the same time, for example: 0.11.2, 0.11.3。

[2022-07-14 03:06] danny0405 commented on #6104
+1, but i guess the community is too busy to do that right now, maybe we can do that after release 1.0.0.

[2022-07-14 03:09] danny0405 commented on #6102
Did you read the table using flink, is that right ?

[2022-07-14 03:25] danny0405 commented on #6056
Are there some following fix PR then ?

[2022-07-14 06:16] Aload commented on #6102
Use Flink to write and Spark to read.

[2022-07-14 08:00] hassan-ammar commented on #6055
For Scenario 1, _hoodie_commit_time is getting updated for rows which satisfies the merge criteria but other column values are not getting updated.
For Scenario 2 I am still getting hoodie table not found error.

I am using aws glue along with hudi connecter for glue

[2022-07-14 08:14] TengHuo commented on #6070
@alexeykudinkin
Cool, thanks for remind.
np, I will close PR #6085 if #6049 is merged

[2022-07-14 09:54] danny0405 commented on #5867
The issue is expected to be resolved by this pr: https://github.com/apache/hudi/pull/6106, feel free to re-open it if the problem still exists.

[2022-07-14 11:56] satishmalladi-m opened #6107 "[SUPPORT] RO table did not get updated while RT table did"
Hi

We are facing an issue when we first doing bulk_insert for batch load which we had 9 million records , we are getting two tables one is RT and other is RO Table for bulk_insert everything looks good , but for delta records when we do upsert we are able to update only one table i.e RT table getting updated but RO table is not able to update , could you please help me on this issue

[2022-07-14 12:51] ToBeFinder commented on #6074
I found that the problem is when the partition date is '1990-01-01'

[2022-07-14 13:06] phillycoder commented on #5985
Thanks for looking into it. @fengjian428 @minihippo @yihua

Since this issue related to parquet-avro module and cannot be fixed in hudi, i close this issue.

[2022-07-14 13:06] #5985 closed

[2022-07-14 23:07] yihua commented on #6089
It looks work well。

@jiangbiao910 Sounds good.  I'll put up a fix to change the default value.

the MOR no partition table and COW(partition or no partition） can be queried directly through Hive .
is this a bug？ 0.11.0 and 0.11.1 the same result .

Let's follow up on this in a separate Github issue for traceability.  Could you file a new Github issue on the Hive issue and provide reproducible ste

[2022-07-15 03:20] fengjian428 commented on #6058
create a Jira ticket to track https://issues.apache.org/jira/browse/HUDI-4402

[2022-07-15 04:03] duxia opened #6115 "[SUPPORT] insert into supports writing by partition without specifying a partition field"
Currently only insert into table xxx partition(a) can be used
When expecting insert into table xxx, support automatic partition routing function

[2022-07-15 05:30] XuQianJin-Stars commented on #6115
Thank you @duxia , I have created a jira to track it [HUDI-4404](https://issues.apache.org/jira/browse/HUDI-4404)

[2022-07-15 05:30] #6115 closed

[2022-07-15 06:15] Zhangshunyu commented on #6104
can't agree more

[2022-07-15 07:22] YannByron commented on #6004
if create a mor table in spark, the rt table and ro table will be created automatically at the same time.

[2022-07-15 07:25] YannByron commented on #6001
The table created with `location` will be defined as an external table. Dropping this table will just remove the metadata from metastore, not delete any files in the location.

[2022-07-17 04:16] xushiyan commented on #6107
looks like something to do with meta sync where RO is not getting sync'ed. please provide scripts and configs for reproducing then we can help from there.

[2022-07-17 08:09] HyatteJiang commented on #5547
I got the same problem in my spark-shell. excluding the package org.apache.parquet:parquet-common is a valid solution

[2022-07-17 19:49] sambhav13 opened #6125 "[SUPPORT] hudi-examples-dbt not running with spark thrift server"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Tried Running https://gith

[2022-07-17 20:04] sambhav13 opened #6126 "[SUPPORT] Hudi Table(MOR) not getting created from Flink Sql Client Shell"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
When trying to run create

[2022-07-18 00:17] xushiyan commented on #6125
hey @vingov can you take a look please?

[2022-07-18 00:23] xushiyan commented on #6104
it does make sense to have one. I also feel 1.0 can be good candidate for it.

[2022-07-18 00:46] xushiyan commented on #6097
@leoyy0316 can you provide script and config for reproducing?

[2022-07-18 01:01] #6086 closed

[2022-07-18 01:34] jiangbiao910 opened #6127 "[SUPPORT] Upgrading to 0.11.1 resulting use sparksql and Sync Hive"
Hudi has recently released the latest version of Hudi, 0.11.1, which is pulled from Github and modified as follows for our Hadoop environment CDH6.3.2。
Upgrading to 0.11.1 resulting use sparksql：
`
create table if not exists zone_test.hudi_spark_table0718_mor_0111
(
    id                 string,
    brand_id           int,
    name         string,
    model_id   int,
    model_name string,
    et

[2022-07-18 02:17] xushiyan commented on #6075
@Zhangshunyu thanks for the analysis. i see you've already done some profiling and code analysis

would you take a step further share the related code paths for this issue? or even maybe file a PR directly and we can discuss further from there?

[2022-07-18 02:21] xushiyan commented on #6127
cc @fengjian428

[2022-07-18 02:26] Zhangshunyu commented on #6075
@xushiyan Hi shiyan, thanks for you reply, i find this is a spark problem as spark didnt release the cache for 1 session when the session is closed. we have fixed this in spark.

[2022-07-18 02:39] xushiyan commented on #6067
@fengjian428 incremental query is to give you changes between BEGIN_INSTANTTIME_OPT_KEY and now. In your example, you set the BEGIN_INSTANTTIME_OPT_KEY to 0, it means give all records' latest versions btw time 0 and now. In real-world scenario, you do incremental query for t1, it returns rec1 at version v1; at t2 when you query, if rec1 changes from v1 -> v2 -> v3, it'll give you all records that

[2022-07-18 02:39] #6067 closed

[2022-07-18 02:46] danny0405 commented on #6094
It may be related to this PR: https://github.com/apache/hudi/pull/5357, which has tweaked the compaction rollback strategy.

[2022-07-18 02:51] xushiyan commented on #6075
@Zhangshunyu you meant fixed in spark source code? it would be interesting to see the upstream patch for spark.

[2022-07-18 02:51] #6075 closed

[2022-07-18 02:56] todd5167 commented on #6094
I'll take a look after cherry pick

[2022-07-18 03:57] txl2017 opened #6128 "[SUPPORT] spark-sql can't create hudi table"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-07-18 04:01] KnightChess commented on #6127
@jiangbiao910 which query engine do you use to query data? make sure `hudi_spark_table0718_mor_0111` has no partition info in hive metastore

[2022-07-18 04:06] KnightChess commented on #6127
only _ro and _rt table will sync partition info to metastore, when I use presto to query raw table, cannot query the data, but _ro or _rt success. Depending on the implementation of the engine. When you `set hoodie.datasource.hive_sync.skip_ro_suffix=true`, it will take raw table as _ro to sync

[2022-07-18 04:12] KnightChess commented on #6107
for RO table delta commit, It can only be seen after compact action

[2022-07-18 05:13] fengjian428 commented on #6127
Yeah, KnightChess is right, I think this can answer this question

[2022-07-18 05:54] satishmalladi-m commented on #6107
please find below configuration which we are using currently

hudi_options = {
           'hoodie.datasource.write.table.type': self._write_table_type,
           'hoodie.table.name': self._table_name,
           'hoodie.datasource.write.recordkey.field': self._record_key,
           'hoodie.datasource.write.partitionpath.field': self._partition_field,
           'hoodie.datasource.write.precombin

[2022-07-18 07:48] jiangbiao910 commented on #6127
I use hive and trino  to query data，
**show PARTITIONS hudi_spark_table0718_mor_0111**  --》 0

[2022-07-18 08:09] hassan-ammar commented on #143
Please add me to slack group
me.hasanamar@gmail.com

[2022-07-18 08:54] XuQianJin-Stars opened #6131 "Exception file does not exist .hoodie/.aux/view_storage_conf.properties"
[code]

[2022-07-18 12:47] minihippo commented on #6131
Multiple writers of a table？

[2022-07-18 12:56] minihippo commented on #6125
@sambhav13 Can u provide the failed sql? BTW, currently the spark writer design is conflict with spark thrift server, especially we have the kill/cancel operation.

[2022-07-18 13:58] minihippo commented on #6097
set spark.sql.legacy.parquet.datetimeRebaseModeInRead=LEGACY and  set spark.sql.legacy.parquet.datetimeRebaseModeInWrite=LEGACY may help u

[2022-07-18 14:52] sambhav13 commented on #6125
@minihippo  Can you elaborate a bit what do you mean by spark-submit/sql?  What I did was just clone the hudi repo and tried with dbt with spark thrift server configured as backend engine for dbt to run the hudi-examples-dbt models. I think it should not matter what way spark is being run , It could be due to some property missing but I am relying on the hudi-examples-dbt to have all that already

[2022-07-19 02:26] zhouhaijia opened #6137 "[SUPPORT] Hudi 0.10.1 throws NoSuchMethodError: org.apache.spark.sql.execution.datasources.FileStatusCache.putLeafFiles(Lorg/apache/hadoop/fs/Path;[Lorg/apache/hadoop/fs/FileStatus;)V"
**Describe the problem you faced**
I'm using Hudi 0.10.1 with Databricks (9.1 LTS (includes Apache Spark 3.1.2, Scala 2.12)

Trying to load a hudi data set on S3 but failed with this error
`
NoSuchMethodError: org.apache.spark.sql.execution.datasources.FileStatusCache.putLeafFiles(Lorg/apache/hadoop/fs/Path;[Lorg/apache/hadoop/fs/FileStatus;)V
`

**Environment Description**

* Hudi version : 0.10.

[2022-07-19 03:29] xushiyan commented on #6137
@zhouhaijia which hudi bundle jar are you using?

[2022-07-19 03:31] xushiyan commented on #6131
@XuQianJin-Stars not sure what case this is for. can you provide versions, configs and scripts to reproduce?

[2022-07-19 04:39] xushiyan commented on #6128
@txl2017 suspect sth to do with your hive version. can you try hive 2.3.x ?

[2022-07-19 04:44] xushiyan commented on #6127
@KnightChess @fengjian428 thanks!

[2022-07-19 04:44] #6127 closed

[2022-07-19 05:07] xushiyan commented on #6055
cc @fengjian428

[2022-07-19 05:13] xushiyan commented on #6047
the import tool was deprecated. it is recommended to use bootstrap feature instead. see https://hudi.apache.org/blog/2020/08/20/efficient-migration-of-large-parquet-tables

[2022-07-19 07:03] xicm commented on #6047
Bootstrap works well.

[2022-07-19 08:53] qianchutao opened #6142 "[SUPPORT] column ‘_hoodie_is_deleted’ query by presto exception"
**version:**
hudi: aws-emr 0.9
presto: aws-emr Presto 0.261

**description:**
When I use Presto to query HUDi's RO table, an exception will be thrown if the query field contains "_hoodie_IS_DELETED". This problem does not occur when I query RT tables, and an exception will not be thrown if the RO table does not contain "_hoodie_IS_deleted"

**exception description:**
Caused by: com.facebook.presto

[2022-07-19 08:56] qianchutao commented on #6101
I encountered the same problem. I used Spark-shell to delete HUDI table data in the official website document of the War. When I deleted the non-partitioned table, the deletion succeeded, but the deletion did not work when I deleted the partitioned table

[2022-07-19 09:58] XuQianJin-Stars opened #6143 "Exception org.apache.hudi.exception.HoodieIOException: Could not read commit details"
2022-07-19 05:44:23
org.apache.hudi.exception.HoodieIOException: Could not read commit details from hdfs://XXXXXX/.hoodie/20220719053423274.deltacommit
	at org.apache.hudi.common.table.timeline.HoodieActiveTimeline.readDataFromPath(HoodieActiveTimeline.java:763)
	at org.apache.hudi.common.table.timeline.HoodieActiveTimeline.getInstantDetails(HoodieActiveTimeline.java:264)
	at org.apache.hudi.commo

[2022-07-19 11:11] satishmalladi-m commented on #6107
please find below configuration which we are using currently

hudi_options = {
'hoodie.datasource.write.table.type': self._write_table_type,
'hoodie.table.name': self._table_name,
'hoodie.datasource.write.recordkey.field': self._record_key,
'hoodie.datasource.write.partitionpath.field': self._partition_field,
'hoodie.datasource.write.precombine.field': self._combine_key,
'hoodie.datasource.write.k

[2022-07-19 15:19] yuzhaojing commented on #6019
@XXwhite Can you provide hudi and flink versions?

[2022-07-19 15:27] yuzhaojing commented on #6074
Do you mean that data duplication only occurs if there is a partition date of '1900-01-01'?

[2022-07-19 23:11] xushiyan commented on #6047
@cajil can you please migrate to use bootstrap instead?

[2022-07-19 23:11] #6047 closed

[2022-07-20 01:37] jiangbiao910 opened #6146 "[SUPPORT] Upgrading to 0.11.1 resulting use delete of sparksql"
The environment is CDH6.3.2 and Hudi is 0.11.1

I want to test delete of spark sql，
there are 4 records in the table ，**vehicle_model_id is [100 101 102 105]**
when I use spark sql  run：
**delete from zone_test.hudi_spark_table0719_0101 where vehicle_model_id = '102';**  **it works ok** there is 3 records in the table ，
![image](https://user-images.githubusercontent.com/23710717/179876164-0f81f732

[2022-07-20 02:07] yuzhaojing commented on #6102
You can try change `REALTIME_SKIP_MERGE_OPT_VAL` to `REALTIME_PAYLOAD_COMBINE_OPT_VAL`.

[2022-07-20 03:00] fengjian428 commented on #6055
@voonhous

[2022-07-20 03:01] XXwhite commented on #6019
hudi:0.11.1,flink:1.13.6

[2022-07-20 05:08] rmahindra123 commented on #6143
@XuQianJin-Stars Can you elaborate more on the setup and environment and steps to reproduce?

[2022-07-20 08:11] voonhous commented on #6055
@rishabhbandi I don't quite understand the steps between:

[code]

and

[code]

Can you please provide a coded example instead, thanks.

[2022-07-20 09:36] CaesarWangX opened #6148 "[SUPPORT] Can't get numDeletes in HoodieMetrics"
Hi Team, I have a problem in the process of using HoodieMetrics

How I use it：
I use the customized MetricsRepoter which extends **AbstractUserDefinedMetricsReporter**, and get sortedMap<string, gauge> through MetricRegistry, but I can't get the data related to **numDeletes** in the result.

What have I done：
I go through the source code of **HoodieMetrics** and **HoodieCommitMetadata**. I found t

[2022-07-20 09:59] czshh0628 commented on #5593
I also encountered this problem, big guy, have you solved it

[2022-07-20 11:10] Mike-Roberts-2112 commented on #4985
I agree with the comment above. @xushiyan and @codope  this is a very needed feature.

[2022-07-20 11:35] ToBeFinder commented on #6074
yes ， I tested

[2022-07-20 15:04] fengjian428 commented on #6146
seems to be the same issue as https://github.com/apache/hudi/issues/5765  ?

[2022-07-20 15:25] fengjian428 commented on #6143
also met this error today.
Caused by: org.apache.hudi.exception.HoodieIOException: Could not read commit details from hdfs://xxx/.hoodie/20220720100959953.compaction.requested
	at org.apache.hudi.common.table.timeline.HoodieActiveTimeline.readDataFromPath(HoodieActiveTimeline.java:624)
	at org.apache.hudi.common.table.timeline.HoodieActiveTimeline.readCompactionPlanAsBytes(HoodieActiveTimeline.jav

[2022-07-20 22:48] magnus-ISU opened #6152 "[SUPPORT] When writing data with 'hoodie.datasource.write.payload.class' = 'org.apache.hudi.payload.AWSDmsAvroPayload' the 'Op' column is written to hudi, but I would like to remove it."
**Describe the problem you faced**

When writing data (from amazon DMS for example) 'hoodie.datasource.write.payload.class' = 'org.apache.hudi.payload.AWSDmsAvroPayload' the 'Op' column is written to hudi, but I would like it to not be there. The data is being written to a table which will be queried by analysts who don't need to know the last operation on the data.

**To Reproduce**

Steps to rep

[2022-07-21 01:34] jiezi2026 opened #6156 "[SUPPORT] DISTRIBUTE BY is not supported(line 59:undefined, pos 0) when using hudi-0.11.1 & spark-3.2.1"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-07-21 02:16] xiaozhch5 opened #6158 "[SUPPORT] Spark 3.2.1, the value of hoodie.datasource.write.hive_style_partitioning in HMS catalog is different with that in hoodie.properties"
**Describe the problem you faced**

When I create the table in spark sql, the default value of hoodie.datasource.write.hive_style_partitioning in HMS catalog is different with that in .hoodie.properties

![image](https://user-images.githubusercontent.com/46479816/180114701-bd321dcb-2eee-459d-8105-d263617719f2.png)

![image](https://user-images.githubusercontent.com/46479816/180114840-ea1f7c0d-5e74

[2022-07-21 02:18] hbgstc123 commented on #143
Please add me to slack group
Email: hbgstc123@gmail.com
Thanks!

[2022-07-21 03:31] TengHuo commented on #6143
And also encounter this error in COW table in Flink append mode pipeline.

[code]

[2022-07-21 07:02] rmahindra123 commented on #5952
@glory9211 could you please provide more details on your setup to reproduce. Also, if possible please provide the Spark UI screenshot where you saw the sequential behavior. spark.read.format().load() does actually parallelize and would create 50K tasks in your case.

Also, are you talking about S3EventsSource.java or S3EventsHoodieIncrSource.java because S3EventsHoodieIncrSource actually reads the

[2022-07-21 07:31] rmahindra123 commented on #5952
@glory9211 also could you verify if hoodie.deltastreamer.source.s3incr.check.file.exists is set to true. If yes, could you re-run the pipeline with hoodie.deltastreamer.source.s3incr.check.file.exists=false and see if the performance issue is resolved.

[2022-07-21 07:54] haripriyarhp opened #6166 "[SUPPORT] Missing records when using Kafka Hudi sink to write to S3."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I am using the Kafka Hudi

[2022-07-21 08:00] rmahindra123 commented on #5893
@BalaMahesh can you confirm if this solved the issue?

[2022-07-21 08:24] danny0405 commented on #6158
@yihua can you take a look, seems a critical bug for release 0.12.0 or 0.11.2

[2022-07-21 08:43] rmahindra123 commented on #5875
@ksrihari93 you have set --checkpoint 1654478958926 which will make deltastreamer always start from that point. Run deltastreamer in non-cont mode using --checkpoint 1654478958926 and then in cont mode without --checkpoint 1654478958926.

[2022-07-21 09:16] 1032851561 opened #6167 "[SUPPORT] No results are returned from incremental queries within the archived range"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

When using flink SQL to i

[2022-07-21 16:10] Mulavar opened #6169 "[QUESTION]How can I run the example at org/apache/hudi/examples/java/HoodieJavaWriteClientExample.java properly?"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I am a beginner in hudi,

[2022-07-21 16:55] xushiyan commented on #5548
fixed in #5987

[2022-07-21 16:55] #5548 closed

[2022-07-21 19:29] rmahindra123 commented on #6166
@haripriyarhp the current kafka connector only supports inserts and not updates. Could you clarify the below comment:

In this case, do you see more records in the Hudi table than the kafka records? Or vice versa.

[2022-07-21 19:52] rmahindra123 commented on #6167
@danny0405 could you please take a look or re-assign it.

[2022-07-21 20:37] haripriyarhp commented on #6166
Okay, let me clarify.
First, i sent 100 messages. It was fine. Athena also showed 100 records
Next I sent 100 new messages + 25 updates + 25 duplicates of previous 100 messages. In total there are 250 messages in Kafka but Athena showed only 247. Irrespective of inserts, duplicates or updates, I am assuming that the connector should append the messages.
Later on, I continued sending several rounds

[2022-07-21 21:42] lewis262626 opened #6171 "[SUPPORT] ClassNotFound Exception when saving DataFrame as Hudi in EMR"
**To Reproduce**

Steps to reproduce the behavior:

1. Create an EMR Cluster with EMR release 6.6.0
2. Create a simple Spark/Hudi job3.
3. Submit to spark with `spark-submit hudi.py --conf "spark.serializer=org.apache.spark.serializer.KryoSerializer" --conf "spark.sql.hive.convertMetastoreParquet=false" --jars /usr/lib/hudi/hudi-spark-bundle.jar`
4. Observe stack trace error

[code]

I have also t

[2022-07-22 01:06] tarunguptanit opened #6174 "Hudi Read Performance : Partition pruning not happening when reading Hudi table"
I have a Hudi table that was created using Hudi 0.5.3.
The table is partitioned by year/month/date.

We recently upgraded the Hudi library to use Hudi 0.9.0. We started noticing performance issues while reading.
Seems like partition pruning is not happening when reading through Hudi 0.9.0.

The below operation through Hudi 0.5.3 takes ~1 second.

[code]

The same set of commands through Hudi 0.9.0

[2022-07-22 02:17] paul8263 opened #6177 "[SUPPORT] Hudi cli got empty result for command show fsview all"
**Describe the problem you faced**

Hudi cli got empty result after running command show fsview all.

![image](https://user-images.githubusercontent.com/7007327/180346750-6a55f472-45ac-46cf-8185-3c4fc4c76434.png)

The type of table t1 is  COW and I am sure that the parquet file is actually generated inside data folder. Also, the parquet files are not damaged as the data could be retrieved correctl

[2022-07-22 02:20] CYDL0414 opened #6178 "When building A HUDI table, an error occurs when the number of columns exceeds a certain number[SUPPORT]"
/* 1 */
/* 2 */      public class StreamExecCalc$718 extends org.apache.flink.table.runtime.operators.TableStreamOperator
/* 3 */          implements org.apache.flink.streaming.api.operators.OneInputStreamOperator {
/* 4 */
/* 5 */        private final Object[] references;
/* 6 */
/* 7 */        private final org.apache.flink.table.data.binary.BinaryStringData str$0 = org.apache.flink.table.data.b

[2022-07-22 06:08] rmahindra123 commented on #6171
@lewis262626 While i try to reproduce the steps, could you try specifying the confs before the main class?

park-submit  --conf "spark.serializer=org.apache.spark.serializer.KryoSerializer" --conf "spark.sql.hive.convertMetastoreParquet=false" --jars /usr/lib/hudi/hudi-spark-bundle.jar hudi.py

[2022-07-22 06:39] jiezi2026 commented on #6158
@xiaozhch5 I think this is the same problem as #6070

[2022-07-22 09:31] paul8263 opened #6185 "[SUPPORT] Cannot create table via Spark thrift server"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Cannot create table via S

[2022-07-22 12:51] floriandaniel opened #6188 "[SUPPORT] Low performance with upserts on S3 storage"
**Problem**
I'm testing the ability of Apache Hudi to make upserts faster than the current functions on Spark.
Each record contains 40 fields. The partitioning key is country_iso (a string field). There are 200 different values for this field. The partitions are quite unbalanced (US, China have much records).
The problem is that I'm getting very slow performance with small datasets (~1Gb)
I'm upda

[2022-07-22 14:08] jonslo commented on #143
Hi,Please add me to slack group
Email: [jonslo@amazon.com](mailto:jonslo@amazon.com)
Thanks!

[2022-07-22 14:13] jonslo commented on #5952
@rmahindra123 is it possible to run **S3EventsHoodieIncrSource.java** in parallel across different nodes (i.e. in a k8s cluster) without concurrency issues? Thanks in advance.

[2022-07-22 16:50] giftbowen commented on #143
Hi,Please add me to slack group
Email: [bowenzhu99@gmail.com](mailto:bowenzhu99@gmail.com)
Thanks!

[2022-07-22 21:46] glory9211 commented on #5952
Using this as default. Providing with false solve the issue.

Also the task for listing and fetching the file is not parallelized. The serializing, re-partitioning part is parallel. As discussed in links shared.

[2022-07-22 21:49] glory9211 commented on #5952
If you are writing to same table, using multiple jobs at the same time then you can use zookeeper to achieve concurrent hoodie writing tasks. This feature and related config is documented in the hudi docs

[2022-07-22 22:11] lewis262626 commented on #6171
@rmahindra123 That fixed it, cheers.

Closing

[2022-07-22 22:11] #6171 closed

[2022-07-22 23:09] ehurheap opened #6194 "[SUPPORT] repair deduplicate unable to find `_hoodie_record_key` in data"
**Problem**
In hudi-cli I’m trying to run `repair deduplicate` against a partition in which I have confirmed via a separate spark query that there are in fact duplicates on the `_hoodie_record_key`.
I'm getting
``` cannot resolve '_hoodie_record_key' given input columns: []```

**To Reproduce**
1. Verify duplicates exist with separate spark query:
[code]

2. hudi-cli repair attempt:
connect --path

[2022-07-23 11:17] abyssnlp commented on #5765
Ran into the same issue when using deltastreamer to read from Kafka and write to HDFS.

Spark: 3.2.1
Hadoop: 3.2.2

`Caused by: org.apache.hudi.exception.HoodieUpsertException: Failed to upsert for commit time 20220723125828383
	at org.apache.hudi.table.action.commit.BaseWriteHelper.write(BaseWriteHelper.java:64)
	at org.apache.hudi.table.action.deltacommit.SparkUpsertDeltaCommitActionExecutor.exe

[2022-07-24 03:17] KnightChess commented on #6194
make `spark.sql.parquet.mergeSchema` to true I think can solve this error. but may be there has diff schema data file in this partition? I think we need to check it.

[2022-07-24 05:18] abhishekkrbaliase commented on #4947
The new EMR version supports Spark 3.2 with Hudi 0.11. The timestamp issue is still not solved for incremental DeltaStreamer.

[code]

[2022-07-25 02:00] jiezi2026 commented on #5765
We also encountered the same problem with  hudi-0.11.1 & spark-3.2.1,and our current temporary method is set hoodie.metadata.enable=false.

[2022-07-25 10:22] TengHuo opened #6208 "[SUPPORT] Hudi append only pipeline failed due to parquet FileNotFoundException"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Flink append only pipelin

[2022-07-25 10:28] TengHuo commented on #6208
We found there is a commit for fixing an issue in `AppendWriteFunction`

Issue: https://issues.apache.org/jira/browse/HUDI-4332
PR: https://github.com/apache/hudi/pull/5988

As I understand, this patch changed when `currentInstant` changing in `AppendWriteFunction`. Before fix, this `currentInstant` was changed in the method `initWriterHelper()` when handle a new record. In the patch, `currentInst

[2022-07-25 10:56] lz1984sh opened #6209 "[SUPPORT] hudi 0.11 not support decimal field precision increase"
**Describe the problem you faced**
It seems like hudi doesn't support decimal field precision increase when size of underlying fixed byte length array increases. E.g., I insert one row

id1  name1   111.11

with schema below

id - string, name - string, amount decimal(**10,2**)

and then update the row with same data but increased precision decimal schema

id - string, name - string, amount decima

[2022-07-25 12:26] qiaozhanwei commented on #5163
@qingyuan18 I also encountered this problem . Is there any other solution?

[2022-07-25 16:22] neerajpadarthi commented on #5989
Thanks for the update. I will test the same in 0.11

[2022-07-25 20:18] ehurheap commented on #6194
@KnightChess I added `spark.sql.parquet.mergeSchema true` to the spark properties file, then reconnected to the hudi-cli and re-tried the repair command again. The result was the same:

org.apache.spark.sql.AnalysisException: cannot resolve '_hoodie_record_key' given input columns: []

I am pretty confident that there is no schema diff in the data files.

[2022-07-25 21:13] namuny opened #6212 "[SUPPORT] Hudi creates duplicate, redundant file during clustering"
**Summary**
During clustering, Hudi creates duplicate parquet file with the same file group ID and identical content. One of the two files are later marked as a duplicate and deleted. I'm using inline clustering with a single writer, so there's no concurrency issues at play.

**Details**
![Screen Shot 2022-07-26 at 8 59 27 am](https://user-images.githubusercontent.com/12869068/180874304-48221e99-d

[2022-07-25 22:30] kkrugler commented on #143
Please add me to the Slack group: [ken@scaleunlimited.com](ken@scaleunlimited.com)
Thanks!

[2022-07-26 03:12] BruceKellan commented on #6208
There are several PRs to fix this problem.
Can you try this branch directly?
PR: [#6182](https://github.com/apache/hudi/pull/6182).
It has merged the relevant PR. @TengHuo

[2022-07-26 03:23] TengHuo commented on #6208
Thanks Bruce, yeah, we have tried the PR you mentioned, we run a pipeline last night with that PR patched, and everything goes very well. Really appreciate your PR.

But I still don't understand fully how the file was deleted before fix, which part of code deleted the file. Could you explain more detail? thanks thanks

[2022-07-26 07:06] #6097 closed

[2022-07-26 07:06] rmahindra123 commented on #6166
@haripriyarhp Can you verify that all .log files were compacted to parquet files after you ran compaction? Want to make sure records are not in the log files when querying

[2022-07-26 07:10] rmahindra123 commented on #6166
Also, could you run a parquet query to see if all records are in hudi? It would be helpful if you could share your .hoodie folder here. Thanks

[2022-07-26 07:13] rmahindra123 commented on #5952
No, that may not be possible if you are using a single SQS/SNS. S3EventsSource deletes the events in SQS after it commits them to the hudi table

[2022-07-26 09:20] danny0405 commented on #5163
We are trying to solve this problem in https://github.com/apache/hudi/pull/6093

[2022-07-26 14:17] filaone commented on #143
Please add me to the Slack group: shuguang.wang1990@gmail.com

[2022-07-26 14:56] glory9211 commented on #5952
I'm referring to these lines https://github.com/apache/hudi/blob/6456bd3a5199d60ff55d6c576e139025a1c940c7/hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/S3EventsSource.java#L77 as shared in my original question

[2022-07-26 15:04] glory9211 commented on #6107
As mentioned by @KnightChess RT and RO tables are synced when you run compaction on Hudi MOR tables.
i.e. The Delta (Avro) Files are merged into the Parquet Files. In HUDI
COW Tables == Data in Parquet Files
MOR Tables == Data in Avro + Parquet Files

You can read the configs from the docs [here](https://hudi.apache.org/docs/configurations/)

Some sample configs you should provide

[code]

This wi

[2022-07-26 16:42] xushiyan commented on #6178
@

[2022-07-26 16:56] xushiyan commented on #6169
looks like you're missing dependencies. make sure run mvn clean install so your local m2 repo has the needed jars.

[2022-07-26 20:58] emtwo commented on #5870
Still seeing this issue. Wondering if perhaps there are additional configs that should be set to achieve this partitioning?

[2022-07-27 00:32] CYDL0414 commented on #6178
@xushiyan Here is the schema information I need to create the table
`FAU_IxSelfTestRes` string,`EDCU6_IxDor2SafeRelFlt` string,`BCE3_IxEmyModeTL` string,`EDCU1_IxDor8DvrExtrnlKeyFlt` string,`HVAC2_IxHeaterSts12` string,`HVAC2_IxHeaterSts11` string,`EDCUA_IudDor3CycleCnt` string,`ATC1_IxTrainHoldValid` string,`EDCU5_IxDor5AddrCodeFlt` string,`DDU_CusA1Tem_3` string,`RIOM106_IxDIT1Flt` string,`DDU_C

[2022-07-27 00:35] CYDL0414 commented on #6178
@xushiyan
I need to create a table with 11025 columns

[2022-07-27 02:13] paul8263 commented on #6177
Hi @xushiyan ,
Finally I got where the problem locates. Could you please assign this issue to me?
Thanks.

[2022-07-27 06:30] huzk8 opened #6223 "[SUPPORT] [BUG] SparkSQL Insert Into other catalog Error"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-07-27 06:33] huzk8 commented on #6223
I use iceberg hadoop catalog named `local` and hudi  using `spark_catalog` at same time ,same error will happen

[2022-07-27 08:33] YannByron commented on #6004
create a ticket: https://issues.apache.org/jira/browse/HUDI-4486 to trace the question 1 mentioned above.

[2022-07-27 08:35] YannByron commented on #6004
@yihua @JoshuaZhuCN  if no more questions, can close this.

[2022-07-27 11:29] jtchen-study opened #6224 "[SUPPORT] Caused by: java.lang.IllegalArgumentException: Cannot use marker based rollback strategy on completed instant"
Caused by: java.lang.IllegalArgumentException: Cannot use marker based rollback strategy on completed instant:[20220727185451835__commit__COMPLETED]
        at org.apache.hudi.common.util.ValidationUtils.checkArgument(ValidationUtils.java:40)
        at org.apache.hudi.table.action.rollback.BaseRollbackActionExecutor.<init>(BaseRollbackActionExecutor.java:93)
        at org.apache.hudi.table.actio

[2022-07-27 13:45] YannByron commented on #6004
another ticket: https://issues.apache.org/jira/browse/HUDI-4487 to support that create ro/rt table by spark-sql.

[2022-07-27 16:27] atharvai opened #6226 "[SUPPORT] OCC locks with data on S3 and DynamoDB fails to acquire"
**Describe the problem you faced**

I’m running several workloads in production and one is a parallel add oof partitions to a COW hudi table. I’m managing OCC with DynamoDB and partition in dynamoo is the table name. I’m finding that each paraallel instance waits for a lock and is blocked even though partitions being updated are different. Now this compounds as the number of parallel writes/jobs i

[2022-07-28 04:06] neerajpadarthi opened #6232 "[SUPPORT] Hudi V0.9 truncating second precision for timestamp columns"
Hi Team,

Using the configs below, I see Hudi is truncating the second precisions while ingesting the data. We are currently on 0.9V and I have observed this issue with this version, but it worked with 0.11V.

Do I need to add any other configurations to make it work with 0.9V without migrating to 0.11V? Any help on how to avoid this issue would be greatly appreciated.

Configs

db_name = tst_db
t

[2022-07-28 06:09] qiaozhanwei commented on #5163
ok. thx

[2022-07-28 09:46] jtchen-study commented on #6224
@yihua @danny0405 could help ?

[2022-07-28 09:52] fengjian428 commented on #6226
that's by design behavior. if your parallel instances are updating in different partition, Hudi still need a lock for the timeline， hence they can not change metadata at the same time

but I don't think your application should wait that long since changing metadata is a very quick operation, and Hudi won't acquire the lock before it. I suppose the lock didn't release correctly.  Have you tried any

[2022-07-28 10:02] haripriyarhp commented on #6166
@rmahindra123 : Yes, all the files were compacted. There are no more open compaction.requested files. All the compaction was completed and only then I queried the Athena table.

Is this some special query? Because I query the Athena table.

[2022-07-28 13:31] leobiscassi commented on #6142
Hi hudi community, I'm experiencing a similar issue, for some tables in my data lake we got the following error when trying to query:

[16777224] Query failed (#20220727_185609_00434_4n5pr): The column my_column_name_here of table my_tablename_here is declared as type string, but the Parquet file (s3a://bucket/prefix/befb27ee-ee21-4791-95bb-d8aeb521aff9-0_15-22-5118_20220629223504.parquet) declare

[2022-07-28 13:36] atharvai commented on #6226
Hey, the design behaviour makes sense now. However we have tried ZK (decommed now) and using DDB.

Why would the exception happen with null object though? What can cause this?

[2022-07-28 13:45] fengjian428 commented on #6226
are there any other abnormal logs？

[2022-07-28 15:22] YannByron commented on #5932
@leoyy0316
you can retry with the current master branch that have merged this pr: https://github.com/apache/hudi/pull/6159 that maybe can solve this problem.

[2022-07-28 16:03] glory9211 commented on #6194
Can you verify if the duplicates are in the same file? hoodie_file column has the same value or different value

[2022-07-28 19:45] yihua commented on #6232
@neerajpadarthi Based on your description, the issue could be related to the output timestamp type for bulk insert row-writing path (#4552 #4749).  Could you try each of the following?
(1) Set `hoodie.parquet.outputtimestamptype` to `TIMESTAMP_MICROS` when you bulk insert data
(2) Disable row writing by setting `hoodie.datasource.write.row.writer.enable` to `false`

[2022-07-28 19:51] yihua commented on #6226
@rahil-c @zhedoubushishi @umehrot2 is there any known issue regarding the slowness of DynamoDB-based lock provider?

@atharvai could you share the Hudi configs, especially around OCC and lock provider?  How many concurrent jobs/partitions are running?

[2022-07-28 20:13] svaddoriya opened #6236 "[SUPPORT] facing an issue on querying Data in Hudi version 0.10.1 using AWS glue"
Hello guys. I am facing an issue on querying Data in Hudi version 0.10.1  using AWS glue. It works fine with 100 partitions in Dev but it got memory issues running in PROD with 5000 partitions.
the code for reading :-
                read_options =  {
                                'hoodie.datasource.query.type': 'read_optimized'
                                }
                intervaldrive_sil

[2022-07-28 21:34] neerajpadarthi commented on #6232
Hey thanks for checking. I have tired with the first option earlier but no luck. Also, I don’t find this config here for 0.9V (https://hudi.apache.org/docs/0.9.0/configurations)

Below is in detail -

Passed only hoodie.parquet.outputtimestamptype config - Precision values are truncated.
Passed only hoodie.datasource.write.row.writer.enable to false - Precision values are truncated.
Passed both co

[2022-07-28 23:35] zhedoubushishi commented on #6226
No this is a new issue for us. As @fengjian428 mentioned, the locking happens during the commit stage, not in the data writing stage. Would be good if you can share some logs so that we can better understand on why the lock is not get released properly.

Also I am from AWS team, so if you are a AWS customer, feel free to open a ticket to us.

[2022-07-28 23:49] yihua commented on #6232
@YannByron do you have any suggestions or this issue cannot be fixed in 0.9.0?
@neerajpadarthi is it possible for you to upgrade to Hudi 0.10.1 to pick up the `hoodie.parquet.outputtimestamptype` flag?

[2022-07-29 00:01] yihua commented on #6224
@jtchen-study can you share the Hudi configs and the setup you use for Java client?

[2022-07-29 00:32] yihua commented on #6223
@xiarixiaoyao @YannByron @XuQianJin-Stars @alexeykudinkin  any of you can help here?

[2022-07-29 00:42] yihua commented on #6209
@xiarixiaoyao do you know if schema evolution support such a use case?

[2022-07-29 00:52] yihua commented on #6208
@TengHuo if the problem is fully resolved, feel free to close this issue.  The discussion can still happen here regarding the root cause and the merged fix.

[2022-07-29 02:02] xiarixiaoyao commented on #6209
@yihua @lz1984sh
yes, schema evolution can support that case;
[code]

+-------------+
|col4         |
+-------------+
|300002.000002|
|200001.000001|
+-------------+

root
 |-- _hoodie_commit_time: string (nullable = true)
 |-- _hoodie_commit_seqno: string (nullable = true)
 |-- _hoodie_record_key: string (nullable = true)
 |-- _hoodie_partition_path: string (nullable = true)
 |-- _hoodie_file_nam

[2022-07-29 02:19] yuzhaojing commented on #6011
@eric9204 Can you show the start command, I can't reproduce this problem locally, is it not a separate process that is started?

[2022-07-29 02:25] TengHuo commented on #6208
Yeah, sure, the patch fixed my pipeline, let me close this issue. I will append more detail about the root cause here later
Thanks thanks

[2022-07-29 02:25] #6208 closed

[2022-07-29 03:22] YannByron commented on #6232
@neerajpadarthi
guess you use spark dataframe api, then maybe you can try to set `spark.sql.parquet.writeLegacyFormat` to `TIMESTAMP_MICROS` when create `SparkSession` object.

[2022-07-29 03:36] eric9204 commented on #6011
@yuzhaojing   `bin/flink run -t yarn-per-job -d -c org.apache.hudi.sink.compact.HoodieFlinkCompactor lib/hudi-flink1.14-bundle_2.12-0.12.0-SNAPSHOT.jar --path /tmp/hudi/random_hudi --compaction-max-memory 4096 --service --min-compaction-interval-seconds 60`

[2022-07-29 03:39] YannByron commented on #6223
@huzk8 please give the whole stack trace to help me address this.
and maybe you should use the `catalog.database.table` format to insert into, not `mysql.st` which only have catalog and table i think.

[2022-07-29 07:09] YannByron commented on #6223
update: @yihua @huzk8
i can reproduce your case that only use `catalog.table`:
![image](https://user-images.githubusercontent.com/10036681/181699756-a572b94d-2dd6-4b36-81f7-f61b30858365.png)

but if use `catalog.database.table`, it will raise this error that need to be resolved by this ticket: https://issues.apache.org/jira/browse/HUDI-4503.
![image](https://user-images.githubusercontent.com/10036

[2022-07-29 07:57] yuzhaojing commented on #6102
Can you show the log for Spark read, both driver and executor.

[2022-07-29 08:02] jtchen-study commented on #6224
@yihua yes , thanks for your reply

`    public static HoodieWriteConfig buildCfg(String tablePath, String tableSchema, String tableName) {
        return HoodieWriteConfig.newBuilder().withPath(tablePath)
                .withSchema(tableSchema)
                .withFileSystemViewConfig(FileSystemViewStorageConfig.newBuilder()
                        .withStorageType(FileSystemViewStorageType.MEM

[2022-07-29 08:16] fujianhua168 opened #6243 "[SUPPORT] sparksql mergeinto sqlstatment 'update set' not effect"
**Describe the problem you faced**

spark sql mergeinto sqlstatment 'when matched then update set' not effect （source data have both matched and not matched records),  sql code as follows:

`--1：create table
create table hudi_mor_tbl (
  id int,
  name string,
  price double,
  ts bigint
) using hudi
tblproperties (
  type = 'mor',
  primaryKey = 'id',
  preCombineField = 'ts'
);
--2：first insert

[2022-07-29 08:17] jtchen-study commented on #6224
@yihua i am trying to develop a hudi writer plugin into DATAX， but i found that java client have some performance issue, besides the above one issue, do you have any suggession about perfermance enhance?  as i know that java client does not support multi thread

[2022-07-29 12:35] haripriyarhp commented on #6166
@rmahindra123 :  Unfortunately, I am not able to share the .hoodie folder. Just to add, yesterday I tried it out again. I sent messages to a topic in batches. Below are the steps I followed
1. Sent a batch of 100 records to kafka. Ran compaction. No.of messages in kafka and no.of records in Athena, matched.
2. Sent a batch of another 100 records to Kafka -> Compaction -> no.of msgs in kafka = no.o

[2022-07-29 17:36] neerajpadarthi commented on #6232
@yihua - I will validate with 0.10.1
@YannByron - Thanks for checking. I have tested with below configs passing to spark session but I still see the same issue.
"spark.sql.parquet.outputTimestampType","TIMESTAMP_MICROS"
"spark.sql.parquet.writeLegacyFormat", "true"

[2022-07-29 18:00] leobiscassi commented on #6142
Hey @qianchutao, I was able to fix this on my side and maybe the solution help you too.
So, basically this error happens because a mismatch of order between the schema declared inside the parquet files and the table schema ddl on Athena / Presto. This normally works on Athena because the default method to map the columns on Athena is using the names [1], for Presto the default way is by column ind

[2022-07-29 18:46] soma1712 opened #6249 "[SUPPORT] - Hudi Read on a MOR table is failing with ArrayIndexOutOfBound exception"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-07-29 20:17] neerajpadarthi commented on #6232
@yihua

Hey, I have verified the same in Hudi 0.10.1 but no luck still precision is getting truncated. Below are the configs, spark session details and spark/Hudi outputs. Could you please verify and let me know if anything is missing here? Thanks

===Environment Details

EMR: emr-6.6.0
Hudi version : 0.10.1
Spark version : Spark 3.2.0
Hive version : Hive 3.1.2
Hadoop version :Storage (HDFS/S3/GCS

[2022-07-30 00:25] yihua commented on #6249
@soma1712 could you share how you read the Hudi table in `s3://pythonscripts/hudi_read.py` and the full stacktrace as well?  Which Hudi release do you use?

[2022-07-30 00:29] yihua commented on #6243
@xiarixiaoyao @YannByron @XuQianJin-Stars any of you can help here?

[2022-07-30 00:32] yihua commented on #6236
@svaddoriya Have you tried to increase Spark memory settings?

@rahil-c @zhedoubushishi @umehrot2 do you have any suggestions or best practices for querying the Hudi table with AWS Glue?

[2022-07-30 02:17] xiarixiaoyao commented on #6243
@fujianhua168
the reason is that you have configure  preCombineField = 'ts'
the old record has a bigger ts（1000） then the new record ts（900） ， so hudi will not merge the new record

[2022-07-30 04:16] soma1712 commented on #6249
hudi_read.txt is actually a .py file. As the system was not supporting to update a .py, I had to change it to .txt

[hudi_read.txt](https://github.com/apache/hudi/files/9224774/hudi_read.txt)
[results.txt](https://github.com/apache/hudi/files/9224775/results.txt)

[2022-07-30 12:03] yuzhaojing commented on #6011
@eric9204 https://github.com/apache/hudi/pull/6253 Try this PR.

[2022-07-31 14:13] KnightChess commented on #6194
@ehurheap
[code]
`+- LocalRelation <empty>`, it look like the path you input not have complete files, can you give some detail log in `org.apache.hudi.cli.DedupeSparkJob`
the info log is: `List of files under partition: xxx => yyyy`

[2022-08-01 01:21] Aload commented on #6102
I'm sorry. I already replayed the version.  Because I applied to the production, as far as the timely withdrawal

[2022-08-01 01:39] melin opened #6259 "[SUPPORT] Write audit publish"
[dremio.com/subsurface/write-audit-publish-pattern-via-apache-iceberg/](https://www.dremio.com/subsurface/write-audit-publish-pattern-via-apache-iceberg/)

![image](https://user-images.githubusercontent.com/1145830/182056368-18b4eafe-5994-4f64-b443-3c3db56ee1ab.png)

[2022-08-01 02:05] jiangbiao910 opened #6260 "[SUPPORT]Caused by: java.util.NoSuchElementException: No value present in Option"
Environment Description
Hudi version : 0.11.0
Flink version : 1.13.1
Hive version : 2.1.1-cdh6.2.0
Hadoop version : 3.0.0-cdh6.2.0
Storage (HDFS/S3/GCS..) : HDFS
Running on Docker? (yes/no) : no

when I use **COW** , the error log ：
Caused by: java.util.**NoSuchElementException: No value present in Option**
	at org.apache.hudi.common.util.Option.get(Option.java:89) ~[hudi-flink-bundle_2.11.jar:0.1

[2022-08-01 02:20] fujianhua168 commented on #6243
@xiarixiaoyao ，I'm sorry to not notice about it . thanks very much~

[2022-08-01 02:28] danny0405 commented on #6260
Can you use the 0.11.1 patch branch instead: https://github.com/apache/hudi/pull/6182, it fixes some bugs.

[2022-08-01 06:35] fengjian428 commented on #6259
I feel this is more like a snapshot switch and publishing procedure. Do you mean Hudi cannot support this？

[2022-08-01 07:06] danny0405 commented on #6102
You can try https://github.com/apache/hudi/pull/6182, which has some fix, one is https://github.com/apache/hudi/pull/6182/commits/528ad498ff936b73ce3af1f3f5603013bafad65c which can cause data loss.

[2022-08-01 07:14] melin commented on #6259
After the data snapshot is generated, it is not visible to users, and the generated data can be queried only after the data quality test is passed.

Not sure if hudi supports this feature?

[2022-08-01 07:35] fengjian428 commented on #6259
try set 'as.of.instant' to time travel?

[2022-08-01 08:12] codope commented on #1728
I could not reproduce the issue with the latest master. My setup and script: https://gist.github.com/codope/33d587d342673a88a3dd87b0eccdc6f6
Note that, since 0.11.0, metadata table is enabled by default.
I would recommend upgrading to the upcoming release version 0.12.0 (should be out in the next two weeks). Please reopen if you still see the issue.

[2022-08-01 08:12] #1728 closed

[2022-08-01 08:20] codope commented on #2620
@awplxz There were a bunch of [fixes](https://github.com/apache/hudi/pulls?q=is%3Apr+label%3Aperformance+is%3Aclosed) regarding performance that we landed recently. Do you see the same behavior with the latest master?

[2022-08-01 08:24] YannByron commented on #5904
a ticket to trace this isssue: https://issues.apache.org/jira/browse/HUDI-4514

[2022-08-01 08:25] codope commented on #5582
@vicuna96 Is this still a problem? Can you check the table props as suggested by @minihippo above? In my local test with latest master, I am able to see the PK and partition field.

[2022-08-01 08:38] codope commented on #5796
@tommss We have been running some long-running multi-writer tests and haven't been able to reproduce the issue with latest master which contains the fix that I mentioned earlier. Please try it out and reopen this issue if you still see the provlem.

[2022-08-01 08:38] #5796 closed

[2022-08-01 08:49] melin commented on #6259
hudi commited

After hudi is committed, it can be directly queried as the latest snapshot. In the data quality inspection scenario, if the data quality inspection SQL is not executed, it is not expected that the latest snapshot will be queried. Published snapshots are visible only after the data quality check is passed.

[2022-08-01 09:24] fengjian428 commented on #6259
`alter table table SET SERDEPROPERTIES ('as.of.instant'='2022xxxxxxxx');`
If you set this in the Hive table, Spark will do time travel automatically, WDYT?

[2022-08-01 09:35] feiwei8586 commented on #5673
in hudi-spark-datasource/hudi-spark3.2.x/src/main/scala/org/apache/spark/sql/hudi/catalog)/HoodieCatalog.scala
spark change table column  name  is not support  . @XuQianJin-Stars @YannByron

  override def alterTable(ident: Identifier, changes: TableChange*): Table = {
    loadTable(ident) match {
      case HoodieV1OrV2Table(table) => {
        val tableIdent = TableIdentifier(ident.name(), ident

[2022-08-01 09:41] eric9204 commented on #6011
@yuzhaojing The problem has not been solved，the first compaction was successful, the second one failed yet,the error has changed.

2022-08-01 17:07:56,683 INFO  org.apache.hudi.common.table.view.RemoteHoodieTableFileSystemView [] - Sending request : (http://10.19.29.170:59932/v1/hoodie/vi     ew/compactions/pending/?basepath=%2Ftmp%2Ftest_houhang%2Fhudi%2Fhudi_table0801c&lastinstantts=202208011704

[2022-08-01 09:43] codope commented on #5636
@xushiyan I believe you have worked with Glue sync recently (Hudi v0.11.x). Can you please clarify the versions that you used?

[2022-08-01 09:43] atharvai commented on #6226
Hi here are the lock configs I use:

Our processing is batch jobs triggered by AWS SFN. this can be between 2 concurrent jobs to 30 roughly. we have now gone serial execution of jobs instead of parallel until this issue is resolved.

[code]

Which specific logs would you like? I can try to sanitize them to share. ( have to go through company compliance so might take time)

@zhedoubushishi yes we a

[2022-08-01 09:47] codope commented on #6022
@Nazerra Any update on this issue? Did you try with OCC enabled?

[2022-08-01 09:53] codope commented on #5701
Looks like it is an open issue of Parquet format iself that has not yet been resolved https://issues.apache.org/jira/browse/PARQUET-1681
This seems to affect even the latest version 1.12.0 and the parquet community is still discussing the solution https://issues.apache.org/jira/browse/PARQUET-2069

[2022-08-01 10:49] hangc0276 commented on #5313
Hi @nsivabalan  @simonsssu, Are there any updates for this feature? we are waiting for the java reader support.

[2022-08-01 11:34] codope commented on #5702
That's correct!

This is not always the case. After `tryLock` returns false in the first attempt (when this.lock object was created, but not in LockState.ACQUIRED state), then `LockManager` will sleep for some time and try again
https://github.com/apache/hudi/blob/master/hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/lock/LockManager.java#L72

But the real problem

[2022-08-01 11:41] #6158 closed

[2022-08-01 12:04] codope commented on #5960
@parisni Any update on this issue? If it's still happening, can you please start from scratch syncing to a different database, and provide the sync tool command that you ran?

[2022-08-01 12:06] codope commented on #5992
Yes #5966 should fix the issue. I tried the latest master and could not reproduce. Please reopen if you still see the problem.

[2022-08-01 12:06] #5992 closed

[2022-08-01 13:22] svaddoriya commented on #6236
@yihua yes we have tried but no luck

[2022-08-01 16:31] codope commented on #6223
@huzk8 Can you please try the patch authored by @YannByron
#6264

[2022-08-01 17:24] Gatsby-Lee commented on #5636
@codope hello, you can try these. ( Glue3 )
* https://mvnrepository.com/artifact/org.apache.hudi/hudi-utilities-bundle_2.12/0.11.1
* https://repo1.maven.org/maven2/org/apache/calcite/calcite-core/1.30.0/calcite-core-1.30.0.jar

[2022-08-01 19:09] zhedoubushishi commented on #6236
Hi @svaddoriya, this is a known bug. As a workaround, you can add aws-java-sdk-bundle jar in the PySpark classpath:
[code]

[2022-08-01 20:21] fireking77 commented on #6236
@zhedoubushishi Hi Mate!

Thanks very much for this suggestion.
Can you please link me a page or something :0 or can you ellaborete this a little bit? I really would like to understand this.

Thanks,
 Darvi

[2022-08-01 21:59] HEPBO3AH commented on #6212
@xushiyan any updates on this? We seem to be impacted as well, observing the same behavior.

[2022-08-01 22:56] yihua commented on #6212
@HEPBO3AH It looks like the clustering DAG is triggered twice.  This needs reproducing.  Could you also provide the timeline under `<base_path>/.hoodie`?

[2022-08-02 01:16] leesf commented on #6223
this is a warn log and the insert into other catalog using three parts(catalogName.dbName.tableName) should work fine.

[2022-08-02 04:41] yihua commented on #6243
@xiarixiaoyao Good catch.  It looks like there is no action needed.  Closing this issue.   @fujianhua168 feel free to open a new issue if you have more questions.

[2022-08-02 04:41] #6243 closed

[2022-08-02 05:33] codope commented on #5702
Closing as the fix landed. This should be released in v0.12.0

[2022-08-02 05:33] #5702 closed

[2022-08-02 05:43] codope commented on #6142
`hive.parquet.use-column-names=true` this is the right workaround. Hudi does not enforce this by default. So, one needs to set this config in case of type mismatch. This should go in Hudi docs. HUDI-4522 to track.

[2022-08-02 05:43] #6142 closed

[2022-08-02 05:55] codope commented on #6174
I would suggest to upgrade to version 0.10.1, or if you can wait for a couple of weeks, then 0.12.0 will be out. It's already in RC voting phase.
You're right about read performance though. There shouldn't be performance issues while reading the table through Hudi 0.10.1.

[2022-08-02 06:10] codope commented on #6037
@voonhous @fengjian428 Let's take this implementation discussion to the JIRA HUDI-4361. We should prioritize this improvement in the next release (0.13.0). Since the issue itself has been triaged, I am going to close it.

[2022-08-02 06:10] #6037 closed

[2022-08-02 09:42] matthiasdg opened #6277 "[SUPPORT] HiveSyncTool: missing partitions"
**Describe the problem you faced**

We have some IoT data tables with a few thousands of partitions; typically `deviceId/year/month/day`.
We do not sync to hive every commit, but at regular intervals.
For one of these tables I added a few months of historic data for an additional set of devices, as opposed to daily updates for the existing set. Somehow hive syncing with HiveSyncTool afterwards mus

[2022-08-02 13:11] fengjian428 commented on #6277
so, when a new device's data comes in, is there a chance multiple hive sync processes are running at the same time？

[2022-08-02 17:14] lavakerreddy opened #6278 "[SUPPORT] Deltastreamer fails with data and timestamp related exception after upgrading to EMR 6.5 and spark3"
We upgraded ourselves from running our Hudi spark-submits from EMR 5.33 to EMR 6.5 that has Spark 3x and then started running into below errors with date and timestamp. Please let us know if someone faced a similar issue and if there is a resolution.
spark-submit \
--deploy-mode client \
--class org.apache.hudi.utilities.deltastreamer.HoodieDeltaStreamer \
--conf spark.shuffle.service.enabled=true

[2022-08-02 19:06] yihua commented on #6278
@minihippo @XuQianJin-Stars @alexeykudinkin any idea how to solve this?

[2022-08-02 21:52] HEPBO3AH commented on #6212
Hi,

Here is the code sample to replicate it:

[code]

What we see in `.hoodie`:

<img width="994" alt="image" src="https://user-images.githubusercontent.com/15118722/182479505-e5567179-6f80-4e7d-88f9-e463458b9a06.png">

The files that were double created and then deleted. The delete markers correspond to the the clustering commit ids:

<img width="809" alt="image" src="https://user-images.githubu

[2022-08-02 23:41] crutis opened #6281 "[SUPPORT] AwsGlueCatalogSyncTool -The number of partition keys do not match the number of partition values"
My job is just a wrapper around `HoodieDeltaStreamer` (yes, there are probably better ways to do this).

[code]

From pom.xml:
[code]

[code]

**Environment Description**

* Hudi version : 0.11.1 (fat jar)

* EMR 6.5.0

* Spark version : 3.1.2

* Hive version : 3.1.2

* Hadoop version : Amazon 3.2.1

* Storage : S3

* Running on Docker? : no

**Stacktrace**

[code]

[2022-08-03 00:52] fengjian428 commented on #6278
could you try set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'LEGACY'？

[2022-08-03 01:50] eshu opened #6283 "[SUPPORT] No .marker files"
* Hudi version : 0.11.1
* Spark version : 3.1.1
* Storage (HDFS/S3/GCS..) : S3
* Running on Docker? (yes/no) : no
* Environment: Glue 3

Issue happen quite rarely while writing, but if it happen, it reproduces persistently.

As far as I understood from the second part of the stacktrace, hudi tries to find files that contain `.marker` in their name, but there are no such files in the path. Files in

[2022-08-03 01:56] fujianhua168 opened #6285 "[SUPPORT] Cow non-partition table upsert action effect when preCombineField field value change to Smaller (SparkSQL)"
**Describe the problem you faced**

  table description:  a cow non-partition table (tblproperties with primaryKey and preCombineField) .
  sql environment: spark sql
  describe:
     1.  if I action the **insert or update** action with same primary key  and preCombineField field value change to smaller, Unexpectedly the action effect (note: preCombineField  field value change smaller should not e

[2022-08-03 03:37] qianchutao commented on #6142
thanks bro，i'll try it.

[2022-08-03 04:51] KnightChess commented on #6285
`cow` use `OverwriteWithLatestAvroPayload` for default, but `mor` use `DefaultHoodieRecordPayload`.

`hoodie.datasource.write.payload.class = 'org.apache.hudi.common.model.DefaultHoodieRecordPayload'` in `cow` can achieve the effect you want

[2022-08-03 05:00] KnightChess commented on #6156
#6033 will fix it

[2022-08-03 05:03] KnightChess commented on #6185
Confirm whether there is any authority to access and create for the given path

[2022-08-03 06:04] paul8263 commented on #6185
Hi @KnightChess ，
Thank you for your suggestion.

I can successfully query data with the same Spark thrift server environment.

Also I tested creating and inserting data with the same table path, and the data can be queried via Spark thrift server.

[2022-08-03 06:40] xicm commented on #6169
Master branch works well.

[2022-08-03 06:42] xicm commented on #6169
If you are using idea, try Add dependencies with "provided" scope to classpath.

[2022-08-03 08:37] iknowitisawar commented on #5690
really unstable

[2022-08-03 08:41] stephen5538 opened #6289 "[SUPPORT] hudi support ingest oracle data with flink cdc？"
as i know that hudi supports ingest mysql and postgresql data with flink cdc and hudi can delete the deleted data in mysql automatically. does it for oracle?

[2022-08-03 09:04] xiaozhch5 opened #6290 "[SUPPORT] HMS Catalog on flink, define the partition field with A, but B was regard as partition field when I insert the data."
**Describe the problem you faced**

I use HMS Catalog with flink, create the table with the partition of school. But when I insert the data, the partition becomes ip.

Create table sql:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Using hudi hms catalog and create the table
[code]
2. Insert the data

[code]

3. See the partition path in hdfs
![image](https://user-images.githubus

[2022-08-03 09:16] BruceKellan commented on #6290
It seems like a bug. I will try to fix it.

[2022-08-03 09:44] Capri0110 commented on #5163
We also encounter this issue, is there any quick work around currently?  Thx in advance

[2022-08-03 09:48] matthiasdg commented on #6277
Seems pretty unlikely, there's a single process writing updates, and after a commit it checks whether a configured nr of commits starting from the last sync has passed before syncing again. I think I also experienced the issue when syncing manually, but I have to add some more historic data, so I'll try some more then.

[2022-08-03 10:58] danny0405 commented on #6290
Fired a fix via: https://github.com/apache/hudi/pull/6292

[2022-08-03 11:44] codope commented on #6142
Sure. Please go ahead.

[2022-08-03 12:56] veenaypatil commented on #6014
@minihippo  the task logs only shows the consumer logs and it is stuck after that.

[code]

`[mapToPair at SparkWriteHelper.java:63]` This stage is running and I pasted the above log from one of the running task.
This is causing a lot of issues when we try to kill the job and restart it. It only happens for the first batch. Like today the first is running from 24hrs

<img width="992" alt="Screensh

[2022-08-03 14:03] leobiscassi commented on #6142
Nice, I'm going to submit this today 👍🏽

[2022-08-03 17:56] ehurheap commented on #6194
Confirm that the list of files is empty:
`List of files under partition: () => `

I did some debugging and this list seems to be empty because the `timeline` in each of the relevant HoodieFileGroups is empty:

From HoodieFileGroup.java:
[code]

Is there some assumption or rule that `repair deduplicate `can only be run for certain conditions? For example, before compaction has happened?

[2022-08-04 00:29] xushiyan commented on #5636
pls use the matching spark bundle, for e.g., if the glue runs with spark 3.1, then use `hudi-spark3.1-bundle_2.12-0.11.1.jar`. If Glue is with spark 2.4, then use hudi-spark2.4-bundle_2.12-0.11.1.jar. So it's just about matching spark version. If hudi version >=0.11, there is no need to add spark-avro.jar, please pay attention to release notes https://hudi.apache.org/releases/release-0.11.0#bundle

[2022-08-04 00:36] xushiyan commented on #5694
no recent fix which resolved the Glue catalog connection issue is not relevant to this.

[2022-08-04 01:56] danny0405 commented on #6290
Should be fixed with #6292 , feel free to reopen it if the bug still exists.

[2022-08-04 01:56] #6290 closed

[2022-08-04 02:12] fujianhua168 commented on #6285
@KnightChess , i try it, it's effect. thank you~

[2022-08-04 03:06] KnightChess commented on #6194
@ehurheap look like `repair deduplicate` target is base file. Is there any duplicate data when you use query or other op? For log file, I think it will combine the duplicate primary keydeuplicate, so need not repair.

[2022-08-04 03:45] danny0405 commented on #5690
You may need to set up the job correctly.

[2022-08-04 03:47] #6285 closed

[2022-08-04 04:14] fujianhua168 opened #6297 "[SUPPORT] Flink SQL client cow table query error "org/apache/parquet/column/ColumnDescriptor" (but mor table query normal)"
**Describe the problem you faced**
   i create a cow table named 'hudi_cow_tbl'  and a mor table  named 'hudi_mor_tbl'   in the flink sql client mode,  then both insert into row data.   after that, i query the two table data, result is : mor table normal, but cow table 'hudi_cow_tbl' occure a error.
     the error as below:

org.apache.flink.runtime.JobException: Recovery is suppressed by NoRestar

[2022-08-04 05:40] danny0405 commented on #6289
Yes, oracle is also supported.

[2022-08-04 06:53] brskiran1 commented on #4947
This issue is still existing with Hudi 0.11. Please note when a Hudi table is created from a spark data frame , with the spark confs there is no issue. However the same spark confs used in delta streamer spark submit throws error for date formats older than 1900-01-01

[2022-08-04 07:00] brskiran1 commented on #6278
This issue is still existing with Hudi 0.11. Please note when a Hudi table is created from a spark data frame , with the spark confs there is no issue. However the same spark confs used in delta streamer spark submit throws error for date formats older than 1900-01-01

Please note setting spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'LEGACY’ or any conf in delta streamer spark submit doesn

[2022-08-04 07:06] codope commented on #6224
The validation is legitimate, i.e. for a completed instant the marker dir is removed, so rollback cannot be done based on markers.
Just to go past this issue, you can disable `hoodie.rollback.using.markers` (https://hudi.apache.org/docs/configurations#hoodierollbackusingmarkers). To fix this properly, I would suggest that Hudi either falls back to `ListingBasedRollbackStrategy` in such cases, or f

[2022-08-04 07:52] codope commented on #6024
@Gatsby-Lee You mentioned

What exception did you get? I ran a test locally and tried to delete a non-existing partition. The `replacecommit` due to DELETE_PARTITION succeeded in my case (though it did not delete any data). Though it sounds counter-intuitive and one would expect to fail fast in such scenarios, but we do not do so because detecting non-existing partitions require listing which is a

[2022-08-04 08:12] fengjian428 commented on #6277
@matthiasdg  I have met a similar issue but it was caused by multiple writers.
 if hive sync success, Hudi will write sync time into tbl properties. when the next hive sync begins, it will scan the commit meta files after the last sync time, then get all changed partitions. I feel there shouldn't be any partition lost in this logic.

[2022-08-04 11:38] xiaozhch5 opened #6301 "[SUPPORT] Flink uses bulk_insert mode to load the data from hdfs file to hudi very slow."
**Describe the problem you faced**

When I use flink bulk_insert **batch** mode to load the data with 406,000 lines and 4 partitions from hdfs file to hudi, it almost impossible to insert the data. Flink spent 40+ mins to insert the data, but it eventually failed.

![image](https://user-images.githubusercontent.com/46479816/182835694-dd528a0e-16c2-4628-89a6-7ee69b234069.png)

Also flink will creat

[2022-08-04 12:02] sambhav13 commented on #6126
@xushiyan  any update on this issue?
Attaching a reference to the docker-compose.yml and dockerfile to setup the environment for flink and minio
and commands to run in a zip file
ref: https://hub.docker.com/layers/266300429/sambhav13/flink-sql/2.0/images/sha256-782647055e3f62de3df0ce4056bfd04c515738f364bda8809fdb6184ebdecd05?context=repo
[Archive.zip](https://github.com/apache/hudi/files/9259442/A

[2022-08-04 12:32] danny0405 commented on #6126
What is the error stacktrace thrown in the JobManager log, can you paste that ?

[2022-08-04 12:39] danny0405 commented on #6301
Hi, you need to make sure all the write tasks are scheduled and run in batch execution mode for bulk insert.

[2022-08-04 12:42] matthiasdg commented on #6277
Yes, have also noticed the "last commit time synced is..." and "getting commits since then" log messages. Based on the logs, seems it's the timestamp of the last commit synced that is used (not the sync time itself)
Wondering how that works with commit retention now.

I even experience issues with a single writer and only manual syncing.
Test I did just now: I start with a fresh hive table from my

[2022-08-04 13:02] fengjian428 commented on #6277
oh, you remind me maybe it was caused by the commits retain strategy, let me check and fix it

[2022-08-04 14:18] Zouxxyy commented on #6169
<img width="1007" alt="image" src="https://user-images.githubusercontent.com/37108074/182869692-518b19e4-63d8-4fa0-bf01-6c46c99bd364.png">
try this

[2022-08-04 17:09] SubashRanganathan opened #6304 "Hudi MultiTable Deltastreamer not updating glue catalog when new column added on Source"
Issue: Hudi MultiTable Deltastreamer not updating glue catalog when new column added on Source.
Hudi Version: 0.11
Description:
Hudi Multi Table deltaStreamer job does not update AWS Glue Catalog when new column is added on files ingested by DMS. The following property is used in the hudi configurations. "hoodie.meta.sync.client.tool.class=org.apache.hudi.aws.sync.AwsGlueCatalogSyncTool"

The hudi

[2022-08-04 17:12] SubashRanganathan opened #6305 "Hudi Delta Streamer unable to read Older Dates"
Hudi Delta Streamer unable to read dates that are older than older than 1900-01-01.The workaround fix for this is to set the following spark configurations :

spark.sql.legacy.parquet.int96RebaseModeInRead=CORRECTED --conf spark.sql.legacy.parquet.int96RebaseModeInWrite=CORRECTED --conf spark.sql.legacy.parquet.datetimeRebaseModeInRead=CORRECTED --conf spark.sql.legacy.parquet.datetimeRebaseModeIn

[2022-08-04 19:35] zhedoubushishi commented on #6226
Got it. Can you provide more information on how to reproduce this issue?
Also would be good if you can open a ticket to AWS EMR team if you have concerns to share logs publicly.

[2022-08-04 20:07] yihua commented on #6283
By default, timeline-server-based markers are used.  `MARKERS.type` indicates whether direct (with `.marker` files your mentioned) or timeline-server-based markers (aggregated in `MARKERS0` etc.) are used.  The rollback fails due to the wrongly identified marker type (similar to this issue #6224).  There is a pending fix on this: https://github.com/apache/hudi/pull/6266/files

For recovery, you ca

[2022-08-04 21:55] kapjoshi-cisco commented on #5636
@xushiyan i was able to run and insert data  to hudi using above stated configuration with 0.11.1 but with condition of updating `structs` and `arrays` types to `string` type. But if i dont change the type to `string` then i get this error, please let me know what am I missing here. I tried following steps from issue #5484 with no luck.
*config*:
[code]
*Error*:
[code]

[2022-08-05 01:38] gary0416 commented on #5503
same issue with HoodieFlinkStreamer (flink on yarn, cdh 6.3.2, flink 1.14.4).  Target class is correct in hudi-flink1.14-bundle_2.12-0.11.0-cdh6.3.2.jar
- env: hudi 0.11.0(compile hbase 2.4.9 by -Phadoop-3.0, then compile hudi by hbase 2.4.9 and hadoop 3.0.0-cdh6.3.2), jdk 1.8.0_271
- stack:
[code]

[2022-08-05 01:42] xiaozhch5 commented on #6301
Here is the full test data.

[student](https://videos.lrting.top/uploads/20220805/student.txt)

[2022-08-05 03:17] codope commented on #6024
Btw, `org_id=55555_\$folder$` maybe an S3 thing. Did the partition `org_id=55555` ever existed before?

[2022-08-05 03:35] yuzhaojing commented on #6126
Sure, I will try to reproduce it.

[2022-08-05 03:58] #6301 closed

[2022-08-05 04:29] eric9204 opened #6308 "[SUPPORT] Spark multi writer failed ! ! !"
**Describe the problem you faced**

when i use config 1 ,The exception A occurred in one of the two spark jobs writing the same table;
when i use config 2 ,The exception B occurred in one of the two spark jobs writing the same table.

there was not clustering config .

**To Reproduce**

config 1:
hoodie.write.concurrency.mode=optimistic_concurrency_control
hoodie.cleaner.policy.failed.writes=LAZY

[2022-08-05 05:35] Gatsby-Lee commented on #6024
@codope hi,

First, as of 0.11.x, DELETE_PARTITION ( in AWS Glue Catalog ) doesn't fail or raise exception. ( It's different from 0.10.x )
Second, like you said the actual delete is done by cleaner ( lazy ), but before the actual delete, Hudi seems to try to delete metadata in AWS Glue Catalog first.
Third, org_id=55555 has never existed.

I will try to replicate the issue with 0.11.1 and post the

[2022-08-05 06:37] codope commented on #6224
@jtchen-study Ideally, rollback is triggered only for failed writes. As such fallback to listing-based rollback should be safe but we need to understand how rollback got triggered for completed instant. Can you describe the sequence of events that happened and also the setup. Steps to reproduce would be very helpful. Is this a single-writer or multi-writer scenario?
I've create HUDI-4550 to track

[2022-08-05 07:32] Mulavar commented on #6169
Thanks, I tried to add dependencies with "provided" scope to classpath and solved the problem, and then ran into another problem:
[code]
I created a directory named 'data0' in the project root path, and ran the example with arg0 '/Users/djh/workspace/github.com/apache/hudi/data0' and arg1 'hoodie_rt'.
What are the pre-actions I should do before running this demo?

[2022-08-05 08:31] xicm commented on #6169
You don't neet to create the directory, If the directory exists, HUDi will assume that the table exists but cannot find the.hoodie directory and throw an exception.

Maybe we can improve the example.

[2022-08-05 08:41] Mulavar commented on #6169
So could I create a hoodie directory to support the example running properly? If yes, how do I create a hoodir directory.

I totally agree with you about improving the example cause it requires much prior knowledge……

[2022-08-05 08:59] xicm commented on #6169
You can create the parent path of the base path, or just pass a directory string.

[2022-08-05 09:39] Mulavar commented on #6169
Thanks!

[2022-08-05 09:39] #6169 closed

[2022-08-05 14:43] fengjian428 commented on #6308
I think the second issue was fixed in the 0.12 branch, can you try it?

[2022-08-05 14:57] fengjian428 commented on #6308
![image](https://user-images.githubusercontent.com/4403474/183103858-81383666-30d2-4f08-912c-3bdbc0a6fc6c.png)
I also met the second issue, will create a pr to fix it

[2022-08-05 17:35] 15663671003 opened #6315 "[SUPPORT] Issues w/ incremental query in MOR table"
**Describe the problem you faced**

The problem that the parquet file cannot be found when using spark to incrementally read the MOR table, When reading, no write transactions are executed

Steps to reproduce the behavior:

1. write one commit mor table and with option
"hoodie.cleaner.policy": "KEEP_LATEST_FILE_VERSIONS",
"hoodie.cleaner.fileversions.retained": 24,
"hoodie.compact.inline": "true",

[2022-08-05 17:43] 15663671003 commented on #6315
What is certain is that there are no write transactions running during incremental reads, why do I get such an error?

[2022-08-05 18:03] ddai-shippo opened #6316 "[SUPPORT] Running `--continuous` mode with HoodieMultiTableDeltaStreamer seems to only ingest first table"
**Describe the problem you faced**

New to Hudi so very well could be some configuration issue on my side. I'm trying to set up a continuous multi-table ingestion job. I can successfully ingest multiple tables when running without `--continuous` flag so properties seem set up correctly. When I add the `--continuous` flag, the job seems to be ingesting data for the first table in continuous mode an

[2022-08-05 18:56] nsivabalan commented on #6224
from the configs, looks like a single writer.

[2022-08-05 19:09] nsivabalan commented on #6022
yes. if you are having multiple writers writing concurrently, you are required to have OCC enabled. If not, data loss or other unexpected behavior is expected. Can you lets us know how does it go after enabling OCC. we can investigate further after that.

[2022-08-05 22:02] alexeykudinkin commented on #6146
@jiangbiao910 i'm not able to reproduce this issue on the latest master with a simple test that i'm putting up in https://github.com/apache/hudi/pull/6318.

Would it be possible for you to check this issue against latest master?

[2022-08-05 22:04] alexeykudinkin commented on #6146
Moreover, seems like first stack-trace has occurred in Cleaner not when deleting the record itself (we might need to adjust the title and description)

[2022-08-06 00:23] alexeykudinkin commented on #5694
@rafcis02 can also specify your Glue/Hive configs you're using?

Did you try to run it w/ 0.11.1? I was not able to reproduce your issue with the code-snippet you've pasted.

[2022-08-06 00:30] alexeykudinkin commented on #6278
Can you please re-run your command re-ordering following properties: in your original command it was
[code]

But instead, please first specify all Spark properties only after that specify --class ...HoodieDeltaStreamer like following:
[code]

[2022-08-06 01:14] yihua commented on #6316
@ddai-shippo This looks like a legit bug where the continuous running of the first table blocks the rest in the HoodieMultiTableDeltaStreamer.  I'll work on a fix.

[2022-08-06 03:40] brskiran1 commented on #6316
@yihua @ddai-shippo  the only way the multitable deltastreamer job moves to the second table is if there is any error on the first table. Or else, the multitable deltastreamer keeps running only on the first table.

[2022-08-06 03:43] brskiran1 commented on #6278
@alexeykudinkin  this  is followup from your messages on slack channel. Please find the  command I am using. The spark configs are above the --class.
but it still has the same issue.

_spark-submit --jars "/usr/lib/spark/external/lib/spark-avro.jar,/usr/lib/hudi/hudi-spark-bundle_2.12-0.11.1.jar"
--conf spark.sql.legacy.parquet.int96RebaseModeInRead=CORRECTED
--conf spark.sql.legacy.parquet.int96R

[2022-08-06 04:26] brskiran1 commented on #6305
@alexeykudinkin  one more issue here related to dates older than 1900-01-01

[2022-08-06 11:04] #5880 closed

[2022-08-06 11:07] gtwuser commented on #5636
Thanks @xushiyan @Gatsby-Lee below combination of jars works with latest released Hudi builds(0.11.1). I chose to build it from source and it works too:
From source
[code]
Direct jars:
[code]

Closing this issue based on this resolution given.

[2022-08-06 11:07] #5636 closed

[2022-08-06 11:56] codope commented on #5460
@zhilinli123 Could you please try the patch suggested above by Danny? This will go in the upcoming release 0.12.0.

[2022-08-06 13:42] gtwuser opened #6321 "[SUPPORT]Fail to write/merge when missing any nested fields in a struct."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
- YES

A clear and concise description of the problem.
With missing nested fields in a struct, it fails to write on hudi.

Data schema with last write has `linkAddr1` and `linkAddr2` but later writes are missing them:
[code]

Data schema of later writes:
[code]

Steps to reproduce the behavio

[2022-08-06 14:58] codope commented on #5591
@BalaMahesh Do you have application logs? Do you see any of the following lines in the log?
`Failed to create marker type file`
`Failed to write marker type file`
Hudi will always throw an exception if marker-type file is not created.

[2022-08-06 18:32] brskiran1 commented on #6316
@yihua  any ETA for the fix?

[2022-08-07 05:56] xushiyan commented on #5636
utilities bundle contains spark 3.1 implicitly. We recommend to change to utilities-slim bundle, when you also put spark bundle there. Checkout the release notes https://hudi.apache.org/releases/release-0.11.0/#slim-utilities-bundle

[2022-08-08 02:54] eric9204 commented on #6308
@fengjian428 Thank you for your reply，I'll try the main branch..

[2022-08-08 05:22] yihua commented on #6321
@gtwuser could you provide the Hudi configs you used?  Which Hudi payload class do you use?

By default, if the new batch of data only has the partial schema and corresponding fields compared to the existing table, it causes undefined behavior.  @xiarixiaoyao does schema evolution in Hudi Spark support this?

[2022-08-08 05:27] yihua commented on #6315
There could be issues with MOR incremental query in Hudi 0.7.0.  Since then MOR incremental reads have been improved. Have you tried Hudi 0.11.1 or the latest master to see if the problem still exists in your case?

[2022-08-08 05:31] yihua commented on #6305
@alexeykudinkin based on the discussion in Slack, is there a solution to it?

[2022-08-08 05:34] yihua commented on #6304
@SubashRanganathan have you contacted AWS support regarding this?
cc @zhedoubushishi @rahil-c who may also help here.

[2022-08-08 05:35] yihua commented on #6297
@danny0405 could this be due to the dependency conflict?

[2022-08-08 05:37] yihua commented on #6289
Closing this issue as the question is answered.  @stephen5538 feel free to reopen the issue if you have more questions on the topic.

[2022-08-08 05:37] #6289 closed

[2022-08-08 05:41] yihua commented on #6281
@zhedoubushishi @rahil-c could you guys help here?

[2022-08-08 06:09] eric9204 commented on #6308
The second issue was indeed fixed , thank you !

[2022-08-08 07:01] danny0405 commented on #6297
The app uses wrong classloader, would suggest to use the per-job mode instead of yarn-session.

[2022-08-08 07:37] XXwhite commented on #6019
@yuzhaojing

[2022-08-08 08:34] YuweiXiao commented on #5740
Hey @xiarixiaoyao, thanks for the script and it works out fine. The dataset I was testing was created manually by myself, which treat decimal values as binary.

To sum up this issue, the reason behind is what @minihippo has posted: decimal type with small precision should be represented as fixed length type rather than binary to work with spark. And the default behavior of hudi (both flink/spark e

[2022-08-08 08:34] #5740 closed

[2022-08-08 11:50] codope commented on #5591
Also, you could try out the following patch #6266

[2022-08-08 13:49] rafcis02 commented on #5694
@alexeykudinkin
**Environment Description**

* Running on AWS Glue 2.0

* Hudi version : 0.10.1

* Spark version : 2.4

* Storage (HDFS/S3/GCS..) : S3

The same issue occur using Hudi 0.11.0 but it works fine for 0.11.1. So it seems it has been somehow fixed with the latest release

[2022-08-08 17:18] NikhilCollooru opened #6332 "Avoid creating Configuration copies in Hudi"
We observed that creating Configuration copies is consuming a lot of CPU.

We made changes in Presto to use a wrapper instead of creating configuration copies. But we were told that the presto change is breaking Hudi.

So one suggestion is to avoid creating copies in places like this:
https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/config/SerializableCon

[2022-08-08 17:54] haggy commented on #5211
@yihua  I was not able to reproduce this behavior at all in our data lake tables. Our tables are partitioned by `year/month/day/hour`. When running the following query, Hudi first lists every file in the entire table for metadata  (which is huge so it never finishes). The only way I was able to run a query that prunes partitions in Hudi 0.10.1 was to do the following (pyspark):

[code]

This resul

[2022-08-08 21:50] rohit-m-99 opened #6335 "[SUPPORT] Deltastreamer updates not supporting the addition of new columns"
**Describe the problem you faced**

Currently using the delatstreamer to ingested from one S3 bucket to another. In Hudi v10 I would use the upsert operation in the delatstreamer. When a new column was added to the schema the target table would reflect that.

However in Hudi 0.11.1 using the insert operation, schema changes are not reflected in the target table - specifically the addition of nulla

[2022-08-09 01:06] rohit-m-99 commented on #6335
Unable to reproduce on a brand new table. Same script, same environment but new table causes no issues.

Not sure if this has any problems due to upgrading a previously existing Hudi table.

[2022-08-09 02:07] sunmingqiaa commented on #6019
It looks like a bug，i meet this too.
flink 1.13.3 ,hudi 0.11.1, hive 2.1.1
'compaction.trigger.strategy'= num_or_time
 'compaction.delta_commits'= '1'
it is normal when there is a small amount of data, but when I with the mysql CDC sink 10 million datas, every time  there will be no compactions file, so,The data queried by the Hive is low

[2022-08-09 02:16] 7c00 commented on #6332
The changed is to be taken in Hudi.
@vinothchandar @codope How do you think?

[2022-08-09 02:18] wqwl611 opened #6336 "[Question] How Hudi deal with concurrency append to same log file when spark speculation enable"

[2022-08-09 05:32] rohit-m-99 commented on #6335
Also wanted note that in the logs I am seeing

`22/08/09 05:13:37 INFO DeltaSync: Seeing new schema. Source :{
`
This has the correct schema, for both the source and target. However the output data isn't matching the schema.

[2022-08-09 05:44] rohit-m-99 commented on #6335
[code]
however

[code]

[2022-08-09 05:51] rohit-m-99 commented on #6335
This issue was resolved by instead remove asterisk:

`
stat_data_frame = (session.read.format("hudi").option("hoodie.datasource.write.reconcile.schema", "true").load("s3a://example-prod-output/stats/querying"))
`

[2022-08-09 05:51] yihua commented on #6335
After discussion with @rohit-m-99 , the problem is not due to the write side, but rather how the Hudi table is read.  The glob pattern,  i.e., `spark.read.format("hudi").load("<base_path>/*")`, is used to read the table, which causes inconsistent results.  Using `spark.read.format("hudi").load("<base_path>")` solves the problem and returns the correct data.

[2022-08-09 05:52] yihua commented on #6335
@rohit-m-99 feel free to close the issue if you are all good.

[2022-08-09 07:19] codope commented on #5904
Closing as the issue has been triaged and fixed.

[2022-08-09 07:19] #5904 closed

[2022-08-09 07:40] ROOBALJINDAL commented on #5540
I am also facing the similar exception, using EMR on AWS with kafka. Even exception is not self explanatory if any config is missing or what is exactly wrong

**Exception:**

22/08/09 07:30:39 INFO TaskSetManager: Finished task 0.0 in stage 66.0 (TID 2033) in 113 ms on ip-10-151-46-136.us-west-2.compute.internal (executor 1) (1/2)
22/08/09 07:30:39 INFO TaskSetManager: Finished task 1.0 in stage 6

[2022-08-09 07:41] ROOBALJINDAL commented on #5540
Were you able to fix this issue?

[2022-08-09 07:46] rjmblc opened #6341 "[SUPPORT] Hudi delete not working via spark apis"
**Describe the problem you faced**
I am trying to delete from hudi table using spark apis, but I am neither observing any exceptions nor the records are getting deleted.  deltacommit getting generated succesfully for the delete request under` .hoodie/` folder.

**To Reproduce**
Steps to reproduce the behavior:

1. Launch the pyspark shell from EMR
    `pyspark --conf "spark.serializer=org.apache.s

[2022-08-09 09:10] parisni opened #6342 "[SUPPORT] Reconcile schema fails when multiple fields missing"
hudi 0.11.1
spark 3.2.1

when insert data with missing fields then `hoodie.datasource.write.reconcile.schema` works fine, until only one field is missing.
When two or more fields missing it fails. See pyspark snippet to reproduce the issue

[code]

here is the log error:
[code]

[2022-08-09 09:16] parisni opened #6343 "[SUPPORT] Reconcile schema fails with promoting field"
hudi 0.11.1
spark 3.2.1

when inserting integer field in place of bigint then reconcile fails. I would expect it to work with `hoodie.datasource.write.reconcile.schema` enabled. See snippet to reproduce the issue.

[code]

here is the error:
[code]

[2022-08-09 09:32] MihawkZoro opened #6344 "[SUPPORT] spark-sql schema_evolution"
**Describe the problem you faced**

I have a hudi table
[code]
then I want to change the order of the field and  follow the instruction of document
[https://hudi.apache.org/docs/schema_evolution](url)
[code]
but I get a error
[code]

I want know what is the problem

**Environment Description**

* Hudi version :
0.11.1
* Spark version :
3.2.2
* Hive version :
2.3.9
* Hadoop version :
2.7.3
* Storag

[2022-08-09 11:52] ROOBALJINDAL opened #6348 "[SUPPORT] Hudi error while running HoodieMultiTableDeltaStreamer: Commit 20220809112130103 failed and rolled-back !"
**Environment:**
AWS EMR Cluster: 'emr-6.7.0' version
Hudi - 0.11.0
Hive - 3.1.3
Hadoop: 3.2.1
Spark: 3.2.1

**Steps to reproduce the behavior:**
I am running Multi table streamer and as of now I am running it for 1 table only. We are using SQL server for CDC and debezium connector to push into Kafka and then reading kafka to pull records into hudi/hive tables.

**kafka-source.properties**
[code]

[2022-08-09 11:54] ROOBALJINDAL commented on #6348
@pratyakshsharma I think you are the best person to help :) Can you please check?

[2022-08-09 12:07] ToBeFinder commented on #4184
I have the same problem using Flink Offline compaction, the MOR table cannot be merged, is this a bug?

[2022-08-09 12:57] ROOBALJINDAL commented on #6348
I upgraded to 0.11 release of hudi and simply used tragetUrl instead of targetUrlSuffix so it worked now I am not getting errors related to target and source registry urls anymore. So I am assuming it is resolved but further got stuck on this. Also I have kept target url same as regitry url, not sure what would be the correct value.

Can you tell what can be the issue by looking at the config if y

[2022-08-09 15:05] #5694 closed

[2022-08-09 17:44] yihua commented on #6316
@brskiran1 I'll try to put up a simple fix this week so that at least the HoodieMultiTableDeltaStreamer can iterate through all tables in the continuous mode.

[2022-08-09 18:18] nsivabalan commented on #6224
We have put in a fix for this https://github.com/apache/hudi/pull/6313
Can you give that a try and let us know if it resolves the issue.

[2022-08-09 21:13] nsivabalan commented on #6125
@vingov : can u assist here please.
@minihippo : if you have time, can you follow up as well

[2022-08-09 21:15] nsivabalan commented on #6104
@xushiyan : do we need this gh issue to be open?

[2022-08-09 21:39] nsivabalan commented on #6069
@fengjian428 : can you follow up here please.

[2022-08-09 21:43] nsivabalan commented on #6055
@rishabhbandi : can you respond to the clarifications when you get a chance please

[2022-08-09 22:50] xushiyan commented on #4985
@Mike-Roberts-2112 @Aalron understood. from last investigation, it looks like some dependent service needs to support amd64 first. We'll prioritize this accordingly.

[2022-08-09 23:21] xushiyan commented on #6107
@satishmalladi-m as mentioned by @KnightChess and @glory9211 , it's possible that compaction has not run which resulted in RO table not updated. can you confirm if the sync succeeds after compaction ?

[2022-08-10 00:09] rohit-m-99 commented on #6335
Running into an issue now with `.option("hoodie.metadata.enable", "true")`. When doing so I receive the following issue alongside a FileNotFound:

`It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.`

When creating the dataframe I see the potenti

[2022-08-10 01:56] nsivabalan commented on #4978
@CrazyBeeline : can you put up a patch w/ the fix you have. Happy to review and get it to landing. btw, are you using hbase or some other set up. wondering how did you end up w/ a file group w/ log file but w/o a base file.

[2022-08-10 02:00] nsivabalan commented on #5223
Closing it out as non-reproducible. Please reach out to us if you are still stuck at the issue. we can take a deeper look, but as of now, we could not reproduce the issue being reported.
thanks for raising the issue.

[2022-08-10 02:00] #5223 closed

[2022-08-10 02:00] nsivabalan commented on #5298
Closing this issue as its already been fixed. thanks for raising the issue.

[2022-08-10 02:00] #5298 closed

[2022-08-10 02:02] fengjian428 commented on #6069
@desaismi could you try the latest version to check whether this issue still exists?

[2022-08-10 02:02] nsivabalan commented on #5348
@lanyu1hao : hey, can you provide us w/ more logs/stacktrace as requested. If not, would be tough for us to debug further. Feel free to close out the issue if you got it resolved. thanks.

[2022-08-10 02:03] nsivabalan commented on #5348
please share the write configs used, full stacktrace and logs. "ls" of ".hoodie" folder when this exception was hit.

[2022-08-10 02:05] nsivabalan commented on #5822
@ksrihari93 : are you still stuck at this issue.

[2022-08-10 02:06] nsivabalan commented on #5822
if you can provide us w/ debug logs, would be of great help. we are kind of running out of ideas as to why clustering is not getting triggered.

[2022-08-10 02:08] nsivabalan commented on #5875
@ksrihari93 : again, can you respond to above clarifications.
do you see new commits in timeline, but the kafka offset is not moving? is my understanding right.

[2022-08-10 02:23] danny0405 commented on #4184
@stym06 Is your table a MOR table too ?

[2022-08-10 02:26] nsivabalan commented on #5823
So, you are using timestamp based kafka offset checkpoints. looks like either the last committed checkpoint will be used or earliest available checkpoint will be used. auto reset to latest may not work in this code path. Can you clarify if thats what you are looking for.

also, can you post the stacktrace you see when you set "auto.offset.reset=earliest". you had mentioned it failed right, but hav

[2022-08-10 02:26] nsivabalan commented on #5823
auto offset reset would work as expected for regular checkpoint types (string). for timestamp based offsets, may be needs some fixes.

[2022-08-10 02:31] nsivabalan commented on #6056
Raised a hudi-cli ask https://issues.apache.org/jira/browse/HUDI-4587. don't think we can do much here automatically. these are from old hudi versions. ideally w/ newer hudi versions, we do take care of all pending commits.

[2022-08-10 02:31] #6056 closed

[2022-08-10 02:32] nsivabalan commented on #6048
@noahtaite : can you delete entire "metadata" directory and restart your pipeline w/ 0.10.1 or 0.11.0 or later.

[2022-08-10 02:34] nsivabalan commented on #6048
btw, in general we had some bugs around metadata table in earlier versions of hudi. Would recommend to enable metadata from 0.11.0.

[2022-08-10 02:36] nsivabalan commented on #6022
@Nazerra : did you get a chance to try out OCC? if you got it resolved, feel free to close out the issue. Or if you need help in enabling OCC, let me know. would be glad to assist.

[2022-08-10 02:39] nsivabalan commented on #6015
do you know if cleaner got kicked in as part of the write you triggered? do you know if clustering got triggered as part of the wirte you triggered. Since you have inline clustering, and if clustering got triggered, you will see your writes are taking longer to complete since its inline. But if every write is showing higher latency, we need to look into it.

[2022-08-10 02:39] KnightChess commented on #6344
did you `set schema.on.read.enable=true` to enable schema evolution.

[2022-08-10 02:47] nsivabalan commented on #6348
@pratyakshsharma : if any documentation needs to be improved wrt multi table deltastreamer, can you work on it. CC @bhasudha . we have seen few users from the community raised questions/issues around schema registry configs for multi table deltastreamer. would be beneficial if we can enhance our docs.

[2022-08-10 02:51] fujianhua168 opened #6354 "[SUPPORT] Sparksql cow non-partition table execute 'merge into ' sqlstatment occure error after setting the tblproperties param "hoodie.datasource.write.payload.class = 'org.apache.hudi.common.model.DefaultHoodieRecordPayload'""
**Describe the problem you faced**
     i create a cow non-partition table , setting the tblproperties params with "hoodie.datasource.write.payload.class = 'org.apache.hudi.common.model.DefaultHoodieRecordPayload'  and 'hoodie.datasource.write.hive_style_partitioning = false',
    after execute the "**insert**" and "**update set**" sql statement, result is normal  with no error.   but  use the "me

[2022-08-10 02:56] MihawkZoro commented on #6344
@KnightChess yes, but it doesn't work

[2022-08-10 02:56] nsivabalan commented on #6226
you have to use the same partition key for any lock. I mean, any writes happening to a single hudi table will be acquiring one dynamo db lock, even if they are writing to two diff partitions. Only during conflict solution stages, hudi detects that two writes are for two diff partitions and will let both writes succeed. if there was a overlap, hudi will fail one of them. So, locking is required irr

[2022-08-10 03:18] KnightChess commented on #6344
@MihawkZoro The document seems to be a little problem, try `set hoodie.schema.on.read.enable=true`

[2022-08-10 03:19] nsivabalan commented on #6194
these set of commands worked for me.
I followed our quick start guide, just by setting write operation to "bulk_insert". I repeated the same insert Df twice to hudi table.

[code]

de-dup via hudi-cli
[code]

After this, I see some parquet files in "/tmp/dedupedData/". I tried reading them via spark-shell to check for duplicates.

[code]

Let me know if this helps.

[2022-08-10 03:25] nsivabalan commented on #6177
cool. I have created a [jira](https://issues.apache.org/jira/browse/HUDI-4589). Let me know your apache id. I can assign the jira to you. and we can close out the github issuue.

[2022-08-10 03:29] nsivabalan commented on #6095
Nope. It will never lose data. If process is crashed mid-way, the commit has also failed mid-way. So, next time when you restart your pipeline, the rollback of that partially failed commit will get triggered.

Main purpose of the marker files are, during rollbacks, instead of doing fs.listing of entire data directory, we can exactly get hold of data files written as part of the commit of interest.

[2022-08-10 03:38] nsivabalan commented on #6058
Let me try to explain how incremental query works.

Lets say, you have made 10 commits to hudi table.
out of which first 5 are archived already.
So, active timeline only has 5 commits i.e. C6 to C10.

When you do snapshot query now, you will be able to read all records ingested from C1 until C10.
But when you trigger incremental query, it fetches records ingested with certain commit times. So, sta

[2022-08-10 03:40] nsivabalan commented on #6101
@navbalaraman : looks like you made a typo w/ you operation
[code]

Its "delete" and not "delete_partition".

Or did you intend to actually trigger "delete_partition" ?

[2022-08-10 03:41] nsivabalan commented on #6101
@qianchutao : can you create a new github issue. Could be different from what OP posted for. Later if we deduce both are same, we can close one. But would like to not pollute one github issue w/ diff issues.

[2022-08-10 03:46] nsivabalan commented on #6212
@HEPBO3AH :
Can we try few things.
- increase the `INLINE_CLUSTERING_MAX_COMMITS.key()` to say 3. and lets see if we encounter this issue.
- can we add a delay of say 30 secs between successive commits in your for loop.

Let us know if the issue is still reproducible for above cases as well.

[2022-08-10 03:49] MihawkZoro commented on #6344
@KnightChess It does work, but there is a new problem
the SQL is
[code]
and the exception is
[code]
the config is
[code]

[2022-08-10 04:03] nsivabalan commented on #5628
I know users using deltastreamer continuous mode in EKS w/ prometheus metrics reporter. Might be specific to CloudWatch metrics reporter.

[2022-08-10 04:04] nsivabalan commented on #5628
@zhedoubushishi : hey man. did you get a chance to follow up on this.

[2022-08-10 06:32] KnightChess commented on #6344
look like is hive side check, `hive.metastore.disallow.incompatible.col.type.changes` should be disable in you  metastore

[2022-08-10 08:38] fengjian428 commented on #6354
@fujianhua168  try
`merge into hudi_cow_pk_cbfield_tbl as target
using (select 1 as id,'a1_merge' as name, cast(2000 as BIGINT) as ts) as source
on target.id = source.id
when matched then update set *
when not matched then insert *
;` ?
I guess this is a bug due to Merge into does not cast the source column's type to target

[2022-08-10 09:23] ROOBALJINDAL commented on #6348
I further checked and downloaded aws logs of the node and checked the exact exception. Do you have any idea about what's going wrong? @nsivabalan @pratyakshsharma

**Stack trace**
`22/08/10 07:31:24 ERROR HoodieWriteHandle: Error writing record HoodieRecord{key=HoodieKey { recordKey=1201 partitionPath=receiptdt=2022/06/22}, currentLocation='null', newLocation='null'}
java.lang.UnsupportedOperation

[2022-08-10 09:38] codope commented on #6259
Interesting!
If I understand correctly, @fengjian428 's suggestion is to go back to a previous snapshot if the latest one is corrupt. Hudi already supports time travel. However, @melin 's suggestion is to not even publish the snapshot if it is found to be corrupt.

Shouldn't savepoint/restore along with a staging area be sufficient to support this feature? It's about how to control the **visibilit

[2022-08-10 09:41] pratyakshsharma commented on #6348
This does not look related to HoodieMultiTableDeltaStreamer class in any way. What is the incoming schema for your records? Do you have some string field whose value size is in GB?

[2022-08-10 09:49] pratyakshsharma commented on #6332
I see the changes were introduced in this commit - https://github.com/apache/hudi/pull/755. Hence tagging @bvaradar here.

[2022-08-10 09:50] codope commented on #6332
The reason for creating copies was to avoid ConcurrentModificationException encountered while long-running deltastreamer jobs. To avoid current modification, table meta client and file system get exclusive copies of the configuration. See https://github.com/apache/hudi/pull/755 for context.

[2022-08-10 09:51] ROOBALJINDAL commented on #6348
@pratyakshsharma
No, there is no such field. Even with same schema, it works with HoodieDeltaStreamer but not with HoodieMultiTableDeltaStreamer.

For your reference, here is the schema registered at apicurio

[code]

[2022-08-10 09:58] codope commented on #6332
I think avoiding copies may not be that trivial. I understand this might slow down queries via presto-hudi connector but I still want to understand the breaking change in detail. @pratyakshsharma @NikhilCollooru do you have some time this week to sync up and discuss this? I am `sagar sumit` on Hudi Slack.

[2022-08-10 10:12] melin commented on #6259
For the data written by spark sql, avoid quality problems (for example, a field has an invalid value, or the data volume fluctuates greatly compared to the previous cycle), and configure some data quality rules. spark sql writes the data, and then executes the quality rules. If the rule detection passes, the 'call procedure command' publishes the written data and can be queried. If there is a prob

[2022-08-10 10:13] codope commented on #6024
@Gatsby-Lee Thanks for the info. I will wait for more updates from you after testing with 0.11.1. However, I can think of one thing which we can improve. Before executing the delete_partition command, we can check for whether the partition exists or not, log a warning if it does not and return early without doing any kind of modification. HUDI-4591 to track this.

[2022-08-10 10:28] fengjian428 commented on #6259
yeah, it is like implementing the same function in different ways

 I think so,  Like I said in the last monthly sync call, I've implemented Snapshot view in our company based on the savepoint feature, although it is for a different scenario @melin FYI https://docs.google.com/presentation/d/1xypcr9onk0ogpj1lrPFQ3ERiXQpTw9NZGW4nok5i80I/edit#slide=id.g13ec3137431_2_195.

I can be a co-author for thi

[2022-08-10 10:46] codope commented on #6152
@magnus-ISU Your idea sounds good. I would recommend creating a subclass that implements your use case. We could have used transformers but we need `Op` field while writing to Hudi, however, transformers are used right during fetching from the source. Created HUDI-4592 to track this issue. Feel free to create a merge request. Please go through our [contribution guide](https://hudi.apache.org/contr

[2022-08-10 10:46] #6152 closed

[2022-08-10 11:18] codope commented on #6308
@eric9204 For the first failure, can you share the full write configs? Was there any pending/inflight compaction and clustering? Can you share the `.hoodie` directory under the base path of the table? I think the lock provider is running fine but conflict resolution failed. The timeline will help us build the sequence of events and see why the resolution failed.

[2022-08-10 12:47] MihawkZoro commented on #6344
Finally I resolved the problem, thank you for your  help @KnightChess
@nsivabalan @yihua I think this mistake should be corrected in the official documentation and
It's necessary to remind users to disable hive.metastore.disallow.incompatible.col.type.changes in hive metastore

[2022-08-10 12:47] #6344 closed

[2022-08-10 12:49] pratyakshsharma commented on #6348
It looks like the deserialization of avro records from kafka topic is not happening properly. I see you are using Apicurio schema registry but trying to use confluent avro deserializer class with it (`hoodie.deltastreamer.source.kafka.value.deserializer.class=io.confluent.kafka.serializers.KafkaAvroDeserializer`).

You should probably be using corresponding deserializers for apicurio as highlighte

[2022-08-10 12:52] pratyakshsharma commented on #6348
you might find this useful as well - https://debezium.io/blog/2020/04/09/using-debezium-with-apicurio-api-schema-registry/

[2022-08-10 12:58] xiarixiaoyao commented on #6321
@gtwuser   pls try add
            "hoodie.schema.on.read.enable" -> "true",
            "hoodie.datasource.write.reconcile.schema" -> "true",

[2022-08-10 14:25] xushiyan commented on #6281
@crutis you can actually troubleshoot this by writing a program with aws sdk to mimic `org.apache.hudi.aws.sync.AWSGlueCatalogSyncClient#addPartitionsToTable`. The list of partition values is logged by `org.apache.hudi.hive.HiveSyncTool#syncPartitions` so you have the input to that already. This problem needs some debugging to see what exactly the partition-keys-values mismatch meant.

[2022-08-10 14:39] xushiyan commented on #6148
Is this a bug?
If so, which version is expected to be repaired?
If not, is there any plan to add it to metrics in a later version? Or is there any other way to get numDeletes from metrics？

@CaesarWangX it's not a bug. it's not in metrics by design. we can consider adding it. Filed https://issues.apache.org/jira/browse/HUDI-4596

[2022-08-10 14:39] #6148 closed

[2022-08-10 14:49] xushiyan commented on #6167
@1032851561 i don't think it's expected to return incremental results for archived commits. A design consideration is we don't want to spend extra computation power to deserialize archived commits and find the incrementally changed files. You can configure archival so that it retains active commits longer for your use case

[2022-08-10 16:31] crutis commented on #6281
No support ticket with AWS yet, I'll check this out and let you know what I see, thanks!

[2022-08-10 21:12] pomaster commented on #4622
@nochimow Thought you had opened an AWS Support ticket.  If yes, any update from AWS Support? Curious to know if Amazon Redshift Spectrum team is planning to do something on this issue.

[2022-08-10 21:16] nochimow commented on #4622
@pomaster Yes i did, Their reply was that the product team is aware of this issue, but there is no ETA to fix this yet.

[2022-08-10 22:40] nsivabalan commented on #5938
@developerwxl : any update on this. if the issue is resolved, feel free to close out the issue.

[2022-08-10 22:41] nsivabalan commented on #5861
Is there any follow up here. or is something waiting for any assistance.

[2022-08-10 22:44] nsivabalan commented on #5291
Can we close this one out, or is there any pending work item? I see the linked PR is already landed.

[2022-08-11 00:43] desaismi commented on #6069
Hello, @fengjian428 we have some dependencies on our data pipeline that makes upgrading to the latest version non-trivial. Is this a known issue for 0.8.0?

If it's a rare intermittent issue, would it be safe to manually remove this marker file from the temp folder?

[2022-08-11 01:17] kk17 commented on #5861
The pull request is waiting for merge. I need some time and guide to write a proper unit test.

[2022-08-11 02:11] novisfff commented on #6095
Thank you very much. I understand. I'm sorry I had some problems with my previous understanding of timeline server based markers.

[2022-08-11 02:11] #6095 closed

[2022-08-11 02:16] eric9204 commented on #6308
[code]

![Snipaste_2022-08-11_09-58-07](https://user-images.githubusercontent.com/90449228/184053553-980e96dd-ddd8-4624-8c8e-38964b6ee6ae.png)

@codope  The hudi table type is cow,and there was not any config about compaction or clustering.

[2022-08-11 03:14] fengjian428 commented on #6069
yeah, it should be safe to remove the marker files if no relevant inflight instant in the timeline