[2019-07-11 18:40] vinothchandar commented on #774
#751 has the changes in mostly final form..

@cdmikechen we have been thinking about whether we should directly talk to the metastore to perform hive sync, instead of talking to HiveServer. wdyt? Would it simplify few things

[2019-07-11 18:44] vinothchandar commented on #764
@amaranathv just to confirm you are using `NonpartitionedKeyGenerator` as the key generator?

[2019-07-11 18:52] amaranathv commented on #764
yes

[2019-07-11 18:52] amaranathv commented on #764
DataSourceWriteOptions.KEYGENERATOR_CLASS_OPT_KEY-> "com.uber.hoodie.NonpartitionedKeyGenerator"

[2019-07-11 20:11] vinothchandar commented on #714
One thing I notice is about 10 mins is spent in retrying the stages . This is usually indicatve that the job is running a degraded state. do you know what these failures are? also stage 3, simply parses the input and caches the hoodie records in memory.. Not sure why this takes 7 minutes - usually indicates input data parsing issues.

[2019-07-11 20:38] vinothchandar commented on #764
@amaranathv again the issue from this line `        .onParentPath(new Path(hoodieTable.getMetaClient().getBasePath(), partitionPath))
` where I suspect partitionPath is null. Can you please ensure your dataset contains non-null partition paths? (I am going to add an explicit exception to flag this case in the KeyGenerator subclasses or somewhere else. )

[2019-07-12 08:37] zhangxinjian123 opened #784 "Can Hudi delete records?"

[2019-07-12 09:25] NetsanetGeb commented on #714
The failures are:
[code]

[2019-07-12 09:43] eisig commented on #779
@vinothchandar I
delete the folder and try again, It heppened again.
Here is my configs:
[code]
[code]

[2019-07-12 09:59] eisig commented on #779
other  results seems wrong.

[code]
count1 == count3
count2 == count4
count1 != count2 and count3 != count4

[code]
_hoodie_commit_time are always the some value.

[code]
count is going up

[2019-07-12 16:58] vinothchandar commented on #714
This indicates general spark shuffle failures.. I'd suggest first running it in a larger say 20 executor cluster first, and then start shrinking.

That expansion is just for the index checking operation. output table will not be 6.6GB

[2019-07-12 17:02] vinothchandar commented on #784
yes . you can use the `EmptyRecordPayload` as in #635 to perform hard deletes. upsert with null for soft deletes.

[2019-07-12 17:02] #784 closed

[2019-07-12 17:04] vinothchandar commented on #779
@bvaradar is this related to #775  ?

[2019-07-12 17:24] vinothchandar commented on #779
@eisig are you testing on master? what version are you using?

Given you are disabling compaction, not sure how ro and rt views match, since records would have made their way from log to parquet files without compaction. I am suspecting somehow you end up using `--op INSERT` or `--op BULK_INSERT` instead of UPSERT.  I don't see this option in your command above..

Can you list the .hoodie folder a

[2019-07-12 20:56] vinothchandar commented on #764
To summarize

@n3nash is looking into the avro issue
and
@bhasudha is going to try repro the empty path exception, as a ramp up task.

[2019-07-13 05:45] eisig commented on #779
I am testing the master branch.

[code]

order by time desc
[code]

[2019-07-15 03:18] eisig opened #786 "HoodieWrapperFileSystem not working with presto"
presto wraps the filesystem in  org.apache.hadoop.fs.PrestoFileSystemCache$FileSystemWrapper.
FileSystemWrapper does not implements `getScheme` method
hoodie master branch,
presto 0.220

[code]
presto log
[code]

[2019-07-15 09:25] zhangxinjian123 commented on #784
public class TestMain {
    public static void main(String[] args) {
        System.setProperty("hadoop.home.dir", "E:\\hadoop-common-2.2.0-bin-master");
        TestHoodieClientOnCopyOnWriteStorage testHoodieClientOnCopyOnWriteStorage=new
        TestHoodieClientOnCopyOnWriteStorage();
        try {
            testHoodieClientOnCopyOnWriteStorage.init();
            testHoodieClientOnCopyOnWrite

[2019-07-15 10:25] NetsanetGeb commented on #714
I changed the driver memory and number of executors to be:
spark.driver.memory = 7168m
spark.executor.memory = 1024m
spark.executor.instances =20

 And in addition, i  added the following settings:
[code]

[2019-07-15 13:31] bvaradar commented on #786
@eisig : Is this with latest master ? Have you already workedaround/fixed this ?

[2019-07-15 14:45] eisig commented on #786
@bvaradar  It's the latest master.
I make it fail back to fileSystem.getUri().getScheme() if it's not implemented.
Or should We replace  fileSystem.getScheme() with  fileSystem.getUri().getScheme() ?
Is it better to use "s3" or "s3a/emrfs" as the scheme for path "s3://xxx" here?

[2019-07-15 16:17] eisig opened #789 "Demo : Unexpected result in some queries"
I have two  problems   with the master branch(commit: ae3c02fb3)
my steps:
1. use HDFSParquetImporter to import from hive to hudi
2. use  HoodieDeltaStreamer to import new data from kafka.(I add a option to allow missing checkpointStr)
    the config is same as #779, with --disable-compaction.
 And then
   ` select distinct _hoodie_commit_time from rt_table/ro_table`  only return the first the com

[2019-07-15 17:14] bvaradar commented on #789
@eisig :

Regarding (2), Can you list the timeline (.hoodie folder) and all partition path folders ? Also, for the latest committed deltaCommit, can you cat the file and attach.

[2019-07-15 17:44] vinothchandar commented on #779
@eisig hmmm. looks like you are issuing upserts, since I see the log files.. is it possible to provide a sample file with input data (with just the keys for e.g) so I can try to reproduce this? Thats probably the most efficient way. hmmm. This should n't happen as we don't see this happening in prod.

for e.g: https://issues.apache.org/jira/browse/HUDI-116 did an excellent job with this.

[2019-07-15 17:50] vinothchandar commented on #786
@bhasudha can you triage this and take over here?

[2019-07-15 18:05] vinothchandar commented on #714
Hmmm.. what I notice is that every stage (3, 15, 16) that goes one pass over the input takes like 3 minutes, which is not expected..

is there a way I can locally run this workload? Or happy to jump on a video call sometime to debug together.. Its hard for me to see why these stages would take such time. for e.g 2,3 is a simple spark shuffle and countByKey. None of hudi's features have been execis

[2019-07-15 18:09] garyli1019 commented on #768
Hello @vinothchandar , sure I will use email to ask future questions. This issue was caused by `/tmp` folder was too small.
[code]
Based on my understanding, hudi is using `java.io` package to write parquet file and the default `java.io.tmpdir` was `/tmp`. I attended to redirect `java.io.tmpdir` to somewhere else, but it doesn't work. Because in Spark on YARN mode, any user-specified `java.io.tmpd

[2019-07-15 19:52] vinothchandar commented on #768
the /tmp is more for spark, to shuffle the data. Hudi only writes to the `basePath` you configure.  One place that we do use the /tmp folder is to spill merge.. you can try changing this path and see if it helps (will only help if Hudi's writing is the issue. not for scaling spark shuffles)

[code]

[2019-07-15 21:26] vinothchandar commented on #784
No.. when you can pass in that class `com.uber.hoodie.EmptyHoodieRecordPayload` as the payload implementation using DeltaStreamer or the Datasource.  see https://hudi.apache.org/configurations.html#PAYLOAD_CLASS_OPT_KEY for more

[2019-07-16 00:00] garyli1019 commented on #768
Thanks, that worked! I am able to config `spark.local.dir` through `spark-submit` so it's not a problem.
How about
[code]
Should I change this as well?

[2019-07-16 00:26] vinothchandar commented on #768
@garyli1019 yes possibly.. although, that will be much smaller.. it will just keep the filesystem metadata for that dataset.

[2019-07-16 01:38] bvaradar commented on #789
@eisig : Also regarding (3) How long did you notice it to be in hanging state ? My guess is the rollback is progressing but slowly (https://issues.apache.org/jira/browse/HUDI-169). Can you check executor logs corresponding to active tasks and see if this is the case ?

[2019-07-16 02:37] eisig commented on #789
@bvaradar
Here the data
https://raw.githubusercontent.com/eisig/sample-files/master/hudi-789/metadata.txt
https://raw.githubusercontent.com/eisig/sample-files/master/hudi-789/data-list.txt

[2019-07-16 02:55] eisig commented on #789
@bvaradar It is a file not found exception cause (3).
Maybe you PR https://github.com/apache/incubator-hudi/pull/788 will fix this.

[2019-07-16 03:04] eisig commented on #789
@bvaradar  About the timeline. For MOR table.
1. The rt view should alway return the lastest deltacommit data. (this issue)
2.  The ro view should only return the lastest compact commit data.

Am I not understanding correctly?

The ro view would return the lastest commit data without compact.In  #779

[2019-07-16 03:09] #768 closed

[2019-07-16 03:22] bvaradar commented on #789
@eisig yeah your understanding is correct. Regarding RT query, can you enable debug in your spark shell and give the driver logs.  It would also help if you run the same query against 0.4.7 . Will be online in an hour to debug further

[2019-07-16 06:43] bvaradar commented on #786
@eisig : Can you try this PR and see if it works.  https://github.com/apache/incubator-hudi/pull/793

[2019-07-16 07:42] xuFabius commented on #757
HI cdmikechen, i got below exception with your posted xml

[code]

[2019-07-16 08:43] zhangxinjian123 commented on #784
Why did I fail to find SparkConf when I executed the DeltaStreamer program?
    log4j:ERROR Could not instantiate appender named "mail".
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/spark/SparkConf
	at com.uber.hoodie.utilities.deltastreamer.SchedulerConfGenerator.getSparkSchedulingConfigs(SchedulerConfGenerator.java:97)
	at com.uber.hoodie.utilities.deltastreamer.HoodieDe

[2019-07-16 15:32] bvaradar commented on #757
Looks like some version mismatch issue. What is your environment setup look like (Hadoop/Hive versions)?

[2019-07-16 18:31] garyli1019 commented on #768
Also worth to mention, if the Hudi job failed in the split merge stage, the tmp files won't be cleaned up, which might fill up the `/tmp` folder and lead to worker node exhaustion.

[2019-07-16 20:18] n3nash commented on #779
@eisig From the paste above of the file ids, I see that the log file has multiple file ids. For eg., there are multiple log files with the file id = c87d3580-86fe-40f9-8f6c-7c95cc91caa6 but I don't see a corresponding parquet file. Is is just that you pasted part of the directory contents or is there a corresponding parquet for this file id missing ?

[2019-07-16 20:20] n3nash commented on #789
@eisig The PR https://github.com/apache/incubator-hudi/pull/788 should fix the rollback issue.
For the RT query, are you ingesting data into newer partitions ? If yes, those partitions will need to be registered with the hive metastore using the hive sync tool.

[2019-07-17 00:36] vinothchandar commented on #768
@garyli1019 can you elaborate? are these files left behind by hudi or spark? if hudi, we can file a JIRA and get it fixed

[2019-07-17 00:40] vinothchandar commented on #784
are you running using spark-submit command? in case you are running it like a java program, it wont be able to find spark classes

[2019-07-17 01:30] xuFabius commented on #757
tks @bvaradar.   I think so too.

In my env : hadoop-2.7.5/hive-2.3.5/spark-2.3.3.

About the information
[code]

I think this exception is on thrift version.  apche hive-2.3.5 metastore jar is built on
[code]
but hoodie-0.4.8 is built on
[code]

i doubt that it's incompatible

[2019-07-17 01:30] eisig commented on #786
@bvaradar It works.

[2019-07-17 01:57] xuFabius commented on #757
@bvaradar i had set thrift.version=0.9.3 in hoodie pom.xml and rebuild the project.

HoodieJavaApp exited with this exception too.

[2019-07-17 02:21] eisig commented on #789
@bvaradar I make (3) pass, when new commit is add to the metadata,  it seems  to be correct eventually. I need to reproduce this problem again.
@n3nash The  data is partitioned by year, so  all the partitions will be created in steps(1)

[2019-07-17 03:15] eisig commented on #779
@vinothchandar It may happen after the job started.  The amount of data is a bit large to provided here. I will try if i can  figure out which data cause this.
@n3nash The full list is here https://raw.githubusercontent.com/eisig/sample-files/master/hudi/779/2019.txt

[2019-07-17 07:38] NetsanetGeb commented on #714
Yes, you can extract  data from [IPUMS USA](https://usa.ipums.org/usa/)  to run the workload locally.  I am not allowed to share the files i downloaded from there. Hence, You can extract the dataset from their site by specifying the column fields that you want in a csv fromat and later change it to JSON for using JSON as a source class.
 Am also glad to do a video call  on time thats convenient fo

[2019-07-17 10:41] vinothchandar commented on #789
In (2), it seems like you are not seeing the delta commit data reflected? again how do we reconcile this with duplicates you were reporting on #779 ? do you think they are related?

[2019-07-17 10:46] vinothchandar commented on #779
we have to drill into whats causing this. at the moment, we don't index the log files, so we expect only updates to go there.. if not, it will result in duplicates..

[2019-07-17 11:56] bhasudha commented on #764
With PR [775](https://github.com/apache/incubator-hudi/pull/775) this issue seems to have been fixed. I was able to reproduce this error before the fix. After applying PR 775 could not reproduce it anymore. @amaranathv can you test this PR for empty path exception?

[2019-07-17 18:30] garyli1019 commented on #768
https://issues.apache.org/jira/browse/HUDI-171
@vinothchandar In my cluster set up, all the spark shuffle services are not using `/tmp`, so I think those files are left behind by hudi.
Example of a file left in `/tmp`:
`-rw-r----- 1 u_ops 168M Jul 14 18:10 d7b2a7a3-5706-4ffd-90cb-70c6650ef1e4`
I think we can find a way to predict the file size before actually writing to tmp. It will be difficult t

[2019-07-17 18:35] vinothchandar commented on #768
we can continue on JIRA . commenting there

[2019-07-17 21:56] n3nash commented on #779
okay, I do see the corresponding parquet file in the complete list that you posted so confirming that only updates are going to the logs files.
@eisig Can you also share a screenshot of the spark UI of the job that you are running ? I'd like to see the Hudi DAG stages that show up in your job.

[2019-07-17 23:53] vinothchandar commented on #714
@NetsanetGeb what time works for you.. are you on slack? we can coordinate 1-1 there..

I am trying to establish a baseline using the TestDataGenerator/DeltaStreamer, in the meantime.

[2019-07-18 00:30] cdmikechen commented on #757
@xuFabius 你是在集群上运行时候遇到的这个错误，还是在你本地IDE上测试的时候遇到的错误？

[2019-07-18 04:20] bvaradar commented on #789
@eisig : It would be great if we could set an 1-1 session to understand the issue and debug this and the other ones. Can you  ping me in slack (vbalaji) ?

[2019-07-18 04:22] #734 closed

[2019-07-18 04:57] xuFabius commented on #757
@cdmikechen IDE and pseudo distributed hadoop/yarn environment both

[2019-07-18 05:49] eisig commented on #789
@bvaradar  please add me to to slack channel, my email:  eisig.g@live.com  thx

[2019-07-18 05:53] eisig commented on #789
The timeline seems not work as expect .
I rerun the demo https://hudi.apache.org/docker_demo.html
Step 6(a) the ro and rt view is same.

[2019-07-18 06:26] bvaradar commented on #789
@eisig : Added you to slack. Ping me (vbalaji) when you are online

[2019-07-18 07:09] bvaradar commented on #789
@eisig : I have seen this happen when we miss passing the flag "--disable-compaction" as part of deltastreamer run. When you run the demo (step - 2), after running deltastreamer for MOR, verify there is only one ".deltacommit" file and no ".commit" in http://namenode:50070/explorer.html#/user/hive/warehouse/stock_ticks_mor/.hoodie

The demo link you pointed was recently updated to reflect it.

[2019-07-18 09:31] eisig commented on #789
The result of the demo is very strange
(Step 6(a))

[code]
return as demo

BUT!

[code]

[code]

[2019-07-18 09:35] eisig commented on #789
Stop the demo (./stop_demo.sh)
Add a new line to batch_2.json
[code]
rerun the demo, and the rt and ro view is the same!

[code]

[2019-07-18 09:38] eisig commented on #789
the demo is clean build ( mvn clean install -DskipTests) with the lastest master branch( 6efa16317c0f0) without any change.

[2019-07-18 09:56] eisig commented on #789
It may also be:
(But I can not reproduce this)
[code]

[2019-07-18 12:54] eisig commented on #789
@bvaradar I  found out  why (2)
[code]
happened.
In steps 1
`use HDFSParquetImporter to import from hive to hudi`, The data is newer than that in kafka.

Sorry, it's my mistake.

[2019-07-18 19:45] bvaradar commented on #764
@jackwang2 : Are you still seeing this issue ?

[2019-07-19 05:14] anchalkataria commented on #588
Hi ,
I am also facing issue while using S3 as storage for Hudi dataset. I am using HoodieDeltaStreamer for pushing records from kafka and then syncing to hive. Below is the stack trace for the same -

Exception in thread "main" com.uber.hoodie.hive.HoodieHiveSyncException: Failed in executing SQL CREATE EXTERNAL TABLE  IF NOT EXISTS default.impressions_s3tbl( `_hoodie_commit_time` string, `_hoodie

[2019-07-19 05:15] amaranathv commented on #764
I am still working on performance side of the copy of on write.Will do the testing again after the performance test complete.

[2019-07-19 05:40] anchalkataria opened #796 "Error hive sync via delta streamer"
Hi ,
I am also facing issue while using S3 as storage for Hudi dataset. I am using HoodieDeltaStreamer for pushing records from kafka and then syncing to hive. Below is the stack trace for the same -
[code]

[2019-07-19 13:03] vinothchandar commented on #796
Looks like a one of the many other class mismatches with hive :/.  What Hive and Hudi versions are you using? alternatively, can you turn off Hive sync in deltastreamer and see if manually registering the table via HiveSyncTool succeeds? that will give us some clues.

[2019-07-19 13:05] vinothchandar commented on #796
@cdmikechen do you have some cycles to shepherd this one? since you are helping with others as well. anyone else with some cycles? :)

[2019-07-19 18:41] bvaradar commented on #779
@eisig  mentioned that he is not able to reproduce this issue after applying #775 .

Will close this ticket. @eisig : Please open an issue with details if you find a newer occurrence

[2019-07-19 18:41] #779 closed

[2019-07-19 18:44] bvaradar commented on #786
@eisig confirmed it works fine. Alex also confirmed both write and read side is working fine in his setup.

[2019-07-19 18:44] #786 closed

[2019-07-19 18:47] bvaradar commented on #789
@bhasudha : @eisig is seeing some issues in master branch with the docker setup.

Relevant Info:
https://github.com/apache/incubator-hudi/issues/789#issuecomment-512740619
https://github.com/apache/incubator-hudi/issues/789#issuecomment-512741943

[2019-07-20 18:15] anchalkataria commented on #796
I am using hive 2.0 and Hudi 0.4.5.
And when I turned off hive sync from DeltaStreamer and manually register the table via HiveSync tool it worked successfully.
Please suggest what could be the solution for running same thing from DeltaStreamer.

Also when i tried updating record through Merge_on_read storage type the _rt table shows the updated column values as null.Not showing the updated value

[2019-07-21 19:39] NetsanetGeb commented on #714
@vinothchandar, yes am on slack and next week sounds good.   We can do it  on Monday or Tuesday. The time zone here is Central European Summer Time (GMT + 2) and  I think we have 9 hours time zone difference . So we can arrange a time which is convenient for both of us, like evening  time here and morning time there.  Does this work for you?

[2019-07-22 18:11] bhasudha commented on #789
@eisig I am trying to reproduce the issue. Will update soon.

[2019-07-22 23:37] vinothchandar commented on #796
@anchalkataria can you upgrade to current master and see if this has been fixed? we have fixed few things since 0.4.5 ..

Unrelated, there is #751 #780 which we are working on revamping poms/bundles here. So might have something for you to test soonish

[2019-07-23 01:25] garyli1019 opened #800 "Performance tuning"
Hello, I am having a performance issue when I was upserting ~100GB data into a 700GB table already managed by Hudi in HDFS. The upsert part does have some duplicates with existing table because I am setting up a buffer to cover all the delta in case my spark job doesn't start on time.

spark config I used(external shuffle is true as default in my cluster):
[code]
Key Hudi Configs:
[code]
I am usin

[2019-07-23 04:36] anchalkataria commented on #796
So @vinothchandar will upgrading the version also fix the null value issue while updating the records in storage type MOR ?

[2019-07-23 09:48] vinothchandar commented on #796
Not sure the exact issue you are hitting on 0.4.5. Dont recall any issues on that release with these symptoms. Once you are on master, we can work thru that as well. Hope that helps

[2019-07-23 09:56] vinothchandar commented on #800
That job pretty much just writes out parquet (or versions parquet files if you have updates). From what I see a single task is gc-ing for hours even though the input is more or less same (7M records or so). I have seen this (not this bad though) caused on yarn due to interference from other jobs or yarn not blacklisting a bad host..

As a next step, can we try configuring a larger heap (say double

[2019-07-23 09:59] vinothchandar commented on #800
@n3nash any ideas?

[2019-07-23 12:46] tkakantousis commented on #143
Hi, can I join the channel? Thanks! theo@logicalclocks.com

[2019-07-23 18:28] vinothchandar commented on #714
https://github.com/apache/incubator-hudi/pull/799 has the logging changes for timing handles that actually write data.

https://github.com/apache/incubator-hudi/blob/9857c4b21ccb77a97817e1e448c4c54bdd409562/hoodie-utilities/src/main/java/com/uber/hoodie/utilities/deltastreamer/DeltaSync.java#L333 I would suggest to insert some code right after the ` log.info("Starting commit  : " + commitTime);` t

[2019-07-23 18:37] garyli1019 commented on #800
Sure, I can try that.
The delta data was very dirty for sure(many incoming old data need to rewrite existing parquet files). The task duration seems to increase exponentially with the shuffle read size.

Also, this job is not releasing executors when the tasks were finished. e.g. I gave this job 100 executors. Two tasks are running for 20 hours and others finished in minutes. This job will keep 10

[2019-07-23 23:08] vinothchandar commented on #800
So, this seems more about the memory per executor rather than number of executors.. Not releasing the executors is very weird for a spark app to do tbh.. interesting.. You already have 12GB executor memory, which should be plenty ..

All in all, its GC-ing constantly and if you let it run, as with any java app, it will keep GCing and chew up cpu .. Can you try to do a heapdump using `jmap` and pul

[2019-07-24 00:22] garyli1019 commented on #800
Maybe this https://github.com/apache/incubator-hudi/blob/master/hoodie-common/src/main/java/com/uber/hoodie/common/util/SerializationUtils.java#L85 is too small? Seems like this is not related to `spark.kryoserializer.buffer.max`?

Also could be https://github.com/apache/incubator-hudi/blob/master/hoodie-client/src/main/java/com/uber/hoodie/config/HoodieMemoryConfig.java#L119 is too small. `12G *

[2019-07-24 08:31] zhangxinjian123 opened #801 "How to customize schema"
Can I customize schema dynamically? The schema in the source code is fixed, can it be removed? How to get rid of it?

[2019-07-24 12:41] zhangxinjian123 commented on #801
How to set schema to null when reading Kafka data？

[2019-07-24 15:42] vinothchandar commented on #800
Still think getting a heapdump is the best way, since that will tell us what’s actually held in memory.

[2019-07-24 15:48] vinothchandar commented on #801
Hi. If you are using the deltastreamer, then there are a couple of options to specify schema. Either you can use FileBasedSchemaProvider to read it off a file or use the Confluent schema registry

[2019-07-24 21:04] n3nash commented on #801
@zhangxinjian123 You can evolve your schema in a backwards compatible way. Mark the fields you don't want to produce to as optional and add new fields to the schema as your produce them. Read more here : https://avro.apache.org/docs/current/spec.html.

As @vinothchandar pointed out, there are multiple ways to pass this schema to the job and as your evolve them, you can just swap those schemas in t

[2019-07-25 04:24] vinothchandar commented on #796
@bhasudha is looking into the null issue..

[2019-07-25 06:35] zhangxinjian123 commented on #801
The hoodie-spark module offers the DataSource API to write (and also read) any data frame into a Hudi dataset. Can I use hoodie-spark to read Kafka data?

[2019-07-26 08:20] zhangxinjian123 commented on #801
From the value consumed by kafka, which section of code can be printed out？

[2019-07-26 17:22] eisig commented on #789
@bhasudha  any update about this?

[2019-07-26 21:57] vinothchandar commented on #801
yes. as long as you can obtain a dataFrame, you can write it out as a Hudi dataset.

I am not following the last question. what do you mean by "code can be printed out"?

[2019-07-29 04:38] nbijub commented on #143
Hi @vinothchandar , could you please add me nbijub@gmail.com to the slack channel ?

[2019-07-29 17:01] bhasudha commented on #789
@eisig I have been trying to reproduce this for sometime. It's very intermittent in my setup. Are you able to deterministically reproduce this ?

[2019-07-30 03:54] eisig commented on #789
@bhasudha It happens every time.
1. https://github.com/apache/incubator-hudi/issues/789#issuecomment-512740619
1. https://github.com/apache/incubator-hudi/issues/789#issuecomment-512741943

(2) is import to me. If it's  by design, how to use the MERGE_ON_READ ro view?

[2019-07-30 05:55] zhangxinjian123 commented on #801
Can I upgrade the Spark version to 2.4.3 using Structured Streaming?

[2019-07-30 11:21] arw357 commented on #590
I found something alike . I have only one datanode - it happens when the archive log is being appended.
[code]

[2019-07-30 17:18] n3nash commented on #590
@arw357 Could you do the above ? This issue can happen when enough datanodes are not alive to reach the minimum replication factor.

[2019-07-30 17:19] n3nash commented on #801
There is an effort to upgrade Hudi to using Spark 2.4.x. here is the PR : https://github.com/apache/incubator-hudi/pull/638. You should be able to use 2.4 after this is merged.

[2019-07-30 17:48] vinothchandar commented on #789
Weird that it is intermittent.  @bhasudha lets meet and take a stab at this sometime.. this also blocks #751  and related efforts , which blocks spark upgrade which blocks timestamp support :)

[2019-07-31 06:34] arw357 commented on #590
Hey @n3nash  , the datanode (only one) is alive and kicking, I can use it for other ingestions with no issue.

[code]

[2019-07-31 06:43] cdmikechen commented on #774
I think we should try to use Spark's basic functions as the standard. It means we use spark-hive libs when building, but exclude it when packaging.
I think if we need spark to connect hive to syn some table, we will use `Sparksession.enableHiveSupport()`. It will let spark open a hive connection client itself. we can use it, so that we don't need to import `hoodie-hive` in spark.

[2019-07-31 06:52] cdmikechen commented on #774
Another things. I found that Hive2 use log4j2 and spark use log4j. If I commit a spark task like
[code]
It will report error:
[code]
So that I need to remove some hive dependencies in pom like
[code]
After that spark can work.

[2019-07-31 07:35] arw357 opened #812 "KryoException: Unable to find class"
I get the exception at the end while trying to upsert the same file more than 12 times ( not sure why 12 ) .
The error is given for every partition ( 6 of them - i just pasted the 4th one )  . I am using the same SparkSession to do the upserts. It does not happen if I increase the `hoodie.cleaner.commits.retained`  .
The place where it crashes is on the collect part of this piece of code from Hood

[2019-07-31 08:34] NetsanetGeb commented on #714
After i used hoodie 0.4.6 version, the performance improved and now its taking 4 minutes.
![per2](https://user-images.githubusercontent.com/25975892/62195353-1c158600-b37c-11e9-905f-0b04213e614f.png)

 I also added a similar code of the countByKey to count the records in the HoodieDeltaStreamer class and  check why its taking long in the HoodieBloomIndex and it took about 9 seconds.  While the cou

[2019-07-31 11:21] vinothchandar commented on #789
I can reproduce this actually and what I see is that the user columns are removed off the column projection list,before being passed on to AbstractRealtimeRecordReader ?

[code]

Seems like a regression to me.. is HUDI-151 related?

[2019-07-31 11:44] vinothchandar commented on #789
With disabling of these static variables introduced, I can get the query to work now..

[code]

those static variables seem to be fixing for some hive version, while breaking hive 2.x.. I dont recall the reasoning behind it. @n3nash ? But, high level caching these values across queries in a static variables does not make a ton of sense to me.. @bvaradar  as well for input

[2019-07-31 12:08] bhasudha commented on #789
Oh this could also be causing the join issue then?

[2019-07-31 18:25] n3nash commented on #812
This looks more like a spark issue. So whenever spark shuffles data, if you choose kryo for serialization, one has to register java objects with kryo under a name, it looks like kryo is unable to find that object under the name and hence throws class not found. Does your application change over time in any way ?

[2019-08-01 01:00] n3nash commented on #764
It looks like the "Not an Avro data file" exception is thrown when there is a 0 byte stream read into the datafilereader as can be seen here : https://github.com/apache/avro/blob/master/lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java#L55 and here : https://github.com/apache/avro/blob/master/lang/java/avro/src/main/java/org/apache/avro/file/DataFileConstants.java#L29

From the

[2019-08-01 02:07] jackwang2 commented on #764
@n3nash No, I didn't. The main logic is for just global deduplication, and
code is pasted as below:

  df.dropDuplicates(recordKey)
    .write
    .format("com.uber.hoodie")
    .mode(SaveMode.Append)
    .option(HoodieWriteConfig.TABLE_NAME, tableName)
    .option(HoodieIndexConfig.INDEX_TYPE_PROP,
HoodieIndex.IndexType.GLOBAL_BLOOM.name)
    .option(DataSourceWriteOptions.RECORDKEY_FIELD_OPT_KEY

[2019-08-01 03:52] cdmikechen opened #817 "spark-submit with userClassPathFirst config error"
When I used spark-submit to run some codes like that(spark 2.4.3 and scala 2.11.12):
[code]
Spark reported such an exception when creating spark session to yarn
[code]
I found that there was a scala package in `hoodie-spark-bundle-0.4.8-SNAPSHOT.jar`. It was because when packaging in maven pom, `hoodie-spark-bundle` imported `org.scala-lang` dependency and copied these scala codes to `hoodie-spark

[2019-08-01 05:19] vinothchandar commented on #801
Closing. Reopen new issues on JIRA or mailing list as needed

[2019-08-01 05:19] #801 closed

[2019-08-01 05:20] vinothchandar commented on #800
hi.. any updates?

[2019-08-01 05:21] vinothchandar commented on #796
@anchalkataria we have some leads on the null issue. we expect it to be fixed on master soon..

on your original registration issue, I actually was able to register through delta streamer in the demo setup on master branch... Would you be able to give it a shot? I can give you commands..

[2019-08-01 05:22] vinothchandar commented on #796
@n3nash can you paste the error you got hive syncing on the apache hive 2.x servers if any?

[2019-08-01 05:23] vinothchandar commented on #789
@n3nash is debugging the join issue, which seems different?

[2019-08-01 05:25] vinothchandar commented on #774
@cdmikechen can we have a call or can you write up how we can take a fresh look at the hive sync aspects? It definitely works in certain versions, but runs into snags like this with certain versions.. Its a pretty hairy issue IMO

[2019-08-01 05:28] vinothchandar commented on #714
@NetsanetGeb 2 comes from the configs you are setting?
hoodie.upsert.shuffle.parallellism & hoodie.insert.shuffle.parallellism?

[2019-08-01 05:38] anchalkataria commented on #796
@vinothchandar So now I am not trying this on local anymore . I am directly running the tool on AWS Emr cluster and able to sync data in hive through DeltaStreamer.

[2019-08-01 07:07] arw357 commented on #812
Nothing - it's a simplu upsert over a cow - I do it in a loop -

[2019-08-01 15:59] vinothchandar commented on #812
trace shows that it happens during cleaning.. So increasing the limit, you are just kicking the can down the road.. you ll eventually hit it.. Default `  private static final String DEFAULT_CLEANER_COMMITS_RETAINED = "10";` is 10, so you are probably hitting it on first cleaning..

the error itself is weird.. Why is it trying to match this string as a class? @n3nash this data is avro right?  is kr

[2019-08-01 16:00] vinothchandar commented on #796
@anchalkataria thats great to hear.. Do you mind sharing your spark, hive and hadoop versions?

We are actively trying to ease the jar pain .. It 'd be helpful to know few combinations that work well

[2019-08-01 19:12] garyli1019 commented on #800
Hi, sorry been a little busy this week. I will write a summary once I get enough information.

[2019-08-04 19:47] n3nash commented on #812
yeah, may be when we list all the files to be cleaned and then shuffle them to optimize performance of clean(), at that time the kryo serialization is trying to serde the filestatus objects and is failing ? @vinothchandar

[2019-08-05 14:12] anchalkataria commented on #796
Sure @vinothchandar Sorry for late reply. I am using emr-5.16.0 version which has Spark 2.3.1,Hive 2.3.3 and Hadoop 2.8.4 versions.

[2019-08-06 16:23] vinothchandar commented on #796
Thats great to know. thanks!

[2019-08-06 16:23] #796 closed

[2019-08-07 03:34] cdmikechen commented on #774
@vinothchandar I think I can collect all the problems I've found recently, then collect them together and see how to solve them. After collected, I will send you by slack.

[2019-08-07 11:06] vinothchandar commented on #774
@cdmikechen awesome.. Can we just repurpose https://issues.apache.org/jira/browse/HUDI-159 for this? I already did one pass a month or so ago..

[2019-08-07 11:07] vinothchandar commented on #774
#796 seems to confirm it works with Hive 2.3.3 atleast.. So we need to take a holistic view and go from there.. Also checkout #809  which skips the HiveServer2 and talks to metastore directly.. Love to hear your views on this one

[2019-08-07 14:52] shinray commented on #588
+1 for bug #3 in this report/HUDI-5.
AWS EMR/S3, Spark 2.4.0, hoodie release 0.4.7

[2019-08-08 10:20] imperio-wxm opened #827 "java.lang.ClassNotFoundException: com.uber.hoodie.hadoop.HoodieInputFormat"
spark 2.4.0.cloudera1
hadoop 2.6.0-cdh5.11.1
hive 1.1.0-cdh5.11.1
hudi 0.4.7

## Build Success
[code]

I write spark app want to write data to a table then sync to hive.
## My code:

[code]
## table schema
[code]
## submit command
[code]

I include `hoodie-hadoop-mr-0.4.7.jar`,`hoodie-spark-0.4.7.jar`,`hoodie-hive-0.4.7.jar`,`hoodie-common-0.4.7.jar`,`hoodie-hive-bundle-0.4.7.jar`,`hoodie-hadoop-m

[2019-08-08 18:23] n3nash commented on #827
@imperio-wxm Are you using hoodie-spark-bundle to execute this job ?

[2019-08-09 02:18] imperio-wxm commented on #827
@n3nash

Hi, i didn't using hoodie-spark-bundle, i use my own spark2-shell to sumbit job on yarn.

And I try to copy `hoodie-hadoop-mr-0.4.7.jar`,`hoodie-common-0.4.7.jar` to $HIVE_HOME/lib, it works.
However I should restart whole hive cluster.

[2019-08-09 03:32] imperio-wxm opened #828 "Synchronizing to hive partition is incorrect"
spark 2.4.0.cloudera1
hadoop 2.6.0-cdh5.11.1
hive 1.1.0-cdh5.11.1
hudi 0.4.7

# My Code

[code]

**The job success however I found some problems with the hive partition in new table.**

## 1. The partition path is incorrect.

If the data migration is through hive syntax `as select`, then the partition should be like this:

[code]
The path I am running with the code above is：/wxm/hudi/data/hoodie_t

[2019-08-09 03:34] zhangxinjian123 opened #829 "Structured Streaming read kafka"
Errors caused by Structured Streaming  reading Kafka records and writing files are as follows::

Caused by: java.util.concurrent.ExecutionException: java.lang.IllegalArgumentException: hoodie-file:/D:/data/tmp5/2015/03/16/6783da8d-71d2-4963-875e-486add2cdeb1_0_20190809112149.parquet does not have a open stream. Cannot get the bytes written on the stream

[2019-08-09 03:48] vinothchandar commented on #828
Sorry. Have not had the chance to look at this closely :(. Will circle back tmrw.

[2019-08-09 06:35] n3nash commented on #827
Gotcha, glad to hear it works fine. It looks like these jars didn't get picked up in the classpath until you restarted..

[2019-08-09 06:37] n3nash commented on #828
@imperio-wxm if I'm reading correctly, the hudi sync was able to successfully register the table but the partitions are incorrect ?

[2019-08-09 06:39] n3nash commented on #829
@zhangxinjian123 is this error in the second batch ingestion for structured streaming ? looks like the stream is getting closed..Can you provide :
1) the full stack trace
2) details on how you are running the job
3) hoodie version you are using

[2019-08-09 06:52] zhangxinjian123 commented on #829
I used version gudi0.45. I upgraded spark to version 2.4.3 and wrote files using foreachBatch.

[2019-08-09 07:45] zhangxinjian123 commented on #829
Why the latest version does not have the HoodieCompactionOperation file？

[2019-08-09 15:46] vinothchandar commented on #829
@zhangxinjian123 are you running with num_cores > 1 . If so, suggest upgrading to 0.4.6 or later. This exception reminds me of that fix

[2019-08-09 15:49] vinothchandar commented on #828
This is a convention and not necessary per se for external tables..

Can you paste the logs you get for the Hive sync portion? In general, we expect `	.option(DataSourceWriteOptions.PARTITIONPATH_FIELD_OPT_KEY(), "part_date")` to have values of the form `yyyy/mm/dd` .. Do you have them as `yyyy-mm-dd` ?

[2019-08-09 18:05] n3nash commented on #829
@vinothchandar +1, that's exactly the problem here. Please upgrade to 0.4.6+

[2019-08-09 23:22] garyli1019 commented on #800
Few things I did to improve performance:
- changed max parquet size from 256MB to 128MB cuts the shuffle read size to half, which improve the performance without increasing the executor memory
- increase the single executor memory improve the performance as well
- avoid merging too many historical data
I am not able to get heapdump at this moment due to the cluster access issue, but I will try to

[2019-08-09 23:22] #800 closed

[2019-08-12 00:17] vinothchandar commented on #588
@shinray could you give master branch a shot if you have a reproducible case? #700 should be fixing this?

[2019-08-12 00:18] vinothchandar commented on #800
@garyli1019 thanks for the update!

[2019-08-12 00:21] vinothchandar commented on #817
Not sure if this was intended.. Does excluding the `scala-lang` from the bundle also solve this issue?

#751 is precisely the start of that effort.. I really need a hand with that :) . Interested in helping out?  there is a bunch of low hanging fruit

[2019-08-12 02:37] imperio-wxm commented on #828
@vinothchandar @n3nash

Default partition value is yyyy/mm/dd and  I rewrote the partitioning method change to yyyy-mm-dd

[code]

**Have an important question:
When I run the job for the first time, no partition is added to generate the file. When I run the second time, the partition will be added automatically, but the first data will not be loaded. I want to konw why?**

[2019-08-12 02:38] imperio-wxm commented on #827
@n3nash

I didn't know why `spark2-submit --jars basePath/hoodie-hadoop-mr-0.4.7.jar` not works.

[2019-08-13 02:07] zhangxinjian123 commented on #829
For example, the DataFrame I started writing saved to the path is three fields, the second two fields are normal, the third writing is four fields and the error is reported

The error information is as follows：
Caused by: com.uber.hoodie.exception.HoodieException: java.util.concurrent.ExecutionException: java.lang.ArrayIndexOutOfBoundsException: 10
	at com.uber.hoodie.common.util.queue.BoundedInMe

[2019-08-13 19:07] pratyakshsharma commented on #143
Hi @vinothchandar please add pratyaksh13@gmail.com to slack group. I have already subscribed to the mailing list.

[2019-08-14 00:38] vinothchandar commented on #829
@zhangxinjian123 is it possible to provide a csv file or json file from which we can recreate `batchDF` and run locally? It seems like some input error that Hudi is not properly reporting..

[2019-08-14 00:40] vinothchandar commented on #764
@jackwang2 biggest issue here is that we could not reproduce the error ourselves.. are you able to provide some reproducible case? is it easy to repro?

[2019-08-14 00:46] Panxing4game commented on #143
Hi @vinothchandar  , could you add me to the slack group? My email is panxscu@163.com

[2019-08-14 03:19] zhangxinjian123 commented on #829
first json:
{"database":"zhang","table":"hao","type":"insert","ts":1555984612,"xid":90202,"commit":true,"data":{"id":7,"Name":"zhang"}}

I get 7 and Zhang as values by parsing JSON to get ID and name as schemas, respectively. This is writable

second json:
{"database":"zhang","table":"haow","type":"insert","ts":1555984612,"xid":90202,"commit":true,"data":{"id":6,"Name":"zhang","Age":13,"code":19}}

[2019-08-14 07:53] NetsanetGeb commented on #714
@vinothchandar  Thanks so much for your help.  I was specifying the parallelism in two areas which in-turn was taking the parallelism with small amount which lead to this slow performance. Now, its fixed and working efficiently.

[2019-08-14 07:53] #714 closed

[2019-08-14 18:56] anchalkataria commented on #542
Hi ,
Just try changing the value of WRITE_OLD_LIST_STRUCTURE_DEFAULT parameter from true to false in AvroWriteSupport class.
static final boolean WRITE_OLD_LIST_STRUCTURE_DEFAULT = false;
It will allow array with null values.

[2019-08-14 18:59] anchalkataria opened #835 "Facing issue - Unable to find previous checkpoint. Please double check if this table was indeed built via delta streamer"
Hi ,
I have migrated my existing dataset to hoodie dataset and then i am trying to run deltastreamer on the same dataset for further updates on it but it is not allowing me to so and throwing below error -

Exception in thread "main" java.util.concurrent.ExecutionException: com.uber.hoodie.exception.HoodieException: Unable to find previous checkpoint. Please double check if this table was indeed b

[2019-08-15 11:57] vinothchandar commented on #835
https://github.com/apache/incubator-hudi/pull/806 tries to fix this.. But has been inactive for a while.. Are you able to try it out?  and if it works may be send a PR :) ?

[2019-08-15 12:01] vinothchandar commented on #829
@zhangxinjian123 this stack trace is clearer. You schema should also have the new fields and also follow general rules of avro backwards compatibility.. for eg: https://docs.confluent.io/current/schema-registry/avro.html

[2019-08-15 12:03] vinothchandar commented on #542
@anchalkataria interesting.. there also seems to be a flag to flip it? https://github.com/apache/parquet-mr/blob/master/parquet-avro/src/main/java/org/apache/parquet/avro/AvroWriteSupport.java#L60

[2019-08-15 13:00] vinothchandar commented on #828
are you seeing that the commit was successful and hive sync was successful and there were no partitions added in Hive? if so, thats not normal behavior.. Please clarify ..

[2019-08-16 10:02] hustnn opened #836 "Query hang for Presto running on JDK 11"
Is it possible to use Hudi for Presto running on JDK 11 ?

Can give some advise on how to make it work ? What should I start with?

[2019-08-16 15:42] vinothchandar commented on #836
@hustnn seen few other issues reported with JDK11. But not a hang..

adding @bhasudha , who owns the presto component

[2019-08-16 19:43] anchalkataria commented on #835
Sure i will try the fix and also could you please let me know how i can change the partition value in s3 path while inserting/updating data through deltastreamer tool.
Actually the path goes like this s3://<basepath>/<partition-value>/files.parquet
I want the path to be s3://<basepath>/partition-field=<partition-value>/files.parquet

[2019-08-16 23:57] hustnn commented on #836
@vinothchandar Do you have the link for those issues? Thanks.

[2019-08-17 11:45] bhasudha commented on #836
@hustnn Were you able to confirm same Presto query works in other JDK versions ?

[2019-08-18 00:05] hustnn commented on #836
@bhasudha

Yes, it can run on jdk 8 and only stack at coordinator, if I change jvm version of coordinator to 8 and keep 11 for worker, it still can run.

[2019-08-18 09:59] hustnn commented on #836
@bhasudha

 I can help to look at the issue.  Do you have some ideas on the possible reasons?

[2019-08-19 03:22] hustnn commented on #836
@vinothchandar @bhasudha

I found the root cause.

2019-08-19T11:19:25.532+0800    WARN    hive-hive-101   io.prestosql.plugin.hive.util.ResumableTasks    ResumableTask completed exceptionally
java.lang.NoClassDefFoundError: Could not initialize class com.uber.hoodie.common.table.timeline.HoodieActiveTimeline
        at com.uber.hoodie.common.table.HoodieTableMetaClient.getActiveTimeline(HoodieTab

[2019-08-19 03:59] anchalkataria commented on #835
@vinothchandar Hey could you please help me out with the paths i have mentioned in above comment, its little urgent.

[2019-08-19 04:50] tooptoop4 commented on #143
can https://apache-hudi.slack.com/join/signup be opened to all hotmail?

[2019-08-19 05:03] tooptoop4 opened #839 "hive - select Count(*) is higher than number of rows returned from select *"
issue described on https://groups.google.com/forum/#!topic/hoodie-users/4dgwvQPEtNA

I have created a test set and ran multiple updates over the same dataset to check if the results are returning fine. When we do a select  from the hoodie table, it gives the exact snapshot after the incrmental UPSERT. But when we do aggregation on top of the table, I see that aggregation provides the result of all

[2019-08-19 05:08] tooptoop4 opened #840 "presto/hive (s3) - select * is empty! but select count(*) returns correct data. however spark is perfect"
the same select * query:
- in hive & presto returns nothing
- in spark returns correct data

the same select count(*) query:
- in hive & presto correct data
- in spark returns correct data

i notice this only affects some partitions. data is on s3, the affected broken partitions have more parquet files than the working partitions

[2019-08-19 08:09] hustnn commented on #836
The same for master branch. The same query can run on jvm 8 but can not for 11.

[code]

[2019-08-19 10:59] hustnn commented on #836
@vinothchandar @bhasudha

Seems the behavior of `ReflectionUtils.getTopLevelClassesInClasspath` has changed from 8 to 11

[2019-08-19 11:59] vinothchandar commented on #836
@hustnn That report was on slack. Unable to track it down now.. But dont think it was related to this..
@bhasudha if we can reproduce this on the presto docker you are building, that'd be great.

[2019-08-19 12:13] vinothchandar commented on #835
@anchalkataria changing the physical path like that is pretty involved and something we can't do today. May be we can start from what you are trying to do and see if there are other ways of achieving this?

[2019-08-19 12:19] vinothchandar commented on #143
@tooptoop4 we can definitely whitelist company email domains as such.. opening up to any gmail/hotmail users means, the bots can also get it very quickly? :)

[2019-08-19 12:28] vinothchandar commented on #839
this patch is still not there, I believe.. we have been recommending running without auto gather stats.

https://hudi.apache.org/docker_demo.html#step-6a-run-hive-queries

@bvaradar thoughts?

[2019-08-19 12:33] vinothchandar commented on #840
are you able to reproduce this on the docker setup?  that'd be awesome for us to take a look.

[2019-08-19 12:33] vinothchandar commented on #840
@bhasudha can you take a look from presto perspectie?

[2019-08-19 23:32] sudipcha commented on #143
Hi @vinothchandar - please add sudipcha@yahoo.com to the slack group.

[2019-08-20 02:35] hustnn commented on #836
@bhasudha @vinothchandar

I am using open jdk 11.0.2 (build 11.0.2+9) on Linux.  FYI if you want to reproduce.

[2019-08-20 02:44] amaranathv commented on #789
I got this issue when I use same adhoc 1 or 2 terminal to run the steps instead of exiting the current terminal and use one after each main steps per instruction.

May be some environmental variables override issue but not sure.
Please try to execute all the steps in single adhoc 1 or 2 terminal without exiting to reproduce the issue.

[2019-08-20 10:22] tooptoop4 opened #844 "Hudi on s3 - java.io.FileNotFoundException: No such file or directory: s3a://"
Using hoodie.version=0.4.6-SNAPSHOT, spark.version=2.3.2

[code]

[2019-08-20 18:37] bhasudha commented on #836
@hustnn Let me try to reproduce this. Will update soon.

[2019-08-20 20:36] tooptoop4 opened #845 "how to store null value in columns?"
If data has a null value, hudi is unable to write it and giving this error. how to store null?
[code]

error here -->
https://github.com/apache/incubator-hudi/blob/master/hudi-spark/src/main/java/org/apache/hudi/DataSourceUtils.java#L87

[2019-08-21 03:35] hustnn commented on #836
@bhasudha  Thanks.

[2019-08-21 12:47] vinothchandar commented on #845
Are you using this field as a partitionPath and recordKey? typically Hudi expects them to be non-null . That's probably why (although we could improve the error message for sure)

[2019-08-21 12:54] vinothchandar commented on #844
seems like the query cannot find a file. Without much insights into the state of the table, there could be few scenarios
- too aggressive cleaning (you can check if the commit time `20190819205739` is recent or towards the earliest in `.hoodie` or using CLI)
- some process outside hudi, actually removing the file

[2019-08-21 16:29] arw357 commented on #547
What is the status on this - meaning - what is required so that it is fixed  ?   Maybe I'll have a crack at it.

[2019-08-21 16:52] tooptoop4 commented on #844
commit time is recent, how to make cleaning less aggressive?

[2019-08-22 03:54] vinothchandar commented on #844
If its recent or the most recent, then it should not be cleaned at all with the default settings (retains data for upto 10 commits).  If you are just testing, can you switch to master and try reproducing this again?

[2019-08-22 04:33] vinothchandar commented on #840
@tooptoop4 The symptoms you noted are not connecting well. i.e cannot understand why number of files or specific partitions be affected.. Is there anything else differnt about these partitions?

And is it intermittent ? Have you turned on consistency guard since you are writing to s3? https://hudi.apache.org/configurations.html#withConsistencyCheckEnabled

[2019-08-22 04:34] vinothchandar commented on #839
HUDI-29 tracks this. lets follow up there. closing this issue here

[2019-08-22 04:34] #839 closed

[2019-08-22 04:38] vinothchandar commented on #836
@hustnn Also sometimes class def not found happens if there are duplicate jars i.e multiple hoodie bundles .. the class loading could be different between jvms? Nothing else rings a bell..

I think @bhasudha was unable to reproduce this?

[2019-08-22 04:40] vinothchandar commented on #835
Closing this. Please reopen a JIRA or another thread to pursue the partitioning config.. https://lists.apache.org/thread.html/2077029c2422048aab2268fe34914edbf706631ead7b3664b4cfa5f5@<dev.hudi.apache.org> shared a similar solution to this

[2019-08-22 04:40] #835 closed

[2019-08-22 04:40] #827 closed

[2019-08-22 04:41] vinothchandar commented on #828
@imperio-wxm wondering if you had a chance to check it out.

[2019-08-22 04:41] n3nash commented on #829
@zhangxinjian123 When you evolve your schema, it has to be avro backwards compatible. If you change schemas not following those rules, the parquet-avro reader cannot read existing data and will throw exceptions like ArrayIndexOutOfBounds.

[2019-08-22 04:41] #829 closed

[2019-08-22 04:42] n3nash commented on #812
@arw357 are you still seeing this issue ?

[2019-08-22 06:31] firecast commented on #143
Hi @vinothchandar - please add amit@atlan.com to the slack group

[2019-08-22 07:14] tooptoop4 commented on #840
in what version of hudi was consistency guard added ?

[2019-08-22 07:56] hustnn commented on #836
@vinothchandar I checked only one hoodie jar is under `presto/plugin/hive-hadoop2/`.

Do you mean @bhasudha can run it normally on jvm 11?

[2019-08-22 12:33] tooptoop4 commented on #844
file does not exist on s3

[2019-08-22 13:13] tooptoop4 commented on #845
it is the first field in the dataframe

[2019-08-22 13:13] tooptoop4 commented on #845
i think it also happens if there is a letter in a long/double datatype

[2019-08-22 19:19] vinothchandar commented on #845
so IIUC you think the field is there in all records but we cant still find it? Can you trim your example and give me a code snippet to reproducs this? For eg dump dataframe to csv and share code showing how you are reading it for hudi writing?

[2019-08-22 19:22] vinothchandar commented on #844
File format def looks like something generated by hudi. This cannot happen in general, unless you are reading files without using hudi’s read path.

Again, with these things reproducing the issue is the key. Can you comment on reproducibility.. does it happen on master as well

[2019-08-22 19:24] vinothchandar commented on #840
Dont recall.. it was few versions ago. But master and 0.4.7 contains significant fixes to handle spark stage retry failure issues in the backdrop of s3

[2019-08-22 19:25] vinothchandar commented on #840
Looks like you have a few issues. We can 1-1 on slack if that helps unblocking you with more context

[2019-08-22 19:30] vinothchandar commented on #547
Consensus was that upgrading to spark 2.4 is a good step since it bundles spark-avro with it and also has few fixes around this.

There is a jira for this already. If you can drive this forward, thatd be awesome. I am parallely working on simplifying the pom for moving to spark 2.4 ...

Even if you can clearly summarize problem with a reproducible test file/data, thatd be awesome

[2019-08-24 14:23] vinothchandar commented on #836
@hustnn think so. I also reached out to the user on slack and did not hear similar. we will keep digging.

Btw we just merged support for presto in the docker testing setup. I believe that’s where @bhasudha tried it out?

[2019-08-24 22:29] bhasudha commented on #836
Hi @hustnn sorry for the delayed response. Yes, I tried it out in the docker setup. I couldnt reproduce it. I was also getting other environment issues which I was trying to get past. Can you try the docker setup and see ?

Btw, which version of Presto are you using?

[2019-08-26 10:08] arw357 commented on #812
Yes - nothing changed - I will check again after next release of hoodie and get back to you.

[2019-08-27 09:51] hustnn commented on #836
@bhasudha  I am using Presto 310. What version are you using for the test.

Ok, I can try the docker setup, is it in Hudi repo?

[2019-08-28 09:18] tooptoop4 opened #857 "http://hudi.apache.org/comparison.html# should mention Iceberg and DeltaLake"
http://hudi.apache.org/comparison.html# should mention Iceberg and DeltaLake

[2019-08-28 17:44] smdahmed opened #859 "Hudi upsert after a delete in partition will cause valid records inserted to disappear."
How to replicate this issue:

1. Insert data into certain partition (eg: p1) -> (1, kabeer | 2, vinoth)
2. Delete record (1, kabeer)
3. Upsert a new record: (3, balaji)

The data visible in the table is: (3, balaji) whilst the expectation would be that: (2, vinoth) | (3, balaji) would be visible.

From the .hoodie files, what seems to happen is that things seem to work fine till step 2. That is af

[2019-08-28 20:24] DavisBroda opened #860 "Unit tests fail when run on IBM SDK"
When running tests on hudi-incubator using the IBM SDK as a JVM, there are several failures, which do not occur when running with openjdk.

IBM SDK info
JAVA_VERSION="1.8.0_201"
OS_NAME="Linux"
OS_VERSION="2.6"
OS_ARCH="i586"
SOURCE=""

IBM sdk can be found [here](https://developer.ibm.com/javasdk/downloads/sdk8/)
I tested this with the Linux on Intel version.

Errors noticed:

In hudi-common

Hoo

[2019-08-29 04:23] vinothchandar commented on #859
I will try to reproduce this and report back.

[2019-08-29 16:57] vinothchandar commented on #860
`Caused by: java.lang.UnsupportedOperationException: ObjectSizeCalculator only supported on HotSpot VM` - This seems like a legit issue..

@DavisBroda do you know of other alternatives to this class that work universally or on IBM jdk. This one is effectively  https://github.com/twitter/commons/blob/master/src/java/com/twitter/common/objectsize/ObjectSizeCalculator

[2019-08-29 17:26] DavisBroda commented on #860
@vinothchandar link you provided does not work on click. here's a [working one](https://github.com/twitter/commons/blob/master/src/java/com/twitter/common/objectsize/ObjectSizeCalculator.java).

As to alternatives, I do not know of any at the moment.

[2019-08-29 18:37] vinothchandar commented on #860
ah. missed .java I guess. my bad...

Is it possible for you to switch to other jvms? trying to understand what you are trying to achieve.

[2019-08-29 18:48] DavisBroda commented on #860
Switching to another JVM is not possible. The environment in which I have to run the code cannot be changed.

[2019-08-29 19:08] DavisBroda commented on #860
To give more context, hudi is being used as one component of a larger codebase that is intended to run on multiple environments, one of which uses the IBM SDK as a JVM. After hudi was included in the codebase, behaviour became inconsistent between environments using OpenJDK and IBM SDK, which was eventually traced to inconsistent hudi behaviour between environments. While investigating this, the h

[2019-08-30 00:58] tribbloid commented on #860
Also affects me

@vinothchandar thanks a lot for the hint! You are right it is indeed caused by ObjectSizeCalculator. After I swap it out with the following dummy code:

[code]

All test failure disappeared. (I'm also testing on IBM JVM but am planning to switch to GraalVM shortly)

I'm wondering if we can improve this twitter class such that it degrades smoothly to something a bit slower?

e.g. J

[2019-08-30 02:43] leesf commented on #857
+1 for the mention since Iceberg and DeltaLake are similar to Hudi.

[2019-08-30 16:22] vinothchandar commented on #860
@tribbloid @DavisBroda Sounds good. Filed a JIRA https://issues.apache.org/jira/browse/HUDI-234 to track this. lets move the conversation there?

atm most of us are busy with prepping the first release. do any of you have cycles to implement the graceful degradation? if not, will get to it in a week or two.. THanks for the report!

[2019-08-30 16:22] #860 closed

[2019-08-30 20:11] umehrot2 opened #869 "Hudi Spark error when spark bundle jar is added to spark's classpath"
We run into runtime error while packaging Hudi to work on AWS EMR. The issue is reproducible on latest Spark 2.4.3, as well on previous versions like 2.3.0, 2.2.0 and 2.1.0.

## Reproduction Steps

These are the steps we followed on AWS EMR, that can help reproduce the issue:
- Launch an AWS EMR 5.26.0 cluster
- SSH into the cluster, and drop `hudi-spark-bundle` and `databricks-avro` jars under `/

[2019-08-30 21:26] leesf commented on #661
Not using it in prod yet, but very early stages of investigating its usage.

[2019-08-31 03:18] vinothchandar commented on #859
[code]

produces

[code]

[2019-08-31 03:20] vinothchandar commented on #859
I think to works fine.. Are you accidentally issuing step 3 with `.mode(SaveMode.Overwrite)`? That can explain how all the data before the step 3 vanishes..

[2019-08-31 11:01] smdahmed commented on #859
Vinoth, Thanks for all the work and help. I have a common routine through which I handle inserts and upserts. Upserts after insert work fine. I will recheck and revert back to you

[2019-08-31 11:30] vinothchandar commented on #869
@umehrot2 noted. I am still working on the bundles.. Once I get to spark-bundle, I will look into this as well. Little suprised how it repros on all versions specially in EMR. Does it happen on Apache Spark standalone? Anyways, for now, can you try excluding `org.scala-lang:scala-library` and see if that helps.

[2019-09-01 09:25] pratyakshsharma commented on #661
Trying to build CDC pipeline for capturing sql changes and prepare data for analytics use cases. Not in production yet, right now trying to modify it as per the use case and organisation specific challenges. We are using Hudi 0.4.7 with spark 2.3.2, Hadoop 3.1.0, hive 3.1.0 and spark-streaming-kafka-0-10_2.11 library.

[2019-09-02 12:42] smdahmed commented on #859
Thanks again Vinoth. I think I know the reason why you are not seeing the issue. If you could kindly include partition in your setup, you should see the issue too. As I suggested in the initial report, this issue is only reproduced if there is a partitioned hive table involved.

Steps: (Let the schema be: id, name, team)

1. Insert data into certain partition (eg: p1) -> (1, kabeer, hudi | 2, vino

[2019-09-02 23:26] vinothchandar commented on #869
@umehrot2 a much much thinned versions of the bundles are now in #873 . Could you give that a quick shot?

Is dropping jars into spark's own jars folder the recommended way of installing datasources? On the flip side, what are the downsides to configuring `spark.jars` for the EMR spark installation? That seems like a cleaner approach. Is the problem that when user jobs do `--jars` this setting get

[2019-09-03 06:00] vinothchandar commented on #859
Thanks for the detailed explanation. I made the simple change to include a `team` field and used it as the partitioning field (entire code attached below). I can actually see both the records!

[code]

the commit times we see also makes sense..  vinoth has the first commit time and balaji the last one.

Can you try rerunning the program below, and paste me the output w/ the logs? also if you can p

[2019-09-03 14:47] smdahmed commented on #859
Grateful for all your help Vinoth. I shall prepare the set up and run the program you have provided in my setup. And let you know the results as requested.

There is a difference in the code between your approach and mine. My code snippet is below. The code in the below routine is common for all upsert cases i.e. upsert after an insert and upsert after delete. But I see that upsert after delete se

[2019-09-04 00:10] vinothchandar commented on #859
It may not be that straight forward since I am using the DataSet/DataFrame abstraction, while this code seems to be working with RDDs.

Any reason why you are replicating this code yourself? In any case, if you can provide a complete example, I am happy to run it and see whats going on..

[2019-09-04 09:39] wannaberich opened #877 "java.lang.NoSuchMethodError: io.netty.buffer.PooledByteBufAllocator.metric()Lio/netty/buffer/PooledByteBufAllocatorMetric;"
Hello everyone.
I'm trying to integrate apache hudi in our HDP 3.1.
What I did:
1) Downloaded **Release 0.4.7** zip
2) Run **mvn clean install -DskipTests -DskipITs**
3) Move all bundle jars from **incubator-hudi-hoodie-0.4.7/packaging** folder to my spark2-client/jars (spark, hive, hadoop-mr)
4) Setup my zeppelin, added new interpreter and added spark.jars with directories to all these bundles.
5

[2019-09-04 12:37] wannaberich commented on #877
Right now I tried to start 0.5.0 version and when I run job I got this exception:

[code]

[2019-09-04 15:59] smdahmed commented on #859
Vinoth,

It is baffling to me how the code below works but my set up doesnt work as it is complete copy of the same. I will revisit the code line by line comparing it with my setup and hopefully will find the bug soon. My sincere apologies for wasting your time and remain grateful for all your support. I owe you.

The code is at: https://gist.github.com/smdahmed/736189d0927827b96604c93b1f3c0761

T

[2019-09-04 15:59] #859 closed

[2019-09-04 16:02] vinothchandar commented on #859
@smdahmed No need to apologize. My 2c, print out the save mode explicitly and see if something weird is going on. I myself accidentally passed in "overwrite" for the upsert operation by mistake and all the data was gone.. also listing out .hoodie after each step in your pipeline will quickly confirm..

[2019-09-04 16:05] vinothchandar commented on #877
Seems like a jetty jar mismatch.. and xerces jar not found.. FYI #873 has redone the bundles , esp spark to be much much light weight.. Would love it you took it for a spin and shared feedback.

Second one seems like , its not related to Hudi ? Its just failing to create spark session?

[2019-09-04 18:37] wannaberich commented on #877
@vinothchandar I'm sorry but I would like to know how to integrate apache hudi into our HDP properly and honestly it seems I misunderstood something.

Above I described the steps and I'm not sure that it's good way to integrate or maybe I'm wrong?

The second exception is thrown when I put bundle from you master (0.5.0 version) into spark jars directory.

Could you please describe here the steps t

[2019-09-05 09:39] firecast opened #879 "Hive Sync Error when creating a table with partition"
I have a bunch of data that I am writing to s3 and doing a Hive sync during the write process. The write to S3 is successful but the Hive sync is failing.

Hudi version - `0.5.0-SNAPSHOT` from the master branch
Hive version - `Hive 2.3.2-amzn-2`
Spark version - `2.4.3`

**Sample Data Frame**
[code]

**Spark Scala Code**
[code]

**Error**
[code]

As far as I understand, Hive does not allow you to a

[2019-09-05 15:47] wannaberich commented on #877
I decided to integrate somehow apache uber master branch (0.5.0-SNAPSHOT). As I wrote that bundles throw some exceptions when it's in %SPARK_HOME/jars folder that's why I packaged every module independently and put all modules jar into %SPARK_HOME/jars.

What I see and it works somehow (at least it run and I don't see exceptions with imports and etc...) I'm trying integrate Apache Hudi to HDP 3.1

[2019-09-05 16:40] vinothchandar commented on #877
@wannaberich the integration is documented here http://hudi.apache.org/querying_data.html
I dont have experience with HDP myself. But for Zeppelin itself, I have made it work by including the spark bundle on the `spark.jars` property of the spark interpreter.

Orthogonally, what I was saying is, you can try building teh bundles off this PR #873 and it should be way painless.. Some of the jar issue

[2019-09-05 16:41] vinothchandar commented on #735
#873  is up, if you are still pursuing.. Please reopen if so

[2019-09-05 16:41] #735 closed

[2019-09-05 16:50] wannaberich commented on #877
@vinothchandar Tomorrow I'll try to run Apache Hudi on HDP 2.6 (HDFS 2.7, hive 2.*). I'll give
 feedback about it. Does #873 include in master branch? Because I'm using the master branch.

Could you please tell does apache hudi support ORC format now or not? Because I see there are some issues but I couldn't find a final answer. Thanks a lot! All data in our datalake is ORC format.

[2019-09-05 17:17] vinothchandar commented on #877
No its not on master. ` pom-bundle-cleanup` branch has it. you can build off that and give it a shot!

ORC yes, someone started working on it and it been stalled for a while now. Its definitely doable. Can work with you late sep to revive it.. For now, hands are tied with making the first official release and fixing these jar issues.. as you can see, with these non-compatible hadoop, spark, avro j

[2019-09-05 18:08] vinothchandar commented on #877
as of now, it does not support ORC>

[2019-09-05 18:15] wannaberich commented on #877
@vinothchandar Thanks a lot for your replies!

[2019-09-05 18:21] wannaberich commented on #877
@vinothchandar Our goal is to cover GDPR issues, apache uber, of course, is suitable for these issues. The only issue we may have that it doesn't support ORC format but we hope that this issue will be fixed.

[2019-09-06 02:29] tribbloid opened #881 "Cross compilation for scala 2.12.x ?"
Scala 2.12.x has much better runtime optimisation & support for Java 8 features, it will become the default maintenance release in a few months.

Cross compilation for scala 2.12 has been introduced since 2.4.0, it briefly became the preferred compilation profile in 2.4.2, not long before it was reverted in 2.4.3.

We anticipate it to become mainstream soon. Is there any difficulty in doing it imm

[2019-09-06 04:16] bvaradar commented on #881
@tribbloid : As part of first Apache release, I will try to create separate  hudi releases for scala 2.12.x

[2019-09-08 09:32] smdahmed commented on #859
Just to bring a closure to the cause of the bug, the sequence of events in the code that led to the bug were as below:

1. Insert and Upsert write the data with table column set.
2. Delete operation did need to generate temporary composite key to delete valid records but made an error of writing the additional column into the parquet.
3. Querying after delete did show valid records.
4. Insert or U

[2019-09-08 23:59] vinothchandar commented on #859
Ah I also made a similar mistake when running my toy example :) . All good. thanks for the update!

[2019-09-09 00:01] vinothchandar commented on #879
Hmmm. Apologies for teh delay here.. Missed this in my notification stream somehow..

is it because the partition column is named `date`, which is a Hive keyword? Mind changing that and giving it a shot, just to humor me? :)

[2019-09-09 00:03] vinothchandar commented on #881
This is legit feedback.. @tribbloid  do you want to actually give it a shot.. just the hudi-spark package needs to change I think"? also lets make a JIRA for this and move teh conversation there//

[2019-09-09 00:05] vinothchandar commented on #877
yes. we can definitely revive this. Do you want to start a thread on the mailing list and see how much interest there is ?

[2019-09-09 00:22] tribbloid commented on #881
no problem, glad to be in teh conversation :)

My colleague Davis is already anticipating some dependency conflicts in spark-avro (& maybe a few others). Let's see if we can make a fast circumvention

[2019-09-09 06:30] firecast commented on #879
Actually I was `__xx_date__` as the column name. Just wanted to make it readable in the issue, so did a find and replace but forgot that the replaced text `date` might be a keyword :sweat_smile: . But that doesn't seem to be the issue.

[2019-09-09 08:51] simonqin opened #883 "can we set table.consume.mode equal incremental or latest with presto session？"
can we set table.consume.mode equal incremental or latest with presto session？

[2019-09-09 14:43] 2page commented on #143
Hi @vinothchandar please add krat00246@gmail.com to the slack group

[2019-09-09 15:16] DavisBroda commented on #881
The actual dependency issue is in kafka. Kafka 0.8 does not have a scala 2.12 version, so this require updating to Kafka 0.10 or higher. However the spark streaming kafka classes have changed enough that it is non-trivial to update. In particular the `org.apache.spark.streaming.kafka.KafkaCluster` class used in KafkaOffsetGen no longer exists, and does not have a clear replacement in kafka 0.10, w

[2019-09-09 15:26] DavisBroda commented on #881
Apparently the Jira ticket has already been created.

https://issues.apache.org/jira/browse/HUDI-238?orderby=created+DESC%2C+priority+DESC%2C+updated+DESC

[2019-09-10 08:51] cdmikechen commented on #869
It always happens when sparksession is started in a JVM environment and tasks are submitted to spark. I have encountered this problem many times when I start a springboot project and use a sparksession to run some codes with udf function.
In my opinion, this problem may be a bug for serialization and deserialization between Java and Scala.
If we use `spark-submit` or `spark-shell` or local submit

[2019-09-10 09:24] cdmikechen commented on #869
look some comment in `org.apache.spark.serializer.JavaSerializer` or `org.apache.spark.serializer.Serializer` with `@DeveloperApi`.
[code]

[2019-09-10 10:48] Gowthamsb12 commented on #845
I faced the same issue due to "double and null" values in my Hoodie partition column.
Fix:
For example :
1.joinedDF.col("START_EPOCH_TIME").cast("int")  // Double to Integer
2.Dataset<Row> filteredData = joinedDF.na().fill(0);  // Replace null with 0

[2019-09-10 13:32] vinothchandar commented on #883
It could work since it calls the input format anyway ultimately. But dont know of anyone whos tried it. Most people use Spark or Hive for ETLs and Presto for snapshot queries.. Mind sharing your use-case?

[2019-09-10 13:34] vinothchandar commented on #881
yes. lets continue on the jira.!

[2019-09-10 13:34] #881 closed

[2019-09-10 16:57] vinothchandar commented on #879
I am bit confused.. Can you paste /update the full stacktrace without replacing text? I dont think the sql is adding partitions, its jsut creating a table.

You can also copy the sql and try issuing on beeline directly and see why it fails.

[2019-09-10 18:13] tooptoop4 commented on #845
@Gowthamsb12 i want to be able to have nulls in rows to signify no data as this has different meaning to rows with 0. ie source file may have empty or 0 but now no way to tell if the final output stores both as 0

[2019-09-10 19:02] rod-eligible commented on #143
Can I be added to the slack group: rorra@rorra.com.ar
Thank you

[2019-09-10 19:03] rorra commented on #143
Can I be added to the slack group? rorra@rorra.com.ar
Thank you

[2019-09-10 21:41] ggeligible commented on #143
Hello @vinothchandar, Could you please add gg@eligible.com to the slack group as well. Thank you.

[2019-09-10 22:03] ankitdimania-eligible commented on #143
Hi @vinothchandar, can you please add ankitdimania@eligible.com to the slack group.

thank you

[2019-09-10 22:09] ggeligible commented on #143
Hello @vinothchandar , Could you please add katelyn@eligible.com as well.

It would be really helpful if you could whitelist eligible.com. I promise that we won't spam via any bot :)

[2019-09-11 02:14] simonqin commented on #883
Thanks for your  reply, I just wanna use a same pipeline for  incremental or batch ETLs , the hive not allowed to be modified the config at the runtime,  and the hive policy can't allowed to be modified. For the moment, I have no easy answers to the problem, just want it set up, out-of-the-box.

[2019-09-11 05:43] wannaberich commented on #869
@cdmikechen I just tried to run some jobs and got the same exceptions. Then I moved bundles from %SPARK_HOME/jars to another place and it worked perfectly!

[2019-09-11 09:51] firecast commented on #879
It looks like the issue is with the partition name `__xxx_date`. When I tried the SQL hoodie was doing it gave the following error in Hive
`FAILED: ParseException line 1:503 cannot recognize input near '__xx_date__' 'string' ')' in column specification`

So I escaped the partition column manually in the SQL and it worked.
[code]

It looks like HUDI does not escape the column name in the partition

[2019-09-11 22:43] vinothchandar commented on #879
doh. Thanks for chasing this down @firecast . Opened HUDI-244 to fix this. I think the other fields are escaped correctly.

[2019-09-11 22:43] #879 closed

[2019-09-11 22:55] vinothchandar commented on #143
Fair enough.. Just did that. anyone from `eligible.com` is now eligible to auto signup :)

[2019-09-11 23:07] umehrot2 commented on #869
@vinothchandar The PR #873 did not fix this specific issue.

I do not really see like a recommended way of using a data source. But in EMR, if it is something we want to support by default we configure the driver/executor class-paths to have the libraries available at runtime by configuring them in `spark.driver.extraClassPath` and `spark.executor.extraClassPath`, and configuring hudi-spark-bundle

[2019-09-11 23:12] umehrot2 commented on #869
@cdmikechen you might be right. My hunch is that this line is the culprit:

https://github.com/apache/incubator-hudi/blob/master/hudi-spark/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala#L93

[2019-09-11 23:13] umehrot2 commented on #869
@wannaberich you mentioned that your moved bundles from `SPARK_HOME/jars`. But how are you configuring the bundle libraries ? Are you using `spark.jars` or `--jars` option ?

[2019-09-12 04:34] vinothchandar commented on #883
So I checked this out. Seems like we cannot set custom variables on Presto like we can do in Hive.
https://hudi.apache.org/docker_demo.html#step-7--incremental-query-for-copy-on-write-table

if we can find a workaround for this, we can make it work.. @bhasudha as well to share any tips

[2019-09-12 05:16] vinothchandar commented on #869
High level, I am still having trouble convincing myself this is the right way to integrate, since the datasources are meant to be loaded externally. @umehrot2  Would n't be straightforward to just document users to do --jars hudi-spark-bundle.jar if they want to use Hudi ?

Let me try to catch up here and respond.  may be there is a solution.

[2019-09-12 05:27] wannaberich commented on #869
@umehrot2 I put hudi-spark-bundle of pom-bundle-cleanup branch in **%SPARK_HOME/jars** and added configuration in Zeppelin spark interpreter **spark.jars** to the directory **%SPARK_HOME/jars** and I got exceptions. Then I moved bundle jars to another place and change spark.jars value (directory) to another place where my bundles are and it worked perfectly.

[2019-09-12 05:42] wannaberich commented on #877
@vinothchandar I'm sorry for the delayed response. I'm working on integration apache hudi into DataProc and GCS. As I see it works well with jars from pom-bundle-cleanup. Today I want to make a performance test to check at least reading and writing with hudi and try to compare with the performance of spark without hudi because in our case if we decide to use apache hudi we have to make refactoring

[2019-09-13 13:38] HariprasadAllaka1612 opened #888 "Exception in thread "main" com.uber.hoodie.exception.DatasetNotFoundException: Hoodie dataset not found in path"
I am new to Hoodie and i am trying to write a new dataset in Hoodie file format into s3.

I am trying to write a dataframe formed from JSON to Hoodie.
[code]

[2019-09-14 08:44] jaguarx opened #891 "Metrics only reported upon shutdown"
While testing the HoodieJavaApp from hudi-spark, I noticed the metrics will be reported only once, right before process shutdown.

Also, in hudi-client/src/main/java/org/apache/hudi/metrics/Metrics.java (line 48), the call to "start()" is commented out.
    // reporter.start();

Is this by design, or do I miss some thing?

Best!

[2019-09-16 06:35] firecast commented on #857
I have been experimenting with Delta Lake for quite some time now and chose HUDI over it just last month. Let me know if you guys need help in the comparison.

[2019-09-16 12:28] firecast opened #894 "Getting java.lang.NoSuchMethodError while doing Hive sync"
I started getting this issue after the POM cleanup merge. The data gets written to the path but the Hive sync fails. Using the Hudi-spark-bundle built using `mvn clean install -DskipTests -DskipITs` on the `release-0.5.0` branch

Hudi version - 0.5.0-incubating-rc1
Hive version - Hive 2.3.2-amzn-2
Spark version - 2.4.3

[code]

[code]

[2019-09-16 15:19] vinothchandar commented on #894
Seems like a jar mismatch isssue..

[code]

I will try repro this and try to get it working. Thanks for reporting this . We stopped bundling the standalone hive jars, which may have been providing this previously (guessing. will need to repro and understand)

[2019-09-16 15:52] vinothchandar commented on #891
@jaguarx Most of the metrics are off the commit metadata and we typically run Hudi writers in a batch job that starts and terminates. So, that probably why this is reported once in a job run.

That said, now that we have continuous mode in deltasync, we are better off atleast doing this matched with closing of the writeClient? @bvaradar for thoughts?  Do you see any cases for reporting metrics as-

[2019-09-16 16:02] vinothchandar commented on #888
I suspect this has something to do with the SaveMode being Append and Hudi not finding the dataset at that that path.

[code]

questions "
a) is there a dataset at that path already or is this the first write?
b)  can you change this to SaveMode.Overwrite if you doing the first write and report back? if this is the case, then we can do a small fix to make this nicer out-of-box.

[2019-09-16 16:07] vinothchandar commented on #869
I think this is consistent with the behavior @umehrot2 also saw.  Planning to look into this week.

[2019-09-16 16:28] vinothchandar commented on #774
Tracking this in HUDI-159

[2019-09-16 16:28] #774 closed

[2019-09-16 16:29] vinothchandar commented on #736
@cdmikechen any updates on this?

[2019-09-16 22:53] vinothchandar commented on #894
Hmmm. I tested with

Hive version - Hive 2.3.3
Spark version - 2.4.4

by simply using spark2.4.4 to do this step on the docker demo (had spark installation unzipped onto `docker` and did something like

[code]
seems to work..

So I suspect it has to do something with the amazon specific version? Can you try building a local docker image with that hive version locally and see if you can reproduce t

[2019-09-16 23:58] vinothchandar commented on #757
Closing due to inactivity

[2019-09-16 23:58] #757 closed

[2019-09-17 00:00] vinothchandar commented on #817
This should not happen anymore with the new bundling, since scala classes are nt there

[code]

[2019-09-17 00:00] #817 closed

[2019-09-17 00:17] vinothchandar commented on #869
Can we please move the discussion to https://issues.apache.org/jira/browse/HUDI-254, since this is a real issue that has outgrown the GH issue triaging..

[2019-09-17 00:17] #869 closed

[2019-09-17 00:28] vinothchandar commented on #869
Also I tried to reproduce this on the demo setup. (it'd be great if we can standardize on that since its more reproducible) and actually ran into a different problem during the writing.. If I do --jars, of course it all works.

[code]

[2019-09-17 03:31] cdmikechen commented on #736
@vinothchandar
Sorry, I may not have time to re-validate it recently. I will upgrade my Hudi to 0.5.0 next week and then test again.

[2019-09-17 03:39] vinothchandar commented on #736
No worries.

[2019-09-17 03:59] vinothchandar commented on #869
@umehrot2 https://issues.apache.org/jira/browse/HUDI-254 lets continue here. Please see if you can get the demo setup to work for these cases.. We can then work through the EMR environment if thats the difference.

[2019-09-17 05:57] HariprasadAllaka1612 commented on #888
Hi Vinoth,

Thanks for the reply.

a. This is the first time i am writing the data to that path
b. Tried with Overwrite but i have the same exception.

[2019-09-17 09:18] HariprasadAllaka1612 opened #898 "Caused by: org.apache.hudi.exception.HoodieUpsertException: Failed to upsert for commit time"
I am trying to write data to s3 as Hudi file.

Code:
[code]
coming across below exception
[code]

[2019-09-17 10:17] firecast commented on #894
Will test that @vinothchandar and let you know. Just to put the whole setup I'm using into context, I am using IntelliJ IDEA to run the spark job locally. Here is a part of my build configuration. Am I supposed to add hudi-hive jars separately?

[code]

[2019-09-17 16:10] vinothchandar commented on #898
@HariprasadAllaka1612 what version of Hadoop and Hudi are you using? We have not tested with Hadoop 3.0 for e.g if thats what you are using

[code]

[2019-09-17 18:37] vinothchandar commented on #894
No.. its all there in the bundle

Some general context . if you are writing a spark job, its better to just depend on `hudi-spark` , which will pull in hudi-hive.  That way you have control over what versions to exclude and bring in. With a bundled jar (true for any bundled/fat/uber jar), you dont have control to say tell hudi to not bring its version of Hive.

Can you try building a fat jar and r

[2019-09-17 18:49] umehrot2 commented on #869
@vinothchandar Yes will continue the discussion there. Will test the my job, as well as demo setup by dropping hudi spark bundle (with shaded databricks avro) in the Spark jars folder.

[2019-09-17 18:53] vinothchandar commented on #888
This does not seem like a jar issue

`Exception in thread "main" com.uber.hoodie.exception.DatasetNotFoundException: Hoodie dataset not found in path s3a://gat-datalake-raw-dev/Games3\.hoodie`

Since it also fails with  are you running on windows? I am wondering how its `Games3\.hoodie` and not `Games3/.hoodie` ..  Can you see a `.hoodie` underneath `Games3` folder after failure?  I can't see anyt

[2019-09-17 19:15] HariprasadAllaka1612 commented on #888
I can see .hoodie directory under Games3. It contains below structure

![Capture](https://user-images.githubusercontent.com/55284877/65071733-b2832280-d98f-11e9-8b8f-ac714a2f3a0b.JPG)

I am moving to master branch now. Earlier when i was getting this issue i was adding com.uber.hoodie:hoodie-spark and other libraries hoodie-hive, hoodie-client,hoodie-common etc. as maven dependency.

Could you als

[2019-09-17 20:00] HariprasadAllaka1612 commented on #898
I will change the version of hadoop to 2.8.4 and check if it works.

[2019-09-17 20:17] vinothchandar commented on #888
so the structure is getting created, but somehow the path is wrong? really weird. The code I pasted is what throws the error.. as you see, what it checks for is using the standard hadoop `Path` class.

[2019-09-17 21:13] umehrot2 commented on #869
Did test on our side and commented on https://issues.apache.org/jira/browse/HUDI-254

[2019-09-18 05:38] leesf commented on #143
Hi @vinothchandar , Could you please add leesf0315@gmail.com to the slack group.

[2019-09-18 07:17] pratyakshsharma commented on #898
I am using Hadoop 3.1.0 with Hoodie-0.4.7, actually the constructor has changed in hadoop 3.x versions for FSDataOutputStream class. This is a possible duplicate of - https://www.mail-archive.com/dev@hudi.apache.org/msg00286.html

[2019-09-18 13:01] #888 closed

[2019-09-18 13:06] HariprasadAllaka1612 opened #905 "S3 folder paths messed up when running from Windows"
I am running my code from Windows machine to push data to S3. When i am trying to write the data i am having an error where stats were not able to be found as i am passing stats as null in
[code]

The problem is due to this failure the cleanFailedWrites method is failing. This is expecting the path to be Linux based.
[code]

[2019-09-18 15:19] vinothchandar commented on #888
@HariprasadAllaka1612 were you able to resolve it?  curious to know what the issue was

[2019-09-18 15:21] vinothchandar commented on #905
Not following... the paths on S3 , HDFS (DFS) would be linux like, right? no?

[2019-09-18 15:25] HariprasadAllaka1612 commented on #888
@vinothchandar The issue was fixed using the hadoop 3.x version. i followed the email link here

https://github.com/apache/incubator-hudi/issues/898#issuecomment-532554181

[2019-09-18 15:38] HariprasadAllaka1612 commented on #905
@vinothchandar I think i confused you here.

When the data is being written to S3 in Hudi format. The file structure is totally fine

/gat-datalake-raw-dev/Games2/.hoodie/.temp

But when trying to clean-up the .temp folder is being moved out from above mentioned directory and directly going to based path as /gat-datalake-raw-dev/Games2\.hoodie\.temp\20190918173239

I don't understand why is this h

[2019-09-18 16:18] HariprasadAllaka1612 commented on #905
@vinothchandar Even this is failing. It set the path properly now but its failing with same error

[2019-09-18 16:29] bvaradar commented on #905
@HariprasadAllaka1612 : Can you run Hudi unit tests (mvn test) in your windows setup (without S3) and see if all the tests are passing. This way, it would be easier to catch a broader range of issues that going piece-meal

[2019-09-18 17:19] bvaradar commented on #891
@jaguarx : When you use the higher-level DeltaStreamer in continuous mode, you will notice metrics emission for every ingestion/compaction run. Let us know if you are interested in any metric that we are not currently capturing.

[2019-09-18 17:24] vinothchandar commented on #905
+1  then please open a JIRA for windows support and we can continue there. I don't think we have ever tested on windows..

[2019-09-18 17:25] vinothchandar commented on #891
@bvaradar interesting.. so metrics is reported on close() of the writeClient?

[2019-09-18 17:27] HariprasadAllaka1612 commented on #905
Tests are failing in Windows local machine.

[2019-09-18 17:28] bvaradar commented on #891
@vinothchandar : Guess, I was not clear. The metrics are reported for every commit. So, we will see multiple reports when running in continuous mode

[2019-09-18 17:36] bvaradar commented on #905
@HariprasadAllaka1612 : We do not have windows setup ready. So, it would be great if you can have a crack at it first and see if there are any simple fixes similar to the FIle.Separator one you pointed. Let us know if you need help debugging this further though.

[2019-09-18 18:08] vinothchandar commented on #905
and let move the conversation to https://issues.apache.org/jira/browse/HUDI-263 , now that we know this is a legit gap.

[2019-09-18 18:08] #905 closed

[2019-09-18 22:51] vinothchandar commented on #898
accmulating hadoop 3 issues here https://issues.apache.org/jira/browse/HUDI-259

[2019-09-19 08:30] Panxing4game opened #909 "Can't have config file and hudi base path in different S3 bucket."
Hi, I found for delta streamer, if I have `--props` and `--target-base-path` in  different aws S3 bucket, it will cause a file not found exception.

in order to bypass this, I changed the `fs` of DFSPropertiesConfiguration.

code:  https://github.com/Panxing4game/incubator-hudi/commit/c990025756479288b1c492fd1d90f42554384691

in our cluster, we need to have config files in a separate s3 bucket.

c

[2019-09-19 13:52] firecast commented on #894
So the Job connects to a remote Hive 2.3.2-amzn-2 server to create tables there.

@vinothchandar I now tried to pull in the Hudi dependency from the local maven repository which was build on the `release-0.5.0-incubating-rc2` tag with the command `mvn clean install -DskipTests -DskipITs`

Here is the `sbt.build` file
[code]

If I look at the dependency graph now, it is missing some transitive depe

[2019-09-20 00:51] cdmikechen opened #910 "hoodie.*.consume.* should be set whitelist in hive-site.xml"
If user use `INCREMENTAL` mode to get increment data, we may need to let users know that we need to configure the whitelist in `hive-site.xml` before we can use it, otherwise we will prompt unauthorized errors when using hive-jdbc or beeline.
[code]
This configuration in Hive should be mentioned in the description document like https://hudi.apache.org/quickstart.html .

[2019-09-20 09:27] utk-spartan commented on #143
Hi @vinothchandar , Please add utkarsh.saxena@razorpay.com to the slack group

[2019-09-20 13:14] HariprasadAllaka1612 opened #913 "Help needed to read read-optmized view from Hoodie tables"
Hi,

I am trying to read the RO view of the Hoodie data from s3 using spark data source. I am little confused from the documentation on how to read this data.

its working from when read the data as parquet(sc.read.parquet) direct to the path till the partition. But i am just wondering how do we need to approach this if i want to directly read the datasource as either hoodie table from spark.

Qui

[2019-09-20 14:13] vinothchandar commented on #909
can you please paste the git diff output of your change?  happy to look into it/

[2019-09-20 14:18] vinothchandar commented on #910
@cdmikechen great point.. @bhasudha can you add this to the list you are compiling ?

[2019-09-20 14:28] bvaradar commented on #913
@HariprasadAllaka1612 : Not enough context here to find out what is going on. Can you see if the below link helps you

https://github.com/apache/incubator-hudi/blob/69ca45b2da0f1791d4d8f049726a31ba3d90dcd7/hudi-spark/src/test/java/HoodieJavaApp.java#L190

[2019-09-20 14:58] Panxing4game commented on #909
@vinothchandar  sure，https://github.com/apache/incubator-hudi/pull/914
I just raised a pr for this

[2019-09-20 15:19] vinothchandar commented on #894
Got it. To run from IDE what I do is to add spark jars to the class path of my module in IntelliJ. You dont have to mess with your sbt and bring in avro etc . The idea here is that when you actually submit your application using spark-submit then these jars are there already.

On transitive dependencies it would be based.  on scope . Avro, parquet etc are in provided scope and so the expectation i

[2019-09-20 21:18] kevinthfang commented on #857
@firecast, would you please share the major reasons for choosing HUDI over Delta Lake?
Thanks a lot.

[2019-09-23 11:23] Panxing4game commented on #909
pr merged, close this.

[2019-09-23 11:23] #909 closed

[2019-09-23 11:55] firecast commented on #857
The major reason was Presto and Hive support out-of-the-box which enable real-time streaming. Apart from this, HUDI has default UPSERT support and auto hive sync of partitions through Spark save. @kevinthfang

[2019-09-24 02:58] Panxing4game opened #922 "too many s3 requests using emr"
In some scenario in our cluster, we may want delta streamer to slow down a bit.
so it's nice to have a parameter to control the min sync interval of each sync in continuous mode.
this param is default to 0, so this should not affect current logic.

minor pr:  https://github.com/apache/incubator-hudi/pull/921

the main reason we want to slow it down is that aws s3 is charged by s3 get/put/list requ

[2019-09-24 04:57] bvaradar commented on #922
@Panxing4game : I have created a jira for this https://jira.apache.org/jira/browse/HUDI-269

We have moved to Jira. If you do not have it already, please create a jira id and we will give contributor access.

[2019-09-24 07:56] Panxing4game commented on #922
@bvaradar ic,
my jira id is `XingXPan`

[2019-09-24 11:02] jainnidhi703 commented on #143
Hi @vinothchandar, Please add jainnidhi703@gmail.com.

[2019-09-24 14:00] vinothchandar commented on #922
Closing this in favor of JIRA

[2019-09-24 14:00] #922 closed

[2019-09-26 01:14] leesf commented on #857
Paste a pic ![pic](http://cdn.qubole.com/wp-content/uploads/2019/09/Hive-ACID-selection-table.png) from the [post](https://www.qubole.com/blog/qubole-open-sources-multi-engine-support-for-updates-and-deletes-in-data-lakes/)

[2019-10-01 10:39] #913 closed

[2019-10-01 10:39] #898 closed

[2019-10-01 18:47] HariprasadAllaka1612 opened #933 "Support for multiple level partitioning in Hudi"
Hi,

I wanted to know if Hudi support multi level partitioning when partitioning the data. for example if i have data fits to be partitioned like Parent_key/YYYY/MM/DD. Can i do it in the current Hudi setup of data souce options

[2019-10-01 19:43] n3nash commented on #933
@HariprasadAllaka1612 Are you using spark data source ? You can provide a custom partition value extractor https://github.com/apache/incubator-hudi/blob/master/hudi-spark/src/main/scala/org/apache/hudi/DataSourceOptions.scala#L193 and set https://github.com/apache/incubator-hudi/blob/master/hudi-spark/src/main/scala/org/apache/hudi/DataSourceOptions.scala#L204 to the fields you require.

You can s

[2019-10-02 05:39] HariprasadAllaka1612 commented on #933
yes i am using spark data source.

I feel this is to extract the data which is already partitioned in hive. I wanted to know if we can store the data from a data frame using this class.  the schema of my dataframe is mentioned below

root
 |-- amount_gc: double (nullable = true)
 |-- bonus_amount_gc: double (nullable = true)
 |-- bonus_balance_gc: double (nullable = true)
 |-- game_currency: strin

[2019-10-02 06:48] HariprasadAllaka1612 commented on #933
I found the way to do this, For anyone's reference this can be achieved by

1. Use org.apache.hudi.ComplexKeyGenerator as key generator class instead of SimpleKeyGenerator.
2. Provide the fields that you want to partition based on as comma separated string as PARITION_FIELD_OPT_KEY

Reference :
https://github.com/apache/incubator-hudi/blob/master/hudi-spark/src/main/java/org/apache/hudi/ComplexKey

[2019-10-02 06:48] #933 closed

[2019-10-03 16:29] vinothchandar commented on #933
@HariprasadAllaka1612 thanks! mind updating the FAQs? :)
https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=113709185

cc @bhasudha

[2019-10-04 00:31] Guru107 commented on #143
Hi @vinothchandar, please add guruak107@gmail.com.

[2019-10-04 07:52] bkotwica commented on #143
Hi @vinothchandar, please add bkotwica@gmail.com to slack

[2019-10-04 13:19] vinothchandar commented on #143
Seems like you both are already on the workspace. Please also join the mailing list.

[2019-10-10 09:48] broussea1901 commented on #143
Hi @vinothchandar, Can you please send slack invite to broussea@gmail.com ? Thanks

[2019-10-10 12:46] srkhan2809 commented on #143
Hi @vinothchandar ,
may you please add me to slack group.?
Email : srkhan2809@gmail.com

[2019-10-12 23:56] gfn9cho opened #954 "org.apache.hudi.org.apache.hadoop_hive.metastore.api.NoSuchObjectException: <hivedb.tableName> table not found"
I am using hudi-spark-bundle-0.5.1-SNAPSHOT.jar in EMR and getting the below exception in hiveSync.
We are using AWS glue catalog for hive metastore.
Hive table is getting created. I could see the table in hive with no data in it.
[code]
Below is the code,
[code]
Please let me know if I can provide more details to it.

[2019-10-14 16:10] vinothchandar commented on #954
@gfn9cho Is this the first write? Looks like it cannot find the registered table. could you share the entire log with other statements also?

[2019-10-14 16:29] gfn9cho commented on #954
Yes, this is the first write.
Its creating the hoodie table and I could see the data in S3.
When it comes to Hive, its creating the table, but failed to sync the data with the above error.
Actually that was the entire log in the spark shell. Below is the one item I missed,
19/10/14 01:30:23 WARN HiveConf: HiveConf of name hive.metastore.client.factory.class does not exist

I could do spark.sql("se

[2019-10-15 00:33] vinothchandar commented on #954
There are definitely other lines that are not getting printed.. Have you tried doing a `sc.setLogLevel("INFO") ` to also get the INFO statements.. usually this print the exact SQL being run and we can spot something

[2019-10-15 03:16] gfn9cho commented on #954
Thanks Vinoth.
Here is the trimmed log from the time it finished writing to hoodie table.

19/10/15 03:05:28 INFO TaskSetManager: Finished task 1485.0 in stage 25.0 (TID 12144) in 16 ms on ip-10-63-115-75.corp.stateauto.com (executor 1) (1498/1500)
19/10/15 03:05:28 INFO TaskSetManager: Finished task 1499.0 in stage 25.0 (TID 12147) in 9 ms on ip-10-63-115-75.corp.stateauto.com (executor 1) (1499/

[2019-10-15 16:31] vinothchandar commented on #954
What I see is that it created the table,

[code]

 Found the 1 storage partition (i.e from your data on s3) to sync

[code]

But cannot find the table when trying to sync them

[code]

It almost seems like your metastore is not providing read-after-write consistency? what is the Hive metastore backed by, s3?  I am guessing glue catalog is different from Hive metastore? Could you give it a shot on

[2019-10-15 16:31] vinothchandar commented on #954
@umehrot2 any ideas, top of your heaD?

[2019-10-15 20:11] gfn9cho commented on #954
We are using AWS Gluecatalog as the external hive metastore. The regular spark job is able to create, write & read the tables.
I guess, HiveSyncTool is not able to read from the glue catalog. as everytime, we run the job its creating the table again as it is not found.
Is there a chance that HiveSyncTool is overriding the config and thus its not able to see the hive metastore as a external one.
19

[2019-10-15 23:28] umehrot2 commented on #954
@gfn9cho @vinothchandar we are aware of this issue in Hudi. It does not currently work with glue-catalog. We have solved it on our side, and will be pushing a PR soon.

For your information, here is explanation:
- Currently Hudi is interacting with Hive through two different ways:
    - Creation of table statement is submitted directly to Hive via JDBC https://github.com/apache/incubator-hudi/blob

[2019-10-16 00:24] gfn9cho commented on #954
@vinothchandar @umehrot2 , Thanks for the support and a great explanation.
I will wait for the updated code to take it forward.

[2019-10-16 04:39] vinothchandar commented on #954
Thanks for excellent explanation! much appreciated @umehrot2

[2019-10-17 12:25] smdahmed commented on #764
I can confirm that I have been hit by this error. The occurrence of this error is in 2 tables that do not have any similarity in the pattern of data ingestion or sizes of the data they hold.

As @n3nash has mentioned there are clean file of size 0 bytes. Deleting the file manually clears the problem to the table (albeit with the first attempt failing and things working from the 2nd attempt onwards

[2019-10-17 16:43] bvaradar commented on #764
@smdahmed : Looked at the code to see how this can happen. Not clear how this can happen. Assuming you are using S3, Have you tried setting the consistency guard ( https://hudi.apache.org/configurations.html#withConsistencyCheckEnabled) ?

[2019-10-17 19:25] arw357 commented on #547
@vinothchandar  made this https://github.com/apache/incubator-hudi/pull/960

[2019-10-17 19:48] bvaradar commented on #547
@arw357 : ACK. I will review this code.

[2019-10-18 19:15] gfn9cho commented on #954
@umehrot2 @vinothchandar
I did incorporated the changes on my end and I could see the hive table for created with data synced.
But then, while doing update(Append/Overwrite) to the same table, I am getting the below error, Not sure I am missing something at my end, but wanted to bring it to your notice if its really an issue.

org.apache.hudi.hive.HoodieHiveSyncException: Failed to get table schem

[2019-10-19 15:06] firecast commented on #954
I also faced the same issue although I was using a remote hive instance instead of the AWS Glue Data Catalog. A quick fix I did to fix the issue were the following
1. https://github.com/apache/incubator-hudi/blob/ed745dfdbf254bfc2ec6d9c7baed8ccbf571abab/hudi-spark/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala#L169 to
[code]
2. https://github.com/apache/incubator-hudi/blob/ed745dfdbf254

[2019-10-19 16:53] iamrohith94 commented on #143
Hi @vinothchandar, please send a slack invite to iamrohith94@gmail.com. TIA

[2019-10-19 17:33] bvaradar commented on #143
Added. Welcome to Hudi community 

Sent from Yahoo Mail for iPhone

On Saturday, October 19, 2019, 9:54 AM, Rohith Reddy <notifications@github.com> wrote:

Hi @vinothchandar, please send a slack invite to iamrohith94@gmail.com. TIA

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-19 19:00] vinothchandar commented on #954
@firecast can we open a JIRA & also open a PR around this? What do you think the root problem here was.

[2019-10-21 07:55] firecast commented on #954
@vinothchandar Sure. Currently busy with a deployment at my company. I'll create a PR tomorrow and do some more research on it as well.

[2019-10-21 19:53] umehrot2 commented on #954
@gfn9cho @vinothchandar We are aware of this issue as well.

This issue happens inside hive code at this line: https://github.com/apache/hive/blob/rel/release-2.3.6/service/src/java/org/apache/hive/service/cli/operation/GetColumnsOperation.java#L173

This is because **primaryKeys** is turning up as null, and this is happening because of a bug in our internal glue catalog client, where is the prima

[2019-10-22 15:58] gfn9cho commented on #954
@umehrot2 , Are you able to add a primary key. I am getting below error,
createTableWithConstraints is not supported or addPrimaryKey is not supported.
Looks like it's not yet implemented in AWS Glue catalog as the code in there just throws this exception.
Do we know approximate ETA on when this will be available in EMR.
It seems a deadlock. On one end, ddl to add constraint is not supported and o

[2019-10-22 20:40] umehrot2 commented on #954
@gfn9cho you are right Glue Catalog does not support Primary Key. Its not actually a problem with Glue service, but its EMR's glue client implementation that returns a null because primary key is not supported. Hive is not able to deal with it correctly.

At this point, we cannot just give you something that would make it work. Please not, at this point Hudi is not an officially support applicatio

[2019-10-23 20:54] gfn9cho commented on #954
@umehrot2 Thanks much for your inputs.
Looks a bit tricky so as to manage the versions of all the dependencies involved with glue client.
I am working on getting approvals at work to try this on a mock environment and keep this post informed.

[2019-10-24 16:47] rbhartia opened #971 "Setting "hoodie.parquet.max.file.size" to a value >= 2 GiB leads to no data being generated"
Environment:  EMR cluster version 5.27 using hudi-spark-bundle-0.5.1-SNAPSHOT.jar.
"spark.executor.memory" is configured as 6018M.

Running the following code, with "hoodie.parquet.max.file.size" to 2* 1024 * 1024 * 1024 (2GiB) generates no data -

[code]
All the stages and tasks complete successfully with no OOM or error messages being printed in the log. There is a commit files in .hoodie folder

[2019-10-24 17:25] rbhartia commented on #971
Interesting. Setting "hoodie.parquet.max.file.size" to 2 * 1000 * 1000 * 1000 ( 2 GiB) also works as expected. Seems like this is related to the 2GB limit on partition size in Spark -
[https://issues.apache.org/jira/browse/SPARK-1476]
[https://issues.apache.org/jira/browse/SPARK-5928]

[2019-10-25 02:47] vinothchandar commented on #971
This will go away with 2.4 as well I think. But such a scenario the job usually fails. Let me try reproducing this

[2019-10-25 14:49] vinothchandar commented on #971
Okay able to repro using even 2.4. Its an integer overflow somewhere in the config passing path. What happens is the workload profile computes negative number of records assigned and thus skips assigning them. Tracking hows it happening still, bit puzzling since the `HoodieWriteConfig` level its all long

[2019-10-25 14:55] vinothchandar commented on #971
Nonetheless, bounds checking on configs needs to be improved still :)

[2019-10-25 15:01] vinothchandar commented on #971
Once you fix this, all is good

[code]

[2019-10-25 18:15] rbhartia commented on #971
Thank you, Vinoth! Should have looked into that assumption :(

[2019-10-25 18:16] rbhartia commented on #971
Probably create a JIRA and close this Github issue?

[2019-10-26 15:24] vinothchandar commented on #971
Np. I did not anticipate that either :) . added to https://issues.apache.org/jira/browse/HUDI-89 . Closing this.

[2019-10-26 15:24] #971 closed

[2019-11-05 04:05] mdmohsin2005khan commented on #143
Hi @vinothchandar , could you please send me the slack invitation at mdmohsin2005khan@gmail.com

[2019-11-06 14:10] HariprasadAllaka1612 opened #998 "Incremental view not implemented yet, for merge-on-read datasets"
I am having this exception when i am trying to read a dataset which is stored in MOR format.

When i have gone through the documentation, it says MOR supports incremental pull. Though there is nothing explicit about MOR not supporting incremental views from spark data source.

Below is the spark code.

val df =sc.read. format("org.apache.hudi")
        .option(DataSourceReadOptions.VIEW_TYPE_OPT_K

[2019-11-06 20:10] bhasudha commented on #998
@HariprasadAllaka1612  I need to dig into this issue more. But I am quite sure you can incrementally query MOR datasets. Here is an example from the Docker demo page which does this for reference - https://hudi.apache.org/docker_demo.html#incremental-query-with-spark-sql

[2019-11-06 22:11] bhasudha commented on #998
@HariprasadAllaka1612 Looks like spark sql for incremental queries work on a Hive table. The Docker demo that I pasted also refers to a Hive table. For spark datasource this not supported natively. I ll create a tracking Jira issue for this and update docs.

[2019-11-08 05:43] n3nash commented on #998
@HariprasadAllaka1612 This is still not implemented for Spark datasource but we plan to implement it soon. @bhasudha  please find the ticket here : https://issues.apache.org/jira/browse/HUDI-58

[2019-11-11 17:33] anismiles opened #1007 "Azure Support"
Is there a plan to support Azure blobs and Data Lake Storage Gen2?

[2019-11-12 17:00] sudhar-sense commented on #143
Hi @vinothchandar , please add me into the slack group sudharshan.cbe@gmail.com

[2019-11-12 18:57] bwu2 commented on #143
Hi @vinothchandar , could you please send me the slack invitation at bwallace@veracode.com

Thanks!

[2019-11-12 20:25] yuhadooper commented on #143
Hello @vinothchandar, please add pyuvaraj.naidu@gmail.com to the slack group, thank you!

[2019-11-12 21:09] anmolaj commented on #143
@vinothchandar can you add anmol.aj@gmail.com to the group please. Thanks in advance :)

[2019-11-14 05:13] vinothchandar commented on #1007
Somehow missed this.. Sorry.. So typically, we just have to whitelist the filesystem impl in `StorageSchemes` enum.. https://github.com/apache/incubator-hudi/blob/b19bed442d84c1cb1e48d184c9554920735bcb6c/hudi-common/src/main/java/org/apache/hudi/common/storage/StorageSchemes.java

is this what you are referring to?  I dont have experience with azure myself tbh

[2019-11-14 06:13] lamber-ken opened #1017 "[Question] what's different between -DskipTests and -DskipITs?"
hi, can someone explain what's different between `-DskipTests` and `-DskipITs` ? thanks.

[2019-11-14 10:55] leesf commented on #1017
Hi, `-DskipTests ` means skip Unit Tests and `-DskipITs` means skip Intergrate Test(mainly in hudi-integ-test module).

[2019-11-14 12:53] lamber-ken commented on #1017
Ok, thanks.

[2019-11-14 17:25] broussea1901 commented on #1007
Considering IGFS is provided it might also be nice to support Alluxio FS https://docs.alluxio.io/os/user/stable/en/api/FS-API.html

[2019-11-15 15:17] vinothchandar commented on #1007
Happy to take PRs for both. interested?

[2019-11-15 15:19] #543 closed

[2019-11-16 16:40] broussea1901 commented on #1007
I might give it a try.
I assume I have to create a JIRA on the subject first.
Right ?

[2019-11-18 10:35] simonqin opened #1021 "how can i deal this problem when partition's value changed with the same row_key?"
// Create the write client to write some records in
    HoodieWriteConfig cfg = HoodieWriteConfig.newBuilder().withPath(tablePath)
            .withSchema(HoodieTestDataGenerator.TRIP_EXAMPLE_SCHEMA).withParallelism(2, 2)
            .forTable(tableName)
            .withIndexConfig(HoodieIndexConfig.newBuilder().withIndexType(IndexType.GLOBAL_BLOOM).build())
            .withCompactionConfig(

[2019-11-18 20:43] bhasudha commented on #1021
"String partitionPath = "2016/04/15";" seems to be different from the insert partitionPath (2016/03/15) which is what is causing an issue here.

[2019-11-19 01:34] simonqin commented on #1021
@bhasudha thanks for your reply.  I set the index to GLOBAL_BLOOM. I understand that this index means that when row_key is the same, after the value of the partition key is changed, hudi will delete the row_key of the original partition and insert new data in the new partition. Is that right?

[2019-11-19 01:34] simonqin commented on #1021
@bhasudha thanks for your reply.  I set the index to GLOBAL_BLOOM. I understand that this index means that when row_key is the same, after the value of the partition key is changed, hudi will delete the row_key of the original partition and insert new data in the new partition. Is that right?

[2019-11-19 11:34] #1017 closed

[2019-11-19 21:12] tooptoop4 commented on #836
gentle ping

[2019-11-19 23:28] bhasudha commented on #1021
You are right. I noticed that you are using com.uber.hoodie version. Can you give it a shot with the latest master? I believe a similar bug was fixed. Meanwhile I ll try to trace that bug and update here.

[2019-11-20 06:34] #836 closed

[2019-11-20 06:35] hustnn commented on #836
Close it first as I don't follow up this issue recently. Thanks help from all you guys.

[2019-11-20 07:10] simonqin commented on #1021
I tested three versions, such as 0.4.7, 0.5.0, master,all of them have errors.
here is my test code.This is modified according to the run method in HoodieClientExample.java of hudi-client.:
[code]

[2019-11-20 15:27] #1007 closed

[2019-11-20 17:36] alphairys opened #1034 "Datasource Writer throws error on resolving struct fields"
**Issue**

I have a dataframe with the following schema that I would like to write out as a hudi table.

**Schema**
[code]

**Write out to hudi table:**
[code]
Running this, i get the following error:
[code]

**Full Error Log**
[code]

[2019-11-21 03:43] lamber-ken commented on #1034
hi, @alphairys, according to your describion, I can not get the error. My steps are bellow.
[code]

[2019-11-21 08:53] jienan commented on #143
Please add me to Slack :) email is zeng4015@gmail.com

[2019-11-21 13:35] alphairys commented on #1034
@lamber-ken  , thanks for looking into this. Turns out the bundled hudi package with EMR is the source of this. I was following the instructions here: [https://aws.amazon.com/blogs/aws/new-insert-update-delete-data-on-s3-with-amazon-emr-and-apache-hudi/](https://aws.amazon.com/blogs/aws/new-insert-update-delete-data-on-s3-with-amazon-emr-and-apache-hudi/)

Launching spark-shell with the latest pac

[2019-11-22 01:34] rbhartia commented on #1034
@alphairys  - Would you mind dropping a mail to emr-hudi@amazon.com or rbhartia@amazon.com with the steps to reproduce this problem on EMR?

[2019-11-22 01:52] rbhartia commented on #1034
@alphairys - We were able to reproduce the problem and see that it is happening due to the struct type in there. Most likely it is a function of EMR using - Spark 2.4 with spark-avro library. Will update you back on this thread once we have a fix for the same. Thank you

[2019-11-22 05:55] lamber-ken commented on #143
hi, @vinothchandar, email lamberken@163.com, thanks

[2019-11-22 06:00] lamber-ken opened #1041 "[Question] Where is client jar in hudi-cli.sh"
hi, I can not find out what is the client jar in hudi-cli.sh, can some one tell me, thanks.

[code]

[2019-11-22 11:27] vinothchandar commented on #1041
@lamber-ken So, sometime you need the RecordPayload etc which is user code... Client jar is arguably named confusingly :) . It's any user jar that contains code like KeyGenerator/Payload classes i.e Hudi's client's jar

[2019-11-22 11:58] lamber-ken commented on #1041
Okay, I see, thanks.

[2019-11-22 11:58] #1041 closed

[2019-11-22 12:05] vinothchandar commented on #764
Closing due to inactivity..

[2019-11-22 12:05] #764 closed

[2019-11-22 12:17] vinothchandar commented on #1021
This seems similar to https://issues.apache.org/jira/browse/HUDI-116 we fixed already..
@bhasudha #687 Should help you step through this as well.. @nsivabalan Also do you want to take a shot at this, since you are working closely with the indexing part atm?

[2019-11-22 12:45] alphairys commented on #1034
@rbhartia , thanks for the update. Will be on the lookout for the fix.

[2019-11-22 23:05] nsivabalan commented on #1021
Sure. I can take a look.

[2019-11-24 03:13] nsivabalan commented on #1021
Here is the issue. Along the way, records are partitioned according to the new partition Path. Where as, indexLookup returns fileId pertaining to old partition path. So, while trying to do the actual update, the fileId is not found in the partition Path(new partition path).

this is not an issue w/ regular bloom, because, these records are considered to be inserts with regular bloom since index lo

[2019-11-24 21:58] SirOibaf commented on #143
Hi @vinothchandar, could you please add me to slack? fabio@logicalclocks.com - thanks

[2019-11-25 19:22] vinothchandar commented on #1021
@nsivabalan  Could you debug why the second write it not getting tagged to the first partition? Thats the crux of it.

[2019-11-26 11:07] manijndl commented on #143
hi @vinothchandar , please add me to slack? manijndl6@gmail.com - Thanks Alot

[2019-11-26 11:35] sndp2693 commented on #143
Hi @vinothchandar , can you please add me ( sndp2693@gmail.com ) to slack. Thanks in advance.

[2019-11-27 19:35] nsivabalan commented on #1021
@vinothchandar : I found the root cause.

within HoodieGlobalIndex#explodeRecordRDDWithFileComparisons

[code]

In this, indexFileFilter.getMatchingFiles(partitionPath, recordKey) returns fileId from Partition1, where as incoming record is tagged with Partition2.

So, this is what I am thinking as the fix. as of now, IndexFileFilter.getMatchingFiles(String partitionPath, String recordKey) is retur

[2019-11-28 10:44] OpenOpened opened #1060 "Does DeltaStreamer support multiple schemas for a batch of data now or in the future?"
I read the source code and found that DeltaStreamer extracts data from kafka. By default, the schema of the batch of data is the same. However, for example, the data obtained by CDC is messy, and different schemas are required to correspond to the data. And always obtaining the final schema is not necessarily correct, because when processing the data, obtaining the final schema can no longer match

[2019-11-28 13:05] sanjiv1980 opened #1061 "Hudi output just parquet even-though input is snappy.parquet"
Is there anyway like I can get output is same as snappy.parquet.? I am giving my input as `snappy.parquet`.

[2019-11-28 19:36] mrtns commented on #143
Hi! Can you please add mrtn@nrd.io to Slack? Thank you!

[2019-11-29 02:08] #1060 closed

[2019-12-02 11:56] sanjiv1980 opened #1067 "How to do multiple partition"
I want to do multiple partiton like [year=2019/month=10/day=25,

Please guide me.

could you please point out some documentation which could help me to do the POC.

[2019-12-02 12:22] srkhan2809 commented on #1067
Hi @sanjiv1980
you can refer : [https://github.com/apache/incubator-hudi/pull/1036]

[2019-12-02 13:16] sanjiv1980 commented on #1067
is that JAR not supporting HIVE kind of partitioning. ?
               <dependency>
			<groupId>org.apache.hudi</groupId>
			<artifactId>hudi-spark-bundle</artifactId>
			<version>0.5.0-incubating</version>
		</dependency>

and one more question , like how to do the bulk update .?

[2019-12-02 17:33] vinothchandar commented on #1061
@sanjiv1980 could I try to understand what issue you are running into due to lack of the compression codec in the file name?

[2019-12-02 18:38] vinothchandar commented on #1060
@OpenOpened Hudi respects the avro backwards compatibility rules, so if the CDC adheres to it, it may be ok? I can understand that with columns deletes it can get messy.. This though sounds like a general schema management problem? do you have any ideas on how this can be improved in Hudi?

[2019-12-02 18:50] sanjiv1980 commented on #1061
@vinothchandar Thanks for your reply.Actually this the standard that we are maintaining since last couple of years . We have to processed near about half TB of data daily, and top of that we have to follow the publish timeline as well , so keeping all this in mind we have chosen as snappy . It will be really helpful if you could guide me to maintain our standard .

[2019-12-02 18:56] sanjiv1980 opened #1070 "How to do the bulk update .?"
I have to do one POC and that to be update/delete operation on bulk . I have done same kind of POC on DeltaLake , which went well , but due to some unavoidable circumstances I have to look    Hudi is my next course of action. It will be rally helpful ,If you could guide me to do this operation . I did not find and suitable documentation which  help me .

Will be great help if somebody help me to u

[2019-12-02 18:57] vinothchandar commented on #1061
So Hudi lets you configure the compression code to snappy already.

https://hudi.apache.org/configurations.html#parquetCompressionCodec

Does your jobs fail if the `snappy` is missing from the file name. Adding this support needs some code changes and also need to think about backwards compatibility. So just trying to understand the real issue you are facing.

[2019-12-02 19:27] sanjiv1980 commented on #1061
Is that all ready implemented . ? I am using below option.
`option(HoodieStorageConfig.PARQUET_COMPRESSION_CODEC, "gzip")`

unable to get this , I think that JAR which ,I am using that has not incorporated  , It seems like I need to checkout the latest master brach and do my needful .?
`
<dependency>
			<groupId>org.apache.hudi</groupId>
			<artifactId>hudi-spark-bundle</artifactId>
			<version>0.

[2019-12-02 19:32] vinothchandar commented on #542
Closing due to inactivity

[2019-12-02 19:32] #542 closed

[2019-12-02 19:32] vinothchandar commented on #547
Closing due to inactivity

[2019-12-02 19:32] #547 closed

[2019-12-02 19:32] vinothchandar commented on #736
Closing due to inactivity

[2019-12-02 19:32] #736 closed

[2019-12-02 19:33] vinothchandar commented on #789
Should be fixed now.

[2019-12-02 19:33] #789 closed

[2019-12-02 19:33] vinothchandar commented on #844
Closing due to inactivity

[2019-12-02 19:33] #844 closed

[2019-12-02 19:33] vinothchandar commented on #845
Closing due to inactivity

[2019-12-02 19:33] #845 closed

[2019-12-02 19:33] vinothchandar commented on #812
@arw357 did you try the latest release?

[2019-12-02 19:34] vinothchandar commented on #652
@sidnakoppa  is this still relevant?

[2019-12-02 19:35] vinothchandar commented on #812
Closing due to inactivity. Please reopen if needed

[2019-12-02 19:35] #812 closed

[2019-12-02 19:35] vinothchandar commented on #891
Closing due to inactivity. Please reopen if needed

[2019-12-02 19:35] #891 closed

[2019-12-02 19:35] vinothchandar commented on #883
Closing due to inactivity. Please reopen if needed

[2019-12-02 19:35] #883 closed

[2019-12-02 19:36] vinothchandar commented on #954
Closing due to inactivity. Please reopen if needed

[2019-12-02 19:36] #954 closed

[2019-12-03 02:50] vinothchandar commented on #1070
@sanjiv1980 are you looking to bulk convert an existing data set? Not sure I completely follow along. If you can help clarify, happy to help out..

Some resources

https://hudi.apache.org/migration_guide.html
https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-HowdoImigratemydatatoHudi

[2019-12-03 02:54] vinothchandar commented on #1067
Thanks for chiming in @srkhan2809 !

@sanjiv1980 if you want to write a simple partitioned dataset, even the quickstart should help? If you can describe your POC more, we can help out..

- What is the source of the data? what format?
- Are you trying to ingest data or write a ETL job?

[2019-12-03 02:57] vinothchandar commented on #1061
This change should be even in `0.5.0-incubating` . What I am saying is, the file is written snappy compressed, even though the file name does not spell it out, if you set that config.. You can use some `parquet-tools` command like here to verify.. https://stackoverflow.com/questions/36140264/inspect-parquet-from-command-line

`parquet-tools meta <filename>` would print this out with each row group

[2019-12-03 03:02] vinothchandar commented on #1021
@nsivabalan Good catch! lets file a JIRA and tag this against the next release.. Feel free to grab the ticket yourself, to make the fix. if you want. :)

I think thats anyway the expected behavior that using Global Index, the partitionpath you pass in is ignored.

[2019-12-03 06:19] sanjiv1980 commented on #1070
@vinothchandar Thanks for prompt reply , Actually we have existing  data-lake which contains around 5-years of historical data (near about in petabytes) , on top of that so many existing jobs are running, recently I have one use case where I need to update/delete existing user data based on their unique identification.

For that I did one POC on Delta-Lake( I formed delta-lake (for one month data)

[2019-12-03 06:28] sanjiv1980 commented on #1061
Oh, Now I am able to see it , but how can we make it visible ..?

`
extra:                  hoodie_min_record_key = 1
extra:                  parquet.avro.schema = {"type":"record","name":"hoodie_test_record","namespace":"hoodie.hoodie_test","fields":[{"name":"_hoodie_commit_time","type":["null","string"],"doc":"","default":null},{"name":"_hoodie_commit_seqno","type":["null","string"],"doc":"","de

[2019-12-03 06:37] sanjiv1980 commented on #1067
@vinothchandar here is my details
1. source of data is kind of clickstream , which is processed my some existing job(datapipeline)  for enrichment and put in one of the location for further processing . Its snappy.parquet format.
2. data is all ready being in S3 (snappy.parquet) , I have to write datapipeline to do update/delete on bulk based on user identification . (so It's kind of job that can

[2019-12-03 09:18] arw357 commented on #812
I tried it and it does not crash - so it's ok to be cloesd

[2019-12-05 05:22] Neo2007 opened #1083 "[SUPPORT] getting error in KafkaOffsetGen,"
I am getting error in KafkaOffsetGen,
After debugging I got to know that,
the keys in checkpointOffsets and earlyOffsets were [sbx-frb1-dell-onep-account,0] and [topic_account_hudi,0].

Here is the following values contained by
CheckpointOffsets --> Key = [sbx-frb1-dell-onep-account,0],  Value.Offset = 61
earlyOffsets --> Key = [topic_account_hudi,0],  Value.Offset = 391

I think the HudiMetaData

[2019-12-05 09:49] lamber-ken commented on #1083
hi, what's the version of kafka?

[2019-12-05 10:00] Neo2007 commented on #1083
Kafka 3.3.2

[2019-12-05 10:02] lamber-ken commented on #1083
hi, the lastest version is 2.3.0 from apache-kafka web site. http://kafka.apache.org/downloads

[2019-12-05 11:23] Neo2007 commented on #1083
Sorry, I am using it through confluent 3.3.2
Apache Kafka Version is  0.11.0.3

[2019-12-05 11:49] saheb-kanodia commented on #894
I am getting the same error with latest EMR release(5.28.0). Hive version: 2.3.6 and Spark 2.4.4. I am deploying the code in yarn-cluster mode. Do we know why this is happening? Or a workaround to fix this?

[2019-12-05 12:06] lamber-ken commented on #1083
No problem. Get it, I try to reproduce this issue.

[2019-12-06 17:37] nisheet195 opened #1084 "Hive Sync fails when table name is a keyword"
I am writing to s3 using Hudi COW strategy with Hive sync enabled. When the table/database name is a hive keyword, hive sync fails.

**To Reproduce**

Steps to reproduce the behavior:

1. Set `DataSourceWriteOptions.HIVE_SYNC_ENABLED_OPT_KEY` to `true`
1. Set `"hoodie.datasource.write.table.name"/"hoodie.datasource.hive_sync.database"` parameter to a hive keyword

**Environment Description**

* Hu

[2019-12-06 18:05] vinothchandar commented on #1070
that helps!  So I would suggest the following concrete steps

1. Do a first bulk import for the same one month of data.. `spark.read.parquet("your_data_set/path/to/month").write.format("org.apache.hudi")`, but use the `BULK_INSERT` operatoin as shown here. https://hudi.apache.org/quickstart.html#inserts . But seems like you may need merge_on_read storage type?

2. Then you can proceed to upsert th

[2019-12-06 18:06] vinothchandar commented on #1067
you should be able to keep same kind of partitioning.. Responded with suggestions on the other issue.. I suggest we close this issue and use that for exchanging ntoes.

[2019-12-06 18:06] #1067 closed

[2019-12-06 18:07] vinothchandar commented on #1061
visible to queries?  queries dont go by file name, IIUC they read this metadata from within files to actually read them, right?

[2019-12-06 19:57] bvaradar commented on #1070
Added a FAQ entry : https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-IhaveanexistingdatasetandwanttoevaluateHudiusingportionofthatdata?

[2019-12-07 13:00] SteNicholas commented on #143
@vinothchandar Could you please add programgeek@163.com to Slack?Thanks.

[2019-12-07 13:15] nsivabalan commented on #1021
Sure. I will work on the fix. Just to clarify, whats the expected behavior in this case, where in original record was inserted with partition1, where as updates was sent with partition2. Partition2 should be ignored and updates should be sent to Partition1 right?

[2019-12-07 14:28] MyFutureIsAMess opened #1087 "false"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2019-12-07 14:30] #1087 closed

[2019-12-07 14:37] MyFutureIsAMess commented on #143
@1085844536@qq.com.This email seems a bit cute### ****选我！选我！选我！

[2019-12-07 14:39] MyFutureIsAMess commented on #143
@vinothchandar Could you please add 1085844536@qq.com to Slack? Thanks. This email seems a bit cute!选我！选我！选我！

[2019-12-07 18:37] fjysmall commented on #143
Could you please add fengjingyi1122@gmail.com to Slack? Thanks.

[2019-12-08 05:26] yuehan124 commented on #143
Please add me to Slack :) email is yuehan124@163.com

[2019-12-08 23:19] nsivabalan commented on #1021
I am trying to figure out something. Let me know if its doable.

Is it possible to change the partition path alone for a given HoodieRecord? or to be precise, to create another HoodieRecord based on a another(base) HoodieRecord but w/ diff partition.
Specifically I am stuck at getting the type of HoodieRecord?
I see we could do something like this.
new HoodieRecord<Type> (new HoodieKey(baseRecord.

[2019-12-09 04:01] vinothchandar commented on #1021
yes. and lets please move this to a JIRA asap.

I guess, you can create a new object with a differnt partition path using the constructor?

`new HoodieRecord (new HoodieKey(baseRecord.getRecordKey(), newPartitionPath), baseRecord.getData());`  should do. (there is a method on HoodieRecord itself to get the record key. Why do you need the type of the data? Just passing in a `HoodieRecordPayload` sh

[2019-12-09 04:06] nsivabalan commented on #1021
https://issues.apache.org/jira/browse/HUDI-389

[2019-12-09 05:11] vinothchandar commented on #1021
Added a link to this issue and tagged with the right fix version..  Closing this

[2019-12-09 05:11] #1021 closed

[2019-12-09 05:26] vinothchandar commented on #1084
Thanks for reporting this @nisheet195 . Your analysis seems correct. Raised a JIRA  https://issues.apache.org/jira/browse/HUDI-390

Any interest in submitting a patch? :)

[2019-12-09 06:00] Xiaobaxi commented on #143
hi @vinothchandar , please add me to slack? silencon@gmail.com - Thanks Alot

[2019-12-09 13:27] nisheet195 commented on #1084
Sure. Will take it up

[2019-12-09 15:03] lamber-ken commented on #1083
@Neo2007 , sorry for delay. you can use add param `--checkpoint topic_account_hudi,0:0`, it will work through

[2019-12-09 17:07] pmalafosse commented on #143
Please add me too: pierre.malafosse@letgo.com

[2019-12-09 20:30] nisheet195 commented on #1084
#1090

[2019-12-10 05:10] Neo2007 commented on #1083
Thank you. Actually, I was using older version of Apache Hudi, which doesn't contains this --chekpoint support.
I will be adding it manually.

[2019-12-10 05:10] #1083 closed

[2019-12-10 05:16] lamber-ken commented on #1083
You are welcome

[2019-12-10 17:50] vinothchandar commented on #1084
Merged the fix. Closing

[2019-12-10 17:50] #1084 closed

[2019-12-11 19:11] lamber-ken commented on #828
@imperio-wxm, you need to set the value of `DataSourceWriteOptions.HIVE_ASSUME_DATE_PARTITION_OPT_KEY()` to `false`.

### Why the first time can't get the data

Because, when you rewrite the partitioning method in order to parse `yyyy-mm-dd` form, it depends on the the return form of the method`PartitionValueExtractor#extractPartitionValuesInPath`.

For example, if you custom extractor like bellow

[2019-12-12 01:21] lamber-ken commented on #827
hi, `hoodie-hadoop-mr-0.4.7.jar` needs to be placed in hive lib folder, `--jars` works in a client mode.

[2019-12-12 13:24] Akshay2Agarwal opened #1101 "[SUPPORT] Does Hudi support incremental changes view in HoodieReadClient"
**I am not seeing any support for begin time for incremental view in HoodieReadClient. Does it support the incremental view?**

I was trying out Read Client of Hudi (hudi-client/src/main/java/org/apache/hudi/HoodieReadClient.java) but did not get method to perform time based queries using the same.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to hudi-client/src/main/java/org/apache/h

[2019-12-13 03:47] Akshay2Agarwal commented on #143
Please add me to the group: akshay.agarwal@grofers.com. Thanks in advance !

[2019-12-13 19:53] zbriesland commented on #143
please add me:
zack.riesland@xyleminc.com

[2019-12-13 20:23] vinothchandar commented on #1101
@Akshay2Agarwal IncrementalView is supported via a DataSource or SQL (with some configs)... Does that work for you? https://hudi.apache.org/querying_data.html#spark-incr-pull

[2019-12-15 03:06] Akshay2Agarwal commented on #1101
Sure I used that, instead of HoodieReadClient.

[2019-12-15 03:06] #1101 closed

[2019-12-16 06:07] akshaythakur1112 commented on #143
Please add me:
akshay.singh@pharmeasy.in

[2019-12-16 06:11] akshaythakur1112 commented on #143
Please add me:
akshay.amu.1111@gmail.com

[2019-12-16 14:13] #857 closed

[2019-12-17 19:13] jwo-salesforce commented on #143
please add jwo@salesforce.com thanks!

[2019-12-18 03:48] vinothchandar commented on #828
@lamber-ken  get the full context now.. `DEFAULT_HIVE_ASSUME_DATE_PARTITION_OPT_VAL` is `false` in fact.

[2019-12-18 04:05] lamber-ken commented on #828
Right, we also can change `assumeDatePartitioning` to `!assumeDatePartitioning` at `FSUtils#getAllPartitionPaths` to fix this issue, WDYT?

[code]

[2019-12-19 15:12] haospotai commented on #736
It's still same issue on 0.5.0 version

[2019-12-19 19:04] ChethanUK commented on #143
Hi @vinothchandar, Can you please add chethanuk@outlook.com Thanks!

[2019-12-20 01:44] c-f-cooper opened #1116 "lichangfu8888@gmail.com"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2019-12-20 01:48] leesf commented on #143
Hi, now you could click `join on slack` in https://github.com/apache/incubator-hudi readme, or click [here](https://join.slack.com/t/apache-hudi/shared_invite/enQtODYyNDAxNzc5MTg2LTE5OTBlYmVhYjM0N2ZhOTJjOWM4YzBmMWU2MjZjMGE4NDc5ZDFiOGQ2N2VkYTVkNzU3ZDQ4OTI1NmFmYWQ0NzE) to join.

[2019-12-20 02:25] lamber-ken commented on #1116
Hi, @c-f-cooper do you want to join on hudi-slack? you can click here and put your email.
https://join.slack.com/t/apache-hudi/shared_invite/enQtODYyNDAxNzc5MTg2LTE5OTBlYmVhYjM0N2ZhOTJjOWM4YzBmMWU2MjZjMGE4NDc5ZDFiOGQ2N2VkYTVkNzU3ZDQ4OTI1NmFmYWQ0NzE

[2019-12-21 03:47] haospotai commented on #828
I am using hudi-0.5.0

# here the raw data
[code]

## but when use run.sync.sh tool

 - Adding partitions 1 to table synctable
Exception in thread "main" org.apache.hudi.hive.HoodieHiveSyncException: Failed to sync partitions for table synctable
	at org.apache.hudi.hive.HiveSyncTool.syncPartitions(HiveSyncTool.java:172)
	at org.apache.hudi.hive.HiveSyncTool.syncHoodieTable(HiveSyncTool.java:107)

[2019-12-21 03:59] haospotai commented on #828
[code]

[2019-12-21 13:28] haospotai commented on #828
it's correct on hudi-0.5.0

[code]

[2019-12-21 13:40] lamber-ken commented on #828
hi, I guess you didn't use this parameter `DataSourceWriteOptions.HIVE_ASSUME_DATE_PARTITION_OPT_KEY`.

[2019-12-22 03:47] vinothchandar commented on #736
https://github.com/apache/incubator-hudi/blob/master/hudi-hive/run_sync_tool.sh#L30 Adds in all the jars.. and we use the script in the docker setup successfully. Could you reproduce this in the docker setup we have and we can go from there? Trying to understand if this an HIVE_HOME config issue..

[2019-12-22 23:33] haospotai commented on #828
Yes i did not use it,
Maybe the partition path should be like */*/*/, which will be more flexible
such as data  or location form if I understand correctly

On Sat, 21 Dec 2019 at 21:40, lamber-ken <notifications@github.com> wrote:

--
Thanks
Hao Li

[2019-12-23 01:52] haospotai commented on #736
Hi I add below code inside run_sync_tool, then It works , but I did not try it in docker
[code]

[2019-12-24 23:07] leesf commented on #1116
close for no further feedback.

[2019-12-24 23:07] #1116 closed

[2019-12-25 23:50] vinothchandar commented on #828
In that case, I am not sure why the code would not find the partitions it just wrote? is this S3? may be an eventual consistency issue?

[2019-12-25 23:54] vinothchandar commented on #736
I think the code assumes everything is in the hadoop conf

[code]

In either case, still cant understand how adding conf to the classpath will resolve the driver not being found.. is there a direct link? i.e do you know why exactly adding the `conf` directory helps?

[2019-12-26 09:12] cdmikechen opened #1140 "A suggestion that supporting a querying delete data methond in incremental view"
As we known, hudi have supported many method to query data in Spark and Hive and Presto. And it also provides a very good timeline idea to trace changes in data, and it can be used to query incremental data in incremental view.
In old time, we just have insert and update funciton to upsert data, and now we have added new functions to delete some existing data.

**[HUDI-328] Adding delete api to Ho

[2019-12-26 09:15] cdmikechen commented on #1140
I wonder what everyone's opinion is, please.

[2019-12-26 11:37] jeetgangele commented on #110
any idea where are they release hudi with EMR in Mumbai, India region.

[2019-12-27 00:57] cdmikechen opened #1144 "Is it possible to support SQL-like method?"
As we know, Hudi use spark datasource api to upsert data. For example, if we want to update a data, we need to get the old row's data first, and use upsert method to update this row.
But there's another situation where someone just wants to update one column of data. If we use a sql to describe, it is `update table set col1 = X where col2 = Y`. This is something hudi cannot deal with directly at p

[2019-12-27 15:41] vinothchandar commented on #1144
Can you please raise feature requests on JIRA and not here?  lets move the conversation to a JIRA :)

[2019-12-27 15:41] #1144 closed

[2019-12-30 00:28] cdmikechen commented on #1140
move to https://issues.apache.org/jira/projects/HUDI/issues/HUDI-480.
close it.

[2019-12-30 00:28] #1140 closed

[2019-12-30 00:30] cdmikechen commented on #1144
@vinothchandar OK! have moved to https://issues.apache.org/jira/projects/HUDI/issues/HUDI-481

[2019-12-31 19:35] lamber-ken commented on #828
We can discuss about it here, https://github.com/apache/incubator-hudi/pull/1105#issuecomment-569978944

[2020-01-03 03:38] c-f-cooper commented on #525
Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.6.0:exec (Setup HUDI_WS) on project hudi-integ-test: Command execution failed. Cannot run program "\bin\bash" (in directory "D:\code-rep
ository\github\incubator-hudi\hudi-integ-test"): CreateProcess error=2, 系统找不到指定的文件。 -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run

[2020-01-03 03:40] c-f-cooper opened #1171 "build the project error"
Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.6.0:exec (Setup HUDI_WS) on project hudi-integ-test: Command execution failed. Cannot run program "\bin\bash" (in directory "D:\code-rep
ository\github\incubator-hudi\hudi-integ-test"): CreateProcess error=2, 系统找不到指定的文件。 -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run

[2020-01-03 05:49] lamber-ken commented on #1171
hi @c-f-cooper, please reading `build source prerequisites`.
https://github.com/apache/incubator-hudi#building-apache-hudi-from-source.

![image](https://user-images.githubusercontent.com/20113411/71709022-ce6fde80-2e2f-11ea-8eca-558a5c03d636.png)

[2020-01-03 06:06] youzipi commented on #143
Please add me:
blake_12@qq.com

[2020-01-03 06:27] c-f-cooper commented on #1171
thanks

[2020-01-04 19:04] vinothchandar commented on #1171
If you are interested in taking up the windows build, please see HUDI-263 and may be drive it :)

[2020-01-04 19:04] #1171 closed

[2020-01-07 07:24] lamber-ken opened #1196 "[feedback] new site feedback"
**Feel free to provide your feedback**

@sivabalan
- https://issues.apache.org/jira/projects/HUDI/issues/HUDI-506

@yihua
- Smaller the font size of the docs
- Chinese docs

[2020-01-07 23:19] lamber-ken commented on #828
hi @imperio-wxm, this issue was fixed at master branch, if you have time, you can test again. :D

[2020-01-07 23:21] hmatu commented on #1196
Good job, 💯

[2020-01-09 10:07] RonBarabash opened #1202 "[SUPPORT] com.uber.hoodie.exception.HoodieIOException: IOException when reading log file + Corrupted Log File"
Hey Guys,
We encountered this error running Hudi with MergeOnRead and inline compaction.
I havent find anything related to this error + a way to recover from it.
Have u ever encountered this? What is the best way to recover from a corrupted log fie?
The first error to appear is `com.uber.hoodie.exception.HoodieIOException`
and the following one is:
`com.uber.hoodie.exception.CorruptedLogFileExcept

[2020-01-09 10:11] RonBarabash commented on #1202
[code]

[2020-01-09 12:35] cdmikechen commented on #1202
Maybe you can upgrade to hudi 0.5.1 ?

[2020-01-09 14:38] lamber-ken commented on #1196
ApacheCN, https://hudi.apachecn.org/docs/0.5.0

![image](https://user-images.githubusercontent.com/20113411/72076576-abae6000-3330-11ea-9483-2207ae65febe.png)

[2020-01-09 15:56] vinothchandar commented on #1202
`Did not find the magic bytes at the start of the block` ; this happens when a delta commit failed midway writing a block.. the scanner would be able to recover by seeking to next magic bytes.. Is that not happening?

if you don't mind, could you provide more context i.e series of events, workload characteristics, failure symptoms ? cc @n3nash I bet this sort of thing happens and we can recover ou

[2020-01-10 16:42] liujianhuiouc commented on #143
please add me: liujianhuiouc@163.com

[2020-01-11 00:35] lamber-ken commented on #1196
![image](https://user-images.githubusercontent.com/20113411/72195451-51ef8800-344d-11ea-98ff-da5e109cb836.png)

[2020-01-12 10:25] lamber-ken commented on #1196
Done.

[2020-01-12 10:25] #1196 closed

[2020-01-13 20:44] gfn9cho commented on #894
Hi, I am using EMR 5.28 with built in hudi support.
I was able to use hudi through spark-shell. However, when running a spark application as mentioned in the issue, I am getting the below error. Any pointers on how to resolve the conflict.
my build.sbt is pretty much similar..
`
Caused by: java.lang.NoSuchMethodError: org.apache.http.conn.ssl.SSLConnectionSocketFactory.<init>(Ljavax/net/ssl/SSLCon

[2020-01-14 13:11] RonBarabash commented on #1202
Input -> kafka, CDC events logs generated by debezium
Processing -> spark structured streaming, we do some spark sql on the events
Output -> Writing using spark to s3 with Hudi MergeOnRead
this is are the hudi config:
[code]

[2020-01-14 13:12] RonBarabash commented on #1202
this is the first error we are getting:
[code]

[2020-01-14 17:49] RonBarabash commented on #1202
Hey, im thinking this might be an s3 issue with inconsistency, we turned on `hoodie.consistency.check.enabled` and im thinking it solved, if it will not reproduce in the next couple of days i will close the issue.
10x

[2020-01-15 00:34] ssomuah opened #1228 "No FileSystem for scheme: abfss"
Hi,
I'm trying to use hudi to write to one of the Azure storage container file systems, ADLS Gen 2 (abfs://). The issue I'm facing is that in `HoodieROTablePathFilter` it tries to get a file path passing in a blank hadoop configuration. This manifests as `java.io.IOException: No FileSystem for scheme: abfss` because it doesn't have any of the configuration. Is there any way to work around this? Ho

[2020-01-15 08:02] loupipalien commented on #143
Please add me: loupipalien@gmail.com, thanks!

[2020-01-15 08:29] ChethanUK commented on #143
https://join.slack.com/t/apache-hudi/shared_invite/enQtODYyNDAxNzc5MTg2LTE5OTBlYmVhYjM0N2ZhOTJjOWM4YzBmMWU2MjZjMGE4NDc5ZDFiOGQ2N2VkYTVkNzU3ZDQ4OTI1NmFmYWQ0NzE

[2020-01-15 14:04] yanbigot opened #1230 "java.lang.NoSuchMethodError: org.apache.avro.Schema.getLogicalType()Lorg/apache/avro/LogicalType"
While running on yarn cluster with:
- spark 2.2.0
- hdp 2.6.4

Works on local env.

Here is my pom.xml
`<properties>
        <jdk.version.source>1.8</jdk.version.source>
        <jdk.version.target>1.8</jdk.version.target>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <build.id>NA</build.id>

        <maven.jar-plugin.version>2.6</maven.jar-plugin.version>

[2020-01-15 16:24] vinothchandar commented on #1034
This has been landed and verified!

[2020-01-15 16:24] #1034 closed

[2020-01-16 00:42] cdmikechen commented on #1230
In master branch right now, we need to use spark 2.4 with avro 1.8.2. If you want to use spark2.2, please use 0.5.0 release or branch 0.5.0

[2020-01-16 01:22] vinothchandar commented on #1228
hi.. Hudi only supports these schemes..

[code]

Not very familiar with azure myself.. but are you able use of these.. we can whitelist `abfs` as well if needed.. Please raise a JIRA if you needed it

[2020-01-16 07:10] tomas-sobotik opened #1235 "Compilation errors when following docker demo and building Hudi. Missing some java packages"
Hello,

I wanted to try Hudi and do the demo here: https://hudi.incubator.apache.org/docs/docker_demo.html

So I downloaded Hudi
`git clone https://github.com/apache/incubator-hudi.git && cd incubator-hudi`

And then wanted to build it
`mvn package -DskipTests`

But I got many compilations error about missing java packages like javax.xml.bind

See the output below

[ERROR] COMPILATION ERROR :
[INF

[2020-01-16 07:12] smarthi commented on #1235
Are u running Java 8?

[2020-01-16 07:14] tomas-sobotik commented on #1235
Oh, having Java 13..
`java 13.0.1 2019-10-15`

[2020-01-16 07:16] smarthi commented on #1235
U need Java 8 - not compatible yet with higher versions of Java

[2020-01-16 07:18] tomas-sobotik commented on #1235
Thanks I will install java 8 and try again

[2020-01-16 07:18] #1235 closed

[2020-01-16 14:00] ssomuah commented on #1228
The scheme I'm trying to use is supported (abfss). The problem is a blank Hadoop Configuration is passed in in `HoodieROTablePathFilter` so it never picks up any settings in my hadoop environment. Is JIRA the correct place to raise issues and not github?

[2020-01-17 01:19] melin opened #1238 "planned hudi-client not dependent on spark api?"
Hudi-client relies heavily on spark api and can be replaced?

[2020-01-17 07:23] melin opened #1240 "future support for multi-client concurrent write?"
future support for multi-client concurrent write?

[2020-01-17 13:32] leesf commented on #1240
@melin Yes, would support concurrent write in the future, but it won't not happen too soon.

[2020-01-17 13:33] leesf commented on #1238
Yes, we will implement on FLINK, Please refer to https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=141724520 for more context.

[2020-01-17 13:34] #1238 closed

[2020-01-17 13:34] #1240 closed

[2020-01-17 13:44] leesf commented on #1228
Yes, please use jira to raise issues.

[2020-01-17 18:39] n3nash commented on #1202
@RonBarabash @vinothchandar yes, there are checks in place to be able to recover from it. As you pointed out, this might be an underlying infra issue that hopefully goes away after your config changes

[2020-01-17 22:05] HariprasadAllaka1612 opened #1243 "[SUPPORT]Caused by: org.apache.hudi.exception.HoodieException: java.util.concurrent.ExecutionException: java.lang.NoSuchMethodError: org.apache.parquet.avro.AvroSchemaConverter.convert(Lorg/apache/avro/Schema;)Lorg/apache/parquet/schema/MessageType;"
I recently upgraded the Hoodie version and when i built the code and running it, i started getting this exception and there seems to something wrong with dependencies. could you please help me resolve this?
[code]

[2020-01-17 22:22] yihua commented on #1243
Could you share the version of Spark and Hadoop you're using?

This is likely due to version mismatch of Avro, similar to this issue #1230.  The current master uses Spark 2.4 with Avro 1.8.2 (bumped from 1.7.7).  The relevant commit is [here](https://github.com/apache/incubator-hudi/commit/ad50008a5946f15ee4ba4dd69ac514f11fed2034#diff-600376dffeb79835ede4a0b285078036).

[2020-01-18 02:34] duongnt commented on #757
@xuFabius have you found a solution for the issue? i'm looking at the same error now

[2020-01-18 17:42] vinothchandar commented on #1235
https://issues.apache.org/jira/browse/HUDI-553 to track this for longer term..

[2020-01-18 18:08] #1230 closed

[2020-01-18 18:08] #1070 closed

[2020-01-18 18:08] #1061 closed

[2020-01-18 18:12] vinothchandar commented on #1228
I think you are referring to
[code]

the path filter is instantiated by the query engine.. and if it does not add all the configs to class path, it will be empty.. Let me triage this and move it to JIRA

[2020-01-18 18:16] lamber-ken commented on #1230
Whether `maven-shade` plugin can reduce this affect or not ?

[2020-01-18 18:28] vinothchandar commented on #1230
Logical types are only in avro 1.8 IIUC.. we are dropping support for Spark 2.4 and lower anyway.. They are a couple year old at this point.. That said, we can think of providing more standard workarounds.. If one of you are interested in putting together a small blog, that talks about how to make 2.3, 2.2 spark work with master, that would be great

[2020-01-19 12:35] rongyousu opened #1254 "mvn clean package -DskipTests -DskipITs -Dhadoop.version=2.4.0 -Dhive.version=2.1.1"
[INFO] --- maven-compiler-plugin:3.7.0:compile (default-compile) @ hudi-common ---
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 178 source files to /tol/app/hudi/incubator-hudi/hudi-common/target/classes
[INFO] /tol/app/hudi/incubator-hudi/hudi-common/src/main/java/org/apache/hudi/common/io/storage/HoodieWrapperFileSystem.java: Some input files use or override a deprecated AP

[2020-01-19 12:36] rongyousu commented on #1254
why the hadoop=2.4.0  can't  mvn ,how can i do ?

[2020-01-19 23:17] vinothchandar commented on #1254
@rongyousu 2.4.0 is a really old hadoop version and the Hudi code may be using newer APIs and hadoop does not always provide backwards compatible ways for this.. Are you able to try a higher version like 2.6/2.7? even spark may not work at these  old hadoop versions

[2020-01-19 23:40] vinothchandar commented on #757
@duongnt could you open a new one with details for your environment?

[2020-01-20 08:13] HariprasadAllaka1612 commented on #1243
@yihua  I am using spark version 2.4.0 and avro version 1.8.1. should i be making any changes here

[2020-01-20 12:01] rongyousu commented on #1254
ok ,thanks

[2020-01-20 12:01] #1254 closed

[2020-01-20 14:38] ssomuah commented on #1228
Thank you for looking into this @vinothchandar. I opened a JIRA ticket like leesf said.
https://issues.apache.org/jira/browse/HUDI-539?orderby=created+DESC%2C+priority+DESC%2C+updated+DESC

[2020-01-20 15:11] pratyakshsharma commented on #1243
@HariprasadAllaka1612 Can you check your dependency tree to see if multiple avro versions are coming up from somewhere?

[2020-01-21 16:38] goldfix opened #1266 "BlockAlignedAvroParquetWriter does not support scheme s3n"
Hello,

When try to upload data to S3 return an exception.

**To Reproduce**

[code]

Code:

[code]

**Environment Description**

* Hudi version : org.apache.hudi:hudi-spark-bundle:0.5.0-incubating

* Spark version : 2.4.4

* Hadoop version : 2.7

* Storage (HDFS/S3/GCS..) : S3

* Running on Docker? (yes/no) : no

**Stacktrace**

[code]

[2020-01-21 18:10] vinothchandar commented on #1266
Might be because we only whitelist `s3` and `s3a`. are you able to use those? I think s3a is ,more performant anyway?

[2020-01-21 19:08] RonBarabash commented on #1202
not relevant anymore

[2020-01-21 19:08] #1202 closed

[2020-01-22 17:55] goldfix commented on #1266
Hi @vinothchandar and thanks.

I tried to correct my spark-shell command and solved:

[code]

Thanks

ciao
p

[2020-01-22 17:55] #1266 closed

[2020-01-27 09:13] haospotai opened #1284 "[SUPPORT]"
**Pyspark client failed sync table to hive**

A clear and concise description of the problem.

[code]

**Expected behavior**
use Pyspark for ETL and sync table to hive without failure

**Environment Description**

* Hudi version :release-0.5.0

* Running on Docker? (yes/no) yes

**Additional context**

**Stacktrace**

[code]

[2020-01-27 19:11] n3nash commented on #1284
@haospotai It looks like an issue with shading of jars -> The hadoop metastore jars are shaded in the bundle that you might be using but somehow a class hierarchy is expecting a non-shaded one ?

How are you starting the python client ? Could you paste the libs you are passing ?

[2020-01-27 19:13] lamber-ken commented on #1284
Hello @haospotai, thanks for reporting this bug.
`org.apache.hudi.org.apache.hadoop_hive.metastore.MetaStoreFilterHook` is relocated at an out-of date version of hudi project. Please build the latest hudi project.
[code]

[2020-01-27 19:16] lamber-ken commented on #1284
hi @n3nash, you can check `release-0.5.0`

https://github.com/apache/incubator-hudi/blob/1cfd311b40d814b87ede942f770324abdd1affea/packaging/hudi-spark-bundle/pom.xml#L153

![image](https://user-images.githubusercontent.com/20113411/73205730-916fe100-417c-11ea-9307-499e9346704f.png)

[2020-01-27 22:22] haospotai commented on #1284
[code]

[2020-01-27 23:45] haospotai commented on #1284
Hello @n3nash

[code]

[code]
The exception will be thrown by set ```"hoodie.datasource.hive_sync.enable", "true"```
Cuz the app syncs data to hive at the end

[2020-01-28 01:38] haospotai commented on #1284
hi @lamber-ken

i build the latest hudi version , the app is stucked  here
[code]

[2020-01-28 06:23] lamber-ken commented on #1284
hi @haospotai, can you show me  reproducible steps, thanks :)

[2020-01-28 06:42] haospotai commented on #1284
hi @lamber-ken

step 1 . git clone -b release-0.5.1 https://github.com/apache/incubator-hudi.git
step 2. cd incubator-hudi && mvn clean package -DskipTests -DskipITs
step 3. cd docker && ./setup_demo.sh
step 4.
[code]
step5 .  open spark UI  check apps status

[2020-01-28 11:36] lamber-ken commented on #1284
Hi @haospotai, give you a demo without sync to hive. When using the latest `release-0.5.1`, I met some error, I am tring to figure it out.

[code]

[2020-01-28 18:23] n3nash commented on #1284
@lamber-ken let's have follow up discussions on JIRA if needed. We want to limit interactions of GH issues please

[2020-01-29 07:55] haospotai commented on #1284
this is the branch
[code]

then use
[code]
error

[code]

[2020-01-29 07:57] haospotai commented on #1284
[code]

[2020-01-29 09:05] lamber-ken commented on #1284
I guess you already used old version, because at `release-0.5.1` version, `org.apache.hudi.org.apache.hadoop_hive.metastore` is not exists.

https://github.com/apache/incubator-hudi/blob/release-0.5.1/packaging/hudi-spark-bundle/pom.xml

[2020-01-29 09:06] lamber-ken commented on #1284
Got it, thanks

[2020-01-29 10:18] haospotai commented on #1284
[code]

[2020-01-29 10:25] lamber-ken commented on #1284
Okay, you try can the master branch? thanks
[code]

[2020-02-07 10:47] smdahmed commented on #661
We have used it in Investment Banking area from dev all the way into production. Hudi has been mainly used to build upsertable gas, energy and oil markets data where deals often need to get updated.

[2020-02-08 07:08] c-f-cooper opened #1313 "[SUPPORT]used in test inveroment"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2020-02-08 09:28] leesf commented on #1313
@c-f-cooper would you please provide more info?

[2020-02-11 09:54] tooptoop4 opened #1322 "[SUPPORT] where is 0.4.8 release as mentioned in 'Migration Guide' ?"
https://cwiki.apache.org/confluence/display/HUDI/Migration+Guide+From+com.uber.hoodie+to+org.apache.hudi

mentions 'Upgrade Hudi to 0.4.8 first'    but i can't find the 0.4.8 tag in git or jars on mvnrepo?

[2020-02-11 21:04] adamjoneill opened #1324 "Presto - select * from table does not work"
I have a parquet record created with hudi off a spark kinesis stream and stored in S3.

An AWS glue table is generated from this record. I update the InputRecord type to org.apache.hudi.hadoop.realtime.HoodieParquetRealtimeInputFormat as per instructions https://cwiki.apache.org/confluence/display/HUDI/Migration+Guide+From+com.uber.hoodie+to+org.apache.hudi

From the presto-cli i run

[code]

this

[2020-02-11 21:28] adamjoneill opened #1325 "presto - querying nested object in parquet file created by hudi"
**Describe the problem you faced**

Using an AWS EMR spark job to create a hudi parquet record in S3 from a kinesis stream. Querying this record from presto is fine, but I can't seem to query a nested column

Update: From my further investigation I think not being to query nested objects or using `select * from ...` is just a symptom of taking an array object off a kinesis stream and saving using

[2020-02-12 00:32] vinothchandar commented on #1322
I think what @bvaradar meant was `0.4.7`.

[2020-02-12 00:33] vinothchandar commented on #1322
Will wait for him to confirm and then update the wiki..

[2020-02-12 00:47] lamber-ken commented on #1325
Tip: Run hudi-spark-bundle:0.5.0-incubating, no need with `org.apache.spark:spark-avro_2.11:2.4.4`, it is needed when using hudi-spark-bundle:0.5.1-incubating. :)

[2020-02-12 01:37] matthewLiem opened #1326 "org.apache.hudi.exception.HoodieUpsertException: Error upserting bucketType UPDATE for partition :0"
Hello - using EMR (hudi 0.5, spark 2.4.4) and during upsert i'm running into the below error:

There were similar issues posted before, but not specific to ParquetDecodingException. I'm able to read the hudi table/data set directly so i dont think its related to the parquet files. I am trying to trim down the data and provide a repro but checking if anyone has pointers.  This is a non partitioned

[2020-02-12 03:21] lamber-ken commented on #1326
Hi @matthewLiem, thanks for report this. Does this issue always happen?

[2020-02-12 03:43] matthewLiem commented on #1326
yup - it's happening consistently. i've reduced input data to a single file and still seeing error. Also regardless of upsert/delete, i get the error. will see what else i can run to help isolate the issue and try to produce a sample data file for repro

[2020-02-12 03:49] lamber-ken commented on #1326
Got it, trying to figure out it. Also, it's nicer if there is a sample data can reproduce this. :)

[2020-02-12 10:05] adamjoneill commented on #1325
thanks @lamber-ken

I've updated my deploy step to remove all references to org.apache.spark:spark-avro_2.11:2.4.4
[code]

and i receive the following error, where no hudi file is created for a streaming record

[code]

if i add the arvo dependency as a jar, rather than a package as above, the hudi directory and meta data is created, but no data is saved. ie missing the default directory i was exp

[2020-02-12 10:51] lamber-ken commented on #1325
I guess you used `release-0.5.1` or master branch.

`release-0.5.0` use `com.databricks.spark.avro.SchemaConverters`.
`release-0.5.1` use `org.apache.spark.sql.avro.SchemaConverters`.

Source Code:
https://github.com/apache/incubator-hudi/blob/release-0.5.0/hudi-spark/src/main/scala/org/apache/hudi/AvroConversionUtils.scala

https://github.com/apache/incubator-hudi/blob/release-0.5.1/hudi-spark/sr

[2020-02-12 18:05] adamjoneill commented on #1325
i've managed to narrow down the issue to the data that is coming off the kinesis stream.

when i replace the data from the stream with some test data as follows

with the following code:

[code]

i replaced

[code]

with

[code]

and the `select * from table` worked as well as nested query `select id, bar.id, bar.name from table`

So at this stage it's looking like there's an issue with the data a

[2020-02-12 18:45] adamjoneill commented on #1324
i'll close this, i believe to be related to https://github.com/apache/incubator-hudi/issues/1325

[2020-02-12 18:45] #1324 closed

[2020-02-12 20:30] bwu2 opened #1328 "Hudi upsert hangs"
**Describe the problem you faced**
When we upsert data into Hudi, we're finding that the job just hangs in some cases. Specifically, we have an ETL pipeline where we re-ingest a lot of data (i.e. we upsert data that already exists in the Hudi table). When the proportion of data that is not new is very high, the Hudi spark job seems to hang before writing out the updated table.

Note that this curr

[2020-02-12 22:10] popart opened #1329 "[SUPPORT] Presto cannot query non-partitioned table"
**Describe the problem you faced**

I made a non-partitioned Hudi table using Spark. I was able to query it with Spark & Hive, but when I tried querying it with Presto, I received the error `Could not find partitionDepth in partition metafile`.

**To Reproduce**

Steps to reproduce the behavior:

1. Use an an emr-5.28.0 cluster
2. Run spark shell:
[code]
3. Run spark code:
[code]
4. Querying the t

[2020-02-12 22:18] matthewLiem commented on #1326
Thanks for the help @lamber-ken. The issue was due to a mismatch in data types between the hudi table and the DF we're looking to UPSERT. Casting properly and ensuring schema matched types across both resolved the issue.

[2020-02-12 22:18] #1326 closed

[2020-02-12 23:33] bwu2 commented on #1328
An update on this: the job did eventually complete. But took 2.4 hours (other similar jobs ran more than 9 hours before we had to kill them). This doesn't seem reasonable for such a small table.

[2020-02-13 00:09] lamber-ken commented on #1326
@matthewLiem welcome :)

**Record some  notes:**

Change `lit(123456)` to `lit(123456L)`

[code]

Reproduce steps:
[code]

[data.parquet.zip](https://github.com/apache/incubator-hudi/files/4195852/data.parquet.zip)

[2020-02-13 01:27] vinothchandar commented on #1328
Reposting my response here..

There seems to be a lot of common concerns here.. https://cwiki.apache.org/confluence/display/HUDI/Tuning+Guide is an useful resource, that hopefully can benefit here..

Few high level thoughts:
It would be good to layout if the most time spent is on the indexing stages (ones tagged with HoodieBloomIndex) or the actual writing..
Hudi does keep the input in memory to c

[2020-02-13 01:31] vinothchandar commented on #1329
@bhasudha can you please help out here

[2020-02-13 01:31] vinothchandar commented on #1325
cc @bhasudha as well

[2020-02-13 02:05] bwu2 commented on #1328
@vinothchandar Thanks for taking the time to reply!

Let me describe the simplest example of this problem on a tiny COW data set: Create a data frame with 4m rows and one column with values 1, 2, 3....4m in that column. Bulk insert that into Hudi (using the one column as the {{recordkey}}). This takes ~1 minute to run and the data size is about 30MB. Now upsert the same data frame into the table a

[2020-02-13 13:13] adamjoneill commented on #1325
Futher update
I've narrowed it down to the array on the nested object.

The following works when i place the following object on the kinesis stream

[code]

but when placed on the kinesis stream with an object in the array it fails

[code]

[2020-02-13 14:19] adamjoneill commented on #1325
Had some success, if i added a property to the object of simple type ie. not a nested object it appears to work.

[code]

[2020-02-13 19:02] vinothchandar commented on #1325
@adamjoneill I am wondering if this is simply a presto issue.. Hudi/Presto integration leaves all of the query planning and parquet reading to Presto itself..  Do you suspect , it is due to the way Hudi writes the parquet data?  I have seen tons of nested data being queries successfully using hudi and presto, so trying to understand..

[2020-02-13 19:31] adamjoneill commented on #1325
@vinothchandar from my investigation above it would suggest it to be how hudi writes parquet data.

Whilst limited in its scope, and many moving parts, my investigation involved

1. taking a record that includes an array of complex objects (no primitive or "simple" types belong to the array item object) off the kinesis stream
2. saving it to parquet in S3 using the dataFrame API
3. then using the

[2020-02-13 21:57] vinothchandar commented on #1328
There must be something else going on.. just used my own benchmark jobs to generate a pattern where the records are fully overwritten in a second (and a third) batch and it actually finishes fine..

[code]

and the times below in ms

[code]

Can we drill into your dataset?  are you generating tons of files due to granular partitionining? can you share the spark UI and the hudi cli output like abov

[2020-02-13 22:00] vinothchandar commented on #1325
@adamjoneill Hmmm. this is surprising..

- Does a `select * from table` on hudi table work using spark sql?  could you give this a shot (trying to narrow this down)
- Are you able to provide a simple reproducible use-case using spark.parallelize() as you were trying before.

I can then take a deeper look.. @bhasudha please chime in as well

[2020-02-14 00:26] bhasudha commented on #1329
@popart  The stack trace you showed looks like somehow a partition metafile (".hoodie_partition_metadata") is created in the table path. If this file is present, Hudi tries to read the partition depth from this file by searchign for the key "partitionDepth" in that metafile. An exception "Could not find partitionDepth in partition metafile" is thrown in this case. Can you quickly check if this par

[2020-02-14 02:47] bwu2 commented on #1328
Ok, thanks for this.

I have run the jobs again. First, insert 4m records, then upsert 3m of them, then upsert 4m, then upsert 4m. The two jobs upserting 3m records work fine and quickly, but the one where upsert 4m takes >200 times as long.

My results (from a synthetic dataset) are:
`hudi:json_data->commits show --limit 4
╔════════════════╤═════════════════════╤═══════════════════╤══════════════

[2020-02-14 05:48] bwu2 commented on #1328
Ok, after reading https://github.com/apache/incubator-hudi/issues/800 (which is simialr), I think this is a memory issue (even though GC seems to be a small proportion of the total time, according to the Spark history server & we're not getting any OOME).

When I double the `spark.executor.memory` the job runs much faster. I'm sure there are maybe other optimizations and/or tuning I can consider a

[2020-02-14 08:21] amitsingh-10 opened #1335 "[SUPPORT] HoodieDeltaStreamer Kafka offset reset config not being read"
**Describe the problem you faced**
I am trying to create a Hoodie table using `HoodieDeltaStreamer` from Kafka Avro topic. Setting `auto.offset.reset` to `earliest` should read from the first events available in the Kafka topic however, it is being overriden by `org.apache.spark.streaming.kafka010.KafkaUtil`.

**To Reproduce**

Steps to reproduce the behavior:

1. Use an EMR emr-5.23.0 cluster.
2.

[2020-02-14 08:56] jinshuangxian commented on #954
Hi, is there a new version of aws-glue-data-catalog-client-for-apache-hive-metastore？

[2020-02-14 09:18] lamber-ken commented on #1335
hi @amitsingh-10, `0.5.1-incubating` built with spark-2.4.4, as you reported, `KafkaUtils#fixKafkaParams` will overried these properties.

IMO, you can use `0.5.0-incubating` which built with spark-2.1.0. `KafkaUtils` does not overried these properties.

[2020-02-14 11:07] amitsingh-10 commented on #1335
Thanks for the reply @lamber-ken. I tried working with `0.5.0-incubating` however I am getting the following error now :
[code]

The stacktrace for the same is :
[code]

This was fixed by following [pull request](https://github.com/apache/incubator-hudi/pull/650) and is available in the `0.5.0-incubating` version of Hudi. Correct me, if I am wrong. I have changed the `auto.offset.reset=smallest` i

[2020-02-14 13:20] adamjoneill commented on #1325
@vinothchandar I've managed to reproduce with a simple spark.parallelize() example.

test.scala
[code]

deploy.sh
[code]

build.sbt
[code]

AWS glue job runs over the output s3 directory.

From the presto EMR instance the result when simple object included on the array item:
[code]

error message when running query on the example code without a simple property on the array item
[code]

[2020-02-14 13:22] lamber-ken commented on #1335
That pr is used to check up checkpoint offsets is valid or not. Bad to see use `0.5.0-incubating` version didn't work. BTW, what's your kafka server version.

[2020-02-14 13:35] lamber-ken commented on #1335
We need to back to `0.5.1-incubating` version, then try to find a valid way to solve it. : )

[2020-02-14 15:13] amitsingh-10 commented on #1335
The Kafka version is `2.1.0-cp2`. Also is there any PR/issue where I can better understand why fixKafkaParams is being called in `0.5.1-incubating` even when I am providing all the necessary parameters?

[2020-02-14 15:25] lamber-ken commented on #1335
The `KafkaUtils#fixKafkaParams` method in `spark-streaming-kafka-0-10_2.11-2.4.4`, and KafkaUtil being experimental in spark-streaming-kafka-2.4.4. Can you try use a new consumer group?

![image](https://user-images.githubusercontent.com/20113411/74543766-f00ccb80-4f80-11ea-8ace-6fa08b69069e.png)

[2020-02-14 18:18] amitsingh-10 commented on #1335
Didn't help. I had already tried, but I tried it again with the `0.5.1-incubating` version. However, still getting the same error as mentioned in the original stack trace.

 Is this a problem because of my Spark version mismatch with the Hudi's spark version? Should I try building Hudi with my spark version?

[2020-02-14 19:59] vinothchandar commented on #1325
Thanks @adamjoneill let me try to reproduce as well and see whats going on tonight.

[2020-02-14 20:02] vinothchandar commented on #1328
Even #800 is a reasonable workload.. I don't understand what's going on here .. Its just a single file being versioned.. same as the next two commits, which seems to be faster.. Is there a way you can give me a reproducible snippet of code? (I think you mentioned this is synthetic data)

[2020-02-14 20:08] bhasudha commented on #1325
@adamjoneill  apologies for the delayed response. Havent gotten a  chance to look at  this thread. Let me also try and reproduce this and get back soon.

[2020-02-14 20:19] bwu2 commented on #1328
See: https://gist.github.com/bwu2/e432a42f51519f27197f4785af3e1abf

[2020-02-14 22:49] popart commented on #1329
HI Bhavani! Thank you for taking a look. I filed https://issues.apache.org/jira/browse/HUDI-614. Correct the Presto version is .227. I tried running the spark-shell with both the Hudi 0.5.0 and the 0.5.1 jars, but got the same result. The EMR version has Hudi 0.5.0 installed, and I didn't specify anything different when running presto-cli, so I'd assume Presto is using the 0.5.0 version.

[2020-02-14 23:40] lamber-ken commented on #1335
I test `0.5.1-incubating` and set auto.offset.reset=earliest, it works well in my local env.
Spark: spark-2.4.4-bin-hadoop2.7
Kafka: kafka_2.11-0.10.2.1

[2020-02-15 00:00] lamber-ken commented on #1335
From the stackstrace, the application will read three partition, can you check the range is availabel in kafka?
[code]

[2020-02-15 09:52] amitsingh-10 commented on #1335
Those offsets are not available in the topic. So, I had set the parameter `auto.offset.reset=earliest` for it to pick up from the last offset available.

[2020-02-15 10:29] lamber-ken commented on #1335
If so, to figure out it we may need more debug log. esp in `org.apache.hudi.utilities.sources.helpers.KafkaOffsetGen#getNextOffsetRanges` method.

build the hudi source
[code]

[2020-02-15 13:10] amitsingh-10 commented on #1335
Okay, so I put in some log debugs in the `KafkaOffsetGen#getNextOffsetRanges` function. What I found was that Hudi had a previous checkpoint registered with it. However, I am working on understanding why it was restarting the sync with starting offset as 0 after checking valid offset because the offset. What was also interesting is when I ran the following code piece :
[code]
It printed nothing wh

[2020-02-15 13:33] lamber-ken commented on #1335
Good job !

[2020-02-17 06:18] amitsingh-10 commented on #1335
Closing this issue since I could not find so far anything wrong from Hoodie's end. Thanks for all the help!

[2020-02-17 06:18] #1335 closed

[2020-02-18 18:58] vinothchandar commented on #954
@umehrot2 Looks like glue integration keeps coming up :).. Do you want to chime in here? May be we good to also track some follow up from these issues (if any) towards the next release? Let me know if you are interested in driving this

[2020-02-18 18:59] vinothchandar commented on #1328
Started on this.. Was trying to port to scala, since I am not super familiar with pySpark. Will resume today and circle back. :)

[2020-02-18 22:42] umehrot2 commented on #954
@jinshuangxian This particular issue has been fixed since our first release of Hudi on emr-5.28.0. So, you can use either `emr-5.28.0` or `emr-5.29.0` without this issue. Let me know if you are running into an actual issue.

[2020-02-18 22:45] umehrot2 commented on #954
@vinothchandar I am happy to take up this integration piece. I have been keeping a close track on all the discussions around hive/glue catalog sync issues, and most of them have been around misconfigurations. One issue that is relevant is that schema evolution does now work against Glue catalog and I will create a JIRA for that.

I also think we can add some questions related to glue in the FAQ re

[2020-02-19 07:18] tooptoop4 opened #1342 "[SUPPORT] do cow tables need to be converted when changing from hoodie to hudi?"
this mentions running utility to convert mor files
Migration Guide From com.uber.hoodie to org.apache.hudi - HUDI - Apache Software Foundationfiles

if i have hoodie cow files from 0.4.6 do i need to run convert utility or can hudi 0.5.1 read/write to it naturally?

[2020-02-19 17:25] vinothchandar commented on #1328
I ported your code to scala and looking into the issue now.. Will keep you posted.

[code]

[2020-02-20 01:30] bhasudha commented on #1325
@adamjoneill I found some related issues to querying nested parquet fields in Presto - https://github.com/prestodb/presto/pull/10852, https://github.com/prestodb/presto/pull/9156, https://github.com/prestodb/presto/pull/10849 . I am wondering if your use case might be one of those backward compatibility cases. I am yet to reproduce this. Have you already looked into these threads to see if there a

[2020-02-20 01:47] lamber-ken commented on #1342
hi @tooptoop4, I test it in my local env. No need to run any convert utility.

**Notice:**
- Change `com.uber.hoodie` to `org.apache.hudi`
- Better to improve spark to 2.4.4 version
- Add `org.apache.spark:spark-avro_2.11:2.4.4` to start command
[code]

[2020-02-20 01:51] vinothchandar commented on #1342
Thanks for confirming @lamber-ken !

[2020-02-20 11:17] lamber-ken commented on #1328
Hi @vinothchandar, follow your steps

**Analysis**:

Upsert (4000000 entries)
[code]

Hang stackstrace (DiskBasedMap#get)
[code]

Average time of `DiskBasedMap#get`
[code]

So, when write data to parquet file, needs 3849125(entries) * 4ms(avg) = 15396s.
It takes a long time.

More, add option `option("hoodie.memory.merge.max.size", "2004857600000")`, just need about 2.7min
![image](https://user-im

[2020-02-20 11:21] lamber-ken commented on #1328
Hi @bwu2, add option when upsert `option("hoodie.memory.merge.max.size", "2004857600000")`, let's try again : )

[2020-02-20 15:58] vinothchandar commented on #1328
@lamber-ken is right.. I am looking into why the DiskBasedMap is so slow (there was a recent change.. wondering if its a regression.. ) Will raise a JIRA nonetheless..

So bit more explanation..The big difference is that all 4M entries go to one file and its a degenerate workload (i.e a single field record) where the metadata to data overhead is lot.. We have a spilling mechanism to handle large n

[2020-02-20 17:08] vinothchandar commented on #1328
https://issues.apache.org/jira/browse/HUDI-625 filed this to look into this scenario..

@bwu2 In the meantime, could you run your benchmark against a real dataset with more fields so number of files spread out and record sizes are larger.

[2020-02-20 18:35] vinothchandar commented on #954
@umehrot2 For some of the misconfigs, we could add it to the troubleshooting guide that @pratyakshsharma is putting together.. This will reduce our support cost significantly ..

+1. thanks @umehrot2 for being so awesome

[2020-02-21 00:58] bwu2 commented on #1328
Thanks for your replies!

 @lamber-ken I will try again with that setting. Does increasing the memory available by setting `option("hoodie.memory.merge.max.size", "2004857600000")` work better than increasing executor memory or`hoodie.memory.merge.fraction`? Will it not result in an OOME?

@vinothchandar Yes, we are re-running against real datasets in the next couple of days. I will report back. B

[2020-02-21 01:16] vinothchandar commented on #1328
@bwu2 Got it.. I think the root issue is that the map is spilling more than needed. I am trying to understand why.. Will update the JIRA as I uncover stuff. if its easy, we can target a fix in the next 0.5.2 release itself.

[2020-02-24 05:29] apoorva007 commented on #143
Please add me : apoorva.aggarwal@grofers.com

[2020-02-24 09:21] pushpavanthar commented on #143
please add me pushpavanthar@gmail.com

[2020-02-24 18:18] vinothchandar commented on #1329
@bhasudha let's look at this more closely and confirm whats going on here? This stack trace indicates, just ipf.getSplits() being called.. and thus its general code. We do have tests around querying non-partitioned tables.. So need to reproduce this in docker setup or sth and go from therE?

[2020-02-24 20:14] selvarajperiyasamy commented on #143
Please add me selvaraj.periyasamy1983@gmail.com

[2020-02-24 21:17] adamjoneill commented on #1325
@bhasudha thanks for the links. I think i'd need to learn how to debug the hudi application to get a better understanding of what's happening. Is this something you could point me in the direction of?

[2020-02-24 22:20] popart commented on #1329
Update: This problem does not occur in the docker environment. In the docker demo env, I was able to create a non-partitioned table in Spark (saved to hdfs), use run_sync_tool.sh to sync it to hive, and then query it successfully from presto. (It still made the .hoodie_partition_metadata file though).

[2020-02-26 13:38] praddy commented on #588
Was this performance issue fixed? I am asking because we are facing this performance problem still in release-0.5.1-incubatinb

[2020-02-26 17:08] tooptoop4 opened #1359 "[SUPPORT] handle partition value containing colon ?"
I am writing data to S3 and partitioning on a string column that may contain colon. How to make hudi handle this?
[code]

[2020-02-26 17:21] popart commented on #1329
I found the problem. We had client-side encryption configured for Spark & Hive using EMRFS, but not for Presto.

[2020-02-26 17:21] #1329 closed

[2020-02-27 05:23] vinothchandar commented on #588
cc @umehrot2  is this issue similar?
@praddy you mean its the same hudi table in HDFS vs S3 ? Can you please clarify

[2020-02-27 15:23] rafaelhbarros commented on #143
Could you please add me: rbarros@indeed.com? Thank you.

[2020-02-28 17:07] vinothchandar commented on #1359
hdfs paths cannot contain `:` I think..  is your partitionpath correct.. seems too granular?

[2020-02-28 18:47] tooptoop4 commented on #1359
it is timestamp data

[2020-02-28 18:48] tooptoop4 commented on #1359
with metorikku these automatically get encoded ie %20 or the like

[2020-02-29 05:50] vinothchandar commented on #1359
@tooptoop4 can you please provide a snippet to reproduce this? I can look into this then

[2020-02-29 21:39] bhasudha commented on #1325
@adamjoneill I tried to reproduce this in local docker (little modification to Hudi docker demo setup) and could not.  I am able to select * on both the schemas ( with and without the simple identifier in the array element). Here is the setup and  reproducing steps.

I am using the hoodie docker demo setup on latest master.
Hudi version : 0.5.2-incubating
Spark version : 2.4.4
Hive version : Hive

[2020-03-01 10:22] meijies commented on #143
Could you please add me to Slack :) email is meijie.work@gmail.com? Thank you

[2020-03-03 19:03] vinothchandar commented on #1328
Fix landed on master

[2020-03-03 19:03] #1328 closed

[2020-03-04 12:38] abhaygupta3390 opened #1371 "[SUPPORT] Upsert for S3 Hudi dataset with large partitions takes a lot of time in writing"
**Describe the problem you faced**

I have a batch stream processing spark app in which I take a bunch of upserts and write the result at a s3 location in hudi format. The application is running on an EMR cluster.
The dataset has 3 partition columns and the overall cardinality of the partitions is roughly 200 * 2 * 12.
After the commit and clean is done, the method `createRelation` is invoked whic

[2020-03-04 16:20] eigakow opened #1375 "[SUPPORT] HoodieDeltaStreamer offset not handled correctly"
**Describe the problem you faced**

I am trying to implement a continuous DeltaStreamer (`hudi-0.5.1-incubating`) from Kafka source with 3 partitions, which has been running for a while, so the earliest offsets are no longer available on Kafka server. While connecting with a new target-base-path:
- the first message is processed correctly
- the second one fails with `'org.apache.kafka.clients.cons

[2020-03-04 16:50] lamber-ken commented on #1375
Tring to reproduce it.

[2020-03-05 00:12] umehrot2 commented on #1371
@vinothchandar this is exactly what I was talking about. This easily becomes a bottleneck as the driver spends time filtering out the files that it gets from `InMemoryFileIndex` as filtering is not distributed. My suggestion here is, at the time of ingestion we just return an `EmptyRelation` once **HoodieSparkSqlWriter** has done its job, because write now we end up creating a relation even at wri

[2020-03-05 01:17] umehrot2 commented on #1371
Created a Jira for this issue https://issues.apache.org/jira/browse/HUDI-656

[2020-03-05 06:54] abhaygupta3390 commented on #1371
@vinothchandar No, I am using the df write api. Sample code snippet:
[code]

[2020-03-05 15:41] melkimohamed opened #1376 "Problem Sync Hudi table with Hive"
**probleme Hudi 0.5 with hive 2.1.0 **

**Describe the problem you faced**

 I use hudi 0.5 with spark 2.2 and hive 2.1.0, always the same problem it is not possible to sync hudi table with hive.
i suspect that hudi 0.5 is not compatible with hive2.1.0, could you please confirm me ?

**To Reproduce**

in my cluster i use the tow Hudi jars:
- hudi-spark-bundle-0.5.0-incubating.jar
- hudi-hive-bundl

[2020-03-05 15:51] lamber-ken commented on #1376
`HoodieCombineHiveInputFormat.java` can not work with under hive-2.3.x version.

Steps: (build with hive-2.1.0)
[code]

[2020-03-05 16:33] melkimohamed commented on #1376
yes I already tested and I loaded the two jars files (hudi-hive-bundle-0.6.0-SNAPSHOT.jar for hiveserver and hudi-spark-bundle_2.11-0.6.0-SNAPSHOT.jar for spark   but I encountered another problem, below the errro:
[code]

[2020-03-05 16:39] lamber-ken commented on #1376
hi, please use spark-2.4.4

![image](https://user-images.githubusercontent.com/20113411/76003379-ef91a000-5f42-11ea-991f-ab6bb437f2f0.png)

[2020-03-05 16:41] lamber-ken commented on #1376
Or, you can checkout 0.5.0 and rm `HoodieCombineHiveInputFormat.java`, compile again.
https://github.com/apache/incubator-hudi/tree/release-0.5.0

[2020-03-05 18:11] lamber-ken commented on #1375
hi @eigakow, can you check the first commit content, like bellow?
[code]

[2020-03-06 02:26] ouyang666 commented on #143
Please add me: 937046431@qq.com

[2020-03-06 18:25] vinothchandar commented on #1371
@abhaygupta3390  we will get this fixed in the next release.. @umehrot2 do you have a patch to share already?

[2020-03-06 19:04] bvaradar commented on #1376
@lamber-ken : Regarding HoodieCombineHiveInputFormat not working with Hive-2.1.0, Is there a jira for it. If not, can you create one ?

But this issue looks like it is unrelated to HoodieCombineHiveInputFormat though.

@melkimohamed : As @lamber-ken  mentioned, can you try with Spark-2.4.4 runtime and see if you are encountering any issues.

[2020-03-06 20:55] bvaradar commented on #1375
@eigakow : Can you try the below patch  to see if the issue goes away. If you can confirm this works, I can put a PR to fix in the next version.

diff --git a/hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/KafkaOffsetGen.java b/hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/KafkaOffsetGen.java
index 4ad88556..2989f200 100644
--- a/hudi-utilities/src/

[2020-03-06 20:59] bvaradar commented on #1375
Jira : https://jira.apache.org/jira/browse/HUDI-669

[2020-03-06 21:44] bvaradar commented on #1359
@tooptoop4 : Pinging to see if this is still an issue. If not, we can close this ticket.

[2020-03-06 21:45] bvaradar commented on #1342
Closing this ticket as it is answered.

[2020-03-06 21:45] #1342 closed

[2020-03-06 21:57] bvaradar commented on #1325
Thanks @bhasudha . Assigning the ticket to you as you are leading the investigation.

[2020-03-06 22:04] bvaradar commented on #1313
Closing this due to inactivity.

[2020-03-06 22:04] #1313 closed

[2020-03-06 22:21] bvaradar commented on #1243
@HariprasadAllaka1612 : Can you check with Hudi 0.5.1 version where we have upgraded to Spark 2.4.4 and Avro 1.8.2.  Please reopen if you are still seeing this issue.

[2020-03-06 22:21] #1243 closed

[2020-03-06 22:26] bvaradar commented on #1371
@umehrot2 : Assigning this github issue to you.  Corresponding Jira : https://jira.apache.org/jira/browse/HUDI-672 If there is already a tracking Jira, please feel free to close this one.

[2020-03-06 22:28] bvaradar commented on #1284
@haospotai : Can you confirm if you are still having issues. It is not very clear to me.

@lamber-ken : I see discussion about Jira. Are there any tracking jira already. If so, can you add the Jira as a comment for reference.

[2020-03-06 22:30] bvaradar commented on #910
@bhasudha : Can you kindly let me know if this is documented so that we can close this ticket.

[2020-03-06 22:33] bvaradar commented on #894
Closing this ticket due to inactivity. Hudi 0.5.1-incubating is now available with Spark 2.4.4. and avro 1.8.2 compile time dependency. @firecast : Please feel free to reopen if you still running into issues.

[2020-03-06 22:33] #894 closed

[2020-03-06 22:34] bvaradar commented on #828
Closing this due to inactivity.

[2020-03-06 22:34] #828 closed

[2020-03-06 22:35] bvaradar commented on #652
Closing this due to inactivity.

[2020-03-06 22:35] #652 closed

[2020-03-06 22:41] melkimohamed commented on #1376
Thanks @lamber-ken and @bvaradar , i resolved the problem by deleted HoodieCombineHiveInputFormat class and rebuild the project with hive 2.1.0 version

[2020-03-06 22:41] #1376 closed

[2020-03-06 23:22] bhasudha commented on #998
closing this in favor of https://issues.apache.org/jira/browse/HUDI-58

[2020-03-06 23:22] #998 closed

[2020-03-07 07:58] lamber-ken commented on #1376
hi @bvaradar, some api in `HoodieCombineHiveInputFormat` are not compatible with hive older versions.
compile will throw error if don't remove it.

[2020-03-07 08:01] lamber-ken commented on #1284
hi @bvaradar, this has been fixed at master branch https://github.com/apache/incubator-hudi/blob/master/packaging/hudi-spark-bundle/pom.xml

[2020-03-07 18:02] bvaradar commented on #1284
Thanks @lamber-ken. Will wait for @haospotai to confirm if there are no more issues and we can close this ticket.

[2020-03-07 18:08] bvaradar commented on #1376
Thanks @lamber-ken.

[2020-03-07 18:10] bvaradar commented on #1322
Thanks @tooptoop4  for reporting the issue. It should have been 0.4.7. I have updated the wiki

[2020-03-07 18:10] #1322 closed

[2020-03-07 19:42] utk-spartan opened #1384 "[SUPPORT] Hudi datastore missing updates for many records"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Overvie

[2020-03-08 02:37] vinothchandar commented on #1384
Does sound weird and the fact that you can repro on dev environment suggests may be this is a data issue? Can you see any errors reported in the commit metadata.

[2020-03-08 16:55] vinothchandar commented on #1384
Hmmm the datasource does fail the commit if there are such errors..

[code]

In any case, having some information on workload,  MOR vs COW and % of missing records would help debug more.. Did you also have the issue on 0.4.7? or only after you upgraded to 0.5.1?

[2020-03-09 15:41] eigakow commented on #1375
Thank you for the quick support. I will try this in a couple of days, as only then I'll have access to that system.
I will keep you informed.

[2020-03-09 15:49] bvaradar commented on #1384
@utk-spartan : Please provide more details for us to help here.

[2020-03-10 16:33] bvaradar commented on #1359
Closing this ticket due to inactivity.

[2020-03-10 16:33] #1359 closed

[2020-03-10 22:06] bhasudha commented on #910
This is not documented yet. I created a jira issue to track this - https://issues.apache.org/jira/browse/HUDI-691. Will close the GH issue to track this in Jira further.

[2020-03-10 22:06] #910 closed

[2020-03-11 10:48] jainnidhi703 commented on #1384
The issue was prevailing on 0.4.7, so we thought maybe it was due to https://github.com/apache/incubator-hudi/issues/418, and upgraded to Hudi 0.5.1. But the issue still prevails.

[2020-03-11 12:00] raimarkuehnsiemens commented on #143
Can you add me: raimar.wagner@siemens.com?
Thanks!

[2020-03-11 12:37] adamjoneill commented on #1325
@bhasudha your example looks fine. Apart from the different environment set ups it looks like you were able to query a record without a nested simple item successfully.

[2020-03-11 16:31] eigakow opened #1398 "[SUPPORT] DeltaStreamer - NoClassDefFoundError for HiveDriver"
**Describe the problem you faced**

Using DeltaStreamer with --enable-hive-sync throws `java.lang.NoClassDefFoundError: org/apache/hive/jdbc/HiveDriver` error.
Should I change something in the default compilation process to include this class?

**To Reproduce**

Steps to reproduce the behavior:

1.  Properties file:
[code]
2. Launch spark-submit with HoodieDeltaStreamer
[code]
**Expected behavior*

[2020-03-11 16:52] bvaradar commented on #1384
@jainnidhi703 : Is this MOR  or COW table. Also, Can you give us some idea of % of missing records. Also, can you inspect Spark logs to see if there are any other failures ?

[2020-03-11 16:56] utk-spartan commented on #1384
This is for COW tables, upon analyzing the data , missing record updates were below 0.01 % for old updated data but have recently increased to around 20-30%.

Can't find any failures in spark logs.

[2020-03-11 16:59] utk-spartan commented on #1384
Can this have some relation with https://issues.apache.org/jira/browse/HUDI-409 , as we recently encountered parquet corruption errors (magic numbers mismatch) while reading from presto on a fresh hudi table.

[2020-03-11 17:43] bvaradar commented on #1384
@utk-spartan : HUDI-409 is for MOR tables and unrelated to your scenario. Hmmm. COW is one of the most battle-tested part of Hudi :) and hence it is very surprising. Just to be clear, You are using hudi 0.5.x and started with a clean dataset. right  ?  I am assuming these are valid updates and not deletes. Right ? One way to debug is : use the cli to print out commit stats for commits at file leve

[2020-03-11 19:10] lamber-ken commented on #1398
Missing `hive-jdbc` at spark jar folder, download and add
https://repository.cloudera.com/artifactory/cloudera-repos/org/apache/hive/hive-jdbc/2.1.1-cdh6.1.0/hive-jdbc-2.1.1-cdh6.1.0.jar

[2020-03-12 08:21] eigakow commented on #1398
Yes, I have tried adding both hive-jdbc-2.1.1-cdh6.1.0.jar and hive-service-2.1.1-cdh6.1.0.jar and ended up with another missing class error, therefore I was questioning if that is the right path. Thank you for clarifying.

With both jars added I am now getting ```Cannot find class 'org.apache.hudi.hadoop.HoodieParquetInputFormat'``` while hudi tries to create a new table

This class is present
[c

[2020-03-12 08:44] lamber-ken commented on #1398
Hi @eigakow, hive parse the `CREATE TABLE ..` statement, so we also add that jar to hive server classpath.

[2020-03-12 15:07] eigakow commented on #1398
@lamber-ken Yes, that works, thank you!

[2020-03-12 15:07] #1398 closed

[2020-03-12 15:08] eigakow commented on #1375
@lamber-ken This fixed my issue, thanks!

[2020-03-12 15:54] lamber-ken commented on #1375
Welcome 😄

[2020-03-17 02:07] EdwinGuo commented on #143
Please add: altergzj@yahoo.com  Thanks!

[2020-03-19 16:30] deabreu opened #1420 "Broken Maven dependencies."
The following artifacts are missing from https://packages.confluent.io/maven
org.apache.hudi:hudi-client::0.6.0-SNAPSHOT
org.apache.hudi:hudi-common::0.6.0-SNAPSHOT
org.apache.hudi:hudi-hadoop-mr::0.6.0-SNAPSHOT
org.apache.hudi:hudi-hive-sync::0.6.0-SNAPSHOT

when opening hudi-spark project.

[2020-03-20 06:00] BalaMahesh opened #1423 "[SUPPORT] I am trying to run hudi as mentioned in the getting started guide first time and I am facing this issue dyld: lazy symbol binding failed: Symbol not found: ____chkstk_darwin. I am using MacOS Sierra 10.12.6 . Can anyone help me with this issue ! Thanks in advance"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2020-03-20 06:20] BalaMahesh commented on #1423
Issue was with spark 3.0 and resolved after downgrading to 2.4.5

[2020-03-20 06:20] #1423 closed

[2020-03-20 09:39] hddong commented on #1420
@deabreu this is a dev branch, you can use `mvn clean package -DskipTests -DskipITs -Pspark-shade-unbundle-avro` in root of hudi project to generate them locally.

[2020-03-21 10:30] lsyldliu commented on #143
Please add: ldliulsy@163.com Thanks!

[2020-03-22 17:35] vinothchandar commented on #1423
cc @bhasudha @bvaradar  but we have tested quickstart on spark 3, right?

[2020-03-23 11:26] Jecarm opened #1438 "How to get the file name corresponding to HoodieKey through the GlobalBloomIndex"
I use the `fetchRecordLocation` method in BloomIndex, which returns null, but in fact needs to return the corresponding file path.   The test code is as follows.
[code]

**How can i to get the file name corresponding to HoodieKey through the GlobalBloomIndex ?**

[2020-03-23 15:41] melkimohamed opened #1439 "Hudi class loading problem"
**Describe the problem you faced**
I tested hudi and everything works fine except the count requests
 The only problem when I do a count (select count (*) from table;), I always get the following error message even though the hudi library is loaded.
[code]

**Note:** I am able to create hudi tables manually and the count query works,the problem only with automatically created tables (HIVE SYNC)
do

[2020-03-23 19:34] lamber-ken commented on #1439
I'm not familiar with apache tez, but from the above stracktrace, tez works on yarn cluster,
so I thinks it may work if we place `hudi-hadoop-mr-xx.jar` in hadoop classpath.
![image](https://user-images.githubusercontent.com/20113411/77355952-5e169080-6d80-11ea-80a7-4fb7ed502c1c.png)

[2020-03-24 04:31] vinothchandar commented on #1438
That does not count right.. may be there is a gap here w.r.t Global index?

@nsivabalan do you have cycles to check this out.. (indexing related)

[2020-03-24 17:15] bvaradar commented on #1420
@deabreu : Were you able to build locally ?

[2020-03-24 17:34] bvaradar commented on #1439
@melkimohamed :  From your description,

hive.reloadable.aux.jars.path=/usr/hudi/hudi-hive-bundle-0.5.0-incubating.jar

It looks like you are using 0.5.0. The bundle you need to be using is hudi-hadoop-mr-bundle and not hudi-hive-bundle.

[2020-03-24 20:20] nsivabalan commented on #1438
Sure. will take a look.

[2020-03-24 20:36] bvaradar commented on #1284
closing this ticket due to inactivity

[2020-03-24 20:36] #1284 closed

[2020-03-24 20:38] bvaradar commented on #1371
https://github.com/apache/incubator-hudi/pull/1394 merged. Resolving this ticket.

[2020-03-24 20:38] #1371 closed

[2020-03-25 08:54] tverdokhlebd opened #1443 "[SUPPORT] Spark-Hudi consumes too much space in a temp folder while upsert"
We have a Vertica database which has around 25 million rows (~9GB) and S3 storage for them. I try to move data from the Vertica to s3 with Hudi 0.5.1.

First moving happens successfully and quickly (insert stage), and moved data takes around 3GB on S3 storage.

Second moving happens unsuccessfully (upsert stage) and throws an error "No left space on device".

I connected external storage (200GB),