[2022-01-21 15:54] #3737 closed

[2022-01-21 15:54] kazdy commented on #3954
Hi @jasondavindev do you have any issues with running 0.10.0 with EMR on EKS or it's straight forward and works with no issues?

[2022-01-21 15:54] nsivabalan commented on #3731
@parisni : Did you get a chance to try it out. Let us know if you have any updates on this regard.

[2022-01-21 15:55] nsivabalan commented on #3711
@t822876884 Do we have any follow ups here. if the issue is resolved, can we close the github issue.

[2022-01-21 15:57] nsivabalan commented on #3707
@danny0405 @xushiyan : can we close out the github issue if the issue is resolved. If not, can we have some follow up please.

[2022-01-21 15:57] BenjMaq commented on #4154
@nsivabalan I'm not specifying any input format when I query using Presto or Hive. I followed [these steps](https://hudi.apache.org/docs/query_engine_setup#hive) initially for Presto and Hive and it has always worked without the need to specify any input format.

[2022-01-21 15:58] nsivabalan commented on #3704
Closing this as we have solution working. If you are still facing issues, feel free to re-open. or if you get past the issue by some other work around, do post it here so that it could benefit others in the community. thanks!

[2022-01-21 15:58] #3704 closed

[2022-01-21 15:59] nsivabalan commented on #3680
@danny0405 @Cherry-Puppy : Is there any follow up here. If not, can we close it out. Also, if we triaged any bugs, I assume its already upstreamed to open source. If not, highly recommend to upstream it to OSS.

[2022-01-21 16:01] nsivabalan commented on #3478
@codope : I assume you are claiming that w/ HoodieCombineHiveInputFormat, you are seeing duplicated data (user reported that he/she is seeing duplicates w/ CombinedInputFormat).

[2022-01-21 16:04] nsivabalan commented on #3478
@affei : not sure if this matters. But for a partitioned dataset, a pair of partition path and record key is unique for a given hudi table. So, there could be duplicate record keys in the output across diff partitions. Can you confirm that when you said you are seeing duplicates, you meant duplicate records having same value for both partition path and record keys.

If you wish to have globally un

[2022-01-21 16:05] #2936 closed

[2022-01-21 16:09] nsivabalan commented on #4208
@BenjMaq : Do you have the driver logs when you triggered the alter table command. Don't think above stacktrace is useful at the moment.

[2022-01-21 16:42] ganczarek opened #4666 "[SUPPORT] Table downgrade fails to delete non-existing file"
When downgrading v2 table to v1 with hudi-cli, Hudi fails to delete a file that doesn't exist (see stack trace below). I suspect it's fine to just ignore files that don't exist during deletion.

I don't know how I ended up having only `.hoodie/20220121153537.commit.requested` without corresponding `.hoodie/.temp/20220121153537`, but manual deletion of `.hoodie/20220121153537.commit.requested` fixe

[2022-01-21 16:43] stym06 commented on #3747
@nsivabalan we have a usecase where we needed to do hudisync for a lot of tables, and when we were using sync in the deltastreamer, every job ended up creating jdbc connection pool with hive metastore that caused lots of connection timeout errors. so, i ended up rewriting a tool to do the sync for all tables in a loop that used the thrift client instead of jdbc.

[2022-01-21 18:25] umehrot2 commented on #4086
@jdattani to print the exact key that cause the error, the logging level needs to be changed to `TRACE`. Atleast on EMR, you can do it via `/etc/spark/conf/log4j.properties` and changing `log4j.logger.org.apache.hudi=TRACE`. I am not sure about Glue though, how the logging level can be changed for Hudi. As far as Hudi job not failing, it seems like a critical issue. I would recommend you to open a

[2022-01-21 18:25] #4086 closed

[2022-01-21 18:46] zhedoubushishi commented on #4456
Sorry for the late reply, if you set ```hoodie.write.lock.dynamodb.table``` as a table that not exist, it would just create one and set the structure automatically. Or do you have to create the dynamodb lock table by yourself?

[2022-01-21 21:40] ranjitha-shenoy opened #4668 "[SUPPORT] SaveMode.Append fails on renamed hudi tables"
**Describe the problem you faced**

Hello team, we recently upgraded from emr-5.30.2 to 5.31.1 and noticed failure in our pipelines doing incremental append to hudi tables.

**Issue** : SaveMode.Append throws exception and fails on renamed hudi tables affects hudi 0.6 and above.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a hudi table with s3 path
2. Rename the table using  `spa

[2022-01-21 22:02] nsivabalan commented on #4666
@yihua : Can you assist here please.

[2022-01-21 22:10] nsivabalan commented on #4656
Couple of observations.
1. May I know why you are setting upsert parallelism to 15k. 15k is very high. Is that intentionally tuned. If not, would recommend to something like 200 to 300.
2. I see your 2nd table has lot of file groups which were replaced. And so it does add some latency while checking valid file groups. So, once the cleaner comes through and deletes all replaced file groups, I feel

[2022-01-22 02:32] XuQianJin-Stars commented on #4604
@andykrk I did not reproduce the problem you described under hudi 0.9 and spark 2.4.7

[2022-01-22 14:26] fengjian428 commented on #3755
think this is cause by meta table,  I enabled metatable then got this error

[2022-01-22 18:34] nsivabalan commented on #4621
I tried a integ test suite job and docker demo w/ latest master and things are working fine.

[2022-01-22 21:04] aznwarmonkey commented on #4541
@nsivabalan removing it seems to work. the problem I see is that performance looks significantly worse with it turned off. Do you have suggestions on how to speed up the ingest process? for background each day's worth of data we have roughly 4-5 billion records which is spatiotemporal data (lat, lon, timestamp with some identifier which are set to be the key)

Using straight spark `save` talkes ro

[2022-01-23 05:04] ranjitha-shenoy commented on #4668
Looks like this was fixed with https://issues.apache.org/jira/browse/HUDI-1776 on hudi 0.9 but is not backward compatible with tables that were previously renamed.

[2022-01-23 20:20] nsivabalan commented on #4552
Did you set the property when you did BULK_INSERT?  guess thats where the config is effective or rather the fix was made if I am not wrong. Basically can you ensure you set the config value in all operations (bulk_insert and uspert) and see what happens.

[2022-01-24 02:11] BruceKellan commented on #4648
@xushiyan I have already use spark3 profile.

[2022-01-24 07:52] stackls opened #4675 "[SUPPORT] Hudi Hive Style partitioning not working in 0.5.0"
Hi Team,

We are trying to create partition folders in below format using hudi 0.5.0.
s3://bucketname/folder1/partition_col_nm1=2015-01-01/
s3://bucketname/folder1/partition_col_nm1=2016-01-01/

But it supports only the below structure, without the partition column names.
s3://bucketname/folder1/2015-01-01/
s3://bucketname/folder1/2016-01-01/

Any workaround to achieve this format s3://bucketname/

[2022-01-24 09:54] wjcwin opened #4678 "[SUPPORT] spark.read.format("hudi").schema(userSpecifiedSchema) doesn't work in version 0.10.0 ,but does work in 0.5.3"
**Describe the problem you faced**

update hudi-spark-bundle_2.11 from 0.5.3 to 0.10.0 ,
val df=spark.read.format("hudi").schema(userSpecifiedSchema) doesn't work in version 0.10.0 ,but does work in 0.5.3,
the df.schema is not userSpecifiedSchema.

**To Reproduce**

Steps to reproduce the behavior:

update hudi-spark-bundle_2.11 from 0.5.3 to 0.10.0 ,
spark.read.format("hudi").schema(userSpecified

[2022-01-24 10:23] ganczarek commented on #4675
@wjcwin Looking at the documentation, it appears that Hive style partitioning was implemented in v0.5.3.

Have you tried creating custom key generator? Please note I'm new to Hudi and haven't used v0.5.0, but in theory the following should work:
1. extend [SimpleKeyGenerator](https://github.com/apache/hudi/blob/master/hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/keygen/SimpleKeyGene

[2022-01-24 10:34] andykrk commented on #4604
@nsivabalan Yes, the issue was also visible for me with 0.10.0. Thanks for the suggestion we will try to go with it.

@XuQianJin-Stars Is there anything else I can provide to help with the investigation/reproduction attempts?

[2022-01-24 11:04] ganczarek commented on #4675
I called a wrong person. I meant @stackls.

[2022-01-24 11:25] SabyasachiDasTR commented on #4311
Hi @nsivabalan & @prashantwason ,

Adding to the original issue reported by @JohnEngelhart  and @sunilknataraj
I am from same organization and mentioning the same issue.

Regarding the possible reasons for duplicates
1. We are not using bulk_insert, but only upsert .[PFA Upsert query]
2. No multi writer is involved.
3. hoodiecombinebeforeupsert is default true.

Below are the recent findings
We co

[2022-01-24 12:07] stackls commented on #4675
Not working.  I dont think keygenerator changes the way partition folders are created.
@nsivabalan @codope  - Can you please suggest on how to implement this in 0.5.0 ?

[2022-01-24 12:36] VIKASPATID commented on #4635
We tried hudi 0.10.0, but running into issue with bulk write, multi writer
py4j.protocol.Py4JJavaError: An error occurred while calling o240.save.
: org.apache.hudi.exception.HoodieRemoteException: Failed to delete marker directory s3://xxxxx/tmp/tmp/tmp/tables/deeptick/.hoodie/.temp/20220124051311124
Read timed out
        at org.apache.hudi.table.marker.TimelineServerBasedWriteMarkers.deleteMark

[2022-01-24 12:41] ganczarek commented on #4656
Thank you for looking into this.

I don't know how I could count file groups, so I listed all Parquet files in both tables. There's `535 741` files in table_v1 and `371 102` in table_v2. That number doesn't surprise me and if it was any performance indicator, then reading from the first table should be slower.

You're absolutely right, 15k is too much. I had issues with executors running out of me

[2022-01-24 15:37] nsivabalan commented on #4618
CC @codope

[2022-01-24 16:08] andykrk commented on #4604
@nsivabalan I just rerun my load with the same data last time (we made it static) and the only commit that was added in a directory today is:
![image](https://user-images.githubusercontent.com/24304947/150819406-7ff6b9af-e144-442d-8312-c31b88f86113.png)

The content of 20220124144848903.commit is:

[code]

Please let me know if there is anything else we need.

[2022-01-24 17:10] VIKASPATID commented on #4635
<details>
<summary>
content of .hoodie folder where bulk write is failing (with hudi 0.0.9)
</summary>
[code]
</summary>
</details>
<details>
<summary>
Content of  second table .hoodie folder with hudi version 0.10.0
</summary>
[code]
</details>

[2022-01-24 22:00] nsivabalan commented on #4668
@YannByron : Can you please follow up on this. Or loop in someone who can assist here.

[2022-01-24 22:01] nsivabalan commented on #3572
Closing this due to inactivity. Please feel free to re-open if you need assistance.

[2022-01-24 22:01] #3572 closed

[2022-01-24 22:10] nsivabalan commented on #3747
got it. Can you enable debug logs and share with us.
wrt thrift client, I did saw your patch. appreciative of you. will review it by this week.

[2022-01-24 22:16] nsivabalan commented on #3478
@danny0405 : did you get a chance to follow up with the author directly? wondering if we can close this due to inactivity. As suggested, HiveInputFormat or HoodieCombineInputFormat should be used for hive.input.format.

[2022-01-24 22:18] #4593 closed

[2022-01-24 22:20] nsivabalan commented on #4241
Closing this as hudi has savepoint and restore for both table types. Feel free to reopen or create new github issue if you need further assistance. thanks!

[2022-01-24 22:20] #4241 closed

[2022-01-24 22:21] nsivabalan commented on #4170
Closing this due to inactivity. highly recommend to re-open if you are still facing issues and we can investigate further.

[2022-01-24 22:21] #4170 closed

[2022-01-24 22:22] nsivabalan commented on #3870
Closing this due to inactivity. we have savepoint rollback feature added to both tables. Unless we have further info, we can't help triage. thanks for reporting.

[2022-01-24 22:22] #3870 closed

[2022-01-25 00:10] ChiehFu opened #4682 "[SUPPORT] Upgrade from 0.8.0 to 0.10.0 decreases Upsert performance"
**Describe the problem you faced**

Recently, we upgraded our testing environment from Hudi 0.8.0 to Hudi 0.10.0, and after the upgrade we noticed that upsert jobs for some of our existing tables run much slower compared to how they ran in Hudi 0.8.0.

For our Hudi tables, we ran one bulk_insert job to ingest snapshot, and schedule an upsert job every 10 mins to ingest incremental updates after th

[2022-01-25 00:36] nsivabalan commented on #4600
CC @yihua kafka connect related issue.

[2022-01-25 02:29] YannByron commented on #4668
@ranjitha-shenoy can you retry this in hudi0.10.0 or master branch? If not easy to do this, i will try to locate this issue in hudi 0.6 then.

[2022-01-25 03:18] #4648 closed

[2022-01-25 05:21] mainamit commented on #4456
I am facing same issue, created a dynamo DB table with a single column as per below config where dynamo DB table and partition key is being passed when writing the data.
So are you suggesting just passing the table name and it will be created and we don't have to specify partition key

    #'hoodie.write.concurrency.mode' : 'optimistic_concurrency_control',
    #'hoodie.cleaner.policy.failed.write

[2022-01-25 07:46] waywtdcc opened #4683 "[SUPPORT] Hive ro table read error"
**To Reproduce**

`
CREATE TABLE `hudi.user_cdc17`(
)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
STORED AS INPUTFORMAT
  'org.apache.hadoop.mapred.TextInputFormat'
OUTPUTFORMAT
  'org.apache.hadoop.hive.ql.io.IgnoreKeyTextOutputFormat'
`
`
CREATE EXTERNAL TABLE `hudi.user_cdc17_ro`(
  `_hoodie_commit_time` string COMMENT '',
  `_hoodie_commit_seqno` string COMMENT '',

[2022-01-25 09:41] stym06 commented on #3747
How can I enable debug logs in the run_sync_tool.sh ?

[2022-01-25 12:23] andykrk commented on #4604
@nsivabalan Just additional information. I have the data in the commit that is created prior to the two I have posted here. The thing is that was the one created with our old archival settings:
'hoodie.keep.min.commits': 999,
'hoodie.keep.max.commits': 1000,
'hoodie.cleaner.commits.retained': 998,
so in our case without the actual archival that we want to get. Once I'm trying to process with those

[2022-01-25 14:59] BenjMaq commented on #4208
I was able to solve this really dumb issue by simply shutting down my spark app once the sql statement completed. My fault. Closing because this is not a Hudi error.

[2022-01-25 15:01] BenjMaq commented on #4131
Hi team, it works correctly by specifying a `preCombinefield`. We are good to close!

[2022-01-25 15:24] BenjMaq commented on #4154
Hi again,

Still trying to understand the issue :)

Here's the create table statement I run to create the table using `spark-sql`:
[code]

and here's the DDL when I run `show create table public.test_partitioned` in Hive cli:
[code]

Are you maybe seeing something that looks off? I see for example
[code]
which is neither `HiveInputFormat` nor `HoodieCombineHiveInputFormat` mentioned by @nsivabalan

[2022-01-25 15:48] BenjMaq commented on #4154
I found the problem. The JAR in my Hive aux path was outdated. I replaced it with the latest version and all was good. Sorry for the inconvenience, and thank you so much for supporting and trying to find the error!

Good to close on my end!

[2022-01-25 16:07] nsivabalan commented on #4154
thanks for updating!

[2022-01-25 16:07] #4154 closed

[2022-01-25 19:32] nsivabalan commented on #4604
I could not reproduce w/ latest master. I added a dummy commit in my test dataset with almost exact content as the one you see. and archival is succeeds in my case. I also tested w/ 0.10.0 and it succeeds. could not reproduce your issue unfortunately.

this is the content of completed commit file that I hand curated and added to the timeline.
[code]

I also added the requested and inflight meta fi

[2022-01-25 19:40] nsivabalan commented on #4131
thanks!

[2022-01-25 19:40] #4131 closed

[2022-01-25 23:52] ranjitha-shenoy commented on #4668
@YannByron I have not been able to test it with hudi 0.10, but I believe the introduction of table name check [HoodieSparkSqlWriter.scala#L295](https://github.com/apache/hudi/blob/e599764c2dcfbbc15d6554fa0df55b7375e4a31d/hudi-spark/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala#L295) started the issue.

[2022-01-26 02:37] YannByron commented on #4668
@ranjitha-shenoy i also guess so. Maybe this is a bug for hudi 0.6, and we can't patch a bugfix for this old version.

[2022-01-26 10:38] affei commented on #3478
@nsivabalan tbh, i don't remember if it was partitioned or non-partitioned table. We migrated to 0.10.0 last week, I can check hive behaviour there and come back with results

[2022-01-26 10:43] BenjMaq commented on #4154
Hi team, I only tested with Hive yesterday and it worked. However, testing with Presto `0.247` now and I still cannot read the table correctly.

I did some research and found out Hudi was bumped to `0.9.0` in PrestoDB `0.265` ([PR](https://github.com/prestodb/presto/commit/b52db2c4c2baa720489ae3908acd9303a41081fc), [release notes](https://prestodb.io/docs/current/release/release-0.265.html)). For

[2022-01-26 13:28] matthiasdg commented on #3868
issue also present with hudi 0.10.0

[2022-01-26 14:41] wqwl611 opened #4690 "write hudi mor table always encounter FileNotFoundException hdfs://ns/...0220126193401513.parquet"
* Hudi version : 0.10

* Spark version : 3.2

* Hive version :

* Hadoop version :2.7

* Storage (HDFS/S3/GCS..) : hdfs

Caused by: org.apache.hudi.exception.HoodieIOException: Failed to read footer for parquet hdfs://ns/user/.../1e4957b3-efff-47f3-b993-ef7c56538a3d-0_8-526-10774_20220126193401513.parquet
	at org.apache.hudi.common.util.ParquetUtils.readMetadata(ParquetUtils.java:185)
	at org.apac

[2022-01-26 14:52] melin opened #4691 "[SUPPORT]Documentation describing the hudi features supported by spark and flink engines"
Documentation describing the hudi features supported by spark and flink engines，Displayed in a table, for example, does the flink engine support indexes?

[2022-01-26 15:59] stayrascal commented on #4030
Hi, any new update on this one.

After review the PR and source code and try to contribute, I find it seems that the partial update cannot support the case that the partition path is changed. Because once a new record coming and if the partition path changed, `BucketAssignFunction` will output two records: one deleted record on old partition, and one new record, and these two records will be assig

[2022-01-26 16:08] #4691 closed

[2022-01-26 18:41] #4668 closed

[2022-01-26 20:18] nochimow commented on #4622
Hello,
I did a workaround to fix this issue that i didnt need to restore my table.
Apparently, after the hudi table downgrade to 0.9 when I do a Hudi upsert operation into a partition, the rows of the partition become visible for the Redshift Spectrum again.
I'm still trying to correct all the rows all my partitions. But 95% of my rows are already normal again, maybe the remaining 5% is something

[2022-01-26 20:40] parisni commented on #4506
@codope I tried them without success on my side. with the reproductible example I crafted in the OP

[2022-01-27 02:25] danny0405 commented on #4030
Yes, your understanding is correct. Currently it is a little hard in the project to have efficient point look-up, we can not query the old partition record first before we write new, this is the reason why the current code just send a DELETE record with primary key.

[2022-01-27 05:37] stayrascal commented on #4030
Thanks for replay.

I'm thinking how about change the ValueState of  `BucketAssignFunction` by store the whole `HoodieRecord` instead of `HoodieRecordGlobalLocation`, and then once the partition path changed, beside output a delete record on old file(partition), and also we can update the partition path of old record, and output the updated record new file(partition).

And later, the incoming reco

[2022-01-27 06:59] hanjun996 opened #4698 "[SUPPORT] RowDataToAvroConverters does not support data in flink timestamp_ltz (timestamp_with_local_time_zone) format."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-01-27 06:59] hanjun996 commented on #4698
![image](https://user-images.githubusercontent.com/78488757/151307737-87e073d0-6f3b-40c9-9fac-0c8745cf5339.png)

[2022-01-27 07:17] xyueji commented on #143
Please add me to slack group
Email:xzg_upc@163.com
Thanks

[2022-01-27 14:21] 117th opened #4700 "[SUPPORT] Adding new column to table is not propagated to Hive via HMS sync mode"
**Steps to reproduce the behavior**:

1. Enable Hive sync via options:
DataSourceWriteOptions.HIVE_SYNC_MODE.key() -> "hms",
DataSourceWriteOptions.HIVE_SYNC_ENABLED.key() -> "true",
DataSourceWriteOptions.META_SYNC_ENABLED.key() -> "true"

    Spark conf:
    spark.hadoop.hive.metastore.uris thrift://hive-metastore:9083

2. Write dataset with some schema
3. Write the same dataframe with new colum

[2022-01-27 15:57] affei commented on #3478
Tested with `hive.input.format=org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat` - everything worked as expected. Closing ticket
Thanks for help!

[2022-01-27 15:57] #3478 closed

[2022-01-27 17:06] Aruun opened #4701 "[SUPPORT] DeltaStreamer in Hudi 0.8 throwing simpleKeyGenerator issue"
Command used:
spark-submit --jars /usr/lib/hudi/hudi-utilities-bundle_2.12-0.8.0-amzn-0.jar,/usr/lib/spark/external/lib/spark-avro.jar --deploy-mode cluster --master yarn --class org.apache.hudi.utilities.deltastreamer.HoodieDeltaStreamer /usr/lib/hudi/hudi-utilities-bundle_2.12-0.8.0-amzn-0.jar --table-type COPY_ON_WRITE --source-ordering-field registration_dttm  --source-class org.apache.hudi.ut

[2022-01-28 01:09] nsivabalan commented on #3478
awesome, thanks for updating!

[2022-01-28 10:40] andykrk commented on #4604
@nsivabalan I was able to reproduce the issue on the other table. Let me add some additional information to it that may help.
We start with our current table that was created with hudi 0.7.0. Since the beginning it had following settings apllied:
'hoodie.keep.min.commits': 999,
'hoodie.keep.max.commits': 1000,
'hoodie.cleaner.commits.retained': 998,
therefore in our case there was no archival happ

[2022-01-28 11:52] rafcis02 commented on #4552
I've tried it for BULK_INSERT and UPSERT as well, bot nothing works for me.

I prepared sample test job of that so you can reproduce it or just review it (I hope I just misconfigured it :grinning:).
Upsert operation corrupts timestamps, no matter if I set this option or not -  I tested it using DataFrame writer and SQL MERGE INTO.

AWS Glue 2.0(Spark 2.4)
Hudi 0.10.1

[code]

[2022-01-28 12:18] stym06 opened #4713 "[SUPPORT] Executor OOM upserting 20M records from Kafka"
**Describe the problem you faced**

While upserting Mongo oplogs from Kafka to Blob, facing Executor OOM

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 2.4.4

* Hive version : 3.1.2

* Hadoop version : 2.7.3

* Storage (HDFS/S3/GCS..) : Azure Blob

* Running on Docker? (yes/no) : K8s

**Additional context**

Spark K8s yaml file
[code]
source.properties
[code]

**Stacktrace

[2022-01-28 14:49] harishraju-govindaraju commented on #4641
I was able to do spark submit. My parameters had something wrong.

[2022-01-28 14:49] #4641 closed

[2022-01-28 16:17] nsivabalan commented on #4641
got it.

[2022-01-28 21:18] ChiehFu commented on #4299
@XuQianJin-Stars I also noticed a similar performance issue on Upsert in 0.10.0, please see my post #4682.

[2022-01-28 22:29] xushiyan commented on #4701
@Aruun from your config `--hoodie-conf hoodie.deltastreamer.source.dfs.root=s3://,hoodie.datasource.write.recordkey.field=,hoodie.datasource.write.partitionpath.field=`: this is not the right way, each config should use a separate `--hoodie-conf`

Also you're using `0.8.0-amzn-0.jar` which is AWS modified version, not open source release. please engage with aws support for further troubleshooting.

[2022-01-29 14:43] FelixKJose opened #4719 "Spark Structured Streaming Continuous Mode Failed with HoodieMetadataException"
I am doing some volume testing for my data ingestion pipeline. My  data ingestion pipeline comprises of Kafka for streaming, Spark Structured Streaming (continuous mode) + Hudi for  ingesting data from Kafka to AWS S3. Spark job is running on AWS EMR -6.5.0. The Hudi table is a non-partitioned table and metadata is enabled. Spark job continuously failing with HoodieMetadataException after runs for

[2022-01-30 06:04] stayrascal commented on #4030
Hi @danny0405 , I tired the solution of changing the ValueState of BucketAssignFunction by store the whole HoodieRecord instead of HoodieRecordGlobalLocation. (Once the partition changed, output a delete record to old file, and update the location of old record with new partition path and output a new record to new file)

It works in some cases, but not works in all cases.

**Works cases:**
- The

[2022-01-30 21:09] xushiyan commented on #4700
@117th hudi is certified with hive 2.3.x. There could be issues working with hive 3.0.0.  Can you see if it works hive 2.3.3 ?
@codope do you happen to know the full list of compatible hive versions?

[2022-01-30 21:20] xushiyan commented on #4698
@hanjun996 can you share environment configs, software versions, and code snippet to help us reproduce the issue?

[2022-01-30 21:43] xushiyan commented on #4690
@wqwl611 we need to know more details like the code you're trying to execute and the environment to help reproduce the issue. Also spark 3.2 is not supported in hudi 0.10.0. Please try spark 3.1 or 3.0

[2022-01-30 23:37] xushiyan commented on #4683
@waywtdcc the stacktrace shows "unsupported type: optional int96 ts" which does not originate from hudi. looks like a problem with the hive ql specifying bigint? have you tried different data type like TIMESTAMP for `ts` ? also does this `ts` come from `users_cdc_hive` or `user_cdc17_ro` ? you probably need to double check the schemas for both tables and make sure int96 is not used.

[2022-01-30 23:51] xushiyan commented on #4678
@YannByron do you know if we ever use input from`.schema()` or we always infer from the commit timeline or parquet file?

[2022-01-31 00:24] xushiyan commented on #4636
@danny0405 any suggestion on using timeline server with flink writer?

[2022-01-31 00:27] xushiyan commented on #4627
@melin can you share more info on the use case? it'll be great if you can come up with an RFC and illustrate more details on the integration proposal.

[2022-01-31 00:34] xushiyan commented on #4411
@rajgowtham24 Ok do you mean the issue resolved with Presto 0.230 ?

[2022-01-31 00:57] xushiyan commented on #3960
@0x574C i hope this gives you a good idea about supporting schema evolution in flink. If you don't have further questions, we may close this. Thanks.

[2022-01-31 01:01] xushiyan commented on #3933
@Limess thanks for the info provided so far on this issue. closing this now assuming no further action needed here.

[2022-01-31 01:01] #3933 closed

[2022-01-31 01:09] xushiyan commented on #3831
@stackls closing this due to inactive. if you ever come up with some work to share about Deltastreamer + Livy, happy to see and help promote it to the community. Thanks.

[2022-01-31 01:09] #3831 closed

[2022-01-31 01:16] xushiyan commented on #3755
@fengjian428 did you mean you disabled metadata table then it's resolved?

[2022-01-31 01:35] xushiyan commented on #3751
@MikeBuh this setting means you probably can have 30-40 parallelism to set for the spark and shuffle partitions and hudi parallelisms, given each core works with 1.5-2 concurrency. suggest increase executor cores to 3-5 to increase throughput, and tune other settings accordingly. You want to also align spark parallelism, shuffle partitions and hudi parallelisms (a few of them) as well.

This is on

[2022-01-31 01:43] xushiyan commented on #3747
@stym06 thanks for filing https://issues.apache.org/jira/browse/HUDI-2733 and the patch. Let's continue collaborating from there.

[2022-01-31 01:43] #3747 closed

[2022-01-31 01:53] xushiyan commented on #3215
@anikait-rao have you got the problem resolved?

[2022-01-31 01:58] xushiyan commented on #3680
@Cherry-Puppy @zhouhongyu888 we're closing this assuming you had the problem resolved by @danny0405 in other channel. Any follow-up comment feel free to post here. Thanks.

[2022-01-31 01:58] #3680 closed

[2022-01-31 03:54] xushiyan commented on #3707
@ibudanaev-crunchyroll I hope your problem was resolved given flink 1.13.x was supported.
@awsalialem Hope @danny0405 's reply gave you the pointer to your dependency problem https://github.com/apache/hudi/issues/3707#issuecomment-960472407

Closing this now.

[2022-01-31 03:54] #3707 closed

[2022-01-31 03:58] xushiyan commented on #3711
Closing due to inactive

[2022-01-31 03:58] #3711 closed

[2022-01-31 06:18] melin commented on #4627
In many large enterprises, especially banks, there is a strong DEMAND for
BI. Leaders need to look at BI charts every day. As data gradually
increases, BI queries are slow, which will drive the acceleration of
queries. Pre-accelerated data is required to meet requirements. Dremio can
meet this need by analyzing historical SQL and automating accelerated data.
Hudi has a lot of features that Iceberg

[2022-01-31 06:29] xushiyan commented on #4154
FYI @codope, can you take this please?

[2022-01-31 09:59] parisni opened #4723 "[SUPPORT] Aws glue schema evolution fails on alter table cascade"
hudi 0.10.1 / aws glue metastore

so far, glue does not suport the syntax used by hudi to make schema evolution `alter table replace colums ... cascade`

As a result, when a hudi table schema evolve, the glue metastore fail to be updated at this step.

The issue has been marked as resolved in the bellow jira, which, from my experience is not the case.

The [HiveSyncTool](https://github.com/apache/

[2022-01-31 11:55] nsivabalan commented on #4675
yeah. I can't think of other options. What @ganczarek suggested makes sense. KeyGenUtils is where hive style partitioning is enforced.
[code]

If you can put up a patch against 0.5.0, we can take a look to see if something is missing. Unfortunately we don't backport fixes.

[2022-01-31 12:08] nsivabalan commented on #4666
hey @ganczarek : looks like there is a bug https://issues.apache.org/jira/browse/HUDI-3346.  we will work on the fix. should be straight forward. Atleast in this case, manually deleting the commit meta file just for this instant should be fine. Here is what could have resulted in this.

Just before downgrade, a commit was started, but before going into inflight or before a single marker file could

[2022-01-31 12:25] jardel-lima commented on #3879
Hi @nsivabalan. There is a partition column called `PARTITION`. As it is a partition column you may have to load the dataset using relative path, `./anonymous_dataset`.

[2022-01-31 12:41] rajgowtham24 commented on #4411
yes @xushiyan

[2022-01-31 12:58] nsivabalan commented on #4700
Did you try via jdbc. I could able to get it working. with hms, I am running into some other issue though.
[code]

Steps to reproduce:
1. set up docker demo script.
2. adhoc-1 : launch spark shell

$SPARK_INSTALL/bin/spark-shell   --jars $HUDI_SPARK_BUNDLE   --master local[2]   --driver-class-path $HADOOP_CONF_DIR   --conf spark.sql.hive.convertMetastoreParquet=false   --deploy-mode client   --dri

[2022-01-31 13:01] nsivabalan commented on #4700
have filed a tracking jira for hms : https://issues.apache.org/jira/browse/HUDI-3347

[2022-01-31 14:26] data-storyteller commented on #4621
Thanks @nsivabalan for fix.  This issue is resolved now.

[2022-01-31 15:07] nsivabalan commented on #4719
@FelixKJose :
which version of hudi are you using?
Also, did you try deleting metadata directory manually or something. I see exception as "IllegalArgumentException: must be at-least one valid metadata file slice". This can happen only if metadata table is deemed to be available, but there are no contents. But in general, metadata table had few bugs and we have fixed quite a few in 0.10.0. So, if

[2022-01-31 16:23] FelixKJose commented on #4719
@nsivabalan
Hudi version: 0.9.0-amzn-1
AWS EMR: 6.5.0
I haven't deleted anything manually.

[2022-01-31 16:36] nsivabalan commented on #4666
@ganczarek : Can you verify if [this](https://github.com/apache/hudi/pull/4726) fix works.

[2022-01-31 17:06] xushiyan commented on #4411
@rajgowtham24 thanks!

[2022-01-31 17:06] #4411 closed

[2022-01-31 18:23] prashantwason commented on #4719
Being in 0.9, this may be because of[ pending compaction](https://issues.apache.org/jira/browse/HUDI-2923)

The file system slices are read in [HoodieBackedTableMetadata](https://github.com/apache/hudi/blob/178767948e906f673d6d4a357c65c11bc574f619/hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java#L107) as:
     latestFileSystemMetadataSlices = fsView.getLatestFileSl

[2022-01-31 18:25] prashantwason commented on #4719
Another possible issue (exists in 0.9 and older versions only):
1. List the files partition - .hoodie/metadata/files
2. If there are two different log files with different fileIDs then this is an issue in [SparkBackedTableMetadataWriter::prepRecords](https://github.com/apache/hudi/blob/178767948e906f673d6d4a357c65c11bc574f619/hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/Spa

[2022-01-31 20:06] nsivabalan commented on #4552
@YannByron : Looks like the timestamp consistency fix we(guess you and sagar) landed does not work well. Do you think you can follow up here please?

[2022-02-01 07:13] soma17dec opened #4729 "[SUPPORT] During compaction, can I merge only modified columns in a record and leave others unchanged"
Hi,

We are in the process of building a Lake House using AWS services and Apache Hudi. In the process, we are extracting data from Oracle DB using AWS DMS Service and pushing the files to S3 object storage. As AWS DMS does both Full load and CDC replication, we are creating two different tasks and moving ahead with data loads to S3. With CDC task, delta files are generated with only Primary key a

[2022-02-01 12:03] ganczarek commented on #4666
@nsivabalan Thank you for looking into. I'm sorry, but I'm not able to test this fix. I have already downgraded the table after manually deleting the `*.commit.requested` file.

[2022-02-01 13:19] nsivabalan commented on #4701
@Aruun : guess this has been answered in slack. if yes, can we close this out.

[2022-02-01 13:24] Aruun commented on #4701
Yes Siva, we can close this.
Thank you :)

[2022-02-01 13:24] #4701 closed

[2022-02-01 15:02] #4666 closed

[2022-02-02 04:58] stackls commented on #4675
Thanks @ganczarek @nsivabalan
Just used the 0.5 jars which are existing and has no custom changes. Will check the possibility of writing custom key generator to overwrite getPartitionPath in hudi 0.5 code. . No other workarounds to achieve this ?

Good practice we think is to implement partitioning path like this s3://bucketname/folder1/partition_col_nm1=2015-01-01/ in 0.5  .  So even when hudi is

[2022-02-02 10:03] wqwl611 commented on #4690
@xushiyan I write df into hudi in saprk-streaming just with regular hudi config . And I tried Spark2.4.5 , this  error don't show
,Maybe just spark3.2 problem.
but weird thing is 3.2 don't failed imediately， but fail at after several batch success。

[2022-02-02 23:57] yihua commented on #4600
As @xiarixiaoyao mentions, compaction should compact log files into base file formats like parquet, which can be then read by Hive.  There are different ways to trigger compaction, e.g., through inline/sync compaction, standalone HoodieCompactor, hudi-cli commands.  @danny0405 does Flink SQL and writer support compaction?

@gubinjie When you refer to Kafka connector, do you mean Flink Kafka connec

[2022-02-03 00:29] yihua commented on #4666
Sorry, I missed this.  There should be a check for marker directory before trying to delete it, which is missing before.

[2022-02-03 10:12] YannByron commented on #4552
@denys-tyshetskyy @rafcis02
This issue, i think, is a bug for Bulk_Insert and `hoodie.datasource.write.row.writer.enable`.
But for now, you can disable `hoodie.datasource.write.row.writer.enable` when bulk_insert. That will work well. And we'll fix it asap.

[2022-02-03 10:42] YannByron commented on #4678
@wjcwin can you give some details like codes and your expected result. that will help us to locate this issue.

[2022-02-03 23:05] harishraju-govindaraju opened #4745 "[SUPPORT] Bulk Insert into COW table slow"
**problem faced**
Bulk Insert is very slow. Our source folder is stored as CSV Gzip and we are reading this to load into Hudi Managed table. Not sure where the time is taken. Can some one please educate me if this is taking time to read or to write to hudi ?

![image](https://user-images.githubusercontent.com/97610641/152443681-9b4bc2a0-a772-4459-80cd-491132ae8cfe.png)

![image](https://user-image

[2022-02-04 05:07] Gatsby-Lee opened #4747 "[SUPPORT] How to delete / create Hudi Metadata Tables in AWS Glue?"
I use Apache Hudi ( v0.9 ) in AWS Glue.

Since I enabled Hudi Metadata Table, I started seeing FileNotFoundException like below.

* I enabled "hoodie.metadata.enable=True" from the very beginning.
* I use Zoopkeeper as Lock Provider.

I guess the "FileNotFoundException" happened because the content of Hudi Metadata is out-dated.
Since I use AWS Glue, I don't have a way to run Hudi Metadata CLI.

I

[2022-02-04 07:11] Gatsby-Lee opened #4748 "[SUPPORT] Question: Does "SINGLE_WRITER" also utilize if hoodie.write.lock.* is provided?"
Hi,

I am leaving my question here since I don't know where to put this type of question.
I also googled the question I have, but I couldn't find one.
Please let me know where I should put this type of question next time.

My question is related to Hudi write.

**Context**

- Hudi version: 0.9 ( running in AWS Glue 3 )
- using Hudi Metadata table
[code]
- using SINGLE_WRITER
[code]
- using zookeep

[2022-02-04 07:13] Gatsby-Lee commented on #4723
@parisni

Hi, do you use Glue 2.0?
If so, try with Glue 3.0

[2022-02-04 09:58] YannByron commented on #4552
@denys-tyshetskyy @rafcis02
update this: you can set `hoodie.parquet.outputtimestamptype` to `TIMESTAMP_MICROS ` when you bulk_insert datas. It'll work nicely.

[2022-02-04 22:10] #4541 closed

[2022-02-05 21:41] nsivabalan commented on #4541
yeah. you might have to upgrade to 0.8.0 to use row writer.

[2022-02-06 09:05] melin opened #4751 "[SUPPORT] Schema Evolution Support Spark alter sql"
Hudi already supports Schema Evolution. This document uses the Spark API. Can SPARK SQL be used to modify a table schema? For example, change the field type。

[2022-02-06 15:31] nsivabalan commented on #4604
so if I understand correctly, this is what you are doing.
created a table w/ 0.7.0 with very high archival configs. and so archival did not even kick in, bcoz, you did not have 1000 commits in your table at all.
and now,  you tried upgrading to 0.9.0 with lower archival configs. i.e. 29,30 ish. and now you are facing the issue.

As I mentioned earlier, I could not repro this with 0.10.0. I will on

[2022-02-06 15:37] nsivabalan commented on #4627
Thanks melin for raising the ask. looks like a good use of hudi w/ more integrated eco system. Have created a tracking jira [here](https://issues.apache.org/jira/browse/HUDI-3371).
@vingov : Ask for external integrations. Since you are working on these, wanted to loop you in.

[2022-02-06 15:38] codope commented on #3868
I tried to reproduce this issue using above configs with the current master. The table gets created in Hive, but partition sync fails. https://gist.github.com/codope/c4487d35beb60e322316d9a18773103a

[2022-02-06 15:39] nsivabalan commented on #4678
@YannByron : should be simple to try it out. create a hudi tbl w/ 3 fields. and while reading try giving a new schema a/ 4 fields (a new nullable col). the returned df may not have 4 cols. Guess this behavior changed w/ addition of HoodieFileIndex.

[2022-02-06 16:50] codope commented on #4506
@parisni What do you mean by "fails silently"? Did you see any hive sync log in the console? Can you share the log statements after `df.write`?

[2022-02-06 17:06] nsivabalan commented on #4748
you have to set concurrency.mode=optimistic_concurrency_control. more info can be found [here](https://hudi.apache.org/docs/0.8.0/concurrency_control/).

if you set it to single writer, lock providers are not effective.

So, may be its an issue w/ metadata table. w/o enabling metadata, does your pipeline run smoothly w/o any issues?
Also, we have a command in hudi-cli in 0.10.1 or latest master "m

[2022-02-06 17:07] nsivabalan commented on #4748
Recently we have a patch to add validation tool for metadata. you can give this one a try as well.
https://github.com/apache/hudi/pull/4721

[2022-02-06 17:09] nsivabalan commented on #4748
CC @yihua @manojpec @codope

[2022-02-06 17:10] nsivabalan commented on #4747
we have only two options for now.
`metadata delete` from hudi-cli.
Or you can manually delete the metadata directory "hudi_table_path/.hoodie/metadata" (just the metadadta directory). your next write will bootstrap the metadata again.

CC @yihua @manojpec @codope : may be should also think about adding deletion of metadata table by users with ease. If the [validation tool](https://github.com/apach

[2022-02-06 17:18] nsivabalan commented on #4745
may I know why you are not setting any partition path (hoodie.datasource.write.partitionpath.field)?
and can you post the screen shots for Stages in Spark UI please.

[2022-02-06 17:27] nsivabalan commented on #4729
we don't have this functionality out of the box. but we do have a [patch](https://github.com/apache/hudi/pull/4724) supporting partial updates which will assist in your use-case. Let us know if the patch solves your ask.

[2022-02-06 17:31] nsivabalan commented on #4729
but if the requirement is to fill in value from previous record for defaults in latest, you can try using [this](https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/model/OverwriteNonDefaultsWithLatestAvroPayload.java) payload.

[2022-02-06 17:33] nsivabalan commented on #4723
@xiarixiaoyao : can you help look into this issue please.

[2022-02-06 17:35] nsivabalan commented on #4723
@parisni : we have a work in progress on the [glue sync tool](https://github.com/apache/hudi/pull/4080).
@rmahindra123 : Do you know if the glue sync tool works for schema evolution case.

[2022-02-06 17:39] nsivabalan commented on #4690
@wqwl611 : with 2.4.5, even after running the pipeline for long time, you are not seeing the issue is it?
Above issue could happen only after sometime. For eg, if some file got cleaned up, but your write or read is trying to access the file.
Do you have metadata enabled by any chance? Can you disable and see if you still encounter the issue?

[2022-02-06 17:40] nsivabalan commented on #4675
got it, thanks. Will go ahead and close this one out.

[2022-02-06 17:40] #4675 closed

[2022-02-06 17:40] nsivabalan commented on #4642
@LucassLin : Can we have any updates on this end.

[2022-02-06 17:42] nsivabalan commented on #4635
@yihua : Can you look into this issue of read timeout w/ timeline server based markers. guess you were investigating some other issue on similar lines.

[2022-02-06 17:44] nsivabalan commented on #4635
@VIKASPATID : Can you switch to direct style markers ("hoodie.write.markers.type" = "DIRECT") for now and unblock yourself as Ethan investigates in the mean time.

[2022-02-06 17:58] nsivabalan commented on #4700
@xiarixiaoyao : Once you have the [patch](https://issues.apache.org/jira/browse/HUDI-3347), can you update it here. We can ask the author to try it out to certify the fix.

[2022-02-06 18:03] nsivabalan commented on #4713
@harsh1231 : Can you assist here.

@stym06 : looks like you are using NonPartitionedKeyGen. Is that intentional?
Can you post the screen shots of spark stages and jobs from sparkUI ? will give us info on which stage is actually failing and whether its driver or executor that is running out of memory.

[2022-02-06 18:21] nsivabalan commented on #4656
I guess the replaced file groups(15201 file groups, where as actual valid file groups are only 17 or 18) are causing a lot of impact. We can probably trigger archival and see whats happening.
I am assuming you are using default configs for cleaning and archiving. especially below configs.
[code]

default values are 10, 20 and 30.
Can you make the 2nd and 3rd configs to 11 and 12.
This should trim

[2022-02-06 20:16] josuexcxc opened #4754 "upsert operation removes duplicates"
my initial hudi table contains duplicates for several record keys, when writing updates to these duplicate records, hudi keeps me a single record and I need it to keep the same number of duplicate records

initial table
`+---------+-----------+------------+------+------------+
|AccountID|CreatedDate|ModifiedDate|Amount|CurrencyCode|
+---------+-----------+------------+------+------------+
|      5

[2022-02-06 21:56] LucassLin commented on #4642
After fixing the access issue, https://hudi.apache.org/docs/quick-start-guide/#mergeinto works well for us.
Thanks team!

[2022-02-07 02:26] biggeng opened #4756 "[SUPPORT] How to config optimistic locks in flink connector"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Hudi has supportted

[2022-02-07 02:31] biggeng opened #4757 "[SUPPORT] Support flink 1.14 in future"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Any plan to support flink

[2022-02-07 02:46] danny0405 commented on #4756
Flink does not support optimistic locks yet.

[2022-02-07 03:32] biggeng commented on #4756
Thanks for your replying.
Any plan to support flink optimistic locks?

[2022-02-07 03:36] hanjun996 commented on #4698
Environment Description
Hudi version :0.10.0
flink version :1.13.0

Steps to reproduce the behavior:

mysql timestamp type, such as: 1970-01-01T00:00:01Z, the corresponding type in flink is TIMESTAMP_WITH_LOCAL_TIME_ZONE, which is not supported by avro during conversion in hudi version 0.10.0

code：

    public static final DataType ROW_DATA_TYPE = DataTypes.ROW(
        DataTypes.FIELD("id", Data

[2022-02-07 03:37] YannByron commented on #4678
@nsivabalan I have tested in 0.10 brach and master branch. Hudi can return the right columns. And HoodieFileIndex will prefer to use the schema that user provides.
Do you reproduce it?

[2022-02-07 03:38] hanjun996 commented on #4698
Hudi version :0.10.0
flink version :1.13.0

Steps to reproduce the behavior:

mysql timestamp type, such as: 1970-01-01T00:00:01Z, the corresponding type in flink is TIMESTAMP_WITH_LOCAL_TIME_ZONE, which is not supported by avro during conversion in hudi version 0.10.0

code：

public static final DataType ROW_DATA_TYPE = DataTypes.ROW(
    DataTypes.FIELD("id", DataTypes.STRING()),
    DataTypes.F

[2022-02-07 04:11] danny0405 commented on #4756
The optimistic lock can be supported if we make the state-based index as a builtin index impl for Hudi.

[2022-02-07 06:31] Gatsby-Lee commented on #4748
@nsivabalan

Thank you very much for your reply.

The reason I started questioning about the context is due to this information in Hudi document.

references: https://hudi.apache.org/docs/0.10.0/metadata
"""
If your current deployment model is single writer along with async table services (such as cleaning, clustering, compaction) configured, then it is a must to have 'lock providers configured' b

[2022-02-07 06:35] Gatsby-Lee commented on #4747
@nsivabalan

Thank you very much for your reply.
I will delete the Hudi Metadata directory and try again.

Just one question.
How can the Metadata become out-dated even with SINGLE_WRITER and all async Table services are disabled?

Thank you
Gatsby

[2022-02-07 07:59] xiarixiaoyao commented on #4751
@melin  we should not use sparksql to modify column types for hudi,   change column type will lead spark read failfure.  We are currently adding this feature to Hudi

[2022-02-07 08:44] xiarixiaoyao commented on #4700
@117th  Sorry for the delay， could you pls post the error exception when you try to sync to hive,
it should be ok with hive3.0,  our production environment uses hive3.0.0 also

[2022-02-07 09:11] wqwl611 commented on #4690
@nsivabalan
I  have tried disable metadata table，but issue still。
And with 2.4.5，my job have running about～ 3days，and not seen the issue。

[2022-02-07 09:44] rafcis02 commented on #4552
Thanks a lot @YannByron, `hoodie.parquet.outputtimestamptype` works perfectly

[2022-02-07 12:46] nsivabalan commented on #4552
thanks Yann 👍
@rafcis02 @denys-tyshetskyy : if you are good, can we close the issue.

[2022-02-07 12:48] nsivabalan commented on #3965
@Frogglet : Can you please respond us w/ more info. w/o further info, it will be tough to debug this further.
@YannByron : could be related to the other ticket you are triaging. would you mind following up on this as well ?

[2022-02-07 12:51] nsivabalan commented on #3429
@mtami : Can you try setting "hoodie.parquet.outputtimestamptype" to "TIMESTAMP_MICROS" and let us know if things are working as expected.
CC @YannByron

[2022-02-07 14:04] 117th commented on #4700
@xiarixiaoyao the strangiest thing here is what I'm getting no exception at all, job continues to work as there is no problems. Parquets files are being written to S3 bucket, feels like there is no attempt to update Hive metastore if I'm trying to sync data via HMS trift. If I switch sync mode to JDBC I'm getting error I've posted here before.

Sorry, my attempt to use Hive 2.3.3 is delayed due to

[2022-02-07 14:13] xushiyan commented on #4723
this is the same ask as here
https://github.com/apache/hudi/issues/4751#issuecomment-1031171564

cc @xiarixiaoyao

[2022-02-07 20:00] denys-tyshetskyy commented on #4552
Thanks guys, feel free to close

[2022-02-07 22:20] #4552 closed

[2022-02-07 22:24] nsivabalan commented on #4719
@FelixKJose : Can you confirm that your issue matches w/ what Prashant reported.

[2022-02-07 22:25] nsivabalan commented on #4745
@harsh1231 : can you follow up on this as well.

[2022-02-07 22:26] nsivabalan commented on #4747
it should not be out of sync at all. if there is, we should chase and triage the bug.

[2022-02-07 22:27] nsivabalan commented on #4747
btw, FileNotFound could happen w/ regular data table itself (even if you have disabled metadata), on some valid cases.
for eg, if your cleaner is aggressive and cleans up the data files which your long running query is still running, it could lead to FileNotFoundIssue.

[2022-02-07 22:29] nsivabalan commented on #4748
Q1: yes.
Q2: we do not honor validation config in 0.10.0. we had it in 0.8.0, but not in 0.10.0.
So, once the patch lands, probably you can make use of it.

[2022-02-07 22:29] nsivabalan commented on #4751
RFC link:
https://cwiki.apache.org/confluence/display/HUDI/RFC+-+33++Hudi+supports+more+comprehensive+Schema+Evolution

[2022-02-07 22:30] nsivabalan commented on #4751
@melin : let us know if you have more questions. if not, feel free to close it out. You can add your follow up comments /questions to RFC as well if interested.

[2022-02-07 22:32] nsivabalan commented on #4690
hmmm. if you are facing it w/ metadata disabled, we should definitely look into it. Do you have the table state saved? If not, next time when you encounter the issue, can you share the contents of .hoodie if you don't mind. Would help us triage the issue.

[2022-02-07 22:33] nsivabalan commented on #4698
@danny0405 @leesf : Can you folks loop in someone to assist here please.

[2022-02-07 22:35] nsivabalan commented on #4678
got it. let me try it out on my end. I vaguely remember reviewing a patch where the author mentioned that enforcing schema w/ hudi spark data source read did not work and hence.

[2022-02-07 22:35] nsivabalan commented on #4642
thanks @dongkelun  for the assistance.
Thanks for updating us @LucassLin

[2022-02-07 22:35] #4642 closed

[2022-02-07 22:38] nsivabalan commented on #4754
@josuexcxc : thats how "upsert" works. If you wish to not de-dup or update older version, you can switch the operation type to "insert".

[2022-02-07 22:53] nsivabalan commented on #3879
I could not reproduce the missing records.

[code]

[2022-02-07 22:59] harishraju-govindaraju commented on #4745
@nsivabalan - I was not setting the any partition for my folder. I am doing some benchmarking today. I will share the SPARK UI Stages here soon. thanks for getting back.

[2022-02-07 22:59] Gatsby-Lee commented on #4748
@nsivabalan

Again, Thank you for your reply.

First, You're right.
I can't find **hoodie.metadata.validate** in 0.10.0. ( It's still available in 0.9 )
Thank you for making it clear.

About "Metadata Table", ( Since the current AWS Marketplace provides Hudi 0.9, let me ask questions about 0.9 and 0.10 )
Q1. On Hudi 0.9, to use Async Hudi Tables services, does the lock provider has to be configure

[2022-02-07 23:07] vingov commented on #4627
It should be easy to integrate with Dermio, since they already support Paquet tables, I just did some quick research and found out that they already support both Iceberg and Delta Lake.

I can volunteer to create an RFC for the same.

Thanks, @melin for raising this request!

[2022-02-07 23:12] Gatsby-Lee commented on #4747
@nsivabalan

Again, thank you for your reply.
To make my question more clear, I posted the configuration I am using. ( Hudi 0.9 )
I disabled all Hudi Table Services Async. ( since I am not sure how Hudi Table Services Async works with Hudi Metadata )

Other than "hoodie.clean.automatic", all Hudi Table Services are disabled. ( set to false )
I guess with these configuration, all Hudi Table service

[2022-02-07 23:24] nsivabalan commented on #4627
awesome @vingov . Appreciate it. will go ahead and close this as we have a tracking jira. we can continue our conversation there.

[2022-02-07 23:24] #4627 closed

[2022-02-08 01:25] #4751 closed

[2022-02-08 02:47] harishraju-govindaraju commented on #4745
@harsh1231 @nsivabalan

Here are some updates. I have upload initial load to an unpartitioned table with 1.5 billion records in 45 mins. Which seem ok to me given the number of records.

However, when i try to do an Upsert of one 50 MB parquet file as delta, it takes some where between 17 mins to 22 mins to load the deltas. This is what is concerning us as to why the delta updates are so slow. We

[2022-02-08 03:56] wqwl611 commented on #4690
@nsivabalan ok, I will reproduce the issue, and then share the contents

[2022-02-08 06:39] danny0405 commented on #4636
+1 generally for the timeline server based instant request, we already did that for MARKER files already, what do you think @vinothchandar , do we need a new RFC here ?

[2022-02-08 07:00] danny0405 commented on #4698
Yeah, the timestamp_LTZ is not supported yet for flink, i have fired a JIRA to support this feature: https://issues.apache.org/jira/browse/HUDI-3388

[2022-02-08 13:25] FelixKJose commented on #4719
Yes, my is related to #4206.

[2022-02-08 14:32] nsivabalan commented on #4719
thanks for confirming. will go ahead and close the issue.

[2022-02-08 14:32] #4719 closed

[2022-02-08 21:13] parisni commented on #4723
not sure how to check that, but that makes sense that feature is not
available in my glue metastore version.

[2022-02-09 04:10] VIKASPATID commented on #4635
@nsivabalan I tried with "hoodie.write.markers.type" = "DIRECT" and it stopped that "Failed to delete marker directory" error with hudi 0.10.0 , but it again failed with the same error we are getting with hudi 0.9.0

<details>
<summary> stack trace</summary>

[code]
</details>

[2022-02-09 04:41] harsh1231 commented on #4745
@harishraju-govindaraju  Can you check
`* stats filesizes - File Sizes. Display summary stats on sizes of files
* stats wa - Write Amplification. Ratio of how many records were upserted to how many records were actually written`
 of upsert operation through https://hudi.apache.org/docs/0.5.0/admin_guide/
Also can you share  stage level spark ui screen shots
Performance of upsert operation depends

[2022-02-09 05:17] soma17dec commented on #4729
Hi,

I am currently running my process on AWS EMR services by using Hudi configs on Hudi 0.7 version and I am submitting my jobs using CLI on EMR cluster.

[code]

config file -

[code]

Not sure how to use above mentioned patch in the CLI mode to update records in a raw Hudi table.

Please let me know which version has the properties that support CLI?

[2022-02-09 05:32] Prasheel3001 opened #4771 "[Issue]: Hudi spill path not getting cleared when containers getting killed abruptly."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
When yarn kills the contai

[2022-02-09 07:27] wqwl611 commented on #4690
@nsivabalan
I‘m trying to reproduce the issue, but my job running over 24h, and the issue don't show.
so weird.
I will share the content onece I see the issue again.

[2022-02-09 09:35] wjcwin commented on #4678
`
  def getHudi(spark: SparkSession, path: String, dataSchema: StructType): DataFrame = {
    val df: DataFrame =
      spark.read.format("hudi")
        .schema(dataSchema)
        .load(path + "/*")
    df
  }

  def getHudi(spark: SparkSession, path: String): DataFrame = {
    var df: DataFrame =
      spark.read.format("org.apache.hudi")
        .load(path + "/*")
        .select("pay_time")

[2022-02-09 17:29] geoffroyatkwiff opened #4778 "[SUPPORT] Row with _hoodie_is_deleted=True stored into target table"
**Describe the problem you faced**

I am using the `_hoodie_is_deleted` column but some rows are written to the target table shouldn't.
When both the "Insert" and "Delete" (the delete being for said inserted row) are in the same "source" parquet file, the "Delete" is stored into the target table.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a table using one parquet file (contain

[2022-02-09 21:30] Gatsby-Lee commented on #4747
@nsivabalan

hi, what is the way making the cleaner not be aggressive?

Thank you
Gatsby

[2022-02-10 06:18] Gatsby-Lee commented on #4221
@danny0405

Hi, I am using Hudi 0.9.
I saw the bug fix you mentioned in 0.10.

Since I am using the provided version from AWS Glue, for now, I have to use Hudi 0.9.
Is there any work around in Hudi 0.9 to overcome the bug you fix?

If you have a chance, can you explain why MoR possibly can have less without the patch?

Thank you
Gatsby

[2022-02-10 07:14] danny0405 commented on #4221
The data is not lost, it is committed but not exposed by the reader view before the patch.

[2022-02-10 13:23] yesemsanthoshkumar opened #4784 "[SUPPORT] Partition column not appearing in spark dataframe"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
I have a dataset that

[2022-02-10 22:20] aznwarmonkey opened #4788 "[SUPPORT] run_sync_tool throws java.lang.NoSuchFieldError: TIMESTAMP_MICROS"
Hello,

I currently have two hudi tables (fact and dimension table) that needs to be sync to hive metastore,
I was able to sync the dimension table successfully using `run_sync_tool.sh` However when I tried calling it on the fact table the error message I am getting is the following:

[code]

The command I am running is exactly the same as fact / dimension with the exception of the the partition c

[2022-02-11 04:01] gaoasi opened #4790 "[SUPPORT] hudi-kafka-connect data missing!"
i used hudi-kafka-connect to load logs from kafka to hudi
config is :
bootstrap.servers=localhost:9092
group.id=hudi-connect-cluster-test
key.converter=org.apache.kafka.connect.json.JsonConverter
value.converter=org.apache.kafka.connect.json.JsonConverter
key.converter.schemas.enable=true
value.converter.schemas.enable=true
offset.storage.topic=connect-offsets
offset.storage.replication.factor=1
c

[2022-02-11 08:08] codope commented on #3868
@matthiasdg Could you remove the partition extraction config (by default it is slash encoded day partition) and try again? I have updated the gist with both failed and successful runs in the gist: https://gist.github.com/codope/c4487d35beb60e322316d9a18773103a

only difference in the cases of successful run is that i'm using the default partition extractor class.

[2022-02-11 08:46] pan3793 opened #4793 "[SUPPORT] Integration test broken after upgrading from 0.10.0 to 0.10.1"
**Describe the problem you faced**

The Apache Kyuubi (Incubating) Hudi Integration test broken after upgrading from 0.10.0 to 0.10.1.

https://github.com/apache/incubator-kyuubi/runs/5152924363

**To Reproduce**

The [TEST CASE](https://github.com/apache/incubator-kyuubi/blob/master/kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HudiMetadataTests.scala)

https://github.com/apache/incuba

[2022-02-11 10:44] geoffroyatkwiff commented on #4778
Hey @nsivabalan , I'm using `upsert`. I'm using a timestamp for `hoodie.datasource.write.precombine.field`.
So, in the case of a dataframe being processed that would contain an Insert and a Delete for the same record (so same key value), only the Delete is taken into account, and since there is nothing to be deleted in the target table, it looks as if it is inserting this Delete..
Any advice on th

[2022-02-11 11:12] andykrk commented on #4604
Hello,

I will try to describe the procedure with more details. It's very close to what you have described though. Please hold on with reproduction attempt and let me try again now since we are on 0.9.0 in production environment but without archival (1000 commits needed). I see that change from 0.7.0 to 0.9.0 without archiving is not causing any problems since it took place. I will try with enable

[2022-02-11 14:59] nsivabalan commented on #4788
likely its a jar version mismatch. class of interest if from parquet-avro. Do you happened to have parquet-avro in your class path. if yes, can you remove it and give it a try.
CC @xushiyan

[2022-02-11 15:01] nsivabalan commented on #4778
sorry. is your requirement, if we have insert and delete for the same record within one batch thats being ingested, you prefer final snapshot in hudi to show the insert record and not delete record?

[2022-02-11 15:20] geoffroyatkwiff commented on #4778
Hi @nsivabalan , no, I would expect the two to cancel each other out. For example: say someone creates a new user in a table, but realises they already had them under another name. They delete this user that was just created 1 minute before, and wouldn't expect the target table to show a row related to this duplicate user.

[2022-02-11 15:26] nsivabalan commented on #4784
I could not reproduce the partitioning issue you are facing.

local spark shell
[code]

Output
[code]

specifically values for _hoodie_partition_path are
part1/1970-01-01

2: if you disable hive style partitioning, you may not see the "fieldname=". But if you want to enable it, don't think hudi allows changing the fieldname for partition paths.
3: I am not sure on how to leverage partition pruning

[2022-02-11 15:29] JorgenG commented on #4622
So for now the status is that using 0.10.x of Hudi is incompatible with redshift spectrum? We are exploring using Hudi for our data lake and came across this very same problem which confused me a lot. I'll do the downgrade now.

[2022-02-11 19:05] nsivabalan commented on #4778
if the precombine value in delete record is higher than insert record, then delete will take precedence. if not, insert will take precedence.

[2022-02-11 23:45] rohit-m-99 opened #4796 "[SUPPORT] Cannot run HoodieDeltaStreamer the second time when using async clustering"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

When running the followin

[2022-02-12 01:17] melin opened #4797 "[SUPPORT] Change Data Capture(CDC) for hudi"
https://docs.google.com/document/d/1bN6rdLNcYOHnT3xVBfB33BoiPO06aKBo56SZmuU9pnY/edit#heading=h.czd6l3c9xj87
<img width="716" alt="image" src="https://user-images.githubusercontent.com/1145830/153691146-95705a48-3629-435a-91ab-86047692a00d.png">

[2022-02-12 03:04] danny0405 commented on #4797
Thanks for the reporting @melin , actually hoodie already implemented this feature already since release 0.9, we add a metadata field named `__hoodie_operation` to record the per-record change flag. And hoodie can consume CDC and be read a CDC source both through Flink engine already. The spark engine should follow in this feature soon.

But like you said, we should  have a more general solution,

[2022-02-12 04:33] nsivabalan commented on #4796
I could not reproduce locally w/ 0.10.1. Only suspicion I have is around schema providers. I also using parquetDFS, but have provided schema provider and could able to see async clustering running smoothly. I stopped and restarted jobs couple of times and is all good.

[2022-02-12 04:40] nsivabalan commented on #4793
may I know which hudi bundle or artifact you are using? '
with 0.10.1, for spark3, the bundle names have changed.
hudi-spark3.0.3-bundle*
hudi-spark3.1.2-bundle*

in previous release it was hudi-spark3-bundle*

[2022-02-12 06:11] JorgenG commented on #4622
@nsivabalan Considering that we seem to be at AWS mercy here, could there be an option to have some config flag which uses the old precision? Or is there some new features relying on this change to be present?

We have this chicken and egg problem with adopting dbt now. We want to use redshift spectrum for queries and dbt spark for transforms. (Which was added in 0.10) But that renders spectrum un

[2022-02-12 07:11] melin commented on #4797
Spark PR： https://issues.apache.org/jira/browse/HUDI-2941

[2022-02-12 14:32] BenjMaq commented on #4154
Hi team, wondering if anyone was able to corroborate (or refute) my above statement.

Also wondering if this issue could be re-opened?
Thanks!

[2022-02-12 15:17] aznwarmonkey commented on #4788
I believe i have solved the error. the relevant jars in $HUDI_HOME/cli/lib was not included in the `run_sync_tool.sh`
So I had to modify that script to add all the relevant jars on the class path.

This is the line i added into the script then updated the `java -cp entry`

[code]

Not sure if this is a Hudi issue or how AWS EMR is built/deployed

[2022-02-12 19:47] nsivabalan commented on #4796
I could not reproduce. I also tried w/ ComplexKeyGen and empty partition path and no schema provider configs. yet could not reproduce. sorry. we might need reproducible steps w/ some dataset if feasible.

[code]

properties file contents
[code]

[2022-02-12 19:48] nsivabalan commented on #4796
@codope @satishkotha : can you folks spot anything.

[2022-02-12 19:50] nsivabalan commented on #4790
yes, in kafka connect hudi directly writes to log files. Expectation is that, user should configure a separate async compaction to execute compactions. And then you can start to see base parquet files. But actual writing from kafka nodes directly go into log files.
so this is expected.

[2022-02-13 03:21] baisui1981 opened #4802 "[SUPPORT] Nullable column value from MySql exporting to Hudi faild"
**Describe the problem you faced**

When export MySql rows into Hudi table , If none null value in all columns , the inserting process will be success ,that can execute Hive query for imported table from MySql.   Another case , having null value in MySql table ,the inserting process will be faild.

**To Reproduce**
For example there a simple MySql table, Table `base`'s metadata as below:

| Field

[2022-02-13 11:00] pan3793 commented on #4793
@nsivabalan thanks for your reply.

We use the vanilla jars instead of the bundle jar because of

- Hudi bundle jar name contains the exactly Spark patched version, e.g. `hudi-spark3.1.2-bundle*`, if we choose it, what if we want to upgrade Spark version to 3.1.3(voting phase), do we need to wait/ask Hudi community to publish the `hudi-spark3.1.3-bundle*` jar?

- Hudi bundle jar contains lots of c

[2022-02-13 20:09] aznwarmonkey opened #4803 "[SUPPORT] Clustering throwing exception"
Hello,

I am trying to run clustering and the job is erroring out without much indication as to why.

Here's the command I am using to run clustering:

[code]

Here's the properties file:
[code]

And here's the console output of clustering job.
[code]

Do any of you guys have any insight as to why this error is happening?

[2022-02-14 06:05] gaoasi commented on #4790
thanks for answer！
i have a doubt，may i should configure a separate async compaction to execute compactions every time when the new data arrives，or i can configure a separate async compaction to execute compactions only once when the task first start
@nsivabalan

[2022-02-14 08:05] zhangyue19921010 commented on #4803
Hi @aznwarmonkey Would you mind to have a try using
Step 1--mode schedule
Step 2 --mode execute --instant-time instant step1 generated

[2022-02-14 08:10] zhangyue19921010 commented on #4803
Also could you please provide full log of this test?

[2022-02-14 09:48] geoffroyatkwiff commented on #4778
Yes, it does seem to take precedence, but doesn't work as I would expect:
- if you process a file that contains a delete for a row that's already in the target table, it is simply going to delete this row, which is what I would expect so that's totally fine.
- if you process a file that contains an insert, and the delete for this same row, then as you said, the delete takes precedence, yes. But th

[2022-02-14 13:28] nsivabalan opened #4814 "[SUPPORT] NPE thrown while archiving data table with 0.10.1"
**Describe the problem you faced**

My job fails w/ NPE during archival of data table when metadata table is enabled.

Hi All, I am facing an issue regarding table type after bumping to 0.10.1 version.
I have specified COW table type but somehow in logs I can see MERGE_ON_READ table type also. Is it for metadata table?
The jobs are intermittently failing with Null pointer exception.
Can someone pl

[2022-02-14 13:52] megha2411 commented on #4814
**To Reproduce**

Steps to reproduce the behavior:
This is coming up intermittently. I tried processing 30 files and 1 failed with this error. It did not fail in 2ns run. But again failed in 5th run. So not sure on the steps to reproduce it.

**Expected behavior:**
IMO it should not fail with any NULL pointer exception

**Environment Description**

Hudi version : 0.10.1

Spark version : 3.1.2

Hiv

[2022-02-14 14:25] nsivabalan commented on #4790
@yihua @rmahindra123 : Can you folks assist here.

[2022-02-14 14:55] WilliamShine opened #4816 "[SUPPORT] hudi flink sql suport for _hoodie_commit_time Column"
flink run this sql will get NPE:

CREATE TABLE `account`(
  `_hoodie_commit_time` string,
  `_hoodie_commit_seqno` string,
  `_hoodie_record_key` string,
  `_hoodie_partition_path` string,
  `_hoodie_file_name` string,
  `_ts_ms` bigint,
  `_op` string,
  `_hoodie_is_deleted` boolean,
  `id` int,
  `val` int,
  `created_at` bigint,
  `hh` string,
`dt` string,
PRIMARY KEY (`id`)  NOT ENFORCED)
PART

[2022-02-14 15:02] megha2411 commented on #4814
After disabling metadata I haven't faced this issue yet. Also, FYI, I started using this 0.10 version just 2 days back.

[2022-02-14 18:50] nsivabalan commented on #3755
@yihua : can you take a look at this issue and see if this could be due to the repeated deferrencing of RDD, which got fixed recently?

[2022-02-14 18:52] nsivabalan commented on #4457
@zuyanton : is there any updates on this end. We are looking to fix all bugs around metadata table. would be nice if you can respond to above clarifications

[2022-02-14 18:55] nsivabalan commented on #4604
sure. I will hold on to reproduce until I hear from you. wrt metadata table, actually I had a suspicion if enabling it could cause issues. we fixed lot of bugs around metadata table in 0.10.0 and few more are going into 0.11.0 as well. So, would recommend not to enable it. sorry about that.

[2022-02-14 19:13] nsivabalan commented on #4635
actually we made few fixes to multi-writer in 0.10.0. Especially around [rolling back unintentded commits](https://github.com/apache/hudi/pull/3956).
So, when you say you are also seeing it w/ 0.10.0, was the table created in 0.10.0 and then after few commits you are facing this issue. Or was the table created in older versions and was upgraded to 0.10.0. If its upgraded, probably the table was al

[2022-02-14 19:27] LucassLin commented on #4700
I also run into the same issue as @nsivabalan did when using hms.
Spark: 2.4.7
Spark-hive: 2.4.7

[code]
Any idea on this error?

[2022-02-14 20:11] #4788 closed

[2022-02-14 20:14] nsivabalan commented on #4790
I will let experts weigh in here. But to my knowledge, scheduling will be done by kafka writers (connect). but for execution, you might have to configure a separate job and ensure compaction gets executed by it.

[2022-02-14 20:23] nsivabalan commented on #4778
yes. unfortunately, this behavior can't be fixed easily.
For eg,
1. insert rec1 at time t0
2. delete rec1 at time t100
3. again re-insert rec1 at time t100000

lets say between (2) and (3), there were 100s of commits, hudi may not keep remembering every record it has ever seen. So, after (2), whenever next update happens, hudi will remove rec1 from its storage. and so later if rec1 is ingested aga

[2022-02-14 20:26] nsivabalan commented on #4771
thanks for reporting. have filed a tracking [jira](https://issues.apache.org/jira/browse/HUDI-3425). Let us know if you are interested to work on it.

[2022-02-14 20:26] #4771 closed

[2022-02-14 20:27] nsivabalan commented on #4754
@josuexcxc : if the above suggestion worked for you, let us know so that we can close the issue. if not, we can dive deeper.

[2022-02-14 20:28] nsivabalan commented on #4748
Q1, Q2: @prashantwason : Can you help answer this.
Q3, Q4: yes.

[2022-02-14 22:05] nsivabalan commented on #4747
synced up directly. will close out the issue for now. Gatsby to open up a new issue once he figures out the exact issue.

[2022-02-14 22:05] #4747 closed

[2022-02-14 22:10] nsivabalan commented on #4729
sorry. not sure I understand your requirement.
Is your requirement to make partial updates to already existing records?
for eg, if you have record with 10 columns, and if your new incoming payload just has 4 cols, you expect the older values to be picked up for rest 6 cols?

If yes, then we don't have that support yet. We have a active patch that is being reviewed as linked above.

[2022-02-14 22:10] nsivabalan commented on #4723
thanks. Closing this as we have a tracking feature and RFC.

[2022-02-14 22:10] #4723 closed

[2022-02-14 22:11] Gatsby-Lee commented on #4747
@nsivabalan  Thank you very much!!

[2022-02-14 22:12] nsivabalan commented on #4700
@xiarixiaoyao : you can reproduce my exception by using our local docker set up. and the steps I have given above.

[2022-02-14 22:12] nsivabalan commented on #4698
thanks!

[2022-02-14 22:12] #4698 closed

[2022-02-14 22:13] nsivabalan commented on #4690
cool, thanks! Do you prefer to keep this open or close it and then you can open a new one once you have more updates.

[2022-02-14 22:13] nsivabalan commented on #4683
@waywtdcc : do you have any updates based on Raymond's suggestion above.

[2022-02-14 22:14] nsivabalan commented on #3795
@codope : any updates on this ?

[2022-02-14 22:17] nsivabalan commented on #4802
for nullable columns, can you try making your schema as follows
[code]

[2022-02-14 22:19] nsivabalan commented on #4456
@zhedoubushishi : Can you follow up here please and help unblock the user.

[2022-02-14 22:24] nsivabalan commented on #4461
Closing it out due to inactivity. but feel free to re-open the issue is you are still looking for assistance.

[2022-02-14 22:24] #4461 closed

[2022-02-14 22:24] nsivabalan commented on #4506
@parisni : can you respond to Sagar above.

[2022-02-14 22:26] nsivabalan commented on #4558
@danny0405 @leesf @yanghua : Can you folks loop in someone to assist the user here please.

[2022-02-14 22:35] nsivabalan commented on #4311
sorry to have dropped the ball on this. I will look into the issue and update it by this week.
@scxwhite : I see you are also reporting an issue w/ clustering. Can you file a new issue may be just so we don't miss out.
Can you update w/ all hoodie write configs you use (whether inline or async clustering) as well and which table type etc when you create the ticket. and thanks a lot for given steps

[2022-02-14 22:40] nsivabalan commented on #4311
@SabyasachiDasTR : thanks for the update.
I can't think of a way to fix an existing table (i.e. to dedup). Unfortunately you may have to rebootstrap the entire table. sorry about that.
@prashantwason : user claims that with hudi 0.9.0, using SIMPLE index and metadata enabled results in duplicate data. but if they use BLOOM index w/ metadata enabled, things are working fine. Do you happened to know

[2022-02-14 22:41] nsivabalan commented on #4230
@xushiyan @yihua : can we get some updates here please.

[2022-02-14 22:42] nsivabalan commented on #4082
@xuranyang : would you mind starting a dev thread on this. lets see what others have to say. Feel free to close the github issue btw if you don't have any follow ups.

[2022-02-14 22:44] nsivabalan commented on #4055
@JB-data : Will close the ticket due to no activity. we can't do much w/o further logs from your end.
But feel free to re-open if you are still looking for assistance. would be happy to help.

[2022-02-14 22:44] #4055 closed

[2022-02-14 22:46] nsivabalan commented on #3731
@parisni : Is there any updates on this regard.

[2022-02-14 22:47] nsivabalan commented on #3215
@danny0405 @anikait-rao : can we have any updates on this regard. If its resolved offline, can we close the github issue.

[2022-02-14 22:50] nsivabalan commented on #3879
Closing this as not reproducible for now. But would definitely curious on this end. If you can help us w/ a dataset to reproduce the issue, do let us know. we taken data missing very seriously.

[2022-02-14 22:50] #3879 closed

[2022-02-14 23:17] prashantwason commented on #4748
Q1, Q2: YES

[2022-02-15 01:29] #4082 closed

[2022-02-15 02:53] fengjian428 commented on #3755
yes I think so

[2022-02-15 07:17] yanghua commented on #4558
@waywtdcc Does Hudi 0.10 also have this issue, did you try? IMHO, there are some issues in Hudi 0.9 with Flink integration.

[2022-02-15 08:29] gaoasi commented on #4790
@nsivabalan  Thank you very much for your patient answer

[2022-02-15 08:56] Gatsby-Lee commented on #4748
@nsivabalan @prashantwason
Thank you very much for all your answers.

[2022-02-15 08:56] #4748 closed

[2022-02-15 09:28] andykrk commented on #4604
@nsivabalan in the meantime we have this table running with 0.9.0 in production as we are starting to use 0.9.0 wherever it's possible but still with very high archival setting (no actual archiving). Taking this into consideration I cloned production data and ran with:
'hoodie.keep.min.commits': 29,
'hoodie.keep.max.commits': 30,
'hoodie.cleaner.commits.retained': 28,
'hoodie.metadata.enable': Tru

[2022-02-15 09:50] xiarixiaoyao commented on #4700
@LucassLin
Do you also use local docker to produce this problem？
@nsivabalan  yes，i can reproduce this problem by docker.   It's very strange that I can't reproduce this problem in our product environment,  i will check it deep tomorrow

[2022-02-15 13:47] YannByron commented on #3965
@Frogglet According to the steps you provide, I think it's same to https://github.com/apache/hudi/issues/3429. Can you set `hoodie.parquet.outputtimestamptype` to `TIMESTAMP_MICROS` and retry the whole steps.

[2022-02-15 14:11] YannByron commented on #4678
@wjcwin If hudi 0.5.3 can response this codes, i believe it's a bug. And i don't think `DataFrameReader.schema` can be used like this. The description of this method as follows:
[code]

[2022-02-15 15:36] nsivabalan commented on #4154
yes, we hudi 0.5.3 cannot read replace commit files. it was added only in 0.7.0.

[2022-02-15 20:46] nsivabalan commented on #4814
@megha2411 : would you mind posting the contents of .hoodie. it does not contain any user data, just the timeline files pertaining to the hudi table.
Either you can zip and share it here or you can do "ls" and paste the output here. But do ensure you sort it based on FileModTime when you perform "ls".

And if you can enable debug logs for hudi and share us what you see when you encounter the issue

[2022-02-15 20:49] nsivabalan commented on #4814
also, may I know if you are facing this issue w/ all the tables after you upgraded to 0.10.1 or just one off case?
And once the job fails, if you retry, do you still hit the same exception. or does it proceed w/o issues?
Also, I see you have enabled multi-writer. Do you have any tables where you don't have multi-writer enabled and do you see the exceptions in those tables as well ?

[2022-02-15 20:50] nsivabalan commented on #4814
oh btw, is it 0.10.1 or is it 0.10.0? in one of your early messages you mentioned 0.10. just wanted to double confirm. Also, I assume you upgraded from 0.10.0 to 0.10.1 or was it from some a prior version .

[2022-02-15 21:28] poolis commented on #4784
@nsivabalan [nsivabalan](https://github.com/nsivabalan). In your example, why is the column `ppath` = `0` in the output when it was originally `1` when the DataFrame was created?

[2022-02-16 01:45] nloneday commented on #4184
me too. `parquet is not a Parquet file (too small length: 0)`
![image](https://user-images.githubusercontent.com/39720691/154180289-15630622-131b-4a4d-95ed-8961d7f1aca4.png)

[2022-02-16 03:37] VIKASPATID commented on #4635
Hi @nsivabalan, it's a new table created with 0.10.0.

[2022-02-16 05:33] wqwl611 commented on #4690
ok, i would close it and reopen if i find something
@nsivabalan

[2022-02-16 05:33] #4690 closed

[2022-02-16 05:37] NiteshSK commented on #4814
@nsivabalan
We are running on Hudi version : 0.10.1
After upgrading to Hudi 0.10.1 this issue is with intermittently not for every case.

[2022-02-16 06:24] #4790 closed

[2022-02-16 07:26] megha2411 commented on #4814
@nsivabalan I was not able to get Hoodie contents for the previous stack trace. So I reproduced the issue with meta disabled. Below is the trace along with the Hoodie Contents.

<<< Invocation of Spark command completed <<<

Hadoop Job IDs executed by Spark: job_1644866841988_0880

java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.r

[2022-02-16 07:27] waywtdcc opened #4825 "[SUPPORT] flink hudi some class not found"
Use Maven to introduce the Flink Hudi bundle package, and then run the task. report errors

<dependency>
            <groupId>org.apache.hudi</groupId>
            <artifactId>hudi-utilities-bundle_2.11</artifactId>
            <version>${hudi.version}</version>
            <scope>provided</scope>
        </dependency>
`
[ERROR] [2022-02-16 15:21:12] org.apache.flink.runtime.util.FatalExitExceptio

[2022-02-16 08:15] gaoasi opened #4827 "[SUPPORT] flink1.12.4 hudi 0.9.0 java.lang.ClassNotFoundException: org.apache.hudi.sink.StreamWriteOperatorCoordinator$Provider"
hi !
I expect to write data to hudi through flink sql-client, however, I have encountered a problem, the problem is as follows：

flink version is 1.12.4
hudi version is 0.9.0

flink lib info is :
![image](https://user-images.githubusercontent.com/43560964/154222694-171da3ec-6048-4461-9d0d-af1c146437ea.png)
![image](https://user-images.githubusercontent.com/43560964/154222742-3ab077ad-1324-4061-857

[2022-02-16 08:16] danny0405 commented on #4825
Yes, the default bundle jar does not include the hive jar but the hive class is shaded.

[2022-02-16 08:19] zhedoubushishi commented on #4456
I couldn't reproduce this issue, this is the config I used:
[code]

[2022-02-16 13:26] danny0405 commented on #4184
I guess this is a parquet that not committed, and the cleaner has not cleaned it yet when the reader reads this file.

[2022-02-16 13:56] nloneday commented on #4184
it seems that cleaner does not work well.
![image](https://user-images.githubusercontent.com/39720691/154279200-d3f86e67-0fed-48a0-9364-892a22795009.png)

[2022-02-16 16:05] LucassLin commented on #4700
@xiarixiaoyao
No I am testing it on Dataproc 1.5 with Spark Version 2.4.8 and hudi Version 0.10.0

[2022-02-16 17:01] nochimow commented on #4456
Since i had to rollback to Hudi 0.9 due the Redshift Spectrum incompatibility i cannot track this issue anymore. @mainamit can you follow up this issue since you also face the same issue?

[2022-02-16 18:40] prashantwason commented on #4311
Am not aware of any such issue.

The test case by @scxwhite  is interesting. I see that the min-commits-to-keep is set to 5 and the test case fails after 5 runs. There could be some hint from running the test case and. collecting logs. Let me see if I can get to it today.

[2022-02-16 20:43] cb149 opened #4830 "[SUPPORT] Impala HUDIPARQUET missing the last cleaned partition"
**Describe the problem you faced**

I just switched two of my Hudi tables in Impala from PARQUET to HUDIPARQUET, by dropping the old table first and then creating it again using HUDIPARQUET as described in the [documentation](https://hudi.apache.org/docs/querying_data/#impala-34-or-later)

One table is partitioned with `year=.../month=...` and is never clustered. This table shows no problems at al

[2022-02-17 00:57] abhijeetkushe opened #4831 "[SUPPORT] Help with Hudi Cli Savepoint and restore"
**Describe the problem you faced**

We have been running Hudi Delta streamer on emr-5.31.0 (details below) for more than a year in produce and the dataset has 45 TB of data.The data set was out of sync for almost entire month of Feb (Last commit was Feb 1 19:05 UTC).So to restore it back to present day we decided to write 15 days worth of data in 1 run.

But the job taking a long time (4 hrs) and

[2022-02-17 02:27] danny0405 commented on #4184
One way to quickly fix it is to delete this empty file, or maybe we can delete this file when the reader encounter it, not a good  pattern though.

[2022-02-17 03:32] baisui1981 commented on #4802
thanks for your reply , I have pass the experiment in my test environment

[2022-02-17 03:32] #4802 closed

[2022-02-17 03:50] nsivabalan commented on #4814
@xushiyan : hey can you triage this.
One possible reason I can think of is:
when concurrent writers are enabled, may be there is some overstepping during archival and so hudi runs into NPE (two writers fetch similar list of instants to archive and one of them goes ahead and archives, while the other runs into NPE while trying to archive).

I mean, I am just speculating. I will let you triage this.

[2022-02-17 07:08] GourdErwa opened #4834 "[SUPPORT] Flink-Hudi Support MAP<STRING,STRING> Schema ?"
Once the Parquet file appears, the query will report an error

Steps to reproduce the behavior:

[code]

**Environment Description**
* Flink version : 1.14.3

* Hudi version : 0.10.1

* Hadoop version : 3.0.0-cdh6.3.2

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Docker? (yes/no) : no

[2022-02-17 08:45] waywtdcc commented on #4825
How can I reference a Hudi package with hive synchronization in the local environment？

[2022-02-17 10:06] #4827 closed

[2022-02-17 10:13] todd5167 opened #4835 "[SUPPORT] failed to read log file"
2022-02-17 17:59:40
org.apache.hudi.exception.HoodieException: Exception when reading log file
	at org.apache.hudi.common.table.log.AbstractHoodieLogRecordReader.scan(AbstractHoodieLogRecordReader.java:332)
	at org.apache.hudi.common.table.log.AbstractHoodieLogRecordReader.scan(AbstractHoodieLogRecordReader.java:178)
	at org.apache.hudi.common.table.log.HoodieMergedLogRecordScanner.performScan(Hoo

[2022-02-17 10:22] gaoasi opened #4836 "[SUPPORT]flink sql write data to hudi ,do not execute compaction"
hi.
I want to write data to hudi through flink sql,
my table building statement is：

========================create source table ==================
CREATE TABLE kafkaTable (
 volume INT,
 ts STRING,
 symbol STRING,
 `year` INT,
 `month` STRING,
 high DOUBLE,
 low DOUBLE,
 `key` STRING,
 `date` STRING,
 `close` DOUBLE,
 `open` DOUBLE,
 `day` STRING
) WITH (
 'connector' = 'kafka',
 'topic' = 'hudi-

[2022-02-17 11:08] wjcwin commented on #4678
it's work
![image](https://user-images.githubusercontent.com/42086924/154468791-2ed9ff3e-e07c-406d-bd58-4035eab5bebb.png)

[2022-02-17 11:45] xiarixiaoyao commented on #4700
@LucassLin
could you pls check the hive version in your spark jars,  i see spark2.4.x still package hive1.x .
the method of alter_table_with_environmentContext only exist from hive2.x
you can run into your spark jars path then run the fllow command:
grep -R "org.apache.hadoop.hive.metastore.IMetaStoreClient"

[2022-02-17 11:49] xiarixiaoyao commented on #4700
@LucassLin  do you have weChat,  you can add me 1037817390

[2022-02-17 12:58] shahiidiqbal opened #4839 "Hudi upsert doesnt trigger compaction for MOR"
We have a spark streaming job to ingest real-time data coming through Kafka connect from MongoDB. Somehow Hudi upsert doesn't trigger compaction and if we look at the partition folders there are 1000s of log files that should be cleaned after compaction. There are also lots of files including .commits_.archive, .clean, .clean.inflight, .clean.requested, .deltacommits, sdeltcommits.inflight, .delta

[2022-02-18 02:34] nloneday commented on #4839
We change `compaction.trigger.strategy, compaction.delta_commits, compaction.delta_seconds` default compaction option for flink jobs, maybe you need `hoodie.compact.inline.xxx` too. https://hudi.apache.org/docs/configurations/#Compaction-Configs

[2022-02-18 06:02] nsivabalan commented on #4839
Are you using kafka-connect for hudi or are you using spark streaming? in case of kafka connect, compaction has to be executed separately. Only scheduling will be done by the kafka-connect nodes. If its spark streaming, we can look into the configs.

[2022-02-18 06:04] nsivabalan commented on #4831
I have added documentation in this patch https://github.com/apache/hudi/pull/4715. should help you with adding a savepoint and restoring to one of the savepointed commit.

[2022-02-18 06:26] gaoasi commented on #4836
The problem is solved：
i changed my table configuration:
CREATE TABLE hudi_test_topic(
 volume INT PRIMARY KEY NOT ENFORCED,
 ts STRING,
 symbol STRING,
 `year` INT,
 `month` STRING,
 high DOUBLE,
 low DOUBLE,
 `key` STRING,
 `date` STRING,
 `close` DOUBLE,
 `open` DOUBLE,
 `day` STRING
)
PARTITIONED BY (`date`)
WITH (
  'connector' = 'hudi',
  'path' = 'hdfs://bmr-cluster/user/hudi/warehouse/test

[2022-02-18 06:27] #4836 closed

[2022-02-18 08:18] shahiidiqbal commented on #4839
@nsivabalan
We use Kafka-connect to get changes (CDC) from MongoDB and after that we use Spark streaming to read topics from Kafka and store data into our data lake through Hudi.

Here is the spark streaming code to read kafka topic and then write data through Hudi:

def write_hudi_table(df, epoch_id):
        #we do some cleansing here
        df.write.format('org.apache.hudi') \

[2022-02-18 09:07] zhangyue19921010 opened #4846 "[SUPPORT] [Question]Code Logic in RocksDbBasedFileSystemView"
Here is Override function fetchLatestBaseFile(String partitionPath, String fileId) in RocksDbBasedFileSystemView
[code]

Question is Why we need to OverWrite this un-abstract function in AbstractTableFileSystemView
[code]

Is it necessary? Or Is it correctly if we don't flow this common logic.

[2022-02-18 09:07] zhangyue19921010 commented on #4846
@bvaradar Sorry to bother you. Would you mind to take a look？
Really appreciate it!

[2022-02-18 18:54] abhijeetkushe commented on #4831
Actually we were able to get the job running again.When we started with a small volume of data and it was able to rollback the previous commit and catch up to current time.I am closing this issue.Thanks for sending the Savepoint documentation @nsivabalan

[2022-02-19 16:34] wjcwin opened #4853 "[SUPPORT] documentation about the Flink Hudi pipeline util"
Where can I get the documentation about the Flink Hudi pipeline, i can't find the relevant documents on the official website(hudi.apache.org)

**Environment Description**

* Hudi version : 0.10.0

* Flink version : 1.13.1

[2022-02-20 11:59] nsivabalan commented on #4835
- may I know which hudi version are you using?
- can you do an ls for the file of interest in S3 and let us know the actual size. (s3a://sprs-qz-dw-prod-ue1/qz_ods/ac_account_transfer_record/20220215/.37d15126-08ab-4b3f-a45b-3a38dff0df4c_20220215212115910.log.4_0-2-1)
- can you post all hoodie write configs you use. specifically want to know if metadata is enabled.

[2022-02-20 12:11] nsivabalan commented on #4846
this is my understanding by looking at the code of interest. will wait to hear from Balaji though.
Its more of an optimization. If we don't override, we call into fetchLatestBaseFiles(partitionPath) which in turn calls into fetchAllStoredFileGroups(partitionPath). so this is essentially fetching all file groups for the partition of interest and then deducing from it.

where as in our overridden me

[2022-02-21 02:00] yanenze opened #4855 "[SUPPORT] mor table parquet file max file size does not go into effect"
when i set the write.parquet.max.file.size of FlinkOptions it does not become effective,the file in fact grow bigger than i have cofigured...
so i think maybe i must set the avgRecordSize ,so i just set zhe avgRecordSize. but the parquet file has also grow bigger than i have configured

[2022-02-21 02:46] todd5167 commented on #4835
hudi version:  0.10.0-patch
file size: 100M
hudi config:

[code]

[2022-02-21 03:24] xinyitao commented on #143
Hi,Please add me to slack group
Email:xinyi901@163.com
Thanks!

[2022-02-21 05:25] melin opened #4857 "[SUPPORT]Failed to create a table"
@leesf  Use the Master branch code build. Spark SQL Creates a hudi table. The table directory is empty without hudI metadata files。

[2022-02-21 05:43] waywtdcc opened #4858 "[SUPPORT] data loss occurred flink hudi"
After a large number of delete and update operations, data loss occurred in writing using Hudi and Flink.

A clear and concise description of what you expected to happen.

**Environment Description**

* Hudi version : 0.10

* Hadoop version : 2.7.7
* Flink version : 1.13.5

[2022-02-21 05:57] danny0405 commented on #4858
Did you use the MOR table and the source is a CDC changelog ? This is a known bug and i have created an issue before: https://issues.apache.org/jira/browse/HUDI-1127, we would solve that in release 0.11.0, for the current solution, you can open the changelog mode with option `changelog.enabled`, or use the COW table type.

[2022-02-21 06:48] njalan opened #4859 "Not table to get execution plan"
Steps to reproduce the behavior:

1.explain   insert overwrite table xxx_hudi  PARTITION(pt='1'). (all the tables involved are hudi tables)
select a.id,b.name
from emp a, dep b
where a.dep_id=b.id

**Environment Description**

* Hudi version : 0.9

* Spark version : 3.0.1

* Hive version : 3.2

* Hadoop version : 3.2.2

* Storage (HDFS/S3/GCS..) : s3

* Running on Docker? (yes/no) :no

**I only ge

[2022-02-21 12:37] ghost opened #4863 "[SUPPORT] Compaction and rollback with Flink cause data loss"
**Describe the problem you faced**

* At instant time `20220221085407453`, Flink sent a compaction request to merge the delta log files into the base parquet files.
[code]
* At time `2022-02-21 09:00:07,398`, an exception occurred in task `hoodie_stream_write` that caused the job to restart.
[code]
* When the job finished to restart, Flink sent a rollback request and then the compaction at instant

[2022-02-21 12:45] shahiidiqbal commented on #4839
Compaction problem is only with foreachBatch, if we write direct stream then it works perfectly. No idea, whether it is a bug or behavior.

[2022-02-21 13:24] bkosuru opened #4864 "Insert with INSERT_DROP_DUPS_OPT_KEY fails"
Hello,

Insert with INSERT_DROP_DUPS_OPT_KEY fails after several hours. Any suggestions to make it work? See the details below.
We want to prevent inserting duplicate records.

Hudi table size: 13.4 TB
Data size to insert: 3.8TB (uncompressed) {failed for 200GB input also}
The table has 2 partitions - spog/g=g1/p=p1
The data to be inserted belongs to one partition g=g2
The partition size for g=g2

[2022-02-21 13:48] sampath-tripuramallu commented on #3759
when we are using complexkeyGenerator , Primarykeycolumns,partition key columns and Precombinekeycolumn are casesensitive and we should using the right case in conf file or hudi write options

[2022-02-21 20:13] nsivabalan commented on #4864
may I know whats the exception you are seeing? can you provide us w/ stacktrace. And is it that w/o setting INSERT_DROP_DUPS_OPT_KEY, your job runs fine and its a perf issue only when you set this config?
can you throw some more light please.

[2022-02-21 20:13] nsivabalan commented on #4864
CC @harsh1231 perf ticket.

[2022-02-21 20:14] nsivabalan commented on #4859
@YannByron @leesf : can you folks chime in here please.

[2022-02-21 20:15] nsivabalan commented on #4857
@YannByron : can you please check this one as well.
CC @xushiyan

[2022-02-21 20:16] nsivabalan commented on #4855
@danny0405 @leesf : can you loop in someone to assist here please.

[2022-02-21 20:36] nsivabalan commented on #4839
this is directly using spark data source write
[code]

and is not using HoodieStreamingSink. so, this is expected. There is no async table service if you are directly using spark datasource write.

you might have to directly write to stream.

[2022-02-21 20:39] nsivabalan commented on #4803
@aznwarmonkey : gentle ping.

[2022-02-21 20:44] nsivabalan commented on #4858
Closing this as we have a tracking jira. Feel free to reopen if the tracking jira is not what you are looking for

[2022-02-21 20:44] #4858 closed

[2022-02-21 20:46] nsivabalan commented on #4863
@danny0405 @leesf : can you loop in someone to assist here please.

[2022-02-21 20:47] nsivabalan commented on #4754
feel free to re-open if you are looking for any more assistance.

[2022-02-21 20:47] #4754 closed

[2022-02-21 21:04] bkosuru commented on #4864
Hi Sivabalan,
Without INSERT_DROP_DUPS_OPT_KEY setting, the job runs fine. Here is the stack trace-

User class threw exception: org.apache.spark.SparkException: Job aborted due to stage failure: Task 198 in stage 7.0 failed 4 times, most recent failure: Lost task 198.3 in stage 7.0 (TID 8888, xyz1.cnet.com, executor 467): ExecutorLostFailure (executor 467 exited caused by one of the running tasks

[2022-02-21 21:08] bkosuru commented on #4864
![sparkUI1](https://user-images.githubusercontent.com/7408351/155026411-a61a6f80-82e1-4f5a-b864-21d839eda880.png)

[2022-02-21 21:08] bkosuru commented on #4864
![sparkUI2](https://user-images.githubusercontent.com/7408351/155026427-e6f02aea-af1a-4a9f-b1dd-96d99286fe06.png)

[2022-02-21 21:54] nsivabalan commented on #4778
If you don't have any follow up questions, I will go ahead and close the issue for now. do let us know if you need any more clarifications. thanks!

[2022-02-21 21:54] #4778 closed

[2022-02-21 23:14] nsivabalan commented on #4793
@pan3793 : are you folks still blocked on this?

[2022-02-21 23:15] nsivabalan commented on #4797
CC @YannByron

[2022-02-21 23:20] nsivabalan commented on #4814
hey @megha2411 : If you can enable debug logs and share it w/ us, would be helpful in the mean time.
And I understand, multi-writer is a mandatory requirement for you. But if you have a staging pipeline w/o multi-writer, do you know if you are hitting the issue there as well. would help us rule out whether its multi-writer issue or something that happens even w/ single writer.

[2022-02-21 23:20] nsivabalan commented on #4816
@danny0405 @leesf : can you loop in someone to assist here please.

[2022-02-21 23:21] nsivabalan commented on #4830
@bhasudha : can you assist here please.

[2022-02-21 23:24] nsivabalan commented on #4830
We know of a bug wrt pending clustering that is being fixed https://github.com/apache/hudi/pull/4810. I will let you do the correlation.

[2022-02-21 23:35] nsivabalan commented on #4835
reading the block footer should be safe from what I can infer from code.
[code]

We basically, first try to seek to end of block
inputStream.seek(currentPos + blocksize);

and if it succeeds, only then we proceed onto read the size from footer. So, I don't see how come there is no exception when executing inputStream.seek(currentPos + blockSize), but hitting an exception while reading footer.
very

[2022-02-21 23:36] nsivabalan commented on #4839
Feel free to close the issue if you don't have any more questions/clarifications

[2022-02-21 23:37] nsivabalan commented on #4853
@danny0405 @leesf : can you assist here please.

[2022-02-22 01:37] leesf commented on #4857
@melin would you please show your spark version and the code snippet to reproduce?

[2022-02-22 01:46] pan3793 commented on #4793
No progress yet.

[2022-02-22 02:17] waywtdcc opened #4868 "[SUPPORT] After the changlog mode is turned on, the reading is repeated"
After the changlog mode write is enabled, the spark batch mode reads repeatedly, and multiple - U operation data appear
![image](https://user-images.githubusercontent.com/59957056/155050773-6a5d5103-a3ac-40fe-903b-51664ae422ce.png)
`CREATE TABLE `hudi.users_cdc3_hudi_test3`(
)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
STORED AS INPUTFORMAT
  'org.apache.hadoop.mapred.

[2022-02-22 02:30] waywtdcc commented on #4868
![image](https://user-images.githubusercontent.com/59957056/155052022-81ef88ec-70d6-4b71-97c3-f401c10c4374.png)
Is there any relationship between the opening of global index and the opening of changlog? I think there is a problem with the judgment here, which may affect the data quality of the partition table and cause duplication

[2022-02-22 02:46] melin commented on #4857
Spark 3.2
[code]

[2022-02-22 03:15] waywtdcc commented on #4858
Does cow mode support near real-time writing?

[2022-02-22 03:28] YannByron commented on #4857
@melin you need also to set `spark.sql.catalog.spark_catalog` to `org.apache.spark.sql.hudi.catalog.HoodieCatalog` before you open a spark session, 'cause that the master branch has supported spark DatasourceV2.

[2022-02-22 03:46] nsivabalan commented on #4700
@xiarixiaoyao : if issue has been taken care, can we close it out. Or if you have a tracking jira, feel free to close it out as well. thanks!

[2022-02-22 03:49] nsivabalan commented on #4683
@waywtdcc : if you got unblocked or resolved the issue, feel free to close the github issue. Or do furnish more details/updates.

[2022-02-22 03:51] nsivabalan commented on #4635
@VIKASPATID : is it possible to give us reproducible steps. would help us triage it faster.

[2022-02-22 03:51] nsivabalan commented on #4622
yes, makes sense. I will see where we can document this.

[2022-02-22 03:53] nsivabalan commented on #4506
Hey @parisni : can you share the logs. If you got it resolved, feel free to close the issue. Or would be nice if you can share more logs for Sagar to triage.

[2022-02-22 03:53] nsivabalan commented on #4456
@mainamit : let us know if you were able to get it working. Feel free to close out the github issue. If you are still facing the issue, do ping w/ more details. Wenning should be able to assist you.

[2022-02-22 03:55] nsivabalan commented on #3965
Closing this due to no activity for the past 3+ months.

[2022-02-22 03:55] #3965 closed

[2022-02-22 03:56] nsivabalan commented on #3868
@matthiasdg : can we have any updates here please.

[2022-02-22 03:57] nsivabalan commented on #3731
@parisni : if you were able to get it resolved, feel free to close out the issue. if not, let us know. if we triage any bugs, we can try to fix it once for all in 0.11 and solidify multi writers for hudi.

[2022-02-22 04:21] nsivabalan commented on #4604
with 0.9.0, if you disable metadata, may I know if you are still seeing NPE w/ archival.

[2022-02-22 05:50] codope commented on #4437
@gunjdesai First of all, apologies for the late response. I missed tracking this issue.

In its current state, we must [sync Hudi table to Hive metastore](https://hudi.apache.org/docs/syncing_metastore) in order to query through Trino. Our integration with Trino is via the hive connector. And that too, only for reads i.e. we cannot create hudi tables using Trino.

After syncing the Hudi table to H

[2022-02-22 06:41] danny0405 commented on #4858
Yes, COW table type does not have this problem, but the throughput is not high as MOR table.

[2022-02-22 06:42] danny0405 commented on #4868
Yes, the spark reader should adapter to the hoodie operations.

[2022-02-22 06:46] danny0405 commented on #4868
I have created a JIRA to address this problem: https://issues.apache.org/jira/browse/HUDI-3473.

[2022-02-22 06:49] danny0405 commented on #4853
What do you mean for flink hudi pipeline, do you mean the operators ?

[2022-02-22 06:51] danny0405 commented on #4816
The metadata field is added for time based filtering, because for streaming read we need to filter the data stream for each reading batch ~

[2022-02-22 06:52] wjcwin commented on #4853
org.apache.hudi.sink.utils.Pipelines

[2022-02-22 07:00] danny0405 commented on #4835
I see the file you read is an empty file, have no idea yet how this file is generated.

[2022-02-22 07:00] danny0405 commented on #4853
Does add java documents solve your problem ?

[2022-02-22 07:03] danny0405 commented on #4855
Yes, the file size control is not accurate, how much size does the actual file size exceed your desired threshold ?

[2022-02-22 07:04] wjcwin commented on #4853
I don't know how to use these methods to build a standard task，If there are some guidelines, it will be of great help to me

[2022-02-22 07:34] danny0405 commented on #4863
Did you mean the coordinator rollback the compaction instant ? This is not as expected because we have excluded the compaction and clustering instant, see：https://github.com/apache/hudi/blob/4d1f74ebeaee857380f69d7c596eaaf0135ca59e/hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieWriteClient.java#L973 and https://github.com/apache/hudi/blob/4d1f74ebeaee857380f69d7c596e

[2022-02-22 07:37] danny0405 commented on #4853
I see, i have created a JIRA issue to add more documents/usages to this tool class for building a complete pipeline ~

[2022-02-22 07:46] wjcwin commented on #4853
thanks

[2022-02-22 07:50] glory9211 commented on #4839
What should be the approach in case you have multiple sinks, i.e you split your incoming data into multiple hudi tables. How would you store these without using foreachBatch ?

[2022-02-22 12:03] xushiyan commented on #4868
hey @danny0405 would you shard a bit more on the root cause here please? seems like you understand the problem so it'd be helpful to get your insights here. thanks.

[2022-02-22 12:18] xushiyan commented on #4859
cc @XuQianJin-Stars

[2022-02-22 12:20] xushiyan commented on #4857
@YannByron @leesf thanks for clarifying.

@melin were you able to get this fixed using the advised?

[2022-02-22 12:49] YannByron commented on #4797
sure. https://issues.apache.org/jira/browse/HUDI-3478 to this issue.

[2022-02-22 13:25] aznwarmonkey commented on #4803
Hello,

Apologies for the delay. Attached is the full console output of the schedule job.

[output.txt](https://github.com/apache/hudi/files/8116942/output.txt)

[2022-02-22 13:39] xushiyan commented on #4853
@wjcwin kindly close this once you have your question resolved

[2022-02-22 13:40] #4853 closed

[2022-02-22 14:12] #4797 closed

[2022-02-22 14:14] xushiyan commented on #4835
yes, @todd5167 from the log, it says this file is empty, maybe corrupted

do you think this is reproducible from your side? i meant getting the empty log file in the first place.

[2022-02-22 14:39] xushiyan commented on #4793
@pan3793 thanks for the feedback. for looking into this issue, can you post which vanilla jars you used? since this is a spark version conflict, it'll help us analyze.

loop in @XuQianJin-Stars here. maybe we can start driving an epic for this topic: improve dependency bundling, based on the feedback above

[2022-02-22 15:02] #4700 closed

[2022-02-22 15:06] cb149 commented on #4830
Not sure if this is related, since there are no pending clusterings and no inflight commits.

[2022-02-22 15:12] andykrk commented on #4604
I have just checked with hudi 0.9.0 and metadata disabled. Please find the error log attached
[30_metadata_disabled_hudi_0_9_0.txt](https://github.com/apache/hudi/files/8117785/30_metadata_disabled_hudi_0_9_0.txt)
.

[2022-02-22 15:42] #4756 closed

[2022-02-23 00:03] bhasudha commented on #4830
@cb149  Are you still seeing this issue where every day the last partition (that was cleaned) is not showing up in select count(*) ? I have couple questions just to make sure you have already checked these
- Are the missing partitions showing up in show partitions statement?
- clustering and cleaning has happened and this is the last partition correct? Is this consistently happening every day in a

[2022-02-23 00:30] bhasudha commented on #4830
```SHOW TABLE STATS myTable ; shows 0 files and size 0B for that partition.```. -> This makes me wonder if the partition is somehow not registered. Since this is an external table, we can check if the data is present physically by checking the partition path.  Does Impala depend on Hive metastore to gather this stats or does it do on its own ?  If first, we need to check the HMS to see if this par

[2022-02-23 01:02] cafelo-pfdrive opened #4873 "Processing time very Slow Updating records into Hudi Dataset(MOR) using AWS Glue"
**Describe the problem you faced**

**Long time  time executing Upserts in HUDI. it takes 4 or 5 times longer doing Updates than Inserts. 90% data needs to be updated**

Code below takes around 45 minutes to write new data (300 million records) in AWS S3 Bucket HUDI format with 21 GPU using AWS Glue, but it takes more than 3 hours ingesting the same data set previously inserted to update and remov

[2022-02-23 01:10] waywtdcc commented on #4868
I tried to open the global index and remove the association with changlog, so I can read the data normally. related #4874

[2022-02-23 01:34] melin commented on #4857
It's now running，Thanks you
If Spark is running on YARN, how can I globally specify hive MetaStore Server parameters and synchronize metadata。
Support for adding hudi parameters to SparkConf? Example: the spark hudi. Xx. Xx = test

[2022-02-23 01:55] danny0405 commented on #4834
Already supported in master which would be release 0.11.0

[2022-02-23 02:07] Rap70r opened #4876 "Atomic overwrite of multiple files"
Hello,

We have a use case where we need to refresh a table in parquet format on S3 environment periodically. The data is too large to create a single parquet file each time so we are using dataframe repartition to generate the output. We need to be able to overwrite the entire dataset atomically. Using Spark alone, it removed the files and then it creates partitions but is not atomic, as the file

[2022-02-23 07:22] yanenze commented on #4855
hello, i configured the max parquet file size 128M but finally it grow to 8G,
so i try to find the reason.
i have create a pull request  in #4879
i think the big file generate reason is when bucketAssigner find small file list , is lost the file which is  in pendingCompaction, so the total size only caculate the  (log file size * compressratio (0.35))

[2022-02-23 08:32] zhilinli123 opened #4881 "Full incremental Enable index loading to discover duplicate data(index.bootstrap.enabled)"
We use flink CDC to monitor mysql's latest binlog send kafka consumption Kafka load index full import data index

Importing HDFS in batches offline Enable incremental intervention in bulk insert mode to consume kafka binlog data

 Test consumption One table in the same Kafka topic started index loading consumption without duplicate data, but some duplicate data occurred in the parallel consumption

[2022-02-23 08:35] cdzryou opened #4882 "[SUPPORT]How to clean action files theses are not used with flink task?"
- how to autu clean timeline action files in flink ? these files like `*.commit`,`.*deltacommit` , `.*clean` and in hdfs path '../.hoodie/'

- it may create a lot of small files in flink streaming task, so i want to know that Hudi how to manage these files, delete them or not delete?

- Flink Version 1.13.5
- Hudi Version 0.10.1
- Hadoop Version 3.0.0

[2022-02-23 13:34] gunjdesai commented on #4437
Thanks @codope for the detailed description. I was under the assumption that you could directly create & query hudi tables using trino. Hence our setup was of trino using hive-metastore but not hive.
Thanks to your detailed explanation, I will use the hudi-hive-sync to sync our tables and query them via Hudi and revert back to you on the same.
In the meanwhile, I will also keep an eye out for HUDI

[2022-02-23 14:32] nsivabalan commented on #4855
Thanks for putting up the fix. Appreciate the interest. someone from the community/danny will help w/ reviews and getting ti it to landing. Will close out the github issue.

[2022-02-23 14:32] #4855 closed

[2022-02-23 15:01] cb149 commented on #4830
The weird part is that the partition shows up every day prior, e.g. today, I can see data for day 23,22,21,19,18 etc.
Tonight when `day=21` gets cleaned, `day=20` will show up and `day=21` will be missing from Impala for the next 24 hours.

So the data is present physically and registered, plus there are no issues when I query the data with Spark or `spark.sql("select day from myTable where year=2

[2022-02-23 15:11] nsivabalan commented on #4814
hey @megha2411 :
one possible approach to unblock you until we find the root cause.
in 0.10.1, we don't have a easy way to disable archival. So, what we can possibly do is,
we can increase the archival configs to very large no for all writers except one.
and you can leave one writer to your actual archival configs.

Writer1:
your regular archival configs or default

all other writers:
https://hudi

[2022-02-23 15:16] nsivabalan commented on #4876
nope. if you using snapshot queries, you will not be affected by cleaner. but if you are doing incremental query, you may hit some issues.

[2022-02-23 15:22] Rap70r commented on #4876
What about if a job is ingesting the files without using Hudi? Would that job get "dirty" data? Do we need to use Hudi for both producer and consumer jobs in order to get consistent data?
Can you also clarify what's the difference between insert-overwrite-table and insert-overwrite operations?

Thank you

[2022-02-23 15:51] cb149 commented on #4830
- Yes, the missing partition show up in `show partitions myTable`, but shows 0 files and 0 Bytes
- Yes, happens in a rolling fashion, every day the partition from 3 days ago is missing, all other partitions show up

Today, where `day=20` is missing, using hudi-cli I can see the following for the latest clean:
[code]

[2022-02-23 15:52] fisser001 opened #4887 "[SUPPORT] Unexpected behaviour with partitioned hudi tables with impala as query engine"
**Describe the problem you faced**

We have an unexpected behaviour with partitioned hudi tables when we query those tables with impala.

**To Reproduce**

Steps to reproduce the behavior:

1. We write data with hudi and spark to hdfs with the following config:
`val inputSchema = StructType(
  List(
    StructField("id", StringType, false),
    StructField("attribute", StringType, false),
    Stru

[2022-02-23 20:53] nsivabalan opened #4889 "[SUPPORT] Clustering fails w/ latest master with col stats partition even after disabling metadata table"
**Describe the problem you faced**

Ran a deltastreamer job w/ inline clustering and metadata disabled w/ latest master. Clustering failed towards completion when building col stats index for metadata table.

this is actually an integ test suite job that failed.

property file:
https://github.com/apache/hudi/pull/4884/files#diff-63e53dde6161fec3341cf85817ff0d8f2b0d33d75803da8818afaf3bb544722e

yam

[2022-02-24 02:25] XuQianJin-Stars commented on #4859
I'm already tracking this issue.

[2022-02-24 02:32] zhangyue19921010 commented on #4846
@nsivabalan Thanks for your attention. We can close this Support :)

[2022-02-24 02:32] #4846 closed

[2022-02-24 02:47] YannByron commented on #4859
@njalan It's just because `InsertIntoHoodieTableCommand`extends `RunnableCommand` and doesm't override the `children` method. So it have no children should be shown.
@XuQianJin-Stars you can try to override `children` and return the `query` in `InsertIntoHoodieTableCommand`. maybe can show more details.

[2022-02-24 02:54] XuQianJin-Stars commented on #4859
I have tested it on the branch version of hudi 0.9 last night. Although the plan information of the child is not printed, the execution plan can be printed. The problem on his side is that nothing is printed at all, so I'm going to take a closer look at the information in his email to me.

[2022-02-24 02:55] Aload opened #4890 "[SUPPORT] Having compilation issues w/ flink module in intellij"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Used Pipelines.bootstrap(xxxx)
![image](https://user-images

[2022-02-24 03:21] XuQianJin-Stars commented on #4859
You are right, I will send him a verification packet this afternoon.

[2022-02-24 03:33] FelixKJose opened #4891 "Clustering not working on large table and partitions"
I am having a large partitioned MOR Hudi table and I have tried to perform async clustering using hudi clustering utility but it failed without any stack trace. Then I tried inline clustering but the clustering job failed with OOM error.  The clustering was performed on 365 partitions and each partition was having 518 million records and each record (without compression) is 3-4 KB. Then I tried to

[2022-02-24 03:45] BruceKellan opened #4892 "[SUPPORT] Rollback files not deleted using spark"
**To Reproduce**
Steps to reproduce the behavior:
1. start a spark structured streaming application using hudi
2. restart application manually.
3. rollback files not deleted in `.hoodie` directory.

<img width="1168" alt="image" src="https://user-images.githubusercontent.com/13477122/155453783-8a24bb80-5b6b-49d1-b563-38d6e171b42e.png">

**Expected behavior**
The rollback file is deleted when the a

[2022-02-24 03:50] danny0405 commented on #4890
Hello, do you mean the scala compile problem ?

[2022-02-24 04:46] VIKASPATID commented on #4635
Hi @nsivabalan,
Here is the reproducible code
<details>
<summary> pyspark script </summary>

[code]
</details>

 We are runining it like this:

[code]

Please let me know if it's reproducible on your side or not.

[2022-02-24 05:06] nsivabalan commented on #4892
rollback files don't get deleted immediately. it has to meet the requirement for archival. "hoodie.keep.max.commits" will come into play here. Once your rollback instants count reaches that threshold, it will get archived.

[2022-02-24 05:22] BruceKellan commented on #4892
@nsivabalan Thanks for your reply.
Are you mean the requirement to archive only counts rollback not rollback and commit?

[2022-02-24 05:35] Gatsby-Lee commented on #4873
@cafelo-pfdrive it is sth that increase incrementally.

[2022-02-24 05:38] Gatsby-Lee commented on #4873
@nsivabalan I have a question.
In the reported config, there are three fields.
Do all three fields have to be "timestamp characteristics"?

[2022-02-24 05:56] Gatsby-Lee opened #4896 "[SUPPORT] Metadata Table causes missing data."
**Describe the problem you faced**

Regardless the table type ( CoW, MoR ), I notice missing data when Metadata Table is enabled.

For example, If I ingest 100,000 records ( no dups ) with the batch size 10,000, the ingested records in Hudi are not 100,000.

I checked the number or records through Amazon Athena and also double-checked the count by running Spark Job as well.

**Full Configuration**

[2022-02-24 07:31] Guanpx commented on #4658
should use  'write.operation' = 'insert';
but in my code was 'hoodie.datasource.write.operation' = 'insert', hudi will use default config:  'write.operation' = 'upsert', so close this issue.

[2022-02-24 07:31] #4658 closed

[2022-02-24 09:36] scxwhite opened #4899 "clustering cause Duplicate Records in Merge on Read [SUPPORT]"
**Describe the problem you faced**

I reproduced this problem using the following code(spark local run). In the following code, I repeatedly update 10000 pieces of data, but if I execute the following code more than 5 times, the program will report an error.
The problem may occur in clustering. When merging small files, the old submitted files are obtained(SparkSizeBasedClusteringPlanStrategy#getF

[2022-02-24 10:35] Aload commented on #4890
how to work in Flink Scala Api? When I use the Scala API, it doesn't compile.

[2022-02-24 12:23] njalan commented on #4859
@XuQianJin-Stars  Thanks for your help.  I am able to get execution plan for inserting hudi table and execution plan looks fine to me based the jar you shared with me today.

[2022-02-24 14:18] cafelo-pfdrive commented on #4873
Hello @Gatsby-Lee, the execution increase incrementally the more data written the updates gets worse time execution
the dataytpes are like following
'hoodie.datasource.write.partitionpath.field': 'intervaldate,plantuid',
intervaldate: String
plantuid : String
'hoodie.datasource.write.recordkey.field': 'intervalutc,asset,attribute
intervalutc : TimeStamp
asset : integer
attribute : string

[2022-02-24 16:04] melin opened #4903 "[SUPPORT] Spark SQL insert to write hudI table. Metadata sync failed."
[code]

sql:  insert into table test_hudi_demo select 1, 'zhangsan', 20, to_date('20210810', 'yyyymmdd');

hive-site.xml
[code]

[code]
<img width="1379" alt="image" src="https://user-images.githubusercontent.com/1145830/155561478-7d0d0221-8b71-4b56-af29-a225798ff921.png">

[2022-02-24 16:08] #4903 closed

[2022-02-24 17:58] Gatsby-Lee commented on #4873
@cafelo-pfdrive
I saw you use MERGE_ON_READ in AWS Glue ( I use Glue as well ).
How do you run Table Compaction?
What value do you use for these config?

* hoodie.compact.inline
* hoodie.datasource.compaction.async.enable

[2022-02-24 18:12] lewyh opened #4904 "[SUPPORT] Hudi 0.10.1 raises exception if hoodie.write.lock.dynamodb.endpoint_url not provided"
**Describe the problem you faced**

Using DynamoDB as the lock provider for concurrent writes results in an error if `hoodie.write.lock.dynamodb.endpoint_url` is not provided when using Hudi 0.10.1.

The documentation says this option is present from 0.11.0, and should be optional. Providing my region's DynamoDB endpoint as the option value works, but this behaviour is unexpected.

**To Reproduce*

[2022-02-24 20:07] cafelo-pfdrive commented on #4873
@Gatsby-Lee. We dont have any compaction process running aside of the default process so I am not using the parameters that you are asking for

[2022-02-24 20:54] Gatsby-Lee commented on #4873
@cafelo-pfdrive
oh. you need the Compaction if you want to use MoR.
In Glue, ( if I am right ), Table compaction doesn't happen automatically for you. ( you might have to setup a new Glue Job that does the Compaction if you want to run it Async )
if the Compaction doesn't happen, then you will have lots of small files in the data directory.
And it will keep slow down the overall Hudi write.

I thi

[2022-02-24 21:22] Rap70r commented on #4876
Hi @nsivabalan,

I built a job that runs below code periodically to refresh a table:

[code]
I noticed on each run, it keeps adding more parquet files to the output folder. Not sure why that's happening. The data wasn't changing in the source dataframe before writing.
Am I doing something wrong here?

The goal is to refresh existing partitioned parquet files atomically.

Thank you

[2022-02-24 21:25] nsivabalan commented on #4904
@zhedoubushishi : can you follow up here please.

[2022-02-24 21:30] nsivabalan commented on #4899
@scxwhite : thanks for reporting the problem. I remember we fixing around clustering and timeline interplays. Can you give it a try with 0.10.1. I will try to see whats going on.

[2022-02-24 21:53] nsivabalan commented on #4899
I ran this tests 8 to 9 times w/ latest master and could not reproduce (I did not see the failure). and even verified that getLatestFileSlices(partition) always returns just 1 file slice which I correlated w/ actual data. Can you verify on your end please.

[2022-02-24 21:55] nsivabalan commented on #4896
Can you not set this config "'hoodie.metadata.clean.async': 'true'". This should not have been exposed to end user. it has to be false. Please remove this and try it out.

[2022-02-24 21:58] Gatsby-Lee commented on #4896
@nsivabalan
Thank you. I will try with "hoodie.metadata.clean.async": false

Yep. I will let you know the result.

[2022-02-24 21:59] nsivabalan commented on #4892
lets say you have configured hoodie.keep.max.commits to 10 and hoodie.keep.min.commits to 6.
whenever total delta commits + compaction commits + replace commits in active timeline reaches > 10, archival will archive 4 of them.
And whenever total rollback instants in active timeline reaches 10, 4 of them will be archived.
So, each action is dealt separately.
Let me know if you don't see that happen

[2022-02-24 22:00] nsivabalan commented on #4891
@satishkotha @codope : guess its a known issue. But is there any workaround for it for the time being. until we come up with an optimized way for clustering.

[2022-02-24 22:11] nsivabalan commented on #4876
hey hi @Rap70r :
let me explain what happens behind the scenes w/ COW table.

Lets just assume we have only one partition and entire data we plan to ingest fits into one data file.

Commit1:
writes data_file1_v1

Commit2: updates same set of records as commit1.
hudi writes data_file1_v2
// this is a new parquet file which essentially merges new incoming data w/ whats in data_file1_v1 and writes to

[2022-02-24 22:47] nsivabalan commented on #4839
yeah. we don't have a good solution at the moment. it might the for each batch as you are going w/, but it may not use the streaming sink flow. but the streaming sink (w/ async table services) in general works for one table at a time. So, may not be easy to retrofit to write to multiple hudi tables. We have to design something properly.

[2022-02-24 22:53] nsivabalan commented on #4835
Can you try reading the records via hudi-cli.
[code]

may be we might get some insights.

[2022-02-25 00:14] nsivabalan commented on #4889
excerpt from SparkRDDWRiteClient. last line here needs to be called only when metadata is enabled.
[code]

Also, do verify if we update metadata indexes for compaction. I did not see explicit calls in completeCompaction() method. Also, ensure we call only when metadata is enabled.

CC @codope @yihua

[2022-02-25 00:18] nsivabalan commented on #4887
@garyli1019 : Can you help us here. we don't have any exp w/ impala.

[2022-02-25 00:18] nsivabalan commented on #4830
@garyli1019 : Can you please help these folks. I don't have any exp in impala.

[2022-02-25 00:53] nsivabalan commented on #4873
yes, do set `hoodie.compact.inline` to true and get the compaction moving. and later you can think about moving to async flow.

btw, wrt partitioning strategy, it depends on your query patterns. If your queries mostly have predicates around dates, its wise choice to partition with dates.

Even your ingestion might speed up depending on your partitioning strategy.

For eg, if your dataset is date p

[2022-02-25 00:54] nsivabalan commented on #4873
Can you list your .hoodie folder in your hudi table base path. Wanna check if compaction happened or never kicked in only.

[2022-02-25 01:04] #4859 closed

[2022-02-25 01:20] xushiyan commented on #3984
@YannByron thanks for pointing this out.
@cb149 have you tried setting https://hudi.apache.org/docs/configurations/#hoodiedatasourcewritepartitionpathurlencode to true.

[2022-02-25 02:10] yihua commented on #4889
I'm going to put up a fix on this.  Tracked in https://issues.apache.org/jira/browse/HUDI-3513.

[2022-02-25 02:53] BruceKellan commented on #4892
@nsivabalan
I had some misunderstandings before.
I will close this issue. Thanks you.

[2022-02-25 02:53] #4892 closed

[2022-02-25 04:59] yihua commented on #4889
The method `table.updateMetadataIndexes()` actually updates the columns stats index in `.hoodie` folder, not the column stats index in metadata table.  @alexeykudinkin could you take a look at this exception?

[2022-02-25 06:10] scxwhite commented on #4899
@nsivabalan  Thank you for your reply, I have tested the 0.9.0 and 0.10.0 versions of hudi, these two versions have problems, but 0.10.1 is no problem.I will try to upgrade the version of hudi to 0.10.1

[2022-02-25 07:52] garyli1019 commented on #4887
hi, is the hudi table stored as impala external table or you are using hive metastore as impala's catalog? @fisser001

[2022-02-25 08:08] garyli1019 commented on #4830
I think this could be related to the clustering. The impala query is straight forward for `HUDI_PARQUET`. It will list all the parquet files and use the filter method provided by Hudi to get the latest snapshot. If any partition is missing, probably the filtering logic might not work well with clustering.
BTW, the hudi version in impala codebase is still 0.5.0-incubating https://github.com/apache/

[2022-02-25 08:31] fisser001 commented on #4887
Hi @garyli1019 It is an external table. We tried two different approaches. First we created the external impala table manually by a ddl script. However, we also let hudi create the external table by "HIVE_SYNC_ENABLED" option. Both approaches end up in the same result / problem. Yes we are using hive metastore and impala gets table information from hive metastore.

[2022-02-25 12:27] nsivabalan commented on #4889
closing the GH issue as we have a tracking jira.

[2022-02-25 12:27] #4889 closed

[2022-02-25 15:15] stayrascal commented on #4757
The master branch has already support flink 1.14.

[2022-02-25 20:40] TarunMootala opened #4914 "[SUPPORT] reconcile schema failing to inject default values for missing fields"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

My use case is to populat

[2022-02-26 00:24] #4757 closed

[2022-02-26 08:47] Gatsby-Lee commented on #4896
@nsivabalan
Hi, I ran the test

Test1: no metadata table - OK
Test2: metadata table + hoodie.metadata.clean.async=true - Missing Data
Test3: metadata table + hoodie.metadata.clean.async=false - Missing Data

I still see the missing data issue when Metadata table is enabled.

[2022-02-26 09:06] Gatsby-Lee commented on #4839
@nsivabalan
I have a question.
if I run a separate spark app to run async Table compaction service, can it do the compaction for multiple tables?

[2022-02-26 09:11] Gatsby-Lee commented on #4713
@stym06

try to set "maxOffsetsPerTrigger" when you init Spark to prevent OOM by controlling the max fetched msg.

[2022-02-26 13:06] nsivabalan commented on #4899
got it, thanks! please re-open if you run into any issues. thanks for bringing up the issue.

[2022-02-26 13:06] #4899 closed

[2022-02-26 13:08] nsivabalan commented on #4896
ok. when metadata table is enabled, and metadata.clean.async is false:

can you post the contents of .hoodie
and .hoodie/metadata.hoodie

and we can go from there. Ensure you when you do "ls", you sort based on file last mod time btw.

[2022-02-26 14:12] matthiasdg commented on #3868
I'll try to take a look somewhere in the coming week!

[2022-02-26 18:56] yihua commented on #4230
Sorry for the late reply.  If the embedded timeline server is disabled, the timeline-server-based markers are not used and direct markers are used instead.

I haven't found any issue yet.  I'll further triage this based on reports of timeouts.

[2022-02-26 19:08] yihua commented on #3755
@fengjian428 Sorry for the late reply.  Recently we've triaged an issue related to wrong commit metadata that affects metadata table, caused by RDD caching and the old logic of deriving commit metadata.  The fix is #4753 .  I believe that caused your issue.

[2022-02-26 21:15] cafelo-pfdrive commented on #4873
@Gatsby-Lee, @nsivabalan. Thanks much for the explanation, base in your recommendation I changed the Index to 'hoodie.index.type': 'SIMPLE' and add a new column in the partition path seen performance really improve comparing with 'BLOOM'

I also added the following
      'hoodie.compact.inline': 'true',
and then
        'hoodie.datasource.compaction.async.enable': 'false'

but still I don't see th

[2022-02-26 21:19] cafelo-pfdrive commented on #4873
@nsivabalan, here it goes the .hoodie folder
Please let me know if this is the information that you are asking for
![image](https://user-images.githubusercontent.com/93156892/155859364-a7cf516b-ede3-4cdf-a1f2-31fbcc917826.png)
![image](https://user-images.githubusercontent.com/93156892/155859379-96bdc1fe-de8e-4135-aa7a-e07fba370b62.png)

[2022-02-27 05:35] fengjian428 commented on #3755
could this happens when using cow table?

[2022-02-27 08:03] Gatsby-Lee commented on #4896
@nsivabalan

Hi,

here is the content in .hoodie

[code]

here is the content of .hoodie/metadata/.hoodie
[code]

[2022-02-28 01:28] #4857 closed

[2022-02-28 02:19] cafelo-pfdrive commented on #4873
@Gatsby-Lee  really appreciate your answer. here it goes the latest .hoddie folder. I see new  "clean" file. What type of file should create it for the compaction?

![image](https://user-images.githubusercontent.com/93156892/155913357-3aba06f8-3fd5-4355-96e4-76e074454e63.png)

[2022-02-28 06:38] stayrascal opened #4923 "[SUPPORT] Enhance `TypedProperties` class to support running with Java 11"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

### Problem

I'm running

[2022-02-28 11:08] xushiyan commented on #4502
Implementation https://github.com/apache/hudi/pull/4720/

[2022-02-28 12:15] BenjMaq commented on #4230
I was wondering if someone could help me understand how to set `set hoodie.write.markers.type=direct;` when launching a `spark-sql` session?

I know I can run it manually, but I would love to be able to pass it as a `--conf` parameter, like we do for `--conf 'spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension'`.

I tried
[code]
but it does not work. Would anyone be able to

[2022-02-28 12:51] abhishekshenoy commented on #3313
@nsivabalan i see the issue is closed . But in 0.10.1 i still face the duplicate issue when i provide a timestamp column as part of composite key.

[2022-02-28 15:49] codope commented on #4923
Fixed by #4920

[2022-02-28 15:49] #4923 closed

[2022-02-28 16:57] pan3793 commented on #4793
@xushiyan thanks for helping, and sorry I didn't notice your first reply.

Basically, we use the following jars related to Hudi, you can check more details in our project source code https://github.com/apache/incubator-kyuubi

<details>
<summary>pom.xml</summary>

[code]
</details>

No, we use the jar published by Hudi officially, it works fine on Hudi 0.10.0, but not Hudi 0.10.1

[2022-02-28 20:33] nsivabalan commented on #4896
@yihua : Can you assist in debugging data loss issue w/ metadata table. this is hudi-0.9.0 btw.

[2022-02-28 20:35] nsivabalan commented on #4882
@leesf @danny0405 : can you loop in someone to follow up on this.

[2022-02-28 20:37] nsivabalan commented on #4839
@Gatsby-Lee :
we don't have any option at the moment. But we have a RFC and an active PR to support compaction/clustering for multiple tables
https://github.com/apache/hudi/pull/4309
https://github.com/apache/hudi/pull/4872

@glory9211 : If you don't mind taking a slight on your write latency and having a good read perf, you can go for COW.
but if write speed is very critical, then you may want to

[2022-02-28 20:39] nsivabalan commented on #4830
Hey @garyli1019 : have you worked on upgrading hudi version in impala before? can you take up the work item since you have context. Or if you know someone who can help us on that, would be great!

[2022-02-28 20:40] nsivabalan commented on #4796
@satishkotha : Can you please follow up here when you get a chance.

[2022-02-28 20:41] nsivabalan commented on #4881
@leesf @danny0405 : can you folks loop in someone who can help here please

[2022-02-28 20:45] nsivabalan commented on #4457
@zuyanton : if we don't get more info, we might have to close out the github issue. sorry.
feel free to re-open if you at still stuck and looking for assistance.

[2022-02-28 20:45] #4457 closed

[2022-02-28 20:46] nsivabalan commented on #4456
@mainamit : do you have any updates for us.

[2022-02-28 20:47] nsivabalan commented on #4437
thanks Sagar for the help.
will go ahead and close out the issue. If you come across any other issue, feel free to open a new issue.

[2022-02-28 20:47] #4437 closed

[2022-02-28 20:48] nsivabalan commented on #4230
@YannByron @XuQianJin-Stars : Can you folks help w/ setting hoodie write configs in spark-sql dml.

[2022-02-28 21:17] mainamit commented on #4456
@nsivabalan I am also using 0.9 now and done a workaround of loading this data in sequential. If you have a working example of this it would be great, but I cannot test with 0.10 due to constraints at my end.

[2022-03-01 00:36] nsivabalan commented on #4914
schema has to be backwards compatible and new fields has to be added towards the end. From your example, the field of interest is "name" which is in the middle.

[code]
This works.

[2022-03-01 00:51] nsivabalan commented on #4604
only suspicion I have is around the schema. thats the only diff between what I tried to reproduce and yours.

Do you see similar exception w/ other tables too. or just this table. If you don't see in other tables, can you check the schema of those tables if they have decimal logical fields too.

[2022-03-01 03:06] YannByron commented on #4793
[code]
See it's hudi 0.10.1 and spark3.1.2 in https://github.com/apache/incubator-kyuubi/pull/1897/files. My test is ok in the same env, but i use bundle jar. In addition to the vanilla jar, what other hudi jars you put in the spark env ?

And, is there the same problem if you use spark-sql instead of kyuubi ? @pan3793

[2022-03-01 03:22] glory9211 commented on #4839
@nsivabalan  For COW tables written using foreach batch, will clustering work or will it show same behaviour as MOR compaction i.e ( clustering isn't trigger for COW tables with foreach batch but works correctly when using pure streaming apis)

[2022-03-01 03:30] pan3793 commented on #4793
@YannByron

<details>
<summary>Dependency Tree</summary>

[code]
</details>

Basically, the component `kyuubi-spark-sql-engine` is just a Spark application which start a thrift server in Spark driver process and exposes interface which compatible with HiveServer2 thrift protocol. In this case, it just play a role forward the user SQL to `spark.sql(xxx)`, I don't the result will different with dire

[2022-03-01 03:54] pan3793 commented on #4793
@YannByron FYI, after switching to `spark.sql(xxx)` the SQL failed with same error.

[code]
<details>
<summary>Stacktrace</summary>

[code]
</details>

[2022-03-01 03:56] garyli1019 commented on #4887
@fisser001 I didn't try the HIVE_SYNC way myself so I am not sure if that would work, but the ddl script should work. If that possible to find any stack trace or log of the impala front end? Possible the file listing has some issues.

[2022-03-01 04:04] garyli1019 commented on #4830
@nsivabalan I implemented the hudi connector on Impala, but I didn't touch the impala codebase since then(almost two years). It's quite complicated to set up the impala dev environment. IIRC we need a linux machine. I might not able to work on this at this point but happy to help if any contributor are interested. Filled a ticket here: https://issues.apache.org/jira/browse/HUDI-3537

[2022-03-01 04:54] Gatsby-Lee commented on #4839
@glory9211 Like @nsivabalan said, if your data latency is not critical, then CoW works as well.
I use CoW for some datasets that have incoming data around 600-800/sec.
I designed to use MoR initially, but due to the Async Compaction issue in AWS Glue, I moved to CoW for now.
If the data latency is not big concern, then try with the increased windowSize.
You can set the windowSize when you setup fo

[2022-03-01 04:55] Gatsby-Lee commented on #4896
@nsivabalan @yihua Thank you
Please let me know if you need anything from me about this issue.

[2022-03-01 05:42] melin opened #4928 "[SUPPORT] JDBC Catalog, Avoid strong dependencies on hadoop and hive metastore"
We have a bank customer who uses dell ecs storage devices to avoid relying on hadoop, and now only provides write iceberg, but the iceberg index feature is very weak.

Provides a JDBC catalog to manage Hudi tables using a relational database. Is it valuable?
iceberg jdbc catalog: https://iceberg.apache.org/docs/latest/jdbc/

@nsivabalan

[2022-03-01 06:06] pmgod8922 opened #4929 "[SUPPORT] SparkSession To Hudi Small files are not merged"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-03-01 07:36] danny0405 commented on #4881
Seems a known bug fixed before, dod you code has this fix: https://github.com/apache/hudi/pull/3925

[2022-03-01 07:37] danny0405 commented on #4882
These files should be archived then, did your job have pending compactions on the timeline ?

[2022-03-01 07:44] danny0405 commented on #3960
Yes, this feature is not supported yet mainly because there is no solution for adapter the schema changes of the internal row for flink engine, and for SQL semantics the row schema is solid, we may need some tricky syntax for that such as `create table target as select * from src_table` and the engine can handle the schema changes with varying SE/DE automatically.

[2022-03-01 07:46] danny0405 commented on #4558
@waywtdcc Try 0.10.1 if possible again, the problem expects to be resolved ~

[2022-03-01 08:27] cdzryou commented on #4882
thanks for your comment.
have no pending compactions, i run a job for a long time, and find these files were archived, files don't grow indefinitely.
however, can I control the number of files by setting parameters? for example, i only want to keep 5 files or less

[2022-03-01 08:56] danny0405 commented on #4882
For flink option, it is `archive.min_commits` default 20 and `archive.max_commits` 30, i would suggest you keep the default value as it is to avoid weird problem. Because in hoodie, many operations depend on the active timeline ~

[2022-03-01 09:50] pmgod8922 commented on #4876
hello  ask a question：
1、I create sparksession
SparkSession sparkSession = SparkSession.builder().enableHiveSupport().appName("HudiTest")
.config("spark.serializer","org.apache.spark.serializer.KryoSerializer")
.getOrCreate();
2.Configure hudi parameters
optionMap.put(DataSourceWriteOptions.RECORDKEY_FIELD().key(),"uuid");
optionMap.put(DataSourceWriteOptions.PRECOMBINE_FIELD().key(),"dt");
option

[2022-03-01 14:06] andykrk commented on #4604
I have done the same with the other table and it was successful. Let me check the details of the successful one.

[2022-03-01 15:51] TarunMootala commented on #4914
Thanks for the response. It's working when the fields are added at the end. I've a use case to populate default values for missing fields at any position. Is there any option to do so?

Also, I've another observation. The new fields that are added at the end are not reflecting when using spark sql. Provided the PySpark code that I've used in notebook.

[code]

Note: The same example is working in

[2022-03-01 17:56] TarunMootala commented on #4914
I'm using Glue Data Catalog as Hive Metastore, and enabled Hive Sync. I can see Glue Catalog table is updated with the latest schema i.e. new fields are added and can query from Athena, and Redshift spectrum also. The only issue I've seen is with Spark SQL.

[2022-03-01 19:00] Rap70r commented on #4876
Got it. Thank you @nsivabalan.

[2022-03-02 01:51] LiangZuoXiang opened #4931 "Use hive to query the XXX_ rt of Hudi"
It occurs an error when I use hive to query the Hudi xxx_rt table：
`[08S01]: Error while processing statement: FAILED: Execution Error, return code 2 from org.apache.hadoop.hive.ql.exec.tez.TezTask. Vertex failed, vertexName=Map 1, vertexId=vertex_1644382793459_9183_6_01, diagnostics=[Task failed, taskId=task_1644382793459_9183_6_01_000009, diagnostics=[TaskAttempt 0 failed, info=[Error: Error whi

[2022-03-02 07:46] fisser001 commented on #4887
Hi @garyli1019: I have run the queries again and checked the logs. There are no errors visible in the logs. The query simply does not find any data. But this does not seem to be an error for Impala. I have exported the query plan. This is the only thing I can offer. Additionally I have created an external partitioned table, which is only saved in parquet format without hudi.  For comparison I atta

[2022-03-02 16:25] melin opened #4938 "[SUPPORT]Add snapshot,  send event notification, user can customize listener"
Hive MetaStore provides the Event notification mechanism, but snapshot information is not stored in HMS. Therefore, change notifications cannot be obtained in real time

[2022-03-02 17:38] moritzmeister opened #4939 "[SUPPORT] Delta Streamer can't write to empty Hive table if .hoodie metadata directory doesn't exist"
**To Reproduce**

Steps to reproduce the behavior:

1. Create an empty directory in HDFS and create the corresponding Hive table
2. Try to write data to that table using HudiDeltaStreamer

**Expected behavior**

I would expect that the Delta streamer creates the `.hoodie` metadata directory if it doesn't exist, the same way as the Spark Hudi DataSource does it.

Traversing the stacktrace, I saw th

[2022-03-02 22:39] nsivabalan commented on #4939
in sparkdatasource write, guess the expectation is that, you can set the write mode to "Overwrite" and so its taken care of. while in deltastreamer, we can't do that. we always try to append and if dir(table base path) exists, probably we assume table exists.

I assume if you delete the table base path and retry, it should work.

[2022-03-02 22:39] nsivabalan commented on #4939
if not, let us know. we can look further.

[2022-03-02 22:41] nsivabalan commented on #4938
sorry, I am not very clear on the requirement.
We already have commit callbacks. Would that suffice or are you looking for something else.
can you throw some light please.

[2022-03-02 22:46] nsivabalan commented on #4929
I assume all files seen in snapshot are written in one commit. and not across diff commits.
and I guess its the first commit you are making to the hudi table.
if thats the case, may be you need to set the right value for
https://hudi.apache.org/docs/configurations/#hoodiecopyonwriterecordsizeestimate

If you are not sure of your record size, you can check the commit metadata of already committed f

[2022-03-02 22:48] nsivabalan commented on #4929
In general, small file handling logic in hudi is as follows.
In Commit C1, if you end up writing files of size 10MB(filegroup1), 20MB(file group2) , 100MB(file group3) for eg.
in Commit C2, if you get inserts, hudi bin packs them into file group1 and file group2 so that it can grow upto 100MB (assuming you have set max parquet file size to 100MB).

Within the same batch, atleast for the first comm

[2022-03-02 23:36] nsivabalan commented on #4914
@YannByron : Can you help here please.

[2022-03-02 23:38] nsivabalan commented on #4914
wrt setting auto defaults, do you think [this](https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/model/OverwriteNonDefaultsWithLatestAvroPayload.java) payload will help you?

[2022-03-02 23:38] nsivabalan commented on #4931
@xiarixiaoyao : can you assist here please.

[2022-03-02 23:39] nsivabalan commented on #4876
thanks!

[2022-03-02 23:39] #4876 closed

[2022-03-02 23:40] nsivabalan commented on #4814
@megha2411 : any updates on this end.

[2022-03-02 23:44] nsivabalan commented on #4839
@glory9211 : we don't have operational exp w/ glue unfortunately and thats why can't provide much help. And so, I don't really know if you are missing any specific configs or does glue streaming has limitations around this. but in general, w/ streaming sink to hudi, async compaction and async clustering works. I have tested it and few other users from the community as well.

One another option you

[2022-03-02 23:44] nsivabalan commented on #4839
alternatively, you can also try separate aysnc job https://hudi.apache.org/docs/clustering/#asynchronous-clustering
But do remember to enable lock service provider.

[2022-03-02 23:45] nsivabalan commented on #4796
@rohit-m-99 : Are you still looking for assistance here. of if you got it resolved, let us know.

[2022-03-02 23:47] nsivabalan commented on #4683
@waywtdcc : gentle ping.

[2022-03-03 00:07] Gatsby-Lee commented on #4839
@nsivabalan
I see.
So, in Spark Streaming, Async Table services are expected to run.

Thank you

[2022-03-03 00:33] bhasudha commented on #4729
@soma17dec  @nsivabalan  I believe we dont have oob support for this yet like Shiva already mentioned. However, I know that some users in the community handle this via implementing their own record payload that can merge the record when applying the upserts. That way the logs will also have the full row (old columns plus modified columns). If logs have them, then compaction would return expected r

[2022-03-03 01:23] xiarixiaoyao commented on #4931
@LiangZuoXiang  pls share your hive version thanks

[2022-03-03 01:30] melin commented on #4938
There is a need. The upstream system periodically writes Hudi data to the object storage. The downstream system needs to know the changes of Hudi data. Currently, the upstream system can only periodically query Hudi snapshot information to determine whether Hudi table data has changed. Then the incremental calculation of the job is triggered. If there is a snapshot change notification mechanism (i

[2022-03-03 05:06] pmgod8922 commented on #4929
thank you very much

[2022-03-03 06:56] zhilinli123 commented on #4881
I'm using the code for the master branch where this problem occurred after 0.10.1

[2022-03-03 07:11] hanson2021 opened #4943 "[SUPPORT] NoClassDefFoundError: org/apache/hudi/org/apache/hadoop/hive/metastore/api/NoSuchObjectException"
**Environment Description**

* Hudi version : 0.10.1
* Spark version :
* Hive version : 3.1.2
* Hadoop version : 3.1.4
* Storage (HDFS/S3/GCS..) : hdfs
* Running on Docker? (yes/no) : no

```Add the stacktrace of the error.```
``
2022-03-03 10:48:07,375 ERROR org.apache.hudi.sink.StreamWriteOperatorCoordinator          [] - Executor executes action [sync hive metadata for instant 20220303104806421

[2022-03-03 07:11] zhilinli123 commented on #4881
I'm using the code for the master branch where this problem occurred after 0.10.1

[2022-03-03 07:26] hanson2021 commented on #4943
I compile hudi-0.10.1 with mvn -Pflink-bundle-shade-hive3 ...，can not found this class in all generated jars

[2022-03-03 09:42] moritzmeister commented on #4939
Yes in that case it works, however, the way we manage the tables, they are created beforehand together with the directory, so the first time delta streamer writes to it, we would like it to instantiate the Hudi metadata.

Is it feasible if I call the `HoodieTableMetaClient.initTable()` manually from my application?

[2022-03-03 12:16] andykrk commented on #4604
Please find the output of desc hudi_table for the table the archive was successful:

+--------------------------+--------------+-------+
|col_name                  |data_type     |comment|
+--------------------------+--------------+-------+
|_hoodie_commit_time       |string        |null   |
|_hoodie_commit_seqno      |string        |null   |
|_hoodie_record_key        |string        |null   |
|_h

[2022-03-03 12:32] xiarixiaoyao commented on #4931
@LiangZuoXiang could you pls disable vectorized for hive ， try set hive.vectorized.execution.enabled=false

[2022-03-03 12:37] xiarixiaoyao commented on #4931
@nsivabalan  this is a bug, new hive on hudi cannot support vectorized read , let me fixed it ,

[2022-03-03 16:22] TarunMootala commented on #4914
Tested with OverwriteNonDefaultsWithLatestAvroPayload but it's not working as expected. When a field is missing in the middle, it has overwritten values based on position instead of field names. Same case with OverwriteWithLatestAvroPayload also.

[code]

Output:
[code]

[2022-03-03 16:30] chrischnweiss opened #4946 "[SUPPORT] TimestampBasedKeyGenerator failed to parse date_string column"
**Describe the problem you faced**

Hey guys,
actually I am trying to use DeltaStreamer along with a CustomKeyGenerator to use ComplexKeyGenerator and TimeBasedKeyGenerator together. Now I am struggling with DateFormat Exception and I can´t figure out why. Maybe you can help me?

These are my config properties for the partitoning:

[code]

**Expected behavior**

I want to parse my date_string as i

[2022-03-03 19:45] nikspatel03 opened #4947 "[SUPPORT] Hudi 0.9 couldn't process older timestamp column from parquet files in delta streamer with Spark 3.1.2"
Hello Guys,

We are trying to process parquet files which contains historical dates but we could not process with Delta streamer Hudi 0.9 version on EMR 6.5.0 (Spark 3.1.2)

**To Reproduce**

Steps to reproduce the behavior:

1. Create parquet files with historical date/timestamp - Before 1900 year ( for ex. 1869-01-03 08:44:00 )

ORDERID|ORDERTYPE|SUBMITTIME         |P_COMMENTS        |RESPONSEDA

[2022-03-03 19:48] nikspatel03 commented on #4947
@xushiyan

[2022-03-03 22:44] cafelo-pfdrive commented on #4873
Thanks @Gatsby-Lee , I noticed that step Building workload profile
countByKey at BaseSparkCommitActionExecutor.java:175 only use the GPU x cores. It is a way to parallelize more. It looks like this step is the bottleneck

Thanks much

[2022-03-03 22:47] Gatsby-Lee commented on #4873
@cafelo-pfdrive
Thank you.
Have you figured out or confirmed if the Async Table Compaction runs in AWS Glue Streaming?
I haven't confirmed it yet, but based on what I saw before, it seems Async Table Compaction didn't run.

[2022-03-04 01:24] melin opened #4949 "Support purge for Spark 3.2"
Spark 3.1.0 split the dropTable into two APIs: dropTable and purgeTable. By default, the purgeTable will throw not implemented exception.

[2022-03-04 15:04] #4929 closed

[2022-03-04 15:06] nsivabalan commented on #4931
yes, makes sense. can you follow up on this.
thanks for your assistance!

[2022-03-04 15:07] nsivabalan commented on #4938
Hudi already has commit callbacks. wouldn't that suffice? or are you looking for more fine grained events ?
https://hudi.apache.org/docs/configurations/#Write-commit-callback-configs

[2022-03-04 23:36] rohit-m-99 commented on #4796
We switched to clustering inline and stopped seeing problems. Was not able to get async clustering working unfortunately.

[2022-03-06 02:18] misurin commented on #4947
We're also facing the same issue with deltastreamer, and it looks like a Spark problem rather than HUDI. The way we work around it is using Spark 3.2 for Deltastreamer and set `spark.sql.parquet.datetimeRebaseModeInRead=CORRECTED`. If you use HUDI incremental source, Spark 3.2 will not work.

[2022-03-06 07:43] xushiyan commented on #4949
For @YannByron to comment: do you know about the nuances btw these 2 APIs?

[2022-03-06 07:50] xushiyan commented on #4947
@misurin thanks for the info! @nikspatel03 have you tried this suggestion?
Also Spark 3.2 support is coming soon with 0.11

[2022-03-06 08:15] xushiyan commented on #4946
@chrischnweiss have you tried verifying the input datetime string works with the datetime format you set?

[2022-03-06 11:11] xushiyan commented on #4928
thanks @melin ! filed https://issues.apache.org/jira/browse/HUDI-3565
cc @XuQianJin-Stars

[2022-03-06 11:11] #4928 closed

[2022-03-06 14:16] xushiyan commented on #4627
@vingov have you filed a JIRA for this? would like to track this for planning. thanks.

[2022-03-06 15:26] melin commented on #4938
It's what I need, Thanks

[2022-03-06 15:26] #4938 closed

[2022-03-06 17:17] #4834 closed

[2022-03-06 21:01] nsivabalan commented on #4904
@parsini : If I am not wrong, you added the config to hudi. Can you assist here please.
https://github.com/apache/hudi/pull/4500

[2022-03-06 21:04] nsivabalan commented on #4896
@Gatsby-Lee : Can you zip just the .hoodie folder contents and give us. Guess ethan has some hudi-cli tools to inspect the timeline.
so, .hoodie of data table and .hoodie of metadata table as well.

[2022-03-06 22:41] parisni commented on #4904
@lewyh @nsivabalan indeed i have spotted an error in my pr. will propose a fix asap

[2022-03-07 06:27] danny0405 commented on #4943
Thanks, can you try to remote the hive shade pattern in the hudi flink bundle jar ? Just like what the latest master does.

[2022-03-07 06:30] vingov commented on #4627
@xushiyan - Here is the associated JIRA: https://issues.apache.org/jira/browse/HUDI-3570. I will create the RFC soon.

[2022-03-07 06:31] danny0405 commented on #4881
Thanks for the feedback, let me figure out the reason ~

[2022-03-07 06:55] pmgod8922 commented on #4873
@Gatsby-Lee  Can you provide the Hudi(MOR) configuration？ We’re refer
Looking forward to your reply.  Thank You!!!!!!

[2022-03-07 06:58] hanson2021 commented on #4943
How can I fix it now?

[2022-03-07 16:26] megha2411 commented on #4814
Hi @nsivabalan , We have handled this issue with retries for now.

[2022-03-07 16:53] cafelo-pfdrive commented on #4873
@Gatsby-Lee , @nsivabalan

We are processing around 775 million records which 30% is only inserts and the rest updates. Job takes around 57 minutes. Highlight in Yellow the stage that take the most computation time
![image](https://user-images.githubusercontent.com/93156892/157080279-97bead33-6368-444f-a7b8-7be2ff62aca6.png)

[2022-03-07 17:21] nikspatel03 commented on #4947
Hello @xushiyan ! We are using EMR for processing so we need to wait until EMR releases new version with spark 3.2.  Thanks

[2022-03-07 22:47] suryaprasanna commented on #4891
@codope summed it really well.
I just want to expand on how to use clustering. I have used clustering on COW table, so my knowledge is limited to that.

Clustering can be used in both async and inline. Ideally inline-clustering is preferred if you want to work on the recent changes done by ingestion job.
Async-clustering is ideal candidate for running clustering on older partitions, like if you wa

[2022-03-08 02:44] nsivabalan commented on #4904
as we have a patch for the fix, closing out the github issue.

[2022-03-08 02:44] #4904 closed

[2022-03-08 02:45] nsivabalan commented on #4904
@parisni : whats the workaround for users w/ 0.10.1 who is not looking to set the endpoint url ?

[2022-03-08 02:48] nsivabalan commented on #4729
@soma17dec : is there anything else you are looking for. looks like we don't have the support out of the box and the recommendation is to define your own payload impl class.
Let us know if we can close out the issue. Or if you are looking for more assistance.

[2022-03-08 02:48] nsivabalan commented on #4803
@zhangyue19921010 : Can you followup on this please.

[2022-03-08 02:50] nsivabalan commented on #4830
closing the github issue as we have a tracking jira. @cb149 : looks like we don't have much resources on our side. Would you  be able to assist us here. Gary can guide you on how to go about it.

[2022-03-08 02:50] #4830 closed

[2022-03-08 02:52] nsivabalan commented on #4864
@harsh1231 : Can you please follow up on this when you get a chance.

[2022-03-08 02:53] nsivabalan commented on #4887
@garyli1019 : can you please follow up when you get a chance.

[2022-03-08 03:06] nsivabalan commented on #4814
thanks!. will close the issue for now. but will fine a tracking jira.
https://issues.apache.org/jira/browse/HUDI-3578

[2022-03-08 03:06] #4814 closed

[2022-03-08 03:08] nsivabalan commented on #4230
@YannByron @XuQianJin-Stars : gentle ping.

[2022-03-08 03:09] nsivabalan commented on #4683
will wait for a week and close out the github issue if we don't hear back from you.

[2022-03-08 03:11] nsivabalan commented on #4456
@mainamit : do you see any discrepancy in your configs wrt what @zhedoubushishi  have provided above. Can you post your write configs you use for lock configurations.

[2022-03-08 03:48] danny0405 commented on #4943
You may take a reference of this pom: https://github.com/apache/hudi/blob/master/packaging/hudi-flink-bundle/pom.xml

[2022-03-08 04:43] zhangyue19921010 commented on #4803
Ack. Sorry, almost forget this issue. Will do more research and response ASAP

[2022-03-08 05:01] ghost opened #4978 "[SUPPORT] Wrong table path when using Hive to query xxx_rt table before the first compaction"
**Describe the problem you faced**
When using Hive to query xxx_rt table，if there is no parquet file but only log files, we get a wrong table path.
But when the parquet files are generated, the table path is correct and we can get the data.
Is this expected behavior?
[code]

**Environment Description**

* Hudi version : 0.10.1

* Hive version : 3.1.2

* Hadoop version : 3.3.1

[2022-03-08 05:28] FelixKJose commented on #4891
@codope @suryaprasanna Thank you for the detailed information.

Couple of questions:
1. Let's say my each partitions (date) are large partitions (eg. 6.5 TB uncompressed data), so having the frequent async clustering is suggested right? I am running on r5.4xlarge (meaning 37GB driver memory), so what will be best clusering frequency? What will be the best value for hoodie.clustering.plan.strategy.

[2022-03-08 06:24] waywtdcc opened #4979 "[SUPPORT] After the changelog mode is enabled, the previous - U operation records are not deleted"
After the changelog mode is turned on, the flick synchronizes the changelog mode, but the - U operation record of a long time ago has not been deleted

![image](https://user-images.githubusercontent.com/59957056/157179049-8e4a9772-4f0e-4931-b465-efc2f2f02575.png)

`CREATE TABLE `hudi.users_cdc_kafka_hudi`(
)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
STORED AS INPUTFOR

[2022-03-08 06:47] nleena123 opened #4980 "unable reprocess the data with old schema through Apache hudi ,Caused by: HoodieUpsertException: Error upserting bucketType UPDATE for partition :34"
Hi All,

I am unable to re-process the data with old schema through apache Hudi.

Getting below exception while running the job.

************************************ERROR*******************************
Job aborted due to stage failure. Caused by: HoodieUpsertException: Error upserting bucketType UPDATE for partition :34 Caused by: HoodieException: org.apache.hudi.exception.HoodieException: java.u

[2022-03-08 07:29] waywtdcc commented on #4683
Sorry, I didn't notice. This is the problem of hive query. The timestamp type field stored in the Hudi flick table is automatically converted to bigint in the hive ro table, but the query of version 2.3.6 hive is not compatible with the bigint transferred from timestamp; The query result with spark is normal and no error is reported.

[2022-03-08 07:29] #4683 closed

[2022-03-08 07:48] danny0405 commented on #4979
Yes, the spark engine has not adapter to the `__hoodie_operation` metadata field yet.

[2022-03-08 10:45] scxwhite commented on #4980
The schema evolutino needs to follow https://hudi.apache.org/docs/schema_evolution.
For these old schema data, it is recommended that you manually convert to the new schema data before merging.

[2022-03-08 10:46] parisni commented on #4904
They can copy that file in their project to overwrite it https://github.com/apache/hudi/blob/21b218f9569a60c94aa2155b2093205382da40d3/hudi-aws/src/main/java/org/apache/hudi/config/DynamoDbBasedLockConfig.java

[2022-03-08 11:10] Aalron opened #4985 "[SUPPORT] [HUDI-3601] The current Docker demo only for x86 system ,arm64 system can't run success"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-03-08 11:22] yanghua commented on #4985
@nbalajee @n3nash Can you help to support this?

[2022-03-09 01:46] xiarixiaoyao commented on #4978
@awpengfei  yes, for now it is a expected behavior,   before call any hudi function, hive will filter out all files which start with '.'  so all the log files  are filtered out.
you have two way to sovle this problem
1: trigger compaction, after compaction parquet file will generate
2: modify hive souce code,  not filter out  .log files

[2022-03-09 01:58] Gatsby-Lee commented on #4896
@nsivabalan : Hi, ok. I will do that.
BTW, I don't have the data that I reported last time.
Let me run the experimentation again and populate the data and share with you.

[2022-03-09 02:14] soma1712 opened #4989 "[SUPPORT] Concurrent updates on a Hudi table"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-03-09 02:32] maddy2u opened #4990 "[SUPPORT] PySpark Examples for DeltaStreamer using Kinesis"
Hi All,

I am looking for usage of Python or PySpark with Hudi deltasteamer from a Kinesis data stream.

This is also missing in the main documentation related to how deltastreamer can be used with AWS Kinesis using Python/PySpark.

Do we have any examples notebooks or examples of this. Would be great to get some examples to build on top of. Please help.

[2022-03-09 03:57] liuyaolin opened #4992 "Hudi How to support HDFS kerberos permission verification"
Hello，I searched all the configuration files, but I didn't find the Kerberos permission verification configuration when Flink Hudi saved the data to HDFS. Can I provide Kerberos permission verification？
Thank you!

[2022-03-09 04:06] BruceKellan opened #4993 "[SUPPORT] Flink Streaming read about dynamic day partition"
**To Reproduce**

1. create a streaming hudi table `ods_data`, streaming insert into it. `ods_data` partitioned by day, type.
2. streaming write into a hudi table `dwd_data` from `ods_data`, sql like this:
[code]
3. In next day, `dwd_data`'s max time was '2022-03-08 23:59:59.000'.
It seem that it cannot read new data in `day=2022-03-09`

<img width="504" alt="image" src="https://user-images.github

[2022-03-09 06:50] Gatsby-Lee commented on #4873
@pmgod8922

Hi, my config is pretty much like this with some change to use MoR
https://github.com/apache/hudi/issues/4896

[code]

[2022-03-09 07:00] Gatsby-Lee commented on #4896
@nsivabalan shared the requested content through slack channel.

[2022-03-09 07:38] waywtdcc commented on #4979
However, no -u record exists for the update data of the same partition. Only when the data is updated across partitions can -u data exist. I don't think it's reasonable. It should be unified.

[2022-03-09 09:46] danny0405 opened #4998 "[SUPPORT] Tinyint and small int data types"
Currently, the avro schema does not support `tinyint` and `smallint` datatypes, but Hudi uses the avro schema as bridge of user DDL schema and parquet schema, we should fix that.

[2022-03-09 11:04] xushiyan commented on #4985
@codope and I are working on this.

[2022-03-09 12:14] pmgod8922 commented on #4873
thank you

[2022-03-09 13:16] codope commented on #4985
@Aalron @xushiyan I have built images for arm64 and pushed to our [docker hub](https://hub.docker.com/u/apachehudi). In the docker setup, before running `setup_demo.sh` script please apply this patch in `<HUDI_REPO>/docker/compose/docker-compose_hadoop284_hive233_spark244.yml` file: https://gist.github.com/codope/3dd986de5e54f0650dd74b6032e4456c

Please note that this is still experimental. I have

[2022-03-09 14:38] arunb2w opened #5000 "[SUPPORT] Update all records based on key rather than using preCombineKey field"
If a batch contains multiple updates for the same key, hudi is updating the dataset only with the latest value based on the field given in the preCombineKey field. Whereas I wanted to update all the records in the batch by considering only the key without worrying about the latest value.

Lets say, I have this current snapshot of table
K1, V1, F1, F2, F3, F4, F5
K1 - recordKey(uniqueKey)
V1 - preC

[2022-03-09 17:35] Gatsby-Lee commented on #4896
@yihua @nsivabalan

I haven't really confirmed yet.
but, I feel this issue happens when the table uses table partition.

[2022-03-10 03:00] Carl-Zhou-CN commented on #5000
Setting the payload to OverwriteNonDefaultsWithLatestAvroPayload may be helpful to you. It can update the non-null fields in the new data to the old data, which is suitable for updating only some fields each time, but for multiple messages with the same key, it may reach less than your request

[2022-03-10 03:43] YannByron commented on #4914
@TarunMootala can you upgrade hudi to 0.10.1. this can reconcile the schema wherever the new field is put in. Spark-SQL is still having some problems that the new middle field can't be shown.
But I test in mater branch, all of the problems above have gone.

[2022-03-10 06:18] vaibhav2ghadge opened #5005 "[SUPPORT] java.lang.IllegalArgumentException: Partition key parts [] does not match with partition values []. Check partition strategy."
**Describe the problem you faced**
I'm writing data to a non-partitioned table on S3, job executed successfully and data also get written into S3 but when I check job logs found following error
`Caused by: java.lang.IllegalArgumentException: Partition key parts [] does not match with partition values []. Check partition strategy.
	at org.apache.hudi.common.util.ValidationUtils.checkArgument(Valida

[2022-03-10 06:23] nsivabalan commented on #5000
yes, you can try OverwriteNonDefaultsWithLatestAvroPayload. let us know how it goes.

[2022-03-10 06:24] nsivabalan commented on #4998
can you create a jira directly. and close the github issue.

[2022-03-10 06:30] nsivabalan commented on #4990
@Rajesh kalluri: Can you assist here please.

[2022-03-10 06:32] nsivabalan commented on #4989
sure. do check out this blog https://hudi.apache.org/docs/next/concurrency_control/#supported-concurrency-controls. it has all the details on how to do concurrent updates.

[2022-03-10 06:36] nsivabalan commented on #4980
the expectation w/ reconcile schema is.
lets say initial schema is schemaA
and then table got upgraded to schemaB (by adding new columns to the end).

after this upgrade, if you try to ingest records w/ schemaA, by default it will fail. but if you set the reconcile schema config, it will succeed.

but do remember that schemaB should be backwards compataible w/ schemaA.

[2022-03-10 06:51] nsivabalan commented on #4992
hey, don't think we have support as of now. do you want to take a stab and help us out.

[2022-03-10 06:53] nsivabalan commented on #4980
if you can provide us w/ table schema and schema of incoming batch, we can see whats the issue.

[2022-03-10 07:15] yihua commented on #3755
If clustering is enabled for the COW table, that commit metadata issue can happen on the COW table as well since the clustering commit metadata was also affected.

[2022-03-10 07:21] xushiyan commented on #4985
Updated the images with `linux-arm64-0.10.1` tag

[code]

patch here https://gist.github.com/xushiyan/cec16585e884cf0693250631a1d10ec2

[2022-03-10 07:22] Aalron commented on #4985
@xushiyan @codope now ,I have encountered a new problem. When executing the setup_demo.sh command, I went to the docker console and found that "menorah84/hive-metastore-postgresql:2.3.0" reported an error at startup. The specific error is as follows: "
Error: Database is uninitialized and superuser password is not specified.
       You must specify POSTGRES_PASSWORD to a non-empty value for the

[2022-03-10 07:29] xushiyan commented on #4985
haven't tried myself but would this work?  @Aalron

[code]

[2022-03-10 08:38] Aalron commented on #4985
@xushiyan
According to Mr. Codope's method, the docker images have been successfully pulled so far, but when the step_demo.sh command is executed to start each container, the new problem as described above will appear.

[2022-03-10 08:58] xushiyan commented on #4985
Understood @Aalron . Here I'm suggesting putting this env car in the docker compose file, as shown above. See "environment". Does this work?

[2022-03-10 09:09] JoshuaZhuCN opened #5008 "[SUPPORT] Can we consider merging hive table names"
Can we consider merging  XXXX and XXXX_ RT into XXXX,
which is the default query logic, XXXX_ Ro can be started manually according to the requirements,
so that the query logic of Hudi table and non Hudi table will not be confused in hive,
and the learning cost of users will be reduced

[2022-03-10 10:06] Aalron commented on #4985
@xushiyan Thanks ,According to your method, Now this problem should have been solved, I don't report an error locally, I will see if I can run the project at night.

[2022-03-10 12:17] Aalron commented on #4985
@xushiyan @codope
i found kafka setting in `<HUDI_REPO>/docker/compose/docker-compose_hadoop284_hive233_spark244.yml` need add
an environment setting

[code]
after that, i found four exception

[code]

[code]

[code]

[code]

[2022-03-10 12:58] #5005 closed

[2022-03-10 13:14] xushiyan commented on #4985
@Aalron I mentioned here already, we updated the tag for arm64 images. you should be using this tag instead of latest. I also linked a patch to illustrate the diff.

[2022-03-11 02:48] Aalron commented on #4985
@xushiyan According to your method, there are currently three questions left,
First, about [apachehudi/hudi-hadoop_2.8.4-history:linux-arm64-0.10.1] :
[code]
Second, about [apachehudi/hudi-hadoop_2.8.4-prestobase_0.217:linux-arm64-0.10.1] :
[code]

Third, about [apachehudi/hudi-hadoop_2.8.4-prestobase_0.217:linux-arm64-0.10.1] :
[code]

[2022-03-11 02:56] nsivabalan commented on #5008
each table is meant for different purposes. it actually makes devs life easier so that they don't need to explicitly specify what type of query they are interested in. There could be use-cases just with RT tables, where some users may need real time, but some may need faster query results.

May be, can you send an email to dev mailing list. we can see what others think about it. if many folks in t

[2022-03-11 02:58] todd5167 opened #5014 "[SUPPORT] Throwing NPE on compression check"
- version:  hudi 0.10.0-patch
- operate： flink writes hudi mor table and enables online compression at the same time
- error log:

[code]

[2022-03-11 03:13] #5014 closed

[2022-03-11 03:25] VIKASPATID commented on #4635
Hi @nsivabalan, is there any update on this ?

[2022-03-11 04:03] melin opened #5016 "[SUPPORT] Add AS OF syntax support"
Use sql to query the specified version data
[code]

[2022-03-11 09:02] nloneday commented on #4943
Removing the hive shade pattern in the hudi flink bundle jar can't work. The simplest way to resolve this problem is to use https://github.com/apache/hudi/blob/master/packaging/hudi-flink-bundle/pom.xml pom file, just downgrade the project version to 0.10.1.

[2022-03-11 09:20] danny0405 commented on #4998
issue created: https://issues.apache.org/jira/browse/HUDI-3608

[2022-03-11 09:20] #4998 closed

[2022-03-11 09:33] danny0405 opened #5020 "[SUPPORT] The cleaning strategy breaks the reader view completeness"
Current we have some cleaning strategy such as: `num_commits`, `delta hours`, `num_versions`.
Let's say user use the `num_commits` strategy.

And it uses the params:

- max 10 commits to archive
- min 4 commits to keep in alive
- 6 commits to clean

c1 ---- c2 ---- c3 ---- c4 ---- c5 ---- c6 ---- c7---- c8 ---- c9 ---- c10

At c10, the reader starts reading the latest fs view with a file slice tha

[2022-03-11 12:37] maddy2u commented on #4990
Hi  - Any update on this?

[2022-03-11 12:38] maddy2u commented on #4202
It works. Thanks.

[2022-03-11 13:15] danny0405 commented on #4943
Yeah, that is a solution.

[2022-03-11 14:30] maddy2u opened #5021 "[FEATURE REQUEST] Support for Presto/Athena to make updates to Hudi Tables"
Hi,

Within AWS Tech Stack, we seem to have support for Athena to make updates to Apache Iceberg tables as seen here (https://docs.aws.amazon.com/athena/latest/ug/querying-iceberg.html).

It would be great if we can do the same with Apache Hudi and make it consistent with all the other workflows such that an update from Athena will reflect the data in CoW or MoR mode when reading from Spark or Glu

[2022-03-12 14:07] melin opened #5024 "[SUPPORT] Spark SQL to query metadata such as hudi table snapshot"
Support Spark SQL to query metadata such as hudi table snapshot。Example:
[code]

[2022-03-12 14:47] scxwhite commented on #5020
If we want to realize that when the user reads, the data being read is not clean. We may need to add other third-party components. For example, the zookeeper temporary node. Otherwise, we won't know when the read ends or when the read exception crashes

[2022-03-13 13:17] wangxianghu opened #5026 "[SUPPORT] TypedProperties can not set non-string values using its original type"
**Describe the problem you faced**

The test below throws IllegalArgumentException, we can only set our config in string format no matter what type is, and parse it into proper type innerly

is it designed like this on purpose?

[code]
**Stacktrace**
[code]

[2022-03-13 20:21] gfeldman commented on #4891
I am also running into clustering issues with a large, but smaller cow table. Is this related to  [HUDI-2943](https://issues.apache.org/jira/browse/HUDI-2943) ?

[2022-03-14 02:59] danny0405 commented on #5020
We may need some contract between the reader and writer, something like the read lock, when a snapshot was reading, the writer can not clean it.

[2022-03-14 05:48] zhangyue19921010 commented on #4803
Hi @aznwarmonkey Sorry for the delay. I just took a closer look at the log you provided. And found something weird.
Based on your configs, you used --mode scheduleAndExecute. And Hoodie will log some info such as `LOG.info("Running Mode: ["xxx"]`,  ` LOG.info("Step 1: Do schedule");`  no matter it's successful or not. But I couldn't find any hudi-related logs in your provided files.

So that could

[2022-03-14 06:10] wangxianghu commented on #5026
hi @nsivabalan do you have any ideas about this?

[2022-03-14 06:46] arunb2w commented on #5000
Thanks for the suggestions. Will try and update here

[2022-03-14 07:47] arunb2w commented on #5000
I am still seeing the same behavior
My hudi options:
'hoodie.table.name': tableName,
            'hoodie.datasource.write.recordkey.field': 'KEY',
            'hoodie.datasource.write.partitionpath.field': 'partition_field',
            'hoodie.datasource.write.table.name': tableName,
            'hoodie.datasource.write.operation': 'upsert',
            'hoodie.datasource.write.payload.class': 'o

[2022-03-14 07:54] zhangyue19921010 commented on #5024
As far as I know, we couldn't get meta info through sparkSQL for now.
Fortunately, we can get these info through hoodie built-in cli. Linked https://hudi.apache.org/docs/cli

[2022-03-14 08:21] garyli1019 commented on #4887
@fisser001 hi, do you mean your hudi table is not external table? Is the hudi table created like this docs https://hudi.apache.org/docs/querying_data#impala-34-or-later

[2022-03-14 08:57] fisser001 commented on #4887
@garyli1019 It is an external table. We tried both - creating the table like proposed in the docs and using hudi hive sync. Both ends up in the same result. The table gets created however impala can not show any data.

[2022-03-14 09:12] garyli1019 commented on #4887
@fisser001 Impala actually doesn't support hudi hive sync, that why we need to manually create the external table, recover partition, and refresh table manually. The table created by hive sync are using HoodieHiveInputFormat, but impala read HUDI_PARQUET as regular parquet. Those two are totally different and it could be problematic if we use the hive and impala for the same table.
Would you try t

[2022-03-14 12:45] fisser001 commented on #4887
@garyli1019 We also tried this. However, still no data. Maybe it is a good idea to increase the hudi version in the impala project?

[2022-03-14 14:09] melin opened #5035 "[FEATURE REQUEST] Support nessie"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-03-14 14:51] ngonik opened #5036 "[SUPPORT] AWS DMS and Deletes on S3 with Hudi"
**Describe the problem you faced**

I'm using AWS DMS to export CDC data from a Postgres DB to S3. For tables where I only do Inserts and Updates I don't have any issues, my problem happens when trying to delete rows. Checking my logs I see the problem arises because the precombine key is null on the data I have on S3. Checking the data I see the following:

![image](https://user-images.githubuser

[2022-03-14 17:30] rohit-m-99 opened #5037 "[SUPPORT] Deltastreamer continuous mode not working with high number of files in S3"
**Describe the problem you faced**

The deltastreamer fails to pick up any updates in the folder despite running in continuous mode when there are many new files. There is no jobs being run in the delta-streamer UI. This happens even when writing to a brand new table.

For example the checkpoint marks the last time at 1647048011000 or 3/11/2022, 5:20:11 PM. (see stack trace below). But the last mo

[2022-03-14 23:48] nsivabalan commented on #5037
Can you set source-limit to Long.maxValue (9223372036854775807) and see what happens.
Also, can you add "min-sync-interval-seconds" to something like 1 min. and let us know what do you see.

[2022-03-14 23:51] nsivabalan commented on #5036
can you add a transformer and de-dup on your end just for delete records. After de-duping, you can set the a dummy value for your preCombine field (anyways, it will be no-op) when hudi tries to de-dup.
Do these records have "_hoodie_is_deleted" field as true? and thats how you are issuing deletes to hudi is it ?

[2022-03-14 23:52] nsivabalan commented on #5035
CC @xushiyan

[2022-03-14 23:55] nsivabalan commented on #5021
Can you folks look into this : @umehrot2 @zhedoubushishi
would be good to add support if we don't have it already.

[2022-03-14 23:55] nsivabalan commented on #5016
@XuQianJin-Stars : can you respond here. guess we already added this support to latest master if I am not wrong.

[2022-03-14 23:56] nsivabalan commented on #4989
Let us know if you have any more questions/clarifications. closing the ticket for now.

[2022-03-14 23:56] #4989 closed

[2022-03-15 00:01] rohit-m-99 commented on #5037
Have also tried with the source limit set to the Long.maxValue. Can adjust the min-sync - oddly unable to reproduce the issue here. Now when I rerun the spark submit job everything seems to be fine. Will update this issue if it pops up again.

[2022-03-15 00:23] nsivabalan commented on #5000
this falls more into dynamic schemas. https://issues.apache.org/jira/browse/HUDI-2175
we don't have support for now.
@YannByron @XuQianJin-Stars : Is there a way we can achieve this via spark-sql dml.

[2022-03-15 00:23] nsivabalan commented on #5016
feel free to link the jira and close it out.

[2022-03-15 00:26] nsivabalan commented on #5037
hmmm. ;) do keep us posted then.

[2022-03-15 01:02] XuQianJin-Stars commented on #5016
hi @melin This is already supported in the master.

[2022-03-15 01:26] #5016 closed

[2022-03-15 01:40] XuQianJin-Stars commented on #5024
@melin @zhangyue19921010 I will use the call procedure command to obtain meta information through SparkSQL. If Directly abstract it into a table to query, and I will evaluate the change scope and workload.

[2022-03-15 01:46] XuQianJin-Stars commented on #4949
hi @melin Purge drop partition and table has been achieved.
[Purge drop partition for spark sql](https://issues.apache.org/jira/browse/HUDI-3099 )
[Fix Purge Drop MOR Table Cause error](https://issues.apache.org/jira/browse/HUDI-3108 )

[2022-03-15 05:12] nsivabalan commented on #5024
@XuQianJin-Stars : thanks. Please file a tracking jira and close this one out.

[2022-03-15 05:15] nsivabalan commented on #5020
General rule of thumb is that, one should estimate the max time for the longest running query and set the cleaner configs accordingly.
For instance, if tables gets a new commit every 5 mins and longest running query might take 30 mins to read the entire data.
One should set the cleaner commits to > (30 mins) i.e. 6 or more commits to retain.
may be adding some buffer, we can do 8. so, a file will

[2022-03-15 05:16] nsivabalan commented on #5020
Do you see any gaps in this.

[2022-03-15 05:16] MihawkZoro opened #5044 "[SUPPORT]flink hudi table unsupport complex data type"
**Environment Description**

* Hudi version :
0.10.0
* flink version :
1.13.5
* Hive version :
1.2.2
* Hadoop version :
2.7.3

**Describe the problem**
I create a table at flink sql-client，the DDL is
[code]
I can write some data to the table, but when I want to read  data from the table, there is a problem

![image](https://user-images.githubusercontent.com/32875366/158310730-b8c36b14-b019-4fd1-a2

[2022-03-15 05:20] nsivabalan commented on #4990
have filed a tracking [jira](https://issues.apache.org/jira/browse/HUDI-3631) for now. we don't have any at the moment. sorry.

[2022-03-15 05:21] #4990 closed

[2022-03-15 05:21] nsivabalan commented on #4979
@danny0405 : is there any follow up here. if not, feel free to close it out

[2022-03-15 05:34] nsivabalan commented on #4943
can we close this one out if issue is resolved.

[2022-03-15 05:37] codope commented on #5026
Will take a look and get back on this in a day.
@wangxianghu Is this with latest master after https://github.com/apache/hudi/commit/eee96e9af3990809df9cc2e7f874d875596d9df1 ?

[2022-03-15 05:38] nsivabalan commented on #4939
I have created a tracking [jira](https://issues.apache.org/jira/browse/HUDI-3632). dont' think its recommented to instantiate from outside. we will try to see if we can put in a fix to Deltastreamer. thanks!

[2022-03-15 05:38] #4939 closed

[2022-03-15 05:39] nsivabalan commented on #4931
@xiarixiaoyao : gentle ping.

[2022-03-15 05:40] nsivabalan commented on #4914
yes. you can.

[2022-03-15 05:44] nsivabalan commented on #4796
thanks! please reach us if you are looking for further assistance

[2022-03-15 05:44] #4796 closed

[2022-03-15 05:46] nsivabalan commented on #4816
@WilliamShine if your query answered. can we close the github issue if you are good. if not, can you follow up please.
thanks!

[2022-03-15 05:47] nsivabalan commented on #4839
Closing the github issue as the original question has been answered. Others: feel free to create new issue if you are looking for assistance.
thanks!

[2022-03-15 05:47] #4839 closed

[2022-03-15 05:48] nsivabalan commented on #4868
closing the issue as we have a tracking PR.
thanks!

[2022-03-15 05:48] #4868 closed

[2022-03-15 05:49] nsivabalan commented on #4882
Feel free to close out the github issue if your question has been answered. if not, do follow up w/ more questions/clarifications.
thanks!

[2022-03-15 05:53] nsivabalan commented on #4729
thanks! feel free to reach out if you need further assistance.

[2022-03-15 05:53] #4729 closed

[2022-03-15 05:54] nsivabalan commented on #4506
Closing this due to no activity. feel free to reach out if you are looking for further assistance!

[2022-03-15 05:54] #4506 closed

[2022-03-15 05:55] nsivabalan commented on #4456
thanks! closing this for now. please reach out if you are looking for any more assistance.

[2022-03-15 05:55] #4456 closed

[2022-03-15 05:56] nsivabalan commented on #3960
@danny0405 : is there any follow up required on this github issue. if not, can we close it out.

[2022-03-15 06:12] wangxianghu commented on #5026
yes, I tested it with the latest master

[2022-03-15 06:23] XuQianJin-Stars commented on #5024
https://issues.apache.org/jira/browse/HUDI-3511 This jira for call procedure command to obtain meta information through SparkSQL.

[2022-03-15 06:34] shursulei commented on #143
Hi,Please add me to slack group
Email:shursulei@163.com
Thanks!

[2022-03-15 10:15] codope commented on #5026
The reason we expect String values is because we need to store some of these props in HoodieTableConfig. The `store` method expects that props key as well as values are strings. Created https://issues.apache.org/jira/browse/HUDI-3633 to track the issue.

[2022-03-15 10:51] liujinhui1994 opened #5046 "[SUPPORT] Structured streaming MOR writes to hudi, the task will not be aborted after failure"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Tasks now don't fail due

[2022-03-15 10:51] liujinhui1994 commented on #5046
![image](https://user-images.githubusercontent.com/25769285/158362167-83ad877e-0ad9-4571-a98c-0aae632d89e9.png)

[2022-03-15 10:56] liujinhui1994 commented on #5046
![image](https://user-images.githubusercontent.com/25769285/158362952-a984414d-15bf-4607-ac42-b31504c44f79.png)

[2022-03-15 10:57] liujinhui1994 commented on #5046
dataFrame.writeStream().format("org.apache.hudi")
        .option("hoodie.datasource.write.recordkey.field", cfg.pk)
        .option("hoodie.datasource.write.partitionpath.field", DS_)
        .option("hoodie.parquet.small.file.limit", 128 * 1024 * 1024)
        .option("hoodie.datasource.hive_sync.partition_fields", DS_)
        .option("hoodie.deltastreamer.keygen.timebased.timestamp.type", "DAT

[2022-03-15 10:58] liujinhui1994 commented on #5046
![image](https://user-images.githubusercontent.com/25769285/158363317-6091f902-4eac-4839-b6fb-7b53c3433890.png)

[2022-03-15 12:24] liujinhui1994 commented on #5046
https://issues.apache.org/jira/browse/HUDI-3467   It seems to be similar to this problem, which is currently encountered in our production environment. Don't know if there is a quick way to bypass it

[2022-03-15 13:02] srinikandi opened #5047 "[SUPPORT] Small file creation while writing to a Hudi Table"
Hi
I have been using Apache Hudi Connector for Glue (hudi 0.90 version) and facing small file creation problem while inserting data into a hudi table. The input file is about 17 GB with 313 parquet part files. Each averaging around 70 mb. When I try to insert the data into Hudi table with overwrite option, this ends up creating some 7000 plus parquet part files, each with 6.5 MB. I did utilize the

[2022-03-15 14:04] xushiyan commented on #5035
@melin this was already filed. thanks.
https://issues.apache.org/jira/browse/HUDI-1455

[2022-03-15 14:13] xushiyan commented on #4992
@liuyaolin would you like to file a JIRA with more details of how this config work with Kerberos? including some context and example use case. It would be even better for you to take a stab at this and land this feature.

[2022-03-15 14:16] xushiyan commented on #5024
thanks!

[2022-03-15 14:16] #5024 closed

[2022-03-15 14:18] xushiyan commented on #5021
@umehrot2 @zhedoubushishi does EMR team have this on roadmap?

[2022-03-15 18:33] #5026 closed

[2022-03-15 21:46] TarunMootala commented on #4914
@[nsivabalan](https://github.com/nsivabalan)
Thanks for confirming.

[2022-03-16 00:35] #4914 closed

[2022-03-16 02:36] danny0405 commented on #5044
Component data type is supported in release 0.11.0, you can try the master code then.

[2022-03-16 02:36] #5044 closed

[2022-03-16 06:05] rohit-m-99 opened #5050 "[SUPPORT] Hudi clustering / deleting markers taking significant resources and time"
**Describe the problem you faced**

The deltastreamer requires significant amount of resources and is struggling to delete file markers during clustering. The image below shows the clustering taking over 3 hours to run. It also causes many pods to evict by requiring more than available storage.

<img width="1435" alt="image" src="https://user-images.githubusercontent.com/84733594/158526765-c5d31bd

[2022-03-16 09:14] stym06 commented on #4184
hey @danny0405 we are encountering this issue of 0-byte parquet files during presto read. probably this happened when the job was getting failed due to the OffsetOutofRangeException. PFA stacktrace

[code]

[2022-03-16 09:57] moritzmeister commented on #4939
Thanks for creating the ticket! I will keep an eye on it, maybe I find some time to tackle it myself and contribute back :)

[2022-03-16 13:49] worf0815 opened #5053 "[SUPPORT] Pyspark with Hudi is not able to access GlueCatalog on EMR"
**Describe the problem you faced**

Running pyspark on AWS EMR 6.5.0 Cluster with Hudi Enabled results in an exception when trying to access the glue catalog.

**To Reproduce**

Steps to reproduce the behavior:

1. Start pyspark shell `pyspark --conf "spark.serializer=org.apache.spark.serializer.KryoSerializer" --conf "spark.sql.hive.convertMetastoreParquet=false" --jars /usr/lib/hudi/hudi-spark-b

[2022-03-16 14:34] Rohit42 commented on #5050
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/8977448/158614276-b5037ed4-975b-4923-ace2-3c47610fa0d4.png">

[2022-03-16 15:28] worf0815 opened #5054 "[SUPPORT] Hudi Failing with out of memory issue on Glue with >300 Mio. Records"
**Describe the problem you faced**

We are trying to ingest and deduplicate via Hudi a table with a total record size of 25 billion where each record is about 3-4kb size (there are even larger tables in our portfolio with the largest ingesting 1 - 7 billion records daily with a total volume of 221 billion ).

Above table ran into memory issues with AWS Glue 3 and failed in the "countByKey - Buildi

[2022-03-16 16:34] srinikandi commented on #5047
After some research, I found that by setting the below parameter to a lower value than the default value of 1024, the small file problem during the first load is fixed to an extent. Is this the recommended practice or should the small file size and the max file size limit parameters work for the first time load as well.

"hoodie.copyonwrite.record.size.estimate": "100"

[2022-03-16 17:25] matthiasdg commented on #3868
@nsivabalan @codope finally had the time to have a look.
I have the same problem in the spark-shell with both gist examples. We don't have a Hive server, only a metastore, so I used
[code]
(port forwarded our metastore running on k8s, used an azure path to write to).

I don't get any errors upon writing/syncing regardless the partition extractor.
(For the slash encoded day partition, I still had t

[2022-03-16 18:48] yihua commented on #4230
@BenjMaq with` spark-submit` you can pass in hudi conf with `--hoodie-conf hoodie.datasource.write.recordkey.field=ID`.  That should also work with `spark-sql`.  Could you give it a try?

[2022-03-16 22:09] yihua commented on #3626
@xiaozhch5 FYI, 5004 is ready for review for HBase upgrade to 2.4.9 in Hudi.

[2022-03-17 00:50] tjtoll commented on #5047
I am experiencing the same exact problem. I tried the below settings and they increased the file sizes to a more appropriate size, but the insert is taking 10x longer. Also interested in some guidance on this issue.

'hoodie.copyonwrite.insert.auto.split': 'false',
'hoodie.copyonwrite.insert.split.size': 100000000,