[2022-10-30 05:22] #6128 closed

[2022-10-30 05:33] xushiyan commented on #5931
Thanks for confirming!

[2022-10-30 05:33] #5931 closed

[2022-10-30 06:03] melin opened #7089 "[SUPPORT]Support Aggregate Model"
apache doris supports data aggregation. Can hudi implement this feature?
https://doris.apache.org/docs/data-table/data-model/

[2022-10-30 06:21] #7089 closed

[2022-10-30 09:39] xushiyan commented on #4713
`maxOffsetsPerTrigger` is a good suggestion by @Gatsby-Lee

will close this due to long inactivity

[2022-10-30 09:39] #4713 closed

[2022-10-30 09:52] xushiyan commented on #6411
closing due to inactivity

[2022-10-30 09:52] #6411 closed

[2022-10-30 10:42] xushiyan commented on #5054
This is a memory tuning issue with Glue ETL spark job, which is a managed service from AWS. The spark job configs are internally managed by the service, which is opaque to users. The best approach is to open AWS support case. [The connector](https://aws.amazon.com/marketplace/pp/prodview-6rofemcq6erku) is recently upgraded to 0.10.1; may also worth a try.

[2022-10-30 10:42] #5054 closed

[2022-10-30 10:51] xushiyan commented on #6469
close due to inactivity

[2022-10-30 10:51] #6469 closed

[2022-10-30 10:59] xushiyan commented on #6551
The existing design is all meant for interacting with tables. To handle interactions at database level, you could come up with some model say HoodieJavaWriteClientPool. But this is a broader design problem, which is more suitable to be raised in dev email discussion. Feel free to start a `[DISCUSS] ` email thread with dev@hudi.apache.org

[2022-10-30 10:59] #6551 closed

[2022-10-30 11:02] xushiyan commented on #6137
This is tracked as a blocker ticket. so will close this and follow up in JIRA

[2022-10-30 11:02] #6137 closed

[2022-10-30 11:17] xushiyan commented on #6178
So knowing that you have >10k columns and seeing that error of `Caused by: java.lang.StackOverflowError`, we can see it's due to parsing the schema for the sql analysis is making too many recursive calls. You can try increasing jvm's stack size. This is not related to hudi-specific logic so will close this for now. cc @danny0405 @yuzhaojing

[2022-10-30 11:17] #6178 closed

[2022-10-30 11:32] xushiyan commented on #6209
Thanks @xiarixiaoyao for showing the right configs and the example. will close this now.

[2022-10-30 11:32] #6209 closed

[2022-10-30 11:48] xushiyan commented on #6259
this is correct. If there is a need for a full-fledged data quality tool, feel free to raise an RFC discussion on the dev email list. Closing this as the write-audit-publish pattern can be fulfilled with the existing precommit validator feature.

[2022-10-30 11:48] #6259 closed

[2022-10-30 11:54] xushiyan commented on #6297
Thanks @danny0405 for the suggestion. @fujianhua168 have you tried the suggestion? will close this in a week time if no further update here.

[2022-10-30 14:00] xushiyan commented on #6143
closed as discussed offline, this issue is not re-occurring now.

[2022-10-30 14:28] xushiyan commented on #6389
@shubham-bungee sure happy to help!

[2022-10-30 14:28] #6389 closed

[2022-10-30 14:32] xushiyan commented on #6397
as @Zouxxyy shared, the spark sql DAG is available for hudi jobs to help analyze performance. will close this as it's been clarified.

[2022-10-30 14:32] #6397 closed

[2022-10-30 14:39] xushiyan commented on #6400
@KnightChess thanks for filing the ticket. a good improvement for sql. will close this and track the implementation work from jira.

[2022-10-30 14:39] #6400 closed

[2022-10-30 14:41] xushiyan commented on #5942
@nsivabalan could you share the latest update on the discussion please?

[2022-10-30 15:29] xushiyan commented on #5593
this is an known limitation and it's tracked in https://issues.apache.org/jira/browse/HUDI-2762

[2022-10-30 15:29] #5593 closed

[2022-10-30 15:33] xushiyan commented on #5547
@danny0405 seem like some workarounds are available. we would need to decide a proper fix. any suggestion here?

[2022-10-30 16:11] xushiyan commented on #5980
@bkosuru would you mind re-do the benchmark using 0.12.1 ? would like to verify if perf gaps are resolved.

[2022-10-30 16:34] xushiyan commented on #6001
@JoshuaZhuCN let me clarify: when it comes to delete the whole table, we support 3 syntaxes

- TRUNCATE TABLE: delete all records via file system; table retained in metastore
- DROP TABLE: delete no record; table removed from metastore
- DROP TABLE PURGE: delete all records via file system; table removed from metastore

So in your case where you expect data deleted from the storage, you should use

[2022-10-30 16:34] #6001 closed

[2022-10-30 16:46] xushiyan commented on #6038
Thanks for the support @fengjian428 !
@tommss do you need further assistance? we may close this in a week time due to inactivity

[2022-10-30 16:49] xushiyan commented on #6048
@noahtaite assume things are going well with 0.11 on EMR, good to close this?

[2022-10-30 16:59] xushiyan commented on #6089
@yihua have you made the patch already? let's link the JIRA or PR here.

@jiangbiao910 would you mind sharing some reproducible steps please? would like to look deeper and verify if it's bug

[2022-10-30 17:02] xushiyan commented on #6102
@Aload as 0.12.1 was out, have you given it a try? would like to know how it goes

[2022-10-30 17:04] xushiyan commented on #6104
0.12.1 was out and 0.12.x is meant to be a stable version

[2022-10-30 17:04] #6104 closed

[2022-10-30 17:08] xushiyan commented on #6107
analysis and suggestions were provided above. closing due to inactivity

[2022-10-30 17:08] #6107 closed

[2022-10-30 17:44] xushiyan commented on #5683
is this in step 5?

@MikeTipico not sure what "After this batch" meant: did you skip the batch or just proceed ingesting newer data and ignore the exception? would like to have reproducible steps (hudi / spark versions, old/new schemas, configs & snippet of the structured streaming job)

[2022-10-30 17:46] xushiyan commented on #5685
@MikeTipico looks like similar scenario to this one https://github.com/apache/hudi/issues/5683#issuecomment-1296312285

as mentioned there, would need more info to help diagnosis

[2022-10-30 17:56] xushiyan commented on #5693
@dongkelun would you be able to help with this? seems like hive sync config for database was not passed to sql properly.

[2022-10-30 18:05] xushiyan commented on #5767
@codope can you share what was the workaround here? Looks like some discussion happened offline, could you keep this ticket up to date please? cc @yihua

[2022-10-30 18:09] xushiyan commented on #5735
close due to inactivity

[2022-10-30 18:09] #5735 closed

[2022-10-30 18:14] xushiyan commented on #5163
Solution was provided. closing this now.

[2022-10-30 18:14] #5163 closed

[2022-10-30 18:18] xushiyan commented on #5724
@nsivabalan @yuzhaojing for this one we should try to reproduce the setup with the latest master version. if meta sync works properly, then we can close this

[2022-10-30 18:24] xushiyan commented on #5717
@nsivabalan let's try to reproduce before closing. If latest master works, then we can close.

[2022-10-30 18:37] xushiyan commented on #5857
Spark and flink writers diverge when writing to MOR: spark writes updates to log files and inserts (new records) to base files directly, while flink writes all updates and inserts to log files. So in your pipeline setup, it is possible for flink writer writes all new data in logs and before compaction kicks in, spark writes some overlapping data in base files.

[2022-10-30 18:41] xushiyan commented on #5916
@amit-ranjan-de Hudi version : 0.5.0-incubating is pretty ancient. Do you want to give 0.12.1 a try and see if problem resolves?

[2022-10-30 18:47] xushiyan commented on #5938
@nsivabalan has clarified for the original question. closing this due to inactivity.

[2022-10-30 18:47] #5938 closed

[2022-10-31 05:58] dongkelun commented on #5693
ok

[2022-10-31 06:12] xushiyan commented on #6389
Some previous efforts on this feature; still WIP

https://github.com/apache/hudi/pull/2519

[2022-10-31 06:54] ROOBALJINDAL commented on #7064
Can you please check? @pratyakshsharma

[2022-10-31 06:54] KnightChess commented on #7057
sorry, I give the wrong analyze log, there has three scenes will cause this error. the first log which I analyze can not found, set replace file to result. I will update if I found it.
I give some other scenes log.

[2022-10-31 06:55] KnightChess commented on #7057
`error in runTableServicesInline`
[code]

[2022-10-31 06:58] KnightChess commented on #7057
`when init table`
org.apache.hudi.exception.HoodieException: Error getting all file groups in pending clustering
	at org.apache.hudi.common.util.ClusteringUtils.getAllFileGroupsInPendingClusteringPlans(ClusteringUtils.java:135)
	at org.apache.hudi.common.table.view.AbstractTableFileSystemView.init(AbstractTableFileSystemView.java:113)
	at org.apache.hudi.common.table.view.HoodieTableFileSystemView

[2022-10-31 07:00] KnightChess commented on #7057
mark: update error Stack in issue desc

[2022-10-31 08:38] yyh2954360585 commented on #6321
I have also encountered this problem.

[2022-10-31 09:10] yuzhaojing commented on #6984
Flink metrics integration makes a lot of sense to observe performance, I mentioned related PR last year but the time is not ripe. Let's refine it in 0.13.0!

[2022-10-31 09:13] xushiyan commented on #6984
sounds good @yuzhaojing , would you please help consolidate info (e.g. PRs, JIRAs, raw ideas) into an Epic so we can plan out work ? :)

[2022-10-31 09:17] #6937 closed

[2022-10-31 09:20] yuzhaojing commented on #6984
Sure.

[2022-10-31 09:59] albericgenius opened #7095 "[SUPPORT] When Trino read the MOR table, even we use OverwriteWithLatestAvroPayload, hudi still set CustomPayload to true"
**Describe the problem you faced**

When Trino read the MOR table, even we use OverwriteWithLatestAvroPayload, hudi still set CustomPayload to true.

So for MOR table, have not use the projection schema to read.

**To Reproduce**

Steps to reproduce the behavior:

1. Trino query data from MOR table
2. Set the playload to OverwriteWithLatestAvroPayload
3. the usesCustomPayload is still true

**Expe

[2022-10-31 13:23] dongkelun commented on #5693
@sunke38 @xushiyan When creating a table with spark sql, if hive is enabled, a table will be created in the corresponding hive database. The default value is default. You can use spark sql ("use databaseName") to change the current database. If the table name has a database name, the database name in the table name will prevail.
The database name configured through `hoodie.datasource.hive_sync.dat

[2022-10-31 15:15] bkosuru commented on #5980
This will take me a while to setup and test. I will do it when time permits. Thanks!

[2022-10-31 15:17] danielfordfc commented on #7049
Thank you very much! I'll give this a go and report back 🖖 .

For what its worth, we solved our further use case that I mention in this ticket without using the SQL transform, so this is no longer urgent for us

[2022-10-31 16:11] yabha-isomap opened #7100 "[SUPPORT] Custom HoodieRecordPayload for use in flink sql"
1. I am trying to use Apache Hudi with Flink sql by following [Hudi's flink guide](https://hudi.apache.org/docs/flink-quick-start-guide)
2. The basics are working, but now I need to provide custom implementation of HoodieRecordPayload as suggested on [this FAQ](https://hudi.apache.org/docs/faq#can-i-implement-my-own-logic-for-how-input-records-are-merged-with-record-on-storage).
3. But when I am p

[2022-11-01 04:21] CrazyBeeline opened #7102 "[SUPPORT] FileNotFoundException when read from mor table"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-11-01 07:17] xicm commented on #7015
could you check the log of dataNode?

[2022-11-01 07:20] #7095 closed

[2022-11-01 08:30] complone commented on #7100
Hello, for the configuration items you use hoodie.compaction.payload.class only map related configuration items to spark configuration in class HoodieWriterUtils.

If you expect to use payloadClass, I think you should use write.payload.class, whose configuration items are defined in StreamerUtil#getPayloadConfig

![image](https://user-images.githubusercontent.com/20021404/199191180-df27a9de-6ef3-4

[2022-11-01 08:30] complone commented on #7100
At the same time I found that there is duplicate code here, I will open a PR to deal with it

[2022-11-01 09:08] complone commented on #7100
Maybe you should use ```payload.class```?

![image](https://user-images.githubusercontent.com/20021404/199199474-cd463deb-f215-463f-aba8-49bd431a777d.png)

[2022-11-01 09:15] complone commented on #6984
Sounds interesting, I would like to participate in the related construction

[2022-11-01 10:28] jdiebold commented on #5717
@nsivabalan sorry for the late reply!
I created the table with price as Option[Int] type, so the resulting table should have the column as nullable.
For now, we are not pursuing Hudi anymore, so i haven't spent more time in resolving the issue.

[2022-11-01 10:50] TengHuo opened #7106 "[PROPOSE] Add column prune support for other payload class"
I didn't find propose template, so just raised a ISSUE here. I can raise an RFC PR if needed, will raise a PR for code review later.

## Background

In `HoodieMergeOnReadRDD`, Alexey added column prune support in PR https://github.com/apache/hudi/pull/4888, which is nice, it can speed up MOR _rt table query significantly.

However, this performance improvement is limited by a `whitelistedPayloadCl

[2022-11-01 12:00] wwli05 commented on #5867
this issue seems not resolved in below case:
1. job manager is reboot
2. all task managers register again
3. say task manager1  will be assigned different file group id compact task, which maybe distribute to task manager2 before task manager re-register

i noticed that, when task manager re-registered, the compact task will continue to run which start before this re-register

[2022-11-01 12:01] wwli05 commented on #5867
@nsivabalan @danny0405 could you looked at this?

[2022-11-01 13:16] yabha-isomap commented on #7100
Thanks @complone . Tried with that also, but no luck.

[code]

Let me try looking into the code of FlinkOptions.java

[2022-11-01 15:09] nsivabalan commented on #4891
recently we landed a fix, where in if row writer is enabled, clustering will leverage row writer which is expected to have better performance when compared to write client based one. may be you can give that a try.

`hoodie.datasource.write.row.writer.enable=true.`

[2022-11-01 20:00] HEPBO3AH commented on #7062
Hi @xushiyan , thank you for picking this up. Have you had any luck so far?

[2022-11-01 22:03] yihua commented on #6137
Here is one fix that is in progress, by optionally falling back to using Spark's data source with`HoodieROTablePathFilter` (how data source read is implemented pre-0.9.0 release) instead of `HoodieFileIndex`, so queries on Hudi tables can work in Databricks runtime.

[2022-11-02 02:55] xicm commented on #7058
I have encountered similar error logs when I query hive, you can set ```hoodie.datasource.write.drop.partition.columns=true```, and try again.

[2022-11-02 04:47] nsivabalan commented on #7081
@mandnhdaiyudfaio : gentle ping. let us know after you give it a try w/ the lock provider config.

[2022-11-02 04:49] nsivabalan commented on #7100
@yuzhaojing : can you assist here please.

[2022-11-02 04:51] nsivabalan commented on #7102
may I know, is the write failing or read from MOR table is failing?
bcoz, on the read side, by default metadata table is disable unless you explicitly enable it. Was just curious.

[2022-11-02 04:53] nsivabalan commented on #7102
Just a note on using FileSystemBasedLockProvider. Its not recommended to be used in production. for local testing, may be you can use it. but for production, would recommend production grade lock providers like zookeeper based one or hms based or dynamo db based one.

[2022-11-02 05:45] CrazyBeeline commented on #7102
@nsivabalan
 I disable metadata  table  and unset hoodie.write.concurrency.mode now ！
but why  error find  when spark-shell read hive table which is synced by hudi

spark.sql("select count(1) from ods_test_aa_rt").show
spark.sql("select count(1) from ods_test_aa_rt").show
spark.sql("select count(1) from ods_test_aa_rt").show
spark.sql("select count(1) from ods_test_aa_rt").show
.....
....

hive> s

[2022-11-02 07:10] chinaboyll opened #7115 "[SUPPORT]flink insert hudi cow table ,but hive query is null。"
Steps to reproduce the behavior:

1. create flinksql table hudi_cow ,sync.mode is hms
2. insert into flinktable hudi_cow.
3. query hive table hudi_cow.  The result is null

**Environment Description**

* Hudi version : 0.12.1

* Flink version : 1.14.1

* Hive version : 2.1.1

* Hadoop version : 3.0.0

* Storage (HDFS/S3/GCS..) :

* Running on Docker? (yes/no) : no

[2022-11-02 07:15] nsivabalan commented on #5717
@jdiebold : hmm, gotcha, sorry we couldn't help yo much. if you can help us understand on what grounds hudi lost to something else, would help us make hudi better for others.

[2022-11-02 07:15] #5717 closed

[2022-11-02 07:19] nsivabalan commented on #5541
Hey looks like we got the perf fix in https://github.com/apache/hudi/pull/5187
Can you try it out w/ 0.11.1 or above and let us know if you are still seeing the issue.
Closing the github issue for now. but feel free to reopen if you are still facing issues.
would be glad to assist.

[2022-11-02 07:19] #5541 closed

[2022-11-02 07:20] nsivabalan commented on #5426
@kazdy : is this consistently reproducible? is this a case only w/ cloud watch metrics or even w/ other metrics reporter as well ?

[2022-11-02 07:22] nsivabalan commented on #5422
@SabyasachiDasTR : are you still looking for any assistnace from us. or if you got it resolved w/ AWS, feel free to close the issue.

[2022-11-02 07:26] nsivabalan commented on #5083
@codope : looks like you reproduced https://issues.apache.org/jira/browse/HUDI-3391 and able to put in a fix. do you have reproducible script? we wanna reproduce this OP's issue, i.e. clustering.

[2022-11-02 07:28] nsivabalan commented on #6015
@rohit-m-99 : is this still an issue or can we close it out?

[2022-11-02 07:36] nsivabalan commented on #6305
Since we got the patch landed, going ahead and closing the issue out.
feel free to open new issue if you need further assistance.

[2022-11-02 07:36] #6305 closed

[2022-11-02 07:37] nsivabalan commented on #5724
this was reported on May 31st and we haven't heard back from the author.
thought we had some policy around closing tickets due to in activity. Do you want us to reproduce? @xushiyan

[2022-11-02 07:42] nsivabalan commented on #3324
@conanxjp : I see you have asked about concurrent writers. we do have multi writer support from 0.11 that you can give it a try. https://hudi.apache.org/docs/concurrency_control
feel free to close out the issue if you got the issue resolved.

[2022-11-02 07:43] wwli05 opened #7116 "[SUPPORT]The file being written is in an invalid state. Probably caused by an error thrown previously. Current state: COLUMN"
**Describe the problem you faced**

we are using flink compaction async.
sometimes, the same file group compact task will be distributed to different task manager even though the compaction plan distribute the compact task using keyby filegroupid(hudi-4397),

this will lead to the exception:
The file being written is in an invalid state. Probably caused by an error thrown previously. Current state

[2022-11-02 07:46] nsivabalan commented on #3975
hey @dmenin : do you think bucket index would solve your use-case?
Recently we also landed consistent hash index where you can scale your bucket size dynamically as well.

[2022-11-02 10:10] jdiebold commented on #5717
@nsivabalan it didn't lose, we just ended the experiment for now and staying with plain parquet for the time being. it's not off the list of technologies, though.
Thanks for your help!

[2022-11-02 11:05] parisni opened #7117 "[SUPPORT] parquet bloom filters not supported by hudi"
hudi 0.12.1
spark 3.2.1

hudi has its own bloom implementation used mainly for fast lookup on the hudi key. Up to 0.11 hudi allow to store them in the metadata table, and also add bloom on several columns. So far those bloom are not use at read time.

Spark leverage parquet bloom filters at write time. They are then used at read time to skip files. Those bloom can improve queries a lot. But so far

[2022-11-02 12:12] codope commented on #5083
It may or may not be related to HUDI-3391. I don't have the script handy, but I had made only minor tweaks to your gist.
Anyway, I think this issue is due to https://issues.apache.org/jira/browse/PARQUET-1441 and the diagnosis by @boneanxs seems correct. To confirm, we can look at the schema.

[2022-11-02 12:55] boneanxs commented on #5083
Here is the schema, and it's quite large:

[code]

For clustering, now we can enable `hoodie.datasource.write.row.writer.enable=true` to avoid this issue.

[2022-11-02 16:28] rohit-m-99 commented on #6015
Since we've swtiched to BULK_INSERT / INSERT haven't seen this operation, can close the support ticket.

[2022-11-02 16:28] #6015 closed

[2022-11-02 19:53] mahi4uin opened #7122 "[SUPPORT] Archiving the commits failing for Hudi job"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Hi Team, We have data

[2022-11-03 02:02] nsivabalan commented on #6965
@eric9204 : the ask is, can you give us a reproducible script. something like our quick start https://hudi.apache.org/docs/quick-start-guide but w/ sample data which can help us reproduce the same issue you are facing. looks like @xiarixiaoyao could not root cause the issue from the info provided.

[2022-11-03 02:05] nsivabalan commented on #6966
@eric9204 : may I know if we can work w/ hoodie.datasource.write.drop.partition.columns=false only for your use-case. Or do you really looking to drop the partition columns. As called out earlier, we had some issues around dropping partition columns. we might need to spend time taking a detailed look at all flows and fix them.

[2022-11-03 02:06] nsivabalan commented on #6966
if I am not wrong, you claim that you are not facing any issues if you set hoodie.datasource.write.drop.partition.columns= false right. so the issue is only when we set hoodie.datasource.write.drop.partition.columns=true?

[2022-11-03 02:06] nsivabalan commented on #6966
if yes, I can file a jira and take a stab at triaging it based on priorities. let us know.

[2022-11-03 02:11] nsivabalan commented on #4873
@CodeCooker17 : can we have any updates on this regard. if you are still facing issues, let us know. we can take another look in detailed.

[2022-11-03 02:14] wwli05 commented on #4618
@nsivabalan @xiarixiaoyao @ChangbingChen , is there jira issue mapping to this ?

[2022-11-03 02:14] nsivabalan commented on #4873
btw, not sure if I have called this out before. I see you are partitioning by hour. this would result in very high cardinality wrt num of partitions > 25k for few years of data. Generally its advisable to keep the total number of partitions 10k or less. If not, we have to spend lot of time doing the perf tuning. Alternatively you can employ clustering to cluster your data based on hour and reap th

[2022-11-03 02:15] nsivabalan commented on #4873
Another alternative to consider is. we added bucket index and consistent bucket index was landed in master recently. So, thats another option to give it a try since there is no index lookup overhead.

[2022-11-03 02:16] nsivabalan commented on #6304
@brskiran1 @SubashRanganathan : can you folks respond us w/ more info and logs please.

[2022-11-03 02:20] eric9204 commented on #6966
@nsivabalan Yes, you are right. There aren't any issues when I set `hoodie.datasource.write.drop.partition.columns= false`.
This issue occurs when I set `hoodie.datasource.write.drop.partition.columns= true`.

[2022-11-03 02:32] eric9204 commented on #6966
if set `hoodie.datasource.write.drop.partition.columns= true` and sync meta to hive,data can be query by hive. otherwise,issue #6965 will occur.
So we need to fix this issue.

[2022-11-03 02:38] xiarixiaoyao commented on #7106
i think, we also need support this feature in hive side,  since presto/hive share the same read logical for mor table.

[2022-11-03 02:49] ghost opened #7125 "[SUPPORT] Metadata Column Stats Index failing with Merge on Read table."
**Describe the problem you faced**

We currently have a spark streaming job that writes data from a Kafka topic to a Hudi MOR table. We want to enable column stats indexing to leverage data skipping while reading from this table.

To do this we basically set the ```hoodie.metadata.index.column.stats.enable = true```. When we enable this change we are seeing some issue with the Hudi cleaner. We are

[2022-11-03 02:49] xiarixiaoyao commented on #4618
@wwli05
Do you still have this problem for hudi version > 0.11？
If yes, please raise a jira for this problem

[2022-11-03 02:51] shubhambg95 commented on #7125
Attaching the table and metadata table timeline here
[metadata_timeline.txt](https://github.com/apache/hudi/files/9925366/metadata_timeline.txt)
[hoodie_timeline.txt](https://github.com/apache/hudi/files/9925367/hoodie_timeline.txt)

[2022-11-03 03:03] nsivabalan commented on #5724
@yuzhaojing : can you try hive sync w/ flink w/ latest master and close out the issue if things are good.

[2022-11-03 03:36] nsivabalan commented on #5582
since the fix is landed, closing out the gitb issue issue. feel free to raise a new issue if you are looking for further assistance.

[2022-11-03 03:36] #5582 closed

[2022-11-03 03:37] nsivabalan commented on #5540
@nleena123 : gentle ping.

[2022-11-03 03:40] nsivabalan commented on #6925
@gtwuser : any updates please.

[2022-11-03 03:41] nsivabalan commented on #6511
feel free to raise a new issue if you are looking for more assistance. thanks!

[2022-11-03 03:41] #6511 closed

[2022-11-03 03:41] #6441 closed

[2022-11-03 03:43] nsivabalan commented on #5189
I could able to reproduce this. will try to put in a fix by this weekend.

[2022-11-03 03:57] TengHuo commented on #7106
@xiarixiaoyao
Right, we are doing dev in the package `org.apache.hudi.hadoop.realtime` of the module `hudi-hadoop-mr`. It should work in Hive.

[2022-11-03 06:12] melin opened #7126 "[SUPPORT]Flink 1.16"
Use the Flink 1.16 SQL getway feature and expect to support Flink 1.16

@danny0405

[2022-11-03 07:22] wwli05 commented on #4618
@xiarixiaoyao i raised one issue: https://issues.apache.org/jira/browse/HUDI-5155

[2022-11-03 08:02] eric9204 commented on #6965
@nsivabalan @xiarixiaoyao I have tested it, and this case can reproduce the same issue. Hope this can help you.

[code]

[2022-11-03 12:55] lewyh opened #7130 "[SUPPORT] `HoodieMetadataException` started occurring when writing to COW table"
**Describe the problem you faced**

When trying to write to existing COW table, PySpark application crashes with `org.apache.hudi.exception.HoodieMetadataException: Failed to retrieve files in partition s3://<REDACTED_S3_LOCATION>/2022-11-03 from metadata` error.

Error started occurring after many successful writes to the table.

(`<S3_LOCATION>` contains expected bucket/prefix in the actual outp

[2022-11-03 15:08] hangc0276 commented on #6767
I also meet the issue.

[2022-11-03 21:25] nsivabalan commented on #7130
its S3 connection timeouts
[code]

Can you try bumping
[code]

[2022-11-03 21:49] parisni commented on #6787
@Zouxxyy
you can turn the option at read time. `.option("hoodie.metadata.enable","true")` to leverage the MDT at read time.

@idrismike

hudi 0.11 and above won't use the hive metastore to get the partition. Even when you think you read from metastore, it fall back reading hudi by path. Then if you don't have a metadata table enabled, it get's the partition from scanning the whole table on filesys

[2022-11-03 22:02] nsivabalan commented on #5189
https://issues.apache.org/jira/browse/HUDI-5157

[2022-11-03 22:02] #5189 closed

[2022-11-03 22:05] nsivabalan commented on #5189
https://github.com/apache/hudi/pull/7132

[2022-11-03 22:19] lewyh commented on #7130
Thanks for the quick response. I've tried setting the following when intializing the spark session:
[code]

however I see the same behaviour. When the write is initiated, the spark error logs show:

- Creating View Manager with storage type :REMOTE_FIRST
- Hangs for roughly 3 minutes before returning a 500 Server error after sending a request using `RemoteHoodieTableFileSystemView.java:executeRequ

[2022-11-03 22:20] nsivabalan commented on #7064
I don't see any issue just from gleaning the code.
Can you post us the info logs you see in both cases for below statement. I am expecting its same for both(schema from file based schema provider and from schema registry).

[code]

if we can confirm that, we can dig deeper.

[2022-11-03 22:31] nsivabalan commented on #7122
Looks like this is a older version of hudi. with 0.12.0, I am not seeing the class named HoodieTimelineArchiveLog.
Or are you using an internal hudi version that you maintain internally in your company?
If not, can you point me which exact hudi version in OSS are you using.
we can investigate further

[2022-11-03 22:32] nsivabalan commented on #7116
@yuzhaojing @danny0405 : Can you folks follow up when you get a chance.

[2022-11-03 22:34] nsivabalan commented on #7106
this sounds interesting. We have RFC-46 nearing landing. So, might have to replay this on top of RFC-46.
But can you start a dev email thread. and we can go from there.
Def we should try to leverage column pruning for any payload applicable.

[2022-11-03 22:34] #7106 closed

[2022-11-03 23:18] lewyh commented on #7130
It seems that setting the config value `.set("spark.hadoop.fs.s3.maxConnections", "1000")` fixes the problem. There is no longer any server 500 error, or timeout waiting for connection pool:

[code]

The writing then proceeds quickly (no hanging for several minutes).

What situation is likely to require the use of more S3 connections? Is it when the data in the Hudi table reached a certain volume,

[2022-11-03 23:56] nsivabalan commented on #7102
guess there is some mis-understanding.
as of now, you ran into issues while writing to hudi table by enabling metadata table. still on the read path (hive), your read should succeed (unless you explicitly enable metadata table). So, my hunch is that, metadata table went out of sync w/ data table and hence your writes were failing.

[2022-11-03 23:57] nsivabalan commented on #7102
Do you still have the ".hoodie" w/ your old state when you ran into the exception. We can inspect the timeline (".hoodie") to see what was the issue. if not, we can't do much now.

[2022-11-04 00:04] nsivabalan commented on #7062
hey @HEPBO3AH : do you mean to say that, even after our fix https://github.com/apache/hudi/pull/6864, your avg record size estimate is wrong in some cases. And as a result your are running into OOM issue.

Can you furnish these details.
- whats the actual avg record size.
- whats parquet max file size =(250Mb?)
- How many records are packed into this file?
- whats the record size that hudi infers

[2022-11-04 00:05] nsivabalan commented on #7062
also, I don't get this statement of yours "We noticed that the class HoodieMergeHandle is not being used due to PARQUET_SMALL_FILE_LIMIT = 0 and the job passes successfully.". can you help clarify? whats the write operation you are using.

[2022-11-04 00:05] nsivabalan commented on #7060
@navbalaraman : gentle ping.

[2022-11-04 00:08] nsivabalan commented on #7106
https://issues.apache.org/jira/browse/HUDI-5158

[2022-11-04 02:13] nsivabalan commented on #7049
thanks.

[2022-11-04 02:13] #7049 closed

[2022-11-04 02:14] nsivabalan commented on #6038
feel free to raise a new issue if you are looking for further enhancement.

[2022-11-04 02:14] #6038 closed

[2022-11-04 02:15] nsivabalan commented on #6048
@noahtaite : going ahead and closing this one for now. Feel free to raise a new issue if you are looking for further assistance.

[2022-11-04 02:15] #6048 closed

[2022-11-04 02:16] nsivabalan commented on #6052
@shqiprimbkodelabs @danny0405 : are we good to close this one or is there anything pending still ?

[2022-11-04 02:18] nsivabalan commented on #5952
Since we have a patch addressing the proposed fix, closing out the issue. Feel free to reach out to us if you need any further assistance.

[2022-11-04 02:18] #5952 closed

[2022-11-04 02:19] nsivabalan commented on #5979
@yuzhaojing @danny0405 : can we follow up on this issue. W/ latest CDC support, would the issue reported in this ticket will be solved?

[2022-11-04 02:21] nsivabalan commented on #5984
@rubenssoto : hey hi. unless we get more info to reproduce, gonna be tough for us to make further investigation buddy. closing it due to no activity.
OOM w/ global sort partitioner is a known limitation. Recommendation is to go w/ NONE sort mode of partitioner sort.
thanks.

[2022-11-04 02:21] #5984 closed

[2022-11-04 02:27] nsivabalan commented on #6014
@veenaypatil : I see you are using non partitioned key gen. So, index look up is going to relative to the number of file groups you have in total. do you know whats total file groups you have. can you enable clustering to batch smaller file groups into larger ones.

[2022-11-04 02:28] nsivabalan commented on #6019
@yuzhaojing : can we follow up here please. If its already fixed in already released version of hudi, can we close it out.

[2022-11-04 02:35] nsivabalan commented on #6055
hey @rishabhbandi @hassan-ammar : were you folks able to resolve the issue. Did any fix go into hudi on this regard.
can you guys help me understand is the issue still persists.

[2022-11-04 02:38] nsivabalan commented on #5826
@minihippo : can we close if you can confirm that this is not an issue.

[2022-11-04 02:39] nsivabalan commented on #5777
@jiangjiguang : oops. sorry.
@jjtjiang : can you respond when you can to my above comments.

[2022-11-04 02:42] nsivabalan commented on #5673
@sunke38 : did you get a chance to give it a try. are we good to close it out. or is there anything you need more assistance.

[2022-11-04 02:43] nsivabalan commented on #5539
@nleena123 : would you mind closing the issue if are not looking for any further assistance.

[2022-11-04 02:43] nsivabalan commented on #5537
@melin : gentle ping.

[2022-11-04 02:45] nsivabalan commented on #5537
@YannByron : looks like the author has given some hacky solution. Is there any enhancement we can add to hudi based on that.

[2022-11-04 02:46] nsivabalan commented on #5519
@xiarixiaoyao : can we follow up on this. did we get to reproduce and make any fix on this regard?
@Zhangshunyu : if you don't use bulk_insert row writer path, are things ok ?

[2022-11-04 02:47] nsivabalan commented on #5514
closing this since we already landed the fix. Feel free to open a new issue if you are looking for further assistance.

[2022-11-04 02:47] #5514 closed

[2022-11-04 02:47] nsivabalan commented on #5492
@ashah-lightbox : gentle ping. any updates please. if you got the issue resolved, can we close it out.

[2022-11-04 02:49] nsivabalan commented on #5482
gist seems like s3 connection timeouts from connection pool.
can you try bumping the connections.
[code]

[2022-11-04 02:49] nsivabalan commented on #5482
if you are having other problems, can you help clarify.

[2022-11-04 02:50] nsivabalan commented on #5481
@MikeBuh : did you get a chance to try out the suggestions from Ethan above. let us know of any updates you have. would love to learn how the tuning went.

[2022-11-04 03:05] nsivabalan commented on #5372
hey @meitianjinbu : are we still looking for any assistance on this regard.
btw, we added an FAQ on hbase conflicting w/ metadata table https://hudi.apache.org/docs/faq#how-can-i-resolve-the-runtimeexception-saying-hbase-defaultxml-file-seems-to-be-for-an-older-version-of-hbase
let us know if the FAQ helps you.

feel free to close the issue if you get it resolved.

[2022-11-04 03:07] china-shang opened #7133 "lazyReading affect"
Why does lazyReading need to be turned on? It looks like he needs to seek back and forth. And need to keep the file open all the time,If you don't turn it on, you can always read forward? Is it to save memory?
<img width="753" alt="截屏2022-11-04 11 03 31" src="https://user-images.githubusercontent.com/17249688/199876114-1a24fb2f-547d-49b7-af84-94a1befb92df.png">

[2022-11-04 03:09] nsivabalan commented on #5351
@p-powell : for immutable use-cases, we recommend setting some configs to get better performance.
https://hudi.apache.org/docs/performance#bulk-insert

let us know if you are looking for more assistance. would be happy to help.

[2022-11-04 03:10] nsivabalan commented on #5211
@kartik18 : any updates on this regard please.

[2022-11-04 03:11] nsivabalan commented on #5083
thanks for the update @boneanxs .

[2022-11-04 03:11] #5083 closed

[2022-11-04 03:12] nsivabalan commented on #5036
@pratyakshsharma @jasondavindev : sorry. if you can explain the issue, I can try to see how I can help you here.

[2022-11-04 03:13] nsivabalan commented on #4978
@danny0405 @xiarixiaoyao : do we know if we have fixed this anytime.

[2022-11-04 03:18] nsivabalan commented on #4864
Insert drop dups will consider file groups for matching partitions only. So, if you incoming batch contains records for 1 partition, hudi will do an index look up only in 1 partition and then drop matching records.

another suggestion you can try is. You can enable clustering and batch lot of small files into larger file groups. And so, index look up will have lesser no of files/bloom to look up.

[2022-11-04 03:19] nsivabalan commented on #4864
Since we haven't heard back from you for the past 6+ months going ahead and closing it out. feel free to reach out to us if you need further assistance.

[2022-11-04 03:19] #4864 closed

[2022-11-04 03:23] TengHuo commented on #7106
Sure, np. Thanks @nsivabalan

Let me start a dev email thread.

[2022-11-04 03:25] TengHuo commented on #7106
Attach RFC-46 link here: https://github.com/apache/hudi/blob/master/rfc/rfc-46/rfc-46.md

[2022-11-04 04:01] danny0405 commented on #4978
No, we have not fixed it, the Hive/Trino all can not access file group with pure logs, can we move it to higher priority for release 0.13.0 and solve it then ?

[2022-11-04 04:08] danny0405 commented on #5979
Table hudi C enables the changelog mode then ?

[2022-11-04 04:10] danny0405 commented on #6052
Did you try the release 0.12.1 then ? It expects to work correctly now.

[2022-11-04 04:12] danny0405 commented on #6019
Yeah, let's close it out, use release 0.12.1 then if there are still problems, feel free to re-open it again ~

[2022-11-04 04:12] #6019 closed

[2022-11-04 05:52] rishabhbandi commented on #6055
Hi Team, we created a separate custom java class to perform the partial update.

[2022-11-04 05:53] #6055 closed

[2022-11-04 06:42] devanshguptatrepp opened #7135 "[SUPPORT] Issues with Spark3_3Adapter while using spark to write to hudi"
**Describe the problem you faced**

When trying to write data to hudi, my spark application fails with following error

`Exception in thread "main" java.lang.AbstractMethodError: Method org/apache/spark/sql/adapter/Spark3_3Adapter.getAvroSchemaConverters()Lorg/apache/spark/sql/avro/HoodieAvroSchemaConverters; is abstract
	at org.apache.spark.sql.adapter.Spark3_3Adapter.getAvroSchemaConverters(Spar

[2022-11-04 08:26] waywtdcc opened #7136 "[SUPPORT] Support automatic sorting of data by primary key"
Support automatic sorting of data by primary key
1. The LSM tree is used for writing, which is sorted according to the primary key to improve the consolidation efficiency
2. When reading, query can be accelerated according to the primary key

[2022-11-04 08:27] waywtdcc opened #7137 "[SUPPORT] The stream read supports the second level delay."
The stream read supports the second level delay.

[2022-11-04 10:28] dmenin commented on #3975
Hey @nsivabalan can you expand on your suggestion? I dont think I understand it properly.
Thanks,
Diego

[2022-11-04 14:55] navbalaraman commented on #7060
@nsivabalan EMR 6.8 supports only 0.11.1 but we needed to get on 0.12.0 to have the null value issue resolved. so I upgraded spark to 3.3.0 and used the below hudi spark bundle to get it working now. Thanks for your inputs.

    <dependency>
      <groupId>org.apache.hudi</groupId>
      <artifactId>hudi-spark3.3-bundle_2.12</artifactId>
      <version>0.12.0</version>
    </dependency>

[2022-11-04 17:50] gtwuser commented on #6925
Sorry for the delay. But now after adding above changes we are getting this error now :
`Caused by: java.lang.ClassNotFoundException: org.apache.hudi.aws.transaction.lock.DynamoDBBasedLockProvider`
[link to full stack of error ](https://gist.github.com/gtwuser/cd23f4851aab035774717f08ce1fbfc2)
I feel we are close to fix it, so please let me know whats that im missing now. I checked the classpath o

[2022-11-04 18:09] gtwuser commented on #6925
Another issue which i found happening recently along with the ClassFoundNotException:
[code]

[2022-11-04 18:19] gtwuser commented on #6925
Another observation with below jars in class path the error changes -
`Caused by: java.lang.NoClassDefFoundError: com/amazonaws/services/dynamodbv2/model/LockNotGrantedException`:

**jars used**:
[code]
**errors**: [link to fullstack error](https://gist.github.com/gtwuser/4cb8db2c8b186eb8954bb074262aada4)

[2022-11-04 18:29] nsivabalan commented on #6679
thanks for reporting. I got what you are looking for. have put up a fix here.
https://github.com/apache/hudi/pull/7140
yet to write tests. but you can test it out and let us know if it looks good.

[2022-11-04 18:29] #6679 closed

[2022-11-04 18:30] gtwuser commented on #6925
This same issue if ClassNotFoundException is reproducible with below jars as well which is from hudi build `0.12.1`:
[code]

[2022-11-04 18:34] nsivabalan commented on #6679
feel free to reopen if the fix does not solve your use-case.

[2022-11-04 18:45] gtwuser commented on #6925
@yihua please find the content of `.hoodie` folder but i see all files are of 0 bytes.
[_hoodie.zip](https://github.com/apache/hudi/files/9941196/_hoodie.zip)

[2022-11-04 20:42] rtdt99 opened #7141 "[SUPPORT] Question on Bootstrapped hudi table"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

We have an existing parqu

[2022-11-05 13:53] lewyh opened #7145 "[SUPPORT] `org.apache.avro.SchemaParseException: Can't redefine: array` when an Array containing a Struct is the only field in a Struct"
**Describe the problem you faced**

When storing a data structure with the following layout into a copy-on-read table:

[code]

the first write will succeed, but then subsequent writes will fail with the error included in the stacktrace.

**To Reproduce**

Steps to reproduce the behavior:

1. Create data with the structure above using
[code]
2. Write this to a Hudi copy-on-read table with settings

[2022-11-05 17:09] guanziyue commented on #7136
Do you want a sort within partition or just sort in file? If partition sort, I think cluster should be a good solution. For primary key sorted in file, I developed this feature and used it in prod for a long time. Such feature brings considerable overhead to writing process while not all scenario will benefit from it. I think it is worth a deep discussion to make it automatic.

[2022-11-05 17:51] fengjian428 commented on #7145
I have found an 'Avro field array not found' issue which is caused by ParquetReader can't read struct that only has one array type field. this is a bug of Parquet-Avro can not be fixed in Hudi. and the workaround is to add a dummy field into the struct. I'm not very sure you are facing the same issue but you can also give it a try  @gtwuser

one related issue: https://github.com/apache/hudi/issues

[2022-11-06 05:36] GoodJeek opened #7147 "[SUPPORT] Some classes lacked and couldn't be imported in the module of hudi-spark3.2.x_2.12 and hudi-spark3.3.x_2.12"
**Some problems i met when compiled the hudi source code on the branch-master**

The compile operation failed in the module of  hudi-spark3.2.x_2.12, the error as below
[code]
At the package org.apache.spark.sql.parser ， there are two import errors ,the HoodieSqlBaseBaseVisitor, HoodieSqlBaseParser  lacked：

[code]
The same problem also happended in the module of hudi-spark3.3.x_2.12

_I didn't fi

[2022-11-06 11:10] hoanpvzz opened #7152 "[SUPPORT] Failed to combine/merge new record with old value in storage MySQL Debezium"
**Version Info**
hudi-utilities-bundle_2.12-0.12.1
Spark 3.1.3
Kafka 3.2
Debezium: 1.9.6 or 2.0
MySQL: 5.7
Java: 11.0.16

**Describe the problem you faced**

I have an existing table in MySQL need migrate to hudi:

**_Step 1:_**  I migrate data from exist table to MySQL use deltastreamer JDBC

**_hoodie-init.properties_**

[code]

[code]
Data migrate completely without error.

**_Step 2_**: I sync

[2022-11-06 12:23] lewyh commented on #7145
Thanks, I can confirm that adding a dummy field to the struct avoids this issue. However, two things to note:

- The dummy field needs to exist when the table is created - if you try adding the dummy field via schema evolution then the same error persists, since it's caused by the reading of the existing data. So anyone creating a table with this kind of structure needs to be aware of this issue _

[2022-11-06 17:47] gtwuser commented on #6925
After scanning through the existing git issues was able to fix it. Ref: [#5451](https://github.com/apache/hudi/issues/5451)
Thanks to all.

[2022-11-06 17:47] #6925 closed

[2022-11-06 22:39] HEPBO3AH commented on #7062
Hello! Thank you for the reply.

Because of data variability, the `AvgRecordSize` is still off sometimes. This is expected, but we do not think this value is the primary cause of the issue.
We believe that the combination of `AvgRecordSize` and hudi appending the existing small files is the cause. If you read the section of the original ticket, going around hudi's feature to append to existing com

[2022-11-06 22:41] eshu opened #7154 "[SUPPORT] Hudi 0.12.2 release (Unknown versionCode:5)"
I tried to migrate to Hudi 0.12.1 on Glue and some jobs was broken because the issue
https://issues.apache.org/jira/browse/HUDI-4971

But some of them was done successfully. It means the dataset format was changed to 0.12 (versionCode 5).

So when I rolled back I started to receive the exception

[code]

So I need to wait for Hudi 0.12.2 or to roll back versions of datasets to 0.11.

Could I know

[2022-11-07 00:35] waywtdcc commented on #7136
Currently, the clustering attribute is not used. Is it sorted by primary key in the parquet file?

[2022-11-07 00:36] waywtdcc commented on #7136
My idea is that when bucket index writing is enabled, each bucket is sorted according to the primary key, so the merging efficiency is high; In addition, reading can also use dichotomy to read and locate to a certain position of the Parquet, with high reading performance

[2022-11-07 03:08] fengjian428 commented on #7145
@lewyh on the deltastreamer side can add a dummy field by changing the schema provider config
maybe we can add a schema-validate&correct function to resolve this automatically.

[2022-11-07 06:19] nsivabalan commented on #6925
👍

[2022-11-07 06:24] nsivabalan commented on #5717
I see. If you would like to understand any details on hudi, or need help w/ any Poc or onboarding let us know. CC @bhasudha

[2022-11-07 06:26] nsivabalan commented on #7136
Incidentally I just happened to start a WIP patch towards this end https://github.com/apache/hudi/pull/7146
:)
Feel free to add comments to jira or the patch.

[2022-11-07 06:26] #7136 closed

[2022-11-07 06:27] nsivabalan commented on #7081
@mandnhdaiyudfaio : do you have any updates for us.

[2022-11-07 06:29] nsivabalan commented on #7141
looks like the behavior you see is expected.
@yihua : can you take this up please.

[2022-11-07 06:31] nsivabalan commented on #7137
sorry, I am not sure whats your ask here. can you throw some more light please.

[2022-11-07 06:31] nsivabalan commented on #7064
@ROOBALJINDAL : gentle ping

[2022-11-07 06:37] nsivabalan commented on #6226
@atharvai : do you have any updates for us. or if you got the issue resolved, let us know how did you go about resolving it. so that it could help others in the community

[2022-11-07 06:44] nsivabalan commented on #6811
Few pointers:
- for failed executors, do check if they are failing due to OOMs. if yes, you may need to tune your spark memory configs.
- I see you have set cleaner.commits.retained = 1. So, this would clean the data files aggressively which could add to your write latency. you can consider relaxing this a bit. Also, you can relax https://hudi.apache.org/docs/configurations/#hoodiecleanmaxcommits

[2022-11-07 14:23] complone commented on #7152
@hoanpvzz  Hello, by reading the source code, I think that Debezium is not properly configured, can you refer to hudi's DebeziumConstants class to give the relevant configuration information of Debezium?

At the same time, it is recommended that you read [RFC-39](https://cwiki.apache.org/confluence/display/HUDI/RFC+-+39+Deltastreamer+source+for+debezium+CDC+logs), users need to capture data based

[2022-11-07 18:19] nsivabalan commented on #7046
https://hudi.apache.org/docs/faq#how-can-i-resolve-the-nosuchmethoderror-from-hbase-when-using-hudi-with-metadata-table-on-hdfs

[2022-11-07 19:34] nsivabalan commented on #5811
https://issues.apache.org/jira/browse/HUDI-5172

[2022-11-07 19:40] alexeykudinkin commented on #7106
@TengHuo you're on the right track with what i originally was planning in regards to how support all of the different MOR semantics (aka Record Payload implementations):

1. First of all, we need to move away from embedding Record Merging semantics as Record Payload wrappers (which is exactly what RFC-46 is aiming for)
2. In RFC-46 we're introducing new component called `RecordMerger` that will em

[2022-11-07 20:06] nsivabalan commented on #5767
guess sagar meant this
[code]

[2022-11-07 20:09] nsivabalan commented on #6089
@yihua : is there any more pending work to be done here. I see we already have a FAQ on this https://hudi.apache.org/docs/faq#how-can-i-resolve-the-runtimeexception-saying-hbase-defaultxml-file-seems-to-be-for-an-older-version-of-hbase

can you follow up on this when you get a chance.

[2022-11-07 21:18] rtdt99 opened #7158 "[SUPPORT] Request for support for Azure Blob Storage Events Source and Events Hoodie Incr Source in DeltaStreamer"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Since Streaming ingestion

[2022-11-08 02:13] danny0405 commented on #7116
We have figured some reason in: https://issues.apache.org/jira/browse/HUDI-4880, can you help to validate with the fix ?

[2022-11-08 02:15] danny0405 commented on #7100
Did you try to use `payload.class` instead of `write.payload.class` then, we have changed the option key recent days.
`write.payload.class` is changed as fallback option key but it only works in Flink 1.15.x.

Feel free to re-open it if you still have problem here.

[2022-11-08 02:15] #7100 closed

[2022-11-08 02:19] danny0405 commented on #7058
Hello, can we close this issue though @adward32135 , did you try the option then ?

[2022-11-08 02:22] danny0405 commented on #7047
I guess it is caused by the avro version in-consistent in Hudi, for h`udi-flink-bundle`, we explicitly declare the avro version as 1.10.0, but in root pom, it is `1.8.2`.

[2022-11-08 02:26] danny0405 commented on #6640
Not enough details here, can you try 0.12.1 and see if the duplicates happen ? Would close the issue here first.

[2022-11-08 02:26] #6640 closed

[2022-11-08 02:28] #6618 closed

[2022-11-08 02:30] danny0405 commented on #6529
Seems it is already solved, close it here.

[2022-11-08 02:30] #6529 closed

[2022-11-08 02:31] danny0405 commented on #6460
Fix https://github.com/apache/hudi/pull/6481 should have solved your problem.

[2022-11-08 02:31] #6460 closed

[2022-11-08 02:32] danny0405 commented on #6297
Close for inactivility.

[2022-11-08 02:32] #6297 closed

[2022-11-08 02:33] danny0405 commented on #6260
Close because it is a known fixed bug.

[2022-11-08 02:33] #6260 closed

[2022-11-08 02:33] danny0405 commented on #6131
Close because it is inactive.

[2022-11-08 02:33] #6131 closed

[2022-11-08 02:35] danny0405 commented on #6126
Close because of prolonged inactivity.

[2022-11-08 02:35] #6126 closed

[2022-11-08 02:37] danny0405 commented on #6102
0.12.1 expects to solve the problem, feel free to re-open it if the problem still exists.

[2022-11-08 02:37] #6102 closed

[2022-11-08 02:37] danny0405 commented on #6052
Close because of prolonged inactivity.

[2022-11-08 02:37] #6052 closed

[2022-11-08 02:39] danny0405 commented on #6034
Close because of prolonged inactivity.

[2022-11-08 02:39] #6034 closed

[2022-11-08 02:41] danny0405 commented on #5979
One fact is that because of the DeletaBlock of avro log, we can not keep the events sequence when the preCombine field is the same (or not declared), but the changelog mode works correctly here, you can have a try.

Close because of prolonged inactivity. Feel free to re-open it if the problem still exists.

[2022-11-08 02:41] #5979 closed

[2022-11-08 02:43] danny0405 commented on #5547
We removed the parquet shade pattern since 0.11.0 for `hudi-flink-bundle`, maybe we should add it back :)

[2022-11-08 02:43] #5547 closed

[2022-11-08 02:44] danny0405 commented on #5871
Close because of prolonged inactivity.

[2022-11-08 02:44] #5871 closed

[2022-11-08 02:52] danny0405 commented on #5870
0.12.1 should have solved this problem.

[2022-11-08 02:52] #5870 closed

[2022-11-08 02:53] danny0405 commented on #5833
Try the new option `hoodie.filesystem.view.remote.retry.enable` which is introduced in release 0.12.1.

[2022-11-08 02:53] #5833 closed

[2022-11-08 02:55] danny0405 commented on #5690
Close because of chronic inactivity.

[2022-11-08 02:55] #5690 closed

[2022-11-08 02:56] danny0405 commented on #5724
Close because of chronic inactivity.

[2022-11-08 02:56] #5724 closed

[2022-11-08 03:38] TengHuo commented on #7106
Thanks @alexeykudinkin for your reply.

Got it, I saw there are 2 tickets in JIRA about this new API `RecordMerge`, [HUDI-4380](https://issues.apache.org/jira/browse/HUDI-4380), [HUDI-4988](https://issues.apache.org/jira/browse/HUDI-4988). And as mentioned in [RFC-46 doc](https://github.com/wulei0302/hudi/blob/1784fe48a0c573597b9c4aa8a9b352f4379a7554/rfc/rfc-46/rfc-46.md#record-merge-api), there w

[2022-11-08 03:55] fengjian428 commented on #7154
have you tried the `downgrade_table` procedure in spark sql?

[2022-11-08 06:21] devanshguptatrepp commented on #7135
Here are the spark-submit commands that I have tried:
1. `spark-submit --deploy-mode client --jars s3a://bucketName/binaries/hudi/etl/hudi-spark-bundle_2.12-0.11.0.jar --class com.trepp.EntryClass s3://bucketName/application-1.0-SNAPSHOT-jar-with-dependencies.jar`
2. `spark-submit --deploy-mode client --jars s3a://bucketName/binaries/hudi/etl/hudi-spark-bundle_2.12-0.12.0.jar --class com.trepp.Ent

[2022-11-08 06:33] nsivabalan commented on #7133
yes, its mainly for memory pressure and favoring I/O.

[2022-11-08 06:36] nsivabalan commented on #7115
CC @yuzhaojing @danny0405

[2022-11-08 06:42] nsivabalan commented on #7154
yes. we also have this functionality w/ hudi cli. you should be able to downgrade the table to any version.

[2022-11-08 07:48] danny0405 commented on #7115
Make sure you open the checkpoint of the write process.

[2022-11-08 09:13] wwli05 commented on #7116
accept, thank you ~

[2022-11-08 09:13] #7116 closed

[2022-11-08 10:37] viverlxl opened #7162 "[SUPPORT] Flink stream api(HoodieFlinkStreamer) write data to hudi create much rollbackfile"
**Describe the problem you faced**

when i try ingestion  data from kafka to hudi , use <HoodieFlinkStreamer> class, but as i start then main function,  hudiWriteClient create many rollback file in local dir

<img width="616" alt="image" src="https://user-images.githubusercontent.com/35752202/200540750-8bbf8766-9898-4645-a8de-b3e09e499c60.png">

debug, i find will execute AbstractStreamWriteFuncti

[2022-11-08 20:43] rtdt99 commented on #7141
@yihua Could you please provide any update ?

[2022-11-08 21:12] alexeykudinkin commented on #5519
Folks, this is unfortunately an issue not of Hudi itself, but rather w/in both Parquet and Spark: as part of holistically addressing issues of handling schemas in Hudi in https://github.com/apache/hudi/pull/6358, i've stumbled upon this issue as well and here are my findings:

 - Type promotions could only work properly (in Spark/Parquet env) in case you're overwriting all of your data-files. In c

[2022-11-08 21:12] #5519 closed

[2022-11-09 00:28] waywtdcc commented on #7073
Can this be added to the 0.13 plan?

[2022-11-09 01:19] fangzai opened #7165 "[SUPPORT]problems about Hudi in GCP"
My team want to use Hudi in GCP. We want to create Hudi table and register it in Bigquery table. We find the official guide for it-https://hudi.apache.org/docs/gcp_bigquery.
![image](https://user-images.githubusercontent.com/10183917/200712767-09d58727-6f38-44ad-ad7f-46b9de9e60c5.png)

Our dev environment is pyspark. So for the usage, is there any demo or instruction for python api?

[2022-11-09 02:18] xushiyan commented on #7165
@jonvex can you handle this please?

[2022-11-09 02:32] jonvex commented on #7165
Hi,
There are python examples in https://hudi.apache.org/docs/quick-start-guide. There is also an example python file https://github.com/apache/hudi/blob/master/hudi-examples/hudi-examples-spark/src/test/python/HoodiePySparkQuickstart.py

[2022-11-09 05:24] eshu commented on #7154
@fengjian428 @nsivabalan
[code]
I replaced paths with `...`, but this is the error. It looks like I can't revert the version.

[2022-11-09 07:04] danny0405 commented on #7162
Did you find any error logs in the JM logging ?

[2022-11-09 13:33] schlichtanders commented on #6808
sorry, I was blocked by higher priorities.
The production usecase are proper unittests of spark hudi jobs. I was able to setup a postgresql as a local hive-metastore as a workaround. That worked. Switching the very same setting to derby does not throw an error, but also does not update the derby database. I.e. derby does not work. I am using hudi-spark3.2-bundle_2.12:0.12.0.

# Minimal failing exa

[2022-11-09 14:25] schlichtanders commented on #6441
@nsivabalan the partial update feature you linked is explicitly about MoR tables, while this issue is about CoW tables.

Can you please reopen this issue, or explain how it affects CoW tables?

[2022-11-09 17:34] konradwudkowski commented on #6940
We're facing the same problem, in our case that's when using Trino on EMR 6.8.0 that comes with hudi 0.11.0 and reading data written with hudi 0.10.0. Queries are at least 10x slower :(

[2022-11-09 20:12] jonvex commented on #6808
The updated links are
https://github.com/apache/hudi/blob/master/packaging/bundle-validation/Dockerfile https://github.com/apache/hudi/blob/master/packaging/bundle-validation/validate.sh you can look at the test_spark_hadoop_mr_bundles function
https://github.com/apache/hudi/tree/master/packaging/bundle-validation/conf contains some configuration files

[2022-11-09 21:21] rtdt99 commented on #7158
@nsivabalan, Could you please provide any timeline on when we can expect this feature in DeltaStreamer?

[2022-11-10 06:18] eric9204 commented on #6966
#7167

[2022-11-10 07:53] schlichtanders commented on #6808
Thank you for the updated links.

They show how to connect Hudi to a derby metastore via `org.apache.derby.jdbc.ClientDriver`, where the derby metastore is running on a dedicated port on localhost. This is not what this ticket is about.

This ticket is about connecting to an embedded in-memory derby metastore which you connect to via the `org.apache.derby.jdbc.EmbeddedDriver` driver. Please refer

[2022-11-10 10:17] bram2000 opened #7176 "[SUPPORT] Cannot load a list of specific files after upgrading to hudi 0.11"
**Describe the problem you faced**

We are using hudi on amazon EMR. We used to use hudi 0.7, which allowed us to use the following syntax to load specific directories of parquet files (in this example just two days):

[code]

After upgrading our EMR version we are now using hudi 0.11 but this syntax now fails with:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Attempt to load two

[2022-11-10 10:40] fengjian428 commented on #7154
@eshu  how did you execute the command?

I have tried ` call downgrade_table(table => 'hudi_mor_tbl', to_version => 'THREE');` and it done downgrade successfully where table version from 4 to 3 like below
![image](https://user-images.githubusercontent.com/4403474/201069647-a0497763-8c4e-4340-9a0d-2f6168fab4ce.png)

[2022-11-10 11:25] boy88888888 opened #7177 "[SUPPORT] FlinkCDC+Hudi0.10 failure when delete or update history data but success on currentdate data"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-11-10 14:19] xushiyan commented on #7165
@fangzai did you get your problem solved?

[2022-11-10 15:49] navbalaraman commented on #7060
@nsivabalan Now i am seeing an issue with the upgrade code running on EMR 6.8.0. The initial pull of the data happnd with hudi 0.9.0 and spark 3.1.2 on EMR 6.5. Now the incremental pull with hudi 0.12.0 and spark 3.3.0 on EMR 6.8.0 is failing with the below error.
Any thoughts on what is needed to make this incremental pull to work without having to wipe out existing data and do initial pull again

[2022-11-10 16:24] schlichtanders commented on #6808
thank you for the remarks. It is good to know that a derby client setup works for local testing, while being more lightweight than postgres. We usually have one spark hudi job which creates/updates also hive tables and this we want to test locally.

Question:
is it really not possible to use the derby `memory` subprotocol (it is our preferred option for local tests)?
- If it is not possible, then

[2022-11-11 01:57] fengjian428 commented on #6966
can you help to figure out why spark-SQL works fine but structure streaming cannot? @eric9204 I saw you make an API level change in #7167

[2022-11-11 06:23] nsivabalan commented on #6341
sorry to have dropped the ball on this.
what the instruction say is. to write to hudi, you might be doing something like
[code]
In this, df's schema is expected to be table's schema. just that record key, partition path and pre combine has to non null and rest of the fields can be null.

[2022-11-11 06:24] nsivabalan commented on #6341
but please do give it a try w/ later versions. I highly doubt delete requires entire table schema. I vaguely remember we relaxed that constraint later.

[2022-11-11 08:41] viverlxl commented on #7162
@danny0405  Thanks, It may cause by evolution schema in bucketAssign function,  hoodie connection had been reset,  but i had  reloading bucketAssign  when schema change,  i need some time deal with it

[2022-11-11 12:55] lucasberlang opened #7185 "[SUPPORT] Error to write in s3 bucket with K8s"
**Descripcion**

I'm running flink on k8s and I'm trying to write to an s3 bucket in hudi format, but it fails. If I write to s3 with another format it works correctly:
[code]

[code]
So this seems to be a bug with Hudi and not with s3.

**To Reproduce**

Create a table in hudi format:
[code]

Insert data into the table:
[code]
**Expected behavior**
I should be able to write in s3 with hudi format

[2022-11-11 14:41] bcolas commented on #5822
Also interested by the way you solve ! I'm stuck with this problem on 0.10.1 version integrated with AWS Glue

[2022-11-13 09:21] xushiyan commented on #7115
@chinaboyll do you mean return 0 records? do you see any issue from the logs of the hive sync process?

[2022-11-13 09:34] xushiyan commented on #7147
@GoodJeek how did you build the project? have you been following commands from the README.md ? our CI keeps building against different spark profiles so there is no issue

[2022-11-13 10:17] xushiyan commented on #7176
@bram2000 are the hudi versions (0.7 -> 0.11.0 ) both using hudi from amazon? as in the pre-installed hudi jars in EMR?

Have you ingested any new data into the table using hudi 0.11.0 ? if not, the table version is old and you probably need to perform a table upgrade using hudi-cli. see https://hudi.apache.org/docs/cli/

[2022-11-13 13:45] xushiyan commented on #6984
i found HUDI-2141 for flink and there is already a WIP PR https://github.com/apache/hudi/pull/3235 by @yuzhaojing

we can align the efforts there with what we're proposing here.

[2022-11-13 14:22] xushiyan commented on #7158
@rtdt99 i've filed this https://issues.apache.org/jira/browse/HUDI-5202

This kind of feature is mostly community-driven so there is no specific timeline. Anyone interested can pick it up and submit a PR for review. cc @kywe665

[2022-11-13 14:43] xushiyan commented on #7135
@devanshguptatrepp i checked your dependencies. You only need to put `hudi-spark3.3-bundle_2.12` on your classpath to supply hudi dependencies. Users are not supposed to use hudi module dependencies directly; hudi bundle jars are the only user-facing artifacts. Please fix the dependencies accordingly.

[2022-11-13 15:03] xushiyan commented on #7154
@fengjian428 thanks for verifying. how about the downgrading 5->4?

[2022-11-13 15:21] Zouxxyy commented on #6679
@KnightChess Hi, the problem has been fixed, but the test is missing, can you provide a way to reproduce the problem, then I can add it to the UT

[2022-11-13 15:40] xushiyan commented on #7152
@hoanpvzz in your error stacktrace, it says `"_event_seq": null` that's the reason for NPE raising from `org.apache.hudi.common.model.debezium.MySqlDebeziumAvroPayload#extractSeq`

This looks like a bug in mysql debezium payload, where the existing records after bootstrap do not have the debezium fields. I'll file a patch for this

[2022-11-13 18:26] aniketnanna opened #7191 "[SUPPORT] Missing Data with Amazon Athena in Glue Table with Hudi 0.10.1"
### Highlight of Issues Facing:
1. Missing Data
2. DDL changes in Hudi Tables
3. Upgrade to Newer Version

### Detailed Description of Issues:
**1. Missing Data**
    a. For around 20 tables,randomly, few records are missing in comparision to the main AWS RDS DB.
       100/200 records out of millions of Data records are not available from Athena but Spark SQL shows correct counts
    b. For 1 or

[2022-11-13 22:31] hussein-awala commented on #7185
I had a similar issue with Spark despite having Hadoop AWS sdk added (equivalent to `flink-s3-fs-hadoop-1.15.0.jar` you are using), and I solved it by downloading [hudi-aws](https://repo1.maven.org/maven2/org/apache/hudi/hudi-aws/0.12.0/hudi-aws-0.12.0.jar) jar.
Can you try adding it to your docker image?

[2022-11-13 22:50] eshu opened #7192 "[SUPPORT] UPSERT failed with errors"
On one of my jobs I received the error
[code]
That's all. No stack trace, no any other explanation, no warnings in the log. Job finished successfully (and this is the problem too: checkpoints are moved forward, but data was not processed), but data was not processed. It created a small piece of data, and finished without any meaningful information.

**Environment Description**

* Hudi version : 0.

[2022-11-14 01:45] fengjian428 commented on #7154
also works fine on my side
![image](https://user-images.githubusercontent.com/4403474/201558263-ab66c071-ed07-4458-9f9d-c67820fa96fb.png)

[2022-11-14 03:57] xushiyan commented on #7192
what is the job setup? code snippet to run and hudi/spark configs. and what is the data schema? processing from where to where?

[2022-11-14 04:32] xushiyan commented on #7191
@aniketnanna these are all aws managed services involved. have you filed aws support case?

[2022-11-14 04:50] xushiyan commented on #7126
filed https://issues.apache.org/jira/browse/HUDI-5205

[2022-11-14 04:50] #7126 closed

[2022-11-14 04:59] xushiyan commented on #6283
@eshu how should we reproduce it? can you zip and share a problematic sample dataset so we can debug it?

[2022-11-14 05:13] eshu commented on #7192
@xushiyan
Just take a look on code:
https://github.com/apache/hudi/blob/release-0.11.1/hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala#L688-L704
[code]
Here is a writing an error message without any details and real errors appeared only when I set trace level of logs.
I found that problem was null values in an array field. But job was finished succ

[2022-11-14 05:29] xushiyan commented on #7192
@eshu this is the problem we need the info to reproduce. or are you simply suggesting code level improvement?

[2022-11-14 06:07] danny0405 commented on #7126
Cool, would support that if the 1.16.1 released.

[2022-11-14 07:52] XuQianJin-Stars commented on #7154
it also works fine.

[2022-11-14 08:46] lucasberlang commented on #7185
Hi @hussein-awala,

First of all thank you for your answer.
I have added the dependency to the dockerfile and the error has now changed, it seems that I am not getting the access keys to aws correctly, although I have them in the properties and in the configmap.
[code]
**Stacktrace**

[code]
Any idea why it could be?

[2022-11-14 08:57] idrismike commented on #6942
@nsivabalan Indeed the jars were conflicting. the issue is resolved. A single jar was enough.

[2022-11-14 09:20] eshu commented on #7192
@xushiyan I suggest to write the error to the log instead of "operation is failed" and stop the job with error instead of ignore the issue. The first thing could be easily fixed. I do not why Hudi code does not throw an error in this case and consider the  execution as successful.

I read data from ES and write to Hudi. I use Glue 3 environment. But I believe you do not need this details to fix th

[2022-11-14 10:35] aniketnanna commented on #7191
We have 3 issues to solve as mentioned above:
1.  Missing data
2.  DDL Change
3.  Upgrade New version

- 1st issue is more specific to AWS with Hudi.
- 2nd and 3rd issues are more specific to Hudi.

### 1. Missing data:
    a.  This issue is related to Athena. Connected with support for the same.
    b.  Support Engineer found an error ---> "can not create year partitions from string".
        Thi

[2022-11-14 11:42] xushiyan commented on #7192
ok so you're suggesting code level improvement. filed https://issues.apache.org/jira/browse/HUDI-5207

[2022-11-14 11:42] #7192 closed

[2022-11-14 14:13] hussein-awala commented on #7185
Great! For the new error, did you add the config map to all the executors?

If you are using AWS EKS, I recommend creating a new IAM role with S3 access, and creating a K8S service account to assume this role, then you can use this service account for your spark pods (driver and executors) and let EKS mounting the role secret and configure your AWS creds. ([doc](https://docs.aws.amazon.com/eks/lat

[2022-11-14 17:31] cravib4u opened #7200 "SQL Merge into to support Control updates"
We have use case where we get updates from source and we have to perform control updates by lookup in Target table.

1. For suppose if I have a column in Target table with valid value and If I receive update from source then we need to retain the value in target other wise update from source. This is like Coalesce(Target column,Source Column).
2. Similarly Other use case, If I receive valid value

[2022-11-14 19:53] nikspatel03 opened #7201 "[SUPPORT] Deltastreamer not able to read and transform kafka json arraytype payload"
Hello,

We want to use deltastreamer utility to ingest kafka Json data into hudi COW table but showing garbage values in hudi table and unable to sync to glue metastore.

Kafka version : 2.0.0
EMR-5.35.0
Hudi 0.9.0-amzn-2

**To Reproduce:**

_**Kafka Sample Payload:**_
{
	"record": [{
			"ticker": "USD",
			"side": "Buy",
			"price": 82.71,
			"timestamp": 1668032589000,
			"date": "2022-11-09"

[2022-11-15 04:56] aniketnanna commented on #7191
## 1. Missing Data Issue

    a.  Regarding missing data in some of the tables where data is present in the processed bucket but Athena is not able to read
    b.  Found the following errors in error logs Glue job:
![Screenshot from 2022-11-15 09-44-04](https://user-images.githubusercontent.com/99634382/201828275-5a17cef2-1baf-48ec-a4af-ca65ac8f6f38.png)
    c.  The above issue is solved by adding

[2022-11-15 05:42] devanshguptatrepp commented on #7135
Thanks @xushiyan, that solved the problem.

[2022-11-15 05:42] #7135 closed

[2022-11-15 06:51] onlywangyh opened #7204 "failed to snapshot query in hive when query a empty partition"
When query a empty partition, hive will return a empty file in split path. In snapshot query this path will be added as a NonHoodieInputPaths. In this case HoodieParquetRealtimeInputFormat read a file split rather than a RealtimeSplit. Throw a exception:

HoodieRealtimeRecordReader can only work on RealtimeSplit and not with hdfs://test-cluster/tmp/hive/20220520/hive/4273589d-49be-4a60-9890-a29660

[2022-11-15 07:07] dongkelun commented on #7058
We need to persist the ALLOW_OPERATION_METADATA_FIELD configuration item to the file in Flink and Spark to make Spark and Spark unified. I have submitted the pr on the Spark side

[2022-11-15 07:18] adward32135 commented on #7058
ok, the problem has been solved, thank you

[2022-11-15 07:18] #7058 closed

[2022-11-15 08:30] lucasberlang commented on #7185
Yes, I have the s3 credentials in the core-site.xml and in the flink-conf.yaml in the jobmanager and the tasmanager:
[code]

[code]

I don't think that is the problem since I can write in json format in the s3 without problem.
Any other idea?

[2022-11-15 10:29] idrismike commented on #6787
Interesting but at the same time curious to know that from `hudi 0.11` hive metastore is not used anymore for getting partition. If I understand correctly, since metastore does not do any partition pruning etc., then we don't necessarily need `hive metastore`? is that correct?

[2022-11-15 13:12] koldic opened #7209 "[SUPPORT] Hudi deltastreamer fails due to Clean"
**Describe the problem you faced**

Hudi deltastreamer fails with this exception `Could not deserialize metadata of type class org.apache.hudi.avro.model.HoodieCleanMetadata`

**To Reproduce**

Unknown

**Expected behavior**

Hoodie will finish cleaning and run correctly again

**Environment Description**

* Hudi version : 0.12.1

* Spark version : 2.4.8

* Hadoop version : 3.1.4.0-315

* Storage

[2022-11-15 14:48] aniketnanna commented on #7191
## New Issue in addition to above
**4. Unpartitioned data records:**
   a. Few records from a table are unpartitioned and are stored in S3 with partition name "default". i.e. year/month/day --> default/default/default
   b. These records are not reflected in Athena but can be queried from Spark SQL

Please help on including the unpartitioned data return in query in Athena. What configurations or a

[2022-11-15 15:11] nikspatel03 commented on #7201
@liujinhui1994  If you can help.

[2022-11-15 16:37] navbalaraman commented on #7060
@nsivabalan gentle reminder. any insights is appreciated.

[2022-11-15 16:40] parisni commented on #6787
true, hive metastore is not mandatory with hudi. You can use hudi without, but you won't get easy identifier such database.table but work with s3/hdfs path only

[2022-11-15 19:05] nikspatel03 commented on #7201
I have found the solution, closing this issue. Thanks
I need to update transformer sql:
--hoodie-conf hoodie.deltastreamer.transformer.sql="SELECT a.R.* FROM (SELECT EXPLODE(record) AS R FROM <SRC>)a"

[2022-11-15 19:05] #7201 closed

[2022-11-16 00:13] eshu commented on #7154
As explained in the documentation.
Yes, I have permissions.

[2022-11-16 05:44] wqwl611 opened #7216 "[SUPPORT] Find multiple files at partition about Bucket Index"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
I occasionally encounter t

[2022-11-16 05:47] wqwl611 commented on #7216
please help me look at this bug
@YuweiXiao

[2022-11-16 06:18] dheerajpanangat opened #7217 "[SUPPORT] Hudi Timestamp Timezone is not set from Flink"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Compaction is not working

[2022-11-16 07:02] Zouxxyy opened #7218 "[SUPPORT] why getFileSystemView use HoodieTableFileSystemView instead of getViewManager().getFileSystemView"
**Describe the problem you faced**

Hi, I have a doubt, and hope to get help, here is code In `HoodieTable`:

[code]
Why do they use different implementations

**Describe the problem you faced**

A clear and concise description of the problem.

* Hudi version :
0.12.0

[2022-11-16 08:34] BalaMahesh opened #7219 "[SUPPORT] Schema update to dataset causing pipeline failure with PostgresDebeziumSource."
**Describe the problem you faced**

We have Hudi running stable for a while on a PostgresDebeziumSource. We have schema update to the table and debezium has updated the latest schema in Confluent Schema Registry. We have configured Hudi to use the latest schema version from schema registry.

Now, there are some records in Kafka with old schema and while processing these records, Hudi is failing wi

[2022-11-16 10:31] matthiasdg commented on #6940
Is this related to https://github.com/apache/hudi/issues/6787#issuecomment-1302715131? It now does a full scan before knowing the partitions?

[2022-11-16 10:44] punish-yh opened #7221 "[SUPPORT] Spark could not read Flink created table"
**Describe the problem you faced**

I used flink-sql create a hudi MOR table and the metadata store in Hive metastore.
Then I use Spark with Hive metastroe to read the data with Flink inserted, but i got 0 lines data, and no error&exception log

**To Reproduce**

Steps to reproduce the behavior:

1. Flink sql create table sql:

[code]

2. select mysql source data insert into hudi table (it‘s worke

[2022-11-16 13:51] KnightChess commented on #7221
<img width="801" alt="image" src="https://user-images.githubusercontent.com/20125927/202198281-66f1fb08-2731-4888-b2b4-f0371536af01.png">
It doesn't look like the same table

[2022-11-16 13:54] KnightChess commented on #7221
@punish-yh set `hive_sync.enable` true, and it will sync meta to metastore in next checkpoint. It will create two tables, which name are `table_name_rt` and `table_name_ro`

[2022-11-16 14:18] punish-yh commented on #7221
thank you for your reply, is it mean if i want use spark to read flink inserted data, must use `hive_sync.enable` ?  is there another way?

[2022-11-16 14:20] punish-yh commented on #7221
`LOCATION` path is empty, but `flink.path` is true and have file that hudi can readable

[2022-11-16 14:41] KnightChess commented on #7221
@punish-yh you can use dataFrame  to load data

[2022-11-16 17:33] lucasberlang commented on #7185
Good news now is working,
I finally fixed it by adding these properties to the core-site.xml
[code]

And with this configuration in flink-conf.yaml
[code]

Thanks @hussein-awala for the support!

[2022-11-16 17:34] #7185 closed

[2022-11-16 17:49] lucasberlang opened #7223 "[SUPPORT] Error to write .hoodie_partition_metadata in IBM Cloud Object Storage"
**Descripcion**

I'm running flink on k8s and I'm trying to write to an IBM cloud object Storage bucket in hudi format, but it fails.I write the partition with the data but the hoodie_partition_metadata file is not written:

![Selection_561](https://user-images.githubusercontent.com/28829164/202253690-1f8c78f4-acc4-43b7-bdd8-dd370504562d.png)

This causes that when launching a query on that table,

[2022-11-16 17:50] nsivabalan commented on #7219
Can you try setting below config
[code]
and let us know what do you see.

[2022-11-16 20:38] abhishekkh commented on #3835
@xushiyan @shivabodepudi I am running into the same error with `JsonSchema`. Is there a library that works well for the json -> avro schema conversion?

[2022-11-16 21:44] #7152 closed

[2022-11-16 22:19] yihua commented on #7141
@rtdt99 The behavior is expected.  The bootstrap operation is going to reference the parquet files from the original parquet table path.  Any new data or updates are written to the base path of the new Hudi table, and the original parquet table is not touched, because now any new data is written using Hudi's data format.  The consumer has to query the table using the new Hudi table base path to ge

[2022-11-17 01:41] YuweiXiao commented on #7216
Could this be reproduced? Normally, this is caused by concurrent writer without OCC control enabled. And failed commits (not being rollbacked yet) may also cause this.

[2022-11-17 02:46] wqwl611 commented on #7216
it's hard to reproduce，and It's fine if there are no glaring holes. thanks for reply

[2022-11-17 03:03] BalaMahesh commented on #7219
Caused by: org.apache.hudi.exception.HoodieException: java.lang.IllegalArgumentException: Property hoodie.deltastreamer.source.kafka.value.deserializer.schema not found

Getting this error.

https://hudi.apache.org/blog/2021/08/16/kafka-custom-deserializer/ found this link but this expects some schema string to be configured as a config. Is this a good approach to do on a long run to configure las

[2022-11-17 04:12] nsivabalan commented on #7219
I found the gap.
https://github.com/apache/hudi/pull/7225
can you give this a try.

[2022-11-17 05:07] #7216 closed

[2022-11-17 06:18] jiangjin-f commented on #7221
you can load data like this
val df = spark.read.format("hudi").load("hdfs://nameservice/user/hudi/db/table_name")

[2022-11-17 14:27] peter-mccabe commented on #2849
I am getting this as well. This needs more detail and a solution.

[2022-11-17 15:31] shengchiqu opened #7229 "[SUPPORT] flink connector sink Update the partition value, the old data is still there"
i use flink to build hudi demo in version 0.12.1,  and i wang to test GLOBAL_BLOOM
because I looked at the source code and found it already supported

flinksql

CREATE TABLE IF NOT EXISTS customer_hudi(
`C_CUSTKEY` int,
`C_NAME` varchar(25),
`C_ADDRESS` varchar(40),
`C_NATIONKEY` int,
`C_PHONE` char(15),
`C_ACCTBAL` decimal(15, 2),
`C_MKTSEGMENT` char(10),
`C_COMMENT` varchar(117),
`ts` timestamp(

[2022-11-17 22:54] nsivabalan opened #7234 "[SUPPORT] Upsert to Hudi table w/ 0.11.1 or above fails w/ Pipe broken"
**Describe the problem you faced**

I have been using hudi with GCS (dataproc) with 0.11.0 and things are fine. but when I tried w/ 0.11.1, I am running to upsert failure. Core stacktrace looks like is stemming from GCS, but would like to see if hudi could be doing something different w/ later versions (since it was working fine w/ older versions).

[code]

**To Reproduce**

Steps to reproduce the

[2022-11-18 04:57] cravib4u commented on #7234
We tried even Hudi 0.12.1, Spark -2.4.8 as well and we see same issue while writing data.
We tried both SQL Merge and DataSource write upsert operation as same issue.
But with Datasource insert_overwrite operation is working fine.

[2022-11-18 05:47] alexeykudinkin commented on #7234
Created HUDI-5238

[2022-11-18 05:47] #7234 closed

[2022-11-18 06:26] shengchiqu commented on #7229
i try set changelog.enabled=false, the problem solved
Is this because the changelog mode does not support global indexes？

[2022-11-18 12:24] Priyanka128 opened #7242 "[SUPPORT] Partition field value lost in table column"
I am running spark-submit job to populate data into hudi tables from kafka topics. I have below properties set in my table-config.properties file:
hoodie.datasource.write.partitionpath.field=partitionFieldColumn
hoodie.datasource.hive_sync.table=tabledata
hoodie.datasource.hive_sync.partition_fields=partitionFieldColumn
hoodie.deltastreamer.keygen.timebased.timestamp.type=EPOCHMILLISECONDS
hoodie.

[2022-11-18 18:55] rtdt99 commented on #7141
@yihua Thank you! Also, is it possible to run exporter job for a specific date/time range instead of exporting the whole hudi table snapshot to parquet format ?

[2022-11-18 23:56] rshanmugam1 opened #7244 "[SUPPORT] DBT Merge creates duplicates"
this is my dbt model. if i run twice that creates duplicates. am i missing any obvious configurations?.

[code]

<img width="1257" alt="Screen Shot 2022-11-18 at 3 38 33 PM" src="https://user-images.githubusercontent.com/42749351/202820863-67721eb4-8c4d-4736-9fae-966f5dbf51c4.png">

A clear and concise description of the problem.
dbt merge model product duplicates.

**To Reproduce**

Steps to repr

[2022-11-19 16:56] xushiyan commented on #7221
@punish-yh pls close if this works in your case

[2022-11-19 16:59] xushiyan commented on #7219
@BalaMahesh let us know if it works

[2022-11-19 17:03] xushiyan commented on #7209
@koldic do you mind zip the `.hoodie/` folder and share? so we can exam what is going on with the commit metadata

[2022-11-19 18:37] kasured opened #7246 "[SUPPORT] Controlling the Archival process retention"
**Describe the problem you faced**

We started seeing OutOfMemory issues while finalizing writes to the Hudi COW table on the step of archival

Documentation is not quite clear how to tune the retention period of the archival process and hudi-cli does not have options to clear these archived commits.

What are the options to unblock that process. We have a lot of memory allocated so we would not l

[2022-11-19 18:46] kasured commented on #7246
That seems to be a duplicate of https://github.com/apache/hudi/issues/4275

[2022-11-19 20:32] hemanth-gowda-12 opened #7247 "[SUPPORT] Duplicates on upserts when record partition path begins with "/"."
Upserts don't work on the Java client for both MOR and COW if partition path in
`new HoodieKey(rKey, partitionPath)`
 starts with a "/".

Steps to reproduce the behavior:

1. Run this test to see that there are duplicates on upserts for records with same key.
test https://github.com/hemanth-gowda-12/hudiTest/blob/bf98a9efcfbf8a29543b970edcbfd687bde0662a/upsert/src/test/java/HudiSinkTest.java#L32
2

[2022-11-20 07:56] rtdt99 opened #7249 "[SUPPORT] How to run cleaner table service on DFS source of DeltaStreamer ?"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Posting this question her

[2022-11-20 08:24] xushiyan commented on #7247
partition path should always be relative and never start with `/`, which indicates absolute path in unix. I'll file a jira for improving the validation.

[2022-11-20 08:24] #7247 closed

[2022-11-20 09:11] xushiyan commented on #7249
@bhasudha can you pls help clarifying this? documentation may need improvement accordingly

[2022-11-20 13:02] hewanghw opened #7252 "[SUPPORT] Error to write hudi table into minio s3 bucket"
**Describe the problem you faced**

I'm trying to write a hudi table into minio s3 bucket by flink SQL, but it fails.
The hudi table is created, but only contains meta data diretory .hoodie
the directory tree  is as follows:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Creates a Flink Hudi table
[code]
2. Insert data into the Hudi table
[code]

**Expected behavior**

write hudi t

[2022-11-20 21:18] jklim96 opened #7254 "[SUPPORT] Incremental query performance"
**Describe the problem you faced**

Hi all,
I have a question about the performance of incremental queries. I'm comparing the performance between running incremental queries and simply doing a filter on the `_hoodie_commit_time` column. From initial investigations, it looks like for deltas with a small number of commits, incremental queries are more performant but as we increase the number of comm

[2022-11-21 06:43] xushiyan commented on #7204
tracked in https://issues.apache.org/jira/browse/HUDI-5220

[2022-11-21 06:43] #7204 closed

[2022-11-21 08:02] york-yu-ctw opened #7259 "[SUPPORT] The hudi-flink1.15-bundle on maven repository still not usable"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-11-21 08:03] york-yu-ctw commented on #7259
Error was same as https://github.com/apache/hudi/issues/7047

[2022-11-21 08:32] xushiyan commented on #7259
We should address this in the upcoming 0.12.2. i'll put up a patch

[2022-11-21 08:37] xushiyan commented on #6970
@ft-bazookanu thanks for raising the problems. there are a few points for perf improvements in exporter, for example, the parallelism was not set properly for list partitions and base files to copy. also when copy commit files under `.hoodie/` , it is currently made as serial in a for loop. This jira HUDI-712 was filed long time back and deprioritized. Now we can pick it up since it benefits real

[2022-11-21 09:08] hbgstc123 opened #7260 "[SUPPORT] ClassCastException when use Flink to read array column"
**Describe the problem you faced**

In flink job, when stream reading from hudi table with array type column, see this error
java.lang.ClassCastException: org.apache.hudi.table.format.cow.data.ColumnarArrayData cannot be cast to org.apache.flink.table.data.ColumnarArrayData

**To Reproduce**

Steps to reproduce the behavior:

1.use flink to stream read from a hudi table that contains an array type

[2022-11-21 09:12] danny0405 commented on #7259
@xushiyan Not sure why the package is with avro 1.8.2, i actually hard code the avro version to be 1.10.0 in module hudi-flink and hudi-flink-bundle, is there something wrong with the release publish script ?

[2022-11-21 09:39] ROOBALJINDAL commented on #7064
@nsivabalan I have debugged the code. In HoodieAvroUtils, I checked, firstly it converts avroToBytes, it has schema with record field (primary key) of type Union( null, long ) and then it tries to convert bytesToAvro using record.schema() which has correct record key field of type=LONG instead of union. So this schema field mismatch is causing issue I believe.

In my schema registry, I have record

[2022-11-21 10:06] ROOBALJINDAL commented on #7064
@nsivabalan I debbuged arround the logger you posted. Code is not going in that block because my writeClient is null. Though I checked values of source and target schema and those are fine here. What is writeClient and how do I set it?

Check screenshot while debugging:
![image](https://user-images.githubusercontent.com/7212226/203022981-2387f955-4b1c-48de-89f1-e8bb3d36148a.png)

[2022-11-21 10:09] devanshguptatrepp opened #7261 "[SUPPORT] Meta sync error when trying to write to s3 bucket"
**Describe the problem you faced**

When trying to write data to hudi, my spark application fails with following error

`java.lang.Exception: Could not sync using the meta sync class org.apache.hudi.hive.HiveSyncTool
	at com.trepp.zone.ZoneExecutionHelper.upsert(ZoneExecutionHelper.scala:101)
	at com.trepp.zone.Presentation.$anonfun$writeHudiObject$1(Presentation.scala:92)
	at scala.runtime.java8.

[2022-11-21 10:32] schlichtanders opened #7262 "[SUPPORT] Is it possible to read from a hudi table on S3 with only read privileges?"
**Describe the problem you faced**

First time I try to read from a hudi table in another account. The cross account access is set to read-only.
The read fails with the following error. My interpretation of the error is that hoodie tries to create a `hoodie.properties.backup` file which fails silently because of read-only-rights, however then later hudi somehow assumes that this backup file exists

[2022-11-21 11:44] ROOBALJINDAL commented on #7242
@nsivabalan @xushiyan Is this expected behaviour or there is some configuration for it?

[2022-11-21 12:25] schlichtanders commented on #7262
I looked into the code of HoodieTableConfig. My initial guess seems wrong. Best guess is currently that the read rights are configured wrongly.

[2022-11-21 13:45] schlichtanders commented on #7262
indeed it was, sorry for the confusion

[2022-11-21 13:45] #7262 closed

[2022-11-21 16:36] kazdy opened #7266 "[SUPPORT] Insert into ovewrites existing record with the same key in strict insert mode when no precombine field is specified."
**Describe the problem you faced**

Spark sql insert updates the whole record if the record with same PK already exists in hudi table that has no preCombineField specified and strict insert mode is used.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

There's a difference in behavior when precombine field is specified and Hudi throws an error.
I would expect the

[2022-11-21 16:38] xushiyan commented on #7259
i root caused the issue: this avro model generation is controlled by `avro.version` under `pom.xml`

[code]

because flink 1.15 profile does not overwrite this property, it results in models being generated by avro 1.8.2 (default in `pom.xml`) and not being compatible with the bundle-included version. I verified locally using patch #7265

[2022-11-21 16:38] #7259 closed

[2022-11-21 16:39] #7047 closed, assigned to nobody

[2022-11-21 18:58] kazdy commented on #7266
expected, see
https://hudi.apache.org/docs/configurations#hoodiesqlinsertmode
to change behaviour

`set hoodie.sql.insert.mode=strict;`

[2022-11-21 22:13] kazdy commented on #7266
I think the issue is here:
https://github.com/apache/hudi/blob/b662cf6789cbefb4af3c10dc544c1040ff57cbb3/hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/ProvidesHoodieConfig.scala#L140-L161

In this case, `isNonStrictMode` is `false` and `hasPrecombineColumn` is `false`
so it matches `INSERT_OPERATION_OPT_VAL `
and Hudi uses `OverwriteWithLatestAvroPayload` and does

[2022-11-22 02:47] asankadarshana007 opened #7271 "[SUPPORT] org.apache.hudi.exception.HoodieException: Unknown versionCode:3"
I am using Apache Hudi (Apache Hudi Connector 0.10.1 for AWS Glue 3.0) with AWS Glue.

I initially did a bulk insert and created a table. But now when I try to upsert latest/new data, I get the error `An error occurred while calling o1073.pyWriteDynamicFrame.\n: org.apache.hudi.exception.HoodieException: Unknown versionCode:3`

I see few similar issues raised,

* https://github.com/apache/hudi/iss

[2022-11-22 06:52] danny0405 commented on #7266
Nice analitics, can you follow up here @nsivabalan ? Actually Flink has fixed this long time ago.

[2022-11-22 07:45] devanshguptatrepp commented on #7261
Here is the hoodie config

[code]

[2022-11-22 08:47] waywtdcc opened #7273 "[BUG] Spark reports an error when modifying the schema of the Flink table"
JIRA: https://issues.apache.org/jira/browse/HUDI-5259

[2022-11-22 10:02] scxwhite commented on #7254
Did you use the COW format to test it? You can try MOR format.

[2022-11-22 10:03] ROOBALJINDAL commented on #7064
@nsivabalan Or I suspect here is the bug, it is working fine for FileBasedSchema provider but not with SchemaRegistryBasedSchema. Should it be handled here in SourceFormatAdapter.java method: fetchNewDataInAvroFormat() ? Not sure..

![image](https://user-images.githubusercontent.com/7212226/203285418-3d115721-cca8-4475-a615-ae1dd766dcdb.png)

[2022-11-22 10:04] scxwhite commented on #7254
The incremental query in cow format is almost consistent with your filter conditions.

[2022-11-22 10:45] JoshuaZhuCN opened #7274 "[SUPPORT] How to create a hudi table without suffix in snapshot read mode using SparkSQL"
@YannByron Hello

 https://issues.apache.org/jira/browse/HUDI-4487  this fix to create rt/ro manually，but it forbid to use options(`hoodie.query.as.ro.table` = 'false') in spark sql to create table,

**Now how can i create a hudi table without suffix in snapshot read mode using SparkSQL.**
we just want to use hudi tale like a rdbms table, query a table can read all the data, not using suffix table

[2022-11-22 10:48] dwshmilyss opened #7275 "[SUPPORT] java.lang.NoSuchMethodError: org.apache.hudi.common.table.TableSchemaResolver.getTableAvroSchema(Z)Lorg/apache/avro/Schema;"
When I tried to add an index to a cow table by async in schedule stage，i got this error:
[code]
but i checked hudi-utilities-bundle_2.12-0.11.1.jar ,  and i found out this method was exists。
<img width="1597" alt="image" src="https://user-images.githubusercontent.com/8295288/203294919-a174ab2e-2226-47ad-beb3-1a4ade2ccb25.png">
Please help me  , I would appreciate it.

[2022-11-22 11:17] #6970 closed

[2022-11-22 11:25] xushiyan commented on #7275
@dwshmilyss how did you run the job? would need to know the spark submit job with classpath info

and hudi/spark version info

[2022-11-22 11:59] schlichtanders commented on #4642
@LucassLin @nsivabalan I would also like to use partial updates, however I couldn't find the documentation for mergeinto, it seems to be missing in the current docs

[2022-11-22 12:22] dwshmilyss commented on #7275
oh , my mistake.
spark:3.2.2
hudi:0.11.1
and my command was:
[code]
@xushiyan

[2022-11-22 15:24] #7275 closed

[2022-11-22 17:26] kazdy commented on #7274
Hi,

Table (base one without suffix)  must exist before _ro or _rt table is created with sql DDL.

This works if I create first table without suffix and not use `hoodie.query.as.ro.table` and once that's done I can create _ro and _rt tables:

[code]

[2022-11-22 18:16] xushiyan commented on #7271
Downgrade/upgrade is via hudi cli which is documented here https://hudi.apache.org/docs/cli
it's to run manually, either locally or from another machine. it does not have to go with glue

no, this error was raised from `org.apache.hudi.common.table.HoodieTableVersion#versionFromCode` means the initial bulkinsert was done with hudi 0.10.x which has version code 3, then the later upsert was done by

[2022-11-22 18:16] #7271 closed

[2022-11-22 18:17] xushiyan commented on #7154
closing as downgrade 5 -> 4 was verified

[2022-11-22 18:17] #7154 closed

[2022-11-22 18:46] Gatsby-Lee commented on #3008
@pranotishanbhag
why do you have to use "GlobalDeleteKeyGenerator" to delete records?
For me, I use the same key for INSERT/UPDATE/DELETE for a table.

[2022-11-22 19:55] xushiyan commented on #6808
@schlichtanders the derby url is not following the pattern specified here https://db.apache.org/derby/docs/10.14/ref/rrefjdbc10889.html if you use named attribute like databaseName=xxx, it should go after `;`. otherwise, it should just be `jdbc:derby:memory:default;create=true`

i used below settings to test in-memory derby, which is working

hive-site.xml

[code]

also copy to spark

[code]

then

[2022-11-22 19:55] #6808 closed

[2022-11-22 20:21] jklim96 commented on #7254
We are currently using CoW as some parts of our infrastructure on AWS currently don't allow us to use MoR due to some outdated dependencies.

Would you be able to give some additional information as to why the incremental queries on CoW is analogous to the filter conditions? Also, we're actually seeing worse performance in incremental queries compared to filters on CoW, where filter conditions see

[2022-11-23 01:57] scxwhite commented on #7254
Because the table in Cow format will copy the previous data file every time the data is updated. Although you use incremental queries, it will still read the latest data file and filter the data you need. In principle, I think it is consistent with the filtering of data read from the whole table. Even the performance is not enough, because it can also do some file filtering operations, although it

[2022-11-23 01:59] scxwhite commented on #7254
When most partitions and files in your table are updated, file filtering will degenerate. Incremental query and full filtering are almost identical.

[2022-11-23 02:19] dwshmilyss commented on #7275
@xushiyan The cause of the problem is jar conflicts. It can't put hadoop-mr-bundles in the jars directory of spark, which causes conflicts，I think some classes are colliding in hadoop-mr-boundle and hudi-utilities-bundle。thanks a lot for you help!!!

[2022-11-23 06:48] ROOBALJINDAL commented on #7064
@nsivabalan
We updated the code as follows and built hudi and it worked fine for us now

`return (originalProvider instanceof FilebasedSchemaProvider || originalProvider instanceof SchemaRegistryProvider)`

Can you fix this or add this change in next release if this is not a breaking change?

[2022-11-23 08:18] schlichtanders commented on #6808
Thank you for your help. Your proposed solution still uses an external server.
I am surprised in how many ways one can understand "spark embedded derby hive meta store", apparently the spark/hive/hadoop landscape is very complex.

As already explained in previous comments, our goal is to have maximally self-contained tests, hence starting a hive metastore service on a specific port is **not optima

[2022-11-23 09:48] kazdy opened #7282 "[SUPPORT][Enhancement] Align with Flink to support no_precombine in spark."
**Describe the problem you faced**

In the community I see increasing number of spark users interested in being able to update records on tables without precombine filed.
Flink supports `public static final String NO_PRE_COMBINE = "no_precombine";` (although not documented) for inserts and updates:
https://github.com/apache/hudi/blob/3109d890f13b1b29e5796a9f34ab28fa898ec23c/hudi-flink-datasource/h

[2022-11-23 10:36] lufzhangzitao opened #7283 "[SUPPORT] Schema evolution fails due to NPE with `hoodie.schema.on.read.enable` turned on"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

first, If I use spark ddl

[2022-11-23 10:53] TengHuo opened #7284 "[SUPPORT] Inconsistent reader and writer schema in HoodieAvroDataBlock cause exception"
Related JIRA ticket: https://issues.apache.org/jira/browse/HUDI-5271

**Describe the problem you faced**

When using Spark to create a hudi table with these config,

* INMEMORY or CONSISTENT_HASHING BUCKET index
* Decimal data type in schema
* MOR Hudi table
* Use Spark catalog

It will trigger an exception when query this table.

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

[2022-11-23 11:19] TengHuo commented on #7284
@voonhous and me did some trouble shooting on this issue. And we found it is cased by the difference between writer schema and reader schema at this line:

https://github.com/apache/hudi/blob/76a28daeb08e7192d75dfc447624c827643bef0d/hudi-common/src/main/java/org/apache/hudi/common/table/log/block/HoodieAvroDataBlock.java#L171

Writer schema:

[code]

Reader schema:

[code]

It can be saw in writer

[2022-11-23 12:10] codope commented on #7261
@devanshguptatrepp  I see that you're passing `hoodie.meta.sync.enable=false` in spark-submit command but also setting `hive_sync*` configs in `getCommonConfig`. Do you intend to run hive sync? If so, can you remove the above conf from spark-submit command.

Also, the stacktrace is not very helpful. Is it possible to enable DEBUG logs for `org.apache.hudi`?

[2022-11-23 12:20] TengHuo commented on #7284
After checking, we found this reader schema comes from Spark catalog table here:

https://github.com/apache/hudi/blob/d976671c7bbf6f7603cd219054dcdcee8d0632ba/hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DefaultSource.scala#L222

This issue can be bypass if we using hive catalog. But I think it is not a proper fix solution. So my question is how should we fix this issue?

[2022-11-23 12:37] JoshuaZhuCN commented on #7274
This is not what I need. I only need a table with the original table name but RT table function. I don't need any other tables with suffix names

[2022-11-23 12:45] codope commented on #7266
For COW table, irrespective of whether precombine field is provided or not, PK uniqueness should be guaranteed in case of strict insert mode. Thanks for raising the PR. I'll review it.

[2022-11-23 12:46] JoshuaZhuCN commented on #7274
@YannByron  can i  remove this if condition ? will it  cause any other known problems？

![_T6`}_~L)`_0C%GSWA1 ~@E](https://user-images.githubusercontent.com/62231347/203550444-8b1fc0c5-bf79-4313-9218-b08d461aac9c.png)

[2022-11-23 13:17] codope commented on #7273
Incompatible type change is not allowed (by default). However, the error message says:
[code]
and from the steps mentioned in JIRA, i couldn't figure out from where `_extra_test` field is coming. @waywtdcc can you check how come this field is reported by Hive in the schema? By the way, it would be nice to have all the steps to reproduce in the description of this issue (to avoid switching between

[2022-11-23 13:27] codope commented on #7282
@kazdy This is an interesting proposal. The main role of precombine field is to merge records and deduplicate. To break ties between two records with same key, we can use the latest processing time as a factor. I think a better way would be to provide a configurable precombine strategy class with a default strategy based on event processing time. My suggestion would be to take this up in devlist m

[2022-11-23 13:43] codope commented on #7283
@lufzhangzitao To work around this, you can disable schema on read. Adding a field and compatible data type change is supported by Hudi.

@xiarixiaoyao Can you please take a look at the schema node visitor logic? This NPE looks like a bug in the schema on read feature.

[2022-11-23 14:27] rubenssoto opened #7285 "[SUPPORT] Spark Streaming - Failed to rollback"
Hello everyone,

We have one streaming 24/7 using Hudi COW, we use Spot instances, so, sometimes the machine crash and the streaming is started again.

Hudi: 0.12.1
EMR on EKS: 6.7
Spark: 3.2.1

After two days running the job had these error:

[code]

Do you have any idea what could cause this?

Thank you

[2022-11-23 14:47] soumilshah1995 opened #7286 "[SUPPORT] DyanmoDB Lock provider throws error while writing"
**_Tips before filing an issue_**
### HUDI Dynamodb Concurrency Control

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

* Yes i have been through all Blog post and articles
* https://hudi.apache.org/docs/next/concurrency_control/
* https://hudi.apache.org/docs/configurations/#DynamoDB-based-Locks-Configurations

- Join the mailing list to engage in conversations and get f

[2022-11-23 19:05] nsivabalan commented on #7102
@CrazyBeeline : If you have the metadata table state maintained, can we inspect that. would help us get some insights into where it went out of sync.

[2022-11-23 19:06] nsivabalan commented on #5422
@SabyasachiDasTR : gentle ping.

[2022-11-23 20:55] nsivabalan commented on #6881
@koochiswathiTR : can you share the contents of ".hoodie" and the metadata dir as well. would like to get to the bottom of it.

[2022-11-23 21:01] nsivabalan commented on #6881
also, do you know roughly how many file groups are there per partition?
for eg, if you check commit metadata (.hoodie/2022XXXXXX.commit), it will show how many files are touched as part of the commit. Would like to understand more about the data layout so that we can try to reproduce on our side.

[2022-11-24 01:13] jklim96 commented on #7254
For the 10 commit query which the incremental query took longer for, I've manually checked the files and confirmed that ~1600 files have been touched out of a total of ~14000 files. so the incremental query should theoretically be ~9x faster than the filter, yet we're seeing performance of incremental queries worse than the filter.

From the [Hudi documentation](https://hudi.apache.org/docs/faq/#w

[2022-11-24 01:15] bhasudha opened #7290 "[SUPPORT] Retrospect the use case for GlobalDeleteKeyGenerator"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
GlobalDeleteKeyGenerator i

[2022-11-24 01:38] xiarixiaoyao commented on #7283
@lufzhangzitao
could you pls try  hudi 0.12.
in  hudi 0.11  schema evolution cannot  work  with hoodie.datasource.write.reconcile.schema
@lufzhangzitao @codope
https://github.com/apache/hudi/pull/6017   already  fix   this  bug. i  have test it with  master branch.

[2022-11-24 02:04] JoshuaZhuCN commented on #7274
I found another way to solve my problem. Create a table according to the rule of 0.12, and then use ```alter table set tblproperties ```to realize RT table functions

[2022-11-24 02:15] #7266 closed

[2022-11-24 02:19] bhasudha opened #7291 "[SUPPORT] Ensure `hoodie.datasource.write.keygenerator.type` internally sets `hoodie.datasource.write.keygenerator.class` and respescts the table config validation across all code flows"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
We  have `hoodie.datasourc

[2022-11-24 02:39] TengHuo commented on #7284
The code for reproduce this issue: https://github.com/TengHuo/hudi/tree/HUDI-5271

Just run test case `TestInsertTable`, it should work because I manually insert a read schema in `HoodieAvroDataBlock`. The test case will throw the exception if restore the change in `HoodieAvroDataBlock`.

[2022-11-24 02:40] JoshuaZhuCN opened #7292 "[SUPPORT] a hive-site.xml configuration file in the "hudi-utilities_2.12-0.12.1. jar" file, which causes the spark cluster to fail to access the external hive source normally."
There is a hive-site.xml configuration file in the "hudi-utilities_2.12-0.12.1. jar" file, which causes the spark cluster to fail to access the external hive source normally.

![image](https://user-images.githubusercontent.com/62231347/203681879-16d37960-86a5-4d24-8994-82d71aec07d9.png)

**Environment Description**

* Hudi version : 0.12.1

* Spark version : 3.1.3

* Hive version : 3.1.0

* Hadoop

[2022-11-24 03:46] nikhilindikuzha opened #7294 "[SUPPORT] Different keygen class assigned by Hudi in 0.11.1 and 0.12.1 while creating a table with multiple primary keys"
Hi Team,
whenever I am trying to create hudi table with mutiple primary key , generating :
hoodie.table.keygenerator.class=org.apache.hudi.keygen.SimpleKeyGenerator in hudi .12.1
but the same create statement in hudi .11.1 , keygenerator class as complex one. Any idea ?

Sample code:

` spark-shell \
--packages org.apache.hudi:hudi-spark-bundle_2.12:0.12.1 \
--conf "spark.serializer=org.apache.spa

[2022-11-24 05:21] SabyasachiDasTR commented on #5422
Thanks @nsivabalan  this is resolved with new versions of hudi. Can close this.

[2022-11-24 05:21] #5422 closed

[2022-11-24 07:09] onlywangyh opened #7298 "Hudi use regular match query partition path caused invalid input path was added"
**_Tips before filing an issue_**
Table:
CREATE EXTERNAL TABLE `dm_kafka_rdmp_dw.fvp_core_fact_route_op_hudi_op_new_rt`( `_hoodie_commit_time` string, `_hoodie_commit_seqno` string, `_hoodie_record_key` string, `_hoodie_partition_path` string, `_hoodie_file_name` string, `barrecordid` string, `waybillno` string, `zonecode` string, `opattachinfo` string, `couriercode` string, `baroprcode` string, `

[2022-11-24 07:49] viverlxl opened #7299 "[SUPPORT] sync metadata failed when flink cdc write to hudi"
**Describe the problem you faced**
some err(Caused by: java.lang.NoSuchMethodException: org.datanucleus.store.rdbms.RDBMSStoreManager) found in log when i  use flink cdc strram api write data to hoodie, sync hive metadata had been enabled.

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/35752202/203722441-3e3ccc65-07c9-4f88-9dd6-90d825357c70.png">

flink libs:
<img wi

[2022-11-24 08:50] viverlxl commented on #7299
<img width="1404" alt="image" src="https://user-images.githubusercontent.com/35752202/203727429-624f6ea5-aac6-419e-90fa-c757a61d5e6e.png">  it may be datanucleus-rdbms-*.jar package complict, but i romved datanucleus-rdbms-4.1.19.jar form lib , this err  still here

[2022-11-24 11:57] kazdy commented on #7282
Great, I am not that familiar with the codebase yet. Need to do some research first :)
Is slack the place where I can reach out to you in case of questions @codope?

[2022-11-24 12:12] codope commented on #7284
@TengHuo Thanks for sharing a reproducible test. It does look like a bug. I'll review the patch.

[2022-11-24 12:14] codope commented on #7285
Are there other multiple writers? I am wondering commits after time `20221122225538334` went through.

[2022-11-24 12:21] codope commented on #7286
@soumilshah1995 Can you please share the full stacktrace? Also, I don't see this required config being set https://hudi.apache.org/docs/configurations#hoodiewritelockdynamodbendpoint_url

[2022-11-24 13:13] koldic commented on #7209
The metadata is too big, I've deleted the archive folder and after packing, it has more than 50 MB, maybe I will delete some files and put here only the latest commits?

[2022-11-24 13:18] koldic commented on #7209
[hoodie_meta.tar.gz](https://github.com/apache/hudi/files/10084855/hoodie_meta.tar.gz)

[2022-11-24 15:16] YannByron commented on #7274
@JoshuaZhuCN

It’s a tricky way, not a suitable one. IMO, RO/RT just a query mode to a base table. I will be worry that it is confusing if there are a RT table without `_rt` suffix and a RO table with `_ro` table, or vice versa.

[2022-11-24 17:13] viverlxl commented on #7299
had been solutition

[2022-11-24 20:04] zztttt opened #7302 "[SUPPORT] How can I disable refresh operation in HoodieFileIndex"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I want to query a hud

[2022-11-25 03:22] scxwhite commented on #7254
Perhaps the incremental query degenerates into a full table query. You can check your archive configuration and clean configuration. Determine whether the incremental query record has been cleared. The simplest way is to query the latest commit record and compare it.

[2022-11-25 04:03] danny0405 commented on #7299
Thanks, feel free to re-open it if the problem still exists.

[2022-11-25 04:03] #7299 closed

[2022-11-25 04:06] danny0405 commented on #7282
Yeah, let's have a talk first on dev mailing list or the issues.

[2022-11-25 06:24] onlywangyh commented on #7298
E.g., Table has partition 4 partitions:
year=2022/month=08/day=30, year=20222/month=08/day=31, year=2022/month=07/day=03, year=2022/month=077/day=04
Prefix "year=2022"  we expect return year=2022/month=08/day=30,  year=2022/month=07/day=03, year=2022/month=077/day=04, actual return all partitions, while prefix "year=2022/month=07" we expect year=2022/month=07/day=03, actual output only two partiti

[2022-11-25 07:03] TengHuo commented on #7284
@codope Got it, thanks Sagar.

We are doing more test in Spark 3.1, seems this PR https://github.com/apache/hudi/pull/7297# didn't fixed all issues. @YannByron said there is another fix for a similar issue in https://github.com/apache/hudi/pull/6783. But @voonhous found another similar exception in our pipeline.

[code]

Will attach a test case later if I can figure how to trigger it in the unit t

[2022-11-25 10:01] TengHuo commented on #7284
The exception mentioned above can be triggered with this test case

[code]

The reason of this exception is `null` value in insert data. When there is a null data in data, `HoodieSparkSqlWriter` will do a schema evolution here:

https://github.com/apache/hudi/blob/b6124ff85a107ab170430947a24bc71df8612f1c/hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.sc

[2022-11-25 10:26] devanshguptatrepp commented on #7261
Yes, I was able to retrieve these logs for hudi
[code]

[2022-11-25 10:57] kazdy commented on #7282
I think the goal here would be to have good support for users who want to have something that resembles a table in DWH/RDBMS but use Hudi.
I've seen some new users thinking it's a bug that preCombine is required and it was confusing at first.

So happy path would be to make sure Spark SQL supports a model with PK and no precombine by default.
This would hopefully increase adoption and make the lea

[2022-11-25 13:09] kazdy commented on #7244
Hi @rshanmugam1 how do you read your table?
It looks like both the first and second base files for both commits are being read.
Hudi should only show you records from the base file for latest commit.

[2022-11-25 13:28] soumilshah1995 commented on #7286
Bro I don't have logs, but I tried a lot and it doesn't function as described; you can test it yourself if necessary.
By the way i am a youtuber and i really love Apache Hudi great job on that and thank you for making it open source

[2022-11-25 23:14] JymsD commented on #5558
I am having the same problem, my environment is openjkd 11,
kryo 5.2.1
any suggestions.

[2022-11-26 20:06] rubenssoto commented on #7285
@codope no, only one writer for each table, we have 3 streamings and those 3 are suffering from the same problem, I'll get my configs to share with you.

[2022-11-26 20:11] rubenssoto commented on #7285
[code]

[2022-11-26 20:17] rubenssoto commented on #7285
We are thinking that the problem is in our side, because we have a job to start the streaming when it stop for any reason, I will update you soon.

[2022-11-27 11:30] xushiyan commented on #5558
java 11 is not officially supported. also pls check pom.xml, the supported kryo version is 4.0.2

[2022-11-27 14:47] Gatsby-Lee commented on #7290
@bhasudha thank you for creating this!

[2022-11-28 02:41] TengHuo commented on #7284
**Update**

The code of Avro schema convert was refactored by Alexey in this PR https://github.com/apache/hudi/pull/6358, so I tested this issue based on the latest master d10d987288b868b7ce46a63675776836c53115c6. It is based on the new code of Alexey.

This is the new branch for reproduce this issue: https://github.com/apache/hudi/compare/master...TengHuo:hudi:HUDI-5271-verify2

Run the test case

[2022-11-28 02:51] TengHuo commented on #7284
Hi @codope

I raised a new PR for fixing this issue: https://github.com/apache/hudi/pull/7307
It is also based on the Alexey's fix.

Could you help to review it. Really appreciate.

[2022-11-28 05:14] codope commented on #7302
@zztttt First of all, I would suggest to switch to Hudi version 0.12.0 or later as it has an optimized file index logic due to commit https://github.com/apache/hudi/commit/e7c8df7e8b886261a9b0da7696a75e73eca04f11

Secondly, there is no config today to disable this behavior. But, do you think adding such a config would be valuable?  I think in most common scenarios, users run snapshot queries while

[2022-11-28 05:33] codope commented on #7292
I think hive-site.xml should be excluded otherwise it will cause conflict. Created https://issues.apache.org/jira/browse/HUDI-5285 to track the issue.

[2022-11-28 05:40] codope commented on #7298
@onlywangyh Which version of Hudi and Hive are you using? I just used latest master to run a snapshot query for `_rt` table has a few log files, I was able to query successfully. If you can share the scripts to reproduce the issue, that would be great. Can you please fill the description in the recommended format as below?

**Describe the problem you faced**

A clear and concise description of the

[2022-11-28 05:40] codope commented on #7298
Your query filter is `opcode IN ('50')` so both input dirs are eligible right.

[2022-11-28 05:41] codope commented on #7298
year=2022/month=08/day=30, year=20222/month=08/day=31, year=2022/month=07/day=03, year=2022/month=077/day=04
Prefix "year=2022" we expect return year=2022/month=08/day=30, year=2022/month=07/day=03, year=2022/month=077/day=04, actual return all partitions, while prefix "year=2022/month=07" we expect year=2022/month=07/day=03, actual output only two partitions.

Are you saying the filter is not wor

[2022-11-28 06:43] codope commented on #7294
Looks like the behavior changed in https://github.com/apache/hudi/commit/6fee77b76fa25be677b324804eae9801ca6b9f4c
I think we should keep the complex keygen while overriding timestamp-type handling.
cc @alexeykudinkin @xiarixiaoyao Any idea why did we remove `ComplexKeyGenerator` as base class?

[2022-11-28 06:50] JoshuaZhuCN commented on #7274
one

[2022-11-28 06:52] JoshuaZhuCN commented on #7274
@YannByron  find a problem in this way, we must execute "refresh table xxx" after each data change before we can query the latest data. Otherwise, we can only query the data before the change ( not the data in the base file), which is very confusing.

[2022-11-28 07:44] txl2017 opened #7312 "[SUPPORT]How about add ttlEvent method in BaseAvroPayload"
we use flinksql insert kafka data into hudi, hudi table type is cow and index is bucket.
our data has a field `STATUS`, and `STATUS` value is calculate by Pre-task.
if a record not have any data in 6 minutes, we have to change `STATUS` value to 0.

in this case, whether we can use hudi with ttl like hbase? when data do compact or merge, trigger a ttlMethod.
our idea is that we can add a ttlEvent m

[2022-11-28 09:25] just-JL opened #7314 "[SUPPORT] Caused by: java.lang.IllegalArgumentException: ALREADY_ACQUIRED"
**Describe the problem you faced**

A clear and concise description of the problem.

**To Reproduce**

1.flink sql create table
[code]
2.flink sql insert into
[code]

**Environment Description**

* Hudi version :0.12.1

* Flink version :1.14.0

* Hadoop version :2.6.0

**Stacktrace**

[code]

[2022-11-28 09:43] TengHuo commented on #7284
And I found there is another similar issue in `HoodieCatalogTable#initHoodieTable`

https://github.com/apache/hudi/blob/e088faac9eca747f74a48f12358a3bb6f66c21d5/hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/catalyst/catalog/HoodieCatalogTable.scala#L189

[2022-11-28 14:08] JymsD commented on #5558
Thanks, I tried the suggestion to switch to version 4.0.2 and when I run a test it throws me the following error when deserializing.

java.lang.IllegalAccessError: failed to access class sun.nio.fs.WindowsFileSystemProvider from class sun.nio.fs.WindowsFileSystemProviderConstructorAccess (sun.nio.fs.WindowsFileSystemProvider is in module java.base of loader 'bootstrap'; sun.nio.fs.WindowsFileSyste

[2022-11-28 15:57] codope commented on #6146
Closing due to inactivity and issue not reproducible on master https://github.com/apache/hudi/pull/6318
Please reopen with more details if necessary.

[2022-11-28 15:57] #6146 closed

[2022-11-28 16:00] codope commented on #5539
Closing due to inactivity. Please reopen wth more details as requested in https://github.com/apache/hudi/issues/5539#issuecomment-1125852964

[2022-11-28 16:00] #5539 closed

[2022-11-28 16:04] codope commented on #6315
@15663671003 This is due to cleaner. I would suggest to retain more commits, whiich can be achieved by increasing the value of both the configs you mentioned above.

[2022-11-28 16:43] mtitcomb commented on #5005
What ended up being your issue here? I'm new to Hudi and I'm running into a similar problem.

[2022-11-28 22:06] rshanmugam1 commented on #7244
was using trino + open source hudi to read this.

to simplify this,  tried using spark shell inside the emr, which also gives same thing.
[code]

also,  commit history.  in second commit, it shows only 1 upsert, it should had been 3 right?.
![Screen Shot 2022-11-28 at 2 00 46 PM](https://user-images.githubusercontent.com/42749351/204390497-af2b11f4-e20e-414d-b297-a1219f7182b1.png)

[2022-11-29 02:24] just-JL commented on #7314
My hudi version is 0.12.1, [https://github.com/apache/hudi/pull/6272](url) is already merged. So it can not resolve my problem.

[2022-11-29 02:51] KnightChess commented on #7314
if flink support occ, I think it is a bug @danny0405 . And the lock hudi support  I think is not a reentrant lock

[2022-11-29 03:19] danny0405 commented on #7314
Yeah, seems a bug, we need some flag to indicate whether the lock is required.

[2022-11-29 03:36] just-JL commented on #7314
ok, I'll try

[2022-11-29 03:41] nsivabalan commented on #7294
while we are at it. can you also explore how this change would work for existing tables.
for eg,
with 0.11.0 if a user did not explicitly set the key gen, it would pick ComplexKeyGen.
and if the user upgrades to 0.12.1, wouldn't the default will be chosen as SimpleKeyGen. or is that taken care of already?

[2022-11-29 05:11] just-JL commented on #7314
@danny0405 Please take a look at this pr #7320. If there is a problem, I will update.

[2022-11-29 05:47] codope commented on #7294
Attempted to reproduce with below script (note that I created table with 0.11.1 and did insert with 0.12.1), the issue described by the OP is reproducible but upgrade doesn't override the keygen prop in hoodie.properties.
[code]

[2022-11-29 06:30] codope commented on #7209
Inspected the last clean instant in the above timeline but not hitting the same issue.
[code]

Looks like the offending commit `20221115122551524` is not present in the attached timeline.
Just before the error, we see following logs:
[code]

We need to inspect this commit. @koldic Do you have the above commit info?

[2022-11-29 06:33] codope commented on #7209
Also, to unblock the pipeline, i would suggest to disable the async cleaner temporarily. But, would really love to see what was going on around commit `20221115122551524`. Why wouldn't the commit metadata get deserialized.

[2022-11-29 07:23] JoshuaZhuCN opened #7322 "[SUPPORT][HELP] SparkSQL can not read the latest change data without execute "refresh table xxx""
SparkSQL can not read the latest change data without execute "refresh table xxx" after write the data in datasource mode

**To Reproduce**

Steps to reproduce the behavior:

1. run spark-shell and import class
``` import org.apache.spark.sql.SaveMode ```
2. create like this:
[code]
3. make test data
[code]
4. make hudi datasource options
[code]
5. write data fist time
[code]
6. query in spark sql

[2022-11-29 07:24] #7292 closed

[2022-11-29 07:30] codope commented on #7060
@navbalaraman The issue due to partition field was fixed recently by https://github.com/apache/hudi/pull/7132
Please reopen another issue if it still persists.

[2022-11-29 07:30] #7060 closed

[2022-11-29 07:44] onlywangyh commented on #7298
Thats right. like this

Table has partition 2 partitions:
year=2022/month=08/day=30
year=2022back/month=08/day=31

When query "year=2022",  we only want get year "2022" not the "2022back".
Expect paths  _[year=2022/month=08/day=30]_.
actual paths [year=2022/month=08/day=30,  year=2022back/month=08/day=30]

[2022-11-29 07:48] lufzhangzitao commented on #7283
@xiarixiaoyao
 thx I tried hudi 0.12.1 schema evolution can work with hoodie.datasource.write.reconcile.schema ，
But it seems the hudi document example cannot  work , I try the example  add a new string field and change the datatype of a field from int to long in hudi 0.12.1, will throw  exception :
org.apache.avro.AvroRuntimeException: cannot support rewrite value for schema type: "int" since the

[2022-11-29 08:04] onlywangyh commented on #7298
In hive mapper will check the input file is changed or not, and get nominal path return. In this case mapper inputdir is "hdfs://dw/hive/warehouse/dm/dm_kafka_rdmp_dw/fvp_core_fact_route_op_hudi_op_new/inc_day=20221120/opcode=50" and reader a path like hdfs://dw/hive/warehouse/dm/dm_kafka_rdmp_dw/fvp_core_fact_route_op_hudi_op_new/inc_day=20221120/opcode=501. In this way mapper think input file is

[2022-11-29 08:05] xiarixiaoyao commented on #7283
@xiarixiaoyao
could you  share   you test code.
int  to  long is  covered by UT, it should  worked,
[          spark.sql(s"alter table ${tableName} alter column userx.age type long")](https://github.com/apache/hudi/blob/5b39ac1a02f158b25ba39000271513203dc6bf4c/hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestSpark3DDL.scala#L482)

[2022-11-29 08:19] lufzhangzitao commented on #7283
@xiarixiaoyao

I use spark df add a new string field and change the datatype of a field

    val tableName: String = "hudi_cow_test"
    val tablePath: String = s"D:/data/data/$tableName"

    val schema = StructType(Array(
      StructField("rowId", StringType, true),
      StructField("partitionId", StringType, true),
      StructField("preComb", LongType, true),
      StructField("name", String

[2022-11-29 08:42] danny0405 commented on #7322
@alexeykudinkin Can you take a look, is this related with the FileIndex cache ?

[2022-11-29 09:16] JoshuaZhuCN commented on #7274
https://github.com/apache/hudi/issues/7322

[2022-11-29 09:18] koldic commented on #7209
[20221115122551524.tar.gz](https://github.com/apache/hudi/files/10111581/20221115122551524.tar.gz)

[2022-11-29 09:19] koldic commented on #7209
There should be the commit. I actually had to erase the metadata to get it run again. But I would like to know how to solve the problem without deleting if it comes again.

[2022-11-29 11:00] xiarixiaoyao commented on #7283
@lufzhangzitao
now reconcile cannot support type change,  could you pls raise a jira for this problem, i will fixed it as soon as possible.
[code]

you can also use sql not achieve your goals

[2022-11-29 11:49] HuangFru opened #7325 "[SUPPORT] Spark can not read the hudi table on hive"
**Describe the problem you faced**

https://issues.apache.org/jira/browse/HUDI-3972. I think I met the same problem as this issue, but it's already fixed, right?

**To Reproduce**

Steps to reproduce the behavior:

1. i have some hudi tables in hive which is written by Flink.
2. then i try to read it in spark-sql or spark thrift server, with hive-site.xml in my ${SPAKR_HOME}/conf.
3. then i met th

[2022-11-29 11:56] codope commented on #7298
@onlywangyh Thanks for putting up a PR. While your diagnosis is correct, the solution does not cover all scenarios. The query filter will work on the partition values and IMO we should inspect why some partitions had year=2022xyz. The filtering logic itself seems to be correct.

[2022-11-29 12:04] HuangFru commented on #7325
@alexeykudinkin @nsivabalan
cc

[2022-11-29 13:00] boneanxs commented on #7322
Yes, I think @danny0405 is right. Like Spark file listing, hudi also cache file status to avoid call filesystem repeatedly when listing files. And the cache will be update when you call `refresh` explicitly.

But I'm thinking whether we can hold the number of complete commits as a variable, and decide whether to use the cache or not by comparing if that num is changed or not.[This cannot work if t

[2022-11-29 20:03] kazdy commented on #7244
Anothre thing I see is lack of precombine field set in hudi table, spark requires this field to do updates, otherwise, it might fallback to insert and create duplicates. Maybe it's worth to define precombine field and give it a try?

[2022-11-30 00:28] nsivabalan commented on #6881
unfortunately the log files attached did not have much info to assist in debugging.
I am talking about stderr.2022-10-14-05.txt and stderr.2022-10-14-06.txt.

[2022-11-30 01:51] alexeykudinkin commented on #6278
@lucabem can you please share more details regarding your environment (Hudi, Spark versions)?

[2022-11-30 02:02] praneethh opened #7335 "[SUPPORT] Update only if precombine field of incoming record is greater than the existing record."
Whenever there are late arriving records with lesser precombine field than an existing record which has greater precombine field the new record should be discarded. It should not upsert the current existing record. Also, the record has to be unique across all the partitions

Steps to reproduce the behavior:

1) Preparing the data

[code]
2) Initial load

[code]

3) Initial load output

[code]

4)

[2022-11-30 06:50] zhaizhenhua opened #7338 "A flow task batch task cannot write to the same table at the same time"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
yes
- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Now we use Flink sql+h

[2022-11-30 09:43] lucabem commented on #6278
Hi @alexeykudinkin, Im using hudi 0.12.1 and spark 3.1.2. Im trying to execute this command:
[code]
and when I open spark-ui Environment tab, conf vars appear setted but then when Hudi (Javalin) is executed it throws the exception
[code]

Rigth now, the only solution I have found is reading-writing source parquet using spark 3.1.2 (just read / write) with spark.legacy conf, and then use this parqu

[2022-11-30 09:50] JoshuaZhuCN opened #7341 "[SUPPORT] Fail to insert/upsert to a cow table with bucket index using spark when set "hoodie.index.bucket.engine=CONSISTENT_HASHING"."
Fail to insert/upsert to a cow table with bucket index using spark when set "hoodie.index.bucket.engine=CONSISTENT_HASHING".
it worked when set to default value.

**Environment Description**

* Hudi version : 0.12.1

* Spark version : 3.1.3

* Hive version : 3.1.0

* Hadoop version : 3.1.1

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Docker? (yes/no) : no

**Stacktrace**

[code]

[2022-11-30 14:14] PhantomHunt commented on #6936
Ok Thanks Team Hudi! Will try the solution and let you know.

On Tue, Nov 29, 2022 at 12:45 PM Sagar Sumit ***@***.***>
wrote:

[2022-11-30 17:08] masthanmca123 opened #7344 "[SUPPORT] - Hoodi Delta Streamer - Do not allowing to perform upsert/insert in same partition when there is new column added in source data"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
my source is - ParquetDFSS

[2022-11-30 17:10] masthanmca123 commented on #7344
spark-submit \
  --conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer' \
  --conf 'spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension' \
  --conf 'spark.sql.catalog.spark_catalog=org.apache.spark.sql.hudi.catalog.HoodieCatalog' \
  --packages org.apache.hudi:hudi-spark3.1.2-bundle_2.12:0.11.1
  --name hudi-test \
  --deploy-mode client \
  --jars gs://<Bucket

[2022-11-30 23:27] alexeykudinkin commented on #7325
@HuangFru can you please paste your `hoodie.properties` contents?

[2022-11-30 23:59] alexeykudinkin commented on #6936
Closing this. Please follow HUDI-5291.

[2022-11-30 23:59] #6936 closed