[2021-07-10 08:18] izhangzhihao commented on #3249
[code]

[2021-07-12 13:27] epiaahos commented on #2108
Any Update on this?

[2021-07-13 03:02] izhangzhihao opened #3262 "[SUPPORT] No successful commits under path"
**To Reproduce**

Steps to reproduce the behavior:

code https://github.com/izhangzhihao/Real-time-Data-Warehouse/tree/hudi

###  create table

[code]

### insert from CDC change stream

[code]

**Expected behavior**

[code]

should return results

But got:

[code]

But the sample code works:

[code]

So I didn't get what's wrong here...

**Environment Description**

* Hudi version : 0.9.0 SNAPSHO

[2021-07-13 07:09] Tandoy commented on #3262
Looking at Flink Web-ui, it seems that there is no sink. Is the checkpoint triggered?

[2021-07-13 07:30] izhangzhihao commented on #3262
No, there is no checkpoint history.

[2021-07-13 08:06] mtami opened #3266 "[SUPPORT] Upsert data with an identical record key and pre-combine field"
I am using AWS DMS Change data Capture service to get change data from my database and then using Apache Hudi with AWS glue ETL job to process the change data and create a table in hive. I am using a pre-combine field as a timestamp sent from AWS DMS as when the data was committed (update_ts_dms).

I have few use cases where Insert/Updates and Deletes for the same primary key are having the same t

[2021-07-13 08:13] danny0405 commented on #3266
Thanks for the feedback, i guess this is because our payload does not choose the latest data when the preCombine field are the same. See `OverwriteWithLatestAvroPayload.preCombine`.

[2021-07-13 08:24] Tandoy commented on #3262
If it is streaming writing, please make sure to turn on checkpoint. When the checkpoint is triggered, all data in the memory is flushed out, or a bucket has accumulated to 64MB in memory, or the total buffer size is accumulated to 256MB.

[2021-07-13 08:35] danny0405 commented on #3266
See this PR: https://github.com/apache/hudi/pull/3267

[2021-07-13 09:03] mtami commented on #3266
Thank you @danny0405 for the help.

if i understand well,   the  `OverwriteWithLatestAvroPayload` config is the default and it will render any value set for `PRECOMBINE_FIELD_OPT_VAL`.

but what will happened if i upsert a dataframe that contains two record with same recordKey & preCombine, will this end-up upserting the latest record in the dataframe ?

[2021-07-13 09:08] danny0405 commented on #3266
I will, but only after this patch for `#preCombine` method.

[2021-07-13 12:25] izhangzhihao commented on #3262
Thanks a lot! after config checkpoint dir, it works!

[2021-07-13 12:25] #3262 closed

[2021-07-14 10:06] mtami commented on #3266
Hi @danny0405
do you have estimate time for merging PR: [#3267](https://github.com/apache/hudi/pull/3267) (weeks, days) ?

Thanks,

[2021-07-14 10:53] kushal-luthra commented on #2362
Hi @bvaradar I am still facing this issue while using Hudi Packages (org.apache.hudi:hudi-spark-bundle_2.11:0.8.0,org.apache.spark:spark-avro_2.11:2.4.4 ). I wanted to confirm if this issue has been resolved in Hudi packages or something yet to be done.

[2021-07-14 12:46] jkdll commented on #3113
@n3nash - after further analysis, this issue was solved by upgrading to use Spark 3.x instead of Spark 2, which has better handling for different AVRO types.
Closing this ticket.

Thanks

[2021-07-14 12:46] #3113 closed

[2021-07-15 02:56] danny0405 commented on #3266
Yes, the PR would be merged soon once the CI tests pass.

[2021-07-15 11:20] liujinhui1994 opened #3280 "[SUPPORT] Use structedstreaming to consume kafka to write to hudi error"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-07-15 11:40] liujinhui1994 commented on #3280
[code]

[2021-07-15 11:41] liujinhui1994 commented on #3280
![image](https://user-images.githubusercontent.com/25769285/125782428-87d7d34b-f5b1-4527-a044-c35570c129a1.png)
![image](https://user-images.githubusercontent.com/25769285/125782446-d5b0c8fb-a4d5-487f-9672-871d97106045.png)

[2021-07-15 11:44] liujinhui1994 commented on #3280
![image](https://user-images.githubusercontent.com/25769285/125782669-b6ee2d03-fc27-4d05-94c4-b426e42df81e.png)
![image](https://user-images.githubusercontent.com/25769285/125782722-a214af7d-7599-4611-8026-4f71f549c8e8.png)

[2021-07-15 11:45] liujinhui1994 commented on #3280
<spark.version>2.4.5</spark.version>
    <hadoop.version>3.0.0</hadoop.version>
    <hudi.version>0.9.0-SNAPSHOT</hudi.version>
    <hive.version>2.3.1</hive.version>
    <scala.version>2.11.12</scala.version>
    <scala.binary.version>2.11</scala.binary.version>
    <jcommander.version>1.72</jcommander.version>
    <parquet.version>1.10.0</parquet.version>
    <mysql.jdbc.version>5.1.47</mysql.jd

[2021-07-15 11:47] liujinhui1994 commented on #3280
@n3nash  @nsivabalan
 Can you help me? This problem has troubled me for a week. I tried my best to find the problem, but it still didn't solve it.
Thank you very much~

[2021-07-15 14:33] pengzhiwei2018 commented on #3280
It seems that you have not put the hudi-spark bundle to the $SPARK_HOME/jars

[2021-07-15 14:53] Sunny-Island commented on #3241
I have solved this problem by remove <scope>provided<scope> of avro lib  in pom file.

[2021-07-15 14:53] #3241 closed

[2021-07-15 15:17] liujinhui1994 commented on #3280
No, please take a look at my description. The first batch of the same program can write data normally, but the second batch cannot be written. If it is a jar problem, the problem should also occur the first time.

------------------ Original ------------------
From: pengzhiwei ***@***.***&gt;
Date: Thu,Jul 15,2021 10:33 PM
To: apache/hudi ***@***.***&gt;
Cc: liujinhui ***@***.***&gt;, Author ***@*

[2021-07-16 01:34] liujinhui1994 commented on #2960
@PavelPetukhov
--hoodie-conf hoodie.metrics.pushgateway.host=10.0.0.0
Something like this will do, configure the destination address, no "http" required
cc @n3nash

[2021-07-16 01:37] liujinhui1994 commented on #2960
@PavelPetukhov
--hoodie-conf hoodie.metrics.pushgateway.host=10.0.0.0
Something like this will do, configure the destination address, no "http" required
cc @n3nash

[2021-07-16 01:50] FelixKJose opened #3283 "Spark Structured Streaming Pipeline on Hudi Source Table Failing"
I have been trying to run a Spark Structured Streaming Pipeline on a Hudi MOR source table (Silver Bucket) to Golden Bucket (Hudi). But its failing with following exception:

[code]

Code used:
[code]

**Environment Description**
Running it locally

* Hudi version : 0.8.0

* Spark version : 3.0.2
* Hive version :

* Hadoop version : 3.2

* Storage (HDFS/S3/GCS..) : Local File System

* Running on

[2021-07-16 13:29] MikelDelTio commented on #2688
Same problem here using emr-6.3.0 and hudi 0.7.0.

Spark Session:
[code]

Stacktrace:
[code]

Any recommendation? Thank you.

[2021-07-16 21:07] vinothchandar commented on #3283
@FelixKJose Setting up pyspark environment locally. Usually use scala. On it though

[2021-07-16 21:27] vinothchandar commented on #3283
Reproduced this.  It's a schema mismatch issue, where meta columns are not factored in.

[code]

[2021-07-16 21:46] vinothchandar commented on #3283
[code]

[2021-07-16 21:48] FelixKJose commented on #3283
Oh I see, thank you for helping on this. I will try it and close the issue

[2021-07-16 22:10] vinothchandar commented on #3283
I pumped more writes and can see new batches of data

[code]

[2021-07-16 23:38] FelixKJose commented on #3283
Yes, it worked. Thank you @vinothchandar

[2021-07-16 23:38] #3283 closed

[2021-07-19 02:47] chenshuai1995 commented on #143
Please add me to slack group
Email: chenshuai19950725@gmail.com
Thanks

[2021-07-19 06:44] zxding commented on #3242
You project does not connect hive metastore because hive-site.xml does not take effect

[2021-07-19 06:45] zxding opened #3297 "HoodieMetadataException throwed when execute merge and hoodie.metadata.enable='true'"
at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
		at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
		at org.apache.spark.scheduler.Task.run(Task.scala:123)
		at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
		at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
		at org.apache.spark.executo

[2021-07-19 07:34] novakov-alexey commented on #1977
Trying with the following settings, unfortunately it does not work:

--extra-jars  s3://glue-extra-jars-etljobs/httpclient-4.5.13.jar,s3://glue-extra-jars-etljobs/hudi-spark-bundle_2.11-0.8.0.jar,s3://glue-extra-jars-etljobs/spark-avro_2.11-2.4.3.jar

[code]

[2021-07-19 16:05] chb777777 opened #3301 "[SUPPORT] Deltastreamer cannot pattern match from AWS s3 files with wildcard"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I want

[2021-07-20 16:35] mkk1490 opened #3313 "[SUPPORT] CoW: Hudi Upsert not working when there is a timestamp field in the composite key"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A batch

[2021-07-21 19:36] nmukerje opened #3321 "[SUPPORT] Setting _hoodie_is_deleted column is not deleting records when using Spark DataSource."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I a

[2021-07-21 21:47] vinothchandar opened #3323 "[SUPPORT] Trouble with Point in time, Incremental queries"
**Describe the problem you faced**

A clear and concise description of the problem.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment Description**

* Hudi version :

* Spark version :

* Hive version :

* Hadoop version :

* Storage (HDFS/S3/GCS..) :

* Running on Docker? (yes/no) :

*

[2021-07-21 21:48] vinothchandar commented on #3323
@nsivabalan could you please take a look at this?

Felix reported this on slack.

I am really confused on incremental query on MOR table: From all the documentation I have seen we get the records that is changed from given begin time via an incremental query. But I am getting following behavior any insights?
schema: {id: int, value = int}
Inserted 10 records at time T1
 2. Updated record with id =

[2021-07-21 23:13] conanxjp opened #3324 "[SUPPORT]Slow Performance With Spark Structured Streaming"
**Describe the problem you faced**
We are trying to POC Hudi with our existing streaming job which consumes from AWS Kinesis Data Stream, and deliver as parquet in S3. The job is running continuously in an AWS EMR cluster. With the EMR size, and input rate of 70 record/s, the streaming job should be able to process above 200 record/s. But when output as Hudi, it can only process ~ 15 record/s.

Wh

[2021-07-22 01:55] nsivabalan commented on #3321
May I know whats the schema of your table. do you set default value for "_hoodie_is_deleted" as false?

[2021-07-22 01:59] nsivabalan commented on #3321
I see that you are using bulk_insert operation. Don't think w/ bulk_insert we honor the _hoodie_is_deleted. Can you try setting your operation to "upsert".

[2021-07-22 02:01] nsivabalan commented on #3246
yes, this is a known limitation I guess. @n3nash : Can you confirm and add more if any.

[2021-07-22 02:01] nsivabalan commented on #3236
Let us know if you have any more questions. if not, will close the ticket.

[2021-07-22 02:23] nsivabalan commented on #3323
I guess its bcoz, you don't have a higher preCombine value for new commits made. I see that all your preCombine is set to same value. Can you try it out and let me know.

my local trail:
https://gist.github.com/nsivabalan/d75f3f948c5f01a0b3454b986c3b9fe6
output:
[code]

[2021-07-22 02:25] nsivabalan commented on #3323
Hudi uses preCombine to merge records from multiple log blocks fyi, but uses combineAndGetUpdateValue() when merging base file w/ the merged records from log.

[2021-07-22 02:35] nsivabalan commented on #3323
my bad. looks like you do have a high preCombine value. Just that the datatype is different from what I have tried.
may I know what was the datatype of "ts" column in hudi table ?
I am looking to reproduce w/ spark shell.

[2021-07-22 03:46] nsivabalan commented on #3323
I delved deeper and found the root cause. Could be a bug in code. But surprised how come we have not encountered this so far.
When we construct the records back from disk (log blocks), we use [reflection to instantiate the payload](https://github.com/apache/hudi/blob/5a94b6bf54b18739da55ebde10adf93f133e3204/hudi-common/src/main/java/org/apache/hudi/common/util/SpillableMapUtils.java#L116). And we

[2021-07-22 03:55] nsivabalan commented on #3323
@vinothchandar : Do you know the reason why it was designed this way?

[2021-07-22 04:06] nsivabalan commented on #3323
This fix worked for me locally: https://github.com/apache/hudi/pull/3325

[2021-07-22 04:29] nsivabalan commented on #3313
AFAIK, CustomKeyGenerator does pick field values as is. don't think it does any timestamp related conversion.
Can you confirm that during bulk_insert the claim_subm_dt field value was "2020-11-21 00:00:00.0", and while you upserted it was "1605916800000000". I mean in the incoming df.

[2021-07-22 04:31] nsivabalan commented on #3313
Would you mind giving me steps to reproduce w/ some sample data. guess handful of records should be good enough to reproduce.

[2021-07-22 05:03] #3236 closed

[2021-07-22 07:25] mkk1490 commented on #3313
@nsivabalan during bulk_insert as well as insert for the first time into the table, the hoodie_key value was in timestamp. But during the upsert operation, it was converted into long. I even added a step just before write to convert to timestamp. It still didn't work. But when the field's datatype is date, this issue didn't come up.

Sample data with original code:
1. Hive external table with loca

[2021-07-22 10:41] fengjian428 opened #3327 "[SUPPORT] ingetst avro nested array field error occur"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

whe

[2021-07-22 13:09] codejoyan commented on #2620
**Problem Statement:** I am using COW table and receiving roughly 1GB of incremental data. The batch has data quality check and upsert. Attached is the spark UI stages screenshot:
<img width="1512" alt="Screenshot 2021-07-22 at 6 11 33 PM" src="https://user-images.githubusercontent.com/48707638/126643808-dadfce60-1ee2-4c3d-9620-d760af0cd802.png">

- The record key is complex. It is a composite key

[2021-07-22 14:14] FelixKJose commented on #3323
Thank you @nsivabalan. I tried the 'ts' as string and then as timestamp, both has the same issue.  And from you recent message it seems as an existing issue?

[2021-07-22 20:53] vinothchandar commented on #3323
@nsivabalan Not sure. I think this code is assuming later commit times imply higher precombine field. Not sure if we actually persisted the precombine field in hoodie.properties in prior releases actually. the precombine field was mostly used as a way to de-duplicate input. We have not had at-least 2-3 issues where users also expect it to be respected against storage.

[2021-07-22 21:21] nsivabalan commented on #3323
hmmm, I get it. spark sql support started persisted preCombine field in table props and hence it worked for me.
I am not sure if felix tried. but I tried it locally and the fix worked.

[2021-07-22 21:30] nsivabalan commented on #3323
Actually another patch which has this fix already https://github.com/apache/hudi/pull/3267 in review. We can sync up sometime on this to see how to go about it

[2021-07-22 21:31] FelixKJose commented on #3323
@vinothchandar @nsivabalan The later commit times are higher actually in my example. So why do you think it was not getting the latest?

[2021-07-23 02:41] liujinhui1994 commented on #3280
Is there a partner who can help me?

[2021-07-23 16:39] FelixKJose commented on #3323
@nsivabalan is this only a problem in 0.8.0 version or older version as well?

[2021-07-23 22:53] mithalee opened #3336 "[SUPPORT] Delete not functioning with deltastreamer"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-07-24 00:39] vinothchandar opened #3337 "[SUPPORT] Trouble getting yyyy/mm partitioning to work with Hive sync"
**Describe the problem you faced**

Hi, everyone! We ingest data with options:
[code]

Field time is in format 2021-05-16T21:36:39Z. We want for some table to have partitions by yyyy/MM, because they are small and there is no need in deep partitioning. But we have a problem with run_sync_tool.sh. What did we try:
1. --partitioned-by time obviously didn’t help
2. --partition-value-extractor org.apa

[2021-07-24 01:04] vinothchandar commented on #3337
Have you tried
[code]
if you look at this code below, it extracts the partition values from the folder path and adds year month as the partition columns?

[code]

[2021-07-24 05:19] nsivabalan commented on #3337
If vinoth's suggestion, does not work, do let us know. Might have to investigate further.

[2021-07-24 05:31] nsivabalan commented on #3336
have you configured your record keys and partition path correctly ?
I see from your configs, you have given "two" for all 3 configs(record keys, partition path and preCombine).
Ideally all these should be referring to 3 different columns in incoming dataframe.

[2021-07-24 05:32] nsivabalan commented on #3336
Also, have you tried doing an update in general. Once that succeeds, then we know delete has some issue. but if update is failing, then could be some config issue or we might have to investigate further.

[2021-07-24 05:53] nsivabalan commented on #3280
I could see two exceptions from your stacktrace:
1. Caused by: java.lang.ClassNotFoundException: org.apache.hudi.DefaultSource
2. User class threw exception: org.apache.spark.sql.streaming.StreamingQueryException: Invalid value org.apache.kafka.common.serialization.ByteArrayDeserializer for configuration key.deserializer: Class org.apache.kafka.common.serialization.ByteArrayDeserializer could not

[2021-07-24 06:07] nsivabalan commented on #3313
Can you confirm something.
I see that you have "src_pri_psbr_id" as part of your record key fields. So, I was expecting to update a record, you will not touch any of the fields that are part of the record key. If not, these are considered as completely different records. But looks like you are updating this field and expect hudi to treat it as an update.

[2021-07-24 06:59] mkk1490 commented on #3313
@nsivabalan I'm so sorry. That's my mistake. I'm trying to update the next field to src_pri_psbr_id which is pri_az_cust_id. Please find the dfs below:

Insert:
df_ins = spark.createDataFrame([
('10490113453106300000','561295328','2018-02-26 00:00:00','129999','18078735','15889231','OTHER PLACE OF SERVICE','53200900','RESP','201802'),
('10490120407605900000','559017519','2018-02-26 00:00:00','2429

[2021-07-24 07:11] nmukerje commented on #3321
I am not using bulk insert for the upsert/delete. I am just bulk insert for Step 1 to stage some records.

The notebook is public so you can run the cells/oode. The schema is below and yes, I am re-Inserting the initial records with _hoodie_is_deleted set to "false" as well in Step 4.

[code]

[2021-07-24 16:34] codejoyan commented on #2620
Some additional details for the above runs.
1. The configs I am using - REGULAR BLOOM.
2. Max  and Min file size in older partitions - 116 MB and 6 MB respectively
3. Avg record size - 50 bytes
4. Avg no of data files in older partitions - Between 157 to 225

I then changed the configs as below to have roughly 100k entries per file. But the performance is worse now. It basically gets stuck. Attach

[2021-07-26 08:16] ziudu opened #3344 "[SUPPORT]Best way to ingest a large number of tables"
Dear,

We're new to Hudi and we would like to know which the best way is to ingest a large number of tables. For example, in the production environment, we have about 70 mysql databases with >1000 tables in total. We'd prefer them all to be ingested with continuous mode in the spirit of data lake.

 - option 1, deltastreamer : each table requires a single deltastreamer, so it consumes too much res

[2021-07-26 14:08] GitSpree23 opened #3346 "[SUPPORT] Bad Request for s3a target in DeltaStreamer"
**The Problem**

I'm getting a `Bad Request` response when trying to run a spark job to push data from remote Kafka source to S3 bucket using DeltaStreamer. I'm mostly following the latest Docker Setup documentation & S3 Filesystem doc on https://hudi.apache.org/ with the few changes mentioned below...

**Additional Info**

- I've tried changing to the compatible versions of aws packages to `com.a

[2021-07-27 00:46] canomh opened #3349 "[SUPPORT] request to add an example of flink in hudi-examples module with java"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-07-27 02:26] danny0405 commented on #3349
That's reasonable, what kind of example do you want, the SQL or DataStream ?

[2021-07-27 02:51] canomh commented on #3349
Table API&SQL is fine,  DateStream is better.

[2021-07-27 02:53] danny0405 commented on #3349
Sure, we would fire a PR soon ~

[2021-07-27 03:26] liujinhui1994 commented on #3280
1. No changes to any kafka-related configuration, or any other configuration
2. I am using structuredstreaming not hudi-deltastreamer

[2021-07-27 04:36] mithalee commented on #3336
I changed the input data set a bit so that I can provide 3 different fields for the 3 differnt mentioned configs.
./spark-submit --master k8s://https://..sk1.us-west-1.eks.amazonaws.com
--deploy-mode cluster
--name spark-hudi
--jars https://repo1.maven.org/maven2/org/apache/spark/spark-avro_2.12/3.1.1/spark-avro_2.12-3.1.1.jar
--class org.apache.hudi.utilities.deltastreamer.HoodieDeltaStreamer
--c

[2021-07-27 04:39] mithalee commented on #3336
Does the source ordering config and precombine field has to be a timestamp field?
![image](https://user-images.githubusercontent.com/64560358/127096311-937eec6b-94f5-4a96-a77b-0aac118b5224.png)

[2021-07-27 06:47] codope commented on #3349
@danny0405 Please move/create a JIRA under this ubrella ticket https://issues.apache.org/jira/browse/HUDI-2224. Feel free to add more sub-tasks here.

[2021-07-27 12:41] codope commented on #3346
@GitSpree23 Can you try to set the following options while submitting deltastreamer job.
[code]

I have not yet had chance to reproduce this issue. But, apart from setting `fs.s3a.endpoint`, it seems we need to set extra options if you're on an older version of aws sdk. Refer: https://stackoverflow.com/a/57928724

[2021-07-27 13:54] GitSpree23 commented on #3346
That worked, thanks!

Unfortunately, I'm getting the following error:
[code]

Am I missing some steps here? I've simply created an s3 bucket & am pointing to it...

[2021-07-28 02:03] danny0405 commented on #3336
Not necessary, a `Comparable` is enough.

[2021-07-28 03:51] springMoon opened #3358 "[SUPPORT] Hudi hive dependency conflicts with flink hive catalog dependency"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

hudi hi

[2021-07-28 04:16] codope commented on #3346
Quoting from the user on Slack:

Closing the issue.

[2021-07-28 05:04] #3346 closed

[2021-07-28 08:53] liujinhui1994 commented on #3280
The latest discovery is that when I turn off hive sync I don't get the above error, when I turn it on I get the above error
@nsivabalan

[2021-07-28 09:40] codope commented on #3336
@mithalee Can you try with the latest master branch? I built the master code and tried to reproduce the scenario in a local docker environment. It runs fine. For example, after first ingest, you can see `_hoodie_is_deleted` is false for both timestamp and after second ingest (in which I set `_hoodie_is_deleted` to true for a timestamp), it is present only for one timestamp.
[code]

My schema is si

[2021-07-28 11:54] mkk1490 commented on #3313
@nsivabalan Update: The timestamp field get converted to long in hoodie_key as below:

![image](https://user-images.githubusercontent.com/16716227/127317865-04c77073-b950-42cc-80b5-9659481c43c2.png)

This conversion takes place when the write operation is insert/upsert. But when we do a bulk_insert, this value remains as timestamp. I can't say whether this is an issue with insert/upsert or with bu

[2021-07-28 11:59] codope commented on #3321
@nmukerje I could not to reproduce the issue in my local setup. Only difference from your setup is that I am using the current master branch of Hudi and Spark is 3.0.1 instead of 3.1.1. Can you try with master?

[2021-07-28 15:22] codope commented on #3313
@mkk1490 I agree with your observation. I am able to reproduce the issue. Still debugging.

[2021-07-28 15:27] nsivabalan commented on #3313
Can you try disabling row writer for bulk_insert.
'hoodie.datasource.write.row.writer.enable': 'false'.
Just to narrow down the issue.

[2021-07-28 15:43] vinothchandar commented on #3280
@codope can we do a git blame of the spark bundle to see what has changed since?

[2021-07-28 16:08] codope commented on #3358
@swuferhong Can you please take a look? Wasn't this recently fixed in https://issues.apache.org/jira/browse/HUDI-2136
cc: @danny0405

[2021-07-28 17:23] nmukerje commented on #3321
Interesting! Trying it...

[2021-07-28 20:40] nsivabalan commented on #3336
It would be a regression if its failing in 0.8.0 bcoz, don't think we touched this path in 0.8.0. @codope : Can you please test it out w/ 0.8.0.

[2021-07-29 00:06] mithalee commented on #3336
Sure.I will try and get back to you.

[2021-07-29 12:21] AyatKhraisat commented on #2564
I have the same issue we are using the following config
`

commonConfig = {
    'className': 'org.apache.hudi',
    'hoodie.datasource.hive_sync.use_jdbc': 'false',
    'hoodie.table.name': table_name,
    'hoodie.consistency.check.enabled': 'true',
    'hoodie.datasource.hive_sync.database': hive_database,
    'hoodie.datasource.hive_sync.table': hoodi_table_name,
    'hoodie.datasource.hive_sync

[2021-07-29 14:19] affei commented on #3337
It didn't help. But the error is weird
![a735-797f-bf06-d02a](https://user-images.githubusercontent.com/14331806/127508597-5cf17fc5-b7eb-488a-9d3f-9ae865378989.png)

[2021-07-29 14:20] codope commented on #3344
cc @pratyakshsharma  Any particular reason we don't support MOR in HoodieMultiTableDeltaStreamer. What will it take to support it?

cc @n3nash , any better way than option 3 that you could suggest?

[2021-07-29 14:55] springMoon commented on #3358
sorry， i  fix in https://issues.apache.org/jira/browse/HUDI-2136, i don't pull the new commit.

[2021-07-29 14:55] #3358 closed

[2021-07-29 16:50] codope commented on #3327
@fengjian428  I will try to reproduce this. Please take a look at https://hudi.apache.org/docs/writing_data.html#schema-evolution
The exception says that 'array' field not found. Was the scehma changed in between and there are partitions with older schema as well?

[2021-07-29 18:18] nsivabalan commented on #3337
cool, thanks.

[2021-07-29 18:18] #3337 closed

[2021-07-30 02:10] fengjian428 commented on #3327
no，I can reproduce it with new table

[2021-07-30 04:54] mkk1490 commented on #3313
@nsivabalan I set the row_writer property to False and ingested the data. Now, timestamp gets converted to their respective epoch seconds and long datatype in hoodie_key
![image](https://user-images.githubusercontent.com/16716227/127602181-65d0075d-4757-4280-aa51-75592fb03fa8.png)

This actually solves my issue since during upsert, the key would be in sync with the IDL key. But bulk_insert with ro

[2021-07-30 05:21] ziudu commented on #3344
We made a few POC and found:

1. java-client didn't support MOR either so we would not use it.
2. Multitabledeltastreamer did not work correctly in continuous mode. It did work somehow for MOR in single-run mode, but we preferred not to use it as the doc said MOR was not supported. Plus, multitabledeltastreamer runs ingestions in serial mode, not in parallel mode.

For the moment, we will stick to

[2021-07-30 06:45] ydvpankaj99 commented on #143
Please add me to hudi slack group :)
Email:-  yadavpankaj9900@gmail.com
Thanking you!!

[2021-07-30 11:03] Guanpx commented on #3323
master also have this problem, maybe all version as well

[2021-07-30 12:37] codope commented on #3327
@fengjian428 I could reproduce this and I believe this is a bug in parquet-avro. See following open issues:
https://issues.apache.org/jira/browse/PARQUET-1254
https://issues.apache.org/jira/browse/PARQUET-1681

[2021-07-30 13:45] nsivabalan commented on #3313
cool. so we know the root cause atleast. @codope is looking into it. we should have a fix soon.
@mkk1490 : So, just to summarize, if not for row writer path, things are working fine for you. But bulk_insert perf is not meeting your SLA. So, we need to fix the bulk_insert row writer path for this key gen issue.

[2021-07-30 14:17] dude0001 commented on #2409
I'm seeing the same error on 0.8.0. I am using this with AWS Glue (managed) ETL jobs and trying to sync the Hudi metadata to Glue Data Catalog. This happens the first time I run my job and it is trying to create the tables in the Glue Data Catalog. I suspect there is a permissions issue or there is schema evolution being detected that isn't supported with my setup.

I'm getting an additional error

[2021-07-30 15:47] fanxinglanyu commented on #3323
I ran into the same problem of doing an update operation in the original database and then using Spark to do an incremental query and found that the query time was not the actual point in time. For example, the actual Parquet file is the result of the Hadoop command query（the actual:4fe43850-4be8-447f-827e-edfdba44adb
4-0_0-341-295_20210730142459.parquet）, but the incremental query result is

`jav

[2021-08-03 11:18] springMoon opened #3392 "[SUPPORT] Compile hudi master with hive version 2.1.1 error"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Compile

[2021-08-03 14:00] nsivabalan commented on #2409
@dude0001 : just to confirm, you are also facing the issue only w/ spark streaming is it?

[2021-08-03 14:00] nsivabalan commented on #2409
@rmahindra123 : Do you mind taking a look at this. let's sync up sometime today.

[2021-08-03 14:17] nsivabalan commented on #3301
@garyli1019 : can you please take this up.

[2021-08-03 14:17] dude0001 commented on #2409
@nsivabalan that is one difference in my duplication steps. I am currently not using a Spark Streaming job. I'm reading from our raw zone in S3 that contains parquet files containing change data capture events from transactional databases. I'm trying to upset our cleansed zone also in S3 so that it contains the latest version of each row. If I turn off sync, it works fine otherwise.

[2021-08-03 14:20] dmenin opened #3394 "[SUPPORT] Question on hudi's default behaviour for UPSERT"
Hello everyone.

I have a quick question about hudi’s default behavior.
I want to understand how UPSERT works for the same key in different scenarios.
I am using ‘GLOBAL_SIMPLE’ index, which, from my understanding, tries to enforce uniqueness across all the partitions.

The scenario is really straight forward: based on a timestamp, I want new data to be upserted and old data to be ignored.
The dat

[2021-08-03 14:25] nsivabalan commented on #3344
@ziudu : I understand you have 1000 tables on the source side. And does each of this map to separate hudi tables? I am trying to understand if you are looking at multi-writer on the hudi end or just ingestion from 1000 source tables to 1000 hudi tables sort of.

[2021-08-03 14:40] nsivabalan commented on #3191
my hunch is that, your local spark version is 3.0.0 or higher. Can you try with 2.4.5.

[2021-08-03 14:42] nsivabalan commented on #3107
awesome find! thanks.

[2021-08-03 14:42] #3107 closed

[2021-08-03 14:43] nsivabalan commented on #3095
@umehrot2 @zhedoubushishi : can you folks help out here. or loop in someone.

[2021-08-03 14:56] nsivabalan commented on #3077
@karan867: sorry for the delay. let me try to help you out.
@abdulmuqeeth : Can you please file a new github issue and CC me in that. lets not pollute the same github issue. But feel free to follow for any pointers.

@karan867 : coming back to your use-case.
1. Whats your max parquet size you are setting ? If its default, then its 120Mb files.
2. Whats your avg record size? This will help determin

[2021-08-03 14:59] nsivabalan commented on #2936
@shenbinglife : Did you get a chance to try it out

[2021-08-03 15:01] nsivabalan commented on #2409
@dude0001 : Hey if you don't mind, can you create a new github issue. do not want to pollute this issue. since yours is not spark streaming. We can add a link to this issue calling it out as related.

[2021-08-03 15:09] nsivabalan opened #3395 "[SUPPORT] Issues with read optimized query MOR table"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-08-03 15:11] nsivabalan commented on #3395
ambarish: Can you try with spark2.11. Can you give us the spark-shell launch command as well.

[2021-08-03 15:58] Ambarish-Giri commented on #3395
Hi @nsivabalan , I am having a hudi setup in my windows laptop currently.
I am in the evaluation phase.
I running my spark program using spark.read() as mentioned above.

Below is the code snippet for write and read:

df.write
      .format("hudi")
       .option(DataSourceWriteOptions.TABLE_TYPE_OPT_KEY, DataSourceWriteOptions.MOR_TABLE_TYPE_OPT_VAL)
       .option(DataSourceWriteOptions.KEYGENER

[2021-08-03 16:07] Ambarish-Giri commented on #3395
I am not using Hive, Hadoop or any Cloud storage(S3,HDFS OR GCS) in the current setup.
In windows laptop, I have just just pointed HADOOP_HOME  to the directory having winutils.exe.

[2021-08-03 16:30] Ambarish-Giri commented on #3395
I have tried with scala 2.11 as well its giving the same exception:

Exception in thread "main" org.apache.hudi.exception.HoodieException: Invalid query type :read_optimized
	at org.apache.hudi.DefaultSource.createRelation(DefaultSource.scala:81)
	at org.apache.hudi.DefaultSource.createRelation(DefaultSource.scala:46)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSo

[2021-08-03 18:01] nsivabalan commented on #3297
@prashantwason @n3nash : can you take this up.

[2021-08-03 18:03] nsivabalan commented on #3395
Can you paste the spark-shell launch command please?

[2021-08-03 18:11] nsivabalan commented on #3394
yeah, with global index use-case, especially when there is a clash between two records just wrt partition path, depending on the [config value](https://hudi.apache.org/docs/configurations#bloomindexupdatepartitionpathupdatepartitionpath--false) set, hudi does either of these two.
a. delete existing storage record in old partition and insert to new partition
or
b. update incoming record to same old

[2021-08-03 19:39] mithalee commented on #3336
@codope Hi, I did try the HoodieDeltaStreamer on below version of EMR:
Release label:emr-6.3.0
Hadoop distribution:Amazon 3.2.1
Applications:Tez 0.9.2, Spark 3.1.1, Hive 3.1.2, JupyterHub 1.2.0, Sqoop 1.4.7, Zeppelin 0.9.0, Hue 4.9.0, Presto 0.245.1
HUDI Utility: https://mvnrepository.com/artifact/org.apache.hudi/hudi-utilities-bundle_2.12/0.8.0
The HoodieDeltaStreamer works as expected(upserts/de

[2021-08-03 21:47] #2935 closed

[2021-08-04 01:27] nsivabalan commented on #2409
oh, btw COW does not have two tables. only MOR has two tables.

[2021-08-04 04:17] sannidhiteredesai opened #3399 "[SUPPORT] How to purge older partitions in hudi partitioned tables ?"
**Question:** How to purge older partitions in hudi partitioned tables ?

**Scenario:**
- I have a partitioned table in which new partition will be created on daily basis.
- If everyday a new partition is created the number of partitions will keep on increasing.
- We might have to purge older partitions (Eg: Older than 1 month).

**What is the best way to achieve this in hudi ?**
I see that just d

[2021-08-04 04:19] Ambarish-Giri commented on #3395
Hi @nsivabalan ,

I am not executing the spark job from spark-shell ....I am running the spark driver program from Intellij IDE.

By spark-shell launch command I am little confused ....
Do you mean  how I launch spark-shell or spark-submit command to run the program?

[2021-08-04 05:17] garyli1019 commented on #3301
hello @chb777777 , ParquetDFSSource doesn't support wildcard. You can define a root path and set up a sourceLimit to each run. Delta Streamer will load files based on their latest modification time. You could check the code of `ParquetDFSSource.fetchNextBatch()` for more details.

[2021-08-04 06:55] karan867 commented on #3077
@nsivabalan Thank you for the reply.
Please find the answers to the above questions

1. I am using the default file size. I tried decreasing it to 60 MB but that increased the write time by 2-4 mins.
2. Avg record size is 1 KB to 2 KB.
3. I did not specify this for most of my write experiments. The default value is 500000.  In some of the experiments, I tried reducing it to 50000. This did not hav

[2021-08-04 07:52] dmenin commented on #3394
Hi Sivabalan,
Thanks very much for taking the time to reply.
A few questions:

1) the config value you linked seem to only applies to GLOBAL_BLOOM index. I am using GLOBAL_SIMPLE, so I don’t think it applies to my case.

2) You mentioned “preCombine”. My understanding is that preCombine works before the write…. If I have two records with the same key, preCombine will choose the one with largest va

[2021-08-04 08:13] mkk1490 opened #3400 "[SUPPORT] CoW table data size increasing x times the original data size for x number of runs"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Existing

[2021-08-04 15:39] codope commented on #3280
@liujinhui1994 I tried to reproduce this locally but for me the streaming ran fine. My setup is Spark 2.4.7, Hadoop 2.7.3 and Hive 2.3.7. I tried for both COW and MOR table
[code]

Could you try again with the latest master?

[2021-08-05 03:34] nsivabalan commented on #3395
yes, For eg, something like this
[code]
Ref: https://hudi.apache.org/docs/quick-start-guide

Also, is your production env(eventually) going to be windows? If not, I would recommend you to try it out in EMR or some cluster, as those are well tested environments. I am not sure if hudi is tested end to end in windows. Just a suggestion.

[2021-08-05 03:41] nsivabalan commented on #3399
WriteClient has support for [deletePartitions](https://github.com/apache/hudi/blob/1df5ded433eced3bbb66137bc741e616beab9a70/hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/SparkRDDWriteClient.java#L257). But looks like we have not added the support to spark data source yet.
Are you using spark datasource?

[2021-08-05 03:47] Ambarish-Giri commented on #3395
Sure @nsivabalan eventually our test and prod environment will be EMR only. But before doing actual testing and derive the benchmarking metrics as I said earlier just evaluating Hudi to explore all its features in my local setup.

But for now below are the libraries I am using :
libraryDependencies += "org.apache.spark" %% "spark-core" % "2.4.7"
libraryDependencies += "org.apache.spark" %% "spark-

[2021-08-05 06:12] liujinhui1994 commented on #3280
I re-synchronized the latest code this time, and now it works. I think a lot of content has been updated recently. It should have been repaired.I have informed my colleagues that they are now also updating to the latest version. I found it was also successful
@codope

[2021-08-05 06:12] #3280 closed

[2021-08-05 06:14] nsivabalan commented on #3280
thanks @codope

[2021-08-05 06:26] liujinhui1994 commented on #3280
@nsivabalan @codope @vinothchandar  thanks

[2021-08-05 06:56] sannidhiteredesai commented on #3399
Hi Siva,

Yes I am using spark datasource.

So, I use this for table upserts: df.write.format("hudi").....

[2021-08-05 12:56] nsivabalan commented on #2409
@dude0001 : Did you open up a new github issue? usually table rename exception happens if your table name in hudi mismatches w/ that in hive. Is there any case sensitivity that could be an issue? If your table has capital letters, can you try all small letters.

[2021-08-05 16:13] dude0001 commented on #2409
I apologize, I did not open a new issue as I've been in meetings and working on production stories. I got back to my POC this morning, and prove your theory correct. Renaming my table all lower case resolved my issue! To your point, I'm not sure my rename exception is the same as the original issue that may or may not be related to streaming. Would you still like me to open an issue for the table

[2021-08-05 20:49] FeiZou opened #3418 "[SUPPORT] Hudi Upsert Very Slow/ Failed With No Space Left on Device"
**Describe the problem you faced**

Hi there, I'm migrating a table from S3 data lake to Hudi data lake using Spark. The source table data size is around `600 GB` and `8 B rows`, each partition contains around `1.5G`B data and `20 M rows`. The target hudi table is non partitioned and currently data size around `260 GB`. With `30 executors, 150 total cores, 32GB memory per executor` set up, it cost

[2021-08-06 06:10] nsivabalan commented on #3336
hmmm, could be. I vaguely remember very few people in the community trying to use hudi in k8s. haven't heard any issues from them or I am not sure if there weren't any issues and hence no users complained. sorry couldn't be of much help here.

[2021-08-06 06:15] nsivabalan commented on #3400
Yes, COW will make a copy(of existing data) and merge incoming records and write a new data file. So, if you have configured to retain lets say 10 commits, 10 copies of 1 data file w/ some iterative additions will part of hudi table. If you are interested in just the latest, you can set the commits to retain config to just 1.
hoodie.cleaner.commits.retained
So, this will maintain just 1 version of

[2021-08-06 06:29] mkk1490 commented on #3400
Thanks for the information. I have a couple of questions.
1. If cleaner.commits.retained=1, then is rollback to previous versions possible?
2. Still, data size for 1 commit is greater than the original data size. original is 15.6 GB and hudi size is 17.6 GB. Is it possible to reduce this?

[2021-08-06 06:44] danny0405 commented on #3077
Just try Flink SQL writer, with more silky performance for random upserts.

[2021-08-06 12:04] TamilselvanBalaiah opened #3423 "[SUPPORT] Table or view not found error in Hoodie Delta Streamer"
HI,

I am getting "Table or view not found error", when I am using below transformer sql in hoodie preperties file.
" hoodie.deltastreamer.transformer.sql=SELECT a.CLM_HDR_ADMISSION_DETAIL_SID, a.CLAIM_HEADER_SID, a.ADMISSION_TYPE_LKPCD, a.ADMISSION_SOURCE_LKPCD, a.PATIENT_STATUS_LKPCD, a.CREATED_BY, to_date(a.CREATED_DATE,'DD-MON-YYYY HH24:MI:SS AM') as CREATED_DATE, a.MODIFIED_BY, to_date(a.MODI

[2021-08-06 17:09] nochimow commented on #2970
Same as @puremachinery.

[2021-08-06 19:13] nsivabalan commented on #3400
1. yes, may not be possible.
2. yes. hoodie adds some meta fields like to store the computed record key, partition path, commit time , etc for every record. to support incremental queries, and to avoid recomputing record keys during merges etc, these are unavoidable. But we recently added support for virtual keys with which this overhead can be avoided, but you might have to give up on incremental

[2021-08-06 19:22] nsivabalan commented on #3395
hudi-spark-bundle alone is good enough. you don't need utilities bundle. Can you retry removing dep on utilities bundle. Also, can you set Overwrite as mode to start from scratch to do the writing.

I don't have much exp with running hudi in windows. So, will try my best to help you out.

[2021-08-06 19:32] nsivabalan commented on #3418
Hudi has bulk_insert to assist in doing a bulk load of data into hudi ( "hoodie.datasource.write.operation" = "bulk_insert"). And bulk_insert has row writer path which is more performant as well. ("hoodie.datasource.write.row.writer.enable" = "true")
You can define diff sort modes during bulk_insert.
    NONE,
    GLOBAL_SORT, (default)
    PARTITION_SORT
Sorting is based on {partitionpath + recor

[2021-08-06 19:45] nsivabalan commented on #3394
1. sorry, looks like we missed to update our config page.
"hoodie.simple.index.update.partition.path" is the one for simple index.

2. Let me try to illustrate w/ simple example.

Format:
record key, partition path, col1, preCombine

insert:
rec1, pp1, v1, pc1
rec2, pp2, v1, pc1

both records will be inserted into hudi table.
data in hudi table
rec1, pp1, v1, pc1
rec2, pp2, v1, pc1

Now, lets see

[2021-08-06 19:47] nsivabalan commented on #3321
@nmukerje : any updates please.

[2021-08-06 19:47] nsivabalan commented on #3313
@codope : any updates on this. Can you please follow through.

[2021-08-06 19:55] nsivabalan commented on #3297
@zxding : Can you give us the steps you ran before hitting this issue. and also all configs used etc. And env details. Would help us triage the issue.
[code]

[2021-08-06 20:02] nsivabalan commented on #3324
Hey @conanxjp : sorry for the late turn around.
Would recommend using MOR table as its write optimized. Especially for streaming use-cases, COW might not work out since it takes previous snapshot and merges incoming records and rewrites new version for data files. with MOR(Merge on Read) table, writes are just appended as log files and later merged during real time read.
You can schedule compactio

[2021-08-06 20:08] nsivabalan commented on #3324
with MOR, there are 3 types of queries that could be of benefit to you.
Config : https://hudi.apache.org/docs/configurations#query_type_opt_key
[Snapshot/Realtime read](https://hudi.apache.org/docs/quick-start-guide#query-data) : reads entire data for latest snapshot.

ReadOptimized query: "read_optimized"
As I was telling you earlier, for a given data file, depending on your compaction schedule,

[2021-08-06 20:13] FeiZou commented on #3418
@nsivabalan Sorry I didn't made it clear. The source table we are migrating contains duplicate that's why we want to use `upsert` to remove the duplicate during the migration. And I have another question that should I use partitioned or non-partitioned table in this case? From reading the docs, it's saying that if I want to update records within partitioned table, I need to use `globalBloomIndex`

[2021-08-06 20:41] nsivabalan commented on #3418
You can still dedup using bulk_insert using config ("hoodie.combine.before.insert"), but just that it will dedup among incoming records. But, if you wish to update an already existing record on hudi, then yeah upsert is the way to go. But looks like you are doing this as one time migration and so bulk_insert would work out. Once the initial migration is complete, you can start doing "upsert"s.

Th

[2021-08-06 20:50] nsivabalan commented on #3077
I went back to your use-case. Since write SLA is very critical for you and most of your writes are inserts, we can try MOR table. Its a write optimized table type in Hudi.
Can you run your POC w/ [table type ](https://hudi.apache.org/docs/configurations#table_type_opt_key)set to "MERGE_ON_READ" and let me know how it goes.

We can take it from there.

[2021-08-06 22:26] FeiZou commented on #3418
@nsivabalan Great thanks for your patient explanation! I 'm running the job with `bulk_insert` now. I keep it as non_partitioned table as for now, as from your explanation, the write performance should be similar between partitioned and non_partitioned tables. Will update here once the job finished.

[2021-08-07 01:55] FeiZou commented on #3418
Hey @nsivabalan, the `bulk_insert` job has been finished successfully, the efficiency is really amazing. However there are still duplicates as I checked, even though I enabled `hoodie.combine.before.insert`.
Full config details I used as below:
[code]
 There are duplicates with same `sid` and different `data_update` field.  Any insight on it?

[2021-08-07 11:03] mtami opened #3429 "[SUPPORT] Upserting timestamp with microseconds precision truncate the microseconds part"
I am trying to upsert data into S3 that has timestamp with microseconds precision.
However, Hudi truncate the microseconds part when writing to parquet file.
`I used hoodie.datasource.hive_sync.support_timestamp=true, but still can't get microseconds precision.`
I used a parquet-tool to show the data before and after the ingesting.

**Expected behavior**

A timestamp field with microseconds precis

[2021-08-07 11:05] mtami commented on #3429
input data (with microseconds precision in `updated` field):
<img width="383" alt="Screen Shot 2021-08-07 at 2 00 18 PM" src="https://user-images.githubusercontent.com/15871409/128598081-8c4243cf-c7f0-47f5-bcfa-9cd5875feb01.png">

output data (without microseconds precision in `updated` field):
<img width="346" alt="Screen Shot 2021-08-07 at 1 41 19 PM" src="https://user-images.githubusercontent.c

[2021-08-07 14:05] mtami commented on #3266
related to PR https://github.com/apache/hudi/pull/3401

[2021-08-08 03:50] cdmikechen commented on #3429
hudi use avro logical type with time millis， so that they differ in percison by 3

[2021-08-08 08:46] mtami commented on #3429
@cdmikechen
How we can achieve microseconds precision ?

I tried to overwrite spark 2.4.0 TimestampType to microseconds without succeed.
However, if i use spark (without Hudi) to ingest data, the output still have microseconds.

So, what am i missing here ?

[2021-08-08 21:56] nsivabalan commented on #3418
sorry, if you use NonPartitionedKeyGen, hudi assumes empty string ("") as partition field for all records. Hence you will find duplicates if you are checking for pair of (record key, partition path).
I would recommend using SimpleKeyGen (its default keyGen, so you don't need to set one).
Let me know how it goes.

Here is some thought on deciding partition path.
Many companies usually have lot of q

[2021-08-09 02:31] nochimow opened #3431 "[SUPPORT] Failed to upsert for commit time"
**Describe the problem you faced**
Hi all,
We are currently facing some sporadic issues with the error: org.apache.hudi.exception.HoodieUpsertException: Failed to upsert for commit time when doing a CoW upsert.

I searched about this error and all i found was that it is related with multiple-writing scenario, that it's not my case, we are using the single writter Hudi config, using hudi 0.8 in AWS

[2021-08-09 04:41] Ambarish-Giri commented on #3395
Hi @nsivabalan , as suggested have removed utilities bundle dependency and changed the write mode to Overwrite but still no luck. Getting the same exception:
Exception in thread "main" org.apache.hudi.exception.HoodieException: Invalid query type :read_optimized
	at org.apache.hudi.DefaultSource.createRelation(DefaultSource.scala:81)
	at org.apache.hudi.DefaultSource.createRelation(DefaultSource.s

[2021-08-09 07:43] dmenin commented on #3394
Yes it does, thanks for clarifying.

I guess the confusion (mainly from my part) was that when I was said NEW and OLD, I was referring to the timestamp of the row (translated to the partition). For example, since my data is partitioned by year\month\day a record on the partition 23 is OLDER than one on the partition 24 - and my use case is that, if a record from 23 is submitted to huddi when the s

[2021-08-09 15:38] nsivabalan commented on #3394
yes, you are right.
rec1, pp1, v2, pc2
// here v2, pc2 represents the updated value. If not updated, it would have been v1, pc1

[2021-08-09 15:41] nsivabalan commented on #3395
Can you try w/ scala version 2.11.
If not, artifacts for bundle has to change.

[code]

Here are the 3 diff possible configurations wrt spark and scala version.

[2021-08-09 15:42] nsivabalan commented on #3395
Or in other words,
// spark-shell for spark 3
hudi-spark3-bundle_2.12:0.8.0
org.apache.spark:spark-avro_2.12:3.0.1

// spark-shell for spark 2 with scala 2.12
hudi-spark-bundle_2.12:0.8.0
org.apache.spark:spark-avro_2.12:2.4.4

// spark-shell for spark 2 with scala 2.11
hudi-spark-bundle_2.11:0.8.0
org.apache.spark:spark-avro_2.11:2.4.4

[2021-08-09 16:55] dmenin commented on #3394
ok, so bottom line, hudi doesn't have the concept of OLDER and NEWER in terms of row date (timestamp) - it only has NEW and OLD partition (where NEW corresponds to the data being upserted and OLD corresponds to the EXISTING partition of a particular key)
If I want the behaviour I described, I probably have to implement myself? Have you been around this use case and can suggest a solution? (the sim

[2021-08-09 17:29] mithalee commented on #3336
@nsivabalan @codope Hi, I found the issue. Spark on K8 3.1.1 has some bugs and throws the "Premature Content" error. I tried the Spark on K8 3.1.2 which is the latest release and the Hudi DS upserts work perfectly fine. We can close this ticket. Thank you for your help.
https://spark.apache.org/docs/latest/running-on-kubernetes.html

[2021-08-09 17:29] #3336 closed

[2021-08-09 17:35] nsivabalan commented on #3394
There are some  nuances here. Ignore the global, different partitions for now. Just consider how to reconcile two records in general.

I guess you know what preCombine is used for (which is used to combine two records within same incoming batch of write).
But to reconcile an incoming record with one already on storage, Hudi relies on HoodieRecordPayload.combineAndGetUpdateValue().

Most commonly u

[2021-08-09 18:50] sannidhiteredesai commented on #3399
Hi @nsivabalan,

Please suggest if any alternate way to do this with spark datasource.

In which upcoming version of hudi can we find this feature ?

[2021-08-09 21:18] nsivabalan commented on #3323
@FelixKJose : to my knowledge, it has been like from the beginning. Glad to say that we have a [PR fix](https://github.com/apache/hudi/pull/3401) on this and will be merging in this week. So, upcoming release should have it.

[2021-08-09 21:23] nsivabalan commented on #3215
@danny0405 @leesf Can you loop in someone to follow up this issue.

[2021-08-10 02:43] vinothchandar commented on #3429
@mtami Could you try writing using the row writer enabled with bulk_insert operation and see if this issue goes away?

http://hudi.apache.org/docs/configurations#enable_row_writer_opt_key

Also could you share a snippet, I can use to reproduce this locally?

[2021-08-10 04:48] Ambarish-Giri commented on #3395
Hi @nsivabalan ,

The only difference I was having was an older version of hudi 0.7.0 but now I have upgraded that to 0.8.0 as well for verification.
As suggested I tried the 2 possible configurations for spark2 one with scala 2.11 and other with scala 2.12 as below :

scalaVersion := "2.12.11"
libraryDependencies += "org.apache.spark" %% "spark-core" % "2.4.7"
libraryDependencies += "org.apache.s

[2021-08-10 07:39] danny0405 commented on #3215
@anikait-rao You may need to use the package built from the master branch manually, or wait for our 0.9 release which is coming soon.

[2021-08-10 08:08] mtami commented on #3429
Hi @vinothchandar
Thank you for taking time to help.
i tried `ENABLE_ROW_WRITER_OPT_KEY=true` with bulk_insert without succeed.

here my snippet if you want reproduce locally:

[https://gist.github.com/mtami/cfd100ee738d1e50090dddb427be2477](https://gist.github.com/mtami/cfd100ee738d1e50090dddb427be2477)

[2021-08-10 08:30] matthiasdg commented on #2970
Should this work with 0.8.0 and jobs in parallel? Here it doesn't

[2021-08-10 21:41] vinothchandar commented on #2774
@vobukh any chance you tried this again?

[2021-08-11 02:25] danny0405 commented on #3266
The PR is merged, please verify again if your issue is resolved.

[2021-08-11 08:27] tooptoop4 opened #3454 "[SUPPORT] Is Hive v3 supported?"
Is Hive v3 supported? or just Hive v2/1 ?

[2021-08-11 18:50] pratyakshsharma commented on #3344
@codope As part of the first release, it was decided to implement this for only COW and later on extend the support for MOR as well which is not started as of yet. Would you like to take that up?

[2021-08-12 07:22] aresa7796 opened #3460 "[SUPPORT]Can't set not validating names?"
Steps to reproduce the behavior:
[code]

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment Description**

* Hudi version : 0.8.0

* Spark version : 3.1.2

* Running on Docker? (yes/no) : no

**Additional context**

Add any other context about the problem here.

**Stacktrace**

[code]

[2021-08-12 09:25] aresa7796 commented on #3460
@vinothchandar Can you help me,Please ?

[2021-08-12 12:25] parisni commented on #1751
@dszakallas got the same behavoir on spark 3.0.2 / hudi 0.8 (RelDataTypeSystem, then HoodieParquetInputFormat)

fixed it by turning  `.option("hoodie.datasource.hive_sync.use_jdbc", "true")
`
there is then no need for calcite jars or anything

[2021-08-13 04:22] nsivabalan commented on #2919
@tandonraghav : we had a [fix](https://github.com/apache/hudi/pull/3137) sometime back wrt schema evolution and latest master should work. Can you try out w/ latest master and let us know how it goes.

[2021-08-13 10:12] liujinhui1994 commented on #3460
please delete ‘$’ symbol.

[2021-08-13 10:14] liujinhui1994 commented on #3454
We can run normally on both hive3.1+ and hive 2.3.1+

[2021-08-13 10:15] Tandoy opened #3471 "[SUPPORT]Failed to ingest Kafka data using HoodieDeltaStreamer"
**Steps to reproduce the behavior:**
spark-submit --master yarn   \
--driver-memory 1G \
--num-executors 2 \
--executor-memory 1G \
--executor-cores 4 \
--deploy-mode cluster \
--conf spark.yarn.executor.memoryOverhead=512 \
--conf spark.yarn.driver.memoryOverhead=512 \
--class org.apache.hudi.utilities.deltastreamer.HoodieDeltaStreamer `ls /home/appuser/tangzhi/hudi-0.8/hudi-release-0.8.0/packagi

[2021-08-13 10:32] tooptoop4 commented on #3454
what about 3.0 ? @liujinhui1994 do u know what hudi release introduced support for 3.1?

[2021-08-13 10:39] liujinhui1994 commented on #3454
All versions should work. At least 0.6 above will do, we have been using

[2021-08-13 20:59] raj638111 opened #3473 "[Support] Duplicate field: Partition field also available in parquet file"
**Describe the problem you faced**

When querying the hudi table (I am querying as `parquet` format) which contains the partitions `date` and `hour`, I am getting the following warning
[code]
On a close inspection, found that the parquet file also contains the same fields (ie `date` and `hour`)
[code]
Is there a way to get rid of the duplicate fields `date` and `hour` from the parquet file? as tho

[2021-08-14 09:10] giaosudau commented on #3471
you should check .hoodie commit file it stores the kafka topic offset inside.
To change either you run delta-streamer reset offset or change it inside.

[2021-08-15 01:11] nmukerje commented on #3321
@nsivabalan @codope Worked fine after I cast _hoodie_is_deleted to boolean.

[code]

Please note that this is still a bad experience that I need to insert _hoodie_is_deleted as "false" to the initial records for the later delete operation to work. It would be nice if users do not need to explicitly set  _hoodie_is_deleted  to "false".

If I do not set  _hoodie_is_deleted  to "false" for the initia

[2021-08-15 01:14] nmukerje commented on #3454
Yes, @tooptoop4 tooptoop4EMR 6.x is on Hive 3 and supports Hudi 0.7.0.

[2021-08-15 05:07] umehrot2 commented on #3321
@nmukerje you have to make sure that the newly added field `_hoodie_is_deleted` is marked as `nullable` in the Spark schema. I think in your example its becoming `nullable=false` with the way you are adding the column in the dataframe. For adding new fields, they should be optional. Please give it a shot.

[2021-08-15 16:12] affei opened #3478 "[SUPPORT] Unexpected Hive behaviour"
**Describe the problem you faced**

Using `set hive.input.format=org.apache.hudi.hadoop.HoodieParquetInputFormat` gives an error:

`Error: java.lang.RuntimeException: java.lang.IndexOutOfBoundsException: Index: 3, Size: 3 at org.apache.hadoop.hive.ql.io.parquet.vector.VectorizedParquetRecordReader.<init>(VectorizedParquetRecordReader.java:128) at org.apache.hadoop.hive.ql.io.parquet.VectorizedParq

[2021-08-15 22:17] nmukerje commented on #3321
@umehrot2

Yes, that was exactly what was happening. Here is what I had to do to trick Spark to make the column nullable.

[code]
and now the column is nullable and the record is deleted!
[code]

[2021-08-16 11:12] pete91z commented on #2498
I am seeing this issue with MOR tables using Apache Spark 3.1.2 (Not using AWS EMR) and Hudi 0.7.0, is it possible to re-open please? Or is it fixed in 0.8.0?

Context: I have created a table using deltastreamer. Deltastreamer appears to work fine, but later when I try and create dataframe to read the table in pyspark I get the following error:

Traceback (most recent call last):
  File "./init_hu

[2021-08-16 14:39] izhangzhihao opened #3484 "[SUPPORT] ClassNotFoundException: org.apache.hudi.sink.StreamWriteOperatorCoordinator$Provider"
Steps to reproduce the behavior:

1. build hudi flink stuff from master https://github.com/apache/hudi/commit/66f951322a3872073b86896fa5c10b51a0f6e4ab

2.
[code]

3.
[code]
4. error happened...
5. The file `hudi-flink-bundle_2.12-0.10.0-SNAPSHOT.jar` & `hudi-utilities-bundle_2.12-0.10.0-SNAPSHOT.jar` do exist in `/opt/flink/lib/` of the JobManager

**Expected behavior**

without any error

**Envir

[2021-08-16 15:25] rahil-c commented on #3321
When I was running the reproduction, after casting the `hoodie_is_deleted` field to Boolean, as well as making it `nullable=True` I was still seeing a couple of issues, would be glad to get some thoughts on this.

The first issue is when using the `master` branch and running the notebook example above, I saw that the end result was :
[code]
meaning that the record is still not getting deleted.

In

[2021-08-16 16:31] mkk1490 commented on #3400
@nsivabalan  I tested this scenario with >400 GB data with a few incremental loads. Following the order of the loads and data size.
Datalake is snapshot into another partition and Hudi is upsert
1. Original data size = 414 GB and Hudi data size = 424 GB
2. After 4 incremental loads, original came around 2100 GB with Snapshot data in each partition and Hudi data size was 547 GB

I tested for anothe

[2021-08-17 03:09] izhangzhihao commented on #3484
JobManager log

[code]

[2021-08-17 03:20] danny0405 commented on #3484
Weird, can you show other libraries together with the hudi bundle jar ?

[2021-08-17 03:26] izhangzhihao commented on #3484
[code]

[2021-08-17 03:28] izhangzhihao commented on #3484
Ah, it seems missing permission...

[2021-08-17 03:29] #3484 closed

[2021-08-17 04:08] ziudu commented on #3344
@nsivabalan Yes, we have 1000 tables, and each of them map to separate hudi table. 1000 db tables -> 1000 hudi tables.

We're writing a custom spark application with scala, which listens to a number of topics and writes to a number of hudi tables. Something similar to

https://github.com/apache/hudi/issues/2175

The testing result is satisfactory so far and we need to do some performance testing l

[2021-08-17 08:53] Tandoy commented on #3471
I checked the source code and found that auto.reset.offsets=latest was used by default when creating the KafkaOffsetGen class, but the official configuration file was auto.offset.reset. I modified the configuration items to successfully ingest the earliest Kafka data.

[2021-08-17 08:53] #3471 closed

[2021-08-17 09:24] Tandoy opened #3490 "[SUPPORT] About using HoodieDeltaStreamer to ingest Kafka data consumption offset setting"
**Steps to reproduce the behavior:**
When I reverted to Kafka to produce new channel data, HoodieDeltaStreamer data can use the latest Kafka, but the original data is not ingested. But what I have set in the configuration file is auto.offset.reset=earliest.

**Expected behavior:**
Use HoodieDeltaStreamer to ingest Kafka data

**Additional context:**
I checked the source code and found that KAFKA_A

[2021-08-17 10:06] #3490 closed

[2021-08-17 10:14] TamilselvanBalaiah commented on #3423
Can anyone please help me on this.

Thanks in advance.

[2021-08-17 16:49] GitSpree23 commented on #2236
Hey @BalaMahesh ... I'm facing a similar issue ... The initial load takes way too long & suffers heap space run-outs due to clogged Kafka pipeline. Did the above config work for you?

I'm also looking to consume events from Kafka in batches.

[2021-08-17 16:53] jslorrma opened #3492 "[SUPPORT] PySpark Quickstart Guide fails on Insert Data with `java.lang.UnsatisfiedLinkError` for Hudi 0.8.0 or 0.7.0 & PySpark 3.1.2"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)? **yes**

**Describe the problem you faced**

Hudi fails during the [PySpark Quickstart Guide](https://hudi.apache.org/docs/quick-start-guide) in step [2](https://hudi.apache.org/docs/quick-start-guide#insert-data) when inserting data. I have tried version `0.7.0` and `0.8.0`

[2021-08-17 16:53] BalaMahesh commented on #2236
Please use the GC as mentioned in the HUDI tuning guide. That solved issue for us.

[2021-08-17 17:00] GitSpree23 commented on #2236
Ok, thanks. Adding this for reference [Tuning Guide](https://cwiki.apache.org/confluence/display/HUDI/Tuning+Guide)

[2021-08-17 21:29] nsivabalan commented on #2498
Not sure if hudi has been tested or certified with spark3.1.2. Can you give it a try with 3.0.1 ? and then we can go from there.

[2021-08-17 21:47] nsivabalan commented on #3344
@ziudu : Here is a suggestion. can you get started with Multi-table detlastreamer using COW. We will provide you support. Also, if you plan to build something on your own using java-client, it would be better to invest in adding MOR support to Multi-table deltastreamer and so community at large will benefit.
Also, I don't see any technical blocker as such to support MOR w/ deltastreamer, just that

[2021-08-17 23:21] FeiZou commented on #3418
Hey @nsivabalan, I was able to load the data successfully using SimpleKeyGen. I can see that data been partitioned well now I'm trying to figure out how I can sync the partition info to Hive metastore properly. Our current cluster setup does not support automatic Hudi Hive Sync though. Is there any straight forward manual way to do it?

[2021-08-18 02:31] liujinhui1994 commented on #3418
org.apache.hudi.hive.HiveSyncTool
@FeiZou Please take a look at this tool, it seems to meet your requirements,

[2021-08-18 02:33] liujinhui1994 commented on #3399
The latest master already supports,
@sannidhiteredesai

https://github.com/apache/hudi/pull/3488  Here is an example

[2021-08-18 04:23] karan867 commented on #3077
@nsivabalan Thank you, I will try it. However, I think we initially chose COW instead of MOR because we had negligible updates, and from my initial experiments it appeared that the inserts in MOR were handled in the same way as COW.

[2021-08-18 09:00] pete91z commented on #2498
Thanks for the response, I will try on 3.0.1 and get back to you

[2021-08-18 12:13] jslorrma commented on #3492
I tried today instead of running the code above locally (`.set("spark.master", "local[*]")`) to run it on our Hadoop cluster via YARN (`.set("spark.master", "yarn")`). Everything works as expected and without any error on the cluster. So the error seems to have something to do with my local Spark / Hadoop installation and configuration. Via Google I found [this link](https://sparkbyexamples.com/sp

[2021-08-18 12:27] pete91z commented on #2498
Same error experienced with Spark 3.0.1

[2021-08-18 12:24:50,117] WARN Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties (org.apache.hadoop.metrics2.impl.MetricsConfig:134)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/spark_301/py1/lib64/python3.6/dist-packages/pyspark/sql/readwriter.py", line 178, in

[2021-08-18 17:18] jslorrma commented on #3392
@springMoon Shouldn't the hive version in your title be `2.1.1`? I think a version `2.2.1` for hive does not exist and your compilation command as well as the environment description says version `2.1.1`.

Nevertheless I face the same issue when following [this comment](https://github.com/apache/hudi/issues/1376#issuecomment-595301096) and skipping the second step (removing `HoodieCombineHiveInput

[2021-08-18 20:07] nsivabalan commented on #3344
I tried MOR with multi table deltastreamer and it worked(one time sync)
May be we can start with MOR table type and you can schedule multi-table deltastreamer once every 5 or 10 mins. Should achieve what you are looking for. In the mean time, we can try to see how to add continuous mode support in multi-table deltastreamer.

[2021-08-18 20:14] nsivabalan commented on #3344
I went through the attached code as well https://github.com/apache/hudi/issues/2175 and it looks reasonable. Let us know how it goes.

[2021-08-18 20:21] nsivabalan commented on #3321
I guess the expectation is "_hoodie_is_deleted" is of boolean data type and default value is false. Do you think you can update the schema and give it a try if you are doing a POC or trying it out with new tables.

[2021-08-18 23:17] nsivabalan commented on #3423
I am not sure if you can join w/ hudi table from within a transformer. from what I know, incoming df is treated as a table (sparksession.registerTempTable()) and then you can perform a sql query on top of it to produce output df before ingesting to hudi.

@bvaradar : Can you help here.

[2021-08-18 23:23] nsivabalan commented on #3323
Hey folks. latest master has the fix. Can you give it a try and let us know if the issue is resolved. We can close it out if things are good.

[2021-08-18 23:26] nsivabalan commented on #3460
@aresa7796 : guess there are some restrictions in naming columns in avro.
[code]
source: https://avro.apache.org/docs/current/spec.html

[2021-08-18 23:29] nsivabalan commented on #3492
yeah, we can close the issue out.
Once you find the root cause and fix it, would appreciate if you can add an entry [here](https://cwiki.apache.org/confluence/display/HUDI/Troubleshooting+Guide) to help others in the community

[2021-08-18 23:29] #3492 closed

[2021-08-18 23:31] nsivabalan commented on #3473
Recently we added support to drop columns from incoming df that were used to generate the partition path in hudi. https://github.com/apache/hudi/pull/3465
Can you check if this solves your need.

[2021-08-18 23:41] nsivabalan commented on #3431
hmmm, interesting. do you happened to have any driver logs related to this? Stack trace given above does not have much info :(.
what do you mean by biggest datasets?
I mean, I understand your hudi dataset size is large. But does your write batch is large too? can you give us some insights on your dataset characteristics in general. like # partitions, data size, updates vs inserts, etc.

[2021-08-19 05:32] nsivabalan commented on #3321
I tried something w/ quick start and it works.
https://gist.github.com/nsivabalan/e5ac69677ed05e9f2749fae67d3abc19

[2021-08-19 06:20] codejoyan opened #3499 "[SUPPORT] Inline Clustering fails with Hudi"
**Environment**
Hudi Version - 0.7
Spark - 2.4.7
DFS - Google Cloud storage

**Initial State of the Table**
I have a COW table which I have bootstrapped using bulk inserts and post that have run few incremental ingestions in upsert mode. While setting up the hudi table and during this step clustering was not enabled.

**Inline Clustering Enabled**
For lower ingestion latency without compromising t

[2021-08-19 09:41] homchen-x opened #3500 "[SUPPORT]Order changed while using sanpshot query"
is it normal for hudi that the order of the data will be changed? How can I keep the same order of the data?

[2021-08-20 08:39] PavelPetukhov commented on #2960
Thanks a lot! It is working finally

[2021-08-20 08:39] #2960 closed

[2021-08-20 12:08] zhangyue19921010 commented on #3499
Hi @codejoyan There was a bug in 0.7.0-release during clustering plan step, which use `int totalSizeSoFar = 0;` to calculate the size of the current data. As you can see the type of `totalSizeSoFar` is Integer and `getWriteConfig().getClusteringMaxBytesInGroup()` is long, so that will lead to overflow something like `Integer.MAX_VALUE + 1 = -2147483648`

Also this bug is already fixed in https://g

[2021-08-20 15:42] codejoyan opened #3514 "[SUPPORT] Read COW table from Beeline"
I have written a Hudi COW dataset and synced it to metastore. Post that I am trying to read the hudi dataset from beeline.
I have added the hudi-hadoop-mr jar and also set the properties **hive.input.format** and **hive.tez.input.format**. Though I am able to show create table and see the table created properly, I am unable to query the data. It throws the exception as below: "java.sql.SQLExceptio

[2021-08-20 20:37] nsivabalan commented on #3514
can you try setting this conf
--conf "spark.sql.hive.convertMetastoreParquet=false"

[2021-08-20 23:57] nsivabalan commented on #3423
The spark invocation needs to have hive configurations setup correctly so that it can talk to HMS and have spark sql working. can you confirm that.

[2021-08-21 10:16] codejoyan commented on #3514
@nsivabalan  Thanks! Yes it worked after using this property while writing the data.
I am running into a different issue which says java.lang.RuntimeException: java.lang.ClassNotFoundException: Class "org.apache.hadoop.hive.ql.io.HiveInputFormat" not found. I am assuming that is because I am running on Hive version 1.2.
Can you please confirm?

[2021-08-23 08:32] duyuqiu2021 opened #3524 "[SUPPORT] About data delay Timeline problem"
Hello everyone.

Now in my business scenario, the system generates a transaction at 10:00. This data is stored in the hudi's table. At 10:05, the customer pays for the order and the warehouse delivers it at 10:10. However, the shipment record data of 10:10 is written to the hudi's table at 10:12, and the payment record of 10:05 is written to the hudi's table at 10:15.

Now, when I query the hudi's

[2021-08-23 09:08] duyuqiu2021 commented on #3524
When my data was written into the hudi database, the "ts" timestamp was specified, and the time stamp of the shipment record was after the payment record.

[2021-08-23 09:30] #3524 closed

[2021-08-23 14:40] Rap70r commented on #3266
Hello @danny0405,

I'm facing similar issue when extracting Kafka events. When a delete is followed by an insert, usually inside a transaction, sometimes the timestamp field that indicates when the events were processed is the same for both events. When I run my spark job to extract the events, the delete event is taking precedence over the insert.
Would this change fix the described issue and als

[2021-08-23 15:32] nsivabalan commented on #3400
@mkk1490 : sorry for late turn around. been busy with work.
Few clarifying questions.
1. What do you mean by incremental loads?
[code]
In this, does incremental load mean, you took your original dataset and made some updates to some of the records and did an upsert to hudi? Or without doing any updates, you ingested into hudi?
Also, is 2100Gb = (414 Gb * 5) i.e one version of original and 4 increm

[2021-08-23 15:33] nsivabalan commented on #2498
@codope is looking into this. we will get back to you in a day or two.

[2021-08-23 16:19] codejoyan commented on #3499
Hi @zhangyue19921010 I tried with 0.8.0 and ran into exact same issue. Looks like this is a bug. I will try to dig deep.
Please let me know if there is any workaround as I want to test the ingestion performance and read performance with clustering on.

Caused by: java.lang.IllegalArgumentException: requirement failed: Number of partitions cannot be negative but found -5.
	at scala.Predef$.require(

[2021-08-23 17:25] mkk1490 commented on #3400
Answers to your questions:
1. Incremental loads are upsert records. I get a new batch of records to insert as well as some updates to the existing data. In the 400 GB dataset, I have nearly 10 volition records.
for each incremental I would get around 750 mn as new inserts and around 600 mn updates.
2. Hudi data size  indicates the objects size on s3. That includes are versions of data. 6 commits
3

[2021-08-23 20:17] rahil-c commented on #3321
After pulling the lastest `master` and running @nmukerje example again on an emr cluster, turns out it is now behaving in the same manner as 0.7.0, the delete is being honored and also we do not have to specify `hoodie_is_deleted` for existing records.

Will close the issue soon after adding some unit tests to `TestCOWDataSource` and `TestMORDataSource` to test the functionality of `hoodie_is_dele

[2021-08-23 22:27] nsivabalan commented on #3321
thanks for confirming.

[2021-08-24 01:02] zhangyue19921010 commented on #3499
Hi @codejoyan  could you please find all the info log including
`LOG.info("Adding one clustering group " + totalSizeSoFar + " max bytes: "
            + getWriteConfig().getClusteringMaxBytesInGroup() + " num input slices: " + currentGroup.size() + " output groups: " + numOutputGroups);`
and
`LOG.info("Adding final clustering group " + totalSizeSoFar + " max bytes: "
          + getWriteConfig().g

[2021-08-24 02:09] zhangyue19921010 commented on #3499
Also the log like `LOG.info("Starting clustering for a group, parallelism:" + numOutputGroups + " commit:" + instantTime);`

[2021-08-24 03:20] danny0405 commented on #3266
The delete is still problematic for MOR table, because Hudi always writes the DELETE data block after the DATA block, the DELETE block does not record the event time, and the reader always read the DELETE block after, so even a DELETE message has smaller event time than INSERT message, the INSERT message is still deleted.

We have fixed the sequence for COW table though in the 0.9 release.

[2021-08-24 03:32] nsivabalan commented on #3400
ok. let me try to go over how COW works and it might help you understand the increase in data size.

Let's say on first ingest, these are the data files created within hudi. for simplicity, lets assume just 1 partition.

df1_v1: 1Gb
df2_v1: 1Gb
df3_v1: 1Gb

3 data files are created with version 1 and each is 1Gb size.

Now, lets say we we do an incremental load, (inserts + updates). Update records

[2021-08-24 05:01] codope commented on #2498
I can reproduce the same behavior with Hudi 0.7.0 but not with 0.8.0 on Apache Spark 3.0.1.

[2021-08-24 06:47] aresa7796 commented on #3460
ok,thanks

[2021-08-24 06:47] #3460 closed

[2021-08-24 06:50] nsivabalan commented on #2498
@pete91z : I guess we did not expose diff artifacts pertaining to spark2, spark3 in 060 and 070 which we fixed it in 080. So, spark-bundle you get with 070 is compiled against spark2 and scala 11. I have asked @codope to verify that. If thats the case, only option I can think of it to download the source and build hudi-spark-bundle for spark3 and then use the bundle.

[2021-08-24 06:51] nsivabalan commented on #2498
oops, missed to read Sagar's full comment. looks like he has verified it.

[2021-08-24 06:52] nsivabalan commented on #2498
btw, 080 has 3 diff bundles for hudi-spark-bundle. so use the one meant for spark3 if thats your requirement.

[2021-08-24 07:35] mtami commented on #3266
Hi @danny0405
Apologies for late response, the PR has resolved my issue.
Thanks!

[2021-08-24 08:39] codejoyan commented on #3514
I am closing the issue. Thanks @nsivabalan for the help.

[2021-08-24 08:39] #3514 closed

[2021-08-24 08:53] codope commented on #3400
@mkk1490 I am able to delete after doing bulk insert. Please check this gist where I am deleting 2 records after bulk inserting 10 records: https://gist.github.com/codope/45c8b839fecb4576a563784d3fbe8480
Did you get any error while deleting?

[2021-08-24 09:11] mkk1490 commented on #3400
@codope I'm getting a null pointer exception. But i'm able to delete with the same code when I do an insert overwrite. I'm trying to delete all data in 3 partitions from the 60 available partitions with each having 26 GB on disk.
This is my code:
yr_mth_list = [202105, 202103, 202104]
df_l2_rx = spark.read.format("hudi").load(f"{s3_path}/src_sys_nm={src_sys_nm}/")
# df_l2_rx is the snapshot data o

[2021-08-24 09:14] Ayan07 opened #3530 "Unable to query Hudi table using Presto Cli"
I am using presto cli to query Hudi tables.
The actual data is store in s3.

I am able run queries such as: show schemas and show create table <table-name>

However getting the following error when trying to run 'select * from schema.table_name':

_org.apache.hudi.hadoop.HoodieROTablePathFilter	Error checking path :s3a://s3-bucket-name/.hoodie, under folder: null
java.lang.RuntimeException: java.l

[2021-08-24 09:18] codope commented on #3400
I doubt it's because of data size. Are you hitting NPE cnsistently? Can you please share the `hudi_delete_options` and stacktrace?
I would suggest to close this issue if the main query regarding CoW table size is addressed, and open another issue for delete failure.

[2021-08-24 09:20] codope commented on #2648
I have verified the patch and I am able to run snapshot query on MOR table with latest master and Spark 3.0.1.

[2021-08-24 09:26] mkk1490 commented on #3400
I will open a new issue for delete and will share the details there. As for NPE, I did a bulk insert 3 times and got NPE all 3 times. Every time I followed it with insert and didn't get NPE.

[2021-08-24 11:55] Rap70r commented on #3266
Hi @danny0405,

Thank you for your reply.
I'm using COW for my Kafka/Hudi pipeline described above. I did not clarify that in my first comment. Having that in mind, I assume this change should fix my issue as well, correct?
Also, do you have an estimate for the production release date?

Thank you

[2021-08-24 12:23] codope commented on #2995
@jtmzheng Did you get a chance to test with the patched shared above?

[2021-08-25 02:21] codope commented on #3530
Probably, an older version of Presto is being used and hudi-presto-bundle jar is required in the classpath. Please check https://hudi.apache.org/docs/querying_data#prestodb

[2021-08-25 02:26] codope commented on #3500
I guess you are talking about order of the columns? Typically, Hudi will append some metadata fields in the beginning. Could you please share a reproducible example? Also, is it happening only for snapshot queries?

[2021-08-25 03:00] codope commented on #3478
I can reproduce, though the not the exact stacktrace. The same query runs fine with `HiveInputFormat`.
[code]

Will check and get back.

[2021-08-25 03:59] xer001 commented on #3191
The same thing happened on my Environment,

Environment Description

Hudi version : 0.9.0

Spark version : 2.4.0

Hive version : 2.2.1

Hadoop version : 3.0.0

Storage (HDFS) :

Running on Docker? (yes/no) : no

[2021-08-25 04:29] nsivabalan commented on #2409
thanks, we will add an faq shortly.

[2021-08-25 04:29] #2409 closed

[2021-08-25 04:30] nsivabalan commented on #2995
We are closing the issue. Please reopen if you run into issues. thanks for reporting.

[2021-08-25 04:30] #2995 closed

[2021-08-25 04:32] nsivabalan commented on #3400
@mkk1490 : is there any more info/clarification you need wrt data size in hudi. (based on my response earlier)

[2021-08-25 04:39] codope commented on #3530
`Class org.apache.hadoop.fs.s3a.S3AFileSystem not found` usually happens when there is a version mismatch of aws java sdk or hadoop jar. Can you share Spark versions and describe more about your setup? Are you using EMR spark or Apache Spark?

[2021-08-25 04:44] nsivabalan commented on #3473
Closing the issue. Feel free to re-open if your requirement is not met.

[2021-08-25 04:44] #3473 closed

[2021-08-25 04:58] Ayan07 commented on #3530
@codope I have used prestodb version which is >=0.240 in my setup.
 I went through this doc https://hudi.apache.org/docs/querying_data#prestodb, and as far as I have understood prestodb versions>=0.240 doesn't require the hudi-presto-bundle jar in the classpath.
 Correct me if I am wrong here.

 I am using Apache Spark version 3.2 and the spark cluster is running on Kubernetes.

[2021-08-25 04:59] nsivabalan commented on #3418
Let us know if the HiveSyncTool solves your use-case. We can close out the issue.

[2021-08-25 05:00] codope commented on #3423
@TamilselvanBalaiah You have to place the hive-site.xml within `<SPARK_INSTALL>/conf/` dir.

[2021-08-25 05:01] nsivabalan commented on #3399
Closing this out as latest master already has it. Feel free to re-open if you are looking for something else.

[2021-08-25 05:01] #3399 closed

[2021-08-25 05:07] nsivabalan commented on #3395
sorry, not sure how else we can help here. We don't have windows env with us to reproduce. Would recommend you to try out with EMR and let us know how it goes.

[2021-08-25 05:09] nsivabalan commented on #3394
@dmenin : hey, let me know if you need any more info. Will wait for couple of days and will close this out if we don't hear back.

[2021-08-25 05:11] nsivabalan commented on #3392
@danny0405 @leesf : Can you loop in someone who can look into this issue.

[2021-08-25 05:11] #3349 closed

[2021-08-25 05:14] codope commented on #3349
Created a sub-task for adding flink example: https://issues.apache.org/jira/browse/HUDI-2358

[2021-08-25 05:22] nsivabalan commented on #3327
Closing this out since this is not hudi issue and we don't have any action item from our end. thanks !

[2021-08-25 05:22] #3327 closed

[2021-08-25 05:23] nsivabalan commented on #3324
@conanxjp : Gentle ping. Did you get a chance to try w/ MOR table.

[2021-08-25 05:28] codope commented on #3321
@rahil-c Feel free to grab this JIRA: https://issues.apache.org/jira/browse/HUDI-2359

[2021-08-25 05:28] #3321 closed

[2021-08-25 05:29] nsivabalan commented on #3301
Closing this out. Please re-open if need be

[2021-08-25 05:29] #3301 closed

[2021-08-25 05:34] nsivabalan commented on #3249
@danny0405 @leesf : can you loop in someone to assist here.

[2021-08-25 05:41] aresa7796 opened #3533 "[SUPPORT]How to use MOR Table to Merge small file?"
Hi, guys
How to use MOR Table to Merge small file?

**Environment Description**

* Hudi version : 0.8.0

* Spark version : 3.1.2

* Hive version : 3.1.2

* Hadoop version : 3.1.2

* Storage (HDFS/S3/GCS..) : FS

* Running on Docker? (yes/no) : no

**My code**
[code]

I executed this code many times,and multiple small files will be generated.

[2021-08-25 05:52] Ambarish-Giri commented on #3395
sure @nsivabalan  started testing on EMR  will update the ticket accordingly .

[2021-08-25 09:03] codope commented on #3392
I checked Hive repo. `StringInternUtils` was only added in 2.3. Will this Hive version work for you?

[2021-08-25 09:12] danny0405 commented on #3392
You only need to package the flink bundle jar with hive 2.1.1, there is no need to package the mr-bundle first.

[2021-08-25 09:49] niloo-sh commented on #3242
@moranyuwen can you solve this problem? I have this problem, but I can not solve it. I don't know how set mysql database instead derby, in Hudi config in spark code.

[2021-08-25 09:54] codope commented on #3187
@liijiankang Did you get a chance to try out with the patch provided above?

[2021-08-25 09:59] codope commented on #3191
@mdz-doit @xer001 Tested locally with hudi-spark-bundle 0.8.0 as well 0.9.0 for Spark 2.4.7, it works for me. Environment specific issues are hard to debug. Could you please try on a common environment? See this [docker demo](https://hudi.apache.org/docs/docker_demo).

[2021-08-25 10:14] zxding commented on #3297
@nsivabalan hi nsivabalan，when executed merge sql on hudi table which set hoodie.metadata.enable='true' fail  once , then
attemp to re-execute the same merge sql will result the exception, only alter table  set hoodie.metadata.enable='true'  could ignore.

[2021-08-25 10:28] codope commented on #3132
@deep-teliacompany Are you using [hive sync tool](https://hudi.apache.org/docs/writing_data/#syncing-to-hive) to create hudi tables in hive? If yes, can you share hive_sync properties? If not, can you try with hive sync?

[2021-08-25 11:30] mkk1490 commented on #3400
@nsivabalan Thanks for the information on how CoW works. I was investigating the updates in my table. I found that updates are spread across all partitions and few million records are getting updated in each of the partition.
I have enabled small file handling and the average size of each part file is 800 MB and I can see for every commit, there is an increase in size.
I also checked the other tab

[2021-08-25 11:30] #3400 closed

[2021-08-25 11:44] codope commented on #3078
@tandonraghav @fanaticjo Can we close this? Are there any pending questions after @n3nash's  comments?

[2021-08-25 11:47] codope commented on #3077
@karan867 Did you get a chance to try with MOR table type?

[2021-08-25 11:59] codope commented on #3065
@wangfeigithub Feel free to create a patch with your fix. Going to close this issue.

[2021-08-25 12:04] codope commented on #3054
@Vikas-kum Can we close this issue? Are there any pending questions based on above comment?
FYI, point queries using spark sql should be doable in the upcoming release. See #3360

[2021-08-25 12:08] codope commented on #3005
@hushenmin Time travel queries through spark sql should be doable in the upcoming release. See #3360
Can we close this issue if it satisfies your requirement? If not, it would be great if you could share an example.

[2021-08-25 13:34] codope commented on #2973
@fengjian428 Is the issue resolved for you?

[2021-08-25 14:20] codope commented on #2888
@PavelPetukhov @n3nash Is this still an issue?

[2021-08-25 14:21] codope commented on #2869
@putaozhi123 Did you get a chance to try the suggested workaround?

[2021-08-25 14:32] codope commented on #2812
@xglv1985 Is this still an issue? Did you get a chance to try the workaround suggested in https://issues.apache.org/jira/browse/SPARK-11844 ?

[2021-08-25 15:14] codope commented on #3191
Hadoop 3 is only officially supported by Spark 3 and not Spark 2: https://archive.apache.org/dist/spark/

[2021-08-25 15:34] nsivabalan commented on #3054
Latest [docs](https://hudi.apache.org/docs/next/quick-start-guide) already had examples on time travel query. Search for "Time Travel Query" in the page.
Closing this out. Feel free to reopen or create a new issue if you still have requirements to be met. thanks !

[2021-08-25 15:34] #3054 closed

[2021-08-25 15:35] #3065 closed

[2021-08-25 15:40] nsivabalan commented on #3005
Also, if you are looking to rollback your hudi table to some older point in time, hudi has savepoints and allows you to rollback entire hudi snapshot to the savepointed commit. Would that work for you ? Hudi-cli has support for savepoint and rollback if you want to give it a shot.
Would help if you can clarify your requirement bit more.

[2021-08-25 15:41] #2905 closed

[2021-08-25 15:44] nsivabalan commented on #2818
@garyli1019 : would you mind driving the fix wrt the issue reported. Looks like already we have a [jira](https://issues.apache.org/jira/browse/HUDI-1807) filed on this regard.
Feel free to close this out and carry out the discussion using the jira.

[2021-08-27 05:15] riritack opened #3550 "[SUPPORT]flink 1.12.4 support insert into hudi?"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-08-28 03:07] melin opened #3554 "[SUPPORT] Support Apache Spark 3.1"
Apache Spark 3.1 has been released for a while and will hopefully be able to support it

[2021-08-28 08:16] danny0405 commented on #3550
Hi, @riritack , you may need to use Flink 1.12.2 instead, there are some breaking API between Flink 1.12.2 and Flink 1.12.3.

[2021-08-28 08:22] danny0405 commented on #3266
Hi @Rap70r , the 0.9.0 has been released so i would just close the issue as resolved, if you have other problems, feel free to reopen it again.

[2021-08-28 08:22] #3266 closed

[2021-08-28 09:53] Rap70r commented on #3266
Thank you @danny0405, I have tested and confirmed the issue, I described above, has been resolved for me.

[2021-08-28 14:17] melin opened #3555 "[SUPPORT] support show/drop partitions tablename sql"
support show/drop partitions tablename sql:
[code]

https://github.com/melin/hudi/commit/796c8546f81f5a5cb22ff62462d4ee48623cc15b

[2021-08-29 05:59] khiem291 commented on #3554
I'm working on building POC with hudi 0.8 and Spark3.1.2. Is there any issue with spark 3.1 @melin ?

[2021-08-29 06:47] findczk commented on #3554
Does it support spark3.0.1? When I set it to spark3.0.1, the compilation is unsuccessful, because the default is spark3.0.0, spark3.0.1 has many methods to change

[2021-08-29 07:39] kenny291 opened #3558 "[SUPPORT] Schema evolution error: promoted data type from integer to double"
**Description**

Hi all,
I tested schema evolution change data type from int to double, but it did not work with Hudi.
(hudi doc: https://github.com/apache/hudi/blob/asf-site/website/docs/schema_evolution.md).
I also tried to test change data type from float to double, it had the same error.

**To Reproduce**

Steps to reproduce the behavior:

1. init spark context
[code]

2. create base hudi tabl

[2021-08-29 08:12] kenny-shopback commented on #3554
@findczk , https://github.com/apache/hudi/issues/2641

[2021-08-29 08:14] khiem291 commented on #3554
@findczk , https://github.com/apache/hudi/issues/2641

[2021-08-29 13:44] codejoyan opened #3559 "[SUPPORT] Failed to archive commits"
**Environment Description**

* Hudi version : 0.8.0

* Spark version : 2.4.7

* Hive version : 2.3.7

* Storage (HDFS/S3/GCS..) : GCS

**Issue Description**
I am trying to do bulk_insert to a COW table in batches. After a 1st successful batch of bulk_insert, when I run the 2nd batch I run into the error "Failed to archive commits" (stack trace below). Below are the configurations used. As I read i

[2021-08-29 13:48] codejoyan commented on #3499
Yes I am checking the logs while running 0.8.0. Let me know what additional information you need to debug this.

[2021-08-30 09:59] simon824 opened #3562 "[SUPPORT] Add hudi-spark3-bundle to mvnrepository"
Add hudi-spark3-bundle to mvnrepository

[2021-08-30 11:04] codope commented on #3562
Are you looking for a specific version of Hudi? I can see the artifacts for 0.9.0 here https://repo1.maven.org/maven2/org/apache/hudi/hudi-spark3-bundle_2.12/0.9.0/

[2021-08-30 14:28] dude0001 commented on #1751
I'm still hitting this with Spark 3.1.1 and hudi-spark-bundle_2.12-0.8.0.jar

[2021-08-31 01:21] simon824 commented on #3562
I want to add hudi-spark3-bundle dependency in another project with maven like
[code]
I didn't found hudi-spark3-bundle_2.12 in https://mvnrepository.com/

[2021-08-31 01:50] liujinhui1994 commented on #3533
It is recommended that you try with 0.9. After executing it for many times, clustering will be triggered.

[2021-08-31 04:08] nsivabalan commented on #2648
Closing this as we have verified. Please do re-open if you run into issues. Thanks for raising it.

[2021-08-31 04:08] #2648 closed

[2021-08-31 04:16] nsivabalan commented on #2869
@putaozhi123 : We have a fix for timestamp data type read w/ hive. https://github.com/apache/hudi/pull/3391
Can you give it a try and let us know if it works for you. thanks.

[2021-08-31 04:21] nsivabalan commented on #2818
We are closing the issue. Since the behavior is expected, but just that we can make the experience better by returning an empty set instead of throwing NoSuchElementException

[2021-08-31 04:21] #2818 closed

[2021-08-31 05:17] nsivabalan commented on #2517
This does not seem like an issue as such, since our CI tests w/ apache hive for every commit. Closing it out. Probably some environment issue in relation to hive-site.xml. Closing it for now. Please re-open if you need more help in this regard.

[2021-08-31 05:17] #2517 closed

[2021-08-31 05:27] nsivabalan commented on #2508
Closing this due to no activity and since we could not reproduce. Please re-open if are you are still having issues.

[2021-08-31 05:27] #2508 closed

[2021-08-31 05:30] nsivabalan commented on #2470
thanks.

[2021-08-31 05:30] #2470 closed

[2021-08-31 05:43] nsivabalan commented on #2285
@zherenyu831 : We made some fixes to spillablemap thats been used in compaction path and should help w/ large datasets. Can you try giving it a try. else, feel free to close it out if its not an issue anymore. thanks!

[2021-08-31 08:41] yuangjiang opened #3571 "Caused by: java.lang.NoSuchFieldError: NULL_VALUE[SUPPORT]"
I use spark write data to hudi but not working

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 2.4.8

* Hive version : hive-2.1.1-cdh6.3.4

* Hadoop version :hadoop-3.0.0-cdh6.3.4.jar

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Docker? (yes/no) : no
[code]

[2021-08-31 09:26] niloo-sh opened #3572 "compatble version of hudi, hive and hadoop"
Dear Hudi team member,

These days we want to use Hudi as data lake on HDFS (3.1.1) and synchronize Hudi table with Hive(3.1.0).
Contrary to what has been said in FAQ Hudi table is created and updated in HDFS with Datasource API, but I get errors in synchronizing it with Hive.
Has there been a change in the compatible versions?
We use Scala 2.11.7 and Spark 2.4.3

[2021-08-31 09:30] Ayan07 commented on #3530
@codope Yes, I am able to write into Hudi table in S3.
I just checked the version of aws-java-sdk and hadoop jar which I have used while writing to S3.
aws-java-sdk - 1.7.4
hadoop jars - 2.7.3

I was able to resolve the issue. Followed the steps below:

- Downgraded the version of presto to : 0.226 (<0.240) so that the hudi-presto-bundle jar won't be present by default in the classpath.

- Manuall

[2021-08-31 09:47] borasy commented on #3554
hudi 0.9 doesn't support Spark3.1.2 fully. More specifically inserting data with SparkSQL doesn't work. With Spark3.0.3, it works.

[2021-09-01 10:07] raphaelauv opened #3579 "[SUPPORT] kafka-connect hudi sink connector"
The discussion section in github is not open , so I'm asking the question here, is the RFC 32
https://cwiki.apache.org/confluence/display/HUDI/RFC-32+Kafka+Connect+Sink+for+Hudi

is related to this talk ?

https://www.kafka-summit.org/sessions/streaming-data-lakes-using-kafka-connect-apache-hudi

Is there already an implementation ?

Thank you

[2021-09-01 11:19] melin commented on #3554
/Spark3Adapter.scala:70: error: wrong number of arguments for pattern org.apache.spark.sql.catalyst.plans.logical.InsertIntoStatement(table: org.apache.spark.sql.catalyst.plans.logical.LogicalPlan,partitionSpec: Map[String,Option[String]],userSpecifiedCols: Seq[String],query: org.apache.spark.sql.catalyst.plans.logical.LogicalPlan,overwrite: Boolean,ifPartitionNotExists: Boolean)

[ERROR] /Users/m

[2021-09-01 12:44] codejoyan opened #3581 "[SUPPORT] Slow snapshot query performance"
Environment
Hudi Version - 0.7
Spark - 2.4.7
DFS - GCS

**Issue**

The hudi table is partitioned by day and has around 95 partitions. Each partition is between 5 GB to 15 GB and total size is around 930 GB. When I fire a query (count(*), count(distinct), select * ) on a single day partition, with default configurations in Hudi 0.8.0 it takes around 3 mins. This was very slow so I tried below 2 app

[2021-09-01 12:49] nochimow commented on #3431
Hi,
Thanks for the reply.

I was trying in some ways to change the memory and memory-overhead parameters without success.
Since i am using the AWS Glue to run this, i opened a ticket with AWS support and received this response:

_These 'conf' settings are not available for override. [1] This allows AWS to manage the resources dynamically and provide efficient performance. Below are  several argume

[2021-09-01 15:18] vinothchandar commented on #3581
@codejoyan Compression is a key thing to align for ensuring apples-apples comparison, glad that got the storage issue under control.

So the time for approach 2, seems more like 2 mins? (assume the first column is submission time).

To reduce the listing cost, Hudi does have a [metadata table ](http://hudi.apache.org/docs/configurations#hoodiemetadataenable) that can fetch listings without going t

[2021-09-01 15:20] vinothchandar commented on #3572
there has not been any changes in compatibility. what errors are you seeing, could you share stack trace?

[2021-09-01 15:21] vinothchandar commented on #3562
@simon824 depending on the bundle is tricky, given its a fat jar where you cannot exclude any dependencies for conflicts. Any reason why you are not able to depend on `hudi-spark` for the application?

[2021-09-01 15:22] vinothchandar commented on #3579
@rmahindra123 is about to push a PR up as I understand it.  yes, its related to the talk.

You need a cwiki account to comment on the RFCs. It should not need any other special perms. Please let me know if you'd like help with that.

[2021-09-01 15:23] vinothchandar commented on #3554
cc @pengzhiwei2018 could you please comment on this?

[2021-09-01 15:24] vinothchandar commented on #3558
cc @codope could you please take a look at this?

[2021-09-01 15:34] vinothchandar commented on #3533
@aresa7796 I do see that clustering is indeed triggered, but the you are not seeing a bigger file? I think we have look into clustering plan. in your example above, you are comparing files written in the same commit `20210827163357` , not sure if they belong to different executions actually.

[2021-09-01 15:34] vinothchandar commented on #3533
Can we look at the files produced by clustering? Hudi deduces this and ignore the smaller files that were previously written for e.g,

[2021-09-01 15:47] codejoyan commented on #3581
Thanks @vinothchandar. I will try hoodie.metadata.enable=true while the writes.
Yes the total time is nearly 2 mins. Though listing step minute shows only 18 secs, it actually eats up an additional minute.

[2021-09-01 15:49] nsivabalan opened #3582 "[SUPPORT] Upsert to hudi table fails that got bootstrapped (w/ metadata only)"
**Describe the problem you faced**

I am trying out bootstrap w/ hudi and running into issues. Use-case is very simple as given below. Likely I am missing some trivial config.

**To Reproduce**

Steps to reproduce the behavior:

1. Bootstrap parquet data from elsewhere to a new hudi table w/ metadata only.
2. Upsert to hudi table.
3. Query the latest snapshot

Full stacktrace:
https://gist.github.

[2021-09-01 22:26] vinothchandar commented on #2688
Another report

[code]

[code]

Config properties:
[code]

[2021-09-01 22:51] vinothchandar commented on #2688
let me try to dig more into this tomorrow. Trying to get the PR backlog reduced today/tonight!

[2021-09-02 01:35] FeiZou commented on #3418
Hey from my understanding, MOR table will have high cost during the reading than COR. Especially in our case, we have duplicated rows in the delta commit which needed to be handled during the reading time. Reading time is kind of more of concern for us. Please correct me if my understanding is wrong and please let me know if you guys have any clue on improving the `upsert` spark job performance, e

[2021-09-02 02:23] pengzhiwei2018 commented on #3554
Yes, spark 3.1 has many changes to the class for spark sql. I have submit a PR to adapter 3.1 https://github.com/apache/hudi/pull/3580

[2021-09-02 13:28] codope commented on #3558
@kenny291 I ran a [quick test locally](https://gist.github.com/codope/0a8945ff46337a6eff1ead9a9f881616) (Spark 3.1.2, Hudi 0.9.0) and I did see the error. Do you have hive/glue metastore sync enabled? If yes, could you check the schema of the corresponding table registered in hive/glue?

[2021-09-02 17:13] codejoyan commented on #3581
@vinothchandar/@nsivabalan/@umehrot2 As per suggestion, I turned on hoodie.metadata.enable=true and hoodie.metadata.metrics.enable = true during the write. I could see some improvement, but the next step doesn't start immediately. Does it mean that it is still listing the files and not reading from the metadata table?

**Approach 3:**
<img width="1701" alt="Screenshot 2021-09-02 at 10 37 32 PM" sr

[2021-09-02 17:28] rubenssoto opened #3587 "[SUPPORT] Got runtime exception when hive syncing"
Hello Guys,

We have Hudi working in our datalake with EMR for months and yesterday started the error bellow. I dropped the table on Glue and Hudi create the table again and the error stopped, but today the error started again.

Apache Hudi 0.8
Emr 6.2
Spark 3.0.1

` diagnostics: User class threw exception: java.lang.Exception: Error on Table: user, Error Message: org.apache.hudi.hive.HoodieHiveSy

[2021-09-02 17:30] rubenssoto commented on #3587
Table:
![Uploading Captura de Tela 2021-09-02 às 14.29.35.png…]()

[2021-09-02 18:55] rubenssoto commented on #3587
It was a connection issue on our side...Im so sorry

[2021-09-02 18:55] #3587 closed

[2021-09-02 23:54] melin opened #3589 "How to set the hudi parameter?"
spark sql inserts data into the hudi table How to set the hudi parameter such as hoodie.datasource.hive_sync.enable，I want to synchronize the partition information to the hive metastore

[2021-09-03 02:52] kenny291 commented on #3558
Hi @codope,
Thank for rechecking it. I disabled Hive/Glue sync.

I tested with your example in [quick test locally](https://gist.github.com/codope/0a8945ff46337a6eff1ead9a9f881616).
It worked, but your data is a little difference. It's only 1 partition `part_0`.

Did you recheck with data as I mentioned ?
data1:
partition: part_0 and part_3

then data2:
partition: part_0 and part_9 (change data ty

[2021-09-03 04:32] melin opened #3591 "Failed to create a hudi table kerberos authentication"
Failed to create a hudi table kerberos authentication, No problem creating the orc table

[code]

[2021-09-03 08:52] Ayan07 commented on #3530
@codope Any inputs on the above query?
I am unable to query the HUDI tables if I am trying to use any of the latest versions of presto (>0.240).
Adding the hudi-presto-bundle jar also din't work for the recent versions >0.240.

[2021-09-03 11:23] codope commented on #3530
@Ayan07 That's a bit odd. With Presto >0.240, Hudi is a compile time dependency, it should have worked. If you're still getting the same `S3AFileSystem not found` issue, I still think that it might be due to incompatible versions of hadoop-aws. Nevertheless, can you share your environment details as below? I'll try to reproduce.

**Environment Description**

* Hudi version :

* Spark version :

*

[2021-09-03 14:01] Ayan07 commented on #3530
@codope

Please find below the environment details:

- Hudi version : 0.8
- Spark version : 2.4.4
- Hive version : 3.1.2
- Hadoop version : 2.7.3
- Storage : S3

The entire thing is set up and running in Kubernetes.

**Additional context**

I'm trying to query COW Hudi tables.

i'm able to query these tables if I downgrade Presto to 0.226 ( which is less than 0.240) and then add the hudi-presto-bu

[2021-09-03 14:01] Ayan07 commented on #3530
@codope Please let me know if you need anything else from my end.

[2021-09-03 22:36] nsivabalan commented on #3431
Have you tried tuning GC by any chance?

Do you mind posting spark UI stages screenshot to see if there are any skews are GC overhead.

[2021-09-03 22:39] nsivabalan commented on #3418
wrt duplicates, did you use SimpleKeyGen and same config values for record keys and partition path for both bulk_insert and upsert?

[2021-09-03 22:40] nsivabalan commented on #3395
thanks.

[2021-09-03 22:43] nsivabalan commented on #3394
1. To dedup records within the same incoming batch, you need to enable these configs.
https://hudi.apache.org/docs/configurations#hoodiecombinebeforeupsert
https://hudi.apache.org/docs/configurations#hoodiecombinebeforeinsert

In this case, payload impl does not matter.

2. yes, you can try using DefaultHoodieRecordPayload. It is available as part of 0.8.0.

[2021-09-03 22:53] nsivabalan commented on #2948
@umehrot2 : Can you loop in some EMR folks to assist here please.

[2021-09-04 04:19] Tandoy opened #3598 "[SUPPORT] An exception occurs when using OCC and the second concurrent writer"
**Describe the problem you faced**
HoodieDeltaStreamerException when using OCC and a second concurrent writer
that after a few commits from each the deltastreamer is likely to fail with the above exception when the datasource writer creates non-isolated inflight commits

**To Reproduce**
Steps to reproduce the behavior:
1.Start a deltastreamer job against some table Foo
[code]

2.In parallel, star

[2021-09-04 07:47] niloo-sh commented on #3572
@vinothchandar you mean I can not use, hdfs(3.1.1) and hive(3.1.0)?

[2021-09-04 07:48] niloo-sh commented on #3572
@vinothchandar you mean I can not use, hdfs(3.1.1) and hive(3.1.0)?

[2021-09-05 01:58] fengjian428 opened #3603 "[SUPPORT] delta streamer Failed to archive commits"
**Describe the problem you faced**

I tried to use 0.9 version deltastreamer ingest data to a cow table from kafka, after few commits success， I got a  Failed to archive commits error
I also check https://github.com/apache/hudi/issues/2515  but still got same error after set hoodie.fail.on.timeline.archiving: false
**To Reproduce**

Steps to reproduce the behavior:

1. initial cow table with SqlSo

[2021-09-06 06:54] zhouhongyu888 commented on #3215
I still have this problem with 0.9 version

[2021-09-06 06:54] Ambarish-Giri opened #3605 "[SUPPORT]Hudi Inserts and Upserts for MoR and CoW tables are taking very long time."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

Hi Team,
I was testing Hudi for doing inser

[2021-09-06 06:58] Ambarish-Giri commented on #3395
it's working on EMR.

[2021-09-06 07:27] melin opened #3606 "[SUPPORT]Upgrade the parquet 1.12 version to support zstd"
Upgrade the parquet 1.12 version to support zstd

[2021-09-06 08:48] zhangyue19921010 commented on #2230
Hi @BalaMahesh and @bvaradar Sorry to bother you. Is there any workaround to fix this EOF issue. Because upgrade hadoop-aws-xxx.jars seems too heavy for our hadoop-yarn environment. Thanks in advance!

[2021-09-06 11:09] zhangyue19921010 opened #3607 "[SUPPORT]Presto query hudi data with metadata table enable un-successfully."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

We are

[2021-09-06 11:57] danny0405 commented on #3215
Can you share your error stacktrace ?

[2021-09-06 15:42] parisni opened #3609 "[SUPPORT] SQL stmt broken with spark 3.1.x"
In my experiments, the new SQL stmt features of hudi 0.9 does not work with spark 3.1.x but only with spark 3.0.x

step to reproduce:
[code]

[2021-09-07 01:17] FeiZou commented on #3418
Hey @nsivabalan, actually as I checked, the duplicates has nothing to do with `upsert`, it happened during the `bulk_insert`.
A proof is that 2 duplicates rows with same key but different `data_updated` existing in same partition. They have same `hoodie_commit_time` 20210817130414,  same `hoodie_record_key` RE2dd866834bea72ac37612d3f57afe58c. Shouldn't these 2 duplicated rows been combined before

[2021-09-07 06:57] maddy2u commented on #3394
Thank you Sivabalan ! Appreciate your support. We will come back with updates shortly.

[2021-09-07 12:13] novakov-alexey opened #3617 "[SUPPORT] Hive Sync to Glue throws Failed to read data schema"
**To Reproduce**

I am getting an exception on Hive Sync to Glue Catalog, when writing empty dataframe with schema to S3.

Steps to reproduce the behavior:

1. Create empty dataframe with schema, for example:
[code]
2. Write this dataframe to S3 with Hive sync enabled. For example:
[code]
My Hudi writer options:

[code]

**Expected behavior**

Hudi table is registered in AWS Glue Catalog as extern

[2021-09-07 12:14] novakov-alexey commented on #3617
@codope this what we discussed in Slack

[2021-09-07 13:24] codope commented on #3617
@novakov-alexey Thanks for sharing the steps to reproduce. Is there any specific reason you want to register Hudi table in Glue Catalog in advance? Typically, if you write with the data and hive sync is enabled, then the registration in the catalog happens automatically.

[2021-09-07 13:39] novakov-alexey commented on #3617
@codope I have an empty dataset which is used in Spark SQL as a table for joining with other tables. That means I need to have such Hudi table registered in Glue/Hive catalog in advance. Otherwise I get "table not found error" during my query execution.
When I later run complex business query in my Spark SQL code, I do spark.sql("use mydb") where that empty table must be present already. It is a b

[2021-09-08 09:34] niloo-sh commented on #2688
@vinothchandar did you solve your problem? did you solve your problem? can you use Apache Hudi 0.9.0 with hive 3.x?

[2021-09-08 10:07] Ambarish-Giri commented on #3605
Hi Team, following up on the ticket to check if there is any update.

[2021-09-08 21:15] nochimow commented on #3431
Hi @nsivabalan,

After some other testing, we figured out what was our problem.
Based on the AWS recommendation, we were wrongly assuming that the any memory parameter passed on the glue spark context were being automatically replaced by Glue. (Like some indicators showed us on SparkUI), but, in some ways this parameters were affecting in a negative way the Glue native memory management.

Basicall

[2021-09-08 21:16] #3431 closed

[2021-09-09 02:32] #3589 closed

[2021-09-09 02:34] melin opened #3624 "Failed to delete the partition table record from spark-sql"
[code]
The reason for this error is because a partition was deleted.If you insert data into the delete partition again, there is no problem executing delele
[code]

[2021-09-09 03:18] xiaozhch5 opened #3626 "[SUPPORT] hudi cannot compile with hbase 2.2.6"
# The Problem I faced

when I compile hudi with hbase-2.2.6 with the command of `mvn clean package -DskipTests -DskipITs -Dhbase.version=2.2.6`, it got errors like below:

[code]

## **To Reproduce**
[code]

## **Environment Description**

* Hudi version : 0.9.0

* Hbase version: 2.2.6

## The behaviors I do to fix the error
I check the errors in HFileBootstrapIndex.java and HoodieHFileReader.java

[2021-09-09 05:05] Ambarish-Giri commented on #3605
Hi @nsivabalan,  I was looking @ some assistance on this.
I have followed all the optimization provided in https://cwiki.apache.org/confluence/plugins/servlet/mobile?contentId=115510763#content/view/115510763  but then too .....Hudi insert of 53 GB gzip file in a fairly large EMR :
Cluster Size:1 Master (m5.xlarge) node , 2* (r5a.24xlarge) core nodes and 6 * (r5a.24xlarge) is taking almost 2 hrs.

[2021-09-09 06:27] #3550 closed

[2021-09-09 10:16] PengleiShi opened #3629 "[SUPPORT] Branch and tag with same name which makes fetching branch is diffcult"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-09-09 14:23] danny0405 commented on #3605
You can try Flink hudi instead, very good performance.

[2021-09-09 16:26] Ambarish-Giri commented on #3605
Hi  @danny0405 as mentioned my use case is purely batch....does Flink Hudi is for streaming or batch?

[2021-09-09 22:26] saqibalimalik commented on #2498
I see same error when I try to read MOR table using spark. No issues querying using hive/presto.

`Spark 3.0.1 and hudi-spark3-bundle_2.12:0.9.0`

Reading as
[code]

Getting below error
[code]

[2021-09-10 02:16] danny0405 commented on #3605
Yeah, Spark is good for batch case, but the Bloom index is not vary stable when you updates are kind of random(for target partitions), if the BloomFilter got false positive, hoodie would scan the whole parquet file which is the reason why it is slow.

[2021-09-10 05:13] deshpandeanoop opened #3635 "[SUPPORT] java.lang.NoSuchMethodError while launching Spark 2.3.1 in stand alone cluster mode."
Hi Team,

I'm getting `java.lang.NoSuchMethodError` exception when I try launching the Spark application in stand alone mode.
**Exception Trace:**
[code]

Below is my `build.sbt` file:
[code]

Spark submit command:
[code]

Versions of the softwares installed on my system,

- Scala: `2.11`
- Spark: `spark-2.3.1-bin-hadoop2.7`

Just to add, I'm trying to read a `csv` extract and create a `hudi` tabl

[2021-09-10 08:21] pete91z commented on #2498
OK Thank you @nsivabalan and @codope  I will look into building 0.7.0 and re-test. I will also look at 0.8.0 when I get time.

[2021-09-10 16:30] saqibalimalik commented on #2498
I tested with both 0.8.0 and 0.9.0 and get same error. I should also mention that I have partitioning based on 2 fields as well.

[2021-09-10 17:22] vinothchandar commented on #3579
@raphaelauv there is a PR up, #3592 , will mostly land today!

[2021-09-10 17:22] #3579 closed

[2021-09-10 18:27] bryanburke opened #3641 "[SUPPORT] Retrieving latest completed commit timestamp via HoodieTableMetaClient in PySpark"
**Describe the problem you faced**

I am not experiencing a problem. I would however like to request advice/peer review to ensure I am using the Hudi Java classes and methods in the most appropriate manner.

Goal: Retrieve the timestamp of the latest completed commit in a Hudi table, loading only Hudi metadata files from S3 in the process.

Sample code below in the **To Reproduce** is the approach

[2021-09-11 07:43] Ambarish-Giri commented on #3605
Hi @danny0405 can you explain a bit more on "if the BloomFilter got false positive"?
In my case the record key is concat(uuid4,segmentId). SegmentId is an integer value i.e. it can be same for multiple records and uuid4 is standard unique random value, but a combination of both identifies a record uniquely and partition key is again segmentId  as it has low cardinality.

[2021-09-11 15:58] nsivabalan commented on #3605
Hey hi @Ambarish-Giri :
For initial bulk loading of data into hudi, you can try "bulk_insert" operation. it is expected to be faster compared to regular operations. Ensure you set the right value for [avg record size config](https://hudi.apache.org/docs/configurations/#hoodiecopyonwriterecordsizeestimate) . for subsequent operations, hudi will infer the record size from older commits. But for firs

[2021-09-11 16:07] nsivabalan commented on #3418
If you wish to dedup with bulk_insert, we also need to set "hoodie.combine.before.insert" to true.
Just to clarify, bulk_insert will not looking into any records in storage at all. so setting this config, will ensure incoming batch is deduped and written to hudi.
In other words, if you do 2 bulk_inserts, one followed by another, each batch will write unique records to hudi, but if there are record

[2021-09-11 16:08] nsivabalan commented on #3431
awesome, thnx for the update.

[2021-09-11 16:09] nsivabalan commented on #3555
@pengzhiwei2018 : Can you take this up. If you have a tracking jira, please link here and close this issue out.

[2021-09-11 16:16] nsivabalan commented on #3533
yes, can you list files along w/ sizes. Based on the logs you have provided, likely we are interested in files w/ commit time
20210826162904 and 20210826162935.

[2021-09-11 16:19] nsivabalan commented on #3554
@pengzhiwei2018 : feel free to close out this issue if we have a tracking jira.

[2021-09-11 16:21] nsivabalan commented on #3582
@yanghua : Can you please help here.

[2021-09-11 16:24] nsivabalan commented on #3571
May I know whats the spark bundle you are using ? Hudi has 3 diff bundles for spark and scala version variants

[2021-09-12 04:17] QingFengZhou commented on #143
Please add me to slack group
Email:  zhouqf2011@163.com
Thanks!!

[2021-09-12 05:11] xushiyan commented on #3554
Moved to JIRA
https://issues.apache.org/jira/browse/HUDI-1869

[2021-09-12 05:11] #3554 closed

[2021-09-12 14:27] Ambarish-Giri commented on #3605
Hi @nsivabalan ,

Sure will try bulk-insert once and update.

1# Upserts can be spread across partitions or can be specific as well as per the data received for that day, and it can have just appends as well.
2# No the records key doesn't have any timestamp affinity, as mentioned the record key is concat(segmentId,uuid4). SegmentId is an integer value i.e. it can be same for multiple records and u

[2021-09-12 14:47] yanghua commented on #3582
Did you try Hudi 0.9？

[2021-09-13 01:33] JoshuaZhuCN opened #3647 "[SUPPORT] Failed to read parquet file during upsert"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

When us

[2021-09-13 04:59] Ayan07 commented on #3530
@codope any updates on this?

[2021-09-13 06:49] yanghua commented on #3629
Hi @PengleiShi ,

The branch should keep there for the need to incubrate subsequent minor version (e.g. cherry-pick some new fix PR back to the released branch). However, the tags would never been changed. If you want to checkout a released version, choose the tag for your need.

Can this explain answer your question?

[2021-09-13 06:50] yanghua commented on #3635
Could you please choose a Spark version greater than 2.4 or 2.4+?

[2021-09-13 10:29] YuweiXiao commented on #143
Please add me to slack group
Email: ywxiaozero@gmail.com
Thank you~

[2021-09-13 12:31] Ambarish-Giri commented on #3605
Hi @nsivabalan,

I have tried changing the index type to Simple Index as well and below are my upsert and bulk-insert configurations respectively:
Upsert
------

userSegDf.write
      .format("hudi")
      .option(DataSourceWriteOptions.TABLE_TYPE_OPT_KEY, DataSourceWriteOptions.COW_TABLE_TYPE_OPT_VAL)
       .option(DataSourceWriteOptions.KEYGENERATOR_CLASS_OPT_KEY, keyGenClass)
      .option(Dat

[2021-09-13 13:28] parisni commented on #3609
added a jira tracker https://issues.apache.org/jira/browse/HUDI-2427

[2021-09-13 13:58] deshpandeanoop commented on #3635
@yanghua : Is there anyway to have this working with spark version `2.3.1`? Currently I'm trying to launch on my local machine for testing purposes. Once I'm done with my development, I will be launching it on our on-prem cluster(shared by multiple teams) which is having spark `2.3.1` installed and we don't have any control to upgrade it.

[2021-09-13 15:50] codejoyan commented on #3581
Any pointers on improving the reads.

[2021-09-13 17:39] nsivabalan commented on #3246
Closing this as this is a known problem .

[2021-09-13 17:39] #3246 closed

[2021-09-13 17:44] nsivabalan commented on #3191
@mdz-doit : can you please respond.

[2021-09-13 17:46] nsivabalan commented on #3161
@codope : Can you follow up on this. I vaguely remember you trying out something like this

[2021-09-13 17:47] nsivabalan commented on #3132
@deep-teliacompany : Can you please respond.

[2021-09-13 17:50] nsivabalan commented on #3127
sorry, hudi official support is only from 2.4.3. Will close this out.

[2021-09-13 17:50] #3127 closed

[2021-09-13 17:50] nsivabalan commented on #3095
@umehrot2 @zhedoubushishi : gentle ping.

[2021-09-13 17:51] nsivabalan commented on #3078
@tandonraghav @fanaticjo : we have some work going on wrt schema evolution in the community. If you any pending issues, do let us know. We can definitely look into fixing it.

[2021-09-13 17:53] nsivabalan commented on #2959
@PavelPetukhov : sorry for very late turn around. Were you able to get it resolved? Erasing of all data seems very strange. Definitely interested in looking into the issue.

[2021-09-13 17:55] nsivabalan commented on #3199
sorry for late turn around.
@wangfeigithub : so, is the expectation, you wanna fail the spark streaming job whenever any issues w/ hive sync?

[2021-09-13 17:57] nsivabalan commented on #3324
@conanxjp : did you get a chance to try the above suggestion

[2021-09-13 18:01] nsivabalan commented on #3344
@ziudu : Is there any update? Anything worked for you, anything that did not work ?

[2021-09-13 21:36] FeiZou commented on #3418
Hey @nsivabalan, I did set `hoodie.combine.before.insert` as true if you check the config I provided above `HoodieWriteConfig.COMBINE_BEFORE_INSERT_PROP -> "true"`. And I'm doing bulk_insert as one time loading(same batch) so there are is no stored records existing.

[2021-09-13 22:59] vinothchandar commented on #3581
cc @xushiyan this might be very relevant to what you are looking at. Mind jumping in?

I don't know top of my head if the "Listing leaf files ..."  shows up with file listings enabled. @umehrot2 anything top of your head?

On 2, I think it could be connections/connection pools warming up. It's standard practice to do some warmup runs before you benchmark. On the gap between job 3 and 4, I am still

[2021-09-14 00:16] conanxjp commented on #3324
@nsivabalan Sorry for the delay, here is some updates.

The weird behavior I reported maybe caused by an amazon version of spark, but depends on the versions, it sometimes can be triggered by a combination of hudi and amazon spark.

To the MOR table, I did give it a try, as well as the clustering feature. The compaction for MOR doesn't have a good use case for our streaming app as the app is doing

[2021-09-14 01:55] yanghua commented on #3635
Hi @vinothchandar Can you chime in to answer this question?

[2021-09-14 02:08] yuangjiang commented on #3571
this is my maven pom! scan version ?
    <dependency>
            <groupId>org.apache.hudi</groupId>
            <artifactId>hudi-spark-bundle_2.11</artifactId>
            <version>0.9.0</version>
        </dependency>

[2021-09-14 04:02] PengleiShi commented on #3629
Yes, i see. But i think it's better to have different name between branchs and tags. For now, if i have fetched a tag, then i can't fetch the branch with same name unless i delete the tag locally.

[2021-09-14 08:57] yanghua commented on #3629
Sounds reasonable, thanks. Refer to other projects, e.g. Apache Flink, the release branches follow this pattern `release-a.b`, the tags pattern like this `release-a.b.c`. Maybe we can learn from it, WDYT? @vinothchandar

[2021-09-14 11:28] zhouhongyu888 opened #3657 "[SUPPORT] Failed to insert data by flink-sql"
Flink version:1.11.2
hadoop version:3.13
scala version:2.11
hudi version:0.9

When I test the flink-example below:
CREATE TABLE t3(
  uuid VARCHAR(20),
  name VARCHAR(10),
  age INT,
  ts TIMESTAMP(3),
  `partition` VARCHAR(20)
)
PARTITIONED BY (`partition`)
WITH (
  'connector' = 'hudi',
  'path' = 'hdfs://hadoop102:8020/flink-hudi/t3',
  'table.type' = 'MERGE_ON_READ'
);

INSERT INTO t3 VALUES

[2021-09-14 11:41] codope commented on #3161
@cb149 I could not reproduce the issue locally. I started producing to Kafka just seconds before starting the streaming app. I am sharing the code and logs in [this gist](https://gist.github.com/codope/1c0bc720ab118b36bbe0bc9cce120de1). Are you repeatedly facing this issue? What's your `startingOffsets` configuration?

[2021-09-14 12:05] PengleiShi commented on #3629
For Spark, the branch which needs to incubrate subsequent minor version follows the pattern `branch-a.b`, and released version tags are like `v3.1.2`, this may be clear.

[2021-09-14 12:06] novakov-alexey commented on #3647
Also getting this issue with Spark 3.1

[2021-09-14 12:11] codope commented on #3242
@moranyuwen Could you please add more details regarding your setup? What's the Hudi and Hive version? How are you trying to setup the database as hive metastore? What are the `javax.jdo.*` options in hive-site.xml?

[2021-09-14 13:08] danny0405 commented on #3657
Hi, you need to use Flink 1.12.2 for Hudi 0.9.0 release and Flink 1.13.1 for master branch.

[2021-09-14 16:03] codope commented on #3297
@zxding I could not reproduce by simply executing merge sql for a table for which metadata is enabled. IIUC, what you're doing is:
1. alter table set hoodie.metadata.enable='true'
2. merge into table
3. merge into table again -> this throws error right?
4. alter table set hoodie.metadata.enable='false'
It would be great if you could share the reproducible steps and configs that you set.

[2021-09-15 02:49] nsivabalan commented on #3603
quick question. Were you running hudi w/ 080 and you did not face any issue and you are trying out 090 and running into this issue ? or are you trying out hudi for first time. trying to rule out any env or schema specific issues.

[2021-09-15 03:06] zhouhongyu888 commented on #3657
thank you for your reply, I have changed Flink 1.12.2 for my test, but another error appeared. I used standalone-mode for flink and when i submited the flink-sql task，the process of StandaloneSessionClusterEntrypoint  would been died

_Exception in thread "main" org.apache.flink.table.client.SqlClientException: Unexpected exception. This is a bug. Please consider filing an issue.
	at org.apache.fl

[2021-09-15 03:13] nsivabalan commented on #3598
Can you try setting this as part of your configs.
hoodie.datasource.write.commitmeta.key.prefix="deltastreamer.checkpoint.key"
@n3nash : Can you confirm this config.

[2021-09-15 03:22] kelvin-qin opened #3662 "[SUPPORT]Hudi‘s CTAS"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-09-15 04:31] danny0405 commented on #3657
you may need to past the "caused by" part of the error stack trace.

[2021-09-15 05:49] zhouhongyu888 commented on #3657
yes, I see the the "caused by" part of the error stack trace:

Caused by: org.apache.flink.util.FlinkRuntimeException: Failed to start the operator coordinators
	at org.apache.flink.runtime.scheduler.SchedulerBase.startAllOperatorCoordinators(SchedulerBase.java:1258) ~[flink-dist_2.11-1.12.2.jar:1.12.2]
	at org.apache.flink.runtime.scheduler.SchedulerBase.startScheduling(SchedulerBase.java:624) ~[

[2021-09-15 05:58] nsivabalan commented on #3591
Closing this as we have a tracking jira and a PR. thanks for the contribution :)

[2021-09-15 05:58] #3591 closed

[2021-09-15 06:02] nsivabalan commented on #3571
got you.
Is it a new table that you are looking to write? or a old table in 080 and you upgraded to 090 and having an issue on first write after upgrade?

[2021-09-15 06:03] nsivabalan commented on #3571
also, if I am not wrong, you are using spark sql dml to write to hudi ?

[2021-09-15 06:06] nsivabalan commented on #3572
I am not sure if hive 3.1.0 has been fully tested. haven't seen many users using hive3.x.
@codope : Do you know of any known issues w/ hive 3.x ?

[2021-09-15 06:07] nsivabalan commented on #3572
@niloo-sh : did you try quick start utils and running into issues as well ?

[2021-09-15 06:09] nsivabalan commented on #3598
@davehagman : I remember you were trying out multi-writer. can you share any pointers please.

[2021-09-15 06:13] nsivabalan commented on #3607
@codope : we should be able to try out docker demo w/ presto and metadata table enabled. should be able to quickly get an idea.

[2021-09-15 06:14] nsivabalan commented on #3609
@pengzhiwei2018 : can you look into this please

[2021-09-15 06:20] niloo-sh commented on #3572
@nsivabalan yes, I started with quick start and continue with Datasource Writer, but I gettin into trouble when I want to sync Hudi table with hive(3.1.0).

[2021-09-15 07:14] gaoshihang commented on #3657
I have exactly the some problem.........

[2021-09-15 07:26] Wrekkers opened #3665 "[SUPPORT] GraphiteMetricsReporter hardcoded 30s delay"
**Problem Description**

I was using GraphiteReporter for HUDI metrics and executing my app on Amazon EMR Cluster by running spark on Steps. I am running Graphite using [prometheus/graphite_exporter](https://github.com/prometheus/graphite_exporter) on a K8 cluster. However, I am unable to see any metrics, when I try the same using spark-shell HUDI is able to publish the metrics and are visible on

[2021-09-15 07:31] gaoshihang commented on #3657
and if I use flink 1.13.1 and hudi master, there are another ERROR:
org.apache.flink.runtime.JobException: Recovery is suppressed by NoRestartBackoffTimeStrategy
	at org.apache.flink.runtime.executiongraph.failover.flip1.ExecutionFailureHandler.handleFailure(ExecutionFailureHandler.java:138)
	at org.apache.flink.runtime.executiongraph.failover.flip1.ExecutionFailureHandler.getFailureHandlingResult

[2021-09-15 07:31] liujinhui1994 commented on #3665
If you shorten this time, can you meet your needs? . It is true that time should be used as a configuration item, and users can configure it based on this. I will open an issue to track this matter, and you will be able to use this feature soon

[2021-09-15 08:34] Wrekkers commented on #3665
We are creating a user defined class to shorten the time. will update if it
solves the issue.

Thank you

On Wed, 15 Sep 2021, 1:01 pm liujinhui, ***@***.***> wrote:

[2021-09-15 08:35] liujinhui1994 commented on #3665
Will be resolved today

[2021-09-15 13:18] parisni opened #3669 "[SUPPORT] SQL stmt managed table empty in athena"
The tables created thought `spark.sql("create table .... options(primaryKey='')")` (new 0.9.0 feature), are accessible from athena. However, they are empty when readed thought athena. (while not empty from spark sql api and datasource api)

[2021-09-15 13:22] parisni opened #3670 "[SUPPORT] SQL stmt managed table, not update/delete with datasource API"
In my experiments, when a table is managed with SQL (ie `spark.sql("create table...")`) then they cannot be managed with the datasource api (`spark.write.format("hudi")`) for update/delete , but only read works.

As a result,  `sql api` and `datasource api` cannot be used together. One has to chose the API for a given table.

[2021-09-15 13:28] parisni commented on #1751
@dude0001
[code]
did the trick for me

[2021-09-15 15:12] codope commented on #3603
@fengjian428 I could not reproduce the issue. I have the same setup i.e. deltastreamer continuous job consuming from Kafka. Though my schema in extraMetadata is simple one. There is a similar issue #3559  with 0.8.0. Based on this [SO answer](https://stackoverflow.com/questions/26720257/nullpointerexception-in-avro-reflectdatumwriter), I think we need to use ReflectDatumWriter to allow nulls. Coul

[2021-09-15 19:25] codejoyan commented on #3581
Hi @xushiyan / @vinothchandar

To this question "Listing leaf files ..." shows up with file listings enabled" -> Even I thought so. But I could see that the metadata table is created while writing. Doesn't that mean it should read from the metadata table instead of doing a file listing:

       295  2021-09-15T17:50:46Z  gs://udp-hudi-storage3/store_visit_scan_hudi_spark_3_tgt_v1/.hoodie/hoodie.pr

[2021-09-15 21:52] cb149 commented on #3161
@codope `startingOffsets` is set to `earliest`.

I changed my application from scheduled every hour to every two hours to allow for more new messages in the topic and I haven't really seen the issue more than a couple of times since then.

I added a failsafe comparing `numInputRows` and `endOffset - startOffset`, but in the last month or so the only time I was alerted of a missmatch betwen those w

[2021-09-16 00:40] danny0405 commented on #3657
This is the problem of the classloader, which is fixed in branch: https://github.com/apache/hudi/pull/3519 and master

[2021-09-16 00:40] danny0405 commented on #3657
Looks like you declare a wrong table type, try to clean the .hoodie directory and try again.

[2021-09-16 04:14] Ambarish-Giri commented on #3605
Hi @nsivabalan ,

We have been trying to optimize the upsert but still the 44GB upsert over a 54 GB bulk-insert in a fairly big cluster is taking more than 3 hrs. Below in the EMR cluster configuration and the Upsert config:

userSegDf.write
      .format("hudi")
      .option(DataSourceWriteOptions.TABLE_TYPE_OPT_KEY, DataSourceWriteOptions.COW_TABLE_TYPE_OPT_VAL)
       .option(DataSourceWriteOp

[2021-09-16 05:47] YannByron commented on #3555
@nsivabalan @pengzhiwei2018  i'm glad to take it up.

[2021-09-16 07:38] deshpandeanoop commented on #3635
@vinothchandar : A gentle reminder to help us out here :)

[2021-09-16 07:50] wuleistarrocks opened #3672 "[SUPPORT] Spark-SQL version 3.1.2 get exception while insert record into table"
stack trace:

spark-sql> insert into hudi_table0 select 1, 'a1', 20;
21/09/16 15:50:05 ERROR SparkSQLDriver: Failed in [insert into hudi_table0 select 1, 'a1', 20]
java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.expressions.Alias.<init>(Lorg/apache/spark/sql/catalyst/expressions/Expression;Ljava/lang/String;Lorg/apache/spark/sql/catalyst/expressions/ExprId;Lscala/collection/Seq;Lscala/O

[2021-09-16 08:09] wuleistarrocks opened #3673 "[SUPPORT] insert into get hang using spark-sql"
insert into get hang using spark-sql:

spark-sql> insert into hudi_table0 select 1, 'a1', 20;

spark-sql version: 3.0.3

[2021-09-16 09:40] deep-teliacompany commented on #3132
Testing this and will revert once have my findings.

[2021-09-16 15:28] FelixKJose opened #3676 "MOR table rolls out new parquet files at 10MB for new inserts - even though max file size set as 128MB"
I have been trying to set up data in HUDI MOR table for my consumption load test, but come across an interesting behavior. I have configured the write operation as 'upsert', even though all my writes are 'insert'. When I do perform new insert, I could see new version of the base parquet file is getting created by appending new data.
As my commits to retained configuration is set to 1, it keeps onl

[2021-09-16 17:07] stym06 opened #3677 "DeltaStreamer exits with error while writing to Azure Blob storage[SUPPORT]"
**Describe the problem you faced**

I'm running the DeltaStreamer application in continuous mode writing data into Azure blob storage. It runs fine for a few days, but exits with the following error.

`Caused by: java.net.UnknownHostException: xyz.blob.core.windows.net`

**To Reproduce**

Steps to reproduce the behavior:

1. Run DeltaStreamer with below configs:
[code]

**Expected behavior**

The

[2021-09-16 17:32] stym06 commented on #2680
@moranyuwen  I was facing this issue and it got fixed when I ran it after turning on the hiveserver2 in the pod. My hunch is that it needs the hive-site.xml to know that it has to use mysql driver else it uses the default derby driver.

[2021-09-16 17:59] zhedoubushishi commented on #3095
Sorry for the late reply. I also think this is not a Hudi specific issue, it's more like an EMR implementation issue. You can just open a customer support ticket to EMR.

[2021-09-16 20:42] xushiyan commented on #3581
@codejoyan for reading can you also try enabling the metadata config too? like `.option("hoodie.metadata.enable", "true")`. certainly we need to make the docs better..

[2021-09-17 07:17] YannByron commented on #3609
This exception is caused by the org.apache.spark.sql.catalyst.expressions.Alias's definition being changed in Spark 3.1.x.( https://github.com/apache/spark/pull/30682 ).

Upgrading to Spark3.1 will be work: #3580

[2021-09-17 07:37] #3626 closed

[2021-09-17 08:26] wxplovecc commented on #2215
@bvaradar  I have the same problem in 0.9.0 release
![memory leak](https://user-images.githubusercontent.com/3350718/133750266-4010e6f0-3e65-496b-b5fd-e45390f0543b.png)
![16318671581489](https://user-images.githubusercontent.com/3350718/133750509-8b268e77-28c7-4ccb-a7b8-2ce82b6dc252.png)

[2021-09-17 08:45] zhouhongyu888 opened #3680 "[SUPPORT]Failed to sync data to hive-3.1.2 by flink-sql"
My environment Description:
Flink version:1.13.1
scala version: 2.12
hadoop version: 3.1.3
hive version: 3.1.2
hudi version: 0.9-master

Error appeared when I run the flink-sql task below, and I don't know the reason:

CREATE TABLE t8(
  uuid VARCHAR(20),
  name VARCHAR(10),
  age INT,
  ts TIMESTAMP(3),
  `partition` VARCHAR(20)
)
PARTITIONED BY (`partition`)
WITH (
  'connector' = 'hudi',
  'pat

[2021-09-17 09:38] danny0405 commented on #3680
Hi, here is the doc how you can sync the hive: https://www.yuque.com/docs/share/01c98494-a980-414c-9c45-152023bf3c17?#IsoNU

1. You may need to modify the hive dependency version as what you are using
2. You need to add the hive profile

[2021-09-17 10:04] zhouhongyu888 commented on #3680
yes , I compiled hudi using the parameter -Pflink-bundle-shade-hive3 and my hive version is 3.1.2 which is the same as it in the pom.xml

[2021-09-17 11:35] Vander111 opened #3684 "[SUPPORT] Add hudi-flink-bundle 0.10.0-SNAPSHOT to mvnrepository [SUPPORT]"
Could you please add hudi-flink-bundle 0.10.0-SNAPSHOT to mvnrepository?
I want to add hudi-flink-bundle 0.10.0-SNAPSHOT dependency in  project with maven like

<dependency>
    <groupId>org.apache.hudi</groupId>
    <artifactId>hudi-spark-bundle_2.11</artifactId>
    <version>0.10.0-SNAPSHOT</version>
</dependency>

[2021-09-17 11:36] Vander111 commented on #3684
[code]

[2021-09-17 13:11] liujinhui1994 commented on #3665
@Wrekkers Using the master branch, which is now supported

[2021-09-17 15:21] Natielle commented on #2970
I had the same problem and I was sure that no other jobs running in parallel. The root problem was the partition column containing a value ".".

[2021-09-17 16:14] rubenssoto opened #3685 "[FEATURE REQUEST] HUDI Add metadata for Presto CBO"
Hello,

Presto uses metadata about table size, row count and data about columns to have better decisions using CBO, today is necessary to run ANALYZE on each table.

It would be very good if Hudi could sync this info with Hive, is it possible to do that?

Thank you so much

[2021-09-17 19:58] umehrot2 commented on #3581
@codejoyan since you are observing `Listing leaf files...` it means that your code is using `InMemoryFileIndex` instead of `HoodieFileIndex`. I think you are using an older version of Hudi and not Hudi 0.9.0 for your testing. In Hudi 0.9.0 to enable metadata listing you can just do `SET hoodie.metadata.enable=true` in Spark SQL.

If you are using earlier version of Hudi i.e 0.8.0 or 0.7.0 it does

[2021-09-17 20:08] deep-teliacompany commented on #2970
if want to run jobs in parallel updaing  update same directory then can try Hoodie locking mechanism-
https://hudi.apache.org/docs/concurrency_control/

[2021-09-18 08:29] danny0405 commented on #3647
This is because the Spark bulk insert use Spark's parquet writer which has its own decimal encode, how do you set up the parameter writelegacyformat ?

[2021-09-18 08:37] zhouhongyu888 commented on #3680
Hi, I have done as what you said above,  but  another error appeared:

_2021-09-18 16:23:22,723 INFO  org.apache.flink.runtime.resourcemanager.slotmanager.DeclarativeSlotManager [] - Clearing resource requirements of job e211f6a0afcc69363a6b9915b367a3d5
2021-09-18 16:23:22,722 INFO  org.apache.flink.runtime.executiongraph.ExecutionGraph       [] - Job insert-into_default_catalog.default_database.t

[2021-09-18 08:40] xuzifu666 opened #3688 "[SUPPORT]HUDI-2452 spark on hudi metadata key length < 0"
**spark on hudi metadata key length <= 0, but data primary key is not "" or null，error messages are in attatchment**

log as ：
Caused by: java.util.concurrent.ExecutionException: org.apache.hudi.exception.HoodieUpsertException: Failed to merge old record into new file for key  from old file s3://bigdata-oneentity-dw-cn-northwest-1/prod/hudi/ods/ods_rds_account_db_user_internal_id/.hoodie/metadata/

[2021-09-18 08:42] xuzifu666 commented on #3688
@xushiyan  @nsivabalan

[2021-09-18 08:43] xuzifu666 commented on #3688
the problem about metadata table upsert is need resolve, data record key is not "" or null

[2021-09-18 09:22] danny0405 commented on #3680
This is the classloader problem, what version did you use, you may need to copy the jar into flink lib, and in master branch and 0.9.0 cherry pick branch we have fixed the problem.

[2021-09-18 09:47] t822876884 opened #3689 "[SUPPORT] flink sql write to hudi fail"
![image](https://user-images.githubusercontent.com/17778114/133884777-8b64c72b-54e0-451c-aa67-2c39d88ea849.png)

![image](https://user-images.githubusercontent.com/17778114/133884815-4522b733-69df-4a4f-bc8a-d1a24d27c367.png)

no output from hoodie_stream_write

env: hudi 0.8.0 + flink 1.11.3

sql script
[code]

[2021-09-18 09:59] novakov-alexey commented on #3647
In my case, this issue can be workaround to use insert operation instead of bulk-insert.
Should not Hudi bulk-insert and insert operations be consistent in what they use and how they write Parquet data under the hood?

[2021-09-18 14:17] codejoyan commented on #3581
Thanks for the response @umehrot2 and @xushiyan . I am using 0.9.0 bit still observing `Listing leaf files and directories` even after making the changes you suggested. Below are the code snippet and Spark UI details:

[code]
Corresponding stage details on Spark UI for the above command:
<img width="1715" alt="Screenshot 2021-09-18 at 7 46 45 PM" src="https://user-images.githubusercontent.com/4870

[2021-09-18 15:16] niloo-sh commented on #3572
@vinothchandar I use intellij IDE, add libraryDependencies += "org.apache.hudi" %% "hudi-spark-bundle" % "0.6.0" in build.sbt and get this error :
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/hadoop/hive/conf/HiveConf
	at org.apache.hudi.HoodieSparkSqlWriter$.org$apache$hudi$HoodieSparkSqlWriter$$syncHive(HoodieSparkSqlWriter.scala:319)

[2021-09-18 21:21] nsivabalan commented on #3676
I see you have very aggressive cleaner and archival commits to retain. Can you leave it to default and try it out.
[code]
may be we can deduce if cleaner/archival interplays w/ compaction.

[2021-09-19 02:00] danny0405 commented on #3689
Hi, you may need to use the 0.9.0 with flink 1.12.2 or master with flink 1.13.1. You also need to open the checkpoint.

[2021-09-19 02:49] FelixKJose commented on #3676
I have tried to set those two configs to default but I am having the same behavior (10MB)

[2021-09-19 04:10] xushiyan commented on #3581
@codejoyan after diving into the code, i saw the logic to enable HoodieFileIndex, which we should have clearly stated somewhere in the docs. Please try loading the dataset without glob path, like reading from `"gs://udp-hudi-storage3/store_visit_scan_hudi_spark_3_tgt_v3"`. Also to make sure partition pruning works, can you see if your `hoodie.properties` file contains `hoodie.table.partition.field

[2021-09-19 09:10] YannByron commented on #3555
jira to show partitions: https://issues.apache.org/jira/browse/HUDI-2455

[2021-09-19 17:27] nsivabalan commented on #3676
I found the rootcause. Looks like in MOR, when an index is used which cannot index log files (which is the case for all out of box indexes in hudi), we just choose the smallest parquet file for every commit. So, over time, every file will grow to become fullest is the idea here.

source [link](https://github.com/apache/hudi/blob/3354fac42f9a2c4dbc8ac73ca4749160e9b9459b/hudi-client/hudi-spark-clien

[2021-09-19 21:00] codejoyan commented on #3581
It works without the file listing step and is reading from metadata table !!!
@xushiyan Thanks a lot for the solution.

[2021-09-19 21:00] #3581 closed

[2021-09-20 02:45] t822876884 commented on #3689
tks,i will try again,I think the official website suggests that version 1.11. X is supported

[2021-09-20 06:27] xushiyan commented on #3672
also mentioned in #3609

[2021-09-20 16:29] stym06 commented on #839
@vinothchandar This issue still occurs in the latest release. Can we pick this?

[2021-09-20 20:27] nsivabalan commented on #1845
@sbernauer : closing this issue out as we have the fixes landed already. Feel free to open up a new issue if you have more requirements. thanks!

[2021-09-20 20:27] #1845 closed

[2021-09-21 01:09] danny0405 commented on #3689
Oops, it is a mistake, i have updated the document.

[2021-09-21 08:01] xushiyan commented on #3684
@Vander111 only publish release versions can be made available through maven central. Please build the project locally and make the jar available to your project. Thanks.

[2021-09-21 08:01] #3684 closed

[2021-09-21 08:11] xushiyan commented on #3677
@stym06 this does not look like an issue with Hudi. It's a network issue with Azure storage. Please check with Azure support to investigate.

[2021-09-21 08:11] #3677 closed

[2021-09-21 09:23] Ambarish-Giri commented on #3605
Hi @nsivabalan @danny0405  any updates on the above issue??

[2021-09-21 11:23] #3665 closed

[2021-09-21 12:55] gaoshihang commented on #3262
Hi~How can I use checkpoint in Flink SQL client?

[2021-09-21 19:23] Rap70r opened #3697 "[SUPPORT] Performance Tuning: How to speed up stages?"
Hello,
We are using Spark and Hudi to upsert records into parquet in S3, extracted from Kafka, using EMR. The events could be either inserts or updates.
Currently, it takes 41 minutes for the process to extract and upsert 1,430,000 records (1714 Megabytes).
We are trying to increase the speed of this process. Below are the details of our environment

**Environment Description**

* Hudi version : 0

[2021-09-21 22:21] ZeMirella opened #3699 "[SUPPORT] Job hanging on toRdd at HoodieSparkUtils"
**Describe the problem you faced**
My job hangs during the toRdd task here is some screenshots of the task size

<img width="1771" alt="Captura de Tela 2021-09-21 às 19 07 20" src="https://user-images.githubusercontent.com/75490501/134254359-2f2d0cb9-8bb8-48d2-b02d-f84fd9dab9d6.png">

<img width="1746" alt="Captura de Tela 2021-09-21 às 19 07 46" src="https://user-images.githubusercontent.com/7549

[2021-09-22 01:01] rubenssoto commented on #3607
@nsivabalan Does presto already support Hudi metadata?

[2021-09-22 03:07] nsivabalan commented on #3605
got it, would you mind sharing the screenshots of spark stages. we will get an idea of where the time is spent more.

[2021-09-22 03:10] nsivabalan commented on #3605
btw, an orthogonal point.
I see your record key is {segmentId,uuid} and partition path is segmentId. Not sure if you need to prefix segmentId to your record keys, if you are solely using it to uniquely identify unique records and apply updates within hudi. If there is no external facing requirement for record keys to be a pair of {segmentId,uuid}, you can just have uuid.

[2021-09-22 03:12] nsivabalan commented on #3605
If your cardinality for partition is low, we can try to partition using a diff field which could have high cardinality. We can leverage more parallel processing depending on the no of partitions. Within each partition, we can't do much of parallel processing and so we are limited. I mean, hudi does assign one file group to each executor, but I am talking about indexing.

[2021-09-22 05:01] xushiyan commented on #3699
Need more details to understand what's going on:
- Which line of code from HoodieSparkUtils was ran here?
- What Hudi actions are you trying to perform?
- What is the total input data size are you reading?
- How many executors were actually created during the run?

[2021-09-22 07:03] xushiyan commented on #3697
looks like there are too many partitions (1100) for a dataset < 2GB. This resulted in many small files. Some suggestions 1) reduce number of partitions to <100 2) double check number executors were created. c5.xlarge is a very small machine also with low memory to core ratio. You set 100 executors but each requires 5g memory 3) also tune parallelism settings in Hudi for the insert and upsert

[2021-09-22 07:19] xushiyan commented on #3685
@rubenssoto Let me confirm the proposal is about adding more statistics to HMS during hive sync? So instead of manually analyzing each table now, if the stats are in hive tables, Presto can read those automatically for better query planning. On Hudi side we can try collect more stats. On HMS side we need to know exactly how these can be stored and interpretable by query engines. I think this looks

[2021-09-22 09:05] borasy commented on #2913
Hi @Akshay2Agarwal , so in the end, it's not possible to use hivemetastore and we have to use hive2 jdbc?

-----
hudi 0.9
spark 3.0.3

[2021-09-22 09:09] danny0405 commented on #3262
Take a look at this document: https://www.yuque.com/docs/share/01c98494-a980-414c-9c45-152023bf3c17?#

[2021-09-22 09:36] ycjunhua opened #3704 "[SUPPORT]flink hudi api use batch insert data happen error"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?
yes
- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A cl

[2021-09-22 09:37] JoshuaZhuCN commented on #3647
This parameter I set in spark-default.conf does not work even if it is set in scala code at the same time.

[2021-09-22 10:35] borasy commented on #3572
i also cannot sync hudi table to hive.

-----
hudi 0.9
hive 3.1.2
spark 3.0.3

[2021-09-22 12:29] danny0405 commented on #3704
It seems that you do not write your data successfully, can you show your files in .hoodie directory.

[2021-09-22 12:30] JoshuaZhuCN commented on #3676
I've encountered the same problem, which I've temporarily resolved by setting the value of the parameter COPY_ON_WRITE_TABLE_RECORD_SIZE_ESTIMATE for each commit, and it doesn't appear in 0.8.0

[2021-09-22 13:35] Rap70r commented on #3697
Hello @xushiyan, Thank you for getting back to me.
Just a clarification that above data size (1714 Megabytes, 1.4 million records) is the usual incremental data size we expect on each upsert cycle. The total size of the entire data set sitting on S3 for this particular Hudi collection is 6.2 GB, with approximately 60 million records.
We used to have around 230 partitions but the time that takes fo

[2021-09-22 14:35] rubenssoto commented on #3685
@xushiyan yeah, thats it :)

[2021-09-22 14:36] parisni commented on #2175
@spyzzz you finally choosed to run one spark streaming per table instead of grouping all topics ?

[code]
and not

[code]

[2021-09-22 14:48] xushiyan commented on #3673
@wuleistarrocks please provide more details, spark UI, job setup, data sizes, etc

[2021-09-22 14:52] xushiyan commented on #3609
The issue has been tracked in https://issues.apache.org/jira/browse/HUDI-1869

[2021-09-22 14:52] xushiyan commented on #3672
The issue has been tracked in https://issues.apache.org/jira/browse/HUDI-1869

[2021-09-22 14:52] #3672 closed

[2021-09-22 15:04] xushiyan commented on #3685
Probably better to enhance metadata table instead of sync to HMS. It can be some future work following this
https://issues.apache.org/jira/browse/HUDI-1401

[2021-09-22 15:14] #3688 closed

[2021-09-22 15:21] xushiyan commented on #3669
Looks like an issue with Athena reader. Please report this with more details to AWS via AWS support case.
cc @umehrot2 for your visibility

[2021-09-22 15:21] #3669 closed

[2021-09-22 15:41] rubenssoto commented on #3685
I think it wouldn't have the same effect, because presto uses some hive statistics to do some optimizations for example the right table order on join.

[2021-09-22 16:14] spyzzz commented on #2175
Hello @parisni ,

Yes , I havent worked on this poc since a while but i was still using a stream per table because I had really specific treament on each. And its really not easy to handle with a group topics.

didn't tested hudi v0.7 or v0.8 or v0.9

[2021-09-22 16:26] xushiyan commented on #3606
upgrading to parquet 1.12 also has advantage in getting some parquet fixes. it is now limited to the version due to Spark dependency. There is a plan to upgrade with newer Spark and parquet 1.12

https://issues.apache.org/jira/browse/HUDI-864?focusedCommentId=17413648&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17413648

[2021-09-22 16:26] #3606 closed

[2021-09-22 16:57] vinothchandar commented on #2688
We are still looking into it.

[2021-09-22 16:59] #3555 closed

[2021-09-22 17:01] vinothchandar commented on #2688
cc @codope and I actuallty starting to look at this

[2021-09-22 17:04] xushiyan commented on #3555
PR opened by @YannByron  https://github.com/apache/hudi/pull/3693

[2021-09-22 18:16] xushiyan commented on #3555
@melin looks like you already have a version of drop partition implemented. Do you mind opening up a PR for it? Filed the drop partition ticket https://issues.apache.org/jira/browse/HUDI-2482

[2021-09-22 18:59] ZeMirella commented on #3699
Hi, thanks for you reply
**Which line of code from HoodieSparkUtils was ran here?**
The jobs hangs before even start, it hangs when it start to list files and tries to read s3 files.
the hanged task that the spark history shows me is this one
<img width="958" alt="Captura de Tela 2021-09-22 às 15 50 25" src="https://user-images.githubusercontent.com/75490501/134405074-b8cde70b-d81d-4299-b4a6-05cce

[2021-09-22 23:21] alexeykudinkin commented on #2848
For those that might be hitting the same issue:

You need to make sure that in IDEA you select appropriate JDK (1.8) for your imported project

[2021-09-23 00:55] ycjunhua commented on #3704
![2 LSXTO~ 5SSJ5F@9D9MNC](https://user-images.githubusercontent.com/8231999/134440547-d57a0133-bf68-4cc6-8bef-2cc2a8fc0ce2.png)
![1632358489(1)](https://user-images.githubusercontent.com/8231999/134440574-3b2648b9-775c-4590-9414-36ba4a0db67c.jpg)

[2021-09-23 02:20] danny0405 commented on #3704
No successful commits.

[2021-09-23 02:20] danny0405 commented on #3704
Can you show the log of JobManager ?

[2021-09-23 02:41] ycjunhua commented on #3704
0:33:59,268 INFO  org.apache.hudi.table.HoodieTableFactory                      - Table option [hoodie.datasource.write.keygenerator.class] is reset to org.apache.hudi.keygen.NonpartitionedAvroKeyGenerator because this is a non-partitioned table
10:34:01,444 INFO  org.apache.flink.api.java.typeutils.TypeExtractor             - class org.apache.hudi.common.model.HoodieRecord does not contain a sett

[2021-09-23 02:41] ycjunhua commented on #3704
10:34:04,886 INFO  io.javalin.Javalin                                            - Starting Javalin ...
10:34:05,041 INFO  io.javalin.Javalin                                            - Listening on http://localhost:65426/
10:34:05,042 INFO  io.javalin.Javalin                                            - Javalin started in 160ms \o/
10:34:05,042 INFO  org.apache.hudi.timeline.service.TimelineServ

[2021-09-23 02:42] ycjunhua commented on #3704
10:34:05,441 INFO  org.apache.flink.runtime.executiongraph.ExecutionGraph        - hoodie_stream_write (3/4) (ff5491c88ffc17a816e22c29b6da47be) switched from DEPLOYING to RUNNING.
10:34:05,441 INFO  org.apache.flink.runtime.executiongraph.ExecutionGraph        - hoodie_stream_write (1/4) (888768308836b8f4831890fa2934fe2c) switched from DEPLOYING to RUNNING.
10:34:05,443 INFO  org.apache.flink.runt

[2021-09-23 02:42] ycjunhua commented on #3704
10:34:06,021 INFO  org.apache.flink.runtime.taskmanager.Task                     - Filter -> Map (1/8)#0 (921bd3faa6059f2011630dc6c7cf6205) switched from RUNNING to FINISHED.
10:34:06,024 INFO  org.apache.flink.runtime.taskmanager.Task                     - Freeing task resources for Filter -> Map (1/8)#0 (921bd3faa6059f2011630dc6c7cf6205).
10:34:06,024 INFO  org.apache.flink.runtime.taskmanager.T

[2021-09-23 05:50] xuzifu666 commented on #3688
ok! thks

[2021-09-23 07:33] riritack opened #3705 "[SUPPORT] How can i query "_hoodie_is_deleted" by flinksql"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-09-23 08:13] danny0405 commented on #3704
I guess it is because the cluster resource is not enough to start up all the write tasks, you can set up table option 'write.tasks' = '1' and try again.

[2021-09-23 11:15] danny0405 commented on #3705
Does field "_hoodie_is_deleted" in the explicit schema ?

[2021-09-23 12:07] parisni commented on #2175
thanks ! I am also considering  [kafka-connect-hudi](https://github.com/apache/hudi/pull/3592) for this use case

[2021-09-23 13:27] ibudanaev-crunchyroll commented on #3689
@t822876884 Hi, did you manage to resolve your problem?

[2021-09-23 15:00] ibudanaev-crunchyroll opened #3707 "[SUPPORT] Flink Hudi write on S3 DataStreamSinkProvider error"
Hi,

we are trying to use Hudi in aws Kinesis Data Analytics Studio along with Flink.

The following python code produces data and inserts it into kinesis stream:
[code]

In Zeppelin, we create a table as a source ingesting the above generated data:
[code]

Next, we create a table source for hudi on S3:
[code]

And finally, we want to insert data from stream into s3 using hudi:
[code]

We get the

[2021-09-23 17:16] helanto opened #3709 "[SUPPORT] insert operation does not consistently insert duplicate records"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)? Yes

**Describe the problem you faced**

Hi,
when using INSERT mode and the input dateset includes duplicate keys, a (not wanted) de-duplication step is performed as part of the merge process.

**To Reproduce**

Steps to reproduce the behavior:

1. First I create a Hudi tabl

[2021-09-23 19:33] FelixKJose commented on #3676
Thank you so much @nsivabalan
I have tried the following
`"hoodie.copyonwrite.record.size.estimate": "204800",`        # 200KB
but now its generating large number of smaller files (around 530KB), so I am wondering what is wrong?

[2021-09-23 20:26] #2100 closed

[2021-09-23 20:28] vinothchandar commented on #1982
There are plenty of other issues reporting usage on adls. So closing this for now

[2021-09-23 20:28] #1982 closed

[2021-09-23 20:30] vinothchandar commented on #2285
Closing since the fix has since been landed

[2021-09-23 20:30] #2285 closed

[2021-09-23 20:36] vinothchandar commented on #2498
@saqibalimalik looks like there is some mismatch between @codope 's comment and what @saqibalimalik is reporting.

@saqibalimalik to confirm, you are running apache spark and not emr's spark?

[2021-09-23 20:38] vinothchandar commented on #2529
@bhasudha do you mind adding a FAQ entry around this? I know you do this all the time

[2021-09-23 20:42] vinothchandar commented on #2657
Closing due to inactivity

[2021-09-23 20:42] #2657 closed

[2021-09-23 20:43] vinothchandar commented on #2564
@rswagatika @AyatKhraisat @mauropelucchi @bgt-cdedels anyone still interested in triaging this?

[2021-09-23 20:45] #3187 closed

[2021-09-23 20:48] vinothchandar commented on #2692
This I believe is long addressed with 0.8.0 or so.

[2021-09-23 20:48] #2692 closed

[2021-09-23 20:50] vinothchandar commented on #2696
@kimberlyamandalu  you could try the later 0.8.0 or 0.9.0 versions as well. Not sure if the fixes in those directly are addressed there, but I have run large scale tests myself, where things don't seem to have connecton timeouts . Please reopen as needed

[2021-09-23 20:50] #2696 closed

[2021-09-23 20:51] vinothchandar commented on #2802
@aditiwari01 are you able to reconfirm this on 0.9.0?

[2021-09-23 21:15] saqibalimalik commented on #2498
@vinothchandar I am running on emr's spark.

[2021-09-23 21:46] vinothchandar commented on #1728
@codope I believe you have a setup with ksql-datagen and spark streaming running? Could you just run it for a day or two and report if you see this?

[2021-09-23 21:46] Rap70r commented on #3697
Hi @xushiyan,

We did some tests using a different instance type (20 machines of type m5.2xlarge) and less partitions.
Here's the job flow for an upsert of 130K records (330 MB) against a Hudi collection with 230 partitions and 60 million records (6.2 GB) sitting on S3:
![image](https://user-images.githubusercontent.com/22181358/134587957-e66771bd-5072-4fbb-977b-a2f1e4e90048.png)

The job took ~6.

[2021-09-23 21:50] vinothchandar commented on #2463
@rubenssoto do you still need assistance with this?

[2021-09-23 21:50] vinothchandar commented on #2463
Please reopen as needed

[2021-09-23 21:50] #2463 closed

[2021-09-23 21:52] vinothchandar commented on #3199
This is intended by design. For e.g you may be reading from streaming jobs, which should still be able to access the hudi commits. When connectivity to Hive is restored, hudi's incremental sync will keep Hive updated properly

[2021-09-23 21:52] #3199 closed

[2021-09-23 21:55] vinothchandar commented on #3191
@codope @nsivabalan this seems like an issue with Spark 2 vs Spark 3, right. I am not following the connection to Hadoop 3.0

[2021-09-23 23:28] vinothchandar commented on #3161
@cb149 Couple of things can happen that can lose messages in this setup. Can't tell if any of them are going on.

- If Kafka itself runs out of retention i.e deletes log segments, may lose some. So if you could understand whether the missing offset range was ever close to the tail of the log, that can explain this.
- The streaming writer has a choice of whether it wants to ignore a failed micro ba

[2021-09-23 23:33] vinothchandar commented on #3132
@deep-teliacompany any updates for us?

[2021-09-23 23:34] vinothchandar commented on #3078
Closing due to inactivity

[2021-09-23 23:34] #3078 closed

[2021-09-23 23:35] vinothchandar commented on #3095
Closing this for direct follow up with EMR support

[2021-09-23 23:35] #3095 closed

[2021-09-23 23:42] vinothchandar commented on #3077
There are a few issues around this. We will batch it up and look all structured streaming in one shot.

[2021-09-24 00:15] #2973 closed

[2021-09-24 00:18] vinothchandar commented on #2959
I can't find any exceptions in the log. Please feel free to reopen if this is still an issue.

[2021-09-24 00:18] #2959 closed

[2021-09-24 00:19] vinothchandar commented on #2936
we need to make a stab at reproducing this with MOR and the payload. There could be some impedance mismatch between merging logs by commit time vs the precombine field

[2021-09-24 00:21] vinothchandar commented on #3005
Closing due to inactivity

[2021-09-24 00:21] #3005 closed

[2021-09-24 00:43] vinothchandar commented on #2948
#3122 seems related ?  it's in 0.9.0. @umehrot2 @nmukerje something to look at for 0.9.0

[2021-09-24 00:45] vinothchandar commented on #2919
@nsivabalan why did we reopen this?

[2021-09-24 00:46] vinothchandar commented on #2919
cc @codope could you take a pass? and see if this needs triaging still with 0.9.0. Reopen as needed

[2021-09-24 00:46] #2919 closed

[2021-09-24 00:48] vinothchandar commented on #2934
I will keep this open, to track and tag against JIRAs that exist to have more graceful fallback to either listing or metadata table to handle this scenario.

[2021-09-24 00:49] vinothchandar commented on #2934
cc @vingov as well.

[2021-09-24 00:50] #2910 closed

[2021-09-24 00:52] vinothchandar commented on #2888
Queuing up for reproducing

[2021-09-24 00:53] vinothchandar commented on #2869
Closing this. since there are few similar ones

[2021-09-24 00:53] #2869 closed

[2021-09-24 00:54] vinothchandar commented on #2856
Closing due to inactivity

[2021-09-24 00:54] #2856 closed

[2021-09-24 00:56] vinothchandar commented on #3572
@niloo-sh thats because hive is a provided dependency. you need to add one of the hudi bundles in the module class path to make it work from IDE>

[2021-09-24 00:57] vinothchandar commented on #3572
Also note that you probably should depend on `hudi-spark` and not hudi-spark-bundle to write programs.

[2021-09-24 00:58] vinothchandar commented on #3572
@borasy are you also trying via IDE>

[2021-09-24 01:01] #3562 closed

[2021-09-24 01:02] vinothchandar commented on #3559
0.9.0 should fix this. @codejoyan let me know if that helps!

[2021-09-24 01:03] vinothchandar commented on #3454
Please feel free to reopen if there are further qyestions

[2021-09-24 01:03] #3454 closed

[2021-09-24 01:10] vinothchandar commented on #3313
@mkk1490 row writer is fully certified for 0.9.0 and now the default. Could you comment on whether we need this issue around

[2021-09-24 01:11] vinothchandar commented on #3313
@nsivabalan can you confirm fixes releated to the precombining are now done? if so, we can close this and have @mkk1490 reopen as needed

[2021-09-24 01:12] vinothchandar commented on #3323
@FelixKJose this is in 0.9.0. Can we close this?

[2021-09-24 01:13] vinothchandar commented on #3324
I am gathering these issues under perf. and give it a go.

[2021-09-24 01:15] vinothchandar commented on #3344
@ziudu this has come up a few times now. Do you mind sharing what you decided to do?

[2021-09-24 01:16] vinothchandar commented on #3394
@maddy2u any more updates on this issue ? or can we close this?

[2021-09-24 01:16] vinothchandar commented on #3395
Closing! Thanks everyone

[2021-09-24 01:17] vinothchandar commented on #3395
I realized @Ambarish-Giri was asking for windows help. Not sure how we can. I actually don't have access to a machine

[2021-09-24 01:18] vinothchandar commented on #3423
@TamilselvanBalaiah any updates on this?

[2021-09-24 01:21] vinothchandar commented on #3499
@satishkotha is anything jumping out to you here?

[2021-09-24 01:32] vinothchandar commented on #3533
@aresa7796 any more updates for us?

[2021-09-24 01:36] FelixKJose commented on #3323
@vinothchandar Yes, I tested and is solved. Thank you so much

[2021-09-24 01:43] Ambarish-Giri commented on #3395
Hi @vinothchandar , For POC purpose I was using Windows where the code the not working directly from IDE where as if packaged and run it executed.  Currently testing on EMR.

[2021-09-24 03:06] xushiyan commented on #3707
@ibudanaev-crunchyroll are you able to print the classpath and have you tried putting the needed jar there?
@danny0405 Is flink bundle jar expected to have this dependency?

[2021-09-24 03:24] xushiyan commented on #3685
similar improvement was actually proposed and attempted before.
https://issues.apache.org/jira/browse/HUDI-29

closing this and moving to the JIRA ticket.

@rubenssoto feel free to take a stab at this if you're interested.

[2021-09-24 03:24] #3685 closed

[2021-09-24 03:37] xushiyan commented on #3670
@parisni would you provide the details of your experiments? it'd be helpful for us to reproduce the issue and make fixes where needed.

[2021-09-24 03:40] nsivabalan commented on #3313
@vinothchandar : I wanna repro myself before we can close this out. Author claims that w/ composite keys, we have some issues w/ timestamp based partition path when row writer is enabled for bulk_insert. I will take a stab at this over the weekend and update the ticket.

[2021-09-24 03:51] vinothchandar commented on #3670
Cc @pengzhiwei2018 can you please comment on this.

[2021-09-24 03:56] xushiyan commented on #3641
@bryanburke Please check out org.apache.hudi.utilities.callback.SourceCommitCallback and its implementing classes. This would allow you to trigger downstream jobs or logic to run.

[2021-09-24 03:59] xushiyan commented on #3641
@bryanburke also noticed that you are using S3. please also check out the latest feature https://hudi.apache.org/blog/2021/08/23/s3-events-source
might be relevant to your pipeline

[2021-09-24 04:04] xushiyan commented on #3641
As commented above, I think the commit callback is a better approach

yes, those APIs are annotated as `org.apache.hudi.ApiMaturityLevel#STABLE`

what Hudi APIs you referring to? you can do all the actions through PySpark

[2021-09-24 04:13] #3500 closed

[2021-09-24 04:19] vinothchandar commented on #3530
@codope did you get a chance to reproduce this. I'd be surprised about why this could be failing.  iiuc You have been testing on later Versions of presto using the compile time dependehey?

[2021-09-24 04:22] vinothchandar commented on #3530
@Ayan07 I Can explain why its working for lower version@though. The issue seems to happen only when instantiating from the path filter. This code along with the Compile dependency Were introduced together.

CC @bhasudha in case she recalls anything.

[2021-09-24 04:26] xushiyan commented on #3635
@deshpandeanoop noticed that you used a different version `"spark-avro" % "2.4.4"` rather than your main spark version 2.3.1

A more important matter: it has been discussed long time back where we only support spark 2.4+

https://lists.apache.org/thread.html/r19ec206e33f8b63e95a840bfba519ab89d1b7af790adef0bc369d618%40%3Cdev.hudi.apache.org%3E

Strongly suggest that you make efforts to upgrade Spar

[2021-09-24 04:26] #3635 closed

[2021-09-24 04:28] vinothchandar commented on #3603
@fengjian428 any updates ?

[2021-09-24 04:32] vinothchandar commented on #3607
There is a PR out for a long time now in fact. Not Merged
yet

[2021-09-24 04:33] vinothchandar commented on #3629
This probably needs to be a dev list conversation?

[2021-09-24 04:41] xushiyan commented on #3629
@PengleiShi I don't see this as a big issue. You can always check out the branch using a different local branch name? same for tags. Please kindly start a [DISCUSS] thread to the dev email list if you want to continue the discussion to involve more people. Closing this for now.

[2021-09-24 04:41] #3629 closed

[2021-09-24 04:50] Samrat002 commented on #661
At Hotstar (OTT platform in India), we are in progress of migrating to Hudi in production ,
There are multiple parallel jobs running in shallow mode in production, validating data. We are in phase of migrating all of our cdc pipelines to hudi.

[2021-09-24 05:15] #3323 closed

[2021-09-24 05:18] xushiyan commented on #3392
@springMoon Did you get this resolved by the suggestion? Please close this if it worked for you.

[2021-09-24 05:51] YannByron commented on #3670
@parisni
if that specify `hoodie.datasource.write.keygenerator.class` to `org.apache.hudi.keygen.ComplexKeyGenerator` works, maybe it's same with this: https://issues.apache.org/jira/browse/HUDI-2390

[2021-09-24 06:25] t822876884 opened #3711 "[SUPPORT] flink jar with hudi 0.8.0 and how parsing complex structured data"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-09-24 06:58] t822876884 commented on #3689
This issue requires a checkpoint to work with, the flink sql checkpoint requires its own code changes

[2021-09-24 07:00] #3689 closed

[2021-09-24 08:25] riritack commented on #3705
no,i need this field,but i cant find

[2021-09-24 09:00] codope commented on #3607
@rubenssoto Checkout this PR https://github.com/prestodb/presto/pull/15866

[2021-09-24 09:03] codope commented on #3607
@zhangyue19921010 I tried to reproduce this with Hudi 0.8.0 in [docker setup](https://hudi.apache.org/docs/docker_demo) with metadata enabled. Presto query failed but it terminated. However, with the latest master in the same environment, it succeeds and I get correct results. I also verified the metadata on the namenode. Do you want to give latest Hudi a try?

[2021-09-24 09:18] fengjian428 commented on #3603
![image](https://user-images.githubusercontent.com/4403474/134650502-346bb3a9-144c-4716-a7fc-cf185916c441.png)
I set isFailOnTimelineArchivingEnabled false, and surround writeToFile with try catch， then solve this problem

[2021-09-24 10:26] codope commented on #3530
@Ayan07 I could not reproduce this issue. I am using Presto 0.245 along with Spark 2.4.7, Hadoop 2.10.1, Hive 2.3.7 and my target base path is on S3. Note that I had to ensure that I am using the right version of hadoop-aws and aws-java-sdk. For my setup, the following versions worked:
[code]
Can you match this setup and see if you still face the issue?

[2021-09-24 10:28] calleo opened #3713 "[SUPPORT] Cannot read from Hudi table created by same Spark job"
**Describe the problem you faced**

I am trying to get Hudi + Hive sync to run in a docker container. The end-goal is to have a docker image which can be used to run tests locally on a dev machine.

To start with, I created a simple job that writes to a Hudi table and then reads it. While running this I have observed that reading fails with the error:

`ERROR XSDB6: Another instance of Derby may h

[2021-09-24 12:13] Ambarish-Giri commented on #3605
Hi @nsivabalan ,

1# Correct I was considering {segmentId,uuid} , ComplexKey as record key as combined key uniquely identifies records, since partitioning is done on segmentId it makes sense to have just uuid as record key. I have taken care of the orthogonal issue you pointed out.

2# Partitioning by segmentId for the data seems to be appropriate and its not of that low cardinality for eg. 50 GB

[2021-09-24 12:15] Ambarish-Giri commented on #3605
Below are the Spark stages:
BulkInsert (MoR):

![image](https://user-images.githubusercontent.com/85560823/134672503-66e0ea24-44d5-4103-aa18-4a08c2f25996.png)

[2021-09-24 12:32] maddy2u commented on #3394
All good thanks Vinoth for yours and Sivabalan's support ! It can be closed.

[2021-09-24 13:54] parisni commented on #3670
hi @xushiyan, see below example/explanations

[code]

[2021-09-24 15:02] ChaladiMohanVamsi commented on #3394
@nsivabalan
But recently we also added another payload impl called DefaultHoodieRecordPayload. This payload will honor preCombine field while reconciling an incoming record with whats in storage using the preCombine field value(within combineAndGetUpdateValue()).

I have a confusion on similar lines. Can you please clarify and correct my understanding.

How are following config differ in DefaultHo

[2021-09-24 16:04] ziudu commented on #3344
sorry for the late reply.

we used 4-node Hadoop cluster for testing, each node is an ESXi virtual machines (8c@2.1GHz, 32GB, HDD virtual disk),

We tested several different ways for the initial load:

1) The fastest way is to load the data in Hive format, and then convert them to Hudi format. We used DataX to extract data from DB and load it into Hadoop. The speed is 80K record per second, the co

[2021-09-24 21:14] jainpriyansh786 opened #3714 "[SUPPORT] Spark Hudi dataframe contains duplicate records when reading from non unique read paths"
**Describe the problem you faced**

The dataframe created by spark read method with `hoodie.datasource.read.paths` option contains duplicate records when passing multiple read paths with same value.

This happens because spark is re-reading the same paths again and appending the data to dataframe . However the read method before reading the data from paths should find the unique paths or error out

[2021-09-25 01:29] danny0405 commented on #3711
Flink datastream supports pojo type as your nested type, you can define and have a try.

[2021-09-25 01:31] danny0405 commented on #3711
I see you use the `JsonRowDataDeserializationSchema` deserialization, then you can define a row type with record type as nested type.

BTW, 0.9.0 or master are suggested to be used instead of 0.8.0.

[2021-09-25 01:32] danny0405 commented on #3705
"_hoodie_is_deleted" is not a builtin metadata field, it must be declared explicitly in your schema i guess.

[2021-09-25 01:35] danny0405 commented on #3707
`hudi-flink-bundle_2.11-0.9.0.jar` expects to work, i guess you do not use the right flink version, for 0.9.0 hudi, flink 1.12.2 is suggested.

[2021-09-25 09:07] ycjunhua commented on #3704
set up table option 'write.tasks' = '1',try again,result is Only one to two pieces of data can be written。I Change to spark write write all

[2021-09-26 04:39] xushiyan commented on #3699
Ok @ZeMirella so basically it's about bulk insert a chunk of data. Was `bulk_insert_shuffle_parallelism` set to 2000 in this case? given the data size, you may want to try partitioning the output dataset. Say you choose a field `foo` from the schema as the partition field, and roughly it gives 200 partitions. A few configs you may try changing accordingly
- hoodie.bulkinsert.shuffle.parallelism =

[2021-09-26 05:18] xushiyan commented on #3617
@novakov-alexey the problem is caused by 20210907094837.commit having `"schema" : null`. Schema reader is reading from commit file. when it's null it's gonna look for basefile (parquet) to get the schema. But in this case your data is empty.

I think this is current behavior when data is empty, commit metadata are all null or empty. You could try manually set a json serialized schema string to the

[2021-09-26 07:19] xushiyan commented on #3697
From the parameters you show, i see the problem is mostly caused by not utilizing the machines' resources efficiently. Let's do some math:
Say you use 4 m5.4xlarge machines each has 16 cores and 64g memory.

set the below confs should allow you to run 19 executors with 1 driver for the spark job. double check spark UI to confirm the executors you're getting

[code]

also set these hudi props in yo

[2021-09-26 07:42] xushiyan commented on #3571
this looks like a jar mismatch issue. it's complaining about "java.lang.NoSuchFieldError: NULL_VALUE"

https://github.com/apache/hudi/blob/178767948e906f673d6d4a357c65c11bc574f619/hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java#L245-L246

@yuangjiang Can you double check if your environment is using avro-1.8.2.jar ? is there any different avro dependencies being supplied?

[2021-09-26 08:15] zhangyue19921010 commented on #3607
Hi @codope Thanks a lot for your attention. I just tried but failed again :(
Sincerely ask :
1. What's the version of pesto you used?
2. `in docker setup with metadata enabled` => how did you enable metadata table on presto side? I have to modify presto source code to enable presto query using metadata table.
3. Did you just put hudi-presto-bundle into hive-hadoop plugin or did some changing in pr

[2021-09-26 14:44] novakov-alexey commented on #3617
@xushiyan can you advice how to set a json schema string to the commit file?

[2021-09-26 17:55] xushiyan commented on #3617
@novakov-alexey what is the schema for this dataset? the snippet in the previous command is the example.

[2021-09-27 01:41] xushiyan commented on #3709
@helanto I can reproduce this and I agree with you that the dedup behaviors should be consistent across the same options. Also `PARQUET_SMALL_FILE_LIMIT` should just be a workaround at the moment. I'll check further for a fix. Thanks for raising this!

[2021-09-27 03:43] Ambarish-Giri commented on #3605
Hi @nsivabalan let me know in case you need any further details?

[2021-09-27 04:12] zhihuihong commented on #3676
have you tried using clustering after inserting data?
my job created many  7mb files as well, and i used clustering to reorganize data layout.  I don't know how to change 7mb setting as well, but clustering works. (some ratio of hoodie.parquet.max.file.size?)

Below are some posts found in hudi website for your reference:
https://hudi.apache.org/blog/2021/01/27/hudi-clustering-intro
https://hudi.a

[2021-09-27 04:33] xushiyan commented on #3617
@novakov-alexey I checked the behavior is fixed in 0.9.0. Please give release-0.9.0 a try. You can find some guide here to override EMR hudi jars. https://hudi.apache.org/learn/faq#how-to-override-hudi-jars-in-emr

I used this snippet to reproduce your scenario with 0.9.0. After the bulk insert commit, I can see schema value is populated in the commit file. This should allow you to sync with Glue

[2021-09-27 04:53] xushiyan commented on #3714
@jainpriyansh786 though dedup read paths can help reduce risk of re-reading, it is a design choice where a platform product like Hudi may not want to interfere with users input, i.e., to leave the responsibility to users to ensure the intended input paths, and Hudi just load data as instructed. What if users sometimes want to load the same data multiple times and try specifying duplicate paths for

[2021-09-27 04:53] #3714 closed

[2021-09-27 08:24] novakov-alexey commented on #3617
@xushiyan thank you, it is indeed fixed in Hudi 0.9.

If someone needs an example of building EMR job with own Hudi in SBT, there is one:
https://github.com/novakov-alexey/spark-elt-jobs/blob/main/build.sbt#L207

[2021-09-27 10:42] borasy commented on #3572
`hudi-spark` is different form hudi-spark-bundle?

[2021-09-27 11:18] kazdy opened #3724 "[SUPPORT] Spark start reading stream from hudi dataset starting from given commit time"
**Describe the problem you faced**
I wanted to query hudi dataset incrementally using spark streaming and simply write stream to console with a trigger (processing time set to 3s).
I got it working but the problem I faced was that in the first batch I got all the data starting from the first commit.
I would like to start readStream from specific commit time (like in flink streaming query that hudi

[2021-09-27 16:03] #3617 closed

[2021-09-27 16:46] vingov commented on #2934
@jsbali is working on a fix when we hit this edge case, the delta streamer will do a snapshot query and update the `deltastreamer.checkpoint.key` to the latest commit so that the next run will be incremental based on the latest commit time.

@jsbali - Can you please upstream your changes to OSS?

[2021-09-27 20:54] nsivabalan commented on #3533
@aresa7796 : if we dig in more if you can provide us w/ more info like file sizes, etc. As of now, we can't debug much without that info. appreciate if you can respond w/ details.
Recently I got to help and explain how small file handling works w/ MOR tables. there is a slight difference between COW and MOR in that aspect. Its covered [here](https://github.com/apache/hudi/issues/3676). please chec

[2021-09-27 21:19] nsivabalan commented on #3313
@mkk1490 : sorry the issue got lengthy and I have got a couple of clarifications.
Is your issue is with record key fields having one component as timestamp or is it about partition path fields having one component as timestamp. bcoz, for partition path field, hudi has something called CustomKeyGenerator which pretty much in line with your use-case. (1st field can be simple/string and 2nd field can

[2021-09-27 21:57] nsivabalan commented on #3313
I can confirm there is a bug here. GenericRecord based keygen converts the timestamp value, where as Row based one does not convert.

Have filed a bug https://issues.apache.org/jira/browse/HUDI-2495 We will follow up on this. Will close out this issue as we have a tracking jira.

[2021-09-27 21:57] #3313 closed

[2021-09-28 05:19] xushiyan commented on #3624
@melin could you provide more version info like Hudi, Spark versions. also if it's on cloud or other environment?

This sounds odd... from the example you provided, the partition dropped is `2021-05-05` not `2021-05-06`. But the error came from deleting a record in `2021-05-06` ? let me know if i get this right. thanks.

[2021-09-28 05:45] t0il3ts0ap commented on #2934
I have also worked on the same changes already. @jsbali Let me know, if you have not yet started then I can raise a pr for this.

[2021-09-28 05:58] jsbali commented on #2934
@t0il3ts0ap Do raise the PR for the same if it is not too much work and we can let the Hudi folks decide what makes sense for Hudi. My changes are mostly in IncrementalRelation. Will also try to wrap my PR within a day or two.

[2021-09-28 06:47] niloo-sh commented on #3572
@vinothchandar thank you, I added dependency to build.sbt file and I created fat jar and run it with spark-submit. now I get exception:"org/json/jsonexception", its correct, I use hudi-spark-bundle-0.9.0 and it does not have json. I download json-20210307.jar and add it to "spark.driver.extraClassPath" and "spark.executor.extraclasspath", but it does not work.

[2021-09-28 08:19] xushiyan commented on #3662
@kelvin-qin i can't reproduce this. CTAS from this UT gave the correct info.
 `org.apache.spark.sql.hudi.TestHoodieSqlBase#test("Test Create Table As Select")`

[code]

[code]

can you post your sql and also print `spark.version` in your spark shell to double check?

[2021-09-28 08:36] xushiyan commented on #3647
@JoshuaZhuCN @novakov-alexey this behavior sounds like an issue with Hudi row writer, which implemented for bulk insert. To double confirm, would you check by disabling row writer and run bulk insert again? given that insert works, bulk insert should also work if disable row writer. You can set this option `hoodie.datasource.write.row.writer.enable=false`

[2021-09-28 11:44] codope commented on #3607
1. Docker uses Presto 0.217. But I also built the latest Presto snapshot and tested. However, from Hudi perspective, there should be no change since the Presto version 0.240.
2. I enabled metadata in Hudi, not Presto. Hudi metadata tabled was not synced to Hive.
3. No I did not have to place the bundle or change presto pom. Since Presto 0.240, Hudi is a compile-time dependency already.

Are you ab

[2021-09-28 13:06] ibuda opened #3728 "[SUPPORT] Hudi Flink S3 Java Example"
Hi,

I'm having troubles finding a complete end-to-end example on AWS examples on how to solve the following problems:

1. Get data from Kinesis stream
2. Write it on S3 using Hudi.

I am not confident why there are no examples in Java to do that, so I come here to find out if what I am after is even possible, and if so, could you please point me in the direction where I can find a working example

[2021-09-28 14:05] bryanburke commented on #3641
@xushiyan Thank you for your response! I had no idea Hudi provides event-driven features, so your suggestions are helping me learn quite a bit more about the framework. While I do not believe we have a use case currently for `SourceCommitCallback` and `S3EventsSource` (see below), we may in the future if we start processing streaming data or require a long-running Spark cluster.

Reading over my o

[2021-09-28 14:25] nsivabalan commented on #3676
@FelixKJose : what I meant is, you are good w/ your configs in general. just that for every commit only one small file will be packed w/ more inserts. rest of incoming records will go into new files. So, every commit will try to make a small file into bigger one. when this progresses w/ 20 to 30 commits, your small file count should go down eventually. I mean, older ones will go down. may be new o

[2021-09-28 14:28] codope commented on #3713
@calleo The hive sync tool does not lock. I mean, internallt HoodiHiveClient does initiate the connection but that gets closed as soon as sync completes. I think in docker setup, derby for metastore is running in emebedded mode which won't allow to read and write within the same process. Can you try to setup MariaDB for metastore in a separate container?

[2021-09-29 01:47] danny0405 commented on #3728
What version of Hudi do you plan to use, there are some SQL examples here: https://github.com/apache/hudi/blob/master/hudi-flink/src/test/java/org/apache/hudi/table/HoodieDataSourceITCase.java

If you use master, Flink 1.13.1 is suggested, if you use release-0.9, Flink 1.12.2 is suggested.

[2021-09-29 04:34] stym06 commented on #2688
hi, i made it to work with Hive 3.1.2 after importing some jars into the classpath after finding out the classes not found (majorly calcite, datanucleus)

[2021-09-29 06:44] ibuda commented on #3728
Thank you @danny0405 for the link.

I am trying to set up an AWS Kinesis Application project, and as a start, I used the code provided by you in the link.
Although I used the code below,  Kinesis complains about the hudi connector, error is supplied below. Is it because the Flink version conflict? Kinesis uses Apache Flink 1.11, and a follow-up question is whether because of this version conflict,

[2021-09-29 06:58] sebastiantruj commented on #2688
Hi @stym06, could you post a spark-submit/spark-shell example of your workaround?

[2021-09-29 07:23] danny0405 commented on #3728
Hmm, i am sorry to say that you must use the right Flink version.

[2021-09-29 07:33] xushiyan commented on #3641
Ok @bryanburke i think your approach is valid. metaclient APIs should be quite stable and even if in case of change, there should be a deprecation period to allow transition. You may also consider this example to get the latest commit

https://hudi.apache.org/docs/quick-start-guide#incremental-query

[code]

As for more python API support, we don't have this ranked up high in the roadmap. If you'r

[2021-09-29 07:33] #3641 closed

[2021-09-29 09:13] parisni opened #3731 "[SUPPORT] Concurrent write (OCC) on distinct partitions random errors"
hudi 0.9.0, spark3.1

To experiment with OCC I setup this local tools:
- local hive metastore
- pyspark script
- run concurrently with xargs

Sometimes it works as expected (mostrly with 2 concurrent process). But with 4 process I get randomly one of those stacktrace:

Type 1 error:

[code]

Type 2 error:

[code]

Type 3 error:

[code]

Reproduce step:

Python script:

[code]

Bash script:
[code]

[2021-09-29 09:57] zhangyue19921010 commented on #3607
Are you able to query normal Hudi data tables using Presto?  => Yes, normal hudi table works.
Are you getting the NoClassDefFoundError only when you query Hudi metadata table? => Yes

Seems there is dependency conflicts between hudi metadata table(HBase) and presto, I am trying to fix it.
Thanks for your attention :)

[2021-09-29 10:17] parisni commented on #3731
tried to dig the source code, there is nothing about partition level lock. Apparently the lock mecanism is on the database+table level only.

https://github.com/apache/hudi/blob/f52cb32f5f0c9e31b5addf29adbb886ca6d167dd/hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/TransactionManager.java#L52
https://github.com/apache/hudi/blob/f52cb32f5f0c9e31b5addf29adbb886ca6d16

[2021-09-29 10:42] codope commented on #2439
@rakeshramakrishnan For hive sync to work inline through Hudi, the hive-site.xml at <hive_install_dir>/conf should also be placed under <spark_install_dir>/conf and it should have the correct metastore uri. Can you check the hive metastore uri in hive-site.xml inside <spark_install_dir>/conf?

I tried to reproduce with a remote MySQL database as metastore. My jdbc specific configs in hive-site.xml

[2021-09-29 11:12] codope commented on #2544
This issue has been fixed and is no longer reproducible. Here's the gist with the latest master code: https://gist.github.com/codope/fea4455d84d37496e8f518afdc803795

[2021-09-29 11:26] nsivabalan commented on #2564
@mauropelucchi @bgt-cdedels : This issue is already very long. Would you mind starting a new one, please. I would like to keep this for the original issue raised by the author. I will check out your posts here in the mean time.