[2022-05-12 00:15] nsivabalan commented on #5492
w/ docker, can you ensure the operation is "upsert" and save mode is "Append".

[2022-05-12 00:24] nsivabalan commented on #5490
did you print the final partition_paths and see if its fully formed? may be some formatting issue.

[2022-05-12 00:25] nsivabalan commented on #5490
but this has nothing to do w/ hudi functioning as such. Likely its the code issue. not sure how much we can assist here.

[2022-05-12 00:30] nsivabalan commented on #5489
@XuQianJin-Stars / @xiarixiaoyao : can you assist here please.

[2022-05-12 00:33] nsivabalan commented on #5488
yes, setting hoodie catalog is necesssary if you are using spark3.2. otherwise its not required. we added a note in our quick start guide as well https://hudi.apache.org/docs/quick-start-guide

[2022-05-12 00:33] nsivabalan commented on #5488
@bhasudha : can we add this info to 0.11 release notes? I don't see it here https://hudi.apache.org/releases/release-0.11.0
i.e. for spark3.2, users have to set hoodie catalog.

[2022-05-12 01:33] xiarixiaoyao commented on #5519
@neerajpadarthi   @JoshuaZhuCN  @gy19951022  pls try to use "set hoodie.schema.on.read.enable=true" to enable schem evolution.
step1:  start spark-sql  and set hoodie.schema.on.read.enable=true
# Spark SQL for spark 3.1.x
spark-sql --packages org.apache.hudi:hudi-spark3.1.2-bundle_2.12:0.11.1,org.apache.spark:spark-avro_2.12:3.1.2 \
--conf 'spark.serializer=org.apache.spark.serializer.KryoSerializ

[2022-05-12 02:22] xiarixiaoyao commented on #5489
oh, it should be worked,  let me try it in my env

[2022-05-12 05:01] BruceKellan opened #5561 "[SUPPORT] [Metadata table] Metadata table heartbeat for instant has expired, last heartbeat 0"
**Describe the problem you faced**

I am using hudi to write table.
When I stop the application at 11:13 AM，and restart the application at 12: 00 AM.
The application start failed. It seem like some failed happen.

**Flink Configuration**
The configuration related to metadata table are same as default configuration.
The configuration like this:

[code]

**Environment Description**

* Flink version

[2022-05-12 05:14] BruceKellan commented on #5561
@nsivabalan: Can you find someone to help me？

[2022-05-12 07:59] raviMoengage opened #5565 "[SUPPORT] Async compaction is not triggered on the MOR Hudi table using spark streaming"
**Describe the problem you faced**

We are unable to make async compaction work on the MOR table using spark streaming.

**Expected behavior**

As per the [documentation](https://hudi.apache.org/docs/compaction#spark-structured-streaming) spark-structured streaming should have async compaction enabled by default for MOR .

**Environment Description**

* Hudi version : 0.11.0

* Spark version : 3.1

[2022-05-12 12:00] KnightChess opened #5568 "[SUPPORT] [Avro] Failed schema compatibility check for writerSchema : Min/MaxValue type"
ugrade 0.11.0-SNAPSTHO to release 0.11.0

### diff:
**readSchame**:
[code]

**writerSchame**:
[code]

### all:

[code]

should I add the **string** type to backward compatible the change in min/maxValue type? or delete metadata folder to create new one? which is better?

add **string** to compaty may look strange with the others like: BooleanWrapper、IntWrapper、StringWrapper、etc...

[2022-05-12 12:14] nsivabalan commented on #5490
feel free to re-open if you need any help w/ hudi as such. would be happy to assist.
thanks!

[2022-05-12 12:14] #5490 closed

[2022-05-12 14:10] nsivabalan commented on #3215
closing it due to inactivity. feel free to open a new one if still facing issues. thanks!

[2022-05-12 14:10] #3215 closed

[2022-05-12 14:13] nsivabalan commented on #3755
@fengjian428 : can you try with 0.11 and let us know do you see any more issues. The stale spark cache resulting in different files records in commit metadata is fixed with 0.11 as pointed above. likely that should fix your problem.
or you can try patching it to your environment and let us know how it goes.

[2022-05-12 14:14] nsivabalan commented on #3795
@hellochueng : are you still looking for assistance here. if you got the issue resolved, feel free to close the issue.

[2022-05-12 14:15] #3895 closed

[2022-05-12 14:15] nsivabalan commented on #3895
closing due to inactivity

[2022-05-12 14:21] nsivabalan commented on #4230
one patch is already into 0.11. the other is being reviewed and feedback needs to be addressed. but the patch as such is good to try it out. Can you patch it on your side and let us know if your issues get resolved with the patch.

[2022-05-12 14:22] nsivabalan commented on #4311
@SabyasachiDasTR : do you have any updates for us.

[2022-05-12 14:23] nsivabalan commented on #4604
sure @andykrk . We have 0.11 released 2 weeks back. You may want to give that a try. we did fix few archival related bugs as well.

[2022-05-12 14:30] nsivabalan commented on #4803
will go ahead and close it for now. but feel free to re-open when you have some updates.

[2022-05-12 14:30] #4803 closed

[2022-05-12 14:30] nsivabalan commented on #4890
closing due to inactivity

[2022-05-12 14:30] #4890 closed

[2022-05-12 14:32] nsivabalan commented on #4887
@garyli1019 : can you follow up on this issue please. create jiras for any AIs if need be. or add an FAQ if need be (you can ask Sudha to help w/ any documentation updates)

[2022-05-12 14:33] nsivabalan commented on #4891
@FelixKJose : is there any updates. were you able to get the clustering working w/ surya's suggestions.

[2022-05-12 14:34] nsivabalan commented on #4931
@xiarixiaoyao : assume we have follow up jiras to track the future work. closing the github issue for now.

[2022-05-12 14:35] nsivabalan commented on #4943
going ahead and closing it out. feel free to re-open if you are still looking for help.

[2022-05-12 14:38] chrischnweiss commented on #4946
Sorry for beeing a bit late on this.

Actually it works as expected for us - unfurtunately we don´t no exactly why. We did no config changes or so.
I think we can close this topic for now and if we facing further issue we will open it up again.

Thanks a lot!

Christian

[2022-05-12 14:39] nsivabalan commented on #4946
got it, thanks!

[2022-05-12 14:40] nsivabalan commented on #4947
thanks guys for the update. since there is no AI from hudi side, I will go ahead and close out the github issue. once you get a chance to test out hudi 0.11 with EMR and if you face issues, feel free to open a new one.

[2022-05-12 14:42] nsivabalan commented on #4978
is this written using flink? using spark, we won't create log files directly. data files will be created first and then only log files will be created for file groups.

[2022-05-12 14:43] nsivabalan commented on #4978
but might be good to get it fixed irrespective of that. just trying to guage the use-case.

[2022-05-12 14:44] nsivabalan commented on #4978
@xiarixiaoyao : do we have a tracking ticket for this. Alexey did a revamp of all query engine code paths recently w/ 0.11. Do we have this issue even now after 0.11? do you have any idea.

[2022-05-12 14:48] ashah-lightbox commented on #5233
@pratyakshsharma @nsivabalan in  the schema '_hoodie_is_deleted' is set to 'true' for nullable, can there be any any other reason fo rit?

[2022-05-12 15:52] nsivabalan commented on #4980
closing due to inactivity. highly recommend to re-open if you are still having issues.

[2022-05-12 15:58] nsivabalan commented on #5021
thanks Sagar for the update. Since we have active work being tracked, will go ahead and close out the github issue.
but please leave a comment on the https://github.com/prestodb/presto/pull/17149 and help us gain more traction.

[2022-05-12 15:58] #5021 closed

[2022-05-12 16:03] nsivabalan commented on #5074
yeah. its mainly bcoz of spark-sql. in spark-datasource, default key gen is SimpleKeyGen.
@xushiyan @YannByron : do we know why we have custom key gen as default in spark-sql.
but I didn't know that _hoodie_record_key value will be of the format "recordkeyFieldName:value". I checked the code and apparently for ComplexKeyGen and GlobalDeleteKeyGen we prefix the field name.

@xushiyan : we may need

[2022-05-12 16:07] nsivabalan commented on #5081
@Guanpx : do you have any updates for us on this issue.

[2022-05-12 16:43] bkosuru opened #5569 "[SUPPORT] Issues with URL_ENCODE_PARTITIONING_OPT_KEY in hudi 0.11.0"
Hello,

We created hudi table in hdfs using version 0.8.0. We are planning to upgrade to hudi 0.11.0. There seems to be a difference in url encoding. We are using
option(URL_ENCODE_PARTITIONING_OPT_KEY, value = true)

For partition
![Screen Shot 2022-05-13 at 2 47 09 PM](https://user-images.githubusercontent.com/7408351/168354108-ef4812f3-b752-4219-a002-796f840adc0f.png)

0.8.0 encoding is
%3Chttp

[2022-05-12 19:07] nsivabalan commented on #5083
this is a known limitation w/ schema having repeated fields or an array of struct having 1 entry I guess. Can you paste your schema. we should be able to guage with that. Do you hit this issue with all tables or a few of them.

[2022-05-12 19:08] nsivabalan commented on #5083
https://issues.apache.org/jira/browse/HUDI-3391

[2022-05-12 19:17] nsivabalan commented on #5094
even w/ spark-datasource, you can use upsert and hudi will intercept "hoodie_is_deleted" field to determine whether a record is deleted or not. @pratyakshsharma : I am not sure from where you gleaned that info.

@rguillome : Can you clarify bit more on your claim. with upsert operation type, if a record has "hoodie_is_deleted" set to true, hudi does hard deletes. i.e. it may not serve the records

[2022-05-12 19:33] nsivabalan commented on #5101
closing this as we have a jira and a PR

[2022-05-12 19:39] nsivabalan commented on #5146
I have created a tracking jira here. https://issues.apache.org/jira/browse/HUDI-4092
Feel free to add more info.
thanks for the request

[2022-05-12 19:39] #5146 closed

[2022-05-12 19:42] nsivabalan commented on #5211
@kartik18 : can you respond for clarification to further investigate the issue please

[2022-05-12 20:02] nsivabalan commented on #5253
@XuQianJin-Stars : any updates in here please.

[2022-05-12 20:03] #5258 closed

[2022-05-12 20:06] nsivabalan commented on #5262
@stym06 : we may need a reproducible script to get to the bottom of this. we have seen this type of error only when schema gets updated and is not backwards compatible. anyways, looks like you have confirmed thats not the case here. So, if you can help us w/ reproducible steps, would be of great help. we have not seen this issue from our pipelines.

[2022-05-12 20:06] nsivabalan commented on #5262
CC @harsh1231

[2022-05-12 20:40] parisni commented on #5488
My point is that hoodie catalog breaks a feature. Then I need to turn it down in 3.2

On May 12, 2022 12:34:08 AM UTC, Sivabalan Narayanan ***@***.***> wrote:
***@***.*** : can we add this info to 0.11 release notes? I don't see it here https://hudi.apache.org/releases/release-0.11.0

[2022-05-12 20:55] nsivabalan commented on #5233
I could not reproduce. I used our quick start to try this out

[code]

[2022-05-12 20:55] #5233 closed

[2022-05-12 20:56] nsivabalan commented on #5233
let us know if you need any more help.

[2022-05-12 23:21] nsivabalan commented on #5223
I could not reproduce. I tried a bulk insert by setting very small parquet max file size. which created 1300 file groups. And then triggered another small commit during which I triggered clustering. before clustering, I do see from sql tab in spark UI, that 1300+ files are read. after clustering, I see only 5 files are read.

<img width="629" alt="Screen Shot 2022-05-12 at 4 32 29 PM" src="https:/

[2022-05-12 23:23] nsivabalan commented on #5223
[code]

[2022-05-12 23:30] nsivabalan commented on #5492
my hunch is that setting nullable did not work as expected. Can you do df1.printSchema before ingesting to hudi and confirm that nullable for hoodie_is_deleted is set to true in both cases.

[2022-05-12 23:37] nsivabalan commented on #5565
Can you show us how you are actually writing to hudi. there is forEachBatch and there is data stream way. forEachBatch is actually directly writing to spark-datasource writes. So likely you are taking that route.

[2022-05-12 23:37] nsivabalan commented on #5565
w/ spark-data source writes, async table services won't kick in.

[2022-05-12 23:39] nsivabalan commented on #5565
sample test script that worked for me
[code]

[2022-05-12 23:40] nsivabalan commented on #5565
here is the forEachBatch that I have come across from some other community user
[code]

this uses spark-datasource writes and not using streaming sink to write to hudi.

[2022-05-12 23:42] nsivabalan commented on #5565
above examples are for COW. you can replace it w/ MOR. also, for MOR, you don't even need to set hoodie.datasource.compaction.async.enable explicitly.

[2022-05-12 23:53] nsivabalan commented on #5540
can you furnish the write configs you use to write to hudi.

[2022-05-13 02:09] langyalzy commented on #5457
Hi, I also encountered the same problem. My approach here is
1. Modify the code in org.apache.hudi.io.storage.HoodieParquetWriter of hudi-client-common:
**Comment out this variable directly HoodieWrapperFileSystem fs**
[Before]
private final HoodieWrapperFileSystem fs;
[after]
//private final HoodieWrapperFileSystem fs;

2. Continue to modify the above 'fs' variable association method code in this

[2022-05-13 02:17] YannByron commented on #5074
@fengjian428
can you show the `.hoodie/hoodie.properties` here after inserting data by flink, but deleting data by spark-sql. If there is the config about `keygen` in `.hoodie/hoodie.properties`, spark-sql should use this value first,  but the default `ComplexKeyGenerator`. Please check this, and i need the information to locate this issue.

[2022-05-13 02:28] melin opened #5571 "[SUPPORT] Catalog and FileIO extension interface"
Iceberg provides Catalog and FileIO interfaces for easy connection to custom metadata systems and storage engines. Can Hudi support such a design。
FileIO can customize cache data: https://github.com/apache/iceberg/pull/4518

[2022-05-13 03:58] neerajpadarthi commented on #5519
@xiarixiaoyao Thanks for checking.

I have checked below scenario with alter statement using 0.9V but ended up with errors. Added my observations for your reference.

1. Created table with bulk_insert parallelism - 5 (using schema colx Int)

2. Performed upsert delta with col-x schema Long

3. Altered the table to Long datatype using spark.sql

Summary -  Observed schema inconsistencies with spark

[2022-05-13 05:40] nleena123 commented on #5540
#hoodie.datasource.write.keygenerator.class=org.apache.hudi.keygen.CustomKeyGenerator
hoodie.datasource.write.hive_styling_partioning=true
hoodie.datasource.write.partitionpath.urlencode=false

#hoodie.datasource.write.keygenerator.class=org.apache.hudi.keygen.ComplexKeyGenerator
hoodie.datasource.write.recordkey.field=interaction_id
hoodie.datasource.write.partitionpath.field=create_datetime:TIME

[2022-05-13 06:10] Chosen123Wang commented on #5457
According to your solution, I tested it, the job is running normally, thank you for solving my problem。
What does this variable do? @yihua

[2022-05-13 06:10] #5457 closed

[2022-05-13 06:14] pratyakshsharma commented on #5094
probably I got confused with the example given on the mentioned blog for spark datasource since I have never actually used delete support myself with spark. Thank you for clarifying here. @nsivabalan

[2022-05-13 06:32] danny0405 commented on #5457
It seems in latest master code, we already comment out the variable in `HoodieBaseParquetWriter` ?  cc @yihua

[2022-05-13 06:57] pratyakshsharma commented on #5540
Sorry for being late here. I see the class `DFAvroKafkaSource` in logs. Are you having your own custom class for reading the data?

[2022-05-13 07:49] VitoMakarevich commented on #5511
I understand what you are talking about, the thing here is not that it's not working, but that it's working differently depending on the timeline state(whether the first clean happened or not), which from the querying side seems to be internal detail. Could you point me to the PR/issue in which that option was introduced in 0.11.0? Was it this PR https://github.com/apache/hudi/pull/3946/files ?

[2022-05-13 07:54] nleena123 commented on #5540
yes  , below DFAvroKafkaSource.java file we are using to read the data  which extends AvroSource.
DF3HoodieDeltaStreamer.java which extends HoodieDeltaStreamer ,  and attached pom.xml file
[code.zip](https://github.com/apache/hudi/files/8685199/code.zip)
in the folder please have a look on it and let me know ,if any changes  required in my code .

[2022-05-13 11:09] Guanpx opened #5575 "[SUPPORT] upgrade hudi 0.10.1 to hudi 0.11.0, Can not read value at 0 in block -1 in file ...."
**Describe the problem you faced**

 upgrade hudi 0.10.1 to hudi 0.11.0, with flink and cow table

**To Reproduce**

Steps to reproduce the behavior:

1.  the exception occurs when table schema have **_decimal_** column

**Environment Description**

* Hudi version : 0.11.0

* Flink version : 1.13.2

* Hive version : 2.1.1

* Hadoop version : 3.0.0

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Do

[2022-05-13 11:51] danny0405 commented on #5575
What is the precision of the decimal, you mean the decimal written by Spark can not be read with flink ?

[2022-05-13 13:03] raviMoengage commented on #5565
Hi @nsivabalan,

Yes, I am using forEachBatch for writing in hudi format same as above. True that with `spark-data source writes, async table services won't kick in.`

As per [FAQ](https://hudi.apache.org/learn/faq/#what-options-do-i-have-for-asynchronousoffline-compactions-on-mor-dataset)
[code]
I tried this `hoodie.compact.schedule.inline = true `, but there is no compaction getting scheduled.

[2022-05-13 13:22] sunke38 commented on #5550
Hi [nsivabalan](https://github.com/nsivabalan)

here is my submit command

spark-submit --jars /home/kadm/module/hudi-0.11/packaging/hudi-spark-bundle/target/hudi-spark3.2-bundle_2.12-0.11.0.jar --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.1.2,org.apache.spark:spark-avro_2.12:3.2.1,org.apache.kafka:kafka-clients:3.1.0,org.apache.hudi:hudi-spark3.2-bundle_2.12:0.11.0 --master spark://had

[2022-05-13 15:19] whitecloud6688 opened #5579 "[SUPPORT]增加一个获取增量数据的函数"
**Describe the problem you faced**

在做数据仓库工作时，经常为获取一个表的增量数据而苦恼。例如 1时 从 A表 --> B表，2时需要读取A表的增量数据，将增量写入B表。目前没有很简便的方法获取增量数据。
希望能够设计一个函数，该函数的功能是获取表的上一次增量值，例如：
SELECT 增量函数(_hoodie_commit_time) FROM A;  将获取A表_hoodie_commit_time字段的上一次增量值；返回值：12
SELECT 增量函数(_hoodie_commit_seqno) FROM A;  将获取A表_hoodie_commit_seqno字段的上一次增量值；

_hoodie_commit_time
11   # 1时 同步任务
12   # 1时 同步任务
21   # 2时 同步任务需要获取的增量
22   # 2时 同

[2022-05-13 15:29] cdmikechen commented on #5579
Hi~ Can this chapter solve your problem? If not, how do you do it now?
https://hudi.apache.org/docs/querying_data#spark-incr-query

[2022-05-13 15:56] fengjian428 commented on #3755
I think my problem is already fixed, will notice you if this happens again

[2022-05-13 16:53] nsivabalan commented on #5540
and can you share your deltastreamer configs please?

[2022-05-13 16:54] nsivabalan commented on #5540
are you trying out for the first time and running into issues. or was this running ok for sometime and all of a sudden you hit this when you upgraded or changed any configs?

[2022-05-13 16:57] nsivabalan commented on #5511
yes, you are right thats the patch where we added the fallback.

[2022-05-13 16:58] nsivabalan commented on #5511
I would suggest to enable the fallback if you are starting a new downstream pipeline for a old hudi table. if you are going to start fresh, its not required. but enabling the fallback might be beneficial in other cases too. for eg, if your downstream consumer was down for a day or two and the you restarted. you may need this fallback to work.

[2022-05-13 17:00] nsivabalan commented on #5561
@danny0405 @wangxianghu : Is metadata table tested/certified w/ flink. can you chime in here please.

[2022-05-13 17:02] nsivabalan commented on #5568
sorry. I guess you were using master from jan/feb and now looking to use official 0.11 and running into this issue. Can you clean up your metadata table and let it bootstrap again from scratch. you should not encounter any issues.

[2022-05-13 17:03] nsivabalan commented on #5568
feel free to close out the github issue. cleaning the metadata table and restarting your pipeline should work

[2022-05-13 17:04] nsivabalan commented on #5569
do you happened to know what do you see w/ local FS ? I will give it a try.

[2022-05-13 17:08] bkosuru commented on #5569
I did not check. I tested it on the cluster. We are not able upgrade to 0.11.0 because of this issue. Thanks

[2022-05-13 17:42] bkosuru commented on #5569
I see the same difference on the local FS

[2022-05-13 18:41] nsivabalan commented on #5569
I could not able to reproduce atleast w/ local FS.

[code]

I tired above script for 0.8.0, 0.10.0 and 0.11.0 and its all same. infact, I same file group was updated for every commit which I tried w/ newer versions.

[2022-05-13 18:41] nsivabalan commented on #5569
[code]

[2022-05-13 18:43] bkosuru commented on #5569
I am sorry, the input is <http://purl.obolibrary.org/obo/uberon.owl>

[2022-05-13 18:44] bkosuru commented on #5569
please add angle brackets on each side of the input. It is getting deleted after I submit

[2022-05-13 18:47] bkosuru commented on #5569
![Screen Shot 2022-05-13 at 2 47 09 PM](https://user-images.githubusercontent.com/7408351/168347823-08d12376-436c-41ef-bee7-d43f385473e4.png)

[2022-05-13 18:49] nsivabalan commented on #5565
here is the sample script I tried w/ spark-datasource directly.

[code]
in another shell
[code]

now,lets try to schedule compaction.
continue w/ same spark shell as before
[code]

now lets list the .hoodie
[code]

Check out the last entry. its compaction.requested.

[2022-05-13 18:50] nsivabalan commented on #5565
only two configs I added are
[code]

[2022-05-13 22:09] amberchen14 opened #5580 "[SUPPORT] Hudi 0.10.0 dynamo lock provider: org.apache.hudi.exception.HoodieUpsertException: Failed to upsert for commit time"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-05-13 23:29] leesf commented on #5488
@parisni would you please add the conf `--conf 'spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension'` as well? this would solve your problem.

[2022-05-13 23:36] leesf commented on #5488
The conf `--conf 'spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension` is missed in [Spark Guide](https://hudi.apache.org/docs/quick-start-guide) for scala and python

[2022-05-14 00:36] nsivabalan commented on #4558
@waywtdcc : do you have any updates on this regard. Feel free to close out the github issue if its resolved w/ 0.10.1.

[2022-05-14 00:37] nsivabalan commented on #4583
closing this due to no activity. If you encounter any issues again, feel free to open a new one.
tahnks!

[2022-05-14 00:37] #4583 closed

[2022-05-14 00:38] nsivabalan commented on #4636
@danny0405 : please create an jira and proceed w/ an RFC for this.

[2022-05-14 00:40] nsivabalan commented on #4636
https://issues.apache.org/jira/browse/HUDI-4096

[2022-05-14 00:40] #4636 closed

[2022-05-14 00:40] nsivabalan commented on #4636
Have assigned the jira to you Danny. feel free to assign to anyone who might be interested to work on it.

[2022-05-14 00:42] nsivabalan commented on #4825
@waywtdcc @CodeCooker17 : is there any follow up pending on this issue. or are we good to close it out.

[2022-05-14 00:42] nsivabalan commented on #4835
@todd5167 : do you have any updates for us on this regards.

[2022-05-14 00:43] nsivabalan commented on #4863
@awpengfei : did you get a chance to get to the bottom of the issue. is the issue resolved?

[2022-05-14 00:44] nsivabalan commented on #4881
@zhilinli123 @danny0405 : is there any follows pending on this issue. If not, can we please close it out.

[2022-05-14 00:44] nsivabalan commented on #4882
closing due to inactivity. but highly recommend re-opening or opening a new issue if you need assistance.

[2022-05-14 00:44] #4882 closed

[2022-05-14 00:46] nsivabalan commented on #5163
@danny0405 @wangxianghu : can you folks assist here. or rope in someone who can help.

[2022-05-14 00:47] nsivabalan commented on #5330
@Guanpx : do you have any updates on this issue. if latest master works, feel free to close out the github issue.

[2022-05-14 00:48] nsivabalan commented on #5345
@walkhan : do you have any updates on this regard.

[2022-05-14 00:50] nsivabalan commented on #5382
hey @lihuahui5683 @danny0405 : a. if there was any workaround, can you folks add an FAQ. b. if some code changes are required, can we consider upstreaming it. c. if the issue is resolved, please feel free to close out the github issue.

[2022-05-14 00:51] KnightChess commented on #5568
@nsivabalan thanks for answering

[2022-05-14 00:51] #5568 closed

[2022-05-14 00:52] nsivabalan commented on #5395
@todd5167 : can you respond to Danny's question above. and if you got it working, can you let us know what was the root cause and how did you get around it.

[2022-05-14 00:56] nsivabalan commented on #3755
thanks!

[2022-05-14 00:56] #3755 closed

[2022-05-14 00:58] nsivabalan commented on #5550
couple of fixes.
1. remove org.apache.spark:spark-avro_2.12:3.2.1 from your --packages.
2. I see you are adding hudi-spark bundle twice. once with --packages and once w/ --jars. Can you just add it only once.

[2022-05-14 01:03] nsivabalan commented on #5551
those are the fixes for the issue you are facing. you may need to apply those patches to your hudi if you cannot upgrade to 0.11 for now.
@pratyakshsharma : can you help here.

[2022-05-14 01:08] vicuna96 opened #5582 "[SUPPORT] NullPointerException in merge into Spark Sql HoodieSparkSqlWriter$.mergeParamsAndGetHoodieConfig"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Hi team, we are getting a

[2022-05-14 02:41] danny0405 commented on #5561
Have fired a fix here: https://github.com/apache/hudi/pull/5583

[2022-05-14 02:44] danny0405 commented on #5345
@yihua We may need to support Hadoop 3.x in release 0.12.0

[2022-05-14 02:44] bydeath commented on #5552
Thanks. It was JAVA 11 I think. Know I set the env JAVA_HOME  to java8, it build successfully. The error may be related with JAVA 11.

[2022-05-14 02:52] BruceKellan commented on #5561
Thanks, I will do some test with this patch.

[2022-05-14 04:27] whitecloud6688 commented on #5579
可以的，非常感谢，看来得多研究官网文档啊 @cdmikechen

[2022-05-14 04:27] #5579 closed

[2022-05-14 11:31] nsivabalan commented on #5488
@parisni : can you confirm the above suggested solution works for you. feel free to close out the issue. we have a PR to fix the documentation. https://github.com/apache/hudi/pull/5584

[2022-05-14 11:42] sunke38 commented on #5550
Still same problem

spark-submit --jars /home/kadm/module/hudi-0.11/packaging/hudi-spark-bundle/target/hudi-spark3.2-bundle_2.12-0.11.0.jar --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.1.2,org.apache.kafka:kafka-clients:3.1.0 --master spark://hadoop000:7077 SparkHudi-1.0-SNAPSHOT-shaded.jar

at org.apache.spark.sql.execution.streaming.StreamExecution.org$apache$spark$sql$execution$strea

[2022-05-15 06:07] gnailJC opened #5586 "[SUPPORT] 0.11.0 SparkSQL ParseException occurs in 0.11.0 when creating view with `timestamp as of`"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

[0.11.0][SparkSQL] I

[2022-05-15 17:06] bettermouse commented on #5569
//hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java   getRecordPartitionPath
        //https://github.com/apache/hudi/pull/2645
        String encodeVersion08 = URLEncoder.encode("<http://purl.obolibrary.org/obo/uberon.owl>", StandardCharsets.UTF_8.toString());
        String encodeVersion11 = PartitionPathEncodeUtils.escapePathName("<http://purl.obolibrary.org/o

[2022-05-16 01:57] XuQianJin-Stars commented on #5586
hi @gnailJC Thanks for the question, now timestamp as of only supports table operations, not view related operations yet. If there is a business scenario requirement, we can implement it, and mention a jira.

[2022-05-16 02:34] BruceKellan commented on #5561
I will close this issue. If there are still problems I will reopen this issue.

[2022-05-16 02:34] #5561 closed

[2022-05-16 03:47] #5382 closed

[2022-05-16 04:14] LinMingQiang opened #5589 "[SUPPORT] Optimization of bucket index in Flink"
A clear and concise description of the problem.
write.task value can only be less than or equal to bucket num value, because even if it is exceeded, the writing efficiency cannot be improved.This is because the bucket index does not consider partition in partitioncustom

Hudi version : master

[2022-05-16 04:14] LinMingQiang commented on #5589
https://issues.apache.org/jira/browse/HUDI-4102

[2022-05-16 05:53] BalaMahesh opened #5591 "[SUPPORT] Hudi Error rolling back using marker files"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

We have recently upgraded

[2022-05-16 06:01] BalaMahesh commented on #5591
@yihua - please do take a look at it.

[2022-05-16 06:16] nleena123 commented on #5540
Hi @nsivabalan
Below attached property file contain all configs that we used to This job.
And  used passed below arguments to databrick job (we are running hudi job through Azure databricks)

[metrics.properties.txt](https://github.com/apache/hudi/files/8697581/metrics.properties.txt)

["--table-type","COPY_ON_WRITE","--source-ordering-field","CDC_TS","--source-class","com.optum.df.hudi.sources.DF

[2022-05-16 07:25] BalaMahesh commented on #5591
On checking I have found that `MARKER_TYPE_FILENAME` file is not created but the marker files are being created using timeline server. Since MARKER_TYPE_FILENAME is not found, hudi is assuming it as a direct marker file creating and trying to validate the MARKERSX to have .marker extension. Instead it should read the content of MARKERSX file and then try to validate the content of it as filenames.

[2022-05-16 08:34] gnailJC commented on #5586
thanks for your reply! I need to create a view based on hudi table data on a special old instant to query the old data.
so I try two way to get it.
1. use `create view xx select * from hudi_tbl timestamp as of xxxx`, and it's not support yet we know.
2. so i try the second way, like
`CREATE external TABLE tbl_snapshot_v20220512164415876
using hudi
options (
    as.of.instant=20220513103255808
) LO

[2022-05-16 08:56] zhangyk555 opened #5593 "[SUPPORT]I use Hive select Hudi mor table hive ERROR Invalid state: base-flile has to be present"
![86fdfa837876ae780d0e9d2d33fc2df](https://user-images.githubusercontent.com/51743766/168555953-2929db11-8711-4d0e-8180-315bc9bf8248.png)
hadoop.version hdp3.1
hive.version 3.1
Flink 1.14.4
hudi 0.11.0

[2022-05-16 10:27] todd5167 commented on #4835
@nsivabalan   I cleaned the root path and re-imported the data

[2022-05-16 10:30] todd5167 commented on #5395
@nsivabalan  @danny0405    I deleted the ./hoodie folder and re-executed it because I needed to restore the task.Therefore, I can't see the Action information.

[2022-05-16 17:14] Markc2001 opened #5595 "[SUPPORT]"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-05-16 17:29] Markc2001 commented on #5595
Hi, can you kindly remove the IP, and source code related to Stateauto please, it appears there are a number of references to systems and Stateauto when reviewing the site and content.

[2022-05-17 01:57] XuQianJin-Stars commented on #5586
have a try this
[code]

[2022-05-17 02:33] xiarixiaoyao commented on #5489
@parisni  sorry i can not  reproduce this problem，
What version of hive do you use？
i used hive3.1， here is the test result

[code]

[2022-05-17 02:40] xiarixiaoyao commented on #4978
@nsivabalan  i donot think  0.11 can solve this problem.
@CrazyBeeline   thanks for your help.    could you pls raise a pr to solve this problem, thanks very much

[2022-05-17 06:16] amit-ranjan-de opened #5599 "[SUPPORT] File names in S3 do not match the file names in the latest .commit file"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
  - Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.
  - Joined

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.
  - Not sure if this is a bug, as it was ha

[2022-05-17 06:54] easonwood opened #5602 "[SUPPORT] Problems in SparkRDDWriteClient.upsert"
Hudi version : 0.8.0
Spark version : 3.1.2

I tried to upsert hudi by client.
Found the HoodieJavaWriteClient API only support COW tables (why not support MOR).
So I used SparkRDDWriteClient API.
But Faced with such error.
Can anybody help with it?

22/05/17 02:43:21 ERROR ApplicationMaster: User class threw exception: java.lang.VerifyError: Bad return type
Exception Details:
  Location:
    org/a

[2022-05-17 07:29] pratyakshsharma commented on #5551
Ack. @nleena123 Were you able to apply the patches? If not, we can probably connect on slack and I can help you there.

[2022-05-17 07:39] pratyakshsharma commented on #5540
I see `hoodie.datasource.write.hive_styling_partioning` should be changed to `hoodie.datasource.write.hive_style_partitioning`.
Looking at your timeline, `20211211183554__commit__COMPLETED` is the last time the job ran successfully, after that you have been running into issues. So we want to understand if you changed anything since this last successful commit?

[2022-05-17 09:42] easonwood commented on #5602
It turns out that
when your project's dependencies contains both hudi-java-client and hudi-spark-client, this error will happen

[2022-05-17 09:43] #5602 closed

[2022-05-17 10:10] pratyakshsharma commented on #5540
Yes, changing to `hoodie.datasource.write.hive_style_partitioning` will not fix your issue. That was just a typo in your configs (unrelated to this error), so I just highlighted this.

[2022-05-17 10:21] pratyakshsharma commented on #5540
Also I guess there is some confusion with respect to the code that you shared and the logs that you shared. In the code, I see multiple logs getting printed which are not there in the logs file you shared.
Also the schema getting registered in the logs is not having CDC_TS field. Can you share latest logs? That might help in debugging the issue better.

[2022-05-17 10:29] melin opened #5605 "[SUPPORT]Support Apache Spark 3.3 in hudi"
Spark [v3.3.0-rc2](https://github.com/apache/spark/releases/tag/v3.3.0-rc2) is cut and being actively voted upon.

[2022-05-17 11:15] xushiyan commented on #5488
@leesf @parisni The examples in guide (for spark 3.2) do include it. If I get it right, @parisni did you mean you run into issue *with* this config set, and problem went away *without* it?

[2022-05-17 11:47] nleena123 commented on #5540
We are adding new field CDC_TS to Kafka data through  code which present in DF3HoodieDeltaStreamer.java program.
**Code  :-**
static GenericRecord getDataWithCDC_TS(GenericRecord record, String ts) {

		Schema base = record.getSchema();
		List<Schema.Field> baseFields = base.getFields().stream()
				.map(field -> {
					Schema.Field f = new Schema.Field(field.name(), field.schema(), field.doc(), f

[2022-05-17 14:24] xushiyan commented on #5595
this looks like a mis-filing

[2022-05-17 14:24] #5595 closed

[2022-05-17 20:38] gtwuser opened #5612 "Exception while upserting records - An error occurred while calling o155.pyWriteDynamicFrame. Expected instance of group converter but got "org.apache.parquet.avro.AvroConverters$FieldUTF8Converter""
Hi All,

Getting this error `An error occurred while calling o155.pyWriteDynamicFrame. Expected instance of group converter but got "org.apache.parquet.avro.AvroConverters$FieldUTF8Converter"` when trying to upsert single record.

Please let us know what are we doing wrong and what could be a possible fix.

using external jars instead of [AWS Hudi Connector](https://aws.amazon.com/marketplace/pp/p

[2022-05-17 22:43] #5580 closed

[2022-05-18 01:24] xiarixiaoyao commented on #5519
@neerajpadarthi   Sorry for the late reply.
yes, this is an issue with with 0.9.
since when spark read parquet,  if we use long type to read a int type cloumn spark will throw errors.

could you pls migrate it to hudi 0.11.0   and i can give you a help .

[2022-05-18 01:28] xiarixiaoyao commented on #5519
@gy19951022 @JoshuaZhuCN  if you have webchat  you can add me '1037817390'

[2022-05-18 04:57] anth0ny-x commented on #2247
Ran into the same issue, the issue is conflicting jars in the CDH spark stack and Hudi.

Resolve it by getting spark-shell to load the Hudi jar before the CDH jars using  --driver-class-path
e.g.
spark-shell --driver-class-path=/path/to/hudi-spark-bundle_2.11-0.5.3.jar --jars=/path/to/hudi-spark-bundle_2.11-0.5.3.jar

[2022-05-18 05:48] SabyasachiDasTR commented on #5422
Hello ,
After upgrading hudi version to the latest available we are still facing the same issue on enabling metadata.
Tried with EMR 6.6.0 hudi 0.10.0 spark 3.2.0. This is the latest available version in AWS EMR.

AWS Support case: Case ID 9940197941
Could you please help with the issue.

[Hudi_Options_UpsertMethod.txt](https://github.com/apache/hudi/files/8713511/Hudi_Options_UpsertMethod.txt)
[S

[2022-05-18 06:48] gtwuser commented on #5612
Have added a sample of payload in sent in bulk insert and also during the next upsert. Basic scenario is the increments may have only empty arrays for properties which had data during bulk insert.

[2022-05-18 06:49] gtwuser commented on #5612
Have added a sample of payload sent in bulk insert and also during the next upsert. Basic scenario is the increments may have only empty arrays for properties which had data during bulk insert. Sample is added to the first post.

[2022-05-18 07:29] gaogao110 opened #5623 "[SUPPORT]If the Hive table already exists, write to create automatically will throw an exception"
**Describe the problem you faced**
1. write to hudi sync hive
2. if hive table already exists will throw an exception

**To Reproduce**

1. write to hudi sync hive
2. if hive table already exists will throw an exception

**Environment Description**

* Hudi version : 0.10.1

* Flink version : 1.13.6

* Hive version : 3.1.2

* Hadoop version : 3.1.3

* Running on Docker? (yes/no) : no

**Stacktrace*

[2022-05-18 08:00] xushiyan commented on #5599
@amit-ranjan-de any chance you might have TTL setting for the S3 bucket which deletes files?

[2022-05-18 09:09] xushiyan commented on #5589
@minihippo do you want to take up this improvement? we can aim for 0.11.1

[2022-05-18 09:48] xushiyan commented on #5569
@nsivabalan the problem is some newer encoding logic introduced in after 0.8 and not encoding `<` and `>`, which resulted in the difference. We need to make a call to fix this in minor release.

[2022-05-18 11:03] xushiyan commented on #5553
@xccui are we good to close this?

[2022-05-18 11:17] xushiyan commented on #5541
@yangdafish please let us know if this suggestion works

[2022-05-18 12:12] xccui commented on #5553
Hi @xushiyan, we triggered the exception a few times with "improper" checkpoint/compaction settings these days. I believe there's a bug that requires further investigation. But it's fine to close this.

[2022-05-18 12:51] xushiyan commented on #5513
@aiwenmo did the suggestion solve the issue? if so let's close this.

[2022-05-18 13:16] #5513 closed

[2022-05-18 13:16] raviMoengage commented on #5565
Hi @nsivabalan, After checking again. I found out there was 2 `compaction.inflight` timeline instant.

So I changed the base path and tried the following config and it's working fine.
[code]
For the 2 inflight compactions, I had to run offline compaction in execute mode with instant-time.

Thanks for the support.

Closing the issue.

[2022-05-18 13:16] #5565 closed

[2022-05-18 13:24] xushiyan commented on #5493
+1. In addition, 0.5.0 version is not certified to work with

Hadoop version : 3.2.1

[2022-05-18 14:23] xushiyan commented on #5389
@JosefinaArayaTapia have you filed aws support case? this is for aws hudi and aws-specific environment, should be troubleshooted with aws support team

[2022-05-18 14:30] xushiyan commented on #5388
@santoshsb this is caused by some discrepancies btw spark sql and spark data source option. we should fix this in 0.11.1. Spark data source allows using nested field for partition and precombine field. but spark sql does some validation which restricts it. The validation logic is here (to be relaxed)
https://github.com/apache/hudi/pull/5517

cc @yihua

[2022-05-18 14:33] JosefinaArayaTapia commented on #5389
Hi @xushiyan

I have presented the case to aws support and they sent me the following configuration which solved my problem.
Also now use EMR 6.4.0

[code]

[2022-05-18 14:44] bkosuru commented on #5569
[code]

[2022-05-18 15:22] xushiyan commented on #5223
@suryaprasanna have you filed aws support case? this should be followed up with aws support team then

[2022-05-18 18:53] sstimmel opened #5628 "[SUPPORT] - Deltastreamer not shutting down properly"
Running Deltastreamer with Cloudwatch Metrics isn't shutting down properly.  This is in NON continous mode.  DeltaSync and spark context say they are closing, but the JVM is not exiting, everything seems to be in a waiting/hung state except for Cloudwatch metrics which still tries to send metrics every minute.

**To Reproduce**

Steps to reproduce the behavior:

1.  Run Deltastreamer in non-contin

[2022-05-18 18:54] sstimmel commented on #5628
with less debugging,

`22/05/18 16:03:52 INFO HoodieActiveTimeline: Loaded instants upto : Option{val=[20220518160348871__clean__COMPLETED]}
22/05/18 16:03:52 INFO HoodieTimelineArchiveLog: No Instants to archive
22/05/18 16:03:52 INFO AbstractHoodieWriteClient: Committed 20220518160141704
22/05/18 16:03:52 INFO MapPartitionsRDD: Removing RDD 72 from persistence list
22/05/18 16:03:52 INFO BlockMa

[2022-05-19 00:15] xushiyan commented on #4993
@BruceKellan not very clear what the issue is. what do you mean by this?

It seem that it cannot read new data in day=2022-03-09

[2022-05-19 00:27] xushiyan commented on #4223
close due to inactivity.

[2022-05-19 00:27] #4223 closed

[2022-05-19 03:55] amit-ranjan-de commented on #5599
Hi @xushiyan thanks for your comment!

We don't have any TTL on the S3 bucket.

For the command:
[code]

We receive below result:
[code]

[2022-05-19 08:07] BruceKellan commented on #5623
It seems like a class conflict.

[2022-05-19 08:14] gaogao110 commented on #5623
yes I fixed this issue at PR [HUDI-4118] fix sync hive Hive table already exists throw an exception #5625

[2022-05-19 08:37] gaogao110 commented on #5623
Have you ever had this problem?  In the log that Flink writes to Hudi

[2022-05-19 09:40] eric9204 opened #5634 "[SUPPORT] -- The UPSERT write operation seems did not WORK !"
**Describe the problem you faced**

problem 1:    flink sql pull data from kafka and write to hudi,there are 11000 records in kafka topic,10000 records are inserts  and  other 1000 records are updates,enable index global and use upsert write operation,select count hudi target table ,there are 10818 records in hudi target table.it seems like upsert operation did not work.

problem 2:    the last de

[2022-05-19 13:28] nleena123 commented on #5551
@nsivabalan
slack is not allowed in my organisation , can we connect by any other app ?

[2022-05-19 13:44] gtwuser opened #5636 "[SUPPORT]Need info on the versions of hudi dependent jars which can be used with Glue 3.0"
**Describe the problem you faced**
Need to use higher version of Spark libraries, so as to support casting of array<string> to array<null> type, because we dont know which combination of sprak-hudi-bundle jars and spark-avro jars wold work, im stuck with Glue 2.0 and Spark 2.4.
The jars used for creating Hudi tables on glue catalog as of now are as follows :
Setup/Env config:

AWS Glue 2.0,
Python

[2022-05-19 13:47] parisni commented on #5488
nope, sadly adding bellow configs don't solve the issue

[code]

[2022-05-19 13:59] parisni commented on #5489
@xiarixiaoyao I am using a metastore based on hive 2.3.6 and... the snippet does work on my side.

[2022-05-19 14:58] xushiyan commented on #5503
@sleep1661 @wf19970425 we can only reproduce knowing what jars you have in your environment. The hudi bundle jars should have hbase related dependencies shaded. It is a class conflict but we don't expect this with bundle jars. 2 questions to clarify:
- do you use hudi bundle jars or jars built from hudi source modules?
- have you tried with hadoop 2.7?

[2022-05-19 15:03] xushiyan commented on #5550
@sunke38 i saw a version mismatch: `org.apache.spark:spark-sql-kafka-0-10_2.12:3.1.2` this is for spark 3.1.2 but your main spark version is 3.2.1. can you fix it and see if problem resolves

[2022-05-19 16:28] #5589 closed

[2022-05-19 16:40] pratyakshsharma commented on #5551
You can suggest some other app as per your convenience, else google meet also works.

[2022-05-19 20:00] vicuna96 commented on #5582
Hi team, just to update - it looks like this hms table create may not be updating fields such as `primaryKey`, `type`, `preCombineField` as they are optional. I'm assuming we need to specify them in the spark-sql environment itself during execution?

[code]

[2022-05-20 04:57] XuQianJin-Stars commented on #5488
@parisni I'll see if I reproduce this error later.

[2022-05-20 07:08] leesf commented on #5488
@parisni I think you are not set the config correctly, please use the following code
[code]

or

pyspark   --packages org.apache.hudi:hudi-spark3.2-bundle_2.12:0.11.0   --conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer'   --conf 'spark.sql.catalog.spark_catalog=org.apache.spark.sql.hudi.catalog.HoodieCatalog' --conf 'spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessi

[2022-05-20 08:00] parisni commented on #5488
yeah sorry this was internal code leading to the same result:

you can test my code snippet in OP and reproduce the error on your side

On Fri May 20, 2022 at 9:08 AM CEST, leesf wrote:

[2022-05-20 08:40] xushiyan commented on #5488
@parisni I was able to reproduce the error, and saw that `spark.sql.extensions` is indeed the missing config.

- without `spark.sql.extensions`

[code]
[code]

- with `spark.sql.extensions`

[code]
[code]

[2022-05-20 10:24] qianchutao commented on #5540
I have the same problem, and I haven't solved it yet

[2022-05-20 13:27] xushiyan commented on #5553
@xccui can you describe these with more details? we might file a bug if necessary.

[2022-05-20 14:16] leesf commented on #5488
I tried in my local env and show the same result as xushiyan pasted.

[2022-05-20 14:31] #5605 closed

[2022-05-20 16:17] Guanpx commented on #5575
Sorry for the late reply，column precision  is DECIMAL(20,10) and  we use flink write  data always, that Exception occured when upgrade hudi 0.10.1 to hudi 0.11.0

[2022-05-20 18:58] umehrot2 commented on #5553
We are facing same issue via Spark SQL DML for merge on read tables:
[code]

When we disable metadata table we are able to get past this. This does need further investigation.

[2022-05-21 00:35] tjtoll commented on #5636
For Glue 3.0 we use:
hudi-spark3-bundle_2.12-0.9.0.jar
spark-avro_2.12-3.1.2.jar
calcite-core-1.16.0.jar

Switch out the hudi-spark3-bundle2.12 for .10 or .11 if you want those instead.

[2022-05-21 01:03] XuQianJin-Stars commented on #5571
Flink has `HoodieCatalog` and spark has `SessionCatalog`, which can provide metadata for querying and accessing hudi, but currently there is no further encapsulation of a catalog. FileIO is now cached and not open for customization.

[2022-05-21 05:53] gnailJC commented on #5586
CTAS can indeed achieve the expected query effect, but it will increase the new storage cost.
I found the reason why
`CREATE external TABLE tbl_snapshot_v20220512164415876
using hudi
options ( as.of.instant=20220513103255808 )
LOCATION 'xxxx;`
does not take effect, because `as.of.instant` will be filtered out, so it does not achieve the purpose of querying old snapshots. As I mentioned in the PR.

[2022-05-21 09:11] xushiyan commented on #5489
@parisni did you mean it worked? so this is resolved? or you meant the other way

[2022-05-21 10:35] xushiyan commented on #5571
We have some strawman design for caching in the roadmap "Mutable, Transactional caching" on https://hudi.apache.org/docs/disaster_recovery
if you're keen, feel free to draft up an RFC

[2022-05-21 10:35] #5571 closed

[2022-05-21 13:23] xushiyan commented on #5326
You're welcome to give a try and make some proof-of-concepts. This is more of a prometheus-specific problem; hopefully someone from the community who is familiar with this can help out here.

[2022-05-22 07:47] #5388 closed

[2022-05-22 14:47] #5389 closed

[2022-05-22 16:19] xushiyan commented on #5569
@bkosuru You're right that users shouldn't worry about the encoding. This was changed in 0.9.0 release where `<` and `>` won't be encoded, and the behavior stayed the same afterwards. We suggest that you could either keep the current conversion logic as your own workaround, or do a one-time migration of the data. I've linked a PR to update the 0.9.0 release notes on this.

[2022-05-22 20:02] xccui commented on #5553
It seems that Hudi tries to use the new length to read data from the old file stream, even though the file has been updated in S3.

[2022-05-22 21:18] bkosuru commented on #5569
@xushiyan If you are not going fix this issue, we will have to do
(1) One-time migration of the data because the current partition has ```<``` and ```>``` encoded.
(2) Change the encoding for the reader
````val urlEncodedGraph = PartitionPathEncodeUtils.escapePathName("<http://purl.obolibrary.org/obo/uberon.owl>")```
for
```option(DataSourceReadOptions.INCR_PATH_GLOB_OPT_KEY, s"/g=$urlEncodedGraph

[2022-05-23 01:39] xushiyan commented on #5280
tracking the work and fix in https://issues.apache.org/jira/browse/HUDI-3601

[2022-05-23 01:41] xushiyan commented on #4985
tracking the work and fix in https://issues.apache.org/jira/browse/HUDI-3601

[2022-05-23 02:08] xushiyan commented on #5599
@amit-ranjan-de it's only possible troubleshoot this kind of data issue if we can reproduce it. Is this something reproducible consistently in your environment? also since this is on aws, have you filed aws support case?

[2022-05-23 02:32] danny0405 commented on #5553
My insight was that there are some concurrency conflict when multiple threads try to read and modify the hoodie.properties file. After the refactoring from: https://github.com/apache/hudi/pull/4739

[2022-05-23 02:32] danny0405 commented on #5553
cc @alexeykudinkin

[2022-05-23 02:59] sleep1661 commented on #5503
1.  I was using hudi bundle jars
2.  I only test with hadoop-2.6.5.

Maybe this issue cause only in my custom environment, I will test more.

[2022-05-23 03:22] yangzhiyue opened #5658 "[SUPPORT] Hudi update will produce duplicated records"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Using flink to fall in

[2022-05-23 03:31] santoshsb commented on #5388
Thank you.

[2022-05-23 03:50] danny0405 commented on #5553
And i believe this exception is very probably caused by this PR: https://github.com/apache/hudi/commit/ed106f671e929d2a6277ae189242201a02a7b58f
cc @codope

[2022-05-23 03:51] santoshsb commented on #5452
thanks @xiarixiaoyao, our schema for storing data as defined by FHIR standards https://www.hl7.org/fhir/patient.schema.json.html seams to be complicated, as most of the fields here are optional the incoming data will always be missing few elements (nested as well as those on the root level). The missing root element is fixed by the code you provided. Thanks for looking into this issue.

[2022-05-23 05:57] amit-ranjan-de commented on #5599
No @xushiyan 😞 , it is random and we couldn't find any pattern or consistency in the failure.

We're using hudi to run spark application via AWS Glue. Do you think it could be related to Glue, I can raise a support case with them?

[2022-05-23 07:11] danny0405 commented on #5553
Have fired a fix for flink here: https://github.com/apache/hudi/pull/5660

https://issues.apache.org/jira/browse/HUDI-3782 and
https://issues.apache.org/jira/browse/HUDI-4138

In general, we should never make any side effect in the read code path of hoodie table config.
And hoodie table metadata writer.

I'm not sure how to fix this in Spark side, have two ways to fix on my mind:

1. make table co

[2022-05-23 09:12] ccchenhe commented on #4881
I think I have same problem as you, difference is that my table.type is COW only

[2022-05-23 09:24] robertobechara commented on #5484
Hi @jasondavindev, did you manage to get it running in ECS? I'm having the same problem, tried with Hudi 0.10, and also didn't work.

[2022-05-23 10:57] xushiyan commented on #5599
@amit-ranjan-de pls file aws support case; it should be the first preference to seek for support since it's aws environment. Since it's not reproducible, I don't think we can troubleshoot this given the info.

[2022-05-23 10:59] xushiyan commented on #5658
Have you checked the key gen settings?

[2022-05-23 15:32] zhilinli123 commented on #4881
@nsivabalan @danny0405
You guys have time to look at this problem and we have this problem at the same time

[2022-05-23 22:44] xushiyan commented on #5569
@bkosuru this is a historical issue with 0.8->0.9 and the discrepancy is a minor case, so we have to keep 0.9+ versions consistent. Also once https://issues.apache.org/jira/browse/HUDI-512 is implemented then you won't need to worry about this situation any more.

[2022-05-23 22:56] #5569 closed

[2022-05-23 23:57] jasondavindev commented on #5484
@robertobechara No. I gave up and came back to version 0.10.0. My[ initial problem](https://github.com/apache/hudi/issues/5469) was solved in version 0.10

[2022-05-24 02:20] eric9204 commented on #5634
this problem has been solved，so i will close this issue

[2022-05-24 02:34] danny0405 commented on #4881
@zhilinli123 We recently fired a fix in master branch: https://issues.apache.org/jira/browse/HUDI-4078, the MOR table may lost the index data if there are pending compactions on the table, you can have a try ~

[2022-05-24 03:24] eric9204 commented on #5634
when i set write.precombine = true,the NonPartitioned hudi table  have not duplicate record,but the Partitioned hudi table have duplicate record

[2022-05-24 03:41] danny0405 commented on #5634
The `write.precombine` is default false for MOR table, and i see you query the rt table from hive side, this may be a bug in hive query, did you try the ro table though ?

[2022-05-24 04:30] eric9204 commented on #5634
Thank you for your reply！this time ,i Insert three batches of the same data（recordkey from 0 to 999）,then insert the last 10000 records(recordkey from 0 to 9999), all of  write operation is upsert and set index.global.enabled=true.

theoretically,The target hudi table should have 10000 records.

ro table
![image](https://user-images.githubusercontent.com/90449228/169948161-e90bf76d-4f30-40aa-b621-

[2022-05-24 05:49] SabyasachiDasTR commented on #4311
Hi @nsivabalan ,
We removed clustering[HoodieClusteringConfig] from our code which we think resolved the issue without hudi upgrade.
Currently we are using attached hudi configs.
[Options.txt](https://github.com/apache/hudi/files/8759833/Options.txt)

But enabling Metadata on this is causing issues.
https://github.com/apache/hudi/issues/5422 is open for it.

[2022-05-24 06:53] kapjoshi-cisco commented on #5636
Thank you this works

[2022-05-24 07:22] danny0405 commented on #4881
@ccchenhe said that COW may lost the index data, let's see if we can have more details :)

[2022-05-24 07:37] kapjoshi-cisco commented on #5636
~> Thank you this works~

Sorry there as an error handling section, which made it look like the job passed, its still failing with the below error

Jars used:
1. s3://hudi-jars/jars/hudi-spark3-bundle_2.12-0.11.0.jar, # using 0.11.0 version
2. s3://hudi-jars/jars/spark-avro_2.12-3.1.2.jar,
3. s3://hudi-jars/jars/calcite-core-1.16.0.jar

[code]

[2022-05-24 07:56] eric9204 opened #5671 "[SUPPORT] Archive can't be triggered,when parameter of the metadata table was use in the program"
**Describe the problem you faced**

Flink sql consume data from kafka and write to hudi, the sql statement enable metadata table, Archive can't be triggered.so ,there are 7044 files in the `.hoodie` directory

**To Reproduce**

Steps to reproduce the behavior:

1.Set the following parameters：

![image](https://user-images.githubusercontent.com/90449228/169976947-9c18288f-e852-409a-a67c-9d3c2c21c29

[2022-05-24 09:12] ccchenhe commented on #4881
### summary
my flink application consume same kafka and sink multiple hudi tables. when we load history from spark, submit flink application, after first global index bootstrap, I found data duplication, such as same record key has 2 rows distributed in different files

### env
flink: 1.13.12
hudi: 0.10.0
hadoop version:3.2.1(cdh)

### spark config
[code]

### flink config
[code]

### flink exampl

[2022-05-24 09:18] ccchenhe commented on #4881
1. I try to change index type, write.payload.class, not works.
2. I try to remove spark job, only submit flink job consume all of history data, not works.
3. when my application that sink 1 hudi table, no matter what I modify, it works
4. when my application that sink 3 hudi table, I set write.index_bootstrap.tasks = 1, it works

[2022-05-24 09:27] danny0405 commented on #4881
Thanks, it seems the sink hudi table num is a factor of data duplication.

[2022-05-24 09:30] danny0405 commented on #5671
Did you schedule the compaction but does not compact it actually ?

[2022-05-24 09:48] ccchenhe commented on #4881
Thank you so much for investigating this root cause, bro

[2022-05-24 10:38] garyli1019 commented on #4887
@nsivabalan https://issues.apache.org/jira/browse/HUDI-3537 I created a jira for this issue. To solve this we need to bump the Hudi version on impala codebase.

[2022-05-24 13:54] sunke38 opened #5673 "[SUPPORT]scala.MatchError for rename colum"
I am try to rename a colum by spark-sql.but it show scala.MatchError

spark.sql("ALTER TABLE hudi_cow_pt_tbl RENAME COLUMN ts TO tts")

Environment Description

Hudi version : 0.11

Spark version : 3.2.1

Hadoop version : 3.2.2

Storage (HDFS/S3/GCS..) : HDFS

Running on Docker? (yes/no) : no

spark.sql("ALTER TABLE hudi_cow_pt_tbl RENAME COLUMN ts TO tts")
ANTLR Tool version 4.7 used for code gen

[2022-05-24 16:59] yihua commented on #5280
@xushiyan We've built the images for arm64.  I remember some native libraries from Hadoop or Hive are not compatible on arm64 arch so at runtime the errors are thrown.  It depends on those OSS projects to fully support arm64 before we can make the docker demo fully working on arm64.

[2022-05-24 18:00] yihua commented on #5422
@rahil-c ^

[2022-05-24 22:29] Gatsby-Lee commented on #5484
BTW, this issue still exists.
I tested with Glue2 and Glue3 ( with the right bundle ), but it still doesn't work.

[2022-05-24 22:39] Gatsby-Lee commented on #4839
For anyone who gets here because Async Compaction doesn't work -  AWS Glue + Hudi + MoR Table,
If you use Spark Write directly, Async compaction won't work.

[code]

[2022-05-25 00:43] Gatsby-Lee commented on #5484
@xushiyan thank you for re-opening the issue.

[2022-05-25 03:59] yangzhiyue commented on #5658
yes, I have used the org.apache.hudi.keygen.SimpleAvroKeyGenerator as the hoodie.datasource.write.keygenerator.class,
thanks for replying

[2022-05-25 04:37] danny0405 commented on #5671
Another detail is that we tweaked the archive strategy when metadata table is enabled for 0.11, https://github.com/apache/hudi/pull/4821, maybe it is relevant with your error.

[2022-05-25 05:19] eric9204 commented on #5671
Maybe You are right , i restart the program only change the table type from mor to cow yesterday，the meta file under `.hoodie` directory was archived .The program has been running for 22 hours and 47 minutes，there are 267 files in the `.hoodie` directory right now .

[2022-05-25 05:27] eric9204 commented on #5671
I can't connect to the HDFS ,so I could't test it use HoodieTimelineArchiver. this should be related to compaction.I'm thinking about it,#4812.

[2022-05-25 12:01] chinmay-pocketfm commented on #4641
Can you share the latest spark submit command ? @harishraju-govindaraju

Even I am facing same issue

[2022-05-25 13:22] MikeTipico opened #5683 "[SUPPORT] org.apache.hudi.exception.HoodieUpsertException: Failed to merge old record into new file"
**Problem Faced**

We currently have a series of pipelines doing the following:
A. NiFi
	1. consume avro data from Kafka
	2. attach schema information (downloaded from registry)
	3. save to S3 'raw'
B. Spark Application (structured streaming)
	4. consume from S3 'raw'
	5. do some basic cleaning and schema flattening
	6. persist to Hudi S3 'data'

For one pipeline we encountered a schema change fro

[2022-05-25 13:37] sunke38 commented on #5550
@[xushiyan](https://github.com/xushiyan)
thank you for your help I decide abandon this code to try do it by spark sql. Thank you

[2022-05-25 13:42] sunke38 opened #5684 "[SUPPORT]CreateHoodieTableCommand.orgsetter$nodePatterns_$eq(Lscala/collection/Seq;)V is abstract"
I try to create table and sysn to hive. However its show CreateHoodieTableCommand.orgsetter$nodePatterns_$eq(Lscala/collection/Seq;)V is abstract. I use hudi 0.11 + spark 3.2.1.

Environment Description

Hudi version : 0.11

Spark version : 3.2.1

Hadoop version : 3.2.2

Storage (HDFS/S3/GCS..) : HDFS

Running on Docker? (yes/no) : no

Stacktrace

Current State: ACTIVE
Thread State: RUNNABLE

here

[2022-05-25 14:41] MikeTipico opened #5685 "[SUPPORT] Loading older data with old schema version into Hudi"
**Problem Description**
In our systems we have scenarios that require us to reload some data (sent to us backdated or fixed from source) into existing Hudi tables, however we are facing an issue when doing this since some of the old data has been sent to us using an older version of the schema. Can you kindly guide us on how to best approach this scenario to ensure that data can be reloaded into t

[2022-05-25 16:16] tjtoll commented on #5636
I’m not sure what the next thing to try is, we do not convert to dynamic frames before we write

[2022-05-25 17:11] Gatsby-Lee commented on #5484
@xushiyan hi.
after I had a chat with you yesterday, I did some self-question / answer, and also some investigation in Glue and Hudi and Hive code base.

Here is the my self-question and thought. ( FYI, I don’t have much detailed knowledge about hive and hudi code base )

And, my conclusion is that I think there is issue in Hudi, not really in AWS Glue.

**Q1. What is the issue?**
A. Metadata sync

[2022-05-25 19:00] tchunchu commented on #5484
@xushiyan  I tried with sync mode as glue and it also didn't work.
"hoodie.datasource.hive_sync.mode" : "glue"

https://github.com/apache/hudi/blob/master/hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HiveSyncConfig.java

{"--sync-mode"}, description = "Mode to choose for Hive ops. Valid values are **hms,glue,jdbc and hiveql**)

[2022-05-25 22:09] Gatsby-Lee commented on #5484
I tried the same config as well.
Although GLUE is one of Enum value in "HiveSyncMode.java", It doesn't look fully being supported.

If you set "hoodie.datasource.hive_sync.mode" : "glue", you will get exception raised from here.
https://github.com/apache/hudi/blob/master/hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HoodieHiveClient.java#L71-L82

So far, based on my investigation, AW

[2022-05-25 22:50] Gatsby-Lee commented on #5636
@tjtoll + anyone who use AWS Glue

If you have to use Glue3, then go with Hudi 0.9 that you can get from AWS Marketplace.
you don't need to download anything manually since you can get JARs by setting Glue Connection.

If you have to use higher than Hudi 0.9, then go with Glue2 + Hudi 0.10.1.
Here are JARs you need. When you use custom JARs to use Hudi, you have to remove Glue Connection for Hudi.

[2022-05-25 23:20] xushiyan commented on #5684
@sunke38 it's hard to read. can you pls format your code and stacktrace separately with proper block code format like
[code]

[2022-05-25 23:27] xushiyan commented on #5673
@sunke38 can you share your complete command to start the spark session

[2022-05-25 23:55] cdmikechen opened #5686 "[DISCUSS] Is it possible to create a Chinese meeting?"
At present, many Chinese companies are using Hudi, and there are many Chinese contributors/commiters in the community. And many groups (other than slack, such as wechat and dingding) have been established in China to discuss,  share and solve the problems about hudi.
If we can provide a meeting in zoom that can communicate in Chinese, I think many people should want to participate in it and share

[2022-05-26 01:21] qianchutao commented on #5553
i had the same problem, i used flink 1.14.0 stream write to hudi 0.11.0

![image](https://user-images.githubusercontent.com/72595723/170395569-26d025ea-a29f-46ca-9cca-cc0ea698159e.png)

[2022-05-26 01:32] sunke38 commented on #5673
@xushiyan  I did this in spark shell ,so only code is
'''
spark.sql("ALTER TABLE hudi_cow_pt_tbl RENAME COLUMN ts TO tts")
'''
here is the command for spark shell
'''
spark-shell
--jars /home/kadm/module/hudi-0.11/packaging/hudi-spark-bundle/target/hudi-spark3.2-bundle_2.12-0.11.0.jar
--packages org.apache.spark:spark-avro_2.12:3.2.1  --conf 'spark.serializer=org.apache.spark.serializer.KryoSerial

[2022-05-26 01:51] eric9204 commented on #5671
After the program runs for eighteen hours a day，Metadata does not seem to be archived again.there are 7235 files in the `.hoodie `directory right now .

[2022-05-26 02:00] xccui commented on #5553
Hi @danny0405, we tested our job with this patch applied but still got the same exception.

[2022-05-26 02:22] zhengminhz commented on #1887
@bvaradar so how to solve this problem?there is a realtime job.there is another batch job need to delete some old data,it can't do the compact

[2022-05-26 02:35] melin opened #5687 "[SUPPORT]hudi sql parser ignores all exceptions of spark sql parser"
example:

select CAST(-123456789 AS TIMESTAMP) as de,  exception:
[code]

add hudi, exception:
[code]

[2022-05-26 03:40] danny0405 commented on #5553
Okey, our user feedback shows that the bug is fixed, maybe there are some other cases that cause this problem too, did you use the MOR table and what is your checkpoint interval ?

[2022-05-26 03:50] qianchutao commented on #5553
I'm using the MOR table, and the checkpoint interval is 120 seconds，My configuration is as follows
flink 1.14
hudi 0.11
hive 3.1.2
Use S3 as the data store

![image](https://user-images.githubusercontent.com/72595723/170412099-736eed3e-97bb-482d-ac71-ac8838ae4c00.png)

[2022-05-26 03:52] qianchutao commented on #5553
Do you have a packed patch?  I wanted to see if I could solve the problem in my development environment

[2022-05-26 04:10] eshu opened #5689 "[SUPPORT] Duplicates appears on the some attempts of rewrite"
Dataset has two stages: the initial upload from a snapshot (insert operations) and after that updates happens on demand from Kafka (upserts).

I checked the snapshot, it does not contain any duplicates. But on the second stage some duplicates appear. In case of duplicates dataset has 2 records with the same key in the same partition (files are different). The first record is from snapshot load, se

[2022-05-26 05:45] xushiyan commented on #5687
@melin what exactly are you suggesting here? can you elaborate

[2022-05-26 05:49] xushiyan commented on #5686
@cdmikechen that's good idea. we need to have someone driving and organizing these events.

[2022-05-26 05:52] melin commented on #5687
In this case, the exception thrown should be the spark exception information, not the hudi parsing failure information：

[2022-05-26 05:54] XuQianJin-Stars commented on #5687
I think about how to deal with this problem reasonably.

[2022-05-26 05:59] XuQianJin-Stars commented on #5686
We already have dingding and wechat groups. I think it only needs the community to regularly initiate ad hoc discussion meetings and attach the meeting entrance. What do you think?

[2022-05-26 06:08] xushiyan commented on #5683
@MikeTipico dropping column is not a backward-compatible change. Before 0.11, only adding column is supported. you can read more in https://hudi.apache.org/docs/schema_evolution

[2022-05-26 06:19] xushiyan commented on #5658
@yangzhiyue can you provide code snippets for us to replicate the problem? it's likely mismatch btw spark and flink keygen settings. cc @danny0405

[2022-05-26 07:01] melin commented on #4627
@vingov cc

[2022-05-26 07:09] MikeTipico commented on #5683
@xushiyan we also tried using a default value of either null or -1 but in both cases still got exceptions on the merging for a particular batch of data. After this batch we successfully loaded newer data using the new schema and default values.

[2022-05-26 08:05] Clarkkkkk commented on #5686
We'd like to organize this event regularly @yuzhaojing @minihippo.

[2022-05-26 08:13] qianchutao opened #5690 "[SUPPORT] Flink stream write hudi, failed to checkpoint"
When I used Flink to synchronize data to write HUDi in COW mode, Flink job kept failing to restart and checkpoint kept failing. The Parquet file had been written to the path of S3, but the metadata of the table was not generated.My error message is as follows:

![image](https://user-images.githubusercontent.com/72595723/170446402-e416fa92-0985-4c42-a244-1624b7d601f4.png)

Checkpoint failures are m

[2022-05-26 08:22] xushiyan commented on #5686
@Clarkkkkk awesome! glad to hear that. let's keep the discussion going on the dev mailing list

[2022-05-26 08:22] #5686 closed

[2022-05-26 08:37] minihippo commented on #5686
+1, look forward to it.

Clark Yang ***@***.***> 于2022年5月26日周四 16:06写道：

[2022-05-26 08:37] yuzhaojing commented on #5686
+1, look forward to it.

[2022-05-26 10:09] yanmushi opened #5691 "[SUPPORT]NoSuchObjectException: Failed to write data to Hive"
**Describe the problem you faced**

After I compile hudi-flink-bundle,  I create a yarn session and write the data to hive. There is a NoSuchObjectException in the dashboard log panel.

**To Reproduce**

Steps to reproduce the behavior:

1.  Because I use hdp 3.1.5 and the hive is 3.1.0, so I update the pom.xml of hudi-flink-bundle, set the hive.version property to 3.1.0. Then run command 'mvn cle

[2022-05-26 10:39] #5684 closed

[2022-05-26 10:49] alexey-chumakov opened #5692 "Hudi time-travel query provides incorrect result when using table path with /*"
**Describe the problem you faced**

Hudi time-travel query (using "as.of.instant" parameter) provides incorrect result when table path is ended with /*

**To Reproduce**

Steps to reproduce the behavior:

1. Write one record to Hudi table
2. Write one more record
3. Get first commit time
4. Fetch data from Hudi using
[code]
5. Check number of records in the result: all commits are present in the r

[2022-05-26 10:57] sunke38 opened #5693 "[SUPPORT]"
**Describe the problem you faced**

I use spark sql to create table and sync to hive and query by presto.  My code get table schema from json and create table if its not exists.  Here is my problem, even I set hoodie.datasource.hive_sync.database in sql, the new table is put under default database instead of I set.

**code**
[code]

**Expected behavior**

create table and sync to hive. that table

[2022-05-26 11:33] rafcis02 opened #5694 "[SUPPORT] Querying Hudi Timeline causes Hive sync failure with AWS Glue Catalog"
**Describe the problem you faced**

I've been struggling with the failing synchronization with Glue Catalog. I have the process(AWS Glue Job) which reads from Hudi table and then writes to the Huid table as well. Data are being properly saved into S3 bucket but it fails on the Hive table synchronization - it is trying to create database and table that already exist in Glue Catalog. That started ha

[2022-05-26 12:13] danny0405 commented on #5553
See https://github.com/apache/hudi/pull/5660

[2022-05-26 13:19] danny0405 commented on #5658
Spark SQL default use `ComplexAvroKeyGenerator` which does not match with Flink

[2022-05-26 14:15] BruceKellan commented on #5690
This seems to be a concurrent write exception. Can you check if there is another application writing to the same table?

[2022-05-26 17:16] ws-dohashi commented on #5553
@danny0405 , looks like @xccui and I were getting a similar but unrelated error with the latest patch. We have since resolved it and we haven't seen the same `Unexpected end of stream` error since the patch- thanks for your assistance!!

[2022-05-26 17:26] xccui commented on #5553
Yes, sorry for the misleading and thanks for helping with this issue.

[2022-05-26 17:48] omlomloml opened #5698 "[SUPPORT] dependency missing when using run_sync_tool.sh"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-05-27 01:16] qianchutao commented on #5690
No, I only have one job running in the cluster. I don't have multiple tasks writing a table concurrently

[2022-05-27 01:53] davidshtian commented on #3707
@ibudanaev-crunchyroll @awsalialem Have you resolved the problem yet? Encountered into the same issue using KDA Studio with Flink 1.13 for Hudi on S3 insert. Thanks~

[2022-05-27 02:31] danny0405 commented on #5690
Did you open the metadata table or something ?

[2022-05-27 02:58] yangzhiyue commented on #5658
thanks for your reply, I found I have used the wrong way to check, now I found it is ok, I am sorry for this.

[2022-05-27 02:58] yangzhiyue commented on #5658
I think this issue can be closed.

[2022-05-27 02:58] #5658 closed

[2022-05-27 03:44] qianchutao commented on #5690
I stored the hudI metadata tables in AWS Glue, and the metadata files in S3. I did not read or write these files

[2022-05-27 03:55] danny0405 commented on #5690
Your error indicates that the coordinator receives an event with greater timestamp than it currently starts, what is why it reports an error. If there are multiple writers with different transactions  start, this error may occur, for your case, you may need to find out who generates the reported timestamp first/

[2022-05-27 06:31] gtwuser opened #5701 "[SUPPORT]hudi how to upsert a non null array data to a existing column with array of nulls,optional binary. java.lang.ClassCastException: optional binary element (UTF8) is not a group"
**Describe the problem you faced**
We are trying to update an existing column `col1` which has schema of a empty array, which is by default taken as `array<string>`. Perhaps the issue is that the new upcoming records has data in this existing column `col1`
that is it's an array of not null values. While upserting it throws error of `•••binary Utf8 optional element of not group ••••`. We don't have

[2022-05-27 07:46] ganczarek opened #5702 "[SUPPORT] Hive Metastore Lock Provider throws IllegalArgumentException ALREADY_ACQUIRED"
**Describe the problem you faced**

Hive-based lock provider throws `IllegalArgumentException` on the second try to acquire a lock.

I think it's because `tryLock` returns false when `this.lock` object was created, but not in `LockState.ACQUIRED` state:
https://github.com/apache/hudi/blob/f52cb32f5f0c9e31b5addf29adbb886ca6d167dd/hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HiveMetas

[2022-05-27 08:21] yh2388 commented on #2609
We have the same problem. Has this problem been solved? I hope to get your help

[2022-05-27 12:14] awsalialem commented on #3707
@davidshtian Yes. In addition to the Hudi Flink bundle you would need to add `flink-s3-fs-hadoop-1.13.2.jar` to the list of custom connectors of your Studio Notebook in Amazon Kinesis Data Analytics.

[2022-05-27 14:53] #5553 closed

[2022-05-27 17:44] Gatsby-Lee commented on #5484
No. I haven't filed a ticket yet.
And, I see the same error in this reported issue. ( As you know, the jdbc is the default. - I tried it )

[2022-05-27 19:16] kapjoshi-cisco commented on #5701
@nsivabalan  @n3nash @umehrot2 @ Kindly suggest what should be done in this use case, we are stuck with this issue for 1 month now.
Existing column schema in the hudi table created via `bulk-insert`.
Here the value for this array column was  like:
[code]

This resulted in below schema for this column in hudi table during `bulk insert`

[code]

New incoming record schema for the same column is as b

[2022-05-27 20:19] kapjoshi-cisco commented on #2265
@kazdy could you please share the configurations and environment you used to get this fixed, perhaps thats what we are missing? We are still facing this issue as reported here #5701

Details of our environment description

AWS glue 3.0

Hudi version : 0.10.1

Spark version : 3.1.2

Running on Docker? (yes/no) : no, we are running glue jobs using pyspark

[2022-05-27 21:01] gtwuser commented on #5701
@nsivabalan  @n3nash @umehrot2 @ Kindly suggest what should be done in this use case, we are stuck with this issue for 1 month now.
Existing column schema in the hudi table created via `bulk-insert`.
Here the value for this array column was  like:
[code]

This resulted in below schema for this column in hudi table during `bulk insert`

[code]

New incoming record schema for the same column is as b

[2022-05-28 04:18] gtwuser commented on #2265
@kazdy can you please share the environment details which you used while fixing this issue, since we are facing still facing it  wanted to confirm if its due to the configurations. Have raised an issue #5701 as well.

**Environment Description**

AWS glue 3.0

Hudi version : 0.10.1

Spark version : 3.1.2

Running on Docker? (yes/no) : no, we are running glue jobs using pyspark

We even tried downg

[2022-05-28 20:15] kapjoshi-cisco commented on #5636
yeah, this combination works and just to confirm is there no possibility to use 0.11.0 with aws glue as of today?

[2022-05-28 20:17] Gatsby-Lee commented on #5636
as far as I know, no.

[2022-05-28 20:41] kapjoshi-cisco commented on #5636
Specifically wanted to work on 0.11.0 to get this fix https://issues.apache.org/jira/browse/HUDI-1079, @Gatsby-Lee @xushiyan @umehrot2  please let me know if there is a possibility to run a glue job with 0.11.0 hudi version.

[2022-05-28 20:45] Gatsby-Lee commented on #5636
I am also a Glue user, but haven't figured out how to handle the current issue in Glue2,3 + Hudi 0.11

Maybe you can create a AWS ticket.

[2022-05-28 23:11] gtwuser commented on #5701
Small update i tried to drop the column with nulls  during upsert.
Scenario:
1. drop the column with all empty array during upsert and update table with same column name and non empty array data/
but this fails:

Please suggest/correct whats am I doing wrong here.

: org.apache.hudi.exception.HoodieUpsertException: Failed to upsert for commit time 20220528225756057
	at org.apache.hudi.table.action

[2022-05-30 02:09] wzx140 commented on #5686
+1, Really looking forward to bytedance data lake team driving this meeting!

[2022-05-30 04:12] wellbin-li commented on #4825
Hi @waywtdcc  @Aload , Have you solve it? i have met the same problem~

[2022-05-30 06:10] qianchutao commented on #5690
It's confusing because I only have one task to write data to this table

[2022-05-30 06:30] davidshtian commented on #3707
Thanks for your help~ Tried `hudi-flink-bundle_2.12-0.10.1.jar` and `flink-s3-fs-hadoop-1.13.2.jar` within KDA Studio (Flink 1.13.2), and it worked! Thanks~

[2022-05-30 09:10] nleena123 opened #5714 "NoClassDefFoundError: org/apache/parquet/schema/LogicalTypeAnnotation$LogicalTypeAnnotationVisitor Caused by: ClassNotFoundException: org.apache.parquet.schema.LogicalTypeAnnotation$LogicalTypeAnnotationVisitor"
Hi Team ,
Getting the below issue in hudi job while executing  through databricks.

ERROR details:-
=============
NoClassDefFoundError: org/apache/parquet/schema/LogicalTypeAnnotation$LogicalTypeAnnotationVisitor Caused by: ClassNotFoundException: org.apache.parquet.schema.LogicalTypeAnnotation$LogicalTypeAnnotationVisitor

We are running the hudi code through databricks .

**Environment Descripti

[2022-05-30 10:47] gtwuser commented on #2265
@stym06 can you please share how you resolved this issue by casting to `string`. i was following this [stackoverflow link](https://stackoverflow.com/questions/60297547/handling-empty-arrays-in-pyspark-optional-binary-element-utf8-is-not-a-group) to achieve that. But was stuck at requirement of `making all incoming records arrays as string`.
It seems it works only if we have surrounded the arrays w

[2022-05-30 11:33] xushiyan commented on #5714
can you share the complete spark-submit command with args? need to see what jars are used.

so this is related to your environment discrepancy. are you able to check from your side what jars not present in your prod env?

[2022-05-30 11:59] rmehlitz opened #5715 "[SUPPORT] Hudi 0.11.0 time travel not working"
Hello Hudi-community,

we have struggled to get the Hudi time travel working with version 0.11.0. We are always getting the newest snapshot and not the state of the time we request. This was working with Hudi 0.10.1.

We process the data in AWS via Glue or EMR and write the table into s3.
We used the hudi-spark3.1-bundle_2.12-0.11.0.jar and set the following spark session configs:

[code]

For wri

[2022-05-30 12:09] xushiyan commented on #5715
you used `hudi-spark3.1-bundle_2.12-0.11.0.jar` but this config is only meant for spark 3.2. please double check the quickstart guide.

[2022-05-30 12:29] nleena123 commented on #5714
Hi @xushiyan ,

i verified  the both non prod and prod jars , it is same in both environments .

Please find the attached screenshot of Databrick job details.

<img width="1680" alt="Screenshot 2022-05-30 at 5 55 43 PM" src="https://user-images.githubusercontent.com/101168016/170992046-52de53db-8da1-4b93-afc9-b8efaa53e9b9.png">

Parameters that we used for the job :-
["--table-type","COPY_ON_WRITE

[2022-05-30 12:35] xushiyan commented on #5714
spark-avro package you used is mismatch; it's for spark 3.2.1 but your main spark is 3.1. can you refer to 0.11 release note migration guide? spark-avro is not required. And also you don't need spark3-bundle, as you already used utilities-bundle

[2022-05-30 13:23] rmehlitz commented on #5715
Thanks for the response. We used also the 3.2 bundle, that is why the config is in there. But it did not work in both cases and did not work without setting the HoodieCatalog either

[2022-05-30 13:29] jdiebold opened #5717 "[SUPPORT] Hudi 0.10.1 Reconcile schema not working"
**Describe the problem you faced**

we have struggle to add partitions to a Hudi table, when a column is missing in the new parquet files but exists in the schema of the existing table.

We processed the data in AWS via Glue and EMR and wrote the data into s3. We used the Hudi 0.10.1 version on EMR version 6.6.0 and also packaged the Hudi spark3.1.2-bundle ourselves and run that on the cluster.

*

[2022-05-30 14:16] nleena123 commented on #5714
HI @xushiyan ,
I have made the changes suggested by you, removed spark3-bundle and spark_avro and spark3 bundle dependencies are removed and submitted the job it's giving the another error .

**ERROR details:-**
============
**HoodieException: Commit 20220530133502327 failed and rolled-back !**
at org.apache.hudi.utilities.deltastreamer.DeltaSync.writeToSink(DeltaSync.java:649)

Please find the at

[2022-05-30 14:22] gtwuser commented on #5701
Thanks for getting back @xushiyan AWS glue supports Spark 3.1, but i suppose with `Hudi 0.11.0` bundle we get the parquet upgraded to `1.12`, unfortunately we are not able to upgrade to the latest version of Hudi. Issue #5636 and i havent yet raised the aws ticket. Also wondering how is it working for others if it is the case.
From aws console:

[2022-05-31 00:21] eshu opened #5719 "[SUPPORT] Hudi 0.11.0 for Spark 3.1 build issues"
I'm trying to build a fat JAR with Hudi bundle and Spark 3.1 (AWS Glue version) support with Scala 2.12

All issues does not exist in Hudi 0.10.1 and earlier versions.

1. Dependencies:

Why do I have dependency for Scala 2.12 and 2.11?
Workaround: I added exclusion rule:
[code]
There is also dependency to `hudi-spark-common_2.11`, you can check https://mvnrepository.com/artifact/org.apache.hudi/h

[2022-05-31 02:16] xushiyan commented on #5719
This is module-level jar which is not meant to be imported; we don't support such build process. Only `hudi-*-bundle` jars are meant to be used, which has the right dependencies packaged within it. Please only use bundle jars. If you have to use module level jars as dependencies, then you'll need to build the project yourself with the right maven profile (refer to README.md) and use the locally bu

[2022-05-31 02:30] eshu commented on #5719
@xushiyan If I remove Spark 3 dependency, I have the error
[code]

Does it mean that Hudi does not support Spark 3 and supports obsolete versions only?

[2022-05-31 02:45] xushiyan commented on #5719
Hudi supports spark 3 please refer to quickstart guide https://hudi.apache.org/docs/quick-start-guide
And pls use bundle jars as mentioned above.

[2022-05-31 06:29] Aload opened #5720 "When performing RemoteHoodieTableFileSystemView. Refresh, appear HoodieRemoteException: IP:46302 failed to respond"
When I use Flink to consume kafka in real time and write to hudi MOR table, the configuration of the response is as follows:

`  .option(FlinkOptions.READ_AS_STREAMING, true)
    .option(FlinkOptions.TABLE_TYPE, HoodieTableType.MERGE_ON_READ)
    //    .option(FlinkOptions.INSERT_CLUSTER, true)
    .option(FlinkOptions.READ_STREAMING_CHECK_INTERVAL, 60)
    //    .option(FlinkOptions.OPERATION, "i

[2022-05-31 06:39] Aload commented on #5720
java.io.IOException: Could not perform checkpoint 1 for operator stream_write (3/12)#0.
	at org.apache.flink.streaming.runtime.tasks.StreamTask.triggerCheckpointOnBarrier(StreamTask.java:1274) ~[anso-process-0.0.1.jar:?]
	at org.apache.flink.streaming.runtime.io.checkpointing.CheckpointBarrierHandler.notifyCheckpoint(CheckpointBarrierHandler.java:147) ~[anso-process-0.0.1.jar:?]
	at org.apache.fli

[2022-05-31 06:43] #5719 closed

[2022-05-31 09:27] xushiyan commented on #5698
@omlomloml the root cause is most likely due to classpath missing this jar from hive installation

[code]

When running the script, it picks a few hive jars and put them into classpath. This script was written for hive 2 and probably dependencies changed in hive 3 and we need to add more jars.

I was able to run hive sync tool successfully as the java program similar to the script's setup on EMR 6

[2022-05-31 14:03] xushiyan commented on #5714
The new exception is application-level error, specific to your data and scenario, not related to dependency. Please examine your executor logs and data for details. Closing this as the original problem about the dependency was resolved.

[2022-05-31 14:03] #5714 closed

[2022-05-31 15:04] nleena123 commented on #5540
Hi @xushiyan , @pratyakshsharma
From very long back , i am seeing this issue ,
Can you please update on this , or please suggest me the resolution steps ?

[2022-06-01 05:49] zjw722188 opened #5724 "[SUPPORT]Executor executes action [sync hive metadata for instant 2 0220601105502016] error java.lang.NoClassDefFoundError: org/apache/thrift/TBase"
hi,During the integration of Flink Hudi and hive, I execute tasks and insert data normally. However, when hive metadata is synchronized, the following error messages always appear.

**version: hudi 0.10.1 flink 1.13.1 scala 2.12.10**
2022-06-01 10:55:03,191 ERROR org.apache.hudi.sink.StreamWriteOperatorCoordinator          [] - Executor executes action [sync hive metadata for instant 2
02206011055

[2022-06-01 07:41] Aload commented on #5720
The default value of Flink is metadata.enable=false, but it does not take effect.
Reference:
https://github.com/apache/hudi/pull/5617
https://github.com/apache/hudi/pull/5640
https://github.com/apache/hudi/pull/5716
Has been resolved

[2022-06-01 07:41] #5720 closed

[2022-06-01 09:28] BuddyJack opened #5728 "[SUPPORT] Flink support Timeline-server-based marker"
**Environment Description**

* Hudi version : 0.10.0

* Flink version : 1.13.5

* Storage (HDFS/S3/GCS..) :  s3

* Running on Docker? (yes/no) : no

https://hudi.apache.org/blog/2021/08/18/improving-marker-mechanism/

We encountered the s3 request limit and wanted to try the Timeline-server-based marker, but found that flink does not support it, currently only supports spark, and would like to ask

[2022-06-01 10:01] GnsCy opened #5729 "[SUPPORT] Environment issues when running Demo for v0.11"
Running the demo setup as described [here](https://hudi.apache.org/docs/docker_demo) for v0.11 results in jar files missing error when running `spark-submit` and `hive-sync` commands.

Steps to reproduce the behavior:

1. Clone repo and switch to 0.11 release tag
2. Setup the docker environments
3. Publish events to kafka
4. Try to run the spark-submit job to ingest data

**Expected behavior**

Th

[2022-06-01 12:10] galain1994 commented on #5690
I Got the same problem when using pg-cdc as source and hudi as destionation.
The records in source table is about 4.3 million.
flink configuration with hudi is something like:
    , 'table.type'= 'MERGE_ON_READ'
    , 'write.operation' = 'upsert'
    , 'write.precombine.field' = 'create_date'
    , 'write.ignore.failed' = 'true'
    , 'write.tasks' = '1'
    , 'compaction.tasks' = '1'
    , 'compa

[2022-06-01 16:22] parisni opened #5730 "[SUPPORT] AWSGlueCatalogSyncClient partition order bug when multiple partition columns"
I tested the awsgluecatalog sync client.

first of all thanks for this, because this fixes several problems with glue.

I encounter an error when multiple partitions exists: the order in glue is not the same as the one in parquet.

As a result the partition content are not in the right one.

I will propose a PR for this

[2022-06-01 16:54] rubenssoto commented on #4622
Hello Guys, any updates on this? :)

[2022-06-01 23:11] fzong76 opened #5735 "No hudi dataset was saved to s3"
I am using deltastreamer to load files uploaded to s3 bucket. Everything works fine with `--class org.apache.hudi.utilities.deltastreamer.HoodieDeltaStreamer`, but failed with `--class org.apache.hudi.utilities.deltastreamer.HoodieMultiTableDeltaStreamer` when trying to load multiple tables.

Here is part of the log. Seems it processed the data, but I don't see any dataset created.

[code]

Here i

[2022-06-02 00:44] eshu opened #5736 "[SUPPORT] Hudi 0.11.0 on AWS Glue: Metastore URIs"
I have a successful job run on AWS Glue with Hudi 0.10.1, but after the migration to Hudi 0.11.0 with the same parameters, I have the exception

[code]
I skipped last parts of the stack trace to make it more readable, if you need any part of it, please let me know.

I think it happens because I need a correct value the parameter `METASTORE_URIS `:
https://github.com/apache/hudi/blob/eef3f9c74acfe0

[2022-06-02 01:33] Gatsby-Lee commented on #1751
LOL.
I've never thought that I would get a help from my own comment that I left here.

[2022-06-02 02:12] eshu commented on #5736
Solved by changes in the config. Added lines
[code]
and removed the line
[code]

The problem is that `AwsGlueCatalogSyncTool` mentioned as experimental. However, `AWSGlueCatalogSyncClient` do not have any comment about its experimental status. Is it safe to use it?

[2022-06-02 03:29] awplxz commented on #3077
Is there any progress on this problem, I have the same problem,
According to my observation,the amount of shuffle data has tripled for the second time upsert

[2022-06-02 06:07] awplxz commented on #2620
Is there any progress on this problem, I have the same problem,
According to my observation,the amount of shuffle data has tripled for the second time upsert

[2022-06-02 08:24] YuweiXiao opened #5740 "[SUPPORT] Failed to read hudi table with decimal type using spark"
**Describe the problem you faced**

Currently, spark may have problem reading parquet file with decimal type value [[link](https://stackoverflow.com/questions/63578928/spark-unable-to-read-decimal-columns-in-parquet-files-written-by-avroparquetwrit)]. A workaround is to set `spark.sql.parquet.enableVectorizedReader=false`.

However, in some spark hudi reading paths, we will explicitly set the conf

[2022-06-02 18:25] bkosuru opened #5741 "[SUPPORT] Hudi table copy failed for some partitions in 0.11.0"
Hello,

I was trying to copy hdfs based hudi table created with 0.8.0 to upgrade to 0.11.0 as a workaround for issue https://github.com/apache/hudi/issues/5569
There are about 50 partitions and the copy failed after 10 partitions with an exception(see Stacktrace at the end)
The table size is 14TB. I am trying to copy one partition at a time in a loop.
I calculate parallelism for each partition in

[2022-06-03 08:51] xushiyan commented on #5729
I suspect this is discrepancy with your environment setup. We have integration test end to end running with docker demo for every commits. And we certainly tested deltastreamer org.apache.hudi.integ.ITTestHoodieDemo#ingestFirstBatchAndHiveSync

[2022-06-03 08:52] xushiyan commented on #5728
@yuzhaojing can you please take this and advise?

[2022-06-03 08:53] BuddyJack commented on #5728
邮件已收到！谢谢！                       薛超

[2022-06-03 09:27] yuzhaojing commented on #5728
This is a great proposal, I will support this feature before the 0.12 release.

[2022-06-03 09:49] pratyakshsharma commented on #5735
@fzong76 Do you see any exception in the logs?

I see you are only trying to load a single table `fei_hudi_test.table1` as mentioned in the config file but you mentioned "trying to load multiple tables". Am I missing something here?

[2022-06-03 12:41] ws-dohashi commented on #2089
@harishchanderramesh Hi! wondering if AWS was able to eventually resolve this for you and if so how you did it? We are currently running into a similiar `org.apache.http.NoHttpResponseException: The target server failed to respond` issue and hoping if you were able to find a resolution it could help us.

[2022-06-03 13:35] bkosuru commented on #5741
No issues if I set option("hoodie.metadata.enable", false) for the writer in 0.11.0

[2022-06-03 15:22] danny0405 commented on #5728
[It should be supported, https://issues.apache.org/jira/browse/HUDI-2767

[2022-06-03 15:35] fzong76 commented on #5735
Yes. I just started with one table since it's the first time I tried HoodieMultiTableDeltaStreamer. There is no exception in the logs.

[2022-06-03 22:17] xushiyan commented on #5729
@GnsCy right; this more likely caused by out-of-date instructions or configs that may changed in the newer release.

[2022-06-03 22:35] leesf commented on #5537
@melin I think you can specify `spark_catalog` to `HoodieCatalog` and custom catalog for iceberg catalog for a currently workaround, since Hudi currently do not support custom catalogs.

[2022-06-04 06:24] srinugsr2020 commented on #3894
Hi,
I recently upgraded Apache Hudi version to 0.10.0 and realized that redshift spectrum is not able to read data. Found couple of other links related to same issue but no solution yet. Only option right now is downgrade to earlier version. I tried downgrade command but received same error (java.lang.IllegalArgumentException: Property hoodie.datasource.write.recordkey.field not found) even after

[2022-06-04 09:16] #5730 closed

[2022-06-04 11:13] xushiyan commented on #5730
@parisni thanks for raising this and the fix! do you happen to have apache JIRA id?

[2022-06-04 17:17] xushiyan commented on #5715
@rmehlitz to help narrow down the issue, can you read it with data source API instead of spark sql (calling `table()`)

[code]

[2022-06-05 05:03] xushiyan commented on #5496
@m2java thank you for the info! the root cause is the shading for `org.apache.hadoop.hbase.` in 0.11.0

[code]

will look further into how to fix the shading pattern in `packaging/hudi-spark-bundle/pom.xml`

[2022-06-05 05:43] yihua commented on #5496
@m2java @xushiyan `AuthenticationProtos` is from `hbase-protocol`, which is not included in the bundle and shading process.  That is the root cause of the `ClassNotFoundException`.

I created the fix #5750 to address this issue.  @m2java let us know if that works for you.

[2022-06-05 10:07] xushiyan commented on #5692
@alexey-chumakov thanks for the scripts; helped a lot in verifying the issue. I ran your code with Hudi 0.11.0 and spark 3.1.2 / 3.2.1 and it works as expected. So this is most likely fixed after 0.9.0.

[code]

<details>
<summary>scripts</summary>

[code]
</details>

It showed only records with id 1 and 2 (first commit)

[2022-06-05 10:08] #5692 closed

[2022-06-05 11:52] parisni opened #5751 "[SUPPORT] Bulk insert + OCC = NullPointerException"
I am running hudi 0.11.0 on spark 3.2.1

When running a bulk insert operation on an existing hudi table, I get the below NPE, resulting as a rollback
I also tried to create a new table from scratch :
- the first bulk insert works fine
- the second bulk insert operation fails

When I turn OFF optimistic concurrency writer, then all works fine.

This looks quite similar to #4635

[code]

See bellow

[2022-06-05 13:24] bkosuru opened #5752 "Bulk Insert failed in hudi 0.11.0 with partition containing <>"
Hello,
Bulk Insert failed in hudi 0.11.0 with partition containing <>. (see stacktrace below)
This is hdfs based hudi table
We are not able to upgrade to hudi 0.11.0

See related issues
 https://github.com/apache/hudi/issues/5569 (encoding does not happen for <>)
 https://github.com/apache/hudi/issues/5741 (Insert failed)

To Reproduce

Steps to reproduce the behavior:

**To Reproduce**

Steps to

[2022-06-05 13:41] melin opened #5753 "[SUPPORT]Custom AbstractHiveSyncHoodieClient impl"
Consider the reuse of different engines, HoodieHiveClient create a new HMS client. The spark engine can be directly replaced by SparkSession.active.sharedState.externalCatalog, and it is hoped to provide a custom implementation in plugin mode. Avoid modify the hudi source code

[2022-06-05 19:40] parisni commented on #5730
parisni on apache's jira

[2022-06-05 22:47] parisni commented on #5751
As a workaround, I am able to use both bulk-insert and OCC but turning:
[code]

from the code, there is two ways of bulk-inserting : `bulkInsertAsRow` which leads to NPE with OCC
and `bulkInsert` which deals correctly with OCC

[code]

[code]

We should make the former aware of OCC to fix that bug

[2022-06-05 22:56] parisni commented on #5752
hi
you might try
[code]
which use the legacy bulk insert mode

[2022-06-06 00:42] #5496 closed

[2022-06-06 01:15] bkosuru commented on #5752
Thank you @parisni I will give this a try

[2022-06-06 06:28] nleena123 commented on #5540
Hi Team,
Can you please update me on the above issue ??

[2022-06-06 09:32] xiaozhch5 opened #5762 "[SUPPORT] Hive can't query hbase table when I put hudi-hadoop-mr-bundle-0.11.0.jar into hive/auxlib dir"
**Describe the problem you faced**

In order to sync metadata to hive metastore, I put hudi-hadoop-mr-bundle-0.11.0.jar into hive/auxlib, but after that I can't query hbase table in hive cli.

The example is list below.

hive_access_hbase_table_t_user_2 is a hive external table, used to query hbase table.

![image](https://user-images.githubusercontent.com/46479816/172132747-ac73b477-5562-4ef2-a13

[2022-06-06 10:20] hk-lrzy commented on #5690
@galain1994 Can you see the commit file in your archieved dirs.

[2022-06-06 12:23] sunke38 opened #5765 "[SUPPORT] throw "java.lang.NoSuchMethodError: org.apache.hadoop.hdfs.client.HdfsDataInputStream.getReadStatistics()""
I use Spark Sql to insert record to hudi. It work for a short time. However It throw "java.lang.NoSuchMethodError: org.apache.hadoop.hdfs.client.HdfsDataInputStream.getReadStatistics()" after a while.

Steps to reproduce the behavior:

I wrote a scala fuction to make instert sql
[code]
Then call it in foreachRDD() of a DSteam
[code]
**Expected behavior**

A clear and concise description of what yo

[2022-06-06 12:59] parisni opened #5767 "[SUPPORT] Meatadata table unable to initialize read with log file"
hudi 0.11.0
spark 3.2.1

I turned off automatic cleaning because its timing is linearly increasing. When I get >= 50 s3 logs files to merge in then I get a s3 timeout on the file. That file exists and is not corrupted.

[code]

[code]

[2022-06-06 13:01] parisni commented on #5767
was able to mitigate this by increasing hadoop maximum connection which is by default 50.

[code]

Cleaning from time to time looks a good idea, but wonder if there is other important reason to clean regularly a hudi table ?

[2022-06-06 13:24] xushiyan commented on #5484
@Gatsby-Lee @jasondavindev @umehrot2 after some digging, this should be the root cause https://github.com/apache/hudi/pull/5768

can you please try out the patch and verify? thanks.

[2022-06-06 14:28] melin opened #5769 "[SUPPORT]Spark SQL committed, Send commit event, such as SparkHudiCommittedEvent"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-06 15:06] Rap70r opened #5770 "[SUPPORT] hoodie.parquet.max.file.size Property is Being Ignored"
Hello,

We are using Apache Hudi to apply COPY_ON_WRITE incremental updates into Parquet files on S3. We have configured the property hoodie.parquet.max.file.size to 18874368 (18 MB).
On initial sync, the Hudi table is split into multiple parquet files of size set by this property, under the partition folders. However, after several incremental updates, the files get merged into one large file tha

[2022-06-06 15:56] #5762 closed

[2022-06-06 16:00] omlomloml commented on #5698
Hi Raymond,
Thank you so much, I tried what you did, the hive/bin classpath missing is one problem, but another problem for me is that I can't build with -Dspark3.2, this will not work, does this require hadoop 3.3.1 to be installed?
if I build with -Dspark3.1.x, I can go pass the jar issue.

[2022-06-06 16:09] omlomloml commented on #5698
after I pass the jar issue, then I hit a S3 permission issue, this is also very strange, I set the AWS credentials in the ENV, and from the logs before the failure, it looks like the hive sync tool can access S3 without problem, it can load the commit and everything, but when it goes to hive jars, looks like they can't access S3, so is there any other place I need to set AWS credentials, I tried h

[2022-06-06 17:09] Gatsby-Lee commented on #5484
@xushiyan yep. I will try it and let you know

[2022-06-06 22:56] xushiyan commented on #5769
this is achievable with `org.apache.hudi.callback.HoodieWriteCommitCallback` already.

[2022-06-06 22:56] #5769 closed

[2022-06-06 22:58] xushiyan commented on #5753
mentioned in https://github.com/apache/hudi/pull/5695#issuecomment-1140601173 already.

[2022-06-06 22:58] #5753 closed

[2022-06-07 00:03] ykPrograWorld opened #5774 "[SUPPORT]Using flink sql to read kafka data to hudi fails"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Using flink sql to read ka

[2022-06-07 00:12] xushiyan commented on #5698
@omlomloml please see comments below. As for the original issue, I'll update the script then close this, since jar issue was resolved.

Please check readme.

The spark3.1.x profile is obsolete. Please check readme.

can't really help much with aws permission issue. please reach out to aws support.

hive are expected to be provided by users, just like when you use hudi-spark-bundle, you'll need to

[2022-06-07 00:15] xushiyan commented on #5736
@eshu glad that you got it resolved. `AWSGlueCatalogSyncClient` is also experimental. I can make a note there.

[2022-06-07 00:25] #5736 closed

[2022-06-07 00:27] Gatsby-Lee commented on #5484
@xushiyan I tested 0.11.0 + https://github.com/apache/hudi/pull/5768
It works!!

[2022-06-07 01:11] RoderickAdriance commented on #5765
I hava this problem too.When I use hudi-delta streamer tool to extract data from mysql to hdfs.

[2022-06-07 01:16] namuny opened #5776 "[SUPPORT] Performance degradation for listing partitions"
I'm noticing a steep increase in duration for listing partitions during clustering (and potentially for other operations such as `clean`, haven't tested this yet), specifically after [this PR](https://github.com/apache/hudi/pull/4643) was merged. I'm yet to get to the bottom of exactly why, but reverting the implementation of FileSystemBackedTableMetadata.getAllPartitionPaths to 0.9.0's implementa

[2022-06-07 01:37] LinMingQiang commented on #5774
Did you open checkpoint?

[2022-06-07 01:45] galain1994 commented on #5690
![image](https://user-images.githubusercontent.com/10805116/172277755-59b56e9c-cd5f-4e8d-937b-f0d8ed959176.png)
There are commits files in archieved dir.

[2022-06-07 01:45] galain1994 commented on #5690
![image](https://user-images.githubusercontent.com/10805116/172277755-59b56e9c-cd5f-4e8d-937b-f0d8ed959176.png)
There are commits files in archieved dir.

[2022-06-07 01:55] galain1994 commented on #5690
These days, I try to change the hudi arguments with:
`compaction.trigger.strategy = 'num_commits'`
`'compaction.delta_commits' = '20'`
And delete the table in Hive metastore, and all the files in table data path,
after restart the flink job,  checkpoint runs normally, but no parquet file in each partition, only found log file.
![image](https://user-images.githubusercontent.com/10805116/172278670-f

[2022-06-07 02:05] RoderickAdriance commented on #5765
22/06/06 22:15:27 ERROR Javalin: Exception occurred while servicing http-request
	java.lang.NoSuchMethodError: org.apache.hadoop.hdfs.client.HdfsDataInputStream.getReadStatistics()Lorg/apache/hadoop/hdfs/DFSInputStream$ReadStatistics;
		at org.apache.hudi.org.apache.hadoop.hbase.io.FSDataInputStreamWrapper.updateInputStreamStatistics(FSDataInputStreamWrapper.java:249)
		at org.apache.hudi.org.apac

[2022-06-07 02:17] BuddyJack commented on #5728
thks all

[2022-06-07 03:01] jjtjiang opened #5777 "[SUPPORT] Hudi table has duplicate data."
Hudi has duplicate data. The following data are all of the same primary key. It is said that there should be only one. Can you help me see what went wrong?
 the duplicate  datas  are as  below

<img width="882" alt="2022-06-07_110034" src="https://user-images.githubusercontent.com/48897688/172286544-edcbbbb6-ba55-40b0-97c6-b35dc9c2d6b2.png">

[2022-06-07 04:13] YuweiXiao commented on #5777
Could you share your write config, e.g., operation type and index type.

[2022-06-07 04:33] XuQianJin-Stars commented on #5765
I also encountered this problem.

[2022-06-07 07:24] jjtjiang commented on #5777
LOBAL_BLOOM is used when the historical data is initialized, but it is configured as BLOOM when it is incremented, so it may be caused by not being able to find BLOOM when it is incremented. I'm going to try again. thanks.I think it would be nice if there was an index error message

[2022-06-07 08:36] felixYyu opened #5779 "[SUPPORT]Spark session operation hudi table via HoodieCatalog[Table or view not found]"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-07 10:15] parisni commented on #5767
found out it also takes place for `cleaning` with `timeline embded server`

[code]

[2022-06-07 10:20] parisni opened #5780 "[SUPPORT] Embded timeline server limitations"
hudi 0.11.0
spark 3.2.0

I had to turn OFF `"hoodie.embed.timeline.server", "false"` because of below limitations:

1. Server is not resilient to 500 errors `s3 slow down`. It is supposed to limit the risk of triggering such error, but when such error happens, then it does not catch 500 errors and timeline server goes down. (while s3 based timeline s3 slow down can be mitigated with fs.s3 configs,

[2022-06-07 10:21] jxlining opened #5781 "Could not resolve dependencies for project org.apache.hudi:hudi-flink-client:jar:0.11.0: Could not find artifact org.apache.flink:flink-table-runtime_2.11:jar:1.13.1"
mvn clean install -DskipTests -pl packaging/hudi-flink-bundle -am
flink1.13.1  failed

[2022-06-07 10:48] nleena123 commented on #5540
HI @qianchutao ,
Are you able to fix the issue ?
and can you please let me know which version of hudi are you using ?

[2022-06-07 10:53] LinMingQiang opened #5782 "[SUPPORT] HoodieFlinkWriteClient.getOrCreateWriteHandle throws an exception NoSuchElementException. More details are required"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
When we instantiate the ho

[2022-06-07 13:29] omlomloml commented on #5698
@xushiyan
Thanks for the help! please close this issue.

one thing I am still not clear is why build with spark3.2 does not work, readme did not mention anything specific

Heng

[2022-06-07 14:51] #5484 closed

[2022-06-07 19:11] yangdafish commented on #5541
Also attempted to add the following Hudi flags for performance optimization, but was still unable to see same performance as pre-upgrade 0.8 Hudi with Spark 2

[code]

[2022-06-07 19:40] atmabdalla opened #5783 "[SUPPORT] HoodieDeltaStreamer not inferring schema from JsonDFSSource"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I have been successful in

[2022-06-07 19:56] atmabdalla commented on #5783
Just noticed the following line in the stack trace:
`Caused by: org.apache.avro.SchemaParseException: Illegal character in: ... `

Looking into this right now. Seems like I did not handle the nested schema properly.

[2022-06-07 20:11] nsivabalan commented on #5770
above property should suffice.
whats the avg record size in your case?
Also, can you also try setting hoodie.parquet.block.size as well.
and let us know what do you see.

[2022-06-07 20:13] nsivabalan commented on #5774
@wangxianghu @danny0405 : can you loop in someone to assist here please.

[2022-06-07 20:17] nsivabalan commented on #5777
@YuweiXiao : I will let you take it from here. once we have answers to above questions, would be easy to narrow it down.

[2022-06-07 20:20] nsivabalan commented on #5779
I am not sure what does '.withExtensions(new HoodieSparkSessionExtension)' does, but can you try adding below spark config while launching spark
[code]

[2022-06-07 20:20] nsivabalan commented on #5779
CC @leesf @XuQianJin-Stars

[2022-06-07 20:25] nsivabalan commented on #5783
yes, some issue w/ the schema that you have passed in.

[2022-06-07 20:50] nsivabalan commented on #5741
if you have disabled metadata on the writer path, your stacktrace does not makes sense.

[code]

even if enabled, you should not hit the issue seen above. But lets first see if we can get it working w/o metadata and then we can investigate further on metadata.

[2022-06-07 20:51] nsivabalan commented on #5741
do you happened to have any conflicting hhase jars in your cp ? that could result in NoSuchMethodError.

[2022-06-07 21:04] nsivabalan commented on #5751
looks like its a bug. https://issues.apache.org/jira/browse/HUDI-4204
will work on the fix. thanks for reporting.

[2022-06-07 21:04] #5751 closed

[2022-06-07 22:20] nsivabalan commented on #5752
yeah, we don't have url encoding supported w/ row writer yet. we have a tracking ticket here. https://issues.apache.org/jira/browse/HUDI-4199

[2022-06-07 22:34] nsivabalan commented on #5765
@sunke38 @RoderickAdriance @XuQianJin-Stars : do you happened to have any hbase jars in your class path. If not, we should not see this issue in my understanding.
CC @yihua

[2022-06-07 22:35] bkosuru commented on #5741
Hi @nsivabalan, the stacktrace in the description is for option("hoodie.metadata.enable","true").
We are using cloudera cluster 2.4.0-chd6.3.3. There are many jars included in the system classpath. hbase jar is not one of them.

I tried with option("hoodie.metadata.enable","false"). I am able to copy 90% of the partitions and then it fails after 14hours or so. Not sure if it is cluster is issue. S

[2022-06-07 22:42] nsivabalan commented on #5599
We found an issue where in if there are retries with spark tasks, file that got tracked in commit metadata could differ from actual files that got finalized. we fixed it with 0.11
https://github.com/apache/hudi/pull/4753
May be this is related to the issue you are seeing.

[2022-06-07 22:44] nsivabalan commented on #5623
thanks for the fix @gaogao110 . will close the github issue we have a tracking jira.

[2022-06-07 22:44] #5623 closed

[2022-06-07 22:45] nsivabalan commented on #5628
@zhedoubushishi @umehrot2 : Can you folks help triage this please.

[2022-06-07 22:47] nsivabalan commented on #5634
@danny0405 : can you follow up on this please when you get a chance.

[2022-06-07 22:55] parisni opened #5785 "[SUPPORT] S3 flush broken: S3A streams are not Syncable See HADOOP-17597"
Hi,

hudi 0.11.0
spark 3.2.1
hadoop 3.3.1

I suddenly encounter the blocking error below, which prevent from writing anything to hudi:

apparently hflush is not supported by s3

https://github.com/apache/hudi/blob/a68e1dc2dba475b9a63779f3afa0b5c558a7cd3b/hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieLogFormatWriter.java#L259-L261

The hadoop doc https://hadoop.apache.org/docs/cu

[2022-06-07 23:09] atmabdalla commented on #5783
Yep, schema was the issue. Got it working now!

[2022-06-07 23:09] #5783 closed

[2022-06-07 23:42] parisni commented on #5785
my bad: I am creating a `AbstractHiveSyncHoodieClient`, and things goes wrong

[2022-06-07 23:42] #5785 closed

[2022-06-07 23:45] nsivabalan commented on #5671
if there are any pending or failed commits in data table timeline, metadata table archival will be stalled. that is what Danny is suggesting to check the data table timeline

[2022-06-07 23:45] nsivabalan commented on #5673
@XuQianJin-Stars @YannByron : Can either of you assist here please.

[2022-06-07 23:49] nsivabalan commented on #5683
may I know how did you set the default value. Did you verify that default was reflected. I have seen from some users in the community that they did not set the default properly and hence it did not kick in.

[2022-06-07 23:50] nsivabalan commented on #5687
@XuQianJin-Stars : is there any follow up on this. can you file a tracking jira if this needs some AI from our end. if you happened to file one, feel free to close out the github issue.

[2022-06-08 00:09] nsivabalan commented on #5689
can you post the write configs you used for key gens. key gen class, record key field, partition path field. also, I assume these configs values were same across your initial load and subsequent incremental loads.

[2022-06-08 00:09] nsivabalan commented on #5691
@danny0405 @wangxianghu : Can either of you folks chime in here please.

[2022-06-08 00:11] nsivabalan commented on #5694
@xushiyan : recently we had a fix around aws glue client factory right. is that related to this issue?

[2022-06-08 01:01] ykPrograWorld commented on #5774
thks  it wroks when i  open checkponiht

[2022-06-08 01:02] #5774 closed

[2022-06-08 01:31] atmabdalla commented on #5783
@nsivabalan I am curious though: why can HoodieDeltaStreamer not infer the schema from `JsonDFSSource`?

From the [HoodieDeltaStreamer documentation](https://hudi.apache.org/docs/hoodie_deltastreamer#schema-providers):

[2022-06-08 01:41] felixYyu commented on #5779
adding below spark config, the result is also empty. I think the sparksession does not loading metadata?

[code]

[2022-06-08 02:13] YuweiXiao commented on #5541
@yangdafish Hi, looking at the new spark UI you posted, the issue of 'one task being executed in multiple jobs' has actually been resolved (compared to job 15-19 in the 0.9.0 spark ui).

And in the new spark ui, if we exclude the time used by job 0 (which seems not part of Hudi write), the total costs is around 1.5min.

[2022-06-08 02:15] danny0405 commented on #5691
Did you use the bundle jar with hive profile packaged ?

[2022-06-08 02:20] danny0405 commented on #5634
Did you query it using Flink instead ?

[2022-06-08 02:25] danny0405 commented on #5782
Did you use the bucket index instead ? There are some fixes for it:

https://github.com/apache/hudi/pull/5590
https://github.com/apache/hudi/pull/5763

[2022-06-08 02:26] jjtjiang commented on #5777
At the beginning, I used GLOBAL_BLOOM to initialize the historical data, and then the incremental data was changed to BLOOM, havn't change the record key field and partition path field. In the test environment, I have been using hudi for a while, and many tables have duplicate data , these tables are treated the same, and the reason should be the same. Does the index change cause such problems, an

[2022-06-08 02:45] LinMingQiang commented on #5782
Yes, but someone encountered an `nosuchelementexception: no value present in option` error again, so I hope to bring more detailed information when reporting this exception, such as the `fileID` under which partition.Facilitate troubleshooting; There's only one small change here,You can check my PR : https://github.com/apache/hudi/pull/5788

[2022-06-08 02:46] justdoit-code opened #5789 "HoodieWrapper"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-08 02:47] #5789 closed

[2022-06-08 03:10] eric9204 commented on #5671
@nsivabalan @danny0405  It's true that there are some anomalies.The program started at 10: 27，The first instant file was modified at 11: 01，It should be determined that the archive is triggered until a failed  `deltacommit` transaction occurs.So after that, the archive was stopped forever.

![image](https://user-images.githubusercontent.com/90449228/172521845-94201fdb-f3d4-447e-9817-093664aa54c8.p

[2022-06-08 03:16] eric9204 commented on #5634
@danny0405 Yes, the query results are all consistent with presto, spark sql, flink sql and hive.

[2022-06-08 04:04] YuweiXiao commented on #5770
Did you enable `clustering`, as you mentioned `files merged into larger file`.

[2022-06-08 05:45] a0x opened #5792 "[SUPPORT] Update hudi table(using SparkSQL) failed when the column contains `null` value in other records"
**Describe the problem you faced**

Update hudi table(using SparkSQL) failed when the column contains `null` value in other records, as the following image:

<img width="1633" alt="image" src="https://user-images.githubusercontent.com/3829546/172540366-24153415-5948-4f19-a47a-ec47d634af66.png">

**To Reproduce**

Steps to reproduce the behavior:

1. init table & data
[code]
2. let's try to update

[2022-06-08 06:01] jjtjiang commented on #5777
Through the test, I saw a strange phenomenon. At the beginning, the data was repeated, and after a few minutes to several hours, the query was repeated and there was no repeated data. This happened three times in the past two days.
![image](https://user-images.githubusercontent.com/48897688/172542564-fe10605c-7e35-4a38-9773-db638a7a63fb.png)
![image](https://user-images.githubusercontent.com/48897

[2022-06-08 06:17] a0x commented on #5792
Here is my analysis.

The key exception is **`java.lang.RuntimeException: Null-value for required field: note`**, which means the field `note` is not nullable. But I added `null` value in the first place, so it doesn't make any sense.

After digging into the log and the parquet file, I found something interesting.

1. After the last update was triggered, some data was written into the storage. (th

[2022-06-08 06:24] sunke38 commented on #5765
@nsivabalan ：I didn't have any HBASE dependencies in my pom here is all about Hadoop dependencies. It make me confuse that it show same error  when I run insert in spark-shell.  I did nothing about hbase for spark-shell. I also didnt see any jar about hbase in spark/jars

spark-shell
···
spark-shell   --jars /home/qqq/module/hudi-0.11/packaging/hudi-spark-bundle/target/hudi-spark3.2-bundle_2.12-0.

[2022-06-08 08:21] danny0405 commented on #5782
The error throws because an INSERT records was recognized as an UPDATE and appended to a UPDATE bucket, we may need to figure out why an INSERT has been seen as an UPDATE yet.

[2022-06-08 08:43] YuweiXiao commented on #5777
How do you sync your hudi table? I guess your query engine may treat the table as normal parquet files rather than a hudi table.

[2022-06-08 08:49] LinMingQiang commented on #5782
When  enable `write.insert.cluster`, an error `NoSuchElementexception: no value present in option` will be reported after the data is written for a period of time。This problem is not easy to locate because of the lack of information, and this problem will not occur during local debugging

[2022-06-08 09:08] a0x commented on #5792
Also I found this answer https://stackoverflow.com/a/23387590

How can I apply it on Hudi Spark session?

[2022-06-08 10:22] danny0405 commented on #5634
The bucket index has some bugs though, let'w wait for the 0.11.1 release.

[2022-06-08 10:24] danny0405 commented on #5671
But why the delta commit does not be rolled back ? When the job restarts, any failed writes expect to be rolled back first before we write new commits.

[2022-06-08 11:15] pavels1983 commented on #5765
Same issue, loading data into MOR table. 5 parts completed succesfully, failed on 6-th. Data and structure is the same.
Possibly some compaction happens and invoke this problem?

incDF.filter("ins_flg='y'")
.write
.format("org.apache.hudi")
.option(DataSourceWriteOptions.OPERATION_OPT_KEY, DataSourceWriteOptions.BULK_INSERT_OPERATION_OPT_VAL)
.option(TABLE_TYPE_OPT_KEY, "MERGE_ON_READ")
.option(RE

[2022-06-08 11:36] eric9204 commented on #5671
Before this job restart ,the hudi data directory was deleted . The job started at 10: 27, that means , from 10: 27 to 11: 01 , the metadata archive was triggered normally until the failed  `20220519110112118.deltacommit` occur.

I don't know why the delta commit does not be rolled back . But i know this , Maybe the delta commit failed due to which known reasons,that hudi table creates a new partit

[2022-06-08 11:59] eric9204 commented on #5671
![image](https://user-images.githubusercontent.com/90449228/172610956-2e9059ee-eba5-4622-a405-57dfe4a85916.png)

[2022-06-08 12:17] ykPrograWorld opened #5795 "[SUPPORT] WHEN I USE run_sync_tool.sh it take a error java.lang.ClassNotFoundException: org.apache.http.config.Lookup"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-08 12:46] danny0405 commented on #5671
@nsivabalan

Is that reasonable ? Is it possible that a rolled back instant still on the timeline ?

[2022-06-08 16:41] tommss opened #5796 "[SUPPORT] hoodie.properties - Parallel access to the create path detected"
I am doing a PoC on multi writes to a table in HUDI (version 0.11.0).
I am following what is present in this page (https://hudi.apache.org/docs/concurrency_control/) and I have setup Zookeeper as the lock mechanism.
I am doing COW and I keep getting this error --

22/06/08 14:51:51 ERROR Worker: `abfss://<xxxx>/.hoodie/hoodie.properties': Input/output error: Parallel access to the create path dete

[2022-06-08 22:46] nsivabalan commented on #5634
thanks! if we have a tracking jira, can you link it here and close this one out.

[2022-06-08 22:50] nsivabalan commented on #5783
yes, internally, hudi uses `sparkContext.textFile(pathStr)` to read json files and hence we need the schema for now. ifyou are  interested, we can file a jira for adding a new source where we read it as spark.json and so it automatically infers schema.

[2022-06-08 23:17] zhedoubushishi commented on #5628
FYI @umehrot2

[2022-06-09 01:50] Reimus opened #5804 "[SUPPORT] Data skipping using Column Stats index only seems to work on root level columns"
After writing Hudi table using spark
[code]

And reading said table using:
[code]

I am finding that the data skipping works only queries using root level fields.
ym, ymd, date and ts.

I've set up lvl1.ymd == ymd, and lvl1.lvl2.date == date to make apples to apples comparison.

When I try to filter on lvl.ymd (same field as root level ymd) - spark performs full table scan, instead of limiting to

[2022-06-09 01:57] eric9204 commented on #5634
Yes, I will.

[2022-06-09 02:32] huizhong-sz opened #5805 "The partition column name is not at the end, which will cause the inserted data column to be confused."
The partition column name is not at the end, which will cause the inserted data column to be confused.

**To Reproduce**

Steps to reproduce the behavior:

1.create table

    create table IF NOT EXISTS table_xxx   (
      par_name string,
      struin string,
      ts long
    ) using hudi
     partitioned by (par_name)
     options (
      type = 'mor'
     )
     tblproperties (
      primaryKe

[2022-06-09 02:42] XuQianJin-Stars commented on #5805
hi @pandaStudy Thanks for finding this issue, I will reproduce and fix it.

[2022-06-09 03:22] jtchen-study opened #5807 "[SUPPORT] Multi Thread in a process caused java.util.ConcurrentModificationException，please help"
HoodieWriteConfig cfg = HoodieWriteConfig.newBuilder().withPath(tablePath)
                    .withSchema(tableSchema)
                    .forTable(tableName)
                    .withIndexConfig(HoodieIndexConfig.newBuilder().withIndexType(HoodieIndex.IndexType.BLOOM).build())
                    .withCompactionConfig(HoodieCompactionConfig.newBuilder()
                    .withFailedWritesClea

[2022-06-09 03:24] jtchen-study commented on #5807
It is worth mentioning that， i use the java client

[2022-06-09 03:29] ykPrograWorld commented on #5795
I solved the problem by downloading httpclient-4.5.jar httpcore-4.4.1.jar and running commands with their paths in run_sync_tool.sh
But I encountered the following error
[code]

[2022-06-09 03:37] Reimus opened #5808 "[SUPPORT] Data skipping using Column Stats Bloom does not seem to work at all"
After writing Hudi table using spark command
[code]
And reading said table using:

[code]
Where col1 is in the BLOOM_FILTER_INDEX_FOR_COLUMNS array, while col3 is not. and "values" is not expected to be found in the table.
For both of the queries - same number of files is being scanned.

**Expected behavior**

Since the value is expected not to be found - small number of files (false positives) is

[2022-06-09 04:30] huizhong-sz opened #5810 "Hudi partition table not Supported transformations."
Hudi partition table not Supported transformations.

create table syntax:
[code]
### Exception:
[code]

## Not Supported transformations: years(),months(),days(), bucket().......

**Environment Description**

* Hudi version :0.11.0

* Spark version :3.1.2

[2022-06-09 05:05] XuQianJin-Stars opened #5811 "Exception while upserting records with open bucket index and metadata - org.apache.hudi.org.apache.avro.InvalidAvroMagicException: Not an Avro data file"
Setup/Env config:
[code]

Hudi Flink Config:
[code]

It started to run normally, but after a period of execution, the following error will be reported
Exception trace during upsert:
[code]

[2022-06-09 05:14] hbgstc123 opened #5812 "[SUPPORT]Same primary key with different _hoodie_record_key"
I have a table with a column `video_id` as primary key, and i find record with same primary key, have different record_key as shown in the picture below.

<img width="325" alt="image" src="https://user-images.githubusercontent.com/8900183/172768122-2186a97d-6e39-44eb-b51d-c8acc9a507aa.png">

Steps to reproduce the behavior:
1.create table with spark sql, with tblproperties
    tblproperties (

[2022-06-09 07:06] qianchutao commented on #5690
I have switched to deltaStreamer to synchronize data, flink writing hudi still feels too unstable

[2022-06-09 07:24] danny0405 commented on #5690
I see that many compaction tasks have been scheduled in your pipeline, can you see the compaction metadata file under .hoodie folder now ? Is there any error log while compaction ?

[2022-06-09 07:25] danny0405 commented on #5690
You may need to set up your job correctly, flink hudi is stable now ~

[2022-06-09 08:22] jjtjiang commented on #5777
when use spark.read().format("hudi")  ，the table still have duplicate data.  I  use struncated streaming to sync data  .

[2022-06-09 08:26] QiAnXinCodeSafe opened #5814 "There is a vulnerability in MySQL Connector/J 5.1.47,upgrade recommended"
https://github.com/apache/hudi/blob/8ff17b047091b4b90e6e972d8b43d416714a0613/hudi-sync/hudi-adb-sync/pom.xml#L33

CVE-2021-3711 CVE-2020-1967 CVE-2021-3712 CVE-2021-3450 CVE-2018-3258

Recommended upgrade version：8.0.28

[2022-06-09 08:39] danny0405 commented on #5812
Have fired a fix here: https://github.com/apache/hudi/pull/5815

[2022-06-09 08:40] QiAnXinCodeSafe opened #5816 "There is a vulnerability in Protocol Buffers 2.5.0,upgrade recommended"
https://github.com/apache/hudi/blob/8ff17b047091b4b90e6e972d8b43d416714a0613/packaging/hudi-presto-bundle/pom.xml#L315-L319

CVE-2015-5237 CVE-2021-22570 CVE-2021-22569

Recommended upgrade version：3.16.1

[2022-06-09 09:15] QiAnXinCodeSafe opened #5818 "There is a vulnerability in Apache Avro 1.10.0,upgrade recommended"
https://github.com/apache/hudi/blob/8ff17b047091b4b90e6e972d8b43d416714a0613/hudi-flink-datasource/hudi-flink/pom.xml#L218-L224

CVE-2021-43045

Recommended upgrade version：1.11.0

[2022-06-09 11:07] ykPrograWorld opened #5819 "[SUPPORT]hudi sync hive failed no data in hive help!!! please!!!"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
- yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise

[2022-06-09 11:33] YuweiXiao commented on #5777
@jjtjiang Hey, another guess is the merging of the base file and log files is turned off. In your latest test, could you paste the full query result of the duplicate case? i.e., `select * from xxx where order_no = xxx and order_type = xxx`.

By the way, is it possible to provide a runnable demo of the issue, so that we could reproduce it and check what is behind the scene.

[2022-06-09 11:38] YuweiXiao commented on #5819
Hey, how do you ingest your hudi data? AFAIK, hudi doesn't support ingesting data from hive side. In the steps you provide, you also need to do `add partition` after creating the table.

Hudi provides `sync-tool` to sync hoodie table to hive, check out https://hudi.incubator.apache.org/docs/syncing_metastore

[2022-06-09 12:24] ykPrograWorld commented on #5819
The data is from the Kafka table and the command is INSERT INTO t23 SELECT * FROM t3_kafka_sour.Is it necessary to create a partition? My table is not partitioned,I have already used sync-tool to find the data but I want to use automatic synchronization.
thks

[2022-06-09 12:33] danny0405 commented on #5819
You may need to wait until the compaction triggered for COW table.

[2022-06-09 12:54] ykPrograWorld commented on #5819
i found the error in job log
[code]

[2022-06-09 12:55] ykPrograWorld commented on #5819
The table I set up is MOR

[2022-06-09 15:36] tfontana1 opened #5821 "[SUPPORT] Failed to upsert for commit time - PySpark Unable to Write to Hudi with ABFS"
I am using using a [Spark on k8 Operator](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator) to submit spark applications to an executor and driver. When trying to write the results of the application back to azure storage I am getting the following error.

Using the following jar versions on the executor and driver

    com.microsoft.azure:azure-storage:8.6.6
    org.apache.hadoop:hado

[2022-06-09 17:11] ksrihari93 opened #5822 "Hudi Clustering not working"
**Describe the problem you faced**

Hudi Clustering not working.

I'm using Hudi Delta streamer in continuous mode with Kafka source.

we have 120 partitions in the Kafka topic and the ingestion rate is (200k) RPM

we are using the BULK INSERT mode to ingest data into target location .

But we could see that lot of small files were being generated. In Order to overcome this small file problem we a

[2022-06-09 17:29] ksrihari93 opened #5823 "Hoodie Deltastreamer Job unable to fecth data from kafka topic from starting offset available"
**Describe the problem you faced**

I'm using Hudi Delta streamer in continuous mode with Kafka source.

Whenever Kafka offset got expired the job will fail with offset out of range exception.

In order to fix this we re reun the job with  below configuration

auto.offset.reset=earliest

Still job failed with same offset out of range exception.

Still it’s not picking up from the first offset avai

[2022-06-09 20:14] nsivabalan commented on #5822
can you try setting `hoodie.clustering.plan.strategy.max.bytes.per.group" as a multiple of `hoodie.clustering.plan.strategy.target.file.max.bytes`.

[2022-06-09 23:57] bkosuru opened #5824 "HoodieDeltaStreamer does not work with AvroKafkaSource and FilebasedSchemaProvider"
Hello,

HoodieDeltaStreamer does not work with AvroKafkaSource and FilebasedSchemaProvider.  It still expects schema.registry.url
Hudi version 0.10.1

**To Reproduce**
Kafka-source.properties
[code]

schema.avsc
[code]

**Stacktrace**
[code]

[2022-06-10 02:24] njalan opened #5826 "Hudi table statistics is not proper by analyze table table compute statistics"
Collect the hudi table statistics by running analyze table xxxx compute statistics;
It shows numRows  is **629345953** but actual row count is **87095918**. It is much more then actual row count

[2022-06-10 03:37] #5812 closed

[2022-06-10 04:33] nsivabalan commented on #5776
@namuny : yes, looks like it regressed. https://issues.apache.org/jira/browse/HUDI-4221
I am reverting the change. will put up a PR.

[2022-06-10 04:38] nsivabalan commented on #5776
https://github.com/apache/hudi/pull/5829

[2022-06-10 04:38] nsivabalan commented on #5776
thanks for pointing it out. since we have a PR, closing it out.

[2022-06-10 04:38] #5776 closed

[2022-06-10 06:13] LinMingQiang opened #5832 "when task communicates with jm's timeline server throw HoodieRemoteException: IP : port failed to respond"
Flink streaming write to hudi , The task runs fine about an hour after it starts, and the communication is normal,When the task runs for a period of time,An error is reported when BucketAssignFunction communicates with JM's Timeline server, This error will occur under certain circumstances.
When the task restarts after an error is reported, it happens again after running for a period of time,event

[2022-06-10 06:31] Chosen123Wang opened #5833 "[SUPPORT] flink 1.14 cdc 2.2 to hudi: org.apache.hudi.exception.HoodieRemoteException: 172.18.115.2:40827 failed to respond"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-10 09:04] ykPrograWorld commented on #5819
I solved this by open compaction

[2022-06-10 09:04] #5819 closed

[2022-06-10 09:19] danny0405 commented on #5833
Did you try the 0.10.1 already ?

[2022-06-10 09:30] parisni opened #5835 "[SUPPORT] Incremental cleaning broken in 0.11.0"
hudi 0.11.0 / spark 3.2.1
I experience a major problem with cleaning, which time increase linearly with partitions number.

See below logs, of batch loop of inserts in a hudi table with growing number of partitions:
[code]

I debugged this and the cleaner allways fall back to brute force partition cleaning, on file system because the lastClean commit is always empty:

https://github.com/apache/hud

[2022-06-10 09:55] jjtjiang commented on #5777
sql : elect _hoodie_commit_time,_hoodie_commit_seqno,_hoodie_record_key,_hoodie_partition_path,_hoodie_file_name  from hudi_trips_snapshot where order_no=128920931 and order_type=1
|_hoodie_commit_time|       _hoodie_commit_seqno|             _hoodie_record_key|_hoodie_partition_path|                                                                _hoodie_file_name|
+-------------------+-----------

[2022-06-10 10:25] dujl opened #5836 "[SUPPORT] key hoodie.table.partition.fields is stored in HiveMetaStore when create non-partition table in Spark"
Create a non-partition hudi table in Spark，it will store hoodie.table.partition.fields with an empty value in hiveMetastore.
This is unexpected behavior.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a non-partition hudi table in Spark
[code]
2.  insert data one row to it.
[code]
3. cat hoodie.properties in table's base path, it include partition.fields key with an empty value
hoo

[2022-06-10 14:29] Reimus commented on #5358
I am having same issue, after ingestion job crashed.

This does not seem to be a simple file being deleted due to cleaning - since error persists even after no other tasks are writing to the table.

Unfortunately I don't know how to reproduce the error.

Timeline of events:

1. Upsert operation crashed (all operations were inline) with error: Caused by: java.io.FileNotFoundException: File does not

[2022-06-10 16:14] joshhamann commented on #4267
@Arun-kc can you update what config settings ended up working with Glue and hudi version 0.9.0 please?

[2022-06-10 16:46] parisni commented on #5835
Apparently this behavior is expected when using `bulk_insert` operation, which cannot lead to cleaning and thus no clean commit get in the timeline.

When bulk_insert, then one shall disable automatic cleaning

[2022-06-10 16:46] #5835 closed

[2022-06-10 18:02] nsivabalan commented on #5724
@yuzhaojing : can you help triage this.

[2022-06-10 18:35] nsivabalan commented on #5717
when your schema was upgraded for the first time in the table, you need to ensure new fields added have defaults set to "null". If not, its going to be tough. you have to manually add null values for missing records for the missing column before ingesting to hudi. can't think of other ways.

[2022-06-10 18:53] nsivabalan commented on #5685
@MikeTipico : Can you try enabling this config https://hudi.apache.org/docs/configurations/#hoodiedatasourcewritereconcileschema . This was initially added for the purpose you are talking about. But the schema evolution have some limitations.

for eg,
schema1: col1, col2.
schema2: col1, col2, col3(default null)

above one is ok. ie. once the table is upgraded to schema2, you can ingest records w/

[2022-06-10 18:58] nsivabalan commented on #5752
for now, you can use non row writer path or fix you partition path/value. thanks!

[2022-06-10 18:58] #5752 closed

[2022-06-10 19:00] #5729 closed

[2022-06-10 19:07] nsivabalan commented on #5795
https://github.com/apache/hudi/issues/5698#issuecomment-1141895241

can you check this out.

[2022-06-10 19:11] nsivabalan commented on #5795
oh, you got it fixed is it.whats the format of your partition.
[code]

By default we use data partitioned extractor.
you might have to set the right value for https://hudi.apache.org/docs/configurations/#hoodiedatasourcehive_syncpartition_extractor_class

[2022-06-10 19:16] nsivabalan commented on #5795
for possible values, you can check for classes implementing PartitionValueExtractor within hudi code base.
Defualt is org.apache.hudi.hive.SlashEncodedDayPartitionValueExtractor

[2022-06-10 19:17] nsivabalan commented on #4656
@parisni : lets keep the issue you are facing out of this one. we can discuss it in the one you raised.

[2022-06-10 19:22] nsivabalan commented on #5741
ok sure. do keep us posted. after disabling metadata, I see that you were able to copy 90% of your data. if you are running in a loop, you can restart from failed partition and get it to 100% right. you don't need to restart from scratch everytime.

[2022-06-10 19:41] ganczarek commented on #4656
@parisni No, I wasn't able to mitigate this. We worked around it by doing the following:
1) Disabling table metadata for all Hudi tables (`hoodie.metadata.enable=false`) noticeably speeds up read and write times. Also, performance doesn't seem to degrade over time as new partitions are added.
2) I redesigned our ETL so that we don't need a Hudi table with 300k partitions. Resulting table is smalle

[2022-06-10 22:10] alexeykudinkin commented on #5808
@Reimus thanks for reporting this!

Can you please add the schema of your table and elaborate on why you believe Data Skipping isn't working as expected?

[2022-06-10 22:14] alexeykudinkin commented on #5808
Alright, from 2d pass i think i understood your concern.

Here is my explanation: Data Skipping currently only integrated with Column Stats Index and does not leverage Bloom Filter Index at all. Therefore, Column Stats Index would be to effectively prune the search space only if the distribution of the values of "col1" in your files is not encapsulating "values" value.

[2022-06-11 03:25] Reimus commented on #5808
Thank you for the explanation.

The column stats indexes / data skipping are awesome addition to 0.11.0 already - given that in docs they are mentioned in same breath as bloom index - I assumed there is a use for bloom based secondary indexes too
- think customer uild column for example - since it is a random string, column stats would be relatively useless - but bloom filter could skip 99% of all

[2022-06-11 11:01] nsivabalan commented on #5779
@minihippo can you help triage this please.

[2022-06-11 11:11] nsivabalan commented on #5792
yes, "note" field did not have the proper default value set and hence the issue. Sorry whats your question now? before inserting to hudi, you might have to ensure the respective fields have proper defaults set.

[2022-06-11 11:12] nsivabalan commented on #5781
this succeeds for me locally. also azure CI runs all tests and so I assume regular compilation of all bundles and modules are working fine.
Can you check your environment once.
Also, please provide the stacktrace of what you are seeing.
If not, its tough to investigate further

[2022-06-11 11:12] nsivabalan commented on #5781
Feel free to close this out if you got it resolved.

[2022-06-11 12:18] nsivabalan commented on #5796
As you could see, the root exception
[code]

is thrown from AzureBlobFileSytem. Can you explore to see how we can enable multi-writers in AzureBlobFileSystem. If not, two diff processes/writers should be able to write concurrently to same file right? I mean, only one will win in the end, but concurrent writing should be feasible right? or is it that no two writers are allowed to write using AzureB

[2022-06-11 15:10] leesf commented on #5779
@felixYyu does the table sync to HMS successfully? I think it is in memory so when restart spark, the table created is not found.

[2022-06-11 17:04] kasured opened #5843 "[SUPPORT] Hoodie can request and complete commits far in the future on its timeline"
**Describe the problem you faced**

Under certain circumstances Hoodies can create a commit on a timeline far in the future (days and years).

**To Reproduce**

At the moment there is no clear way to reproduce the issue. It was discovered with the same symptoms as described in https://github.com/apache/hudi/issues/2533 when Hoodies denied to rollback the commit because there is another commit that

[2022-06-11 19:06] nsivabalan commented on #5804
@alexeykudinkin : can you follow up on this.

[2022-06-11 19:19] nsivabalan commented on #5807
We don't have multi writer support in java client yet.
We have a tracking ticket https://issues.apache.org/jira/browse/HUDI-4225
If you are  interested to contribute, let us know. We can guide you through it.

[2022-06-11 19:19] #5807 closed

[2022-06-11 19:22] nsivabalan commented on #5810
@alexeykudinkin : Can you also follow up on this. guess we may not have the support right now. Please file a tracking ticket and go from there.

[2022-06-11 19:26] nsivabalan commented on #5811
Likely metadata has entered an inconsistent state. Don't think we have any easy tooling to fix it. We might have to regenerate the metadata table fully. but if you can save the state of the table(zip .hoodie folder) and share with us, we can take a look to see whats happening. May be some edge case that we want to fix going forward.

[2022-06-11 19:28] nsivabalan commented on #5821
@rajesh kalluri :

[2022-06-11 19:31] nsivabalan commented on #5826
@minihippo/ @XuQianJin-Stars : Can you follow up on this please

[2022-06-11 20:49] rkkalluri commented on #5821
@tfontana1  what version of Java and Scala are you using on your runtime. Can you give us some code and steps to reproduce this error. Can you reproduce this on your local machine first.

It seems to be an issue with version mismatch somewhere.

[2022-06-11 20:53] rkkalluri commented on #5821
I would also recommend trying https://hudi.apache.org/releases/release-0.10.1/ instead of 0.10.0

[2022-06-11 21:30] rkkalluri commented on #5836
@dujl  what side affects are you seeing with `hoodie.table.partition.fields` being set to an empty field in hoodie.properties.

I also see the following extra configs in hoodie.properties that might need cleanup for non-partitioned tables.

hoodie.datasource.write.hive_style_partitioning=true
hoodie.datasource.write.drop.partition.columns=false
hoodie.datasource.write.partitionpath.urlencode=false

[2022-06-12 01:30] dujl commented on #5836
when resolve hudi table from hivemetastore，hive table's partition keys are not empty ，it should be empty<br/><br/><br/><html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="ntes-mailmaster-quote" style="padding-top: 1px; padding-bottom: 1px" >
    <div style=" margin-top: 20px; margin-bottom: 12px; font-size: 14px; line-height: 1.25; color

[2022-06-13 01:46] felixYyu commented on #5779
Only in local memory store. Could store metadata locally for unit testing? @leesf

[2022-06-13 02:34] INRIX-Trang-Nguyen commented on #5211
Why would support for wildcards be dropped from 0.90 to 0.10? We partition data by different providers and need the ability to quickly fetch to the relevant data based on query patterns.

[2022-06-13 03:32] Chosen123Wang commented on #5833
not yet, just used 0.11.0

[2022-06-13 03:53] a0x commented on #5792
Yes I'm pretty sure that `note` field is as null-default, because when creating table using SparkSQL, it is nullable.
<img width="724" alt="image" src="https://user-images.githubusercontent.com/3829546/173275999-19b38eb7-cc41-45fc-b9ad-8fe5dac1de54.png">

How can I set the proper default value for `note` field when it's properly set, or did I miss something?

So my question is why can't I want to

[2022-06-13 06:45] danny0405 commented on #5833
See the `NetworkUtils` the ip address seems can not work correctly for you local env.

[2022-06-13 07:00] jiangjiang66 opened #5847 "[SUPPORT]org.apache.hudi.exception.HoodieRemoteException: Connect to 0.0.0.0:2525 [/0.0.0.0] failed: Connection refused: connect"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-13 07:22] danny0405 commented on #5847
What engine did you use, can you give more details here ?

[2022-06-13 14:23] nsivabalan commented on #5792
@XuQianJin-Stars @minihippo : Can you assist here on setting null defaults from spark-sql.

[2022-06-13 14:34] nsivabalan commented on #5358
@Reimus : can you create a new github issue. FileNotFound could be due to many reasons. also, do add all logs, stacktrace etc.

[2022-06-13 15:01] nsivabalan commented on #5822
Can you leave the small file and target file config to default value and also for `hoodie.clustering.async.max.commits` to default value and see whats happening. This time, can you enable debug logs when you restart your pipeline. We might get more insights.

[2022-06-13 15:03] nsivabalan commented on #5822
may be this could be the issue. can you try adding this to spark-submit command
[code]

[2022-06-13 15:05] nsivabalan commented on #5823
can you post your spark-submit command and the contents of properties file used w/ deltastreamer.

[2022-06-13 15:11] kasured commented on #5843
We are not using clustering, so I am not sure if these far-in-the-future commits are caused by that. We have both inline and async clustering disabled "hoodie.clustering.inline" = "false" and "hoodie.clustering.async.enabled" = "false"

Again, we are trying to understand how this commits happen to appear in the timeline. I might be thinking of the impact of `HoodieActiveTimeline` using not thread-

[2022-06-13 16:55] nsivabalan commented on #5751
https://github.com/apache/hudi/pull/5850

[2022-06-13 17:46] alexeykudinkin commented on #5804
@Reimus thanks for reporting!

Internally Data Skipping is relying on Column Stats Index that currently builds statistics only for the top-level columns, and therefore Data Skipping is only able to prune based on the top-level columns.

If you feel this could be generalized to all nested fields please feel free to create a feature-request or (even better!) kickstart the conversation on the dev-lis

[2022-06-13 17:58] alexeykudinkin commented on #5808
No worries! We're actually would be looking to support Bloom-filter index in the Data Skipping eventually as well, but this will def be a non-trivial challenge given the sheer difference in sizes b/w Bloom-filter index and Column Stats Indexes even for moderately sized tables.

Or am I missing on how the column stats work - reading the code/metadata - they seem useful for monotonic or slowly chang

[2022-06-13 19:25] kasured commented on #5843
@nsivabalan I have been able to reproduce the behaviour locally with hoodie 0.9.0 Please check the repository here https://github.com/kasured/hudi-timeline-5843. When you run the code as instructed in branch `main` you will be able to see some commits that are created in the future. I was able to get commits 1 hour in the future. But I would say that might depend on multiple factors and the differ

[2022-06-13 19:33] alexeykudinkin commented on #5810
@huizhong-sz transformations in partitioning clause are not supported at the moment.

You can work it around by specifying `TimestampBasedKeyGenerator` which would be producing partition-path as hours based on the `ts` column.

[2022-06-13 21:00] alexeykudinkin commented on #5804
Created HUDI-4245 to track

[2022-06-13 21:01] alexeykudinkin commented on #5810
Created HUDI-4244 to track

[2022-06-13 22:46] nsivabalan commented on #5843
you might be right. We did get reports from some users and hence the fix. Unfortunately, currently we don't support backporting fixes yet. Can you patch it up on your end?

[2022-06-13 22:57] nsivabalan commented on #5814
Created a tracking ticket and put up a PR
https://issues.apache.org/jira/browse/HUDI-4246
thanks for reporting.

[2022-06-13 22:57] #5814 closed

[2022-06-13 23:04] nsivabalan commented on #5816
Created a tracking ticket and put up a PR as well
https://issues.apache.org/jira/browse/HUDI-4247
thanks for reporting.

[2022-06-13 23:04] #5816 closed

[2022-06-13 23:08] nsivabalan commented on #5818
Filed a tracking ticket https://issues.apache.org/jira/browse/HUDI-4248
thanks for reporting.
upgrading apache avro version in general may not be easy.

[2022-06-13 23:08] #5818 closed

[2022-06-13 23:25] nsivabalan commented on #5810
closing this one out since its doable as of today. Please continue updating the ticket that got filed for any more enhancement or requests. thanks! appreciate the ask!

[2022-06-13 23:25] #5810 closed

[2022-06-13 23:49] nsivabalan commented on #5847
can you add the stacktrace, write configs used etc.

[2022-06-13 23:56] nsivabalan commented on #5819
@danny0405 @bhasudha : do we need to improve any documentation on this end in general?

[2022-06-14 00:44] waywtdcc commented on #4558
It happens occasionally. Don't you know that 0.11 has handled this bug @danny0405

[2022-06-14 01:05] danny0405 commented on #5819
I think we need that, especially for hive reading MOR table with pure logs.

[2022-06-14 01:14] danny0405 commented on #4558
We did some fix for MOR table, 0.11.1 would be released soon, you can have a try.

[2022-06-14 01:59] #5782 closed

[2022-06-14 02:03] XuQianJin-Stars commented on #5765
hi @nsivabalan The problem on my side has been solved, and it is found that it is a jar package conflict problem.

[2022-06-14 02:34] yangzhiyue opened #5857 "[SUPPORT]Problem using Multiple writers(flink spark) to write to hudi"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?   yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org. yes

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

We recently put

[2022-06-14 02:54] danny0405 commented on #5857
The stack trace you pasted seems a data type error, the details is that in `Avro`, if a data type is nullable true, it would be a `Union` type, for example a `string nullable` type in Avro is `Union(string, null)`

[2022-06-14 03:48] MountHuang commented on #5857
More clues for data duplication issue: I noticed two exactly the same records, one in avro log file, the other in merged parquet file after spark insert. I highly doubted that the spark writer doesn't finish a complete compaction, at least doesn't delete the avro log files properly, because if it does, then there will be no avro log files under this partition at all, and we shouldn't have the chan

[2022-06-14 06:07] sunke38 commented on #5765
Hi Xu May I ask for detail how you solve this，plz？ I am very confuse that where is localtion of  jar package conflict. Thank you

[2022-06-14 06:50] kk17 opened #5861 "[SUPPORT] Hudi spark datasource error after migrate from 0.8 to 0.11"
**Describe the problem you faced**

after I update hudi to 0.11 from 0.8, using `spark.table(fullTableName)` to read a hudi table is not working, the table has been sync to hive metastore and spark is connected to the metastore. the error is
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. using hudi  0.8 to create a hudi table and sync to hive metastore using hive jdbc sync mode
2.

[2022-06-14 08:17] wnnlyf opened #5863 "[SUPPORT] FLINK Could not load table option properties .hoodie/.aux/table_option.properties"
Flink 1.14.4
Hudi 0.11.0

create table use flink sql

[code]
table_option.properties not generated!!!

when read the table use HoodieCatalog throw an exception
[code]
Exception in thread "main" org.apache.hudi.exception.HoodieIOException: Could not load table option properties from hdfs://nameservice1/hoodie/data/dev/ods_equipment_data/.hoodie/.aux/table_option.properties

[2022-06-14 08:35] danny0405 commented on #5863
This is a know issue, only the table created from flink `HoodieCatalog` would generates the `table_option.properties` file, which is a special aux file for the catalog.

We are planning to re-design the catalog to interact with the HMS directly.

[2022-06-14 08:35] #5863 closed

[2022-06-14 08:36] m2java commented on #5496
@yihua thank you! Build from master branch worked for me.

[2022-06-14 12:00] hellochueng opened #5867 "The file being written is in an invalid state. Probably caused by an error thrown previously. Current state: COLUMN"
2022-06-14 19:58:19,560 ERROR org.apache.hudi.io.HoodieMergeHandle                         [] - Error writing record  HoodieRecord{key=HoodieKey { recordKey=fdbid:79505959536,fbillid:79505959731,fentryid:16,dim:hz partitionPath=fdatemonth=202203}, currentLocation='null', newLocation='null'}
java.io.IOException: The file being written is in an invalid state. Probably caused by an error thrown previ

[2022-06-14 14:40] codope commented on #5867
@hellochueng Can you give us more details about your setup? Is it multi-writer or single writer? Is it consistently reproducible?
The stacktrace suggests that the `HoodieCompactor` was attempting ParquetFileWriter `write/close` which was simultaneously being attempted by another writer. If it's a multi-writer setup, have you configured conurrency mode and lock  provider?

[2022-06-14 14:41] codope commented on #5867
cc @danny0405
Have you come across such an issue with filnk compactor?

[2022-06-14 14:57] codope commented on #5861
[code]
@kk17 After step 2, when you run `show create table` then does it show the `LOCATION`?
Also, could you try `HMS` sync mode? https://hudi.apache.org/docs/syncing_metastore#sync-modes

[2022-06-14 16:50] ksrihari93 commented on #5823
Hi @nsivabalan ,

#base properties

hoodie.insert.shuffle.parallelism=50
hoodie.bulkinsert.shuffle.parallelism=200
hoodie.embed.timeline.server=true
hoodie.filesystem.view.type=EMBEDDED_KV_STORE
hoodie.compact.inline=false
hoodie.bulkinsert.sort.mode=none

#cleaner properties
hoodie.cleaner.policy=KEEP_LATEST_FILE_VERSIONS
hoodie.cleaner.fileversions.retained=60
hoodie.clean.async=true

#archival

[2022-06-15 01:18] RoderickAdriance commented on #5765
This problem will occur after when I execute the command many times

bin/spark-submit --master local[2]  --class org.apache.hudi.utilities.deltastreamer.HoodieDeltaStreamer  \
jars/hudi-utilities-bundle_2.12-0.11.0.jar
--table-type COPY_ON_WRITE  \
--props  /dolphinscheduler/obeiadmin/resources/Logistics_screen/data_ingestion/mysql-cnb_order-jdbc-source.properties  \
--source-class org.apache.hudi

[2022-06-15 02:56] uvplearn opened #5869 "[SUPPORT] There are duplicate values in HUDI MOR table for different partition and not updating values in same partition for GLOBAL_BLOOM"
**Desciption**
There are duplicate values in HUDI MOR table for different  partition and not updating values in same partition for GLOBAL_BLOOM.

**Steps To Reproduce this behavior**
**STEP 1**
I have created a hudi table with follwing input data and properties.
              hudi_options  = {
                              'hoodie.table.name': 'my_hudi_table',
                              'hoodie

[2022-06-15 03:01] xccui opened #5870 "[SUPPORT] Issues when querying data partitioned by year with Flink"
**Describe the problem you faced**

Hello! We use Flink to write some PostgresCDC data to a Hudi table. The table is partitioned by a custom date format (as shown below).
[code]
When querying the table with Flink SQL, we got the `DateTimeParseException` exception.

After some tests, we found that the table can be successfully queried with this extra option `'hoodie.datasource.write.partitionpath.f

[2022-06-15 03:18] xccui opened #5871 "[SUPPORT] NPE when writing metadata with Flink"
**Describe the problem you faced**

Got NPE when using Flink to write metadata table with column stats and bloom filter enabled.

**To Reproduce**

[code]

**Environment Description**

* Hudi version : 0.12.0-SNAPSHOT on master

* Flink version : 1.14

* Storage (HDFS/S3/GCS..) : S3

* Running on Docker? (yes/no) : no

**Additional context**

Some values are `null` in the table.

**Stacktrace**

[

[2022-06-15 03:36] yuzhaojing commented on #5832
@minihippo Can you follow up on this.

[2022-06-15 04:41] kk17 commented on #5861
This is how spark-sql output in step 2
[code]
Hive SQL is ok.

[2022-06-15 04:46] kk17 commented on #5861
Another problem is the table in spark SQL is a system table, but in the hive is an external table.

[2022-06-15 07:24] danny0405 commented on #5871
It is cool if there is a log to show which field missing causes this error, for line: `HoodieTableMetadataUtil.java:147`

[2022-06-15 08:47] kazdy opened #5873 "[SUPPORT] Reconcile schema - missing field dropped from metadata"
**Describe the problem you faced**
I'm using schema on read (full schema evolution feature) and reconcile schema feature to evolve hudi table schema, it's synchronized with Glue Data Catalog. COW table.

I add a column (col_a) in the middle of the table in one batch (upsert operation).
In the next batch (upsert) I add new  column at the end of the table (col_b) but col_a is missing in data frame.

[2022-06-15 09:42] codope commented on #5361
@ksrihari93 Did you get a chance to try the patch suggested above?

[2022-06-15 10:00] codope commented on #5870
@yuzhaojing Can you please look into this issue?

I don't think different defaults in `FlinkOptions` and `KeyGeneratorOptions` matter as they have had different defaults in the past as well.

[2022-06-15 10:08] codope commented on #5873
@xiarixiaoyao Can you please look into this issue?

[2022-06-15 10:30] codope commented on #5861
@leesf @XuQianJin-Stars Can you please look into this issue? The gist is that spark-sql does not recognise the table as an external table and hence the `path` is not passed in `DefaultSource`.

[2022-06-15 10:38] codope commented on #5796
I think https://github.com/apache/hudi/pull/5660 should resolve this issue. @tommss Can you please try the latest master branch of Hudi?

[2022-06-15 10:41] codope commented on #5780
@parisni Can you give more details about your setup? If you can share, steps to reproduce that would be great.

@yihua Are you aware of these limitations?

[2022-06-15 10:45] yuzhaojing commented on #5724
Do you have another package conflict with this?

[2022-06-15 11:23] codope commented on #5836
@dujl I don't see that config being present in hive metastore. I created the table and below is what my hoodie.properties and `show create table` looks like:
[code]

output of `show create table`

[code]

[2022-06-15 12:27] danny0405 commented on #4558
Hello. @waywtdcc , @cuibo01 has discovered the reason and he is fixing it, hope you can see this response :)

[2022-06-15 12:43] ksrihari93 opened #5875 "[SUPPORT] Hoodie Delta streamer Job with Kafka Source fetching the same offset again and again Commiting the same offset again and again"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
  I'm using Hudi Delta str

[2022-06-15 13:01] ksrihari93 commented on #5875
[.hoodie.zip](https://github.com/apache/hudi/files/8909493/default.hoodie.zip)

[2022-06-15 15:15] wwbbcjeyc opened #5879 "org.apache.hudi.exception.HoodieUpsertException: Error upsetting bucketType UPDATE for partition"
Setup/Env config:
Flink 1.13.5
hudi: 0.10.1

Hudi Flink Config:
 'connector'='hudi',
  'path' ='-------',
  'table.type'='MERGE_ON_READ',
  'hoodie.datasource.write.recordkey.field' = 'track_id',
  'hoodie.parquet.max.file.size' = '268435456',
  'hoodie.parquet.small.file.limit' = '134217728',
  'write.task.max.size' = '2048',
  'write.merge.max_memory' = '1024',
  'write.precombine.field' = 'time

[2022-06-15 15:19] ksrihari93 commented on #5822
Have tried this option still no luck

[2022-06-15 15:36] minihippo commented on #5832
How many partitions and files in a partition a flink checkpoint touched? How the `write.tasks` config?

[2022-06-15 15:50] minihippo commented on #5740
Could u provide the parquet schema?

[2022-06-15 16:17] minihippo commented on #5612
If u align the schema of upsert dataframe with the bulk insert one, will it occurs?

[2022-06-15 21:03] gtwuser opened #5880 "Need help in removing old files from S3 after upsert leading to `duplicate records` within `S3` prefix which `dont appear in the AWS Athena` editor"
**Describe the problem you faced**
After upsert records are duplicated across commits in s3. Since S3 is the source for downstream we need to remove the old commits which are in form of parquet files and retain only the latest commits. But we dont see any duplicate records when accessed via [AWS Athena](https://aws.amazon.com/athena/).
A clear and concise description of the problem.
Configs used
I

[2022-06-16 02:35] LinMingQiang commented on #5832
only 10

[2022-06-16 03:01] danny0405 commented on #5832
Did you use 0.11.0 ? Let's wait for 0.11.1, in 0.11.0 we introduced many unnecessary fs view refresh/sync for write path, in 0.11.1, we fix these regression.

[2022-06-16 03:07] LinMingQiang commented on #5832
I think it's a network problem. When I retry the request, It's working.
I think we can add a retry mechanism to `executerequest`

[2022-06-16 03:19] danny0405 commented on #5832
That's a good idea, feel free to fire the JIRA issue and send a PR.

[2022-06-16 03:20] LinMingQiang commented on #5832
OK, I will submit a PR as soon as possible

[2022-06-16 03:26] minihippo commented on #5582
Could u check your configurations if there is null in it?

[2022-06-16 03:52] minihippo commented on #5582
Cloud u print the following configurations?
[code]

[2022-06-16 06:28] gtwuser commented on #5612
It wont but thats not usually the case, as the schema will keep getting updated during future upserts

[2022-06-16 06:39] gtwuser commented on #5880
@nsivabalan @xushiyan @umehrot2 any pointers or recommendations, this should be the last issue on Hudi which we are trying to fix post that we can move to production, so kindly help us out here.

[2022-06-16 08:48] LinMingQiang opened #5886 "Throw `NoSuchElementException: FileID xx of partition path xx does not exist.` when execute `HoodieMergeHandle.getLatestBaseFile` but FileID is exist in path."
https://issues.apache.org/jira/browse/HUDI-4279
**When debugging, it is found that the next commit will throw an exception after the clean is completed**
I found that `HoodieTableFileSystemView.partitionToFileGroupsMap` lost the last `instant commit` fileGoup infomation.
(I  execute `hoodieTable.getHoodieView().reset()` after Throw Exception，and its working after retry `getLatestBaseFile`)
hudi ta

[2022-06-16 09:55] zaminhassnain06 opened #5887 "[SUPPORT] org.apache.hudi.exception.HoodieException: field_name (Part -<field_name>) field not found in record"
I'm running Hudi  creating an external table from files on S3, and when trying to insert into this table it fails with exception org.apache.hudi.exception.HoodieException: The value of <field> not found in record. However it was working fine before yesterday. I have checked all the data in file the field is present.

The <field> is lastModifiedData and it is precombineKey
I am creating cluster fro

[2022-06-16 09:57] YuweiXiao commented on #5740
If you want the demo table data, I could prepare one.

[code]

[2022-06-16 11:19] cuibo01 commented on #4558
pls review PR5888
and I wrote in the HUDI-4270 how to reproduce

and @waywtdcc u can use the `hoodie.rollback.using.markers`,  because ListingBasedRollbackHelper does not append rollback block to the log，and the data block to be rolled back becomes dirty block.

[2022-06-16 11:19] YuweiXiao commented on #5777
Hi @jjtjiang , looking at the data you posted. I am wondering if you enable the de-duplication option during writing. Because there are records with the same key in a single commit (writing to log files).

And those records will be merged in the compaction process, which could justify the result you see, i.e., no duplication after a while (after the compaction).

For de-deup options, check out htt

[2022-06-16 11:48] cuibo01 commented on #4558
and backport the https://github.com/apache/hudi/pull/5545 to your code

[2022-06-16 13:02] codope commented on #5833
@Chosen123Wang did you check based on above suggestion by Danny?

[2022-06-16 13:07] codope commented on #5887
This is unusual. Can you please share your setup details like spark, hudi versions (see details below) and full stacktrace?

**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](

[2022-06-16 13:34] kazdy commented on #5873
@xiarixiaoyao I was hoping that with schema reconciliation "default values will be injected to missing fields" as per the docs:

The scenario I described does not happen when I have a missing column but no new column in the same batch. Then Hudi injects null to the missing column and the column is not removed from the table in metastore.

The behavior I'm looking for is like this:
incoming data do

[2022-06-16 13:58] pratyakshsharma commented on #4985
going over the discussion here, it looks like the support for M1 chip is not yet available for Hudi's docker demo. I applied this patch - https://gist.github.com/xushiyan/cec16585e884cf0693250631a1d10ec2 and ran setup_demo.sh. I got the error mentioned in this jira - https://issues.apache.org/jira/browse/HUDI-2786.

[2022-06-16 14:00] xiarixiaoyao commented on #5873
@kazdy  ok,
Thank you for your answer， let me fix this problem in next few days

[2022-06-16 20:17] gtwuser commented on #5880
Small update i tried reading the data from aws glue table using below code, its failing with error:
[code]
Error received :
[code]
Whats confusing me is how is it all working fine with de-duplication and no such errors while even Aws athena is reading from same table. :\

[2022-06-16 21:12] kazdy commented on #5873
@xiarixiaoyao that would be great :)
Do you want me to open jira ticket for this?

I did some more research and it seems like for schema reconciliation hudi takes the latest schema and applies it to the incoming batch.

To be more precise as for what I'm looking for is to have this:
1. incoming data doesn’t contain every column in the table –> those columns will simply be assigned null/default val

[2022-06-16 21:28] gtwuser opened #5891 "How to read existing hoodie written data from `S3` using `AWS Glue DynamicFrame` class. Failing with error with below error: An error occurred while calling o84.getDynamicFrame. s3://xxxx/.hoodie/202212312312.commit is not a Parquet file. expected magic number at tail"
**Describe the problem you faced**
Error found while reading data written using Hudi in a S3 prefix.
A clear and concise description of the problem.
We are writing data to S3 using AWS glue with Hudi libraries. The issue is when we try to `read` the already `hudi` written data from this S3 prefix its erroring out.

**To Reproduce**

Steps to reproduce the behavior:

1. Write some data via AWS Glue

[2022-06-17 01:40] LinMingQiang commented on #5886
This problem requires a large amount of data to be written, 'hoodie.parquet.small.file.limit' = '20'  can be a quick recurrence of the problem.. and I found that after 'clean' is completed, this error will appear in the next instant commit, And the nonexistent fileID must be the last instant commit.
During debugging, I found that:
[code]
1：The error occurs in the first commit after clean
[code]
[c

[2022-06-17 02:22] xiarixiaoyao commented on #5873
@kazdy  yes  could you pls open a jira, thanks

[2022-06-17 03:29] jjtjiang commented on #5777
Without deduplication, this configuration uses the default value of hoodie.datasource.write.insert.drop.duplicates, which is false.
When we read mor table and there is duplicate data in the log, will the data not be deduplicated by default? I understand that it will be deduplicated when reading, maybe I understand it wrong. I will modify this parameter and test it again.
thanks very much.

[2022-06-17 05:09] BalaMahesh opened #5893 "[SUPPORT] Hudi write commit failing with PostgresDebeziumSource, SchemaRegistryProvider and PostgresDebeziumAvroPayload"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I am trying to consume da

[2022-06-17 05:27] LinMingQiang commented on #5886
This problem is caused by the fact that the timeline is not synchronized after the clean is completed. Cause `AbstractTableFileSystemView.visibleCommitsAndCompactionTimeline` s lastInstant  to stay at the first two times.
This causes the latest commit fileslice to be filtered out in `HoodieFileGroup.isFileSliceCommitted`. So I think we should take the initiative to do sync once when clean is compl

[2022-06-17 05:46] YuweiXiao commented on #5777
There is options `hoodie.datasource.merge.type` to control the combine logic during read, the default is merge records. The option is for spark read, not sure what is the behavior in your query engine. Which engine are you using?

And the merge also relies on the payload class (which specifies how records with duplicate keys merge).

[2022-06-17 06:23] jjtjiang commented on #5777
My engine is spark  ，and i use the default payload class : org.apache.hudi.common.model.OverwriteWithLatestAvroPayload
,spark version is 3.0, hudi version is 0.10.1,
So when we read, it should deduplicate the datas in the log

[2022-06-17 06:26] YuweiXiao commented on #5777
Yes, it should do dedup for log files. I'll test the default behavior when reading, to see if there is any potential bug.

[2022-06-17 09:58] jjtjiang commented on #5777
this is my code  and  some test data
code :

        val dsNew = spark.createDataFrame(rdd, schemaNew)
//        dsNew.show(10,false)
        HudiForeachBatchDeleteFunction.updateDsw(dsNew, hivePropertiesBean, hudiPropertiesBean)
case class HivePropertiesBean(
                               var hiveUrl: String,
                               var hiveUsername: String,

[2022-06-17 10:42] kazdy commented on #5873
@xiarixiaoyao I've created https://issues.apache.org/jira/browse/HUDI-4276
thanks :)

[2022-06-17 11:44] codope commented on #5893
@BalaMahesh Your analysis seems to be correct.
Can you share the write configs being used with deltastreamer?
Also, did you try with Hudi v0.10.1?

[2022-06-17 11:46] codope commented on #5893
@rmahindra123 Hav you come across this issue before?

[2022-06-17 11:55] codope commented on #5891
@gtwuser  I am not very familiar with Glue APIs. But, can you share the full stacktrace? Also, don't you need to give `connection_type` while creating dataframe?  I am referring to https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-crawler-pyspark-extensions-dynamic-frame-reader.html#aws-glue-api-crawler-pyspark-extensions-dynamic-frame-reader-from_options

[2022-06-17 11:56] codope commented on #5891
@umehrot2 @zhedoubushishi @xushiyan Have you come across such an issue?

[2022-06-17 11:56] codope commented on #5887
I would also recommend to open an issue with Airflow.

[2022-06-17 11:59] zaminhassnain06 commented on #5887
Hi, Issue is resolved it was something on AWS EMR side we contacted AWS Support as well. Thanks for your prompt response

[2022-06-17 13:42] kazdy commented on #2265
@gtwuser
As far as I remember I was using OSS Spark 3.1.2 with OSS Hudi, I also ran the same checks on EMR  6.4 at the time with the same results.

[2022-06-17 13:47] codope commented on #5886
Sorry, I am not following completely.
The file system view during inflight commit (i.e. `20220617091358406.inflight`) after cleaning (i.e `20220617091348754.clean`) should have 3 instants: `20220617091324896.commit, 20220617091336735.commit, 20220617091341327.commit`? Are you suggesting that you see only the first two commits and not the third one?
Ideally this should not happen because for each c

[2022-06-17 14:36] codope commented on #5880
@gtwuser You can setup cleaning to clear old data either using hudi-cli or along with the writes. Check [this doc](https://hudi.apache.org/docs/hoodie_cleaner) for more details.
But, it should not result in duplicate (as you see in the case of Athena). Any query engine that understands the Hudi metadata should be able to filter out older data in the latest snapshot.

[2022-06-17 14:39] codope commented on #5887
Great! Closing this issue.

[2022-06-17 14:39] #5887 closed

[2022-06-17 14:43] codope commented on #5879
@minihippo @wwbbcjeyc  Yes, it's the same. Closing this one. Let's follow up there.

[2022-06-17 14:43] #5879 closed

[2022-06-17 14:47] codope commented on #5873
@xiarixiaoyao Sounds good. Closing this ticket. I've made it a blocker of 0.12 release.

[2022-06-17 14:47] #5873 closed

[2022-06-17 14:56] codope commented on #5875
@ksrihari93 Did you try with `auto.offset.reset=LATEST`?

[2022-06-17 14:59] codope commented on #5822
I think there are no eligible filegroups for clustering. More than the number of records, clustering is a function of file size. What's the avg file size for the data files w/o clustering. We need to set the clustering configs accordingly? Did you try out the suggestion by Siva i.e. to try with default configs?

[2022-06-17 15:05] codope commented on #5869
@uvplearn I am unable to reproduce the issue. I am using latest master of Hudi (with 0.7.0 i'm facing some other issue in my setup). Meanwhile, I would suggest to try out with the latest Hudi (0.11.0) or if you're on AWS you could use 0.10.1-amzn-0 version of Hudi.

[2022-06-17 15:06] codope commented on #5869
Also, if you query using spark.read.format("hudi"), do you see the right records? I am trying to figure out if this is an issue with hive _rt tables only.

[2022-06-17 15:11] codope commented on #5847
Closing the issue due to insufficient data. Please reopen with more details if the issue persists.

[2022-06-17 15:13] codope commented on #5832
Closing the issue as we have a patch available

[2022-06-17 15:13] #5832 closed

[2022-06-17 15:15] codope commented on #5833
@danny0405 Would https://github.com/apache/hudi/pull/5884 be helpful here?

[2022-06-17 15:39] codope commented on #5824
Is it Confluent Kafka? Can you provide some dummy value for `schema.registry.url`?
I can reproduce this issue in our UTs for AvroKafkaSource but with dummy schema registry url, it passes. See https://github.com/apache/hudi/blob/release-0.10.1/hudi-utilities/src/test/java/org/apache/hudi/utilities/deser/TestKafkaAvroSchemaDeserializer.java#L58

Also, https://github.com/apache/hudi/pull/1565 was clo

[2022-06-17 15:46] codope commented on #2509
I think this is related to https://issues.apache.org/jira/browse/HUDI-83 and we have a patch. Can you please try out with #3391

[2022-06-17 15:58] codope commented on #4793
Looks like the test got fixed after upgrade to 0.11.0. https://github.com/apache/incubator-kyuubi/commit/cb5f49e3e9bf4afed100e756302b69879faf5e61
Please reopen if you still see the issue.

[2022-06-17 15:58] #4793 closed

[2022-06-17 15:59] codope commented on #4311
Closing this as the issue with metadata enabled is being tracked separately.

[2022-06-17 15:59] #4311 closed

[2022-06-17 22:58] kazdy commented on #5452
@santoshsb will something like this help with your use case:
#5873
https://issues.apache.org/jira/browse/HUDI-4276
?

[2022-06-17 23:13] kazdy opened #5899 "[SUPPORT] MERGE INTO with UPDATE */ INESRT * - new incoming columns dropped, automatic schema evolution feature"
**Describe the problem you faced**

I've tried using MERGE INTO with UPDATE * and INSERT * statement with full schema evolution enabled.
I've noticed that during insert new columns from incoming batch (that do not exist in target table yet) are dropped and target schema is applied. No warnings nor failed writes.

Therefore can we as users automatically evolve schema on MERGE INTO operations?
I gue

[2022-06-18 06:35] LinMingQiang commented on #5886
Yes, as you understand. When I debug in  `AbstractTableFileSystemView.addFilesToView` , At moments `20220617091341327` and `20220617091358406 `  The value of parameter
 `visibleCommitsAndCompactionTimeline`  has only the first two but no third.

[2022-06-18 06:57] LinMingQiang commented on #5886
![1655535374994](https://user-images.githubusercontent.com/14815873/174426652-710a7183-3d12-488d-8653-672b0e35c07a.jpg)

[2022-06-18 08:34] LinMingQiang commented on #5886
![1655541206165](https://user-images.githubusercontent.com/14815873/174429793-73f6131d-a2bd-4268-8f55-4e076882ed29.jpg)

[2022-06-18 08:35] LinMingQiang commented on #5886
And `clean completed` always finishes before `xx38725.commit`.

[2022-06-18 08:36] LinMingQiang commented on #5886
And clean completed always finishes before xx38725.commit.

[2022-06-18 09:29] LinMingQiang commented on #5886
The modified method can actively perform sync at the time of `instant commit`, or remove `clean instant` when judging `islocalviewbehind`, and then judge.

[2022-06-18 18:58] kazdy commented on #5779
Table should be visible within the same spark session it was created

[2022-06-18 20:48] ksrihari93 commented on #5822
Hi @codope ,
I have first setup the clustering with default configuration only. since it's not working have used these options.

hoodie.clustering.async.enabled=true
hoodie.clustering.plan.strategy.target.file.max.bytes=3000000000
hoodie.clustering.plan.strategy.small.file.limit=200000001
hoodie.clustering.async.max.commits=1
hoodie.clustering.plan.strategy.max.num.groups=10
oodie.clustering.plan.

[2022-06-19 06:06] ykPrograWorld commented on #5795
i solved it with another method it is with hms by thrift to sync data from hudi to hive

[2022-06-19 07:56] leesf commented on #5779
@felixYyu agree with kazdy's comment. Feel free to reopen the issue if you have any other problems.

[2022-06-19 07:56] #5779 closed

[2022-06-19 09:43] santoshsb commented on #5452
@kazdy thanks for the followup, we had solved this issue at the root level of the schema by the code provided by @xiarixiaoyao. If you check the code (on the top of the post) it merges table columns into the incoming dataframe.
As our schema was nested, we started facing similar issues with the nested columns which we have not resolved yet. And because we started adding null for the missing column

[2022-06-19 13:23] kazdy opened #5904 "[SUPPORT] Spark saveAsTable() not working as expected"
**Describe the problem you faced**
I'm trying to use saveAsTable() api in Spark to create and write data to hudi table.

I've found that it's not working as expected. Only first table creation works.

SaveAsTable() should work in modes:
[code]
https://spark.apache.org/docs/3.2.1/api/python/reference/api/pyspark.sql.DataFrameWriter.saveAsTable.html?highlight=saveastable

In Append mode if table alr

[2022-06-20 03:44] Humphrey0822 commented on #5765
@yihua @nsivabalan @XuQianJin-Stars Which version of Hudi is planned to fix this issue?

[2022-06-20 08:55] LinMingQiang commented on #5833
I'm afraid not, The current issue problem is that the network is unavailable and cannot be retried

[2022-06-20 09:40] loveShyBoy opened #5911 "[SUPPORT] delta streamer init Parquet file then flink incremental data , Data not updated"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-20 10:10] kk17 commented on #5861
also have the same error when using spark SQL to create a hudi table.
[code]

spark SQL error:
[code]

[2022-06-20 10:41] mgerlach commented on #5715
@xushiyan: @rmehlitz has been out of office for a while, will be back soon. Unfortunately I have no time to reproduce the experiments at the moment, but we will be on it again soon!

[2022-06-20 10:44] mgerlach commented on #5717
@nsivabalan @xushiyan - @jdiebold is out of office, will try to get to #5715 (with @rmehlitz) first, asap (currently a bit short of time)

[2022-06-20 14:42] codope commented on #5911
@loveShyBoy Are you using any particular [index type](https://hudi.apache.org/docs/configurations/#indextype) ?
cc @danny0405 @yuzhaojing

[2022-06-20 14:45] codope commented on #5899
@kazdy Isn't it same as HUDI-4276?
cc @xiarixiaoyao

[2022-06-20 14:56] codope commented on #5904
@XuQianJin-Stars @leesf Should hudi CTAS command assert for empty path in this case?

[2022-06-20 14:58] codope commented on #5804
Closing the issue as there is a tracking jira matching priority with fix version 0.12.0

[2022-06-20 14:58] #5804 closed

[2022-06-20 15:01] codope commented on #5795
Closing it as it's resolved with HMS mode. Also, this shouldn't be relevant as we upgrade to Hive 3 in 0.12.0

[2022-06-20 15:01] #5795 closed

[2022-06-20 15:08] kazdy commented on #5899
@codope it's related because it also calls for automatic schema evolution with similar logic.
With MERGE INTO new fields are being dropped, so once [HUDI-4276](https://issues.apache.org/jira/browse/HUDI-4276) is done it can be used in MERGE INTO I guess?

Looking at `MergeIntoHoodieTableCommand` I think the target table schema is always applied on write, so whatever new column was added, it's just

[2022-06-20 15:09] codope commented on #5728
Rsolved as per https://github.com/apache/hudi/issues/5728#issuecomment-1146071893. Please reopen if you still face some issue.

[2022-06-20 15:09] #5728 closed

[2022-06-20 15:09] BuddyJack commented on #5728
邮件已收到！谢谢！                       薛超

[2022-06-20 15:15] codope commented on #5702
@ganczarek Can you please try latest Hudi (0.11.1)? There were a couple of fixes in the lock provider. See https://github.com/apache/hudi/pull/5255
https://github.com/apache/hudi/pull/5380

[2022-06-20 15:18] codope commented on #5698
I would suggest to open a new issue for run_sync_tool with Spark 3.2. We have tested the tool with Spark 3.2 before 0.11.0 release. Please open another issue and we can try to reproduce and see what's missing. Thanks.

[2022-06-20 15:18] #5698 closed

[2022-06-20 15:22] codope commented on #5634
@eric9204 v0.11.1 is released now. Can you please try again? If you still face the issue, please open a JIRA and share the ticket here.

[2022-06-20 15:24] codope commented on #5599
@amit-ranjan-de Did you get a chance to talk to aws-support or try out with the patch that Siva suggested above?

[2022-06-20 15:25] #5586 closed

[2022-06-20 15:26] codope commented on #5551
@nsivabalan @pratyakshsharma is there any followup on this issue?

[2022-06-20 15:29] codope commented on #5541
@yangdafish As suggested above, could you please upgrade to latest Hudi release 0.11.1 and see if issue is still there?
@YuweiXiao if you can share the patch which fixed this issue, that would be great.

[2022-06-20 15:31] codope commented on #5519
@xiarixiaoyao Any followup on this issue?

[2022-06-20 15:33] #5503 closed

[2022-06-20 15:35] codope commented on #5493
Closing it due to inactivity. The recommendation here is to upgrade to latest Hudi. Please reopen if the issue is still there after upgrade.

[2022-06-20 15:35] #5493 closed

[2022-06-20 15:37] codope commented on #5482
@yihua Can you please followup on this issue?

[2022-06-20 15:38] #5489 closed

[2022-06-20 15:38] codope commented on #5426
@kazdy Any udpate from aws-support?

[2022-06-20 15:47] kazdy commented on #5426
Unfortunately not, closed the case as they couldn't replicate this.

[2022-06-20 16:36] minihippo commented on #5740
@YuweiXiao The parquet schema is enough. I'll follow this problem.

[2022-06-20 16:57] minihippo commented on #5740
@YuweiXiao The root cause is that AVRO serializes Decimal type to bytes. However, for DECIMAL(10,4), Spark write as int64.
For more details, see https://github.com/sksamuel/avro4s/issues/271.

[2022-06-20 17:06] minihippo commented on #5612
@xiarixiaoyao I think it's a problem related to schema evolution. Could u help?

[2022-06-20 20:33] Reimus opened #5915 "[SUPPORT] Schema Evolution - Changing field type from Date to String is not supported"
In the documentation it says changing type from Date to String is supported (in the source/target table)

Yet command using spark sql with sql extensions installed:

[code]
Produces output
[code]

**Expected behaviour**

Either docs clearly state this is not supported - or it works as expected.

**Environment Description**

* Hudi version : 0.11

* Spark version : 3.1.2

* Hadoop version : 3.0.X

[2022-06-21 00:49] amit-ranjan-de opened #5916 "[SUPPORT] `show fsview latest` throwing IllegalStateException...pending compactions for merge_on_read table"
**Describe the problem you faced**

When trying to run `show fsview latest --partitionPath dt=2022-06-01` from the hudi-cli on a MERGE_ON_READ table, we receive an exception

[code]

We tried a bunch of flags, but all of them threw the same exception:

[code]

**To Reproduce**

Run `show fsview latest --partitionPath dt=2022-06-01` on a MERGE_ON_READ table where some compaction is pending

**Expec

[2022-06-21 02:30] loveShyBoy commented on #5911
delta streamer used default index type , flink also used hoodie.index.type=BLOOM
0.10.1 do not have index.type config ,  exists since 0.11.0

`--hoodie.table.name=tablename_hudi
--table.type=COPY_ON_WRITE
--hoodie.datasource.write.recordkey.field=primary_id
--write.precombine.field=update_time
--hoodie.datasource.write.partitionpath.field=dt
--hive_sync.db=ods
--write.tasks=4
--hoodie.datasource.w

[2022-06-21 03:07] eric9204 commented on #5634
https://issues.apache.org/jira/projects/HUDI/issues/HUDI-4289?filter=allissues

[2022-06-21 03:07] #5634 closed

[2022-06-21 04:05] danny0405 commented on #5911
flink engine uses a state-backend to store the index by default, for DeltaStreamer did you use the COW table type ?

[2022-06-21 06:01] jiangjin-f commented on #5911
use the COW table type .
If used **--index.bootstrap.enabled=true** ,  need to set the -**-index.state.ttl=0.2** when there is a lot of data?
if the hudi table existed .Can this parameter ensure that the data can be updated? (**--index.bootstrap.enabled=true**)
delta streamer init parquet file , then flink incremental kafka data. data not updated.

delta streamer write configs.
`spark-submit \
  -

[2022-06-21 06:45] jiangjin-f commented on #5911
ok 。i know .i will try,then tell you test results. Thank you very much。

[2022-06-21 06:52] YuweiXiao commented on #5740
Yes, disabling vectorized read is a workaround. What do you think about the solution I mentioned above, i.e., auto-disable vectorization and respect user-defined configs.

[2022-06-21 07:01] kk17 commented on #5861
I found out the issue is caused by after changing the table to spark data source table, the table SerDeInfo is missing. I creates a pull request.

[2022-06-21 07:35] xiarixiaoyao commented on #5612
@minihippo  full schema evolution is not support on spark2
https://issues.apache.org/jira/browse/HUDI-4276 will solve this problem of full schema evolution, but it target version is spark3.x

[2022-06-21 07:41] gtwuser commented on #5612
@xiarixiaoyao we tried switching to Spark 3.1, but even there we are facing the same issue. Have raised another issue here #5701 . Any help would be appreciated.

Environment setup :

AWS glue 3.0

Hudi version : 0.10.1

Spark version : 3.1.2

Running on Docker? (yes/no) : no, we are running glue jobs using pyspark

[2022-06-21 07:51] gtwuser commented on #5891
@codope sorry for the delay and thanks for your response, also you are **right**  we do need `connection_type` but thats when we are creating `DynamicFrame` instance using `from_option` method, here im using `from_catalog` so we wont need it. [Ref_link](https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-crawler-pyspark-extensions-dynamic-frame-reader.html#aws-glue-api-crawler-pyspark-extensio

[2022-06-21 08:10] kasured commented on #5843
Hello @nsivabalan Unfortunatelly we do not have easy way to backport and deploy it. We are working with AWS team to create a patched version of the 0.9.0 release, but It looks like the potential impact of the issues might be really concerning

[2022-06-21 08:21] minihippo commented on #5915
@Reimus Is `Date` a partition field?

[2022-06-21 08:23] minihippo commented on #5916
Could u provide the timeline? It may have more one pending compaction?

[2022-06-21 08:59] amit-ranjan-de commented on #5916
May I know what info are you looking for, or is there any `hudi-cli` command I can execute to share further info 🙂

[2022-06-21 10:21] minihippo commented on #5740
I suppose to align with Spark. Consider the situation that a hudi table has two write paths: Flink for real-time and Spark for batch-backfill, Flink has already aligned with Spark (see HUDI-3096). Therefore, when writtern by Spark, decimal with a precision smaller than 18 is recommendded to int64/32.

[2022-06-21 12:57] santoshsb commented on #5452
@xiarixiaoyao as mentioned earlier we didn't solve the nested column case, we are currently trying to finalize a fixed schema and while reading in the data with spark use this schema to avoid any schema evolution. Let me know if you need the sample examples which lead to the issue, here are the two messages.

`{
  "resourceType": "Patient",
  "id": "beca9a29-49bb-40e4-adff-4dbb4d664972",
  "lastUp

[2022-06-21 17:05] tfontana1 commented on #5821
Thank you, I will close this. I ended up using Hudi 0.11.0 but the issue was with my operator and drivers having mismatched jar versions.

[2022-06-21 17:05] #5821 closed

[2022-06-21 22:58] WangCHX opened #5931 "[SUPPORT] Spark sql can't read hudi table."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-06-21 22:59] WangCHX commented on #5931
and what is the code control to add `location` property to the hudi table?

[2022-06-22 00:20] WangCHX commented on #5861
oh nice. I think I am also affected.

[2022-06-22 00:21] WangCHX commented on #5931
could be related: https://github.com/apache/hudi/issues/5861

[2022-06-22 02:46] boneanxs commented on #5861
@WangCHX @kk17 Have you add
[code]

when you creating hudi tables?

[2022-06-22 03:06] kk17 commented on #5861
@boneanxs no. by after i added, got another error:
[code]

[2022-06-22 03:52] WangCHX commented on #5861
i did try add that. same issue though.

[2022-06-22 03:52] boneanxs commented on #5861
The `primarykey` must be specified when you creating hudi table, by default it is uuid, this error means the table has no column names `uuid`, you can change the sql to

[code]

[2022-06-22 04:05] BruceKellan commented on #4993
@xushiyan

When I start the flink application in day `2022-03-08`, the partition `day=2022=03-09/type=Login` does not exist.
The next day (2022-03-09), the partition `day=2022=03-09/type=Login` will be generated in the table `ods_data`,
The expected behavior is that the flink application can read new data for 2022-03-09, but not now.