[2021-09-29 11:30] nsivabalan commented on #2564
@mauropelucchi : curious as to your table type choice. I see you are setting max delta commits to compact to 1. So, you might as well choose COW to easier operability. wondering if you are doing some POC or something, but intend to bump this number up later.

[2021-09-29 11:33] nsivabalan commented on #2992
@am-cpp @ayush71994 . sorry, missed from the radar. Are you folks still interested in triaging this? I can assist you on this. Let me know.

[2021-09-29 11:46] codope commented on #2688
There was an issue that got fixed recently by #3712
@rubenssoto @niloo-sh  @stym06 Can you give the latest master a try on EMR? I could not reproduce the issue on EMR 6.2 and below is what my script looks like.
[code]

[2021-09-29 12:02] codope commented on #3607
@zhangyue19921010 You're right. I think you're talking about #3623
Just left a small comment there. If that works let's merge it. I can also help in testing the dependency changes.
FYI, there is an [open PR](https://github.com/prestodb/presto/pull/15866) for Presto to integrate with Hudi's metadata listing.

[2021-09-29 12:03] codope commented on #3713
For this I would suggest to give our readymade [docker setup](https://hudi.apache.org/docs/docker_demo/) a try.

[2021-09-29 12:20] nsivabalan commented on #2992
I could not reproduce in latest master.
https://gist.github.com/nsivabalan/23caa2f57c41bc9356ed7fa29590c147

Here is my understanding.
INSERT_DROP_DUPES will delete records from incoming df with those matching in existing hudi table. when this is used along with INSERT_OVERRIDE operation, first insert_drop_dupes kicks in and so, possible some records from incoming batch will be dropped. and then I

[2021-09-29 12:29] codope commented on #3242
@niloo-sh Ensure that the following configs are set properly in hive-site.xml
[code]

Then, you need to specify the following Hudi configs to run hive sync:
[code]

[2021-09-29 14:55] nsivabalan commented on #3297
@zxding : can you respond to Sagar's question above. I am going to try reproducing this issue. would appreciate if you can give more specifics.

[2021-09-29 15:10] nsivabalan commented on #3499
@codejoyan : whats the key generator you are using? Can you confirm you are setting those params (key gen, record key, partition path) while setting these clustering configs as well.
because, from stack trace this is what I see.
Since you don't set any value for "hoodie.clustering.plan.strategy.sort.columns", we resot to using built in BulkInsertSort mode. by default we do global sorting here depe

[2021-09-29 16:25] xushiyan commented on #3670
i can replicate the issue in local env, even by setting `ComplexKeyGenerator`, datasource delete not working, while delete via spark sql delete. Filing a JIRA to have detailed scripts
https://issues.apache.org/jira/browse/HUDI-2500

[2021-09-29 19:38] davehagman opened #3733 "[SUPPORT] Periodic and sustained latency spikes during index lookup"
**Describe the problem you faced**

We're running Hudi 0.9 in production and we are seeing intermittent issues where the latency introduced by index operations spiked to 8-10x longer than usual which causes us to have a much higher write latency into our datalake. I have put some information about our setup below as well as screenshots of the spark UI. You can see in the screenshots that the time

[2021-09-29 19:45] davehagman commented on #3733
I would also like to show some graphs comparing the baseline and what they look like during these latency spikes.

This is a graph of the number of files Created vs. Updated per batch (`commit.totalFilesInsert` and `commit.totalFilesUpdate` respectively). The number of updated files explodes:
![image](https://user-images.githubusercontent.com/73851873/135337594-6b4d5f25-04ed-442b-bf06-0912a581220d

[2021-09-30 02:38] peanut-chenzhong opened #3735 "[SUPPORT] OverwriteNonDefaultsWithLatestAvroPayload doesn`t work when upsert data with some null value column"
For my understanding, if we using OverwriteNonDefaultsWithLatestAvroPayload, Hudi will update column by comlun. If the upsert data has some column which is null, Hudi will ignore these columns and only update the other columns. But the behavior now seems not correct.

Steps to reproduce the behavior:

1.use spark-sql to init test data
create table test_payload (par1 int,par2 int,key int,col0 strin

[2021-09-30 02:40] peanut-chenzhong commented on #3735
@n3nash could you kindly help check this is an issue?
If yes I can rise an PR to solve it soom.

[2021-09-30 04:33] mauropelucchi commented on #2564
Hi @nsivabalan, we changed the configuration 'hoodie.cleaner.commits.retained': 4 from 1 during our test.

As @rswagatika mentioned:

Following your suggestion, I will open today a new issue about this behaviour

[2021-09-30 06:46] qingyuan18 opened #3737 "how can we migrate a legacy COW table into MOR table"
we have a customer which using COW table before, however ,their sourcing data become more and more huge in Kafka, and also there are couple of upsert into Hudi table sink in spark streaming , so to turning the performance of writing, we plan to convert the COW table into MOR table

the problem is : how can we migrate their former COW table, which their live system has already consuming it. does it

[2021-09-30 08:27] stym06 commented on #1083
@lamberken this is still happening. Do we always need to have the checkpoint in place?

[2021-09-30 08:28] #3670 closed

[2021-09-30 09:29] codope commented on #3735
I think this is a bug. What's happening here is that the [overwrite check](https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/model/OverwriteWithLatestAvroPayload.java#L102) in OverwriteWithLatestAvroPayload is simply checking whether the two objects are equal or not. Since the nullable column gets converted to avro schema, the [defaultVal() method](https:/

[2021-09-30 10:32] absognety commented on #1867
@tsolanki95 what resolved this issue, I am facing the same issue when reading data written in hudi format from S3

[2021-09-30 12:07] nsivabalan commented on #3603
@fengjian428 : looks like its related to null in extra metadata. would you mind trying out the patch given by Sagar [here](https://github.com/codope/hudi/commit/750a3315badeb362d3b57cfc016e3661f4e25564). Solution you proposed will not archive only. May be it could solve the problem at hand, but don't think thats the right fix.
Would appreciate if you can try it out and let us know how it goes.

[2021-09-30 12:15] nsivabalan commented on #3603
I do see from code that we do add entry to extra metadata as below
[code]

Can you enable logs and see whats the checkpointStr after reading from source. may be its null w/ SqlSource in this case.
Also, have you set --commit-on-errors config in deltastreamer by any chance?

[2021-09-30 14:09] mauropelucchi commented on #2564
About our solution --> we are in production on EMR 5.31 and hudi 0.6.0-amzn-0

[2021-09-30 14:16] mauropelucchi opened #3739 "Hoodie clean is not deleting old files"
I am trying to see if hudi clean is triggering and cleaning my files, but however I do not see any action being performed on cleaning the old log files.

**To Reproduce**

I am writing some files to S3 using hudi with below configuration multiple times (more than 4 times to see the cleaning triggered.)

**My hudi config**
`
hudi_options_prodcode = {
                'hoodie.table.name': table_name,

[2021-09-30 14:17] mauropelucchi commented on #2564
@nsivabalan Here the new issue https://github.com/apache/hudi/issues/3739

[2021-09-30 14:21] mauropelucchi commented on #3739
Attached the data for the

1 - first execution of the spark job
![1](https://user-images.githubusercontent.com/16307145/135472666-f65ceccd-da45-4747-82b4-5180478f5644.png)
![1_commit](https://user-images.githubusercontent.com/16307145/135472680-b9981444-9919-4ceb-bd24-dfbc4f35b656.png)
![1_data](https://user-images.githubusercontent.com/16307145/135472685-59119e9f-4726-4c99-a20f-ebdb82b962a5.png)

[2021-09-30 15:02] codope commented on #3724
Generally, for incremental queries we need to set following configs:
[code]
Did you try using these configs? You can also take a look at [TestStructuredStreaming](https://github.com/apache/hudi/blob/master/hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestStructuredStreaming.scala#L101) for an example usage.

For this, I would also suggest to take a look at HoodieIncrS

[2021-09-30 15:14] nsivabalan commented on #3582
I got it working. not sure what was the issue earlier.
here is the script.

Non-partitioned.
[code]

and here is what worked for partitioned dataset.
[code]

[2021-09-30 15:14] #3582 closed

[2021-09-30 15:36] nsivabalan commented on #3598
@Tandoy : any updates please.

[2021-09-30 17:19] nsivabalan commented on #3297
I could not reproduce the issue where enabling metadata is failing. I tried w/ latest master.

[code]

[2021-09-30 17:35] nsivabalan commented on #3739
thanks. Here is what is possibly happening. If you can tigger more updates, eventually you will see cleaning kicking in.
In short, this has something to do w/ MOR table. cleaner need to see N commits before it can clean things up not delta commits. I will try to explain what that means, but its gonna be lengthy.

Let me first try to explains data files and delta log files.
In hudi, base or data fi

[2021-09-30 17:46] nsivabalan commented on #3739
sorry, I see that you do have 5 compactions.
Can you try enabling inline cleaning?
hoodie.compact.inline=true

[2021-09-30 17:49] FeiZou commented on #3418
Hey @nsivabalan @vinothchandar sorry to trouble you again, but anything you can suggested here?

[2021-09-30 17:52] nsivabalan commented on #3739
may be a dumb thought. can you try setting the config values as string.
'hoodie.compact.inline': 'true'
'hoodie.cleaner.commits.retained':'4'

[2021-09-30 17:56] nsivabalan commented on #3739
also, can you try setting this to higher no
hoodie.keep.max.commits: may be 10.

[2021-09-30 18:02] nsivabalan commented on #3739
likely its the archival thats coming into play. let me know how it goes if you set higher value for hoodie.keep.max.commits.

[2021-09-30 21:29] davehagman commented on #3598
@nsivabalan I created an issue ([here](https://issues.apache.org/jira/browse/HUDI-2275)) for this a while ago that has since been updated to `blocker` but it remains unresolved. I was unable to figure out a workaround and was unable to continue investigating as I had other tasks. I plan to revisit this ASAP but I'm not sure when I will be able to. This will soon become a blocker for us as well as

[2021-09-30 21:51] mauropelucchi commented on #3739
@nsivabalan We already use your suggestions, so our actual conf is

'hoodie.table.name': table_name,
                'hoodie.datasource.write.recordkey.field': 'posting_key',
                'hoodie.datasource.write.partitionpath.field': 'range_partition',
                'hoodie.datasource.write.table.name': table_name,
                'hoodie.datasource.write.precombine.field': 'update_date',

[2021-09-30 22:18] nsivabalan commented on #3739
sure. can we try
hoodie.keep.max.commits: 20

[2021-10-01 01:11] Tandoy commented on #3598
I'm very sorry that I didn't test it in time due to the holiday and other arrangements, but I will try it as soon as possible.

[2021-10-01 07:04] xushiyan commented on #3161
@cb149 Is your application running fine now? given this issue is not reproducible, closing it now. If you have further findings or able to reproduce, feel free to follow up here. thanks.

[2021-10-01 07:04] #3161 closed

[2021-10-01 08:09] mauropelucchi commented on #3739
Hi @nsivabalan... something is moving! With your suggestion (**hoodie.keep.max.commits: 20**)
this is the result:

![20_data](https://user-images.githubusercontent.com/16307145/135586912-26ae6738-8c0e-43eb-9a9b-4888158cfe65.png)
![20_commit_1](https://user-images.githubusercontent.com/16307145/135586922-bc5d8afb-c8fa-4fa9-9020-ded66efa806f.png)
![20_commit_4](https://user-images.githubusercontent.

[2021-10-01 10:30] stym06 commented on #1083
@bhasudha fyr

[2021-10-01 12:31] FelixKJose commented on #3676
@nsivabalan Ok, got it,  but kind of confused because, I was hoping all inserts will to one parquet file until it reaches the given max size (128 MB). Seems like my understanding is not correct, and I don't see anywhere this is described like this. Could you point me to any docs describing this behavior?

[2021-10-01 12:52] nsivabalan commented on #3739
awesome, good to know. So here is the thing.
Hudi has something called active timeline and archived timeline. Archival will kick in for every commit and move some older commits from active to archived. This is to keep the no of active commits within bounds. (contents of .hoodie folder)
all operations within hudi will operation only on commits in active timeline(inserts, upserts, compaction, cleani

[2021-10-01 13:03] nsivabalan commented on #3598
@davehagman @Tandoy : I was able to reproduce the issue.
I have put up a temp fix on this regard https://github.com/apache/hudi/pull/3742.
Can you folks give it a try.
Please do set hoodie.datasource.write.commitmeta.key.prefix="deltastreamer.checkpoint.key" with spark datasource writes.

btw, I am yet to discuss with other devs (who worked on the multi-writer support) on the right fix on this reg

[2021-10-01 14:16] mauropelucchi commented on #3739
@nsivabalan Ok, what is the right conf in our scenario?
It is unusual for us to have 20 commits by partition, usually we have from 4 to 10...

[2021-10-02 22:36] vingov commented on #2934
@t0il3ts0ap - sure, I will confirm in 2 days after checking with @jsbali.

He already has the changes in our internal codebase, he just needs to upstream it.

[2021-10-04 03:32] stym06 opened #3747 "[SUPPORT] Hive Sync process stuck and unable to exit"
**Describe the problem you faced**
I'm running the hive sync process to sync the Hudi data stored in the Azure blob storage, written by the Deltastreamer tool.
The problem is that this process is unable to exit after the sync completes and partitions etc are added.

**To Reproduce**

Steps to reproduce the behavior:

1. Run Hive sync independently with Hudi data written to Blob
[code]

**Expected

[2021-10-04 14:23] davehagman commented on #3733
More details on this issue. The root cause is a when a single batch of records results in a large number of partitions being scanned for index lookup (for record de-duplication).

For example, our data is partitioned by `year/month/day/hour`.  Normally an entire batch of records "matches" only 1-8 partitions depending on the timestamp of the event (they are usually all very recent and fit into sev

[2021-10-04 14:35] nsivabalan commented on #3739
You can set it to 10. should work out.

[2021-10-04 14:36] nsivabalan commented on #3739
Let me know if you need anything. else we can close this issue out.

[2021-10-04 15:16] fengjian428 opened #3749 "[SUPPORT] is there solution to solve hbase data screw issue?"
when I bootstraped a huge hbase index table, I found all keys have a prefix 'column_name:',  it caused data skew,  there are 100 region servers in hbase  but only one was handle datas

is there any way to avoid this issue in hudi side ?

**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in

[2021-10-04 20:26] nsivabalan commented on #3733
Hey Dave.
so, my understanding is that, just partitioning on year, month and day did not work out for you and hence you have to go w/ hour as well? bcoz, cardinality of partitions is now very huge( ~ 8750 for 1 year of data). so I would expect some perf hit when you have such large no of partitions in general.
also, are you seeing spikes only in those batches where records are spread across older

[2021-10-04 20:27] nsivabalan commented on #3733
But you are most welcome for contributions. I can help review it if you have some patch helping hudi improve index look up. This is very core to hudi and will definitely help everyone in the community.

[2021-10-04 20:51] davehagman commented on #3733
We tested multiple partitioning schemes and this gave us a good tradeoff between read and write performance (especially under multi-hour processing delays when we need to ingest large amounts of more recent data to catch up to real-time). Removing the hour partition _could_ be feasible now though, I'm not sure how much testing we did originally with and without the hour specifically.

Yes exactly.

[2021-10-04 22:08] Rap70r commented on #3697
Hi @xushiyan,

Here is an update for our latest tests. I have switched to d3.xlarge instance type and used the following configs:
`spark-submit --deploy-mode cluster --conf spark.scheduler.mode=FAIR --conf spark.shuffle.service.enabled=true --conf spark.sql.hive.convertMetastoreParquet=false --conf spark.driver.maxResultSize=6g --conf spark.driver.memory=17g --conf spark.executor.cores=2 --conf sp

[2021-10-05 11:40] novakov-alexey commented on #3647
@xushiyan yes, it seems you are right. I can confirm that if I write to a table with bulk_insert and `hoodie.datasource.write.row.writer.enable=false`, then upsert is working afterwards. So this is a bug with row.writer flag.

[2021-10-05 12:37] ChaladiMohanVamsi commented on #3647
https://issues.apache.org/jira/browse/HUDI-2526

I faced the similar issue. The community team found that legacy writer config is hard-coded to false, so it is ignoring external config.
The workaround is to disable row writer while using bulk_insert.

[2021-10-05 14:39] novakov-alexey commented on #3647
Row writer is giving huge speed up with bulk-insert. Looking forward for the proper fix to this issue

[2021-10-05 16:18] MikeBuh opened #3751 "[SUPPORT] Slow Write Speeds to Hudi"
Hello,
We would like your assistance in order to better understand how to tweak our current setup to achieve better performance. Please find our case scenario below:

We are in the process of building a data lake using Hudi in order to allow us to have updated records with near real time availability. The source data resides on S3 and consists of multiple small files in Avro format, in essence the

[2021-10-06 00:22] nsivabalan commented on #3737
@vinothchandar @bvaradar @n3nash @bhasudha : any recommendations here.

[2021-10-06 00:22] nsivabalan commented on #3747
@codope can you follow up on this.

[2021-10-06 00:24] nsivabalan commented on #3749
I assume you got your answer from dev mailing list ? if yes, can we close this out.

[2021-10-06 00:27] nsivabalan commented on #3751
If you are doing lot of small writes, would recommend looking at MOR table type. curious to know why you folks went with COW ?

[2021-10-06 05:36] #3749 closed

[2021-10-06 05:57] guan-yq commented on #3657
I have the same problem.........

[2021-10-06 06:48] fengjian428 opened #3755 "[Delta Streamer] file name mismatch with meta when compaction running"
Environment： Hudi 0.9  ，Hbase 1.4.12

when I run delta streamer(version 0.9) to ingest data from kafka to a Hbase indexed mor table ,  after few commits, met this error when compaction running
![image](https://user-images.githubusercontent.com/4403474/136153476-785f7e62-4b26-4f0a-9b16-1ec7010da6b4.png)

 In hdfs there is a file has same fileId and commit instant but different in the middle: hdfs:/

[2021-10-06 07:24] MikeBuh commented on #3751
The reason we opted for COW is because other tools we are using (namely Athena) have a much better support for COW type tables over MOR type.

[2021-10-06 08:35] fengjian428 commented on #3755
this table was create by Delta streamer's SqlSource from another table, but when  ingest real-time data from kafka with kafkasource, the compaction dose not work,  I need shutdown Delta streamer and start it again, then compaction works

I 'm not sure if that can effect following processing

[2021-10-06 09:27] govorunov opened #3756 "[SUPPORT] Can we use Hudi to build Temporal Datastore?"
Hi,

I read all the documentation and FAQ and got a feeling Hudi is (almost) the right tool for what I'm trying to build, still unable to design the right solution:

We need to build a  temporal representation of data stored in some database, i.e. snapshot of a database table that also stores the history of all changes to that table and provides means to query table state at different points in ti

[2021-10-06 12:16] sannidhiteredesai commented on #2265
@n3nash, @nsivabalan,
Is this fix available in hudi 0.9.0 ? Because as per [faq comment](https://cwiki.apache.org/confluence/display/HUDI/FAQ?focusedCommentId=181310323#comment-181310323) this is not yet in any official release.

[2021-10-06 12:41] Ambarish-Giri commented on #3605
Hi @nsivabalan , I analysed the Hudi code as well to check if there is any room for improvement but couldn't find much. Let me know if there is any updates from your end.

[2021-10-06 17:20] nsivabalan commented on #3739
to clarify, archival touches only the timeline and cleaner touches only the data files.

[2021-10-06 22:29] govorunov commented on #3756
I think I need to elaborate a little further:

1. If we are to write all database backups into Hudi table in their historical order, then do the live database snapshot and only then start consuming new changes, then all the events will be written into Hudi table in their proper chronological order, although useless as all the dates will be off - events will appear by the time they were written int

[2021-10-07 00:00] bgt-cdedels commented on #3739
Yes, my question is: if our configuration was trimming commits from timeline but files were not deleted by cleaner, is there a way to remove (manually clean) those files without losing any data?

[2021-10-07 04:08] nsivabalan commented on #3676
guess, we don't have clear documentation around this. I myself had to dig through the code and tried it myself before confirming some of the nuance behaviors.

[2021-10-07 04:29] nsivabalan commented on #3605
sorry, whats the shuffle parallelism you are setting for these writes? In your original description, I see you are setting it to 2. definitely that would give you bad perf. Try to give something like 100 to 200 and see how it pans out.
We have diff configs for diff operation. So, ensure you set the right config.

[2021-10-07 04:30] nsivabalan commented on #3605
also, can you post your spark stages UI so that we can see some metrics wrt data skewness. and how much parallelism we are hitting.

[2021-10-07 07:59] absognety opened #3758 "[SUPPORT] Issues when writing dataframe to hudi format with hive syncing enabled for AWS Athena and Glue metadata persistence"
**Detailed Description**
Facing issues when trying to write data to hudi format in S3 location, with following hudi write options
[code]
It worked a day back perfectly with data synchronized perfectly, and we can query datasets from AWS Athena but today exceptions are throwing from the app, below is the exception and full stacktrace

**Environment Description on EMR**

* Hudi version : 0.9.0 (hudi

[2021-10-07 12:56] novakov-alexey-zz opened #3759 "[SUPPORT] HoodieKeyException: recordKey value: "null""
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?
Yes. Right address is [https://hudi.apache.org/learn/faq/](https://hudi.apache.org/learn/faq/)

**Describe the problem you faced**

Write operation using builk_insert fails, when writing to non-empty Hudi table. It does not fail if table is empty.

**To Reproduce**

Steps to

[2021-10-07 14:30] data-storyteller opened #3760 "[SUPPORT] Pushing hoodie metrics to prometheus having error"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I am wo

[2021-10-07 16:26] xushiyan commented on #3647
@JoshuaZhuCN @novakov-alexey @ChaladiMohanVamsi JIRA filed. https://issues.apache.org/jira/browse/HUDI-2531
Thanks for raising this!

[2021-10-08 02:09] guanziyue commented on #3755
It seems that the file left in reconcile stage is different with commit meta. Could you kindly share relevant logs and file status about marker file?

[2021-10-08 02:33] rubenssoto commented on #3751
@MikeBuh since July 16, Athena has full support for MoR tables

https://docs.aws.amazon.com/athena/latest/ug/release-note-2021-07-16.html

[2021-10-08 09:32] parisni opened #3766 "[SUPPORT] Clustering null pointer exception when NULL in sort column"
When null value present in the clustering sorting column then this does not work as expected.

[code]

[code]

[2021-10-08 19:22] codejoyan opened #3770 "[SUPPORT] Clustering on a metadata enabled table"
Spark 3.1.2
Hudi 0.9.0
Looks like I have hit a bug. Listing down the steps for context.

1. Bootstrapped a COW table using bulk_insert and these properties
option(HoodieMetadataConfig.METADATA_ENABLE_PROP, "true").
option(HoodieMetadataConfig.METADATA_METRICS_ENABLE_PROP, "true")

2. Run async clustering on all the partitions

3. Overwrite a partition by using bulk insert with metadata enable and

[2021-10-09 09:17] Carl-Zhou-CN commented on #3759
From the stack exception you should have used a rowkey containing NULL, which is not allowed in HUDI

[2021-10-09 09:54] novakov-alexey commented on #3759
No, I have no nulls in key column. As I mentioned in the issue description, it sometimes succeeds if I retry my job, no data changes between restarts. I think there is race condition somewhere either in Spark or in Hudi.

[2021-10-11 07:14] novakov-alexey commented on #3759
thanks @Carl-Zhou-CN , I also tried to debug Hudi code and noticed the same. That exception is thrown when key column is missing in dataframe. So far I have no idea why it can be missing.

[2021-10-11 16:31] fengjian428 commented on #3755
before I got error above,  this rpc timeout error happen, and when I restart delta streamer, above error happen

Caused by: java.util.concurrent.ExecutionException: org.apache.hudi.exception.HoodieException: Futures timed out after [600 seconds]. This timeout is controlled by spark.rpc.askTimeout
        at java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:357)
        at jav

[2021-10-11 17:22] ChiehFu opened #3782 "[SUPPORT] Hudi Concurrent write (OCC) with upsert tables random errors"
Hello,

We are running jobs on AWS EMR to compact tables stored in S3 and maintaining Athena tables through Hudi Hive sync.

Recently we started exploring Hudi multi writer and we were experiencing some issues when running concurrent Hudi upsert jobs with Hudi OCC where each job save data into a distinct partition.

The errors seem happen pretty randomly and get more frequently as the number of co

[2021-10-12 15:59] nsivabalan commented on #3737
I guess it should work w/o issues in general. with latest spark-sql dml support, not sure if we added validation to check if table type can't be changed. Technically speaking, COW -> MOR should work. Can you try it out and let us know how it goes.

[2021-10-13 09:31] jdattani commented on #3731
@parisni @nsivabalan I see you've mentioned you're using hudi 0.9.0 on spark3.1. Is that compatible?
https://issues.apache.org/jira/browse/HUDI-1869

[2021-10-13 09:46] gaoshihang opened #3790 "[SUPPORT]Flink-cdc write to COW hudi table record duplicate"
@danny0405 Hi~please help
I use flink-cdc to read binlog data from kafka and pass to hudi table, I found the initial write will contain duplicate data.

1.job config
(1)left source table:
create table mysql_left_table(
	id bigint primary key,
	name string
) WITH (
	'connector' = 'kafka',
	'topic' = 'test4.test_cdc_db.left_table',
	'properties.bootstrap.servers' = 'localhost:9092',
	'properties.gro

[2021-10-13 10:27] vkingnew opened #3791 "Hudi roadmap"
The hudi roadmap have a long time no update，desire the newest roadmap about apace hudi.

https://hudi.apache.org/roadmap/

[2021-10-14 02:39] Neo966 opened #3795 "[SUPPORT] hive query hudi error"
hive version:2.1.1
flink:1.12.2 scala:2.11

1、hive.input.format=org.apache.hadoop.hive.ql.io.CombineHiveInputFormat;
	select count(*) from xxx; //103828120, It's not right. actual number is 18874368.

2、hive.input.format=org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat;
	select count(*) from xxx; //Error: Error while processing statement: FAILED: Execution Error, return code -101 from org.

[2021-10-14 04:11] #3790 closed

[2021-10-14 04:35] gaoshihang commented on #3790
thanks！

[2021-10-14 06:42] t822876884 opened #3796 "[SUPPORT] Flink write to hudi,after running for a period of time,throw a NoClassDefFoundError"
hudi 0.9.0
flink 1.12.2

[code]

[code]

[2021-10-14 07:43] danny0405 commented on #3796
Seems you do not set up the `HADOOP_CLASSPATH` corrently, how do you submit your job ?

[2021-10-14 07:46] yiduwangkai opened #3797 "[SUPPORT]"
* Hudi version : 0.10
* Hive version : 2.3.8
* Hadoop version : 2.10.1
* Flink version : 1.13.1
i use flink to  fetch data from mysql and sink to hudi, there are some errors
`http-request
java.lang.NoSuchMethodError: io.javalin.core.CachedRequestWrapper.getContentLengthLong()J
	at io.javalin.core.CachedRequestWrapper.<init>(CachedRequestWrapper.kt:22) ~[hudi-flink-bundle_2.11-0.10.0-SNAPSHOT.jar:0

[2021-10-14 08:17] t822876884 commented on #3796
i have a machine to submit the job by command "/home/flink/flink-1.12.2/bin/flink run -c com.xxx.streaming.bdg.exec.YarnDataExecutorSQL -m yarn-cluster -d -yjm 2048 -ytm 5120 -p 4 -ys 3 -ynm YarnDataExecutorSQL k-bdg-stream.jar"

[2021-10-14 08:49] t822876884 commented on #3796
![image](https://user-images.githubusercontent.com/17778114/137283507-2c6d7894-589f-4b79-8157-ddd0397a573c.png)
the jar  hudi-flink-bundle_2.12-0.9.0.jar from mvnrepository.com has no mapreduce

[2021-10-14 10:24] gaoshihang opened #3801 "[SUPPORT]Does Flink-cdc support Schema Evolution?"
@danny0405
Hi~please ask a question, I use kafka(debezium) as source table, and hudi as target table, create a cdc application.
How can I do schema evolution use flink-cdc?

[2021-10-14 17:28] rubenssoto opened #3804 "[SUPPORT] Error with metadata table"
Hello,

We start to test metadata table in only one pipeline in our production env and after some commits an error started:

Hudi Version : 0.9
Spark: 3.0.1
Emr: 6.1

[code]

Hudi Operations:
[code]

[2021-10-14 18:35] nsivabalan commented on #3755
Are you having concurrent writers? If yes, I have come across a similar issue reported by someone else. let me know.

[2021-10-14 19:14] nsivabalan commented on #3758
@bhasudha @umehrot2 : any suggestions on how to circumvent S3 throttling issue ? appreciate your inputs.

[2021-10-14 23:04] rubenssoto commented on #3760
@nsivabalan I follow your configs and didnt have any error but I cant found the metrics on my prometheus, how should I search? What is the prefix?

thank you

[2021-10-15 02:43] danny0405 commented on #3801
Hmm, schema evolution is not supported yet. When there are new records come in, you may need to re-start the streaming pipeline.

[2021-10-15 03:11] #3796 closed

[2021-10-15 03:50] cadl opened #3805 "[SUPPORT] the spark sql "create table as" statement create a hive table without"
**_Tips before filing an issue_**

The spark sql "merge into" after "create table as" will fail, because of "Merge Key[***] is not Equal to the defined primary key[]"

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a

[2021-10-15 04:16] cadl opened #3806 "[SUPPORT] the spark sql "create table as" statement create a hive table without serdeproperties(like "primaryKey" "preCombineField"...)"
**Describe the problem you faced**

The hive table created by spark sql "create table as ..." does not contain some hudi serdeproperties on hudi 0.9.0, like `primaryKey` `preCombineField`.

I track some source code, the [CreateHoodieTableAsSelectCommand](https://github.com/apache/hudi/blob/release-0.9.0/hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/CreateHoodieT

[2021-10-15 07:58] #3806 closed, assigned to nobody

[2021-10-15 16:24] novakov-alexey commented on #3759
Additional stacktrace for Driver:

[code]

[2021-10-15 19:03] novakov-alexey commented on #3759
Additional debug information:
in my case, the recordKey name in exception does belong to the current table schema, but to
another table schema. I have 20 tables writing concurrently.

HoodieKeyException: recordKey value: "null" for field: "primay_key_of_**tableB**" cannot be null

However, the schema string in the main exception is from another table:

21/10/07 12:03:18 INFO DAGScheduler: ResultSt

[2021-10-15 21:19] novakov-alexey commented on #3759
@Carl-Zhou-CN , @nsivabalan I've added a reproducing test in #3810. Please let me know if it makes sense.

[2021-10-16 03:07] Carl-Zhou-CN commented on #3759
df.write
.format("hudi")
.options(options)
.mode(SaveMode.Overwrite)
.save(targetPath)

hi, can you exclude that the rowkey set in the option above is not in the df schema, due to concurrency settings

[2021-10-16 07:27] novakov-alexey commented on #3759
Record key is set per each table concurrently. Please run new test I added in PR, it shows that schema and record key do not match in BulkInsertHelper

[2021-10-16 14:52] codope commented on #3795
@Neo966 What's the [table type and query types](https://hudi.apache.org/docs/overview#table-types--queries) for which you're getting error? Also, can you share the full stacktrace?
By the way, I checked the different input formats in the [docker setup](https://hudi.apache.org/docs/docker_demo/) and it works fine. Maybe, you could also give it a try. Then, we can work with your table to see if it i

[2021-10-17 22:19] rubenssoto opened #3814 "[SUPPORT] Error o Trying to create a table using Spark SQL"
Hello,

I have spark server using EMR 6.2 and I started the thrift server using the following command
[code]

I made a JDBC connection using a SQL Client, so I tried to execute:
[code]

And I had the error
[code]
Im using EMR 6.2 integrated with GLUE.

Could you help me with this?

Thank you

[2021-10-18 09:56] #3756 closed

[2021-10-19 02:07] rohit-m-99 opened #3821 "[SUPPORT] Ingestion taking very long time getting small files from partitions/"
**Describe the problem you faced**
Currently running Hudi 0.9.0 in production without a specific partition field. We are running using 6 workers each with 7 cores and 28GB of RAM. The files are stored in S3.

We run 50 `runs` each with about `4000` records. When then combine the runs into one dataframe, writing around 200k records at once using the `upsert` operation. Each record has around 280 co

[2021-10-19 02:22] absognety commented on #3758
@nsivabalan I can confidently say that this is intermittently occurring issue, especially when we have concurrency in our code - doing concurrent writes to different hudi partitions in  S3 .

[2021-10-19 04:41] #2564 closed

[2021-10-19 04:57] nsivabalan commented on #3559
This was fixed in 090. closing it out. If you run into any issues, do reach out to us.

[2021-10-19 04:57] #3559 closed

[2021-10-19 05:05] nsivabalan commented on #2544
Closing due to inactivity and the issue is not reproducible anymore. thanks

[2021-10-19 05:05] #2544 closed

[2021-10-19 05:39] xushiyan commented on #3821
@rohit-m-99 this is likely due to non-partitioned dataset

https://github.com/apache/hudi/blob/dbcf60f370e93ab490cf82e677387a07ea743cda/hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/commit/UpsertPartitioner.java#L254

getSmallFilesForPartitions() is parallelized over partitions. Try use 10-20 partitions may get this faster to <50s and make use of multiple executors.

[2021-10-19 05:44] rohit-m-99 commented on #3821
Thank you for the advice, how do you set the number of partitions when using df.write()?

Currently basing my code off of the intro guide found here: https://hudi.apache.org/docs/quick-start-guide.

I am specifically using pyspark.

[2021-10-19 05:58] xushiyan commented on #3814
@rubenssoto since you're on EMR, please use EMR pre-installed hudi jars instead of open source ones

[code]

change to

[code]

See more from
https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-hudi-installation-and-configuration.html
https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-hudi-work-with-dataset.html

And please engage with AWS support for EMR specific setup problems.

[2021-10-19 05:58] #3814 closed, assigned to nobody

[2021-10-19 06:03] xushiyan commented on #3821
@rohit-m-99 you'd need to partition your dataset the normal way you partition a spark dataset. Something like `df.repartition().write().format("hudi").partitionBy().mode().options().save()`. You can search more on how to do Spark partitioning.

[2021-10-19 06:08] rohit-m-99 commented on #3821
I see, as of now the main problem is that intuitively we'd partition by each `run` but each `run` is only about 2000-4000k records, so it is not immediately obvious on what field we should be partitioning by.

Any advice here would be appreciated. We chose to not partition by the `run` id for query performance (not to have too many partitions). But not sure about alternatives - our use case has pr

[2021-10-19 06:21] xushiyan commented on #3804
@rubenssoto On the metadata issue on EMR, please note that EMR has its own hudi built to work with other libraries bundled on each EMR release. See the version matrix here
https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-640-release.html

Therefore you'd be better off to stay with EMR's Hudi / Spark / Flink versions. Otherwise, if you want to use a different Hudi version, you may also need

[2021-10-19 06:21] #3804 closed, assigned to nobody

[2021-10-19 06:30] xushiyan commented on #3821
@rohit-m-99 it depends on your business logic. you can choose any field(s) that make sense for you (year/month/day, country, city, timezone, etc anything similar to those that makes sense) or simply use `hash(run_id)%10` to partition by the hash value's mod, which guarantees the number of partitions.

Hope this helps. And closing this now. if you run into further issues, feel free to follow up her

[2021-10-19 07:08] #3801 closed

[2021-10-19 16:55] Kavin88 opened #3826 "Deltastreamer not getting auto triggered in continuous mode"
Triggered spark submit --continuous --min sync interval 180 for delta streamer.

Spark submit is not getting triggered on the interval of each 3 minutes.

spark-submit \
--jars "/usr/lib/hudi/hudi-utilities-bundle_2.11-0.5.2-incubating.jar,/usr/lib/spark/external/lib/spark-avro_2.11-2.4.5-amzn-0.jar" \
--master yarn --deploy-mode cluster \
--conf 'spark.serializer=org.apache.spark.serializer.KryoS

[2021-10-19 18:43] xushiyan commented on #3758
@absognety @nsivabalan i think this relates to https://hudi.apache.org/docs/configurations#hoodiebulkinsertsortmode

by default the current Hudi config uses global sort that repartition for you. You could either skip calling `spark.repartition()` to save as Hudi or set the bulkinsert sort mode to `NONE`

[2021-10-20 01:26] melin opened #3828 "[Feature Request] Add a fetch table and partition valid file and return List[FileStatus]"
Read the table and partition valid file list to quickly get preview data，Hope to be able to provide the api。

[2021-10-20 04:02] #3735 closed

[2021-10-20 04:24] xushiyan commented on #3697
@Rap70r glad you got it improved! sorry not able to get to it earlier.

[2021-10-20 05:49] tchunchu commented on #2265
@nsivabalan With Hudi 0.9.0 version also we are seeing the same issue. Can you confirm if this is fixed.

[2021-10-20 09:54] stackls opened #3831 "Deltastreamer through Pyspark/livy"
spark-submit --packages org.apache.hudi:hudi-utilities-bundle_2.11:0.5.3,org.apache.spark:spark-avro_2.11:2.4.4 \
 --master yarn \
 --deploy-mode cluster \
 --conf spark.sql.shuffle.partitions=100 \
 --driver-class-path $HADOOP_CONF_DIR \
 --class org.apache.hudi.utilities.deltastreamer.HoodieDeltaStreamer \
 --table-type MERGE_ON_READ \
 --source-class org.apache.hudi.utilities.sources.JsonKafkaS

[2021-10-20 13:46] Limess opened #3834 "[SUPPORT] - AWS Athena snapshot query fails if there are two or more record array fields in a MoR table"
**Describe the problem you faced**

Querying the snapshot table (suffix `-rt`) fails using Amazon Athena when the schema contains two or more record array fields.

**To Reproduce**

Steps to reproduce the behavior:

1. Create Hudi table with two `array` columns in the the Glue data catalog (e.g see https://github.com/apache/hudi/issues/2657)
2. Attempt to query the `_rt` table with Athena

**Envir

[2021-10-20 14:20] shivabodepudi opened #3835 "Hudi deltastreamer using avro schema parser when using jsonKafkaSource"
when trying to read data from Kafka which is stored as Json from schema registry. using below configuration.

 "--schemaprovider-class",
    "org.apache.hudi.utilities.schema.SchemaRegistryProvider",
    "--source-class",
    "org.apache.hudi.utilities.sources.JsonKafkaSource",
    "--continuous",
    "--table-type",
    "COPY_ON_WRITE",
    "--hoodie-conf",
    "hoodie.deltastreamer.schemaprovide

[2021-10-20 15:17] shivabodepudi commented on #3835
As I am using JsonKafka source, not sure why avro is coming into picture.

[2021-10-20 16:15] Limess commented on #3834
After trying to narrow this down, we're beginning to suspect it occurs whenever two columns of type `array` feature anywhere in the schema - we have two columns of `array` type we can load independently without issues and query, but when adding both we run into the above issue/stacktrace.

[2021-10-20 23:56] xushiyan commented on #3831
1. deltastreamer is a spark application that supposed to run on a cluster. not sure how it fits into a CLI utility. if you want to just use a CLI command to submit the job as in it just triggers the submission, yea there is nothing stops you doing it.
2. most deltastreamer configs translates to hudi options internally, for e.g., --source-ordering-field matches precombine field option. I'd suggest

[2021-10-20 23:59] xushiyan commented on #3828
@melin can you elaborate a bit more by describing some scenarios?
@nsivabalan think this is related to metadata table. do we have similar features down the road?

[2021-10-21 00:15] #3759 closed

[2021-10-21 03:31] xushiyan commented on #3747
@stym06 noticed that you used 0.9.0-SNAPSHOT is this a custom build version? is it close to release-0.9.0 ? please let use know how it goes with hive 2.3.x, since current Hudi version is built against hive 2.3.1 and spark 2.4.4. thanks.

[2021-10-21 03:32] #3739 closed

[2021-10-21 03:37] nsivabalan commented on #3598
We have a fix [here](https://github.com/apache/hudi/pull/3820). Do try it out. Will close it out as we have a tracking jira and a fix.

[2021-10-21 03:37] #3598 closed

[2021-10-21 03:38] #3766 closed

[2021-10-21 05:08] xushiyan commented on #3705
@riritack as @danny0405 mentioned, `_hoodie_is_deleted` does not come with Hudi by default; it is a column you need to add manually to your schema to help Hudi perform hard delete. See https://hudi.apache.org/docs/writing_data/#deletes

Once you add it to your schema, it is just a normal field you can query.

[2021-10-21 05:08] #3705 closed

[2021-10-21 06:00] stym06 commented on #3747
@xushiyan thanks for reverting. I have set up a standalone hive metastore (https://repo1.maven.org/maven2/org/apache/hive/hive-standalone-metastore/3.1.2/hive-standalone-metastore-3.1.2-bin.tar.gz) and am trying to run this sync job in a separate container in a K8s environment.

Can you please let me know the right way to sync this Hoodie table? The base path is Azure wasb filesystem

[2021-10-21 06:57] hanson2021 opened #3838 "[SUPPORT]Can Hudi support more hive version?"
Hadoop: 3.0.0-cdh6.3.2
Hive：2.1.1-cdh6.3.2
Flink: 1.13.1
Scala: 2.11
(1) set hudi/pom.xml hive.version=2.1.1 to  recompile like this：
mvn clean install -DskipTests -DskipITs -Dcheckstyle.skip=true -Drat.skip=true -Dscala-2.11 -Dhive.version=2.1.1 -Pflink-bundle-shade-hive2 -Dflink.version=1.13.1
Error info as following:
[code]
(2) After use default pom.xml to recompile ,when run flink sql on yarn

[2021-10-21 07:21] laurieliyang opened #3839 "[Documentation] How can I translate the docs ?"
I'm a PM in China. Our team is thinking of using Hudi in our project.

I want to translate the docs for my colleagues, but I get a 404 error everytime I click the _Edit this page_ on the doc page.

[2021-10-21 08:45] Limess opened #3840 "[Documentation] Blog discoverability"
As a newcomer to the Hudi project, I'd like to suggest a rework of the long-form blog content available on Hudi.

Some of the blogs are great, well written, informative, and with examples. Unfortunately there are some issues with the discoverability and cohesion with the rest of the documentation:

* The blog posts aren't sufficiently discoverable. Upon visiting https://hudi.apache.org/blog/ I see

[2021-10-21 10:12] sbernauer opened #3841 "Schema evolution improvement in 0.9.0 brakes existing applications"
Hi Hudi-Team, we updated our patched Hudi 0.8.0 (commit https://github.com/apache/hudi/commit/8f7ad8b178ac3d394f88ac1c21f701138126fa04) to Hudi 0.9.0
Around 30% of our applications suddenly stopped working. We don't have an easy way of roll-backing all of our Hudi-Tables to pre 0.9.0.

**To Reproduce**

Steps to reproduce the behavior:
We use Hudi Deltastreamer 0.9.0 ingesting from Kafka  Our sche

[2021-10-21 12:19] MikeBuh commented on #3751
So, some of the things have changed and performance has increased but we are still struggling to get the best possible results. Hereunder please find an updated detailed explanation.

### Current Setup
**Input Data**
- Avro Files
- 25MB each
- 250 / 6GB per day

**Resources**
_Tried various configurations and this is the most solid and performant given the available hardware_

- num-executors 19
-

[2021-10-21 15:25] Limess commented on #3834
I was able to reproduce this using Presto on EMR

EMR 6.4.0
Presto 0.254.1

[code]

[2021-10-21 15:33] parisni commented on #3731
@nsivabalan still having random errors : I am not able to make the OCC working correctly, even when each writer deal with a dedicated partition (this should not trigger error)

[2021-10-22 02:49] xushiyan commented on #3840
@Limess great suggestions! Maybe @kywe665 can follow up here.

[2021-10-22 03:30] laurieliyang commented on #3839
Thanks for your help.

I'll learn the PR mentioned above first, and ask for help if I need then.

[2021-10-22 06:16] mutoulbj opened #3845 "[SUPPORT]`if not exists` doesn't work on create table in spark-sql"
**Describe the problem you faced**

when use `create table if not exists` to create hudi table, get error when table exists.

**To Reproduce**

Steps to reproduce the behavior:

1. run `create table if not exists ttt (id bigint, name string) using hudi options (type='cow', primaryKey='id');`, succeed create the ttt table;
2. rerun it,get error: `Error in query: Specified schema in create table sta

[2021-10-22 13:48] BenjMaq opened #3848 "[SUPPORT] Cannot write to null outputStream error"
**Describe the problem you faced**

When using Hudi Spark SQL and running `INSERT INTO` on a Hudi table, it errors with `Cannot write to null outputStream`. See stack trace below. It seems that `org.apache.hudi.hive.HoodieHiveClient.close` has been updated in [this PR](https://github.com/apache/hudi/pull/2879). Could that be the cause of this error?

**To Reproduce**

Steps to reproduce the behavi

[2021-10-23 13:32] #3839 closed, assigned to nobody

[2021-10-24 03:30] JySongWithZhangCe opened #3852 "[SUPPORT]Support manually make snapshot"
The business requirements take a daily snapshot of the data for each day. Administrators taking snapshots of all data tables at the same point in time can help manage data tables in this scenario.

[2021-10-24 15:11] stackls opened #3853 "Deltastreamer S3 EventsSource"
Downloaded the 0.9.0 hudi bundle jars and submitted below spark submit command. Getting S3EventsSource class not found error. EMR is 5.33.1 version which comes with 0.7.0 hudi.

Please let me know if i am missing anything.

spark-submit \
--jars "/home/hadoop/hudi/hudi-utilities-bundle_2.11-0.9.0.jar,/home/hadoop/hudi/spark-avro_2.11-2.4.7.jar,/home/hadoop/hudi/aws-java-sdk-sqs-1.12.22.jar" \
--ma

[2021-10-24 18:24] Limess opened #3854 "[SUPPORT] Lower performance using 0.9.0 vs 0.8.0"
**Describe the problem you faced**

When benchmarking Hudi on a sample dataset we're seeing 30% lower performance using Hudi 0.9.0 vs Hudi 0.8.0 (on EMR, so technically Amazon's build of Hudi here) on both MoR and CoW workloads - 10 minutes -> 15 minutes.

This is write into a new Hudi table from parquet files.

For comparison, bulk inserts are slightly faster with Hudi 0.9.0:

![Screenshot 2021-1

[2021-10-24 23:59] xushiyan commented on #3760
@data-storyteller @rubenssoto can you check out this guide prepared by @nsivabalan (to be merged to website) and see the instructions help? https://github.com/apache/hudi/commit/959bd6eef8c90c11616840f975ef40a46222a913?short_path=aff66ea#diff-aff66ea1c34953a024c85c6e2fe86b8521b6cd3d623377a96d8d79c6caa8de13

@data-storyteller

[code]

Looks like it's a jar issue. Are you using hudi bundle jar? can

[2021-10-25 00:03] xushiyan commented on #3392
Close due to inactive

[2021-10-25 00:03] #3392 closed

[2021-10-25 01:14] #3845 closed, assigned to nobody

[2021-10-25 03:24] boneanxs opened #3856 "[SUPPORT] Maybe should cache baseDir in nonHoodiePathCache in HoodieROTablePathFilter?"
For a non hoodie table, with table path: `hdfs://test/warehouse/db/table`, 3 partition columns(p1, p2, p3), for a specific partition, like(p1=A, p2=B, p3=C), the path should be `hdfs://test/warehouse/db/table/p1=A/p2=B/p3=C`, HoodieROTablePathFilter will check baseDir(hdfs://test/warehouse/db/table) is a valid HoodieTable path or not, othervise, cache `hdfs://test/warehouse/db/table/p1=A/p2=B/p3=C

[2021-10-26 06:34] #3852 closed, assigned to nobody

[2021-10-26 09:22] matthiasdg opened #3868 "[SUPPORT] hive syncing with `--spark-datasource` (first title was: Querying hudi datasets from standalone metastore)"
**Describe the problem you faced**
We're running hudi (now 0.9 with spark 3.1.2) with Azure data lake storage gen2, and are now trying to get the hive integration working. Since we're running everything on Kubernetes, we got inspired by https://itnext.io/hive-on-spark-in-kubernetes-115c8e9fa5c1 and run `hive-standalone-metastore-3.0.0` (Dockerfile cf. https://gist.github.com/joshuarobinson/2d6142d

[2021-10-26 13:51] atharvai opened #3870 "[SUPPORT] Hudi v0.8.0 Savepoint rollback failure"
**Describe the problem you faced**

Given a savepoint, rollback fails with no error messages.

**To Reproduce**
Environment: EMR 6.4.0, S3

Steps to reproduce the behavior:

1. create Hudi dataset
2. add some data so there are multiple commits
3. create a savepoint
4. try to rollback savepoint
For detailed instructions see attached PDF
[HudiSavepointsandCommitsdiscovery.pdf](https://github.com/apa

[2021-10-26 14:11] #3758 closed, assigned to nobody

[2021-10-27 15:58] stackls opened #3878 "Hudi MultitableDeltasteamer - Null Pointer Exception"
@nsivabalan @vinothchandar @pratyakshsharma @codope

As per this link https://github.com/apache/hudi/issues/2406 , Null pointer exception for Multitables had been fixed. Still Its throwing the error.

Hudi - 0.8.0

spark-submit --jars "/usr/lib/hudi/hudi-utilities-bundle_2.12-0.8.0-amzn-0.jar,/usr/lib/spark/external/lib/spark-avro_2.12-3.1.2-amzn-0.jar"
--master yarn --deploy-mode cluster
--class

[2021-10-27 20:43] jardel-lima opened #3879 "[SUPPORT] Incomplete Table Migration"
**Describe the problem you faced**

I am trying to migrate some tables to hudi format, but I am facing some issues. We have a 7GB (snnapy compacted) table with 200M rows, 49 columns and just one partition. Using PySpark DataSource the migration finished without any error, although I notice that about 10000 rows were missing in the hudi table. I have tried to migrate the table again, but the same i

[2021-10-28 09:42] #3878 closed, assigned to nobody

[2021-10-29 04:52] #3853 closed, assigned to nobody

[2021-10-29 10:59] stym06 opened #3890 "[SUPPORT] Hudi Sync did not add previous partitions"
**_Tips before filing an issue_**

**Describe the problem you faced**

Hudi HiveSyncTool did not add some partitions in Hive, and just added the newest partition

**Expected behavior**

It should have added all the partitions

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 2.4.4

* Hive version : 3.2.1

* Hadoop version : 3.1.1

* Storage (HDFS/S3/GCS..) : Azure

* Running

[2021-10-29 12:40] bkosuru opened #3892 "Insert produces 44764 files with ~50MB each"
Hello,

I am trying to copy 2.4 TB of data stored in hudi to another location in hdfs because we lost commit history due to default commit settings.

The source had 3411 files where as the copy is creating 44764 small files(~50MB each). How do I keep the file count about same as the original? It takes longer to load data from the copy when you run queries.  ("Listing leaf files and directories " j

[2021-10-29 18:05] bkosuru commented on #3892
Any idea why INSERT created 44764 files?

[2021-10-29 22:32] pranotishanbhag commented on #3841
Hi,

I am facing the same issue with 0.9. My schema is as below
[code]

I do have a list of item_pairs but I do not see any column repeating in my schema.

I have also set these options:
[code]

Also set hoodie.avro.schema.validate = true But i dont see any schema issue reported with this option.

I am using COW mode with Hudi 0.9 and spark 2.4.

Please can you help with this as my launch is block

[2021-10-29 22:33] pranotishanbhag commented on #3841
Stack trace:
[code]

[2021-10-30 00:52] umehrot2 commented on #3841
Removing from `blocked-on-user` and marking as a `release blocker`. This has been reported in slack as well https://apache-hudi.slack.com/archives/C4D716NPQ/p1635490536147600. Although I haven't tried reproducing it, but my hunch is that this is because on underlying parquet issue https://github.com/apache/parquet-mr/pull/560. So, after the initial write, when you later perform upsert, it fails wh

[2021-10-30 00:54] pranotishanbhag commented on #3841
From the logs:

[code]

[2021-10-30 01:04] aharbunou-branch opened #3894 "[SUPPORT] Property hoodie.datasource.write.recordkey.field not found during version ONE to TWO migration"
**Describe the problem you faced**

I'm migrating Hudi from 0.8.0 to 0.9.0.
I'm testing it with simple workflow that gets data from s3 and puts to a Hudi table via Spark. This workflow is running fine for 0.8.0 in production.
When I try 0.9.0 and create brand new table then everything works fine, but when I try to add data to existed Hudi table I see the following error `Error syncing to metadata

[2021-10-30 07:21] Cherry-Puppy opened #3895 "[SUPPORT] flink hudi sync hive"
org.apache.hudi.exception.HoodieException: Failed to read schema from commit metadata
	at org.apache.hudi.common.table.TableSchemaResolver.getTableSchemaFromCommitMetadata(TableSchemaResolver.java:271) ~[pool-1-thread-6-1635578219030-hudi-flink_2.11-0.10.0-SNAPSHOT.jar:0.10.0-SNAPSHOT]
	at org.apache.hudi.common.table.TableSchemaResolver.getTableSchemaFromCommitMetadata(TableSchemaResolver.java:24

[2021-11-01 08:46] haoliang7 opened #3898 "[SUPPORT] Hudi vs Hoodie"
The project is spelled as Hudi but in many places of the source code it is spelled as Hoodie. Why? Is Hoodie an early version of Hudi? It makes the readers of the source code very confused.

[2021-11-01 09:27] dongkelun commented on #3892
Try to set `HoodieCompactionConfig.COPY_ON_WRITE_RECORD_SIZE_ESTIMATE.key()` to a small value, such as 64, may solve this problem

[code]

[2021-11-01 17:09] codope commented on #3782
@umehrot2 Do you have a patch that can be tested?

[2021-11-01 17:40] bkosuru commented on #3892
Hi @dongkelun,
Thanks for the suggestion. The number of files reduced to 2998 for INSERT. I have couple of questions.

1) What options control the size and number of parquet files for INSERT?
2) If it takes same amount of time to copy/write the data, which option is better for query performance INSERT or BULK_INSERT? Overall which is better INSERT or BULK_INSERT?

Thanks,
Bindu

[2021-11-01 22:26] nsivabalan commented on #3892
Let me try to explain. @bhasudha : Can you document this somewhere. might be useful for everyone in the community in general.

Bulk_insert:
This does not do any small file handling.
And so, solely relies on  HoodieCompactionConfig.COPY_ON_WRITE_RECORD_SIZE_ESTIMATE.key() and parallelism set for bulk_insert.

Insert:
Will do small file handling and could bin back incoming records to existing files.

[2021-11-01 22:40] nsivabalan commented on #3898
yes. It was named Hoodie initially and when officially entering apache, it was renamed to Hudi. Both can be used interchangeably. Most code references use Hoodie, but in general for other purposes, we use Hudi.

[2021-11-01 22:41] nsivabalan commented on #3894
Can you disable metadata and give it a try.
`hoodie.metadata.enable` = false.

[2021-11-01 22:42] nsivabalan commented on #3894
Would you mind following this up @prashantwason please.

[2021-11-01 22:44] nsivabalan commented on #3890
Can you take this up @codope please.

[2021-11-02 01:05] haoliang7 commented on #3898
@nsivabalan Got it. Thank you for explanation. IMHO, it's better to unify the names.

[2021-11-02 01:05] #3898 closed

[2021-11-02 11:01] novakov-alexey commented on #3558
I have gotten the same error when trying to upsert Double to Int in Hudi table:

[code]

Spark: 3.1.2
Hudi: 0.9

[2021-11-02 12:36] novakov-alexey commented on #3558
@codope it seems the issue is in HiveSync feature. I am trying to upsert column A with double type to existing Hudi table with column A in Int type. Upsert works, but Hudi sync to Hive it fails with exception above.
Should I try to recreate Hive table via DDL manually?

[2021-11-02 12:44] kenny291 commented on #3558
@novakov-alexey, double to int is not compatibility in Avro schema revolution
http://avro.apache.org/docs/current/spec#Schema+Resolution

[2021-11-02 13:51] novakov-alexey commented on #3558
@kenny291 sorry, I made a mistake. I have just edited my last 2 messages. I am trying to insert
int -> double
long -> double.

Besides sync to Hive issue, I also have such exception:

[code]

[2021-11-02 14:42] jadireddi commented on #3558
@nsivabalan , Hudi uses `parquet-avro`. So there is a slight variation for the primitive typesconversion  between avro and parquet-avro.

AFAIK,
int is promoted to int
long is promoted to int, long
double is promoted to int, long, float, double.

Ref: https://github.com/apache/parquet-mr/blob/59e9f78b8b3a30073db202eb6432071ff71df0ec/parquet-avro/src/main/java/org/apache/parquet/avro/AvroConverters

[2021-11-02 15:45] novakov-alexey commented on #3558
I was also using  ENABLE_ROW_WRITER.key -> "true" which cases below:

[code]

if I set this flag to false, then those earlier posted errors arise.

All in all, it seems we have 3 issues here.

[2021-11-02 16:33] JB-data opened #3905 "[SUPPORT] Transform from kafka complains about table not found when using transformer.sql"
Dear experts,
we are trying to read data from a kafka topic and write it with hudi applying a transformation. Note our hudi command has worked before without transformation. Also we are working on a cluster that is configured very well and overall working fine.

**Command used"
the relevant part of the spark-submit command is:
[code]

**Stacktrace**
We keep on getting following error complaining a

[2021-11-02 16:54] BartPeetersEnjoyer opened #3906 "[SUPPORT] HoodieDeltaStreamer job (Kafka -> Hive) giving 'Hoodie table not found in path' error"
We have a working HoodieDeltaStreamer job that ingests data from a Kafka queue into a Hive table. This table needs to be refactored, so the currently working files have been copied and edited to do the same job but land the data in a different table (different path). We have been running into the same error for a few days and have run out of ideas of how to solve it.

Our spark-submit command:
`sp

[2021-11-02 17:07] JB-data commented on #3905
I have seen by coincidence @nsivabalan respond to similar questions.. maybe he is so kind to take a look?
Thanks!

[2021-11-02 17:39] prashantwason commented on #3894
Looking into this.

[2021-11-02 18:15] aharbunou-branch commented on #3894
thank you @nsivabalan @prashantwason for looking into this.
it works with `hoodie.metadata.enable = false`, but what will be the downside of setting it `false`?

[2021-11-02 18:34] prashantwason commented on #3894
@nsivabalan @vinothchandar  The issue here is that metadata table does not define the required properties hoodie.datasource.write.recordkey.field and hoodie.datasource.write.partitionpath.field in its WriteConfig. These properties are not required since the records are manually created to be written to the metadata table. So essentially the upgrade of HUDI with metadata table enabled from 0.8 -> 0

[2021-11-03 08:05] Kavin88 opened #3913 "[SUPPORT] Hudi deltastreamer deployment Model"
what is the deployment model to be followed for Hudi deltastreamer ? Could not find any references other than direct spark-submit. Can it be called through Python code(with spark) ? property and config file would be different for each table.

[2021-11-03 14:50] vortual opened #3919 "[SUPPORT]Error obtaining data file/log file grouping when spark query MOR hudi table"
**Describe the problem you faced**
hudi version: 0.9.0
hudi版本：0.9.0

table type:  merge on read
表类型：merge on read

when the log file haven't compact,the base file haven't generate yet. spark query the table have an error
当log文件还没被压缩生成对应的basefile时，spark查询会报错

Error log:
`org.apache.hudi.exception.HoodieException: Error obtaining data file/log file grouping
  at org.apache.hudi.hadoop.utils.HoodieRe

[2021-11-03 15:14] vortual commented on #3919
我找到了出问题代码的地方，在HoodieRealtimeInputFormatUtils类里面：
List<FileSplit> dataFileSplits = groupedInputSplits.get(fileSlice.getFileId());
这一行groupedInputSplits这里存的是每个file group对应的parquet文件，没有包括log文件
fileSlice是新增的log，因为groupedInputSplits里面没有对应的filegroup，只有parquet没有log，所以得到的dataFileSplits 为空。之后再调用dataFileSplits.forEach(split -> {})时就会出现空指针异常。

I have found the wrong code, inside the HoodieRealtimeInputFormat

[2021-11-03 20:01] awsalialem commented on #3707
Thank you for you attention to this issue. It seems that AWS Kinesis Data Analytics Studio (KDA) now supports both flink versions (1.11 and 1.13).
I created two applications with either versions. I used Hudi 0.9.0 with flink 1.11 and Hudi 0.10.0-SNAPSHOT (master branch) with flink 1.13.

With Hudi 0.9.0 and flink 1.11 I get the above mentioned error.
With Hudi 0.10.0-SNAPSHOT and Flink 1.13 I get

[2021-11-04 05:36] danny0405 commented on #3707
0.9.0 adapter to flink 1.12.2 only.

`ClassNotFoundException: org.apache.hadoop.conf.Configuration` is because flink bundle does not package in the hadoop jar, you need to set up the env variable `HADOOP_CLASSPATH` correctly for your local test.

Usually, the `HADOOP_CLASSPATH` is the root dir of the hadoop.

[2021-11-04 06:34] ibudanaev-crunchyroll commented on #3707
@xushiyan Hi, per @awsalialem comment, aws KDA does [support](https://aws.amazon.com/about-aws/whats-new/2021/10/amazon-kinesis-data-analytics-apache-flink-version-1-13/) Flink 13.2 version.
Since @danny0405 mentioned that `0.9.0 adapter to flink 1.12.2 only.`, where can I download the right flink hudi connector for Flink 13.2 version?

[2021-11-04 10:12] danny0405 commented on #3707
The master code already adapter to Flink 1.13.1, which is compatible with Flink 1.13.2.

[2021-11-05 01:38] James601232 opened #3924 "[SUPPORT] get newest master codes and compile failed"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-11-05 04:05] nsivabalan commented on #3892
Let me know if you are looking for more pointers. Or can we close out the issue.

[2021-11-05 04:15] nsivabalan commented on #3841
@xushiyan : looks like another ask for parquet upgrade

[2021-11-05 04:20] nsivabalan commented on #3834
CC @codope

[2021-11-05 04:21] nsivabalan commented on #3828
yes, Metadata table does provide this. Curious to know whats the use-case here.

[2021-11-05 04:29] nsivabalan commented on #3603
@fengjian428 : hey, is there any updates for us. We can try to reproduce if you are stuck with the issue.

[2021-11-05 04:39] nsivabalan commented on #3418
@FeiZou : if you are still having the issue, can you provide us with reproducible steps.

[2021-11-05 04:52] nsivabalan commented on #2934
@jsbali / @t0il3ts0ap : Did either of you folks got a chance to upstream your changes.

[2021-11-05 04:55] nsivabalan commented on #2802
@codope : related to schema evolution. I remember you tried a similar usecase, testing out updating few partitions w/ a new filed added.

[2021-11-05 09:12] danny0405 commented on #3680
![image](https://user-images.githubusercontent.com/7644508/140486460-8c8fe27c-f925-4cc2-805c-b77923ec7218.png)
Can you join the ding talk group if you are chinese, we can solve the problem there ?

[2021-11-05 09:36] melin commented on #3828
sql: read table table_name
1、The sql read the file data directly and obtained the data. The data file requires the need for the table.
2、When displaying the table partition information, read the parquet file metadata directly to obtain the rows
![image](https://user-images.githubusercontent.com/1145830/140490010-28dc3581-b14b-4306-aa70-25bf67f7cdc3.png)

[2021-11-05 11:44] nsivabalan commented on #3894
@prashantwason : we haven't done any backporting so far. We can ask the user to disable metadata for now. but let's get it fixed in master.

[2021-11-05 11:53] nsivabalan commented on #3831
My understanding is that, you run pyspark job in spark-submt?
https://www.tutorialkart.com/apache-spark/submit-spark-application-python-example/
or am I getting your requirement wrong.

[2021-11-05 11:55] nsivabalan commented on #3913
My understanding is that, you run pyspark job in spark-submt?
https://www.tutorialkart.com/apache-spark/submit-spark-application-python-example/
or am I getting your requirement wrong.
If you have multiple tables, yeah, each one has to be different. But hudi does provide a [MultiTableDetlastreamer](https://hudi.apache.org/blog/2020/08/22/ingest-multiple-tables-using-hudi).  Please check it out if

[2021-11-05 12:32] nsivabalan commented on #3924
I tried w/ latest master and is good for me.
my commit hash is 3af6568d316f410184e3d4dcfdbf00a8802b1fb8

[2021-11-05 12:33] nsivabalan commented on #3868
hey. Can you give us full set of configs you used to create/write to hudi table along with sync configs used. would help us triage the issue.

[2021-11-05 13:24] nsivabalan commented on #3924
I tired for spark2 scala 11 and also for spark3 and scala12

[2021-11-06 11:00] James601232 commented on #3924
@nsivabalan  i want to know what command do u used?i use  mvn clean package -DskipTests -Dspark3 was failed.
and my env info as following:

java -version:
![image](https://user-images.githubusercontent.com/19258506/140607129-8f2a628c-ae64-4f43-8b43-bea38cc80005.png)

scala version:
![image](https://user-images.githubusercontent.com/19258506/140607155-d6c0ce6b-617e-4afa-b3a5-0d720aa39f64.png)

now

[2021-11-06 11:31] Limess opened #3933 "[SUPPORT] Large amount of disk spill on initial upsert/bulk insert"
**Describe the problem you faced**

We're seeing slow execution and large amounts of disk spill when loading a 4.3TB JSON dataset using Hudi upsert/bulk insert (we tried both modes). This results in a slow runtime given the size of the cluster.

We didn't see the same behaviour when loading 1 day, or 1 month of the dataset (the full load is the equivalent of 450 days of data).

**Environment Descr

[2021-11-06 15:38] melin opened #3934 "[SUPPORT]Add AS OF syntax support"
https://github.com/apache/spark/pull/34497

[code]

[2021-11-07 02:20] melin opened #3935 "[SUPPORT][SQL] Add Optimize + VACUUM syntax support"
Refer to the databriks syntax：
Optimize ： https://docs.databricks.com/delta/quick-start.html#optimize-a-table
VACUUM ：https://docs.databricks.com/delta/quick-start.html#clean-up-snapshots

[2021-11-07 21:16] nsivabalan commented on #3924
mvn clean package -DskipTests -Dspark3
[code]

[2021-11-07 21:17] nsivabalan commented on #3924
So, you mean to say, mvn package command succeeds in command line, just that your IDE does not resolve the dependencies?

[2021-11-07 21:21] vinothchandar commented on #3924
The first error is kind of weird. It looks under "org.apache.hudi.org.apache"  for some reason. Do you have any classpaths, java_home or anything set differently?

[2021-11-08 02:30] James601232 commented on #3924
I meaning command line and ide errors are same. error occur in DataSourceReadOptions file. errors info as following:
[ERROR] /Users/yangcailiang/Codes/hudi/hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DataSourceOptions.scala:20: error: object hudi is not a member of package org.apache.hudi.org.apache
[ERROR] import org.apache.hudi.DataSourceReadOptions.{QUERY_TYPE, QUERY_

[2021-11-08 02:35] James601232 commented on #3924
Dear vinothchandar. i have two jdks. jdk11 and jdk8. but i set current jdk version is jdk8 when compile hudi codes. my
env info as following:
TERM_SESSION_ID=w0t0p0:80730AB3-BC76-4772-9033-6F492AAC2ADF
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.xmwcjhVwiA/Listeners
LC_TERMINAL_VERSION=3.4.6
COLORFGBG=7;0
ITERM_PROFILE=Default
XPC_FLAGS=0x0
LANG=zh_CN.UTF-8
PWD=/Users/james/Codes/hudi
SHELL=/bin/

[2021-11-08 07:26] joha0123 opened #3941 "[SUPPORT] How to access the Hudi commit statistics"
Our team wants to switch all ETL processes to Hudi, but I have the problem that I cannot find a way to access the Hudi metrics.
What I am trying to achieve is, that after a commit I am having a HoodieMetrics object, from which I can pick the metrics that I am interested in. In the end I need to log the metrics into a database after each commit.

What is the way to do this? I tried setting `hoodie.

[2021-11-08 07:50] James601232 commented on #3924
Dear @nsivabalan  @vinothchandar
i change a new laptop and download new master codes. compile and package are all worked fine. and i will go on fixed the error that on my old laptop.   thank u so very much help me verified the issue.

[2021-11-08 12:32] Limess opened #3945 "[SUPPORT] hoodie.datasource.write.drop.partition.columns not working as expected (deltastreamer)"
**Describe the problem you faced**

We're running a deltastreamer job into a new Hudi table.

We have a partition column: `story_published_partition_date`, and we set `hoodie.datasource.write.drop.partition.columns=true`.

When the execution completes, we observe that the partition column is present in the parquet file, and data:

[code]

Configuration:

[code]

The properties file referenced abov

[2021-11-08 15:06] jsbali commented on #2934
@nsivabalan Just pushed my changes https://github.com/apache/hudi/pull/3946

[2021-11-08 22:12] vinothchandar commented on #3688
is this during compaction?

[code]

[2021-11-09 02:32] #3924 closed

[2021-11-09 02:40] danny0405 commented on #2215
@wxplovecc I have fired a fix here https://github.com/apache/hudi/pull/3951/files，please verify if it can solve your problem.

[2021-11-09 11:03] Limess opened #3953 "[SUPPORT] Schema validation always fails if mixing writers (Deltastreamer/Spark)"
**Describe the problem you faced**

Schema validation using:

[code]

always fails due to mismatched namespaces when writing using Deltasteamer with `RowBasedSchemaProvider` and Spark Datasource writer against the same Hudi table.

Deltastreamer always sets the Avro namespace and name to

https://github.com/apache/hudi/blob/e057a10499729301ebe96d7cd54902b113af1811/hudi-utilities/src/main/java/org/

[2021-11-09 11:14] parisni commented on #3731
Tried zookeeper implem. Again random errors rise. This only apply when concurrent writers > 2

[2021-11-09 14:26] matthiasdg commented on #3868
Ok, should be doable.
So typically, we partition by time, sometimes by an id as well. One example (using datasource writer):
[code]
(Could be that there is a typo here or there; reconstructed this through some abstraction layers).
We read raw files through spark, hence have microsecond timestamps for all our data. We sometimes specify ports since we also run in k8s client mode so executor pods nee

[2021-11-09 15:38] Kavin88 commented on #3831
i need to ingest 100 tables through deltastreamer and spark job would be running in continuous mode.  My thought is to implement this through python code  with sparksession and do the livy submit calling the pyfile. Could find anywhere to integrate the --props and --source-class parameter directly in python code rather than passing it through spark-submit. Planning to achieve this in generic code

[2021-11-09 16:46] rubenssoto opened #3954 "[Feature Request] Integration with AWS Glue"
Hello,

We are migrating our spark stack from EMR to EKS, we use Hudi in all our pipelines. Spark Doesn't have an integration with AWS Glue, so to make Hudi works with Glue I will have to have a EMR with Hive in the middle.

It would be good if Hudi had an integration direct to Aws Glue.

Thank you.

[2021-11-10 02:50] xushiyan commented on #3954
@rubenssoto Hudi hive sync works out-of-box with Glue metastore see section "Registering a Hudi dataset with your metastore" in https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-hudi-how-it-works.html

[2021-11-10 09:15] 0x3E6 opened #3960 "[SUPPORT]How to auto sync "add column" by flink ?"
**To Reproduce**

Steps to reproduce the behavior:

1. Create a mysql-cdc table A_cdc to capture mysql table A by flink sql
2. Create a hudi table B_hudi to write data to hive table B by flink sql
3. Execute flink sql `insert into B_hudi select * from A_cdc`
4. Add a column to table A

It seems that if you want to add columns, you must redefine the schema and restart the task.

How to sync "add co

[2021-11-10 09:59] stym06 opened #3961 "[SUPPORT] Hudi DeltaStreamer failing during Cleaning operation"
**Describe the problem you faced**

Deltastreamer tool is failing during the clean operation

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 2.4.4

* Hive version : 3.1.2

* Hadoop version : 3.1.2

* Storage (HDFS/S3/GCS..) : Wasb

* Running on Docker? (yes/no) : K8s

**Stacktrace**

[code]

[2021-11-10 11:21] vortual commented on #3919
I noticed that this problem didn't occur when I set write.bucket_assign.tasks =1.

[2021-11-10 15:28] James601232 opened #3963 "[SUPPORT] Use hudi-java-client to create hudi table incorrect"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Use hudi

[2021-11-10 17:12] vinothchandar commented on #3935
vaccum (called "Cleaning") is already done automatically by Hudi. Not sure if there is a need to expose it . http://hudi.apache.org/blog/2021/06/10/employing-right-configurations-for-hudi-cleaner/ please let us know what you think. Similar for clustering. It is already automanaged during writes during configs. But I think there is a JIRA open for this.

@melin love to hear yourthoughts.

[2021-11-10 19:20] #3892 closed

[2021-11-10 19:24] nsivabalan commented on #3890
@stym06 : can you post the contents of .hoodie. We can deduce if archival is the issue here.

[2021-11-10 19:26] Frogglet opened #3965 "[SUPPORT] Upserts result in truncated milliseconds from timestamps"
**Describe the problem you faced**

This issue seems distinct from issue https://github.com/apache/hudi/issues/3429 because it involves loss of millisecond precision, not just microsecond precision.

We are using the Spark-hive integration on EMR. Initially we are running a bulk insert to get the data in place. Among the columns are a few timestamp columns with millisecond precision. After the bul

[2021-11-10 19:29] nsivabalan commented on #3879
this seems very strange, that same no of records are missing everytime. Can you try by disabling row writer (`hoodie.datasource.write.row.writer.enable`) to see if the issue goes away? I don't suspect this to be an issue, but just in case.

[2021-11-10 19:32] nsivabalan commented on #3961
would you mind posting the contents of base path and .hoodie folder.
highly unlikely, but Is there a chance some other process writes any extra files to hoodie base path.

[2021-11-10 19:39] nsivabalan commented on #3854
yes, bulk insert boost is due to row writer, but not very sure on upsert operations.
Are you clarify for hudi and spark versions, is it EMR's version or open source one.

[2021-11-10 19:53] Limess commented on #3854
EMR versions for Spark and Hudi 0.8.0, open source Hudi 0.9.0

[2021-11-10 23:31] rubenssoto opened #3966 "[SUPPORT] Hudi Sync Remote Hive - EKS"
Hello Guys,

We are starting to deploy Spark on Kubernetes and we need to Hudi sync with our Hive metastore, but we are facing a lot of errors like you could see on the following logs:
[log_2.txt](https://github.com/apache/hudi/files/7516536/log_2.txt)

Our hive metastore is in another Pod, but in the same cluster.

We create hive-site.xml, but with spark in kubernetes is not possible to use the $

[2021-11-10 23:41] rubenssoto commented on #2439
@matthiasdg Could help me?

I dont understand your solution
src/main/resources

I dont regonize this path

[2021-11-11 01:19] rubenssoto commented on #3966
I have no problems to create and query tables in hive using spark

[code]

<img width="1583" alt="Captura de Tela 2021-11-10 às 22 18 28" src="https://user-images.githubusercontent.com/36298331/141219711-a02a167b-c657-4087-a59b-a18f175d07ba.png">
<img width="1519" alt="Captura de Tela 2021-11-10 às 22 17 21" src="https://user-images.githubusercontent.com/36298331/141219715-61f484a1-8a7a-46cd-9fe

[2021-11-11 01:23] rubenssoto commented on #3966
My hive-site:

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>javax.jdo.option.ConnectionURL</name>
    <value>jdbc:postgresql://DATA_BASE_URL:5432/metastore</value>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionDriverName</name>
    <value>org.postgresql.Driver</value>

[2021-11-11 01:53] Vander111 opened #3969 "[SUPPORT] When will version 0.10 be released?"
When will version 0.10 be released? I'm looking forward to the official version.

[2021-11-11 02:11] xushiyan commented on #3969
The release date has been discussed over dev email list. Please subscribe by following https://hudi.apache.org/community/get-involved

This was discussed there
https://lists.apache.org/thread/otbkhsj0or0rqf0roxx20w13vrqgzbrl

[2021-11-11 02:11] #3969 closed

[2021-11-11 02:23] xushiyan commented on #3965
@Frogglet can you also share the schema you're dealing with pls? When you see the timestamps being truncated, did you mean the hive table schema changed? so it's likely due to some hive sync issue

[2021-11-11 02:33] xushiyan commented on #3963
@James601232 I'm not sure if i get it. In the code `client` it does not do any upsert/insert/bulkinsert operation, it's just to init a hudi table, which it did by creating `.hoodie/`. You need to use the client to write data to the table as well if you intend to do so.

[2021-11-11 02:45] xushiyan commented on #3960
@danny0405 is schema evolution supported with flink writer? i recall it isn't but not 100% sure.

[2021-11-11 03:12] Frogglet commented on #3965
@xushiyan Hey, I'm using AWS Glue for my Hive metastore, and according to glue the types for these timestamps is just "bigint". So, it's not changing the schema, it is just integer dividing by 1000. For example, before this change, a value might be `1628643404092`, which is a unix timestamp in milliseconds. After my upsert, if that row was affected the value would become `1628643404`, losing the m

[2021-11-11 03:28] #3791 closed

[2021-11-11 03:35] kywe665 commented on #3840
Almost forgot to return here. Pulled in some of the core concepts only found in blog into the docs with this PR: https://github.com/apache/hudi/pull/3855
Until 0.10.0 cut, you can view it live with /docs/**next**/ in the URL. For the blogs page layout, I created this JIRA: https://issues.apache.org/jira/browse/HUDI-2739

[2021-11-11 03:41] #3840 closed

[2021-11-11 07:01] 0x574C opened #3971 "[SUPPORT] HoodieFlinkStreamer parameter bug"
**To Reproduce**

Steps to reproduce the behavior:

1.When use org.apache.hudi.streamer.HoodieFlinkStreamer, set avro schema with `--source-avro-schema`.
2.The method `org.apache.hudi.util.StreamerUtil#getSourceSchema(org.apache.flink.configuration.Configuration)` says `--source-avro-schema-path` must be null.
3.If I set `--source-avro-schema-path` to null, org/apache/hudi/streamer/FlinkStreamerCo

[2021-11-11 08:17] James601232 commented on #3963
yes.  you are right.  so i add insert method in my codes. now create table is ok. but no data insert into table. my codes as following:

`
package com.tx.bigdata;

import org.apache.hadoop.conf.Configuration;
import org.apache.hadoop.fs.FileSystem;
import org.apache.hadoop.fs.Path;
import org.apache.hudi.client.HoodieJavaWriteClient;
import org.apache.hudi.client.common.HoodieJavaEngineContext;
im

[2021-11-11 09:37] xushiyan commented on #3913
@Kavin88 delta streamer is a spark application so you need to do spark-submit to get it running on a cluster. It's not meant to be called thru Python code as it is a bundled application. If you want to do pyspark with Hudi, then you should follow guide in https://hudi.apache.org/docs/quick-start-guide which is about writing your own pyspark application. Again you'll need to spark-submit that too.

[2021-11-11 09:37] #3913 closed

[2021-11-11 10:35] zhangyue19921010 opened #3973 "[SUPPORT]Hudi Multi-Writer with archive"
Just ask a question about Hudi multi-write:
For a Hudi table named table1, and Spark job 1 and Spark job 2 are writing table1 at the same time with multi-write related configs enabled.

--> Table1 has 10 commit files under .hoodie dictionary.
--> Job1 is writing data with 10 commits view's active timeline.
--> Job2 is finished writing and do archive works which will archive commits from 10 to 1(Ex

[2021-11-11 15:27] dmenin opened #3975 "[SUPPORT] Question on hudi's delete statment taking too long"
I have a situation where the data is partitioned by “year”, “month” and “day” and I need to enforce uniqueness across all partitions (a Key data can change from one day to the other).
My first attempt was to use by GLOBAL_INDEX, which prevents data duplication, but is not scalable: as the amount of data grows, the load time also increases.

So I am using a SIMPLE index and doing the “de-duplicatio

[2021-11-11 16:58] rubenssoto commented on #3954
@vinothchandar thats it...

For us is not urgent because probably we will deploy our own Hive Metastore, we are making tests, but I think it will a good feature for Hudi.

[2021-11-11 20:35] jardel-lima commented on #3879
Hi @nsivabalan. Thanks for your reply.  I did what you said and the issue went way, thanks a lot. Does this setting impact anything in the table? Can I make all Hudi operations without any problem?

[2021-11-11 23:24] James601232 commented on #3963
fully logs:
/Library/Java/JavaVirtualMachines/jdk1.8.0_311.jdk/Contents/Home/bin/java -javaagent:/Applications/IntelliJ IDEA.app/Contents/lib/idea_rt.jar=50622:/Applications/IntelliJ IDEA.app/Contents/bin -Dfile.encoding=UTF-8 -classpath /Library/Java/JavaVirtualMachines/jdk1.8.0_311.jdk/Contents/Home/jre/lib/charsets.jar:/Library/Java/JavaVirtualMachines/jdk1.8.0_311.jdk/Contents/Home/jre/lib/dep

[2021-11-12 02:07] xushiyan commented on #3895
@Cherry-Puppy can you provide code snippet and env / versions / configs?

[2021-11-12 02:16] xushiyan commented on #3906
@BartPeetersEnjoyer 0.6 is a bit too old. can you try later version like 0.8 and see if issue persists? also if i understand the behavior correctly, `abfs://somepath/somedb/unmanaged/sometable` does not exist before running and it should be created after running, correct?

[2021-11-12 02:21] xushiyan commented on #3934
@melin can you pls file a jira and link it here please?

[2021-11-12 02:21] kenny291 commented on #3954
You can use this https://github.com/awslabs/aws-glue-catalog-sync-agent-for-hive to sync table metadata to Glue catalog

[2021-11-12 02:26] #3934 closed

[2021-11-12 02:29] rubenssoto commented on #3954
@kenny291 Good tip
I will try this

[2021-11-12 02:57] xushiyan commented on #3973
@nsivabalan could you take this? recall you're more familiar with multi-writer part

[2021-11-12 05:51] JoshuaZhuCN opened #3981 "[SUPPORT] If the HUDI table(MOR) contains only log files, the Spark Datasource cannot obtain data in snapshot mode"
<p>  When the HBase index is used for the Hudi table(MOR), after initializing the data with insert or upsert, only log files will be generated in the directory, and there is no parquet file.
<p>  At this time, the spark datasource is used for snapshot reading, and the data cannot be obtained. The data can only be obtained through incremental reading.
<p>  According to the official introduction, wh

[2021-11-12 06:24] danny0405 commented on #3895
@Cherry-Puppy  It seems that you are querying data and actually the data had never been successfully committed before.

[2021-11-12 08:49] BartPeetersEnjoyer commented on #3906
Hi xushiyan, thank you for replying. The abfs://somepath/somedb/unmanaged/sometable path does already exist when I run the job. I created the table beforehand in that path.

[2021-11-12 09:00] xushiyan commented on #3906
`abfs://somepath/somedb/unmanaged/sometable/.hoodie` can you show files and contents under this dir which you manually created? usually we don't do that; we just give deltastreamer a target path it'll create for us then the next time it runs, it'll be a valid table path. I suspect the manual creation might have missed something.

[2021-11-12 12:50] matthiasdg commented on #2439
@rubenssoto You have to make sure the hive-site.xml can be found on the classpath. For java, scala projects you typically use resources folders for that. Not sure what/how your project is...

[2021-11-12 13:05] rubenssoto commented on #2439
@matthiasdg

It is a python project and my Hive site is inside spark classpath

But I keep receiving this error from hudi:

[code]

But this table exist on my metastore database.

[2021-11-12 14:08] JoshuaZhuCN commented on #3981
@xushiyan I have tried using the (GLOBAL)SIMPLE index, (GLOBAL)BLOOM index for insert or upsert, which generates log files and does not generate parquet files, but using the HBASE index for insert or upsert, which only generates log files, The parquet file is generated only with bulk_insert.

[2021-11-12 17:30] xushiyan commented on #3975
@dmenin A few things

Do you have any numbers? it'd be valuable to see how slow you're experiencing with it.

I think you're replicating the same logic implemented in global index with this flag turn on https://hudi.apache.org/docs/configurations/#hoodiesimpleindexupdatepartitionpath

If you're to improve look up can you try HBase index?

https://hudi.apache.org/blog/2020/11/11/hudi-indexing-mecha

[2021-11-12 17:46] cb149 opened #3984 "[SUPPORT] Upgrade from 0.8.0 to 0.9.0 removes functionality and decreases performance"
**Describe the problem you faced**

One of the applications where I am using Hudi is SparkStructuredStreaming from Kafka to Hudi, which is scheduled to run once every hour, with about 3600 JSON messages per run, which are then exploded to about 7 million rows and upserted into a year=/month=/day= partitioned COW table.

After upgrading to 0.9.0 I am facing two problems:

### First:
With no other c

[2021-11-12 17:47] dmenin commented on #3975
Hi xushiyan
Thanks for your reply.
The number using GLOBAL_SIMPLE where:
Around 6 minutes to insert the incoming dataset when I had only one month of data (30 partitions). When I backfilled 2021 (adding more 10 months of data - 300 partitions) the same load job jumped to 26 minutes.

Regarding your "replicating the logic" comment, yes you are absolutely right - that is the behaviour I need, but gl

[2021-11-12 18:01] nsivabalan commented on #3981
Hbase is capable of routing inserts to log files. so thats not a bug for sure.
can you clarify something please
- Did you say that after initial insert/upsert, you see only log files and no parquet files? for all file groups?

@n3nash : can you please chime in here.

[2021-11-12 18:06] xushiyan commented on #3971
I think what you meant is you need to set schema-path to null so the method will read schema instead, right? Because `--source-avro-schema-path` defaults to `""`. I agree it should never need people to manually set something to null. Also I  think in `FlinkStreamerConfig` it should check `if (!StringUtils.isNullOrEmpty(config.sourceAvroSchemaPath))`. @0x574C would you mind opening a PR to fix this

[2021-11-12 18:32] cb149 commented on #3984
@xushiyan I don't think this needs severity critical, my pipelines are still running, just worse in performance.

[2021-11-12 18:39] xushiyan commented on #3975
@dmenin I was more into the problem you had with GLOBAL index. So proposing some improvements there.

For delete slowness, are you using COW table? assuming yes, the data you insert with "upsert" mode, they are looked up and determined as "new" records then went to new files. while each delete op resulted in re-writing an existing base file which can be time-consuming.

[2021-11-12 18:57] xushiyan commented on #3933
@Limess for bulkinsert can you try setting `https://hudi.apache.org/docs/configurations#hoodiebulkinsertsortmode` to `NONE`. From your configs, it looks like it defaults to `GLOBAL_SORT` which could resulted in more disk spill. Please let us know if this makes any difference.

[2021-11-12 19:18] nsivabalan commented on #3894
with 0.10.0, as part of upgrade, we delete the metadata table (if exists) and re-bootstrap. hence, should not be an issue. for now, suggest to disable metadata and try upgrading.

[2021-11-12 19:18] nsivabalan commented on #3894
Feel free to re-open or create another issue if you need more info.

[2021-11-12 19:18] #3894 closed

[2021-11-12 23:36] rubenssoto commented on #3966
Hello,

The problem was solved, thank you to Rajesh Mahindra.

I was using Spark Kubernetes Operator, Im trying to configure the URI metastore like a Spark Conf, but the right place is Hadoop Conf.

With these two options:
[code]

[2021-11-12 23:36] #3966 closed

[2021-11-13 00:00] xushiyan commented on #3953
@Limess thanks for reporting this. yes it should be consistent. I took a further look at `org.apache.avro.SchemaCompatibility#schemaNameEquals()` it also checks for `if (reader.getAliases().contains(writerFullName))`. So we can add aliases on deltastreamer path and datasource writer path to make each other compatible.

https://issues.apache.org/jira/browse/HUDI-2755
Filed this ticket and closing t

[2021-11-13 00:00] #3953 closed

[2021-11-13 04:36] xushiyan commented on #3984
related #3854

[2021-11-13 12:31] dmenin commented on #3975
thanks for the GLOBAL index tips, but based on my observations, I dont think it will perform.

yes, I am using COW. Interesting point you made. Just to make sure I understand, if I have one file with 10 rows and I delete one, HUDI will re-write that file (or maybe create a new one), now with 9 rows? Does that process happen on a row by row basis? In other words, if I have 2 rows being deleted, doe

[2021-11-13 15:43] Ayan07 commented on #3530
@codope Sure, will give it a try with the setup configs that you have suggested.

[2021-11-13 15:57] xushiyan commented on #3975
@dmenin What i described is worst-case scenario which each delete op route to different files. Deletes on the same file will be consolidated into 1 re-writing. I highlight the worst case to show this can be slow compare to your inserts which have no re-writing at all. So this is expected in COW table. If you have perf concern on this, try convert to MOR where updates/deletes will be appended in lo

[2021-11-13 16:15] xushiyan commented on #3963
You meant no parquet file written at all?

The log showed some files written. Can you also exam your content in `.hoodie/` and see the content in commit files. the logs showed that data committed. `client.insert(writeRecords, newCommitTime);` returns a list of write status. can you debug that? Basically you're running the client example code. I don't see why this won't work. Can you debug the appl

[2021-11-13 17:30] xushiyan commented on #3954
Thanks all for chiming in. filed https://issues.apache.org/jira/browse/HUDI-2757

[2021-11-13 17:30] #3954 closed

[2021-11-13 18:36] nsivabalan opened #3990 "[SUPPORT] Spark-sql fails to start if there is a concurrent spark-shell open"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I had s

[2021-11-13 18:52] xushiyan commented on #3941
@joha0123 We don't have a way to expose HoodieMetrics; it was designed to talk to metrics platform in the background. `INMEMORY` reporter type is meant for testing purpose. Do you think a CSV report would help in your case? https://issues.apache.org/jira/browse/HUDI-361 it should help write metrics to files for you to inspect. We can re-open it or even better, if you're keen, feel free to pick up

[2021-11-13 19:02] xushiyan commented on #3905
This is similar to https://github.com/apache/hudi/issues/3906

@JB-data can you try not manually creating the path before job starts? deltastreamer is supposed to init a hoodie table for you. Also please consider upgrading to 0.8 or later since 0.6 is a bit too old.

[2021-11-13 23:17] Gatsby-Lee commented on #1751
For someone who gets here due to the issue with AWS Glue 3.0 + Hudi Connector.

"""# 2021-11-13 status"""
AWS Glue 3.0 fails to load Image from ECR for Hudi Connector dependencies.
If you don't need Hudi Schema Evolution, then go with AWS Glue 2.0.
If you need Hudi Schema Evolution, then you have to use AWS Glue 3.0 otherwise you will see the issue related to Glue Catalog caused by out-dated EMRFS

[2021-11-14 01:29] nsivabalan commented on #3879
@jardel-lima : you may see some perf hit, but you should be fine.
Is it possible to give us a reproducible code snippet or data may be(please mask any PII). We have not seen this issue before. And definitely wanted to dig in if there are any data loss.

[2021-11-14 01:50] nsivabalan commented on #3961
There is a chance that archival kicks in and cleaned up some of the cleaner commits. if you can post the .hoodie contents we can check that out

[2021-11-14 01:53] nsivabalan commented on #3731
We have 2 fixes on this end. 1 is [millisec granularity](https://github.com/apache/hudi/pull/3824) and another is [rolling back concurrent writers](https://github.com/apache/hudi/pull/3956).

[2021-11-14 01:56] nsivabalan commented on #3731
for transaction manager timing out, can you try adding retries.
hoodie.write.lock.client.num_retries
hoodie.write.lock.client.wait_time_ms_between_retry

[2021-11-14 02:00] nsivabalan commented on #3699
also, I see you are setting max parquet size to 1GB. is that intentional?

[2021-11-14 02:09] nsivabalan commented on #3856
yeah. I also could not think of a reason. @bvaradar @n3nash : any thoughts here. If not, we will go ahead and work on a fix.
@boneanxs : Do you think you can put up a fix on this end. We can probably get it into upcoming release.

[2021-11-14 13:21] James601232 commented on #3963
@xushiyan  yes. codes workde fine. just for path incorrect when use spark read data.  this issue already solved. thank u su very much

[2021-11-14 13:22] #3963 closed

[2021-11-14 21:34] joha0123 commented on #3941
Thank you for your Support. The second Option Looks like what i was searching for. I will try and give you feedback

[2021-11-14 23:43] xushiyan commented on #3941
@joha0123 sure. please close this if you think this no longer an issue. thank you.

[2021-11-15 00:00] xushiyan commented on #3828
ok @melin so from your screenshot, it's about being able to quickly fetch some meta info about each partition. Info like last update time, last query time, data size, no. of files, no. of records, compress codec.

@nsivabalan do you think these info can be retrieved or made available from meta table?

[2021-11-15 00:29] xushiyan commented on #3838
solution was suggested above. closing due to inactive.

[2021-11-15 00:29] #3838 closed

[2021-11-15 01:18] melin commented on #3828
Only two API are needed and the other information we are able to get from the file.
1. Get all the snapshot information.
2. List of files included in each snapshot

[2021-11-15 01:38] JoshuaZhuCN commented on #3981
@nsivabalan I mean when I use hbase Index I cannot read data in snapshot mode, only in incremental mode. Is that a problem, or am I misinterpreting snapshot mode(merge parquet files and log files)

[2021-11-15 01:53] nsivabalan commented on #3828
We have some plans to build a metastore down the road which will give these info. But the current metadata table in general is capable of serving these two info:
- getAllPartitions
- FileStatus[] listPartition(String partition)

We haven't made it publicly consumable for now.
for latest snapshot, timeline (/AbstractTableFileSystemView) should be able to serve this info.

[2021-11-15 02:56] James601232 opened #3997 "[SUPPORT] Does hudi-java-client support sync table schema to hive storage"
**Describe the problem you faced**

I user hudi-java-client create hudi table on hdfs.  at the same time need sync corresponding schema sync to hive. checked codes and not found how to setting or does hudi-java-client support setting sync hive?

code smaple:
`public class HoodieJavaWriteClientExample {

  private static final Logger LOG = LogManager.getLogger(HoodieJavaWriteClientExample.class);

[2021-11-15 06:28] Coreixwumo opened #3999 "[SUPPORT] errors while using flink on hudi mor table"
flink on hudi with mor

Steps to reproduce the behavior:
1 create kafka table

2 create hudi mor table  with sql

3 select kafka table  then insert into hudi table

I get  those stacktrace:
type 1

type 2

type 3

Environment Description

Flink version : 1.13.2

Hudi version : 0.10.0-SNAPSHOT

Hive version : 2.3.3

Hadoop version : 2.7.3

Storage (HDFS/S3/GCS..) : obs

Running on Docker? (yes/no)

[2021-11-15 06:58] danny0405 commented on #3999
Hi, thanks for the feedback ~

The type1 error is really weird, if you dig into the code you will find that the target instant time just comes from the source, https://github.com/apache/hudi/blob/3c4319729c7b5ae1ae39e46bd0ac3451fa1df032/hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieActiveTimeline.java#L326, so the validation expects to pass.

The type2 error seems caused by

[2021-11-15 08:22] Coreixwumo commented on #3999
thank you very much @danny0405

i will increase compaction.tasks and run

we are both in Hangzhou , cheers!

[2021-11-15 09:19] dmenin commented on #3975
Hi @xushiyan,
MOR is not possible because it is not supported by AWS tools like Athena and this particular dataset has no filed guaranteed to be 100% immutable, and fields "near-immutable" would go trough the same problem. If fact the date could be considered near-immutable as on each load, I am upsetting over 100k rows and deleting only a few hundreds.

Ay other ideas on how to make the "getting

[2021-11-15 12:23] AndrOidN13 opened #4001 "[SUPPORT] Hudi 0.9.0 fails when used with Spark 3.2.0"
**Describe the problem you faced**

When used with Spark 3.2.0 Hudi 0.9.0 fails when attempting to read Hudi data with `spark.read.format("hudi").load(<path>)`

**To Reproduce**

Steps to reproduce the behavior:

1. Try reading Hudi data with Spark 3.2.0 and Hudi 0.9.0

**Expected behavior**

Hudi data is loaded.

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 3.2.0

* Hive

[2021-11-15 12:25] nsivabalan commented on #3990
I tried passing in `--conf "spark.sql.warehouse.dir=/tmp/spark-warehouse/"` but did not help. Only solution I found online is to delete the `metastore_db/dbex.lck` and then try launching. It worked for me.

In general, it is proposed to have only one spark-shell or spark-sql per instance(client).

Sources:
https://stackoverflow.com/questions/34465516/caused-by-error-xsdb6-another-instance-of-derby

[2021-11-15 12:25] #3990 closed

[2021-11-15 19:09] JohnEngelhart commented on #2498
My team was running into this issue. We are running EMR 6.4. Spark 3.1.2. Hudi 0.8.0. We eventually found that you need to provide the EMR dependencies in your spark submit/shell/notebook. Amazon makes their own slightly modified version of Spark/Hudi etc. So in your POM set spark hudi bundle, spark avro, spark core, spark sql all to provided. EMR does not include hudi/avro natively on their class

[2021-11-16 05:21] boneanxs commented on #3856
Yes, I'm willing to put up a fix for it, will do it these days.

[2021-11-16 07:33] stym06 commented on #1083
Any comments on this? This is still happening...

[2021-11-16 08:29] BruceKellan opened #4006 "[SUPPORT] Can I use hadoop2.7+ in FlinkSQL + Hudi 0.10？"
I will use hudi in our hadoop cluster,our hdfs version is 2.7.3.
But I have seen some differences in the documentation.

In Quick start --> Flink Guide, it says,

In FAQ,

I have some question:
1. does it means I can use flinksql + hudi0.10 + hadoop2.7.3 if I don't use object storage?
2. does it support hadoop3 now?

**Environment Description**

* Hudi version : 0.10
* Flink version: 1.13.3
* Hado

[2021-11-16 09:11] danny0405 commented on #4006
Of corse you can use that, if you do not need the object storage.

[2021-11-16 09:30] joha0123 commented on #3941
I implemented a simple Class to test:

[code]

But i get this error:
[code]

Can you tell me what im doing wrong?

[2021-11-16 09:50] BruceKellan commented on #4006
@danny0405 Thanks for your reply, does hudi support hadoop3 now？

[2021-11-16 12:22] joha0123 commented on #3941
Got it to work implementing the WriteCommitCallback.

[code]
class MyWriteCommitCallback(hoodieWriteConfig: HoodieWriteConfig) extends HoodieWriteCommitCallback {

  override def call(hoodieWriteCommitCallbackMessage: HoodieWriteCommitCallbackMessage): Unit = {
    val stats = hoodieWriteCommitCallbackMessage.getHoodieWriteStat
    println(stats.asScala)
  }
}
[code]

[2021-11-16 12:22] #3941 closed

[2021-11-16 12:24] JB-data commented on #3905
Indeed, thanks for feedback.
This makes the error go away.
Maybe you also have input for this  question:
--> in the "hoodie.deltastreamer.transformer.sql" statement, the SELECT ... FROM < SRC > -> what table do we choose here? do we really write < SRC > in the code? Does it know then from the props file that you have provided that he needs to fetch it from a kafka topic?

[2021-11-16 12:45] mtami opened #4008 "[SUPPORT] Hudi failed to sync new partition table to glue data catalog"
**Describe the problem you faced**

I am trying to bulk_insert a small table (~150MB) into s3 using Apache hudi.
I want to partition the data based on `created` field with format yyyy/MM/dd  using hive_style_partitioning.
The table (with partition subfolder) is created successfully on S3,
However, Hudi failed with the following :
[code]

here my bulk_insert configuration:
[code]
And here the Pytho

[2021-11-16 18:04] nikita-sheremet-clearscale commented on #4008
Look at you table definition

It has single partition column `created` while you partition table by 3 columns  with values: 2019, 01, 17

[2021-11-17 01:45] rubenssoto commented on #4001
I think Hudi doesn't has official support for Spark 3.2, master branch and the future version 0.10 has support for spark 3.1

https://github.com/apache/hudi/pull/3844

[2021-11-17 02:03] danny0405 commented on #4006
Yes, hadoop3 is always supported now ~

[2021-11-17 02:10] danny0405 commented on #3478
Hi @codope Can we solve this in release 0.10.0 ?

[2021-11-17 02:11] danny0405 commented on #3795
Hi @codope Can we solve this in release 0.10.0 ?

[2021-11-17 03:17] hellochueng commented on #3795
CREATE EXTERNAL TABLE flink_hudi_hive_test1(
    id INT, test1 STRING, test2 STRING, test3 STRING
) ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hudi.hadoop.realtime.HoodieParquetRealtimeInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION 'hdfs://idc-bigdata-185-56.jdy.kd.internal/hu

[2021-11-17 03:54] xushiyan commented on #3905
@JB-data I have not used it myself. but from the code and example here, you write `<SRC>` which will be interpreted. See
- org.apache.hudi.utilities.transform.TestSqlQueryBasedTransformer
- org.apache.hudi.utilities.transform.SqlFileBasedTransformer#SRC_PATTERN

[2021-11-17 04:00] BruceKellan commented on #4006
ok, thank you~

[2021-11-17 04:00] #4006 closed

[2021-11-17 07:31] xushiyan commented on #3905
Closing this as the original issue was resolved.

[2021-11-17 07:31] #3905 closed

[2021-11-17 07:34] xushiyan commented on #3997
@James601232 can you check `hudi-hive-sync` module and see `org.apache.hudi.hive.HiveSyncTool`

[2021-11-17 09:26] JoshuaZhuCN commented on #3981
@xushiyan Hi，Here is my test code：

[code]

*** The output is as follows：
[code]

[2021-11-17 09:59] BartPeetersEnjoyer commented on #3906
That was indeed the problem, thank you.

[2021-11-17 09:59] BartPeetersEnjoyer commented on #3906
That was indeed the problem, thank you!

[2021-11-17 09:59] #3906 closed

[2021-11-17 13:34] veenaypatil opened #4017 "[SUPPORT] ETL failure , Caused by: java.io.FileNotFoundException: No such file or directory"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

We are

[2021-11-17 13:36] veenaypatil commented on #4017
cc @vinothchandar @xushiyan

[2021-11-17 13:41] vinothchandar commented on #4017
@YannByron Thanks for all the great contributions!
do you have any clues here? :)

[2021-11-17 14:04] dmenin commented on #3975
Hi @xushiyan, I'd like to add some more information here.

I have hard evidence that the delete time is not necessarily correlated with the amount of data being deleted.
see the red line on the first graph? Thats the time it took just to delete the data; The blue line is the time it took to upsert the data.
The bars on the graph bellow show amount of data being inserted\deleted.

In a normal load

[2021-11-17 15:31] JB-data commented on #3905
Indeed, original issue clear.
Thanks for feedback.
Thanks for links: so indeed you write <SRC>.
My confusion was: where does this SRC come from, what table is it?
But after looking at the java code you suggested (https://github.com/a0x8o/hudi/blob/master/hudi-utilities/src/main/java/org/apache/hudi/utilities/transform/SqlQueryBasedTransformer.java), this is I believe what happens:
1)WITH SQL TRANS

[2021-11-17 21:57] Gatsby-Lee commented on #3975
Hi, I happened to see your issue.
I am also using Apache Hudi in AWS Glue.

I am using MoR and I can query data through Amazon Athena.

I picked MoR over CoW since I want to prevent "hudi writing"  spending time on rewriting Parquet.
Do you have any reason to pick CoW over MoW?

Thank you
Gatsby

[2021-11-18 03:17] liujinhui1994 opened #4027 "[SUPPORT] Structured streaming Async clustering IndexOutOfBoundsException"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-11-18 03:25] #3971 closed

[2021-11-18 03:25] liujinhui1994 commented on #4027
![image](https://user-images.githubusercontent.com/25769285/142346330-f90a656e-3401-452a-9be4-4b320cd68275.png)

[2021-11-18 03:29] liujinhui1994 commented on #4027
![image](https://user-images.githubusercontent.com/25769285/142346521-c6c53e17-6d94-47d2-859e-01c6f31648b6.png)

[2021-11-18 03:30] liujinhui1994 commented on #4027
If it is my usage problem, please let me know.
If you need me to provide other information, please let me know

[2021-11-18 06:10] dik111 opened #4030 "[SUPPORT] Flink uses updated fields to update data"
At some point, we can only get the updated fields. For example, Table A has three fields (a, b, c), but only two fields (a, b) are in the updated-changelog. Can we support updating only some fields operate in flink ?

[2021-11-18 08:38] YannByron commented on #4017
@veenaypatil
To confirmed, you use `KEEP_LATEST_COMMITS` as the policy of cleaner, and set `CLEANER_COMMITS_RETAINED` to 120?
Or, you can show the all options about cleaner.

[2021-11-18 11:05] veenaypatil commented on #4017
@YannByron  that's right, these are the hoodie configs set for the streaming job

[code]

[2021-11-18 11:57] Limess opened #4031 "[SUPPORT] _hoodie_is_deleted should work with any truthy value"
**Describe the problem you faced**

It is currently possible to set `_hoodie_is_deleted` to a not-null, non `true` value.

In this scenario, the column is written to the target table. At this point it's included in the schema, which seems to be undesirable in all cases.

Once written, deletions can't be used as it's impossible to provide a `TRUE `or `NULL `value to future writes as it gets removed

[2021-11-18 12:26] garyli1019 opened #4032 "[SUPPORT] StreamWriteFunction WriteMetadataEvent serialization failed when WriteStatus structure changed"
**_Tips before filing an issue_**

**Describe the problem you faced**

When the structure of WriteStatus changed, and when we restart the Flink job with the new version, the job will fail to recover.

**To Reproduce**

Steps to reproduce the behavior:

1. Start a flink job.

2. Changed the WriteStatus and restart

3. The job can't recover.

We need to implement a custom serializer for the WriteSta

[2021-11-18 13:03] joha0123 commented on #1802
@vinothchandar
I am getting the same error in Hudi-0.9.0. But I am getting it on a newly created table (BULK_INSERT). To test I am upserting parts  of the same data that was used by the bulk  insert. So the schema is exactly the same. Can you help me to debug this issue?

[2021-11-18 13:05] Limess commented on #4031
After actually getting `_hoodie_is_deleted` we noticed it's always written to the target table schema - should this be the case? In my mind it should be dropped by hoodie as it makes no sense for it to exist as `null` or `false` on every row in the Hudi table.

[2021-11-18 18:50] jardel-lima commented on #3879
Hi @nsivabalan, as I said before I could migrate others tables without any problem, just in a few tables a had this problem. I will try to create a dataset to reproduce this problem. How can I share it with you?

[2021-11-19 05:36] veenaypatil commented on #4017
Once the user migrated the code to Spark3 the ETL is running fine, seems like an issue with Spark2 caching then

[2021-11-19 09:55] dmenin commented on #3975
Hi @Gatsby-Lee
Interesting, last time I checked Athena didnd support MoR.
I will give it a try but in reality, these are heavily queried datasets, so the reason I will probably stick with CoW is because read  speed is more important that write speed.
However,  I would very much like to understand why these delete steps are taking so long...

[2021-11-19 10:12] James601232 commented on #3997
@xushiyan  okay. thank u so very much

[2021-11-19 10:12] #3997 closed

[2021-11-19 12:39] Limess opened #4043 "[SUPPORT] java.lang.ClassCastException: java.lang.String cannot be cast to org.apache.spark.sql.Row error when writing particular source data after column addition"
**Describe the problem you faced**

We've been successfully writing to a Hudi table for a couple of weeks with the following processes:

1. A deltastreamer instance ran hourly which reads from parquet written by AWS Kinesis Firehose, using checkpointing
2. A separate deltastreamer instance which runs nightly and backfills updates across end table

We made a change to support deletions in (2), usin

[2021-11-19 12:47] Limess commented on #4043
Note that `story_published_partition_date` is being written to the end table due to this issue: https://github.com/apache/hudi/issues/3945

I wonder if that could be the cause of the issue as we're _technically_ inserting a new column in the middle of the schema?

[2021-11-19 12:58] Limess commented on #3933
Would that not have a performance impact at query time on the end table?

This currently costs us a couple hundred dollars so we're not in the position to re-run regularly.

[2021-11-19 13:27] Limess commented on #4043
OK

We got this to work again: we had to:

1. Set `hoodie.datasource.write.reconcile.schema=false`
2. Add the column to any new data. Without doing this, all the old data failed the schema validation step

I'd assumed `hoodie.datasource.write.reconcile.schema=true` was soely capturing this use case so I don't understand why this fails here.

[2021-11-19 17:26] xushiyan commented on #4043
cc @nsivabalan

[2021-11-19 18:11] nikita-sheremet-clearscale opened #4044 "[SUPPORT] Question on hudi's insert statment taking too long"
Disclaimer

The situation is very similar to this one - https://github.com/apache/hudi/issues/3975 but I do not know they are the same or not.

**Describe the problem you faced**

1. There is a simple indexing hudi job - it reads parquet files (partitioned yyyy/mm/dd) and stored this data as is but with hudi indexes.
2. The job run in EMR c5.18xlarge (10 or 20 instances)
3. The job run per month.

[2021-11-19 22:14] jmnatzaganian commented on #2498
I'm also having the same type of issue in EMR 6.4 after building and deploying Hudi 0.9.0. Note that as mentioned [above](https://github.com/apache/hudi/issues/2498#issuecomment-969228521), the default binaries work just fine (EMR 6.4 with Hudi 0.8.0).

It seems that there's likely something off with the build or referencing. I used `mvn clean package -DskipTests -Dspark3 -Dscala-2.12 -T 30`.

Wha

[2021-11-20 07:23] xushiyan commented on #4044
@nikita-sheremet-clearscale could you share the hudi configs you used for this job? e.g. bulk insert or upsert? COW or MOR table? any config you set manually can be helpful.

From the screenshot, it looks like it's doing a rollback. probably the first job did not finish properly. can you also check the hoodie timeline in `.hoodie/` see if the last commit completed or not.

[2021-11-20 09:56] JB-data opened #4055 "[SUPPORT] Hudi with SqlQueryBasedTransformer fails-> spark error exit 134 or exit 143 in "isEmpty at DeltaSync.java:344" : Container from a bad node: container_yy on host: xxx Exit status: 134"
**Describe the problem you faced**

We are running a spark-submit command with an SQL transformation. The data from the kafka topic is then temporarily registered in hive's default db, and applies a very simple sql to it. We see the job fail quite soon. Note:  without the sql transformation it succeeds for same parameters.
I wonder if maybe since now the data needs to go to hive for a bit, it need

[2021-11-20 18:14] xushiyan commented on #3831
@Kavin88 so basically it is a feature request where you wish to pass these deltastreamer-specific arguments via options. It is indeed possible to create a set of configs say `hoodie.deltastreamer.xxx` to achieve this. But first i want to understand why it is not possible for you to submit args via Livy API. from what i read, https://community.cloudera.com/t5/Community-Articles/How-to-Submit-Spark-

[2021-11-20 18:22] xushiyan commented on #3831
@kywe665 it can be useful have an example showing how to submit HoodieDeltaStreamer via Apache Livy APIs.

[2021-11-20 18:24] xushiyan commented on #4001
yes Spark 3.2 not officially supported yet. But in the meantime, we'd like to collect info and hoping to get it working in 0.11.

[2021-11-20 18:25] yapnel opened #4058 "Support for record level point lookup"
Does Hudi support for record level lookup? e.g. select * from tab where col1= 'a'

In RDBMS this can be achieved with speed using an index on col1. Wondering if Hudi can support such query?

Thanks

[2021-11-20 19:01] xushiyan commented on #3905
@JB-data I don't think it goes to hive; it simply creates a spark sql table using that current spark session.

[2021-11-20 19:21] xushiyan commented on #4055
@JB-data

Is this actually valid SQL?

The error you showed is not really the root cause. Can you track down to the application stacktrace and see which part of code threw exceptions?

[2021-11-20 19:27] xushiyan commented on #4008
@mtami

This is not a valid hive-style partition. You should change it to these for example

[code]

[2021-11-20 19:31] mtami commented on #4008
@xushiyan thank u. I will try your suggestions and write down here what i got.

[2021-11-20 19:42] xushiyan commented on #4027
@liujinhui1994

This comes from Clustering plan which was created from the replace commit metadata. Can you post the replace commit metadata content for this?

[2021-11-20 19:48] xushiyan commented on #4017
@veenaypatil which spark 2.x version you used exactly? Hudi supports 2.4+

[2021-11-20 20:05] xushiyan commented on #4001
tracking the problem in https://issues.apache.org/jira/browse/HUDI-2811

[2021-11-20 20:05] #4001 closed

[2021-11-20 21:53] mtami commented on #4008
Hey @xushiyan
After using **created=yyyy-MM-dd**, Hudi succeed sync table to hive.

However, I still can't get hudi creating table on Glue data catalog (Hive metastore), Even the Hudi logs is showing the table was successfully created at the hive metastore.

`INFO [Thread-6] hive.HiveSyncTool (HiveSyncTool.java:syncSchema(213)): Hive table brand_tree is not found. Creating it `

`INFO [Thread-6] h

[2021-11-20 22:18] xushiyan commented on #4008
@mtami From the logs it showed that hive sync was successful. I suggest you double check the glue table in aws in the desired region for the database you set. It could be permission issue too. Please engage with AWS support to investigate. From Hudi's side, don't see there is an issue so will close this. Feel free to follow up here if you have further info to share. Thanks.

[2021-11-20 22:18] #4008 closed

[2021-11-20 22:48] mtami commented on #4008
for other who might encounter similar issue, you need specify **--enable-glue-datacatalog** in the glue job parameter in order to to use the AWS Glue Data Catalog as an Apache Spark Hive metastore. This was not clear from AWS glue job documentation at the first glance.

[2021-11-21 03:32] xushiyan commented on #3841
@umehrot2 have you filed the jira?

I created this https://issues.apache.org/jira/browse/HUDI-2811
 to track Spark/Parquet upgrade related issues and tasks. cc @nsivabalan

[2021-11-21 03:37] danny0405 commented on #4030
@dik111 , your use case is reasonable and valid, i have created a JIRA issue to track this request: https://issues.apache.org/jira/browse/HUDI-2815

[2021-11-21 03:42] danny0405 commented on #4030
I just see that payload `OverwriteNonDefaultsWithLatestAvroPayload` solves partial of the problems, it has some space to improve: the `#combineAndGetUpdateValue` should compare record version based on event time.

[2021-11-21 13:38] nsivabalan commented on #3394
can you try setting `hoodie.datasource.write.precombine.field`. It should get applied to `hoodie.payload.ordering.field`.

[2021-11-21 13:44] nsivabalan commented on #4031
Let me know if I understand your question correctly.
- You are seeing a behavior where when "_hoodie_is_deleted" is set to null or false, hudi persist this column on storage. And you are asking why do we need to do this and why not just drop the column altogether?

Guess its easier to have same schema across incoming dataset and whats in storage. Also, since this is a boolean column, and only non-

[2021-11-21 13:52] nsivabalan commented on #4058
it should work, but may not be performant. We are looking to add record level index and some work is in progress on this end. You can follow the work [here](https://github.com/apache/hudi/pull/3508) and [here](https://cwiki.apache.org/confluence/display/HUDI/RFC-08++Record+level+indexing+mechanisms+for+Hudi+datasets).

[2021-11-21 14:08] nsivabalan commented on #4043
May I know whats the new column you are adding just in writer2? In desc you are describing as `_hoodie_deleted_date`, but I don't see any such field in your target table schema. may be its a diff column is it.
Also, in general schema evolution works well if you add a new column to the end of the existing schema. if you add in the middle, I am not sure it might sit well.
Can you confirm this. pleas

[2021-11-21 14:24] yapnel commented on #4058
Thank you. Any idea when this new index be available?

[2021-11-21 16:25] Limess commented on #4043
`_hoodie_is_deleted` is the added column, sorry I misquoted it above.

[2021-11-21 16:25] nikita-sheremet-clearscale commented on #4044
Many thanks for the quick reply!!!

Hudi config is:
[code]

The file 20211115193538.rollback contains the following:
[code]
Then there is a list of partition key and file on s3. Why rollback operation is performed on so many partitions? Only partition with y=2021/m=07 was run.

Btw hudi have a data and table. What happens when some partitions were deleted and then indexed?

[2021-11-21 16:28] nikita-sheremet-clearscale commented on #4044
Btw is there documentation how hudi handles interrupted data? Like there was EMR job that failed/stopped in the middle. Then data created by this job were deleted manually and reinserted again. (No hudi delete or upsert operations).

[2021-11-21 18:23] nikita-sheremet-clearscale commented on #4044
@xushiyan
I have rn `hudi-cli.sh show rollbacks` the outout is:

[code]

[code]

[2021-11-21 18:37] nsivabalan commented on #3854
Hey hi. Can you give it a try with open source across two versions.
@umehrot2 : Can you chime in wrt EMR spark versions. Is there any performance patches expected for hudi 0.9.0 anytime?

[2021-11-21 19:06] xushiyan commented on #3933
@Limess a few questions

- for this dataset do you want to run bulkinsert or upsert? if it's append only dataset, then bulkinsert should be the mode
- does smaller parquet files matter a lot in this case? `GLOBAL_SORT` is expected to use more diskspace as it does a shuffling sort to line up records for bulk writing. If you change to `NONE` sort mode, you'd get more more small files but faster writ

[2021-11-21 19:49] Limess commented on #3933
Thanks!

We're using bulk insert for this job and are happy with the performance vs regular upsert.

Re: parallelism, we bumped this up after:
1. Reading https://cwiki.apache.org/confluence/display/HUDI/Tuning+Guide, I guess this is now out of date
2. Observing the disk spill, we found increasing parallelism reduced it

Smaller parquet files don't matter too much, if clustering can later fix the s

[2021-11-21 20:05] nikita-sheremet-clearscale opened #4062 "[SUPPORT] How debug hive sync?"
**To Reproduce**

Steps to reproduce the behavior:

1. read parquet files from s3 prefix
2. write parquet files to s3 prefix with enable-hive-sync option

**Expected behavior**

Table created in hive catalog

**Actual behavior**

Everything works but table was not created in hive (glue) glue catalog

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 2.4.4

* Storage (HDFS/S3/G

[2021-11-22 07:01] nikita-sheremet-clearscale commented on #4062
There are log statements in hudi sources like: `Starting commit  :` but it does not appear in logs. Is there a way to turn it on?

[2021-11-22 07:29] veenaypatil commented on #4017
@xushiyan  we were on 2.3.2 version on older cluster, on the new one it is 3.0.2 where it worked. I am closing this issue as the ETL is working is working after migrating to 3.x spark version

[2021-11-22 07:29] #4017 closed

[2021-11-22 08:17] JB-data commented on #4055
@xushiyan
Thanks for reply. Indeed the sql should say FROM sometable... I will correct.

Where exactly should we check the application stacktrace? In both the the yarn application logs as the SPARK UI stacktrace I only find back the fact the container exited with code 134 or 143 (changes ), but not exactly why. The only place where I can infer where this happens is the stage in the spark ui that m

[2021-11-22 08:33] JB-data commented on #3905
@xushiyan
Many thanks for all your input!

I think sparksql (at least in our setup-hadoop cluster with spark/hive/hdfs) registers this sql table in the default db in hive.  We noticed before at some point we were getting errors since the user running the job had no priviliges on the dfefault db in hive. After adding priviliges, this was solved.
Maybe if you are only running spark (which then uses

[2021-11-22 14:25] dmenin commented on #2498
I confirm I have the same problem with Spark 3.0 and hudi 0.9

[code]

[2021-11-22 14:36] JB-data commented on #4055
The error comes from :
https://github.com/apache/hudi/blob/release-0.6.0/hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/DeltaSync.java line 344 : the check if avroRDDOptional.get().isEmpty() . I wonder if it could be due to a wrong schema provided, as avroRddOptional is initialized in line 311 and this requires the schema to be fetched.

[2021-11-22 14:46] Limess commented on #3854
Hey, I tried with open source Hudi 0.8 and the results were the same as the Amazon version (OS version was actually marginally faster but within a margin of error)

[2021-11-22 15:23] zztttt opened #4072 "[SUPPORT]Exception in thread "main" java.io.FileNotFoundException: File does not exist: hdfs://localhost:9000/scala/table6"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
I wa

[2021-11-23 07:43] xuranyang opened #4082 "[SUPPORT] How to write multiple HUDi tables simultaneously in a Spark Streaming task?"
Is there a good way to write multiple HUDi tables simultaneously in a Spark Streaming task?

[2021-11-23 08:19] Limess commented on #4031
Yes that's largely the question. We assumed it would be dropped as the deleted records are not persisted and it's otherwise redundant, and there already seems to be codepaths to drop redundant columns (e.g. `hoodie.datasource.write.drop.partition.columns`)

We were also caught out when we used a string value by mistake. This ended up being written to the end datastore, which then broke our schema

[2021-11-23 14:41] jdattani opened #4086 "[SUPPORT] Hudi logs error but does not fail job"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?
Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
We a

[2021-11-24 04:38] absognety opened #4094 "[SUPPORT] Expose Hudi tables synced with glue catalog in snowflake"
I would like to know if there are separate instructions to be followed, if I want to expose hudi tables written to S3 and synced with hive metastore and glue catalog in snowflake as external table?

I know there is already documentation for integrating hive metastores with snowflake which I already tried to implement for a small hudi table but didn't work - does that docs apply for apache hudi tab

[2021-11-24 07:13] huleilei opened #4099 "[SUPPORT]When I run hudi-cli.sh using hadoop 3.2.1, there is a error about class conflict"
When  hadoop.version is 3.2.1,  spark.version is 3.1.1,I run `hudi-cli.sh`, this is  a error:
![image](https://user-images.githubusercontent.com/9431947/143191082-2cb6cd1f-d3e3-48c2-bd9f-61b88308d82d.png)

I find  th version about guava  depended by hadoop is 27.0-jre. But i build the code, the version in the package is 17.0. So I think it's a issue

[2021-11-24 07:14] xiarixiaoyao commented on #3981
@JoshuaZhuCN   spark should support read pure log table.
When you specify the load path, do not use wildcards, just specify the path to the table level。
load("hdfs://localhost:9000/hoodie/tb_hbase_test/default/*") -> load("hdfs://localhost:9000/hoodie/tb_hbase_test")

[2021-11-24 07:25] #4099 closed

[2021-11-24 09:43] BruceKellan opened #4102 "[SUPPORT] What should I do if I want to delete data in certain partitions?"
I want to use hudi to upsert our data.
What should I do if I want to delete data in certain partitions？

hudi version: 0.10.0

[2021-11-24 10:25] 0x574C opened #4103 "[SUPPORT] StreamerUtil sets hoodie.parquet.page.size twice"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-11-24 22:20] bhasudha opened #4109 "[SUPPORT] SqlQueryEqualityPreCommitValidator errors with java.util.ConcurrentModificationException"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-11-24 22:59] satishkotha commented on #4109
CocurrentModificationException seems to be coming from here
https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/table/view/HoodieTablePreCommitFileSystemView.java#L83

We need to redo this logic to avoid newFilesWrittenForPartition.remove(...).

Simple option to try out:
Replace line 72 with
`
 Map<String, HoodieBaseFile> newFilesWrittenForPartition  = new C

[2021-11-25 02:27] xushiyan commented on #4103
@0x574C seems like so. Would you like to add more UT cases in `org.apache.hudi.utils.TestStreamerUtil` that verifies this?

@danny0405 could you confirm this? On another matter: while checking the code, i saw these 2 lines in `org.apache.hudi.util.StreamerUtil#flinkConf2TypedProperties` can be removed now due to #4077

[code]

[2021-11-25 03:10] 0x574C commented on #4103
@xushiyan Yes, I'll try to add a POC about it.

[2021-11-25 03:16] danny0405 commented on #4103
Sure, let me fix it.

[2021-11-25 03:21] BruceKellan commented on #4102
Can I manually delete the partition folder in hdfs table path?

[2021-11-25 03:26] YannByron commented on #4102
@BruceKellan
you can try to use spark-sql as follow to delete partition：
`alter table db.tbl drop partition (pt='xxx')`

[2021-11-25 15:01] vinothchandar commented on #3841
@codope @nsivabalan anything to be done here for the 0.10 release? Do we have workarounds?

[2021-11-25 16:09] absognety commented on #4094
I found related JIRA at https://issues.apache.org/jira/browse/HUDI-2832, is this currently WIP?

[2021-11-25 20:55] jasondavindev opened #4122 "[SUPPORT] UPDATE command doest not working on Spark SQL"
I've tried use SparkSQL for update rows in my table, but I'm receiving the below error:

[code]

**To Reproduce**

I saved a dataframe as Hudi format and load it to Hudi table

[code]

Then I tried update a row

[code]

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 3.1.2

* Storage (HDFS/S3/GCS..) : Local

* Running on Docker? (yes/no) : yes

My setup https://github.com/ja

[2021-11-26 02:48] Carl-Zhou-CN commented on #4082
You can try to concurrent these writes in streaming media at the same time，hudi itself is isolated between different tables

[2021-11-26 03:46] Carl-Zhou-CN commented on #4072
# scala
 // No separate create table command required in spark. First batch of write to a table will create the table if not exists.

[2021-11-26 03:55] Carl-Zhou-CN commented on #4072
sorry, I got it wrong
add
  .config("spark.sql.extensions", "org.apache.spark.sql.hudi.HoodieSparkSessionExtension")

[2021-11-26 04:26] kenny-shopback commented on #4102
@YannByron , we can delete partition with above cmd if only we had integrated spark-hive, right ?

[2021-11-26 06:37] danny0405 commented on #4103
Fire a fix in PR: https://github.com/apache/hudi/pull/4128

[2021-11-26 09:05] liujinhui1994 commented on #4027
![微信图片_20211126170421](https://user-images.githubusercontent.com/25769285/143555243-c0f6ee49-8525-4933-9f4b-1e73a6ebe842.png)

[2021-11-26 09:06] liujinhui1994 commented on #4027
@xushiyan Sorry for the late reply. json is too long, I intercepted part of it

[2021-11-26 10:08] JoshuaZhuCN commented on #3981
@xiarixiaoyao
Thanks for the idea, I reproduce this scene:

1, using the old version of the read logic, using wildcards to read data, will not be able to read pure log files

2, the logic of reading using the new version, not wildcard, pure can read the log file (DataSourceWriteOptions must be set. While writing PARTITIONPATH_FIELD parameters, otherwise an error)

[2021-11-26 10:49] BenjMaq opened #4131 "[SUPPORT] org.apache.hudi.exception.HoodieException: The value of <field> can not be null"
**Describe the problem you faced**

I'm running Hudi `0.9.0`, creating an external Hudi table on S3, and when trying to insert into this table using Spark SQL, it fails with exception `org.apache.hudi.exception.HoodieException: The value of <field> can not be null`.

- The `<field>` is always the **_last field_** of my table. If I try to change the field, then the error also appears for the new **

[2021-11-26 21:18] vinothchandar commented on #3854
Can't think of anything that has changed between 0.8.0 and 0.9.0 on core upsert path. 0.10.0 is coming out shortly. But lets get to the bottom of this in dec.

[2021-11-27 03:44] vinothchandar opened #4135 "[SUPPORT] Zordering clustering on a moderate size dataset taking large amounts of time."
**Describe the problem you faced**

I am trying to play with z-ordering on a 50G+ dataset locally to understand everything. Noticed large number of stages, and its pretty slow due to that. I want to make sure this is expected.

![image](https://user-images.githubusercontent.com/1179324/143666883-da6c64f2-9c1c-49fb-ae44-9f9a941f7116.png)

![image](https://user-images.githubusercontent.com/1179324/1

[2021-11-27 03:45] vinothchandar commented on #4135
@xiarixiaoyao Just want your eyes on this to see if this is expected. (It's possible I am doing this from older commit, not latest master with #4060 ). I ll post updated screenshots if needed, as soon as I can get them

[2021-11-27 03:54] xiarixiaoyao commented on #4135
@vinothchandar
The cluster operation splits too many jobs, and each job will be zorder. Spark supports concurrent jobs. Your program is not concurrent enough

By the way, clustering itself is slow.

In the first version of zorder code, we introduced the optimize operation for z-order, which was fast, but the community did not agree with this method, so I deleted it

[2021-11-27 03:54] xiarixiaoyao commented on #4135
let me run you code on my cluster。

[2021-11-27 03:55] vinothchandar commented on #4135
@xiarixiaoyao yes I have only 4 cores. Lets file a JIRA under our umbrella to make this fast going forward! we can work together on that

[2021-11-27 03:58] xiarixiaoyao commented on #4135
@vinothchandar
Thank you for supporting this work. The benchmark results I posted before are run through optimize， not by clustering， clustering is too slow since of its own mechanism.  I suggest that we introduce z-order / Hilbert in SQL, just like databrick

[2021-11-27 04:08] xiarixiaoyao commented on #4135
@vinothchandar
I added a new issue to track this problem。 https://issues.apache.org/jira/browse/HUDI-2873

[2021-11-27 07:05] lsyldliu commented on #4030
Hi, @dik111 I want to sure with you, is your use case occur a schema evolution in updated changelog or schema in fixed, only lack of some fields in updated changelog?

[2021-11-27 13:50] vortual commented on #3919
I think #3203 solved my question

[2021-11-27 18:49] #4103 closed

[2021-11-27 19:08] xushiyan commented on #4122
support for spark 3.1.2 was added in 0.10. @jasondavindev do you want to give the [RC](https://github.com/apache/hudi/tree/release-0.10.0) a try?

[2021-11-27 19:37] xushiyan commented on #4102
@kenny-shopback Hudi write client also supports partition delete there is an example org.apache.hudi.examples.spark.HoodieWriteClientExample

[2021-11-28 01:33] #3919 closed

[2021-11-28 15:06] jasondavindev commented on #4122
@xushiyan thanks for your comment. I'll test it.

[2021-11-28 17:06] jasondavindev commented on #4122
I tried to build but I'm receiving
[code]

I used `openjdk:11` docker image + `maven 3.6.3` and `scala 2.12.2` to build.

[2021-11-28 19:18] xushiyan commented on #4122
@jasondavindev you'd need to use java 8 for hudi

[2021-11-28 19:29] xushiyan commented on #4094
@absognety yup the PR is WIP
https://github.com/apache/hudi/pull/4074

[2021-11-28 19:30] xushiyan commented on #4094
@absognety any further questions let's follow up on JIRA or the PR itself.

[2021-11-28 19:30] #4094 closed

[2021-11-28 20:21] xushiyan commented on #4062
@nikita-sheremet-clearscale can you show the exact configs you used and the environment? assume you're using deltastreamer, so can you show all the args too?

[2021-11-28 20:26] xushiyan commented on #4058
@yapnel we don't have an ETA at least it's not in 0.10. Maybe in 0.11. Noting down this issue in the [JIRA](https://issues.apache.org/jira/browse/HUDI-53).

[2021-11-28 20:26] #4058 closed

[2021-11-28 20:33] xushiyan commented on #4072
Thanks @Carl-Zhou-CN
@zztttt have you tried this suggestion?

[2021-11-28 20:35] xushiyan commented on #3999
@Coreixwumo any update from your side after increasing compaction.tasks ?

[2021-11-28 21:13] Limess opened #4146 "[SUPPORT] Deltastreamer commits with a custom checkpoint configuration are skipped if the generated checkpoint matches the previous commit checkpoint"
**Describe the problem you faced**

When running deltastreamer with a custom checkpoint value, e.g. `--checkpoint 0`, the commit is skipped if the resulting checkpoint value matches the checkpoint value of the previous commit:

[code]

This prevents re-reading a static dataset into the same Hudi Deltastreamer using the checkpointing mechanism.

**To Reproduce**

Steps to reproduce the behavior:

1

[2021-11-29 06:45] zztttt commented on #4072
Thanks a lot! I have solve the problem I met a few days ago! However, I got a different exception.
The absolute path of the new project is /home/zzt/code/spark-debug, and the detail of the exception is the following:
====================================================================
Mon Nov 29 14:24:44 CST 2021 Thread[main,5,main] Cleanup action starting
java.sql.SQLException: Failed to start da

[2021-11-29 06:48] zztttt commented on #4072
Thank you! I have tried this suggestion and fixed the problem. However, I met another problem, so I want to know what mistake I did...

[2021-11-29 07:18] BruceKellan commented on #4102
@xushiyan Thanks for your reply.
I will try this case this week.

[2021-11-29 10:55] suribabu-un opened #4151 "[SUPPORT] ClassNotFoundException: org.apache.hudi.hadoop.HoodieParquetInputFormat while running hive queries in EMR"
**While running aggregate queries in hive (running in EMR cluster) I am getting `ClassNotFoundException: org.apache.hudi.hadoop.HoodieParquetInputFormat`**

I have created hudi tables using a spark application. While trying to run simple aggregation queries using using hive CLI, I am getting below exception (able to run simple non-aggregate queries).

`Caused by: java.lang.ClassNotFoundException:

[2021-11-29 12:03] YannByron commented on #4102
yep, execute this command on spark, with hudi 0.10.

[2021-11-29 12:58] jasondavindev commented on #4122
@xushiyan  Thanks! I built the image, but when I trying write a dataframe, I receive the error
[code]

I found a issue related to this error, but it was a compatibility issue (0.4.x version).
You can see my application here https://github.com/jasondavindev/delta-lake-dms-cdc/blob/main/apps/hudi_update.py

[2021-11-29 13:48] kenny-shopback commented on #4102
thank @xushiyan , @YannByron

[2021-11-29 18:03] BenjMaq opened #4154 "[SUPPORT] INSERT OVERWRITE operation does not work when using Spark SQL"
**Describe the problem you faced**

_Disclaimer: Creating and inserting into external hive tables stored on S3._

- The `INSERT OVERWRITE` operation does not work when using spark SQL. When running `INSERT OVERWRITE` on an existing partition, the parquet files get correctly created (I can see them in S3) but the partition (metadata?) does not get updated. When selecting from the same table, the ol

[2021-11-30 02:14] mincwang opened #4160 "[SUPPORT] The query results of the Hive and Spark columns are different"
This patch is great, but there is one small problem，following：
- when I delete record with id 5
 hive query reslut：
![image](https://user-images.githubusercontent.com/33626973/143387325-dadd2ba0-d0fa-4e80-835a-b913219ca5d3.png)
 spark query reslut：
 ![image](https://user-images.githubusercontent.com/33626973/143387727-37b867c0-4cd0-427b-993a-c097c16770b1.png)
  flink query reslut is right

_Origin

[2021-11-30 02:17] mincwang commented on #4160
spark reslut lost the   `_hoodie_operation` column

[2021-11-30 02:18] mincwang commented on #4160
cc @garyli1019

[2021-11-30 07:48] yyar opened #4162 "[SUPPORT] First written data disappears when I append second data for schema evolution in example code."
**Describe the problem you faced**
I could check only the last appended data, not the first writen data when I execute hudi schema evolution example code in [this URL](https://hudi.apache.org/docs/schema_evolution/).

**To Reproduce**

Steps to reproduce the behavior:

1. Run hudi schema evolution example using spark-shell or sbt test command or something.
2. Check result data.

**Expected behavio

[2021-11-30 08:09] zhangyue19921010 opened #4163 "[SUPPORT] Pending Clustering may stain the ActiveTimeLine and lead to incomplete query results"
**Describe the problem you faced**

If there's a pending clustering instant still existed in active timeline after several archival actions.
Next time we finish this pending clustering instant, this clustering instant may stain the ActiveTimeLine and lead to wrong query results

**To Reproduce**

**Step 1**
Do a normal hudi insert
[code]

**Step 2**
Build a clustering plan but don't execute this p

[2021-11-30 09:02] xuranyang opened #4165 "[SUPPORT] NullPointerException in EMR Hudi MultitableDeltasteamer"
EMR Hudi-0.8.0

spark-submit --class org.apache.hudi.utilities.deltastreamer.HoodieMultiTableDeltaStreamer \
`ls /usr/lib/hudi/hudi-utilities-bundle_2.12-0.8.0-amzn-0.jar` \
  --props file:///opt/config/multi_delta_streamer_test/kafka-source.properties \
  --config-folder file:///opt/config/multi_delta_streamer_test/hudi-ingestion-config \
  --schemaprovider-class org.apache.hudi.utilities.schema.

[2021-11-30 13:31] mincwang commented on #4160
hope to contain the  `_hoodie_operation` column for the spark sql query

[2021-11-30 22:20] rubenssoto commented on #4135
Hello @xiarixiaoyao and @vinothchandar

I am testing clustering for a demonstration and I decide to reproduce the Vinoth test on my cluster.

Machine type: r5.4xlarge
Number of nodes: 8

Same dataset as Vinoth
s3://amazon-reviews-pds/parquet/

hudi_options = {
    'hoodie.table.name': 'amazon_reviews_hudi',
    'hoodie.datasource.write.recordkey.field': 'review_id',
    'hoodie.datasource.write.pr

[2021-12-01 00:24] rubenssoto opened #4170 "[SUPPORT] Understanding Clustering Behavior"
Hello Everyone,

Im testing Apache Hudi clustering Behavior, my idea is to create files between 800mb and 1024mb, but clustering are creating files smaller than that.

<img width="1486" alt="Captura de Tela 2021-11-30 às 21 23 17" src="https://user-images.githubusercontent.com/36298331/144155530-586375d5-f942-42f3-848c-e8e18da46a1f.png">

My Hudi Options:

hudi_options = {
    'hoodie.table.name'

[2021-12-01 01:38] xiarixiaoyao commented on #4135
@rubenssoto  Thank you for your feedback
createOptimizedDataFrameByMapValue at RDDSpatialCurveOptimizationSortPartitioner.java:83 should support running in parallel， let me check it  thanks

[2021-12-01 03:34] xiarixiaoyao commented on #4135
@rubenssoto @vinothchandar   i have run the test。
suggestions： if you use z-order/hilbert in clustering, pls  set option("hoodie.clustering.plan.strategy.max.bytes.per.group", **Long.MaxValue.toString**)
we need as many files as possible participate in sorting，in this way the sorting effect will be  the best and there is no problem of parallelism

On the issue of parallelism, the current mechanism

[2021-12-01 05:06] rubenssoto commented on #4135
Thank you @xiarixiaoyao

I will test with bigger values on hoodie.clustering.plan.strategy.max.bytes.per.group.
Only one more question, I want to demonstrate data skipping to my teammates, how can I enable data skipping on reading side on pyspark?

[2021-12-01 06:31] xiarixiaoyao commented on #4135
@rubenssoto
two ways
1）：spark.sql("set hoodie.enable.data.skipping  = True")
2）：df = spark.read.format("hudi").option("hoodie.enable.data.skipping", "True").load("/tmp/default/hilbert")
 then use sql/dataFrame to query

[2021-12-01 06:34] esaeki opened #4174 "Cannot delete data; Illegal character error"
I would like to delete some data in S3 by using Glue and Hudi, but encountered the following error.

[code]

The format of data in S3 should be fine. Does anyone know the cause of this?

Here is the script of my Glue job.

[code]

[2021-12-01 07:54] dik111 commented on #4030
HI ,@lsyldliu Yes, our company uses oracle's ogg for log capture, but some tables are too large, and all fields will cause a great delay, so we changed to incremental fields. Can hudi support incremental field updates? This will help us a lot!

[2021-12-01 08:56] xiarixiaoyao commented on #4135
@vinothchandar
The current cluster mechanism just can't support concurrency very well. Even if you use ordinary sorting (not z-order / Hilbert), there also  exsit  this problem.   Let me think about how to modify this mechanism

[2021-12-01 10:29] Coreixwumo commented on #3999
@xushiyan it works, thanks very march!

[2021-12-01 11:13] codejoyan opened #4176 "[SUPPORT] Getting java.lang.NoSuchFieldError: TIMESTAMP_MICROS error while hive sync using run_sync_tool.sh"
Hudi - 0.9.0
Spark - 2.4.7

I created a Hudi COW table and trying to do Hive sync. Getting the below error.
Please suggest the workaround and also any other way to hive sync for an already existing hudi dataset

**Command used:**
run_sync_tool.sh \
  --jdbc-url "jdbc:hive2://host:2181" \
  --user hive \
  --pass hive \
  --partitioned-by col1,col2 \
  --base-path gs://basepath \
  --database hudi_

[2021-12-01 11:46] codejoyan commented on #4176
It looks to me as a jar mismatch issue. But what is the suggestion in case we face jar mismatch issues?

[2021-12-01 11:57] codejoyan opened #4177 "[SUPPORT] org.apache.hudi.exception.HoodieException: Unknown versionCode:2"
Facing an issue with 0.9.0 hudi version

I bulk inserted into a hudi table (say 100 partitions). Then I am trying to upsert data to the last partition.
But instead of upserting, by mistake I used bulk_insert and it failed with the below error (which is expected). I see successful rollback action in the .hoodie timeline. All fine till this point.
But any subsequent upsert attempts continue to fail

[2021-12-02 02:36] gudladona commented on #3834
I think this is fixed in https://github.com/apache/parquet-mr/pull/560. Upgrading parquet-avro to >=1.11.0 should address this issue.

[2021-12-02 03:25] wangzhongz opened #4184 "[SUPPORT]parquet is not a Parquet file (too small length:4)"
MOR + Spark
**Environment Description**

* Hudi version :
0.9
* Spark version :
spark2

**Stacktrace**

```Add the stacktrace of the error.```
![image](https://user-images.githubusercontent.com/51226982/144352136-57398c56-0e45-40d9-9a7b-ac764e3dc84c.png)
![image](https://user-images.githubusercontent.com/51226982/144352259-03edf2b5-6b92-4dc3-85df-8ba8555d0c1d.png)

[2021-12-02 04:53] Gatsby-Lee commented on #2544
Thank you!!

[2021-12-02 06:21] Gatsby-Lee commented on #2509
AWS Glue3
+ Spark: 3.1.1-amzn-0
+ Hive: 2.3.7-amzn-4
+ Hudi: 0.9

I had this issue.
Although I can see timestamp type, the type I see through AWS Athena was bigint.

I was able to handle this issue by setting this value when I insert data.
"hoodie.datasource.hive_sync.support_timestamp": "true"

But, I am not sure if there is any downside of setting this value to true.

[2021-12-02 06:25] Gatsby-Lee commented on #2544
@codope

Can you tell me where I can find the commit for this fix?
And, do you know if there is any downside of setting this config?
"hoodie.datasource.hive_sync.support_timestamp": "true",

[2021-12-02 06:53] h7kanna opened #4188 "[SUPPORT] NullPointerException in HoodieROTablePathFilter Hudi 0.10.0"
**Describe the problem you faced**

NullPointerException in HoodieROTablePathFilter while querying Hudi table using 0.10.0 that is working with 0.9.0

**Workaround**:

Undo: https://github.com/apache/hudi/pull/3719

**To Reproduce**

Steps to reproduce the behavior:

1. Create COW table date partitioned
2. Query for 2 months worth of partitions

Query sample

[code]

[code]

**Expected behavior**

[2021-12-02 08:33] Jiezhi opened #4190 "[SUPPORT]0.10 cow table insert mode cannot merge small files"
**Describe the problem you faced**

In hudi 0.9, using Flink 1.12.2 SQL client sink logs to hudi **cow** table in **insert** mode. The small files would be merged into a few parquet files.

But hudi 0.10, same code would produce lots of small parquet files.  And turn  on **write.insert.cluster** option	 metioned in [doc](https://hudi.apache.org/docs/next/flink-quick-start-guide#options-3) had no e

[2021-12-02 09:42] danny0405 commented on #4190
Thanks for your feedback, may i see your running DAG of the pipeline ?

[2021-12-02 09:54] Jiezhi commented on #4190
![image](https://user-images.githubusercontent.com/3399929/144398765-af1c4c41-e313-4b0c-b391-ddf74ae0e524.png)

This is Flink 1.13.2 with master branch hudi (0.11-snapshot).

[2021-12-02 10:14] danny0405 commented on #4190
The pipeline is right, there is a bucket assigner there which would try to assign records to small buckets, do you insert continuously and see the file size ? The clean may clean the old small files then.

[2021-12-02 10:39] Jiezhi commented on #4190
I started two task to consume same Kafka topic with different group id, sink to different  Hudi table:
1: Flink 1.12.2 with Hudi 0.9
2: Flink 1.13.2 with latest Hudi version(Started at 05:49 PM for test)

Two jobs pipeline are same, but the files under partition are different:
Job one keep 13 files, and new data are merged into those files, and be merged into two files(because no much data)  at se

[2021-12-02 11:21] danny0405 commented on #4190
Okey, let me have a test on local cluster.

[2021-12-02 13:54] rubenssoto commented on #4135
@xiarixiaoyao I follow your tip about hoodie.clustering.plan.strategy.max.bytes.per.group and use your patch from pr 4178 and the job now took 15 minutes, it is a good improvement.

<img width="1780" alt="Captura de Tela 2021-12-02 às 10 52 40" src="https://user-images.githubusercontent.com/36298331/144435131-bf8fbf38-d4af-4397-823e-5c3304d44dda.png">

Both tasks were submited at the same time.

[2021-12-02 17:05] gudladona commented on #3834
CC @codope @vinothchandar

[2021-12-02 19:00] Rap70r commented on #3697
Hi @xushiyan,
I was wondering if is there a way to control the size of parquet files created under a partition. For example, if a partition has 1 million records, it will probably create a parquet file of size 100MB. Is there a way to split that parquet file to 10 smaller files of 10MB each within the same partition?

Thank you

[2021-12-03 01:00] danny0405 commented on #4190
Fixed in https://github.com/apache/hudi/commit/934fe54cc57b508875383cd807735b1323fef754

[2021-12-03 01:45] leesf commented on #4188
@h7kanna would you please also paste the code that used to query data?

[2021-12-03 02:05] xiarixiaoyao commented on #4135
Thank you for your test. We will continue to optimize this area in the future。
if the sort columns has skewed， you can try set。
LAYOUT_OPTIMIZE_CURVE_BUILD_METHOD.key ->  "sample"
see the benchmark result of
org.apache.spark.sql.execution.benchmark.SpaceCurveOptimizeBenchMark

[2021-12-03 02:23] #4190 closed

[2021-12-03 02:40] xushiyan commented on #4184
@wangzhongz can you share the complete hoodie configs and any code snippet you're running to get this dataset? this is tricky to troubleshoot unless it can be reproduced successfully, so we'd need as much info as possible to reproduce it.

[2021-12-03 02:58] h7kanna commented on #4188
Yes. Updated with the query.

[2021-12-03 03:02] xiarixiaoyao commented on #4188
It looks like a serious problem. Let me check it

[2021-12-03 03:05] xushiyan commented on #4177
it probably means the table you have is at verson 0 or 1. but the bulk insert you performed is with 0.9.0 (version 2).

[code]

You can try CLI command (using 0.9.0) to perform upgrade or downgrade on the table. `org.apache.hudi.cli.commands.UpgradeOrDowngradeCommand`

you can choose to stay with version 2 or 1 onwards

[2021-12-03 03:11] wangzhongz commented on #4184
hoodie configs:
override def getHudiConfig(): HudiConfigBuilder = {
    super.getHudiConfig()
      .properties(Map[String, String](
           HoodieTableConfig.TYPE.key() -> MOR_TABLE_TYPE_OPT_VAL
          ,HoodieTableConfig.RECORDKEY_FIELDS.key() -> "start,end"
          ,HoodieTableConfig.PARTITION_FIELDS.key() -> "relation"
          ,HoodieTableConfig.PRECOMBINE_FIELD.key() -> "lastUTS"

[2021-12-03 03:17] zhangyue19921010 commented on #4188
on it

[2021-12-03 04:41] forest455 opened #4200 "spark-sql query timestamp partition error"
hoodieDeltaStreamer config part :

hoodie.datasource.write.recordkey.field=seq_no
hoodie.datasource.write.partitionpath.field=tran_date
hoodie.datasource.write.precombine.field=
hoodie.datasource.write.keygenerator.class=org.apache.hudi.keygen.TimestampBasedKeyGenerator
hoodie.datasource.hive_sync.database=ods
hoodie.datasource.hive_sync.table=hudi_ods_tran
hoodie.datasource.hive_sync.partition_fi

[2021-12-03 05:59] zhangyue19921010 commented on #4188
Hi @h7kanna I just dig into source code, and it seems a Concurrent issue cause
[code]
you mentioned.

Sadly I failed to reproduce this errors on my env :<
So could you please do me a favor, change ` this.hoodieTableFileSystemViewCache = new HashMap<>();` to ` this.hoodieTableFileSystemViewCache = new ConcurrentHashMap<>();`

And have a try to reproduce this error.

[2021-12-03 06:23] h7kanna commented on #4188
Thanks, I will have to wait for my team. will test it tomorrow and update the result here.

[2021-12-03 07:29] melin opened #4202 "[SUPPORT] Support Apache Spark 3.2"
@pengzhiwei2018
[code]

[2021-12-03 07:42] punish-yh opened #4204 "[SUPPORT] FlinkSQL write to Hudi, throw InvalidAvroMagicException: Not an Avro data file"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?
yes
- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

when

[2021-12-03 07:58] danny0405 commented on #4204
Seems not the root cause, can you show the first error stack trace ?

[2021-12-03 08:00] danny0405 commented on #4188
You should be fast, the 0.10.0 RC#3 is cut tomorrow, if you want the fix in the release, do it now !!!

[2021-12-03 08:09] punish-yh commented on #4204
@danny0405  well，in job root exception, i only find these, the jobmanager exception same as this
![7A6E58CCDCA2670B42B6386B965CE0AA](https://user-images.githubusercontent.com/59658062/144567243-1167c87d-934f-435d-97eb-92e2aac7f7a2.png)

![image](https://user-images.githubusercontent.com/59658062/144567211-a022c08b-01cc-41d2-b056-760a08024afc.png)

[2021-12-03 08:14] danny0405 commented on #4204
Seems there is a crush metadata file, can you delete it manually and try again.

[2021-12-03 08:27] forest455 commented on #4200
i think there have a bug

[2021-12-03 08:28] fireking77 commented on #3945
Hi Guys!

+1 here

I have the same issue with quite a same setup (EMR 6.4) but with Hudi version 0.8 wich is built into that EMR version.

Thanks,
 Darvi

[2021-12-03 09:50] fireking77 opened #4205 "[SUPPORT] Target Parquet schema / metadata info / LogicalType"
**Describe the problem you faced**
Hi Guys,

My config:
 Amazon EMR 6.4 with Hudi 0.8

I am very newbie with HUDI, and when I checked the materialized parquet schema, I found some intresting in the metadata config.
Maybe this is not HUDI related. It is related to the parquet writer class which is used.

example field in the HUDI materialized parquet file:
`{
      "Field_id": 0,
      "Name": "cor

[2021-12-03 16:18] fireking77 commented on #4205
Guys,
I am sorry very much, this was a bug at me!
It contains the right meta.

############ Column(report_time) ############
name: report_time
path: report_time
max_definition_level: 0
max_repetition_level: 0
physical_type: INT64
logical_type: Timestamp(isAdjustedToUTC=true, timeUnit=microseconds, is_from_converted_type=true, force_set_converted_type=false)
converted_type (legacy): TIMESTAMP_MICRO

[2021-12-03 16:18] #4205 closed

[2021-12-03 17:09] h7kanna commented on #4188
Hi,
Fails with same error even with concurrentHashMap

43131 [task-result-getter-2] WARN  org.apache.spark.scheduler.TaskSetManager  - Lost task 19.0 in stage 0.0 (TID 19) (host) executor 10): org.apache.hudi.exception.HoodieException: Error checking path :s3a://completes/completetime=2021/10/06/086e30d5-3573-4f74-90ee-92bb89ebc4c2-0_626-10-4254_20211202004113620.parquet, under folder: s3a://compl

[2021-12-03 17:17] BenjMaq opened #4207 "[SUPPORT] Hudi 0.10.0 throws java.lang.NoSuchMethodError: com.amazonaws.http.AmazonHttpClient.disableStrictHostnameVerification"
**Describe the problem you faced**

I'm currently using Hudi 0.9.0 and it runs fine. I can insert/delete data without problems (using Hudi Spark-SQL).

Switching to Hudi 0.10.0 throws `java.lang.NoSuchMethodError:com.amazonaws.http.AmazonHttpClient.disableStrictHostnameVerification`

**Environment Description**

* Hudi version : 0.10.0

* Spark version : 2.4.4

* Hive version : 2.3.5

* Hadoop ver

[2021-12-03 17:21] BenjMaq opened #4208 "[SUPPORT] On Hudi 0.9.0 - Alter table throws java.lang.NoSuchMethodException: org.apache.hadoop.hive.ql.metadata.Hive.alterTable(java.lang.String, org.apache.hadoop.hive.ql.metadata.Table)"
**Describe the problem you faced**

I'm trying to run a Spark SQL statement to alter a Hudi table. At some point my Spark job fails and the errror
`java.lang.NoSuchMethodException: org.apache.hadoop.hive.ql.metadata.Hive.alterTable(java.lang.String, org.apache.hadoop.hive.ql.metadata.Table)` is thrown.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `alter table <TABLE> add columns(tes

[2021-12-03 23:28] zhangyue19921010 commented on #4188
We may need to revert this patch to avoid blocking the normal realease  0.10.0. Also I will keep tracing this error , hope can fix it and get this tuning back.
Hi @danny0405 and @leesf could you please review and merge this revert PR. Thanks a lot.
https://github.com/apache/hudi/pull/4210

[2021-12-04 02:29] lsyldliu commented on #3960
IMO, this requires the flink can support schema evolution, current community flink doesn't support it,  you can consider use aliyun enterprise flink, we are support it.

[2021-12-04 15:42] stayrascal opened #4219 "[SUPPORT] Flink SQL: NoSuchMethodError: com.esotericsoftware.kryo.Kryo$DefaultInstantiatorStrategy.<init>(Lorg/objenesis/strategy/InstantiatorStrategy;)V"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?
   No
- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A

[2021-12-04 23:07] xushiyan commented on #4202
@melin Understood the need for 3.2 support. we have been tracking this in https://issues.apache.org/jira/browse/HUDI-2811
 and we should be prioritizing this in next release.
cc @YannByron

[2021-12-04 23:07] #4202 closed

[2021-12-04 23:38] xushiyan commented on #4207
@BenjMaq is the 0.10 release candidate? can you please confirm which commit you're using? also can you describe the environment, is this from EMR?
cc @umehrot2

[2021-12-05 00:38] xushiyan commented on #4208
@BenjMaq can you share the sql used to create this table? also did you run the sql on EMR?

[2021-12-05 01:51] danny0405 commented on #4219
We try to solve the problem by add explicit dependency in flink hudi bundle jar: https://github.com/apache/hudi/commit/38585e4e57c86e0846b5561c4d1750676d88e5f4, can you check your kryo version in the classpath ?

[2021-12-05 03:10] xushiyan commented on #4200
@forest455 which hudi version you used here? this may have been fixed in the upcoming 0.10

[2021-12-05 03:17] xushiyan commented on #4176
@codejoyan the right jar should be
[code]

can you check your paruqet-avro version in your environment?

[2021-12-05 03:39] xushiyan commented on #4174
@esaeki which hudi version this is? can you also post the complete stacktrace?

[2021-12-05 04:22] xushiyan commented on #3834
another parquet upgrade request. tracking it in https://issues.apache.org/jira/browse/HUDI-2811

[2021-12-05 04:24] xushiyan commented on #4165
@pratyakshsharma any insights on this?

[2021-12-05 05:33] stayrascal commented on #4219
Thanks @danny0405 for looking at this.

I pull the latest master version, and rebuild again, but still meet this problem, but found some tricky thing:

1. the version of `kyro-shaded` should be 4.0.2, but it's 3.0.3 in the package. And the kryo version should be 2.24.0 but I didn't found the actual version in the package.
![image](https://user-images.githubusercontent.com/13775334/144734801-11c3a8

[2021-12-05 05:54] stayrascal commented on #4219
I tried to download the official release version(0.0.9), and uncompress the jar, found that the kryo-shaded version is still 3.0.3.

[2021-12-05 08:15] xushiyan commented on #4170
@li36909 @yihua can you share some insights here please?

[2021-12-05 08:59] YannByron commented on #4200
@forest455
as @xushiyan commented above, try this in the master (0.10). If there is still a problem, please provide the whole codes so that i can reproduce this issue well.

[2021-12-05 09:18] BenjMaq commented on #4207
Hi @xushiyan , it's from the `0.10.0-rc2` version. Should I try the latest one (`0.10.0-rc3`) that was pushed yesterday?
For the environment, it's not on EMR. We have our own Spark cluster built on EC2 machines (cluster standalone mode). I'm wondering if some AWS S3 dependencies were added/removed between `0.9.0` and `0.10.0` that could be causing this issue?

[2021-12-05 09:27] BenjMaq commented on #4208
@xushiyan , I have updated the description to add the create table statement. For the environment, it's not on EMR. We have our own Spark cluster built on EC2 machines (cluster standalone mode).

[2021-12-05 10:16] danny0405 commented on #4219
We didn't meet this error after https://github.com/apache/hudi/commit/38585e4e57c86e0846b5561c4d1750676d88e5f4, i see that you scala version is 2.12, how do you include your flink bundle jar in the classpath ?

[2021-12-05 20:38] xushiyan commented on #4163
@zhangyue19921010 thank you for the detailed analysis! the fix makes sense: archival should not act on commits that are after pending clustering. will check out the PR soon.
cc @nsivabalan @yihua

[2021-12-05 22:11] kazdy commented on #3724
I'm closing this issue after reading the Hudi code.

Hudi Incremental Query reads data only if available in commits, so you're not going to get all the data from the table (which was my concern) as the commit files are removed with new data coming to the table (depending on the configuration). You just can't read stream from the beginning of the table in all cases.

For the newcomers reading the S

[2021-12-05 22:11] #3724 closed

[2021-12-05 23:55] xushiyan commented on #4162
@yyar the spark shell environment shows it's spark 3.2, probably causing different behavior from your intellij environment where spark 3.0.x was used. in 0.9 and 0.8, spark 3.2 wasn't supported. can you try fixing the spark shell version and see if it  persists?

[2021-12-06 01:28] xushiyan commented on #4160
@mincwang makes sense. tracking this in https://issues.apache.org/jira/browse/HUDI-2941

[2021-12-06 01:28] #4160 closed

[2021-12-06 01:36] esaeki commented on #4174
Thank you for your reply. This issue has already resolved. I used '-' instead of '_' for the name of Glue table.

[2021-12-06 01:36] #4174 closed

[2021-12-06 02:28] Coreixwumo opened #4221 "[SUPPORT] hudi mor table has a lack of data"
hi

there is some problems while i use mor table with flink, but with the same schema cow table is ok ,here is my create table sql:

create table hudi.corgi_PayOrder_logic_mor(
`id` STRING,
`status` STRING,
`version` STRING,
`payerId` STRING,
`payeeId` STRING,
`eventType` STRING,
`executeTime` BIGINT,
`touchTime` BIGINT,
`created` STRING,
`etl_update_time` STRING,
`visit_date` string
)PARTITIONED

[2021-12-06 03:12] punish-yh commented on #4204
I deleted metadata , it's seems to be normal. thank you

[2021-12-06 04:31] #4204 closed

[2021-12-06 05:25] forest455 commented on #4200
Thanks.
I use hudi-0.10.0
I modified HoodieSparkUtils.scala  and it works now, but not sure it's right.

![IMG_20211206_130258](https://user-images.githubusercontent.com/95460060/144791979-9a1824e4-a09d-4141-b90f-cae6e5958950.jpg)

[2021-12-06 06:24] tieke1121 opened #4223 "[SUPPORT] Flink hudi Sink"
HI ,
i am use flink to consume  data from Kafka, then slide out according to different business types, and store the data in different hudi tables. When submitting the job, it is found that yarn will split the job into multiple ones, one of which is job checkpoint very slow, the other one has no problem.

**Expected behavior**

A clear and concise description of what you expected to happen.

**Env

[2021-12-06 06:35] tieke1121 commented on #4223
ingestion.sql
--start[accesscard_dynamicaccountinfo]
SELECT id AS uuid, id_old, id_base, account_id, dynamic_date
        , comsume_no, dynamic_sum, beforedynamic_sum, afterdynamic_sum, dynamicacc_id
        , dynamicacc_name, borrow_account_type, borrow_accountid, borrow_accountname, card_id
        , vehicle_plate, borrow_openaccountbankno, borrow_openaccountbankname, borrow_organizationno, loan

[2021-12-06 06:45] tieke1121 commented on #4223
main code ：
![image](https://user-images.githubusercontent.com/6927930/144800135-b11c8f99-88b4-4aa4-ae16-15e7dfa8c62f.png)

[2021-12-06 06:55] zhangyue19921010 commented on #4163
Hi @xushiyan Thanks for your attention and review :)

[2021-12-06 07:10] yyar commented on #4162
@xushiyan You're right. When I ran spark-shell in 3.0.1, this behavior doesn't appear and it happens in 3.2.0. One strange point is when I ran using sbt. I will check running in sbt and reply again. Thanks.

[2021-12-06 08:29] danny0405 commented on #4221
What version of Hudi did you use, you may need this commit: https://github.com/apache/hudi/commit/a2eb2b0b0af03be261d9d456c8ad75b3695793f7

[2021-12-06 09:04] danny0405 commented on #4223
Does the failing job throws any error there ?

[2021-12-06 10:04] yanenze opened #4227 "[SUPPORT] java.lang.IllegalStateException: Duplicate key Option"
when i run a flink sink hudi program, this problem has occured

stack info like this:

org.apache.flink.util.FlinkException: Global failure triggered by OperatorCoordinator for 'hoodie_stream_write' (operator f1d7c56f4bf5fc204e4401416e5b3884).
	at org.apache.flink.runtime.operators.coordination.OperatorCoordinatorHolder$LazyInitializedCoordinatorContext.failJob(OperatorCoordinatorHolder.java:557)

[2021-12-06 10:35] BenjMaq commented on #4207
I noticed `0.10.0` adds
[code]
to the `hudi-spark-bundle` `pom.xml` file.
Could this be adding conflicting dependencies?

[2021-12-06 10:59] stayrascal commented on #4219
I start a local standalone sessionm, and then submit flink job by sql client.
[code]

[2021-12-06 11:11] Coreixwumo commented on #4221
@danny0405  flink 1.13.2 + hudi 0.10.0-SNAPSHOT
i update code with latest commit , but it does not work

[2021-12-06 11:22] danny0405 commented on #4221
did your log all compacted into parquet ? did you try query using flink sql ?

[2021-12-06 11:37] danny0405 commented on #4219
I see that kryo-shaded 4.0.2 and kryo 2.24.0 all has this method `DefaultInstantiatorStrategy(org.objenesis.strategy.InstantiatorStrategy)`.

[2021-12-06 12:16] Coreixwumo commented on #4221
hi , i use offline compaction and query with corgi_PayOrder_mor_rt , the result is lack.
when i use flink sql to query , there is a error: xxx is not a Parquet file. expected magic number at tail.

So,  is there any problem that i use hudi, or what is recommend way to use mor table,thanks for your answer.

[2021-12-06 12:31] danny0405 commented on #4221
you can try the online compaction then, more simple.

[2021-12-06 12:34] danny0405 commented on #4221
![image](https://user-images.githubusercontent.com/7644508/144846909-0ef47662-b7b9-4616-9c61-f3ac056f7756.png)
You can add our dingTalk group ~

[2021-12-06 13:39] stayrascal commented on #4219
yeah, I also uncompressed the `hudi-flink-bundle` package, and find `DefaultInstantiatorStrategy(org.objenesis.strategy.InstantiatorStrategy)` the in `Kryo.class`, that's why I thought it's a interesting problem.
![image](https://user-images.githubusercontent.com/13775334/144854730-eef43a83-debd-451c-a24f-5cc8f9f24711.png)

And also I compared the `DefaultInstantiatorStrategy` class between kryo 2

[2021-12-06 14:51] nsivabalan commented on #2688
@codope @rubenssoto : can we close this out if resolved.

[2021-12-06 15:33] stayrascal commented on #4219
Interesting, I cannot reproduce this issue again after I realized I used the flink_2.11 standalone cluster, so try to build the hudi with scala 2.11, and later build hudi with scala 2.12, both version work well through the `kyro-shaded` version is still 3.0.3 under `META-INF/maven/ com.esotericsoftware/kryo-shaded/pom.xml`, cannot get the root cause reason, but fortunately, it works now. Thanks @d

[2021-12-06 15:33] #4219 closed

[2021-12-06 16:15] BenjMaq commented on #4207
I was able to fix this issue by pinning `aws-java-sdk` dependency to `1.7.4`.

[code]

[2021-12-06 16:15] #4207 closed

[2021-12-06 16:27] alex-shchetkov commented on #4086
Have been running into the same issue with hudi 0.8 and 0.9 with pyspark.
This seems relatively critical as it's causing batches of data to get silently thrown out.

To see the actual error message (at least with EMR), you have to edit `/etc/spark/conf/log4j.properties` file.
EMR automatically adds "log4j.logger.org.apache.hudi=WARN" in there, which causes the errors to not get printed

[2021-12-06 16:32] BenjMaq opened #4229 "[SUPPORT] Exception in thread "main" java.lang.IllegalArgumentException: Can't find primaryKey `uuid` in root"
**Describe the problem you faced**

Using Hudi `0.10.0-rc3`, creating an external COW table without primaryKey fails with
[code]
Creating with a primaryKey **does not** fail.

I'm also wondering what this error means?
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Create table
[code]
2. Error is thrown

**Expected behavior**

I would expect the table to be correctly created.

**Env

[2021-12-06 18:01] BenjMaq opened #4230 "[SUPPORT] org.apache.hudi.exception.HoodieRemoteException: Failed to create marker file"
**Describe the problem you faced**

Using Hudi `0.10.0-rc3`, inserting into an external COW table fails.
Table was created with the same Hudi version `0.10.0-rc3`.

It's failing during the stage
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Create table
[code]
2. Insert into the table
[code]
3. Job fails

**Expected behavior**

Data is correctly inserted

**Environment Description

[2021-12-06 18:05] yihua commented on #4163
@zhangyue19921010 Thanks for reporting the issue.  I'll take a deeper look.

[2021-12-06 20:39] kazdy commented on #2265
I also encountered this issue, in my case upgrading to 0.9.0 and setting `parquet.avro.write-old-list-structure` to false helped both for MOR and COW table.
When using 0.8.0 issue still persists.

In my case I had two problems:
1. Schema evolution in complex type column from `array<struct<col1>>` to `array<struct<col1, col2>>`, col2 should be null, hudi was failing to read table.
2. While doing up

[2021-12-06 22:14] askldjd opened #4233 "[SUPPORT] Hudi parquet INT16 conversion loses LogicalType information"
**Describe the problem you faced**

Our source parquet file has an INT16 column that contains a mixture of positive and negative values. When we convert the parquet file to the hudi format, the INT16 column in the hudi parquet loses its [LogicalType](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md) information and is interpreted as an INT32. That indirectly causes all negative

[2021-12-07 05:52] yanghua commented on #4229
Hi @BenjMaq Maybe, you should define the `uuid` field actively. Yes, the default behavior has been changed compared to 0.9.

[2021-12-07 05:57] nsivabalan commented on #3961
@stym06 : can you respond to my clarification above. would help debug this issue further.

[2021-12-07 05:59] nsivabalan commented on #3603
Will close it out if we don't hear from you in a day or two. please do let us know if you are having the issue still.

[2021-12-07 06:36] stym06 commented on #3961
Sure, Do you need the complete .hoodie folder with its contents?

[2021-12-07 07:03] h7kanna commented on #2688
I can confirm this works with mode='hms' and hive_jdbc=false

spark-shell \

[2021-12-07 08:55] YannByron commented on #4229
@BenjMaq
as @yanghua commented. also, we'll update quick-start docs ASAP.

[2021-12-07 08:58] leesf commented on #4229
您好，您的邮件我已经收到，我会立即回复，祝您生活愉快！

[2021-12-07 09:53] BenjMaq commented on #4229
Thanks for the answers. So how do I define this `uuid`? And what is it used for? Does it mean in `0.10.0` tables **must** have a primaryKey?

[2021-12-07 09:58] Jiezhi opened #4238 "[SUPPORT]Merge cow partitioned files manually"
**Describe the problem you faced**

Because of this issue https://github.com/apache/hudi/issues/4190, there're some partitions contain lots of small files(about 1k files).

And I want to merge those files, I've tried Flink SQL `insert overwrite` to merge files but failed:

[code]

That might be Flink SQL issue, but I wonder is there any solution to merge hudi small files manually, hudi-cli or some

[2021-12-07 11:07] yanghua commented on #4229
Just like you have defined the field `id, name...`.

If you don't specify a primary key, Hudi would try to use `uuid` as the primary key and find its definition. Or you can specify a primary key, like your `id` field actively.

yes

[2021-12-07 15:40] nsivabalan commented on #3961
can you post the .hoodie folder for now. and can you respond to this "highly unlikely, but Is there a chance some other process writes any extra files to hoodie base path."

[2021-12-07 17:22] rubenssoto opened #4239 "[Feature Request] Query Metrics"
Hello Guys,

Please tell me if it make sense.

Hudi has great write metrics and we plan to use it, but some users ask to us query metrics, for example how many times this table was queried. We use Redshift Spectrum, Spark and Presto to query Hudi, it would be good if Hudi keep metrics for all Access.

Thank you

[2021-12-07 17:38] #4239 closed

[2021-12-07 21:25] WTa-hash opened #4241 "[SUPPORT] Disaster Recovery (DR) Setup? Questions."
Are there any tips or support on setting up a Disaster Recovery (DR) environment with Apache Hudi?

We are creating our Datalake, stored on AWS S3, by running a Spark structured streaming application on AWS EMR. The Spark application is processing incoming data from a AWS Kinesis stream and saving them into Hudi tables on S3 and syncing with the AWS Glue catalog. All of this happens in a single AW

[2021-12-07 22:15] nsivabalan commented on #4146
@Limess : So, is the expectation that, if you set checkpoint = 0, deltastreamer should start from scratch as though we are starting deltastreamer for the first time ?
bcoz, from your example, it is working as expected. your resultant checkpoint  `Option{val=1637847362361}`, matches last checkpoint in commit metadata and hence deltastreamer does not do anything.

[2021-12-07 22:15] Rap70r opened #4242 "[SUPPORT] Split Data into Multiple Parquet files under Partitions"
Hello,

We are using Spark and Hudi to upsert records into parquet in S3, extracted from Kafka, using EMR. The events could be either inserts or updates.
Hudi files are partitioned and under each partition it creates Parquet files. The problem is, these parquet files can go up to 100MB in size and Spark job takes longer time to update them.
Is it possible to split the data into multiple smaller pa

[2021-12-07 22:16] #3697 closed

[2021-12-07 22:17] nsivabalan commented on #4146
if you wish to override the checkpoint, probably you need to set --initial-checkpoint-provider.
https://github.com/apache/hudi/blob/e8473b9a2b5bf0ad9370377899f6a7ea4d1ceba1/hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamer.java#L357

[2021-12-08 06:13] jaehyeon-kim opened #4244 "[SUPPORT] DeltaStreamer doesn't create a Glue/Hive table if deploy mode is cluster due to HiveConnection Failure"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

When su

[2021-12-08 07:35] BruceKellan opened #4247 "[SUPPORT] Unsupport operation exception occur when using flink+hudi in bulk_insert mode"
**Describe the problem you faced**

I am using flink+hudi to initial dataset from hive.
but unsupport operation exception occur like this, it seems like doesn't support map type in bulk_insert mode but it's supported in upsert mode.

[code]

**Expected behavior**

* Hudi version : 0.10.0
* Hive version : 2.3.7
* Hadoop version : 2.7.3
* Storage (HDFS/S3/GCS..) : HDFS
* Running on Docker? (yes/no)

[2021-12-08 07:38] yanenze opened #4248 "[SUPPORT] flink write hudi problem"
when i set the flinkoption (FlinkOptions.WRITE_PARQUET_MAX_FILE_SIZE)=128  but this config dosen`t  work, and the program gennerate parquet file`s size is far greater than 128MB，so i read the origin code find this
<img width="539" alt="企业微信截图_16389486391742" src="https://user-images.githubusercontent.com/34880077/145167765-c6c24b80-c6d1-4d76-adf9-8ba044b17b86.png">
it always return true!!!

[2021-12-08 07:41] wjcwin opened #4249 "[SUPPORT]FLINK CDC WRITE HUDI, restart job get exception:org.apache.hudi.org.apache.avro.InvalidAvroMagicException: Not an Avro data file"
FLINK CDC WRITE HUDI, restart job get exception:org.apache.hudi.org.apache.avro.InvalidAvroMagicException: Not an Avro data file

logs:
[code]

it seems like  some  0 byte files caused , i try delete this files, become normal , but next time i cancel , submit  job , this  problem appear again
can you help me . thks

[2021-12-08 07:41] #4102 closed

[2021-12-08 08:16] guanlisheng commented on #4055
Hi there,
I have an identical issue when enabling my customized transformer class in Hudi 7.0 on EMR.  the transformer class is performing `mapPartitions` operation.

[2021-12-08 09:27] Limess commented on #4146
Yes that's the expectation - this is also what currently happens, but where it doesn't match my expectations is that the subsequent commit is skipped so nothing is actually writen.

Intuitively I'd expect that if the checkpoint < the commit timestamp, Hudi should always commit.

I did look into this and found it hard to understand/use, neither existing implementations match this use case.

[2021-12-08 14:49] nsivabalan commented on #2934
Will close out the ticket as this is expected with interplays between archival and incremental queries. and since we have a patch addressing it.

[2021-12-08 14:49] #2934 closed

[2021-12-08 14:52] nsivabalan commented on #3826
Can you please respond. This is very common use-case and many folks in the community have been running in continuous mode. So, some env specific or config issue. Closing it for now. Feel free to re-open if need be. happy to help.

[2021-12-08 14:52] #3826 closed

[2021-12-08 15:01] nsivabalan commented on #4146
gotcha. guess the way you set the checkpoint should work based on this code block
[code]

Can you enable debug logs and post it here. In the mean time, I will try to reproduce this locally and will post an update here.

[2021-12-08 15:02] nsivabalan commented on #4146
Can you try checkpoint = "val=0"

[2021-12-08 15:09] Limess commented on #4146
To clarify, you're asking me to try  `--checkpoint "val=0"` using the Deltastreamer CLI?

[2021-12-08 16:08] nsivabalan commented on #4146
This worked for me.
First run
[code]

Stopped deltastreamer and restarted with additional config --checkpoint 1638825407000

[code]

[2021-12-08 16:40] h7kanna commented on #4170
I have
hoodie.parquet.max.file.size=134217728
hoodie.parquet.small.file.limit=104857600
hoodie.clustering.plan.strategy.target.file.max.bytes=134217728
hoodie.clustering.plan.strategy.small.file.limit=104857600

In one of the partitions I could see 176 Mb file (more than max file limit)

[2021-12-08 17:19] Limess commented on #4146
We're not running in continous mode, it looks like the above might be? We're also using DFS datasource.

[2021-12-08 18:23] nsivabalan commented on #4146
yea, try giving a valid epoch time. it should work. continuous or non continuous should not matter.

[2021-12-08 18:23] nsivabalan commented on #4146
yeah, mine is parquet DFS source.

[2021-12-08 18:31] nsivabalan commented on #4043
yes, can you try ordering the columns explicitly with writer2.
and then with writer1, please set hoodie.datasource.write.reconcile.schema=true.
These should work if your table was with schema V1 and then you follow these. but if you table had already moved to schema V2 with _hoodie_is_deleted somewhere in the middle, guess this is not going to work.

May be you might want to add a transformer to w

[2021-12-08 19:17] nsivabalan commented on #4055
yeah. probably schema issue. @JB-data : Can you confirm that the target schema you set in your configs matches the output from sql transformer?

[2021-12-08 19:20] nsivabalan commented on #4055
@guanlisheng :  Are you facing the same issue as author or is it diff?
If its diff, then here is my response.
Transformer is an interface and I see you have mentioned you are using a custom transformer. So, I guess we might have to look into the custom transformer and see whats happening.
[code]
Hudi just calls into this method for transformation.

[2021-12-08 21:16] nsivabalan commented on #3945
Guess the feature itself is added only in 0.9.0 https://github.com/apache/hudi/commit/968927801470953f137368cf146778a7f01aa63f
Please let us know if you are facing issues with 0.9.0

[2021-12-08 21:17] Limess commented on #3945
This was using 0.9.0

[2021-12-08 21:17] #3603 closed

[2021-12-08 21:21] nsivabalan commented on #3760
@rubenssoto : Can you please try out the suggestions from raymond and let us know if it worked. we wish to document the right steps in our website. would appreciate if you can confirm if it works.

[2021-12-08 21:24] nsivabalan commented on #3760
CC @kywe665

[2021-12-08 21:35] nsivabalan commented on #3841
Vinoth: sorry, just now noticing your msg. sorry.
@alexeykudinkin : once we are done with parquet upgrade, we might want to test this use-case.

[2021-12-08 21:41] rubenssoto commented on #3760
@nsivabalan sorry it was my fault, I was using prometheus not prometheus push gateway, I thought it was the same thing, but it is not.

[2021-12-09 02:45] nsivabalan commented on #3945
my bad. will look at it then.

[2021-12-09 02:49] guanlisheng commented on #4055
hey @nsivabalan , thanks for the reply.

very similar and the only difference is the dataset operation vs a spark SQL.
additional clue is that the transformer works well with HoodieIncrSource and such incident happens with JsonKafkaSource.

[2021-12-09 02:51] nsivabalan commented on #3945
Looks like the support was never added to deltastreamer only. I have filed a tracking ticket [here](https://issues.apache.org/jira/browse/HUDI-2967). If you are interested in working towards it, let me know. I can guide you. we can get it in for 0.11.
Since we have a tracking jira, will close the github issue.

[2021-12-09 02:51] #3945 closed

[2021-12-09 02:55] nsivabalan commented on #4055
@guanlisheng : Can you please file a new github issue with all details and CC me.

[2021-12-09 05:28] jaehyeon-kim commented on #4244
Found the following config is necessary.

[code]

It defaults to `localhost:10000` and it works with the `client` mode because the driver program run in the master node. However it fails with the `cluster` mode because the driver program runs in the core node.

[2021-12-09 05:28] #4244 closed

[2021-12-09 09:24] yyar commented on #4162
@xushiyan
I found a cause of this problem when I'm using sbt. [The embedded-kafka library](https://github.com/embeddedkafka/embedded-kafka) for testing kafka streaming had been caused this problem. I removed this line in my test dependency and my test had been changed to be ok.

[code]

I think dependency libraries in embedded-kafka can cause this problem and same library may been used in spark 3.

[2021-12-09 13:11] Arun-kc opened #4267 "[SUPPORT] Hudi partition values not getting reflected in Athena"
**Describe the problem you faced**

Partitioned data is not getting reflected in AWS Glue catalog (Athena table)

**To Reproduce**

Steps to reproduce the behavior:

1. Create a Glue job in AWS
2. Copy paste the code in this [article](https://dacort.dev/posts/updating-partition-values-with-apache-hudi/)
3. Run the Glue job

**Expected behavior**

Partition values should be reflected in Glue catalo

[2021-12-09 14:03] JoshuaZhuCN commented on #4163
I also encountered this problem when Spark had an OOM exception, and I ended up having to resynchronize the tables

[2021-12-09 14:46] nsivabalan commented on #3423
We have a tracking [jira](https://issues.apache.org/jira/browse/HUDI-1627) to support querying hive tables via sql transformer. We plan to support this for 0.11.0. Closing the issue for now.

[2021-12-09 15:45] nsivabalan commented on #4188
Closing the issue as its fixed with the revert PR.

[2021-12-09 15:45] #4188 closed

[2021-12-09 15:48] guanlisheng commented on #4055
hey @nsivabalan
did not file one as I think it might be redundant with the one.  and we share the same stack trace

[2021-12-09 15:50] nsivabalan commented on #4184
not sure how we generated a 4 byte parquet file. even headers and footers might come to > 4 bytes. But in general, we don't expose extra files generated due to spark task failures or some other extraneous files. This  4 byte file is something new which I haven't seen.

If you retry the operation, did it succeed? or is your job stuck?

[2021-12-09 15:54] nsivabalan commented on #4170
cc @codope

[2021-12-09 16:00] nsivabalan commented on #4165
you may need to set --base-path-prefix in your props.
Did you get a chance to check out the [blog](https://hudi.apache.org/blog/2020/08/22/ingest-multiple-tables-using-hudi) around this?

[2021-12-09 16:19] nsivabalan commented on #4184
Can you post the contents of /.hoodie in your table base path. Is there any way some other hudi writer process also writes to same table?

[2021-12-09 16:48] yanenze commented on #4227
maybe i have resolved this problem by modify this class AbstractHoodieWriteClient.getPendingRollbackInfos like this

 protected Map<String, Option<HoodiePendingRollbackInfo>> getPendingRollbackInfos(@NotNull HoodieTableMetaClient metaClient) {
    return metaClient.getActiveTimeline().filterPendingRollbackTimeline().getInstants().map(
        entry -> {
          try {
            HoodieRollbackPl

[2021-12-09 17:16] codope commented on #4170
@rubenssoto Are all the files in the screenshot created due to clustering? From the screenshot, it looks like that one output file group is getting created (all fileGroupIds in the screenshot are unique) per input slice. However, from the configs the [number of output groups](https://github.com/apache/hudi/blob/68f8597b12edebba759b942f6337540f21a2db96/hudi-client/hudi-spark-client/src/main/java/or

[2021-12-09 17:45] askldjd commented on #4233
I did a bit of tracing and I think this is where we lost the ShortType information.

`AvroConversionUtils.convertStructTypeToAvroSchema`
https://github.com/apache/hudi/blob/release-0.9.0/hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/HoodieSparkUtils.scala#L103

which leads to `toAvroType` in an external library.
https://github.com/apache/spark/blob/branch-3.0/external/avro/src/main/

[2021-12-09 17:55] askldjd commented on #4233
For those who are affected by this bug, our workaround is to convert int16 fields to int32 before giving it to hudi. In our use case, the parquet is generated by AWS DMS, and we just applied a transformation rule.

See also: https://aws.amazon.com/blogs/database/transforming-data-with-aws-dms-version-3-1-3/

[2021-12-09 20:50] nsivabalan commented on #4072
[code]
guess you already have another instance of derby running, i.e. another spark-shell running and trying to write to hudi or something.

[2021-12-09 21:48] WTa-hash commented on #4241
I ran a test where I deleted some .parquet files from a Hudi table (stored on S3) to simulate S3 replication lagging behind in the copy process and therefore causing the target S3 bucket to have missing data files. Then used AWS Athena to query the Hudi table with missing data files.

Result:
1. Query ran successfully with missing data files (.parquet) - AWS Athena did not error out.
2. The return

[2021-12-10 00:33] nsivabalan commented on #4242
Hudi has max parquet file size configs that you can leverage.
https://hudi.apache.org/docs/configurations/#hoodieparquetmaxfilesize
But also, do keep in mind that, reducing this to a very low number, could result in lot of small files. Something to watch out for.

[2021-12-10 00:33] nsivabalan commented on #4242
But you can employ clustering to batch lot of small files together if you end up with lot of small files.

[2021-12-10 00:35] nsivabalan commented on #4238
@danny0405 @leesf : can you loop in someone to take into this.

But in general, you can try to use [Clustering](https://hudi.apache.org/blog/2021/01/27/hudi-clustering-intro) with hudi to stitch lot of small files into larger ones.

[2021-12-10 00:36] nsivabalan commented on #4230
@yihua : Can you take a look please.

[2021-12-10 00:39] Rap70r commented on #4242
Hello @nsivabalan,

Thank you for getting back to me. Is that default value in bytes: 125829120?

[2021-12-10 00:41] nsivabalan commented on #4229
yes, we are enforcing primary key with 0.10.0. We will have more details around this in migration guide.

[2021-12-10 00:43] nsivabalan commented on #4163
Closing this out as we have a active PR. thanks for reporting.

[2021-12-10 00:43] #4163 closed

[2021-12-10 00:45] nsivabalan commented on #4154
@YannByron @xushiyan : Can you folks take this up please.

[2021-12-10 00:48] nsivabalan commented on #4131
In code, default value for preCombine is "ts" and hence it works for the dataset in quick start guide. Probably we have to fix the quick start guide w/ explicit preCombine field value.

[2021-12-10 00:51] nsivabalan commented on #4109
hey folks. do we have a tracking jira.

[2021-12-10 02:53] YannByron commented on #4154
Hey, @BenjMaq
I test that it works in version 0.10. Can you use hudi 0.10?

[2021-12-10 03:04] zztttt commented on #4072
Thanks for your help! I still meet this problem when I want to store the metadata in Hivemetastore by the derby database approach. I address this problem by using the relational database approach of Hivemetastore, and it really works several days ago.
I can ensure that there is only one sparkSession instance running in the project, and before I start the project, I delete the metadata_db directory

[2021-12-10 03:08] nsivabalan commented on #4242
yes.

[2021-12-10 03:23] Carl-Zhou-CN commented on #4267
@Arun-kc It feels like a connection problem, please check hoodie.datasource.hive_sync.jdbcurl, it seems to be a default value now

[2021-12-10 03:40] Rap70r commented on #4242
Got it, thank you. You mentioned that we can employ clustering to batch lot of small files together. Is there a specific configuration we need to set to achieve that? We are running Hudi in Spark using EMR.

[2021-12-10 03:58] YannByron commented on #4208
Hi, @BenjMaq
i can't reproduce this issue. Can you check your environment? Based on the error above, i guess maybe the conflicts between jar cause this.

[2021-12-10 04:49] Arun-kc commented on #4267
@Carl-Zhou-CN
The following is the hudi options I'm using as of now.
[code]

As for `hoodie.datasource.hive_sync.jdbcurl`, I'm not using any hive as of now, so what URL should I mention?

I'm doing this in AWS Glue and using a hudi connector.

[2021-12-10 06:06] Carl-Zhou-CN commented on #4267
"hoodie.datasource.hive_sync.enable": "true",
    "hoodie.datasource.hive_sync.table": "my_hudi_table",
    "hoodie.datasource.hive_sync.partition_fields": "creation_date",
    "hoodie.datasource.hive_sync.partition_extractor_class": "org.apache.hudi.hive.MultiPartKeysValueExtractor",

@Arun-kc If you do not register your Hudi dataset as a table in the Hive metastore, these options are not require

[2021-12-10 06:30] Carl-Zhou-CN commented on #4267
Because of your hudi version, you may need to manually update the partition after writing
ALTER TABLE table_name RECOVER PARTITIONS;

[2021-12-10 07:18] JoshuaZhuCN opened #4275 "[SUPPORT] How can I control the number of archive files"
When I use clustering async, I generate a lot of archive files, similar to commits. archive. xx_ 1-0-1

how to control or clean up the number of these files

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 2.4.7

* Hive version : ~

* Hadoop version : 3.1.1

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Docker? (yes/no) : no

![image](https://user-images.githubusercontent.c

[2021-12-10 07:27] suribabu-un commented on #4151
Issue is unrelated to hudi, it has to do with the llap is running in the emr cluster. As mentioned above if llap is disabled then queries are running as expected.
Issue can be resolved by creating a new llap bundle (using hive--service llap command) including all the hive.aux.jars.path using --auxjars params (may also need to include aws-java-sdk) and launch the server using new bundle after stopi

[2021-12-10 07:27] #4151 closed

[2021-12-10 09:26] angelzhan commented on #2973
I reproduced this issue by using the [0.9.0 Release](https://github.com/apache/hudi/archive/refs/tags/release-0.9.0.zip) source code, and resolved it by running _**two more**_ commands in the file docker/demo/compaction.commands:
compaction schedule --hoodieConfigs hoodie.compact.inline.max.delta.commits=1
compaction run --parallelism 2 --sparkMemory 1G  --schemaFilePath /var/demo/config/schema.av

[2021-12-10 15:08] nsivabalan commented on #4146
I plan to close this out as epoch times work. Please re-open if need be.

[2021-12-10 15:08] #4146 closed

[2021-12-10 15:10] nsivabalan commented on #4242
@codope : can you chime in here please.

[2021-12-10 15:58] codope commented on #4242
@Rap70r These two blogs should help in understanding clustering in Hudi:
* [Clustering intro](https://hudi.apache.org/blog/2021/01/27/hudi-clustering-intro/)
* [Async clustering](https://hudi.apache.org/blog/2021/08/23/async-clustering)

Specifically, to cluster the small files, the default value for clustering plan and execution strategy configs should be good. However, below configs might need s

[2021-12-10 16:27] nikita-sheremet-clearscale commented on #4062
@xushiyan
Many thanks for reply!
It turned out that logs appeared in intecase log not in step logs in EMR. E.g. to see logstatement you have to open EC2 isntaces list on EMR and check their logs instead of submitted application.

[2021-12-10 16:27] #4062 closed