[2022-03-17 07:14] ranqiqiang commented on #4943
but It's create two tables auto, and  actual  named  hudi_rt / hudi_ro , is or right ?
and then I  use beeline " set hive.input.format = org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat
"
Use sql  "select * from hudi_rt limit 1" , just return empty schema ,can't get any data.
I found the data  already exist in  hdfs.
what can i do  next ?

I use flink 1.3.6 ,hudi0.10.1,hive 3.1.2  ,hadoop

[2022-03-17 08:31] ksrihari93 opened #5058 "[SUPPORT]. Hudi Deltastreamer Job getting failed with Error upserting bucketType UPDATE for partition :0"
**Describe the problem you faced**
We are running CDC pipeline using Debezium ,kafka Connect and Apache Hudi  (**Deltastreamer**) with Mysql DB.
When there is a change in one of the table schema it has been updated successfully by debezium into schema registry and from then on
Hudi Delta Streamer Job is Getting Failed with Error
org.apache.hudi.exception.HoodieUpsertException: Error upserting buck

[2022-03-17 13:01] Guanpx opened #5061 "[SUPPORT] [BUG] BUCKET Index with Flink 1.14 + Hudi 0.11 (master）"
**Describe the problem you faced**

USE BUCKET index， when flink chkp that throw Exception **java.util.NoSuchElementException: No value present in Option**
A clear and concise description of the problem.

**To Reproduce**

 BUCKET index, COW table , insert op
0. chkp
1. hudi config
[code]
**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment Descript

[2022-03-17 14:22] BenjMaq commented on #4230
Hey @yihua, it does not seem like `--hoodie-conf` is supported by `spark-sql`.
[code]

I haven't seen anywhere in the doc such configs for `spark-sql`

[2022-03-17 15:51] rohit-m-99 commented on #5050
Still seeing this issue - on another cluster looks like:
<img width="1420" alt="image" src="https://user-images.githubusercontent.com/84733594/158839655-18e59b61-be5b-4277-bd59-4bde4ecc6270.png">

[2022-03-17 16:32] rohit-m-99 commented on #5037
Like this issue was solved with this fix: https://hudi.apache.org/docs/next/s3_hoodie#aws-s3-versioned-bucket

[2022-03-17 16:32] #5037 closed

[2022-03-17 18:41] yihua commented on #4230
@BenjMaq Got it.  @xushiyan do you know any way to pass in Hudi configs through command line args for `spark-sql`?

[2022-03-18 00:50] aznwarmonkey commented on #4803
I am running version 0.9 that is deployed on AWS EMR clusters

[2022-03-18 02:28] fengjian428 commented on #5058
Hudi only support schema evolution when Add a new nullable column at root level at the end or inner struct (at the end). [schema_evolution](https://hudi.apache.org/docs/schema_evolution/ )
but you add column at the middle, in this case may need recreate hudi table?

[2022-03-18 07:31] nloneday commented on #4943
https://www.yuque.com/docs/share/01c98494-a980-414c-9c45-152023bf3c17, for your reference

[2022-03-18 09:14] wxplovecc commented on #5061
see https://github.com/apache/hudi/pull/5018

[2022-03-18 10:23] Guanpx commented on #3838
hi there, modify this version:https://github.com/apache/hudi/blob/master/packaging/hudi-flink-bundle/pom.xml#L39 , change  hive version 2.3.1 to 2.1.1, then sync hive will be ok~ (flink1.14 + master(0.11))

[2022-03-18 10:25] Guanpx commented on #5061
thx, It looks good, and run without Exception.

[2022-03-18 11:37] neverdizzy commented on #4903
你是怎么解决的？

[2022-03-18 16:57] rohit-m-99 commented on #5050
Spoke with @nsivabalan on this, looks like the issue was not related to DeleteMarkers, rather unioning all the data. Clustering seems to still take a wild amount of resources given that our data < 10GB right now. However that is more discussed here: https://github.com/apache/hudi/issues/4891.

Issue went away after ridding of a rollbakc and reducing our small file limit: https://hudi.apache.org/do

[2022-03-18 16:57] #5050 closed

[2022-03-18 17:43] tjtoll commented on #4873
Is it only the record key having the timestamp characteristics? Or it is the partitioning as well? For example, if I have a random record key but my partitions are by date is BLOOM still beneficial?

Also, on tables that I do have an incrementing record key, why doesn't Hudi sort those before writing them? The files it writes have huge/overlapping ranges of record keys.

[2022-03-19 00:49] maddy2u commented on #5021
Any update on this?

[2022-03-19 03:09] nsivabalan commented on #5047
for the first time load to a new hudi table, "hoodie.copyonwrite.record.size.estimate" might be required. it will define how small files are handled. for subsequent commits, hudi can determine the record size from previous commits.

[2022-03-19 03:10] nsivabalan commented on #5058
+1

[2022-03-19 14:40] #4949 closed

[2022-03-19 15:19] fengjian428 opened #5074 "[SUPPORT] Flink use different record_key format from spark"
1. use flink insert data
2. use spark sql delete data

**Expected behavior**
spark sql cannot delete records ingested by flink

first record's record key is '3630'， this record ingested by flink
second record‘s record key is 'id:99999999', has prefix 'id:' , is ingested by spark
![image](https://user-images.githubusercontent.com/4403474/159126898-f143e3bb-2e8c-4a24-9446-58329557492e.png)

this is

[2022-03-19 17:14] nsivabalan commented on #5020
@danny0405 : any follow ups on this ?

[2022-03-19 17:14] nsivabalan commented on #5020
is this related to https://issues.apache.org/jira/browse/HUDI-2751 ?

[2022-03-19 17:15] nsivabalan commented on #5008
Closing it out as we don't have any AI from our side for now. if you have any compelling ask, do let us know.
thanks!

[2022-03-19 17:15] #5008 closed

[2022-03-19 17:20] nsivabalan commented on #4992
@liuyaolin : I have created a jira [here](https://issues.apache.org/jira/browse/HUDI-3666). feel free to assign the ticket to you and update any docs.
Only info I have on this regard is, we have a PR up on this end https://github.com/apache/hudi/pull/3771. May be you can get started with that.
thanks!

[2022-03-19 17:20] #4992 closed

[2022-03-19 17:21] nsivabalan commented on #4980
@nleena123 : any updates to follow up on here. if you got it resolved, do close the github issue.

[2022-03-19 17:25] nsivabalan commented on #4896
hey @Gatsby-Lee : will close out the github issue for now. Once you have confirmed the issue and when you have sample data, feel free to open up a new issue. we can definitely follow up.
thanks!

[2022-03-19 17:25] #4896 closed

[2022-03-19 17:28] nsivabalan commented on #4890
@danny0405 @Aload : is there anything to followup here. if resolved, can we close out the github issue please

[2022-03-19 17:34] nsivabalan commented on #4825
hey, is there any follow up here or can we close if got it resolved.

[2022-03-19 17:34] nsivabalan commented on #4816
closing the issue for now. feel free to re-open if need more assistance.

[2022-03-19 17:34] #4816 closed

[2022-03-19 18:51] rkkalluri commented on #5053
@worf0815 can you confirm that you can use the default database form glue catalog with Hudi, and switching databases is what is Causing this.

[2022-03-19 18:57] rkkalluri commented on #5053
https://github.com/localstack/localstack/issues/1031 seems to be related, I will try to reproduce the issue and see how we can relocate  jackson.
                       <relocation>
                            <pattern>com.fasterxml.jackson</pattern>
                            <shadedPattern>com.amazonaws.thirdparty.jackson</shadedPattern>
                        </relocation>

[2022-03-19 19:41] rkkalluri commented on #5053
@nsivabalan  I have verified that this issue is resolved in 0.11 SNAPSHOT, do you know if we have relocated jackson recently

[2022-03-19 19:47] rkkalluri commented on #5053
@worf0815  can you try with Hudi 0.10.1 on EMR here is the command to launch pyspark

pyspark
--packages org.apache.hudi:hudi-spark3.1.2-bundle_2.12:0.10.1,org.apache.spark:spark-avro_2.12:3.1.2
--conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer'

[2022-03-19 20:03] nsivabalan commented on #4803
do you think you can enable debug logs and share it here. above logs does not have much info to investigate. unfortunately.

[2022-03-19 20:04] nsivabalan commented on #4678
@YannByron : can you follow up on this. Either file a bug if you think it needs fixing. or update here as to whats the recommended next steps. and close out the github issue. thanks!

[2022-03-19 20:07] nsivabalan commented on #4604
I am running out to ideas here. since this is an empty commit. you can delete the offending commit files (there should be 3 commits for each write, instanttime.commit.requested, instantTime.commit.inflight and instantTime.commit). pipeline should be able to proceed w/o any issues.
Please take a snapshot of the table before you try it out. and let us know how it goes.

[2022-03-19 20:09] nsivabalan commented on #4311
@SabyasachiDasTR : we do know of few bugs w/ metadata with older versions. We have fixed lot of bugs around it with 0.11. Do you think you can give it a try w/ 0.11 and let us know how it goes. we would definitely want to get to the bottom and fish out any issues arising from simple index and metadata table.

[2022-03-19 20:11] nsivabalan commented on #4230
@yihua : I don't find the info in latest version of docs. but you can find info on how to set hoodie configs here : https://hudi.apache.org/docs/0.9.0/quick-start-guide#use-set-command

[2022-03-19 20:12] nsivabalan commented on #3755
@fengjian428 : was clustering enabled in your case.

[2022-03-19 20:12] nsivabalan commented on #3731
@parisni : will go ahead and close this issue out. If you hit any more issues, feel free to create new issue w/ details.
thanks!

[2022-03-19 20:12] #3731 closed

[2022-03-19 20:13] nsivabalan commented on #3215
@anikait-rao : if your issue is resolved, feel free to close out the issue.

[2022-03-19 21:00] nsivabalan commented on #4864
from the screen shot, it seems index lookup is failing. I don't see any failure wrt drop duplicates.
Can you try tuning the bloom index configs?
If your data is immutable, you can try setting the operation type to "insert". It may not involve any index look up.

[2022-03-19 21:08] nsivabalan commented on #4635
sorry. could not get time to repro this. I don't have exp w/ pyspark. I just saved the script to rep.py and tried to execute the spark-submit. but running into failures.
[code]

Or should I launch pyspark and run through the commands you have given above.

[2022-03-20 04:50] fengjian428 commented on #3755
no

[2022-03-20 11:33] bkosuru commented on #4864
Hi Sivabalan,
Could you please give some suggestions for tuning bloom index configs? Our data is immutable but we have duplicate data. We want to insert unique rows only. We have allocated enough resources(400 executors, 50G) and it still fails. Do you think we should allocate more? Thanks!

[2022-03-20 16:37] suryaprasanna commented on #4891
[FelixKJose](https://github.com/FelixKJose)

You can start with one spark per partition(so it creates one replacecommit for one sorting  operation on a partition) and keep increasing no. of partitions to cluster in a single job,  to find out the breaking point. I think with the above driver memory it can easily handle 4 partitions.
You need to play around with your data to figure out the amount of

[2022-03-21 01:57] BruceKellan commented on #4993
Can someone help me,
Can I create partitions in advance?

[2022-03-21 02:35] YannByron commented on #4678
@nsivabalan In my private opinion, I think the usage of `schema` that can not convert datatype in branch-0.10.0 is reasonable. If want to convert data, should use `select` or `withColumnn` after `load` data. So I don't treat it as a bug.

[2022-03-21 03:13] rkkalluri commented on #4635
I am able to reproduce this locally on 0.11.0-SNAPSHOT

22/03/20 21:59:22 INFO HoodieActiveTimeline: Loaded instants upto : Option{val=[==>20220320215909174__commit__INFLIGHT]}
22/03/20 21:59:22 INFO HoodieTableMetaClient: Loading HoodieTableMetaClient from file:///tmp/hudi_4635
22/03/20 21:59:22 INFO HoodieTableConfig: Loading table properties from file:/tmp/hudi_4635/.hoodie/hoodie.properties
22

[2022-03-21 08:29] liockency opened #5081 "[SUPPORT] flink hudi produce parquet file size more than 128M"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

<img width="1152" alt="15

[2022-03-21 08:31] worf0815 commented on #5053
@rkkalluri  I can confirm with above settings using hudi 0.10.1 everything works as expected :)

[2022-03-21 09:02] boneanxs opened #5083 "[SUPPORT] Doing clustering for bulked insert table, could cause: Can't redefine: list"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-03-21 10:08] VIKASPATID commented on #4635
yeah, please launch pyspark and try.

[2022-03-21 11:13] arunb2w commented on #5000
@nsivabalan When i was searching through the internet, i came across this ticket for partial update payload https://github.com/apache/hudi/issues/2637 so i tried to use that payload class for my above usecase to see how it behaves
but am facing below error.
Caused by: java.lang.ClassNotFoundException: org.apache.hudi.common.model.PartialUpdatePayload
Does this mean this payload class is not yet de

[2022-03-21 11:47] ksrihari93 commented on #5058
Hi Team,
will there be any temporary fix for this issue ?

[2022-03-21 11:49] ksrihari93 commented on #5058
@nsivabalan  yes i can update the table ,but job it self is getting failed to write anymore data.

[2022-03-22 02:26] YannByron commented on #5000
@nsivabalan spark-sql is just a wrapper to `write-core`.  we don't support this sense that apply each of the coming record to update the existing one. need to do some work for this. let me create a ticket to trace this.

[2022-03-22 09:00] kazdy commented on #4241
For anyone looking at this question now, I see there's documentation available for "current" version (0.11):
https://hudi.apache.org/docs/next/disaster_recovery

[2022-03-22 10:50] djKooks commented on #5053
@worf0815 you mean it works well at hudi 0.10.1?

[2022-03-22 12:19] ranqiqiang opened #5092 "flink 1.4 wIth hudi 0.10.1"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-03-22 13:28] nsivabalan commented on #5058
nope, we don't have any fix as such. You can try to restore your table to one of the good commits and resume your pipeline.
https://hudi.apache.org/docs/next/disaster_recovery/

[2022-03-22 13:29] nsivabalan commented on #5053
thanks @rkkalluri  for helping out. @worf0815 : will go ahead and close out the issue.

[2022-03-22 13:29] #5053 closed

[2022-03-22 13:30] nsivabalan commented on #5047
@srinikandi : did you get a chance to try out the above config.

[2022-03-22 13:37] nsivabalan commented on #5036
sure, sg. thanks!

[2022-03-22 14:25] worf0815 commented on #5053
Yes, the Jackson-Issues was solved and it is now working as expected...

[2022-03-22 15:38] rguillome opened #5094 "[SUPPORT] How to deal with hard deletes in one pass"
Steps to reproduce the behavior:

1. From Spark datasource, launch debezium-like records : they have an `Op` field to indicate if it's an Insert, Update or Delete
Assume that for some records, the `Op` value is `D` (delete)
2. Then Upsert all the dataframe in a Hudi managed table, with a `COPY_ON_WRITE` storage type
All the records with a `Op` = `D` are soft deleted (they still come up with querie

[2022-03-22 20:45] yihua commented on #4230
I think @BenjMaq is asking about how to pass the same config as an argument to the `spark-sql` command, i.e., when launching `spark-sql` before even running the queries.  @nsivabalan @xushiyan if we don't support that, we can see if it is possible to add this feature.

[2022-03-23 01:40] liuyaolin commented on #4992
@nsivabalan thank you,I've solved it

[2022-03-23 02:13] djKooks commented on #5053
@nsivabalan @worf0815 will there be some way to make it work on older hudi version?

[2022-03-23 02:49] Terror-LM commented on #1243
how did you get that jar list, from yarn log, or else?

[2022-03-23 02:52] Terror-LM commented on #1243
how did you get that jar list, from yarn log, or else?

[2022-03-23 03:06] #4678 closed

[2022-03-23 03:16] YannByron commented on #5000
ticket: https://issues.apache.org/jira/browse/HUDI-3690.

[2022-03-23 04:30] andrewlaikh opened #5101 "[SUPPORT] Deltastreamer: setting hoodie.datasource.hive_sync.partition_fields to blank results in empty partition being used in hive sync"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-03-23 04:38] djKooks commented on #5053
I'm working with scala, so can it be solved by importing `jackson` separately?

[2022-03-23 08:09] CrazyBeeline opened #5105 "cluster with incorrect partition"
Steps to reproduce the behavior:

1. extract source from kafka with HoodieDeltaStreamer
![image](https://user-images.githubusercontent.com/25030234/159650915-aa4b4676-7fdc-47c5-b1ce-e5a3a511b2cc.png)
insert_cluster.properties main configure

hoodie.upsert.shuffle.parallelism=100
hoodie.insert.shuffle.parallelism=100
hoodie.bulkinsert.shuffle.parallelism=100
hoodie.delete.shuffle.parallelism=100
ho

[2022-03-23 08:13] CrazyBeeline commented on #5105
By the way, using this configuration will stop the HoodieDeltaStreamer task
--------
![image](https://user-images.githubusercontent.com/25030234/159653242-06241134-fc8f-4680-bfab-6eab0b24946c.png)

[2022-03-23 08:28] worf0815 commented on #5053
If you are using EMR, AWS-Support recommended to separately specify the AWS dependency, e.g. for pyspark (though the same should work for spark-submit as well):

pyspark --conf "spark.serializer=org.apache.spark.serializer.KryoSerializer" --conf "spark.sql.hive.convertMetastoreParquet=false" --jars /usr/share/aws/aws-java-sdk/aws-java-sdk-bundle-1.12.31.jar,/usr/lib/hudi/hudi-spark-bundle.jar,/usr

[2022-03-23 08:42] YuweiXiao opened #5107 "[SUPPORT] High performance costs of AvroSerializer in Datasource writing"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

When doing hudi datasourc

[2022-03-23 09:57] CodeCooker17 commented on #4825
hi,

You can refer to the tutorial on the official website https://hudi.apache.org/docs/syncing_metastore
You can  choose the following way 'mvn install -DskipTests -Drat.skip=true -Pflink-bundle-shade-hive2' when you compile.

[2022-03-23 10:15] rkkalluri commented on #5053
spark.{driver,executor}.userClassPathFirst=true  will also hint spark to prioritize the --jars you provide

[2022-03-23 11:13] djKooks commented on #5053
@worf0815 so will it be solved by using `aws-java-sdk-bundle-1.12.31.jar, hudi-spark-bundle.jar, spark-avro.jar` jar files inside EMR?

[2022-03-23 12:27] tjtoll commented on #4682
Good morning,

We are experiencing the same issue with .10 and .9 (see UI below). Also using S3, but using AWS Glue not EMR. What stands out to me are the 3 consecutive 'Getting small files from partitions' stages that with 4, 20, 100 tasks respectively. The stages with 4 and 20 tasks obviously getting very poor parallelization. The identical behavior exists on my UI and [ChiehFu](https://github.c

[2022-03-23 13:36] qjqqyy commented on #5101
Some key generators such as ComplexKeyGenerator requires you to pass in `hoodie.datasource.write.partitionpath.field=` to indicate that the table is non-partitioned.

Seems like HoodieSyncConfig will infer this setting differently <https://github.com/apache/hudi/blob/5f570ea151d0212ab1bb2d1f5693035626b76d31/hudi-sync/hudi-sync-common/src/main/java/org/apache/hudi/sync/common/HoodieSyncConfig.java#

[2022-03-24 00:33] YuweiXiao commented on #5107
@qjqqyy Hi, I was also referring to the master branch code (removing the adapter abstraction to simplify the context). Because the implementation of `AvroSerializer ` itself is a lambda (named converter in the source code), there is still initialization cost (for internal variables in the lambda) for each row.

[2022-03-24 04:47] maddy2u commented on #5021
Hi @umehrot2  - Do you have any update on this?

[2022-03-24 05:58] Guanpx commented on #5081
set write.parquet.max.file.size = 100M， that is an approximate number

[2022-03-24 05:59] #5061 closed

[2022-03-24 06:09] Guanpx opened #5116 "[SUPPORT] Does bulk_insert Support BUCKET index ?"
**Describe the problem you faced**
BUCKET index upsert and bulk_insert does not compatible  or bulk_insert does not Support BUCKET index

**To Reproduce**

Steps to reproduce the behavior:

1. write history data with bulk_insert  & BUCKET index into COW table, use flink
2. flink write data realtime

**Environment Description**

* Hudi version : 0.11 (master in 2022-03-23 UTC+8)

* Flink version :

[2022-03-24 06:24] danny0405 commented on #5116
It is not supported yet, let me fire a JIRA issue to support it: https://issues.apache.org/jira/browse/HUDI-3701

[2022-03-24 06:24] #5116 closed

[2022-03-24 06:26] boneanxs commented on #5107
Yes, I also notice `AvroSerializer` is a very time consuming method(clustering's poor performance also because of this, it needs to serialize to avro twice), I don't think it is easy to optimize this in hudi side. Maybe after hudi fully support using Dataset not RDD can solve this problem.

[2022-03-24 07:53] fireking77 commented on #4609
@ravs11 May I ask what was the infra issue? - I am facing with the same problem.

[2022-03-24 08:53] qjqqyy commented on #5107
@YuweiXiao Hi, allow me to rephrase. This is what's actually going on in git master (removing the adapter abstraction)

[code]

there could be extra initialization cost for each invocation of `serialize` but it seems to be *recreating* the AvroSerializer for each row, which I suspect is the main culprit.

[2022-03-24 09:15] YuweiXiao commented on #5107
@boneanxs
True, full support of Dataset is the long term solution. In my experiment, optimizing the usage of `AvroSerializer` could save 80% costs of the source data reading. But the optimization requires modification of the `AvroSerializer` source code in the spark side.

@qjqqyy Yes, each row will initialize `AvroSerializer` (variables in the lambda named `converter`)

[2022-03-24 10:20] danny0405 commented on #5107
Can we copy a `AvroSerializer` currently on Hudi side and just use that ?

[2022-03-24 11:08] qjqqyy commented on #5107
the reason why `converter` is re-initialized for each row is because a `new AvroSerializer()` (explicit object creation) is happening for each row.

I did some tests, exact same dataset.

#### git master
<img width="1224" alt="Screenshot 2022-03-24 at 7 02 57 PM" src="https://user-images.githubusercontent.com/8439769/159903075-067f3271-1ac0-4919-be25-8429d515fbae.png">

#### with the patch from ea

[2022-03-24 21:11] nochimow commented on #4622
@xushiyan Is it possible to try to escalate this issue with AWS again? There is still no return from their side?

[2022-03-24 21:14] rkkalluri commented on #4682
Can this be tested with 0.11.0.SNAPSHOT to see if the issue still exists. Since 0.11 is going out soon there may be a window to catch and fix.

[2022-03-24 22:07] tjtoll commented on #4682
@rkkalluri where can we source the JAR file for 0.11.0.SNAPSHOT?

[2022-03-25 00:38] rkkalluri commented on #4682
Clone https://github.com/apache/hudi and run mvn clean package -DskipTests -Dspark3.1.x

You should find the spark bundle under packaging/hundi-spark-bundle.

https://medium.com/@simpsons/apache-hudi-emr-set-up-1a10a5b67ce0 this blog should guide you to run a snapshot on EMR

[2022-03-25 00:39] rkkalluri commented on #4682
@tjtoll what index type are you guys using, also is your data profile more upserts or appends and how much of the original data are you upserting.

[2022-03-25 01:58] YuweiXiao commented on #5107
@qjqqyy Tagging also includes the indexing costs. Could you check again and make sure you clean up the table between tests (or use INSERT rather than UPSERT)? In my previous experiments, I did the same change but the cost still remained. Because even we initialize `AvroSerializer ` once, the internal lambda function will be call for each row, and the local variables used in the lambda will be init

[2022-03-25 03:38] qjqqyy commented on #5107
@YuweiXiao both jobs were upserting into empty directories, the dataframes were also cached.
The timing shown is only for the shuffle write stage while Tagging, which includes the `InternalRow => GenericRecord` conversion.

[2022-03-25 10:51] Guanpx opened #5131 "[SUPPORT]"
**Describe the problem you faced**

OOM occurred  when use bulk_insert cow table with flink BUCKET index

**To Reproduce**

Steps to reproduce the behavior:

1. use bulk_insert cow table with flink BUCKET index, that data size about 200w  (flink batch mode)

**Expected behavior**

data source  from hive, sink to hudi with flink

**Environment Description**

* Hudi version : master 0.11.0

* Flink

[2022-03-25 10:53] Guanpx opened #5132 "[SUPPORT] OOM occurred when use bulk_insert cow table with flink BUCKET index"
**Describe the problem you faced**

OOM occurred  when use bulk_insert cow table with flink **BUCKET** index

**To Reproduce**

Steps to reproduce the behavior:

1. use bulk_insert cow table with flink BUCKET index, that data size about **40w(400M)**  (flink batch mode)

**Expected behavior**

data source  from hive, sink to hudi with flink

**Environment Description**

* Hudi version : master 0.1

[2022-03-25 11:14] #5131 closed

[2022-03-25 11:42] Guanpx commented on #5132
partition just one

[2022-03-25 12:19] tjtoll commented on #4682
@rkkalluri thanks I should be able to get .11 tested out today. We are using the default bloom index (below is our entire config).  The table is right around 1 billion records and the upsert batch we've been benchmarking with is 800K records. Our average batch is 85% updates and 15% inserts. We are partitioned by source system (we have 75~ identical source systems) and a range partition (500K reco

[2022-03-26 00:53] danny0405 commented on #5132
Thanks for the report, would fix it then.

[2022-03-26 00:53] #5132 closed

[2022-03-26 03:45] danny0405 commented on #5132
see https://github.com/apache/hudi/pull/5135

[2022-03-26 04:14] Guanpx commented on #5132
Thank you very much, I will try again when it's merged.👍🏻

[2022-03-26 07:24] wqwl611 opened #5136 "[SUPPORT] Empty parquet "is not a Parquet file (length is too low: 0)""
sometimes i will find this bug, and i delete the empty parquet file, it will work but I guess I lost data.

Steps to reproduce the behavior: i don't know how to reproduce

commit info show totalWriteBytes > 0 but the parquet is empty .:

"_db=xxxx/_tbl=xxxx_014" : [ {
"fileId" : "f2ecd769-40ba-42ac-a03d-0c527db6f1b2-0",
"path" : "_db=xxxxx/_tbl=xxx_014/f2ecd769-40ba-42ac-a03d-0c527db6f1b2-0_69-137

[2022-03-26 09:38] xiarixiaoyao commented on #5107
@YuweiXiao   Thank you for discussing this issue， have you test on newest master branch.
I found the situation very even worse

[2022-03-26 15:16] xushiyan commented on #5107
@YuweiXiao @qjqqyy @boneanxs @danny0405 thank you folks for raising and the discussion. @xiarixiaoyao has kindly helped verified the fix.

[2022-03-26 17:07] alexeykudinkin commented on #5107
Thanks for flagging this @YuweiXiao, great catch!

To summarize what the issue is here: it is unfortunately a very sneaky one and it occurred accidentally during the refactoring of AvroSerializer/Deserializer hierarchy in Hudi.

Crux of the issue is that converter initializes AvroSerializer/Deserializer upon _every_ invocation of it, b/c it's done w/in the returned lambda itself (it also has a sid

[2022-03-27 02:04] nsivabalan commented on #5058
closing the github issue as we don't have much AI from our side. thanks!

[2022-03-27 02:04] #5058 closed

[2022-03-27 02:06] nsivabalan commented on #5047
recently we did fix the small file configs behavior
https://github.com/apache/hudi/pull/5129

also, try setting "hoodie.parquet.block.size" in addition to "hoodie.parquet.max.file.size" which could impact your file sizes.

Please feel free to re-open if above suggestions does not work and if you can reproduce w/ latest master.
thanks!

[2022-03-27 02:06] #5047 closed

[2022-03-27 02:07] nsivabalan commented on #5036
let us know if you were able to find a solution. feel free to close out the github issue if you got it resolved.

[2022-03-27 02:08] #5000 closed

[2022-03-27 02:10] nsivabalan commented on #5101
may I know why are you trying to explicitly set it to empty string. hudi will infer for you. you can skip setting it. Do you see any issues with that?

[2022-03-27 02:16] nsivabalan commented on #5105
@suryaprasanna : Can you please assist here.

[2022-03-27 04:27] wqwl611 commented on #5136
<img width="1239" alt="image" src="https://user-images.githubusercontent.com/67826098/160266592-be4dd02d-dcb6-4914-837b-987d42c35a88.png">

I found maybe spark speculative execution cause this broken parquet.

but now I am wonder why cleaner don't clean this broken file?

[2022-03-27 13:03] melin opened #5146 "[SUPPORT] Optimize snapshot management, such as specifying snapshot names, support Branch, tag"
The discussion of iceberg ：
https://docs.google.com/document/d/1PvxK_0ebEoX3s7nS6-LOJJZdBYr_olTWH9oepNUfJ-A/edit#

[2022-03-27 18:01] #5107 closed

[2022-03-27 23:58] srinikandi commented on #5054
I have been experiencing a similar issue with Glue and Hudi 0.90. However in my case, I did a full load of a table that had close to a billion records and with 30 worker nodes, it took around 16 minutes using a partitioning key on a data column. When I tried to run an upsert operation on the same table with about 1.5 million records, the Glue job fails with no more containers available, which indi

[2022-03-28 03:10] Guanpx opened #5150 "[SUPPORT] bucket_bulk_insert so slow and generate too many hdfs small flie with Flink BUCKET index"
**Describe the problem you faced**

Flink + hudi cow + BUCKET index + bulk_insert
bucket_bulk_insert  **so slow** and generate **too many hdfs small flie**

**To Reproduce**

Steps to reproduce the behavior:

1. use bulk_insert cow table with Flink BUCKET index, that data size about 500w(5GB) (Flink batch mode)

**Expected behavior**

data source from hive, sink to hudi with Flink **and** without

[2022-03-28 03:11] Guanpx commented on #5150
https://github.com/apache/hudi/pull/5135

[2022-03-28 03:20] danny0405 commented on #5150
See the fix here: https://github.com/apache/hudi/pull/5151

[2022-03-28 03:23] Guanpx commented on #5150
Thank you very much, I will try again again now

[2022-03-28 06:10] Guanpx commented on #5150
too many small flies
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/29246713/160336697-66ff7f67-e1ef-4a6e-9427-1381eacf4788.png">

[2022-03-28 10:26] danny0405 commented on #5150
Fix altogether in https://github.com/apache/hudi/pull/5093

[2022-03-28 15:13] srinikandi commented on #5047
Is there any recommendation on how big these individual parquet files can be for optimal performance?.

[2022-03-28 19:56] tjtoll commented on #4682
@rkkalluri I'm actually around this issue now in 0.9 and 0.10. When I switched from using a timestamp type partition and removed my hoodie.copyonwrite.record.size.estimate parameter, these stages improved to similar to 0.8 performance.

Also, we were able to get .11 built but encountered some issues. We received hive sync errors (we use glue schema registry) on the small table we tried, just to se

[2022-03-29 02:26] rkkalluri commented on #4682
Thanks for the update @tjtoll , what was hoodie.copyonwrite.record.size.estimate  set to before you removed it and what partition type did you switch to from timestamp type. Can you post your new hudi_options here for anyone coming here in th future.

[2022-03-29 03:30] qingyuan18 opened #5163 "[SUPPORT] Compaction for flink bounded source"
**Describe the problem you faced**

- hudi not support compaction with flink sql directly insert into MOR table
- when using flink sql hudi connector to insert bounded data into MOR table , hudi not  support compaction avro log files into parquet ，neither using hudi cli nor flink compaction utility
- this will effect the Trino/PrestoDB ‘s query for MOR ro table, as they can't retrieve result while

[2022-03-29 05:55] xushiyan commented on #4939
@moritzmeister thanks. https://issues.apache.org/jira/browse/HUDI-3632 feel free to pick it up. Do you have apache jira id so we can assign it to you?

[2022-03-29 11:14] BalaMahesh commented on #4230
I am seeing this error intermittently, there are no steps to reproduce as such because this is an intermittent problem happening. I am running the embedded timeline server and for most of the writes it works well, but when this error pop up during compaction, compaction gets failed and delta sync will also get stuck.

Is there any fine tuning available for avoiding this error or best practices to

[2022-03-29 14:14] tjtoll commented on #4682
Sure @rkkalluri - and thank you again for your help and what you do the for the community.

I switched from a timestamp partition in yyyyMM format to a range partition on the record key. The record key on the table is autoincrementing so it lent itself well to range partitioning and still leveraging the bloom index.

BEFORE:

        hudiOptions = {
            'hoodie.table.name': hoodie_table_na

[2022-03-29 19:19] nsivabalan commented on #4635
We have identified an issue w/ multi-writer wrt archival resulting in NPE and the fix is [here](https://github.com/apache/hudi/pull/5138). If you can give it a try and let us know, if it works, would be great.

[2022-03-29 19:21] nsivabalan commented on #4604
@andykrk : do you have any updates for us.

[2022-03-30 02:30] danny0405 commented on #4248
Yes, flink does not use the file handle to control the size, all the size is configured through the bucket assigner, the the size control is just an estimate, i guess you use the MOR table right ? There is a problem for the estimation here and we fire a fix:
https://issues.apache.org/jira/browse/HUDI-3488, hope that can help.

[2022-03-30 03:01] #5150 closed

[2022-03-30 07:37] #4248 closed

[2022-03-30 18:56] cajil opened #5180 "[SUPPORT] Which hudi deltastreamer configuration to use with JSONKafkaSource when target schema is fixed and source contains sparse events"
While trying to use HUDI delta streamer to read JSON data from Kafka source, couldn't find a suitable configuration that could upsert sparse events from source when the target schema is fixed. I am using docker demo environment to test this.

For example, my initial insert/ bootstrap data will be of the form:
{"pos":"00000000000000008084","partition_key": 1234,"after":{"id": 3,"name":"SILICONES","

[2022-03-31 01:45] rkkalluri commented on #5053
I confirmed that adding aws-java-sdk-bundle-1.12.31.jar explicitly to --jars resolved this issue.

[2022-03-31 15:27] nsivabalan opened #5189 "[SUPPORT] Multiple chaining of hudi tables via incremental source results in duplicate partition meta column"
**_Tips before filing an issue_**

**Describe the problem you faced**

From user:
I am trying to read a hoodie table and write to a hoodie table using delta streamer and I am getting this error:

Steps to reproduce:
[code]

stacktrace:

[code]

write configs:
[code]

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment Description**

* Hudi version

[2022-04-01 03:18] l-jhon commented on #2614
@root18039532923 were you able to solve this problem using the patch? I built hudi from the source using branch release-0.7.0, but the problem keeps happening in my env.

[2022-04-01 04:34] t0il3ts0ap commented on #5189
[code]

[2022-04-01 06:25] #5092 closed

[2022-04-01 07:05] watermelon12138 opened #5195 "[SUPPORT] JDBCServer hudi merge into cmd fail"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-04-01 09:03] babumahesh-koo opened #5198 "[SUPPORT] Querying data genereated by TimestampBasedKeyGenerator failed to parse timestamp in EPOCHMILLISECONDS column to date format"
Hey guys,

I am trying to use DeltaStreamer along with a CustomKeyGenerator to use ComplexKeyGenerator and TimeBasedKeyGenerator together.

When timestamp column (EPOCHMILLISECONDS) is used for partition in output format as "yyyy-MM-dd hh", the ingestion works fine but querying failes with casting exceptions.

These are my config properties for the partitoning:

hudiOptions = {
    "hoodie.table.n

[2022-04-01 22:21] harishraju-govindaraju opened #5206 "How to use DeltaStreamer with AWS Glue"
**DeltaStreamer example with Glue.**

**To Reproduce**

I am trying to implement the following design recommendations using Glue instead of EMR.

https://hudi.apache.org/blog/2021/08/23/s3-events-source/

I could find any direct reference on how one can use glue to use deltastreamer libraries. Please point me to some reference or help to provide some sample code samples please. We are using Glue m

[2022-04-02 07:03] kartik18 opened #5211 "[SUPPORT] Glob pattern to pick specific subfolders not working while reading in Spark"
**Describe the problem you faced**

I've S3 directory structure -
Folder
      |_ cluster=abc_$folder_ //It is a file not directory
      |_ cluster=abc
           |_dt = 2022-01-01
             |_ A1.parquet
             |_ A2.parquet
      |_ cluster=efg_$folder_
      |_ cluster=efg
           |_dt = 2022-01-01
             |_ B1.parquet
             |_ B2.parquet

I'm trying to read only the s

[2022-04-04 01:27] suryaprasanna commented on #5105
@CrazyBeeline
`hoodie.clustering.plan.strategy.daybased.skipfromlatest.partitions=2` config will make sure the last 2 partitions are not included as part of clustering, so partitions create_time=2021-03-09 and create_time=2021-03-10 should not be part of clustering operation. Unless a clustering plan already present in the timeline with those partitions listed, if you run clustering service async

[2022-04-04 01:30] suryaprasanna commented on #5105
@CrazyBeeline
Can you also show the thread name from the logs?

[2022-04-04 14:00] nsivabalan commented on #5189
@harsh1231 : Can you take a look at this issue

[2022-04-04 14:24] nsivabalan commented on #5206
@kalluri : Can you assist here please.

[2022-04-04 14:26] rkkalluri commented on #5206
I will check it out @nsivabalan

[2022-04-04 14:28] nsivabalan commented on #5211
sorry, I don't get you. what exactly if you requirement?
I see this 'spark.read.format("org.apache.hudi").load("s3://bucket/folder/cluster=abc/dt=2022-01-01/*.parquet)' command works for you. can you please help clarify.

[2022-04-04 14:33] nsivabalan commented on #5198
@babumahesh-koo : can you try directly w/ Timestamp based key gen and let us know what you see. If I am not wrong, our key generators should not modify the user passed in columns. key gens are supposed to generate values from user passed in columns w/o modifying it. the derived values are stored in _hoodie_partition_path meta column.

[2022-04-04 14:56] nsivabalan commented on #5195
@watermelon12138 : can you provide us w/ more details. like configs used, steps to reproduce, stacktrace, etc.
@YannByron @XuQianJin-Stars : Can you follow up here once we get more info from the user.

[2022-04-04 14:58] nsivabalan commented on #5180
What you are essentially asking is, partial update feature. where in if you table has 10 columns, you wanna ingest just 3 to 4 columns, and let hudi fill in some defaults for you.
Is my understanding right?

[2022-04-04 15:00] nsivabalan commented on #5180
Can you try enabling [this reconcile config](https://hudi.apache.org/docs/configurations/#hoodiedatasourcewritereconcileschema)?
This might assist in filling the default values for missing columns. But ensure your table schema has defaults set for any column that could be missing.

from above eg, I don't see defaults set for any columns.

[2022-04-04 15:33] syedali85 commented on #2849
Hello @AdeloreSimiloluwa @n3nash  , I am getting a similar error on my Mac. Did we find a solution? or any other thread that I should refer to?

[2022-04-04 19:01] harsh1231 commented on #5189
@bvaradar  can you please share some context on why can't we delete `_hoodie_partition_path` but all other source `meta columns`
https://github.com/apache/hudi/blob/b28f0d6ceb7750075be82b7bd4160a4475801159/hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/HoodieIncrSource.java#L176

[2022-04-04 19:38] sharathkola opened #5223 "[SUPPORT] - HUDI clustering - read issues"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Hudi clustered table r

[2022-04-04 21:47] rkkalluri commented on #5206
@harishraju-govindaraju  can you check out this blog from AWS https://aws.amazon.com/blogs/big-data/build-a-serverless-pipeline-to-analyze-streaming-data-using-aws-glue-apache-hudi-and-amazon-s3/

Let us know if that meets your needs.

[2022-04-04 21:51] rkkalluri commented on #5206
Also can you check with your AWS support to see if any other clients implemented this with DeltaStreamer

[2022-04-05 03:24] XuQianJin-Stars commented on #5195
hi @watermelon12138  can describe your operation process and use parameters, etc. which can help us to reproduce the positioning and solve the problem.

[2022-04-05 05:51] kartik18 commented on #5211
@nsivabalan How would I read HUDI files from multiple locations? Considering the folder structure mentioned, I tried to use regex but that didn't work out.

Just like CSV, where we have spark.read.csv(*paths). Is there something similar in HUDI as well?

Folder
       |_ cluster=abc_$folder_ //It is a file not directory
       |_ cluster=abc
          |_dt = 2022-01-01
               |_ A1.parquet

[2022-04-05 08:13] cajil commented on #5180
@nsivabalan Thanks for looking into this.

Yes. I am looking for partial update feature wherein the upserts will have only a subset of columns from the target. And the expectation is to update only the subset of columns and take the rest other values from target.

For example, consider the target table has 5 columns.
A11, A21, A31, A41, A51
The update that I am trying to ingest has only two column

[2022-04-05 08:54] roSimoes commented on #4552
Hello @nsivabalan,  I have the same problem.
The solution presented here solves the problem for the bulk insert but the upsert remains the same.

In my case I have a job that on the 1st load does bulk_insert and then inserts data on new loads, all these new loads have dates from 1970.

I'll leave my configs attached:
**Initial Load :**
commonConfig = {'className' : 'org.apache.hudi',

[2022-04-05 16:39] codejoyan opened #5231 "[SUPPORT] Inconsistent query result using GetLatestBaseFiles compared to Snapshot Query"
I am trying to compare the query output from a snapshot query VS a query to fetch data from files returned by GetLatestBaseFiles (as below).

What might be the reason for the below 2 observations:

1. Difference in count between Section A and Section B.
2. I am using a COW table but the latest file slice for a file group doesn't have all the records.  (Section C)

**Files listed by GetLatestBaseFi

[2022-04-05 19:16] pratyakshsharma commented on #2331
Reason why Hudi does not support field deletions - https://hudi.apache.org/docs/troubleshooting#caused-by-orgapacheparquetioinvalidrecordexception-parquetavro-schema-mismatch-avro-field-col1-not-found

[2022-04-05 21:09] ashah-lightbox opened #5233 "[SUPPORT] _hoodie_is_deleted not working for spark Datasource."
**Describe the problem you faced**

I added _hoodie_is_deleted = true for the records I want to delete and "false" which I want to get upserted. The result which I am getting while querying is all the historical records are deleted other than records which are set to _hoodie_is_deleted = false.

**To Reproduce**

Steps to reproduce the behavior:

pyspark \
  --packages org.apache.hudi:hudi-spark3.

[2022-04-06 02:35] harishraju-govindaraju commented on #5206
Thanks @rkkalluri . The blog you provided gives us a good starting point to explore. I will mark this resolved.

[2022-04-06 02:35] #5206 closed

[2022-04-06 02:35] harishraju-govindaraju commented on #5206
Documentation provided by @rkkalluri  is helpful and hence closing this ticket.

[2022-04-06 08:35] jxlining opened #5237 "hive query no data"
./bin/spark-sql \
--packages org.apache.hudi:hudi-spark-bundle_2.12:0.10.1,org.apache.spark:spark-avro_2.12:2.4.6 \
--conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer' \
--conf 'spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension'

create table test.hudi_mor_pt_tbl (
id bigint,
name string,
ts bigint,
dt string,
hh string
) using hudi
tblproperties (
type =

[2022-04-06 12:02] yuriy-os commented on #4552
I second that @roSimoes, I have exactly same use case: initial bulk_insert big table and then upsert new loads into it.

Timestamps of upserted rows end up corrupted to 1970-01-01 aswell. Have you found any solution?

[2022-04-06 12:09] jasondavindev commented on #5036
I had the same ploblem for DMS ingestion. I tried a solution changing the source code of [AWSDmsTransformer](https://github.com/apache/hudi/blob/master/hudi-utilities/src/main/java/org/apache/hudi/utilities/transform/AWSDmsTransformer.java) but not worked for me. Then I changed the source code of [HoodieAvroUtils](https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi

[2022-04-06 16:45] alexeykudinkin commented on #5231
@codejoyan can you please also paste contents of `.hoodie` folder?

[2022-04-06 17:53] matthiasdg opened #5242 "[SUPPORT] Hudi embedded timeline server in 0.9 vs 0.10 with `hoodie.embed.timeline.server.port`"
**Describe the problem you faced**
With hudi 0.9, if I load a number of dataframes and then loop over them and write them using the hudi's Spark datasource writer, I can see the embedded timeline server being started and used every iteration (off-topic: the `hoodie.embed.timeline.server.reuse.enabled` does not seem to have any effect).

If I do the same using hudi 0.10 or 0.10.1, the first write i

[2022-04-06 17:58] codejoyan commented on #5231
@alexeykudinkin Unfortunately I shutdown the docker instance. But this can be replicated.
Let me run one more time and update the details

[2022-04-06 18:37] codejoyan commented on #5231
@alexeykudinkin here is the content of the .hoodie file, the data files and the data file counts.
Let me know if you need any further info.

**.hoodie file content**
[code]

**Data Files Listing:**
[code]

**Data File Count**
[code]

[2022-04-07 09:14] KnightChess opened #5248 "[QUESION] Should filter prop "hoodie.datasource.write.operation" when use spark sql create table?"
when I use spark sql create table and set **hoodie.datasource.write.operation**=upsert.
delete sql （like pr #5215 ）, insert overwrite sql etc will still use  **hoodie.datasource.write.operation** to update record, not delete, insert_overwrite etc.

eg:
create a table and set hoodie.datasource.write.operation upsert
when I use sql to delete, the delete operation key will be overwrite by hoodie.data

[2022-04-07 09:39] toninis opened #5249 "[SUPPORT] Deltastreamer job does not terminate on Kubernetes when hoodie.metrics.on=true"
**Describe the problem you faced**

We 've noticed that when you enable hoodie JMX metrics Shutdown hook is never called.
We took a thread dump to check with threads remain in running state and keep the JVM up .

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Enable JMX hoodie metrics
[code]
2. Run a Deltastreamer job on Kubernetes

**Expected behavior**

We expect when Spark Conte

[2022-04-07 11:59] XuQianJin-Stars commented on #5248
hi @KnightChess The problem of refraction is to sort out those parameters that cannot be covered.

[2022-04-07 12:14] KnightChess commented on #5248
@XuQianJin-Stars if I not set this parameter when create table, anything will be ok when use sql to insert, delete or other, because statement will set itself in runtime.
So, I think may be  **hoodie.datasource.write.operation** param only be used when we use df to write data, rather than as a table parameter. Sql only use runtime operator.

[2022-04-07 12:56] njalan opened #5253 "Hudi execution plan not generated properly [SUPPORT]"
I am trying to get column lineage from spark sql query plan Below is my sql for testing and all the tables are hudi table.
 insert into test.datahub_3
 select a.email, b.phone
 from test.datahub_1 a, test.datahub_2 b
 where a.phone=b.phone

Below is  the code:

def lineageParser(qe: QueryExecution): Unit = {
val analyzedLogicPlan = qe.analyzed
logInfo("----------- start analyzed plan --------")
an

[2022-04-07 12:57] njalan commented on #5253
@XuQianJin-Stars Can you please take a look at this issue when you have the time.

[2022-04-07 19:19] l-jhon opened #5254 "[SUPPORT] - Hudi Delta Streamer not create table in Glue when using spark-submit deploy-mode cluster"
**Describe the problem you faced**

We are using Hudi Delta Streamer in our data ingestion pipeline, but we have a problem syncing Hudi with Glue metastore, and this happens after the version upgrade from 0.7.0 to 0.10.0. And another stranger thing that is happened is that when we submitted the spark-submit job using ```deploy-mode cluster``` the table isn't created in glue metastore, but if we us

[2022-04-08 00:15] ChenShuai1981 opened #5258 "[SUPPORT] Write hudi data throws NoSuchMethodError with spark v2.4.4 and hudi v0.10.1"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Following Spark Quick Sta

[2022-04-08 06:56] stym06 opened #5262 "[SUPPORT] Deltastreamer Error upserting bucketType UPDATE for partition :0"
**Describe the problem you faced**
Deltastreamer job running on spark-on-k8s stops and executors die when ingesting CDC data from Mongo to Azure blob in INSERT mode

**To Reproduce**
Run Deltastreamer in continuous mode ingesting Mongo CDC data

**Expected behavior**
Ingestion should happen without erros

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 2.4.4

* Hive version

[2022-04-08 07:36] #5237 closed

[2022-04-08 08:52] yesemsanthoshkumar commented on #5233
@ashah-lightbox Is the `_hoodie_is_deleted` field boolean? AFAIK, deletion seems to work only with that column being booleans. If it is char column, then it won't.

[2022-04-08 11:54] nsivabalan commented on #4230
@bhasudha : can you follow up to add docs on how to set hudi configs at spark-sql dmls. I see examples in older version https://hudi.apache.org/docs/0.9.0/quick-start-guide#use-set-command but not in latest versions. you can coordinate w/ yann or raymond on this.

[2022-04-09 02:30] dongkelun commented on #5248
Not only `hoodie.datasource.write.operation`, but also other properties such as `hoodie.table.name` has the same problem.
I think we should find all the parameters with similar problems

[2022-04-09 10:19] arunb2w commented on #1483
@malanb5 @lamberken
I am also facing the same issue and below is the output of docker ps.

[code]

I saw comment above from @lamberken to stop the local hadoop but am not sure whether are there anything running on my local.

Can you please guide me on how to resolve this.

Thanks

[2022-04-10 03:42] whitecloud6688 opened #5277 "[SUPPORT] FlinkSQL中创建的表结构信息在SparkSQL中不可见"
### FlinkSQL中创建的表结构信息在SparkSQL中不可见
FlinkSQL中创建的表结构信息在SparkSQL中不可见，导致在SparkSQL中不能查询FlinkSQL定义的表数据。

**FlinkSQL中创建hudi表和mysql表，在FlinkSQL能够看到表结构信息。**
[flink]$ bin/sql-client.sh
Flink SQL> CREATE TABLE hudi_orders_mor_b (

[INFO] Execute statement succeed.

Flink SQL> desc hudi_orders_mor_b;
+---------------+----------------+-------+---------------+--------+-----------+
|          name |           typ

[2022-04-10 03:43] whitecloud6688 opened #5278 "[SUPPORT] FlinkSQL中创建的表结构信息在SparkSQL中不可见"
### FlinkSQL中创建的表结构信息在SparkSQL中不可见
FlinkSQL中创建的表结构信息在SparkSQL中不可见、字段的注释信息不可见，导致在SparkSQL中不能查询FlinkSQL定义的表数据。

**FlinkSQL中创建hudi表和mysql表，在FlinkSQL能够看到表结构信息。**
[flink]$ bin/sql-client.sh
Flink SQL> CREATE TABLE hudi_orders_mor_b (

[INFO] Execute statement succeed.

Flink SQL> desc hudi_orders_mor_b;
+---------------+----------------+-------+---------------+--------+-----------+
|          name |

[2022-04-10 04:00] #5277 closed

[2022-04-10 04:00] whitecloud6688 commented on #5277
网速太慢，重复提交

[2022-04-10 04:01] leesf commented on #5277
您好，您的邮件我已经收到，我会立即回复，祝您生活愉快！

[2022-04-10 06:33] arunb2w opened #5280 "[SUPPORT] Docker Demo: Failed to Connect to namenode"
Facing below error while performing hudi docker demo

[code]

**docker ps output**

[code]

[2022-04-10 06:39] arunb2w commented on #5280
I see from this ticket https://github.com/apache/hudi/issues/1483 that when running local instances of hadoop may cause this error. But, I dont have any local instances running in my machine. Please help how to proceed further

[2022-04-10 07:28] ksoullpwk opened #5281 "[SUPPORT] .hoodie/hoodie.properties file can be deleted due to retention settings of cloud providers"
**Describe the problem you faced**

`.hoodie/hoodie.properties` file can be deleted due to retention settings of cloud providers. Is there any configs we can set to refresh this properties file?

**To Reproduce**

Steps to reproduce the behavior:

1. Save data in HUDI format
2. Set a retention date for the cloud provider's bucket
3. Wait until more than a retention date and `.hoodie/hoodie.propert

[2022-04-11 02:21] KnightChess commented on #5278
I think you can check is any table info in hive metastore, may be flink not sync meta to metastore. In spark 3.1.2, the "desc" meta data only from metastore. And flink create sql only initTable in storage system path, will not sync to metastore when create table, will sync in next checkpoint if you set hive_sync.enable true

[2022-04-11 06:24] CrazyBeeline commented on #4978
maybe  it can help you @awpengfei @xiarixiaoyao
modify source code like this:
org.apache.hudi.hadoop.HoodieParquetInputFormat
![image](https://user-images.githubusercontent.com/25030234/162676785-33c43285-51ca-453b-8713-2a59ce5bfca5.png)
![image](https://user-images.githubusercontent.com/25030234/162676742-c1a02940-38b7-4023-a67a-f2dc5f735e66.png)

org.apache.hudi.hadoop.realtime.HoodieParquetReal

[2022-04-11 10:01] BalaMahesh commented on #4230
from the logs, it seems javalin server is not able to send response to the client within the timeout period. Would this happen when there are many requests to the server and it is not able to handle ? If thats the case, how can we actually identify and debug it. ? But this is happening with low throughput topics too after running good for certain period of time. The bad part is when we are submitt

[2022-04-11 10:03] BalaMahesh commented on #4230
caused by: org.apache.hudi.exception.HoodieRemoteException: Failed to create marker file process_date=2022-04-11/hour=01/7c81aa54-86a4-4826-983b-98b03f722fd0-0_0-83019-2037238_20220411012045925.parquet.marker.MERGE
Read timed out
	at org.apache.hudi.table.marker.TimelineServerBasedWriteMarkers.create(TimelineServerBasedWriteMarkers.java:149)
	at org.apache.hudi.table.marker.WriteMarkers.create(Wri

[2022-04-11 14:32] easonwood opened #5290 "[SUPPORT] Problems in handling column deletions in Hudi"
I have a spark job with such pipeline:
mysql binlog data -> parquet files on S3 -> hudi (external tables on S3).

Codes Like This:
val dataDF = spark.read.option("mergeSchema","true").parquet(parquetPaths:_*)
val hudiOptions = {"hoodie.metadata.enable" -> "true", "hoodie.datasource.write.operation" ->"upsert", "hoodie.datasource.write.table.type"->"COPY_ON_WRITE" }
dataDF
      .write
      .forma

[2022-04-11 14:37] easonwood commented on #5290
The error is similar to:
https://github.com/apache/hudi/issues/3297

[2022-04-11 15:58] whitecloud6688 commented on #5278
感谢回复，可能是我理解错了，FlinkSQL中创建的表，在SparkSQL中是不可读取数据的，如果要读，需要创建外部表关联到FlinkSQL表的路径。所以用desc Flink表是看不到字段的，但是能看到 Table Properties 中的 flink.schema 描述。 @KnightChess

[2022-04-11 16:00] #5278 closed

[2022-04-11 18:03] MoustafaAMahmoud opened #5291 "[SUPPORT] How to use hudi-defaults.conf with Glue"
**Describe the problem you faced**

I tried to use Hudi `hudi-defaults.conf` with Glue and tried to set the path of the file using Spark Config and Python Environment config and it doesn't work. I checked this issue https://github.com/apache/hudi/pull/4167 but i can't find a clear idea about how to use it.

Spark Config:
pyspark
[code]
Env Config:
[code]
I am getting the same error every time, I a

[2022-04-11 18:58] nsivabalan commented on #5223
@satishkotha @suryaprasanna : Can you folks chime in here please.

[2022-04-11 23:19] york-yu-ctw commented on #4283
@jkdll I just reverted the change of generating timestamp back from yyyyMMddHHmmssSSS style and build the jar file myself. If you want to fix the data, you have to find out all commit/data files which instant have been set as millisecond then change them back to yyyyMMddHHmmss

[2022-04-12 00:35] suryaprasanna commented on #4891
@FelixKJose is this issue resolved? Let me know, if you need any assistance.

[2022-04-12 00:37] suryaprasanna commented on #5105
@CrazyBeeline to further investigate, can you provide the requested logs?

[2022-04-12 00:57] alexeykudinkin commented on #5231
@codejoyan this is a funny one

So i was able to reproduce behavior that you're seeing and it turns out to be that `_hoodie_file_name` is simply not updated during Commit 3, meaning that during C3, all records are copied from latest base-file of the file-group into new latest base-file (in your most recent experiment it's `c872d135-bf8f-4c5e-9eee-6347635c32d3-0_0-21-22_20220406182741563.parquet`)

[2022-04-12 01:00] alexeykudinkin commented on #5231
Created HUDI-3855 to track

[2022-04-12 06:45] zhilinli123 commented on #4881
@nsivabalan  Will the current issue be fixed when the next version is released

[2022-04-12 06:53] easonwood commented on #5290
It seems this error does not influence the result. Data loaded to Hudi successfully.

[2022-04-12 07:30] kasured opened #5298 "[SUPPORT] File is deleted during inline compaction on MOR table causing subsequent FileNotFoundException on a reader"
**Describe the problem you faced**

When inline compaction is turned on and when the actual compaction plan is completed, the commit file is referencing the file which has been deleted during the compaction process. Later, this is causing the reader to fail with FileNotFoudException

**To Reproduce**

I managed to reproduce the issue on a constant basis. After the first compaction action is comple

[2022-04-12 12:26] zhilinli123 commented on #4881
I am currently using a real-time application for batch JDBC import data index problems

[2022-04-12 15:34] melin opened #5301 "[SUPPORT]Support Show Data Files Command Based on Call Procedure Command for Spark SQL"
To show all of the table's data files and each file's metadata， Example：

| content | file_path | file_format | partition | record_count | file_size_in_bytes | column_sizes| value_counts | null_value_counts | nan_value_counts| lower_bounds| upper_bounds|key_metadata|split_offsets|equality_ids|sort_order_id|
| -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |
|      0|

[2022-04-12 15:49] yihua commented on #4230
@BalaMahesh Thanks for reporting your error.  If you encountered the marker creation error due to timeline server connection refused for async compaction/clustering in DeltaStreamer and DeltaSync, it's likely due to HUDI-3636 (more details of the root cause will be updated there).  I've put up a potential fix and will go from there: #5269.

Regarding DeltaStreamer/DeltaSync getting stuck upon fail

[2022-04-12 22:54] alexeykudinkin commented on #5231
Validated that #5296 addresses the issue:

[code]

[2022-04-13 03:07] danny0405 commented on #4881
That's weird, what version did you use ?

[2022-04-13 03:47] zhilinli123 commented on #4881
hudi:0.10.1

[2022-04-13 04:32] codejoyan commented on #5231
Thanks @alexeykudinkin for the solution. I will do some testing and go through the PR.
Will let you know if I have further questions. Thank you very much!

[2022-04-13 05:23] easonwood commented on #5290
Sometimes, the error continues like this and blocks the job:
22/04/13 03:45:29 ERROR HoodieTimelineArchiveLog: Failed to archive commits, .commit file: 20220411034143.rollback.inflight
java.io.IOException: Not an Avro data file
	at org.apache.avro.file.DataFileReader.openReader(DataFileReader.java:50)
	at org.apache.hudi.common.table.timeline.TimelineMetadataUtils.deserializeAvroMetadata(TimelineM

[2022-04-13 05:42] easonwood commented on #5290
Found such empty files: 20220411034143.rollback.inflight
After deleting this,
Job still runs and Data are loaded to Hudi successfully.

[2022-04-13 07:17] zymap opened #5313 "[SUPPORT] Do we have plan to support java reader for Hudi?"
**Describe the problem you faced**

We want to leverage the Hudi as a storage layer, now we have java writer to write the data into the table, but we still need a java reader client to read out the records from hudi.
I want to know if there has any plan to support java reader?

[2022-04-13 09:32] danny0405 commented on #4881
The expect behavior is that only after the bootstrap ends up we can handle the in-coming new records. Maybe when you set the bootstrap parallelism as `>1`, the in-coming records are handled before the bootstrap finish. Can you give some log in the `BootstrapOperator` to confirm this behavior ?

[2022-04-13 09:32] danny0405 commented on #4881
The expect behavior is that only after the bootstrap ends up we can handle the in-coming new records. Maybe when you set the bootstrap parallelism as `>1`, the in-coming records are handled before the bootstrap finish. Can you give some log in the `BootstrapOperator` to confirm this behavior ?

[2022-04-13 13:42] nsivabalan commented on #4635
https://github.com/apache/hudi/pull/5138
closing this as we have landed a fix. please re-open or open a new issue if you encounter any new issues

[2022-04-13 13:42] #4635 closed

[2022-04-13 16:40] vingov commented on #5231
Thanks, @codejoyan & @alexeykudinkin for fixing this critical issue for BQ integration!

[2022-04-13 21:33] kasured commented on #5298
After changing the code and removing foreachBatch we were able to fix the issue https://github.com/apache/hudi/issues/2043#issuecomment-682100271. However, now the issue is reproducible for both inline and async variants of compaction.

I have updated the section **Main observations so far**.

[2022-04-13 23:49] l-jhon commented on #5254
We solved this problem using clustering inline instead of async, now the data ingestion works without problems.

[2022-04-13 23:50] #5254 closed

[2022-04-14 01:41] simonsssu commented on #5313
Hi all, I'm interested in this issue. I will open a JIRA to track this.

[2022-04-14 01:54] danny0405 commented on #5313
That's cool. Sounds like the Java reader should read in streaming way ?

[2022-04-14 02:10] simonsssu commented on #5313
IMO, both streaming way or batch should be supported , just like using a option 'read.streaming.enabled'

[2022-04-14 04:01] #5136 closed

[2022-04-14 04:01] wqwl611 commented on #5136
ignore

[2022-04-15 00:45] zxding opened #5326 "[SUPPORT] prometheus metrics labels"
'hoodie.metrics.reporter.metricsname.prefix' = 'hudi_metrics'，
Then I got a metrics like `hudi_metrics_commit_totalBytesWritten{exported_job="my-hudi-metrics-2", instance="pushgateway", job="pushgateway"}` , how to add other label like `job_name` to make metric like `hudi_metrics_commit_totalBytesWritten{exported_job="my-hudi-metrics-2", instance="pushgateway", job="pushgateway" ,job_name = "xxx"}

[2022-04-15 02:49] CodeCooker17 opened #5327 "[SUPPORT]Mor table hive synchronization supports more flexible configuration"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue] (https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

1. The current mor t

[2022-04-15 03:28] XuQianJin-Stars commented on #5327
See if this PR can be satisfied? https://github.com/apache/hudi/commit/3449e86989f86121a9b9a93de602bc8497021a27

[2022-04-15 06:59] CodeCooker17 commented on #5327
Is there some solution design for synchronization rules now? In addition to the two points mentioned above, are there other optimizations? Because the above two points have been optimized in our practice, I don't know if we can contribute.

[2022-04-15 08:39] XuQianJin-Stars commented on #5327
Well, can contribute.

[2022-04-15 09:16] Guanpx opened #5330 "[SUPPORT] [BUG] Duplicate fileID ??? from bucket ?? of partition found during the BucketStreamWriteFunction index bootstrap."
**Describe the problem you faced**

use flink1.13 ，bucket index , cow ，hudi-0.11.0（not latest）

**To Reproduce**

Steps to reproduce the behavior:

1. start flink job
2. cancel flink job
3. repeat 1-2 some times
4. start job，then that Exception was occured

**Environment Description**

* Hudi version : 0.11.0

* Flink version : 1.13.2

* Hadoop version : 3.0.0

* Storage (HDFS/S3/GCS..) :HDFS

* R

[2022-04-15 09:27] kasured commented on #5298
Upon further investigation and after enabling additional logs on EMR, the deletion of the file during compaction is happening in the class org.apache.hudi.table.HoodieTable#reconcileAgainstMarkers

[code]

However, later in the logs this file is written and commited in the instant
[code]
So it leaves the system in an inconsistent state. It looks like some concurrency issues to me

I will try to su

[2022-04-15 10:17] Guanpx commented on #5330
cc @danny0405

[2022-04-16 04:44] nsivabalan commented on #5189
@harsh1231 : in the mean time (until @bvaradar responds), can you investigate as to why we are encountering duplicate issue.

[2022-04-16 04:45] nsivabalan commented on #5198
@babumahesh-koo : do you have any updates on this end

[2022-04-16 04:46] nsivabalan commented on #5211
So you want to read multiple hudi tables w/ one spark.read?

[2022-04-16 04:48] nsivabalan commented on #5231
thanks @alexeykudinkin to find the root cause and fixing it

[2022-04-16 04:48] #5231 closed

[2022-04-16 04:50] nsivabalan commented on #5233
did you set default value for "_hoodie_is_deleted" to null or false? can you post the schema for the table.

[2022-04-16 04:55] nsivabalan commented on #5242
@yihua : timeline server port related issue. Can you chime in here please.

[2022-04-16 04:57] nsivabalan commented on #5248
@XuQianJin-Stars : Can you file a tracking jira and follow up on the issue. seems like we need to fix this.

[2022-04-16 04:58] nsivabalan commented on #5249
@harsh1231 : Can you take a stab at this please.

[2022-04-16 05:01] nsivabalan commented on #5258
can you try w/ scala 11 bundle and let us know if it succeeds.
hudi-spark-bundle_2.11-0.10.1.jar
and for spark-avro, can you try setting it via `--packages org.apache.spark:spark-avro_2.11:2.4.4`

[2022-04-16 05:04] nsivabalan commented on #5262
@stym06 : likely schema has changed. Can you inspect let us know if thats the case. related jira https://issues.apache.org/jira/browse/HUDI-1711

[2022-04-16 05:10] nsivabalan commented on #5281
Interesting. whats your lifecycle policy btw? any objects that was never updated in the last X days to be deleted?

[2022-04-16 05:19] nsivabalan commented on #5291
@zhedoubushishi : can you chime in here please.

[2022-04-16 05:22] nsivabalan commented on #5301
@XuQianJin-Stars : Can you file a tracking jira and follow up please.
and close out the github issue.

[2022-04-16 05:27] nsivabalan commented on #5313
cool. @simonsssu : I have created a tracking jira [here](https://issues.apache.org/jira/browse/HUDI-3892). Can you let me know your jira id. I can assign it to you. Also, this might be time sensitive, since its blocking pulsar integration. Just wanted to send out a gentle reminder.
Once you have the patch, do ping me. I can help review it.

[2022-04-16 05:29] nsivabalan commented on #5313
@hangc0276 : We can definitely take this up. excited for hudi used as tiered storage :)
As @simonsssu showed interest to work on it, I will coordinate w/ him/her and get this going.

[2022-04-16 05:30] nsivabalan commented on #5326
@harsh1231 : Can you chime in here please.

[2022-04-16 05:31] nsivabalan commented on #5326
@zxding : guess you are asking for adding arbitrary tags to each metrics right?

[2022-04-16 05:31] puchangchun commented on #4825
I'm running fine locally, but I reported this error in the Flink cluster environment, and I'm Jar already include on the HiveConf.class

[2022-04-16 05:48] nsivabalan commented on #5298
@kasured : before I dive in, few pointers on the write configs used.
1. I see you have enabled both inline and async compaction. Guess w/ streaming sink to hudi, only async compaction is possible and for MOR table, hudi automatically does async compaction. So, probably you can remove these configs.
[code]

2. and I also see you have enabled clustering. can we disable clustering and see if the issu

[2022-04-16 06:07] zxding commented on #5326
yes，any suggestion？<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<br/><br/><br/><div class="ntes-mailmaster-quote" style="padding-top: 1px; padding-bottom: 1px" >
    <div style=" margin-top: 2em; margin-bottom: 1em; font-size: 14px; line-height: 1.25; color: #78787a; " >---- 回复的原邮件 ----</div>
    <div style=" margin-bottom: 1em; font-size: 12

[2022-04-16 09:28] kasured commented on #5298
@nsivabalan Thank you for looking into that. I have updated the configuration in the description as it was a little out of date. Since the creation of the ticket you can see that I have tried multiple options.

1. At first iteration I had foreachBatch which was not causing async compaction to happen (please see the linked issues). After the code was rewritten to use just structured streaming const

[2022-04-16 14:57] nsivabalan commented on #5281
have filed a tracking ticket https://issues.apache.org/jira/browse/HUDI-3893

[2022-04-16 15:02] nsivabalan commented on #5281
do you think you can add a lambda or something for following
[code]
and that should solve the problem right?

[2022-04-16 15:03] nsivabalan commented on #5253
@YannByron @XuQianJin-Stars : can either of you folks please chime in here when you get a chance.

[2022-04-16 15:12] nsivabalan commented on #5298
yes, I really appreciate your digging in deeper.
let me try to understand the concurrency here.
what do you mean by multiple concurrent streaming writes? there are 3 streams reading from diff upstream sources and writing to 1 hudi table? or one streaming pipeline which writes to 3 different hudi tables? or 3 different streaming pipeline writing to 3 diff hudi table but using same spark session ?

[2022-04-16 15:19] nsivabalan commented on #5298
btw, we did fix an issue wrt how spark lazy initialization and caching of results could result in wrong files in commit metadata https://github.com/apache/hudi/pull/4753. looks like exactly matching what you are reporting.
Can you try applying the patch and let us know if you still see the issue.

[2022-04-16 15:45] wxplovecc commented on #5330
see https://github.com/apache/hudi/pull/5185

[2022-04-16 17:41] kasured commented on #5298
@nsivabalan Sure, let me provide more details. There is a StreamingQuery entity which s started by Spark to consume the stream. This is basically what we use and described here https://hudi.apache.org/docs/compaction#spark-structured-streaming

So what we do is we create multiple StreamingQuery streams and start them. Each of them though consumes from single kafka topic and writes to single Hudi t

[2022-04-16 18:47] babumahesh-koo commented on #5198
@nsivabalan Without Timestamp based key gen, it works.

The observation is that, as long as the extracted values data types are matching with original column data type it works.

Have tried the same thing with SQL based transformers, my usecase is solved with transformers.

[2022-04-17 04:50] simonsssu commented on #5313
@nsivabalan hi nsivabalan, my jira id is HUDI-3877, thanks.

[2022-04-17 09:05] CodeCooker17 commented on #5327
Thank you. I have created an issue: https://issues.apache.org/jira/projects/HUDI/issues/HUDI-3898?filter=allissues

[2022-04-17 14:08] zxding commented on #5326
@nsivabalan Thank you for quick reply , I tried to add a property "metricsname.prefix" to make it more flexible for prometheus statistics , but I found that if I did that , the metric lack an tag to distinguish where the metric from , is there any way to archive it ?
In release 0.10.0 ,I found the "PushGatewayReporter"  class use "DropwizardExports" collector , the DropwizardExports does not use a

[2022-04-18 03:32] danny0405 commented on #5330
Thanks for the PR @wxplovecc , can you explain why the #5185 patch fixed the bug ?

[2022-04-18 05:52] njalan commented on #5253
Can anyone take a look at it?

[2022-04-18 06:02] XuQianJin-Stars commented on #5253
hi @njalan I'll try to track down this issue today.

[2022-04-18 09:24] danny0405 commented on #5330
@Guanpx  Did you use the code of latest master ? The shuffle strategy in https://github.com/apache/hudi/blob/b8e465fdfcac1961fe05ed44993c8c6139e13b31/hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/BucketIndexPartitioner.java#L44 determines that one bucket number is always handled by a single task, that means no two write tasks would write to the same bucket number,

[2022-04-18 11:06] walkhan opened #5345 "[Flink] [hudi-0.11] build error"
对于FSDataOutputStream(java.io.ByteArrayOutputStream), 找不到合适的构造器
Compile and integrate CDH,
![image](https://user-images.githubusercontent.com/16821730/163799866-64f1c147-f944-454d-b58e-15ab84472154.png)

[2022-04-18 12:01] Aload commented on #4825
hi , When I use Flink to consume Kakfa and write hudi, I configure the hive synchronization operation.  The same problem occurred during startup .
When I looked through the hivesyncContext.java source code, I noticed that the package imported under the source code was very strange.  But this is normal when I don't synchronize hive.

version: hudi 0.10.1  flink 1.13.1  scala 2.12.10
eg:
`  private

[2022-04-18 12:04] Aload opened #5346 "java.lang.NoClassDefFoundError: org/apache/hudi/org/apache/hadoop/hive/conf/HiveConf"
hi , When I use Flink to consume Kakfa and write hudi, I configure the hive synchronization operation. The same problem occurred during startup .
When I looked through the hivesyncContext.java source code, I noticed that the package imported under the source code was very strange. But this is normal when I don't synchronize hive.

**version: hudi 0.10.1 flink 1.13.1 scala 2.12.10**
eg:
private val

[2022-04-18 12:07] zhilinli123 commented on #4881
Are you saying that a single degree of parallelism will block writes, but multiple degrees of parallelism may occur before chekpoint is finished brushing in a batch of data?

[2022-04-18 12:28] lanyu1hao opened #5348 "[SUPPORT]org.apache.hudi.exception.HoodieUpsertException: Failed to upsert for commit time 20220418194506064"
22/04/18 19:49:02 INFO timeline.HoodieActiveTimeline: Checking for file exists ?/hudi/***/***_/.hoodie/20220418194506064.deltacommit.requested
Exception in thread "pool-24-thread-1" org.apache.hudi.exception.HoodieUpsertException: Failed to upsert for commit time 20220418194506064
at org.apache.hudi.table.action.commit.AbstractWriteHelper.write(AbstractWriteHelper.java:62)
at org.apache.hudi.table

[2022-04-18 18:07] zhedoubushishi commented on #5291
Sorry I don't fully understand your question. This should work: `os.environ['HUDI_CONF_DIR'] = args['HUDI_CONF_DIR']`. But what `args['HUDI_CONF_DIR']` stands for?

[2022-04-18 20:10] suryaprasanna commented on #5223
@sharathkola
I do not have much context if at all aws is having any custom implementation on hudi code.

In the spark DAG, the filter block is showing output rows as 2. Does that mean duplicates rows are returned?
If there are duplicates, then one problem I can think of is, completed replacecommit file not having partitionToReplaceFileIds, so, it maybe considering all 198 files as valid files even

[2022-04-18 20:29] p-powell opened #5351 "[SUPPORT]"
Concerned about performance. How long should the following mocked-up sample take to write to s3? There are 1,369,765 records and 308 columns. It is taking ~10.5min running in docker container on an t2.xlarge ec2 instance using the datamechanics/spark:3.2.0-hadoop-3.3.1-java-11-scala-2.12-python-3.8-latest image. Any suggestions how to increate performance.  The sample file generated below is just

[2022-04-19 00:42] moustafaalaa commented on #5291
@zhedoubushishi I updated the issue. args['HUDI_CONF_DIR'] is S3 URI to the hudi config. For example,
[code]

This file contains the below details

[code]

[2022-04-19 01:54] puchangchun commented on #5346
[code]

[2022-04-19 02:12] Guanpx commented on #5330
I will try latest master tomorrow and debug that code ~

[2022-04-19 03:05] danny0405 commented on #4881
I mean no new records are allowed to write before the bootstrap finish ?

[2022-04-19 03:51] wxplovecc commented on #5330
The mor table rollback was not delete the log files , If the job failed before first successful commit it will left some invalid
log files, the PR #5185 was reuse the left invalid fileId by scan the left log file when restart the job

[2022-04-19 05:58] Guanpx opened #5358 "[SUPPORT] read hudi cow table with spark, throw exception: File does not exist"
**Describe the problem you faced**

read hudi cow table with spark , throw exception **File does not exist: xxxxxxxx**

**To Reproduce**

Steps to reproduce the behavior:

1. insert cow data readtime with **auto clean**
2. read data with spark when clean was happened  throw exception

**Expected behavior**
spark read hudi table without `REFRESH TABLE tableName`

**Environment Description**

* Hudi

[2022-04-19 08:31] sharathkola commented on #5223
@suryaprasanna
Yes, duplicate rows are returned.
I have attached both the files you requested.
[commit_files.zip](https://github.com/apache/hudi/files/8510790/commit_files.zip)

[2022-04-19 08:55] zhilinli123 commented on #4881
In the previous tests, data duplication occurred after the checkpoint was completed for the first time. No new data was written before the checkpoint was completed

[2022-04-19 09:52] harsh1231 commented on #5189
@nsivabalan @lowmmrfeeder  looks like load from previous table itself is failing
`at com.navi.sources.HoodieIncrSource.fetchNextBatch(HoodieIncrSource.java:122)`
this looks like internal class @lowmmrfeeder  , you should check why 2nd tables have duplicate columns with name `_hoodie_partition_path`

[2022-04-19 10:37] lowmmrfeeder commented on #5189
@harsh1231 I am not sure of this, we aren't using columnname `_hoodie_partition_path` anywhere explicitly.
My guess is deltastreamer adds this column `_hoodie_partition_path` in 1st transformed table. On chaining a tranformation it tries adding it again 2nd time without removing the original column as we can read it in here https://github.com/apache/hudi/blob/b28f0d6ceb7750075be82b7bd4160a44758011

[2022-04-19 12:07] codope commented on #5358
This means Hudi is attempting to read a version of the parquet file which no longer exists.
https://github.com/apache/hudi/issues/2098 explains how this could happen in more detail.
@Guanpx Can you please share your hudi configs and timeline in `.hoodie` directory?

[2022-04-19 12:17] ksrihari93 opened #5361 "[SUPPORT] Schema Integration between Stream and batch pipelines using Deltastreamer JDBC"
Hi Team,
We are running cdc pipelines with Mysql, Kafka Connect,Debezium and Hudi ( Delta streamer).And Schema n schema registry
For streaming pipelines, Hudi Job is running fine with proper schema integration between MySQL and Kafka topic.

while backfilling the data using Delta streamer JDBC source we are seeing the mismatch between Debezium generated schema in schema registry and Hudi Generated

[2022-04-19 12:37] nsivabalan commented on #5195
@watermelon12138 : gentle ping. can you respond when you can

[2022-04-19 12:47] nsivabalan commented on #5313
thanks!

[2022-04-19 12:47] #5313 closed

[2022-04-19 12:50] nsivabalan commented on #5298
its not related to metadata table as such. essentially, the actual data files as part of the compaction commit could be different from what is found in compaction commit metadata. So, when reconciling markers, we may delete unintended files.
yes, it is applicable even if you don't enable metadata.

and thanks for clarifying your use-case. I get it now.

[2022-04-19 15:47] parisni opened #5363 "[SUPPORT] Hudi don't propagate column comments into hive metastore / parquet files"
when a spark schema has a metadata with a comment field, then the spark writer propagates the comment into the metastore.

Then other metastore client (hive, presto) can describe the table and get comments.

It turns out hudi does not support them: when such comment is added to the schema, the resulting table don't get the comment.

Digging the source code, the schema comes either from the hudi co

[2022-04-19 15:52] KnightChess commented on #5345
you can update code to fix, default stats null

[2022-04-19 16:03] p-powell commented on #5351
@codope Thanks for the response. Strange I get 333s when I call the parquet writer directly using the exact snippet provided. Should hudi write and parquet write be similar in performance?  Really new to hudi and not sure if there are some optimization I can make.

[2022-04-19 17:42] kasured commented on #5298
I can see that the fix version is 0.11.0. Can this patch be safely backported to 0.9.0 though?

[2022-04-19 17:50] zhedoubushishi commented on #5291
First thing is it should be something like `HUDI_CONF_DIR='s3://glue-development-bucket/scripts/hudi-conf/`. This is just the directory path.

[2022-04-19 23:02] moustafaalaa commented on #5291
The warning disappeared, I will verify it is working fine and share the output.

[2022-04-20 00:13] harishraju-govindaraju commented on #4745
Please mark this closed. The issue was our source files were csv gzip and it was not splittable to read the files parallely. we used a custom library that reads csv gzip in a splittable fashion and then we saw reduction in hudi blulk loads.

[2022-04-20 00:13] #4745 closed

[2022-04-20 00:15] harishraju-govindaraju opened #5367 "Hudi with DBT"
**Describe the problem you faced**

Do we have any step by step document on how to use Hudi in conjunction with DBT. The help seem to be very less from the hudi apache help documents. Can someone please help here.

[2022-04-20 00:32] moustafaalaa commented on #5291
@zhedoubushishi  it seems not working

[code]

hudi-defaults.conf

[code]

Full logs

[code]

[2022-04-20 00:37] moustafaalaa commented on #5291
I also tried to add the primaryKey and the preCombineField key, but the output table properties doesn't reflect the default config file. For example, The output table is `cow` and i expect `mor`

[code]

The output table

[code]

[2022-04-20 00:55] umehrot2 commented on #5298
@kasured I am from AWS EMR team. I hope you have opened a ticket with AWS support and we can work through that channel to backport this fix and provide you patched jars.

[2022-04-20 01:13] umehrot2 commented on #5298
@kasured is it possible for you to have 3 separete spark applications that do not share spark context ?

[2022-04-20 02:25] shaqf commented on #5345
Hadoop3.*.* use like this:

`
112     try (FSDataOutputStream outputStream = new FSDataOutputStream(baos, null)) {
113       try (HoodieParquetStreamWriter<IndexedRecord> parquetWriter = new HoodieParquetStreamWriter<>(outputStream, avroParquetConfig)) {
114         for (IndexedRecord record : records) {
115           String recordKey = getRecordKey(record).orElse(null);
116           parquetWrite

[2022-04-20 03:15] codope commented on #5351
Ok. I tried with latest Hudi master. Can you give build from the latest master?
I'll try Hudi 0.9. I think latest EMR already has it.

[2022-04-20 05:48] harsh1231 commented on #5189
@lowmmrfeeder Got it , got distracted because of private package  `com.navi`  , let me try to reproduce this then we can work on fix

[2022-04-20 06:38] Guanpx opened #5369 "[SUPPORT] flink write hudi faced: Job leader for job id ?????????????? lost leadership."
**Describe the problem you faced**

write data with flink, sometimes throw exception : **Job leader for job id ?????????????? lost leadership.**
but other flink task wasnt find this exception.

**To Reproduce**

Steps to reproduce the behavior:

1.   flink realtime write data with cow table;
2.
3.
4.

**Environment Description**

* Hudi version : 0.11.0

* Flink version : 1.13.2

* Hadoop version

[2022-04-20 07:07] lowmmrfeeder commented on #5189
Ohh ya, we did little modification to [HoodieIncrSource.java](https://github.com/apache/hudi/blob/b28f0d6ceb7750075be82b7bd4160a4475801159/hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/HoodieIncrSource.java#L176) and created our own class. The modifications were related to reading whole source table when doing incremental read with deltastreamer for first time ( Its supported now

[2022-04-20 07:20] stackls opened #5371 "[SUPPORT] Hudi Compaction"
I have configured hudi inline compaction so that compactions happens after each write. Help me understand if i want to run after n delta commits ,how is it going to benefit the runs ?  Compaction costs will be reduced if not inline .

Not clear on the advantages and disadvantages between the both. Suggest me the correct and efficient hudi compaction configs for heavy updates on smaller files.

hud

[2022-04-20 10:20] codope commented on #4230
@BalaMahesh Did you get a chance to try out the patch shared by @yihua?

[2022-04-20 10:50] meitianjinbu opened #5372 "[SUPPORT] Compatible with multiple HBASE version or hbase: 2.1.0-cdh6.3.2"
**Describe the problem you faced**

version: 0.11.0-rc2    hbase: 2.1.0-cdh6.3.2
only support HBASE 2.4.9+ version

**Expected behavior**

Compatible with hbase: 2.1.0-cdh6.3.2

[2022-04-20 11:03] codope commented on #4622
@umehrot2 any updates on HUDI-3056 ?

[2022-04-20 11:04] codope commented on #4622
Can we add it here https://hudi.apache.org/releases/release-0.10.0#writer-side-improvements ?

[2022-04-20 11:09] codope commented on #5281
Another workaround, you could try a different lifecyle rule for `basePatth/.hoodie` as suggested in https://www.repost.aws/questions/QU7KUrJjJlT6apX8hejMDgfQ/s-3-lifecycle-exclude-prefix
https://stackoverflow.com/questions/47196700/skip-certain-folders-in-s3-lifecycle-policy

[2022-04-20 11:11] codope commented on #3960
Closing this issue. As per @danny0405 this is hard to do w/o making changes in te flink engine in the flink community version. Please log an issue in flink.

[2022-04-20 11:11] #3960 closed

[2022-04-20 11:17] codope commented on #3751
@MikeBuh Did you get a chance to rework based on above suggestions?

[2022-04-20 11:21] codope commented on #5101
@qjqqyy you're right. Do you want to work on the fix?
Created HUDI-3922 to track this issue.

[2022-04-20 11:36] codope commented on #5372
@meitianjinbu hbase 2.4.x should generally be compatible with 2.1.x ? Is the Cloudera version of Hbase different from the open source hbase? Can you share the error stacktrace if any?

[2022-04-20 12:27] AlexMercedCoder opened #5375 "Docs - Add Update/Delete SQL DML to writing page"
Was writing an article and didn't pickup the update/delete DML cause it wasn't mentioned on the writing how-to page (delete is covered but without the SQL DML).

Not obvious that the Spark page should be where I look for that DML.

Should also be mentioned in this page -> ‪https://hudi.apache.org/docs/writing_data#deletes. ‬

[2022-04-20 12:49] codope commented on #5375
Perhaps we can update this page with the DML/DDL for update/delete https://hudi.apache.org/docs/table_management
@bhasudha @kywe665 thoughts?

[2022-04-20 12:56] codope commented on #5369
@Guanpx Is this happening frequently? I am assuming checkpoint and recovery options are set. It's hard to pinpoint without going through the debug logs.
@danny0405 can you please assist here? Is there any common scenario that user should be watching out for?

[2022-04-20 12:59] codope commented on #5363
@parisni this is a known issue. We did not see a strong use case to add comments. May I know your usecase. Perhaps we can take it up in a future release.

[2022-04-20 13:26] codope commented on #3699
Closing due to inactivity. Please reopen if you see this behaviour recurring.

[2022-04-20 13:26] #3699 closed

[2022-04-20 13:35] codope commented on #4508
Closing due to inactivity, and there is a proposed solution https://github.com/apache/hudi/issues/4508#issuecomment-1006239768

[2022-04-20 13:35] #4508 closed

[2022-04-20 13:40] parisni commented on #5363
our use case is improve quality of our lakehouse. Hudi tables are often accessible to end users (they allow to apply GDPR treatment) and the column/tables comments is a neat way to improve data analysts quality and user experience. Also our upstream data source sometimes do have comments (parquet metadata / hive metastore regular comments) and when transformed into hudi, that information is lost.

[2022-04-20 13:41] codope commented on #5280
@arunb2w Can you please share the docker resources?
1. How many CPUs was allocated?
2. How much memory was allocated?
3. How about remaining disk image capacity?

I have come across this error once when I was running out of allocated image size. Can you please do a clean docker setup? I am able to run the setup. For reference, my current docker resources:
1. 6 CPUs
2. 7.5GB memory (1.5GB swap spac

[2022-04-20 13:48] codope commented on #5348
@lanyu1hao Can you share more details to reproduce the scenario? Is this happening for single writer? What were the write configs? What was the timeline under `.hoodie` folder when this crash happened? Were there other operations running on the table like cleaning or compaction (timeline would give an idea)?
From the stacktrace it looks like the file `20220418194506064.deltacommit.requested` was n

[2022-04-20 13:53] codope commented on #5249
@toninis we discovered this issue and fixed it. It does not necessarily have to do with turning on metrics. There was an issue with deltastreamer shutdown logic, and #4824 fixed it. Can you try with latest master?

[2022-04-20 14:21] stackls commented on #5371
Thanks Codope for the reply.

https://hudi.apache.org/docs/next/performance/

As per above link,
For workloads with heavy updates, the [merge-on-read table](https://hudi.apache.org/docs/concepts#merge-on-read-table) provides a nice mechanism for ingesting quickly into smaller files and then later merging them into larger base files via compaction.

Is there any specific hudi configs to achieve thi

[2022-04-20 14:28] codope commented on #5346
@Aload you see that import in the decompiled class because hive dependency is shaded in hudi-flink-bundle. If you look at the [source code](https://github.com/apache/hudi/blob/release-0.10.1/hudi-flink/src/main/java/org/apache/hudi/sink/utils/HiveSyncContext.java) then the imports are fine.

I've not run hive sync from IDE. My guess is this happens in IDE and you may have to change your settings t

[2022-04-20 14:30] codope commented on #5345
@KnightChess @shaqf thanks for sharing the workaround.
@walkhan Does the above suggestions work for you?

[2022-04-20 14:34] codope commented on #5327
Closing it as this is a feature enahncement and discussion has moved to HUDI-3898.

[2022-04-20 14:34] #5327 closed

[2022-04-20 14:39] codope commented on #5290
@easonwood Is metadata enabled for the table? Did you try disabling the metadata table?

[2022-04-20 17:14] ksrihari93 commented on #5361
Hi @codope,
I haven't passed any payload class by default it's picking OverwriteWithLatestAvroPayload.
And I have tried with this as well
org.apache.hudi.common.model.debezium.MySqlDebeziumAvroPayload
still getting the same error.

[2022-04-20 20:06] kasured commented on #5298
@nsivabalan We were able to reproduce the similar scenario locally. Please, use the following repository to check and confirm on your end https://github.com/kasured/hudi-compaction-5298

[2022-04-20 21:47] vingov commented on #5367
@codope and @harishraju-govindaraju - I will submit the docs PR in 3 or 4 days.

Until then you can use this [README](https://github.com/apache/hudi/blob/master/hudi-examples/hudi-examples-dbt/README.md) as a reference.

[2022-04-20 23:23] moustafaalaa commented on #5291
@zhedoubushishi Is there any configuration missing from my code?

[2022-04-21 02:20] Aload commented on #5346
OK

get  ,I've tried it your way, but it keeps happening
![image](https://user-images.githubusercontent.com/13082598/164358619-630f01ca-929b-4afd-916d-dab9b3aecea9.png)

[2022-04-21 02:34] Aload commented on #5346
hi ,I also introduced the hud-flink-bundle inside the IDE, but the same problem occurred.
![image](https://user-images.githubusercontent.com/13082598/164360183-facf10d1-e5eb-486e-953c-e982b2753401.png)

[2022-04-21 06:26] lihuahui5683 opened #5382 "[SUPPORT] org.apache.hudi.hadoop.hive.HoodieCombineRealtimeFileSplit cannot be cast to org.apache.hadoop.hive.shims.HadoopShimsSecure$InputSplitShim"
**Describe the problem you faced**
The following exception occurs when hive incremental query hudi xxx_rt :
[code]
I also set the following parameters:
[code]
The query statement is as follows:
[code]

**Environment Description**

* Hudi version : 0.10.0

* Spark version : 2.4.0_cdh6.3.2

* Hive version : 2.1.1_cdh6.3.2

* Hadoop version : 3.0.0_cdh6.3.2

* Storage (HDFS/S3/GCS..) : HDFS

* Runnin

[2022-04-21 14:33] p-powell opened #5385 "_hoodie_is_deleted Column"
Just a general question about the _hoodie_is_deleted column.  Do we need to include the _hoodie_is_deleted column in the initial load of data to a hudi table? Is it expected to be there?

Environment Description

Hudi version : 0.8.0 / 0.9.0

Spark version : 3.2

Hive version :

Hadoop version : 3.3.1

Storage (HDFS/S3/GCS..) :

Running on Docker? (yes/no) : yes

[2022-04-21 14:47] giannisp-verneek opened #5386 "[SUPPORT] Kafka - Delta streamer - Spark read fails"
I have a pipeline where I send simple messages to a Kafka topic, write them via HudiDeltaStreamer to a Hudi table and finally read it through Spark. I first send a set of messages, and read them with Spark as a Spark dataframe. I see the expected output. I send a new set of messages that update the same keys. Although the delta streamer receives the messages I cannot read the hudi table incrementa

[2022-04-21 15:16] codope commented on #5361
Can you please try enabling the following config in the second pipeline (i.e. jdbc deltastreamer)
`hoodie.datasource.write.reconcile.schema`

[2022-04-21 15:35] p-powell commented on #5351
@codope  I built from master and takes 492 secs. Still seems slow.

We have an internal file(2.6m rows ~300col) takes 16min to load into a new table(one partition). If we dump the same df to parquet(gzip) using pandas it takes 2m 4secs.

should `df_id.write.format("parquet").mode(Overwrite).save(parquetBasePath)` times be similar to pandas parquet write times?

[2022-04-21 16:11] santoshsb opened #5388 "Error in query: Cannot partition by nested column: meta.source / java.lang.IllegalArgumentException: Can't find preCombineKey `meta.lastUpdated` in root"
Hi Team,

Environment: AWS
emr-6.5.0
Applications: Hive 3.1.2, Tez 0.9.2, Presto 0.261, Spark 3.1.2

 I have created a hudi table using spark/spark-session using the following code
`val hudiOptions = Map[String,String](
  HoodieWriteConfig.TABLE_NAME -> "patient_hudi",
  DataSourceWriteOptions.TABLE_TYPE_OPT_KEY -> "COPY_ON_WRITE",
  DataSourceWriteOptions.RECORDKEY_FIELD_OPT_KEY -> "id",
  DataSo

[2022-04-21 18:30] JosefinaArayaTapia opened #5389 "[SUPPORT] - AWS EMR and Glue Catalog"
When loading a hudi table in the AWS Glue data catalog and then sending a data update via Spark, when reading the table again from spark, the history of the data appears and not just one.

How can I solve that it brings me the last updated data.

Steps to reproduce the behavior:

1. Load Data:

`hudiOptions = {
'hoodie.table.name': table_name,
'hoodie.datasource.write.recordkey.field': 'id',
'hood

[2022-04-22 04:03] yesemsanthoshkumar commented on #1985
@bvaradar In my usecase, the initial data is being loaded using spark.write() to hudi. Further data is flowing through kafka which I'd like to ingest on the same table. Steps I've followed are
1. spark.write to hudi
2. Run deltastreamer with checkpoint in the format `kafkatopic,partition:0` I've kept 0 as offset as the kafka topic is newly created and I have all the data inside the topic when I ru

[2022-04-22 04:49] BalaMahesh commented on #4230
@yihua this seems not yet merged in the master, any idea when this will be merged into master, so that we can pull and try it out.

[2022-04-22 07:45] zhedoubushishi commented on #5291
I cannot reproduce this issue. I just directly export the external config through the shell something like: `export HUDI_CONF_DIR=s3://wenningd-xxx/hudi/config` and in the following Hudi code I can see it is able to load the config file under that path.

I am not sure what is the best way to pass env config to spark, but one thing you can check is can you print out the value of `HUDI_CONF_DIR` ins

[2022-04-22 07:52] onlywangyh opened #5394 "hudi use partition path field as hive partition field error in flink"
**To Reproduce**

Steps to reproduce the behavior:

1. create a mysql table like :
[code]

2. insert a data
`insert into mydb.timeTypeTest values ('2', '2020-07-30 10:08:22', '2020-07-30', '2020-07-30 10:08:22.000000', '10:08:22', '2020-07-30 10:08:22.000000', '2020-07-30')`

4. start a flink cdc to sink hudi with my config properties:

[code]

**Expected behavior**
create a hive table testTable w

[2022-04-22 09:41] todd5167 opened #5395 "[SUPPORT] Failed to archive commits, thow error 'Directory is not empty'"
hudi version:  0.10.0-patch
fs: aws s3
log:
[code]

[2022-04-22 19:46] qjqqyy commented on #5101
hi @codope sure I would like to work on the fix, please add me (apache username jqi) as a contributor.

So to to summarise the problem at hand, **ComplexKeyGenerator + no partition columns + HiveSync results in a broken Hive table**.
* for non-partitoned table, ComplexKeyGenerator requires `hoodie.datasource.write.partitionpath.field` to be set to empty string
* when `hoodie.datasource.hive_sync.p

[2022-04-22 20:13] qjqqyy opened #5400 "[SUPPORT] fail on data loss semantics for Deltastreamer Kafka sources"
**Describe the problem you faced**

For streaming ingestion Kafka -> Hudi with deltastreamer, it is sometimes desirable to fail-fast when there is possible data loss (Kafka offsets go out of range), seems like this cannot be done.

**To Reproduce**

Steps to reproduce the behavior:

1. Run deltastreamer with Json/AvroKafkaSource, provide a checkpoint that is out-of-bounds in Kafka
2. KafkaOffsetGe

[2022-04-24 05:59] chaplinthink commented on #3657
Same problem. And the Flink job always restart.

Flink version:  1.12.2
Hudi version: 0.9.0

I used the hudi dependecy:

[code]

Stack trace:
[code]

I tested in my local enviroment.   The hdfs just have a **.hoodie**  directory, no data file.

![image](https://user-images.githubusercontent.com/7960313/164958803-e644a24e-886a-4854-9c8d-f8291b039d34.png)

[2022-04-24 13:38] moustafaalaa commented on #5291
Glue runs in cluster mode. I tried to set the environment variable through spark session, but it doesn't work.

Then I changed the below line in [DFSPropertiesConfiguration.java#L60](https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/config/DFSPropertiesConfiguration.java#L60)

**From**
[code]
**to**
[code]
Then add the file path in the jar dependencies to

[2022-04-24 23:42] moustafaalaa commented on #5291
I think it could be better to add this feature as a hudi config for example `hoodie.config.path => "s3:path"` but the current solution is not generalised.

[2022-04-25 02:04] danny0405 commented on #3657
Can you use 0.10.1 please, the bug is already fixed.

[2022-04-25 02:09] danny0405 commented on #5394
Hello, i think this is expected because these two params:

[code]
should keep the same.

[2022-04-25 03:10] hangc0276 commented on #5313
@nsivabalan @simonsssu Thank you very much for your support. Looking forward this feature.

[2022-04-25 06:34] onlywangyh commented on #5394
If i keep the same params like `--partition-path-field=timestamp16, --hive-sync-partition-fields=timestamp16`. There will be some question:
1、In the schema the _timestamp16_ is a bigint type. When we use _timestamp16_ as a partition field. It will be a string type in hive schema. The bigint type can't convert to a string. So that `select timestamp16 from testTable;` will also return null.
2、In Key

[2022-04-25 07:41] SabyasachiDasTR opened #5422 "[SUPPORT] Enabling metadata on MOR table causes FileNotFound exception"
**Describe the problem you faced**

We are incrementally upserting data into our Hudi table/s every 5 minutes. As we begin to process this data we notice mentioned error occurs and the upserts are failing. The only command we execute is Upsert. We never call bulk insert/insert and we are using the single writer. This starts happening when we enable metadata with rest of the properties same as befo

[2022-04-25 10:14] chrischnweiss commented on #4887
Hi guys,

so it seems that we fixed the problem of reading partitioned Hudi tables with Impala by changing the Hudi-Operation from `insert_overwrite` to `upsert`.  Maybe it´s a problem of how Hudi handels Insert-Overwrites on the Filesystem paired with how Impala reads the resulting tables?

Cheers,
Christian

[2022-04-25 13:23] ashah-lightbox commented on #5233
@nsivabalan How to update the schema with default a value? I tried it I was only able to set datatype and nullable.

[2022-04-25 15:35] MikeBuh commented on #3751
Hi @codope I did a rework and got a more stable version to work however do still have some things that I would like to clarify. Before going into the details please also consider:

**Hudi Changes**
- Recently we have upgraded to Hudi 0.10.0 and thus all our tables now have been updated accordingly
- The table(s) in question use BLOOM index (previously this was GLBOAL_BLOOM)
- _hoodie.payload.order

[2022-04-25 19:57] kazdy opened #5426 "[SUPPORT] Cloudwatch metrics - spikes on structured streaming app shutdown"
**Describe the problem you faced**

I observed a weird thing in hudi metrics (i use cloudwatch reporter).
When I stopped the structured streaming job it suddenly added around 100 commits to the metrics (timer.deltacommit). Same with pending compaction metrics, it suddenly started showing 178 pending compactions.
This is the second time I see this when stopping job.
Timeline has as many commits as

[2022-04-25 20:38] nsivabalan commented on #5223
@suryaprasanna : thanks for assisting here. Can you take hudi 0.8.0 oss, try out clustering after few commits. And trigger a query and paste what you see in spark sql tab in spark ui. if you also see hudi is reading all data instead of replaced file groups, then we have a problem. I assume you already verified w/ latest master that its not the case. If not, can you try that as well.

[2022-04-26 00:48] zhqu1148980644 commented on #5371
I also have a question relating to async compaction. I found that the `org.apache.hudi.sink.compact.HoodieFlinkCompactor` job is a flink batch job, does this mean I have to run this compaction job periodically, at when and in what frequency?

[2022-04-26 02:51] suryaprasanna commented on #5223
@nsivabalan
I tried out both 0.8.0 and 0.10.1 versions. My job is not returning duplicates and considering only the latest files. I tried on both partitioned and non-partitioned tables as well. Can the issue be due to any custom code from the AWS side?
<img width="816" alt="Screen Shot 2022-04-25 at 7 40 05 PM" src="https://user-images.githubusercontent.com/20996567/165210088-42df9491-d576-4f31-9e

[2022-04-26 03:01] YuangZhang opened #5431 "[SUPPORT] Flink Date type as partition field"
flink sql can't use date as partition field
[code]
throw org.apache.hudi.exception.HoodieNotSupportedException: Unexpected type for partition field: java.time.LocalDate

[2022-04-26 04:38] chaplinthink commented on #3657
@danny0405  Hi,  I try Hudi 0.10.0 version with Flink version 1.12.2 and 1.13.1, There is still such a problem.  I am testing Flink CDC to  Hudi, but it dose not work.

[2022-04-26 05:14] sharathkola commented on #5223
@suryaprasanna
Can you please verify the commit_files.zip that I have attached above (it has 20220404094047.commit and 20220404094203.replacecommit files) to confirm if it has the right entries/content ?

[2022-04-26 09:06] Doorwood opened #5435 "[SUPPORT] hudi mor table on Spark upsert may have "small files" problems"
Hi!~When i am reading hudi code about getting small files on hoodie spark upsert,one question bothers me a lot.
![image](https://user-images.githubusercontent.com/23451872/165261604-773232ef-1563-43ea-ad84-3e8a970641af.png)
If I use hoodie mor table written by spark,as long as  I update one record,it will create one log file for this fileslice to record this update operation.After this update oper

[2022-04-26 12:12] codope commented on #5382
I believe this could be related to HUDI-1036.
@lihuahui5683 possible to upgrade to Hive 2.3.x and use Hadoop 2.7.x?

[2022-04-26 12:30] codope commented on #5386
@giannisp-verneek This looks to be related to https://github.com/apache/spark/commit/0f6cafe410f55ccc1d2106ff2b66efcbbc1b1c0b
Notice how the function name in your stacktrace is different from the one in Spark v 3.1.3 DataSourceUtils. Could you please downgrade to 3.1.2 and try again?

[2022-04-26 12:37] codope commented on #5388
@santoshsb EMR 6.5 comes with Hudi 0.9. There were two issues that were resolved recently. One was released in Hudi 0.10.1 and another should be out in 0.11.0 in the next few days. Can you give the latest master a try?
Related issues
https://github.com/apache/hudi/pull/4308
https://github.com/apache/hudi/pull/5379

[2022-04-26 12:44] codope commented on #5389
This needs to be reproduced. As far as I recall, we have not seen this issue with COW table before. It always returns the latest snapshot.
1. Can you please run `SHOW CREATE TABLE <table_name>` in Glue? This should show create table statement with all the properties. My hunch is the sync to glue catalog  did not happen correctly.
2. If possible, can you please try the same thing on EMR 6.5 which h

[2022-04-26 12:48] #5394 closed

[2022-04-26 13:36] codope commented on #5395
@todd5167 Did you retry? From stacktrace it looks like recursive delete failed at some point. Can you please share hudi write configs and data timeline (in `.hoodie` directory)? Also, what was the state of `.temp/20220421063410412` directory at the time? If it's still intact can you please send the `ls -lrt .temp/20220421063410412` ?

[2022-04-26 13:38] codope commented on #5395
Looks like we don't allow recursive delete in some cases https://github.com/apache/hudi/blob/762623a15cfeba6f3fe936c238d660685ae62b50/hudi-common/src/main/java/org/apache/hudi/common/fs/FSUtils.java#L686

@yihua do you know why that's the case?

[2022-04-26 14:34] codope commented on #1830
Will close it as a duplicate of [#1728](https://github.com/apache/hudi/issues/1830)

[2022-04-26 14:34] #1830 closed

[2022-04-26 14:59] JosefinaArayaTapia commented on #5389
Hi @codope

Here is the table creation:
[code]

-----

In EMR 6.5 with Hudi 0.9.0 , i have the following problem:

Configuration and call database:
[code]
[code]

[2022-04-26 16:32] giannisp-verneek commented on #5386
@codope, it worked. Thank you! I'm closing this issue

[2022-04-26 16:32] #5386 closed

[2022-04-26 18:36] p-powell commented on #5385
@codope   Thanks for the response. Bit confused because in this [test case](https://github.com/apache/hudi/pull/3541/commits/694300477f61a9169c15cac1ddf67368dbf5dd1b) _hoodie_is_deleted is only being added to the update dataframe. And the record to be deleted is set to True. On the initial save to the hudi table the _hoodie_is_deleted is not being included.  I am sure this test case is passing.

[2022-04-26 20:08] yihua commented on #5435
@Doorwood For MOR table, the compaction is scheduled and executed every few commits to compact the base and log files in the file slice to a new base file, so that it can be considered for file sizing optimization like small file handling and clustering later on. Here's how you can [run compaction](https://hudi.apache.org/learn/faq/#how-do-i-run-compaction-for-a-mor-dataset) for a MOR table.  Afte

[2022-04-26 20:11] yihua commented on #5431
@danny0405 could you help triage the issue?

[2022-04-26 20:13] yihua commented on #5431
@YuangZhang could you provide the steps with the environment for reproducing the issue, e.g., which Flink version is used, which file system is used for the target Hudi table, etc.?

[2022-04-26 20:24] yihua commented on #5426
@kazdy Thanks for reporting the issue.  I'll look into the issue.  Meanwhile, have you contacted AWS/EMR support to see if they have any special handling of the termination of Spark structured streaming job from the libraries they provided (since they have their own version of Spark 3.1.2-amzn), that can potentially cause this issue?

[2022-04-26 21:45] kazdy commented on #5426
Hi @yihua thanks,
I've reached to AWS/EMR support. I'll give an update on what's their response.

[2022-04-26 22:33] yihua commented on #5422
@SabyasachiDasTR Could you provide the timeline of the table by listing the `.hoodie` folder of the table, especially including the `20220421115823` instant?  I suspect that the FileNotFoundException is due to HUDI-3370 where the compaction commit may record the wrong data files.  The issue is fixed by #4753, after 0.9.0 release.  Also, we have fixed a few issues around metadata table and signific

[2022-04-26 22:51] yihua commented on #5400
@qjqqyy Thanks for the Inquiry.  I'd like to understand your use case first.  By providing `a checkpoint that is out-of-bounds in Kafka`, do you mean using `--checkpoint` option to provide the Kafka offset to the Hudi Deltastreamer?  Usually, the checkpointing is maintained by Deltastreamer so it is not required, and only for the first run, the checkpoint may be provided.  In the later case, the u

[2022-04-26 22:58] yihua commented on #5395
All the subdirs are deleted in parallel before executing L686 above.  It is likely that there are concurrent operations on the same instant, e.g., one trying to delete the `.temp/<instant_time>` while the other adding new markers to `.temp/<instant_time>`.  @todd5167 Once you provide more information on the timeline as @codope suggested, we can dig deeper into the root cause.

[2022-04-26 23:50] yihua commented on #5385
@p-powell Yes, to answer your question directly, the initial insert to the table does not need `_hoodie_is_deleted` field and that field can be added later to the new batch with schema update when doing deletes.

[2022-04-26 23:58] yihua commented on #5372
@meitianjinbu Following up on this, the Hudi bundles have shaded HBase-related classes so the bundle should work.  In what flow do you see compatibility issues, e.g., writing, querying, `SparkHoodieHBaseIndex`, etc.?  Could you also provide reproducible steps and error stacktrace if there is any?

[2022-04-27 00:17] yihua commented on #5371
Spark Structured Streaming and Deltastreamer continuous mode have async compaction enabled on MOR table by default.  In other cases, you can schedule and execute inline compaction with `hoodie.compact.inline=true`. You may also run independent compaction job in a way suggested by this [doc](https://hudi.apache.org/docs/compaction/#async-compaction).

@danny0405 should have better idea on this.

[2022-04-27 00:26] yihua commented on #5249
@toninis Have you tried the latest master and checked if that solves the problem?

[2022-04-27 00:34] yihua commented on #5281
@ksoullpwk what retention policy is set for the base path of the table?  If the retention settings are aggressive, it may not only affect `.hoodie/hoodie.properties`, but also data files that are written before the retention date, causing data loss.  It would be good if you can clarify the use case here.  Ideally, the cleaning in Hudi should be relied on for retaining storage space.

[2022-04-27 00:51] p-powell commented on #5385
@yihua what do you mean by schema update? Is the modifying existing hudi table before upsert? Or you talking about just adding _hoodie_is_deleted to the data set used for the upsert?

Also is _hoodie_is_deleted a system field? If so why isnt it always present?

Is there a good example of this?
tia
Peter

[2022-04-27 00:55] yihua commented on #4230
@BalaMahesh the PR needs to be revised before merging.  I'll likely update the PR this week and push it to land after that.

[2022-04-27 01:14] yihua commented on #3755
@fengjian428 Have you got past this issue?  If not, could you share the Hudi write config for this table?  You may also try the latest master which fixes a few issues around commit metadata since 0.10.0 and 0.10.1 releases.

[2022-04-27 01:17] yihua commented on #5101
@qjqqyy You are added as a contributor in Hudi project on Jira.  I assigned HUDI-3922 to you.  Feel free to put up the suggested changes.

[2022-04-27 01:40] #5369 closed

[2022-04-27 01:50] yihua commented on #5348
@lanyu1hao It looks like the stacktrace misses some content after the following line.  Could you provide more information to help diagnose the issue?  If you already got past it, feel free to close the issue.
[code]

[2022-04-27 01:55] onlywangyh commented on #5431
You need use the [TimestampBasedKeyGenerator](https://github.com/apache/hudi/blob/master/hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/keygen/TimestampBasedKeyGenerator.java). This key generator relies on timestamps for the partition field. The field values are interpreted as timestamps and not just converted to string while generating partition path value for records

[2022-04-27 02:31] nsivabalan commented on #5367
@vingov : any update on this.

[2022-04-27 02:33] nsivabalan commented on #5363
would this work for you https://github.com/apache/hudi/pull/4960 or are you looking for something else?

[2022-04-27 02:34] nsivabalan commented on #5358
@Guanpx gentle ping to respond to Sagar's request above. would help us triage the issue. under normal circumstances, you should not see this.

[2022-04-27 02:36] danny0405 commented on #5431
Already created a PR here: https://github.com/apache/hudi/pull/5432

[2022-04-27 02:36] #5431 closed

[2022-04-27 02:38] nsivabalan commented on #5290
@easonwood : do you have any further updates for Sagar's clarification above.

[2022-04-27 02:38] todd5167 commented on #5395
@yihua @codope  Flink writes hudi configuration information as follows. I have restored from flink savepoint multiple times and keep getting this error.  When the exception occurs .temp/20220421063410412 has subfolders.    My temporary solution is, boolean result = fs.delete(dirPath, **true**); not sure what's wrong with this.
[code]

[2022-04-27 02:39] nsivabalan commented on #5281
I had a chat w/ few other experts with Hudi. we feel, its users responsibility to ensure you don't set such cleaning policy. even if one sets such policy, its responsibility of users to manage them appropriately. Don't think hudi can do much here for some policies at the cloud vendors.
Hope you can understand.

[2022-04-27 02:40] nsivabalan commented on #5262
@stym06 : do you have any updates in this regard.

[2022-04-27 02:40] nsivabalan commented on #5258
@ChenShuai1981 : do you have any updates on this regard?

[2022-04-27 04:56] toninis commented on #5249
@yihua I will try test this today . Thanks

[2022-04-27 06:16] Doorwood commented on #5435
@yihua Thanks for your reply,I haved tried your suggestions.This problem seems solved.

[2022-04-27 06:16] #5435 closed

[2022-04-27 06:25] yihua commented on #5385
So you need to change the schema by adding the `_hoodie_is_deleted` to schema before the next upsert.  Then, for the upsert, you need to have the field `_hoodie_is_deleted` for the batch and set the `_hoodie_is_deleted` to true for the records to be deleted.  You can find a concrete example below derived from the [Deletes docs](https://hudi.apache.org/docs/writing_data/#deletes).

`_hoodie_is_dele

[2022-04-27 06:37] yihua commented on #5395
@todd5167 the point is that even before `fs.delete(dirPath, false)` is called, the subfolders should have been deleted already.  So I'm wondering why the subfolders are not deleted in the first place.  If you're not comfortable sharing the whole `.hoodie` folder, could you simply list the `.hoodie` folder with `aws s3 ls <table_path>/.hoodie`?  Or you can take a screenshot of the files in `.hoodie

[2022-04-27 06:54] danny0405 commented on #5371
We have supported the service mode now, you can take a try ~

[2022-04-27 06:58] arunb2w commented on #5280
@codope Attaching my docker resources for your reference
<img width="682" alt="Screenshot 2022-04-27 at 12 26 24 PM" src="https://user-images.githubusercontent.com/38204827/165459689-d74dadf6-0926-4cb4-a5c9-ba349f29c54c.png">

[2022-04-27 07:03] todd5167 commented on #5395
@yihua   Because this problem causes the flink job to restart frequently, I use fs.delete(dirPath, true) to delete the folder.After I changed the code again, the ./hoodie folder was cleaned up by me. I re-consume historical data and incremental data again.

[2022-04-27 07:32] chaplinthink commented on #3657
Thx, It's ok. I found out that it was due to a docker hadoop container issue that caused

[2022-04-27 07:46] mandar-mw opened #5442 "HUDI does not deduplicate within the same partition"
HUDI does not seem to deduplicate records in some cases. Below is the configuration that we use. We partition the data by customer_id and our recordkey is [user_id, customer_id], so our expectation is that HUDI will enforce uniqueness within the partition, i.e each customer_id folder. Although, we are noticing that there are two parquet files inside some customer_id folders, and when we query the

[2022-04-27 08:34] qianchutao commented on #5442
I've encountered this problem before and never found a reason, asking commiters in the community never got an answer

[2022-04-27 09:07] arunb2w commented on #5280
I have also tried with the below config as well but still the same error persists.
I am running docker demo in Apple M1 chip. Are there any issues related to that?

<img width="682" alt="Screenshot 2022-04-27 at 12 26 24 PM" src="https://user-images.githubusercontent.com/38204827/165483448-99bf6c54-95d7-49be-b009-1a3c265c430a.png">

[2022-04-27 10:26] easonwood commented on #5290
@codope
@nsivabalan
I didn't try disabling the metadata.
I set this config:
"hoodie.fail.on.timeline.archiving" -> "false"
And the task runs well now.

[2022-04-27 14:07] p-powell commented on #5385
@yihua Thanks for the response. Does that mean that this test case fails then? https://github.com/apache/hudi/pull/3541/commits/694300477f61a9169c15cac1ddf67368dbf5dd1b
The above test case does not add _hoodie_is_deleted to the existing hudi table before writing a dataset with _hoodie_is_deleted column.

Also, what is the best way to modify the schema of an existing hudi table?

[2022-04-27 14:37] jdattani opened #5451 "[SUPPORT] Hudi 0.10.1 raises exception java.lang.NoClassDefFoundError: com/amazonaws/services/dynamodbv2/model/LockNotGrantedException"
**Describe the problem you faced**

Using DynamoDB as the lock provider for concurrent writes results in an error stating java.lang.NoClassDefFoundError: com/amazonaws/services/dynamodbv2/model/LockNotGrantedException

**To Reproduce**

Steps to reproduce the behaviour:

- Build Hudi from 0.10.1 source files

- Provide the following Hudi write options as part of a PySpark script: 'hoodie.write.con

[2022-04-27 17:45] mandar-mw commented on #5442
I am going to close this issue because our suspicion is that it is very specific to the way we bootstrapped data for this table. We are in touch with hudi team on slack to debug this further

[2022-04-27 17:45] #5442 closed

[2022-04-27 18:25] pratyakshsharma commented on #5361
@ksrihari93 https://github.com/apache/hudi/pull/5031

[2022-04-27 18:43] yihua commented on #5395
@todd5167 Got it.  If you can also provide the steps in your setup to reproduce the problem, we can try to reproduce the problem on our end as well to identify the root cause.  @danny0405 are you aware of a similar issue of deleting marker directory in Flink?

[2022-04-27 18:48] santoshsb opened #5452 "Schema Evolution: Missing column for previous records when new entry does not have the same while upsert."
Hi Team,

We are currently evaluating Hudi for our analytical use cases and as part of this exercise we are facing few issues with schema evolution and data loss. The current issue which we have encountered is while updating a record. We have currently inserted a single record with the following schema
`
root
 |-- birthDate: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: s

[2022-04-27 19:45] suryaprasanna commented on #5223
@sharathkola I have already verified the commit files, they look good.

[2022-04-27 19:55] kazdy commented on #5451
Hi, I would add this jar to your job:
https://mvnrepository.com/artifact/org.apache.hudi/hudi-aws

I think these dependencies were separated from Spark bundle in Hudi 0.10.1 release:
https://github.com/apache/hudi/pull/4542

[2022-04-27 20:08] kazdy commented on #5021
Hi, I'm also interested in this feature being available in Athena (and Resdhift Spectrum maybe?).

I sent an email to athena-feedback@amazon.com to get some visibility:

https://docs.aws.amazon.com/athena/latest/ug/querying-hudi.html#querying-hudi-in-athena-considerations-and-limitations

I am going to reach out to AWS account/architect working with us with a feature request to get this on their r

[2022-04-27 22:09] yihua commented on #5451
@jdattani As @kazdy suggested, you need to add `hudi-aws` jar for classes that are specific to AWS.  Let us know if adding the jar works.

[2022-04-27 22:13] yihua commented on #5452
@santoshsb could you post the Hudi write config used to write the table and the commands to reproduce the problem?  @xiarixiaoyao could you provide some insights around schema evolution?

[2022-04-27 22:22] yihua commented on #5385
In that case, the dataset to be written has the new schema, and Hudi automatically picks that up and evolves the table schema when writing the data.

As @pratyakshsharma mentioned, you don't explicitly modify the schema of an existing Hudi table manually.  Hudi takes care of it in a backward-compatible way.  You only need to provide the new schema or the data with new schema.  For the example I ga

[2022-04-28 01:49] danny0405 commented on #5395
I'm not quite sure, we actually clean the MARKER folder each time we commit an instant, and here we do it again when the instant was archived? (curious about the background here ?), and like what @codope saied, the call in [#L682-L684](https://github.com/apache/hudi/blob/762623a15cfeba6f3fe936c238d660685ae62b50/hudi-common/src/main/java/org/apache/hudi/common/fs/FSUtils.java#L682-L684) already del

[2022-04-28 02:58] todd5167 commented on #5395
@danny0405  A flink job corresponds to a hudi table.   checkpoint config:
[code]

[2022-04-28 03:15] santoshsb commented on #5452
Thanks @yihua, here are the detailed spark shell commands we used

`./spark-shell --jars '/Users/balamats/work/hudi/packaging/hudi-spark-bundle/target/hudi-spark3.2-bundle_2.12-0.12.0-SNAPSHOT.jar' --conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer'

import org.apache.spark.sql.SaveMode
import org.apache.spark.sql.functions._
import org.apache.hudi.DataSourceWriteOptions
import or

[2022-04-28 03:50] xiarixiaoyao commented on #5452
@santoshsb
multipleBirthBoolean is a new column to be added,  but How to determine its added position？  is it added as the last column or somewhere  else ？

If the above questions can be answered ， i think i can help you to solve the problem

[2022-04-28 03:54] santoshsb commented on #5452
@xiarixiaoyao we are not concerned about the position as long as its there in the schema (either as the last column or somewhere else) along with all the existing columns.

[2022-04-28 05:04] yihua commented on #5346
@danny0405 do you have any idea on why the `HiveConf` class is not found from the Flink bundle?

[2022-04-28 05:06] yihua commented on #5330
@Guanpx have you tried the latest master and see if the fix solves the problem for you?

[2022-04-28 05:14] yihua commented on #5301
This is related to HUDI-3511.  Tracking the progress there and closing this issue.

[2022-04-28 05:14] #5301 closed

[2022-04-28 05:22] yihua commented on #5442
@mandar-mw In order to deduplicate records within and across commits for INSERT operation, you need to see both of the following configs to be `true` (they are `false` by default): [`hoodie.datasource.write.insert.drop.duplicates`](https://hudi.apache.org/docs/configurations#hoodiedatasourcewriteinsertdropduplicates) and [`hoodie.combine.before.insert`](https://hudi.apache.org/docs/configurations#

[2022-04-28 05:23] yihua commented on #5442
@qianchutao Feel free to open a separate Github issue for your problem if it still happens.  We can help you promptly.

[2022-04-28 05:36] yihua commented on #5290
@easonwood Great that it's working fine now.  We have fixed a few issues around empty instant files and metadata table update logic since Hudi 0.8.0. You can also give the latest master a try with metadata table enabled.  I'll close this issue now.  Feel free to reopen the issue if you see more problems.

[2022-04-28 05:36] #5290 closed

[2022-04-28 05:43] yihua commented on #5280
@arunb2w The docker demo is not fully supported on Apple M1 chip yet, which is arm64 architecture.  That breaks some functionality of Hadoop and Hive in the demo.  We have a Jira ticket to track it: HUDI-2786

[2022-04-28 06:09] YuangZhang commented on #5431
hudi version 0.11.0 build from release-0.11.0
flink version 1.13.5
the file system is hdfs

[2022-04-28 06:32] jdattani commented on #5451
@kazdy @yihua I tried including hudi-aws jar to Glue Dependent JARs path. But still getting the exact same error. Is there anything else I can try?

[2022-04-28 06:32] CodeCooker17 commented on #5372
The default value of hbase.defaults.for.version.skip in hbase-site.xml is false. This will cause the following exception to occur once the local hbase version is lower than 2.4.9. So it would be better if it is set to true by default.

`Caused by: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorA

[2022-04-28 06:34] CodeCooker17 commented on #5372
The default value of hbase.defaults.for.version.skip in hbase-site.xml is false. This will cause the following exception to occur once the local hbase version is lower than 2.4.9. So it would be better if it is set to true by default.
`
Caused by: java.lang.reflect.InvocationTargetException at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method) at sun.reflect.NativeConstructorAcc

[2022-04-28 06:42] stevenayers opened #5455 "[SUPPORT] Read Hudi Table from Hive/Glue Catalog without specifying the S3 Path"
Hi All,

I'm currently using AWS Glue Catalog as my Hive Metastore and Glue ETL 2.0 (soon to be 3.0) with Hudi (AWS Hudi Connector 0.9.0 for Glue 1.0 and 2.0).

In Iceberg, you are able to do the following to query the Glue catalog:
[code]

I'd like to do something similar with Hudi:
[code]

Meaning we don't need to grab the S3 path of our data from boto3 every time, like so:
[code]

Is there any

[2022-04-28 07:15] arunb2w commented on #5280
okay thanks. can you please suggest are there any alternatives to run hudi in local for development purpose.

[2022-04-28 07:28] danny0405 commented on #5346
You need to package the jar under path `packaging/hudi-flink-bundle`, if you package the jar under root path, the shade pattern for Hive is overridden, this is a bug i guess.

[2022-04-28 07:31] danny0405 commented on #5395
So you do not write into same table from two separate Flink jobs.

[2022-04-28 09:18] Neuw84 opened #5456 "[SUPPORT] HoodieDeltaStreamer - Spark master shouldn't have a default option (AWS Glue)"
**Describe the problem you faced**

When trying to run HoodieDeltaStreamer on AWS Glue I found that the Spark master has no option to inherit from the environment as it defaults to ```local[2]```. In these kind of Serverless environments where you do not have access to the master this configuration should be inherited

This can be seen on line 329 on [HoodieDeltaStreamer](https://github.com/apache

[2022-04-28 09:21] xiarixiaoyao commented on #5452
@santoshsb  pls use follow code to solve your problem
[code]

[2022-04-28 09:45] Chosen123Wang opened #5457 "[SUPPORT] org.apache.hudi.common.fs.HoodieWrapperFileSystem cannot be cast to org.apache.hudi.common.fs.HoodieWrapperFileSystem"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-04-28 10:13] jdattani commented on #5451
Update: I ended up including all three jars removed from here into Glue Dependent Jars path https://github.com/apache/hudi/pull/4542

com.amazonaws:dynamodb-lock-client
com.amazonaws:aws-java-sdk-dynamodb
com.amazonaws:aws-java-sdk-core

The error changed, now getting: An error occurred while calling o255.save. Unable to acquire lock, lock object null.
Issue similar to the one mentioned here: http

[2022-04-28 11:35] lihuahui5683 commented on #5382
@codope Thanks for your reply.
I used CDH6.3.2. I have tried to upgrade Hive 2.3.4 and hive 3.1.2. The same exception occurs in Hive 2.3.4 and Hive 2.1.1. Hive 3.1.2 causes metaStore startup failure.Do you have a way to upgrade the CDH Hive version?
The _ro table can be used normally.

I used flink CDC(flink-1.13.6) to read mysql to write hudi, and used hive to query hudi _rt table.
The steps are

[2022-04-28 12:23] zhilinli123 opened #5460 "org.apache.hudi.exception.HoodieRemoteException: status code: 500, reason phrase: Server Error"
<img width="1862" alt="image" src="https://user-images.githubusercontent.com/76689593/165749665-28cb958d-f2e7-4591-88b7-49d60b729b5d.png">
<img width="1826" alt="image" src="https://user-images.githubusercontent.com/76689593/165749892-9d34219e-dbba-4f25-949f-b85d850a7d8d.png">
<img width="1094" alt="image" src="https://user-images.githubusercontent.com/76689593/165750140-38577dc3-6e24-4d2b-aa85-3d

[2022-04-28 14:55] toninis commented on #5249
@yihua  Tested with 0.12.0-Snapshot (https://github.com/apache/hudi/commit/52953c8f5e8d9d62a6913649235891be8960d50f) and got the same result . Shutdown hook again not called 😞

[2022-04-28 15:21] yihua commented on #5455
@nsivabalan @rmahindra123 do you guys know how to regarding Glue Catalog?

[2022-04-28 15:34] yihua commented on #5456
@Neuw84 The `HoodieDeltaStreamer` takes the `--spark-master` option to override the default Spark master to use, i.e., the same variable you mentioned, when you use `spark-submit` to run `HoodieDeltaStreamer`. I think your point is that, if the `HoodieDeltaStreamer` constructor is used, the Spark master config can be overwritten by what's configured in `JavaSparkContext jssc`, is that the case?

F

[2022-04-28 15:46] yihua commented on #5457
@Chosen123Wang To understand the issue, could you share the Hudi write configs and the steps and commands to reproduce the problem?  It looks like you're using Flink instead of Spark to write the data.

[2022-04-28 16:46] Neuw84 commented on #5456
Hi @yihua,

The thing is that no default value should be in that class in order to be able to inherit to whatever the master is in serverless Spark engines such as AWS Glue where the master is not known. The idea is to remove that default value (```local[2] ```), add an option to build a Java Spark Context without the default value and change the documentation in the ´´´cli´´´ options.

Is a small

[2022-04-28 16:54] vingov commented on #5367
@nsivabalan - It's almost done, I can send the PR tonight for the blog then I will follow up with extensive docs.

[2022-04-28 17:31] rahil-c commented on #5298
@kasured Im currently looking into this and was able to reproduce the issue after running your [https://github.com/kasured/hudi-compaction-5298](https://github.com/kasured/hudi-compaction-5298/tree/main/src/main/scala/com/example/hudi).

When I built hudi 0.11.0 (from master) with profile `spark-3.1.2` and provided my 0.11.0 `spark bundle jar` to your sample repro I noticed that I did not get the

[2022-04-28 18:19] parisni commented on #5363
Indeed, this is exactly what I am looking for !
thanks

On Tue, 2022-04-26 at 19:33 -0700, Sivabalan Narayanan wrote:

[2022-04-28 20:36] yihua commented on #5460
@zhilinli123 To help you identify the root cause, could you provide the steps/commands to reproduce the issue, including how multiple tables are written?  Could you also show the full timeline in `.hoodie` folder, including the `20220428191757755` which throws the error? Did you run any concurrent writers or aysnc table services on the same table?

[2022-04-28 20:38] yihua commented on #5460
Based on the current information, it's likely that the same marker is created twice and the second attempt fails.  @danny0405 do you know if Flink has special handling around creating direct markers?

[2022-04-28 20:41] yihua commented on #5460
@zhilinli123 by "compression failure", do you mean the Hudi compaction fails and `20220428191757755` is a scheduled compaction?  Have you tried to restart and retry the Flink job and see the ingestion can proceed?

[2022-04-28 22:51] yihua commented on #5455
@umehrot2 could you shed light on this as well?

[2022-04-28 22:57] yihua commented on #5280
@arunb2w If you don't need Hadoop or Hive specifically, you can compile Hudi jars and use Spark to write Hudi table to the local file system.  Spark should run on any platform that runs Java 8.  You can download the Spark release and directly use `spark-submit`, `spark-shell`, or `spark-sql` for writing and reading Hudi table, following our [Spark Guide](https://hudi.apache.org/docs/quick-start-gu

[2022-04-28 23:01] yihua commented on #5456
Got you.  Sg.  Let's track the progress there.  Closing this issue.

[2022-04-28 23:01] #5456 closed

[2022-04-28 23:34] yihua commented on #5451
@umehrot2 Do you know the right setup for using DynamoDB as the lock provider?

[2022-04-28 23:54] yihua commented on #5451
@jdattani Could you add the Hudi config below, bumping the retries, and try again?  It is likely due to transient error.
[code]

[2022-04-29 02:07] YuangZhang commented on #5457
I have encountered such errors，this is because different classloader loads a same class，you need check you library

[2022-04-29 02:09] todd5167 commented on #5395
yes

[2022-04-29 02:49] zhilinli123 commented on #5460
我当前是将Mysql cdc数据通过flink dataStream发送到kafka的一个topic中,下游使用侧输出流(outputTag)进行分流消费到各个hudi表中,当前我只有一个flink程序向hdfs目录去写不涉及到两个程序并行写入情况 如果需要我复现问题请随时联系我
<img width="1932" alt="image" src="https://user-images.githubusercontent.com/76689593/165878202-69f5e084-21ee-4289-bb7a-4534509132c2.png">
[errorLog.log](https://github.com/apache/hudi/files/8587801/errorLog.log)

[2022-04-29 02:50] zhilinli123 commented on #5460
It is now understood that failure during compression causes the rollback program to be repeatedly restarted

[2022-04-29 02:52] zhilinli123 commented on #5460
@yihua  Could you please help to locate the problem? Thank you

[2022-04-29 04:26] santoshsb commented on #5452
Hi @xiarixiaoyao, thanks for the code. It worked like a charm for the reduced json as provided above. After successfully testing it with the reduced schema, we used the complete schema (https://www.hl7.org/fhir/patient.html#resource). Even though the source and target schema are matching the following error is thrown while updating a record (both the schemas are provided below for reference),

`Dr

[2022-04-29 05:15] santoshsb commented on #5452
@xiarixiaoyao We did another test, we used this JSON string
`{"resourceType":"Patient","id":"596c7a94-bada-4303-85d4-7067c586999e","lastUpdated":"2022-04-20T15:18:18.90836+05:30","source":"4a0701fe-5c3b-482b-895d-875fcbd2148a","meta":{"extension":[{"url":"http://navify.com/fhir/StructureDefinition/createdBy","valueString":"00u4o6bbvAeNZkXKL296"},{"url":"http://navify.com/fhir/StructureDefinition/m

[2022-04-29 06:08] danny0405 commented on #5395
@todd5167 What kind of instant of time `20220421063410412`, is it a delta commit or commit or cleaning ?

[2022-04-29 07:42] santoshsb commented on #5452
We further took out the coding type from our JSON string one after the other the update worked for 2 elements (identifier and maritalstatus), it the coding type in the element "communication" which is breaking. So when we use this JSON string
`{
  "resourceType": "Patient",
  "id": "596c7a94-bada-4303-85d4-7067c586999e",
  "lastUpdated": "2022-04-20T15:18:18.90836+05:30",
  "source": "4a0701fe-5c3

[2022-04-29 08:06] jdattani commented on #5451
@yihua I tried adding retries as you suggested, still got the same error msg:  Unable to acquire lock, lock object null.

Additional detail on the error states : **"The provided key element does not match the schema "**

[code]

I see it retried the operation 3 times.

[code]
I checked the CloudTrail logs and could see a successful "DescribeTable" call from Glue Job to the DynamoDB lock table. So

[2022-04-29 08:08] xiarixiaoyao commented on #5452
@santoshsb  it was strange， let me try it

[2022-04-29 13:30] baisui1981 opened #5465 "[SUPPORT] illegal hive partition name assiged when using streamAPI reference from HoodieFlinkStreamer"
**Describe the problem you faced**

i have make a hudi hive table sink using Flink StreamApi reference from demo [HoodieFlinkStreamer.java](https://github.com/apache/hudi/blob/799c78e6888ef6a375c6779c3cfe7067756d4be9/hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/streamer/HoodieFlinkStreamer.java)

but found the final hive table partition name assiged value is illegal, seems that h

[2022-04-29 14:43] santoshsb commented on #5452
@xiarixiaoyao thanks for helping out, let me know if you need any more information.

[2022-04-29 17:32] yihua commented on #5372
@CodeCooker17 The error stacktrace shows that `this version is 1.3.0`, which is different from `2.1.0-cdh6.3.2`.  Could you check if this is due to other version of HBase library introduced?  You may also try to set `hbase.defaults.for.version.skip` to `true` and see if that helps you to resolve the compatibility issue.  Generally, you need to make sure there is no HBase config conflicts between H

[2022-04-29 18:48] yihua commented on #5460
@zhilinli123 Definitely.  Could you also show `20220428191757755*` files and their content and the full timeline in `.hoodie` folder directly? (`.hoodie` 文件夹的所有内容，包括`20220428191757755*`，以及这个 instant 文件里的内容)

[2022-04-29 18:56] yihua commented on #5457
@Chosen123Wang After some investigation, this might be related to the class loading configuration in Java, as @YuangZhang pointed out.  I'll put up a patch for you to try out.

[2022-04-29 18:59] yihua commented on #5451
@umehrot2  It looks like that DynamoDB throws validation exception when it is used as the lock provider.  Do you have any idea on this?

[2022-04-29 19:04] yihua commented on #5388
@santoshsb  Following up on this, have you tried the latest master and see if it solves the problem for you?

[2022-04-29 19:07] yihua commented on #5385
@p-powell let me know if you have more questions.  Feel free to close this issue if all good.

[2022-04-29 19:09] yihua commented on #5382
@danny0405 Do you have any idea on resolving the Hive issue in CDH?

[2022-04-29 19:12] yihua commented on #5375
I created a Jira ticket for the docs improvement around update/delete SQL DML: HUDI-3999.  Let's track the work there.  Closing this issue.

[2022-04-29 19:12] #5375 closed

[2022-04-29 19:15] santoshsb commented on #5388
@yihua while checking the latest master for this fix, we ran into this other issue https://github.com/apache/hudi/issues/5452. Will probably simplify the schema and see if it avoids this https://github.com/apache/hudi/issues/5452 issue and try the above one for now.

[2022-04-29 19:16] umehrot2 commented on #5451
Did you manually create the DynamoDB table ? The code needs a string attribute name `key` in that table and thats it. Not sure where `tableName` attribute came from. I am guessing you have added it manually.

I would recommend deleting the table and let Hudi code setup the DynamoDB table for you. And regarding the other errors regarding class not found, yes it seems those jars have been removed fr

[2022-04-29 19:18] yihua commented on #5371
@stackls @zhqu1148980644 Do you guys have more questions?  Feel free to close the issue if all good.

[2022-04-29 19:19] jasondavindev opened #5469 "[SUPPORT] Upsert overwrting ordering field with invalid value"
**Describe the problem you faced**

I'm writing an application to upsert records from a table. The problem is when an upsert operation is done, the ordering column of records that exists in base table and not exists in incoming data is overwritten to invalid value.
E.g.
The base table has a record with `id = 1` and `createddate = 2022-04-01`
The incoming data has a record with `id = 2` and `create

[2022-04-29 19:32] yihua commented on #5367
Let's track the docs improvement around DBT in this Jira ticket: HUDI-4000.  @vingov I assigned it to you.  Closing this issue.

[2022-04-29 19:32] #5367 closed

[2022-04-29 19:45] yihua commented on #5363
@parisni Glad to know that.  Closing this issue.  Let us know if you have additional questions.

[2022-04-29 19:45] #5363 closed

[2022-04-29 20:06] yihua commented on #5345
@walkhan following up on this, have you tried the change as suggested? For Hadoop 3 upgrade, there is also one WIP PR addressing all issues: #5402.

[2022-04-29 20:18] yihua commented on #5422
@rahil-c This could also be related to #5298.

[2022-04-29 20:22] yihua commented on #5281
Hi @ksoullpwk  Given that the ask is outside Hudi's responsibility, let us know your thoughts and what else we can help.  Feel free to close the issue if all good.

[2022-04-29 20:35] yihua commented on #5248
I created a Jira ticket to track the fix: HUDI-4001.

[2022-04-29 21:00] qjqqyy commented on #5400
To clarify, specifying`--checkpoint` is just a way to explicitly take the kafka offset OOB code path, it can happen "naturally" when there is a lot of incoming records and the ingestion job is undertuned.

Will open a ticket to track this

[2022-04-29 21:32] yihua commented on #5400
Sg.  Once you open a Jira ticket, we can track the progress there and close this issue.

[2022-04-29 22:07] yihua commented on #5451
Thanks, @umehrot2 for the information.  Do you think we can improve the document around how to use DynamoDB-based lock provider?

[2022-04-29 22:28] yihua commented on #5211
@kartik18 To clarify, is the base path of Hudi table `s3://bucket/folder/` or `s3://bucket/folder/cluster=abc/`?  For the former case, you can directly use `spark.read.format("org.apache.hudi").load("s3://bucket/folder")` to read the whole table.  If both `s3://bucket/folder/cluster=abc/` and `s3://bucket/folder/cluster=efg/` are separate Hudi tables, the behavior of reading them both in one `spar

[2022-04-29 22:33] yihua commented on #5198
@babumahesh-koo Sg.  I'm closing this issue.  Feel free to reopen it if you see new issues.

[2022-04-29 22:33] #5198 closed

[2022-04-29 22:36] yihua commented on #5195
@watermelon12138 Given that we haven't heard back from you for some time, I'm closing this issue.  If you still encounter the same problem, you can reopen this issue and add the steps and configurations to reproduce it, so that we can help you identify the root cause.

[2022-04-29 22:36] #5195 closed

[2022-04-29 22:38] yihua commented on #5189
@harsh1231 Have you made any progress on reproducing the problem?

[2022-04-29 22:49] yihua commented on #5074
@fengjian428 Could you post the Hudi write configs and steps to ingest data in both Flink and Spark?  Is there any key generation discrepancy between them?

@danny0405 are you aware of issues related to this?

[2022-04-29 22:51] baisui1981 commented on #5465
Fortunately, [onlywangyh](https://github.com/onlywangyh) has fix it, I will check it soon

[2022-04-29 22:51] #5465 closed

[2022-04-29 23:11] yihua commented on #5094
@nsivabalan do you have any idea how this can be done?

[2022-04-30 00:21] yihua commented on #5469
@jasondavindev Thanks for reporting this issue and detailed information, I'll try to reproduce it.  Have you tried the latest master of Hudi to see if the problem still exists?

[2022-04-30 01:14] danny0405 commented on #5074
Because Spark use `ComplextKeyGenerator` even if the key fields are single, i don't know the background, @yihua do you know that ?

[2022-04-30 01:25] yihua commented on #5457
@Chosen123Wang Could you try this fix to see if it solves your issue: #5471?

[2022-04-30 04:46] jdattani commented on #5451
@umehrot2 Thanks for your inputs. Yes, the table was manually created.

Since partition_key is an attribute in hoodie config, I assumed it could be any name and hudi would read it from config.
https://hudi.apache.org/docs/concurrency_control/

hoodie.write.lock.provider=org.apache.hudi.aws.transaction.lock.DynamoDBBasedLockProvider
hoodie.write.lock.dynamodb.table
hoodie.write.lock.dynamodb.partit

[2022-04-30 18:32] qjqqyy commented on #5400
tracked by https://issues.apache.org/jira/browse/HUDI-4006

[2022-04-30 18:32] #5400 closed

[2022-05-01 18:17] rkkalluri commented on #5455
@stevenayers  you should be able to use the glue catalog to load hudi table like any other hive external table.

See if you can emulate the below for you needs.

# Read dataframe from source
input_dyf = glueContext.create_dynamic_frame.from_catalog(
    database=src_database,
    table_name=src_table_name,
    push_down_predicate=f"(sdwh_update_year = '{start_date[:4]}' and sdwh_update_month = '{s

[2022-05-02 05:40] BalaMahesh commented on #4230
Hello @yihua ,

We are observing the same behaviour in the below scenario too. Where executor pods(running on  k8's)  are dying and after max retry attempts for the lost block, driver is killing all the executor pods and getting stuck without terminating. Because of this, spark-operator is not restarting the hudi application. Will this PR also fix this scenario ?

Stack traces :

22/04/29 19:09:36

[2022-05-02 06:39] SabyasachiDasTR commented on #5422
Thanks @yihua we are waiting for the latest AWS EMR release with upgraded hudi version.
Will retry after the upgrade and inform if it was resolved.
cc:@[JohnEngelhart](https://github.com/JohnEngelhart)

[2022-05-02 08:19] stevenayers commented on #5455
Thanks @rkkalluri. So while I'm able to run the following on the S3 location the catalog points to:
[code]
and receive a 200 response, when I run a version of your command above:
[code]
I get:
[code]

A few comments:
* The role has full S3 access
* Lake Formation is configured correctly
* I had to remove boundedSize and the bookmark as bookmarking is turned off for now.

[2022-05-02 10:16] stym06 commented on #5262
We are still receiving this error. Schema has not changed.

[2022-05-02 11:27] stevenayers commented on #5455
@rkkalluri that looks like it worked perfectly, thank you!

[2022-05-02 12:56] jasondavindev commented on #5469
I tried with the version `0.10.1` and there are error yet.
With the version `0.11.0` launched this weekend, zero records was found with wrong date.

[2022-05-02 14:37] MikeBuh opened #5481 "[SUPPORT] Slow Upsert When Reloading Data into Hudi Table"
At the moment we have a setup using Spark structured streaming to read Avro files from S3, do some basic transformation and schema cleaning, then persist into Hudi which also resides on S3. This setup is using Spark 3.1.1 and Hudi 0.10.0 and is running on AWS EMR using emr-6.3.1. Currently this is working fine for new incoming data (Spark app running a batch interval query to listen for new data a

[2022-05-02 14:39] parisni opened #5482 "[SUPPORT] metadata index fail with MOR tables"
I am testing hudi 0.11.0, I get this error after 5 commits (=hoodie.keep.max.commits).
When I turn either `hoodie.metadata.index.column.stats.enable=false` or `hoodie.metadata.index.bloom.filter.enable=false`, or `hoodie.metadata.index.async=true` then this works.
Also my COW table does not get that error

Hudi options:
[code]

The error
[code]

[2022-05-02 16:43] rahil-c commented on #5422
Hi @SabyasachiDasTR, I am an engineer from the AWS EMR team. If you need assistance you can open a case with AWS support and we can work through that channel to help backport this fix from 0.11.0 to your 0.9.0 environment, and provide you patched jars.

[2022-05-02 17:35] yihua commented on #5455
@rkkalluri Thanks for the help!  Closing this issues.  @stevenayers feel free to reopen this or file a new issue if you face more problems.

[2022-05-02 17:35] #5455 closed

[2022-05-02 18:16] jasondavindev opened #5484 "[SUPPORT] Hive Sync + AWS Data Catalog failling with Hudi 0.11.0"
**Describe the problem you faced**

After some issues reported [here](https://github.com/apache/hudi/issues/5469), I upgraded my workload version from Hudi 0.10.0 to 0.11.0.
In my applications I use AWS Data Catalog to store metadatas using the follow options:
[code]
And I submit Spark applications to EMR on EKS (EMR Containers) with the Spark conf
[code]

For this setup, Spark applications + hudi

[2022-05-02 18:29] jasondavindev commented on #3954
@kazdy https://github.com/apache/hudi/issues/5484

[2022-05-02 19:58] umehrot2 commented on #5451
@jdattani I see how it can be a bit confusing. The `partition_key` here actually means the value to use for the column, and not the column name itself. The column name is fixed to be `key`.

[2022-05-02 19:59] umehrot2 commented on #5451
Created a couple of Jiras to improve the naming/docs and to package the jars in a bundle so customers don't have to pass these AWS specific jars manually:

https://issues.apache.org/jira/browse/HUDI-4011
https://issues.apache.org/jira/browse/HUDI-4010

[2022-05-02 20:12] leobiscassi opened #5485 "[SUPPORT] Hudi Delta Streamer doesn't recognize hive style date partition on S3"
**Describe the problem you faced**

_Hudi Delta Streamer_ doesn't recognize date hive style partitions (e.g. `date=2022-01-01`) on my dataset. I'm wondering if I'm missing some configuration or if I'm doing something wrong.

**To Reproduce**

Steps to reproduce the behavior:

1. Run the following script to create sample data

[code]
2. Create a S3 bucket (e.g. `hudi-issue-raw-zone` on this example

[2022-05-02 20:27] yihua commented on #5481
@MikeBuh Thanks for providing the detailed configs and Spark UI screenshots.  Based on the information you provided, it looks like each Spark executor takes more input data than it can handle well in memory.  You may try to use the following Spark and Hudi configs and retry the real-time version of the job (assuming 7GB per upsert batch):
[code]
If you still hit the memory bottleneck, you may incr

[2022-05-02 20:42] yihua commented on #5482
@parisni Could you also provide the steps, commands, and code that do the ingestion, e.g., Deltastreamer, Spark datasource or Spark SQL?

Also, do the timeouts prevent the ingestion from proceeding?  Could you also search the logs to see what requests are sent to `192.168.1.61:33361`?  These are timeline server requests, and they are retried automatically.

Given that the metadata table is enabled

[2022-05-02 20:47] yihua commented on #5469
@jasondavindev Thanks for confirming.  If this is solved by Hudi 0.11.0 release and there is no other ask for this issue, feel free to close it.

[2022-05-02 20:50] yihua commented on #5484
@umehrot2 @rahil-c could you guys assist here around the AWS Glue catalog?

[2022-05-02 20:51] yihua commented on #5484
cc @nsivabalan

[2022-05-02 20:59] yihua commented on #5451
@jdattani Have you tried the suggestion and see if it works?  Feel free to close this issue once all good.

[2022-05-02 21:09] #5469 closed

[2022-05-02 22:41] umehrot2 commented on #5484
@jasondavindev I think the the glue catalog is not getting enabled. `spark.hadoop.hive.metastore.client.factory.class=com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory` is not kicking in. So either you are misconfiguring it somehow or its a bug in EMR on EKS https://catalog.us-east-1.prod.workshops.aws/workshops/1f91e1d4-5587-40ff-8d5d-54fc86e0ddc1/en-US/intermediate/aws-glu

[2022-05-03 00:20] yihua commented on #5485
@leobiscassi Thanks for providing the detailed steps.  There are three things:

(1) When using Deltastreamer, the `s3a://` prefix should be used, to avoid `_$folder$` suffix.
(2) Hudi 0.9.0-amzn-1 does not support `date`-typed partition field.  The support is only added recently #5432.  However, you can still using String-typed partition field.
(3) the parquet files you generated do not have the `

[2022-05-03 00:21] yihua commented on #5485
You can also find more information about all key generators [here](https://hudi.apache.org/blog/2021/02/13/hudi-key-generators/).

[2022-05-03 05:40] yihua commented on #5046
Let’s track the fix to this issue in HUDI-3467.  Closing this issue.

[2022-05-03 05:40] #5046 closed

[2022-05-03 05:47] yihua commented on #5146
@melin Thanks for the feature request.  Feel free to create a Jira ticket [here](https://issues.apache.org/jira/projects/HUDI/issues) to track this.

[2022-05-03 05:52] yihua commented on #5248
We’re going to track the fix in HUDI-4001.  Closing this issue.

[2022-05-03 05:52] #5248 closed

[2022-05-03 06:57] MikeBuh commented on #5481
@yihua Thank-you for the reply on this however please note the following:
- real-time is working fine, I just included those to showcase what it is currently using for new data
- batch reload is having the issues and failing with out of memory errors (error code 137)
- the Spark UI screenshots and detailed configs are related to this reload job
- perhaps I was not clear, the resources used by the

[2022-05-03 11:32] santoshsb commented on #5452
@xiarixiaoyao FYI, we just tested this issue by building the release branch 0.11.0, here is the JSON string and the schema.
`{
  "resourceType": "Patient",
  "id": "596c7a94-bada-4303-85d4-7067c586999e",
  "lastUpdated": "2022-04-20T15:18:18.90836+05:30",
  "source": "4a0701fe-5c3b-482b-895d-875fcbd2148a",
  "name": [
    {
      "use": "official",
      "family": "Haley279",
      "given": [

[2022-05-03 11:56] parisni opened #5488 "[SUPPORT] Read hive Table fail when HoodieCatalog used"
hudi 0.11.0
spark 3.2.1

when hive_sync then `read.table("table_name")` raise an error `pyspark.sql.utils.AnalysisException: Table does not support reads`.
The error does't raise when ` --conf 'spark.sql.catalog.spark_catalog=org.apache.spark.sql.hudi.catalog.HoodieCatalog'` is not set.

[code]

I debugged it a bit and the hudi catalog for load table uses the super.loadTable which is not aware of

[2022-05-03 12:28] jasondavindev commented on #5484
@umehrot2  I known this config is working because when I run `spark.catalog.listDatabases()` the correct result is shown. But when Hudi tries to write an error is raised.

[2022-05-03 12:45] parisni commented on #5482
I cannot really share the whole code, but parts of it.

yes : I only get 5 commit done but I am trying 6 operations

Then I added a concurrency lock store based on dynamodb.

Here are the logs after the timeout (about 2 min to wait). (this is a minio based local s3 provider). I checked and the file it tries to open exists.
[code]

[2022-05-03 13:17] nsivabalan commented on #5455
@bhasudha : Do we need to add any faq on this end? will let you take a call.

[2022-05-03 13:53] parisni opened #5489 "[SUPPORT] Feature Comment sync not working"
hudi 0.11.0
spark 3.2.1 / spark 2.4.x

When adding comments to schema then hudi_sync don't add it to the hive table. Even when the feature is activate

[code]

[2022-05-03 14:20] leobiscassi commented on #5485
Hi @yihua, thanks for the answer! About the your points:
(1) Thank you, I didn't notice this possibility, these folders are annoying 😓

(2) (3)

For Apache Spark the partitions are meant to be part of the schema, so every time we read `s3://hudi-issue-raw-zone/sample-data/` the schema of DataFrame is fields on the parquet + partitions, what you are saying is that independent of the datatype / styl

[2022-05-03 15:38] JavierLopezT opened #5490 "[SUPPORT] Unable to infer schema for JSON after reading Hudi files in Spark"
Hello. I am facing an issue, and I am not even sure that it's Hudi's fault, but I am totally lost. Sorry if it's not indeed due to Hudi.

I have a code that reads a commit Hudi file (JSON), takes some info from it, and then create a DataFrame reading some other Hudi files. The code is the following:
[code]

If I run the function with `execute=False`, it works. If I run it with` execute=True`, it f

[2022-05-03 17:13] ashah-lightbox opened #5492 "_hoodie_is_delete works differently on hudi spark datasource on docker compare to hudi on emr."
**Describe the problem you faced**

I tried _hoodie_is_delete on pyspark emr notebook and it works as desired. Below is my attached example performed in EMR -
https://gist.github.com/ashays83/6beaf642bd55b4c46292b8f382d0088b

and the i  tried _hoodie_is_delete on hudi spark datasource on docker and it gives these results attached below
https://gist.github.com/ashays83/af64d3c3795534e40c3b003b0796f

[2022-05-03 18:57] yihua commented on #5481
@MikeBuh Thanks for the clarification.  What is the input size of your batch reload?  The similar principle can be applied here for calculating the parallelism.  To be conservative at first, you can calculate the parallelism to use by deriving [input size / 100MB].  Say if the input size is 50GB, you can try parallelism as 500 as below:
[code]
You should also increase the Kryo serializer buffer:
[

[2022-05-03 19:27] yihua commented on #5485
That's correct.  If you want Spark like read to include the partition field from the partition path, you may consider SqlSource or SQL transformer.

In the snippet you provided, `ComplexKeyGenerator` is used which goes through a different code path.  `CustomKeyGenerator` leverages `TimestampBasedAvroKeyGenerator` for timestamp field which does not support date typed partition field in 0.9.0.  That

[2022-05-03 21:05] leobiscassi commented on #5485
When I use the `ParquetDFSSource` with the SQL transformer I have exactly the same issue w/ the partitions, so the only way I have to extract this is with `INPUT_FILE_NAME()`+ custom logic.

Got it, thanks for the explanation.

It would be great add this information about the behavior w/ partitions on the docs, I spent a lot of time trying to see if I was missing some configuration that leads to t

[2022-05-03 22:55] yihua commented on #5485
@leobiscassi no problem.  I agree that the docs can be improved around the key generator and partition field.  If you already have sth in mind, I encourage you to put up a PR on improving the docs.  @bhasudha and I can help review the PR.

[2022-05-03 22:56] yihua commented on #5485
Feel free to close the issue if all good.

[2022-05-04 02:07] stackls opened #5493 "[SUPPORT] Hudi Batch job failures for different tables randomly every run"
While processing 200 tables sequentially using Hudi for delta records, each time randomly 3 to 4 tables are getting failed with any of below two errors.  It's not same tables which are getting failed after each run. Shared the hudi hive sync configs below.

**Error1** - org.apache.hudi.hive.HoodieHiveSyncException: Cannot create hive connection jdbc:hive2://server:10000/
**Error2**-  Caused by: ja

[2022-05-04 02:23] leobiscassi commented on #5485
@yihua nice, I'll work on this and submit a PR, thanks. 👍🏽

[2022-05-04 02:24] #5485 closed

[2022-05-04 03:49] ksoullpwk commented on #5281
My expected scope for this issue is only for the properties file. For the rest part for handling the data, I think it should be done by users.

The issue is I didn't know about this hidden file until it was cleaned by life cycle policy. And it takes some time to revert it back (what I did is copying this file from another Hudi table and fix the table properties).

If we have no plan to fix it, it

[2022-05-04 04:27] rahil-c commented on #5298
@kasured If you have opened a case with AWS EMR support, we have a backport of the fix for hudi 0.9.0 we can provide you. Let us know so we can close this thread out for now.

[2022-05-04 04:35] rahil-c commented on #5484
Hi @jasondavindev, just curious on your setup of using hudi 0.11 on AWS EMR? The most recently offered version of Hudi on EMR is`0.9.0` https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-hudi.html. If you are dropping the hudi jars from open source this is officially not supported since EMR's Hudi will be using internal versions of Hadoop, Spark, Hive as opposed to directly from open source,

[2022-05-04 04:58] BalaMahesh opened #5494 "[SUPPORT] Hudi 0.11.0 HoodieDeltaStreamer failing to start with error : java.lang.NoSuchFieldError: DROP_PARTITION_COLUMNS"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I have pulled the 0.11.0

[2022-05-04 07:04] MikeBuh commented on #5481
Hi @yihua the batches I am trying to load are around 9GB each. For the latest test I have tried to load only 2 of these batches but not even one of them managed to be processed successfully. I tried 2 runs and both failed with the executor running out of memory.

For both runs I was using the same Spark resources, with the only difference being the parallelism (both for Spark and Hudi):

**Common

[2022-05-04 12:15] santoshsb commented on #5452
@xiarixiaoyao @yihua we currently don't see this issue when we use the following configuration option --conf 'spark.hadoop.parquet.avro.write-old-list-structure=false'. Should be good to close this, though we are facing another issue with nested columns, will raise a different ticket for that ?

Thanks,
Santosh

[2022-05-04 12:28] BalaMahesh commented on #5494
@yihua @nsivabalan please suggest on this scenario.. where could be the possible issue.

[2022-05-04 12:44] santoshsb commented on #5452
@xiarixiaoyao FYI, the createNewDF code throws the following error
`Caused by: java.lang.RuntimeException: java.lang.String is not a valid external type for schema of array<string>
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$SpecificUnsafeProjection.ValidateExternalType_2$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$SpecificUnsafeProjection.MapObje

[2022-05-04 12:49] jasondavindev commented on #5484
Yes, I'm dropping the Hudi jars directly in EMR since 0.10.0 version. In the 0.10.0 version Hudi can read and write to Glue Data Catalog, but after upgrade to 0.11 it can't.
There are other manner to sync to Glue Data catalog? As mentioned, I tried https://hudi.apache.org/docs/configurations#hoodiemetasyncclienttoolclass but didn't worked.

[2022-05-04 14:21] jdattani commented on #5451
@yihua  @umehrot2 The issue was resolved after defining dynamodb partition key name to "key". Thanks for your inputs.

[2022-05-04 18:15] jasondavindev commented on #4552
https://github.com/apache/hudi/issues/5469
The 0.11.0 version fixed it.

[2022-05-04 22:04] brysd opened #5496 "[SUPPORT] java.lang.ClassNotFoundException: org.apache.hudi.org.apache.hadoop.hbase.protobuf.generated.AuthenticationProtos$TokenIdentifier"
**Spark submit fails immediately with hudi-spark3.2-bundle_2.12:0.11.0 and kerberos authentication**

executing following on our environment will result in the above mentioned error
[code]

code in python script:

[code]

Maybe we need something extra and this is related to kerberos authentication. In the logs however we can see that we correctly get authenticated.

**To Reproduce**

Not sure how

[2022-05-04 22:20] alexeykudinkin commented on #5494
@BalaMahesh i've tried to reproduce this issue using your steps, and i'm not able to -- DeltaStreamer is starting as expected. Can you please provide full Spark Driver log (feel free to strip out all sensitive info from it)?

[2022-05-05 01:23] BalaMahesh commented on #5494
@alexeykudinkin  This is the full command and logs

./spark-submit  --jars packaging/hudi-spark-bundle/target/hudi-spark3.2-bundle_2.12-0.11.0.jar  --class org.apache.hudi.utilities.deltastreamer.HoodieDeltaStreamer packaging/hudi-utilities-slim-bundle/target/hudi-utilities-slim-bundle_2.12-0.11.0.jar --props file:////hudi/properties/gl_started.properties --schemaprovider-class org.apache.hudi.uti

[2022-05-05 01:36] BalaMahesh commented on #5494
I am trying to run 0.11.0 with the same config used for 0.10.1. Earlier it used to be hudi-utilities-bundle that we run, but now it is changed to hudi-utilities-slim-bundle along with hudi-sparkx.y-bundle . Somewhere the code recompilation/library versions are screwed is what I am feeling. But it is giving me hard time to figure that out.

[2022-05-05 02:14] xiarixiaoyao commented on #5452
@santoshsb
createNewDF  cannot support rewrite DataFrame with nested schema change.

[2022-05-05 02:27] BalaMahesh commented on #5494
@alexeykudinkin.  Apologies for the trouble, I accidentally placed hudi-hadoop-mr-bundle-0.10.1.jar in my spark class path earlier and HoodieTableConfig is being picked from that location and not able to find latest compiled class. I am closing this issue. Thanks for the your comments.

[2022-05-05 02:27] #5494 closed

[2022-05-05 04:34] wf19970425 opened #5500 "[SUPPORT]metadata table function"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

 After the metadata table

[2022-05-05 05:09] wf19970425 commented on #5500
If metadata table is enabled, the scanning time will increase.  Is that reasonable?

[2022-05-05 06:04] danny0405 commented on #5382
Can you show the create table descriptor in Hive CLI to see the table input format ? What input format does the table use ?

[2022-05-05 06:28] zhilinli123 commented on #5460
<img width="1884" alt="image" src="https://user-images.githubusercontent.com/76689593/166872145-73004006-f46d-4b93-a646-2b234604cbb5.png">
[20220505133151119.tar.gz](https://github.com/apache/hudi/files/8629071/20220505133151119.tar.gz)
[temp.tar.gz](https://github.com/apache/hudi/files/8629072/temp.tar.gz)
@yihua @danny0405  You guys, I've downloaded the timeline 20220505133151119. Does that help

[2022-05-05 07:23] lihuahui5683 commented on #5382
[code]

[2022-05-05 08:06] sleep1661 opened #5503 "[SUPPORT] Hive sync action failed when using spark-sql"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

 Hive sync action failed

[2022-05-05 08:42] zyp0818 opened #5504 "[SUPPORT] Compact according to precombinekey in the RealtimeCompactedRecordReader class"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Compact according to prec

[2022-05-05 09:09] wf19970425 commented on #5503
I also encountered the same problem, but I met it when Hudi combined with flink to restart. I suspect it is the problem of dependency conflict. My error report is as follows：
Caused by: org.apache.hudi.exception.HoodieUpsertException: Error upsetting bucketType UPDATE for partition :files
	at org.apache.hudi.table.action.commit.BaseFlinkCommitActionExecutor.handleUpsertPartition(BaseFlinkCommitAct

[2022-05-05 09:10] wf19970425 commented on #5503
The metadata tables setting is also enabled

[2022-05-05 09:19] wf19970425 commented on #5500
Can you help me?

[2022-05-05 10:08] lihuahui5683 commented on #5382
I have read this document, but I still can't solve this problem. Is it possible that the Hive version is too low?

[2022-05-05 11:00] danny0405 commented on #5382
Did you set up the input format manually ? Hive 2.1.1 is not low, many people in out dingTalk group uses that.

[2022-05-05 11:45] lihuahui5683 commented on #5382
yes，I set `hive.input.format=org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat;`
The picture below is the process I performed:
![image](https://user-images.githubusercontent.com/31878723/166916026-0906b907-7892-4f1d-b3c7-a588630f5e7c.png)
![image](https://user-images.githubusercontent.com/31878723/166916213-c3c3ec10-2f20-48b4-8596-e609d2a3f7ad.png)

[2022-05-05 14:24] andykrk commented on #4604
@nsivabalan We need to park this item temporarily. We may get some additional resources to work on that on our side after this. I will keep you posted on that.

[2022-05-05 14:45] VitoMakarevich opened #5511 "[SUPPORT] Inremental query from the beginning of time"
**Describe the problem you faced**

Incremental query with `begin.instanttime` less than the first commit time is different, depending on how many commits added.

**To Reproduce**

Steps to reproduce the behavior:

1. Write to hudi table n commits, where n > number of commits config param
2. trigger an incremental query with `begin.instanttime` less than the first commit, e.g. `0`.
3. verify the n

[2022-05-05 21:44] vicuna96 commented on #4700
Hi @xiarixiaoyao , @nsivabalan , is there any known workaround for this? It does seem like the problem is that it's trying to use the implementation from org.spark-project.hive:hive-metastore:1.2.1.spark2, which is included in Spark 2.4.7 environment under $SPARK_HOME/jars (and hence in the dataproc image mentioned above). Do you have any advice on how to shadow those packages? It would be very he

[2022-05-06 02:24] aiwenmo opened #5513 "[SUPPORT] Sync realtime whole mysql database to hudi failed when using flink datastream api"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

org.apache.hudi.org.apach

[2022-05-06 05:26] parisni commented on #5484
what about removing that `'hoodie.meta.sync.client.tool.class': 'org.apache.hudi.aws.sync.AwsGlueCatalogSyncTool'` ? This will work as 0.10 with the regular hive sync connector, which just work with glue

[2022-05-06 05:30] danny0405 commented on #5382
Can you ask for help in the dingTalk group, some people might solve this problem already.

[2022-05-06 05:33] danny0405 commented on #5513
You need to set up the key generator clazz correctly.

[2022-05-06 05:49] aiwenmo commented on #5513
thx. Your method is also OK.

[2022-05-06 06:31] jtmzheng opened #5514 "[SUPPORT] Read optimized query on MOR table lists files without any Spark action"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

I'm seeing some unexpected behavior where a `read_optimized`

[2022-05-06 07:12] sunke38 opened #5515 "[SUPPORT]FileNotFoundException for hadoop-common-3.1.3.jar"
**Describe the problem you faced**

A clear and concise description of the problem.
I keep get a warning that
Failed to create catalog table in metastore: MetaException(message:java.lang.RuntimeException: java.io.FileNotFoundException: /home/kadm/module/hadoop/share/hadoop/common/hadoop-common-3.1.3.jar (No such file or directory))

My hadoop version is 3.2.2 and I was set version on pom.xml when

[2022-05-06 09:20] Chosen123Wang commented on #5457
I added this line of code ,and still report this error
hudi 0.11.0-release      flink 1.14.3

[2022-05-06 09:32] Limess commented on #3834
For others, I have just recreated this issue with Hudi 0.11.0 and the current Athena version [April 22, 2022](https://docs.aws.amazon.com/athena/latest/ug/release-note-2022-04-22.html).

As expected it still needs a fix on the AWS Athena side to remedy (I haven't checked with open source Presto)

[2022-05-06 09:57] Chosen123Wang commented on #5457
What dependencies do I need to check ？

[2022-05-06 12:31] jasondavindev commented on #5484
With or without that config doesn't worked

[2022-05-06 14:46] #5385 closed

[2022-05-06 17:57] neerajpadarthi opened #5519 "[SUPPORT] Schema Evolution - Error with datatype promotion"
Schema evolution is failing when table contains multiple base files especially when schema is promoted. If table has a single basefile then it worked as expected.

A clear and concise description of the problem.

Scenario -1 (Promoting col-x int to long)
Created table with bulk_insert parallelism - 1 (col-x schema Int)
Performed upsert delta with col-x schema Long
Queried  - It worked as expected

[2022-05-06 18:21] jasondavindev commented on #5469
When used INSERT operation instead BULK_INSERT, no records are affected by the bug. Thus the BULK_INSERT has a bug.

[2022-05-06 19:04] parisni commented on #5484
the config breaks the read.table

[2022-05-07 06:53] JoshuaZhuCN commented on #5519
I have the same problem。

spark：3.1.3
hudi：0.10.1
hadoop：3.1.0

[2022-05-07 06:54] JoshuaZhuCN commented on #5515
I have the same problem。

spark：3.1.3
hudi：0.10.1
hadoop：3.1.0

[2022-05-07 08:43] zhilinli123 commented on #3999
@Coreixwumo  When this happens, we update our operations when we anneal. Tasks.

[2022-05-07 10:45] Chosen123Wang commented on #5457
In my tests, some jobs can succeed and others can't. I would like to ask which class loader is loaded by the houdiewrapperfilesystem class. We want to specify it directly in the code

[2022-05-07 16:13] pratyakshsharma commented on #5020
Replying here so as to be in loop.

[2022-05-07 16:16] pratyakshsharma commented on #4946
@chrischnweiss Any updates here?

[2022-05-07 16:18] pratyakshsharma commented on #5021
Replying so as to be in loop.

[2022-05-08 04:37] danny0405 commented on #5020
Yes, we may need to work to find a solution in release 0.12.0

[2022-05-08 07:12] pratyakshsharma commented on #5020
Just thinking out loud here. With respect to HUDI-3657, as I understand, the problem is for every commit, we have 3 files in requested, inflight and completed states. How about have a mechanism where after a certain threshold in terms of number of commits, we archive or simply delete only the requested and inflight state files and keep the completed state .commit file in the active timeline. Is th

[2022-05-08 11:00] pratyakshsharma commented on #5180
@cajil Have you tried using OverwriteNonDefaultsWithLatestAvroPayload? This should work as long as you do not have multiple partial updates for the same record key in any incoming batch.

[2022-05-09 01:01] blackburt342865189 commented on #5372
I also encountered this problem：

2022-05-08 09:04:30,885 WARN  org.apache.hive.service.server.HiveServer2:
[main]: Error starting HiveServer2 on attempt 1, will retry in 60000ms
java.lang.RuntimeException: hbase-default.xml file seems to be for an older version of HBase (2.4.9), this version is 2.1.0-cdh6.3.4
	at org.apache.hadoop.hbase.HBaseConfiguration.checkDefaultsVersion(HBaseConfiguration.j

[2022-05-09 02:24] danny0405 commented on #5372
The stacktrace throws from Hive on Spark ?

[2022-05-09 02:33] blackburt342865189 commented on #5372
yes,hive on spark,     put hudi-hadoop-mr-bundle-0.12.0-SNAPSHOT into auxlib/,     after  restart hiveserver2,encountered ,hiveserver2 donot Normal  woking.

[2022-05-09 02:54] danny0405 commented on #5020
We can do that, but what is the purpose here ? To reduce the pressure from the small files ?

[2022-05-09 07:30] pratyakshsharma commented on #5020
yes, to ease the pressure for file IO and metadata scanning. @danny0405

[2022-05-09 08:15] danny0405 commented on #5020
That is a valid improvement from my side, but it does not solve the problem i mentioned in this issue, we kind of need a reader lock or heartbeat to notice that cleaner to not remove the files that are under read.

[2022-05-09 09:05] melin opened #5537 "hudi supports custom catalog name, spark_catalog is not mandatory"
[code]

iceberg catalog name use spark_catalog，hudi catalog name cannot use spark_catalog。Can hudi use another name?

Hudi For Spark 3.2, the additional spark_catalog config is required: --conf 'spark.sql.catalog.spark_catalog=org.apache.spark.sql.hudi.catalog.HoodieCatalog'

<img width="1410" alt="image" src="https://user-images.githubusercontent.com/1145830/167381332-e15fd752-36d8-49ce-a906-63e4

[2022-05-09 11:29] pratyakshsharma commented on #5094
Going through this blog - https://hudi.apache.org/blog/2020/01/15/delete-support-in-hudi/#deletion-with-datasource, it looks like hard deletes are currently not supported along with upserts with spark datasource. This is a valid ask to introduce a new config to allow hard deletes with debezium source.

[2022-05-09 11:40] pratyakshsharma commented on #5233
Which schema provider are you using for your use case? @ashah-lightbox

[2022-05-09 11:41] nleena123 opened #5539 "[SUPPORT]Job aborted due to stage failure. Caused by: AvroTypeException: Invalid default for field CDC_TS: "null" not a ["null","string"]"
Hi Team,
iam geeting the below exception our source is Kafka topic , we are running the hudi code in azure databricks.
our hudi jobs are failing with below exception can anyone help me on this .

ERROR:
Job aborted due to stage failure. Caused by: AvroTypeException: Invalid default for field CDC_TS: "null" not a ["null","string"]
Steps to reproduce the behavior:

**Expected behavior**

A clear and

[2022-05-09 11:47] nleena123 opened #5540 "[SUPPORT]HoodieException: Commit 20220509105215 failed and rolled-back ! at org.apache.hudi.utilities.deltastreamer.DeltaSync.writeToSink(DeltaSync.java:492)"
Hi Team,
our hudi jobs are failing with below exception.
Can you please help me on this.

HoodieException: Commit 20220509105215 failed and rolled-back !
at org.apache.hudi.utilities.deltastreamer.DeltaSync.writeToSink(DeltaSync.java:492)

**Environment Description**

* Hudi version :0.8.0

* Spark version :3.2.1

* Storage (HDFS/S3/GCS..) : AZURE blod storage

we are running the apache hudi spark

[2022-05-09 11:55] pratyakshsharma commented on #5511
@nsivabalan to confirm this.

[2022-05-09 14:17] melin commented on #5537
@leesf

[2022-05-09 15:34] nsivabalan commented on #5021
CC @codope : clarification on write support with presto.

[2022-05-09 15:38] nsivabalan commented on #5036
so, if I understand the use-case correctly, you have records that needs to be deleted w/ hudi, but the records only have record key field set and not other fields set ? whats the case w/ partition path field?
I assume this is via deltastreamer ? Or let us know if you are using spark-datasource writer.

[2022-05-09 15:39] nsivabalan commented on #5036
@jasondavindev : sorry, can you clarify bit more on your solution. did you modify HoodieAvroUtils to set some random value for updated_at (preCombine field) for the table and it worked?

[2022-05-09 15:57] yangdafish opened #5541 "[SUPPORT] Upgrade from 0.8.0 to 0.9.0 decreases Upsert performance"
**Describe the problem you faced**

Recently, we upgraded our environment from Hudi 0.8.0 to Hudi 0.9.0, and after the upgrade we noticed that upsert jobs for some of our existing tables run much slower compared to how they ran in Hudi 0.8.0.

For our Hudi tables, we ran one bulk_insert job to ingest snapshot, and schedule an upsert job every 10 mins to ingest incremental updates after the complet

[2022-05-09 16:18] nsivabalan commented on #5233
@ashah-lightbox : yes, setting nullable should work.

[2022-05-09 16:25] gunjdesai opened #5542 "[SUPPORT] Error Querying HUDI through Trino when syncing HMS via Spark"
**Describe the problem you faced**

I am using HMS to sync my data via Spark and directly querying that data through Trino, but when i trying to run the command
[code]
I get the following error
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Spark Job for writing to S3 with HMS added
2. `hudi-hadoop-mr-0.11.0.jar` bundle added in `<trino_install>/plugin/hive-hadoop2`
3. Run the quer

[2022-05-09 16:32] nsivabalan commented on #5020
@danny0405 : going back to your original example in the description.
If a file slice was written in C1, and never updated in any of the future commits, at C10 or C11, even if cleaner detects all data files pertaining to C1 to C4 needs to be deleted, latest file slice in C1 will never be touched. Cleaner will always ensure latest file slice for any file group will never be cleaned up. So, can you h

[2022-05-09 16:32] nsivabalan commented on #5020
may be there is something else happening which we may wanna get to the bottom of it before proceeding further.

[2022-05-09 16:47] arturopineda92 commented on #1981
Hi @rubenssoto, did you solve this issue? I'm working with Hudi 10.1? Thanks

[2022-05-09 21:50] gunjdesai commented on #5542
I am sorry about this one. I got confused between `hudi-hadoop-mr-0.11.0.jar` and `hudi-hadoop-mr-bundle-0.11.0.jar`. Closing this one

[2022-05-09 21:50] #5542 closed

[2022-05-10 03:43] danny0405 commented on #5020
My description was not that accurate, because the use the Snapshot Isolation, when the reader starts reading the C1 file slice `s1` where it is the latest in the file group at C9, a subsequent C10 then modifies the C1 file slice and the cleaner starts working, the `s1` would be cleaned.

[2022-05-10 04:40] codope commented on #5021
@kazdy @maddy2u Glad to see the interest in write support for hudi tables via Presto. Currently, there is no write support either through the hive connector or the [in-progress native connector](https://github.com/prestodb/presto/pull/17149). However, it is on our [roadmap](https://hudi.apache.org/roadmap/#execution-engine-integration) and we are targeting read support with 0.12.0 release and writ

[2022-05-10 05:12] YuweiXiao commented on #5541
Maybe related to this PR https://github.com/apache/hudi/pull/4012

Could you try adding this patch and test again? The issue is introduced in 0.9.0 and fixed in 0.11.0.

[2022-05-10 06:34] JoshuaZhuCN commented on #5515
I solved it. After I deleted some removed machines in the cluster from the hosts, there was no error that hadoop-common-x.x.x.jar could not be found

[2022-05-10 07:32] nleena123 commented on #5539
@pratyakshsharma

{"subject":"async.messaging.interaction.survey-value","version":4,"id":92358,"schema":"{\"type\":\"record\",\"name\":\"InteractionSurvey\",\"namespace\":\"com.optum.lpgc\",\"fields\":[{\"name\":\"survey_type\",\"type\":[\"null\",\"string\"]},{\"name\":\"survey_status\",\"type\":[\"null\",\"string\"]},{\"name\":\"interaction_id\",\"type\":\"string\"},{\"name\":\"survey_id\",\"type

[2022-05-10 07:59] gujincheng opened #5547 "[SUPPORT] Read Hudi data with flink-1.13.6 and report java.lang.NoSuchMethodError"
**Describe the problem you faced**
It is normal to write data with flink, and you can read the written data with hive, but you can't read it with flink itself,The following exception is reported：

![image](https://user-images.githubusercontent.com/26380832/167577780-a8d6316b-19a6-4444-a6cc-fb82fff3bada.png)

**Environment Description**

* Hudi version : 0.11.0

* Flink version :  1.13.6

* Hive ve

[2022-05-10 08:10] Limess opened #5548 "[SUPPORT] Hudi global configuration on EMR"
**Describe the problem you faced**

Open source Hudi exhibits different behaviours to Amazon Hudi when managing config on EMR when running with `--deploy-mode cluster`.

This is probably currently expected, but it is confusing for those using EMR, and the Amazon version behaviour is less surprising as a user.

When setting the EMR configuration `hudi-defaults`, this configuration is written to the

[2022-05-10 11:29] pratyakshsharma commented on #5539
I do not see the cdc_ts field in this schema. From where is this field coming in the error you shared?

[2022-05-10 11:36] sunke38 opened #5550 "[SUPPORT]"
SparkHudi.scala

I try to use spark-hudi to read data from kafka then write to hudi. but my code fail to submit to spark. It show

org/apache/spark/sql/adapter/Spark3_2Adapter.getAvroSchemaConverters()Lorg/apache/spark/sql/avro/HoodieAvroSchemaConverters; is abstract

what is possible reason for this log? Do I miss some depandency?
`

object SparkHudi {
  val logger = Logger.getLogger(SparkHudi.ge

[2022-05-10 12:11] nleena123 commented on #5539
we are adding the new field in hudi code with the below code
		**Schema.Field f = new Schema.Field(CDC_TS, Schema.createUnion(optionalString), CDC_TS, "null");**

static GenericRecord getDataWithCDC_TS(GenericRecord record, String ts) {

		Schema base = record.getSchema();
		List<Schema.Field> baseFields = base.getFields().stream()
				.map(field -> {
					Schema.Field f = new Schema.Field(field.n

[2022-05-10 12:16] melin commented on #5537
hack way
[code]

[code]

[code]

[2022-05-10 13:02] nleena123 commented on #5540
@pratyakshsharma
HI what is stacktrace ?, i am not aware of it ,can you please help with more details.

[2022-05-10 13:08] nleena123 opened #5551 "HoodieCommitException: Failed to archive commits Caused by: IOException: Not an Avro data file at org.apache.hudi.table.HoodieTimelineArchiveLog.archive(HoodieTimelineArchiveLog.java:324)"
Hi Team,
Getting the below error in hudi job.

HoodieCommitException: Failed to archive commits Caused by: IOException: Not an Avro data file
at org.apache.hudi.table.HoodieTimelineArchiveLog.archive(HoodieTimelineArchiveLog.java:324)

**To Reproduce**
we are running the hudi job through Azure databricks .

below dependancies we added in our code.

org.apache.spark:spark-avro_2.12:3.1.1

org.apach

[2022-05-10 13:38] pratyakshsharma commented on #5540
@nleena123 I meant to say please share the detailed error log and not just the exception message. :)

[2022-05-10 14:42] bydeath opened #5552 "[SUPPORT] It failed to compile raw hudi src with error "oodieTableMetadataUtil.java:[189,7] no suitable method found for collect(java.util.stream.Collector<org.apache.hudi.common.model.HoodieColumnRangeMetadata""
**Describe the problem you faced**

My first compiling hudi src failed

**To Reproduce**

Steps to reproduce the behavior:

1. git clone https://github.com/apache/hudi.git && cd hudi
2. mvn clean package -DskipTests

**Stacktrace**

```Add the stacktrace of the error.```

[ERROR] hudi-src/hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadataUtil.java:[189,7] no suitable method fou

[2022-05-10 15:49] nleena123 commented on #5539
i followed the above resolution steps .

changed the code to
Schema.Field f = new Schema.Field(CDC_TS, Schema.createUnion(optionalString), CDC_TS, null);

After changing the default value "null" to null got the below exception
Job aborted due to stage failure. Caused by: NoSuchMethodError: org.apache.avro.Schema$Field.<init>(Ljava/lang/String;Lorg/apache/avro/Schema;Ljava/lang/String;Lorg/codehaus

[2022-05-10 17:48] pratyakshsharma commented on #5539
Please share the entire error log.

[2022-05-10 19:27] ws-dohashi opened #5553 "[SUPPORT] java.io.EOFException: Invalid position - exceeds the bounds of the stream"
**Describe the problem you faced**

Upgrading to 0.11.0 has caused consistent EOFExceptions on compaction for our Flink job. We have not seen this exception in 0.10.* versions.

**To Reproduce**

Steps to reproduce the behavior:

1. Use Flink to write and compact data in S3 ?

**Expected behavior**

Compaction succeeds without an EOFException.

**Environment Description**

* Hudi version : 0.11.0

[2022-05-11 03:05] danny0405 commented on #5553
On compaction do you mean this is a separate compaction job ? The error stacktrace indicates that the errors throws when hoodie.properties is read, kind of think this is very about the memory consumption, the input stream does not have enough memory to read the bytes.

[2022-05-11 03:20] xccui commented on #5553
1. We manually appended the compaction operator to the pipeline with `Pipelines.compact(conf, it)`. Would get the exception every time after the first compaction finishes successfully.
2. Verified the length of the new `hoodie.properties` file, it's 5200.
3. This only happens after we migrated to version 0.11.

[2022-05-11 03:40] danny0405 commented on #5553
We did tweak the compaction strategy in 0.11 here: https://github.com/apache/hudi/blob/4258a715174e0a97271112148ab20ef9307e2bd8/hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/compact/CompactionPlanOperator.java#L110, to only compact one plan at a time and no scheduling if there is a pending compaction on-going.

But it seems not relative to the exception.

[2022-05-11 04:07] xccui commented on #5553
I think I found the cause. We set the checkpoint interval to 1 min and `COMPACTION_DELTA_COMMITS` to 2 commits for testing purposes. If the time used for compaction is more than the checkpoint interval, the exception will raise. Could you imagine what would happen in that case? @danny0405

[2022-05-11 04:12] xccui commented on #5553
Problem solved after we increase the checkpoint interval.

[2022-05-11 04:24] danny0405 commented on #5553
I can give some details/background here,

the `CompactionPlanOperator` tries to schedule new compaction plan on each checkpoint complete event, in release 0.11, we tweak the strategy to not schedule new in the last compaction does not finish yet. While before 0.11, the new compaction is scheduled no matter whether the last compaction is on-going.

We also add a timed-out rollback strategy in relea

[2022-05-11 04:25] nsivabalan commented on #5551
you may have to apply 2 patches on this regard
https://github.com/apache/hudi/pull/4016
https://github.com/apache/hudi/pull/5261

let us know how it goes.

[2022-05-11 04:27] nsivabalan commented on #5550
are you using hudi-utilities bundle? if yes, the one you find in maven central for scala12 is meant for spark3.1. If you are interested in hudi-utilities bundle for spark3.2, you may have to locally build the bundle and use it. Let me know if this is the case.

[2022-05-11 04:29] nsivabalan commented on #5550
if you are using hudi-spark bundle, can you let us know which bundle are you using. or if you can share the launch command, would be good

[2022-05-11 04:30] nsivabalan commented on #5547
@danny0405 : can you loop in someone to assist here please.

[2022-05-11 04:33] nsivabalan commented on #5537
@YannByron @XuQianJin-Stars : can you folks follow up on this please.

[2022-05-11 04:34] nsivabalan commented on #5515
thanks!

[2022-05-11 04:34] #5515 closed

[2022-05-11 04:41] nsivabalan commented on #5503
I see you are using spark3, but w. hadoop2. can you try using hadoop3+.

[2022-05-11 04:42] nsivabalan commented on #5503
and I am not sure if metadata table is certified w/ flink. @danny0405 : may I know if metadata is fully functional with flink engine?

[2022-05-11 04:43] nsivabalan commented on #5500
sorry, may I know what do you mean by scanning time? metadata table is just meant to give the list of valid files. So, time to read the files does not make any difference depending on whether metadata table is enabled or not.

[2022-05-11 04:44] nsivabalan commented on #5500
if you can share spark sql tab in spark UI or spark stages to illustrate, would be nice.

[2022-05-11 05:40] nleena123 commented on #5539
@pratyakshsharma

Error_log : before changing the CDC_TS default value  "null" to null .
[logs_before_default_value.txt](https://github.com/apache/hudi/files/8667011/logs_before_default_value.txt)

Error_log : After changing the CDC_TS default value  "null" to null .
[logs_after_default_value.txt](https://github.com/apache/hudi/files/8667010/logs_after_default_value.txt)

[2022-05-11 05:43] nleena123 commented on #5540
Hi @pratyakshsharma

Please find the attached complete error log details.

[metrics_job_logs.txt](https://github.com/apache/hudi/files/8667036/metrics_job_logs.txt)

[2022-05-11 06:24] danny0405 commented on #5547
Seems a class conflict.

[2022-05-11 07:52] danny0405 commented on #5503
Yes, it seems a clazz conflict here ;)

[2022-05-11 07:53] danny0405 commented on #5503
Caused by upgraded Hbase version cc @yihua :)

[2022-05-11 08:11] a0x commented on #5484
I enabled amz glue catalog by setting these options when creating emr cluster:
![image](https://user-images.githubusercontent.com/3829546/167795688-d3d51846-99cf-4e0c-ba0c-c86ece55933b.png)

After this, I don't have to add this setting in hive, spark, hudi env in this emr cluster:

[code]

And I've tested this setting on EMR 6.4, 6.5 with Hudi 0.9, 0.10.0, 0.10.1.

Could you plz give it a try?

[2022-05-11 15:05] parisni opened #5558 "[SUPPORT] Kryo error when metadata table compaction"
I sometime get that kryo error. When increasing the executor memory then the job has no trouble.

opetaion: upsert
hudi 0.11.0
spark 2.4.8

[code]

[2022-05-11 21:58] jasondavindev commented on #5484
I've used EMR on EKS, then to enable catalog I must set
[code]

[2022-05-11 23:39] nsivabalan commented on #5552
may I know which java version are you using ? > java8 is not yet certified.

[2022-05-11 23:45] nsivabalan commented on #5519
@xiarixiaoyao : Do you think the new schema evolution will solve this use-case? if not for 0.11 schema on read, I guess promotion of a column will work only if all file groups are updated. If not, it could fail. its my hunch. I will try it on my end and will update here. but in the time being, can you help the user here as to how to use the schema on read feature to solve their requirement.

[2022-05-11 23:54] nsivabalan commented on #5511
this is expected behavior in my understanding.
incremental by virtue, is supposed to return only incremental data. i.e. data pertaining to each commits.
So, when timeline has C2, C3, C4, incremental query with begin time C0, will return records from the hudi table which got ingested with commit time C2, C3 and C4 only and not entire table(i.e. snapshot query).

We introduced a fallback mechanism i

[2022-05-11 23:56] nsivabalan commented on #5504
thanks for the issue. I see you have already raised a PR https://github.com/apache/hudi/pull/5509. will go ahead and close out the issue.

[2022-05-11 23:56] #5504 closed

[2022-05-11 23:57] nsivabalan commented on #5496
@liujinhui1994 : can you assist here please.

[2022-05-12 00:03] nsivabalan commented on #5493
looks like you are using 0.5.0 version of hudi. I would highly recommend migrating to a latest version. Might be tough for us to put in a fix even if we root cause it(we don't backport issues in general).

[2022-05-12 00:04] nsivabalan commented on #5493
but if its intermittant, gonna be tough to triage the actual issue. but I assume, on retry the issue goes away.

[2022-05-12 00:14] nsivabalan commented on #5492
hmmm, interesting. this is the first time I am hearing someone saying that they are seeing diff behavior in emr and docker using same script in spark-datasource.
Can you paste the contents of commit metadata when you ingested via docker and via emr? lets see if we can spot any difference.