[2022-09-15 01:30] #6579 closed

[2022-09-15 01:45] xushiyan commented on #6610
is this a spark streaming job you're running ? does it scale accordingly when backfill traffic spiked up? the OOM also hints that you may need tune spark configs properly, like spark memory and spark memory.storage.fraction to give more execution memory.
Looks like order of records does not matter here since you pump them into the same topic. Why not start a batch job just for backfill? that's how

[2022-09-15 02:26] guanlisheng commented on #6659
Hey @xushiyan ,
it is 0.9.0.
after further debugging with the 0.9.0 bundle, I suspect it is related to #6007.
hence I am waiting for 0.11.0 on EMR 5.x and will also try on the non-partitioned table.

the workaround now is to unset the `spark.sql.sources.provider` with HIVE SQL..

[2022-09-15 02:26] #6659 closed

[2022-09-15 03:46] zhengyuan-cn commented on #6596
NO,  in env( impala4.0+hive3.1.1 with hudi 0.11) it worked, and  result is correct.

[2022-09-15 07:27] KnightChess opened #6679 "[SUPPORT] Expect job status failed in spark batch model"
**Describe the problem you faced**
[code]
[code]
I have a `SchemaCompatibilityException` in method `rewriteRecord`, but it had be catch, only print log in driver: `ERROR HoodieSparkSqlWriter$: UPSERT failed with errors`, and the spark job status is `SUCCEEDED`

some question need help:
- Is it for streaming scenes? If throw exceptiion how to restore it?
- in batch model, will use job status as tri

[2022-09-15 07:46] yesemsanthoshkumar commented on #4784
@nsivabalan and @codope I haven't tested it on 0.11. I'll close this issue for now and can be reopened when I or anyone encounter this again. Thanks

[2022-09-15 07:46] #4784 closed

[2022-09-15 08:40] gunjdesai commented on #6610
@xushiyan yes this is a spark structured streaming job. So we are running the job on K8S Spot instances, there are cases where we face driver eviction, hence we can't use multi-writer approach as it can mess with the locks.
Yes the job does scale based on backfill traffic going up.

Actually the idea was not to stop the real-time pipeline when doing backfill, but i think our setup would not allow

[2022-09-15 09:06] koochiswathiTR commented on #6606
We have solved this issue by automatic creation of Dynamodb table and table is created with partition key (key)
We could able to setup with out aws keys.
With multi writer setup, we are running two EMR clusters which acquires lock with one hudi table
We are facing ConcurrentModificationException
Failed after max retries with exception java.util.ConcurrentModificationException: Cannot resolve confl

[2022-09-15 09:21] pratyakshsharma commented on #5020
I guess https://github.com/apache/hudi/pull/5406 does not address the issue discussed here. As per this comment by Danny - https://github.com/apache/hudi/issues/5020#issuecomment-1121853297, C10 is affecting some file slice written in C1 and cleaner cleans the V1 of that file slice.

If the commits to retain is set to 6 (as in the first comment in this issue), C1 is not getting affected by the fix

[2022-09-15 09:26] pratyakshsharma commented on #5551
Closing this due to inactivity. Feel free to reopen if you are still facing issues @nleena123

[2022-09-15 09:26] #5551 closed

[2022-09-15 09:27] pratyakshsharma commented on #5539
@nleena123 Any updates here?

[2022-09-15 09:32] pratyakshsharma commented on #6422
Yeah this can be closed. Thank you for the support.

[2022-09-15 09:32] #6422 closed

[2022-09-15 09:51] ganczarek commented on #4656
@nsivabalan I'm sorry, but I no longer have a setup to test it the same way as I did back in January. I will update to Hudi v0.12 and enable metadata table to see if there are performance improvements, but I won't test it with a table with 300k partitions.

I think we can close this ticket. If I see any performance issues with the latest version of Hudi, then I will create a new ticket.

Thank you

[2022-09-15 11:18] koochiswathiTR commented on #6606
@zhedoubushishi
@nsivabalan
@xushiyan

It will be great if we hear from you soon,
Complete Stacktrace :
"java.util.ConcurrentModificationException: Cannot resolve conflicts for overlapping writes",
"at org.apache.hudi.client.transaction.SimpleConcurrentFileWritesConflictResolutionStrategy.resolveConflict(SimpleConcurrentFileWritesConflictResolutionStrategy.java:102)
\nat org.apache.hudi.client.uti

[2022-09-15 11:26] low-on-mana commented on #5180
This class doesnt override the precombine method.
So if multiple records with same primary key come in same batch, It will pick the latest record and no merge will happen.
Also I dont see schema available in precombine method.

[2022-09-15 15:48] alexeykudinkin commented on #6626
@xushiyan you can assign this one to me

[2022-09-15 15:49] hangc0276 commented on #5313
This feature doesn't support yet, maybe we need to reopen this issue @nsivabalan

[2022-09-15 16:00] yihua commented on #6398
@rbtrtr To provide more info, "hudi-default.xml" is packaged from the HBase library (shaded and packaged in the Hudi bundle) and it is required to load the default HBase config values.  To avoid the config conflicts with other HBase libs in the classpath, Hudi repo introduces "hbase-site.xml" to override the values ("hbase-site.xml" is loaded after "hudi-default.xml").
 Check this for more details

[2022-09-15 19:12] alexeykudinkin commented on #6655
@xushiyan you can assign this one to myself

[2022-09-15 19:17] alexeykudinkin commented on #6655
@Zhangshunyu this is a great catch!

I've filed HUDI-4851 to address. @xushiyan we can close this one.

[2022-09-15 22:43] asankadarshana007 opened #6686 "Apache Hudi Consistency issues with glue and marketplace connector"
I am using Apache based data-lake on AWS S3. All my ETL processes are executed through AWS Glue 3.0. And I use Apache Hudi Connector for AWS Glue (https://aws.amazon.com/marketplace/pp/prodview-6rofemcq6erku?ref_=beagle&applicationId=GlueStudio) to connect to S3 based data-lake from my AWS Glue jobs. Recently I am seeing below error in one of my glue jobs,

[code]

My Hudi config file is as below,

[2022-09-15 22:53] nsivabalan commented on #6373
closing the github issue as we have a patch addressing the issue. thanks!

[2022-09-15 22:53] #6373 closed

[2022-09-16 00:27] jtm437 opened #6687 "[SUPPORT] Poor Upsert Performance on COW table due to indexing"
Hello, I am having performance issues when attempting to upsert data into a Hudi COW table. With the below specs it is taking longer than 4 hours to finish upserting (if it ever does finish). In the screenshots below, you can see that it is taking a long time doing the index scan. I have tried disabling hoodie.bloom.index.prune.by.ranges because our record key is random. I've also tried upserting

[2022-09-16 01:52] yihua commented on #6517
#6673 and #6676 have fixed the problem of reading the partition column from a bootstrap table and I verified that it works (see the `df.show` result below after bootstrap).  Closing this issue.  @peanut-chenzhong feel free to reopen this if you still see the problem.
[code]

[2022-09-16 03:18] nsivabalan commented on #6606
here is what is happening.
if there are two concurrent writers writing to non overlapping data files, hudi will succeed both writes. but if both are modifying the same data file, hudi will succeed one and will fail another write. and hence you are seeing conflict resolution failed.

[2022-09-16 03:18] nsivabalan commented on #6606
you can read about multi writer guarantees here https://hudi.apache.org/docs/concurrency_control#multi-writer-guarantees

[2022-09-16 03:21] nsivabalan commented on #5249
👍

[2022-09-16 03:30] nsivabalan commented on #6611
I am yet to try this out locally and see how this pans out.bcoz, you have custom default value for strings. usually null defaults are taken into consideration. but non null defaults, I have not seen much.

but for now, can you try disabling this config and see what happens.
[code]

[2022-09-16 05:25] Zhangshunyu opened #6691 "[SUPPORT]Error after applyed HUDI-4851 for InSet"
[code]

after apply HUDI-4851 for InSet, we query the table thorws this error
@alexeykudinkin could you pls have look at this issue? thank you!

[2022-09-16 05:27] Zhangshunyu commented on #6691
select count(*),count(distinct word)  from test_table where word in ('HelloWorld', 'OK', ... etc. 1000 words here)

[2022-09-16 07:00] eshu opened #6692 "[SUPPORT] ClassCastException after migration to Hudi 0.12.0"
The class case exception was thrown when writing data

**Environment Description**

* Hudi version : 0.12.0

* Spark version : 3.1.1

* Storage (HDFS/S3/GCS..) : S3

* Running on Docker? (yes/no) : No

**Additional context**

AWS Glue 3 environment

**Stacktrace**

[code]

[2022-09-16 09:22] xushiyan commented on #6692
@eshu can you share more details? like code snippet you used and the configs for this job. thanks

[2022-09-16 09:40] eric9204 opened #6696 "[SUPPORT][Consistent bucket index]NoClassDefFoundError: org/apache/logging/log4j/LogManager"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-09-16 10:33] eric9204 opened #6698 "[SUPPORT] [Consistent bucket index] NPE SparkConsistentBucketClusteringPlanStrategy buildMergeClusteringGroup"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

**To Reproduce**

Steps t

[2022-09-16 11:06] koochiswathiTR commented on #6606
with Locking mechanism we expect  only one writer writes at a time by acquiring lock. and other writer waits for the lock.
There should not be any concurrent writers.
We don't expect  concurrent errors in case of multi writer setup otherwise it is not working as expected,

I have gone through this link https://hudi.apache.org/docs/concurrency_control#multi-writer-guarantees

hoodie.write.lock.clie

[2022-09-16 15:11] gtwuser commented on #6463
Thanks for sharing this info, please correct me here, but AFAIU in case when we are writing in a multi-threaded environment, we should(mandatorily) use locks you shared right ? And that would address the actual bug for which i opened this issue. ?

[2022-09-16 15:12] gtwuser commented on #6463
I will be trying it soon, got busy in other tasks and update you back, thanks.

[2022-09-16 15:23] xushiyan commented on #6686
@asankadarshana007 have you filed aws support case? this is aws-managed env and app. Not sure why you have to set 'hoodie.consistency.check.enabled': 'true'. this is not needed as s3 has strong consistency quite some time back.

[2022-09-16 15:28] xushiyan commented on #6696
@eric9204 can you share how you ran the spark job with what jars please? so we can try to reproduce

[2022-09-16 19:47] alexeykudinkin commented on #6626
Filed HUDI-4861, we can close this one

[2022-09-16 22:36] #6174 closed

[2022-09-17 06:19] eshu commented on #6692
@xushiyan It worked on 0.11.1. When I reverted version to 0.11.1, it started to work again.

Sorry, I do not have a simple code snippet for this case. Settings are like
[code]

It breaks on the piece of code:
[code]

[2022-09-17 08:33] yihua commented on #6691
@Zhangshunyu to clarify, does the InSet contains a word with special characters that require UTF8?

[2022-09-17 10:03] codope commented on #6698
@YuweiXiao Can you please check this issue related to consistent bucket index? Looks like the bucket could not be found for the file id.

[2022-09-17 11:18] kazdy commented on #5899
@nsivabalan @xiarixiaoyao I created this jira - [HUDI-4872](https://issues.apache.org/jira/browse/HUDI-4872), so I'm closing the ticket.

[2022-09-17 11:18] #5899 closed

[2022-09-17 19:14] xushiyan commented on #6691
the error stack indicates it's the user-input string `HelloWorld` taken in as spark's UTF8String caused the problem.

[2022-09-17 20:27] yihua commented on #6137
It looks like the FileStatusCache APIs are different between OSS and Databricks Spark runtime, causing the NoSuchMethodError.

[2022-09-18 01:16] YuweiXiao commented on #6698
@eric9204 Hey, could you post the file content under `.hoodie/.bucket_index/consistent_hashing_metadata`

By the way, the concurrent-write feature of consistent hashing doesn't work with COPY_ON_WRITE table, could you try MOR table with the same setting?

[2022-09-18 02:32] YuweiXiao commented on #6698
@codope Will look into it. Could you assign the issue to me?

[2022-09-18 04:47] xushiyan commented on #6611
@Shubham21k noticed that you're on Spark version : 3.0.1. Recommend that you upgrade to more stable spark 3.1 or 3.2 and hudi 0.12.0. see [this note here](https://hudi.apache.org/releases/release-0.11.0#bundle-usage-updates).

[2022-09-18 04:59] xushiyan commented on #6696
@eric9204 does the version you used contain this patch? https://github.com/apache/hudi/pull/6631, which is likely to address this problem
cc @alexeykudinkin

[2022-09-18 06:07] eric9204 commented on #6696
@xushiyan  @YuweiXiao The version I used do contain this patch #6637 .
But I found some problems in the  `SparkConsistentBucketClusteringPlanStrategy.java`

When I modified this

[code]

to

[code]
This problem of NoClassDefFoundError didn't reappear.

Maybe the same changes should be applied in these file.

[code]

The same import in the `SparkSizeBasedClusteringPlanStrategy.java` was

[code]

[2022-09-18 17:16] xushiyan commented on #6696
`import org.apache.log4j.LogManager;` is from the 1 to 2 bridging jar https://logging.apache.org/log4j/2.x/manual/migration.html#Log4j1.2Bridge

while `import org.apache.logging.log4j.LogManager;` is the 2.x api. we should standardize it by using the bridge jar.

[2022-09-19 00:47] asankadarshana007 commented on #6686
Hey @xushiyan - thank you for your reply. At the time when I initially started developing these jobs (a long time back with the previous version of hudi connector - 0.5.x), I wasn't aware of the fact that s3 has strong consistency. I assumed it was eventual consistency. I can change the hudi config value to `'hoodie.consistency.check.enabled': 'false'` and test. But do you assume it might have a c

[2022-09-19 03:09] hbgstc123 opened #6711 "[SUPPORT]Unable to acquire lock when parallelism grows"
I meet a situation where hudi table need 2 writers,  one flink job writing new data, the other is for deleting old data.

In flink job, use occ concurrency Control:
[code]
When run with 4 upsert writer, it run normally.
But when raise to 64 upsert writers, ckp start to fail occasionally with
`Caused by: org.apache.hudi.exception.HoodieLockException: Unable to acquire lock, lock object null`

Steps

[2022-09-19 03:11] eric9204 commented on #6696
@xushiyan Yes, I'm doing this.

[2022-09-19 03:13] xushiyan commented on #6626
as per the ticket, condition with casting target pk `(CAST(target.`id` AS DECIMAL(20,0))` needs to be supported

[2022-09-19 03:13] #6626 closed

[2022-09-19 05:37] eric9204 commented on #6698
@YuweiXiao the concurrent-write feature of consistent hashing is work well with MOR table.

So, I will close this issue

[2022-09-19 05:37] #6698 closed

[2022-09-19 06:07] YuweiXiao commented on #6698
Thanks for checking the issue, Eric! I'll add some validation checks when using the consistent hashing.

[2022-09-19 06:17] koochiswathiTR commented on #6606
@zhedoubushishi
@nsivabalan
@xushiyan

Any update on this.

[2022-09-19 06:18] eric9204 commented on #6698
@YuweiXiao Consistent hashing is very useful, thanks for your help!

[2022-09-19 06:52] rbtrtr commented on #6398
Thanks all, finally the issue was that cloudera provides the configuration for the parameter hbase.defaults.for.version.skip. After overwriting the parameter within cloudera manager it works.

[2022-09-19 06:52] #6398 closed

[2022-09-19 07:26] xicm commented on #6509
This page  https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-hudi-considerations.html provides a way to work around, but the problem in spark bundle is still exists.

[2022-09-19 07:37] voonhous opened #6716 "[SUPPORT] Unable to archive if no non-table service actions are performed on the data table"
Hello Hudi, this is a question regarding the design considerations between metadata table (MDT) and the archiving commit action on a data table (DT).

When performing archival of commits on the DT,  at least one compaction is required to be performed on the MDT.

[code]

Assuming that a DT has MDT enabled (by default for Spark entrypoints), and ONLY **INSERT-OVERWRITE** actions are performed on th

[2022-09-19 07:41] voonhous commented on #6716
@TengHuo @fengjian428 @hbgstc123

[2022-09-19 08:54] Zhangshunyu commented on #6691
1. The data type of this column is STRING in hudi table schema
2. the values in IN set are normal string values in SQL .
3. the UTF8String is generated by spark

[2022-09-19 10:57] #6277 closed

[2022-09-19 12:15] hkszn opened #6718 "[SUPPORT] Deltastreamer concurrent writes in continuous mode"
I run two deltastreamers in continuous mode. Each reads a different Kafka topic (using JsonKafkaSource) and upserts the data into the same table. They both write their commits into /table/location/.hoodie. This leads to the deltastreamers reading wrong commit files.

1st deltastreamer reads data from topic A, writes a commit.
2nd deltastreamer loads the latest commit file - the one written by 1st

[2022-09-19 12:26] #6696 closed

[2022-09-19 12:33] xushiyan commented on #6519
@kazdy `_rt` tables are views created for real-time queries, meant for read only so we're not supposed to run update against it. please run updates to the original hudi table.

[2022-09-19 12:33] #6519 closed

[2022-09-19 13:43] codope commented on #5582
@nitinkul @vicuna96 Since primary key and precombine field rarely change, could you try setting these in [hudi-defaults.conf](https://hudi.apache.org/docs/configurations/#externalized-config-file) and retry?

[2022-09-19 13:46] codope commented on #5591
Closing as patch is available and should be released in 0.12.1.

[2022-09-19 13:46] #5591 closed

[2022-09-19 14:49] nsivabalan commented on #6463
yes, if there are multiple writers writing concurrently to same hudi table, locks are mandatory. if not, you could find data loss or data duplication and other failures.

[2022-09-19 14:50] nsivabalan commented on #6463
will go ahead and close the issue for now. but you can feel free to open a new issue once you have some updates. let me know if you are ok with it. Or if you wish to have the issue open, I am good too.

[2022-09-19 14:50] nsivabalan commented on #6504
@santoshraj123 : any updates please.

[2022-09-19 14:51] nsivabalan commented on #6404
@ankitchandnani : any update please.

[2022-09-19 14:51] nsivabalan commented on #6341
@rjmblc : do you have any updates on this please.

[2022-09-19 14:59] ankitchandnani commented on #6404
Testing it out today, will provide an update by EOD

[2022-09-19 19:23] xccui commented on #5870
Hi @danny0405, I wonder if you could take a look at this issue

[2022-09-19 20:38] alexeykudinkin commented on #6354
Created https://issues.apache.org/jira/browse/HUDI-4879

[2022-09-19 21:29] alexeykudinkin commented on #6398
@rbtrtr glad that you've sorted out!

[2022-09-19 23:23] nsivabalan commented on #6718
this is not supported w/ cur architecture. only one deltastreamer can ingest into one hudi table.
we can do one deltastreamer and one spark datasource write, but two deltastreamer ingesting into same table is not supported as of now.
If you are interested, I can guide you on how to achieve this. we can add the support so that our community might benefit.

[2022-09-19 23:38] nsivabalan commented on #6716
@yihua : Can you take this up please.

[2022-09-19 23:43] nsivabalan commented on #6404
sure, thanks.

[2022-09-19 23:44] nsivabalan commented on #5777
@jiangjiguang : can you respond to above requests. we could not proceed if not for further logs and info requested. whenever you get a chance, can you please respond.

[2022-09-20 01:10] alexeykudinkin commented on #6635
@xushiyan you can assign this one to me

[2022-09-20 01:19] nsivabalan commented on #6101
hey I tried to test delete_partitions for multiple partitions and could not reproduce. Would you mind giving us a reproducible script. would help us find the root cause.

[2022-09-20 01:28] nsivabalan commented on #5875
these are the latest checkpoints as per the logs shared.

[code]

Specifically:
for partition 7:
13326541492
13331541492
13336541492
13341541492
13346541492
13351541492

for partition 16:
12855677774
12860677774
12865677774
12870677774
12875677774
12880677774

So, it is making progress from what I can infer.

[2022-09-20 02:06] ankitchandnani commented on #6404
Hi @nsivabalan, could you please share the exact properties, config, and test data you tried out. I am having difficulty making this work for my use case.

[2022-09-20 03:44] IsisPolei opened #6720 "[SUPPORT]Caused by: org.apache.hudi.exception.HoodieRemoteException: Connect to 192.168.64.107:34446 [/192.168.64.107] failed: Connection refused (Connection refused)"
hudi:0.10.1
spark:3.1.3_scala2.12

background story:
I use SparkRDDWriteClient to process hudi , both app and spark standalone cluster are running in docker. When the app and spark cluster container running in the same local machine, my app work well. But when i deploy the spark cluster in different machine i got a series of connection problems.
machineA(192.168.64.107): spark driver(SparkRDDWrite

[2022-09-20 06:07] ksrihari93 commented on #5875
what happened was that within one partition offset has expired. When tried with offset based on timestamp (this doesn't support as suggested above) this also did not work out. So recovery of the job has been done by writing a few records on a temporary path and copying the offset to the original directory and recovered the job.

For now we can close this issue . we are upgrading the Hudi version,

[2022-09-20 07:21] IsisPolei commented on #6720
hoodie.filesystem.view.remote.port
this configuration doesn't work, i use idea debug mode and force to set this parameter to the port that my app already expose:
viewConf.setValue("hoodie.filesystem.view.remote.port","10001");
it doesn't work, i got this exception:
![image](https://user-images.githubusercontent.com/41672192/191193045-3923dabd-3c4e-47e3-98ae-52c2d9c923f4.png)

[2022-09-20 08:09] ashokblend commented on #6128
@nsivabalan we are also facing same issue. Our use case is similar as mentioned in this ticket i.e
a. create hudi table(it should get registered to hive metastore)
b. insert data into hudi table using  "insert into.." command.

I referred to below documentation but it doesn't help
https://hudi.apache.org/docs/next/syncing_metastore#spark-datasource-example

please share the documentation which sta

[2022-09-20 09:51] 15663671003 opened #6723 "[SUPPORT]BUCKET INDEX UPSERT FAILED"
**Describe the problem you faced**

upsert bukcet index failed

Steps to reproduce the behavior:

1. Start Spark

2. Create a dataframe of one record

3. Use BUCKET SIMPLE index upsert hudi to partition the table

3. First success

4. The second failure

How to solve this problem

**Expected behavior**

By checking the code, it is found that the exception code is
[code]
Trace the file successfully

[2022-09-20 11:16] pratyakshsharma opened #6724 "[SUPPORT]: Build failing on latest master on M1 mac due to protobuf support"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Tried building the la

[2022-09-20 11:20] pratyakshsharma commented on #6724
@codope @nsivabalan @the-other-tim-brown

I see the changes were introduced in this PR - https://github.com/apache/hudi/pull/6135.

I tried few ways to fix this, but the error does not seem to resolve.

[2022-09-20 12:05] koochiswathiTR commented on #6606
@zhedoubushishi
@nsivabalan
@xushiyan

any update on this?

[2022-09-20 12:37] codope commented on #6724
Looks like `protoc-jar-maven-plugin` is not yet support for mac osx arm64 architecture. There is a fix but it has not been merged: https://github.com/os72/protoc-jar-maven-plugin/issues/99

[2022-09-20 12:38] codope commented on #6724
@the-other-tim-brown any workaround for this issue?

[2022-09-20 12:59] codope commented on #6611
@Shubham21k you're adding column `ten` of type `boolean` and yet the default value (`ten_10`) is string. Is this expected?

[2022-09-20 13:04] codope commented on #6611
Also, compared to similiar column `six`, looks like the schema registry does not add null default for `ten`.
For `six`, this is what schema registry reports:
[code]
For `ten`, it looks like:
[code]
Note the difference in `type` union. In case of `six`, it allows null.

[2022-09-20 15:09] ankitchandnani commented on #6404
@nsivabalan please let me know when you can

[2022-09-20 18:10] the-other-tim-brown commented on #6611
Is it possible that the default values are being lost since this is a RowSource and the RowSource code sets a RowBasedSchemaProvider for the InputBatch?

https://github.com/apache/hudi/blob/master/hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/RowSource.java#L45

[2022-09-20 18:57] jonvex commented on #6724
I just tried building on master and it worked for me.

[2022-09-20 21:44] Limess commented on #3854
I'm going to close this on the basis that we haven't benchmarked in the same way since 0.8 so can't verify this anymore easily.

[2022-09-20 21:44] #3854 closed

[2022-09-20 21:45] ankitchandnani commented on #6404
@nsivabalan waiting for some assistance here

[2022-09-20 21:50] nsivabalan commented on #6146
@jiangbiao910 : we might need more info from you to further investigate.

[2022-09-20 22:57] nsivabalan commented on #5875
thanks man! appreciate your response.

[2022-09-20 22:57] #5875 closed

[2022-09-20 23:06] nsivabalan commented on #6609
thanks!

[2022-09-20 23:06] #6609 closed

[2022-09-20 23:07] #6463 closed

[2022-09-20 23:08] nsivabalan commented on #6462
@jiangbiao910 : can you respond to above request please.

[2022-09-20 23:55] nsivabalan commented on #6606
nope. thats not how it works as of today. 2nd writer don't wait for 1st writer to complete. Thats not OCC at all in my understanding. what you are suggesting is, take a global lock for each write, complete the write and  release the lock and then start w/ next write. In my opinion, this is just a sequential batch of writes.

In general sense, multi-writer means, two concurrent writers can write to

[2022-09-21 00:40] yihua commented on #6398
@rbtrtr Glad to hear that.  To clarify, do you know if the cloudera manager writes the `hbase.defaults.for.version.skip` config to a separate `hbase-site.xml` file?  That could be the reason why it causes Hudi to throw the exception from HBase.

[2022-09-21 01:55] nsivabalan commented on #6404
along w/ your existing command to run deltastreamer, you can add this additional config `--hoodie-conf hoodie.deltastreamer.schemaprovider.schema_post_processor=org.apache.hudi.utilities.schema.SparkAvroPostProcessor`. no additional configs. or you can add below entry to your property file
[code]

[2022-09-21 01:55] nsivabalan commented on #6404
or do you mean to say, after trying above config, still you are facing the issue?

[2022-09-21 01:57] ankitchandnani commented on #6404
Yes, after adding that line to my spark submit, I am still facing the issue. I haven’t tried adding it to the property file. I could try that now

[2022-09-21 02:13] ankitchandnani commented on #6404
Still not working even after adding it to the property file.

[2022-09-21 02:28] IsisPolei commented on #6720
I manage to bypass these two problems by set
hoodie.embed.timeline.server.port: 10001
hoodie.filesystem.view.remote.port: 10002
And expose these two ports of my app container.
When the code reach this line some thing went wrong.

![image](https://user-images.githubusercontent.com/41672192/191400327-86369fd7-a0c0-48bd-8152-e24d9e6e7ea4.png)

<img width="1367" alt="image" src="https://user-images.gi

[2022-09-21 02:45] tangqigithub commented on #6224
Does disabling 'hoodie.rollback.using.markers' make rollback inefficient?

[2022-09-21 04:07] ashokblend commented on #6128
after adding hudi-hadoop-mr-bundle-0.10.1.jar to hiverserver lib, it works.

[2022-09-21 05:46] rahulsharma13 commented on #143
Please add me to the Slack group: rahul.trigune@gmail.com

[2022-09-21 07:17] pratyakshsharma commented on #6724
@jonvex which machine are you using? Is it an M1 mac?

[2022-09-21 07:20] 15663671003 commented on #6723
May I ask if this problem is a problem with the master branch, and solve it later?

[2022-09-21 07:20] rbtrtr commented on #6398
@yihua yes this parameter is placed in separate hbase-site.xml which is used by spark.

[2022-09-21 07:25] xicm commented on #6723
set "hoodie.storage.layout.partitioner.class" = "org.apache.hudi.table.action.commit.SparkBucketIndexPartitioner", and try again?

[2022-09-21 07:25] KnightChess commented on #6679
@vinothchandar @xushiyan @yihua Could you help answer this question?

[2022-09-21 09:31] codope commented on #6611
@the-other-tim-brown Thanks for digging into the code. I think you may have found the root cause. Did you try to reproduce this? Would be great if you can create a JIRA to track if its reproducible.

[2022-09-21 09:49] pratyakshsharma commented on #6724
@jonvex You mention in this comment - https://github.com/apache/hudi/pull/6535#issuecomment-1233210913 that if processor is aarch64, what do you mean by that? Does it have anything to do with the java architecture as well? I would like to know the java version that you are using. I am actually using x86_64 java 8 as is visible in the output below -

` 1.8.0_311 (x86_64) "Oracle Corporation" - "Jav

[2022-09-21 13:10] rjmblc commented on #6341
@nsivabalan I tried with setting operation type to "delete" ,and not setting any value for payload class but still getting an empty commit and delete is not happening. Below are the script, hoodie properties and delta commit files. I cross check and updateDF is not empty. Here I am trying to delete the entire table records.

Delete record script:
`updateDF = spark.read.format('org.apache.hudi').lo

[2022-09-21 13:46] jonvex commented on #6724
I'm using an M1 mac. My java version is:
`openjdk version "1.8.0_345"
OpenJDK Runtime Environment (Zulu 8.64.0.19-CA-macos-aarch64) (build 1.8.0_345-b01)
OpenJDK 64-Bit Server VM (Zulu 8.64.0.19-CA-macos-aarch64) (build 25.345-b01, mixed mode)`
You can download it from:
https://www.azul.com/downloads/?package=jdk

[2022-09-21 14:12] pratyakshsharma commented on #6724
Downloaded the arm64 java 8 from the link you suggested. The build still fails with the error -

`[ERROR] Failed to execute goal com.github.os72:protoc-jar-maven-plugin:3.11.4:run (proto-compile) on project hudi-utilities_2.11: Error extracting protoc for version 3.21.5: Unsupported platform: protoc-3.21.5-osx-aarch_64.exe`

[2022-09-21 14:14] slachiewicz commented on #6724
i've double checked and it works on my computer and I can build latest master without issues.

[code]

please check Maven settings like enabled profiles - maybe you have some overwrites ?

[2022-09-21 14:18] slachiewicz commented on #6724
Maybe you have Rosseta installed and you use Java for x86 and not one dedicated to aarm64? Please paste Yours output of ```mvn -v```

[2022-09-21 14:23] pratyakshsharma commented on #6724
Here is the output -
`mvn -v
Apache Maven 3.8.6 (84538c9988a25aec085021c365c560670ad80f63)
Maven home: /opt/homebrew/Cellar/maven/3.8.6/libexec
Java version: 1.8.0_345, vendor: Azul Systems, Inc., runtime: /Library/Java/JavaVirtualMachines/zulu-8.jdk/Contents/Home/jre
Default locale: en_IN, platform encoding: US-ASCII
OS name: "mac os x", version: "12.0", arch: "aarch64", family: "mac"`

yes I hav

[2022-09-21 14:38] pratyakshsharma commented on #6724
Here is the output -

`[INFO] --- protoc-jar-maven-plugin:3.11.4:run (proto-compile) @ hudi-utilities_2.11 ---
[INFO] Protoc version: 3.21.5
protoc-jar: protoc version: 3.21.5, detected platform: osx-aarch_64 (mac os x/aarch64)
protoc-jar: downloading: http://0.0.0.0/com/google/protobuf/protoc/maven-metadata.xml
protoc-jar: downloading: http://0.0.0.0/com/github/os72/protoc/maven-metadata.xml
prot

[2022-09-21 16:36] pratyakshsharma commented on #6724
I have not made any changes to the intellij settings or .m2 settings.xml file. Let me try to see why https://repo.maven.apache.org/maven2 is getting converted to http://0.0.0.0 in my case. This is weird.

[2022-09-21 16:49] pratyakshsharma commented on #6724
I have been getting these warnings continuously before the build fails. Is this happening in your build as well @slachiewicz?

[INFO] ----------------< org.apache.hudi:hudi-utilities_2.11 >-----------------
[INFO] Building hudi-utilities_2.11 0.13.0-SNAPSHOT                     [17/48]
[INFO] --------------------------------[ jar ]---------------------------------
[WARNING] net.minidev:json-smart/

[2022-09-21 16:54] slachiewicz commented on #6724
https://stackoverflow.com/questions/67001968/how-to-disable-maven-blocking-external-http-repositories

[2022-09-21 17:48] pratyakshsharma commented on #6724
I guess something else is wrong. I do not have any mirror specified in my settings.xml. So maven cannot pick any http repository for fetching the artifacts.

[2022-09-21 19:27] yihua commented on #6720
@IsisPolei The latest error you saw is from Spark networking client, and this should not be relevant to Hudi.  We also provide a [docker demo](https://hudi.apache.org/docs/docker_demo) using Spark and the source code is [here](https://github.com/apache/hudi/tree/master/docker).  We don't encounter the timeline server connection issue in the docker demo setup.  Could you check if you can run the do

[2022-09-21 19:36] yihua commented on #6724
@pratyakshsharma I can build the latest master on M1 Mac as well.  Looks like dependency management is the issue for you.
[code]
Here are my versions:
[code]

[2022-09-21 19:37] yihua commented on #6724
Closing this as the issue is not related to Hudi.  @pratyakshsharma feel free to post your solution once the build succeeds on your side.

[2022-09-21 19:37] #6724 closed

[2022-09-21 21:33] yihua commented on #6716
@voonhous I'm going to take a look at this use case.  Is the INSERT_OVERWRITE the only write action, i.e., no other inserts, updates, deletes, bulk inserts, etc.?  This is not a table service action, though it generates the replacecommit, which is in the same format as clustering.  INSERT_OVERWRITE should also update the metadata table with delta commits, and there shouldn't be any reason that the

[2022-09-21 22:01] yihua commented on #6686
@asankadarshana007  The consistency check, when enabled, happens when removing invalid data files: (1) check that all paths to delete exist, (2) delete them, (3) wait for all paths to disappear after eventual consistency.  Note that this logic is not needed for strong consistency.  As the invalid data files are now determined based on the markers, there could be a case where a marker is created, b

[2022-09-21 22:13] yihua commented on #6658
@melin Thank you for raising this feature request!  I created a Jira ticket to track the work and let's follow up there: HUDI-4891.  Closing this support ticket.

[2022-09-21 22:13] #6658 closed

[2022-09-21 22:17] yihua commented on #6398
Thanks for the confirmation!  I'll also list this as a workaround in our FAQ.

[2022-09-21 22:34] yihua commented on #6644
@koochiswathiTR Thanks for raising this!  The config naming of `partition_key` is confusing to new comers.  Here's what you need to do:
(1) As @xushiyan already mentioned, you don't need to set the credentials in env variables if the instance or service is already granted access with the proper roles;
(2) By default, `hoodie.write.lock.dynamodb.partition_key` is set to the table name, so that mult

[2022-09-21 22:36] yihua commented on #6640
@yuzhaojing @danny0405 Could any one of you chime in here?

[2022-09-22 03:15] IsisPolei commented on #6720
I think the main reason of this problem is that my app(where SparkRDDWriteClient process hudi data) and the spark cluster which SparkRDDWriteClient connected are deployed in different local machine. When both docker containers run in the same host machine everything work well since the containers can connect to each other with docker bridge network(As the hudi docker demo is also one of this scena

[2022-09-22 03:29] IsisPolei commented on #6720
The origin problem is offline compaction. The HoodieJavaWriteClient doesn't support compact inline.

@Override
  protected List<WriteStatus> compact(String compactionInstantTime,
                                      boolean shouldComplete) {
    throw new HoodieNotSupportedException("Compact is not supported in HoodieJavaClient");
  }

So i change my hudi client to SparkRDDWriteClient. This clien

[2022-09-22 04:04] eshu commented on #6283
@nsivabalan Workaround is working, but the bug still exists. If workaround is a resolution, then yes, it is resolved.

[2022-09-22 06:34] voonhous commented on #6716
@yihua Thank you for the reply.

Yes, INSERT_OVERWRITE is the only action being performed on the table. i.e. ensuring that an insert always rewrites a certain partition, regardless if the partition exists or not.

For the sake of simplicity, the example below to reproduce this issue does not involve a partitioned table.

[code]

After the INSERT_OVERWRITE operations have completed, we can check th

[2022-09-22 08:42] eric9204 opened #6742 "[SUPPORT] ClassNotFoundException org.apache.hudi.org.apache.avro.LogicalTypes$LocalTimestampMillis"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

**To Reproduce**

Steps t

[2022-09-22 09:49] pratyakshsharma commented on #6724
For now, the only way out is to skip the concerned classes from compiling. Need to dig deep further to see why maven tries to use http://0.0.0.0 to resolve protobuf dependencies in my case.

[2022-09-22 13:09] pratyakshsharma commented on #6724
The simple fix was removing the settings.xml file from `.m2` folder. I am now wondering what is the content of settings.xml file for you @slachiewicz . Do you mind sharing your settings.xml file here? I am just curious to see what was it with my settings.xml that was causing all this.

[2022-09-22 17:47] CTTY commented on #6742
Yes, this is related to the avro version change and this recent change of utilizing LTZ as well: https://github.com/apache/hudi/pull/6607/files

Instead of reverting this [change](https://github.com/apache/hudi/pull/6628) directly, I think it makes more sense to specify avro version in Flink profiles, and note in the doc to suggest people not to build Spark along with Flink to avoid avro version c

[2022-09-22 17:59] Xiaohan-Shen opened #6747 "[SUPPORT] AWSDmsAvroPayload not found querying _rt table MoR"
**Describe the problem you faced**

When I tried to query _rt table using `select count(*) from table_rt` through Hive or Spark SQL, an exception is thrown saying AWSDmsAvroPayload not found. If I query _ro table or CoW table, it's working well.

**To Reproduce**

Steps to reproduce the behavior:

1. Start EMR 6.5.0, run DeltaStreamer to load a Hudi MoR table from DMS with these configs:
[code]
2.

[2022-09-22 19:04] yihua commented on #6747
@Xiaohan-Shen If you are using Hudi jars from EMR like `--jars /usr/lib/spark/external/lib/spark-avro.jar,/usr/lib/hudi/hudi-spark-bundle.jar,/usr/lib/hudi/hudi-utilities-bundle.jar`, you don't need to put in OSS packages with `--packages org.apache.hudi:hudi-spark-bundle_2.12:0.9.0,org.apache.spark:spark-avro_2.12:3.0.1 `.

@rahil-c @umehrot2 could you folks help here regarding the EMR setup?

[2022-09-22 19:31] tzhang-fetch opened #6750 "[SUPPORT] SqlQueryBasedTransformer causes memory issues"
**Describe the problem you faced**

With a DeltaStreamer job that runs fine before, adding a SqlQueryBasedTransformer that only SELECTs 1 column runs into memory issues.

`"--transformer-class",
            "org.apache.hudi.utilities.transform.SqlQueryBasedTransformer",
            "--hoodie-conf",
            "hoodie.deltastreamer.transformer.sql=SELECT a.ATTRIBUTES FROM <SRC> a"`

**To Reproduce

[2022-09-22 20:54] jharringtonCoupons commented on #5891
Can confirm having the same issue. See full stack trace. Is there a viable workaround?

`{
    "Event": "GlueETLJobExceptionEvent",
    "Timestamp": 1663789368616,
    "Failure Reason": "Traceback (most recent call last):\n  File \"/tmp/some_glue_job.py\", line 29, in <module>\n    datasource_some_table_name = glueContext.create_dynamic_frame.from_catalog(database = args['ENV']+\"_some_datawarehou

[2022-09-22 22:54] nsivabalan commented on #6691
Fixed it via https://github.com/apache/hudi/pull/6739

[2022-09-22 22:54] #6691 closed

[2022-09-23 00:05] alexeykudinkin commented on #6635
Created HUDI-4899 to track. We can close this one

[2022-09-23 00:34] alexeykudinkin commented on #6635
Will be addressed in https://github.com/apache/hudi/pull/6755

[2022-09-23 02:24] #6635 closed

[2022-09-23 02:28] nsivabalan commented on #5249
going ahead and closing this for now. feel free to re-open or raise a new issue if you need any more assistance. thanks!

[2022-09-23 02:28] #5249 closed

[2022-09-23 02:31] Zhangshunyu opened #6758 "[SUPPORT] Will metatable support partitions inside col_stat & files?"
currenttly, the metatable of hudi stored in files/ dir and col_stat/ dir by some file groups, all the records together.
however, with the data size of table growth, the num of files and the size of col stat will increase, in many cases, the query sql will include partition filters, if we store the files in files/ or col_stat/ dir by partitions, we can read the files only in hit partitions which ca

[2022-09-23 03:25] xicm commented on #6723
Hi @xushiyan @yihua @15663671003, I created a pr to add default partitioner for SIMPLE BUCKET index, please have a look.

[2022-09-23 06:38] slachiewicz commented on #6724
i was able to run successful build locally without any customisations and with empty `setting.xml` and deleted previously cached protoc binary

[2022-09-23 07:04] eric9204 commented on #6742
This problem has been solved by this pr https://github.com/apache/hudi/pull/6757
So close this issue.

[2022-09-23 07:04] #6742 closed

[2022-09-23 08:19] pratyakshsharma commented on #6724
alright, this is what I wanted to know.

Thank you for all the support @yihua @slachiewicz @codope @jonvex @the-other-tim-brown

[2022-09-23 09:28] Guanpx commented on #5575
I dont find reason; clean history data and reload that will be ok;
Maybe recordkey has comma(,)

[2022-09-23 09:28] #5575 closed

[2022-09-23 09:33] voonhous commented on #6716
@yihua I still don't quite understand the:

Can you please elaborate? thank you.

[2022-09-23 11:07] jdattani commented on #6341
@rjmblc  @nsivabalan @yihua
I am facing the exact same issue on Hudi 0.9.0 as well with S3 as storage layer.
One difference is that my table is of type COW and using hudi with pyspark on AWS Glue 2.0 (Spark 2.4.3).

However, all other behaviours are the same. There is no failure. An empty commit that does not delete in data. Tried both with and without  write.payload.class.

I can share more detai

[2022-09-23 12:12] parisni opened #6767 "[SUPPORT] Dependency hudi-spark-common_2.11 present in spark3.* 2.12 build"
The released spark artifacts on maven (eg group: "org.apache.hudi", name: "hudi-spark3.2.x_2.12", version: "0.12.0") have an bad dependency on scala 2.11.

[code]
but scala.binary.version is fixed to 2.11

https://github.com/apache/hudi/blob/master/pom.xml#L163
https://github.com/apache/hudi/blob/master/hudi-spark-datasource/hudi-spark3.2.x/pom.xml#L236

this leads to this error
[code]

unless you

[2022-09-23 15:15] ranjani1993 opened #6775 "[Support] Is HUDI suitable for a usecase with no incremental data from source?"
Hi Team,

We are trying to implement HUDI for one of workflows in our project.

The problem we are facing is we don't get only updated/changed records from source. We get the entire (unchanged + updated + new records) from source.

Example:

Source table has 1 billion records per partition
Our target HUDI table has 1 billion records per partition

Out of those 1 billion records in the source few r

[2022-09-23 15:24] ranjani1993 opened #6776 "[SUPPORT] HUDI taking longer time for update"
Hi Team,

We are trying to implement HUDI for one of workflows in our project.

The problem we are facing is we don't get only updated/changed records from source. We get the entire (unchanged + updated + new records) from source.

Example:

Source table has 1 billion records per partition
Our target HUDI table has 1 billion records per partition

Out of those 1 billion records in the source few r

[2022-09-23 15:24] #6776 closed

[2022-09-23 15:25] ranjani1993 opened #6777 "[SUPPORT] HUDI exclude columns from update"
Is there any way in HUDI to exclude certain columns from update?

[2022-09-23 21:45] jharringtonCoupons commented on #5891
Below are two workable solutions to get around this problem. They both involve adding `additional_options` to the S3 connectionType.

- Exclude folder

`additional_options={"exclusions": "[\"s3://bucket/folder/.hoodie/*\"]"}`

- Exclude file(s)

`additional_options={"exclusions": "[\"**.commit\",\"**.inflight\",\"**.properties\"]"}`

[2022-09-23 22:44] dyang108 commented on #6428
This happened consistently with the command above every time i ran on Hudi version : 0.12.0 (also tried 0.11.1)

The pipeline failed and exited when I saw this issue.

[2022-09-24 01:03] kasured commented on #6428
We have the same stacktrace when running on hudi version 0.11.0, spark 3.2.1, EMR 6.7. We have metadata service enabled and our Spark Streaming Query fails each time. This is a COW table

[2022-09-24 01:27] yihua commented on #6777
@ranjani1993 The update logic is controlled by the payload class, `hoodie.datasource.write.payload.class`.  Default is `OverwriteWithLatestAvroPayload`.  You can implement your own update logic to exclude certain columns.  You can also take a look at `PartialUpdateAvroPayload` in the latest master to see if that satisfies your requirement.

[2022-09-24 02:14] brskiran1 commented on #4086
@nsivabalan  this is a critical issue and will stop using deltastreamer use in production. Multitable deltastreamer job does not fail when processing multiple tables , if any table load fails,  multitable deltastreamer  continues to process remaining tables and ends with success status.

[2022-09-24 02:51] Zhangshunyu commented on #6758
@xushiyan @alexeykudinkin Is any plan for this?

[2022-09-24 03:36] kasured commented on #6428
@nsivabalan What might be a general workaround in that situation to unblock the processing? Of course it depends on the root cause. However will deleting and recreating metadata from hudi-cli help ? One other option might be to disable metadata on the current table and proceed.

[2022-09-25 08:28] Zouxxyy opened #6787 "[SUPPORT] hoodie.metadata.enable and DEFAULT_METADATA_ENABLE_FOR_READERS conflict"
**Describe the problem you faced**

Why is DEFAULT_METADATA_ENABLE_FOR_READERS not set as a configuration parameter, and is default value is false, while `hoodie.metadata.enable` is true.

and in `HoodieFileIndex.scala`， they are used like this:

[code]

How is it related to `hoodie.metadata.enable`?

**Environment Description**

* Hudi version : 0.12.0

[2022-09-25 15:21] xushiyan commented on #6651
@Zouxxyy there is no need to raise a GH issue to fix a testcase. you can directly open a PR for it.

[2022-09-25 15:21] #6651 closed

[2022-09-26 01:53] XuQianJin-Stars opened #6789 "[Exception] unable to read commit metadata"
2022-09-24 06:46:20
org.apache.hudi.exception.HoodieException: java.io.IOException: unable to read commit metadata
 at org.apache.hudi.sink.partitioner.profile.WriteProfiles.getCommitMetadata(WriteProfiles.java:198)
 at org.apache.hudi.source.IncrementalInputSplits.lambda$inputSplits$76(IncrementalInputSplits.java:183)
 at java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:193)

[2022-09-26 02:15] danny0405 commented on #6789
Can you open the file and show what's `HoodieWriteStat["fileId"]` looks like now ?

[2022-09-26 03:23] CodeCooker17 opened #6791 "[SUPPORT] Optimized the way to get HoodieBaseFile of loadColumnRangesFromFiles of Bloom Index"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
When using Bloom Index for

[2022-09-26 13:09] gtwuser opened #6797 "[SUPPORT]RecordKey set as nested field isnt getting picked up correctly - org.apache.hudi.exception.HoodieException: Cannot find a record at part value :metadata at org.apache.hudi.avro.HoodieAvroUtils.getNestedFieldVal(HoodieAvroUtils.java:513)"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
When RecordKey is set as n

[2022-09-26 13:10] gtwuser commented on #6797
@nsivabalan kindly check this issue  and let us know, it seems we are missing something very minor.

[2022-09-26 14:07] yihua commented on #5765
The workaround to mitigate this problem is captured in the FAQ: #6756.

[2022-09-26 14:16] sstimmel opened #6798 "[SUPPORT] - can't retrieve the partition field in stored parquet file"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I am testing out partitio

[2022-09-26 14:24] yihua commented on #6775
@ranjani1993 Hudi also provides INSERT_OVERWRITE write action which is the same as overwrite operation in partitioned parquet tables.  Hud can still be suitable for your use case.

If you do want to use UPSERT operation, since 0.11.0, SIMPLE index is used as the default.  You may want to try BLOOM if your record key field is ordered in some way.

[2022-09-26 14:27] yihua commented on #6767
@parisni have you tried to use the spark 3.2 bundle as the dependency, `org.apache.hudi:hudi-spark3.2-bundle_2.12:0.12.0`?  That one is well maintained as a dependency for other projects and should be clean.

[2022-09-26 14:34] yihua commented on #6758
@Zhangshunyu we leverage HFile format to speed up the point and range lookups, including the case based on partition path as the prefix for the record key in the metadata table.  Do you see significant performance degradation when there are a large number of partitions?  Based on [our benchmark](https://www.onehouse.ai/blog/introducing-multi-modal-index-for-the-lakehouse-in-apache-hudi), the looku

[2022-09-26 14:42] parisni commented on #6767
Yeah the bundle has deps which breaks my project. I cannot use it

On September 26, 2022 2:28:03 PM UTC, Y Ethan Guo ***@***.***> wrote:
***@***.*** have you tried to use the spark 3.2 bundle as the dependency, `org.apache.hudi:hudi-spark3.2-bundle_2.12:0.12.0`?  That one is well maintained as a dependency for other projects and should be clean.

[2022-09-26 14:43] yihua commented on #6787
@Zouxxyy `DEFAULT_METADATA_ENABLE_FOR_READERS` is used for the reader side, deciding whether a metadata table should be used for reading a Hudi table by default.  The write side does not leverage `DEFAULT_METADATA_ENABLE_FOR_READERS`.  We plan to remove this reader-side default.

[2022-09-26 14:44] #6787 closed

[2022-09-26 14:47] yihua commented on #6791
@CodeCooker17 Thanks for raising this!  I saw that a Jira ticket, HUDI-4917, has been created and you put up a PR.  Let's track it there.

[2022-09-26 14:47] #6791 closed

[2022-09-26 14:50] yihua commented on #6797
@gtwuser have you checked the record from the input batch that causes the exception? Is the record key field present for the record?

[2022-09-26 18:53] yihua commented on #6354
There is PR fixing the issue.  Closing this ticket.

[2022-09-26 18:53] #6354 closed

[2022-09-26 18:55] yihua commented on #6572
@alexeykudinkin could you take a look?

[2022-09-26 19:01] yihua commented on #6692
@eshu To help reproduce the problem, could you also provide the schema used for the write?

[2022-09-26 19:09] yihua commented on #4629
@DSwift510 We've made a few fixes wrt the timeline server to avoid unnecessary refreshes and stabilize the timeline-server-based markers.  You can try the latest release 0.12.0 to see if that solves your problem.  Feel free to reopen this ticket if you still have the issue.

[2022-09-26 19:09] #4629 closed

[2022-09-26 19:12] nsivabalan commented on #6428
got it. did you mean, you are using EMR's spark or oss spark? I understand its EMR cluster.

[2022-09-26 19:14] gtwuser opened #6800 "[SUPPORT]org.apache.avro.SchemaParseException: Illegal initial character: 1Min"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-09-26 19:19] yihua commented on #6428
@kasured to unblock the processing, could you try disabling and deleting the metadata table by setting `hoodie.metadata.enable=false` in Hudi configs?  This automatically deletes the metadata table after a few commits.

[2022-09-26 19:22] yihua commented on #6532
I created this ticket to track the fix: HUDI-4922.  Closing this GH issue.

[2022-09-26 19:22] #6532 closed

[2022-09-26 19:36] nsivabalan commented on #4230
hey @BalaMahesh : do you have any updates for us. did you get a chance to try out latest master.

[2022-09-26 19:36] nsivabalan commented on #4230
going ahead and closing it for now. feel free to raise a new issue.

[2022-09-26 19:36] #4230 closed

[2022-09-26 20:58] alexeykudinkin commented on #6758
@Zhangshunyu as @yihua already called out we approach partition-based filtering differently in MT leveraging HFile, which is (sorted) key-value based format allowing to do faster lookups based on the key's prefix, which allows us to only scan a portion of the Column Stats Index when we look it up for particular partition(s)

[2022-09-27 00:22] eshu commented on #6692
@yihua There is nothing unusual in schema, just string, numeric and timestamp fields. This issue appears on all tables that I tried.
But in unit tests, when I create and fill datasets from 0.12.0 initially, it does not happen. So I think this is a migration issue.

[2022-09-27 01:24] Zhangshunyu commented on #6758
@alexeykudinkin @yihua Thanks for your reply. For example if we set file group count as 10 and each hfile has more than 10 million lines of col_index info, then we will use 10 tasks to scan hfile and each task get the  records by prefix from 10million lines. but if we deivide them by time (year, month, day, etc.), if the query only hit 1day, then we can just read the hfile of that day, whose size

[2022-09-27 02:30] kasured commented on #6428
@yihua Yes that helped. However I can assume that the same can be done with hudi-cli as I wrote before. medatada delete and metadata create

@nsivabalan Yes we are using amazon bundle for Spark 3.2.1 which is provided by EMR 6.7

[2022-09-27 02:57] tommy810pp opened #6804 "[SUPPORT] Repairing the hudi table from No such file or directory of parquet file."
**Describe the problem you faced**
we are running spark job on the AWS Glue 3.0.

sometimes job has failed with this error.
[code]

after the failure, hudi tries to read already cleaned up parquet file. and it throws an exception when upserting the records on that partition, and it reports following error.
[code]

is there any ways to remove the reference for already deleted parquet file from the

[2022-09-27 07:17] schlichtanders opened #6808 "[SUPPORT] Cannot sync to spark embedded derby hive meta store (the default one)"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly. Not sure yet whether this is a bug or configuration proble

[2022-09-27 15:30] Zouxxyy commented on #6808
you can use these configs:
[code]

[2022-09-27 16:00] alexeykudinkin commented on #6223
@nsivabalan let's close this one. We have HUDI-4503 to track.

[2022-09-27 21:46] nochimow opened #6811 "[SUPPORT] Slow upsert performance"
**Describe the problem you faced**

After one month of data ingestion, a data ingestion pipeline started to take a very long time during the upsert operation
We currently use Hudi Spark 0.12 running on AWS Glue 3.0 (Spark 3.1), writing the Hudi files in a CoW format into a S3 bucket.

**Environment Details**
The Glue Job currently have 75 Workers of G.2X type. (Each worker have 8 vCPU, 32 GB of me

[2022-09-28 13:19] rjmblc commented on #6341
@jdattani That option is set to false in my hoodie.properties files.
@nsivabalan Adding few more details to my issue. I updated hoodie.datasource.write.operation': 'delete' but still unable to delete the records.

Is there a problem that the pyspark script is unable to get the partition details?

1. The input hudi table is created by a flink streaming job (I have no control over it) and below is t

[2022-09-28 15:07] codope commented on #6611
Created HUDI-4942 to track this issue.
@Shubham21k Can you try the patch https://github.com/apache/hudi/pull/6817

[2022-09-28 16:41] alexeykudinkin commented on #6373
@nsivabalan @parisni i think we need to re-think our approach to addressing this issue at the actual root: Cleaner is taking 4h currently b/c it relies on `HoodieBackedTableMetadata` instance that isn't caching the reader/scanner entailing that MT will be re-parsed every time a request is made to it (which should be avoided)

I've created HUDI-4937 to track this.

[2022-09-28 19:12] parisni commented on #6373
Caching should definitely help. what about batching as merged here ? https://github.com/apache/hudi/pull/6580
On Wed, 2022-09-28 at 09:41 -0700, Alexey Kudinkin wrote:

[2022-09-28 22:07] mikeashley87 opened #6819 "[SUPPORT] NotSerializeableException glue2.0 - spark 2.4.3, hudi-spark-bundle_2.11-0.11.0.jar"
**Describe the problem you faced**

I am getting a NotSerializeableException when doing an initial upsert into a hudi table.

Running locally with spark ( 2.4.7 /2.4.6 ) works fine.  Running in EMR  with spark 2.4.6 works fine.

**To Reproduce**

Steps to reproduce the behavior:

1. Read from an existing glue table ( non hudi)
2. Read from destination glue table  (hudi)
3. Apply join logic for exi

[2022-09-29 00:11] noahtaite commented on #6048
Hi @nsivabalan - we had to table this one until EMR released Hudi 0.11. We now have access to EMR 6.7 which supports Hudi 0.11, but no EMR 5.x version (Spark 2) does, We're porting our code to Spark 3 and will test the metadata table performance. Apologies for the delay, and thank you for the support.

[2022-09-29 01:10] nsivabalan commented on #6404
but since there are no headers, would recommend setting schema provider. may be we are inferring a wrong field as record key fields.

[2022-09-29 01:20] nsivabalan commented on #6462
I can put in a fix to mitigate the no completed instant issue w/ metadata table.

[2022-09-29 03:40] ranjani1993 commented on #6775
In this scenario we would just want to blindly overwrite the target partition without indexing overheads

[2022-09-29 03:40] #6775 closed

[2022-09-29 03:52] #6777 closed

[2022-09-29 05:44] nsivabalan commented on #6811
whats your workload type. specifically wrt updates. is it completely random? or touches only latest partitions and records.
Also, do you override any of small file related configs?
From the spark UI, seems like it the index tagging stage thats taking 4.5 hours.

[2022-09-29 05:45] nsivabalan commented on #6804
if you have enabled metadata table, can you disable it "hoodie.metadata.enable=false". if not for metadata table, you should not be hitting this issue atleast on the write path.
After few commits, you can re-enable metadata table. may be metadata table is corrupt.

[2022-09-29 05:48] nsivabalan commented on #6798
@alexeykudinkin : can you take this up.

[2022-09-29 05:58] gubinjie opened #6825 "[SUPPORT]org.apache.hudi.exception.HoodieRemoteException: *****:37568 failed to respond"
Hudi :0.10.1
Flink:1.13.3

When using FlinkSql to write to Hudi, Hudi will have an exception and cause the task to exit abnormally. I don't know why this is caused. Is there any solution? ?

`2022-09-29 13:38:51,316 INFO  org.apache.hudi.table.action.clean.CleanPlanner              [] - Incremental Cleaning mode is enabled. Looking up partition-paths that have since changed since last cleaned at 2

[2022-09-29 09:23] KnightChess opened #6829 "[SUPPORT][REOPEN] Caused by: java.lang.ClassNotFoundException: org.apache.hudi.org.apache.avro.util.Utf8"
as desc in #6588
Stacktrace:
[code]

Steps to reproduce the behavior:
1.use Flink to insert data
2.use spark to query data
3.has delete block in log file

for HoodieDeleteBlock, it will use kryo serialize
![image](https://user-images.githubusercontent.com/20125927/192992035-fb2d1444-b70e-40f8-b1c9-1761a70cc33c.png)
in flink and spark, the type char、varchar、string will use org.apache.avro.util.Utf8

[2022-09-29 09:31] zhengyuan-cn commented on #6596
---------------------------------------------------------------------------
detail log :
`306975 [pool-16-thread-1] INFO  org.apache.hudi.common.table.view.AbstractTableFileSystemView  - Took 62 ms to read  16 instants, 171 replaced file groups
306998 [pool-16-thread-1] INFO  org.apache.hudi.common.util.ClusteringUtils  - Found 109 files in pending clustering operations
306998 [pool-16-thread-1] I

[2022-09-29 10:17] scxwhite commented on #6687
It is recommended that you upgrade to the latest version of hudi and use bucket index. Or try to use hbase index and MOR table formats in version 0.9.0

[2022-09-29 10:38] jtm437 commented on #6687
@scxwhite can you point me at some documentation on implementing bucket or hbase indexes?

[2022-09-29 16:24] yihua commented on #6444
@novisfff Looks like the master you used is before the marker fix: #6383.  Could you test the latest master again and see if the problem goes away?

[2022-09-29 16:24] yihua commented on #6444
@novisfff Looks like the master you used is before the marker fix: #6383.  Could you test the latest master again and see if the problem goes away?

[2022-09-29 16:51] yihua commented on #6444
@novisfff I revisited the code and the ConcurrentModificationException exception is resolved by #6383.  Closing this GH issue.  Feel free to reopen this if it shows up again.

[2022-09-29 16:51] #6444 closed

[2022-09-29 19:01] dragonH opened #6832 "[SUPPORT] AWS Glue 3.0 fail to write dataset with hudi (hive sync issue)"
**Describe the problem you faced**

I was trying to use hudi with AWS Glue

At first, i create a simple dataframe

[code]
then set the hudi config

[code]

then write the dataframe to AWS s3

[code]

sometimes it could write the dataframe successfully

sometimes it would fail (with the same dataframe but different table name)

please see the error message below

the data was write to AWS S3 but me

[2022-09-29 20:11] gupash commented on #3676
@nsivabalan, just came across this ticket, I have 2 questions:
1. Why are more than 1 base parquet file even getting created if the first one is less than 100MB. I do understand that the smallest parquet file will be padded with more inserts per commit. And eventually all the base parquet files will increase in size. My question is, why are more than 1 base parquet file even getting created in the

[2022-09-29 20:52] alexeykudinkin commented on #6798
@sstimmel this is a known issue due to how Spark treats partition-columns (by default, Spark doesn't persist them in the data files, but instead encoding them into partition path). Since we're relying on some of the Spark infra to read the data to make sure that Hudi's tables are compatible w/ Spark execution engines optimizations we're unfortunately strangled by these limitations currently, but w

[2022-09-29 20:53] nochimow commented on #6811
Hi @nsivabalan,
~97% of the data should be inserts and the remaning are updates. The updates only touches the latest partitions. (-1 day at max)
No, we are not setting any small file config in this case.

Based on that, there is any tweak suggestion to decrease the index tagging stage?

[2022-09-29 21:05] alexeykudinkin commented on #6758
@Zhangshunyu we're able to do this filtering even w/o physical partitioning (thanks to relying on HFile and elaborate key encoding scheme) -- we only read the records corresponding to files (in case of Column Stats) pertaining to particular partition.

[2022-09-30 01:02] zhengyuan-cn commented on #6596
307113 [pool-16-thread-1] INFO  org.apache.hudi.table.action.clean.CleanPlanner  - 1 patterns used to delete in partition path:2022/09/27
307113 [pool-16-thread-1] INFO  org.apache.hudi.table.action.clean.CleanPlanner  - Partition 2022/09/27 to be deleted

---------------------------------------------------------------------------
detail log :
`306975 [pool-16-thread-1] INFO  org.apache.hudi.commo

[2022-09-30 02:07] scxwhite commented on #6687
You can see how to use these indexes in the [official documents.](https://hudi.apache.org/docs/basic_configurations#index-configs) If you want to know more about bucket index. Take a look at this [document](https://cwiki.apache.org/confluence/display/HUDI/RFC+-+29%3A+Hash+Index).

[2022-09-30 03:15] wwli05 opened #6835 "[SUPPORT] hive doesnt support mor read now, pls confirm"
from HoodieRealtimeRecordReader, it says support merge on read   record reading, but from my test, it only return data from the log file.

i looked the RealtimeCompactedRecordReader,

public boolean next(NullWritable aVoid, ArrayWritable arrayWritable) throws IOException {
    while (this.parquetReader.next(aVoid, arrayWritable)) {
      if (!deltaRecordMap.isEmpty()) {
        String key = arrayW

[2022-09-30 03:26] xiarixiaoyao commented on #6835
https://github.com/apache/hudi/pull/6741

[2022-09-30 03:37] nsivabalan commented on #6462
https://github.com/apache/hudi/pull/6836

[2022-09-30 03:47] nsivabalan commented on #6462
closing github issue as we have a fix. thanks for reporting.

[2022-09-30 03:47] #6462 closed

[2022-09-30 03:47] wwli05 commented on #6835
thank you ,friends, really JI_SHI_YU

[2022-09-30 03:48] nsivabalan commented on #6421
@sandip-yadav : gentle ping. did you get a chance to try 0.12.

[2022-09-30 03:49] nsivabalan commented on #6428
yes, you are right. you can disable via hudi-cli as well.

[2022-09-30 03:51] nsivabalan commented on #6428
Since we could not reproduce w/ OSS spark, can you reach out to aws support.
CC @umehrot2 @rahil-c : Have you folks seen this issue before. seems like simple read from metadata table is failing w/ EMR spark.

[2022-09-30 03:51] nsivabalan commented on #6504
@santoshraj123 : gentle ping. if you got the issue resolved, feel free to close it out.

[2022-09-30 03:52] nsivabalan commented on #6101
@navbalaraman :  hey any updates for us. if you could not reproduce, feel free to close it out.

[2022-09-30 05:11] jiangbiao910 commented on #6462
@nsivabalan Thank you for your reply，
if I don't set hoodie.metadata.enable"="false"，throw "java.lang.NoSuchMethodError: org.apache.hadoop.hdfs.client.HdfsDataInputStream.getReadStatistics()"
if  I set hoodie.metadata.enable"="false"， often not every time  throw “
Caused by: org.apache.hudi.exception.HoodieMetadataException: Failed to retrieve list of partition from metadata”
But when I run the sq

[2022-09-30 05:15] nsivabalan commented on #5777
sorry to have dropped the ball on this. again picking it up.
btw, I see this config `hoodie.datasource.write.insert.drop.duplicates` was proposed earlier. do not set this to true. if yes, records from incoming batch if they are already in storage, it will be dropped.

[2022-09-30 05:20] nsivabalan commented on #5777
@jiangjiguang : did not realize you had give us a reproducible code snippet. so from what you have given above, you could see duplicate data w/ MOR RT query?

[2022-09-30 05:20] nsivabalan commented on #5777
I see you have given test data. is everything to be ingested in 1 single commit. or using diff commits. your reproducible script is not very clear on this.

[2022-09-30 05:23] nsivabalan commented on #6503
my understanding is that, preCombine is a mandatory field for merge into statement. But I will let @alexeykudinkin investigate further though.

[2022-09-30 05:23] nsivabalan commented on #5582
@nitinkul @vicuna96 : gentle ping.

[2022-09-30 05:25] nsivabalan commented on #6835
since we have a patch being actively worked on, closing the issue. thanks for reporting.

[2022-09-30 05:25] #6835 closed

[2022-09-30 05:30] nsivabalan commented on #6825
guess timeline server crashed for some reason.
CC @yihua any thoughts.

[2022-09-30 05:32] nsivabalan commented on #6804
if not for metadata table, can't think of easier way to go about this. essentially cleaner has cleaned up some data file which is being required by the query. if you have very aggressive cleaner configs, you may try to relax them based on the max time any query can take for the table of interest.

[2022-09-30 05:34] nsivabalan commented on #6800
we rely on avro's field naming conventions. looks like starting char cannot be numbers.
https://issues.apache.org/jira/browse/AVRO-153

[2022-09-30 05:35] nsivabalan commented on #6800
if you are using deltastreamer, you can add a schema post processor and rename columns. if not,can't think of any easy solution apart from manually fixing it.

[2022-09-30 06:28] codope commented on #6829
@KnightChess Does the solution proposed in https://github.com/apache/hudi/issues/6588#issuecomment-1236580669 work for you?

[2022-09-30 06:34] KnightChess commented on #6829
@codope yes, it's work, but I think need fix to compatible between the multy engines

[2022-09-30 06:50] gtwuser commented on #6800
We are not using deltastreamer, but thanks for sharing this, will close this issue then and would work towards column renaming

[2022-09-30 06:50] #6800 closed

[2022-09-30 07:00] codope commented on #6797
@gtwuser I added a unit test where I could not reproduce this behavior with nested record key field: https://github.com/codope/hudi/commit/b018861f895218259f7b72793776068c7bb623ae

And I also ran a very simple test with a small json file to match your schema and configs. I was able to write and read hudi table successfully. Please check this gist https://gist.github.com/codope/89fc0749c8a285a74bfb

[2022-09-30 07:14] codope commented on #6829
Yes, I think we should shade/relocate avro in all bundles where it is included. The issue here is that it is shaded in one bundle but not in another. By shading in all bundles, there shouldn't be a conflict between shaded and unshaded class. Created HUDI-4954 to track it. If you would like to contribute, feel free to put up a PR.

[2022-09-30 07:32] codope commented on #6832
This is strange. The hive sync configs look fine. In the stacktrace, i see partition sync errors out for the same table name as in the config i.e. `Customer_Sample_Hudi`. When you do `show tables`, do you see multiple Hudi tables?

cc @xushiyan

[2022-09-30 07:36] codope commented on #6819
@mikeashley87 Path not serializable is a known issue which was fixed in https://github.com/apache/hudi/commit/7a9d48d126b1474f1bb7cfbe8b1c0b0391ef49d2
The fix was released in Hudi version 0.12.0. Can you please try with that?

[2022-09-30 07:46] gtwuser commented on #6797
Closing this issue since there were records missing `metadata` column itself. Sorry for this confusion.

[2022-09-30 07:46] #6797 closed

[2022-09-30 07:50] codope commented on #6825
Yes from the stack trace it seems like the timeline server crashed. To root cause, we will have to look into driver resource monitors. In the upcoming release version, we have added a retry mechanism based on exponential backoff to avoid any throttling issues: https://github.com/apache/hudi/commit/c597eb5d206b528d201a47194e144b8aed732c0e
However, in the meantime, perhaps you could disable timeline

[2022-09-30 08:13] dragonH commented on #6832
hi @codope

thanks for your kindly help

here's my another try

another hudi config (I used `Customer_Sample_Hudi_001` instead of `Customer_Sample_Hudi`)

first, i used `show tables` to list tables

<img width="221" alt="image" src="https://user-images.githubusercontent.com/18332044/193223276-cd667a96-1bab-46cb-a266-00ca31e5f937.png">

we could see that the table `Customer_Sample_Hudi_001` was not

[2022-09-30 09:06] codope commented on #6808
Could be related to Hive itself. Can you add this to your script and see if metastore configs are passed correctly?
`spark.sql("set").filter("key rlike 'metastore|jdo'").show(1000,False)`

I see that you have already turned off the schema as well as its version verification. That should have taken effect.

Also, you need to set the derby jdbc driver.
[code]
If it does not help, can you run sync wi

[2022-09-30 09:22] codope commented on #6611
Looks like the user-specified schema provider is being honored. I also added a unit test with evolving schema in #6817. In this case, schema registry is the schema provider and we see that the type of column `ten` is not a union. Ideally, it should have been
[code]
But it is
[code]

[2022-09-30 09:46] pratyakshsharma commented on #6332
@codope Let us connect sometime next week to discuss this. This has been pending for some time.

[2022-09-30 10:11] codope commented on #5582
I could not reproduce with the latest master. Sharing the spark-sql and spark-shell scripts in this gist: https://gist.github.com/codope/f9e89093b98e58ad097820a35376caed

[2022-09-30 10:17] codope commented on #5242
Closing as it cannot be reproduced with the latest master.

[2022-09-30 10:17] #5242 closed

[2022-09-30 10:19] codope commented on #6503
@maduraitech gentle ping to provide sql scripts to reproduce.

[2022-09-30 10:19] #6223 closed

[2022-09-30 10:23] codope commented on #6249
@soma1712 I have been running a deltastreamer MOR table job for over 30+ commits with sql transformer (though my setup is a bit different, I'm not using DMS). So far it's going well. No issues. We have had long-running deltastreamer tests in our test infra. Could you try with the latest Hudi?

[2022-09-30 10:24] codope commented on #6281
@crutis gentle ping to try out the master branch.

[2022-09-30 10:24] codope commented on #6504
Closing due to inactivity.

[2022-09-30 10:24] #6504 closed

[2022-09-30 10:26] codope commented on #6798
Closing it as the issue has already been triaged and the fix is being worked upon.

[2022-09-30 10:26] #6798 closed

[2022-09-30 10:40] codope commented on #6421
I could not repro and there is a unit test as well which covers this scenario: `TestCOWDataSource#testCopyOnWriteWithDroppedPartitionColumns`.
Closing it due to inactivity and as it is not reproducible with the latest version.

[2022-09-30 10:40] #6421 closed

[2022-09-30 10:41] codope commented on #6621
@dik111 did you get a chance to try out this suggestion https://github.com/apache/hudi/issues/6621#issuecomment-1241538207 ?

[2022-09-30 10:53] codope commented on #6686
Disabling should resolve the issue. In later Hudi versions, this is disabled by default. See https://github.com/apache/hudi/issues/2983
Please reopen if you still face this issue after disabling consistency check.

[2022-09-30 10:53] #6686 closed

[2022-09-30 10:55] codope commented on #6460
@danny0405 @yuzhaojing Could you please help with this issue?

[2022-09-30 10:55] codope commented on #6469
@sangeethsasidharan gentle ping^

[2022-09-30 10:58] codope commented on #6496
Closing as the issue has been triaged and we have a patch as suggested in https://github.com/apache/hudi/issues/6496#issuecomment-1228023484

[2022-09-30 10:58] #6496 closed

[2022-09-30 10:59] codope commented on #6527
Closing it as we have a fix under review.

[2022-09-30 10:59] #6527 closed

[2022-09-30 11:00] codope commented on #6483
Issue resolved with hms mode.

[2022-09-30 11:00] #6483 closed

[2022-09-30 11:15] codope commented on #6304
@brskiran1 @SubashRanganathan gentle ping^

[2022-09-30 13:02] codope commented on #6832
@dragonH I ran a simple hive sync which worked. So, the issue could be with Glue sync. Can you also raise this with AWS support? If possible do try with latest EMR versions which has Hudi 0.11.1.

[2022-09-30 16:39] dyang108 commented on #6428
I saw this issue with Spark on mesos (on EC2), not EMR Spark

[2022-09-30 19:56] smunigati opened #6842 "HoodieDeltaStreamer is not honoring schema registry SSL key/trust store properties when connecting schema.registry.url"
HoodieDeltaStreamer is not honoring following schema registry properties when passed part of kafka source property file to connect  in HTTPS mode.

hoodie.deltastreamer.schemaprovider.registry.url=[https://schemaregistry.com](https://schemaregisty.com/)
schema.registry.ssl.keystore.location=/artifacts/topics/certs/keystore.jks
schema.registry.ssl.keystore.password=****
schema.registry.ssl.truststo

[2022-09-30 20:26] gtwuser commented on #6321
Even after adding `hoodie.datasource.write.reconcile.schema=true` we are still getting issue in different tables. This time the error is `Caused by: org.apache.avro.SchemaParseException: Can't redefine: list`
Stack trace:
[code]

[2022-09-30 20:45] gtwuser commented on #6321
Now we have also update the environment
**Environment Description**

  Hudi version : 0.11.1

  Spark version : 3.1

  Storage (HDFS/S3/GCS..) : S3

  Running on Docker? (yes/no) : no

[2022-09-30 20:50] alexeykudinkin commented on #6621
Created HUDI-4959 to track this issue.

TL;DR Problem is in the fact that we're using Kryo to ser/de HoodieKey (which fails b/c can't find class registration nor association with the encoded id)

[2022-10-01 00:07] yihua commented on #6572
@Archie-selfless I'm unable to reproduce the NPE.  Could you share the schema of the source?  Does Spark uses the same Hive version as the Hive metastore?

[2022-10-01 00:34] yihua commented on #6572
This command works for me.  I can see in beeline that the table and partition paths are synced.
[code]
ds_cow.properties
[code]
schema.avsc
[code]

[2022-10-01 00:35] yihua commented on #6572
@Archie-selfless I'm not sure if this is related to the MySqlDebeziumSource and MySqlDebeziumAvroPayload.  Could you a simple ingestion with ParquetDFSSource as above to see if the Hive sync works in your setup?

[2022-10-01 10:09] kazdy commented on #6832
hi @dragonH

I had the same issue, basically glue data catalog converts table names and column names to lowarcase. Then in glue client for hive metastore (the aws one) it is not taken into account and because Customer_Sample_Hudi becomes customer_sample_hudi and glue client is case sensitive and throws this error:
`java.lang.IllegalArgumentException: Partitions must be in the same table`

Here's e

[2022-10-01 11:17] gtwuser opened #6849 "[SUPPORT]Caused by: org.apache.hudi.exception.HoodieException: org.apache.avro.SchemaParseException: Can't redefine: element"
**Describe the problem you faced**
Issue
If same record is saved to Hudi table via upsert operation it fails with error stating `org.apache.avro.SchemaParseException: Can't redefine: element`.
A clear and concise description of the problem.
On resend of the same json record which was successfully saved earlier in the same table, hudi throws back an error `org.apache.avro.SchemaParseException: Can'

[2022-10-01 11:22] gtwuser commented on #6849
@nsivabalan @alexeykudinkin @yihua @xiarixiaoyao any help will be highly useful

[2022-10-01 11:38] gtwuser commented on #6849
This https://github.com/apache/hudi/issues/1326 may be similar to the above issue.

[2022-10-01 11:41] gtwuser commented on #5891
thanks @jharringtonCoupons closing it for now.

[2022-10-01 11:41] #5891 closed

[2022-10-02 07:35] yihua commented on #6281
@crutis After revisiting this issue, I found that there is a bug if `TimestampBasedKeyGenerator` is used with the output dateformat containing slashes.  I can reproduce your issue on EMR with Glue Data Catalog.  The root cause is that the partition value extraction does not fetch the right values causing the meta sync to fail.

I've put up a PR to fix such issue and improve the usability: #6851.

[2022-10-02 12:17] schlichtanders commented on #6808
Thank you for your help,
have you tried to replicate it on your side?

I added those configs so that the spark sql returns the following
[code]

Now the code runs through, but no tables get registered. As a test, I am running `df.write.saveAsTable("saveastable_table")` which indeed works.

I won't have the resources to debug this further. I switched to delta lake which works out of the box with sp

[2022-10-02 16:08] melin opened #6853 "[SUPPORT]Implement CDC data synchronization hudi based on Debezium Server"
1. Does not rely on kafka connector, reducing maintenance costs，Flink cdc is more successful because it does not depend on kafka and is easy to use
2. Support database or table level data synchronously written to hudi, support schema evolution
3. Support flink or spark at the same time

This feature helps to expand the usage scenarios of hudi

https://github.com/memiiso/debezium-server-spark
https

[2022-10-03 03:23] dragonH commented on #6832
hi @codope

sure, wiil also do the latest hudi testing with EMR and share th result here

thanks for the help

hi @kazdy

thanks for the help

i acknowledge the behavior of aws glue that converting the table name and columns name to lowarcase

but was suprised that this casue the issue 😯

after converting the table name to lowarcase

the data was written successfully

<img width="315" alt="image"

[2022-10-03 05:12] xushiyan commented on #6281
@crutis closing this as explained by @yihua . let us know how it works

[2022-10-03 05:12] #6281 closed

[2022-10-03 07:20] kazdy commented on #6832
Btw on emr you'll get the same error because glue client is the same. I got this error when running hudi on emr.

[2022-10-03 07:35] hkszn commented on #6718
Thank you for your reply.

Yes, I would like to try it.

[2022-10-03 10:12] dragonH commented on #6832
@kazdy thanks for the information!

wonder if there's better way to avoid this kind of issue

e.g.

- add a new config property `AWSGlueDataCataglogEnabled` and if it set as `True`, convert the table name to lowercase at the begin and at the rest

- or edit the `table-name-related` config property hint to highlight this (if using aws glue data catalog, table name sould be lowercase)

cause the ori

[2022-10-03 15:10] codope commented on #6332
Synced up with @pratyakshsharma regarding this issue. First of all, the issue affects hudi tables queries via presto-hive connector. We need to see if we can use the config provided by the engine itself while instantiating the meta client. Created HUDI-4974 to track that issue. For now, we have a mitigation. We will unwrap the wrapper config object and pass that.

Closing the issue as it has been

[2022-10-03 21:33] alexeykudinkin commented on #6849
@gtwuser the problem ain't actually in Hudi -- the problem is in Avro converter serializing your schema to JSON (when serializing arrays it creates a wrapper structure for array elements and apparently that clashes with your existing schema.

Would it be possible for you to try more recent Spark and Hudi versions to see if that would resolve an issue for you?

@xushiyan you can assign this one to

[2022-10-04 03:09] INRIX-Trang-Nguyen commented on #6101
Hi,
We are also looking for the feature to drop older partitions from hudi, but can't find examples on how do to this. Our data is partitions as follows:

s3:/bucket/<path_to_hudi_metadata>/movement_type=xx/year=YYYY/month=mm/day=dd/provider=yy/qk=00223/*.parquet.
We would like to drop all records for a given year, month and day, ie:
s3:/bucket/<path_to_hudi_metadata>/movement_type=xx/year=2022/mo

[2022-10-04 04:42] INRIX-Trang-Nguyen commented on #6101
Attached sample test files.
[nrt-delete-partitions.zip](https://github.com/apache/hudi/files/9702830/nrt-delete-partitions.zip)

[2022-10-04 09:53] gtwuser commented on #6849
@alexeykudinkin  thanks for looking into this, on usage of latest hudi im actually using AWS glue jobs to run the hudi scripts and here we need to keep hudi jars in the classpath. Currently im creating hudi from the latest source i.e `hudi 0.13.0`
1. hudi-spark3.1-bundle_2.12-0.13.0-SNAPSHOT.jar
2. hudi-utilities-bundle_2.12-0.13.0-SNAPSHOT.jar
I wont be able to upgrade the spark version since AWS

[2022-10-04 10:02] parisni commented on #6558
I am able to reproduce the problem in the below snippet. The error raises when a column changes change case in two distinct partitions. The table can be read, however when a delete/upsert with a different case happens, it fails. Column State/state is used in the example

[code]

[2022-10-04 11:57] xushiyan commented on #5939
@haoxie-aws thanks for the awesome analysis! Your observation is correct and expected, as in clustering makes better use of compression to reduce the file sizes on disk, as records are clustered together for some common fields. The stats from replacecommit reflected that. What should be fixed is, for upsert partitioner which assigns inserts, we should only consider avg size from commit instants. I

[2022-10-04 14:50] INRIX-Angel-Todorov opened #6866 "[SUPPORT] Hudi DELETE_PARTITIONS operation doesn't delete partitions via Spark Data Frame"
I am trying to delete partitions by issuing a save command on an empty Spark Data Frame. I expect Hudi to modify both metadata, as well as delete the actual parquet files in the destination root folder (based on the partition paths)

Steps to reproduce the behavior:

I use this code:

`
def deletePartitions(partitions: List[String], deletePartitionDF: DataFrame, destUrl: String): Unit = {
    dele

[2022-10-04 15:59] INRIX-Trang-Nguyen commented on #6866
See also: https://github.com/apache/hudi/issues/6101

[2022-10-04 19:09] gtwuser opened #6869 "[SUPPORT] Incremental upsert or merge is not working"
A clear and concise description of the problem.
Hudi merge is not working as described in the hudi docs. On saving a record with few fields updated, it is saved as a new record instead of being merged into the same previous record with same recordKey. As per the docs the new incoming records  with same recordKey will be merged to the previously existing records.  Please correct me if this isnt the

[2022-10-04 22:35] alexeykudinkin commented on #6849
@gtwuser can you please paste full stacktrace you observe? I think i've might have a workaround for this issue.

[2022-10-05 06:59] gtwuser commented on #6849
@alexeykudinkin i have pasted the full stack trace on top. Please let me know if there is something else you are expecting. This stack trace is when the glue job fails these logs are written down to cloud watch logs.

[2022-10-05 10:04] INRIX-Angel-Todorov commented on #6866
It appears that the partitionPaths that have to be supplied must be absolute, otherwise hudi does not go deeper and does not recursively look for sub-"folders", it just looks for files under the partitionPaths. I've looked at the Hudi source code and this is in a couple of classes, for e.g. AbstractTableFileSystemView => ensurePartitionLoadedCorrectly , and getLatestFileSlices(String partitionPath

[2022-10-05 10:59] #5939 closed

[2022-10-05 14:50] fengjian428 commented on #6869
so the problem is got two records with same key？@gtwuser

[2022-10-05 17:36] pavimotorq opened #6875 "[SUPPORT] - [Docker Demo] - Partition key parts [dt] does not match with partition values [2018, 08, 31]"
**Describe the problem you faced**
Trying to run docker demo on a Linux VM (Ubuntu 22 LTS). Facing error while syncing the HDFS tables to Hive.
https://hudi.apache.org/docs/docker_demo#step-3-sync-with-hive

**To Reproduce**

  --jdbc-url jdbc:hive2://hiveserver:10000 \
  --user hive \
  --pass hive \
  --partitioned-by dt \
  --base-path /user/hive/warehouse/stock_ticks_cow \
  --database default

[2022-10-05 18:00] INRIX-Trang-Nguyen commented on #6866
Wildcard expansion on partition path is really desirable, since our data is partitioned geospatially along with other criteria, this would be a very large list to pass into the delete partitions operation.  At the moment, our only option would be to list all partitions, either via s3 or hudi metadata and then invoke the delete partitions operation. If there is a better way, or support is already p

[2022-10-05 18:14] steveloughran commented on #5785
should do

[2022-10-06 06:32] gtwuser commented on #6869
Yes same record key

[2022-10-06 11:05] tingxin commented on #3707
@rahulsarda @davidshtian
hi guys,
i did similar things, but met the fellow issue when i used kinesis studio the run insert statement, could you please give me some options?  thanks a lot!

ps: i add those libs
hudi-flink-bundle_2.12-0.10.1.jar
hudi-spark3.1.2-bundle_2.12-0.10.1.jar
mysql-connector-java-8.0.23.jar
flink-connector-jdbc_2.11-1.13.1.jar
flink-sql-connector-mysql-cdc-2.2.1.jar
flink-s3

[2022-10-06 11:13] tingxin opened #6880 "[SUPPORT] Sync mysql table to hudi table by kinesis studio RestClientException"
 hi guys,
cloud you please give me a sample about how to sync mysql table to hudi table  by kinesis studio. i have try this in aws emr, it works well. but in kinesis studio, i met the issue about
`
RestClientException: [Service temporarily unavailable due to an ongoing leader election. Please refresh.]`

i have read the issue https://github.com/apache/hudi/issues/3707, but i still not fix my issue

[2022-10-06 14:05] koochiswathiTR opened #6881 "Processing time is increased with hudi metadata enable"
We run spark streaming application, where we upsert data in hudi,
We have around 2000 partitions in our hudi dataset, we enabled metadata in our hudi tables, after that we could see drastic change in processing time. current processing time is 15 minutes. earlier processing time is 1 min or 1 min 30 sec.
We use inline compaction
with metadata enable which compaction would you prefer? Async or inli

[2022-10-06 14:09] schlichtanders commented on #6808
@codope does it work for you? Have you been able to replicate the case?

Should Hudi be able to write to a local derby metastore?

[2022-10-06 14:47] schlichtanders commented on #6808
seems to be a revival of https://github.com/apache/hudi/issues/1679

[2022-10-06 14:49] fengjian428 commented on #6869
`                'hoodie.datasource.write.precombine.field': 'payload.recordedAt',

did you use a wrong precombine field?

[2022-10-06 16:03] gtwuser commented on #6869
@fengjian428 sorry i recreated the payload for data privacy and missed to update the `recordKey`, updating the recordKey as per the given example

[2022-10-06 17:34] mikeashley87 commented on #6819
I am getting the same error when using

https://mvnrepository.com/artifact/org.apache.hudi/hudi-spark2.4-bundle_2.11/0.12.0

[code]

[2022-10-06 19:46] kazdy commented on #6869
Hi,

record key works like a PK on a table (unique, non-nullable field).
In your case, you end up with two records with different record key and that's expected.
Precombine and upserts are supposed to maintain the uniqueness of recordKey.

assume you use only delivery field as record key to make it easier
so if you have record with delivery:3000 hudi will do insert (if record with same record key

[2022-10-06 21:07] alexeykudinkin commented on #6842
Created HUDI-4991 to track

[2022-10-07 02:12] eshu commented on #6692
@xushiyan But I see spark-avro as a transitive dependency for hudi-aws-bundle. And hudi-aws-bundle has it as a direct and transitive dependency too.

[2022-10-07 02:22] eshu commented on #6692
hadoop-common have a dependency on avro, hbase-hadoop-compat, hadoop-mapreduce-client-core.

I do not have dependencies on spark-avro, but probably Glue 3 contains it. And it is out of my control.

[2022-10-07 11:43] xushiyan commented on #6881
@koochiswathiTR is the processing time of 15min for every commit after enabling metadata table? please also provide hudi/spark versions, workload info like how many records each commit and how many are updates. And environment info as well.

[2022-10-07 12:03] xushiyan commented on #6875
@pavimotorq i think the website is not updated somehow. In the latest docs https://hudi.apache.org/docs/next/docker_demo we have updated the commands to have `  --partition-value-extractor org.apache.hudi.hive.SlashEncodedDayPartitionValueExtractor`. Please follow that guide. cc @bhasudha we may need to backfill this change for 0.12.0 version of docs.

[2022-10-07 15:25] xushiyan commented on #6692
i think the issue originated from hadoop-mr-bundle shaded `org.apache.avro.*` package. @eshu can you list out all the jars you add to the classpath? specifically the hudi jars

[2022-10-08 05:26] eshu commented on #6692
@xushiyan I use the fat jar, but I do not know what is added to the classpath by AWS in Glue 3.

[2022-10-08 05:30] xushiyan commented on #6692
@eshu by fat jar you mean bundle jar? Is it Hudi Spark 3.1 bundle? And it's the only bundle you used? I need to reproduce this by putting the same jar as you did. So pls provide info on what jars you added to your glue job. Thanks.

[2022-10-08 08:48] gubinjie commented on #6825
TH

[2022-10-08 08:48] #6825 closed

[2022-10-08 09:11] gubinjie opened #6894 "[SUPPORT]Error running child : java.lang.NoSuchMethodError: org.apache.parquet.avro.AvroSchemaConverter.convert(Lorg/apache/parquet/schema/MessageType;)Lorg/apache/hudi/org/apache/avro/Schema;"
CDH 6.3.2
Hudi 0.10.1

When querying a Hudi table through Hive, I get the following error:
select * from hudi_flink_tyc_company_rt where name = '3213'

`2022-10-08 16:30:27,365 INFO [main] org.apache.hadoop.conf.Configuration.deprecation: session.id is deprecated. Instead, use dfs.metrics.session-id
2022-10-08 16:30:27,661 INFO [main] org.apache.hadoop.mapred.Task:  Using ResourceCalculatorProcess

[2022-10-09 02:00] Aload commented on #6618
yes version 0.12.0

[2022-10-09 06:17] LinMingQiang opened #6897 "[SUPPORT] Do we have flink mertic to get the information about hudi write?"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-10-09 08:26] KnightChess commented on #6897
https://hudi.apache.org/docs/quick-start-guide#procedures

[2022-10-09 11:59] yhyyz opened #6900 "[SUPPORT]"
#### Environement
Hudi 0.11.0
Spark 3.2.1

#### Job Info
Hudi table type: MOR
Spark Structured Streaming foreachBatch multiple task write different hudi table。An error occurs after the job runs for a few hours。

#### code
[code]

#### ERROR
[code]

[2022-10-09 13:47] xushiyan commented on #6875
Fixed in https://github.com/apache/hudi/pull/6860

[2022-10-09 13:47] #6875 closed

[2022-10-09 23:17] vicuna96 commented on #5582
Hi @nsivabalan , I see in Hudi version 0.11.0 with the remaining runtime environment unchanged, that the "show create table ${tableName}" command in spark-sql still doesn't register these properties. However, the upsert for this version (0.11.0) goes through without raising a NullPointerException, and HiveSyncTool is able successfully sync the changes.

[code]

[2022-10-10 02:47] danny0405 commented on #6900
@yihua Can you take a look ?

[2022-10-10 05:52] maheshguptags opened #6903 "Offline compaction scheduling not working"
Hi Team,

**I am trying to perform offline compaction using hudi MOR table using spark.**

I am trying to perform offline compaction using Hudi MOR table using spark. for that I have setup in-line schedule using spark code and for execution I am using the HoodieCompactor class.

**To Reproduce**

Steps to reproduce the behaviour:

1.Scheduling configuration

[code]

2. execution using below class

[2022-10-10 05:59] maheshguptags commented on #6903
CC :
@bhasudha
@codope
@nsivabalan

[2022-10-10 06:45] schlichtanders commented on #6808
any help would be highly appreciated

[2022-10-10 10:05] KnightChess commented on #6903
look like running mode is `execute`, maybe param `--schedule` need a value `true` like `--schedule true`

[2022-10-10 10:09] maheshguptags commented on #6903
@KnightChess thanks for looking into the issue and I tried with the parameter that you mentioned above but same error persist.

[2022-10-10 11:08] sknukala opened #6907 "[SUPPORT] hoodie commit time format change"
**Describe the problem you faced**

We are trying to migrate hudi table from 0.8 to 0.12 and noticed that _hoodie_commit_time format has changed to include milliseconds.

Below is example of sample data in different version:
hudi 0.8: 20220920044733
hudi 0.12: 20220923141615400

Is there a property to configure timestamp format? We need this to ensure backward compatibility and also reduce changes

[2022-10-10 11:34] gtwuser commented on #6869
@kazdy iam sorry i feel my description not clear, let me rephrase it the scenario is when at two different times same record is being pushed to hudi table then i find two records in the table instead of one. By same record i mean same record keys ie.. `delivery : 2000` in the record1 and again `delivery : 2000` in the record2 and both these records are sent in two different files at different timi

[2022-10-10 11:49] BalaMahesh commented on #5893
@nsivabalan / @rmahindra123  - sorry for the long delay. I was occupied with other works. Yes this solves the above mentioned error. Thanks for the help

[2022-10-10 11:49] #5893 closed

[2022-10-10 12:04] BalaMahesh opened #6908 "[SUPPORT] Hudi AvroDeserializer failing with java.lang.NullPointerException"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

We are using Postgres

[2022-10-10 12:26] koochiswathiTR commented on #6881
Spark : 3.1.2
Hudi : 0.11.1
AWS EMR : 6.7

Its a spark streaming application, We use only upsert command
We have 2000 partitions,
We will upsert 3.2 Millions of records at a time.
a micro batch in spark streaming is taking 15 mints of time to complete whole process( upsert + compaction/cleanup) etc

Let me know if you need any information

@xushiyan

[2022-10-10 13:25] maheshguptags commented on #6903
Same Error @KnightChess
spark-submit  --class org.apache.hudi.utilities.HoodieCompactor --jars /usr/lib/hudi/hudi-spark3-bundle_2.12-0.10.1-amzn-0.jar /usr/lib/hudi/hudi-utilities-bundle_2.12-0.10.1-amzn-0.jar --base-path "s3://test-spark-hudi/test_campaign_event_offline_compact_v1_sch/" --table-name "customer_event_offline_v1_sch" --schema-file "s3://test-spark-hudi/schema/offline_compact.avsc" -

[2022-10-10 13:33] KnightChess commented on #6903
can you remove double quotes in mode param, in my case it can work
<img width="776" alt="image" src="https://user-images.githubusercontent.com/20125927/194878069-4155f864-ccc9-41b7-befe-052384cf13d3.png">

[2022-10-10 13:35] maheshguptags commented on #6903
@KnightChess same error
[code]

[2022-10-10 15:03] idrismike commented on #6787
In this relevant discussion, I have encountered yet another problem.

First of all, We have data already written using hudi `0.9.0`. And we are using spark `hive metastore` to read the data. **Note** The metadata is disabled (by default as in documentation) and hence no `table/.hoodie/metadata` folder exists. Reading using metastore works fine.

Now, We upgraded to hudi `0.12.0`, and tried to read

[2022-10-10 22:29] haoxie-aws commented on #5939
@xushiyan thanks for making the fix! We have tested it and it solved the problem! Will it be in the closest upcoming release (probably 0.12.1)?

[2022-10-10 22:35] eshu commented on #6692
@xushiyan
We create our own fat jar that including Hudi Spark 3.1 bundle, hudi-aws-bundle and some other libraries, such as connectors to Kafka, BigQuery, ES. Also there is a set of libraries that provided by Glue environment.

But let me remind the situation again.

1. The error message is `org.apache.hudi.org.apache.avro.Schema$RecordSchema cannot be cast to org.apache.avro.Schema` - this is the

[2022-10-10 23:37] nsivabalan commented on #6903
likely the issue is, placement of `--jars`

[code]

any spark options should preced the class name and app jar

[code]

also, utilties bundle includes spark. so you don't even need spark bundle to be passed in.

[2022-10-11 01:38] alexeykudinkin commented on #6869
@gtwuser i think your original description mentioned `delivery: 20000` and `delivery: 30000`, which was the ultimate source of confusion here.

Can you please elaborate how you ingested your table? Were you using bulk-insert by any chance?

We've recently discovered an issue w/ Bulk Insert specifically that could have led to duplicates (HUDI-4992)

[2022-10-11 02:16] #6894 closed

[2022-10-11 03:24] gubinjie opened #6914 "[SUPPORT]Unable to merge duplicate data"
Hudi:0.10.1

Here is my script for a hudi table created via Flink:
`create table paat_hudi_flink_tyc_company
(
    company_id                string,
    company_name              string,
    update_time               timestamp(3) comment 'Last update time',
    primary key (company_id) not enforced
) with (
      'connector' = 'hudi',
      'path' = 'hdfs://******/user/hudi/warehouse/paat_ods_hudi

[2022-10-11 06:33] rjmblc commented on #6341
**UPDATE:**@nsivabalan I tried after table compaction of the MOR table but still getting the same issue.

[2022-10-11 07:03] parisni commented on #5780
I  don't have time to get the stacktrace these days. The way to reproduce is to run concurrent read queries through Athena on a given table while ingesting with a spark job with timeline server enabled. Once you get s3slow down on anthena side, the ingest spark job will fail

On September 13, 2022 9:51:29 PM UTC, Y Ethan Guo ***@***.***> wrote:
***@***.*** @codope talks about the configs to retry

[2022-10-11 07:13] tommy810pp opened #6919 "[SUPPORT] recommended resource allocation"
Is there any recommendation of resource allocation especially spark.executor.cores?
It seems hudi recommends to allocate 1 core for 1 executor in many documents. ex: [deployment document](https://hudi.apache.org/docs/deployment), [tuning guide](https://hudi.apache.org/docs/tuning-guide)

if I would like assign multi cores for executors, is there any configuration that you recommend to adjust?
sinc

[2022-10-11 07:19] tommy810pp commented on #6804
thanks, suggestion.
I'm not sure about the root cause, but It could be fixed by manually deleted the dangling data by cli and delete metadata by cli and run a job again.

[2022-10-11 07:19] #6804 closed

[2022-10-11 09:05] parisni commented on #5489
Sorry I meant *the snippet does NOT work* :(

On Sat, 2022-05-21 at 02:11 -0700, Raymond Xu wrote:

[2022-10-11 10:09] KnightChess commented on #6907
use hudi-cli or in 0.12, you can use spark procedure to upgrade table.
use hudi-cli:
![image](https://user-images.githubusercontent.com/20125927/195062185-4b8a9bd2-b30b-4d1f-bc1a-159279b6b513.png)

use spark-sql:
call upgrade_table(table => 'xxx', to_version => 'FIVE');
![image](https://user-images.githubusercontent.com/20125927/195062852-053852cd-90ae-468e-b757-598d5ec97e5b.png)

[2022-10-11 12:24] sknukala commented on #6907
@KnightChess My issue is not with table upgrade but timestamp format. Is there a property to configure _hoodie_commit_type timestamp format?

[2022-10-11 13:08] gtwuser commented on #6869
Last time i tested with only upsert mode and found this same issue.

[2022-10-11 13:11] hbgstc123 opened #6924 "[SUPPORT]Flink clustering does not reserve commit metadata"
append data to hudi with flink, use inline async clustering.
_hoodie_commit_time field is update to the commit time of replacecommit.
_hoodie_commit_time change will result in data duplication when stream read from this hudi table.

Steps to reproduce the behavior:
stream write data to hudi,
enable inline clustering,
check the _hoodie_commit_time field of data after replacecommit complete.

* Hudi

[2022-10-11 13:24] KnightChess commented on #6907
https://github.com/apache/hudi/pull/4024
look like none, https://hudi.apache.org/releases/release-0.10.0/#writer-side-improvements

[2022-10-11 15:37] rjmblc commented on #6341
@nsivabalan Just referred the EMR documentation for hudi delete and looks like full table schema needs to be passed for delete. Can you pls let me know how to pass the full table schema?
**Deletion requires schema – When deleting, you must specify the record key, the partition key, and the pre-combine key fields. Other columns can be made null or empty, but the full schema is required.**
[https://

[2022-10-11 17:36] gtwuser opened #6925 "[SUPPORT]Table in Dynamo DB is not getting created during concurrent writes to table"
A clear and concise description of the problem.
using below configs as mentioned in document we are writing to hudi tables multiple dataframes concurrently using the `concurrent.futures.ProcessPoolExecutor(max_workers=200) as executor`, but the table Dynamo DB is not getting created. Please correct me here, trying to undetrstand why isnt the table  dynamo DB getting created ? As per the document t

[2022-10-11 18:30] gtwuser commented on #6925
I suspect this issue is leading to other errors like below, please provide some info on this as well :
[code]

[2022-10-11 18:55] gtwuser commented on #6925
Tried following the steps mentioned in this issue https://github.com/apache/hudi/issues/2533, but for me i dont find any files containing this `20221011182252268`.

.hoodie folder contents: https://gist.github.com/gtwuser/c08aac8fbb30574e225cb0cdbdf334d9

[2022-10-11 18:57] gtwuser commented on #6925
^^ @nsivabalan @umehrot2 @vinothchandar @alexeykudinkin

[2022-10-12 03:08] danny0405 commented on #6924
Thanks for the feedback, i have created a JIRA issue here: https://issues.apache.org/jira/browse/HUDI-5016

[2022-10-12 06:56] BalaMahesh commented on #6908
**UPDATE**:

I further tried to narrow down the issue and  found empty message body that was produced into Kafka topic by Postgres debezium Connector. Further need to check why that was the case from debezium. Will it be good if we have a check on Hudi consumer to filter out the empty/ null messages during the pull ?

<img width="862" alt="Screenshot 2022-10-12 at 12 24 57 PM" src="https://user-im

[2022-10-12 06:56] #6908 closed

[2022-10-12 09:38] danny0405 commented on #6924
And a PR here: https://github.com/apache/hudi/pull/6929

[2022-10-12 10:57] hbgstc123 commented on #6924
thanks

[2022-10-12 13:54] levisLi opened #6931 "SparkSQL create hudi DDL do not support hoodie.datasource.write.operation = 'insert'"
when i use sparksql to create hudi table , i find it not support hudi properties of 'hoodie.datasource.write.operation = insert' .
example:
create table if not exists hudi.h3(
  id bigint,
  name string,
  price double
) using hudi
options (
  primaryKey = 'id',
  type = 'mor',
  hoodie.cleaner.fileversions.retained = '1',
  hoodie.datasource.write.operation = 'insert'
);
when i defind hoodie.data

[2022-10-12 14:39] codope commented on #6829
Closing it as we have a PR that fixes the issue.

[2022-10-12 14:39] #6829 closed

[2022-10-12 15:03] #6249 closed

[2022-10-12 23:19] yihua commented on #6931
@levisLi Could you provide more details on your setup?  What Hudi and Spark versions are you using? How do you start the spark-shell or spark-sql?

[2022-10-13 00:16] yihua commented on #6925
Hi @gtwuser could you provide the full Spark driver logs for the job with concurrent writers?  Could you also share the files under `.hoodie/` in the table base path for debugging?

[2022-10-13 00:37] yihua commented on #6919
@tommy810pp You may use multiple cores per executor for the Spark job.  In that case, you should ensure that each executor is allocated enough memory to avoid OOM.  For example, if you use 10 m5.4xlarge instances (16 cores per instance) in an EMR cluster, you can easily ingest hundreds of GB of data with the following setup:
[code]

[2022-10-13 00:41] yihua commented on #6914
@gubinjie How did you write the records to the Hudi table?  You need to use upsert operation instead of insert operation to merge the records with the same record key.

[2022-10-13 00:45] yihua commented on #6907
@sknukala as @KnightChess mentioned you don't have to worry about the timestamp format as the new millisecond instant time is designed to be backward compatible.  You don’t have to do any special handling.

Do you have any specific reason for enforcing timestamp format?

[2022-10-13 01:28] levisLi commented on #6931
Version: hudi-0.11+spark-3.2.1
Setup: ${SPARK_HOME}/bin/spark-sql
Create hudi table with spark-sql cmd
spark-sql >
create table if not exists hudi.h3(
      id bigint,
     name string,
     price double
   ) using hudi
     options (
        primaryKey = 'id',
        type = 'mor',
        hoodie.cleaner.fileversions.retained = '1',
        hoodie.datasource.write.operation = 'insert');
spark-sql

[2022-10-13 02:21] YannByron commented on #6931
@Zouxxyy do you have time to follow up this?

[2022-10-13 03:30] Zouxxyy commented on #6931
You are actually in insert mode, but since the record is in the same filegroup, there show no duplicate key records.

If you add a configuration `set hoodie.parquet.small.file.limit=0`, you will then find duplicate key records because the record is written to different Filegroups.

[2022-10-13 04:42] levisLi commented on #6931
If I add a configuration `set hoodie.parquet.small.file.limit=0` , its mean ， I will write many of small file

[2022-10-13 04:46] levisLi commented on #6931
@YannByron I do not set time field, The default `preCombineField = ts`

[2022-10-13 05:08] sknukala commented on #6907
@yihua A lot of downstreams use this column to incrementally pull data and change in format impacts all of them. If the format can be controlled, it will be easy.

Also, as we upgraded table, old data is in legacy format while new loads have ms leading to inconsistency.

[2022-10-13 05:41] danny0405 commented on #6924
Close because we already have a PR to resolve this issue.

[2022-10-13 05:41] #6924 closed

[2022-10-13 05:48] PhantomHunt opened #6936 "[SUPPORT] NPE when trying to upsert with option hoodie.metadata.index.column.stats.enable : true."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? - Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

We are upserting re

[2022-10-13 08:00] schlichtanders commented on #6808
@codope this is still blocking us. We would like to give hudi a real try, but if the testing does not work, it is hard to convince a team to use hudi.

If it is impossible to speak to an in-memory derby database, what are the alternatives for testing hudi hive-sync locally?

[2022-10-13 08:07] JoshuaZhuCN commented on #6931
try to set  `hoodie.sql.insert.mode`='non-strict' ?

[2022-10-13 08:32] matthiasdg opened #6937 "[SUPPORT] command line HiveSyncTool: parsing with JCommander broken"
**Describe the problem you faced**

Upgraded to hudi 0.12 here (from 0.10) and it seems some things changed to the HiveSyncTool, more specifically to HiveSyncConfig.java
Where before there were defaults for some Boolean parameters, this is now no longer the case. As an example:
[code]
used to be
[code]
When I try to run the synctool commandline, I now get NPE's as soon as I include one of these Bo

[2022-10-13 09:24] levisLi commented on #6931
@JoshuaZhuCN I have try to set `hoodie.sql.insert.mode=non-strict`, but no effect
eg:
create table if not exists hudi.h3(
id bigint,
name string,
price double
) using hudi
options (
primaryKey = 'id',
type = 'mor',
hoodie.cleaner.fileversions.retained = '1',
hoodie.datasource.write.operation = 'insert',
hoodie.sql.insert.mode = 'non-strict');

[2022-10-13 09:41] boneanxs opened #6938 "[SUPPORT] HoodieTimelineArchiver could archive uncleaned replace commits causing duplicates"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Say we have a spark strea

[2022-10-13 09:59] boneanxs commented on #6931
@levisLi I think @Zouxxyy is right, how many files in your hudi table after you did 2 write operations? If there's only one file, it means small files are merged, maybe you can try
`set hoodie.merge.allow.duplicate.on.inserts=true`

[2022-10-13 12:39] gudladona commented on #6611
We encountered this issue as well, we think this is due to the SparkAvroPostProcessor ignoring the default values from the passed target schema [here](https://github.com/apache/hudi/blob/master/hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/avro/SchemaConverters.scala#L154) - when converting from struct type to avro type for primitive types this function sets no defaul

[2022-10-13 13:13] xushiyan commented on #6692
@eshu i see the problem. with 0.12.0 hudi-aws-bundle shades avro which conflicts with spark bundle. this is fixed in 0.12.1 (releasing soon)

[2022-10-13 14:35] Zouxxyy commented on #6931
That's what I missed, this configuration works

[2022-10-13 14:47] matthiasdg opened #6940 "[SUPPORT] Loading preexisting (hudi 0.10) partitioned tables from hive metastore with hudi 0.12"
**Describe the problem you faced**

We have existing tables ingested with the default settings of hudi 0.10.
We synced them to hive metastore using the standalone sync tool. Typical partitioning scheme is by device, year, month, day.
Sync command is with parameters like:
[code]
We load the table using a `SparkSession` with `enableHiveSupport()` and the correct metastore uri, then use `sparkSession

[2022-10-13 15:19] idrismike opened #6942 "[SUPPORT] Hudi 0.12.0 InsertOverWrite - Getting NoSuchMethodError while writing to table with partitions"
**To Reproduce**

Steps to reproduce the behavior:

1. Use Hudi To Write to A file system (We use Azure abfss)
2. Table with Partitions - Hudi partitions and keys defined

**Expected behavior**

Should write to a MOR table with partitions

**Environment Description**

* Hudi version : 0.12.0

* Spark version : 3.2.2

* Hadoop version : 3.3.1

* Storage (HDFS/S3/GCS..) : 8.6.3 (azure storage) and h

[2022-10-13 17:50] rohit-m-99 opened #6943 "[SUPPORT] distinct at ColumnStatIndexSupport.scala:141"
**Describe the problem you faced**
Column stat indexing seems to be running at query time. Currently use a deltastreamer to write files and have been using ColumnStatIndexes and data-skipping for query speed. However after executing any query, I am seeing long running jobs detailed below. If I kill this job, my query runs normally without error.

![image (13)](https://user-images.githubusercontent

[2022-10-13 21:56] victorvalentee commented on #2588
Hi @rubenssoto did you ever find a better solution to this problem? I'm having the same exact problem with this error happening from time to time (seems random, and re-running the jobs usually work).

[2022-10-14 05:45] nicor88 commented on #3394
@nsivabalan what was the solution for this issue? As I'm experiencing something similar when using Hudi in combination with glue.

[2022-10-14 06:39] yihua commented on #6943
@rohit-m-99 do you mean that the query gets stuck at the particular stage shared above?  Is it possible for you to share the schema (e.g., how many columns are there, what are the data types, etc.) and the query?  Could you also share the `.hoodie` folder so we can check the column stats partition in the metadata table?

[2022-10-14 06:46] koochiswathiTR commented on #6881
@xushiyan  Any update

[2022-10-14 06:47] koochiswathiTR commented on #6881
We scheduled compaction for 1 every one hour, if we reduce it to 15 mints or 30mints will the processing time reduces?
@xushiyan
@nsivabalan

[2022-10-14 06:50] yihua commented on #6942
@idrismike this seems like an issue of writing data to the internal metadata table on this particular file system.  To mitigate the issue, could you try disabling metadata table by setting `hoodie.metadata.enable=false`?

Could you also share your setup of starting the spark job, e.g., do you use `hudi-utilities-bundle` or `hudi-spark3.2-bundle`?

[2022-10-14 07:02] koochiswathiTR commented on #6881
![image](https://user-images.githubusercontent.com/53506762/195783106-9dd54317-af1a-4a82-aa11-fa2e909e3b99.png)

please find the time it is taking to complete hudi jobs.

[2022-10-14 07:10] yihua commented on #6940
Hi @matthiasdg , thanks for reporting the performance regression.  We refactored the Hive query engine integration with Hudi in 0.11.0.  I'll take a look at the file index implementation for Hive which may contribute to the regression here.

[2022-10-14 07:18] yihua commented on #6938
@boneanxs thanks for reporting this.  I think we need to see how we can efficiently identify the replaced file groups.  Currently, the archiver does not read any instant metadata to be efficient.

[2022-10-14 07:20] yihua commented on #6937
@matthiasdg thanks for reporting the issue.  We'll try to reproduce it.

[2022-10-14 07:28] yihua commented on #6936
@PhantomHunt Thanks for reporting the issue.  If possible, could you share the schema and sample data that can reproduce this issue?  The issue is likely related to a specific data type.  You may strip out any sensitive columns and data that are irrelevant to the issue.

[2022-10-14 07:35] yihua commented on #6907
@sknukala if you are using Hudi incremental query, the instant timestamp format (second vs millisecond granularity) should not matter, because internally Hudi treats the instant time as a String and uses the predicate based on the instant time with String comparison for filtering records, so millisecond-level instant time is still backward compatible with second-level instant time.  Could you clar

[2022-10-14 07:42] yihua commented on #6903
@maheshguptags could you remove the `--mode schedule` parameter?  `--mode` is introduced in 0.11.0.  Given that you're using 0.10.1, this parameter is not available.

[2022-10-14 07:46] yihua commented on #6900
@yhyyz to mitigate the issue, have you tried to switch to the direct markers by setting `hoodie.write.markers.type=direct` and see if the structured streaming can make progress?

[2022-10-14 07:50] yihua commented on #6881
@koochiswathiTR To help debug the performance regression, could you also share the driver log, content under `.hoodie`, and the complete spark stages (the screenshot above does not show stages for writing metadata table and other important stages)?  It seems weird that the `Perform rollback actions` job takes 56 minutes.

[2022-10-14 07:53] yihua commented on #6880
@tingxin AWS support can provide better help regarding the Kinesis Studio.  You should file a support ticket to AWS.

[2022-10-14 08:09] maheshguptags commented on #6903
@yihua I tried without `--mode ` parameter and it is not scheduling the compaction.

[2022-10-14 08:36] luky777 commented on #6558
Hi,

I have exact same issue and can replicate it if I try to upsert the record with the extra or missing column. Using very much the same config as @parisni. I use Glue and Hudi Connector with Hudi Version 0.10.1 and Spark 3.1.

I am also syncing Hudi to the glue catalog. As part of my code, I am trying to evolve the schema by pulling the Full schema from the Glue catalog and then merging it with

[2022-10-14 08:39] idrismike commented on #6942
@yihua I tried with `hoodie.metadata.enable=false`
**PS**: We are using the following set of `hudi` dependencies:
      `"org.apache.hudi" %% "hudi-utilities-slim-bundle" % "0.12.0",
      "org.apache.hudi" %% "hudi-spark3.2-bundle" % "0.12.0"`

This seems to work.
But, we want the metadata to be enabled because I am querying Hudi using `hive metastore`, and if `metadata` is not enabled (hence not

[2022-10-14 09:43] gunjdesai commented on #6610
This issue was resolved by setting `maxOffsetsPerTrigger` property in Kafka, without the setting of that property, the batch size was constantly growing until we were hitting an OOM.

[2022-10-14 09:43] #6610 closed

[2022-10-14 09:49] xiarixiaoyao commented on #6558
@luky777
could you share your sample code?
now hudi should support this scenario :  upsert the record with the extra or missing column.

[2022-10-14 11:14] KnightChess commented on #6621
we also encountered this problem, in our env, flink-bundle avro version is 1.10.0 and spark3-bundle avro version is 1.10.2, and  after flink write mor table with deletelogblock

spark:
spark query will throw exception, classId - 2 = index is id 36
[code]

presto:
presto will throw the same exception which you meet, presto avro version is 1.8.2

resovle:
In spark, I change the avro version to  1.10

[2022-10-14 11:21] koochiswathiTR commented on #6881
[stderr.2022-10-14-05.txt](https://github.com/apache/hudi/files/9785566/stderr.2022-10-14-05.txt)

[2022-10-14 11:22] koochiswathiTR commented on #6881
[stderr.2022-10-14-06.txt](https://github.com/apache/hudi/files/9785570/stderr.2022-10-14-06.txt)

[2022-10-14 11:22] koochiswathiTR commented on #6881
#Updated at 2022-08-06T11:30:43.839Z
#Sat Aug 06 11:30:43 GMT 2022
hoodie.table.timeline.timezone=LOCAL
hoodie.table.keygenerator.class=org.apache.hudi.keygen.SimpleKeyGenerator
hoodie.table.precombine.field=operationTime
hoodie.table.version=4
hoodie.database.name=
hoodie.datasource.write.hive_style_partitioning=false
hoodie.table.checksum=571342712
hoodie.partition.metafile.use.base.format=false

[2022-10-14 11:23] koochiswathiTR commented on #6881
@yihua @nsivabalan   @xushiyan

[2022-10-14 11:37] weimingdiit commented on #143
Please add me to the Slack group:  weeming1024@163.com

[2022-10-14 12:05] Zouxxyy commented on #6931
hi, have you used `hoodie.merge.allow.duplicate.on.inserts=true` for testing? I added a test case to verify it https://github.com/apache/hudi/pull/6949. Also, it is recommended to use `hoodie.sql.insert.mode` to configure insert mode when you are using spark-sql

[2022-10-14 12:59] Armelabdelkbir commented on #6621
Hello i also have this probleme when i try to read data with spark, same job  works fine sometimes and sometimes failed :

Steps to reproduce :

1.Use spark structured streaming to fetch data from kafka in realtime
2.Use Spark to read data
My stack
        Hudi version : 0.11.0
        Spark version : 2.4.6 / 3.1.4
        Hive version : 1.2.1000
        Storage (HDFS) : 2.7.3
`58782 [dag-schedule

[2022-10-14 13:04] koochiswathiTR commented on #6881
Compaction runs for every hour and with delta commits 5
If we run compaction for every 15 mints and delta commits to 2 will it increase performance?

[2022-10-14 13:09] koochiswathiTR commented on #6881
if we change to SIMPLE index will it increase performance?
https://lightrun.com/answers/apache-hudi-processing-time-very-slow-updating-records-into-hudi-datasetmor-using-aws-glue
@yihua @nsivabalan @xushiyan

[2022-10-14 13:43] yhyyz commented on #6900
@yihua
1. tested set config hoodie.write.markers.type=DIRECT hoodie.embed.timeline.server=false hoodie.clean.automatic=false, no markers issue. but new issue `org.apache.hudi.exception.HoodieIOException: Could not read commit details from s3://app-util/hudi-bloom/emrfs-disalbe-cache-direct-101/cdc_test_db/dhdata_02/.hoodie/20221014024801458.deltacommit.requested ` occured. The application log  lin

[2022-10-14 14:22] Limess commented on #3834
This seems to have been (_finally_) fixed in Athena engine v3 - I can no longer reproduce with my test dataset.

[2022-10-14 14:37] idrismike commented on #6942
As mentioned above, writing to `azure abfss` with `hoodie.metadata.enable=false` works. But then, async indexing Fails using `HoodieIndexer`
![image](https://user-images.githubusercontent.com/12491651/195871992-4df00d23-7c60-4088-88d4-f8dbe4c64869.png)

Since both `hoodie.metadata.enable=true` and `HoodieIndexer` generate metadata - the problem seems similar. Therefore, cannot really upgrade until

[2022-10-14 19:15] zhouhaijia commented on #6137
Any updates on this?

[2022-10-14 19:59] mikeashley87 commented on #6819
@codope  bumping this back up

[2022-10-14 20:14] alexeykudinkin commented on #6558
@parisni the problem is that Hudi internally still relies on Avro to represent schemas currently being handled.

Avro is unfortunately case-sensitive (unlike Spark which is configurable)

[2022-10-14 20:20] alexeykudinkin commented on #6558
@luky777 issue you are observing is different: in your case it's the issue of automatic schema evolution. You can follow HUDI-4588 for updates.

[2022-10-14 21:19] yihua commented on #6942
HoodieIndexer builds the metadata async to the same metadata table.

Yes, you can.  It's recommended to upgrade the Hudi table written from 0.9.0 first with metadata table disabled in this case, and then you can use HoodieIndexer to build the metadata/index again.

I'll try to reproduce your problems on my side to see what's going on.  I agree that the base path and the table name should not be co

[2022-10-14 21:47] yihua commented on #6881
In Hudi 0.11.1, SIMPLE index is the default.

To clarify, are you saying that the 15 min vs 1.5 min difference is due to turning on and off the metadata table?  If that's the case, changing compaction frequency should not matter here.

[2022-10-14 23:54] hussein-awala opened #6953 "[SUPPORT] cleaner incremental mode doesn't work if there is no file to delete in the previous clean"
**Describe the problem you faced**

As I understood, the [CleanPlanner](https://github.com/apache/hudi/blob/master/hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanner.java) prepares a list of files to delete by listing the files on each partition, and checking if there are some files to delete based on the used cleaner policy. If the incremental cleaner mod

[2022-10-15 03:21] levisLi commented on #6931
@Zouxxyy I set `hoodie.datasource.write.operation='insert' ` and `hoodie.merge.allow.duplicate.on.inserts=true` properites in hudi table, when i use spark-sql insert into record to hudi table ,this can show duplicate record,but when i use flink-sql insert into record to hudi table ,only show no  duplicate record.

spark-sql>
`create table if not exists hudi.hudi_merge_test(
     uuid string
    ,n

[2022-10-15 08:10] parisni commented on #6558
Thanks @alexeykudinkin this clarifies. can you confirm the avro schemas are coming from the last commit in the timeline ?

Also the reason our field changed case over time has been identified. The hive metastore is case insensitive, so when you populate it with upper case, it returns lower case. However when spark reads for the first time a metastore table, it infers the schema from the parquet fi

[2022-10-15 08:10] #6558 closed

[2022-10-15 21:16] Limess commented on #6367
I finally got round to re-enabling the metadata table for this table - using Hudi 0.11.1 on EMR 6.8.0 now, and the same issue occurs:

Here's the debug logs on an executor:

[code]

[2022-10-16 22:04] Limess commented on #6367
Once again, this turned into errors when leaving the metadata table enabled:

![Screenshot 2022-10-16 at 23-03-44 delta-streamer-articles_hudi_copy_on_write - Details for Stage 7 (Attempt 0)](https://user-images.githubusercontent.com/3199181/196060454-85e8db0e-189d-4a29-b662-ceb286d1de4e.png)

[stderr2.gz](https://github.com/apache/hudi/files/9795771/stderr2.gz)
[stderr.gz](https://github.com/apac

[2022-10-17 01:38] Zouxxyy commented on #6931
Sorry, I don't know much about flink

[2022-10-17 02:06] eric9204 opened #6964 "[SUPPORT] Error in querying hudi table stored in orc format with hive,Index is not populated for 10 (state=,code=0)"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-10-17 02:54] eric9204 opened #6965 "[SUPPORT]Data can be found in the latest partition of hudi table, but not in the historical partition."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Data can be found in the

[2022-10-17 03:11] eric9204 opened #6966 "[SUPPORT]HoodieWriteHandle: Error writing record HoodieRecord{key=HoodieKey { recordKey=id308723 partitionPath=202210141643}, currentLocation='null', newLocation='null'}"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Spark write to hudi, Erro

[2022-10-17 04:44] danny0405 commented on #5871
We may need some fix for the null value metadata values.

[2022-10-17 05:01] vingov commented on #6259
@nsivabalan is correct, we needed a write-audit-publish pattern for building our lakehouse for derived datasets at Uber, as part of the effort, the Uber Hudi team developed pre-commit validation support for Hudi.

[2022-10-17 05:29] duanyongvictory opened #6967 "[SUPPORT]prestodb read hudi incorretly after ddl by spark"
spark 3.2.2
hudi 0.11.1
prestodb 0.274
hive 2.3.5

the following step could recreate the bad read:

these are done by spark:
set hoodie.schema.on.read.enable=true;
create table p1011 (
id string,
f1 string,
f2 string,
ts bigint
) using hudi
tblproperties (
type = 'mor',
primaryKey = 'id',
preCombineField = 'ts',
'parquet.column.index.access'='true'
);

insert into p1011 select '01','f1_v','f2_v',1

[2022-10-17 06:09] koochiswathiTR commented on #6881
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABVcAAAH/CAYAAABTp+0ZAAAgAElEQVR4Aey9B3Qcx5ntr3Pee/Imr9/auw7PVvJ6k9f/3bXXtkhJVM45UJnKllaURIo5SqIpKlPBViAlihSVAynmnMUEUhJzzmACQRIAASLn+z+3gG9Q09MzGASCGPD2OYMe9FRX+NXtnu47X1edtGvPAYS/MuJsj5c+lbarbeF93tr7UP2mfmttGpUmpcnWpMm2qse22K622CYeC2pXap0T22J/tcU26dhKreOqrfaXjq3U0qH6K3X6S32VOn11AIezc1FZVYWw5SRrSPreA9i1u/YV13BtTTeRyddFbUuelemhNazVb+q31qBDvw7S

[2022-10-17 06:34] boneanxs commented on #6938
@yihua Yea, Identifying replaced file groups might be time consuming, we have to list affected partitions to build `FileSystemView` to get replaced file groups. I'm thinking If using `HoodieMetadataFileSystemView` in the end, the time cost of listing operation can be reduced a lot, besides, one replace operation usually doesn't contain many partitions, so maybe the time spent here can be acceptabl

[2022-10-17 08:17] koochiswathiTR commented on #6881
Also after enabling metadata , we see drastic change in performance,
We would like to disable again
Will we see any issue if we disable metadata?
Note : The partitions are 2000 and data is huge
@yihua @nsivabalan @xushiyan

[2022-10-17 11:30] Archie-selfless commented on #6572
@yihua I'm really sorry for replying the current issue so late! With the help of my colleagues, I completed the Hive-sync by accessing S3 protocol. I think it's because the org.apache.hudi.hive.HiveSyncTool always fetch the s3\s3a as protocol. My current core-site.xml is here:

[code]

**Main Summary**: org.apache.hudi.hive.HiveSyncTool always fetch the s3\s3a as protocol.(Based Hudi-0.12.0)

[2022-10-17 14:25] xiaoshao opened #6969 "[SUPPORT] does hudi do the same in MOR and COW table?"
**To Reproduce**

Steps to reproduce the behavior:

1.  spark version:  spark-3.2.2-bin-hadoop3.2
2.  hive version apache-hive-3.1.3-bin
3.  OS: mac
4.  start spark sql as  `./spark-sql --jars ../../hudi-spark3-bundle_2.12-0.11.1.jar \
--conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer' \
--conf 'spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension' \
--conf

[2022-10-17 19:16] ft-bazookanu opened #6970 "[SUPPORT] Performance of Snapshot Exporter"
Increasing spark.executor.memory or spark.executor.cores _worsens_ performance of HUDI Exporter

**To Reproduce**

Steps to reproduce the behavior:

1. Run the HUDI exporter varying spark.executor.instances, spark.executor.memory and spark.executor.cores
![image](https://user-images.githubusercontent.com/107943394/196262534-60be19aa-b161-4382-a920-fe0886311377.png)

**Expected behavior**
1. Perfor

[2022-10-17 20:42] Kitsula commented on #6137
Facing the same issue with Databricks on Azure.

Databricks cluster: 10.4 LTS (includes Apache Spark 3.2.1, Scala 2.12)
Hudi bundle: org.apache.hudi:hudi-spark3.2-bundle_2.12:0.12.0

Also tried
Databricks cluster: 11.2 (includes Apache Spark 3.3.0, Scala 2.12)
Hudi bundle: org.apache.hudi:hudi-spark3.3-bundle_2.12:0.12.0

Error in SQL statement: ExecutionError: java.lang.NoSuchMethodError: org.apa

[2022-10-18 02:45] xiarixiaoyao commented on #6967
@duanyongvictory  Which connector did you use， hudi connector or hive connector.
currently， presto not support read hudi table which has done schema evolution.
But don't worry. The relevant PR will be raised this week

[2022-10-18 03:45] #6530 closed

[2022-10-18 07:30] fengjian428 commented on #6969
When using spark, the default behavior is to write new insert records into parquet files and write update records into delta-log.  If you want to write new insert records into a log, should use Bucket Index(above 0.12) or Hbase index

[2022-10-18 08:03] Guanpx opened #6984 "[SUPPORT] hudi metrics with flink so little"
**Hudi Metrics too little**

expose hudi metrics are so little

**To Reproduce**

Steps to reproduce the behavior:

**some metrics config**
'write.operation' = 'insert',
'write.task.max.size' = '2048',
'hoodie.metrics.on'='true',
'hoodie.metrics.executor.enable'='true',
'hoodie.metrics.reporter.metricsname.prefix'='hudi_append',
'hoodie.metrics.reporter.type'='PROMETHEUS_PUSHGATEWAY',
'hoodie.metr

[2022-10-18 08:09] fengjian428 commented on #6966
how do you insert your data?  is there any schema change?

[2022-10-18 09:11] eric9204 commented on #6966
@fengjian428 the schema of table has not changed,only this parameter is added `hoodie.datasource.write.drop.partition.columns=true`
Without this parameter, the program runs normally.

[2022-10-18 10:35] koochiswathiTR commented on #6881
@yihua @nsivabalan @xushiyan Any udpate?
Our prod spark streaming job is taking long time.

[2022-10-18 13:23] mikeashley87 commented on #6819
@codope  bump

[2022-10-18 22:40] nsivabalan commented on #6966
I don't think this config is supported across all flows. is this happening for an existing table (i.e. you had few commits with default value for this config and later you explicitly set to true)? or are you seeing this even for new table altogether?

[2022-10-18 22:50] nsivabalan commented on #6965
@xiarixiaoyao : can you take this up. its regarding bucket index.

[2022-10-18 23:36] nsivabalan commented on #6965
on a high level, if its partitioned dataset w/ regular index, hudi does not ensure uniqueness of record keys across partitions. A pair of partition path and record key is guaranteed to be unqiue.
wrt bucket index, if you haven't changed the key configs (record key, partition path, key gen class), I don't expect any issues. but will let @xiarixiaoyao assist further.

[2022-10-18 23:43] nsivabalan commented on #6953
thanks for the ask. Looks like a good enchancement to have. I have filed a tracking ticket here https://issues.apache.org/jira/browse/HUDI-5053
If you see latency hit due to clean planning phase, you can consider increasing the value for https://hudi.apache.org/docs/configurations/#hoodiecleanmaxcommits

[2022-10-18 23:43] #6953 closed

[2022-10-18 23:47] nsivabalan commented on #6943
I remember you telling me that you had 500+ columns. Its known that you could see a perf hit w/ such large columns and since hudi builds col stats index for all columns.

Suggestion here is to disable col stats and re-build w/ just a few cols.
Step1:
you can disable col stats fully hoodie.metadata.index.column.stats.enable = false. So during your next write, hudi will clean up entire col stats par

[2022-10-18 23:52] nsivabalan commented on #6942
yes, its not advisable to run just indexer to 0.9.0 table directly.Would recommend upgrading to 0.11.1 or above and enable metadata table + other indexes in metadata table.

we don't have much exp w/ azure storage. but w/ hdfs, we know you could have some class conflicts. We have have a FAQ [here](https://hudi.apache.org/docs/faq#how-can-i-resolve-the-nosuchmethoderror-from-hbase-when-using-hudi-w

[2022-10-19 00:03] nsivabalan commented on #6938
even if not for replace commits, we have some other fundamental issue here.
if you are setting automatic clean = false, then regular writer is never going to trigger clean at all. But still archiver will go ahead and keep archiving timeline files. If you try to clean up way later by a different clean process, it may not find some of the timeline files only (since archiver would have archived), and

[2022-10-19 00:05] nsivabalan commented on #6936
@PhantomHunt : gentle ping.

[2022-10-19 00:06] nsivabalan commented on #6969
yes, new inserts are routed to parquet files. Updates in subsequent commits are logged using log files. So, this behavior is expected.

[2022-10-19 00:47] tooptoop4 commented on #107
did u solve @DSouzaM ?

[2022-10-19 01:45] eric9204 commented on #6966
@nsivabalan This is a new hudi table,no existing data.

All `deltacommit` after the first successful `compaction` will fail because of the above-mentioned error

[2022-10-19 01:46] nsivabalan commented on #6914
@gubinjie : gentle ping.

[2022-10-19 01:47] nsivabalan commented on #6907
@sknukala : let us know if you see any inconsistencies. and may be provide a reproducible script if feasible.

[2022-10-19 01:49] nsivabalan commented on #6903
@maheshguptags :  whats the stacktrace you see w/o --mode?

[2022-10-19 02:36] nsivabalan commented on #6903
found time to reproduce.
we need to do it in 2 commands.
1: schedule
2: execute

sample commands I used
1. to schedule
[code]

configs of interest
[code]

2. to execute
[code]

[2022-10-19 02:36] nsivabalan commented on #6903
I used 0.10.1 for above.

[2022-10-19 05:23] koochiswathiTR commented on #6881
@yihua @nsivabalan @xushiyan

[2022-10-19 05:24] nsivabalan commented on #6819
hey @mikeashley87 : is it possible to give us a reproducible scripts. We have some integration tests running w/ ECS and EKS, w/ diff spark versions and we have never hit this.

[2022-10-19 05:26] nsivabalan commented on #6819
oh my bad. we are running only spark3 in S3. for spark2, looks like we were running our integ tests w/ hdfs storage.
if I am not wrong, we could not locate the right version of hadoop-aws jar and aws-java-sdk-bundle jar to be used with open source spark2 in EMR. Do you happened to know this by any chance.

[2022-10-19 05:42] nsivabalan commented on #6869
@gtwuser : any updates on this.

[2022-10-19 05:45] nsivabalan commented on #6866
let me first try to answer your original question.
you may find the data under s3://data/region=TEST/year=2022/month=09/day=24 for eg. but if you do snapshot query for hudi table, you may not find any data from the deleted partitions. Physical deletion is lazy which cleaner will take up later and hence  if you directly do fs.list, you will find data under deleted partitions.

So, this behavior is

[2022-10-19 05:47] nsivabalan commented on #6866
for wild card ask, I can find a jira requesting this feature. for now, you can probably query hudi to fetch few records in each of those partitions (to be deleted) and then pass the dataframe to write to hudi with DELETE_PARTITION operation. that should unblock you as of now.

[2022-10-19 05:50] nsivabalan commented on #6866
https://issues.apache.org/jira/browse/HUDI-5056

[2022-10-19 05:51] nsivabalan commented on #6866
and btw, general advise on your partitioning strategy. Try to keep the cardinality of total partitions to 10k or less. If not, you might have lot of bottlenecks around it. I see you are doing hour based partitioning. Even for 1 year of data, it comes to ~9k partitions. So, would be good to think of a diff strategy or use day based strategy.

[2022-10-19 06:00] INRIX-Trang-Nguyen commented on #6866
Thanks for the response and the JIRA!
For now as a workaround, we are fetching all distinct partitions from _hoodie_partition_path and then invoking the delete_partition operation on the result of this query:

sparkSession.sqlContext.read.format("parquet")
          .load("s3://bucket/.../year=2022/month=10/day=05/*/*/*")
          .select("_hoodie_partition_path").distinct.rdd.map(r => r.getStrin

[2022-10-19 08:53] eric9204 commented on #6966
@fengjian428 I wrote hudi table with spark structured streaming, every deltacommit after the first compaction will be rollback because of the above-mentioned error.

[2022-10-19 09:44] Shubham21k commented on #6611
@codope I tried the patch attached by you. but faced the same issue.

[2022-10-19 11:30] sknukala commented on #6907
@yihua @nsivabalan : As you pointed, hudi is handling changes as it uses string comparison. However, this change is affecting places where _hudi_commit_column is casted to timestamp format. Ex: scripts loading incremental data to database using _hoodie_commit_time

[2022-10-19 11:48] xiarixiaoyao commented on #6965
@eric9204
Whether there are files generated in partition 202210171021 ？

[2022-10-19 11:58] eric9204 commented on #6965
@xiarixiaoyao yes, several parquet format files were generated in partition 202210171021, the same as other's partitions.

![image](https://user-images.githubusercontent.com/90449228/196684344-7fc9105c-4867-4eea-ab06-b2a82c51a242.png)

[2022-10-19 12:42] keumtae-kim opened #7002 "[SUPPORT] Lost data in structured streaming"
**Environment Description**
* Hudi version : 0.12
* Spark version : 3.1.2
* Hadoop version : 3.1.0
* Storage (HDFS/S3/GCS..) : HDFS

I am testing whether the hudi can cause data loss.
so i tried to kill the spark application when the "Doing partition and writing data" was   in progress in structured streaming.

After killing the application, I looked at the checkpoint directory
The commit file in

[2022-10-19 17:00] nsivabalan commented on #6942
let us know if you run into issues after upgrade. we can dig deeper.

[2022-10-19 17:17] nsivabalan commented on #6747
here is my inference so far.

to run deltastreamer, you just need hudi-utilities-bundle. spark-bundle in addition is not required.

[code]

From your command, looks like you are adding spark bundle via --packages and both spark and utilties. can you remove pulling in spark bundles. and wrt utilities, try to pull in just once. also, you don't even need to pull in via --packages. bcoz, spark-submit

[2022-10-19 17:18] nsivabalan commented on #6747
and w/ hudi 0.12, you don't need spark-avro at all. so you can ignore that as well.

[2022-10-19 17:19] nsivabalan commented on #5582
@vicuna96 : did you get a chance to try out that patch. if the issue is resolved, can we close out the github issue.

[2022-10-19 17:33] nsivabalan commented on #6900
this is similar to another issue I have debugged recently. As of now, you can't disable auto clean and thats a limitation.

If you disable auto clean, cleaning is essentially not happening. But archival assumes that cleaning is enabled and makes progress. And it will result in dangling data files where timeline files are archived, but data files are left dangling since the cleaner could not run.

[2022-10-19 17:34] nsivabalan commented on #6900
and yes, if you using a diff process to do compaction and cleaning, you need to configure lock provider for sure. If not, you might end up with exceptions.

[2022-10-19 17:37] nsivabalan commented on #6900
Another suggestion is. if you feel having cleaner inline is causing some perf hit, you can relax cleaner to run only once in every N commits, using `hoodie.clean.max.commits`. What this config means is, even to attempt whether something needs to be cleaned, will happen once every N where hoodie.clean.max.commits=N.

Do not confuse this w/ `hoodie.cleaner.commits.retained`. Let say you se hoodie.cl

[2022-10-19 17:37] nsivabalan commented on #6900
Hope that helps.

[2022-10-19 17:45] nsivabalan commented on #6925
@gtwuser : gentle ping.

[2022-10-19 17:51] nsivabalan commented on #6925
oh btw, one issue I see w/ you configs is, you are not setting the configs properly for multi-writer.
https://hudi.apache.org/docs/concurrency_control#enabling-multi-writing
[code]

you were setting the last one, but not the first one.

Also, can you first try out using just 1 thread along w/ setting above configs. we can go from there if basic set up is not working.

[2022-10-19 17:53] nsivabalan commented on #6925
and something to keep in mind. if you are spinning up 200 concurrent workers, some are bound to fail if there are overlapping commits and due to timeout not able to acquire locks since there are 200 concurrent writers. you may have to increase some of the lock configs like retries, lock timeouts etc.

[2022-10-19 18:02] functicons opened #7004 "[SUPPORT] Better packaging for hudi-cli with hudi-cli-bundle.jar"
**Describe the problem you faced**

Currently there does seem to be any packaging for hudi-cli. According to this [doc](https://hudi.apache.org/docs/cli), to use `hudi-cli.sh`, users need to clone the source code and build it with Maven. Even worse, the build result has lots of dependency jars in to the `target/lib` dir. This is not so user-friendly and hard to distribute.

**To Reproduce**

N/A

[2022-10-19 18:58] gtwuser commented on #6869
@nsivabalan sorry been caught up all this week on another task, will test and update you by end of this week for sure.

[2022-10-19 19:00] gtwuser commented on #6925
Sure @nsivabalan will test this as well and get back to you asap.

[2022-10-19 20:01] mikeashley87 commented on #6819
grabbed the glue 2.0 docker image - also had trouble tracking it down.

`aws-java-sdk-1.12.128.jar`
`hadoop-aws-2.8.5.jar`

https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-etl-libraries.html

for reference on their glue docker images.

currently those jars are located here `/home/glue_user/aws-glue-libs/jars`

[2022-10-19 20:25] hussein-awala commented on #6953
thank you! yes for the `CLEAN_MAX_COMMITS` we already use 24 to work around this problem.
can you please assign the ticket to [me](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=hussein-awala), I will submit a PR this weekend

[2022-10-19 22:33] rahil-c commented on #6747
The `/usr/lib/hudi/hudi-utilities-bundle.jar` is needed, And the `spark-avro` jar is required if your running any hudi release under 0.11.0 (if you are on 0.11.0 or above you can omit this jar). Finally you can get rid of spark-bundle since delta streamer is from utilities.

Here is a basic example
[code]

[2022-10-20 02:46] eshu commented on #6692
@xushiyan Thank you!

[2022-10-20 03:05] #6914 closed

[2022-10-20 05:59] 15663671003 opened #7010 "[SUPPORT]org.apache.hudi.utilities.HoodieCleaner cleanup, but spark-submit don't quit"
use org.apache.hudi.utilities.hoodieCleaner realize asynchronous cleaning, after the completion of the spark-submit don't quit, need  CTRL + c to exit
[code]
**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment Description**

* Hudi version : 0.12.1

* Spark version : 3.2.2

* Hive version : 2.1.1

* Hadoop version : 3.0.0

* Storage (HDFS/S3/GCS..)

[2022-10-20 06:19] eric9204 commented on #6011
this issue has been solved in version hudi-0.12.0, so close this one out.

[2022-10-20 06:19] #6011 closed

[2022-10-20 07:17] #6572 closed

[2022-10-20 10:12] eric9204 commented on #6965
@xiarixiaoyao @nsivabalan
A new discovery：
if the partition table was not compacted, the data of all partitions except the first partition can be queried.
The first partition has only parquet file, and other partitions have both parquet and log files.

[2022-10-20 10:22] ChenShuai1981 opened #7013 "[SUPPORT] java.lang.NoSuchMethodError: org.apache.spark.serializer.KryoSerializer.newKryo()Lorg/apache/hudi/com/esotericsoftware/kryo/Kryo;"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-10-20 17:09] fengjian428 commented on #6966
ok,  can you also try my reproduce case to check if it works in your env?

[2022-10-20 19:01] PhantomHunt commented on #6936
Hi,

Apologies for delayed response.

Since the table contains my organization's sensitive information, I can
only share the schema of the table.

Postgresql create table script:

CREATE TABLE IF NOT EXISTS myschema."VODProgramme"
(
    "VODSRID" bigint,
    "ProgramVODSRID" bigint,
    "SeasonVODSRID" bigint,
    "ProgrammeId" character varying(400) COLLATE pg_catalog."default",
    "ProgrammeNam

[2022-10-20 21:35] pavimotorq opened #7015 "[SUPPORT] - BaseSparkCommitActionExecutor: Error upserting bucketType UPDATE for partition :0 org.apache.hudi.exception.HoodieAppendException: Failed while appending records to"
**Describe the problem you faced**

I'm trying to read a file containing around 200K records in json format, partition it based on a field "purpose" and store in the local HDFS cluster. But it's always failing with the following error but it works if I specify it to be a non-HDFS location.

Error logs:
[code]

**To Reproduce**

[code]

**Expected behavior**

No errors while writing. Weirdly I can

[2022-10-20 23:06] umehrot2 commented on #6900
Latest stack trace, when using structured streaming with the following properties:
[code]

Stacktrace:
[code]

[2022-10-21 03:37] yhyyz commented on #6900
@nsivabalan  Thanks for you help.
1.  using structured streaming multiple stream query instead of `forEachBatch` and  with the following properties. Application running for 19 hours without any errors.  But if set `hoodie.embed.timeline.server=true`, error occurred `UpsertPartitioner: Error trying to compute average bytes/record，... Caused by: java.io.FileNotFoundException: No such file or directo

[2022-10-21 04:00] nsivabalan commented on #6900
we might need to inspect the timeline to see whats happening. may be metadata table is corrupt. we might need to inspect that.

Can you run our validation tool against your table and let us know what you see.

https://github.com/apache/hudi/blob/master/hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieMetadataTableValidator.java

enable all these
`--validate-latest-file-slices`: validat

[2022-10-21 04:02] nsivabalan commented on #7004
yes, we have it in our plans.
https://issues.apache.org/jira/browse/HUDI-4666
CC @rahil-c

[2022-10-21 04:03] nsivabalan commented on #7004
thanks for the ask. Will see how we can prioritize this.

[2022-10-21 04:03] #7004 closed

[2022-10-21 04:05] nsivabalan commented on #7002
https://hudi.apache.org/docs/configurations/#hoodiedatasourcewritestreamingignorefailedbatch
you may need to set this config to false.
We have made the default value to false in 0.12.1. but until 0.12.0, default value is true. hence there are chances of data loss.

Let us know if you still see data loss. we can definitely dig deeper.

[2022-10-21 04:11] nsivabalan commented on #6984
we do expose lot of metrics. not sure, what exactly are you looking for. For instance, you see should below set of metrics.
for regular commits:
[code]
commitTime, duration, commitLatencyInMs.
Just that these are not categorized based on operation type.

@bhasudha : we should add a new page listing out all metrics exposed by hudi.

[2022-10-21 05:05] nsivabalan commented on #6970
can you try setting partitioner
`--output-partitioner`
this should help improve performance.

also, are you setting ay value for `--output-partition-field` ?

[2022-10-21 05:31] nsivabalan commented on #6966
I will let @fengjian428 follow up. but curious to know why are you setting max delta commits config value to 0. You might as well switch to using COW. but w/ spark structured streaming using MOR table, its not recommended to have very aggressive compaction.

[2022-10-21 05:34] nsivabalan commented on #6964
I don't think our ORC works w/ spark3.X. we are looking to fix it, but as of now, it has some gaps.

[2022-10-21 05:34] nsivabalan commented on #6964
https://issues.apache.org/jira/browse/HUDI-4496

[2022-10-21 05:37] nsivabalan commented on #7013
@xushiyan : you are fixing some kryo related bundling issue right. Is this related ?

[2022-10-21 05:40] nsivabalan commented on #7015
I don't have much expertise running hdfs in prod. @n3nash @suryaprasanna : Can you folks assist here.
looks like data node unavailable or connectivity issue. But is there any pointers to assist the user.

[2022-10-21 05:44] nsivabalan commented on #7010
sure, will look into it.
https://issues.apache.org/jira/browse/HUDI-5065
thanks for reporting.

[2022-10-21 05:44] #7010 closed

[2022-10-21 06:33] xiaoshao commented on #6969
@nsivabalan  but the new parquet files includes all the records. it is expected?

[2022-10-21 06:35] xiaoshao commented on #6969
got it. I will try to create a hudi table with bucket index under hudi 0.12. thx for your help.

You mean

[2022-10-21 08:36] Guanpx commented on #6984
appreciate your help，but I can not  see  that metrics in my PROMETHEUS, should I turn the **Flink metrics ON**  or change my hudi config ?

[2022-10-21 08:43] eric9204 commented on #6966
@fengjian428 issue #6128 recurs and was not be solved, cannot reproduce your case in my env

[2022-10-21 09:53] boneanxs commented on #6938
Yea, make sense, currently we still enable automatic clean, and don't use `KEEP_LASTEST_VERSION` (avoid the potential driver memory issue).

I'll close the issue since there is a follow up ticket.
Thanks you all

[2022-10-21 09:53] #6938 closed

[2022-10-21 10:36] xushiyan commented on #7013
exactly this will be fixed by https://github.com/apache/hudi/pull/7014

[2022-10-21 10:36] #7013 closed

[2022-10-21 12:23] eric9204 commented on #6966
@fengjian428 I have solved this issue #6128.
I have tested your reproduced case in my env。The same with you, spark sql commands work fine, and the result did not reproduce the problem that I found with spark structured streaming.

[2022-10-21 15:31] nsivabalan commented on #6819
using the aws jars that you have listed above, I am running into other issues w/ EMR and open source spark.
so, have to try out w/ glue only.
may I know the link to docker image for glue for 2.0?
from teh docs, for 3.0 its amazon/aws-glue-libs:glue_libs_3.0.0_image_01.

btw, I can do a pointed fix that you are encountering. but have a hunch there could be other places where we might have such issu

[2022-10-21 16:03] yhyyz commented on #6900
using the following command,  the log file:  https://dxs9dnjebzm6y.cloudfront.net/tmp/metadata-table-validator.log
[code]

[2022-10-21 16:04] mikeashley87 commented on #6819
@nsivabalan  this is the docker image for 2.0

amazon/aws-glue-libs:glue_libs_2.0.0_image_01

[2022-10-21 22:00] nsivabalan commented on #6984
@yuzhaojing @danny0405 : can you assist w/ flink metrics please.

[2022-10-21 22:01] nsivabalan commented on #6969
thanks!

[2022-10-21 22:01] #6969 closed

[2022-10-21 22:06] nsivabalan commented on #6942
I took another look at the stacktrace. looks like there could be some conflicting jars in classpath. here is the core stacktrace
[code]
this class if from hudi. So, unless you have two diff hudi jars in your classpath, you should be seeing this issue.

[2022-10-21 22:08] nsivabalan commented on #6942
[code]

either of hudi-utilities or hudi-spark bundle is good enough. you don't need both

[2022-10-21 22:17] nsivabalan commented on #6747
going ahead and closing this one. feel free to reopen or create a new one. would be happy to help.

[2022-10-21 22:18] #6747 closed

[2022-10-21 22:20] nsivabalan commented on #6953
done!

[2022-10-21 22:31] keumtae-kim commented on #7002
After updating to version 0.12.1, the issue was resolved. thank you

[2022-10-21 22:31] #7002 closed

[2022-10-22 00:03] ft-bazookanu commented on #6970
@nsivabalan thanks for the response. `--output-format` is set to `hudi` so `--output-partitioner` is not an option. Is there anything else we can do?

[2022-10-22 01:27] alexeykudinkin commented on #6621
@dik111 please check my updated [comment](https://github.com/apache/hudi/issues/6621#issuecomment-1264012714): can you try remediation that @KnightChess called out (making sure that the versions of Avro used in Flink and Spark are identical)?

In the meantime, i'm going to be putting up a fix to properly handle `Utf8` in Kryo

[2022-10-22 03:35] xiaoshao opened #7025 "[SUPPORT] an ex occurs when updating a mor table in hudi"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

update the record in mor

[2022-10-22 03:37] xiaoshao commented on #7025
start the spark sql as following
[code]

[2022-10-22 05:58] divyavanmahajan commented on #6137
Facing same issue:

| ---- | ---- | ----- | ----- |
| 10.4LTS | org.apache.hudi:hudi-spark3.2-bundle_2.12:0.12.0 | java.lang.NoSuchMethodError: org.apache.spark.sql.execution.datasources.FileStatusCache.putLeafFiles |

[2022-10-22 08:08] Zhangshunyu opened #7031 "[SUPPORT] Why enableVectorizedReader hard coded in BaseFileOnlyRelation?"
Hi team,
we can see the code in BaseFileOnlyRelation
[code]
it is hard coded, is there any reason for this? Thanks!

[2022-10-22 09:14] #7031 closed

[2022-10-22 09:21] Zhangshunyu opened #7032 "[SUPPORT] [The max values are incorrect in hudi metatable dataframe] When metatable enabled, some query using index column as filter will get empty result"
When we enable metadata table,   we use "id, t" as stats column and dataskip is enabled, we get some id values from table (both values exist in table) as filter to query details, but we find that some id will get result but some will be empty, the query like following:
select * from table_a where id in ('id001');
select * from table_a where id in ('id002');
both 'id001' and 'id002' exist, but 'id0

[2022-10-22 18:25] nsivabalan commented on #6903
closing the issue. feel free to re-open if you need any more assistance.

[2022-10-22 18:25] #6903 closed

[2022-10-22 18:28] nsivabalan commented on #6907
hmmm, I see. sorry, I can't think of easier route here.
We can add a config to use older format if need be. But if a table already has a mix of both, not sure if we can do anything about it rather than fixing on the consumer end.

Also, we usually don't have any backporting fixes. i.e. even if we solve the issue, we can't port it back to 0.10.1 and other versions > 0.10.1.
sorry about that.

@xush

[2022-10-22 18:30] nsivabalan commented on #6931
hey folks. are we good to close out this issue. or is there any pending issue to be addressed.

[2022-10-22 18:34] nsivabalan commented on #6942
going ahead and closing the issue. feel free to re-open or open a new one if you need further assistance. thanks!

[2022-10-22 18:34] #6942 closed

[2022-10-22 18:35] nsivabalan commented on #6943
synced up a/ author directly via slack. closing the issue.

[2022-10-22 18:35] #6943 closed

[2022-10-22 18:36] nsivabalan commented on #6964
Please follow the jira for updates.
https://github.com/apache/hudi/pull/6227

[2022-10-22 18:36] #6964 closed

[2022-10-22 18:38] nsivabalan commented on #6966
sorry, not sure I understand you. Do you mean to say, issue is resolved w/ resolution given in 6128. or is there any more pending?

[2022-10-22 18:39] #6967 closed

[2022-10-22 18:41] nsivabalan commented on #6970
can you try setting `--output-partition-field`. that should also repartition your data based on this field and will increase your parallelism.

[2022-10-22 18:47] nsivabalan commented on #6900
yeah. looks like metadata table is out of sync w/ data table. you may need to disbale metadata for few commits and then re-enable. I will follow up to see how did we end up in this state.

[2022-10-22 18:51] nsivabalan commented on #6897
@LinMingQiang : does the procedures solve your ask?
If not, we have a duplicate issue going on https://github.com/apache/hudi/issues/6984. will close this one. but do update your concerns on the other issue. thanks!

[2022-10-22 18:51] #6897 closed

[2022-10-22 18:51] nsivabalan commented on #6984
another related issue: https://github.com/apache/hudi/issues/6897

[2022-10-22 18:59] nsivabalan commented on #6881
if you disable metadata, there won't be any issues. atleast you can unblock yourself for now.

[2022-10-22 19:00] nsivabalan commented on #6881
but if feasible, lets save contents of .hoodie just before you plan to disable metadata (bcz, after disabling, hudi will delete the metadata dir). so that we can continue our investigation.

[2022-10-22 19:14] nsivabalan commented on #6881
can you post the entire spark stages UI. the rollback was a misnomer likely. but if you are seeing higher latency for every ingestion, something else is going on.

[2022-10-22 19:15] nsivabalan commented on #6880
As suggested please follow up w/ AWS support team.

[2022-10-22 19:15] #6880 closed

[2022-10-22 19:15] nsivabalan commented on #6869
sure, thanks!

[2022-10-22 19:16] nsivabalan commented on #6866
sounds good. makes sense.

[2022-10-22 19:16] #6866 closed

[2022-10-22 19:21] nsivabalan commented on #6853
seems like a very good idea. Can you send an email to our dev mailing list. may be there could be interested folks who could chime in to assist w/ designing and impl.
CC @danny0405 @YannByron @rmahindra123

I have created a tracking ticket on this end
https://issues.apache.org/jira/browse/HUDI-5073

[2022-10-22 19:21] #6853 closed

[2022-10-22 19:29] nsivabalan commented on #6832
sounds like a good enhacenemtn. have created a jira https://issues.apache.org/jira/browse/HUDI-5074.
one of us will take it up.
thanks!

[2022-10-22 19:29] #6832 closed

[2022-10-22 19:29] nsivabalan commented on #6832
btw, guess its an issue w/ any hive sync in general, not just w/ AWSGlueDataCataglog

[2022-10-22 20:13] nsivabalan commented on #6819
thanks.
https://issues.apache.org/jira/browse/HUDI-5076
https://github.com/apache/hudi/pull/7036

[2022-10-22 20:14] nsivabalan commented on #6819
Let us know if you need any further assistance. closing the github issue since we have a fix arleady.

[2022-10-22 20:14] #6819 closed

[2022-10-22 20:22] nsivabalan commented on #6808
@jonvex : can you follow up on this issue based on your exp w/ local derby.
CC @xushiyan
@schlichtanders : From our exp, no one uses derby in a prod env and hence we don't have much exp on that end. can you help us understand your use-case.

btw, we have a script that we developed recently to test out local derby using a derby client. we developed this flow to test hive sync using spark-bundle.
Yo

[2022-10-22 20:24] nsivabalan commented on #6808
If you are looking to onboard to hudi and running into issues, we can connect via slack as well.
sorry we could not attend to your case earlier.

[2022-10-22 20:25] nsivabalan commented on #6789
once you have the data, feel free to open up a new issue. closing due to inactivity.
thanks!

[2022-10-22 20:25] #6789 closed

[2022-10-22 20:33] nsivabalan commented on #6767
@xushiyan : can you take this up this week.

[2022-10-22 20:35] nsivabalan commented on #6758
hope that clarifies your question. feel free to raise a new issue if you need any more clarificaiton.

[2022-10-22 20:35] #6758 closed

[2022-10-22 20:36] nsivabalan commented on #6723
thanks @xicm for the fix.

@15663671003 : feel free to open a new issue if you need any more clarification.
thanks!

[2022-10-22 20:36] #6723 closed

[2022-10-22 20:37] nsivabalan commented on #6720
thanks for the confirmation.
we do have plans to enhance java write client in a few months. Let us know if you can't use spark and in need of java write client.
will go ahead and close the issue for now.
feel free to open a new issue if you need further assistance.

[2022-10-22 20:37] #6720 closed

[2022-10-22 20:39] nsivabalan commented on #6711
w/ 64 writers, guess the contention is def going to be huge. w/ metadata table, you need to have a lock provider as well. Don't think we can do much here in my understanding. only viable option I can think of is to increase the lock timeouts and retries.
but will let Danny and others speak for flink from their exp.

[2022-10-22 20:47] nsivabalan commented on #6718
cool,
may I know whats your apache id, so that I can assign the ticket to you.
I have tracked my thoughts here as to how we can go about this:
https://issues.apache.org/jira/browse/HUDI-5077

[2022-10-22 20:47] #6718 closed

[2022-10-22 21:46] nsivabalan commented on #6716
probably there is some mis-understanding. any actions in data table will be applied to metadata table. be it commit, delta commit, clustering, insert_overwrite operations, delete_partition, clean, rollback, etc. So, there should not be any issues.

[2022-10-22 22:58] nsivabalan commented on #6716
actually, you are right. we have some bug around this.
https://issues.apache.org/jira/browse/HUDI-5078
will put up a fix shortly.
thanks for bringing it up.

[2022-10-22 22:58] #6716 closed

[2022-10-22 23:21] nsivabalan commented on #6716
https://github.com/apache/hudi/pull/7037

[2022-10-22 23:21] #6692 closed

[2022-10-22 23:21] nsivabalan commented on #6692
feel free to re-open new one if you need further assistance.

[2022-10-22 23:23] nsivabalan commented on #6687
You can enable clustering to increase the file sizes. by default file sizes are of 120MB. but you can try to batch small files into larger ones (500Mb) and so during index lookup, the no of files to be looked up could reduce.

[2022-10-22 23:25] nsivabalan commented on #6644
we have improved our docs around this

When using the DynamoDB-based lock provider, the name of the DynamoDB table acting as the lock table for Hudi is specified by the config hoodie.write.lock.dynamodb.table. This DynamoDB table is automatically created by Hudi, so you don't have to create the table yourself. If you want to use an existing DynamoDB table, make sure that an attribute with the name

[2022-10-22 23:25] #6644 closed

[2022-10-22 23:28] nsivabalan commented on #6618
@danny0405 @yuzhaojing : have you guys seen the exception before. any pointers.

[2022-10-22 23:30] nsivabalan commented on #6606
I have put up a patch to auto retry with spark data source writes incase of conflicts https://github.com/apache/hudi/pull/6854
Hope that helps your case.

[2022-10-22 23:30] #6606 closed

[2022-10-22 23:30] #6584 closed

[2022-10-22 23:35] nsivabalan commented on #6564
yes, its a known issue for now. please use lower case. I have created a jira to see how we can handle this.
https://issues.apache.org/jira/browse/HUDI-5074

[2022-10-22 23:35] #6564 closed

[2022-10-23 04:03] nsivabalan commented on #6679
which version of hudi are you using?
We have a config https://hudi.apache.org/docs/configurations/#hoodiedatasourcewritestreamingignorefailedbatch: when set to true, will ignore failures and will proceed to next batch.
Default value for this was true until 0.12.0.

Can you set the value of this config to false and let us know if you are still facing issues.

[2022-10-23 04:10] nsivabalan commented on #6511
https://github.com/prestodb/presto/pull/18209
the fix is available from hudi 0.12.0.

Let us know if you can try out 0.12.0.

[2022-10-23 04:10] eric9204 commented on #6966
@nsivabalan I mean, I solved this issue `6128` in my env. Besides the solution given in 6128, it also needed some necessary work.
Add parameters `spark.sql.hive.metastore.jars /$path/hive/lib/* ` to `spark.default.conf`, it makes sure that spark can find
class `org.apache.hudi.hadoop.realtime.HoodieParquetRealtimeInputFormat` in `hudi-hadoop-mr-bundle.jar` when spark sql connect to hive standalone

[2022-10-23 04:12] nsivabalan commented on #6640
@yuzhaojing @danny0405 : gentle ping.
@zwj0110 : feel free to close if the issue is resolved.

[2022-10-23 04:15] nsivabalan commented on #6509
@yihua : similar to our [FAQ on metadata usage](https://hudi.apache.org/docs/faq#how-can-i-resolve-the-nosuchmethoderror-from-hbase-when-using-hudi-with-metadata-table-on-hdfs), can we add a FAQ on this end.

[2022-10-23 04:16] nsivabalan commented on #6479
let us know if you would like to contribute for the support.

[2022-10-23 04:16] #6479 closed

[2022-10-23 04:18] nsivabalan commented on #6478
Guess its related to https://github.com/apache/hudi/issues/6621
We are actively working on a fix https://issues.apache.org/jira/browse/HUDI-4959
will go ahead and close out the github issue. feel free to subscript to jira and PR

thanks for raising the issue.

[2022-10-23 04:20] nsivabalan commented on #6441
we have landed partial update feature here https://github.com/apache/hudi/pull/4676
Let us know if you are looking for something else.
If not, feel free to close out the issue.

[2022-10-23 04:36] nsivabalan commented on #6475
not sure I understand you question.
Here is what you can do.

You can read from kinesis using spark structured streaming (eg: https://spark.apache.org/docs/latest/streaming-kinesis-integration.html)
And then write to hudi via streaming sink.

Eg:
[code]
Ref link: https://hudi.apache.org/blog/2021/08/23/async-clustering/#spark-structured-streaming

Here is simple script that I use locally to test s

[2022-10-23 04:37] nsivabalan commented on #6475
oh, you wanna use flink is it. my bad.
@danny0405 @yuzhaojing : can you folks chime in here please.

[2022-10-23 04:39] nsivabalan commented on #6469
@sangeethsasidharan : another ping. if we don't hear back from you, probably we will close the issue due to inactivity in a weeks time. thanks.
let us know if you are looking for assistance.

[2022-10-23 04:40] nsivabalan commented on #6414
https://hudi.apache.org/docs/faq#how-can-i-resolve-the-nosuchmethoderror-from-hbase-when-using-hudi-with-metadata-table-on-hdfs
unfortunately we don't have a ready to use solution yet.
@yihua : correct me if I am wrong.

[2022-10-23 04:40] #6414 closed

[2022-10-23 04:40] nsivabalan commented on #6411
@sufei2009 : gentle ping.

[2022-10-23 04:41] nsivabalan commented on #6411
if we don't hear back in a weeks time, we might close the issue due to inactivity.
thanks!

[2022-10-23 04:56] duanyongvictory commented on #6967
it seems this pr does not work with presto 0.274 version.

[2022-10-23 10:14] dragonH commented on #6832
thanks for the information !

[2022-10-23 13:05] MihawkZoro opened #7040 "[SUPPORT] spark-sql schema_evolution"
**Environment Description**

* Hudi version :
0.11.1
* Spark version :
3.2.2
* Hive version :
2.3.9
* Hadoop version :
2.7.3
* Storage
hdfs

**Describe the problem you faced**

I have a hudi table
[code]
I executed some DML and DDL for test about schema evolution
[code]
then I  searched  column col3 from table  ddl_test_t2
[code]
the result I expect is
[code]
 the actual result was
[code]
<img wid

[2022-10-23 20:27] ft-bazookanu commented on #6970
Please see https://hudi.apache.org/docs/snapshot_exporter/- partitioner configs are ignored when the output format is hudi. Moreover we're using this as a backup and do not want to repartition. I feel my issue is orthogonal to partitioning:
- why does performance _decrease_ on increasing memory/cores per executor?
- why does performance saturate at 16 executors, although the table has far more tha

[2022-10-24 02:08] xiarixiaoyao commented on #6965
@eric9204  i try to reproduce this prolem， but failed，  could you pls provide some dummy data

[2022-10-24 02:41] xiarixiaoyao commented on #7040
@MihawkZoro
Thank you for your test，
 This is really a bug， the final write ‘insert into ddl_test_t2 values('4','col2',4);’ trigger is bug，Fix this bug as soon as possible

[2022-10-24 02:48] eric9204 commented on #6965
@xiarixiaoyao sorry, I don't know what you mean, do you need hoodie parquet file on hdfs?  or like this:
![image](https://user-images.githubusercontent.com/90449228/197438688-3f7e87b0-55fc-4571-a117-a6c048f2cfc5.png)
![image](https://user-images.githubusercontent.com/90449228/197438831-c8db835d-f88a-4712-be1d-66119779cdc7.png)

[2022-10-24 03:00] xiarixiaoyao commented on #7040
rewriteRecordWithNewSchema  deal with rename failed，it should deal with rename first

[2022-10-24 03:15] MihawkZoro commented on #7040
@xiarixiaoyao When will this bug be fixed, we are using this feature, it is urgent

[2022-10-24 03:19] xiarixiaoyao commented on #7040
already fix local， let me  raise a pr
          spark.sql("set hoodie.schema.on.read.enable=true")
          spark.sql("""create table ddl_test_t2 (
                      |  col1 string,
                      |  col2 string,
                      |  col3 string,
                      |  ts bigint
                      |) using hudi
                      |tblproperties (
                      |  ty

[2022-10-24 03:29] xiarixiaoyao commented on #7040
@MihawkZoro  schema evolution for hive and presto（mor table） can be found https://github.com/apache/hudi/pull/6989

[2022-10-24 03:34] MihawkZoro commented on #7040
@xiarixiaoyao Thank you. When will the repaired official spark bundle jar be released?

[2022-10-24 06:20] YannByron commented on #6931
@nsivabalan i think we can close this.
this issue to spark-sql has been explained by @Zouxxyy and @boneanxs , and @Zouxxyy provides a pr https://github.com/apache/hudi/pull/6949 to describe how can work with `hoodie.datasource.write.operation` and `hoodie.merge.allow.duplicate.on.inserts`. If still have issue to flink-sql, better to create a new issue to follow up.

[2022-10-24 06:56] ssandona commented on #7032
We are observing the same behavior with Hudi 0.11.1. In our case we are filtering by a string column containing a timestamp like "202001110858". We obtain different results if enabling or disabling "hoodie.enable.data.skipping".

[2022-10-24 07:05] Zhangshunyu commented on #7032
@alexeykudinkin @yihua @nsivabalan
Could you pls have a look at this problem? Thanks!

[2022-10-24 07:27] xiaokxluoshu opened #7046 "[SUPPORT] hadoop use 3.2.2 ,There are so many java.lang.NoSuchMethodError"
**Environment Description**

* Hudi version : 0.12.0

* Spark version : 2.4

* Flink version: 1.13.6

* Hive version :

* Hadoop version : 3.2.2

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Docker? (yes/no) : NO

**Describe the problem you faced**
We use flink to write hudi and use table.type=cow to write 20 million data and then stop. After 30 minutes, we write again
[code]

I found that the h

[2022-10-24 07:31] xiaokxluoshu commented on #7046
There is one more condition for this exception: response status 500 error occurs when a request is made to hadoop. Everything else will work. FSDataInputStreamWrapper updateInputStreamStatistics can add exception handling.

[2022-10-24 08:29] KnightChess commented on #6679
@nsivabalan thanks reply, I use 0.11.0 version. But we are batch job, not streaming job. Follow the config which you advice in code, I found the execption processing logic in streaming model, I will try to refer it to implement my logic in batch job. thanks
[code]

[2022-10-24 09:14] ChenShuai1981 opened #7047 "[SUPPORT] HoodieFlinkCompactor with NoSuchMethodError: org.apache.hudi.org.apache.avro.specific.SpecificRecordBuilderBase"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-10-24 09:45] Zhangshunyu commented on #7032
yes, we are also using a string column as index col and use it to do filter.

[2022-10-24 11:33] Zhangshunyu commented on #7032
we checked the parquet file minmax, its ok
but the minmax in transposedColStatsDF of hoodiefile index is wrong: it use min as max...

[2022-10-24 11:34] danielfordfc opened #7049 "[SUPPORT] SQLQueryBasedTransformer Not writing transformed parquet data"
We are using Hudi 0.11.0 Hudi Deltastreamer on emr-6.7.0 to read data in from our Confluent Kafka cluster w/ Schema registry , and write it to a Glue Catalog table to be queried through Athena.

Our spark-submit command is as follows:

[code]

and our hudi properties file, that we've been trying to find the correct configuration for,  is as follows:

[code]

We've been commenting and uncommenting

[2022-10-24 12:14] sknukala commented on #6907
@nsivabalan : Adding a config to current hudi version 0.12 and future versions would help. Please let me know

[2022-10-24 12:38] Zhangshunyu commented on #7032
@alexeykudinkin

[2022-10-24 12:42] Zhangshunyu commented on #7032
![image](https://user-images.githubusercontent.com/13940237/197527861-8369f1e4-209e-4680-a998-24e560cb1003.png)
we print it like this

[2022-10-24 13:16] mikeashley87 commented on #6819
@nsivabalan  I tried using this version - https://mvnrepository.com/artifact/org.apache.hudi/hudi-spark2.4-bundle_2.11/0.12.0

it did not fix the issue. not clear what the link  https://issues.apache.org/jira/browse/HUDI-5076 is suggesting.

[2022-10-24 13:31] mikeashley87 commented on #6819
@nsivabalan  the  version referenced here says hudi 12.2 - I am not seeing it in maven.   is it going to be published there or am I looking in the wrong spot ?

https://mvnrepository.com/artifact/org.apache.hudi/hudi-spark2.4-bundle

[2022-10-24 13:36] YannByron commented on #7025
@xiaoshao For `update` operation, the `preCombineField` is necessary.

[2022-10-24 14:44] hkszn commented on #6718
What is apache id?

[2022-10-24 19:48] alexeykudinkin commented on #7032
@Zhangshunyu do you want to put a PR for the change you've made?

[2022-10-24 22:19] nsivabalan commented on #7046
May be this [FAQ](https://github.com/apache/hudi/issues/7046) could help you.

[2022-10-24 22:52] nsivabalan commented on #7046
Ref: https://github.com/apache/hudi/issues/5765

feel free to re-open is you are still facing issues. thanks!

[2022-10-24 22:52] #7046 closed

[2022-10-24 23:42] alexeykudinkin commented on #6621
Please follow HUDI-4959 for the updates regarding the fix. Closing this one (in favor of the Jira)

[2022-10-24 23:42] #6621 closed

[2022-10-25 00:38] nsivabalan commented on #7032
So, does this impact any MOR table? @alexeykudinkin : we have tests on cols stats index right. may I know how did we miss this. seems basic.

[2022-10-25 00:50] Zhangshunyu commented on #7032
OK, i will raise a PR to fix it.

[2022-10-25 01:42] xiaoshao commented on #7025
thx guy @YannByron. I have tried it, it works fine.

[2022-10-25 03:14] nsivabalan commented on #7025
thanks!

[2022-10-25 03:14] #7025 closed

[2022-10-25 03:15] nsivabalan commented on #6925
sure, thanks!

[2022-10-25 03:16] nsivabalan commented on #6907
@sknukala : is it not possible to fix the consumers to detech whether its sec or ms granularity before casting. bcoz, then you can never upgrade hudi to ms granularity and are essentially stuck.

[2022-10-25 03:20] nsivabalan commented on #7002
cool

[2022-10-25 03:33] nsivabalan commented on #6530
@szknb : sorry, may I know how you got it resolved.

[2022-10-25 03:38] nsivabalan commented on #5915
please give the comprehensive schema evolution a try. please raise a new issue if you need more assistance.

[2022-10-25 03:38] #5915 closed

[2022-10-25 03:39] nsivabalan commented on #5869
Closing this due to no activity. Feel free to open a new issue if you are having any more issues. we can def look into deeply.

[2022-10-25 03:39] nsivabalan commented on #5843
@kasured : gentle ping.

[2022-10-25 03:40] nsivabalan commented on #5836
https://github.com/apache/hudi/pull/6821
closing the issue as the fix is already landed.
feel free to raise a new issue if you are looking for further assistance.

[2022-10-25 03:40] #5836 closed

[2022-10-25 03:40] szknb commented on #6530
The reason is that a customized hudi common jar is used in the Spark environment, and such a section of check logic is added to the hudi jar. :)

[2022-10-25 03:41] nsivabalan commented on #5826
@njalan : gentle ping.

[2022-10-25 03:41] nsivabalan commented on #5826
@minihippo : if you have screenshots and commands, feel free to update here and close out the issue.

[2022-10-25 03:42] nsivabalan commented on #5792
@minihippo @XuQianJin-Stars : can we please follow up here.

[2022-10-25 03:42] nsivabalan commented on #5777
@jiangjiguang : can you please respond. I might need more info so that we can reproduce on our end.

[2022-10-25 03:43] nsivabalan commented on #5735
@fzong76 : gentle ping.

[2022-10-25 03:44] nsivabalan commented on #5735
feel free to close if you got the issue resolved.

[2022-10-25 03:44] nsivabalan commented on #5717
@jdiebold : gentle ping.
if you got the issue resolved, feel free to close the issue.

[2022-10-25 03:45] nsivabalan commented on #5691
Closing due to no activity.

[2022-10-25 03:45] #5691 closed

[2022-10-25 03:45] nsivabalan commented on #5683
@MikeTipico : gentle ping. if you can give us a reproducible script, would be great.

[2022-10-25 03:46] nsivabalan commented on #5582
@vicuna96 : gentle ping.

[2022-10-25 03:47] nsivabalan commented on #5540
@nleena123 : are you still looking for assistance.

[2022-10-25 03:49] #5345 closed

[2022-10-25 03:50] nsivabalan commented on #5211
@kartik18 : gentle ping.
if you got your issue resolved, feel free to close it out.

[2022-10-25 03:52] nsivabalan commented on #5180
yes, its a known limitation as of now, that if there are multiple versions of the same record in same batch, we leverage preCombine api and entire record will be chosen based on precombine value.

But we recently added support for partial update record.
https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/model/PartialUpdateAvroPayload.java

this should assis

[2022-10-25 03:53] nsivabalan commented on #5180
Feel free to open a new issue if you are run into any issue w/ the new partial update payload added.

[2022-10-25 03:53] #5180 closed

[2022-10-25 03:53] kasured commented on #5843
@nsivabalan Sorry for the delay. Ever since we upgraded to 0.11.0 we have not seen this so far. Again the main root cause is the concurrency issue caused by using SimpleDateFormat. Not sure if 0.9.0 can be even used without a backport

[2022-10-25 03:54] nsivabalan commented on #5074
key gen for spark and spark-sql are aligned now. Closing the issue since its fixed.
Feel free to open a new issue if you are looking for further assistance.
or re-open if your ask is different.

[2022-10-25 03:54] #5074 closed

[2022-10-25 03:55] nsivabalan commented on #5036
@pratyakshsharma @jasondavindev : can someone help me to understand the ask better.

[2022-10-25 04:01] nsivabalan commented on #7032
thanks.
closing the issue as we have a fix already.

[2022-10-25 04:01] #7032 closed

[2022-10-25 04:02] eric9204 commented on #6966
[code]

[2022-10-25 05:18] XuQianJin-Stars commented on #6400
hi @KnightChess can you add a isuse to fix this? Thanks.

[2022-10-25 05:29] sknukala commented on #6907
@nsivabalan : the granularity of seconds just works fine for us. Having a config can help users control the timestamp format or if need be to adapt ms, we can plan this activity.

Currently, having a default to ms is blocking migration to hudi 12(as we need to update all consumers) and we are loosing all performance improvements implemented in recent hudi versions. with the config, upgrade would b

[2022-10-25 08:16] jiangjiguang commented on #5777
@nsivabalan I do not know it,  may be you got the wrong guy ？

[2022-10-25 09:24] xiarixiaoyao commented on #7040
expect 0.13.0

[2022-10-25 10:03] KnightChess opened #7057 "[SUPPORT] [OCC] HoodieException: Error getting all file groups in pending clustering"
env:
hudi 0.11.0
spark 3.2.0
action:
spark sql insert overwrite

Suppose we have a timeline, and have multi writer job with occ
00:01  001.replacecommit.inflight
00:01  001.replacecommit.request
00:10  002.replacecommit.inflight
00:10  002.replacecommit.request
00:10  003.replacecommit.inflight
00:10  003.replacecommit.request

Task execution：
`001 instance` which is product by a history failed ta

[2022-10-25 10:30] adward32135 opened #7058 "[SUPPORT]java.util.concurrent.ExecutionException: java.lang.RuntimeException: java.lang.AssertionError: assertion failed: Required select columns count: 46, Current select columns(including static partition column) count: 45，columns:"
background description：
             T+1 is inserted into the table, the data in the table is not inserted.

 1. flink  create table  ddl
[code]

2.  hive T+1  table  T2

3. Use sparksql to insert data of a certain partition into the hudi table The statement is as follows:

[code]

But the result is:

Caused by: java.sql.SQLException: java.util.concurrent.ExecutionException: java.lang.RuntimeExcep

[2022-10-25 11:57] dongkelun commented on #7058
@adward32135 Hello, can you provide more detailed exception information, and what is your hudi version?

[2022-10-25 12:19] ssandona opened #7059 "[SUPPORT] Metadata table column_stats index not used for range pruning when using a CompositeKey of two columns"
I'm using **Hudi 0.11.1** and noticed an interesting behavior related to meta table column statistics, range pruning and kind of recordkey.

I enabled the columns stats and bloom index filter on the metadata table while writing:

[code]

1. If I use as recordkey a CompositeKey of columns "a,b" (2 string columns) I see on the Spark WebUi both the jobs **loadColumnRangesFromMetaIndex** and **loadCol

[2022-10-25 13:54] nsivabalan commented on #6931
cool, thanks!

[2022-10-25 13:54] #6931 closed

[2022-10-25 16:58] 15663671003 commented on #6315
After triggering compact and clean, incremental queries will lose some data. I understand this phenomenon. I want to know whether the reason for losing this data is archive or clean

[2022-10-25 21:10] navbalaraman opened #7060 "Error when upgrading to hudi 0.12.0 from 0.9.0"
We are using spark 3.1.2 with hudi 0.9.0 in our application and AWS S3 and AWS Glue Catalog to store and expose the data ingested. As part of a source data change where some of the new records are now coming in as null but this column exists in the table schema as it was built based on earlier records which had values against these columns. Based on the some of the issues reported (eg: [HUDI-4276]

[2022-10-25 22:22] HEPBO3AH opened #7062 "[SUPPORT] Appeding to files during UPSERT causes executors to die due to memory issues."
**Describe the problem you faced**

During the run of the upsert, we sometimes have executors die due to the memory issue. This issue usally cannot be resolved over the 4 retries and the entire job fail. Please look at the executor stack trace below.

We tracked this issue down to the `HoodieMergeHandle` class. Please have a look at the `To Reproduce` section for more details.

**To Reproduce**

W

[2022-10-26 02:15] adward32135 commented on #7058
hudi version：0.11.x和0.12.0
detail exception:
connectionId = 73bb34bf-8f57-4bc0-a1c6-69788b23da1a, statementId = 0 -> SQLException: java.util.concurrent.ExecutionException: java.lang.RuntimeException: java.lang.AssertionError: assertion failed: Required select columns count: 46, Current select columns(including static partition column) count: 45，columns: (id,cid,shard,productcode,subproductcode,ser

[2022-10-26 02:28] eric9204 commented on #6966
https://github.com/apache/hudi/pull/7063

[2022-10-26 02:30] adward32135 commented on #7058
CREATE TABLE T1
(
 ftime           STRING,
    `id`             BIGINT,
    `cid`            INT,
    `shard`          STRING,
    `productCode`    STRING,
    `subProductCode` STRING,
    `serialId`       STRING,
    `uin`            BIGINT  ,
    `appId`          INT,
    `payerUin`       BIGINT  ,
    `payerAppId`     INT,
    `platform`       INT,
    `projectId`      INT,
    `regionId`

[2022-10-26 05:39] ROOBALJINDAL opened #7064 "[SUPPORT] Data ingestion from csv file i.e. CsvDFSSource is working for FilebasedSchemaProvider but not working if schema is provided with SchemaRegistryProvider"
**Describe the problem you faced**

Data ingestion from csv file is working for FilebasedSchemaProvider but not working if schema is provided with SchemaRegistryProvider for the same csv data file.

I have created following simple employee.csv file for testing purpose having following content:

[code]

**Schema: source-flattened.avsc**

[code]

**Spark command used which is working fine:**

[code]

[2022-10-26 05:41] ROOBALJINDAL commented on #7064
@pratyakshsharma @nsivabalan Hi guys, can you check this issue?

[2022-10-26 06:02] dongkelun commented on #7058
@adward32135 Hello, can you provide the table structure in Hive metadata? I suspect 46 fields are stored in the metadata. In addition, what is your Spark version

[2022-10-26 06:55] Tian-ruzhao commented on #6984
I have the same question, how do you push all hudi metrics to pushgetaway?

[2022-10-26 07:12] xicm commented on #6937
Hi, I can fix this bug.

[2022-10-26 07:58] adward32135 commented on #7058
The hive metadata as follows and Spark version is spark3.1
CREATE TABLE T2(
stat_date STRING,
id BIGINT COMMENT '-',
cid BIGINT COMMENT '-',
shard STRING COMMENT '-',
productcode STRING COMMENT '-',
subproductcode STRING COMMENT '-',
serialid STRING COMMENT '',
uin BIGINT COMMENT '-',
appid BIGINT COMMENT '-',
payeruin BIGINT COMMENT '',
payerappid BIGINT COMMENT '-',
platform BIGINT COMMENT '',
p

[2022-10-26 08:03] dongkelun commented on #7058
@dongkelun  Sorry, I didn't make it clear. I want to see the table structure of Table T1

[2022-10-26 09:22] adward32135 commented on #7058
CREATE TABLE T1
(
     ftime           STRING,
    `id`             BIGINT,
    `cid`            INT,
    `shard`          STRING,
    `productCode`    STRING,
    `subProductCode` STRING,
    `serialId`       STRING,
    `uin`            BIGINT  ,
    `appId`          INT,
    `payerUin`       BIGINT  ,
    `payerAppId`     INT,
    `platform`       INT,
    `projectId`      INT,
    `regionId`

[2022-10-26 09:30] shenshengli commented on #6967
hive connector:
  Add support for allowing to match columns between table and partition schemas by names for HUDI tables. This is enabled when configuration property `hive.parquet.use-column-names` or the hive catalog session property `parquet_use_column_names` is set to `true`. By default they are mapped by index.
  Default value: false .Set to `true`,This problem is solved.
hudi connector of pre

[2022-10-26 15:26] Zouxxyy commented on #5792
This problem has been fixed in 0.12.0

[2022-10-26 23:12] namuny commented on #7060
Naming scheme of the hudi-spark-bundle jar has changed since 0.9.0. `hudi-spark3-bundle` now points to Spark 3.2. For Spark 3.1, you'll now need to pull `hudi-spark3.1-bundle`. [Release notes for reference](https://hudi.apache.org/releases/release-0.11.0/#spark-versions-and-bundles)

[2022-10-27 00:20] alexeykudinkin commented on #6137
@zhouhaijia the problem is that we can't fix without knowing what Databricks API actually are. As @yihua already brought up, the reason this exception occurs w/ DBR and doesn't occur w/ OSS Spark is that they have different APIs in DBR, which aren't compatible w/ OSS.

[2022-10-27 00:20] fengjian428 commented on #6966
hi @eric9204  I still cannot reproduce your case by using StructureStreamingTest, could you provide a UT for this case?

[2022-10-27 02:11] navbalaraman commented on #7060
Thanks @namuny I updated the pom reference as below but still getting the same error.

    <dependency>
      <groupId>org.apache.hudi</groupId>
      <artifactId>hudi-spark3.1-bundle_2.12</artifactId>
      <version>0.12.0</version>
    </dependency>

org.apache.spark.sql.adapter.Spark3_1Adapter
java.lang.ClassNotFoundException: org.apache.spark.sql.adapter.Spark3_1Adapter

[2022-10-27 02:26] danny0405 commented on #6984
Yeah, we are pushing forward the metrics integration for flink though, hope we can strength it in release 0.13.0.

[2022-10-27 02:42] waywtdcc opened #7073 "[BUG] Flink batch is written to hudi. When the number of slots is less than write.tasks, it cannot be written"
jira: https://issues.apache.org/jira/browse/HUDI-5100

[2022-10-27 04:02] danny0405 commented on #7073
Hello, why close it then ?

[2022-10-27 04:34] nsivabalan commented on #6907
I discussed w/ few other hudi experts. We feel this has to be addressed at app layer where commit times are casted to timestamp. we don't have plans to support sec level granularity. sorry about that.
let us know if we can help in any other way.

[2022-10-27 04:34] #6907 closed

[2022-10-27 10:12] xushiyan commented on #7049
@danielfordfc to confirm: the hudi 0.11.0 is the one pre-installed on EMR 6.7?

[2022-10-27 10:13] danielfordfc commented on #7049
Yep! https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-670-release.html

[2022-10-27 10:31] xushiyan commented on #6984
@danny0405 is there a jira listing out all the new metrics we planning to add to flink? let's tag it for 0.13.0.

[2022-10-27 10:51] eric9204 commented on #6966
@fengjian428 OK, I will provide a UT.
found a new situation, that if the hudi table is a non-partitioned table, this problem will not occur with structured streaming.

[2022-10-27 13:45] xushiyan commented on #6937
Thanks for taking this up @xicm

[2022-10-27 19:16] pratyakshsharma commented on #7064
Will get back to you tomorrow on this. Bit busy with some stuff.

[2022-10-27 22:39] nsivabalan commented on #7060
is this EMR version of spark or OSS spark ?

[2022-10-28 03:17] mandnhdaiyudfaio opened #7081 "[SUPPORT] optimistic_concurrency_control"
I need to use the concurrent write control function (occ lock) of hudi.
Official documents（ https://hudi.apache.org/docs/concurrency_control ）The demo provided is as follows:

inputDF.write.format("hudi")
.options(getQuickstartWriteConfigs)
.option(PRECOMBINE_FIELD_OPT_KEY, "ts")
.option("hoodie.cleaner.policy.failed.writes", "LAZY")
.option("hoodie.write.concurrency.mode", "optimistic_concurrency

[2022-10-28 04:16] xushiyan commented on #5792
Thanks for confirming. closing this.

[2022-10-28 04:16] #5792 closed

[2022-10-28 10:30] Aload commented on #6618
yes I had the same problem when I was in 0.11

[2022-10-28 10:34] eric9204 commented on #6966
@fengjian428 This case can reproduce above issue
[code]

[2022-10-28 13:52] #4299 closed

[2022-10-28 13:53] nochimow commented on #6811
@ctlgdanielli

[2022-10-29 01:16] nsivabalan commented on #7081
did you set
[code]

[2022-10-29 01:24] #7040 closed

[2022-10-29 02:20] nsivabalan commented on #7049
issue could be that, schema provider could be returning original schema w/o the `test_field" that you are adding as part of the transformer.
If you are can't match the output schema after transformation, then better not set any schema provider. And hudi will infer based on Dataset<Row>'s schema(after transformation).

I tried locally and this query worked out for me.
[code]

[2022-10-29 18:25] xushiyan commented on #6185
this is mostly due to setup and config issue. I've tried the following locally and it worked with latest master version.

[code]

Then run query

[code]

it showed the created table

[code]

will proceed to close this now.

[2022-10-29 18:25] #6185 closed

[2022-10-30 05:22] xushiyan commented on #6128
Thanks for confirming.