[2021-02-03 09:12] kingkongpoon opened #2528 "[SUPPORT] Spark read hudi data from hive (metastore)"
My Spark code ( the data is correct)
[code]
[code]

Hive( the data is correct)
[code]

Spark read hive by metastore( the data is wrong)
[code]
[code]

it seems that all files can be read ??

[2021-02-03 10:36] rajgowtham24 opened #2529 "[SUPPORT] - Hudi Jar update in EMR"
Hi all,

We are using emr 0.6.0 in our organization which includes Hudi 0.5.0 by default. We would like to update Hudi to 0.7.0 in the existing cluster itself. If the list of steps is documented somewhere, can you please point out to that same. TIA!

[2021-02-03 12:39] rubenssoto commented on #2515
@n3nash any idea about how to solve the problem? I'm planing to start migrate Hudi to production in my next sprint :(

[2021-02-03 13:34] nsivabalan commented on #2498
Have filed a jira. Will follow up in the jira. thanks. https://issues.apache.org/jira/browse/HUDI-1578
Closing this for now.

[2021-02-03 14:54] nsivabalan commented on #2408
@umehrot2 : would you mind following up on this issue

[2021-02-03 14:55] nsivabalan commented on #2423
Closing this ticket(PR is landed). if you find any other issues, do let us know. Thanks for helping improve Hudi :)

[2021-02-03 14:55] #2423 closed

[2021-02-03 14:58] nsivabalan commented on #2467
Closing the issue as have a tracking jira. Do open a new issue if you find anything else. As always, thanks for helping improve Hudi :)

[2021-02-03 14:58] #2467 closed

[2021-02-03 15:12] nsivabalan commented on #2508
Sure. I will check it out. But in the mean time, can you(@rubenssoto ) confirm that you are not blocked as such and you were looking to get better performance w/ row writing. but in general, you are fine for now?

[2021-02-03 15:34] rubenssoto commented on #2508
@nsivabalan I only have this problem in one table, so, would be good it works in the future, but for now, it's fine.

thanks for asking, you are the best! :)

[2021-02-03 16:49] nsivabalan commented on #2508
I did ran some local tests w/ array column and things are fine. given below is the schema that I tested locally. Also, from the stack trace, don't think encoders are the issue. but I too don't have much idea as of now. need more time to triage.
@n3nash / @bvaradar : Can you guys spot any issues based on information given buy author.

[code]

[code]

[2021-02-03 16:57] rubenssoto commented on #2508
yeah, is valid, at night, I will test again, only for sure.

[2021-02-03 16:59] nsivabalan commented on #2522
@sleapfish : do you mean to say that, you can't control your source and hence it could fetch unchanged records as well to do upserts to Hudi? And with this, you want to ignore records already in Hudi(matching all values for an incoming row) and upsert only those records that has any changes?
Would you mind going over this.

[2021-02-03 17:06] sleapfish commented on #2522
@nsivabalan That is correct! But maybe if you have control over source but let's say that you do something like extracting data from it with a rolling windows of -3 days. And there is a case where some of the records from -3 days could change, but most of the records wouldn't. I want to commit only changed/new records to target Hudi table.

[2021-02-03 20:07] satishkotha commented on #2509
@zuyanton yes, as i mentioned earlier some changes are needed in query engines. Refer to [this](https://github.com/prestodb/presto/pull/15074) change in presto for example. See [this ticket](https://issues.apache.org/jira/browse/HIVE-21215) for how this is fixed upstream in hive. You likely need to port this change to your hive deployment to make this work.

[2021-02-03 20:17] rubenssoto commented on #2509
@satishkotha could you help me how to explain to aws support which fixes should be applied to athena.

@umehrot2 do you know if anything should be changed on emr?

thank you

[2021-02-03 20:25] satishkotha commented on #2509
@rubenssoto AFAIK, athena is built on top of Presto. So you could ask them to apply above presto change. You can say this is needed for interpreting Parquet INT64 timestamp correctly.

[2021-02-03 22:33] vinothchandar commented on #2515
Okay. For now, you can set a flag that does not fail the commit on archival failures. Let me fish that out for you

[2021-02-03 22:37] vinothchandar commented on #2515
@rubenssoto can you try `hoodie.fail.on.timeline.archiving=false`  to get out of this situation. Its likely a schema issue.

@n3nash did you find any schema changes that can affect this?

[2021-02-03 22:39] rubenssoto commented on #2515
I will try, if you need any information on my side please let me know.

thank you so much

[2021-02-03 22:45] vinothchandar commented on #2515
Its really weird, coz `HoodieCommitMetadata` schema has not changed at all  and you have all .commit/cow stuff
https://github.com/apache/hudi/commits/master/hudi-common/src/main/avro/HoodieCommitMetadata.avsc

So, the key question actually is `21/02/01 08:12:22 ERROR HoodieTimelineArchiveLog: Failed to archive commits, .commit file: 20210201021259.commit.requested`, do we expect the .requested to

[2021-02-03 23:47] rubenssoto commented on #2515
To give you more information:

`21/02/03 23:21:06 INFO S3NativeFileSystem: Opening 's3://dl/courier_api/customer_phone_number_validator/.hoodie/20210203003812.commit.requested' for reading
21/02/03 23:21:06 INFO S3NativeFileSystem: Opening 's3://dl/courier_api/delivery_package/.hoodie/20210203230906.commit' for reading
21/02/03 23:21:06 INFO S3NativeFileSystem: Opening 's3://dl/courier_api/custome

[2021-02-04 03:04] vinothchandar commented on #2515
@rubenssoto I tried to reproduce this locally. the commit.requested file, actually has no content. So its all an empty record that gets  logged.

the conversion from pojo to avro model, seems to explicitly handle the null problem you encountered. Are you sure you are running with 0.7.0. I ask since users have tried to do this at times but end up picking up older jars from EMR

[code]

[2021-02-04 03:10] vinothchandar commented on #2515
I tried to reproduce this based on the same file you gave us. No luck. it's fine. :(

[code]

[2021-02-04 03:19] rubenssoto commented on #2515
Thank you so much for helping me....

my spark submit:
`spark-submit --deploy-mode cluster --conf spark.executor.cores=5 --conf spark.executor.memoryOverhead=2000 --conf spark.executor.memory=32g --conf spark.yarn.maxAppAttempts=1 --conf spark.dynamicAllocation.maxExecutors=4 --conf spark.serializer=org.apache.spark.serializer.KryoSerializer --packages org.apache.spark:spark-avro_2.12:2.4.4,org.ap

[2021-02-04 04:31] rubenssoto commented on #2515
I made a new try...so...
emr-6.2.0
spark 3.0.1

git clone https://github.com/apache/hudi.git && cd hudi

mvn clean package -DskipTests -Dspark3

spark submit:
`spark-submit --deploy-mode cluster --conf spark.executor.cores=5 --conf spark.executor.memoryOverhead=2000 --conf spark.executor.memory=32g --conf spark.yarn.maxAppAttempts=1 --conf spark.dynamicAllocation.maxExecutors=4 --conf spark.serial

[2021-02-04 10:24] Magicbeanbuyer commented on #2529
Hey there,

how we worked around it is by running a [bootstrap action on EMR](https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-bootstrap.html) installing the newest Hudi version. Later if you use `spark-submit`, you just need to pass the path of the downloaded Hudi jar as your application jar like [this](https://spark.apache.org/docs/latest/submitting-applications.html#launching-app

[2021-02-04 15:02] nsivabalan commented on #2284
hey folks, let me try to understand your use-case better. I am not aware of SCD2 and found [this](https://adatis.co.uk/introduction-to-slowly-changing-dimensions-scd-types/) through my friend (google ;) ). I will illustrate w/ an example and let me know if I my understanding is right.

At t1 (C1 commit)
// incoming record
recId | name | .... all cols ... | effective from | effective to
 ----- |---

[2021-02-04 15:14] abhijeetkushe opened #2533 "[SUPPORT] Found in-flight commits after time :20210129225133, please rollback greater commits first"
I am no longer able to write to a hudi table because of the error mentioned in the subject.This happened probably because 2 simultaneous EMRs were running at the sametime.I did terminate one EMR but I keep getting the above error.I also tried to running hudi-cli clean and rollback operations based on https://github.com/apache/hudi/issues/1785 but those are failing as well,I have added the stacktra

[2021-02-04 16:56] rajgowtham24 commented on #2529
Thanks @Magicbeanbuyer - We have tried to execute the job with -package option it work's fine, but when querying the data from hive getting an error. Looks like i have missed to update the dependent jars.

If there is a list which points out the list of jars that needs to be updated, pls let me know. Thanks!

[2021-02-04 17:50] t0il3ts0ap opened #2535 "[SUPPORT] _hoodie_is_deleted not working with custom transformer"
I have a `_deleted` column in my dataset which I am converting to `_hoodie_is_deleted` using a transformer. The change is reflected in metastore and s3 dataset.
 Expected behavior is hard deletion instead of a soft deletion. The row should not show up when making any query.

Attaching code for reference:

Using Hudi version 0.6.0, Spark 2.4.7 built with scala 2.11.12
Relevant fields passed
[code]

[2021-02-04 18:16] andormarkus commented on #2529
Hi @rajgowtham24
Please can you share you submit command and the error message.

[2021-02-04 21:42] vinothchandar commented on #2515
@rubenssoto this is weird.

is your spark from AWS or your own apache spark installation?

[2021-02-04 21:52] rubenssoto commented on #2515
Its emr 6.2, I will try recreate all tables with new version of avro lib...but the problem takes a while to start, is there any way to test faster?

[2021-02-05 00:14] n3nash commented on #2515
@rubenssoto That command seems to be fine. Can you build the entire project without skipping tests and try ?

@vinothchandar From my debugging, since the file is an empty file, and we don't supply default NULL for fields of the extraMetadata map in the avro schema, this NULL pointer can happen. If you look at my diff, I added the default value to the avsc file.
Now that you have tried to reproduce

[2021-02-05 01:58] vinothchandar commented on #2515
@rubenssoto could you try from apache spark installation, just so we can ensure the code getting picked up is 0.8.0-SNAPSHOT
https://dev.to/bytearray/using-your-own-apache-spark-hudi-versions-with-aws-emr-40a0 is a small post I wrote on how I did that.

[2021-02-05 03:25] jiangok2006 opened #2537 "[SUPPORT] delta streamer sql transformer does not work for my kafka data"
Lian Jiang Jan 28th at 7:07 AM
I found that hudi delta streamer has trouble to use transformer. The upstream data from kafka has Timestamp type instead of long type of time field. I cannot change the upstream data and deltastreamer does not support Timestamp type in TimestampBasedKeyGenerator.  So I have to use a transformer to convert the timestamp type. But a transformer makes the delta streamer

[2021-02-05 05:19] youngyangp commented on #2209
怎么解决的

[2021-02-05 07:46] hseagle opened #2538 "[SUPPORT]MOR doesn't work on version 0.7.0"
In the lastest version 0.7.0, MOR does not work. It means the duplicated keys hasn't been merged.

Here is the sample application code

[code]

The final query result is showed in the images.  We can find that the duplicated key haven't been merged.

![image](https://user-images.githubusercontent.com/4279550/107004346-1b5b7c80-67c9-11eb-8117-1fb0ebac9a0a.png)

[2021-02-05 09:15] sleapfish commented on #2284
@nsivabalan You are right.

I just want to add couple of things to this:

- Ideally this should support specifying SCD columns that you want to track
  - For example: data set has row_key, col1 and col2. You want to track changes for col2 only. If the incoming source data set includes existing row_key and only col1 has changed then do simple UPSERT (no history required). But, if col2 has changed t

[2021-02-05 10:09] #2535 closed

[2021-02-05 10:29] t0il3ts0ap commented on #2535
`_hoodie_is_deleted` was string, It has to boolean to make it work.

[2021-02-05 15:36] AnweshaSen commented on #827
"org.apache.spark" %% "spark-core" % "2.4.0" % "provided",
  "org.apache.spark" %% "spark-sql" % "2.4.0" % "provided",
  "org.apache.spark" %% "spark-hive" % "2.4.0" % "provided",
  "org.apache.spark" %% "spark-mllib" % "2.4.0" % "provided",
  "com.databricks" %% "spark-avro" % "4.0.0",
  "org.apache.hudi" %% "hudi-spark" % "0.7.0" % "provided",
  "org.apache.spark" %% "spark-avro" % "2.4.0"

Exce

[2021-02-05 15:50] nsivabalan commented on #2538
probably you are missing to set the input format config. Did you try older versions of Hudi and the issue is only w/ 0.7.0? or the is the first time you are trying out Hudi?

[2021-02-05 16:03] nsivabalan commented on #2537
@bhasudha @vinothchandar : is this the right format for sql query to be used for sql based transformer
[code]
From looking at the code, that's why I could infer. Author is trying out something like "select x,y,z from a"
basically what's the table name to supple in this sql query? And do we have any documentation anywhere on this regard?

[2021-02-05 16:06] nsivabalan commented on #2537
@jiangok2006 : may be in the mean time, you can try out below sql query.
[code]
Also, have you tried delta streamer before and you are running into this issue w/ with this sql transformer or this is the first time you are trying out deltastreamer? we will get some insights into whether we need to look at everything or just the transformer.

[2021-02-05 16:07] nsivabalan commented on #2533
@n3nash @bvaradar : any suggestions on cleaning /repairing Hudi if 2 concurrent jobs have messed up things.

[2021-02-05 16:19] nsivabalan commented on #2528
@bhasudha : do we need to set hive.input.format=org.apache.hudi.hadoop.HoodieParquetInputFormat here? Can you check this issue.

[2021-02-05 16:20] nsivabalan commented on #2527
@umehrot2 : Can you take this up or loop in someone who could assist here.

[2021-02-05 16:29] nsivabalan commented on #2522
Yes, I could think of an option, but you might have to define your own implementation for [HoodieRecordPayload](https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/model/HoodieRecordPayload.java).
basically combineAndGetUpdateValue(oldValue, schema) in HoodieRecordPayload can return Option.empty() by comparing old and new value if they are equal.

[2021-02-05 16:35] nsivabalan commented on #2517
@n3nash : I don't hv much exp w/ hive. Can you take this up or add someone who can help here.

[2021-02-05 18:27] tooptoop4 commented on #2522
would be great if there was predefined generic way without defining your own implementation 💯

[2021-02-05 19:26] rubenssoto commented on #2515
I tried with new avro version, the same problem :(...I will try the patch again.

@vinothchandar I will try your solution like a test. Everybody that uses Hudi on emr has this problem? If I understand right, it was solved on 0.7.0, and you think that I am using 0.6.0 jars.

[2021-02-05 22:14] nsivabalan commented on #2284
I don't think in any code flow we update existing records inplace in hudi as of today. everything is like an append and a newer version of the record. @vinothchandar @bvaradar @n3nash : your thoughts.

[2021-02-05 22:29] nsivabalan commented on #2399
@afeldman1 : gentle ping.

[2021-02-05 22:43] nsivabalan commented on #2265
@umehrot2 : can you respond to this ticket when you get a chance.

[2021-02-06 00:48] vinothchandar commented on #2515
That is my suspicion. @rubenssoto . What gets deployed on EMR is an aws build of Hudi. I just suggested that to rule out any jar mismatch issues

[2021-02-06 02:00] nikspatel03 commented on #1679
I'm also facing the same issue mentioned by @ruztbucket
I'm using EMR 5.31.0 - Hudi 0.6.0 - Hive 2.3.7

[2021-02-06 02:08] rubenssoto commented on #2515
@vinothchandar Im trying, is there anyway to start achieving earlier?

hoodie.keep.min.commits: String = "4",
hoodie.keep.max.commits: String = "6",
hoodie.cleaner.commits.retained: String = "2"

Does Hudi should start achieving after 4 commits?

[2021-02-06 03:34] hseagle commented on #2538
Thank you for your response. I tried to add the input format in spark-defaults.conf. But the duplicated key is still existed.

One more thing, I tested it by using version 0.6.0, the duplicated key was merged.

[2021-02-06 04:08] pengzhiwei2018 commented on #2528
Hi @kingkongpoon @nsivabalan There is issue for this problem. https://github.com/apache/hudi/pull/2283.
Currently the meta synced to the hive  is missing some spark properties which lead to spark trait the hudi table as a hive parquet table. So when there are updates in the table, the data reading by spark sql is wrong.

[2021-02-06 04:34] hseagle commented on #2538
After set  **spark.sql.hive.convertMetastoreParquet=false**, the duplicated key can be removed.

But another issue is encounted, the column with timestamp data type cann't be fetched.  The error message is showed as below

[code]

[2021-02-06 07:19] vinothchandar commented on #2538
@hseagle `spark.sql.hive.convertMetastoreParquet=false` was always required for MOR tables. So not sure what the issue was. Do you mind opening a new support issue for the timestamp thing. (there is also a possibility that something exists already). Closing this one for now

[2021-02-06 07:19] #2538 closed

[2021-02-06 07:33] vinothchandar commented on #2533
if you try rolling back `20210129225133` and then retrying or even that fails? If you don't want to lose `[20210129225133__commit__COMPLETED]`. you can do some sort of easy manual repair, given it s copy on write table.

a) Stop the pipeline
b) delete all files that have `20210129225129` in its name
c) delete `20210129225129__commit__INFLIGHT`

next run should start flowing again

[2021-02-06 07:36] vinothchandar commented on #2529
Actually, I do my own testing using apache spark on EMR. but having this written down somewhere in FAQ or site docs, would certainly help

[2021-02-06 07:40] vinothchandar commented on #2522
We can always add a standard record payload implementation for this. Comparing every column value is also expensive, so what we support is comparing based on a certain field as an ordering value. For e.g if you were to provide a SCN or something to compare the incoming row against the record on disk, then the `DefaultHoodieRecordPayload` could handle that.

@nsivabalan correct me if I am wrong.

[2021-02-06 07:44] vinothchandar commented on #2517
Are you trying to make Hudi working Hive 1.x? Or the 1.2 is the Cloudera version? Can you give us more context on the different hive versions

[2021-02-06 07:47] vinothchandar commented on #2528
@kingkongpoon does this happen even with `spark.sql.hive.convertMetastoreParquet=false` ?

[2021-02-06 07:49] vinothchandar commented on #2509
Thanks for jumping in @satishkotha

[2021-02-06 07:50] vinothchandar commented on #2509
Going back to @zuyanton 's point, that is still from Spark. And are you suggesting that Spark's Hive version needs to also pick up the change? (that sounds painful)

[2021-02-06 07:57] vinothchandar commented on #2463
@rubenssoto the target file size can be configured using tips here https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-HowdoItoavoidcreatingtonsofsmallfiles

[2021-02-06 08:05] vinothchandar commented on #2367
@stackfun we are trying to move off travis to azure with more CI minutes :D. We have built out an integ-test suite which can trigger failures, and rollbacks and what not. Hope to get this running in different cloud providers before the next release. 0.8.0 will stabilize everything hopefully.

@afilipchik and friends typically give us feedback w.r.t gcs. More the merrier.

[2021-02-06 08:14] hseagle opened #2544 "[SUPPORT]failed to read timestamp column in version 0.7.0 even when HIVE_SUPPORT_TIMESTAMP is enabled"
Failed to read timestamp column after the hive sync is enabled

Here is the testing version list

[code]
Here is the test application code snippet

[code]
The final query got failed and the following is the error message
[code]

If read the hudi files directly, the result is correct as expected.

[code]
the result looks like this

[code]

[2021-02-06 14:09] SureshK-T2S commented on #2406
Hello, thank you guys for giving me time with this. I have since had an issue with MultiTableDeltaStreamer, in particular getting it to work with ParquetDFS Data Source. Getting an issue due to the SchemaProvider or lack of one.

Command:
[code]

S3 properties:
[code]

Table1 properties:
[code]

Table2 properties:
[code]

Error:
[code]

Reaching final steps of my setup, really hoping to be able to

[2021-02-06 14:53] abhijeetkushe commented on #2533
@vinothchandar yes I tried rolling back 20210129225133 ..I get the same exception.I had to stop the pipeline as I kept getting the above exception.I will try manually deleting and see if I am able to proceed Thanks

[2021-02-06 16:09] nsivabalan commented on #2448
Guess you might have to fix the max file size. I see currently you set it to very high value. Was that intentional ?
hoodie.parquet.max.file.size -> 125829120,
hoodie.logfile.max.size -> 1073741824

Can you try setting the values as follows:
parquet max file size: 120Mb

@vinothchandar : any recommendation for log file max size?

[2021-02-06 16:24] nsivabalan commented on #2544
@hseagle : few quick questions as we look into the issue.
- Were you running older version of Hudi and encountered this after upgrade? in other words, older Hudi version you were able to run successfully and with 0.7.0 there is a bug.
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

Also,
can you try set

[2021-02-06 16:29] nsivabalan commented on #2513
@GintokiYs :  few quick questions as nishith follows up on your ticket.

- Were you running older version of Hudi and encountered this after upgrade? in other words, older Hudi version you were able to run successfully and with 0.7.0 you hit this issue?
- Is this affecting your production? trying to gauge the severity.
- O are you trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 16:50] nsivabalan commented on #2507
Closing this as we have a tracking ticket https://issues.apache.org/jira/browse/HUDI-1592

[2021-02-06 16:50] #2507 closed

[2021-02-06 16:54] nsivabalan commented on #2490
@lshg : Can you please take a look at this ticket and response when you can?

[2021-02-06 17:00] nsivabalan commented on #2482
@duanyongvictory : would be nice if you can fill in the details in the issue creating template. Would help us triage better. For eg, if you can fill in these, would be nice.

[code]

[2021-02-06 17:12] nsivabalan commented on #2448
@peng-xin : few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this after upgrade? in other words, older Hudi version you were able to run successfully and with 0.7.0 there is a bug.
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 17:14] nsivabalan commented on #2437
@jiangok2006 : few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this after upgrade? in other words, older Hudi version you were able to run successfully and with 0.7.0 there is a bug.
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 17:15] nsivabalan commented on #2409
@wosow : also, few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this after upgrade? in other words, older Hudi version you were able to run successfully and with 0.7.0 there is a bug.
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 17:16] nsivabalan commented on #2408
@jtmzheng : few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this trying to upgrade to a latest version?
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 17:25] nsivabalan commented on #2406
looks like you are required to set "--schemaprovider-class"
[This](https://hudi.apache.org/blog/ingest-multiple-tables-using-hudi/) blog covers multi table transformer w/ example. Might be of help to you.

@pratyakshsharma : can you please follow up on this ticket.

[2021-02-06 17:35] nsivabalan commented on #2338
@so-lazy : Can you please respond to Balaji's comment when you get a chance.
few more questions as we triage the issue.
When you loaded the data to hudi for the first time, did you use bulk-insert of insert operation. Were the configs you used to load the data into hudi first time is same as the ones you have given in description of this issue? If not, would you mind posting those configs as well.

[2021-02-06 17:37] nsivabalan commented on #2331
CC @n3nash. schema evolution related ask.

[2021-02-06 17:39] nsivabalan commented on #2329
Closing this as we can continue discussions in jira or cwiki

[2021-02-06 17:39] #2329 closed

[2021-02-06 17:40] nsivabalan commented on #2285
@n3nash : would you be able to help in here.

[2021-02-06 17:40] nsivabalan commented on #2285
@zherenyu831 : few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this trying to upgrade to a latest version?
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 17:43] nsivabalan commented on #2265
@konradwudkowski : few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this trying to upgrade to a latest version?
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 17:45] jtmzheng commented on #2408
@nsivabalan I have not encountered the issue again after temporarily lowering `hoodie.commits.archival.batch` which cleared out the large commit files being loaded for archival. I believe @umehrot2 identified the right root cause/bug in https://github.com/apache/hudi/issues/2408#issuecomment-758320870 (first one). I think these large commits were generated after I added the option `hoodie.cleaner.

[2021-02-06 18:11] nsivabalan commented on #2255
sorry, I missed to follow up on this. Will take a look in 2 days. if not, will loop in someone else who can help you here.

[2021-02-06 18:11] nsivabalan commented on #2255
@WTa-hash : few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this trying to upgrade to a latest version?
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 18:13] nsivabalan commented on #2255
@umehrot2 : Is there any known issue w/ MOR in AWS EMR. 5.31.0 ?

[2021-02-06 18:16] nsivabalan commented on #2251
@BalaMahesh : sorry for a late follow up. would be nice if you can you post the logs as requested. If not for the logs, not sure how much we can debug further.
If you were able to fix the issue, can you post what was the fix and close out the ticket.

[2021-02-06 18:18] nsivabalan commented on #2251
also, few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this trying to upgrade to a latest version?
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 18:21] nsivabalan commented on #2240
@kpurella : with latest release from hudi (0.7.0) we have improved file listing with metadata table. You can try it out by setting these two configs:
[code]
Also, if you can update the ticket with latest findings, would be great.

[2021-02-06 18:24] nsivabalan commented on #2204
@BalaMahesh :
For Tez, additionally the hive.tez.input.format needs to be set to org.apache.hadoop.hive.ql.io.HiveInputFormat
Ref: https://hudi.apache.org/docs/querying_data.html
Did you already set this config. If not, may be worth giving it a try by setting this config.

[2021-02-06 18:24] #2178 closed

[2021-02-06 18:25] nsivabalan commented on #2123
@jonathanmorais : few quick questions as we triage the issue.
- Were you running older version of Hudi and encountered this trying to upgrade to a latest version?
- Is this affecting your production? trying to gauge the severity.
- Or you are trying out a POC ? and this is the first time trying out Hudi.

[2021-02-06 18:26] nsivabalan commented on #2121
@liujinhui1994 : were you able to fix your schema. Or do you need any more help.

[2021-02-06 18:27] rubenssoto commented on #2515
@vinothchandar and @n3nash I decide to do more tests and I realized that only when I had the option hoodie.datasource.write.row.writer.enable TRUE on the bulk insert I had the problem "Failed to archive commits".

I tried to bootstrap my tables with that option false and the problem stopped.

To be sure if is not an EMR problem I did some tests on my machine and I had the same issue.

To reproduce

[2021-02-06 18:29] nsivabalan commented on #2100
@cdmikechen : would you mind starting a DISCUSS thread as proposed. many might benefit from this.

[2021-02-06 18:34] nsivabalan commented on #2072
https://issues.apache.org/jira/browse/HUDI-1593

[2021-02-06 21:27] WTa-hash commented on #2255
AWS support was able to reproduce this issue with EMR 5.31.0 and Hudi 0.6.0.

I also tried running the same script using Hudi 0.7.0, but experienced the same issue.

We are preparing production release and decided to use COW for now.

@nsivabalan

[2021-02-06 21:50] SureshK-T2S commented on #2406
Thanks for your response. Till now using HoodieDeltaStreamer, I have not had to specify the Schema Provider Class when using ParquetDFS source.

Looking at the Schema Providers [here](https://javadoc.io/doc/org.apache.hudi/hudi-utilities_2.11/latest/index.html), I was thinking NullTargetSchemaRegistryProvider would be good here but I experienced the following error:

[code]

Please let me know if

[2021-02-07 02:04] kingkongpoon commented on #2528
@vinothchandar @pengzhiwei2018
OK, I solve it just like what you say, thank you.

[2021-02-07 02:10] kingkongpoon commented on #2517
My hive version is apache-hive-2.3.5，the apache official version，when I us alibaba's EMR(hive version is also 2.3.5) , it will not happend.

[2021-02-07 03:11] liujinhui1994 commented on #2121
Thank you for your reply. I have tried the instance of array contained in HoodieTestDatagenerator before, but my data is a pure jsonArray, which seems to be different. Later, I transformed myself and solved the problem temporarily. Thanks
@nsivabalan

[2021-02-07 03:44] hseagle commented on #2544
HIVE_SUPPORT_TIMESTAMP is new added option in hudi 0.7.0.

As you can see in the sample app code, we have already turn on this feature during our poc test.

unfortunately,  it doesn't work as the user guide states

[2021-02-07 09:48] umehrot2 commented on #2527
I have created a JIRA to track this feature request: https://issues.apache.org/jira/browse/HUDI-1595. It would require some level of intgeration within hudi to use the serde libraries provided by Glue schema registry, and use the appropriate deserializer to consume the record https://github.com/awslabs/aws-glue-schema-registry/blob/master/README.md. For now you have the option of using confluent s

[2021-02-07 11:02] andormarkus commented on #2527
Hi @umehrot2

Im more than happy to open a feature request with AWS EMR team. We are fully in AWS EMR running on m6g instances. I need some guidance how to do it.
Should I raise here? https://github.com/awslabs/aws-glue-schema-registry/blob/master/README.md
Or should I raise through AWS Support

How the ticket should look like?
AWS EMR support of Glue Schema Registry?

Thanks

[2021-02-08 01:54] robin-su opened #2546 "Whether to provide flink to read the api of hudi, or use flink sql to query hudi?"
Whether to provide flink to read the api of hudi, or use flink sql to query hudi

[2021-02-08 08:01] t0il3ts0ap commented on #2515
@vinothchandar @n3nash
Facing this same error when a delete is happening. I am testing a MOR table.

[2021-02-08 12:57] Umar895 commented on #143
Please add me to the slack group as well hameed.umar.m@gmail.com
Thanks

[2021-02-08 14:05] rubenssoto commented on #2509
Hi, @vinothchandar @satishkotha @zuyanton
Hello, I made some tests with redshift spectrum and athena, with redshift spectrum worked very good, but athena I will attach an image.
<img width="1679" alt="Captura de Tela 2021-02-08 às 11 02 07" src="https://user-images.githubusercontent.com/36298331/107230012-475f4380-69fd-11eb-8ca3-b11b4ad7d9b7.png">

Is there any workaround? I oppened an aws ticket

[2021-02-08 19:20] umehrot2 commented on #2527
Yeah just cut a ticket to AWS Support. You can just mention something like `Glue Schema Registry not supported with Apache Hudi on EMR` and you want to know if and when it will be integrated.

[2021-02-08 20:48] andormarkus commented on #2527
Hi @umehrot2

Thank you for the guidance, I have create Case ID: 7970408051. I hope it lands in good hands.

[2021-02-08 20:54] andormarkus commented on #2498
Hi @nsivabalan

We created MOR Hudi table with Hudi DeltaStreamer [0.7.0].
We have tried to read the table with Pyspark (python) and Spark (scala) as well and in both case we got the above mentioned error.

We created COW Hudi table with DeltaStreamer and we could read the table with Pyspark (python) and Spark (scala).

[2021-02-09 02:46] rubenssoto opened #2555 "[SUPPORT] Trying and Understanding Clustering"
Spark: 3.0.0
EMR: 6.1.0
Hudi: 0.8.0-SNAPSHOT

Bulk Insert Options:
hudi_options_bulk = {
  'hoodie.table.name': tableName,
  'hoodie.datasource.write.recordkey.field': 'id',
  'hoodie.datasource.write.table.name': tableName,
  'hoodie.datasource.write.operation': 'bulk_insert',
  'hoodie.datasource.write.precombine.field': 'LineCreatedTimestamp',
  'hoodie.bulkinsert.shuffle.parallelism': 8,
  'ho

[2021-02-09 03:17] satishkotha commented on #2555
Clustering is implemented using multi-version-concurrency protocol. This means we'll always create new files (to prevent concurrent readers from failing). Older files will be deleted by cleaner process based on configured policy. If you want just one file after clustering, please set "hoodie.clustering.plan.strategy.target.file.max.bytes" and "hoodie.parquet.max.file.size" to a larger value (2GB).

[2021-02-09 06:52] vinothchandar commented on #2406
cc @pratyakshsharma could you please help out in this issue?

[2021-02-09 07:01] vinothchandar commented on #2498
We will keep investigating.

[2021-02-09 09:22] kingkongpoon opened #2557 "[SUPPORT]Container exited with a non-zero exit code 137"
I  run my process with spark on yarn,
the table type I have tried COW and MOR,
When I first run the cow table (SaveMode.Overwrite), it's very fast.(about 700MB data in hdfs)
but when I run an increment(SaveMode.Append), it's very slowly,and throw error
like
[code]
[code]
and my cluster's total memory is about 40GB

I run with this conf
spark-submit --master yarn --driver-memory 4G --executor-memor

[2021-02-09 11:12] nsivabalan commented on #2522
@vinothchandar : yes, sounds good. If we were you use just one column, then we don't need any new payload impl. Existing DefaultHoodieRecordPayload should suffice. If not, have to add a new impl.

[2021-02-09 11:14] caidezhi opened #2558 "[SUPPORT] HoodieJavaWriteClientExample fail with exception"
run org.apache.hudi.examples.java.HoodieJavaWriteClientExample locally, it fail with exception.

system : mac
hudi version:  0.7.0
program args: file:///tmp/hoodie/sample-table hoodie_rt

error log：
`
2496 [qtp1213818572-36] INFO  org.apache.hudi.timeline.service.FileSystemViewHandler  - TimeTakenMillis[Total=47, Refresh=8, handle=39, Check=0], Success=true, Query=partition=2020%2F01%2F02&basepath

[2021-02-09 11:28] nsivabalan commented on #2408
thanks a lot @jtmzheng . Yeah, I have filed two tickets on this end.
https://issues.apache.org/jira/browse/HUDI-1605
https://issues.apache.org/jira/browse/HUDI-1604

[2021-02-09 11:28] #2408 closed

[2021-02-09 11:30] Magicbeanbuyer commented on #2498
Hey @vinothchandar,

we've came across the same issue with reading MERGE_ON_READ table using spark. We consume data from our AWS MSK topic, write the data using `deltastreamer` on AWS EMR, and store the data in an S3 bucket.

Following is our implementation.

### Write data

[code]
The hoodie table is generated in our S3 bucket no problem. However, Error message was thrown when we try to read it u

[2021-02-09 12:53] zherenyu831 commented on #2285
@nsivabalan

We faced the problem by using hudi 0.6.0, didn't tried with hudi 0.7.0

Not actually, because it only happens on reading while competition of huge table.
We using hudi for about one year, before we used read optimized query(since it the only method supported on spark datasource of MOR table before 0.6.0).

[2021-02-09 13:23] rubenssoto commented on #2555
@satishkotha Thank you for your answer.

with KEEP_LATEST_FILE_VERSIONS and hoodie.cleaner.fileversions.retained would work?

[2021-02-09 14:12] abhijeetkushe commented on #2533
@vinothchandar I was able to proceed after deleting the 20210129225129 files from .hoodie folder in s3.But I wanted to know whether anything else needs to be cleaned up ? For example there might have been some versions created for commit time 20210129225129 which i can get from 20210129225129.commit file.Does that need to be cleaned up and if not why ?

[2021-02-09 14:25] nsivabalan commented on #2255
@WTa-hash : I tried to reproduce this w/ quick start utils. I couldn't see the duplicates. But I could reproduce with the test script you gave me just w/ my local spark-shell. So, something to do specifically w/ your use-case(key gen or some config setting). I need to spend more time to find the issue.

https://gist.github.com/nsivabalan/a0b8345f3675c6db431045c511052cfb

[2021-02-09 14:36] caidezhi commented on #2558
PR for this issue : https://github.com/apache/hudi/pull/2560
JIRA : https://issues.apache.org/jira/browse/HUDI-1606

[2021-02-09 15:05] cdmikechen commented on #2544
I think it is still a problem in Hive2. In Hive2, Hive can not identify logical timestamp type.

[2021-02-09 15:30] vinothchandar commented on #2533
actually they need to be cleaned as well.

the hudi cli restore should have been able to do this for you actually, as long as you were okay to lose the later commit. I was planning to investigate why that did not work for e,g

[2021-02-09 15:35] vinothchandar commented on #2498
Folks, this is due to version mismatch between aws spark and apache spark.  Hudi releases are built against apache spark and aws typically follows up with a EMR release.  The problematic access is only on the MOR query, that explains why MOR is problematic, while COW is not.  https://dev.to/bytearray/using-your-own-apache-spark-hudi-versions-with-aws-emr-40a0 if interested on steps.

If one of you

[2021-02-09 15:40] nsivabalan commented on #2528
@kingkongpoon : sorry, do you mean, after setting the config (spark.sql.hive.convertMetastoreParquet=false), issue is resolved? If yes, can we close this ticket then.

[2021-02-09 15:41] vinothchandar commented on #2557
Spark OOMs are hard to guess. Not sure if its directly related to Hudi. have you looked at the tuning guide? gc settings, memory overhead? https://cwiki.apache.org/confluence/display/HUDI/Tuning+Guide

[2021-02-09 15:46] nsivabalan commented on #2121
thanks @liujinhui1994 . Would you mind updating what was the workaround you did on your end. Might help someone in future. Also, once you update this ticket, feel free to close it out.

[2021-02-09 15:48] vinothchandar commented on #2522
or extend `DefaulHoodieRecordPayload`

[2021-02-09 15:48] nsivabalan commented on #2527
Closing this out as we have a AWS ticket open. Please do reach out to us if you have more questions. Thanks for helping improve Hudi for better :)

[2021-02-09 15:49] #2527 closed

[2021-02-09 15:53] vinothchandar commented on #2535
may be some room for docs to be improved?

http://hudi.apache.org/docs/writing_data.html#deletes
could say

`add a boolean column named _hoodie_is_deleted to DataSet. `

[2021-02-09 15:59] andormarkus commented on #2498
@vinothchandar
We are using EMR 6.2.0 which gives you AWS Spark 3.0.1 and the latest Apache Spark release is 3.0.1.
I dont see reason version mismatch from this perspective.

[2021-02-09 16:05] nsivabalan commented on #2285
@vinothchandar @n3nash @bvaradar : One of the customer mentioned that disabling vectorized reader fixed the issue for them. Hope it should be fine? And, do we need to make a note of this in faq or somewhere?

[2021-02-09 17:47] vinothchandar commented on #2515
In summary, this problem happens even locally with row writer enabled?  I asking so I can reproduce this (I cannot understand how row writing and archival is related), but will try.

Please correct me if different conditions are needed to reproduce

[2021-02-09 18:00] vinothchandar commented on #2498
@andormarkus AFAIK aws has its own spark fork. @umehrot2 mentioned on slack IIRC that this is related

[2021-02-09 18:03] rubenssoto commented on #2515
yeah @vinothchandar that's it.
if you have any problem reproducing the problem, please let me know

[2021-02-09 18:42] satishkotha commented on #2555
if hoodie.cleaner.fileversions.retained=1, incremental queries wont work because theres only one version retained. I was just suggesting this as short term workaround until hudi version is upgraded in athena. If you just want to validate clustering functionally. Also, clustering itself doesnt work well with incremental queries. we have work planned to integrate this better HUDI-1468

[2021-02-09 19:09] andormarkus commented on #2498
Thanks @vinothchandar
As soon someone confirms Apache Spark not affected with this issue I can raise an AWS Support ticket.

[2021-02-09 19:38] kpurella commented on #2240
@nsivabalan @bvaradar Thank you . for your support .. Sorry i forgot to update to this thread , we were achieved required Performance with @bvaradar  Suggestions. and we further  improved the Hudi Performance by redesigning our table Structure. With the new table structure we have to store very few records which is taking few min to update 15 mil records.

Thank you for your support. you can close

[2021-02-09 21:26] bvaradar commented on #2546
@robin-su : Can you kindly elaborate the question ?

[2021-02-09 22:38] pavannpa opened #2561 "[SUPPORT] Working on a POC to integrate Hudi with Spark Structured streaming and Hive"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?
- Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Ca

[2021-02-09 22:52] bvaradar commented on #2561
Please take a look at https://github.com/apache/hudi/blob/master/hudi-spark-datasource/hudi-spark/src/test/java/HoodieJavaStreamingApp.java for an example

[2021-02-09 23:20] vinothchandar commented on #2240
great. if you have any stories to share for a blog or tuning guide, that would also help everyone!

[2021-02-09 23:20] #2240 closed

[2021-02-10 12:02] nsivabalan commented on #2255
Have created a jira https://issues.apache.org/jira/browse/HUDI-1608. Will be investigating it further.

[2021-02-10 16:10] nsivabalan commented on #2123
@kimberlyamandalu : were you able to file a support ticket w/ athena? Once done, can you reference a link here.
CC @umehrot2 : fyi, timestamp datatype conversion in hudi to athena has problems. As per satish, we might need a fix in athena. You can read this entire ticket for reference.

[2021-02-10 16:33] nsivabalan commented on #1679
@bvaradar : fyi I have created a sec:critical jira on this https://issues.apache.org/jira/browse/HUDI-1609. Please reduce priority if you feel otherwise.

[2021-02-10 18:16] rubenssoto opened #2563 "[Feature Request] Full Schema Evolution"
Hello,

If have a better place to ask for a feature, please let me know.

https://issues.apache.org/jira/projects/HUDI/issues/HUDI-1540?filter=updatedrecently

I am very impressed with the number of new features that Hudi will have in the future, you are doing a great job, thank you so much!!!

If I am wrong, please correct me, but Hudi today doesn't have full schema evolution, for example, if my

[2021-02-10 18:51] rswagatika opened #2564 "Hoodie clean is not deleting old files"
I am trying to see if hudi clean is triggering and cleaning my files, but however I do not see any action being performed on cleaning the old log files.

**To Reproduce**
1.  I am writing some files to S3 using hudi with below configuration multiple times (4-5 times to see the cleaning triggered.)

**My hudi config**

    `table_name = "demosr"
    hudi_options_prodcode = {
                    'ho

[2021-02-10 19:55] kimberlyamandalu commented on #2123
@nsivabalan I have not filed a support ticket with Athena. I can do it and will reference ticket in here.

[2021-02-10 21:22] kimberlyamandalu commented on #2123
I have raised Case# 7979845961 with AWS support for this.

[2021-02-11 00:10] jtmzheng opened #2566 "[SUPPORT] Unable to read Hudi MOR data set in a test on 0.7"
**_Tips before filing an issue_**

I'm trying out Hudi 0.7 locally via PySpark and oddly I can write data that can be read back as parquet but not as Hudi. It seems `InMemoryFileIndex` is missing?

Stacktrace for pytest test:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Sample code using pytest:
[code]
2. Install pytest (I'm using 6.1.1) and run: `py.test -s --verbose test_hudi.p

[2021-02-11 00:38] badri03iter commented on #736
Hi Team,
./run_sync_tool.sh  --jdbc-url jdbc:hive2://localhost:10000/default --user *** --pass *** --partitioned-by data_load_date --base-path XXX--database default --table default.table , I am facing the same issue as above mentioned..
2021-02-10 16:07:16,381 ERROR [main] metastore.RetryingHMSHandler (RetryingHMSHandler.java:invokeInternal(204)) - java.lang.NoClassDefFoundError: org/datanucleus/N

[2021-02-11 03:31] bvaradar commented on #2537
@nsivabalan @jiangok2006 : Yes, the sql query format "select x,y,z from <SRC>" is correct

[2021-02-11 03:37] #2561 closed

[2021-02-11 03:45] bvaradar commented on #2564
@rswagatika : Can you run the following hudi cli and add the output to the ticket:

show fsview all

Also, can you list the .hoodie folder and add the output

[2021-02-11 04:01] bvaradar commented on #2566
Can you check if you have the spark-sql_2.12-3.x is present in your class-path ?

[2021-02-11 04:02] bvaradar commented on #2563
@nsivabalan : Can you kindly track this request ?

[2021-02-11 06:10] jtmzheng commented on #2566
I tried modifying `spark.jars.packages` to be `"org.apache.hudi:hudi-spark-bundle_2.12:0.7.0,org.apache.spark:spark-avro_2.12:3.0.0,org.apache.spark:spark-sql_2.12:3.0.0"` which still leads to the same error in the test.

[2021-02-11 09:09] bvaradar commented on #2566
@umehrot2 : Any idea why this is happening in 0.7 ?

[2021-02-11 09:47] umehrot2 commented on #2566
Are you running this on EMR ?

[2021-02-11 15:20] abhijeetkushe commented on #2533
So I did not find hudi-cli restore option in the available options
[code]

[2021-02-11 15:45] nsivabalan commented on #2255
@WTa-hash : there are some nuances here. looks like read optimized may not work well if you have inserts. But if you have just updates, then it would be honored for sure. Similarly, global_bloom also works as expected w/ snapshot query. just that w/ read optimized query may not work as expected if you have inserts. Closing this for now. I will update the tracking ticket. may be will revisit later

[2021-02-11 15:45] #2255 closed

[2021-02-11 15:47] vinothchandar commented on #2515
Thanks @rubenssoto for narrowing it down.

[code]

reproduces this. Issue is mostly that the row writer just passed in Option.empty extra metadata, while the writeclient path passed in an empty hashmap (so the fix I cited above was working).

For now, please just limit row writer to the initial bulk_insert (it only works with bulk_insert atm anyway). I ll have a PR out soon.

[2021-02-11 15:50] t0il3ts0ap commented on #2515
@vinothchandar I am getting exact same error, when `_hoodie_is_deleted` is true. Are these related ?

[2021-02-11 16:44] rswagatika commented on #2564
@bvaradar Thank you for your response.

 UPDATE => Today morning when I ran the above query I could see the cleaning triggered and it did delete the files. So for production use I changed my config 'hoodie.cleaner.commits.retained': 4 from 1 and ran the test and it did work.

After that I ran commit again for 6 times and as per my understanding at the 5th commit the cleaning should be triggered?
I

[2021-02-11 17:46] rubenssoto commented on #2515
Thank you so much @vinothchandar , I'm happy to help!

[2021-02-11 17:49] vinothchandar commented on #2515
No. it seems be tied to row writing afaict. Do you have that enabled?

[2021-02-11 17:57] rubenssoto commented on #2509
@vinothchandar @satishkotha @zuyanton

I think the only workaround here is to convert the timestamp column to string, do you have better ideas?
My timestamp column is not timestamp micro, my hudi avro timestamp is, it make senses?

thank you.

[2021-02-11 18:40] jtmzheng commented on #2566
No, this is just running `pytest` locally in a python virtualenv. I can try and dockerize the setup to isolate for any env issues I might have.

[2021-02-11 20:43] pavannpa opened #2570 "[SUPPORT] Unable to write data from AWS EMR to S3 (ClassNotFoundException: org.apache.hadoop.hbase.io.compress.Compression$Algorithm)"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Unable

[2021-02-11 21:37] jiangok2006 commented on #2537
@nsivabalan It is not about the sql statement I think. If I use a simpler dataframe, sql transformer works fine with my or Sudha's sql query. But my kafka data seems to cause deSer issue for sql transformer. I admit that my kafka data is special because each of them is big and has complex data type (e.g. logical type). Flink 1.11 cannot handle it after two bugs are fixed in Flink 1.12.
https://iss

[2021-02-11 21:47] #2570 closed

[2021-02-11 23:15] tooptoop4 commented on #630
After experimenting with changes on the Quickstart I got "pyspark.sql.utils.AnalysisException: Unable to infer schema for Parquet. It must be specified manually." when running:
[code]

The solution was to change to below (check the depth of folders by running this linux command: ```find <basePath>``` ):
[code]

[2021-02-12 05:55] t0il3ts0ap commented on #2515
@vinothchandar nope. Attaching config for your reference. This is happening when a row is being deleted. The deletion is happening successfully, but archival post that fails.
[code]

[2021-02-12 07:41] getniz opened #2573 "Rebuild a HUDI table using the Snapshot of HUDI table with its commit timeline metadata"
Can we use existing hoodie snapshot data including its commit/compact metadata time to create a new hoodie table with the same timeline metadata. This is to ensure the commit history of the old table is not lost for time travel queries.
Please help understand if there is feasibility for this to achieve. Thanks for any advise.

[2021-02-12 07:57] bvaradar commented on #2566
That would be helpful to debug !!

[2021-02-12 07:58] bvaradar commented on #2564
You can enable INFO logging to see what is going on

[2021-02-12 08:00] bvaradar commented on #2573
You can simply copy the whole folder at the dataset level to the new location and it should work. All metadata is relative to the dataset path and it should be ok to copy them.

[2021-02-12 16:05] vinothchandar commented on #2515
@t0il3ts0ap I am onto this. So the issue seems to be related to how the schema is set

So the issue seems to be that the the schema value seems to be null in `extraMetadata`. For deletes also I suspect we are not setting this to null, since the delete dataframe has a different schema. Let me trace the deltastreamer code path as well.

[2021-02-12 16:11] vinothchandar commented on #2515
For now, if you try the one line fix in `CommitUtils`, we will be out of the woods. I have raised a sev:critical JIRA here https://issues.apache.org/jira/browse/HUDI-1615  for the fix

[code]

[2021-02-12 16:33] rswagatika commented on #2564
@bvaradar  I ran the command clean show and cleans run from my hudi client

[2021-02-12 17:09] mauropelucchi commented on #2564
@bvaradar We are running this conf for 2 separate locations:

hudi_options = {
 'hoodie.table.name': table_name,
 'hoodie.datasource.write.recordkey.field': 'key',
 'hoodie.datasource.write.partitionpath.field': 'range_partition',
 'hoodie.datasource.write.table.name': 'tablename',
 'hoodie.datasource.write.precombine.field': 'update_date',
 'hoodie.datasource.write.table.type': 'MERGE_ON_READ',

[2021-02-12 17:15] nsivabalan commented on #2123
Thanks @kimberlyamandalu. Will close this out. Please do reach out to us if you need any more assistance. thanks for helping to better Hudi community :)

[2021-02-12 17:15] #2123 closed

[2021-02-12 21:28] kimberlyamandalu commented on #2123
For reference, this is their response for the ticket.
They have suggested a workaround.

Greetings Kim,
Thank you for contacting AWS Premium Support. This is Mrunmayee and I will be assisting you with the case.
I did some investigation on the timestamps not being displayed correctly in Athena. As pointed out by you, this is caused When a Glue crawler is run on the parquet files, the field is confi

[2021-02-12 22:13] vinothchandar commented on #2515
@t0il3ts0ap I fixed the row writing part locally. but wanted to check your situation as well, before I send a PR. For delta streamer/upsert (can you confirm that the operation is acutally `upsert`), schema should be passed in successfully. Could you check if your .deltacommit/.commit files contain the schema field in `extraMetadata` field of json.

I ll also try and confirm this locally

[2021-02-12 22:29] t0il3ts0ap commented on #2515
@vinothchandar
I checked in most recent deltacommit file. `schema` key is present.
[code]

[2021-02-13 10:41] bvaradar commented on #2564
Can you run 'show fsview all' on both datasets and also list the .hoodie folders ?

[2021-02-13 10:55] mauropelucchi commented on #2564
Hi @baobaoyeye,

From the first folder, we have
![image](https://user-images.githubusercontent.com/16307145/107848201-c8e61580-6df1-11eb-9b49-d885010a6e34.png)

And the .hoodie folder is
![image](https://user-images.githubusercontent.com/16307145/107848232-064aa300-6df2-11eb-9675-41932d02ef78.png)

![image](https://user-images.githubusercontent.com/16307145/107848238-0fd40b00-6df2-11eb-8869-def02a

[2021-02-14 00:46] SureshK-T2S commented on #2406
Hi guys, any ideas on this one?

[2021-02-14 13:25] nsivabalan commented on #2406
looks like there could be a bug. Here is the reason:
Deltastreamer works fine for Dataset<Row> sources w/o providing schema provider. But looks like in multi table delta streamer we missed to hold on to that assumption. Tests written for multi table delta streamer are for Dataset<GenericRecord> and hence schema providers are mandatory.

[code]

As you might have figured out, I don't have exp with

[2021-02-14 18:10] rakeshramakrishnan commented on #2439
@n3nash The PR is closed now. Is there any other PR that tracks this issue?

[2021-02-14 22:46] jtmzheng commented on #2566
[code]

I was able to reproduce this issue with the above Dockerfile, building with `docker build -f hudi.Dockerfile -t test_hudi .` and running `py.test -s --verbose test_hudi.py` in the container. I have edited `test_hudi.py` to the below (mainly to add `spark-sql_2.12:3.0.0` though exact same issue as initial test:

[code]

[2021-02-15 15:19] nsivabalan commented on #2406
Have put up a fix here: https://github.com/apache/hudi/pull/2577. The aforementioned fix works.

[2021-02-15 15:25] nsivabalan commented on #2406
Also, looks like we don't have good coverage of tests in multi table delta streamer. have added a jira [here](https://issues.apache.org/jira/browse/HUDI-1619).

[2021-02-15 15:26] nsivabalan commented on #2406
Closing this for now. Please do reach out to us if you need more help. Happy to help you out. Thanks for helping improve Hudi for better :)

[2021-02-15 15:26] #2406 closed

[2021-02-15 16:26] rswagatika commented on #2564
@bvaradar

**For the first folder where cleaning triggered  => "show fsview all" and below is the screenshots**

<img width="917" alt="Screen Shot 2021-02-15 at 11 13 23 AM" src="https://user-images.githubusercontent.com/76132270/107970528-396e6d00-6f7f-11eb-9dc0-52306cbd75a7.png">

**And the  folder is** =>
<img width="1098" alt="Screen Shot 2021-02-15 at 11 17 49 AM" src="https://user-images.git

[2021-02-15 16:44] nsivabalan commented on #2439
@rakeshramakrishnan : would be nice if you can respond w/ any recent updates.

[2021-02-15 17:26] nsivabalan commented on #1679
@bvaradar : I could not reproduce w/ local docker set up. Do you have any pointers on how to go about triaging this. Also, I am running into some other issue locally which I documented in https://issues.apache.org/jira/browse/HUDI-1609.

[2021-02-15 17:31] nsivabalan commented on #1679
@kimberlyamandalu : in the mean time, would you mind responding to Balaji's doubts.

[2021-02-15 17:34] nsivabalan commented on #2537
@jiangjiguang : yes, sure, definitely would be helpful. Once you have the sample Avro, do update it here, we can take a shot at reproducing and investigating further.

[2021-02-15 17:35] #2528 closed

[2021-02-15 17:39] nsivabalan commented on #2508
@rubenssoto : would you mind responding to this whenever you can. If it worked for you, do let us know so that we can close the ticket.

[2021-02-15 17:42] nsivabalan commented on #2509
@rubenssoto : Here is a link to suggestions from Athena support on timestamp conversion.
https://github.com/apache/hudi/issues/2123#issuecomment-778464849

[2021-02-15 17:43] nsivabalan commented on #2123
@kimberlyamandalu : great. thanks a bunch. We will try to add it to our faq.

[2021-02-16 02:43] getniz commented on #2573
Thanks @bvaradar let me take a look if I can recreate with this approach. With this, I can resume the ELT script assuming the table is intact and the metastore will sync to Hive automatically for App layer after first ELT run.

[2021-02-16 04:50] vinothchandar commented on #2515
@t0il3ts0ap sorry for the delay. long weekend here.
So this is weird then, could you check all the .deltacommit file and commit files? and see if any of them have `"schema": null`

[2021-02-16 07:55] t0il3ts0ap commented on #2515
@vinothchandar
Ya my bad, archival starts from older commit. Found the file with null content. Relevant logs:
[code]

Content of 20210216073304.deltacommit
[code]

[2021-02-16 15:27] vinothchandar commented on #2515
@t0il3ts0ap no worries. so an upsert operation it is. Will try to see whats going on. for e.g does it pass a null due to empty data etc.

[2021-02-17 02:08] BalaMahesh commented on #2204
sorry for the long delay. This exception is due to aws sdk version . I am closing this.

[2021-02-17 02:08] #2204 closed

[2021-02-17 02:15] BalaMahesh commented on #2251
@nsivabalan
I was doing POC .
This issue was observed when we were trying to query `hudi` tables from hive cli . All the error logs, we had are posted here. But when we tried the same query from beeline it didn't threw any errors. The suspection is when query submitted directly from hive cli is going through unwanted planner and optimizer, still not sure what optimization / plan it was choosing. W

[2021-02-17 02:15] #2251 closed

[2021-02-17 04:03] nsivabalan commented on #2251
@BalaMahesh : thanks for the update. appreciate it.
@bvaradar @n3nash : do we know if there could be diff between beeline and hive cli? and is there any known issue w/ hive cli?

[2021-02-17 14:21] konradwudkowski commented on #2265
Hi @nsivabalan I've not tried any previous version, I'm using hudi for the first time now but we're in prod with it. I noticed the problem in a test where this scenario was an edge case I was asserting and was surprised by hudi's behaviour.

[2021-02-17 21:01] rubenssoto commented on #2509
@nsivabalan it worked but I think a view it is not a good solution, because we will have a maintenence problem.

It is not a Hudi fault, so we need to wait for athena, but I think it should not be solved soon...

in Hudi side is there anything what we can do? My timestamp is not a timestamp micro is timestamp milisecond

[2021-02-18 04:01] nsivabalan commented on #2522
@sleapfish : closing this out as we could achieve this using existing recordPayload with one column to determine source ordering. We have a tracking ticket for multiple preCombine keys if you are interested https://issues.apache.org/jira/browse/HUDI-1573

[2021-02-18 04:01] #2522 closed

[2021-02-18 04:01] nsivabalan commented on #2522
Feel free to reach out to us if you need any more info.

[2021-02-18 04:08] nsivabalan commented on #2563
yeah. we don't support full schema evolution as of today. But definitely its in our radar. https://issues.apache.org/jira/browse/HUDI-631
https://issues.apache.org/jira/browse/HUDI-1129
Let us know if you need anything more that what is being tracked already. Or feel free to update the jiras. Feel free to close out this issue.

[2021-02-18 04:10] nsivabalan commented on #2533
yeah, unfortunately we don't expose this as of today. We have a tracking ticket https://issues.apache.org/jira/browse/HUDI-1593. We will try to get it in next release.
@abhijeetkushe : can we close this support ticket if you are good w/ clarifications.

[2021-02-18 04:20] nsivabalan commented on #2564
slightly unrelated comment. guess you might have to fix your config value for hoodie.memory.compaction.fraction. It is expected to be a fraction like 0.3 or 0.5 etc. From your desc, looks like are having some large value for this config.

[2021-02-18 13:43] abhijeetkushe commented on #2533
Yeah this ticket can be closed.We are using EMR built in version of hudi so will be hard for us to upgrade.So for now we have build checks to ensure this does not happen

[2021-02-18 13:43] #2533 closed

[2021-02-18 14:33] rubenssoto commented on #2563
@nsivabalan good to know, I will close this ticket.

[2021-02-18 14:33] #2563 closed

[2021-02-18 14:43] nsivabalan commented on #2533
got it, thanks.

[2021-02-18 14:43] nsivabalan commented on #2563
thanks.

[2021-02-18 16:53] rubenssoto commented on #2555
Thank you so much for your explanation, I will wait for aws to have better support on Hudi Clustering

[2021-02-18 16:53] #2555 closed

[2021-02-18 23:03] bvaradar commented on #2564
@rswagatika : Sorry for the delay.  It looks like compaction was never run on the dataset. Without compaction run, cleaner wont be able to delete the old file slices. Can you trigger compaction  (https://hudi.apache.org/blog/async-compaction-deployment-model/ )

[2021-02-18 23:04] bvaradar commented on #2564
Also, @nsivabalan : Can you check why the cli command "show fsview all" returned empty ? If this is a bug, can you raise a jira ?

[2021-02-18 23:13] satishkotha commented on #2509
I think if you query using spark datasource APIs, queries will be able to read timestamp field correctly. Querying through Athena, i don't think there is another workaround unfortunately.

[2021-02-19 12:59] rubenssoto opened #2585 "[SUPPORT] NullPointerException Incremental query on COW"
Hello Guys,

I'm querying some Hudi COW tables with incremental queries, I have a job running on each hour, it worked very well yesterday and started to have problems today.

[code]

EMR 6.1
Hudi 0.7.0 on write and read side.

Could you help me?

[2021-02-19 13:19] rubenssoto commented on #2585
Hi guys,

I found a bug on my side

[2021-02-19 13:19] #2585 closed

[2021-02-19 14:11] bvaradar commented on #2566
@nsivabalan : Can you try reproducing this ?

[2021-02-19 15:06] rswagatika commented on #2564
@bvaradar  Thank you for responding but both the pipelines triggered compaction and the screenshot for the second where cleaning did not trigger compaction occurred too. And also async compactation is not good for us. I think. We don't have a streaming solutions always active. So the async compaction has caused a lot of issue in the past. We are using inline compact triggered every 1 commit.

Can

[2021-02-19 15:22] Rap70r opened #2586 "[SUPPORT] - How to guarantee snapshot isolation when reading Hudi tables in S3?"
Hello,

We have a setup where we process data incrementally against large Hudi tables in S3, using Hudi and Spark. When reading large tables from a different spark process or when applying time consuming queries against spark dataframes, the reading process crashes  if another process attempts to update that table incrementally. I assume due to underlying parquet partitions being modified while th

[2021-02-19 16:12] nsivabalan commented on #2439
@rakeshramakrishnan : if I not wrong, hive sync w/ metastore have been working (anecdotally from community. ) w/ hudi. So, may be some jar mismatch issue. Even w/o the aforementioned patch (#2449), it was working before. 2449 just adds explicit configs. Prior to this hive sync uses properties from Hadoop conf. that's the only difference.
As satish mentioned, we don't see any errors in the log atta

[2021-02-19 16:29] nsivabalan commented on #1679
Here is my understanding.
Hudi does not use a fat jar(as the fat jar pulls in lot of unwanted jars) for hive-exec and relies on the jars to be available in the environment. Hudi does not pull this jar explicitly in any of the bundles. But this flow has been working before w/o any issues.
@bvaradar @n3nash : Could it be some jar version mismatches? Any pointers would be appreciable. As I told earli

[2021-02-20 02:15] liujinhui1994 commented on #2121
I wrapped a key on jsonArray

[2021-02-20 02:20] liujinhui1994 commented on #2121
{
	"product_seris": "S_01",
	"product_name": "iphone7",
	"prices": [{
		"model": "iphone7",
		"price": 5200
	}, {
		"model": "iphone7 plus",
		"price": 5800
	}]
}

Format like this.

[2021-02-20 02:20] liujinhui1994 commented on #2121
@nsivabalan

[2021-02-21 12:33] nsivabalan commented on #2586
Hudi follows MVCC and hence there is isolation between writers and readers. You should not see any such issues.
- "if any process updates the table under S3:. by this you mean, if you update Hudi dataset via spark data source/deltastreamer etc is it? Or by some other means
- Can you post the stack trace you see. w/o any logs, going to be tough to debug this.
- Can you post your configs you use to

[2021-02-21 12:34] nsivabalan commented on #2573
@bvaradar : can you respond here when you get a chance.

[2021-02-21 12:36] nsivabalan commented on #2558
Thanks, closing this out as we have a tracking jira and PR as well. thanks for your contribution to help make Hudi better :)

[2021-02-21 12:36] #2558 closed

[2021-02-21 12:40] nsivabalan commented on #2557
To help investigate better
- Can you post the configs you used to write to hudi.
- Can you post a screen shot of spark stages. So that we know where its failing and can relate to some configs used.
- Can you give some rough idea of your dataset record keys. Is it completely random or does it have some ordering to it. what it is made of.
- I assume you are using regular bloom as index type.

[2021-02-21 17:17] nsivabalan commented on #2566
@jtmzheng : I haven't tried py test before. I am trying to repro and running into issues wrt parquet schema missing. Can you tell me if I am missing something. May be I am making some rookie mistake. can you help me out.

[code]

File contents:
https://gist.github.com/nsivabalan/1b768c324691456605473b556d53c9a8

stack trace: https://gist.github.com/nsivabalan/74476a48493fac2a9b8fdea4cd973ca9

[2021-02-21 17:24] Rap70r commented on #2586
Hello nsivabalan, thank you for getting back to me.

* All Hudi tables are stored in S3 buckets. We use Spark Structured Streaming to apply incremental updates against S3 Hudi datasets.

* **Stacktrace**

[code]

* Writer Configs:

[code]

* Reader Configs:

[code]

* At any point of time, this setup has just a single writer.

**To Reproduce**

* Load the dataframe using Hudi:
[code]

* Apply time

[2021-02-21 17:56] jtmzheng commented on #2566
@nsivabalan ""hoodie.datasource.write.keygenerator.class" needs to be "org.apache.hudi.keygen.ComplexKeyGenerator" (I was able to reproduce the stacktrace you provided when I set it to SimpleKeyGenerator, I'm guessing because partition path is a composite key in my example). Thanks for investigating!

[2021-02-21 18:15] nsivabalan commented on #2566
got it. yes, I could able to repro now. will investigate further. thnx.

[2021-02-21 21:51] rubenssoto opened #2588 "[SUPPORT] Cannot create hive connection"
Hello People,

Emr 6.1
Spark 3.0.0
Hudi 0.7.0

My EMR is configured to use glue catalog as a metastore, most of the time my Hudi jobs working great, but sometimes I have problems on hive connection:
[code]

I open a ticket in AWS, the ticket is open for more than 2 weeks and was not solved yet.
I know that is not a Hudi problem, but do you have any idea how to solve this?
Is there another way in H

[2021-02-22 01:21] nsivabalan commented on #2566
I am still triaging the issue. here is the tracking ticket: https://issues.apache.org/jira/browse/HUDI-1568

[2021-02-22 05:11] vinothchandar commented on #2515
Folks, got side tracked by other work last week. Back on hudi, this week. We will get moving on this.

[2021-02-22 08:15] kingkongpoon commented on #2557
I have tried your advice , it seems to be better ,but the same code , configre and data, sometime also OOM,

[2021-02-22 08:56] kingkongpoon commented on #2557
my Spark code configure
[code]
[code]

uuid is the tid from order table data,and it's unique,When I first wirte data in HDFS, .mode(SaveMode.Overwrite), and create hive table successfully ,the file in HDFS is about 520MB.
But when I use the same code,configure and data in .mode(SaveMode.Append), the process will throw errors
[code]

[2021-02-22 11:27] t0il3ts0ap opened #2589 "[SUPPORT] Issue with adding column while running deltastreamer with kafka source."
**Describe the problem you faced**

Schema evolution is not working when using deltastreamer with a kafka source and avro schema registry.
In my usecase, I am trying to ingest cdc dumped to kafka by a debezium connector. The registry is maintained by debezium connector.

On making a simple schema change like  `alter table accounts add column description text default 'test description';`, The chang

[2021-02-22 15:20] bvaradar commented on #2588
@umehrot2 : Can you check if there is anything that can be done in Hudi to fix this in EMR  ecosystem?

[2021-02-22 15:46] vinothchandar commented on #2515
@t0il3ts0ap The only code path for deltastreamer I see, that can pass a null schema is when the schema provider returns `null`.

`--schemaprovider-class com.nnn.schema.CustomSchemaRegistryProvider `. Is there any chance this is returning null for target schema?

I ll generally tighten the error handling around this, but wanted to throw it out there since you are using a custom schema provider

[2021-02-22 17:20] rubenssoto commented on #2588
<img width="1309" alt="Captura de Tela 2021-02-22 às 14 19 11" src="https://user-images.githubusercontent.com/36298331/108744715-07c64a80-7519-11eb-8b02-98261e74474d.png">

Sometimes take a while to show the error, these jobs run in 5 minutes, more than 20 minutes trying to connect to hive.

[2021-02-22 18:43] t0il3ts0ap commented on #2515
@vinothchandar Ya I am overriding just the target schema to null so as to use the DataSet<Row>'s schema. It is working fine for regular inserts and update.

[2021-02-23 02:04] bvaradar commented on #2589
@satishkotha: Can you please take a look at this ticket ?

[2021-02-23 02:07] bvaradar commented on #2573
@getniz : Let me know if you run into any problems

[2021-02-23 02:10] bvaradar commented on #2564
@rswagatika : Running inline compaction is fine. But from the time, if compaction ran fine, there should have been a .commit (not .deltacommit) file in the timeline. But, I did not see that in the listing. I think compaction could be failing in your case. Can you look into the logs to see if there are any failures. For MOR, without compaction succeeding, cleaner won't be able to delete old files a

[2021-02-23 02:11] bvaradar commented on #2546
@robin-su : Pinging again to see if you are still looking for answers.

[2021-02-23 02:30] satishkotha commented on #2589
From the error message:

	at org.apache.avro.io.ResolvingDecoder.doAction(ResolvingDecoder.java:292)
	at org.apache.avro.io.parsing.Parser.advance(Parser.java:88)

Looks like this field is expected as required field by avro library. Can you double check schema after transformation?

java.lang.IllegalArgumentException: Last known instant from client was 20210222075752 but server has the following t

[2021-02-23 04:07] rubenssoto commented on #2563
`Caused by: org.apache.hudi.exception.HoodieUpsertException: Failed to merge old record into new file for key 7176859 from old file s3://dl/courier_api/customer_address/3ee388f2-fa45-437a-a279-d9e3e3369bbd-0_9-137-2635_20210223033155.parquet to new file s3://ld/courier_api/customer_address/3ee388f2-fa45-437a-a279-d9e3e3369bbd-0_9-377-7189_20210223035129.parquet with writerSchema {
  "type" : "reco

[2021-02-23 04:14] codejoyan opened #2592 "[SUPPORT] Does latest versions of Hudi (0.7.0, 0.6.0) work with Spark 2.3.0 when reading orc files?"
**Description:**
The documentation says: Hudi works with Spark-2.x & Spark 3.x versions. (https://hudi.apache.org/docs/quick-start-guide.html) But I have not been able to use hudi-spark-bundle_2.11 version 0.7.0 with Spark 2.3.0 and Scala 2.11.12. Is there any specific spark_avro package one has to use?

I am trying to write a dataframe read from orc file
The job fails with the below error: java.l

[2021-02-23 05:30] getniz commented on #2573
@bvaradar I m still on it. It will take sometime for me to validate this. I ll close for this now. thanks @bvaradar

[2021-02-23 05:30] #2573 closed

[2021-02-23 07:29] root18039532923 commented on #2448
if you set "hoodie.compact.inline -> true",this means compaction  changes inline, but async?

[2021-02-23 14:18] rswagatika commented on #2564
@bvaradar okay but I see .commit from my hoodie folder as well and when I run "compactions show all"
also I see below screenshot, so compaction triggering.

<img width="1141" alt="Screen Shot 2021-02-23 at 9 00 34 AM" src="https://user-images.githubusercontent.com/76132270/108856313-ed8f7980-75b7-11eb-946c-bc60e3625e90.png">

<img width="562" alt="Screen Shot 2021-02-23 at 9 00 39 AM" src="https:/

[2021-02-23 15:05] rswagatika commented on #2564
@bvaradar okay my bad I have not attached the .commit, but I see .commit from my hoodie folder as well and when I run "compactions show all" also I see below screenshot, so looks like compaction triggering. So I am running out of idea how can I resolve this.

<img width="1141" alt="Screen Shot 2021-02-23 at 9 00 34 AM" src="https://user-images.githubusercontent.com/76132270/108862689-790c0900-75be

[2021-02-23 15:24] nsivabalan commented on #2448
nope. inline means sync. if not its async.

[2021-02-23 15:29] nsivabalan commented on #2563
@rubenssoto : sorry bit confusing. Lets simplify this.
Lets say there are only two fields. F1 and F2 (commit_version).
Is this your scenario.
Existing dataset in hudi has only F1.
and your new batch of ingestion  has schema F1, F2?
Can you please clarify.
Basically whats the schema of original hudi dataset.
And whats the schema of new batch of write.

[2021-02-23 16:08] rubenssoto commented on #2563
Yeah thats right...

My existing dataset has only column F1, imagine that F1 is my primary key
My new batch of data has two fields F1 and F2, in that new batch has inserts and updates

With this scenario, I had that problem.

@nsivabalan

[2021-02-23 16:09] vinothchandar commented on #2515
@t0il3ts0ap thanks. Got it so. you have a transformer as well.

I put up #2590 which overcomes the issue. but we want the schema to be supplied from the `DataSet` even in your scenario. I am working on updating the PR with a less crude approach.

[2021-02-23 17:02] bvaradar commented on #2564
@rswagatika  : Thank you for clarification. Since "show fsview all" is not showing all the files for some reason and there could be more .commit files, can you list the entire dataset for the one which you think is not cleaning properly.

Please recursively list everything in the data path.

[2021-02-23 20:26] rswagatika commented on #2564
@bvaradar let me know if this helps to understand better?

my_test/.hoodie/.aux/.bootstrap/.fileids_$folder$
my_test/.hoodie/.aux/.bootstrap/.partitions_$folder$
my_test/.hoodie/.aux/.bootstrap_$folder$
my_test/.hoodie/.aux/20210212171919.compaction.requested
my_test/.hoodie/.aux/20210212211220.compaction.requested
my_test/.hoodie/.aux_$folder$
my_test/.hoodie/.temp/20210212171919/range_partition=

[2021-02-24 00:49] bvaradar commented on #2564
@rswagatika : I also need the full list of the parquet and log files. Basically, I am trying to manually see how many versions of "logical file" is present for each file and cross check with your cleaner configurations to see if cleaner is supposed to run or not.

Can you also enable INFO logging of the ingestion job and attach the driver logs here

[2021-02-24 00:59] bvaradar commented on #2592
@codejoyan : Would it be possible for you to give us a reproducible set of steps (just like the Quickstart : https://hudi.apache.org/docs/quick-start-guide.html ) ?

[2021-02-24 01:25] root18039532923 commented on #2448
but I need async, if I set "hoodie.compact.inline -> true",that is not async.

[2021-02-24 02:12] rubenssoto commented on #2588
<img width="1680" alt="Captura de Tela 2021-02-23 às 23 09 52" src="https://user-images.githubusercontent.com/36298331/108935409-68927780-762c-11eb-9c3f-591f1b626557.png">

I'm having the problem right now, on master side you could see a lot of cpu usage, but I dont understand why hive is using a lot of CPU

[2021-02-24 02:38] rubenssoto commented on #2588
@umehrot2 @bvaradar if you have any idea, please help me, is the only problem that prevents me from turning Hudi to production.

[2021-02-24 03:37] root18039532923 commented on #2555
I use bulkinsert,the size of parquet file is not able to control. need some param?

[2021-02-24 10:35] saumyasuhagiya commented on #2284
@nsivabalan Hi.. just wanted to check any update on this.

[2021-02-24 12:17] codejoyan commented on #2592
Sure @bvaradar . Below steps will help to reproduce.
**Observation:** This is failing when the dataframe has specific datatypes. If it is string fields it succeeds

**Environment Details:**
Spark version in HDP - 2.3.0.2.6.5.279-2
Hudi: hudi-spark-bundle_2.11:0.7.0

**Step-1:** Create dummy data

$ hdfs dfs -cat hdfs://XXXXXw00ha/user/j0s0j7j/test_data.csv
col_1,col_2,col_3,col_4,col_5,col_6,col_7

[2021-02-24 14:38] codejoyan commented on #2592
The below succeeds. I removed the decimal fields only and was able to save

[code]

[2021-02-24 14:44] nsivabalan commented on #2399
@afeldman1 : do you mind responding to this ticket when you can. Feel free to close it out if you were able to fix it.

[2021-02-24 14:50] nsivabalan commented on #2586
@bvaradar @n3nash : let me take a stab. let me know if my understanding is right.
customers sets file versions retained to 1.
So, if there are two writes by the time a single lengthy query completes, we could encounter this situation where in the query could throw FileNotFoundException as 2nd write would have deleted the 1st file version for all data files?

@Rap70r : in the mean time, do you want

[2021-02-24 16:34] Rap70r commented on #2586
Hi nsivabalan,

I could try setting retention version to a higher number but the thing is we do apply incremental updates very frequently in short intervals. Like every several minutes. A reading process could be running for more than an hour. Enough time for Hudi to update several times. So that might not solve the issue entirely for long running queries.
Is there a different approach we could lo

[2021-02-24 18:17] green2k commented on #2498
There's exactly the same problem with Spark hosted on Databricks

[2021-02-24 19:13] rubenssoto commented on #2588
Hello Guys,

I found some new errors:

`21/02/24 18:53:18 ERROR HiveSyncTool: Got runtime exception when hive syncing
org.apache.hudi.hive.HoodieHiveSyncException: Failed to sync partitions for table order_delivery_failure
	at org.apache.hudi.hive.HiveSyncTool.syncPartitions(HiveSyncTool.java:211)
	at org.apache.hudi.hive.HiveSyncTool.syncHoodieTable(HiveSyncTool.java:148)
	at org.apache.hudi.hive

[2021-02-24 20:24] rubenssoto commented on #1679
@nsivabalan I had a different error
Hudi 0.7.0
Emr 6.2

`Exception in thread "ForkJoinPool-1-worker-13" java.lang.NoClassDefFoundError: org/apache/calcite/rel/type/RelDataTypeSystem
	at org.apache.hadoop.hive.ql.parse.SemanticAnalyzerFactory.get(SemanticAnalyzerFactory.java:318)
	at org.apache.hadoop.hive.ql.Driver.compile(Driver.java:484)
	at org.apache.hadoop.hive.ql.Driver.compileInternal(Drive

[2021-02-24 22:43] rubenssoto commented on #1679
I give another try on
EMR 5.32
Hudi 0.6.0

`21/02/24 22:27:25 WARN FileUtils: Error setting permissions of hdfs://ip-10-0-28-211.us-west-2.compute.internal:8020/user/spark/warehouse/raw_courier_api_hudi.db
java.io.IOException: Unable to set permissions of hdfs://ip-10-0-28-211.us-west-2.compute.internal:8020/user/spark/warehouse/raw_courier_api_hudi.db
	at org.apache.hadoop.hive.shims.Hadoop23Shim

[2021-02-25 01:35] nsivabalan commented on #2586
Few options/questions:
- does your incremental ingestion contains updates or inserts? If they are just inserts but Hudi's file sizing optimization joins w/ existing files, we can try turning off the file sizing.
- In general, you can set the file versions retained based on max time for read query and max ingestions that could happen within that time frame. For eg, if you read query could take a ma

[2021-02-25 06:36] shenbinglife opened #2605 "[SUPPORT] How to reload a writeConfig from a existed hudi path ?"
when I use the hudi spark datasoruce to write dataframe, I always need to rebuild the writeConfig with same code if  I not cache the config parameters.

But if we want to write a dataframe to a exsits hudi path, can we load a wirte config from this path like I create the hudi table first time ?  Or just load some important config like record key, precombine key, partitionfields  ?

[2021-02-25 10:37] rakeshramakrishnan commented on #2439
@nsivabalan : There are no errors, however through hudi, the connection is made to the local hive metastore (from spark). It doesn't connect to the external hive metastore.

But, without hudi, the spark catalog fetches tables hive tables from the external metastore
[code]

[2021-02-25 13:31] bvaradar commented on #2592
I was unable to setup spark-2.3.0 in my setup.  But,with spark-2.4.4, this works fine as below. Can you use spark-2.4.x version. spark-2.3 seems too old though ?

`21/02/25 05:14:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting defau

[2021-02-25 13:47] bvaradar commented on #2605
Ideally, spark data-source should provide that option (like optionFromFile(...). Not sure if there is anything like that.

Created : https://issues.apache.org/jira/browse/HUDI-1640?filter=-2

[2021-02-25 14:19] bvaradar commented on #2588
@rubenssoto : The stack-trace does not contain Hudi in it. So, I dont know how to help in this regard. Regarding high cpu load on hive server, Are you also running hive queries apart from HMS integration ?

@n3nash @nsivabalan : Any other ideas ?

[2021-02-25 14:21] bvaradar commented on #2555
For bulkinsert, you need to size the parallelism to control. Please see https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-Whatperformance/ingestlatencycanIexpectforHudiwriting

[2021-02-25 14:24] bvaradar commented on #2448
@root18039532923 : Please look at https://hudi.apache.org/blog/async-compaction-deployment-model/ for running async compactions

[2021-02-25 14:26] rubenssoto commented on #2588
@bvaradar I think it is a hive issue, I'm trying to increase hive heap size, I hope it helps.

I process the tables in threads, so I have almost 20 hive connections open.

Do you have any experience with Hudi and Hive? Because Hudi probably execute simple queries to verify table schema

[2021-02-25 14:37] Rap70r commented on #2586
Hi nsivabalan,

Thank you for your reply.

* Incremental updates include both inserts and updates. Mostly updates.
* We can try increasing retention version to a higher value and improve readers time.
* We would prefer sticking with COPY_ON_WRITE for now.

I was wondering if we should look into table caching in Spark: https://spark.apache.org/docs/3.0.0-preview/sql-ref-syntax-aux-cache-cache-table

[2021-02-25 16:28] t0il3ts0ap commented on #2589
Ran again on fresh table, still same issue.

SparkSubmit:
[code]

Transformer Code:
[code]

When I add the column, debezium updates the schema registry instantaneously and new records start flowing. Its possible that deltastreamer gets the new schema records before even hitting schema registry.

Attaching logs:
[alog.txt](https://github.com/apache/hudi/files/6044367/alog.txt)

[2021-02-25 20:29] toninis commented on #2149
@vinothchandar
Sorry I took so long to respond . It had worked and compiled successfully . I probably had missed something at the time .

Thanks for your response at the time .

[2021-02-25 20:30] kpurella commented on #2240
@vinothchandar Sure ,i will !!

[2021-02-25 21:09] afeldman1 commented on #2399
Apologies for the delayed response. And thank you to @bvaradar for the initial hint. The issue turned out to be caused not by the keys but another one of the configuration properties. When the table was originally created there was a field specified for the "hoodie.datasource.write.precombine.field" property. When doing the delete operation, it did not seem to make sense to have to specify this fi

[2021-02-25 21:10] #2399 closed

[2021-02-26 02:21] garyli1019 commented on #2498
I am seeing the same problem when the compiled spark distribution is different from the runtime spark distribution. Compile hudi jar against the runtime spark distribution should fix this problem. @green2k @andormarkus

[2021-02-26 03:07] codejoyan commented on #2592
This is the spark version of the cluster being used at work so I will have to use Spark 2.3 until there is an upgrade. Since the documentation says: **Hudi works with Spark-2.x**, I was wondering there would be some workaround to this.

[2021-02-26 12:14] nsivabalan commented on #2284
Unfortunately, I don't think hudi has support for updating already written records. All we can do is to compare old and new incoming records based on a field (PreCombine) and construct the new payload(akka row).

[2021-02-27 18:29] rshanmugam1 opened #2609 "[SUPPORT] Trino hudi query slow when compared to parquet"
**Describe the problem you faced**

Presto query performance with hudi table takes ~2x extra time when compared to parquet for simple query . data stored in s3. hudi metadata store enabled.  note, spark sql much faster with hudi dataset.

*parquet query first attempt*: 23 secs
*parquet query second attempt*: 0.6 secs
*hudi query first attempt*: 40 sec
*hudi query second attempt*: 40 sec
data size

[2021-02-27 22:09] nsivabalan commented on #2563
Adding a new column should work w/ hudi.
https://gist.github.com/nsivabalan/dd604527bd5ad62a08272a34425f5fad
Can you revisit if you are creating the new column w/ null value set or default value set.

[2021-02-28 03:06] lw309637554 commented on #2609
1、about first attempt   parquet is 23 secs, but hudi is 40 secs. i see  metadata init cost some time in the log.
2、about second attempt parquet is very fast，maybe presto support the parquet format local cache.
3、also parquet and hudi table result is not equal?

[2021-02-28 06:23] rshanmugam1 commented on #2609
@lw309637554 thanks for your response.

**_1. about first attempt parquet is 23 secs, but hudi is 40 secs. i see metadata init cost some time in the log._**
yes, 2 major spending on meta data loading. is that expected or anything optimized ?.

20 sec in this section
`2021-02-27T04:27:24.714Z	INFO	hive-hive-18	org.apache.hudi.hadoop.utils.HoodieInputFormatUtils	Total paths to process after hoodie f

[2021-03-01 02:33] pengzhiwei2018 commented on #2609
Hi @ramachandranms , do query cow table by presto? I have found an issue that query hudi cow table slow than parquet by presto before. And you can try this fix at: https://github.com/pengzhiwei2018/hudi/tree/dev_presto. Hope it can help you~

[2021-03-01 08:57] root18039532923 commented on #1723
When I use hudi-0.7.0 and add clustering  to my program,  the same problem happened at the process time.But  before I add clustering,no problem.
![image](https://user-images.githubusercontent.com/45333549/109474040-095eb800-7aaf-11eb-8fcc-c6f476b08fdf.png)

[2021-03-01 09:02] root18039532923 opened #2614 "Caused by: com.fasterxml.jackson.core.JsonParseException: Unrecognized token"
When I use hudi-0.7.0 and add clustering  to my program,  the same problem happened at the process time.But  before I add clustering,no problem.
![image](https://user-images.githubusercontent.com/45333549/109474040-095eb800-7aaf-11eb-8fcc-c6f476b08fdf.png)

_Originally posted by @root18039532923 in https://github.com/apache/hudi/issues/1723#issuecomment-787778487_

[2021-03-01 09:15] #2121 closed

[2021-03-01 09:19] root18039532923 commented on #2614
my param is following :

![hudi param](https://user-images.githubusercontent.com/45333549/109476776-3f516b80-7ab2-11eb-9df4-ce576d2b23a9.jpg)

[2021-03-01 17:41] vinothchandar commented on #2285
I see lot of general spark issues reported like this. making this `sev:high` for now, as we figure out more

[2021-03-01 17:42] #2367 closed

[2021-03-01 18:28] bvaradar commented on #2614
@satishkotha : Can you take a look at this ?

[2021-03-01 18:31] bvaradar commented on #2609
@nsivabalan @bhasudha : Can you please take a look at this and see if this is a general issue to be upstreamed ?

[2021-03-01 19:15] bvaradar commented on #2592
Sorry for the delay. I will try setting up 2.30 tonight to reproduce this issue.

[2021-03-01 21:36] rshanmugam1 commented on #2609
@pengzhiwei2018

it is COW table only. even after commenting out //@UseRecordReaderFromInputFormat dont see any improvement in my case.

[2021-03-02 01:22] satishkotha commented on #2614
@root18039532923 is it possible to share complete logs (or at least full strack trace).  Configuration looks good.  HoodieReplaceCommitMetadata is expected to be in json format.  But looks like there is some avro content from your screenshots. If possible, can you also share contents of all metadata files in '.hoodie' directory?

[2021-03-02 01:27] jtmzheng commented on #2566
@nsivabalan any updates on this? Any workarounds we can use? Thanks!

[2021-03-02 01:36] satishkotha commented on #2614
Actually, it seems like archival of HoodieRequestedReplaceMetadata is not working well.  Completed commit HoodieReplaceCommitMetadata is getting archived correctly.

@lw309637554 Would you mind taking a look and fixing archival for .replacecommit.requested files?

[2021-03-02 01:46] satishkotha commented on #2589
From the logs, this seems like a bug in hoodie when reading log files (during compaction).

Can you try using COPY_ON_WRITE table (see [config](https://hudi.apache.org/docs/configurations.html#TABLE_TYPE_OPT_KEY) here to change table type) just to validate the theory above.

@bvaradar @nsivabalan @n3nash  Have you seen similar issue for MOR tables before? I dont have experience with MOR tables and

[2021-03-02 02:13] root18039532923 commented on #2614
ok,I think data is right.I will share commit file  in a little while.

[2021-03-02 03:41] root18039532923 commented on #2614
Thanks for your reply.Today I use this configuration,data has been written successfully.The configuration is the following:
![image](https://user-images.githubusercontent.com/45333549/109593516-154c8780-7b4c-11eb-8c39-a005a8ff2f3b.png)
However I find  a new problem,that I set 3 or more partitions,but only 2 partitions is clustering. The problem is the following:
![image](https://user-images.github

[2021-03-02 04:15] root18039532923 commented on #2614
Thanks for your reply.Today I use this configuration,data has been written successfully.The configuration is the following:
![image](https://user-images.githubusercontent.com/45333549/109596149-9f96ea80-7b50-11eb-8434-8c5642ac2453.png)

However I find a new problem,that I set 3 or more partitions,but only 2 partitions is clustering. The problem is the following:
![image](https://user-images.github

[2021-03-02 06:25] root18039532923 commented on #2614
The up-to-date  commit file is the following:
![image](https://user-images.githubusercontent.com/45333549/109607263-f2799d80-7b62-11eb-8bb7-859ff613c090.png)

[2021-03-02 06:37] root18039532923 commented on #2614
The content of 20210302121336.replacecommit.requested is the following :
![image](https://user-images.githubusercontent.com/45333549/109608368-bcd5b400-7b64-11eb-9943-1d856f18a44a.png)

[2021-03-02 16:26] bvaradar commented on #2564
@rswagatika : Pinging to see if you still need to debug this issue ?

[2021-03-02 17:04] rswagatika commented on #2564
@bvaradar Thank you for responding and sorry for not able to provide the details you asked, I do not understand if you need the screenshots of all the file structure from s3 or the entire folder details?  I have not able to solve the issue yet though.

[2021-03-02 17:19] vinothchandar commented on #2498
let me bump up the severity for this issue and we will try to repro and fix it well in 0.8.0

[2021-03-02 18:51] vinothchandar commented on #2284
IIUC SCD2 requires all versions of a given record be maintained inside the table? Hudi does allow you to keep history of changes to the table, upto a certain time in the past (configured via cleaner settings). If we never cleaned the table, then all changes from time 0 to now, will be available. I need to think through what exactly the problems would be if we did that. I can think of the file list

[2021-03-02 19:25] vinothchandar commented on #2586
I wonder if this issue can be mitigated in your code by simply issuing a `df.cache()` ? That way the recomputation of the dataframe is not triggered, even if the cleaning policy on the writer side, deletes some older files? I am fairly confident that it might work, but of course, comes at the cost of additional/memory and storage.

the metadata table we added in 0.7.0, should help alleviate concer

[2021-03-02 19:28] vinothchandar commented on #2563
cc @n3nash given you were looking into this

[2021-03-02 19:47] sleapfish commented on #2284
You don't necessarily need to keep older versions, since each change to a SCD 2 table will result in updating (upserting) the older version. Hence, it will now be part of the new commit, with updated effectiveTo and isActive fields.

Whenever a change happens you will have:
- 1 INSERT (new version with effectiveTo = null & isActive = True)
- 1 UPDATE (of an older version, but part of new commit)

[2021-03-02 19:50] Rap70r commented on #2586
Hi @vinothchandar,

Thank you for your detailed answer.
Yes, we are going to increase the retention policy to a higher number, like 15 or maybe higher, and also will work into improving performance of readers. We wouldn't want to have a retention period that exceeds few hours for the exact reason you mentioned.

I did try to increase the number of partitions to few thousands but after a certain po

[2021-03-02 19:51] vinothchandar commented on #2586
Sounds good. Please keep us posted.

[2021-03-02 19:53] Rap70r commented on #2586
Will do, Thank you :)

[2021-03-02 20:09] codejoyan commented on #2592
Thanks @bvaradar

[2021-03-02 20:11] rubenssoto commented on #2563
I will try to simulate with a simple script and back to you

[2021-03-02 20:23] codejoyan opened #2620 "[SUPPORT] Performance Tuning: Slow stages (Building Workload Profile & Getting Small files from partitions) during Hudi Writes"
Hi,
I am seeing some performance issues while upserting data especially in the below 2 jobs:

15 (SparkUpsertCommitActionExecutor)
17 (UpsertPartitioner)

Attached are some of the stats regarding the slow jobs/stages.
**Configurations used:**
--driver-memory 5G --executor-memory 10G --executor-cores 5 --num-executors 10
Upsert config parameters:
option(DataSourceWriteOptions.KEYGENERATOR_CLASS_OPT

[2021-03-02 21:12] bvaradar commented on #2592
@codejoyan : Just realized this is because spark-2.3.0 uses com.databricks version of spark-avro. We moved to org.apache.spark:spark-avro.

Amazon EMR got this working by compiling hudi-spark-bundle with additional flag "-Dspark-shade-unbundle-avro". Additional context in https://issues.apache.org/jira/browse/HUDI-254.

@umehrot2 : Can you confirm if the above statement is correct ?

[2021-03-02 21:23] satishkotha commented on #2614
@root18039532923 I opened a patch for this https://github.com/apache/hudi/pull/2622.

The problem is only with archival, so I believe clustering and data is all good.  Anyway, if you could try this patch and confirm issue is gone completely, that would be awesome.

[2021-03-03 01:19] root18039532923 commented on #2614
Ok,today I will have a try.Thank you.

[2021-03-03 02:18] root18039532923 commented on #2448
INLINE_COMPACT_NUM_DELTA_COMMITS_PROP is the configuration of sync?why does async need to add this?
I know that The default value of ASYNC_COMPACT_ENABLE_OPT_KEY is true.
![image](https://user-images.githubusercontent.com/45333549/109742281-bf3e1980-7c09-11eb-87a5-9c75b30d3f1c.png)

[2021-03-03 05:57] skapote commented on #143
Please add me to the community-
siddhesh.kapote@gmail.com

[2021-03-03 06:10] root18039532923 opened #2623 "org.apache.hudi.exception.HoodieDependentSystemUnavailableException:System HBASE unavailable."
**Environment Description**

* Hudi version :
0.7.0
* Spark version :
2.4.0
* Hive version :
2.1.1
* Hadoop version :
3.0.0
* Storage (HDFS/S3/GCS..) :
HDFS
* Running on Docker? (yes/no) :
no

when I use  hbase index,the error happened is following:
![image](https://user-images.githubusercontent.com/45333549/109760744-31265b00-7c2a-11eb-92b9-c3bbac380b38.png)

[2021-03-03 09:16] xiarixiaoyao commented on #2544
hudi use avro schema to write parquet file。  Timestamp type will be treated as Types.primitive(INT64, repetition).as(TIMESTAMP_MICROS)。   however hive cannot read Parquet INT64 timestamp https://issues.apache.org/jira/browse/HIVE-21215.     maybe a configuration is needed to convert avro TIMESTAMP_MICROS to INT96 when write parquet file  just like spark.

[2021-03-03 17:06] bvaradar commented on #2564
@rswagatika : If you can recursively list the S3 dataset directory (so that I can see all files in that dataset) along with driver INFO log, it is good.

[2021-03-03 17:14] bvaradar commented on #2623
@root18039532923 : This looks like Hbase server side issue. The Hbase server might have become unavailable. Are you seeing this consistently? (cc @n3nash )

[2021-03-04 01:13] root18039532923 commented on #2623
Hbase is well,when I use hudi-0.6.0,this is no problem.

[2021-03-04 01:54] root18039532923 commented on #2623
Also,I find a question about jar conflict,it is the following:
![image](https://user-images.githubusercontent.com/45333549/109898580-79e41f80-7ccf-11eb-9590-b9e6a8397ab2.png)

[2021-03-04 02:49] root18039532923 commented on #2623
I didn`t not find this jar,but org.apache.commons.codec.binary.hex.
![image](https://user-images.githubusercontent.com/45333549/109903636-fcbca880-7cd6-11eb-9b96-1e886c55c076.png)
![image](https://user-images.githubusercontent.com/45333549/109903796-41e0da80-7cd7-11eb-8e57-31dd2eb4d076.png)

[2021-03-04 05:51] t0il3ts0ap commented on #2589
@satishkotha Adding column is working fine with COW table. Delete column is creating issues though. I guess that could be discussed in separate ticket.

[2021-03-04 12:26] guanziyue opened #2630 "[SUPPORT]Confuse about the strategy to evaluate average record size"
**Describe the problem you faced**

In the UpsertPartitioner class, the method called averageBytesPerRecord is used to evaluate the average record size according to previous commits. There is a fileSizeThreshold used to filter commit which can be evaluated.
Such value is calculated as
"hoodieWriteConfig.getRecordSizeEstimationThreshold() * hoodieWriteConfig.getParquetSmallFileLimit();"
May I have

[2021-03-04 15:37] rswagatika commented on #2564
@bvaradar  Hi I was able to get the files but the driver log am trying will provide you once i have it. Let me know if this is what you meaning for recursive s3 dataset?

2021-02-10 18:44:03    0 Bytes my_test/.hoodie/.aux/.bootstrap/.fileids_$folder$
2021-02-10 18:44:02    0 Bytes my_test/.hoodie/.aux/.bootstrap/.partitions_$folder$
2021-02-10 18:44:02    0 Bytes my_test/.hoodie/.aux/.bootstrap_$

[2021-03-04 19:56] umehrot2 opened #2633 "Empty File Slice causing application to fail in small files optimization code"
**Describe the problem you faced**

IHAC who is using Hudi's `Spark structured streaming sink` with `asynchronous compaction` and `Hbase Index` on EMR. The Hudi version being used is 0.6.0. After a while their job fails with the following error:

[code]

Here is a timeline of events as well leading up to the failure of the final delta commit `20210228152758`:

![image](https://user-images.githubus

[2021-03-04 19:58] umehrot2 commented on #2633
@bvaradar can you confirm that the finding is correct since it seems you worked on that file system view implementation ? Also cc @n3nash @vinothchandar

[2021-03-04 20:26] n3nash commented on #2633
@umehrot2 From what you are describing, it looks like a bug. When we configure HbaseIndex, we automatically assume

[code]

and inserts go into log files.

But this part of the code -> https://github.com/apache/hudi/blob/release-0.6.0/hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java#L190
is assuming that either
     a) inserts first go into parquet files

[2021-03-04 20:40] vinothchandar commented on #2633
cc @bvaradar as well, who can confirm.

[2021-03-04 21:05] satishkotha commented on #2614
@root18039532923 Did you get a chance to try this patch? We can merge patch after your testing looks good.

[2021-03-04 21:07] satishkotha commented on #2589
yeah, column deletions are not supported today. You can consider making all columns optional and continue writing null for fields that you want to delete.

@bvaradar Could you take a look at MOR table log files schema issue?

[2021-03-04 21:28] umehrot2 commented on #2592
@codejoyan I think the problem stems because you are using `org.apache.spark:spark-avro_2.11:2.4.4` in you packages with spark-submit. This is incompatible with `spark-sql 2.3.0` that is why you get that `NoSuchMethod` exception. Bundling/shading this package will not solve the problem either because its just incompatible.

What happens if you use `databricks-avro` package instead of `spark-avro`:

[2021-03-04 21:59] bvaradar commented on #2620
@nsivabalan  is looking into this.

[2021-03-05 02:42] root18039532923 commented on #2614
I need the jar of the patch which you opened to test,but I am using inner-net. @satishkotha

[2021-03-05 11:44] Sugamber opened #2637 "[SUPPORT] - Partial Update : update few columns of a table"
We have one table with more than 300 columns. We would like to update only few fields.
I read the configuration and it suggested that we have to use **HoodieRecordPayload** and provide our own merge logic.
I didn't see any example on hudi documentaion.
Please help me on this

[2021-03-06 04:46] afeldman1 opened #2639 "[SUPPORT] Spark 3.0.1 upgrade cause severe increase in Hudi write time"
Using Hudi 0.6.0, updated from Spark 2.4.7 on EMR 5.32.0 to Spark 3.0.1 on EMR 6.2.0, there is a significant slowdown on writing into Hudi tables. With Spark 2.4.7 the process writing into the Hudi table takes about 6 minutes, while with Spark 3.0.1, the same code takes about 3.4 hours.

The table has 60073874 records.
The source Spark is reading the data from is a single un-partitioned parquet fi

[2021-03-06 11:01] WilliamWhispell commented on #2515
Is the current recommended work around to set:

'hoodie.datasource.write.row.writer.enable': 'false',
'hoodie.fail.on.timeline.archiving': 'false'

Any negative consequences of disabling row.writer? I have not seen any documentation on what enabling/disabling does.

[2021-03-06 14:25] codejoyan commented on #2620
Thanks @bvaradar and @nsivabalan. Please let me know how to improve the performance.
I used the below configurations (SIMPLE INDEX and turned off compaction)  to speed up the instance and see much improvement:
hoodie.parquet.small.file.limit 0
hoodie.index.type SIMPLE

But what are the downsides of not using the DEFAULT Bloom filter. In my use-case I would have both late arriving data, so will the

[2021-03-06 16:55] codejoyan commented on #2592
Hi @umehrot2

I tried using `databricks-avro` along with `avro 1.7.7` and [avro 1.8.2](url) but I still get `NoSuchMethod` exceptions still.
I am yet to try and build Hudi. Will check on that.

**databricks-avro and avro 1.8.2**
[code]

**databricks-avro and avro 1.7.7**

[code]

[2021-03-07 05:55] jackiehff opened #2641 "[SUPPORT]Build Hudi source with spark 3.1.1 compile error"
**Describe the problem you faced**

When I build hudi source with newest spark 3.1.1 version, the terminal prints compile error : /Users/jackiehff/github/hudi/hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/AvroConversionHelper.scala:133: error: class IncompatibleSchemaException in package avro cannot be accessed in package org.apache.spark.sql.avro

**To Reproduce**

Steps to reprodu

[2021-03-08 01:54] pj001 opened #2644 "Hudi cow table incremental data error"
When using Hudi cow table incremental data, the result is inconsistent with the actual data. Is it caused by metadata merging? How can I solve it?

[2021-03-08 02:10] #2630 closed

[2021-03-08 07:40] pj001 commented on #2644
It seems that the commit under Hoodie will clean up periodically. Can't incremental read read all the data?

[2021-03-08 09:42] liujinhui1994 opened #2647 "[SUPPORT] hive2.1.1 MR cannot be queried based on hive partition"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-03-08 16:02] bvaradar commented on #2647
Can you enable INFO/DEBUG logs on Hive side and add logs. Can you also provide description of the table 'desc formateed <table_name>' in hive and the listing of .hoodie folder ?

[2021-03-08 16:12] bvaradar commented on #2644
Cleaning can be controlled through configuration. You can basically retain the old history that you want to read for incremental read.

https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-WhatdoestheHudicleanerdo

[2021-03-08 16:15] bvaradar commented on #2641
@garyli1019 : Can you take a look at this ?

[2021-03-08 16:17] bvaradar commented on #2639
@nsivabalan : Can you take an initial look at this issue ?

[2021-03-08 17:03] nsivabalan commented on #2498
We know spark3 bundling in hive has some issues and will be fixed in upcoming release. https://issues.apache.org/jira/browse/HUDI-1568
If you are also facing issue w/ spark2, then we might need to investigate further.

[2021-03-08 17:05] nsivabalan commented on #2566
Yeah, sorry we identified issues w/ bundling. I have put up a PR and hoping to get it fixed in upcoming release.
https://github.com/apache/hudi/pull/2625

[2021-03-08 17:13] nsivabalan commented on #2620
Hey hi @codejoyan : Few clarifying questions on your use-case and record keys.
- What constitutes your record key? Is it completely random, or does it have any ordering property to it.
- For eg, if you record key consists of timestamp, we could leverage file pruning by min and max ranges per data file. But if its completely random, then our pruning step would be an overhead since we may not filter

[2021-03-08 17:17] codejoyan commented on #2592
Unfortunately even after building the file and using `-Pspark-shade-unbundle-avro` I am running into the same issue. Am I missing anything

**Build command:**
`mvn -DskipTests -Pspark-shade-unbundle-avro clean package`

**Spark command**
[code]

**Error Message**
[code]

[2021-03-08 18:19] stackfun commented on #2369
This seems like an issue with hadoop - https://issues.apache.org/jira/browse/HADOOP-13519

Unfortunately, org.apache.hadoop.fs.Path is not serializable until hadoop 3.0.
Thoughts on how to workaround this from hudi's perspective?

[2021-03-08 22:16] kimberlyamandalu commented on #1679
@bvaradar Sorry for the delayed response. Yes, the JSONException object is present in this jar
$ jar -xvf json-1.8.jar
  created: META-INF/
 inflated: META-INF/MANIFEST.MF
  created: org/
  created: org/json/
 inflated: org/json/JSON.class
 inflated: org/json/JSONArray.class
 inflated: org/json/JSONException.class
 inflated: org/json/JSONObject$1.class
 inflated: org/json/JSONObject.class
 inflate

[2021-03-09 02:05] root18039532923 commented on #2623
The problem is due to hbase version? @bvaradar

[2021-03-09 02:17] root18039532923 commented on #2614
After you merge the patch ,I have a try.because I have no the jar of  the patch.

[2021-03-09 08:09] guanziyue opened #2648 "[SUPPORT] a NPE error when reading MOR table in spark datasource"
**Describe the problem you faced**

Hello guys, I meet a NPE when I use spark dataSource API to read a MOR table.  The stacktrace is attached at the end of post.

Then I tried to find suspicious code by online debugging. The result being observed is shown as below.

Let's start from the method buildFileIndex in MergeOnReadSnapshotRelation.
[https://github.com/apache/hudi/blob/master/hudi-spark-dat

[2021-03-09 11:59] garyli1019 commented on #2641
@jackiehff Hi, did you change the `spark-avro` version as well?

[2021-03-09 17:09] bvaradar commented on #2648
@umehrot2 : Can you take a look at this Spark DataSource related issue

[2021-03-09 20:48] satishkotha commented on #2614
got it. i'm asking other folks to review and merge the patch.

[2021-03-10 02:07] jackiehff commented on #2641
@garyli1019  spark-avro version is the same as spark version 3.1.1

[2021-03-10 03:38] shenbinglife opened #2652 "[SUPPORT] I have some questions for hudi clustering"
1. does the mapping of [<key,partitionpath> -> fileGroupId ]  changed after clustering ?  the record may wrote to another filegroup?
2. clusting sort the columns, does it change the physical path of the record to different location which not a partition path by using inlinefs ?
3. does clustering work on full hudi table or we can choose some partitions?
4. why clustering ignore the file which size

[2021-03-10 05:30] nsivabalan commented on #2515
@t0il3ts0ap : Can you clarify something. Whats the schema of the dataframe of the output from transformer in deltastreamer you use in your delete use-case? I assume its the same schema as dataset schema w/ the "_hoodie_is_deleted" field set to true. is my understanding right ?

[2021-03-10 05:33] vinothchandar commented on #2652
cc @satishkotha @lw309637554 do you want to take this?

[2021-03-10 05:52] vinothchandar commented on #2614
@root18039532923 #2622  is now landed. are you able to try out the master branch and confirm?

[2021-03-10 07:13] t0il3ts0ap commented on #2515
@nsivabalan
[code]
There was a issue with column addition as well https://github.com/apache/hudi/issues/2589, so I raised this. Here you will find related logs as well.

[2021-03-10 07:44] shivabansal1046 opened #2656 "HUDI insert operation is working same as upsert"
I am trying to append my spark dataframe using insert (option(OPERATION_OPT_KEY, "INSERT"))
But its still behaving like upsert i.e. updating the matching rows

[2021-03-10 16:56] rubenssoto commented on #2639
I have the same problem with Hudi 0.6.0 EMR version on EMR 6.x, Using Hudi 0.7.0 on the same EMR version works perfectly.

Hudi 0.6.0 doesn't have support for spark 3, so AWS made changes to make it work.

[2021-03-10 20:33] satishkotha commented on #2614
@root18039532923 yes, You may find [this page](https://github.com/apache/hudi#building-apache-hudi-from-source) useful to build from source

[2021-03-10 23:23] stackfun opened #2657 "[SUPPORT] SparkSQL/Hive query fails if there are two or more record array fields in MOR table."
**Describe the problem you faced**

If the data ingested into a hudi MOR table contains two or more record/struct array fields, then hive queries fail on the _rt table.
I believe hudi is attempting to construct the avro schema from the schema stored in hive, but hudi re-uses the same "array" record name multiple times. In avro, record names have to be unique.

**To Reproduce**

[code]

**Expected

[2021-03-11 02:08] bvaradar commented on #2623
Yes, that is what I guess cc @n3nash

[2021-03-11 02:29] bvaradar commented on #2656
@nsivabalan : Can you please take a look ?

[2021-03-11 02:46] bvaradar commented on #2564
@rswagatika : Sorry for the delay. Finally got a chance to look at it. It does look there are about 20 versions per file present. I do see compactions ran successfully. So, no issues with it. My only suspicion is cleaner did not even seem to start contrary to the configurations you gave and the experience you had with running cleaner in CLI. At this point, the driver logs (with INFO) is what would

[2021-03-11 08:11] n3nash commented on #2637
@Sugamber The `HoodieRecordPayload` provides 2 API's to perform custom merges

1) preCombine
2) combineAndGetUpdateValue

Each of these API's is a callback that provides you with the `other payload`. In case of preCombine this could be another payload while performing an in-memory reduce by key operation while for combineAndGetUpdateValue, the payload provided in the callback is the latest one in

[2021-03-11 10:00] jonashartwig opened #2661 "[SUPPORT] Hive 3 partitions"
Steps to reproduce the behavior:

1. start spark shell `spark-shell \
  --packages org.apache.hudi:hudi-spark-bundle_2.11:0.7.0 \
  --conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer'`
2. run spark code and create data:
[code]
3. create hive table
[code]
4. recover partitions:
[code]

**Expected behavior**
repair table command succeeds and the table can be queried foe 1 row

**Env

[2021-03-11 13:28] rubenssoto opened #2664 "[SUPPORT] Spark empty dataframe problem"
Hello Guys,

I have a pipeline that reads csv file and writes to Hudi, much simple. The csv files are from an external application, yesterday I realized that the application creates a csv file even if has no data, so my pipeline read an empty csv and writes to Hudi, because of that, my tables have a lot of empty commits and all my parquet files disappeared.

[20210311130632.commit.zip](https://git

[2021-03-11 15:42] lw309637554 commented on #2652
@shenbinglife @vinothchandar hello,  i can reply it .
1. yes, the mapping changed. Will write to another file group.
2. clustering sort ,just make the records in a filegroup are sorted. It use spark RDDCustomColumnsSortPartitioner.
3. Now it will work on full table. And  every time will choose "hoodie.clustering.plan.strategy.daybased.lookback.partitions" num partition to clustering. You can set t

[2021-03-11 22:17] nsivabalan commented on #2515
@t0il3ts0ap : I spent sometime looking at the code. Looks like we do fallback to RowbasedSchemaProvider if you schema provider is not set. So, wondering why do you provide a schemaProvider and then return null for target schema. IMO, that may not be the right usage of the deltastreamer tool. I would recommend either setting the right schema in schemaProvider or do not provider schemaProvider so th

[2021-03-12 04:43] t0il3ts0ap commented on #2515
@nsivabalan oh I see. Well I am reading from kafka topic where data is present in avro schema, so I am forced to use a source schema for it.
And since I am using transformer to add/remove/change fields, I wanted to infer target schema easily from `Dataset<Row>` instead of doing schema manipulations manually.
Isn't `NullTargetSchemaRegistryProvider` provided for the same. Btw, the issue is not comi

[2021-03-12 07:56] Sugamber commented on #2637
@n3nash  How can we pass custom class name? I copied same class as CustomRecordUpdate and tried to set during save. It throws class not found exception.
` writeDF.write.format("org.apache.hudi")
      .options(hudiConfMap)
      .option("hoodie.datasource.write.payload.class", classOf[CustomRecordUpdate].getName)
      .option(DataSourceWriteOptions.RECORDKEY_FIELD_OPT_KEY, "col1")
      .option(D

[2021-03-12 08:49] Tandoy opened #2667 "[SUPPORT]"
**Steps to reproduce the behavior:**

1.  `spark-shell  \
     --packages org.apache.spark:spark-avro_2.11:2.4.0  \
     --conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer' \
     --jars /opt/apps/hudi/packaging/hudi-spark-bundle/target/hudi-spark-bundle_2.11-0.7.0.jar`

2.run spark code and insert data

       import org.apache.hudi.QuickstartUtils._
       import scala.collectio

[2021-03-12 08:50] #2667 closed

[2021-03-12 08:55] Tandoy opened #2668 "[SUPPORT]Insert data error"
**Steps to reproduce the behavior:**

1.  `spark-shell  \
     --packages org.apache.spark:spark-avro_2.11:2.4.0  \
     --conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer' \
     --jars /opt/apps/hudi/packaging/hudi-spark-bundle/target/hudi-spark-bundle_2.11-0.7.0.jar`

2.run spark code and insert data

       import org.apache.hudi.QuickstartUtils._
       import scala.collectio

[2021-03-12 11:34] jonashartwig commented on #2661
I checked the config section again. There is a property to set to create proper hive partitions. Here is the fixed code:

[code]

[2021-03-12 11:34] #2661 closed

[2021-03-13 04:47] garyli1019 commented on #2657
hi @stackfun , thanks for reporting this issue. Would you try spark datasource to query as well? We can narrow this issue down if it only happens to hive.

[2021-03-13 07:13] Tandoy commented on #2668
**Solution**
1.Replace cdh-spark with parquet and avro jar packages of hudi/hudi-cli/target/lib/
2.Start command modification `spark-shell \ --packages org.apache.spark:spark-avro_2.11:2.4.4 \ --conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer' \ --jars /opt/apps/hudi/packaging/hudi-spark-bundle/target/hudi-spark-bundle_2.11-0.7.0.jar`

[2021-03-13 07:13] #2668 closed

[2021-03-13 16:28] nsivabalan commented on #2609
@bhasudha : Do you mind taking a look at this. Looks like customer is prototyping hudi and is a blocker for now.

[2021-03-13 16:32] nsivabalan commented on #2589
@t0il3ts0ap : yes, I am working on a potential fix for this issue.
https://github.com/apache/hudi/pull/2654/

crux of the issue:
In deltastreamer w/ a transformer, if schema provider is set, hudi takes it as is. Only if schema provider is not configured, hudi falls back to RowbasedSchemaProvider (which is the behavior you expect).

[2021-03-13 16:40] nsivabalan commented on #2637
@Sugamber : did you confirm that your class exists in class path while you run your spark job. classOf[CustomRecordUpdate].getName should have worked.

[2021-03-13 17:06] nsivabalan commented on #2639
@afeldman1 : is it possible for you to try hudi 0.7.0 with EMR? The time increase definitely seems unacceptable. I could not spot any issues on the first look especially since you have ran it w/ spark2 and its the issue only with spark3.

Can you try setting this config and let us know how it goes.
hoodie.datasource.write.row.writer.enable -> true
DataSourceWriteOptions.OPERATION_OPT_KEY -> DataSo

[2021-03-13 17:14] nsivabalan commented on #2644
@pj001 : Can you give us more details on what's the issue here. Do you mean to say, while reading data from COW table w/ incremental query, you see inconsistent results? If yes, can you throw some light on what do you mean by inconsistent. Do you see records from a diff commit or don't see all records from a commit of interest. More details would be easy for us to debug further.

Wrt cleaning, yes

[2021-03-13 17:21] nsivabalan commented on #2647
@liujinhui1994 : Can you provide the details that Balaji have asked.
Also, few clarifications.
1. You mean to say that, if you don't provide any partition filters ("select * from table") in hive, it works. But only when you provide a partition filter(select * from table where ds=‘2020-03-08’), you don't see any results. Is my understanding right?
2. Have you tried listing all partitions for Hudi T

[2021-03-13 17:24] nsivabalan commented on #2648
CC @n3nash : Can you take a look at this hbase index related issue. I remember seeing a similar [issue](https://github.com/apache/hudi/issues/2633) relating to a fileGroup w/ just a log file w/o base file. Not sure if its related.

[2021-03-13 17:28] nsivabalan commented on #2656
@shivabansal1046 : Can you provide us w/ you full configs you use while writing to hudi.
Also, can you clarify something:
By "behaving like upsert i.e. updating the matching rows", you mean that, if a record exists in hudi dataset in storage and you have a matching record in your incoming batch of ingest, you see both these are updated and when you query you see only the latest version?
Or do you

[2021-03-13 17:38] nsivabalan commented on #2664
@rubenssoto : how do you write to hudi? Do you use delta streamer or do you your own spark job that writes to hudi directly?
Also, what do you mean by "all my parquet files disappeared." ? Do you mean to say, due to cleaning, your files are disappeared? I don't quite get this.

Also, I assume this empty dataframe is not a one off thing, but its happens regularly w/ your pipeline and hence you wish

[2021-03-13 17:44] rubenssoto commented on #2664
Hello @nsivabalan

Im using my own spark job, yeah I think because of cleaning all my parquet files were gone.

Yeah that's it, we are ingesting data from an application called AppsFlyer, they send CSV files each hour, but when they don't have data to send, they send empty csv files with columns only.

[2021-03-13 17:46] nsivabalan commented on #2664
got it. thanks.
if checkpointing is not an issue, I would suggest to filter out at your end and avoid writing to hudi to make it easy.

[2021-03-13 18:23] rubenssoto commented on #2664
What do you mean by "checkpointing"?

[2021-03-13 20:04] nsivabalan commented on #2664
never mind. If you can filter and avoid doing empty commits on your end, that would be nice.

[2021-03-13 23:04] nsivabalan commented on #2515
got it, thanks.
@n3nash @bvaradar @vinothchandar : What's the purpose of NullSchemaRegistry. When one can use it.
@t0il3ts0ap : So, you are using NullTargetSchemaRegistryProvider as your schemaProvider w/ deltastreamer and with a transformer ? is my understanding right.

[2021-03-14 00:55] stackfun commented on #2657
Spark datasource works.

[2021-03-14 02:28] stackfun opened #2672 "[SUPPORT] Hang during MOR Upsert after a billion records"
**Describe the problem you faced**

After inserting a few hundred million records, upserts started to hang. I added `"hoodie.simple.index.input.storage.level": "DISK_ONLY"` and `"hoodie.write.status.storage.level": "DISK_ONLY"` properties and the hang went away temporarily.
After inserting a little over a billion records, upserts started to hang again.

Our keys are random (a sha256 hash) and ther

[2021-03-14 07:47] t0il3ts0ap commented on #2515
@nsivabalan Ya I provide target schema as null and using deltastreamer & transformer.

[2021-03-14 08:11] wosow commented on #2409
There is no impact on the production environment, only the problem occurred in the test 0.6.0, and the test was not performed in the 0.7.0.

     In addition, I have another question. I use sqoop to import the data in mysql to HDFS, and then use Spark to read and write the Hudi table. The table type is MOR. If I want to use asynchronous compaction, what parameters need to be configured, asynchrono

[2021-03-14 08:16] wosow commented on #2409
no

[2021-03-15 02:15] root18039532923 commented on #2623
@n3nash

[2021-03-15 04:51] maxiaoniu commented on #2639
Might be related with this
[code]
https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-whatsnew.html

[2021-03-15 07:59] shenbinglife commented on #2652
Thanks a lot

[2021-03-15 07:59] #2652 closed

[2021-03-15 08:13] Sugamber commented on #2637
@nsivabalan  Yes,
I have added the jar file in both driver and executor class path.
`spark-submit --jars /path/lib/orders-poc-1.0.41-SNAPSHOT-shaded.jar,/path/hudi-support-jars/org.apache.avro_avro-1.8.2.jar,/path/hudi-support-jars/spark-avro_2.11-2.4.4.jar,/path/hudi-support-jars/hudi-spark-bundle_2.11-0.7.0.jar --master yarn --deploy-mode cluster --num-executors 2 --executor-cores 4 --executor-m

[2021-03-15 09:42] aditiwari01 opened #2675 "[SUPPORT] Unable to query MOR table after schema evolution"
As per HUDI confluence (https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-What'sHudi'sschemaevolutionstory),
as long as schema is backward compatible, hudi will support seamless read/writes.

However, when I try to add a new column to my MOR table, I can successfully keep on writing but I can only read in read_optimised manner and not in snapshot manner.

The snapshot query fails with **org

[2021-03-15 14:20] wosow opened #2676 "[SUPPORT] When I used 100,000 data to update 100 million data, The program is stuck"
**Environment Description**

* Hudi version : 0.7.0/0.6.0

* Spark version : 2.4.4

* Hive version :2.3.1

* Hadoop version : 2.7.5

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Docker? (yes/no) : no

When I used 100,000 data to update 100 million data, the program was stuck and could not execute further. The table type used was MOR. The program execution diagram is as follows:
![image](https://

[2021-03-15 14:34] shivabansal1046 commented on #2656
Hi,

Below are the configs I am using
.write
      .format("org.apache.hudi").
      options(getQuickstartWriteConfigs).
      option(TABLE_TYPE_OPT_KEY, "MERGE_ON_READ").
      option(OPERATION_OPT_KEY, "INSERT").
      option(PRECOMBINE_FIELD_OPT_KEY, "last_update_time").
      option(RECORDKEY_FIELD_OPT_KEY, "id").
      option(PARTITIONPATH_FIELD_OPT_KEY, "creation_date").
      option(TABLE_N

[2021-03-15 15:28] pengzhiwei2018 commented on #2656
Hi @shivabansal1046 , currently hudi would do the insert operator when you have specified a rowkey for insert. You can use `UuidKeyGenKeyGenerator` as the row key to walk around this.

First define a `UuidKeyGenKeyGenerator` class.

class UuidKeyGenKeyGenerator(props: TypedProperties) extends ComplexKeyGenerator(props) {

    override def getRecordKey(record: GenericRecord): String = {
      UUID.

[2021-03-15 15:50] shivabansal1046 commented on #2656
Hi pengzhiwei2018,

Are you suggesting to add extra column which is generated key?
Is this workaround or this is how it should be?

[2021-03-16 02:09] pengzhiwei2018 commented on #2656
Hi @shivabansal1046 , no need to add a extra column,  just set `DataSourceWriteOptions#KEYGENERATOR_CLASS_OPT_KEY` to `classOf[UuidKeyGenKeyGenerator]` which generate a uuid key.

[2021-03-16 07:19] ztcheck opened #2680 "[SUPPORT]Hive sync error by using run_sync_tool.sh"
I used ```run_sync_tool.sh``` to synchronize the metadata between hudi and hive, and there were several errors:
1. The hive metastore cannot be recognized.
  Error message ```"Required table missing: "DBS" in Catalog "" Schema "". DataNucleus requires this table to perform its persistence operations. Either your MetaData is incorrect, or you need to enable "datanucleus.schema.autoCreateTables""```

[2021-03-16 07:23] ztcheck commented on #2680
All my environment is in k8s.

[2021-03-16 19:25] codejoyan commented on #2620
Aplogies for the delay @nsivabalan
Below are the answers to the questions you asked:
- What constitutes your record key? - The record key is random within a partition (store number (integer), trip number (string), bill item number (short)). However 2 of the 3 columns are numeric and sortable. Will pre-sorting help based on the use case above?
- Does your ingestion batch contain just inserts or upd

[2021-03-17 02:42] rubenssoto commented on #2664
Thank you, I will try if necessary I open this issue again, thank you

[2021-03-17 02:46] rubenssoto opened #2688 "[SUPPORT] Sync to Hive using Metastore"
Hello,

I'm trying to sync with hive in EMR 6.2 using metastore

Emr Version: 6.2
Hudi Version: 0.6.0/0.7.0

Spark Session:
spark_session = (
        SparkSession.builder.appName(spark_application_name)
        .enableHiveSupport()
        .getOrCreate()
    )

`hudi_options_bulk = {
  'hoodie.table.name': tableName,
  'hoodie.datasource.write.recordkey.field': 'id',
  'hoodie.datasource.write.tab

[2021-03-17 07:16] shenbinglife opened #2689 "[SUPPORT] Does a cow table support being writing by mor type? and a mor table support being writing cow type?"
Does a cow table support being writing by mor type? and a mor table support cow type?

[2021-03-17 12:36] aditiwari01 commented on #2675
Digging a bit deeper I have concluded that the issue is as following:

The avro refuses to read anny payload where reader schema has some extra field than writer schema unless default has been defined for that optional field. (even if the field is nullable, avro expects a default to read).

And while registering Avro schema, Hudi uses SparkAvroUtils to generate schema which explicitly creates sche

[2021-03-17 17:38] stackfun opened #2692 "[SUPPORT] Corrupt Blocks in Google Cloud Storage"
**Describe the problem you faced**

During a delta commit on MOR tables, if hudi generates avro log files that are larger than 16MB on Google Cloud Storage, then hudi always fails to read them due to a corrupted block error. Might be related to this - https://github.com/apache/hudi/pull/2500

**To Reproduce**

[code]

in hudi-cli:
[code]

In the compaction commit, we also see corrupted blocks.

**

[2021-03-18 01:07] nsivabalan commented on #2589
@t0il3ts0ap : our suggestion here is to not set any schema provider. Hudi will fallback to RowBasedSchemaProvider. Hope that would solve your use-case. Fix is very involved and we don't think we can interpret the schema and then fallback to row based.

[2021-03-18 04:32] t0il3ts0ap commented on #2589
@nsivabalan The only reason I am using schema provider is because data present in kafka is in confluent avro format. Is there any way to read that without using schema provider ?

[2021-03-18 20:45] kimberlyamandalu opened #2696 "Metadata and runtime exceptions in Hudi 0.7.0 on AWS Glue"
I am getting the following set of errors when running a Pyspark Streaming job in AWS Glue and upserting to a Hudi Dataset in S3.

Glue version: 2
Python version: 3
Spark version: 2
Hudi version: 0.7.0

`ERROR BaseTableMetadata: Failed to retrieve files in partition s3://mybucket/mydb/mytable/myear=2020/mmonth=3 from metadata`

`ERROR FileSystemViewHandler: Got runtime exception servicing request p

[2021-03-22 02:54] youngyangp opened #2700 "[SUPPORT] Hive sync error by using DataFrameWriter"
1.hive tables just hava table schema fileds but hava not data in schema
   this is my code
[code]
2.I find that hdfs folder is different than before
[code]
the .parquet document and .hoodie_partition_metadata document is in default folder

**Environment Description**

* Hudi version : 0.7.0

* Spark version : 2.4.4

* Hive version :2.3.3

* Hadoop version :2.8.4

* Storage (HDFS/S3/GCS..) :HDFS

*

[2021-03-22 07:17] #2700 closed

[2021-03-22 10:32] cdmikechen opened #2705 "[SUPPORT] Can not read data schema using Spark3.0.2 on k8s with hudi-utilities (build in 2.12 and spark3)"
**Describe the problem you faced**

I use spark operator on openshift 4.6 to receive Kafka data and insert data to hudi table. I use `hudi-utilities_2.12` (maven build in 2.12 and spark3), and use debezium to read mysql binlog.
When spark read kafka data, It shows the following error in *Stacktrace*
I don't know if this is bug in hudi 0.7.0 with spark3 or spark3 has a problem with the structure of

[2021-03-22 11:49] Sugamber commented on #2637
I'm able to resolve class not found exception.

[2021-03-22 12:21] gopi-t2s commented on #2406
Hi @nsivabalan,
@SureshK-T2S and me working together to setup multi table delta streamer

I downloaded the latest version(0.7.0) of hudi-utilities-bundle.jar from MAVEN reporisitory(https://mvnrepository.com/artifact/org.apache.hudi/hudi-utilities-bundle_2.11/0.7.0) and tried to run the spark-submit multi table delta streamer command without providing the schema provider class(hope this is not man

[2021-03-22 12:50] nsivabalan commented on #2406
yes, as you could see from commit, it was merged 2 to 3 weeks back. We have an upcoming release in a week or two. So, you should have it in 0.8.0. If you want to verify the fix, you can pull in latest master and try it out. 0.7.0 does not have this fix.

[2021-03-22 12:51] nsivabalan commented on #2637
what was the issue or fix. Do you mind updating it here.

[2021-03-22 15:01] nsivabalan commented on #2692
interesting. I will have to try it out locally to reproduce. Will keep you posted. thanks for reporting.

[2021-03-22 15:02] nsivabalan commented on #2692
@vburenin : Do you know of any such issues.

[2021-03-22 15:02] nsivabalan commented on #2688
@n3nash : Can you help here or loop in someone who has exp w/ hive metastore.

[2021-03-22 15:05] nsivabalan commented on #2680
@n3nash : Can you help here.

[2021-03-22 15:51] nsivabalan commented on #2675
Yeah, hudi just relies on Avro's schema compatibility in general. From the [specification](http://avro.apache.org/docs/current/spec.html#Schema+Resolution), looks like adding a new field w/o default will error out.
[code]

[2021-03-22 15:53] nsivabalan commented on #2675
You can add null as default value for your new field if that would work for you.

[2021-03-22 15:53] nsivabalan commented on #2664
thanks!

[2021-03-22 15:53] #2664 closed

[2021-03-22 15:54] nsivabalan commented on #2657
@garyli1019 : when you get time, would appreciate if you can follow up on this.

[2021-03-22 16:09] gopi-t2s commented on #2406
Thanks @nsivabalan for confirming.

[2021-03-22 16:45] vburenin commented on #2692
@nsivabalan Nope, but there is a huge data loses with hudi 0.5.0 with MoR. I haven't tried MoR table with 0.7.0, only CoW.

[2021-03-22 17:14] vburenin commented on #2692
@stackfun What't your config setup to connect to GCS? In my case I use gcs connector.

[2021-03-22 17:40] stackfun commented on #2692
Yes, I am using the gcs connector. Seems like it is configured automatically when submitting spark jobs through dataproc on GCP.

When using hudi-cli.sh on the master node of a dataproc cluster, I export the following before running the script. `export CLIENT_JAR=/usr/local/share/google/dataproc/lib/gcs-connector.jar:/usr/local/share/gogle/dataproc/lib/gcs-connector-hadoop2-1.9.17.jar`

[2021-03-22 17:43] stackfun commented on #2672
Seems like I mitigated the hangs by changing the following spark configs
`"spark.executor.memory": "6g"`

And I changed the following hudi configs.
`"hoodie.memory.merge.fraction": "0.75"`

[2021-03-22 18:06] vburenin commented on #2692
Hm, you are using 1.x. I am on 2.1.x. 2.2 seems borked a little. In my case gcs-connector is baked into spark image.

[2021-03-22 20:40] nsivabalan commented on #2656
I am not sure sure on case sensitivity on operation type. Can you try "insert" as operation type instead of "INSERT". From what I know, "insert" operation should not update, but just add incoming records as new records.

[2021-03-23 00:02] vinothchandar commented on #2672
@stackfun JVM defaults to the stop-the-world collector. So without much memory, you could also be facing high gc times.
Some of these are listed here https://cwiki.apache.org/confluence/display/HUDI/Tuning+Guide

Is the job happy now?

[2021-03-23 00:50] bvaradar commented on #2689
You can think of MOR being a superset in terms of functionality compared to COW table. So, if you have  an existing COW table, it should be straightforward to make it MOR by setting the table type in hoodie.properties. But, the opposite migration is not straightforward as we need to ensure there are no pending compactions before an MOR table can be converted to COW.

[2021-03-23 01:14] garyli1019 commented on #2657
sorry for the delay, I will try to reproduce this once finish the release.

[2021-03-23 01:25] shenbinglife commented on #2689
Thanks

[2021-03-23 01:25] #2689 closed

[2021-03-23 04:31] Sugamber commented on #2637
@nsivabalan , I had created shaded jar and it was causing the issues as few dependencies version were conflicting.

[2021-03-23 05:49] Sugamber commented on #2637
I have created one class after implementing HoodieRecordPayload. We have three methods for which we have to write our logic.
1. preCombine
2. combineAndGetUpdateValue
3. getInsertValue
@n3nash  As per your above explanation,  preCombine would provide the current record which is coming in incremental load and combineAndGetUpdateValue will provide the latest records from hoodie table.
Please correct

[2021-03-23 05:49] cdmikechen commented on #2705
I've found the problem:
There is a new configuration named `hoodie.deltastreamer.schemaprovider.spark_avro_post_processor.enable` and it is `true` by default. If I use my custom transformer and set `target scheme` null, hudi will not work by a null schema.
I set `target scheme` to the same as `source schema` for testing, so that spark will not work and report above errors. If I set `hoodie.deltast

[2021-03-23 05:56] Sugamber commented on #2637
public class PartialColumnUpdate implements HoodieRecordPayload<PartialColumnUpdate> {
    private static final Logger logger = Logger.getLogger(PartialColumnUpdate.class);
    private byte[] recordBytes;
    private Schema schema;
    private Comparable orderingVal;

    public PartialColumnUpdate(GenericRecord genericRecord, Comparable orderingVal) {
        logger.info("Inside two parameter con

[2021-03-23 07:00] aditiwari01 commented on #2675
We can not provide defaults from spark. Need to change where hudi registers the avro schema.

Another point is that reading via hive from mor_rt table after schema evolution, it also fails because of wrong reader schema. I have been testing a few changes. Will raise a jira issue with the PR.

[2021-03-23 09:22] Sugamber commented on #2637
Can this use case be achieved using Hudi?

[2021-03-23 09:37] zherenyu831 opened #2707 "[SUPPORT] insert_ovewrite_table failed on archiving"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
Configs

[2021-03-23 09:44] zherenyu831 commented on #2707
simple workaround is delete first commit file

[2021-03-23 11:37] zherenyu831 commented on #2707
But got new error

[code]

[2021-03-23 12:07] zherenyu831 commented on #2707
Also saw some comment and find below link
https://issues.apache.org/jira/browse/HUDI-1518
Seems you are going to use cleaner to delete the file group,
but currently, if I use cleaner, there is only one file group will be kept

[2021-03-23 13:24] bvaradar commented on #2707
@satishkotha : Can you take a look at this ? (cc @n3nash )

[2021-03-23 13:41] vinothchandar commented on #2696
@kimberlyamandalu do you have the full stack trace?

[2021-03-23 14:02] bvaradar commented on #2705
@nsivabalan : This looks like a bug and likely needs fixing. Opened : https://issues.apache.org/jira/browse/HUDI-1711

[2021-03-23 14:05] kimberlyamandalu commented on #2696
@vinothchandar there was actually no stack trace in the logs. Those messages I posted above would just repeat for almost every partition, but it did not spit out anything else.

[2021-03-23 14:25] bvaradar commented on #2676
Did you try increasing executor instances to see if the job completes in less time ?
Also, it looks like GlobalBloomIndex is enabled. This is needed only when you want record-key uniqueness across your partitions  and upstream source itself does not guarantee that. Just wanted to check if this is the case.

[2021-03-23 17:57] satishkotha commented on #2707
@jsbali is working on a fix for first error.

The second error mentions instant '20210317155538'. I dont see this in initial commit timeline you mentioned. Can you provide additional details on how you got this error? was the metadata file removed while write is in progress?

[2021-03-24 00:26] zherenyu831 commented on #2707
@satishkotha
Sorry I parste wrong log, I updated the log, please check again.

When archiving finished, seems metaclient didn't reload, so it's trying to read the archived commit, then we got the error

[2021-03-24 05:13] Sugamber commented on #2637
@n3nash  Please confirm if this use case can be achieved . If yes, provide few inputs.

[2021-03-24 05:41] stayrascal opened #2712 "[SUPPORT] May I ask how to delete data by Flink SQL"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

The [do

[2021-03-24 09:31] Sugamber commented on #2637
There is an open pull request for partial update for CoW table.
https://github.com/apache/hudi/pull/1929

It looks like my use case .

[2021-03-24 10:49] Sugamber commented on #2637
@nsivabalan  Do we have any timeline for this pull request ?
Pull request 1- https://github.com/apache/hudi/pull/1929/
Pull request 2- https://github.com/apache/hudi/pull/2666

[2021-03-24 13:07] nsivabalan commented on #2675
1. do you use the RowBasedSchemaProvider and hence can't explicitly provide schema? If you were to use your own schema registry, you might as well provide an updated schema to hudi while writing.
2. got it. would be nice to have some contribution. I can help review the patch.
In the mean time, I will give it a try schema evolution on my end with some local set up.

[2021-03-25 04:07] nsivabalan commented on #2675
yes, you are right. I was able to reproduce the issue(local spark). Have filed a [bug](https://issues.apache.org/jira/browse/HUDI-1716).
I am yet to try out the hive issue. but it could be the same. Appreciate any contribution :)

[2021-03-25 08:06] aditiwari01 commented on #2675
1. Not sure on how to pass row schema with defaults to spark writer (if at all its possible.)

2. The idea for path is to update to avro schema with default of null for all nullable fields. If you wish you can refer function **getAvroSchemaWithDefs** in my local branch: https://github.com/aditiwari01/hudi/commit/68a7ad20cc570f88940f2481d0ae19986254f1d8#diff-21ccee08cebace9de801e104f356bf4333c017d5

[2021-03-25 10:35] MyLanPangzi opened #2717 "[SUPPORT] run_sync_tool support hive3.1.2 on hadoop3.1.4"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

**can w

[2021-03-26 01:18] root18039532923 commented on #2623
no reply

[2021-03-26 06:19] liijiankang opened #2723 "[SUPPORT]RejectedExecutionException FutureTask rejected from ThreadPoolExecutor[Terminated...]"
**Describe the problem you faced**
   We use Structured Streaming to subscribe to the data in Kafka, and then write the data to the hoodie, the program will stop abnormally after running for a period of time.

**Environment Description**

* Hudi version :

* Spark version :

* Hive version :

* Hadoop version :

* Storage (HDFS/S3/GCS..) :HDFS

* Running on Docker? (yes/no) :no

```Add the stacktr

[2021-03-26 06:21] liijiankang commented on #2723
Hudi version :0.6.0

Spark version :2.4.0+cdh6.2.0

Hive version :2.1.1+cdh6.2.0

Hadoop version :3.0.0+cdh6.2.0

[2021-03-26 07:26] Ashwanisr opened #2724 "Incremental query misses rows after delete operation using spark"
spark 2.4.4 runtime
**Upsert function:**

[code]

Using this upsert function I performed 4 upserts. Table state and files are :
hudi/Album/ 0
hudi/Album/.hoodie/ 0
hudi/Album/.hoodie/.aux/ 0
hudi/Album/.hoodie/.aux/.bootstrap/ 0
hudi/Album/.hoodie/.aux/.bootstrap/.fileids/ 0
hudi/Album/.hoodie/.aux/.bootstrap/.partitions/ 0
hudi/Album/.hoodie/.temp/ 0
hudi/Album/.hoodie/20210325102516.commit 1563

[2021-03-26 08:44] bvaradar commented on #2712
@danny0405 @yanghua : Can you please help with this question ?

[2021-03-26 08:51] bvaradar commented on #2717
@MyLanPangzi : Thanks for opening the issue along with a workaround. Can you open a PR with this changes. This needs to test with other versions of hive to make sure there is no regression bug. cc @nsivabalan  : Opened https://issues.apache.org/jira/browse/HUDI-1724

[2021-03-26 08:53] danny0405 commented on #2712
Thanks @stayrascal , batch delete is not supported now ~, Flink SQL now supports row level delete through the CDC source into hudi, if say, your format can produce messages with Flink `RowKind`: `INSERT/UPDATE/UPDATE_AFTER/UPDATE_BEFORE`

[2021-03-26 09:14] bvaradar commented on #2724
@satishkotha : Is this something you can take a look at ?

[2021-03-26 09:20] bvaradar commented on #2723
This does look like some exception coming from cleaner. Can you look around the logs to see if there are more stack traces related to this ?

Can you try setting hoodie.clean.async=False and see ?

[2021-03-26 09:50] liijiankang commented on #2723
![4](https://user-images.githubusercontent.com/42951757/112612764-41f97380-8e5a-11eb-8bca-c0eb8b358f48.png)
Thanks，I will test it .If this exception comes from a cleaner, do we have to set hoodie.clean.async = false?

[2021-03-26 11:03] MyLanPangzi commented on #2717
this is my pr https://github.com/apache/hudi/pull/2719. but i think this that needs some test for hive2 and hive3

[2021-03-26 22:33] nsivabalan commented on #2637
@Sugamber : we are currently busy with an upcoming release. Once completed, I will start reviewing this work item. Guess there are few other folks who were interested in this. We can target it for next release.

[2021-03-27 02:42] Tandoy opened #2728 "[SUPPORT]Hive sync error by using run_sync_tool.sh"
**Steps to reproduce the behavior:**
`./run_sync_tool_sh --jdbc-url jdbc:hive://dxbigdata102:1000 \
--user appuser \
--pass '' \
--base-path 'hdfs://dxbigdata101:8020/user/hudi/test/data/hudi_trips_cow' \
--database test \
--table hudi_trips_cow
`

**Expected behavior:**
to sync a hoodie HDFS table with a hive metastore table

**Environment Description:**
Hudi version : 0.7.0
Spark version : 2.4.0

[2021-03-27 22:22] nsivabalan commented on #2589
I assume you are using AvroKafkaSource. IIUC reading from kafka does not need a schema provider. Have you tried not setting any schema provider?

[2021-03-28 01:29] nsivabalan commented on #2675
Yes, your approach should work. Only change is that, we might have to fix it where we generate avro schema from df schema in HoodieSparkSqlWriter. Eg: https://github.com/nsivabalan/hudi/commit/43b3fc845a7b2ea4c68f1b3fc3e13b41bfb2d17e
(My method to regenerateSchema is not full fledged. But it does work for mor w/ evolved schema for string type. actual fix should look like what you have in your comm

[2021-03-28 03:49] aditiwari01 commented on #2675
Yes. My changes are also in HoodieSparkSqlWriter where we generate avro schema from df schema. The only difference is where to keep the convertor function. Instead of having a separate DataSourceUtils.regenerateSchema function, I enhannced convertStructTypeToAvroSchema method itself to handle null values. Seems to me that this is a limitation in convertStructTypeToAvroSchema function and we need n

[2021-03-29 01:52] stayrascal commented on #2712
@danny0405 thanks for your reply, got it.

[2021-03-29 01:52] #2712 closed

[2021-03-29 13:34] rubenssoto commented on #2688
Hello,

somebody could help?
@n3nash

[2021-03-29 15:42] nsivabalan commented on #2589
hi @t0il3ts0ap. On a related note, with upcoming release, we have added support for [custom deserializer](https://github.com/apache/hudi/pull/2619) if you are using AvroKafkaSource. So, it will fetch latest schema from your schema registry and use that while deserialize kafka records.

[2021-03-29 15:45] nsivabalan commented on #2592
@bvaradar @umehrot2 : reminder to follow up on this issue. Also, once resolved, can you please add a faq entry w/o fail.

[2021-03-29 15:49] nsivabalan commented on #2557
@kingkongpoon : sorry for the late follow up. May I know why do you use Global bloom. Our default recommendation is to use regular "BLOOM" if you don't have any special requirement to use global version. Global bloom is expected to be slower depending on characteristics of your record keys.
If your record keys are completely random (no ordering or any timestamp in them), we would recommend using "

[2021-03-29 15:51] nsivabalan commented on #2537
@jiangjiguang : let us know once you have some avro. We are trying to iron our all issues related to schema and kafka issues. would be good to get this addressed as well.

[2021-03-29 15:55] nsivabalan commented on #2544
@cdmikechen : whats would be your advise on how to go about this. Would be nice to get this fixed for hudi users.

[2021-03-29 15:57] nsivabalan commented on #2544
Have filed a [tracking](https://issues.apache.org/jira/browse/HUDI-1736) ticket.

[2021-03-29 15:59] nsivabalan commented on #2498
@zafer-sahin @Magicbeanbuyer : Can you folks try out w/ spark2 and let us know if you still encounter the same issue.

[2021-03-29 16:01] nsivabalan commented on #2564
@n3nash : a gentle reminder on follow up.

[2021-03-29 16:09] nsivabalan commented on #2566
@jtmzheng : we fixed the bundling issues in latest master. And we have an upcoming release. If you are doing POC, you can try to build from latest master and give it a try. If not, can wait for release to be complete and use the new maven artifacts.

[2021-03-29 16:53] nsivabalan commented on #2513
@n3nash : user is awaiting your response.

[2021-03-30 06:01] t0il3ts0ap commented on #2589
@nsivabalan Thats awesome. I will check it out.
We have recently shifted to COW table and not facing issue of column addition there.
I will check it out on MOR Table once without schema provider and post my findings here.

[2021-03-30 07:38] n3nash commented on #2409
@wosow looks like this is not a real issue in production. For your questions on async compaction, have you taken a look at this blog -> https://hudi.apache.org/blog/async-compaction-deployment-model/ ? If your questions are still unanswered after reading this blog, please ping here and we will answer them

[2021-03-30 07:40] n3nash commented on #2437
@jiangok2006 Can you help reproduce this issue and provide the information that @nsivabalan has requested ?

[2021-03-30 07:47] n3nash commented on #2513
@GintokiYs Sorry for the delayed response. Can you please check the partition path of the 2 records with the same record key, are they the same or different ? Also, are you able to reproduce this case in the docker quickstart utils (https://hudi.apache.org/docs/docker_demo.html) ?

[2021-03-30 07:53] n3nash commented on #2623
@root18039532923 Sorry for my delayed response. In the latest master, this jar has been packaged in the bundles -> https://github.com/apache/hudi/commit/657e73f9b157a1ed4d6e6e515ae8f63156061b88
My guess is this jar was not packaged and hence throwing this, can you backport this patch and try on your version of Hudi please ?

[2021-03-30 07:53] n3nash commented on #2633
@umehrot2 Are you going to open a PR to fix this issue ?

[2021-03-30 08:01] n3nash commented on #2637
@Sugamber You code looks correct. Here is the flow :

1) InputDF -> DF<HoodieRecord> -> DF<HoodieRecord (PartialUpdatePayload (bytes))
2) In-batch dedup, combine of records with same record key -> preCombine(..) -> getInsertValue(incremental_schema)
3) Perform upsert
4) combineAndGetUpdateValue(record_from_disk, incremental_schema) -> getInsertValue(incremental_schema)

Now, if your target schema

[2021-03-30 08:31] aditiwari01 opened #2743 "Do we have any TTL mechanism in Hudi?"
Do we have any TTL mechanism in Hudi? We have streaming jobs writinng to Hudi and we do not want the data to grow indefinitely. Lets say we are only interested in rows updated in last 1 month. Is there any way to specify row level TTL?

[2021-03-30 09:47] Tandoy commented on #2728
**Solution**
Modify HADOOP_HIVE_JARS= of run_sync_tool.sh to adapt to my own environment

[2021-03-30 09:47] #2728 closed

[2021-03-30 13:02] cdmikechen commented on #2544
@nsivabalan
hive2 use `java.sql.timestamp` to describe timestamp type and hive3 use a new custom timestamp class to describe it. So that hive2 and hive3 have two different way to solve this issue.
I've create a custom serd class to solve this problem and  a new commit to show my changed in my fork https://github.com/cdmikechen/hudi/commit/b1b03d19174507677740766d007875b5caede665  about hive2. And

[2021-03-30 14:08] nsivabalan commented on #2675
there are two code paths in HoodieSparkSqlWriter.
(1) AvroConversionUtils.convertStructTypeToAvroSchema(df.schema, structName, nameSpace)
(2) HoodieSparkUtils.createRdd(df, schema, structName, nameSpace)

(1) uses SchemaConverters.toAvroType(...)
(2) uses our custom converter function (createConverterToAvro) in AvroConversionHelper.

What I meant is, (1) is strictly needed which is what I tried ou

[2021-03-30 14:21] nsivabalan commented on #2656
@shivabansal1046 : Can you give us a reproducing code snippet.

[2021-03-30 14:23] nsivabalan commented on #2589
sounds good. will close the ticket for now. Feel free to open another ticket if you need any more help or find any issues.

[2021-03-30 14:24] #2566 closed

[2021-03-30 14:29] nsivabalan commented on #2515
@t0il3ts0ap : we can use the other issue ticket for further discussion. I am closing this for now as the original issue for which this was reported is fixed. i.e. null schema in commit metadata for bulk insert w/ row writer.

[2021-03-30 14:29] #2515 closed

[2021-03-30 15:04] nsivabalan commented on #2672
@stackfun : once you respond, can you please remove "awaiting-user-response" label for the issue.

[2021-03-30 15:08] nsivabalan commented on #2657
@garyli1019 : once you have responded, can you fix the labels accordingly. can you please remove "awaiting-community-help" label for the issue and add "awaiting-user-response" label.

[2021-03-30 15:08] stackfun commented on #2672
Unfortunately, the gc related configurations did not work. I think we can changing "hoodie.memory.merge.fraction" helped solve the hang issue.

[2021-03-30 15:08] #2672 closed

[2021-03-30 15:11] nsivabalan commented on #2644
@pj001 : gentle ping.

[2021-03-30 15:13] nsivabalan commented on #2641
@garyli1019 : once you respond, can you please remove "awaiting-community-help" label for the issue and add "awaiting-user-response" label.

[2021-03-30 15:14] nsivabalan commented on #2639
@afeldman1 : gentle ping. once you respond, can you please remove "awaiting-user-response" label for the issue. If possible add "awaiting-community-help" label.

[2021-03-30 15:21] nsivabalan commented on #2623
@root18039532923 : once you respond, can you please remove "awaiting-user-response" label for the issue. If possible add "awaiting-community-help" label.

[2021-03-30 15:22] nsivabalan commented on #2614
@root18039532923 : once you respond, can you please remove "awaiting-user-response" label for the issue. If possible add "awaiting-community-help" label.

[2021-03-30 15:24] nsivabalan commented on #2724
once someone responsds, can you please remove "awaiting-community-help" label for the issue and add "awaiting-user-response" label.

[2021-03-30 15:30] nsivabalan commented on #2707
@satishkotha : once you respond, can you please remove "awaiting-community-help" label for the issue and add "awaiting-user-response" label.

[2021-03-30 15:30] nsivabalan commented on #2688
@n3nash : once you respond, can you please remove "awaiting-community-help" label for the issue and add "awaiting-user-response" label.

[2021-03-30 15:31] nsivabalan commented on #2676
@wosow : once you respond, can you please remove "awaiting-user-response" label for the issue. If possible add "awaiting-community-help" label.

[2021-03-30 16:40] nsivabalan commented on #2609
Sudha: once you respond, can you please remove "awaiting-community-help" label for the issue and add "awaiting-user-response" label.

[2021-03-30 16:47] nsivabalan commented on #2588
Balaji/Udit: once you respond, can you please remove "awaiting-community-help" label for the issue and add "awaiting-user-response" label.

[2021-03-30 17:02] bhasudha commented on #2609
@rshanmugam1  Sorry for the delayed response. I believe Trino uses a very early Hudi integration which calls inputformat.getSplits() for every Hive partition that is being loaded. I can check the code and confirm soon. With this what happens is every loadPartition() from BackgrooundHiveSplitLoader will delegate to HoodieInputFormat.getSplits(). That will load the Hoodie metadata which is what you

[2021-03-30 17:08] nsivabalan commented on #2546
once you respond, can you please remove "awaiting-user-response" label for the issue. If possible add "awaiting-community-help" label.

[2021-03-30 17:14] nsivabalan commented on #2529
@rajgowtham24 : can you please respond to @andormarkus 's question if you are still looking for answers/help.

[2021-03-30 17:17] nsivabalan commented on #2508
closing this out due to no activity. Please re-open or create a new ticket if required.

[2021-03-30 17:18] nsivabalan commented on #2498
once you respond, can you please remove "awaiting-user-response" label for the issue. If possible add "awaiting-community-help" label.

[2021-03-30 17:20] nsivabalan commented on #2490
Please respond when you get time. Will close it out due to inactivity in some time. But definitely reach out to us if you need any help.

[2021-03-30 17:20] nsivabalan commented on #2489
gentle ping for response.

[2021-03-30 17:21] nsivabalan commented on #2482
gentle ping. once you respond, can you please remove "awaiting-user-response" label for the issue. If possible add "awaiting-community-help" label.

[2021-03-30 22:58] umehrot2 commented on #2633
@n3nash I am waiting of @bvaradar to look into the issue once. He mentioned to me offline that he needs to confirm if this is actually an issue. I can open the PR to avoid NPE atleast but about changes in `FileSystemView` itself, I thought of waiting for Balaji to look into it once.

[2021-03-31 00:44] bvaradar commented on #2743
Have opened a feature request for this : https://issues.apache.org/jira/browse/HUDI-1741

@nsivabalan @n3nash : FYI

[2021-03-31 00:57] bvaradar commented on #2724
@Ashwanisr : Incremental pull is supported only for soft deletes and not hard deletes.  Please see:
https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-DoesdeletedrecordsappearinHudi'sincrementalqueryresults?

[2021-03-31 00:58] bvaradar commented on #2723
@liijiankang : No, My intention was to make the cleaner synchronous so that the spark job can fail immediately after encountering the exception. It is purely to debug the issue and not a solution.

[2021-03-31 01:01] bvaradar commented on #2717
@MyLanPangzi : Can you test your change against those environments and update the PR ?

@nsivabalan : Further  discussion needs to move to the PR and we can close this GH.

[2021-03-31 01:17] bvaradar commented on #2588
Hive Syncing through Hudi works fine in AWS production setup (non EMR) without any issues. Here is an example config through DeltaStreamer.

--hoodie-conf hoodie.datasource.hive_sync.database=<db> --hoodie-conf hoodie.datasource.hive_sync.enable=true --hoodie-conf hoodie.datasource.hive_sync.jdbcurl=jdbc:hive2://hiveserver:10000 --hoodie-conf hoodie.datasource.hive_sync.partition_extractor_class=o

[2021-03-31 02:25] bvaradar commented on #2633
@umehrot2 @n3nash  @nsivabalan : My apologies. Sorry for the delay, I finally got chance to look into this .

Yes, this will only manifest for case when index can support log files. I believe this is the problem:  We are using wrong API of FileSystemView here

https://github.com/apache/hudi/blob/release-0.6.0/hudi-client/src/main/java/org/apache/hudi/table/action/deltacommit/UpsertDeltaCommitParti

[2021-03-31 03:51] nsivabalan commented on #2743
@aditiwari01 : if you are not running a continuous job (deltastreamer), is it possible to trigger a job at regular cadence to fetch records from hudi that are > 1 month old and issue deletes back to hudi. I know this may not be efficient, but atleast will unblock you for now.

[2021-03-31 04:30] #2724 closed

[2021-03-31 04:41] n3nash commented on #2633
Thanks for this explanation @bvaradar, this makes sense to me. I think `getLatestFileSlicesBeforeOrOn` is slightly misleading when read out of context :( I just read the java docs and it took me a while to understand that, may be we can add more information in the java docs @umehrot2 to ensure correct usage of these APIs.

[2021-03-31 04:45] n3nash commented on #2648
@guanziyue This issue is the same as https://github.com/apache/hudi/issues/2633. After some analysis, we have found the underlying issue as pointed in that particular ticket. Once a PR is raised for that issue, this issue should also be addressed.

[2021-03-31 04:55] n3nash commented on #2688
@rubenssoto I see that you have enabled hive support for the spark session. Generally, that loads a different classpath inside spark. Are you able to try doing this without hive support enabled as follows

[code]

[2021-03-31 05:04] n3nash commented on #2696
@kimberlyamandalu Can you try turning off the metadata table in hoodie to get your pipeline unblocked ?

[code]

This looks like an exception in the metadata table. Without any more logs, it's hard to debug what may be going on. If you are OK to deploy a custom build, we can work on adding more logs to help surface the underlying issue.

https://github.com/apache/hudi/blob/release-0.7.0/hudi-timel

[2021-03-31 05:12] n3nash commented on #2680
@ztcheck Are you using the `hudi-hive-sync-bundle` to execute the script `run_sync_tool .sh` ?

Can you please provide what `HUDI_HIVE_UBER_JAR` is in your env ?

[2021-03-31 05:27] rubenssoto commented on #2588
@bvaradar which hive version do you use?  How many jobs running at the same time?

Probably your case, you have a big Hive, to respond a lot of requests, in my case I use hive inside EMR only to integrate with Glue

[2021-03-31 05:44] aditiwari01 commented on #2743
I was thinking around similar lines but we do have continuous jobs (not deltastreamer, but spark streaming jobs with 5/10 mins minni batches). We can't have a separate job for deletion since we do not support concurrent writers.

Another possible solution can be to have our table partitioned at commit time and then have a manual cleanup schedule jobs which deletes older partitions. The challenges

[2021-03-31 06:24] aditiwari01 opened #2748 "Are we stopping support for spark <2.4.4 with hudi 0.8.0?"
The method "translateSqlOptions" from DataSourceOptions is breaking for spark 2.4.0.

Was unable to find any documentation for spark version supported for 0.8.0-SNAPSHOT. Just wanted to confirm if Hudi is stopping support for spark versions <2.4.4.

[2021-03-31 06:32] vinothchandar commented on #2748
cc @garyli1019 as well.

No we are continuing to support spark 2.x AFAIK

[2021-03-31 06:58] garyli1019 commented on #2748
Hi @aditiwari01 , would you add more context here? Do you mean you are not able to compile Hudi with spark 2.4.0?

[2021-03-31 07:12] aditiwari01 commented on #2748
@garyli1019  Yes. More specifically for the mentioned method, we are using a constant "SparkDataSourceUtils.PARTITIONING_COLUMNS_KEY".

This was introduced in spark v2.4.2. Hence for versions <2.4.2 the compilation fails with object not found.

For reference:
spark v2.4.1 (https://github.com/apache/spark/blob/v2.4.1/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceUtils

[2021-03-31 11:35] Sugamber commented on #2637
Thank you!!!

[2021-03-31 15:25] nsivabalan commented on #2748
thanks a lot for raising this @aditiwari01 . we are looking into it.
https://issues.apache.org/jira/browse/HUDI-1745

[2021-03-31 15:56] nsivabalan commented on #2609
thanks Sudha. if you feel you are done w/ you response, feel free to remove the "awaiting-community-help" label

[2021-03-31 15:58] nsivabalan commented on #2633
@n3nash : Can you please file a tracking jira and close this out. Do add labels w/ severity as appropriate to both issues and jira

[2021-03-31 16:02] nsivabalan commented on #2717
sure. Closing this out. we can continue the discussion in PR. [Here](https://issues.apache.org/jira/browse/HUDI-1721) is the right jira (closed the other one as duplicate)

[2021-03-31 16:02] #2717 closed

[2021-03-31 16:10] nsivabalan commented on #2648
@n3nash : add severity label if you have sense of it. just reminding.

[2021-03-31 16:22] vinothchandar commented on #2748
@nsivabalan this would be a release blocker and we need to fix the RC if spark 2.x has issues. agree?

[2021-03-31 16:36] vinothchandar commented on #2748
@aditiwari01 This is a bit of my bad. Actually we have always required Spark 2.4 for a while now (we need `spark-avro` from there). So as long as Spark 2.4 works and Spark 3.x works we are good.

Sorry for the false alarms

[2021-03-31 16:54] kimberlyamandalu commented on #2696
Hi @n3nash,
Thanks for looking into this.
I can try disabling metadata for my workload. Can we toggle metadata on and off for a data set? or does it need to be enabled from the time the data is bootstrapped? Is it something we can turn on after we have been ingesting for a bit and it will still work?

I will be willing to deploy a custom build so we can get more details on this issue. I will need

[2021-03-31 17:35] nsivabalan commented on #2748
@vinothchandar : guess issue is w/ spark2.4.1. looks like the api is available from 2.4.2 and not available in 2.4.1.

[2021-03-31 17:38] aditiwari01 commented on #2748
Yes. I faced the issue with 2.4.0 version itself.

[2021-03-31 21:27] rubenssoto commented on #2294
@bvaradar is it expected that this bug exists on 0.7.0?
What problem this bug cause?

[2021-03-31 22:43] nsivabalan commented on #2748
@aditiwari01 : don't think we are looking to support spark versions < 2.4.3. Its always been the case, and its a documentation issue. we will fix it.

[2021-03-31 22:43] #2748 closed

[2021-04-01 01:08] zherenyu831 commented on #2707
@jsbali
For make everything clear:
On archiving:
Since the first replacecommit have 0 partitionToReplaceFileIds, and it failed at
https://github.com/apache/hudi/blob/master/hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/ReplaceArchivalHelper.java#L73

with error `Positive number of partitions required`

Solution is
Manually delete first replacecommit or  ignore deletion on  0

[2021-04-01 02:01] rshanmugam1 commented on #2609
Thanks very much Sudha and team.

i will look in that direction and make sure that the cause. if that is the case, any pointers how to fix it. or any reference how it got fixed in facebook version of presto would be helpful. so that we can try same in Trino.

[2021-04-01 03:39] tooptoop4 commented on #2609
@rshanmugam1 see https://prestodb.io/blog/2020/08/04/prestodb-and-hudi   and https://github.com/prestodb/presto/commit/9fd2459d98efd0809023b175ba53775466b74cc6 and https://github.com/prestodb/presto/commit/cfb2e7aa077954a02c048e81c97a47994d329852

[2021-04-01 08:49] aditiwari01 opened #2756 "OrderingVal not being honoured for payloads in log files (for MOR table)"
While creating HoodieRecordPayloads from log files in case of MOR tables, the payloads are created without any orderingVal (even if specified while writing data). Due to this the precombine function could result in any payload irrespective of its orderingVal.

Attaching a sample script to reproduce the issue.

In this example, for key "key1", 1st insert is with ts=1000. Then we update with ts=2000

[2021-04-01 18:37] satishkotha commented on #2707
@ssdong thanks for detailed update. Yes, this one seems little tricky. We'll need some more time to investigate. In the meantime, as a workaround, i think you can disable embedded timeline server by setting option 'hoodie.embed.timeline.server'  to false.

 I can look into why reset needs to be called during close and if we can refresh meta client for getting timeline.

[2021-04-01 22:32] bvaradar commented on #2633
@umehrot2 : Looking more closely on the code change to fix this. We need to do more changes.
the base file check  needs to change  in https://github.com/apache/hudi/blob/e599764c2dcfbbc15d6554fa0df55b7375e4a31d/hudi-client/src/main/java/org/apache/hudi/table/action/deltacommit/UpsertDeltaCommitPartitioner.java#L96

We need to be careful otherwise in determining the current commit Time. I think as

[2021-04-02 00:44] #2644 closed

[2021-04-02 00:49] bvaradar commented on #2588
We use hive-2.3.4 and have more than 100 jobs running

[2021-04-02 01:47] root18039532923 commented on #2623
how to operate this? @nsivabalan

[2021-04-02 05:52] n3nash commented on #2623
@root18039532923 Not sure if you're asking how to package this but leaving a comment here if that's what you are referring to.

1. Do a git checkout of the 0.7.0 tag. `git checkout tags/version 0.7.0`
2. Patch the change in the https://github.com/apache/hudi/commit/657e73f9b157a1ed4d6e6e515ae8f63156061b88 to your checked out tag.
3. Re-build the packages using command `mvn clean package -DskipTest

[2021-04-02 05:54] n3nash commented on #2637
@Sugamber If your issue is addressed, please close this issue.

[2021-04-02 06:05] n3nash commented on #2696
@kimberlyamandalu Yes, you should be able to switch off your metadata table without any side-effect. Although, if you want to later turn on the metadata table, you will need to delete data under `basepath/.hoodie/metadata`. Once the metadata folder is empty, you can toggle the metadata back on and things will work fine.
There is a change to do this automatically in master now but for your case to

[2021-04-02 11:49] nsivabalan commented on #2756
yes, this is expected. if you are using OverwriteWithLatestAvroPayload as your payload class, combineAndGetUpdateValue does not honor ordering value. And so we added another payload for this purpose. DefaultHoodieRecordPayload. While using this, ensure you set "hoodie.payload.ordering.field" accordingly. Let me know how it goes.

[2021-04-02 11:52] nsivabalan commented on #2728
thanks for letting us know.

[2021-04-02 12:52] aditiwari01 commented on #2756
I think I couldn't explain myself. I am using DefaultHoodieRecordPayload only. I am attached sample command regardinng same.

The issue is not with "combineAndGetUpdateValue", rather with "preCombine".
 As per my uderstanding, combineAndGetUpdateValue is used to merge record from parquet and in memory record, whereas preCombine is used to dedupe multiple records in memory with same key. The preCom

[2021-04-02 15:35] jkdll opened #2760 "[SUPPORT] Possibly Incorrect Documentation"
Hi,
I am using the HudiWriteClient library and have been following the documentation at [this link](https://hudi.apache.org/docs/configurations.html#writeclient-configs) to instantiate the HoodieWriteConfig object.

The documentation indicates that the WriteConfig can define the [withAssumeDatePartitioning](https://hudi.apache.org/docs/configurations.html#withAssumeDatePartitioning) attribute. How

[2021-04-02 20:42] nsivabalan commented on #2756
CC @n3nash

[2021-04-02 20:51] nsivabalan commented on #2675
Closing this as we have a tracking jira.

[2021-04-02 20:51] #2675 closed

[2021-04-02 20:55] nsivabalan commented on #2586
Closing this for now. please feel free to reopen or open a new ticket.

[2021-04-02 20:55] #2586 closed

[2021-04-02 20:58] nsivabalan commented on #2284
CC @n3nash

[2021-04-02 20:59] nsivabalan commented on #2338
Closing due to inactivity. but feel free to reopen to create a new ticket. would be happy to assist you.

[2021-04-02 20:59] #2338 closed

[2021-04-03 12:03] ssdong commented on #2707
@satishkotha Thanks for the tips! In fact, I was also able to reproduce this issue locally on my machine regarding the `insert_overwrite_table` issue that @jsbali has raised tickets https://issues.apache.org/jira/browse/HUDI-1739 and https://issues.apache.org/jira/browse/HUDI-1740 against with.

For tracking and maybe helping you guys test the fix(in the future), I am pasting the script I used for

[2021-04-03 16:44] pratyakshsharma commented on #2760
Filed a jira here for the same - https://issues.apache.org/jira/browse/HUDI-1760.

[2021-04-03 22:48] rubenssoto commented on #2508
Hello,

Sorry for my very late response, but I tried again and I have problems with only one table, same table, same error:

21/04/03 22:09:32 WARN TaskSetManager: Lost task 0.0 in stage 31.0 (TID 1025, ip-10-0-49-182.us-west-2.compute.internal, executor 2): org.apache.hudi.exception.HoodieUpsertException: Error upserting bucketType UPDATE for partition :0
	at org.apache.hudi.table.action.commit.B

[2021-04-03 22:48] rubenssoto commented on #2508
When I dont use row writer enable on bulk insert I have no problems.

[2021-04-03 22:49] rubenssoto commented on #2508
Now Im testing with Hudi 0.8.0-rc1

[2021-04-04 03:26] ssdong commented on #2707
btw, @jsbali, are you working on both of these tickets?
https://issues.apache.org/jira/browse/HUDI-1739
https://issues.apache.org/jira/browse/HUDI-1740
Can I pick up one as I would be happy to contribute? 😄

[2021-04-04 05:15] Sugamber commented on #2637
@n3nash  I'm waiting for below pull request to merge. Please let me know if we can close once pull request merged.
https://github.com/apache/hudi/pull/2666

[2021-04-04 06:11] jsbali commented on #2707
Sure @ssdong. You can pick either of the qbove

[2021-04-04 10:04] aditiwari01 commented on #2756
Can we change the tag for the issue? Or is there anythinng required from my side?

[2021-04-04 21:37] kimberlyamandalu commented on #2696
Thanks @n3nash
I have added some additional print outs and I think I got an exception message. The stack trace is still not getting spit out though. I will keep trying to get a better error output but for the meantime, wanted to send you this info asap.
Looks like it is failing on some http request...

21/04/04 18:28:35 ERROR FileSystemViewHandler: StackTrace:
--
21/04/04 18:28:35 ERROR FileSystem

[2021-04-04 22:54] nsivabalan commented on #1786
Closing this due to inactivity. Feel free to reopen to create a new ticket if you need help.

[2021-04-04 22:54] #1786 closed

[2021-04-04 22:59] nsivabalan commented on #1757
Hudi also has an optimized version of bulk insert with row writing which is ~30 to 40% faster than regular bulk_insert. You can enable this by setting this config "hoodie.datasource.write.row.writer.enable" to true. Closing this due to no activity. But feel free to reach out to us if you need more help. Happy to assist you.

[2021-04-04 22:59] #1757 closed

[2021-04-05 00:26] nsivabalan commented on #2508
Sure. Keep us posted.

[2021-04-05 04:33] nsivabalan commented on #2637
We can close out this issue as we have a tracking jira and a PR being actively reviewed.

[2021-04-05 04:41] #2637 closed

[2021-04-05 04:42] nsivabalan commented on #2760
CC @garyli1019

[2021-04-05 05:31] nsivabalan commented on #2743
Yeah, we don't recommend deleting partitions outside of hudi. Hudi support insert_override operation. But not sure if it can just delete partition w/o ingesting any data.
@satishkotha : Is there a way to trigger deletion of a partition w/o any ingestion?

[2021-04-05 05:32] nsivabalan commented on #2760
Closing the GH issue as we have tracking jira.

[2021-04-05 05:32] #2760 closed

[2021-04-05 11:43] ssdong commented on #2707
@jsbali Thanks!
Can someone grant me permission to self-assign tickets in JIRA?
I've emailed to `dev@hudi.apache.org` but haven't been approved yet. 😅 It requires actions from a PMC member...

[2021-04-05 15:15] aditiwari01 commented on #2756
The same behaviour is seen for both snapshot query over spark and hive query over _rt table, since both of them uses same read path.

To be more specific, the issue seems to be in class `AbstractHoodieLogRecordScanner`, method `createHoodieRecord`.

Here we are creating HoodieRecord from IndexRecord without ordering val, and hence setting orderingVal=0 for all Records, irrespective of PayloadClass

[2021-04-05 15:21] aditiwari01 commented on #2743
I think the ideal way should be around compactor and cleaner.
Time based cleaner and filtering records with older commit time while compacting base file should solve the issue.

If there's a workaround using any delete option, please let me know.

[2021-04-05 16:11] nsivabalan commented on #2508
@rubenssoto : can you give us avro schema for which you are running into issues. You can change col names for privacy is required. Or better, if you know which field is exactly having issues, let us know. for eg: is it array (record with list of strings) or something of this sort. I mean, you don't need to give us the full schema, just the fields that are having issues. If you can't narrow down, n

[2021-04-05 16:50] nsivabalan commented on #2508
For eg: I tried array of records with some fields, and it looks good w/ bulk insert and row writer enabled.
[code]

[2021-04-05 17:12] rubenssoto opened #2770 "[SUPPORT] How column _hoodie_is_deleted works?"
Hi Guys,

I using Hudi upsert features in my datalake, and I have some tables with many deletes, I create the column called _hoodie_is_deleted and my final tables has data with _hoodie_is_deleted TRUE, I dont understand why.

I am not using delta streamer.

How it works?

Hudi 0.8.0 rc1
<img width="1325" alt="Captura de Tela 2021-04-05 às 17 30 40" src="https://user-images.githubusercontent.com/3

[2021-04-05 17:32] nsivabalan commented on #2756
yes, you are right. we do have a bug here w/ DefaultHoodieRecordPayload. With OverwriteWithLatestAvroPayload, we always choose the latest and so we didn't have this issue. DefaultHoodieRecordPayload class is something which was added in last few months and hence we didn't catch this. thanks for flagging this.
btw, DefaultHoodieRecordPayload uses a diff config named "hoodie.payload.ordering.field"

[2021-04-05 17:35] nsivabalan commented on #2756
Have filed a tracking [jira](https://issues.apache.org/jira/browse/HUDI-1763). Feel free to raise a PR :) once again, thanks for raising it.

[2021-04-05 17:35] #2756 closed

[2021-04-05 18:43] satishkotha commented on #2743
@nsivabalan  @aditiwari01  We actually introduce a delete_partition operation. See https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/model/WriteOperationType.java#L46

I *think* this can be called on empty dataframe (I havent tested it).
Looks like documentation is missing for this. @nsivabalan Could you open a ticket.

cc: @lw309637554 who implemented thi

[2021-04-05 23:27] stackfun opened #2771 "[SUPPORT] Log files are not compacted"
**Describe the problem you faced**

Sometimes, log files with only upserts are not compacted in MOR table.
 The first image shows the compacted parquet files, note that it was created March 30th.
![image](https://user-images.githubusercontent.com/68627128/113636890-3bbc8180-9628-11eb-8570-31b47355f1f6.png)

The second image has the log files, which were created after the 30th, but they are never c

[2021-04-06 01:29] root18039532923 commented on #2623
okay,I know this. What asked is how to remove "awaiting-user-response" and   add "awaiting-community-help" label. @nsivabalan

[2021-04-06 01:51] lw309637554 commented on #2743
@aditiwari01
hello
1. now you can batch delete partitions use hudiTable.deletePartitions() just like in https://issues.apache.org/jira/browse/HUDI-1350. Also a pr is doing more easy tool to delete partitions  https://github.com/apache/hudi/pull/2452
2. @aditiwari01 why you need to duplicate the data?  In my scene, if the data is user behaviors log from kafka , not need to duplicate.
3. Now have a

[2021-04-06 02:35] aditiwari01 commented on #2743
Thanks @lw309637554 Will look into this deletePartition in depth.

As for my use case, the ideal situation would be to have some kind of row level TTL taken care by cleaner/compactor. In absence of any such feature, I was wondering if I could partition on commit time and regularly delete older partitions. Our use case includes updates and for a given key the updates can exist on different partitio

[2021-04-06 05:07] ssdong commented on #2707
@nsivabalan @bvaradar Sorry for the bother. Could you kindly add me as a contributor so I could self-assign issues? I've set up my local dev env successfully and would like to move on from there. 😄  Sent an email to the dev mailing list but haven't gotten replies yet. Thanks!

[2021-04-06 06:11] liijiankang commented on #2723
@bvaradar I set hoodie.clean.async to false and this exception did not occur again.

[2021-04-06 06:30] n3nash commented on #2696
Yes, this is expected since you are probably using TimelineServer since that is enabled by default. The timeline server is a server running on the spark driver that services these requests to the executors.

We need to understand what the underlying exception is, specifically

`21/04/04 18:28:35 WARN ExceptionMapper: Uncaught exception` - what is the uncaught exception here ?

[2021-04-06 06:30] n3nash commented on #2688
@rubenssoto Were you able to try this out ?

[2021-04-06 06:33] n3nash commented on #2633
@bvaradar @umehrot2 I think we should move this discussion to a JIRA so that all the details and possible solutions are captured there. Have one of you created it ? if not I can do it.

[2021-04-06 06:34] n3nash commented on #2623
@root18039532923 You may not have access to do this, we can do it on your behalf.

[2021-04-06 06:35] n3nash commented on #2513
@GintokiYs Gentle ping on my comment above

[2021-04-06 06:36] n3nash commented on #2409
@wosow Did you get a chance to read the blog ? Please let us know if this issue is still valid

[2021-04-06 07:55] vobukh opened #2774 "[SUPPORT] NoSuchMethodError on exposing metrics"
I'm trying to expose hudi metrics to prometheus push gateway.
During the write operation I've got an error:

        at org.apache.hudi.metrics.prometheus.PushGatewayReporter.<init>(PushGatewayReporter.java:60)
	at org.apache.hudi.metrics.prometheus.PushGatewayMetricsReporter.<init>(PushGatewayMetricsReporter.java:52)
	at org.apache.hudi.metrics.MetricsReporterFactory.createReporter(MetricsReporte

[2021-04-06 09:04] ssdong commented on #2707
The original issue being brought up by @zherenyu831 has a bigger impact than we had imagined. The simple fix to omit the empty `partitionToReplaceFileIds` would work on release `0.7.0` but it won't work anymore for the latest master, i.e. `0.9.0-SNAPSHOT`. Ticket [HUDI-1740](https://issues.apache.org/jira/browse/HUDI-1740) has been updated to reflect the newest issues and we believe it has somethi

[2021-04-06 13:58] nsivabalan commented on #2743
@n3nash @vinothchandar @bvaradar : any thoughts here or workarounds until we have per record support for TTL.

[2021-04-06 14:16] zherenyu831 commented on #2707
@satishkotha cc @bvaradar
I found the problem why cleaner only keep one file version
https://github.com/apache/hudi/blob/master/hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanner.java#L216-L217

I think it breaks the isolation, do you have any plan?

[2021-04-06 14:27] #2770 closed

[2021-04-06 21:05] vansimonsen commented on #2294
I'm having same issue on new `0.8.0`

[2021-04-06 23:38] bvaradar commented on #2294
@vansimonsen : Can you open a new GH issue with the stack trace . @rubenssoto : I believe the PR landed before 0.7.0 was cut.

[2021-04-07 01:11] kimberlyamandalu commented on #2696
Hello @n3nash

I was able to get a little more info. Pls see log output below.
Looks like the exception is being thrown by the AWS SDK. But not sure what it means.

21/04/07 00:59:13 ERROR FileSystemViewHandler: Got runtime exception servicing request partition=message_year%3D2003%2Fmessage_month%3D1&maxinstant=20210406120821&basepath=s3%3A%2F%2Fav-diag-phm-flight-params-cold-store-qa%2Fphm_dynami

[2021-04-07 01:15] kimberlyamandalu commented on #2696
Might be related to this? https://stackoverflow.com/questions/39498492/spark-and-amazon-emr-s3-connections-not-being-closed

[2021-04-07 01:44] zherenyu831 commented on #2707
@satishkotha
Thank you for the explaining.
Totally understood.
Since insert_overwrite_table every time creating version of files, in this case,
instead of using KEEP_LATEST_VERSIONS, KEEP_LATEST_COMMITS make more sense.

[2021-04-07 02:36] nsivabalan commented on #2707
@satishkotha : I haven't gone through entire comment history. but we have introduced new labels to assist us in better help community.
We have these labels for issues.
awaiting-user-response: whenever you respond to an issue and waiting for author response.
awaiting-community-help: whenever author is waiting for some response/assistance from someone from the community
triaged: if we were able to t

[2021-04-07 02:55] nsivabalan commented on #2770
@rubenssoto : sorry what happened. why closed the issue?

[2021-04-07 03:03] nsivabalan commented on #2771
I see you have enabled async compaction. If you enable inline compaction, does it work?

[2021-04-07 03:07] nsivabalan commented on #2774
@n3nash : can you help here or loop in someone who can take a look at this issue.

[2021-04-07 07:33] n3nash commented on #2774
@vobukh

This looks like a problem due to the version differences between `io.dropwizard` in [prometheus-java client](https://github.com/prometheus/client_java/blob/master/simpleclient_dropwizard/pom.xml#L40) (3.1.2) vs `io.dropwizard` dependency in [Hudi](https://github.com/apache/hudi/blob/master/pom.xml#L105) (4.1.1)

Since Hudi brings in 4.1.1, the prometheus client is unable to find the requi

[2021-04-07 07:40] n3nash commented on #2771
@stackfun I see that you have some conflicting configs

[code]

You have enabled `inline` as well as `async` at the same time. Can you please enable one of them depending on if you want async or inline.

Additionally, I see that you have set the num delta commits before compaction kicks in to 16

[code]

This means compaction will not kick in until you do 16 delta commits. Additionally, even after

[2021-04-07 07:43] n3nash commented on #2696
@kimberlyamandalu This is unknown territory for me as well. Let me loop in some AWS experts here. @umehrot2 Do you have any idea what the timeouts may be related to ? To summarize this ticket's context, @kimberlyamandalu is running into the following exception when using timeline server

[code]

[2021-04-07 09:41] ztcheck commented on #2680
Yes,`hudi-hive-sync-bundle` already in `run_sync_tool .sh` .
I use the default value `HUDI_HIVE_UBER_JAR`  in the script.Just like `HUDI_HIVE_UBER_JAR=`ls -c $DIR/../../packaging/hudi-hive-sync-bundle/target/hudi-hive-sync-*.jar | grep -v source | head -1``

[2021-04-07 09:42] ztcheck commented on #2680
@n3nash,
Yes,`hudi-hive-sync-bundle` already in the script `run_sync_tool .sh` .
I use the default value `HUDI_HIVE_UBER_JAR`  in the script.Just like `HUDI_HIVE_UBER_JAR=`ls -c $DIR/../../packaging/hudi-hive-sync-bundle/target/hudi-hive-sync-*.jar | grep -v source | head -1``

[2021-04-07 15:32] nsivabalan commented on #2399
btw, we have filed a feature request to support reusing existing hudi configs https://issues.apache.org/jira/browse/HUDI-1640

[2021-04-07 15:39] nsivabalan commented on #2743
@lw309637554 @satishkotha : fyi we are yet to add spark ds support for this "delete_partition" operation.

[2021-04-07 19:08] ssdong commented on #2707
Hi @satishkotha @jsbali ! I've created the pull request for this issue. Had observed more when going down the road and I've tried my best to clarify them and hopefully had written a detailed enough description for the PR. Let me know. Thanks!

[2021-04-07 19:52] kvallala commented on #2528
We are having the same issue. It works with `spark.sql.hive.convertMetastoreParquet=false`  when querying Hudi table from spark session, but see duplicates when querying through external hive metastore.  Could you pls suggest the required configuration to be set for external Hive Metastore so it works when querying from Hue/spark SQL or any other speed layer (like Dremio) that connects to Hive Met

[2021-04-07 22:03] stackfun commented on #2771
Setting the "hoodie.compaction.target.io" config worked like a charm. Thanks a lot!

[2021-04-07 22:03] #2771 closed

[2021-04-07 22:12] rubenssoto commented on #2770
@nsivabalan I think the error in on my side.

I didn't filter the deleted records on the first batch, it could be a great feature to Hudi in the future.

[2021-04-07 23:01] nsivabalan commented on #2770
Sorry, what feature you are looking for. can you please clarify. hudi automatically deletes those records which has "_hoodie_is_deleted" set to true. in other words, if you have a batch of write, with mixed set of records (inserts, updates, deletes), hudi will honor all 3. you just need to use "upsert" as your operation type.

[2021-04-08 05:24] n3nash commented on #2743
@aditiwari01 I think you mentioned 2 issues here

1. Record level TTL -> We don't have such a feature in Hudi. Like others have pointed out, using the `hudiTable.deletePartitions()` API is a way to manage older partitions. Yes, you could partition based on _hoodie_commit_time or any other date based partitioning that structures your table to be eligible for deleting older partitions completely.
2.

[2021-04-08 05:35] n3nash commented on #2707
@ssdong Thanks for opening the PR! Closing this issue now

[2021-04-08 05:35] #2707 closed

[2021-04-08 05:37] n3nash commented on #2705
Closing this issue since this requires a bug fix, please follow the JIRA above for updates/details.

[2021-04-08 05:37] #2705 closed

[2021-04-08 05:38] aditiwari01 commented on #2743
@n3nash Thanks for the clarificatio. Can we create a jira for the same. I can't pick this right away but would try to conntribute as and when I get time.
Meanwhile I will try to directly use the low level api to unblock myself.

[2021-04-08 05:38] n3nash commented on #2692
@vburenin Can you please open a JIRA ticket with the details on "huge data losses with hudi 0.5.0 and EMR" ? I don't want to pollute this thread.

[2021-04-08 05:40] n3nash commented on #2692
@stackfun Can you respond to @vburenin question ? We can try to go from there..

[2021-04-08 05:44] n3nash commented on #2680
@ztcheck What changes did you make to the `run_sync_too.sh` ? Can you list out the jars you added to the classpath ?
It seems like some of the classes should be packaged in the `hudi-hive-sync-bundle` but they are not. Once you provide the packages you added to your classpath, we can then see how to add those to the bundle ?

[2021-04-08 05:55] n3nash commented on #2623
@root18039532923 Let me know if your issue was resolved after backporting that PR.

[2021-04-08 06:03] n3nash commented on #2743
@aditiwari01 Here is the ticket and is assigned to you for now :) BTW, there is some relevant work happening here https://github.com/apache/hudi/pull/2452. Please comment on the PR for further changes.

[2021-04-08 06:03] #2743 closed

[2021-04-08 07:59] rubenssoto opened #2787 "[SUPPORT] Error upserting bucketType UPDATE for partition"
Hello guys,

My hudi job start to have this error, could you help me with it?

emr 6.2
Hudi 0.8.0
spark 3.0.1

Thank you

21/04/08 07:38:34 WARN TaskSetManager: Lost task 0.0 in stage 311.0 (TID 7540, ip-10-0-63-227.us-west-2.compute.internal, executor 2): org.apache.hudi.exception.HoodieUpsertException: Error upserting bucketType UPDATE for partition :0
	at org.apache.hudi.table.action.commit.Bas

[2021-04-08 08:17] vobukh commented on #2774
@n3nash , actually downgrading hudi metrics to 3.1.2 looks better for us - we have a transitive dependency on io.dropwizard.metrics: metrics-core:3.1.5 in our application, which I believe is compatible with 3.1.2, so it will allow us to use hudi-spark instead of hudi-spark-bundle artifact.

[2021-04-08 14:00] li36909 commented on #2544
@nsivabalan @cdmikechen
I fix and pass the test by a simple change like this:
at hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/utils/HoodieRealtimeRecordReaderUtils.java

case LONG:
177 | +        if (schema.getLogicalType().getName().equals("timestamp-micros") && supportTimestamp) {
178 | +          Timestamp timestamp = new Timestamp();
179 | +          timestamp.setTimeInMillis((Long) val

[2021-04-08 14:08] vburenin commented on #2692
@n3nash I am not sure the issue is still relevant. That has been happening with Hudi 0.5.0-snapshot. The symptoms were like there are duplicate records, or records were not upserted which could be seen as version field was let say 9, but the current version is like 15. Apparently the compaction is to blame, we had a few intermitent failures when compaction didn't finish and when it eventually fini

[2021-04-08 14:21] njalan opened #2791 "[SUPPORT]Failed to enable hoodie.metadata.enable"
I am facing performance issue by S3 slow file listing. So I try to enable hoodie metadata to improve performance.

**Environment Description**

Hudi version : 0.7

Spark version : 3.0.1

Hive version : 3.1.2

Hadoop version : 3.2.1

Storage (HDFS/S3/GCS..) : S3

Running on Docker? (yes/no) : no

**Additional context**

Below is my hudi configuration:

    df.write.format("org.apache.hudi")

[2021-04-08 16:40] n3nash commented on #2791
@prashantwason Can you take a look at this ?

[2021-04-08 17:01] kimberlyamandalu commented on #2620
I have a similar issue where bloom index performance is very slow for upsert into a Hudi MOR table.
Does anyone know if when Hudi performs an upsert, does it only lookup index for the related partitions or does it lookup against the entire data set? I have partitions of year and month from 1998 to 2020. My upserts are mostly to recent partitions (95%). I also notice a lot of calls to build fs view

[2021-04-08 17:39] codejoyan commented on #2620
@nsivabalan, any inputs would be very helpful.

[2021-04-08 17:39] codejoyan commented on #2592
Please let me know if there are any suggestions to try out

[2021-04-08 17:40] stackfun commented on #2692
I'm using GCP dataproc 1.4, the gcs connector version is 1.9.17. The versions of all the libraries can be found here: https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-release-1.4

[2021-04-08 23:50] nsivabalan commented on #2620
@codejoyan : sorry, somehow slipped from my radar.
May I know whats the scale of data you are dealing with? I see your parallelism is very less (2). Can you try w/ 100 or more and see how it goes.

Among 3 methods you have quoted, 2 of them are index related and 3rd is actual write operation.

Best way to decide partitionin strategy is to see what your queries usually filter based on. If its date

[2021-04-08 23:51] nsivabalan commented on #2620
@kimberlyamandalu : do you have a support ticket for your question. lets not pollute this issue. we can create a new one for your use-case and can discuss over there

[2021-04-09 00:14] cdmikechen commented on #2544
@li36909
As I known, `TimestampWritableV2` is a hive3 class, we mainly use hive2 lib in hudi.And your class is based on a `MOR` table, my change is based on a `COW` table.
I can see how I can incorporate your code into my branch. Meanwhile, we may need to consider whether we need to treat hive3 and hive2 as two subprojects. In this way, it will be helpful to make subsequent changes to different hi

[2021-04-09 00:23] njalan commented on #2791
After job running half an hour I got this error. Once I remove all the files from table directory and got the error again within an hour.

[2021-04-09 01:18] ztcheck commented on #2680
@n3nash I'm not sure which jar is missing, so i add all of the jars under ${HIVE_HOME}/lib/*.jar to the classpath . And i use this start command,it works .
 `HIVE_EXTERNAL_JAR=${HIVE_HOME}/lib/*.jar
java -cp $HIVE_EXTERNAL_JAR:$HUDI_HIVE_UBER_JAR:${HADOOP_HIVE_JARS}:${HADOOP_CONF_DIR}:${HIVE_HOME}/conf org.apache.hudi.hive.HiveSyncTool "$@"`.

[2021-04-09 01:22] ztcheck commented on #2680
I update my iuuse description.

[2021-04-09 02:56] li36909 commented on #2544
@cdmikechen thank you for your explain. I use hudi 0.7 + spark 2.4.5 + hive 3.1, and didn't test with hive 2.*, if possible please fix this issue for hive3 also, thank you very much

[2021-04-09 05:24] nsivabalan commented on #2787
Can you give us the configs you used? is it failing at the beginning itself or after after few batch of writes?
looks like this is the root cause.
[code]
also, can you give us the schema of the dataset in use.