[2022-08-11 03:39] LinMingQiang opened #6364 "Hive synchronization failure : Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient"
`
ERROR org.apache.hadoop.hive.metastore.RetryingHMSHandler - Retrying HMSHandler after 2000 ms (attempt 1 of 10) with error: javax.jdo.JDOFatalInternalException: Unexpected exception caught.
	at javax.jdo.JDOHelper.invokeGetPersistenceManagerFactoryOnImplementation(JDOHelper.java:1193)
	at javax.jdo.JDOHelper.getPersistenceManagerFactory(JDOHelper.java:808)
	at javax.jdo.JDOHelper.getPersistenceM

[2022-08-11 04:48] #6364 closed

[2022-08-11 05:27] yihua commented on #6335
@rohit-m-99 Is this from Spark SQL? Do you see any exceptions or stacktrace?  A few things to try out: (1) restart spark-shell or spark-sql to see if this goes away; (2) set `hoodie.metadata.enable` to `false` in Deltastreamer and wait for a few commits so that metadata table is deleted completely (no `.hoodie/metadata` folder), and then re-enable the metadata table.

[2022-08-11 08:13] Limess opened #6367 "[SUPPORT] Failed Job - doing partition and writing data - in Hudi 0.11.0"
**Describe the problem you faced**

We're seeing some weird behaviour since upgrading to Hudi 0.11.0-amzn (i.e. EMR 6.7.0) from Hudi 0.10.0-amzn (EMR 6.6.0):
Deltastreamer jobs are seemingly succeeding, but have a failed job now.

![image](https://user-images.githubusercontent.com/3199181/184091401-7deb443b-5031-4adf-917b-434db90c857c.png)

![image (1)](https://user-images.githubusercontent.com/31

[2022-08-11 09:40] parisni commented on #6226
I get the same error (Unable to acquire lock, lock object null) . This occurs rarely and the workaround is to remove the entry in dynamodb manually.

[2022-08-11 10:37] Limess commented on #6367
This now seems to have turned into errors when running Deltastreamer:

[code]

[2022-08-11 10:48] Limess commented on #6367
I'm going to try to delete the Hoodie `metadata` table and recreate it.

[2022-08-11 13:10] ToBeFinder opened #6371 "[SUPPORT]when flink recovers from savepoint, there will be some data duplication in hudi"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-08-11 15:00] pomaster commented on #4622
@nochimow Thanks for the info!  When was the last update from AWS Support on your ticket?  We are planning to reach out to AWS Redshift engineering team for help.  Don't want to waste their time if there has already been a recent status update (e.g. < 1 month).  Can you share your AWS Support ticket #?  You can e-mail me at: po@onehouse.ai.

[2022-08-11 16:45] ehurheap commented on #6194
@KnightChess , yes there is duplicate data when running a query on the data:

[code]

[2022-08-11 16:48] parisni opened #6373 "[SUPPORT] Incremental cleaning never used during insert"
hudi 0.11.1

I am working on tables with huge number of partition (> 100k) and almost append only - no update in the past, rarely delete.

Previously I had some issue with cleaning together with `bulk-insert` : auto-clean was very slow because never found previous cleaning commit and also always do full cleaning of all partitions.

Now I am using `insert` operation and was expecting no such issue.

[2022-08-11 17:31] parisni commented on #5960
I am using the sync command programmatically. Indeed the glue error happens from time to time . glue backend look not that stable, then I guess the sync process should handle those cases better othwrwize it fails and leave the glue metastore corrupted

On August 1, 2022 12:04:13 PM UTC, Sagar Sumit ***@***.***> wrote:
***@***.*** Any update on this issue? If it's still happening, can you please st

[2022-08-12 00:54] sunmingqiaa opened #6375 "[SUPPORT]丢数了！flink cdc to hudi cow"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-08-12 01:00] danny0405 commented on #6375
It's a known bug, we have fixed it in: https://github.com/apache/hudi/pull/6179,
You can use this patch branch: https://github.com/apache/hudi/pull/6182 instead
or wait for the release 0.12.0 which would comes out soon ~

[2022-08-12 01:04] sunmingqiaa commented on #6375
ok，thank you

[2022-08-12 01:10] #6375 closed

[2022-08-12 02:15] bithw1 opened #6378 "[SUPPORT]What's the behavior when writing to COW table"
Hi,

Assume I have a `COW` table and I would like to write 5 records into this table, `one record per minute`

1. I would ask how many commits will be created for the above 5 operation, will 5 commits be created? That is, new commits will be created for each new record?
2. If I write to the COW in batch mode, say, write 1000 records in one time, then how many commits be created?

Thanks!

[2022-08-12 02:22] nsivabalan commented on #6056
oh yeah. I had a chat w/ Ethan around this. we will try to put up something to de-couple cleaner and rollbacks.

[2022-08-12 02:24] YannByron commented on #6185
@paul8263 Check whether these configs is right on spark thrift server.
spark.sql.extensions -> org.apache.spark.sql.hudi.HoodieSparkSessionExtension
spark.sql.catalog.spark_catalog -> org.apache.spark.sql.hudi.catalog.HoodieCatalog

[2022-08-12 02:25] BruceKellan commented on #6378
1. If you are in streaming mode, each miniBatch creates a commit. For example, a commit will be created during a checkpoint in the `Flink engine`.

2. If you write in batch mode, and write 1000 records at a time, only one commit will be created.

[2022-08-12 02:26] nsivabalan commented on #6194
sorry. I am bit confused. If I am not wrong, this is your issue.
you had duplicates in your hudi table somehow.
you tried to execute hudi-cli to dedup and ran into issues and posted w/ the stacktrace.

I gave you the commands I used and showed that it worked for me.

But I could not gauge your response to that. repair dedup command does not fix duplicates in the table. It dumps the deduped records

[2022-08-12 02:26] nsivabalan commented on #6194
let me know how we can help further.

[2022-08-12 02:29] nsivabalan commented on #6069
We had a bug around compaction not cleaning up the marker files which was fixed in 0.10.0 https://github.com/apache/hudi/pull/3576
So, yes, we do know of some situations where markers files were not cleaned up.

[2022-08-12 02:30] nsivabalan commented on #6069
yes, if there are no matching commit files in /.hoodie/, you can remove the directories from /.hoodie/.temp folder.

[2022-08-12 02:30] nsivabalan commented on #6069
feel free to close out the issue, if you don't have any follow ups.

[2022-08-12 02:31] nsivabalan commented on #6095
thanks!

[2022-08-12 02:32] nsivabalan commented on #5861
@XuQianJin-Stars @minihippo : Can either of you folks assist @kk17 please.

[2022-08-12 02:35] nsivabalan commented on #6344
@bhasudha @pomaster : Can we follow up on this documentation enhancement please.

[2022-08-12 02:36] bithw1 commented on #6378
Thanks for the helpful reply!

For my case of the  COW table and I would like to write 5 records into this table, one record per minute, I am using spark, and
not using streaming,

I am doing is:
0. start spark application
1. kick off 1st spark write job and write one record
2. sleep 1 minutes
3. kick off 2nd spark write job and write one record
....
n. stop spark application

Will each spark job

[2022-08-12 02:39] BruceKellan commented on #6378
Yes, you are actually using 5 batch spark application in this scenario.

[2022-08-12 02:43] nsivabalan commented on #5540
@nleena123 @ROOBALJINDAL : looks like the stacktrace does not have sufficient info to triage. So, can you folks enable debug logs and share what you see. We should probably get some insights into whats happening. Also, if we can somehow get a reproducible code, would really help us triage it faster. Since timeline events are very tough to grok manually looking at the logs.

[2022-08-12 02:48] nsivabalan commented on #6259
if I am not wrong, hudi already had data quality validator that you can run before completing a commit. If the validation fails, the commit will abort. Would that work for your case?
https://hudi.apache.org/releases/release-0.9.0#writer-side-improvements
Check for "pre commit validator framework" in the above link.

[2022-08-12 03:04] bithw1 commented on #6378
Thanks @BruceKellan for the helpful answer, I am closing this support request!

[2022-08-12 03:04] #6378 closed

[2022-08-12 03:41] danny0405 commented on #6371
Not as expected, did you try restart directly from the latest checkpoint ?

[2022-08-12 06:04] bithw1 opened #6379 "[SUPPORT]What's the reading behavior for MOR table?"
Hi,

I have a MOR table that contains both base parquet files and log avro files.

There are two end users that do the `snapshot` query on this table, I would ask what's the reading behavior for MOR table.
I would guess there are two options as follows ,not sure which one is correct, or both are incorrect.

1. Each end user does their own merge during their query period. And the merge will be done

[2022-08-12 06:32] Zhangshunyu opened #6380 "[SUPPORT] Will clustering update metadata table?"
when we do clustering for hudi table, the parquet files will be compacted into new file, will the new file info updated into metadata table?

[2022-08-12 07:47] ROOBALJINDAL commented on #6348
@pratyakshsharma
We are not using any serializer in our custom class as it wasnt required. I believe it uses convertor that is being defined in kafka connect properties.

We are using following convertors in kafka connect:
[code]

Also point here is to note is that if there was some contradicting serializers being used, it would have not worked for HoodieDeltaStreamer (Not multi table ingestion) a

[2022-08-12 07:53] ROOBALJINDAL commented on #5540
@nsivabalan I tried enabling debug logs by changing root `log4j.rootLogger=INFO` to `log4j.rootLogger=DEBUG` in Hudi jar for following files

**log4j.properties
log4j-surefire.properties
log4j-surefire-quiet.properties**

Also updated some other properties in these files:
[code]

I am using this custom hudi jar by following spark command:
[code]

I have also tried this:
[code]

Can you help what I

[2022-08-12 16:31] parisni commented on #6373
for 2. , I guess the reason the cleaning with metadata table is slow is due to filelisting and not partition listing. Filelisting is done on the metadtata table side while partition listing is done on filesystem https://github.com/apache/hudi/blob/6e7ac457352e007939ba3c44c9dc197de7b88ed3/hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanner.java#L310

A way t

[2022-08-12 16:54] ehurheap commented on #6194
sorry for the confusion @nsivabalan. I reviewed the commands that you specified to verify they were the same as what I tried. The main differences between what you did and our situation:

- Our hudi table was loaded by 2 separate processes, one bulk_insert, one streaming ingest job
- In addition our hudi table is MOR.

I can run a spark query similar to yours and verify there are duplicates in the

[2022-08-13 07:01] shubham-bungee opened #6389 "[SUPPORT] HELP :: Using TWO FIELDS to precombine :: 'hoodie.datasource.write.precombine.field': "column1,column2""
**ERROR WHILE LOADING INCREMENTAL DATA**

An error occurred while calling o605.save. Failed to upsert for commit time 20220813064526092

[code]

**_score(double) and capture_date(timestamp, not null)  Columns are present in column list._**

But still facing issue.

**CONFIG USED ::**
commonConfig = {'className' : 'org.apache.hudi',
                  'hoodie.datasource.hive_sync.use_jdbc':'false',

[2022-08-13 07:31] bithw1 commented on #6379
Could someone help answer this question?

[2022-08-13 11:38] ToBeFinder commented on #6371
thx,  I will try it tomorrow

[2022-08-13 13:40] LinMingQiang opened #6390 "[SUPPORT] FileNotFoundException: file:/hudi_tbl/2/.00000000-575e-4905-85e4-fb62d29a4bea_20220813205548259.log.1_0-1-0 does not exist"
Caused by: java.io.FileNotFoundException: File file:/hudi_tbl/2/.00000000-575e-4905-85e4-fb62d29a4bea_20220813205548259.log.1_0-1-0 does not exist.
This log file is exist in partitionPath 4. but this should be never happens.

[code]

[2022-08-13 19:41] leobiscassi commented on #6142
@codope sorry for the delay, [here](https://github.com/apache/hudi/pull/6391) is the pull request, could you take a look?

[2022-08-14 07:02] bettermouse commented on #6379
According my understand.First is right.

https://hudi.apache.org/docs/table_type
s#merge-on-read-table.
each snapshot query(merge base / columnar file + row based delta / log files)

https://hudi.apache.org/docs/compaction/
compaction will merge basefile and delta log file

[2022-08-15 02:10] KnightChess commented on #6389
precombine field only support one col, `score,capture_date` is regarded as one col which name is called `score,capture_date`

[2022-08-15 02:16] paul8263 commented on #6185
Hi @YannByron ,

Thank you very much for your reply.
It seems that hudi-spark3.1-bundle_2.12-0.11.1.jar does not contain org.apache.spark.sql.hudi.catalog.HoodieCatalog, as the Spark version is 3.1.1. So I added `spark.serializer=org.apache.spark.serializer.KryoSerializer` to Spark thrift server conf. But it still does not work.

Does it mean that Spark 3.1.1 thrift server cannot support Hudi crea

[2022-08-15 02:29] danny0405 commented on #6390
The code `context.flatMap(partitionPaths, partitionPath` is problematic because it may cause concurrent access to the remote fs view, the fs view is not thread safe now BTW.

[2022-08-15 03:02] LinMingQiang commented on #6390
Concurrent requests will improve efficiency. I have tried that non concurrent requests will affect the speed of `Compact`

[2022-08-15 10:30] rbtrtr opened #6397 "[SUPPORT] spark history server - sql tab"
**To Reproduce**

Steps to reproduce the behavior:

1. Examine the sql tab in the spark history web ui after the hudi write process has finshed.

**Expected behavior**

To analyse performance issues in complex spark jobs (multiple joins, aggregates, intermediate dataframes, etc.) the spark history server provides very useful information. Especially the sql tab displays a good overall overview of a

[2022-08-15 10:58] rbtrtr opened #6398 "[SUPPORT] Metadata table thows hbase exceptions"
**Description**

We're running on a cloudera cdp stack and want to upgrade to hudi 0.11.1 and take advantage of the metadata table feature. We tried to run a simple hudi write with generated data an got the attached stacktrace.

We have used this hudi package: org.apache.hudi:hudi-spark3.1-bundle_2.12:0.11.1.

The exception indicates that maybe something is not compatibe with the hbase version whi

[2022-08-15 12:47] cocoapan opened #6400 "[SUPPORT] MergeInto syntax merge_condition does not support Non-Equal condition"
Hi,
    Recently I found spark error message when using mergeInto syntax:
<img width="1715" alt="image" src="https://user-images.githubusercontent.com/99819932/184639061-760a4143-c02b-4759-abb4-08fd8a246702.png">

Spark SQL:
`merge into A as t
  using
(select * from B) as  s
on
    (t.cola = s.colb
    and t.colb = s.colb
    and t.colc between ... and ...
    )
when not matched then insert
`
Hudi

[2022-08-15 15:00] nsivabalan commented on #6380
yes, metadata table is updated. clustering has been tested w/ metadata as well. Do you see any strange behavior ? which version of hudi are you using.

[2022-08-15 15:01] nsivabalan commented on #6379
your 1st answer is pretty much correct. If there are multiple users querying concurrently, each will do the merge by themselves in memory and will get to read the merged final snapshot of all records.

[2022-08-15 15:09] nsivabalan commented on #6367
For col stats issue, we might need to find the root cause how did we end up updating two records w/ same key w/ metadata table. probably its a transient issue and if you restart your pipeline, likely it may go. But definitely would like to understand the root cause here and possible fix a gap if any. Next time, is it possible to collect debug logs and share what you see.

wrt Cleaning up the metad

[2022-08-15 15:47] Zouxxyy commented on #6397
like this? my hudi is 0.10.1, spark is 3.2.1
<img width="964" alt="image" src="https://user-images.githubusercontent.com/37108074/184668340-aaa4d423-e50a-4d20-9623-c0e78c486223.png">

[2022-08-15 15:52] #6069 closed

[2022-08-15 16:01] rbtrtr commented on #6397
Yes exactly that’s what we‘re looking for. Did we miss some configurations?

[2022-08-15 16:14] Limess commented on #6367
This already worked for us, I haven't tried re-enabling metadata yet.

What would be the process of enabling the required debug logs needed in this case? Had to fix this as fast as possible so can't reproduce unfortunately, but I can certainly try to save these if it were to occur again.

[2022-08-15 17:39] nsivabalan commented on #6343
Long to Integer is not backwards compatible data type promotion. Don't think hudi supports this promotion.
Let us know if you have any more questions.

[2022-08-15 17:42] nsivabalan commented on #6342
reconcilation of schemas work only if missing columns are in the end.

For eg:
Commit1:
Schema: col1, col2, col3, col4

Commit2:
Schema: col1, col2, col3, col4, col5, col6

Commit3: old writer.
Schema: col1, col2, col3, col4
Commit3 will succeed when you enable reconcile schema config.

In general, adding new colunmns at the end of existing schema works. it may break if you try to add new columns

[2022-08-15 17:57] nsivabalan commented on #6367
thanks for confirming.

wrt enabling debug logs, I know the usual way to enable for any spark job.

[code]

Sample log4j props file
[code]

[2022-08-15 19:23] Armelabdelkbir opened #6403 "[SUPPORT] java.lang.IllegalStateException: Duplicate key Option{val=org.apache.hudi.common.HoodiePendingRollbackInfo"
Hello community,

i'm using Hudi to change data capture with spark structured streaming + kafka + debezium , my jobs works well, but since few days i got some errors on some of my streams : java.lang.IllegalStateException: Duplicate key Option{val=org.apache.hudi.common.HoodiePendingRollbackInfo@2424b11}

i got this issue randomly when my streams turn for a long time ( few days / weeks )
it's diff

[2022-08-15 19:55] ankitchandnani opened #6404 "[SUPPORT] Hudi Deltastreamer CSV ingestion issue"
### Tips before filing an issue

Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes

### Describe the problem you faced

Below is a sample chunk from a csv that is being ingested through Hudi Deltastreamer 0.9.
+---+-----++---+-----++---+-----++---+-----++---+-----++---+-----++---+-----++---+-----++---+-----++---+-----+
00037BAC6|00037BAF9|100|91.8886010561736|66.19861275587

[2022-08-16 01:40] KnightChess commented on #6400
now, hudi not support `Non-Equal` merge condition in `merge sql`

[2022-08-16 03:11] Zhangshunyu commented on #6380
OK， thanks for reply，no problem yet，will close this issue.

[2022-08-16 03:11] #6380 closed

[2022-08-16 03:16] Zhangshunyu commented on #6398
the version of hbase api is 2.4.9

[2022-08-16 04:03] JoshuaZhuCN opened #6405 "[SUPPORT] Using SparkSQL DDL To Create External Error."
What causes this error when using sparksql to create a table。

Error：Hoodie table not found in path Unable to find a hudi table for the user provided paths.

SQL DDL like:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1.make the directory manually
2.execute the spark sql ddl
3.error Hoodie table not found in path Unable to find a hudi table for the user provided paths.
4.if skip step

[2022-08-16 04:05] nsivabalan commented on #6389
Unfortunately, there is no out of the box solution to use two fields as preCombine for now.

[2022-08-16 04:16] nsivabalan commented on #6403
We have made some fixed around this.
https://github.com/apache/hudi/pull/4123
https://github.com/apache/hudi/pull/4971
If you upgrade to 0.11, you should not see above issue.

[2022-08-16 04:17] nsivabalan commented on #6367
Will close out the github issue for now. let us know if you have any more questions. thanks for reaching out.

[2022-08-16 04:17] #6367 closed

[2022-08-16 04:18] nsivabalan commented on #6316
@yihua : if you have a tracking jira, can you post it here.

[2022-08-16 04:19] nsivabalan commented on #6316
https://issues.apache.org/jira/browse/HUDI-1881
Lets track the updates from jira.
thanks for reporting.

[2022-08-16 04:19] #6316 closed

[2022-08-16 04:20] nsivabalan commented on #6343
closing this as not feasible. Feel free to raise new issue if you have more.
thanks for keeping the community buzzing.

[2022-08-16 04:20] #6343 closed

[2022-08-16 04:21] nsivabalan commented on #6342
closing this as not feasible. Feel free to raise new issue if you have more.
thanks for keeping the community buzzing.

[2022-08-16 04:21] #6342 closed

[2022-08-16 04:23] nsivabalan commented on #6224
closing the issue as we have the fix with 0.12.
thanks for reaching out. appreciate you keeping the community buzzing.

[2022-08-16 04:23] #6224 closed

[2022-08-16 04:23] nsivabalan commented on #6226
@atharvai : can you respond to @zhedoubushishi 's request above when you get a chance.

[2022-08-16 04:27] nsivabalan commented on #6305
CC @rmahindra123
gentle ping @alexeykudinkin

[2022-08-16 04:36] nsivabalan commented on #5599
thanks. going ahead and closing the github issue. feel free to open new one if you run into any issues.

[2022-08-16 04:36] #5599 closed

[2022-08-16 04:38] nsivabalan commented on #5689
@eshu : can you update w/ the requested info. We won't be able to help much w/o further info. If you got the issue resolved, feel free to close out the issue. thanks!

[2022-08-16 04:38] nsivabalan commented on #5715
@mgerlach : any updates on this regard. If you got the issue resolved, feel free to close out the issue. thanks!

[2022-08-16 04:50] nsivabalan commented on #5717
guess the root cause is that, when you upgraded the table schema w/ new columns, it should have been nullable. likely in your case it was non-nullable column. Which is not backwards compatible upgrade since in newer commits you are trying to ingest data in older schema.

[2022-08-16 04:51] nsivabalan commented on #5735
@pratyakshsharma : can you follow up here please.

[2022-08-16 04:52] nsivabalan commented on #5741
@bkosuru : do you have any updates here. if you are not looking for any further assistance, feel free to close out the issue. If not, let us know how we can help.

[2022-08-16 04:55] nsivabalan commented on #5765
@yihua : do you think we can document the solution proposed by @dohongdayi above in some FAQ.
[code]

[2022-08-16 06:54] nsivabalan commented on #5770
@Rap70r :
We made some fixes around file sizing in 0.11.1. Can you try it out and let us know if you still see the issue. btw, hudi does not check for file size threshold limit for every record while writing records to files. we do it once every 100 or 1000 records to avoid perf hit. So, the size may not be honored to precision.

[2022-08-16 07:11] nsivabalan commented on #5780
closing it out as we have a tracking jira. @yihua : I know you are investigating some timeline server related issues. Ensure you also add HUDI-4342 as part of the investigation.

[2022-08-16 07:11] #5780 closed

[2022-08-16 07:12] nsivabalan commented on #5805
@XuQianJin-Stars : can you follow up on this when you get a chance.

[2022-08-16 07:13] nsivabalan commented on #5808
@alexeykudinkin @Reimus : If things are taken care, can we close out this issue. If not, can you guys follow up to see whats pending.

[2022-08-16 07:16] nsivabalan commented on #5811
@XuQianJin-Stars : do we know how did we end up in this state. If not, it's gonna be tough to reproduce the issue. Will go ahead and close out the issue. But if you happened to hit this issue again, can you save the table state, contents of .hoodie including metadata table and post it here or create a new github issue. we can dive deeper. As of now, not sure how much we can do.

[2022-08-16 07:16] #5811 closed

[2022-08-16 07:16] nsivabalan commented on #5822
@ksrihari93 : gentle ping.

[2022-08-16 07:18] nsivabalan commented on #5823
@ksrihari93 : hope you got a chance to checkout my previous responses. When kafka checkpoint type is timestamp, we don't support resetting to LATEST. does that help?

I see you have mentioned that when you set to EARLIEST, you are running into issues. do you have driver logs for the same w/ exact stacktrace.

[2022-08-16 07:19] nsivabalan commented on #5824
@bkosuru : can you try out the suggestion from Sagar above. Feel free to close it out if the issue got resolved.

[2022-08-16 07:19] nsivabalan commented on #5826
@minihippo or @XuQianJin-Stars : can we please follow up on this.

[2022-08-16 07:25] nsivabalan commented on #5869
yeah, I remember we had a fix around this in 0.10.1 or some release. Can you try out 0.11 or later versions and let us know what you see.

[2022-08-16 07:26] nsivabalan commented on #5869
If the issue is resolved, can you please close the github issue

[2022-08-16 07:26] nsivabalan commented on #5875
@ksrihari93 : gentle ping.

[2022-08-16 07:27] nsivabalan commented on #5891
@umehrot2 @zhedoubushishi : Can you guys please assist here.

[2022-08-16 07:27] nsivabalan commented on #5893
@BalaMahesh : can you respond to Rajesh's clarification above.

[2022-08-16 07:28] nsivabalan commented on #5893
feel free to close out the github issue if things got resolved.

[2022-08-16 07:29] nsivabalan commented on #5899
yes, thats my understanding too.

[2022-08-16 07:29] nsivabalan commented on #5899
@xiarixiaoyao : if we have a tracking jira, we can close the github issue.

[2022-08-16 07:31] nsivabalan commented on #5932
Closing this out as the triaged fix is already merged. @leoyy0316 : feel free to re-open to create new issue if you hit any other issue.
thanks for reporting!

[2022-08-16 07:31] #5932 closed

[2022-08-16 07:35] nsivabalan commented on #5952
@rmahindra123 : can you follow up when you can .

[2022-08-16 07:35] nsivabalan commented on #5975
Closing the github issue as the question was answered. @bithw1 : if you have more questions, feel free to create new one.

[2022-08-16 07:36] nsivabalan commented on #5975
thanks @yihua

[2022-08-16 07:36] #5975 closed

[2022-08-16 07:37] nsivabalan commented on #5980
yes, we have made quite few fixes around perf in 0.12. Can you wait for couple of days and give 0.12 a try. Highly recommend if you are looking for better performance.

[2022-08-16 07:37] nsivabalan commented on #5983
@yihua : this is already completed right ?

[2022-08-16 07:40] nsivabalan commented on #5983
we have a tracking [jira](https://issues.apache.org/jira/browse/HUDI-4345) and a [patch](https://github.com/apache/hudi/pull/6045) put up around this.

[2022-08-16 07:40] #5983 closed

[2022-08-16 07:40] nsivabalan commented on #5983
thanks for reaching out!

[2022-08-16 07:41] nsivabalan commented on #5984
@rubenssoto : can you respond to @minihippo 's request above.

[2022-08-16 07:41] #6004 closed

[2022-08-16 07:43] nsivabalan commented on #6022
Closing it out since user did not set the right configs for OCC. feel free to open new issue if you have any issues

[2022-08-16 07:43] #6022 closed

[2022-08-16 07:45] nsivabalan commented on #6058
@eshu : did you checkout my previous msg. does that makes sense. Feel free to close out the issue if you don't have further questions.

[2022-08-16 07:45] nsivabalan commented on #6094
hey @todd5167 : if there are no follow up, can we close this one out.

[2022-08-16 07:47] nsivabalan commented on #6107
@satishmalladi-m @KnightChess @glory9211 : any updates around this.

[2022-08-16 07:48] nsivabalan commented on #6143
@XuQianJin-Stars : gentle reminder to respond to above's request/questions.

[2022-08-16 07:50] nsivabalan commented on #6167
yes, @xushiyan is right.
Let us know if you are looking for any more assistance.
If not, can you please close this github issue.

[2022-08-16 07:51] nsivabalan commented on #6177
@paul8263 : gentle ping.

[2022-08-16 08:13] bithw1 commented on #6379
Thanks for the helpful answer!
That means, merge can only be done with compaction process? sync or async? Thanks

[2022-08-16 08:35] With-winds opened #6407 "[SUPPORT] HoodieTableFileSystemView.fetchPendingCompactionOperations throw NullPointerException"
**Describe the problem you faced**

The job runs normally and the data can be written in, but there will be exceptions. Will this have any impact？

TableType: COW
Submit command:  flink run-application -t yarn-application ... -c org.apache.hudi.streamer.HoodieFlinkStreamer hudi-flink1.14-bundle_2.11-0.11.0.jar ...

**To Reproduce**

**Environment Description**

* Hudi version : 0.11.0

* Flink ver

[2022-08-16 08:40] parisni commented on #6277
@matthiasdg do you have `hoodie.datasource.hive_sync.ignore_exceptions` enabled ? This would silently ignore metastore trouble.
BTW, I guess hive_sync errors don't lead to rollback hudi commit anyway.

[2022-08-16 08:45] danny0405 commented on #6407
We did some promotion in https://github.com/apache/hudi/pull/4625, but there may be still some corner cases for the variables to be null, the exception has no effect to the write process, there is fallback strategy when the remote fs view does not work correctly.

[2022-08-16 08:48] danny0405 commented on #6167
Supported in https://github.com/apache/hudi/pull/6096, feel free to re-open it when you still have some questions.

[2022-08-16 08:48] #6167 closed

[2022-08-16 08:48] With-winds commented on #6407
ok, thanks

[2022-08-16 08:48] #6407 closed

[2022-08-16 09:18] rbtrtr commented on #6398
Thanks for your response, I already saw this in the pom file. Thats why we started our spark-shell with the hbase jars in this version, but unfortunately with no success. I guess they are the last one on the classpath.

I was wondering why the hbase lib is mandatory for the metadate table. Where is the metadata stored when we're setting this option? `.option("hoodie.index.type","BLOOM")`

[2022-08-16 11:28] rmehlitz commented on #5715
Hi folks, sorry for the late response. There was no time so far to try this:

I close this issue for the moment and will reopen it if necessary and we have the time for it. Thank you

[2022-08-16 11:28] #5715 closed

[2022-08-16 11:50] pratyakshsharma commented on #5735
@fzong76 can you share the error that you see in the logs? The logs that you shared already do not contain any proper error.

[2022-08-16 12:03] pratyakshsharma commented on #6348
So you mean to say you are consuming exactly same records via HoodieDeltaStreamer and HoodieMultiTableDeltaStreamer? I was suspecting there is some type of record getting consumed from MultiTableDeltaStreamer which is not getting consumed in HoodieDeltaStreamer.

Can you try changing the converters to `io.apicurio.registry.utils.converter.AvroConverter` as suggested for Apicurio registry and let m

[2022-08-16 12:44] Armelabdelkbir commented on #6403
thanks for replying i tried to upgrade to 0.11, and i got this error
[code]
Any idea ? thanks

[2022-08-16 13:06] bkosuru commented on #5741
We changed the implementation so that we have a number of small tables instead of one large single table. Not an issue anymore for us.

[2022-08-16 13:13] Armelabdelkbir commented on #6403
i bypassed the issue above by changing my build.sbt file from
[code]
to
[code]
but i got another error related to upsert commit
[code]
do i need to clean all path after  upgrading  ?

[2022-08-16 13:43] nsivabalan commented on #6212
@HEPBO3AH : any updates please.

[2022-08-16 13:45] nsivabalan commented on #6177
@paul8263 : another ping.

[2022-08-16 13:45] nsivabalan commented on #6101
@navbalaraman : gentle ping

[2022-08-16 13:48] nsivabalan commented on #5348
@lanyu1hao : gentle ping. If the issue is resolved, feel free to close out the issue.

[2022-08-16 13:48] nsivabalan commented on #4978
@CrazyBeeline : gentle ping.

[2022-08-16 13:54] bkosuru commented on #5824
@nsivabalan We are not using this feature at this time. It will take me sometime to test. You can close this if you prefer. I will reopen if it does not work.

[2022-08-16 14:59] cocoapan opened #6410 "[SUPPORT] MergeInto syntax WHEN MATCHED is not optional but must be set."
Hi,
    When I update the hudi table using mergeInto syntax, I get an error message:
 assertion failed: hoodie.payload.update.condition.assignments have not set.
<img width="1756" alt="image" src="https://user-images.githubusercontent.com/99819932/184908862-07a8185a-9337-4c3a-a3c8-ad06040d1c21.png">

Spark SQL:
`merge into A as t using (select * from B) as s on t.cola = s.cola when not matched the

[2022-08-16 17:12] alexeykudinkin commented on #6305
@nsivabalan let's merge this one w/ https://github.com/apache/hudi/issues/6278

I've put up https://github.com/apache/hudi/pull/6352 to address this, but didn't hear back from the original reporter(s) whether they were able to try it out and if it resolved the issue.

[2022-08-16 17:18] brskiran1 commented on #6305
@alexeykudinkin @nsivabalan  can you please let me know what should be tried to see if the issue is resolved?  or can you please. I have responded in the ticket #6278

[2022-08-16 17:42] alexeykudinkin commented on #6278
@brskiran1 can you please try this PR: https://github.com/apache/hudi/pull/6352 and see if it resolves the issue

[2022-08-16 17:46] zhedoubushishi commented on #5628
This is a known issue. We are working on a fix and will push a PR once it's ready.

[2022-08-16 17:58] nsivabalan commented on #4622
@nochimow @rubenssoto and others: Looks like hudi 0.10.0 is supported from the docs https://docs.aws.amazon.com/redshift/latest/dg/c-spectrum-external-tables.html#c-spectrum-column-mapping-hudi
Can you folks give it a try and let us know if things are working well w/ hudi 0.10.0.

[2022-08-16 18:41] sufei2009 opened #6411 "Hudi Record Key Data Type Must be String"
I have a table where I set the record key in byte data type.  It did not work until I changed it to string data type.  Why does Hudi not allowing byte type for its record key? I use hudi on AWS with Lake Formation and Glue ETL for permission and cataloging

[2022-08-16 18:46] nsivabalan commented on #5808
thanks!

[2022-08-16 18:46] #5808 closed

[2022-08-16 22:39] HEPBO3AH commented on #6212
It is still happening.

Adding 30 seconds sleep between runs didn't solve the issue.

[2022-08-17 00:03] bithw1 opened #6412 "[SUPPORT]query between 0 and max commit time yields empty result set."
Hi,

I have a hudi that has 10 commit times , say ,the smallest commit time is T1, the biggest commit time is T2,

when I do the following the query:
`
   spark.sql(s"select * from tbl_order_incremental where _hoodie_commit_time > 0 and _hoodie_commit_time <= $T2").show(truncate = false)
`

The above query yields empty result, but the following query yields all data.

`
   spark.sql(s"select * fro

[2022-08-17 00:35] paul8263 commented on #6177
Hi @nsivabalan ,
Sorry for my late response.
I have created the issue in jira [HUDI-4485](https://issues.apache.org/jira/projects/HUDI/issues/HUDI-4485?filter=allissues).

[2022-08-17 01:10] #6094 closed

[2022-08-17 02:06] danny0405 commented on #6411
The byte primary key type expects to be supported, what exception it throws there for your use case ?

[2022-08-17 03:06] boneanxs opened #6414 "[SUPPORT] Spark3 with Hadoop3 using metadata could have compatible issue when reading hfile"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
As **Hadoop3** changed the

[2022-08-17 03:25] 1032851561 commented on #6167
Yes, we should optimize archive to achieve our goal

[2022-08-17 05:02] boneanxs commented on #6412
@bithw1 Have you tried:

`spark.sql(s"select * from tbl_order_incremental where _hoodie_commit_time > "0" and _hoodie_commit_time <= $T2").show(truncate = false)` to make "0" as a string?

[2022-08-17 05:42] shubham-bungee commented on #6389
Thanks a lot for reply.
We are a startup, planning to move to hudi, you might see few more support tickets coming your way.
Your help would be great in building new architecture.

[2022-08-17 06:15] bithw1 commented on #6412
Thanks @boneanxs for the helpful answer.

I tried with `where _hoodie_commit_time > `0` and _hoodie_commit_time <= $T2`, and I got all the data.

But ,i didn't see the difference between
`where _hoodie_commit_time > 0 and _hoodie_commit_time <= $T2`
and
`where _hoodie_commit_time > $T1 and _hoodie_commit_time <= $T2`

[2022-08-17 06:58] xicm commented on #6414
https://github.com/apache/hudi/issues/5765#issuecomment-1179915480
According this, I mvn install hbase with hadoop3, and then pacakge hudi, the problem has been resolved.

[2022-08-17 07:26] boneanxs commented on #6412
@bithw1 Is `$T1` a string or not? As you use 0(integer type) instead of '0'(string type), I'm thinking spark might get the wrong cast, whereas giving the wrong compare result

[2022-08-17 07:36] ROOBALJINDAL commented on #6348
@pratyakshsharma Yes, table has 1 record. I ran HoodieDeltaStreamer  for same record and table, it worked but for same table/record with same serializers and registry, when I ran HoodieMultiTableDeltaStreamer, its throwing error. I have enabled debug logs, let me share it with you in a while

[2022-08-17 07:44] boneanxs commented on #6414
@xicm Thanks for your kind help! It works. But I'm thinking is there any workaround in the HUDI side to make this compatible? otherwise it could confuse the clients as they can not use it out of box in hadoop3 environment...

[2022-08-17 08:14] bithw1 commented on #6412
The following two queries get the same result:

select * from tbl_order_incremental where _hoodie_commit_time > '20220817073931' and _hoodie_commit_time <= '20220817073953'

select * from tbl_order_incremental where _hoodie_commit_time > 20220817073931 and _hoodie_commit_time <= 20220817073953.

But the following two queries get different results:

All Data:
select * from tbl_order_incremental whe

[2022-08-17 08:34] jiangbiao910 commented on #6398
changed hbase.defaults.for.version   ture  in hudi-common/src/main/resources/hbase-site.xml

[2022-08-17 08:50] ksrihari93 commented on #5875
Hi Team,
Sorry for the late reply.

i have used this option only.
auto.offset.reset=LATEST

But could not recover. So i wrote to some temporary path for few records and copied the checkpoint then it started running properly.

[2022-08-17 08:53] ksrihari93 commented on #5822
Hi Team,
Sorry for the late reply.
Now it's working fine. we can close this issue.

[2022-08-17 08:54] ksrihari93 commented on #5361
Hi @codope ,
We have written a separate spark job and converted the schema accordingly in the schema registry.

[2022-08-17 09:11] jiangbiao910 commented on #5765
Version 0.12 has been released. Is this bug fixed？

[2022-08-17 10:10] pratyakshsharma commented on #6348
https://github.com/apache/hudi/pull/6420

[2022-08-17 10:11] pratyakshsharma commented on #5361
Alright, I will close this issue for now, feel free to reopen in case of any more issues @ksrihari93

[2022-08-17 10:11] #5361 closed

[2022-08-17 10:52] ksrihari93 commented on #5361
Sure @pratyakshsharma  .Thanks a lot.

[2022-08-17 11:16] ROOBALJINDAL commented on #6348
[AWS debug console logs - commit rollback.txt](https://github.com/apache/hudi/files/9359053/AWS.debug.console.logs.-.commit.rollback.txt)

@pratyakshsharma @nsivabalan
enabled debug logs and attached, can you please check?

[2022-08-17 12:01] sandip-yadav opened #6421 "[SUPPORT]Table property not working while creating table - hoodie.datasource.write.drop.partition.columns"
**Describe the problem you faced**

I am trying to create a Hudi table with property **_hoodie.datasource.write.drop.partition.columns_** set to true but it is not dropping the partition column while writing the data. I am creating the table in spark sql below is the code for it
[code]

After table creation when I do show tblproperties hudi_source.table1 I can see the property set to true

**To Re

[2022-08-17 12:04] pratyakshsharma opened #6422 "[SUPPORT]: hudi build failing for hudi-flink-client when no maven build option is provided"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? yes

**Describe the problem you faced**

When running the hudi build on master branch without any maven build option as described here - https://github.com/apache/hudi#build-with-different-flink-versions, it does not pick up the default activated profile of flink1.14. Instead it tries to look

[2022-08-17 12:05] pratyakshsharma commented on #6422
@nsivabalan @danny0405

[2022-08-17 13:21] #6371 closed

[2022-08-17 13:42] kylincode opened #6423 "[SUPPORT] After schema evaluation, when time travel queries the historical data, the results show the latest schema instead of the historical schema"
After schema evaluation, when time travel queries the historical data, the results show the latest schema instead of the historical schema

Steps to reproduce the behavior:

1. spark sql create table t1, sql:
`create table t1 (
    id int,
    name string,
    price double,
    ts long
    ) using hudi
    location '/tmp/t1'
    options (
    type = 'mor',
    primaryKey = 'id',
    preCombineFiel

[2022-08-17 13:55] xxWSHxx opened #6424 "[SUPPORT] After schema evaluation, when time travel queries the historical data, the results show the latest schema instead of the historical schema"
After schema evaluation, when time travel queries the historical data, the results show the latest schema instead of the historical schema

Steps to reproduce the behavior:

1. spark sql create table t1, sql:
`create table t1 (
    id int,
    name string,
    price double,
    ts long
    ) using hudi
    location '/tmp/t1'
    options (
    type = 'mor',
    primaryKey = 'id',
    preCombineFiel

[2022-08-17 13:55] #6423 closed

[2022-08-17 14:31] sufei2009 commented on #6411
We were not getting any exceptions.  However, the partitions were acting inconsistent.  Data was only writing to the last partition most of the time.  Once we changed primary key type to string, the partitions worked correctly.

[2022-08-17 15:15] bithw1 opened #6425 "[SUPPORT]Writing to MOR table seems not working as expected"
Hi,

I am working with Hudi 0.9.0, and I have following code that writes 10 records to MOR hudi table(one record for each spark job). There are 11 commits in total,

when I look at the files written in disk, there is `NO` log file , and there are 11 parquet files. Looks I am writing to a COW table, not sure where the problem is,

[code]

[2022-08-17 16:27] Zouxxyy opened #6426 "[SUPPORT] Questions about the rollback mechanism of the MOR table"
I'm a hudi beginner and have some questions and hope to get answers ^_^

1. I would like to know if my understanding of the MOR table rollback mechanism is correct:
The rollback logic of the MOR table is to add a new log, which records the rollback log, and hudi will not merge the log marked as rollback in the subsequent compaction

2. Why not just delete the log that needs rollback, Wouldn't it b

[2022-08-17 16:31] Zouxxyy commented on #6397
I didn't set other parameters about it, I don't know why you can't display it, maybe it's a web page rendering problem?

[2022-08-17 17:18] yihua commented on #4230
@BenjMaq recently we fixed a bug in handling the timeline-server-based marker requests at the timeline server, which should resolve the problem of marker creation failure: #6383.  If you get a chance, could you try the latest master with `hoodie.write.markers.type=TIMELINE_SERVER_BASED` (or using the default by not setting such config) and see if the problem goes away?

[2022-08-17 19:26] parisni commented on #6342
@nsivabalan Do you mean https://hudi.apache.org/docs/configurations#hoodiedatasourcewritereconcileschema ? That's not the behavior I see: i'am able to write data with missing column at any position, until only one is missing. Also the doc don't mention such limitation nor its source code.

 @xiarixiaoyao as the Dev of the reconcile feature, do you have some insight ?

On August 15, 2022 5:42:26 PM

[2022-08-17 19:40] parisni commented on #6342
Also after more testing, the issue is not with multiple columns missing but when the last column is missing.

On August 15, 2022 5:42:26 PM UTC, Sivabalan Narayanan ***@***.***> wrote:

[2022-08-17 21:56] nsivabalan commented on #6425
Looks like you are setting max commits to trigger compaction to 1. And so, after every delta commit, compaction is triggering and converting parquet + log files into new parquet files.
Another reason could be, if your workload will never have any updates, you may not see log files at all.

[2022-08-17 21:57] nsivabalan commented on #6379
yes, you are right.

[2022-08-17 21:59] nsivabalan commented on #6373
wrt bulk_insert, I understand cleaning is not going to be any use. coz, every new commit goes into new file groups. Hence there won't be any file groups which will have more file slices which might be eligible for cleaning. But as you can imagine, this is going to result in huge no of file groups in general and puts lot of pressure on the system.

[2022-08-17 22:31] nsivabalan commented on #6373
I am looking into the slowness in cleaning. will keep you posted.

[2022-08-17 22:32] parisni commented on #6373
Do you mean pressure when cleaning or pressure when reading or in general ?

Also insert produces same number of file groups since iam in a case of append only table with no new data in the past.

Anyway cleaning is much faster w/o metadata table and that would help to allow to specify configure cleaning to work on disk only

On August 17, 2022 9:59:31 PM UTC, Sivabalan Narayanan ***@***.***> wrot

[2022-08-17 22:45] nsivabalan commented on #6373
may I know what cleaning policy you are using? I see that for KEEP_LATEST_FILE_VERSIONS, we call getPartitionPathsForFullCleaning() within which we use file system based listing and not metadata table based listing.

and if you are using KEEP_LATEST_COMMITS, within incremental clean mode enabled, if there is no prior clean ever, we trigger getPartitionPathsForFullCleaning() (within which we use fi

[2022-08-17 23:18] parisni commented on #6373
Yeah KEEP_LATEST_COMMITS. Since cleaning never find files to delete it always fallback into getPartitionPathsForFullCleaning().
But that method looks for path on disk, however it then looks for filegroup to delete in metadata table .

Also I guess there is a problem to use incremental cleaning together with KEEP_LATEST_COMMITS which lead to never clean some partitions after a first clean but I wil

[2022-08-17 23:54] dyang108 opened #6428 "[BUG] S3 Deltastreamer: Block has already been inflated"
**Describe the problem you faced**

Deltastreamer with write output to S3 exits unexpectedly when running in continuous mode.

**To Reproduce**

Steps to reproduce the behavior:
I ran the following:
[code]

the /etc/spark/work-dir/ looks like this:
aws-java-sdk-bundle-1.12.283.jar  hadoop-aws-2.6.5.jar  hudi-utilities-bundle_2.11-0.12.0.jar  scala-library-2.11.12.jar  spark-streaming-kafka-0-10_2.

[2022-08-18 00:00] bithw1 commented on #6379
Thanks @nsivabalan  for the confirmation!

[2022-08-18 00:00] #6379 closed

[2022-08-18 00:03] bithw1 commented on #6425
Thanks @nsivabalan for the helpful answer.

When I first write to the hudi table, there are only parquet files there（**insert only**）, and when I rerun the application(**update only**)， log files appear.

So, the reason should be the following:

[code]

[2022-08-18 00:03] #6425 closed

[2022-08-18 01:39] rohit-m-99 commented on #6335
Option 2 worked for me! Set hoodie.metadata.enable to false in Deltastreamer and wait for a few commits so that metadata table is deleted completely (no .hoodie/metadata folder), and then re-enable the metadata table.

[2022-08-18 01:39] #6335 closed

[2022-08-18 03:51] danny0405 commented on #6422
What version did you use, maybe it is caused by the force activation of the profile which i have removed recently from the master code: https://github.com/apache/hudi/pull/6415

[2022-08-18 04:10] QuChunhe opened #6430 "[SUPPORT]Flink SQL can't read array<row(f0, f1, ...)> type data from Java client write"
1. Java client write complex type data, such as ARRAY<ROW<c1 DOUBLE, c2 BIGINT, c3 BIGINT>>2.

[code]

2. flink sql can not write the data, and throws the following errors
[code]

[code]
Hudi 0.11.0 and 0.11.1 version have the same errors.

[2022-08-18 06:30] danny0405 commented on #6411
That's weird, we may need more details here.

[2022-08-18 06:33] pratyakshsharma commented on #6422
I tried it on the latest master including the changes in https://github.com/apache/hudi/pull/6415/files @danny0405

[2022-08-18 08:47] boneanxs commented on #6412
@bithw1 This is caused by different cast result from spark, for `BinaryOperator`, spark cast left side to the right side type. you can easily see the plan details using `explain`.

[code]

[code]
As casting "20220816000000" to Int gets null value, whereas the compare result is null, so you can not get the desired result

[2022-08-18 09:11] bithw1 commented on #6412
Thanks @boneanxs for the great answer!

[2022-08-18 09:11] #6412 closed

[2022-08-18 10:03] yanqinghe opened #6436 "[SUPPORT] Partition push down will cause new partitions to be ignored when streaming read."
**Describe the problem you faced**

We have a partition table. The partition key of this table is hour. Becauese we write incremental data into it in real-time, partitions will be added continuously. For example:

partition : hour = 1, hour = 2, hour =3, .... hour = 23

There is a real-time consumption task downstream of the table. When we use the following SQL consumption, we find that the data o

[2022-08-18 10:37] codope commented on #6422
@danny0405 I tried to fix this. I can build all 3 Flink profiles correctly. Can you please review #6437 ?

[2022-08-18 15:26] zhilinli123 commented on #5460
Thank you guys, I did not reappear in the new version of this problem should have been fixed ~
@yihua @danny0405 @codope

[2022-08-18 16:26] minihippo commented on #5916
@amit-ranjan-de Sorry for missing the response. You can cat the instant meta of the two compaction to find out that are there any overlapped file groups. If it is, i think the case explicable.

[2022-08-18 16:34] minihippo commented on #5861
@kk17  Can you provide the pr and we can help u in accelerating the pr landing

[2022-08-18 16:50] rjmblc commented on #6341
@yihua can you pls provide an update on this?

[2022-08-18 17:45] nikspatel03 opened #6441 "Status on PR: 2666: Support update partial fields for CoW table"
Hello Hudi Community !

We have a use case in which we have primary key supplemented logging enable and we need to ingest data through delta streamer. Currently DeltaStreamer not supports partial updates in cdc data so I went through the issues and I found out that we can benefit work from below PR :

https://github.com/apache/hudi/pull/2666

Is there any plan to merge this PR ? or Is any similar

[2022-08-18 18:18] rbtrtr commented on #6398
I have unpacked the jar, changed the parameter and packed it again. But without success. Still the same failure.

[2022-08-18 19:33] makamhareesh commented on #6137
`hudi-spark3.1.2-bundle_2.12:0.10.1 `

But I believe this happens on other higher versions of Hudi bundle jars as well.

[2022-08-19 01:33] kk17 commented on #5861
here is the pr: https://github.com/apache/hudi/pull/5920

[2022-08-19 02:37] KnightChess commented on #6405
skip step 1
from then `Stacktrace`, look like something qe in config, make sure you have set config `spark.sql.extensions` which value is `org.apache.spark.sql.hudi.HoodieSparkSessionExtension`

[2022-08-19 02:44] KnightChess commented on #6410
yeah, look like `WHEN MATCHED` is required in the implementation of hudi code

[2022-08-19 02:53] dongkelun commented on #6410
I created a PR to try to solve this problem:[https://github.com/apache/hudi/pull/6443](https://github.com/apache/hudi/pull/6443)

[2022-08-19 03:14] novisfff opened #6444 "[SUPPORT] Timeline Service MarkerDirState thread safe issue"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Request getCreateAndMerge

[2022-08-19 03:39] amit-ranjan-de commented on #5916
Hi @minihippo, in my case I don't have the `20220615161228.compaction` or `20220615172826.compaction` files.

[2022-08-19 04:30] nsivabalan commented on #5822
thanks!. curious to know what was missing or how did you resolve.

[2022-08-19 04:30] #5822 closed

[2022-08-19 04:32] nsivabalan commented on #5875
as I pointed out in the other github issue, if kafka checkpoint type is timestamp, we don't support auto resetting to LATEST yet.

[2022-08-19 06:45] yihua commented on #6444
@novisfff Is this a new marker creation issue at the timeline server after #6383 is landed?

[2022-08-19 06:58] novisfff commented on #6444
yes, this may caused by `allMarkers` in `MarkerDirState`

[2022-08-19 07:18] JoshuaZhuCN commented on #6405
Done. thx

[2022-08-19 09:27] minihippo commented on #5826
@njalan can you provide more informations like how to reappear the case? I get the correct result with the analyze sql

[2022-08-19 09:49] minihippo commented on #5916
Have they been archived?

[2022-08-19 14:14] yihua commented on #6444
I'll take a look at the code.

[2022-08-20 08:39] Zouxxyy opened #6452 "[SUPPORT] When enable bulk insert, executing insert overwrite table will delete the table and then recreate a table"
**A clear and concise description of the problem.**

When `hoodie.sql.bulk.insert.enable` is enabled, executing insert overwrite will delete the table and then recreate a table, so time travel cannot be performed.

I don't know if this is a reasonable design or if it's a bug.

**Steps to reproduce the behavior:**

1. create table hudi_cow_test_tbl (
  id bigint,
  name string,
  ts bigint,
  dt st

[2022-08-20 15:41] Zouxxyy commented on #6421
You can view the data inside the parquet file, I use dsq, here is the difference between set `hoodie.datasource.write.drop.partition.columns` true or false.
[code]
`hoodie.datasource.write.drop.partition.columns` looks useful.

And if you use spark-sql query, the partition field will be displayed, I guess some kind of optimization is done when querying.

[2022-08-21 12:54] fengjian428 commented on #6441
Have you tried OverwriteNonDefaultsWithLatestAvroPayload ?  if not, you can check whether it can satisfy your requirement or not

[2022-08-21 15:50] Hayaking opened #6460 "[SUPPORT] java.lang.NoSuchMethodError: 'org.apache.flink.table.data.ColumnarRowData org.apache.hudi.table.format.cow.vector.reader.ParquetColumnarRowSplitReader.nextRecord()'"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Throw an exception when r

[2022-08-22 01:54] jiangbiao910 opened #6462 "[SUPPORT]Caused by: org.apache.hudi.exception.HoodieMetadataException: Failed to retrieve list of partition from metadata"
Environment Description
Hudi version : 0.11.0
Flink version : 1.13.1
Hive version : 2.1.1-cdh6.2.0
Hadoop version : 3.0.0-cdh6.2.0
Storage (HDFS/S3/GCS..) : HDFS
Running on Docker? (yes/no) : no

when I use execute Spark SQL:
SET TBLPROPERTIES ("hoodie.metadata.enable"="false")
`INSERT OVERWRITE TABLE zone_dw.dws_stat_day_di PARTITION(dt)
select * from zone_dw.dws_map_refresh_hi where dt BETWEEN '

[2022-08-22 02:46] #6405 closed

[2022-08-22 03:11] gtwuser opened #6463 "[SUPPORT]Caused by: java.lang.IllegalArgumentException at org.apache.hudi.common.util.ValidationUtils.checkArgument(ValidationUtils.java:31)"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
- YES

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise

[2022-08-22 03:13] gtwuser commented on #6463
@umehrot2 @nsivabalan  any pointers on the above issue ?

[2022-08-22 06:45] Zouxxyy opened #6465 "[SUPPORT] HoodieSparkSqlWriter use sparkContext.hadoopConfiguration when initTable"
**Describe the problem you faced**

In HoodieSparkSqlWriter, the `init table()` uses `sparkContext.adoopConfiguration`.
At this time, some configurations set in spark session may not take effect.
Maybe it is better to use `sqlContext.sparkSession.sessionState.newHadoopConf` here? Just as used by `HoodieCatalogTable.initHoodieTable()`

HoodieSparkSqlWriter
[code]

HoodieCatalogTable
[code]

**Envir

[2022-08-22 10:18] sangeethsasidharan opened #6469 "[SUPPORT] z-order is not working"
**Describe the problem you faced**

I am trying to see how z-order works in hudi by using the sample data set mentioned in the hudi official site , i have mentioned below property
 "hoodie.layout.optimize.strategy", "z-order"
while writing the data , but i am not able to see any folder created with "mys3path/.hoodie/.zindex/"  as mentioned in the below issue
https://github.com/apache/hudi/issues/4

[2022-08-22 10:51] dwshmilyss opened #6470 "[SUPPORT]SHOW PARTITIONS is not allowed on hudi table since its partition metadata is not stored in the Hive metastore"
When i execute "spark.sql("show partitions dw_t1.group_140935236706481") " in spark-shell , i get error message below :
[code]
Spark version : 3.2.2
Hudi version:0.11.1
Hive version:3.1.3

Please help me solve this problem. I really appreciate it！！！

[2022-08-22 15:31] Zouxxyy commented on #6470
Maybe you can try what the error message suggests `msck repair table group_140935236706481`

[2022-08-22 16:30] parisni commented on #6373
@nsivabalan  when cleaning + metadata the spark executor gets thousand of such logs (likely it is reading the meta table again and again)
[code]

[2022-08-22 17:05] nsivabalan commented on #6403
I see you have some very old dates.
[code]

[2022-08-22 23:39] gudladona opened #6474 "[SUPPORT] Hudi Deltastreamer fails to acquire lock with DynamoDB Lock Provider."
**Describe the problem you faced**

Hudi Delta streamer (continuous mode) when when restarted after a failure fails to ACQUIRE lock.

Steps to reproduce the behavior:

1. A timeline in the following sequence of operations seems to reproduce this behavior
2.
<img width="1456" alt="image" src="https://user-images.githubusercontent.com/7864088/186037285-ff85d82b-4cb9-4212-b4b5-cc8ff239dab0.png">

**E

[2022-08-22 23:41] gudladona commented on #6474
Logs attached

[hudi-logs.txt](https://github.com/apache/hudi/files/9398269/hudi-logs.txt)

[2022-08-23 00:14] gudladona commented on #6474
Metadata timeline during this timeframe

<img width="1455" alt="image" src="https://user-images.githubusercontent.com/7864088/186041319-a3d4f621-5e8c-4cbc-9e43-9537dcc99112.png">

[2022-08-23 00:40] nsivabalan commented on #6474
are you sure you have attached the right logs.

[code]

[2022-08-23 00:43] nsivabalan commented on #6474
Note to self:

excerpt from the logs which of interest to us
[code]

[2022-08-23 00:47] gudladona commented on #6474
Yes, it seems like the transaction that started at @ 02:06:31 20220822020402958__deltacommit__INFLIGHT is on the metadata table. Also, it appears like this was held for 25 minutes, until @ 02:31:00

[2022-08-23 00:56] gudladona commented on #6474
This seems to be more comprehensive sequence than the above

[code]

[2022-08-23 02:30] dwshmilyss commented on #6470
@Zouxxyy thanks for your advise,I found that this problem was caused by the conflict between SPARK3.2 and HUDI 0.11.1. In HUDI 0.11.1, HiveSyncTool. GetSparkTableProperties () the spark. SQL. Sources. The provider set to hudi, Spark3.2 does not support show Parititons for tables whose provider is HUDI.

[2022-08-23 03:09] LinMingQiang commented on #5330
see https://github.com/apache/hudi/pull/5763

[2022-08-23 03:10] awsUser123 opened #6475 "[SUPPORT]"
Hey guys, I am trying to implement reading from kinesis data streams and storing it into an s3 bucket using Hudi.
I was able to add the data into s3 by referring and running the following code-  https://github.com/awsalialem/amazon-kinesis-data-analytics-java-examples/blob/master/S3Sink/src/main/java/com/amazonaws/services/kinesisanalytics/S3StreamingSinkJob.java

I wanted to know how I can furthe

[2022-08-23 03:13] #6470 closed

[2022-08-23 07:18] hbgstc123 opened #6478 "[SUPPORT]Get KryoException when upgrade from 0.10 to 0.11 in flink"
**Describe the problem you faced**

Get KryoException when try to upgrade hudi version of a flink job.
Flink job is writing to a hudi MOR table using hudi 0.10.
And i try to switch to 0.11 version

**To Reproduce**

Steps to reproduce the behavior:

1.use flink to write to a hudi mor table with hudi 0.10 version
2.stop the flink job
3.restore flink job from ckp with hudi 0.11 version

**Environmen

[2022-08-23 08:27] rmahindra123 commented on #6404
@ankitchandnani I was able to reproduce the error. It seems to be due to an older version of spark-avro (3.0.1 that's used with Hudi 0.9) that doesn't seem to support unions well. Adding the following config helps resolve that since internally hudi converts the given AVRO schema to spark schema and back to AVRO schema, that seems to solve the incompatibility issue. Could you let me know if it work

[2022-08-23 08:30] rmahindra123 commented on #6428
@yihua can you take a look, seems like a metadata related issue?

[2022-08-23 08:35] rmahindra123 commented on #6348
@ROOBALJINDAL When using DebeziumSource, please do not set the --schemaprovider-class, since the schema is applied in the source. Can you try after removing that config? I see that you did not apply that config for HoodieDeltastreamer

[2022-08-23 08:43] rmahindra123 commented on #6304
@SubashRanganathan Adding a column is backward compatible, so you do not read to enable schema evolution, that is still experimental. Could you try re-runnning without the flag: hoodie.schema.on.read.enable set to true. Thanks

[2022-08-23 08:52] china-shang opened #6479 "[SUPPORT] How to query the previous SNAPSHOT in Hive"
Just like Spark's `
select * from hudi_cow_pt_tbl timestamp as of '20220307091628793' where id = 1;`
What should Hive do？
I try select * from t where `_hoodie_commit_time` < "20220823072845254" `, but it didn't work.
It only returns data filtered on the latest SNAPSHOT

[2022-08-23 10:06] ROOBALJINDAL commented on #6348
@rmahindra123 then I get this error:

[code]

[2022-08-23 11:56] ROOBALJINDAL commented on #6348
@rmahindra123 thanks, it worked. But I added 2 tables for ingestion but it is always picking first table mentioned in comma separated list. Can you tell what is missing?

**Kafka-source.properties**
[code]
@pratyakshsharma @nsivabalan

[2022-08-23 13:09] pratyakshsharma commented on #6348
did you supply the continuous flag as well?

[2022-08-23 14:56] YannByron commented on #6465
It will be better if you can provide an example that fails or doesn't work because of this.

[2022-08-23 15:17] YannByron commented on #6424
@xxWSHxx you're right. thank you for this very meaningful issue.
A whole snapshot at a specified time point contains not only data but also metadata.
a ticket to track this: https://issues.apache.org/jira/browse/HUDI-4703

[2022-08-23 15:50] rmahindra123 commented on #6278
Was able to reproduce by adding the following line in my source:
newDataSet = newDataSet.withColumn("invalidDates", functions.lit("1000-01-11").cast(DataTypes.DateType));

Full stacktrace here: https://gist.github.com/rmahindra123/4ab3614ef6ce30ee2c72499f2633de57

[2022-08-23 15:54] rmahindra123 commented on #6278
Confirmed that #6352 resolves the issue after adding the following config:
--conf spark.sql.avro.datetimeRebaseModeInWrite=LEGACY

[2022-08-23 16:15] pomaster commented on #6344
@nsivabalan Looked like @KnightChess has updated the doc already.  Thanks @KnightChess.

[2022-08-23 17:28] rmahindra123 commented on #6348
For Multitable Deltastreamer, it runs the ingestion sequentially, so it will first ingest table1 and then table2. Let me know if you still are facing issues.

[2022-08-23 20:22] nsivabalan commented on #6474
yeah. From what I see, the cleaner waits for the lock (which was acquired to apply `20220822020402958` to metadata table", but after retrying, before giving up, looks like the cleaner unlocks which should not happen. We did made a fix in 0.11.1 to avoid non owner releasing the lock [here](https://github.com/apache/hudi/pull/5255), but looks like there could be more to be looked into.

[code]

I mi

[2022-08-23 20:48] nochimow commented on #4622
Even with AWS saying that only 0.10.0 is "supported", I did some compatibility tests with Hudi 0.10, 0.11 and 0.12.
All versions worked fine, like it wasn't before. (Prior to that, any table with Hudi version > 0.9 was returning 0 rows on Redshift Spectrum)
The only detail here is that the Redshift version must be with the patch >=169. (Got this requirement from the AWS support)

[2022-08-23 20:49] #4622 closed

[2022-08-23 21:06] nikspatel03 commented on #6441
What I understand ->  OverwriteNonDefaultsWithLatestAvroPayload can update the non-null fields in the new data(cdc) to the old data(Hudi table) But what if I have multiple changes for the same Record key into new cdc data then it won't give me correct output.

For example:
Hudi Table:
RK1, F1, F2, F3, F4, F5

New cdc data:
RK1, null, null, F3', null, F5'
RK2, F1', null, F3", null, null
RK3, null,

[2022-08-23 21:52] dyang108 commented on #6428
Update: I got it working on an older version of Hudi 0.10.1, so seems like a regression

[2022-08-24 03:11] Zouxxyy commented on #6479
I guess it's still under development

[2022-08-24 04:17] namuny commented on #6212
Gentle bump to see if anyone has any further recommendations on what information we could provide to help with reproducing the issue.

[2022-08-24 04:24] brskiran1 commented on #6304
@rmahindra123  responding on behalf of @SubashRanganathan . we have tried this without the flag hoodie.schema.on.read.enable set to true. Still dont see glue catalog updated with new column.

[2022-08-24 04:28] fengjian428 commented on #6441
try turn off hoodie.combine.before.upsert？

[2022-08-24 04:40] nsivabalan commented on #4622
thanks @nochimow for the update. appreciate it.

[2022-08-24 06:10] nsivabalan commented on #6212
give me two days. I am gonna take a stab at this and will update here.

[2022-08-24 06:38] china-shang commented on #6479
Oh... No...

[2022-08-24 06:38] 15663671003 opened #6483 "[SUPPORT] Cannot connect to Hive in Hive Sync"
**Describe the problem you faced**

can't connect to hive when sync

**Expected behavior**

Install spark3.2.2 in CDH6.2.1 environment, and run an operation to write to hudi0.12.0, the problem of synchronization hive failure occurs, I guess whether hudi0.12.0 only supports hive3.x, what should I do, please help me.

**Environment Description**

* Hudi version : 0.12.0

* Spark version : 3.2.2

* H

[2022-08-24 07:20] 15663671003 commented on #6483
when set hoodie.datasource.hive_sync.mode="hms", hudi can be sync

[2022-08-24 07:27] Zouxxyy commented on #6452
I tried to solve the problem by just deleting `fs.delete(tablePath, true)` in `HoodieSparkSqlWriter`.

But after that,  execute the query, the old data is not overwritten

By looking at the code, I found that the `WriteOperationType` of bulk insert overwrite is `BULK_INSERT`, not `INSERT_OVERWRITE`. At this time, only commit will be executed, but replace will not be executed.

I don't know good wa

[2022-08-24 07:56] 15663671003 commented on #5765
in spark-3.2.2,hudi-0.12.0, it not fixed

[2022-08-24 09:29] xiarixiaoyao commented on #6424
let me fixed it this week，
but maybe we need a config to control this behavior，
It also makes sense to return the latest schema  WDYT @YannByron @xxWSHxx

[2022-08-24 11:35] rubenssoto commented on #4622
Great to know, I will test, thank you so much guys!

[2022-08-24 15:51] 15663671003 commented on #5765
Will the next version consider fixing this problem? which bothers newbies like me.

[2022-08-24 19:14] WangCHX opened #6487 "[SUPPORT] Primary key check in deltastreamer"
**Describe the problem you faced**

we accidentally configure wrong primary key in the spark write config, it cause duplicate data. wondering if there is a way to avoid it.

**To Reproduce**
change the primary config in write config and run the spark job.

**Expected behavior**
maybe should block the spark job to write data if the primary key config is different from the primary key in the origina

[2022-08-24 22:59] yihua commented on #5765
@nsivabalan We can document the workaround, yet it's still not ideal for users relying on releases.  I'll check if we can fix it by the dependency management within Hudi.

[2022-08-25 01:10] yihua commented on #6487
@WangCHX Let me check the code.  There should be validation of the write config against the table config to make sure they are consistent.

[2022-08-25 03:41] WangCHX commented on #6487
thanks. @yihua

[2022-08-25 07:20] zwj0110 opened #6495 "Receive an unexpected event instant time[SUPPORT]"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-08-25 08:12] ROOBALJINDAL commented on #6348
@rmahindra123 @pratyakshsharma yes, it is working fine for me after removing continous tag but spark job ends after the job is done. I want it to be keep running and checking if there is some new message in kafka topic and sync it with hudi/hive just like HoodieDeltaStreamer. Is this not supported for HoodieMultiTableDeltaStreamer?

[2022-08-25 08:17] danny0405 commented on #6495
Do you have multiple writers writing into the same table at the same time ?

[2022-08-25 08:18] zwj0110 commented on #6495
No, Only one writer

[2022-08-25 08:27] zwj0110 commented on #6495
I find the data can be writed,when the checkpoint is success,but after running some time , the data will depulicate

[2022-08-25 08:45] Armelabdelkbir opened #6496 "[SUPPORT] Hudi schema evolution, Null for oldest values"
Hi everyone, i'm trying to test schema evolution for my cdc pipline (debizium + kafka)  with hudi 0.11.0  and spark structured streming , i follow this documentation, https://hudi.apache.org/docs/0.11.0/schema_evolution,
 does hudi manage well the schema evolution, it is necessary to restart the job, once it is done all the old values will be null, it takes into account only the values of the last

[2022-08-25 09:02] danny0405 commented on #6495
your checkpoint size is huge, did you use the rocks-db statebackend instead ? And the 0.11.1 supports bucket index, you can try that.

[2022-08-25 09:04] zwj0110 commented on #6495
I use the rocks-db statebackend, bucket index it only can reduce the checkpoint size ?

[2022-08-25 09:12] danny0405 commented on #6495
Did you open incremental checkpoint, the bucket index does not use any state-backend at all.

[2022-08-25 09:14] zwj0110 commented on #6495
No, I write a lot table to hudi, there are ok , but  I don't know the reason why it's broken

[2022-08-25 09:32] danny0405 commented on #6495
The exception usually happens when it receives an event that does not belong to the current checkpoint, for example, multiple writers write into the table at the same time.

[2022-08-25 09:44] zwj0110 commented on #6495
Okay, I will check it , you can close the issue

[2022-08-25 09:47] #6495 closed

[2022-08-25 11:54] low-on-mana commented on #6137
Getting same issue for hudi spark bundle jars with version >= 0.10.1

[2022-08-25 12:00] pratyakshsharma commented on #6348
@ROOBALJINDAL PR is already up to support this for HoodieMultiTableDeltaStreamer, I need to write test cases for the same. You can track it here - https://github.com/apache/hudi/pull/5071.

[2022-08-25 15:34] yihua commented on #6483
@15663671003 Hudi supports syncing to Hive 2.  You can check the syncing mode here and that config should be explicitly set: https://hudi.apache.org/docs/syncing_metastore/#sync-modes.

Do you see any more issues?

[2022-08-25 20:34] maduraitech opened #6503 "[SUPPORT] Hudi Merge Into with larger volume"
Use case: We are trying to perform merge into for update partial columns, else insert new records in single command.

Issue: Data is not updating as expected rather it’s trying to insert the record which is already existing and creating duplicates.
Also its updating for few rows.
When we retry the same merge into statement with same data again, it's always inserting new rows and for specific rows

[2022-08-25 20:41] santoshraj123 opened #6504 "[SUPPORT] Hudi deletes fail in HoodieDeltaStreamer"
Hello, we are facing issue when running the spark-submit command after performing a DELETE operation on the PostGres database.  The spark command, schema and properties file are given.  The spark command generates the target Hudi tables after an INSERT of a row into the database, successfully.  But, it fails with a "rolled-back" HudiException when after running the Spark command. We are using EMR

[2022-08-25 21:20] yihua commented on #6056
Here's the tracking Jira ticket: [HUDI-4688](https://issues.apache.org/jira/browse/HUDI-4688).

[2022-08-25 23:58] nsivabalan commented on #6341
yes. likely the issue could be (3) from yann's comment above. if you are setting it as delete operation, you don't need to override the payload class. if you are explicitly setting it to EmptyPayload, then you don't need to set operation type as "delete".

also, can you confirm that your filtered df is actually not empty? instead of writing to hudi, did you do df.count to ensure there are valid re

[2022-08-26 01:12] brskiran1 commented on #6304
@rmahindra123  please let me know if you have an update on this? I have tried with hoodie.schema.on.read.enable ==true but still no change

[2022-08-26 03:55] xiarixiaoyao commented on #6496
@Armelabdelkbir   spark now not support default value， maybe https://github.com/apache/spark/pull/36672/files can help you， thanks

[2022-08-26 08:09] xicm opened #6509 "[SUPPORT] HBase connection closed exception"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I described in https://is

[2022-08-26 09:12] liqiquan opened #6511 "[SUPPORT] Using the insert_overwrite_table mode, the data of all versions of parquet files is returned when presto queries"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Using insert_overwrite_ta

[2022-08-26 23:07] yihua commented on #6511
@liqiquan Did you use `INSERT OVERWRITE TABLE` in Spark SQL to write the Hudi table?  How did you create the table?  Is the Hudi table synced to Hive for Presto to query?

[2022-08-26 23:27] yihua commented on #6509
@xicm we have to shade the HBase classes to be compatible with Hive query engine which introduces HBase classes as well.  Does changing all relevant class names with shading pattern in `hudi-common/src/main/resources/hbase-site.xml` work for you?

[2022-08-26 23:37] yihua commented on #6504
@santoshraj123 Could you upload the complete Spark driver log?  Do you see any error logs before `Commit 20220823151531894 failed and rolled-back !`, specifically sth like `Delta Sync found errors when writing. Errors/Total=` and `Printing out the top 100 errors`?

[2022-08-26 23:49] yihua commented on #6503
@maduraitech could you provide your `MERGE INTO` SQL statement, assuming you're using Spark SQL?

[2022-08-27 00:02] yihua commented on #6479
@china-shang If I'm not wrong, time travel query is not support for Hive query engine.  The incremental query is supported on Hive: https://hudi.apache.org/docs/querying_data#incremental-query-1.  You may try setting `fromCommitTime=0` and `maxCommits=<num>` to approximate what you need.
cc @nsivabalan

[2022-08-27 00:08] yihua commented on #6469
@sangeethsasidharan could you share the Hudi timeline, i.e., file listing under `mys3path/.hoodie`?  Is clustering scheduled and executed?

[2022-08-27 00:20] functicons opened #6514 "[SUPPORT] Creating Hudi table with SparkSQL fails with FileNotFoundException"
**Describe the problem you faced**

I'm trying to create a new Hudi table with SparkSQL in spark-shell:

[code]

The error is really confusing to me, why does Hudi expect the path to exist in advance?

[code]

**To Reproduce**

Steps to reproduce the behavior:

Spark 2.4.8, Scala 2.12, Hudi 2.12:0.11.1

[code]

**Expected behavior**

Table creation should not expect the path to exist as a precondi

[2022-08-27 00:36] liqiquan commented on #6511
yes，i use `INSERT OVERWRITE TABLE` in Spark SQL to write the Hudi table  and presto reads the hive table synchronized by hudi

[2022-08-27 09:03] peanut-chenzhong opened #6517 "[SUPPORT] when using bootstrap partitioned table, partition column return null when select table"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-08-27 19:24] nsivabalan commented on #6511
Presto had some fix around intercepting replace commits recently. not sure if this is related to that. @codope : do you have any idea here.

[2022-08-27 19:37] nsivabalan commented on #6479
yes, as of now, incremental query is the way to go.

[2022-08-27 19:44] nsivabalan commented on #6475
we dont have support in deltastreamer yet. https://issues.apache.org/jira/browse/HUDI-1386
If you are interested to write a source, we would be glad to assist.
If not, I guess, you may have to go w/ [DFSBased source](https://github.com/apache/hudi/blob/master/hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/ParquetDFSSource.java)[[example](https://hudi.apache.org/docs/hoodie_deltastr

[2022-08-27 19:50] nsivabalan commented on #6463
can you post the contents of .hoodie.
also, was there any chance of multi-writers in your env untentionallly (w/o configuring lock configurations)?

[2022-08-27 19:54] nsivabalan commented on #6462
can you share the contents of .hoodie. may be some data in metadata table is corrupt. I am not sure, but wanna inspect and see whats happening.

[2022-08-27 19:57] nsivabalan commented on #6452
yes, insert_override should be honored irrespective of operation type. we might need to put in a fix.

[2022-08-27 20:08] nsivabalan commented on #6422
Can we close out the issue if latest master works.

[2022-08-27 20:10] nsivabalan commented on #6421
@alexeykudinkin : did we get to fix the drop partition columns properly. I remember we had some bugs around this. is it fully fixed or is there any known limitations.

[2022-08-27 20:13] nsivabalan commented on #6414
CC @bhasudha @yihua : can we please improve the documentation around this.

[2022-08-27 20:17] nsivabalan commented on #6411
yes, can you furnish further details. any exceptions you see in driver logs. any reproducible scripts.

[2022-08-27 20:19] nsivabalan commented on #6404
@ankitchandnani : do you have any updates on this regard.

[2022-08-27 20:23] nsivabalan commented on #6390
can you try w/ latest master. we have fixed a bug around this.

[2022-08-27 20:25] nsivabalan commented on #6354
@fujianhua168 : did you try the fix suggested by @fengjian428 .

[2022-08-27 20:28] nsivabalan commented on #6336
hudi has marker files and write status in commit metadata to deduce what were the final set of files that will get committed. Any extra files will be deleted while reconciling markers.

let us know if you are looking for more details.

[2022-08-27 20:29] nsivabalan commented on #6332
@codope : any updates on this.

[2022-08-27 20:32] nsivabalan commented on #6315
there are some known limitations w/incrmental query. for eg, there is some interplay b/w cleaner and incremental query. if cleaner has cleaned up the data file pertaining to commit Cn, and if you trigger incremental query w/ Cn, you may see FileNotFoundIssue. you may have to relax the cleaner configs if you wish to do incremental for older commits.

[2022-08-27 20:33] nsivabalan commented on #6305
@brskiran1 : can you try out https://github.com/apache/hudi/pull/6352 and let us know if the issue is resolved.

[2022-08-27 20:35] nsivabalan commented on #6278
https://issues.apache.org/jira/browse/HUDI-4584
thanks folks. going ahead and closing out the issue. if you still have some issues, feel free to re-open or open a new one.

[2022-08-27 20:35] #6278 closed

[2022-08-27 20:39] nsivabalan commented on #6304
can you furnish driver logs when the sync happens. also, could you do spark.read.format("hudi") and verify that you could read latest hudi data w/o issues and could see the new column as well.

[2022-08-27 21:49] nsivabalan commented on #6281
@crutis : do you have any updates on this regard.

[2022-08-27 21:52] nsivabalan commented on #6277
one possible reason why you are seeing this.
I assume you are running hive sync as a standalone job and not along w/ your regular writes.
So, in such cases, hive sync will only consider commits in active timeline.

for eg, lets say you have 10 commits and ran hive sync to sync everything. and things are in good shape.
now you add 100 more commits. your cleaner and archival configs are such that, o

[2022-08-27 21:54] nsivabalan commented on #6249
can you share contents of .hoodie if its feasible.

[2022-08-27 21:55] nsivabalan commented on #6236
@zhedoubushishi : can you please respond when you can.

[2022-08-27 21:59] nsivabalan commented on #6223
@huzk8 : do you have any updates on this regard

[2022-08-28 00:05] nsivabalan commented on #6188
@alexeykudinkin : can you take a look at this.

[2022-08-28 00:08] nsivabalan commented on #6185
@YannByron : we dont' need

spark.sql.extensions -> org.apache.spark.sql.hudi.HoodieSparkSessionExtension
spark.sql.catalog.spark_catalog -> org.apache.spark.sql.hudi.catalog.HoodieCatalog

 for spark 3.1 right? I thought its mandatory only for 3.2 and above.

[2022-08-28 00:11] #6177 closed

[2022-08-28 00:15] nsivabalan commented on #6156
closing it out since the PR is landed. thanks @KnightChess

[2022-08-28 00:15] #6156 closed

[2022-08-28 00:18] nsivabalan commented on #5765
yes, I get it. even if we put in a fix, only new versions of hudi might support. not the existing ones. So, better to document it.

[2022-08-28 00:18] nsivabalan commented on #5765
Closing the issue as the workaround has been suggested. feel free to re-open or create new one.
thanks!

[2022-08-28 00:18] #5765 closed

[2022-08-28 00:19] nsivabalan commented on #6146
@jiangbiao910 : can you try w/ 0.12 or latest master and let us know if you are still facing issues.

[2022-08-28 00:21] nsivabalan commented on #6143
@XuQianJin-Stars @fengjian428 : did you folks inspect the .hoodie folder. by any chance the delta commit or commit file of interest seen in stacktrace is 0 byte file?
does the error goes away if you restart the pipeline? or its just stuck.
if you can share the contents of .hoodie, we can dig in to see whats happening.

[2022-08-28 00:23] nsivabalan commented on #6131
@XuQianJin-Stars : any updates please.

[2022-08-28 00:25] kazdy opened #6519 "[SUPPORT] SQL Update does not work for MoR _rt table"
I created partitioned MoR table and then wanted to use spark sql to update one row.
An error was thrown, same update works when I use _ro table.
I would expect both _ro and _rt tables registered in metastore/catalog to work when I run update statement.
Wondering if this is some conflict caused by amzn spark or not.

**To Reproduce**

Steps to reproduce the behavior:

1. create MoR table, sync to h

[2022-08-28 00:25] nsivabalan commented on #6128
yes, ensure you use hive2.3+ and you have hive sync configs properly configured.

[2022-08-28 00:26] nsivabalan commented on #6126
@yuzhaojing : any updates here please.

[2022-08-28 00:31] nsivabalan commented on #5980
@bkosuru : we have made lot of fixes around perf in 0.12 on both read and write side.
can you try 0.12 and let us know what you see. please disable bloom filter and column stats.
Try w/ and w/ enabling metadata as well. curious to know how this fares.

[2022-08-28 00:33] nsivabalan commented on #5979
@yuzhaojing : can you follow up on this when you get a chance

[2022-08-28 00:34] nsivabalan commented on #5960
thanks!

[2022-08-28 00:34] #5960 closed

[2022-08-28 00:41] nsivabalan commented on #5952
looks like there is some confusion here. S3EventsSource actually reads events from SQS and populates the data into Hudi metadata table. this is the first stage which does not look into your S3 data directory at all.
Its the 2nd stage where we read the actual source files from S3 path in S3EventsHoodieIncrSource. Can you help clarify where you are seeing the perf hit.

[2022-08-28 00:42] nsivabalan commented on #6107
@satishmalladi-m : any updates please.

[2022-08-28 00:43] nsivabalan commented on #6102
@Aload : after the patched version, do you see any data loss?

[2022-08-28 00:47] nsivabalan commented on #6101
if you wish to delete entire partition data, you can directly issue "DELETE_PARTITION" operation. and you don't need to send entire DF<Recs> for it. For instance,  you can set this config https://hudi.apache.org/docs/0.11.1/configurations#hoodiedatasourcewritepartitionstodelete as comma separated list of partitions to be deleted.

If you are not setting this config param, then you need to pass DF<

[2022-08-28 00:48] nsivabalan commented on #6089
@jiangbiao910 : can you create a new github issue please.

[2022-08-28 00:50] nsivabalan commented on #6074
@yuzhaojing : any follow ups here.

[2022-08-28 00:53] nsivabalan commented on #6055
@rishabhbandi : do you mind sharing a reproducible scripts. would help investigate faster.

[2022-08-28 00:54] nsivabalan commented on #6048
@noahtaite : any updates here please

[2022-08-28 00:55] nsivabalan commented on #6024
@Gatsby-Lee : any updates here please.

[2022-08-28 01:04] nsivabalan commented on #6014
@alexeykudinkin : can you look into this.

[2022-08-28 01:05] nsivabalan commented on #6001
@JoshuaZhuCN : hope that answers. if you don't have any more questions, feel free to close out the issue.

[2022-08-28 01:06] nsivabalan commented on #5984
@rubenssoto : if you can furnish more details, we can look into investigating more.

[2022-08-28 01:08] nsivabalan commented on #5942
hey sorry. I was on vacation during July and caught up w/ work in August. you can post in general slack and CC me (`shivnarayan`).

[2022-08-28 01:38] nsivabalan commented on #5770
@Rap70r : any updates please. feel free to close out the issue if you got it resolved.

[2022-08-28 01:39] nsivabalan commented on #5777
@alexeykudinkin @YuweiXiao : can you folks follow up on this.

[2022-08-28 01:41] nsivabalan commented on #5792
@XuQianJin-Stars @minihippo : can you assist here please.

[2022-08-28 01:43] nsivabalan commented on #5805
@minihippo : can you follow up on this please.

[2022-08-28 01:45] nsivabalan commented on #5824
thanks!

[2022-08-28 01:45] #5824 closed

[2022-08-28 01:45] nsivabalan commented on #5826
@njalan : can you respond to @minihippo 's comment above.

[2022-08-28 01:48] nsivabalan commented on #5833
@zhangty123321 : can you give us steps to reproduce. full writer logs etc.

[2022-08-28 01:49] nsivabalan commented on #5836
@dujl : can you respond to Sagar's comment above.

[2022-08-28 02:00] nsivabalan commented on #5861
closing the github issue as we have a fix. thanks folks!

[2022-08-28 02:00] #5861 closed

[2022-08-28 02:01] #5867 closed

[2022-08-28 02:07] nsivabalan commented on #5931
can you try this out https://github.com/apache/hudi/pull/5920

[2022-08-28 02:08] nsivabalan commented on #5938
@developerwxl : any updates please.

[2022-08-28 02:16] nsivabalan commented on #5717
@jdiebold : can you respond when you can.

[2022-08-28 02:19] nsivabalan commented on #5689
@eshu : any updates please.

[2022-08-28 02:20] nsivabalan commented on #5685
@MikeTipico : any updates.feel free to close if you got it resolved.

[2022-08-28 02:20] nsivabalan commented on #5683
@MikeTipico : can you respond to my above comment when you can.

[2022-08-28 02:21] nsivabalan commented on #5673
you can enable schema on read and give it a try
https://hudi.apache.org/docs/schema_evolution/#sparksql-schema-evolution-and-syntax-description
hoodie.schema.on.read.enable=true
CC @xiarixiaoyao

[2022-08-28 02:24] nsivabalan commented on #5671
we made some fixes around failed roll backs in 0.11 or 0.11.1. essentially if a rollback is failed mid-way, next time if we restart the pipeline, hudi was creating a new rollback instant to rollback the partially failed commit. We also fixed an issue where in, even if no partialy failed commits are found, but if pending rollbacks are found, those will be attempted again.
Can you @eric9204 give 0.1

[2022-08-28 02:27] nsivabalan commented on #5628
closing this we have a patch fixing it https://issues.apache.org/jira/browse/HUDI-4731
https://github.com/apache/hudi/pull/6468

[2022-08-28 02:27] #5628 closed

[2022-08-28 02:29] nsivabalan commented on #5582
@vicuna96 : any updates please.

[2022-08-28 02:31] nsivabalan commented on #5551
@nleena123 : any updates here please. I don't think I had any conversations in slack either.

[2022-08-28 02:33] zhedoubushishi commented on #6236
@fireking77  This is an old issue and it has been fixed since Hudi 0.11.0. Here is a background issue you can refer to: https://github.com/apache/hudi/issues/5053.

[2022-08-28 02:34] nsivabalan commented on #5540
[code]

sample log4j file.

[code]

[2022-08-28 02:36] nsivabalan commented on #5539
not sure if its already resolved. but in case of union w/ default as null, null has to be the first entry in the union.

[2022-08-28 02:37] nsivabalan commented on #5537
@melin : any updates please.

[2022-08-28 02:40] nsivabalan commented on #5514
we [fixed](https://github.com/apache/hudi/pull/6234) it with 0.12. can you give it a try w/ 0.12.

[2022-08-28 02:40] eshu commented on #5689
@nsivabalan Sorry, problem was solved after migration to 0.11.0

[2022-08-28 02:40] #5689 closed

[2022-08-28 02:46] eshu commented on #6058
@nsivabalan If there is no way to read all records since a specified time, it makes no sense in incremental read at all. Is it possible to implement incremental readin for the whole dataset?

[2022-08-28 02:46] #6058 closed

[2022-08-28 08:45] brskiran1 commented on #6278
@alexeykudinkin @nsivabalan @rmahindra123  in deltastreamer this issue still exists.. --conf spark.sql.avro.datetimeRebaseModeInWrite=LEGACY  spark.sql.avro.datetimeRebaseModeInRead=LEGACY does not work. Will have to reopen this issue

[2022-08-28 19:56] nsivabalan commented on #5482
@parisni : are you still stuck at this issue? if not, can we close it out.

[2022-08-28 19:57] nsivabalan commented on #5460
thanks!

[2022-08-28 19:57] #5460 closed

[2022-08-28 20:13] nsivabalan commented on #5452
@santoshsb : is there anything more to be addressed, or can we close out the issue. I see the PR is merged.

[2022-08-28 20:28] #5371 closed

[2022-08-28 20:29] nsivabalan commented on #5348
closing due t no activity.

[2022-08-28 20:29] #5348 closed

[2022-08-28 20:30] nsivabalan commented on #5345
@walkhan : did you get a chance to check out the updates in this issue. are you still looking for any assistance? if not, feel free to close it out

[2022-08-28 20:31] nsivabalan commented on #5330
closing the issue since the linked PR is landed. feel free to reopen or open a new issue if you are still facing issues.
thanks!

[2022-08-28 20:31] #5330 closed

[2022-08-28 20:33] nsivabalan commented on #5291
closing it out since the linked PR is landed. thanks!

[2022-08-28 20:33] #5291 closed

[2022-08-28 20:33] nsivabalan commented on #5281
@bhasudha : can we enhance documentation around this.
once done, feel free to close out the issue.

[2022-08-28 20:36] nsivabalan commented on #5262
closing this due to no activity.

[2022-08-28 20:36] #5262 closed

[2022-08-28 20:37] nsivabalan commented on #5253
@minihippo : can you take a look at this issue please.

[2022-08-28 23:12] glory9211 commented on #5952
In the second part, when we go to read the files from S3. For large number of entries in SQS the S3List operation will be very slow using the default ```spark.read.json()``` method

[2022-08-29 02:05] eric9204 commented on #5671
@nsivabalan When I use 0.11.1 for the same test, this problem does not appear again.
Thank you for your help, I will close this issue.

[2022-08-29 02:05] #5671 closed

[2022-08-29 02:24] JoshuaZhuCN commented on #6514
try to set spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension

[2022-08-29 02:38] xiarixiaoyao commented on #6424
@xxWSHxx  could you pls try master branch
as we merged this pr https://github.com/apache/hudi/commit/b6b515917c34c4111216375bc2639876ab50dc30
@YannByron thanks for your nice  work.

[2022-08-29 02:39] #6390 closed

[2022-08-29 06:13] santoshsb commented on #5452
Thanks for fixing this, we can close the issue.

[2022-08-29 07:13] dujl commented on #5836
@codope
in your hoodie.properties
there is a
[code]
and you can query table_params in hive metastore mysql， you will see there is a table parameters like
[code]
show create table will filter the empty key when display the result。

[2022-08-29 08:38] dujl commented on #5836
i have raised a pr
https://github.com/apache/hudi/pull/6525

[2022-08-29 08:48] si1verwind17 opened #6526 "[SUPPORT] Unable to sync Hudi with hive metastore"
**Describe the problem you faced**

I'm trying to write a spark dataframe to store in GCS and sync with standalone hive metastore but it cannot sync successfully.

**To Reproduce**

Steps to reproduce the behavior:

Running the code with configs below
[code]
[code]

**Expected behavior**

Be able to sync hudi table with remote hive metastore.

**Environment Description**

* Hudi version : 0.12.0
*

[2022-08-29 09:01] xicm commented on #6509
Thanks @yihua, I replace the relevant class names with shaded name in hbase-site.xml, and get the same exception.

[2022-08-29 09:29] matthiasdg commented on #6277
Yup, that's more or less what I thought was the case. (Not sure what hudi setting exactly manages it, I mentioned commit retention in one of the earlier comments, but could be something else).
Is this behavior and the settings that impact it documented somewhere? It's not a big deal, just something to take into consideration

[2022-08-29 10:05] txl2017 opened #6527 "read full partition in KEEP_LATEST_FILE_VERSIONS Strategy when clean files"
![lQLPJxai12mXEe3NAbHNAwmwgoX0zqWV4MADC92hLUDSAA_777_433](https://user-images.githubusercontent.com/26540066/187176529-80a4ef97-fd1b-4ccb-81dc-6c31d2f3673a.png)

i use cow table，and 'clean-policy' = 'KEEP_LATEST_FILE_VERSIONS'
with table's parition increased, the flink task became instability

[2022-08-29 11:46] Zhangshunyu opened #6528 "[SUPPORT]How to clean the compacted .log and .hfiles in metadata?"
we set parameters for bulck_insert as following:
	      "hoodie.bulkinsert.sort.mode" -> "GLOBAL_SORT",
	      "hoodie.metadata.enable" -> "true",
	      "hoodie.bulkinsert.shuffle.parallelism" -> "1400",
	      "hoodie.metadata.index.column.stats.enable"  -> "true",
	      "hoodie.enable.data.skipping" -> "true",
	      "hoodie.cleaner.policy.failed.writes" -> "LAZY",
	 "hoodie.metadata.index.col

[2022-08-29 12:02] Zhangshunyu commented on #6528
in org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java

we can find this code:
  .withCompactionConfig(HoodieCompactionConfig.newBuilder()
            .withAsyncClean(writeConfig.isMetadataAsyncClean())
            // we will trigger cleaning manually, to control the instant times
            .withAutoClean(false)

if we set hoodie.metadata.clean.async=true, it will call hoodie.clean.asy

[2022-08-29 12:03] Zhangshunyu commented on #6528
@alexeykudinkin @nsivabalan could you pls help to check once?

[2022-08-29 12:12] liangyu-1 opened #6529 "[SUPPORT] jar conflicts about org.apache.hudi.execution.FlinkLazyInsertIterable.getTransformFunction"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

when I run the flink inse

[2022-08-29 13:05] szknb opened #6530 "[SUPPORT] org.apache.hudi.exception.HoodieException: Invalid partition name [2020/01/02, 2020/01/01, 2020/01/03]"
Hi, I follow the code of this demo to execute it: https://github.com/apache/hudi/blob/master/hudi-examples/hudi-examples-spark/src/main/java/org/apache/hudi/examples/spark/HoodieWriteClientExample.java , but I got "Invalid partition name [2020/01/02, 2020/01/01, 2020/01/03]", the information I can contribute is:

1. Table and dir are created normally
2. The code at the place where the exception is

[2022-08-29 13:59] nsivabalan commented on #6487
have created a [jira](https://issues.apache.org/jira/browse/HUDI-4734) for tracking. closing the issue.
thanks for reporting.

[2022-08-29 13:59] #6487 closed

[2022-08-29 14:16] parisni opened #6531 "[SUPPORT] Insert results different than bulk_insert"
hudi 0.11 / 0.12 at least

https://hudi.apache.org/docs/write_operations#bulk_insert

From my tests this is not true. The below script results in duplicated rows with `bulk insert`, while `insert` replaces rows (what we expect from upsert)

I would expect both bulk_insert / insert share same results ?
[code]

[2022-08-29 14:27] minihippo commented on #5253
Hi @njalan,  [HUDI-3493] can solve this problem. The fixed hudi version is 0.11.0

[2022-08-29 14:42] XuQianJin-Stars commented on #5805
This bug is fixed. https://issues.apache.org/jira/browse/HUDI-4404

[2022-08-29 14:42] #5805 closed

[2022-08-29 14:51] YuweiXiao commented on #5777
@nsivabalan will take a deep look on it this week!

[2022-08-29 14:54] minihippo commented on #5792
@a0x This problem has solved by HUDI-4404

[2022-08-29 15:00] minihippo commented on #5792
Ok, I will try to reproduce it first.

[2022-08-29 16:03] alexeykudinkin commented on #6421
Yes, this should be resolved.
@sandip-yadav can you try 0.12?

[2022-08-29 17:19] functicons commented on #6514
I follow the [Hudi guide for Spark](https://hudi.apache.org/docs/quick-start-guide/). It says `spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension` is only needed for Spark 3.2+.

[code]

[2022-08-29 17:40] nsivabalan commented on #6531
yes, by default bulk_insert will not dedup and thats by design. we just wanted to give user a way to bulk import w/o any index look up.

[2022-08-29 17:41] nsivabalan commented on #6531
@bhasudha : can we enhance the docs on this end.

[2022-08-29 17:43] nsivabalan commented on #6530
how did you write to hudi. can you share the code snippet. is it spark datasource write? guess, its related to hive style partitioning.

[2022-08-29 17:48] nsivabalan commented on #6528
yes, cleaning and compaction in metadata table is controlled from within. we don't want to let users override them.
anyways, clean and compaction should be happening for metadata table.
can you share the contents of .hoodie/metadata/.hoodie/
Also, if you can enable debug logs and share what you see when writes are applied to metadata table, we can get in some insights.

[2022-08-29 17:48] nsivabalan commented on #6528
likely compaction in MDT is not kicking in (due to some pending operations in data table timeline). if compaction in MDT is not kicking in, cleaner does not have any work to do since there are no older file slices to clean up.

[2022-08-29 17:49] nsivabalan commented on #6527
yes. it might get costly w/ the scale or if you plan to retain lot of file versions. I can file a jira to enhance this. but might need some intelligent design around this.

[2022-08-29 20:25] alexeykudinkin commented on #6223
@nsivabalan this will be addressed by https://github.com/apache/hudi/pull/6264

[2022-08-29 20:28] alexeykudinkin commented on #6188
@ns

[2022-08-29 20:34] alexeykudinkin commented on #6188
Hey, @floriandaniel! Thanks for taking the time to file very detailed description.

First of all i believe the crux of the problem is likely lying in the realms of using Bloom Index of the Metadata table: we've recently identified a performance gap in there and @yihua is currently working on addressing that (there's already a PR in progress).

Second, i'd recommend you to do following in your eval

[2022-08-29 20:41] alexeykudinkin commented on #6278
@brskiran1 have you tried on the latest master? Can you please paste stacktrace you're observing.

[2022-08-29 21:23] vividhsv opened #6532 "[SUPPORT] presto query of bootstrapped data returns null"
**Describe the problem you faced**

**To Reproduce**

Steps to reproduce the behavior:

1. Bootstrap legacy partition using hudi bootstrap using delta streamer
2. Query the bootstrapped partition using presto with hudi connector
![2022-08-29_14-50-03](https://user-images.githubusercontent.com/2614305/187276065-fe27e460-7a29-4ca5-9880-e1c17d67f0d1.png)

**Expected behavior**

Should returns results

[2022-08-29 22:18] nsivabalan commented on #6504
guess its an issue w/ bulk_insert. can you use "Insert" and let us know what you see.
also, may be, if you can avoid records w/ "hoodie_is_deleted" = true in the first commit, and ensure those are part of later batches, let's see whats the output look like.

[2022-08-29 22:21] nsivabalan commented on #6403
recently we fixed handling of very old dates. https://github.com/apache/hudi/pull/6352
you may need to set this config
[code]
to get it working.

[2022-08-29 22:21] nsivabalan commented on #6403
@Armelabdelkbir : let us know if the above resolution fixes your issue. Feel free to close out the issue if don't see the problem anymore.

[2022-08-29 22:38] nsivabalan commented on #6373
As you have pointed out, looks like we are directly using file system based listing when getPartitionPathsForFullCleaning is invoked.
Let me consult w/ the author and see if we can fix that: https://github.com/apache/hudi/pull/5169/files#r957849431

[2022-08-29 22:40] nsivabalan commented on #6373
but w/ insert, I am trying to gauge why cleaning never kicked in case of your table. unless you have very linient cleaner configs, some cleaning should have happened after few commits.
can you post your write configs.

[2022-08-30 00:28] yihua commented on #6532
There could be gaps in querying bootstrapped Hudi table in Presto.  We will be addressing that in the coming weeks.  Relevant EPIC: HUDI-1265 cc @codope

[2022-08-30 00:34] yihua commented on #6531
@parisni For bulk insert, you may also dedup within a batch using `hoodie.combine.before.insert=true`, yet that does not avoid duplicates across batches.

[2022-08-30 00:37] yihua commented on #6529
@yuzhaojing @danny0405 could you guys help on this Flink issue?

[2022-08-30 00:42] txl2017 commented on #6527
ok thanks! because this was in our production environment and is really affect our flink task. so we solved it through a simple treatment. and we are looking forward this intelligent design in next release. then we will upgrade.

here is our simple treatment
![image](https://user-images.githubusercontent.com/26540066/187322957-1c35788c-253e-436f-ab42-f4bbf7dfe2d2.png)

![image](https://user-images

[2022-08-30 01:09] Zhangshunyu commented on #6528
Hi @nsivabalan , thanks for your reply, actually the compation of MDT happend, we can see the commit files in .hoodie/metadata/.hoodie as following pic:
![image](https://user-images.githubusercontent.com/13940237/187325472-f1101b13-9d65-4028-aa5a-8955b95203c2.png)

but there are more than 50,000 files left in col_stats/ dir which never be cleaned yet.

BTW, we checked the code and confused by the

[2022-08-30 01:10] Zhangshunyu commented on #6528
@nsivabalan It seems the auto clean of metatable is disabled?

[2022-08-30 01:12] Aload commented on #6102
Sorry, the data is missing due to that version. I have downgraded the version and haven't upgraded it yet. Expect to wait until 0.12.1 before considering the upgrade

[2022-08-30 01:55] dik111 commented on #6430
I meet the same error in flink-sql-client

[2022-08-30 01:57] yihua commented on #6528
@Zhangshunyu as @nsivabalan Hudi manages the compaction and cleaning for metadata table internally, as shown below in `HoodieBackedTableMetadataWriter` class:
[code]

Also as laid out above, the current logic prevents the cleaning from happening within 3 instants after the compaction in metadata table.  That could be the reason why you don't see cleaning, as `hoodie.metadata.compact.max.delta.comm

[2022-08-30 01:59] KnightChess commented on #6514
@functicons all version I think need. The doc desc is a bit confusing.

[2022-08-30 02:02] Zhangshunyu commented on #6528
Hi @yihua, thanks for your reply, i will try once.
BTW, what's the meaning of '002' here in writeClient.clean(instantTime + "002");
i didnt find any instantTime + '002' in timeline

[2022-08-30 02:03] microbearz commented on #5792
@a0x I tried to reproduce with master branch, and failed at step 3.
` Cannot write 'note': NullType is incompatible with StringType;`

[2022-08-30 02:08] hbgstc123 opened #6540 "[SUPPORT]KryoException when bulk insert into hudi with flink"
When bulk insert into hudi with flink, flink job fail with Exception
com.esotericsoftware.kryo.KryoException: java.lang.NullPointerException

-- hudi table DDL
CREATE TEMPORARY TABLE table_one
(
    imp_date string,
    id bigint,
    name string,
    ts timestamp(3)
) PARTITIONED BY (imp_date)
WITH
(
    'connector' = 'hudi',
    'path' = ${hdfs_path},
    'write.operation' = 'bulk_insert',
    '

[2022-08-30 02:17] yihua commented on #6528
`002` is the suffix for the clean instant timestamp.  The metadata table writer takes the same timestamp from the deltacommit and adds the suffix of `001` for compaction and `002` for clean to differentiate from the corresponding deltacommit.  This is for easy debugging.

[2022-08-30 02:17] yihua commented on #6528
The reason you don't see any instantTime + '002' in the timeline is that the clean action does not happen in the metadata table.

[2022-08-30 02:22] Zhangshunyu commented on #6528
@yihua Ok, I see, thank you very much!

[2022-08-30 02:22] yihua commented on #6540
@danny0405 another KryoException issue in Flink

[2022-08-30 02:28] szknb commented on #6530
@nsivabalan
`public class HudiExample {

    private static final Logger LOG = LogManager.getLogger(HudiExample.class);

    private static String tableType = HoodieTableType.COPY_ON_WRITE.name();

    public static void main(String[] args) throws Exception {

        String tablePath = "hdfs://haruna/home/xxx/xxx/hudi";
        String tableName = "hudi-test";
        SparkConf sparkConf = HoodieE

[2022-08-30 02:31] yihua commented on #6514
@functicons  does adding `spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension` work for you?

[2022-08-30 03:17] xiarixiaoyao commented on #6496
@Armelabdelkbir   if you has this requirement for spark 3.1x  pls  raise a pr, and i will fixed it as soon as possible

[2022-08-30 03:46] liangyu-1 commented on #6529
I figured out that I imported both hudi-flink-client jar and hudi-flink-bundle jar in my project.
hudi-flinl-bundle have shaded org.apache.avro but hudi-flink-client didn't, thus there is a conflict.

[2022-08-30 03:55] szknb commented on #6530
hudi version: 0.7.0-bd33

[2022-08-30 04:26] si1verwind17 commented on #6526
I have resolved the error. The problem wasn't from the Hudi side.

The error below
`: org.apache.hudi.exception.HoodieException: Could not sync using the meta sync class org.apache.hudi.hive.HiveSyncTool`

caused by the other error from Hive Metastore which doesn't recognize scheme gs://

So, I solved by putting the gcs connector jar (shaded)  to $HIVE_HOME/lib in Remote Hive Metastore

[2022-08-30 04:26] #6526 closed

[2022-08-30 06:01] #6528 closed

[2022-08-30 08:48] danny0405 commented on #6540
Seems there is no enough managed memory for sort, what version of hudi did you use then ?

[2022-08-30 08:51] Zouxxyy commented on #6398
Same question... I didn't find the option either

[2022-08-30 08:53] CaesarWangX opened #6543 "[SUPPORT] Unable to load class of UserDefinedMetricsReporter in hudi0.11"
``Hi team,

I encountered this problem when using hudi0.11:
When I use the my custom MetricsReporter, after setting "**hoodie.metrics.on=true**" and "**hoodie.metrics.reporter.class=MyMetricsReportor**", the custom MetricsReporter cannot always be loaded. The error is **java.lang.ClassnotFoundException: com.test.MyMetricsReportor**, which indicates that this class cannot be found.
However, hudi0.9

[2022-08-30 08:54] CaesarWangX commented on #6543
trace log
[trace.txt](https://github.com/apache/hudi/files/9451349/trace.txt)

[2022-08-30 11:17] hbgstc123 commented on #6540
I try 0.11 and 0.12, and it doesn't seem like a memory problem, because i run on local with 10 record still see this error

[2022-08-30 14:09] KnightChess commented on #6397
@Zouxxyy Can you provide a physical plan？

[2022-08-30 15:31] hbgstc123 commented on #6540
`  override def getRegistration(klass: Class[_]) =
    if (isJavaLambda(klass)) {
      getClassResolver.getRegistration(classOf[ClosureSerializer.Closure])
    } else super.getRegistration(klass)`

This may be a flink problem, in com.twitter.chill.KryoBase, if the above code enter first branch, it will try to get serializer from a map in classResolver and not checking if the result is null, then

[2022-08-30 21:46] namuny commented on #6212
Hi @nsivabalan, sorry to be a hassle but do you have any updates on this one?

[2022-08-30 22:12] nsivabalan commented on #6452
@minihippo : Do you want to take up this fix. its a minor bug fix on the sql layer.

[2022-08-30 23:19] nsivabalan commented on #6403
cool, thanks for the update!

[2022-08-30 23:19] #6403 closed

[2022-08-30 23:38] nsivabalan commented on #6373
hey @parisni : I have put up a [fix](https://github.com/apache/hudi/pull/6548) to leverage metadata table incase of LATEST_FILE_VERSIONS.
btw, I was also thinking, if you can leverage [hoodie.clean.max.commits](https://hudi.apache.org/docs/configurations#hoodiecleanmaxcommits) to reduce the frequency w/ which cleaner runs. you can increase this to say 5. Only once every 5 commits, the clean code p

[2022-08-30 23:39] nsivabalan commented on #6373
btw, as I kept thinking about any other enhancement for LATEST_FILE_VERSIONS, I thought if [hybrid policy](https://issues.apache.org/jira/browse/HUDI-4750) would help. I have captured the details in the jira. let me know what you think of the policy.

[2022-08-30 23:41] nsivabalan commented on #6373
and wrt your statement `Also I guess there is a problem to use incremental cleaning together with KEEP_LATEST_COMMITS which lead to never clean some partitions after a first clean but I will open a separate issue for this one.`, if you happen to create a new issue, let me know. do tag me in there.

[2022-08-30 23:41] nsivabalan commented on #6341
@rjmblc : any updates on this regard.

[2022-08-30 23:49] nsivabalan commented on #6308
@eric9204 : just so you are aware of how conflict resolution happens w/in hudi.

If two writers are writing to same file, hudi will fail one of them and will succeed the other. But if two writers are writing to two different files, both should succeed (assuming both are concurrent writers).

For eg, lets say writer1 ingests 100 records in commit C1.

and at time t10, wirter1 updates the same 100 r

[2022-08-31 01:54] nsivabalan commented on #6194
got it. isn't your partition path is `--duplicatedPartitionPath "env_id= 123456789/week=20220711"`. I see you have tried `"env_id=123/week=20220711"`

123 -> 123456789.

bcoz, I do't see any other difference. only other diff is, I did not enable hive style partitioning in my script. I can give that a retry again.

[2022-08-31 01:59] nsivabalan commented on #6474
hey @gudladona : I could not replicate the scenario where a diff thread unlocks by mistake. the unlocking will not go through. But I have added some more enhancement https://github.com/apache/hudi/pull/6549 to ensure we set the right txn owner and so we will ensure the right owner of the lock only can unlock.

[2022-08-31 02:10] minihippo commented on #6452
@nsivabalan No problem. I will take it

[2022-08-31 02:35] eric9204 commented on #6308
@nsivabalan I know what you mean, there is another problem.

If one of writers fail, this hoodie commit transaction was failed at hudi side, but this batch was successful at spark side. So the next micro batch will consume record from last successful commit of offset. the data of last successful micro batch which is failed at hoodie side actually may be lost 。

[code]

Could the community add a re

[2022-08-31 02:35] nsivabalan commented on #6194
ok, I guess the issue is w/ MOR table. dedup as of now is supported only for COW table. let me file a jira.

[2022-08-31 02:38] nsivabalan commented on #6194
https://github.com/apache/hudi/issues/6194
you can follow the jira for progress. we will try to get it in next release.
thanks for reporting. if you don't have any more questions, feel free to close out the github issue. we can use the jira to follow up.

[2022-08-31 07:15] hj2016 commented on #6540
I have the same problem，I use flink 1.15   hudi  0.12  。
![image](https://user-images.githubusercontent.com/18521084/187616607-f8555dfd-baff-45db-984d-b60cbda5ef12.png)

[2022-08-31 08:27] xxWSHxx opened #6551 "[SUPPORT] Hudi only support one table one HoodieJavaWriteClient"
**Describe the problem you faced**

The tableName needs to be specified when HoodieJavaWriteClient is created, so that each table needs to create a corresponding HoodieJavaWriteClient. When there are a lot of tables in the database that need to be updated, a lot of HoodieJavaWriteClient needs to be created

Steps to reproduce the behavior:

`  HoodieWriteConfig cfg = HoodieWriteConfig.newBuilder()

[2022-08-31 10:07] joao-miranda opened #6552 "[SUPPORT] AWSDmsAvroPayload does not work correctly with any version above 0.10.0"
**Describe the problem you faced**
We are getting Full Load + CDC data from a RDBMS using AWS Database Migration Service into an S3 bucket. We then use Hudi in a Scala Glue Job to concatenate the files into a correct representation of the current status of the database. DMS adds two columns to the data: Op (with values null, I, U or D) and ts (timestamp of the operation). We are not using Hive or

[2022-08-31 10:55] tooptoop4 opened #6553 "[SUPPORT] upgrade 0.5.3 to 0.12.0 in one go?"
if I have many tables/files written by hudi 0.5.3 can i upgrade writers/readers to hudi 0.12.0 seamlessly? or would I need multiple smaller upgrades like 0.5.3 to 0.8.0 then 0.8.0 to 0.10.0 then 0.10.0 to 0.12.0?

also is there any one-off conversion of the files needed? I saw something about 'table versions' (https://github.com/apache/hudi/blob/bf86efef719b7760ea379bfa08c537431eeee09a/hudi-common

[2022-08-31 12:49] txl2017 commented on #6527
the same case for compact too

2022-08-31 12:35:33,278 INFO  org.apache.hudi.table.action.compact.HoodieCompactor         [] - Compacting s3:// with commit 20220831123532928
2022-08-31 12:35:34,018 INFO  org.apache.hudi.table.action.compact.HoodieCompactor         [] - Compaction looking for files to compact in [19700101, 20220511, 20220512, 20220513, 20220514, 20220515, 20220516, 20220517, 202205

[2022-08-31 15:04] parisni opened #6558 "[SUPPORT] Parquet/Avro schema mismatch: Avro field not found"
0.11.1

[code]

I have a table with an camelCase two level struct `publishedDate`, and I get the below errors when applying operations on it with old version of schema or deletion.

[code]

[code]

also hudi table printSchema returns:
[code]

I have other tables with camelCase field with no trouble

[2022-08-31 15:19] nverdhan commented on #3008
The second problem still exists.

Setting
[code]
for non partitioned data doesn't show data after syncing to Glue. Querying data shows empty results while the parquet file has all the columns. The schema in Glue shows "Partition(0)" against the column it was synced but probably doesn't show data because all partitions are empty. If I edit the Glue table schema and remove Partition field, it starts

[2022-08-31 16:42] #6465 closed

[2022-08-31 17:33] Zouxxyy commented on #6543
What I know is that in 0.11, the user-defined MetricsReporte base class changed from `AbstractUserDefinedMetricsReporter `to `CustomizableMetricsReporter`, have you adjusted it accordingly?

[2022-08-31 17:50] crutis commented on #6281
I'm sorry, this work got de-prioritized for a while. I may get a chance to work on this in the next two weeks, but more likely 4 weeks

[2022-08-31 18:00] nsivabalan commented on #6341
thanks!

[2022-08-31 18:04] nsivabalan commented on #6527
I have made some perf fixes to the full cleaning when metadata is enabled.
https://issues.apache.org/jira/browse/HUDI-4749

Also, I have proposed a hybrid cleaning policy to enhance cleaning by LATEST_FILE_VERSIONS : https://issues.apache.org/jira/browse/HUDI-4750

[2022-08-31 18:08] nsivabalan commented on #6527
oh, just now looking at your solution. it might have some corner cases. For eg, if you choose cleaner policy to be LATEST_FILE_VERSION, and set commits retained to 10 (this config is supposed to work only for LATEST_COMMITS policy).

after 15 commits, we will consider only the last 10 commits to do clean up, what incase some file group never got updated from C5 to C15. So, those file groups should

[2022-08-31 18:14] nsivabalan commented on #6452
Created https://issues.apache.org/jira/browse/HUDI-4755 for it. please do follow up. thanks.
CC @xushiyan for the ask and any thoughts you have around this on spark-sql layer.

[2022-08-31 18:14] #6452 closed

[2022-08-31 18:16] nsivabalan commented on #6308
yes. we have a config which you can flip to ensure spark streaming fails if hudi write fails.
[hoodie.datasource.write.streaming.ignore.failed.batch](https://hudi.apache.org/docs/configurations/#hoodiedatasourcewritestreamingignorefailedbatch)

default value for this config is set to true until 2 weeks back. we have flipped the default to false. if you can set this config value to false, atleast y

[2022-08-31 19:42] ankitchandnani commented on #6404
I will try it out soon in the next week and provide an update

[2022-08-31 20:30] ehurheap commented on #6194
Thanks @nsivabalan. (I must have flubbed the partition path in my copy/pasting - sorry about that.) I'll close this ticket and follow the jira.

[2022-08-31 23:29] nsivabalan commented on #6531
dedup w/ insert could happen by chance if the new batch is routed to the same file group due to small file handling.
so thats just a side effect of small file handling.

[2022-09-01 01:08] nsivabalan commented on #6194
my bad.
Its https://issues.apache.org/jira/browse/HUDI-4752

[2022-09-01 02:25] QuChunhe opened #6560 "[SUPPORT]Hudi java client throws Error upserting bucketType UPDATE for partition :0"
1. Hudi version: 0.12.0, aliyun oss file system,flink 1.13.6
2. Java client config
[code]
3. error message
[code]

[2022-09-01 02:38] #6194 closed

[2022-09-01 02:42] eric9204 commented on #6308
@nsivabalan thanks! I've retested with `hoodie.datasource.write.streaming.ignore.failed.batch=false` ,the spark micro-batch indeed fail when hudi commit fail.

So, should I close this issue?

[2022-09-01 02:55] nsivabalan commented on #6281
@xushiyan : can you follow up on this.

[2022-09-01 02:59] xushiyan commented on #6444
just to confirm this is using master version? or release 0.12 ? can you fill up the info as per the issue template pls

[2022-09-01 03:03] #6410 closed

[2022-09-01 03:12] CaesarWangX commented on #6543
Hi @Zouxxyy ,
Yes, I know the change.
I also used CustomizableMetricsReporter

[2022-09-01 03:24] xushiyan commented on #6281
@crutis there are some recent fixes wrt glue sync landed in master. if you get a chance, you may quickly try master see if issue resolved.

[2022-09-01 03:45] YuweiXiao commented on #5777
@jjtjiang Hey, could u post the content of `hoodie.property` under `.hoodie` folder? And which version of hudi are you using?

Could u try testing it with the latest master code? I tested in my local env and log merging logic is working properly.

[2022-09-01 04:11] codope commented on #6553
It should be seamless. Hudi's upgrade handler will execute the upgrade steps automatically upon first commit with the newer version. However, the first commit could take slightly more time because in version 0.11.0 [metadata table](https://hudi.apache.org/docs/metadata) was enabled and hence metadata table will be created by default. Also, the mechanism of creating metadata table changed in 0.10.0

[2022-09-01 04:37] nsivabalan commented on #6212
yes, I could able to reproduce :(
https://issues.apache.org/jira/browse/HUDI-4760
will put up a fix shortly.

[2022-09-01 04:44] nsivabalan commented on #6212
Here is the fix https://github.com/apache/hudi/pull/6561
Can you verify w/ the patch, you don't see such duplicates.

[2022-09-01 05:18] codope commented on #6552
Configuration looks fine to me, except you don't really need to set `HoodieWriteConfig.COMBINE_BEFORE_INSERT.key() -> "true"`.
Looking at the implementation of `getInsertValue`, an empty optional can result due to two scnearios:
1. If the incoming record has a `_hoodie_is_deleted` field and it's value is set to true.
2. If the incoming record is null/empty and hence the record byte length is 0.
My

[2022-09-01 05:35] codope commented on #6543
@CaesarWangX Can you confirm that the jar with the custom reporter class is in the classpath. It should have worked. We even have a [test that exercises that code path](https://github.com/apache/hudi/blob/release-0.11.0/hudi-client/hudi-client-common/src/test/java/org/apache/hudi/metrics/TestMetricsReporterFactory.java#L58).

[2022-09-01 05:37] codope commented on #6551
@xxWSHxx IMO, a write client per table makes sense as tables could have different configs for different purposes. Could add a little bit more detail about your use case, why would you want a single write client per database? If that's the case how would you specify different configs for the tables in the database?

[2022-09-01 05:48] CaesarWangX commented on #6543
Hi @codope .
I am sure that the custom reporter exists in my jar package, because I use the same jar in hudi0.10 and hudi0.9, and it worked

[2022-09-01 06:35] nsivabalan commented on #6308
yes, thanks!

[2022-09-01 06:35] #6308 closed

[2022-09-01 06:37] nsivabalan commented on #6236
@svaddoriya : Hope you saw @zhedoubushishi 's response above. let us know if you have any further questions. If not, we can close out the issue.

[2022-09-01 06:45] easonwood opened #6563 "[SUPPORT] ClassNotFound when using Customized Payload Class in 0.11"
public class OrderlyMergeRecordPayload extends OverwriteWithLatestAvroPayload {
    public OrderlyMergeRecordPayload(GenericRecord record, Comparable orderingVal) {
        super(record, orderingVal);
    }
    public OrderlyMergeRecordPayload(Option<GenericRecord> record) {
        this(record.isPresent() ? record.get() : null, 0); // natural order
    }
    public Option<IndexedRecord> combineAn

[2022-09-01 06:47] bhasudha commented on #6414
Ack. Will send a Doc update PR soon.

[2022-09-01 08:18] parisni opened #6564 "[SUPPORT] Hive sync turn camelCase fields into lower case"
I am using AWSGlueCatalogSyncClient hive sync. While the hudi table has upper case fields, the resulting glue schema is lower case

[2022-09-01 08:32] QuChunhe opened #6565 "[SUPPORT] Hudi java client throws Error waiting for async clean service to finish"
1. Hudi version: 0.12.0, aliyun oss file system,flink 1.13.6
2. Hudi java client enable async clean, config as following.

[code]

3. When Java client writes data, errors are thrown continuously.

[code]

5. Disable AsyncClea, the errors disappear.

[2022-09-01 08:56] CaesarWangX commented on #6543
Is there a problem in **ReflectionUtils**? I can see that UrlClassLoader maybe cause this problem

[2022-09-01 09:13] joao-miranda commented on #6552
Thank you for your quick reply.  It doesn't seem to be either of those options for this scenario. I created a unit test and added the full code so you can understand our use case better:

[code]

This runs succesfully with Hudi 0.10.0:

[code]

and fails with Hudi 0.12.0:
[code]

Please let me know if you need any other information.

[2022-09-01 11:24] parisni commented on #6531
Clear explanation. That's a surprising default behavior since insert won't dedup at combine step, I would expect no such collateral effect when choosing insert over upsert

On August 31, 2022 11:30:04 PM UTC, Sivabalan Narayanan ***@***.***> wrote:

[2022-09-01 12:57] parisni commented on #6373
See https://github.com/apache/hudi/pull/6498

Here comes the problem: so far with OCC the cleaner is the only to rollback dead inflight commits. Then if I run cleaner less frequently those dead commit block the MDT compaction, which lead to increase the files to merge during MOR, and decrease MDT performances including cleaning. In my case I get often such dead commit since our platform often sigk

[2022-09-01 15:46] rjmblc commented on #6341
@nsivabalan I added both these config ` "spark.sql.extensions=org.apache.spark.sql.hudi.HoodieSparkSessionExtension"  "spark.sql.catalog.spark_catalog=org.apache.spark.sql.hudi.catalog.HoodieCatalog" ` and removed the payload class
 I’m stuck with the following error message tried changing the hudi bundle version to 11. Any tips for further troubleshooting?
Error Message:
`py4j.protocol.Py4JJavaEr

[2022-09-01 16:02] codope commented on #6551
We need to decouple configs from the client and use fluent builder APIs to build the client.
@xxWSHxx I would suggest creating a JIRA and put some ideas, and let's discuss there.

[2022-09-01 17:33] QuChunhe commented on #6560
After I remove withSchemaEvolutionEnable(enableSchemaEvolution), the errors disappear.

[2022-09-01 17:47] nsivabalan commented on #5540
@ROOBALJINDAL : can we have some updates.

[2022-09-01 17:52] ROOBALJINDAL commented on #5540
@nsivabalan yeah, issue worked for me. I logged separate issue and I was able to get help and resolve. Thank you team 👍

[2022-09-01 17:53] nsivabalan commented on #6560
I don't think schema evolution is supported w/ java write client.
CC @xiarixiaoyao : can you please clarify,

[2022-09-01 18:33] nsivabalan commented on #6553
let us know if you have any more questions. or we can close it out.

[2022-09-01 21:58] umehrot2 commented on #6552
This appears to be genuine issue introduced with https://github.com/apache/hudi/commit/ba4e732ba75e12a02d07c09f2662678bdcafbdc2.

[2022-09-01 22:48] namuny commented on #6212
Thank you! Will verify the fix today/tomorrow and report back.

[2022-09-01 23:00] Gatsby-Lee commented on #1751
OMG.
I am here again.
I am building ETL in AWS EMR on EKS + Hudi.

* emr-6.7
* hudi 0.10.1

Error I have
[code]

I looked at logs in Spark Driver.
And, I noticed that Hudi is connecting to Hive. hmm.
Anyone knows how to force Hudi to use AWS Glue Data Catalog?
[code]

[2022-09-01 23:10] Gatsby-Lee commented on #5389
@JosefinaArayaTapia
can you share which deployment you're using?
* EMR on EC2?
* EMR on EKS?
* EMR Serverless?

[2022-09-01 23:32] Gatsby-Lee commented on #1751
I am tagging related github issue ( AWS limited )

* https://github.com/apache/hudi/issues/5389

[2022-09-01 23:32] haoxie-aws commented on #5939
@xushiyan This issue seems still awaiting triage, is there any progress on it?

[2022-09-01 23:57] namuny commented on #6212
Did a quick test with your fix. I don't see any duplicates anymore during clustering! 👯

[2022-09-02 02:35] hbgstc123 commented on #6540
https://github.com/apache/hudi/pull/6571
I submit a pr to fix this error, can you take a look. @danny0405 @yihua

[2022-09-02 03:13] the-other-tim-brown commented on #5249
@toninis can you try changing [lines 63-65 in this file](https://github.com/apache/hudi/blob/f5de4e434b33720d4846c6fe2450539a284ea14f/hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/Metrics.java#L63-L65) to just `reporter.stop()` and see if that fixes the issue? The `stop` method for the `JmxMetricsReporter` calls a `stop` [method](https://github.com/apache/hudi/blob/master/hu

[2022-09-02 03:53] Archie-selfless opened #6572 "[SUPPORT] DeltaStreamer sync hive-table called NPE when adding patition(s)"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? ✔️

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org. ✔️

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly. ✔️

**Describe the problem you faced**

Using Hudi-Tool

[2022-09-02 04:58] eric9204 opened #6573 "[SUPPORT] There are many request and inflight clustering in the .hoodie directory."
`**_Tips` before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

There are many clusteri

[2022-09-02 05:36] CaesarWangX commented on #6543
We found that the customized payload could not be loaded too. ClassNotFound

[2022-09-02 06:07] Gatsby-Lee commented on #5389
For anyone who get here,

if you have this issue, then you can find what you need from this link.
https://aws.github.io/aws-emr-containers-best-practices/metastore-integrations/docs/aws-glue/#sync-hudi-table-with-aws-glue-catalog

I tested in EMR on EKS ( emr 6.7 ) + Hudi 0.10.1

[2022-09-02 06:34] Gatsby-Lee commented on #1751
I see little difference in these two different combination.

* AWS Glue + AWS Glue Catalog + Hudi 0.10.1
* AWS EMR on EKS + AWS Glue Catalog + Hudi 0.10.1

When using AWS Glue, it is enough to set "Use Glue data catalog as the Hive metastore".
However, when using AWS EMR on EKS, it requires some setting.

* "spark.hadoop.hive.metastore.client.factory.class": "com.amazonaws.glue.catalog.metastore.A

[2022-09-02 09:14] Archie-selfless commented on #6572
When I switch the sycn_mode to jdbc, I got the same Exception. However, I can run the HQL below which caught from spark logs to complete the hive table.
[code]
After the HQL, everything goes smoothly! (i.e. Query the hudi-table by Presto...)

** ↓↓ The core logs syncing as jdbc mode ↓↓ **
[code]

[2022-09-02 12:27] gudladona commented on #6014
We faced a similar issue during this phase
<img width="1916" alt="image" src="https://user-images.githubusercontent.com/7864088/188142313-b142a930-9f4b-4553-8229-cdf28bce1907.png">

<img width="1908" alt="image" src="https://user-images.githubusercontent.com/7864088/188142431-239eca97-ff2f-493f-9c69-5579d481ece4.png">

kafka fetch errors (at INFO level) are as follows:

2022-09-02 06:26:12,606 INF

[2022-09-02 14:40] parisni commented on #6373
After thinking, I guess MDT listing files to delete could be much more efficient if batched by partitions.

Currently this lead to N call to MDT where N=part number.
This is highly innefficient with 100k partitions

On August 30, 2022 11:41:19 PM UTC, Sivabalan Narayanan ***@***.***> wrote:

[2022-09-03 07:26] pratyakshsharma opened #6578 "[SUPPORT]: Potential bug with HiveSyncTool"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

There might be a pote

[2022-09-03 07:28] pratyakshsharma commented on #6578
@nsivabalan @codope

Please confirm if I am missing anything here.

[2022-09-03 08:09] azhsmesos opened #6579 "[SUPPORT] How to participate in HUDI code contribution"
I would like to know what hudi's positioning is. Is there any Quickstart for individual developers to understand the use of hudi? Are there some relatively simple issues to help the initial participants contribute code

[2022-09-03 09:21] Zouxxyy commented on #6543
Maybe I can answer your question.

First, hudi uses `ReflectionUtils.java` 's `Class.forName(clazzName)` to load class. The classloader it used is determined by `ReflectionUtils`, which is determined by `hudi-spark-bundle.jar`.

Then, spark has its own defined class loaders, `MutableURLClassLoader` and `ParentClassLoader`, which recognize classes defined by sparkconf `--jars` or `spark.jars`

Besi

[2022-09-03 09:29] Zouxxyy commented on #6563
may you can see [#6543](https://github.com/apache/hudi/issues/6543)

[2022-09-03 12:04] Zouxxyy commented on #6527
In my opinion, read full partition in KEEP_LATEST_FILE_VERSIONS strategy when clean files **is required anyway,** since the commit instant will be cleaned up, you never know how many slices are in the fileGroup. All we can do is speed up listing partitions or files with metadata as far I am concerned

However, for KEEP_LATEST_COMMITS strategy, you only need to read the partitions that exist in the

[2022-09-03 21:00] nsivabalan commented on #6531
yeah. if not for small file handling, you might as well go w/ bulk_insert. thats why. I am going ahead and closing out the github issue. feel free to open new one if you have any more clarifications or run into issues.

[2022-09-03 21:00] #6531 closed

[2022-09-03 22:42] parisni commented on #6373
@nsivabalan to illustrate the problem / solution, see related PR

[2022-09-04 07:13] nsivabalan commented on #6373
yes, sure.

[2022-09-04 10:31] imtheguna opened #6583 "[SUPPORT] ERROR Executor: Exception in task 0.0 in stage 173.0 (TID 192)"
Hi,

I trying to insert first time but getting below error.

my code

dff =  my data frame

val tableName = "hudi_trips_cow"
val basePath = "file:///tmp/hudi_trips_cow"

dff.write
       .format("org.apache.hudi")
       .options(getQuickstartWriteConfigs)
       .option(DataSourceWriteOptions.RECORDKEY_FIELD_OPT_KEY, "ts")
       .option(DataSourceWriteOptions.PARTITIONPATH_FIELD_OPT_KEY, "partit

[2022-09-04 10:37] Zouxxyy commented on #6578
I think you are right, and I found a new problem, I found that the active timeline is used [here](https://github.com/apache/hudi/blob/c0e15879668537d6de96db2994fc68209ad0baa5/hudi-sync/hudi-sync-common/src/main/java/org/apache/hudi/sync/common/HoodieSyncClient.java#L121) to find the changed partitions, if archive happens before sync, will there be some omissions?

[2022-09-04 10:46] QuChunhe commented on #6560
The above errors appear again. So schema evolution is not the cause of the errors.

[2022-09-04 12:12] QuChunhe opened #6584 "[SUPPORT]Hudi Java client don't support Multi Writing"
Hudi Java client don't support Multi Writing, and throw  errors: "Cannot resolve conflicts for overlapping writes"

1. Hudi version: 0.12.0, aliyun oss file system, flink 1.13.6, and hudi sink parallelism 2

2. Hudi Java client  configuration  is as follows.

[code]

3. I have configured the HoodieFailedWritesCleaningPolicy.LAZY and  HoodieLockConfig. The zookeeper log is as follows

[code]

5. Th

[2022-09-04 13:01] QuChunhe opened #6585 "[SUPPORT]Hudi Java client writes data very very slowly"
Every row data is about 0.72K. Every insert commit with 300 rows takes about 2 minutes. But increasing the rows of a commit, the time of every commit did not increase much. Event if each  insert commit has 4500 rows, the time of every commit take just over 2 minutes.

1. Hudi version: 0.12.0, aliyun oss file system, flink 1.13.6.2.

2.  Spark beeline is used to create the table. The table properti

[2022-09-04 13:18] QuChunhe commented on #6585
Furthermore, the performance does not improve when increasing the parallelism, for example setting parallelism to 400 or 1000.
[code]

[2022-09-04 13:54] easonwood commented on #6543
@Zouxxyy
I try your method in https://github.com/apache/hudi/issues/6563.
The classloader result looks correct

[arthas@14524]$ classloader -t
+-BootstrapClassLoader
+-sun.misc.Launcher$ExtClassLoader@7f77e91b
  +-com.taobao.arthas.agent.ArthasClassloader@67e8d194
  +-sun.misc.Launcher$AppClassLoader@3fb4f649
    +-org.apache.spark.util.MutableURLClassLoader@6f44a157

[arthas@14524]$ classloader -

[2022-09-04 14:03] Zouxxyy commented on #6543
where do you add your customer jar? You can try putting it where your hudi-spark-bundle.jar is

[2022-09-04 14:03] Zouxxyy commented on #6543
where do you add your customer jar? You can try putting it where your hudi-spark-bundle.jar is

[2022-09-04 15:16] easonwood commented on #6543
@Zouxxyy
ReflectionUtils can be found in AppClassLoader.

spark-submit \
  --master yarn \
  --deploy-mode cluster \
  --jars /usr/lib/spark/jars/hudi-spark-bundle.jar,/usr/lib/hive/lib/*.jar,/usr/lib/hudi/cli/lib/*.jar,/usr/lib/hudi/*.jar\
  --conf "spark.driver.extraClassPath=custom.jar" \
  custom.jar

my pom like this:
hudi-spark3-bundle_2.12: 0.11.0 [provided]
hudi-spark_2.12: 0.11.0 [provide

[2022-09-04 17:20] nsivabalan commented on #6055
@rishabhbandi : gentle ping.

[2022-09-04 17:21] nsivabalan commented on #6503
@maduraitech : can you respond to Ethan's request above. would help us investigate further.

[2022-09-04 17:22] nsivabalan commented on #5540
oh ok ok, got it. thanks. may I know which issue you are referring to.

[2022-09-04 17:23] nsivabalan commented on #5540
@nleena123 : are you still facing issues or are we good to close it out ?

[2022-09-04 17:52] nsivabalan commented on #6584
yes, we don't have multi-writer support yet w/ java client.
https://issues.apache.org/jira/browse/HUDI-4774

Let us know if you will have bandwidth to take a stab at it.

[2022-09-04 21:10] nsivabalan commented on #5253
@njalan : can you let us know if we are good to close this one out.

[2022-09-05 01:36] xiarixiaoyao commented on #6424
close this issue， since
We have solved this problem https://issues.apache.org/jira/browse/HUDI-4703

[2022-09-05 01:36] #6424 closed

[2022-09-05 03:26] dik111 opened #6588 "[SUPPORT]Caused by: java.lang.ClassNotFoundException: org.apache.hudi.org.apache.avro.util.Utf8"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I use spark to query hudi

[2022-09-05 03:55] danny0405 commented on #6588
Seems that spark bundle jar does not contain the shaded avro clazz.

[2022-09-05 04:01] dik111 commented on #6588
What should I do about it ？

[2022-09-05 04:17] danny0405 commented on #6588
what jar did you use for spark, you can open the spark jar with command:
[code]

and search about the missing clazz to see if the jar includes it.

[2022-09-05 05:39] CaesarWangX commented on #6543
Hi @Zouxxyy
Thanks for your suggestion.
I tried your method, but I still got the same error

spark-submit \
--master yarn \
--deploy-mode cluster \
--name xxxxxxxx \
--queue clustering \
--class com.test.MainClass \
--files test.conf \
--conf spark.driver.extraClassPath=my-jar-1.0.0-SNAPSHOT-jar-with-dependencies.jar \
--jars /usr/lib/hudi/hudi-spark-bundle.jar,/usr/lib/spark/external/lib/spark-av

[2022-09-05 05:42] ROOBALJINDAL commented on #5540
@nsivabalan this was my issue which I have already closed.

https://github.com/apache/hudi/issues/6348

[2022-09-05 05:56] Xiaohan-Shen opened #6590 "[SUPPORT] HoodieDeltaStreamer AWSDmsAvroPayload fails to handle deletes in MySQL"
**Describe the problem you faced**
inspired by this [blog](https://cwiki.apache.org/confluence/display/HUDI/2020/01/20/Change+Capture+Using+AWS+Database+Migration+Service+and+Hudi), I am trying to set up Hudi Deltastreamer to continuously pick up changes in MySQL for a performance benchmark. My setup hosts MySQL on **AWS RDS**, captures changes in MySQL with **AWS DMS** as Parquet in S3, and runs

[2022-09-05 06:03] FredMkl opened #6591 "[SUPPORT]Duplicate records in MOR"
**Describe the problem you faced**
We use MOR table, we found that when updating an existing set of rows to another partition will result in both a)generate a parquet file b)an update written to a log file. This brings duplicate records

**To Reproduce**
[code]
**Checking scripts:**
[code]

**results:**
![截屏2022-09-05 13 36 10](https://user-images.githubusercontent.com/110440662/188367978-138fdce1

[2022-09-05 06:20] dik111 commented on #6588
I solved this problem by adding the following configuration in Packaging/Hudi-spark-bundle/pom.xml
[code]

[2022-09-05 06:25] #6588 closed

[2022-09-05 06:25] nleena123 commented on #5540
still i could see the same issue do i need to follow the below step to fix the issue  ?

--conf spark.driver.extraJavaOptions="-Dlog4j.configuration=file:/home/hadoop/log4j.properties" --conf spark.executor.extraJavaOptions="-Dlog4j.configuration=file:/home/hadoop/log4j.properties"

but i am getting this issue while running data bricks job  ?

[2022-09-05 07:39] novisfff commented on #6444
done.

[2022-09-05 08:43] zhengyuan-cn opened #6596 "[SUPPORT] with Impala 4.0 Records lost"
ENV: impala4.0+hive3.1.1 with hudi 0.12

via impala shell execute sql:  select count(*) from  tableName; return rows count is (195264946) less than actuall rows 217884008. but by spark SQL return  217884008 rows, is correct result .
I  refresh tableName mutl times then still  uncorrect result.
I replaced impala hudi dependency jar (hudi-common-0.5.0-incubating.jar, hudi-hadoop-mr-0.5.0-incubating.

[2022-09-05 11:13] rjmblc commented on #6341
@nsivabalan I resolved the HoodieCatalog config issue but still facing the same issue where hard delete is not happening. I am attaching the deltacommit file below for your reference.
`{
  "partitionToWriteStats" : { },
  "compacted" : false,
  "extraMetadata" : {
    "schema" : "{\"type\":\"record\",\"name\":\"record\",\"fields\":[{\"name\":\"customer_event_id\",\"type\":[\"null\",\"string\"],\"d

[2022-09-05 14:35] joao-miranda opened #6601 "[SUPPORT] "default" folder not outputted by Hudi for non-partitioned tables when used with Spark"
**Describe the problem you faced**
We are using Hudi in a Scala Glue Job. We need then crawl the data generated and get a table in the Glue Data Catalog. We need this for both partitioned and non-partitioned data.

For partitioned data the output is as follows:
[code]

After crawling we get a table in the data catalog with the correct name (table_name). That's the desired behavior.

For non-partit

[2022-09-06 01:56] zhengyuan-cn commented on #6585
java client必须慢，用flink就快了

[2022-09-06 02:11] Zhangshunyu opened #6605 "[SUPPORT]Open col_stat hfile cost more than 5 senconds"
Opened metadata base file from s3a://mydir2022/hudi/hudi_test060102/.hoodie/metadata/column_stats/col-stats-0416_332-9-1062_20220905152941096001.hfile at instant 20220905152941096001 in **5048 ms**

the hfile size is 5MB, but it cost 5s to open the file, is there any problem? it cost to much time.

hbase version:2.4.9
hudi version:0.11

[2022-09-06 04:21] nsivabalan commented on #6463
@gtwuser : gentle ping.

[2022-09-06 04:22] nsivabalan commented on #6404
@ankitchandnani : sure. thanks.

[2022-09-06 04:23] koochiswathiTR opened #6606 "Observing data duplication with Single Writer"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org. Yes

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
We are using Hudi

[2022-09-06 04:24] nsivabalan commented on #6212
thanks!

[2022-09-06 04:24] #6212 closed

[2022-09-06 04:25] nsivabalan commented on #6474
closing the issue for now. I don't see any obvious issues. If you could able to reproduce, do share w/ us. and if you can upgrade to use latest master, would be awesome ! the fix that I have put up, could potentially help avoid a diff owner unlocking.

[2022-09-06 04:25] #6474 closed

[2022-09-06 04:28] nsivabalan commented on #5540
above command is just to enable debug logs. that's not the fix as such. we might need proper driver logs, and contents of ".hoodie" to investigate the issue.

[2022-09-06 04:29] nsivabalan commented on #6101
@navbalaraman : any updates please

[2022-09-06 04:31] nsivabalan commented on #6236
Closing out the github issue since this is a known issue and has been fixed. thanks!

[2022-09-06 04:31] #6236 closed

[2022-09-06 05:39] gtwuser commented on #6463
@nsivabalan  sorry for this delay in response, actually sorry i m not sure what is meant by multi-writers, but we `removed` concurrent writes to table, which was done using `ThreadPoolExecutor` concept in python https://docs.python.org/3/library/concurrent.futures.html. And yes that was without any lock configuration.

I was checking there are two suggested ways to achieve this via zookeeper or vi

[2022-09-06 08:47] easonwood commented on #6543
I found that in previous version, ReflectionUtils is loaded in MutableURLClassLoader, together with user-defined class.
But 0.11 it's loaded in AppClassLoader.
Why it changed?

[2022-09-06 09:18] Gump518 opened #6609 "hudi upsert occured data duplication by spark streaming (cow table)"
**Describe the problem you faced**

hudi upsert occured data duplication by spark streaming (cow table)
![image](https://user-images.githubusercontent.com/71010711/188595984-b626bf70-b6c8-4339-bbe2-f6e6edfd2642.png)

**To Reproduce**

Steps to reproduce the behavior:
[code]

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment Description**

* Hudi

[2022-09-06 10:21] #6543 closed

[2022-09-06 10:21] CaesarWangX commented on #6543
Close this issue according to https://github.com/apache/hudi/pull/2753

[2022-09-06 10:30] gunjdesai opened #6610 "[QUESTION] Faster approach for backfilling older data without stopping realtime pipelines"
**Environment Description**

* Hudi version : `0.11.0`

* Spark version : `3.2.0`

* Hive Metastore version : `3.1.0`

* Storage (HDFS/S3/GCS..) : `Minio`

* Running on Docker? (yes/no) : `yes`

Hi Folks,
We are using Hudi via Spark to push data in Trino. We started the pipeline recently and data accuracy is as expected.
For older data since we want to perform backfills, we are pushing older data

[2022-09-06 10:37] gunjdesai commented on #6610
Sharing images of task status for reference
<img width="1791" alt="Screenshot 2022-09-06 at 4 05 04 PM" src="https://user-images.githubusercontent.com/7438622/188614309-da5900dc-b2a2-4332-aeb8-a44204633c0d.png">
<img width="1792" alt="Screenshot 2022-09-06 at 4 05 34 PM" src="https://user-images.githubusercontent.com/7438622/188614338-767d1f5e-47a6-4da3-9006-fd70d6738cf8.png">

[2022-09-06 11:12] Shubham21k opened #6611 "SchemaEvolution : Default value not getting fetched properly for not null columns from confluent kafka schema registry"
**Describe the problem you faced**

We have an ingestion pipeline which ingests data from postgres to hive glue table. Currently, debezium is sending messages to confluent kafka by capturing postgres changelog events. We are reading these kafka messages with hudi deltastreamer job for creating glue table.

On adding a new not null column with a certain default value, This default value is coming p

[2022-09-06 12:01] gunjdesai commented on #6610
On further inspection, I was able to find out that the query is constantly picking up more rows and failing when the size of rows cross the memory available causing an OOM.

<img width="679" alt="Screenshot 2022-09-06 at 5 24 57 PM" src="https://user-images.githubusercontent.com/7438622/188628948-7ff0132b-4c8d-4e42-92a1-5e3d8ad69747.png">

At the 10 min interval, the number of output rows are at 1

[2022-09-06 12:24] LinMingQiang commented on #6540
Do you use streaming mode? When I use streaming mode and use bounded source, this error will be reproduced stably.

[2022-09-06 16:06] santoshsb commented on #5452
@nsivabalan @xiarixiaoyao I tested this fix locally, checked out the latest master branch and built the code using the command `mvn clean package -DskipTests -Dspark3.2 -Dscala-2.12` used the generated jar and launched the spark-shell using the command
**./spark-3.2.1-bin-hadoop3.2/bin/spark-shell \
  --jars `ls packaging/hudi-spark-bundle/target/hudi-spark3.2-bundle_2.12-0.13.0-SNAPSHOT.jar` \

[2022-09-06 23:00] nsivabalan commented on #6504
@santoshraj123 : did you get a chance to check my previous response. let us know if you are still looking for assistance. may be we need full driver logs.

[2022-09-07 00:38] nsivabalan commented on #6341
I reused our quick start guide and could able to get it working.
[code]

[2022-09-07 00:39] nsivabalan commented on #6341
btw, was going through your wirte config.
can you post the contents of .hoodie/hoodie.properties. Wanna validate if all properties are set correctly like key gen, etc.

[2022-09-07 00:42] nsivabalan commented on #6341
btw, as pointed out earlier, since I am setting the operation type to "delete",I am not setting any value for payload class. its not required (EmptyPayload).

[2022-09-07 01:47] hbgstc123 commented on #6540
Both streaming mode and batch mode can reproduce stably

[2022-09-07 02:13] danny0405 commented on #6540
Thanks, the problem expects to be fixed in #6571, feel free to reopen it if the problem still exists.

[2022-09-07 02:13] #6540 closed

[2022-09-07 02:38] Aload opened #6618 "Caused by: org.apache.http.NoHttpResponseException: xxxxxx:34812 failed to respond[SUPPORT]"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

When the program has been

[2022-09-07 03:58] nsivabalan commented on #6590
@codope : this is similar to the other issue you were triaging last week.

[2022-09-07 04:02] nsivabalan commented on #6606
unless you configure lock providers, hudi can't guarantee this. I would suggest to add locking for both writers.

[2022-09-07 04:05] nsivabalan commented on #6606
oh, I thought, both jobs are running concurrently? is it not. can you throw some light on exact steps.
is it.
step1: start job1 in EMR cluster1. which consumes from source X and writes to hudi table Y
step2: stop job1. its essentially a batch job.
step3: start job2 in EMR cluster2 which again consumes from source X and writes to hudi table Y.
now if you query hudi, you see duplicate data?

is my u

[2022-09-07 04:09] nsivabalan commented on #6609
we identified an issue w/ spark streaming where duplicate data could sneak into hudi w/ failures.
https://github.com/apache/hudi/pull/6098
can you give it a try w/ latest master or you can apply this patch and try it out.

[2022-09-07 07:43] easonwood commented on #6563
Fixed by remove hudi-spark-bundle jar from spark classpath

[2022-09-07 07:43] #6563 closed

[2022-09-07 08:06] codope commented on #4985
Going to close this issue. We are tracking the support in HUDI-2786. ETA: Hudi version 0.13.0 (expected to release in early November).

[2022-09-07 08:06] #4985 closed

[2022-09-07 08:09] codope commented on #5280
This is again a duplicate of #4985
The work here is blocked on arm64 support for dependent OSS projects. We are tracking the issue closely in HUDI-3601 and expect to make it work in Hudi 0.13.0.

[2022-09-07 08:09] #5280 closed

[2022-09-07 08:12] codope commented on #5452
Please try without this config `spark.hadoop.parquet.avro.write-old-list-structure`.
cc @xiarixiaoyao

[2022-09-07 08:13] codope commented on #4230
@BenjMaq gentle reminder^

[2022-09-07 08:20] codope commented on #3751
Can you share the following details:
1. If the dataset is partitioned, how many partitions?
2. Spark stage UI screenshots. This would be helpful to understand which stage is taking up most time.

[2022-09-07 09:20] codope commented on #4784
@yesemsanthoshkumar Did you get a chance to test with the given patch above?

[2022-09-07 09:23] dik111 opened #6621 "[SUPPORT]com.esotericsoftware.kryo.KryoException: Encountered unregistered class ID: 36"
**Describe the problem you faced**

I used Flink to update data in realtime, and used spark to read data, it throws an error `com.esotericsoftware.kryo.KryoException: Encountered unregistered class ID: 36`

I used Flink to read the data and no relevant exception occurred

**To Reproduce**

Steps to reproduce the behavior:

1.Use Flink to update data in realtime
2.Use Spark to read data

**Environm

[2022-09-07 09:48] codope commented on #4887
@garyli1019 Do we have a timeline when we can upgrade Hudi in Impala? We should close this issue and share the patch with user, if possible.

[2022-09-07 09:49] codope commented on #5511
Closing as the feature is implemented.

[2022-09-07 09:49] #5511 closed

[2022-09-07 09:55] codope commented on #5843
@kasured Did you hear back from AWS wrt the patched version? Would it be easier to upgrade to latest EMR 6.x version which has Hudi 0.11.1 with this fix?

[2022-09-07 09:57] codope commented on #2509
@zuyanton Did you get a chance to try out the suggested patch?

[2022-09-07 10:05] codope commented on #5701
We need to upgrade parquet-avro once the above issues are fixed.
Closing this as it is not related to Hudi. Created HUDI-4798 to track parquet upgrade.

[2022-09-07 10:05] #5701 closed

[2022-09-07 10:08] codope commented on #6024
@Gatsby-Lee Gentle reminder. Can we close this issue?

[2022-09-07 10:18] codope commented on #5281
Closing. I've a patch to add a note in the docs. #6622

[2022-09-07 10:18] #5281 closed

[2022-09-07 11:38] praveenkmr opened #6623 "[SUPPORT] java.lang.ClassNotFoundException: Class org.apache.hadoop.hbase.client.ClusterStatusListener$MulticastListener with HBase Index"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

During the upgradation of

[2022-09-07 13:31] santoshsb commented on #5452
@codope here is the output without the above mentioned config, have also added the code which am using for testing the fix.
--------------ERROR--------------------
`22/09/07 18:53:08 ERROR BoundedInMemoryExecutor: error producing records) / 200]
org.apache.hudi.exception.HoodieException: unable to read next record from parquet file
	at org.apache.hudi.common.util.ParquetReaderIterator.hasNext(Parq

[2022-09-07 16:34] arunb2w opened #6626 "[SUPPORT] HUDI merge into via spark sql not working"
Getting error pyspark.sql.utils.AnalysisException: Invalidate Merge-On condition: when running the below code

Hudi Version: 0.10
Spark version: 3.1.2

**Sample code**
[code]
When running the above sample code using below command getting the error

[code]

**Error stackstrace**
[code]

**Questions**
Am i missing something in --conf to make merge into work?
Why even though i gave simple join condit

[2022-09-07 17:47] yihua commented on #6623
@praveenkmr have you tried spark-submit or spark-shell with the suggested workaround in https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-hudi-considerations.html?
[code]

[2022-09-07 17:48] yihua commented on #6623
cc @umehrot2 @rahil-c @CTTY

[2022-09-07 19:31] nsivabalan commented on #5984
@rubenssoto : hey man. we might need more info about write configs used. whether are you using bulk_insert to write to hudi. or is it happening w/ clustering. would appreciate if you can furnish more details.

[2022-09-07 19:47] nsivabalan commented on #6601
hey I am bit confused. you claim that you are interested in non partitioned tables. but I see you are using CustomKeyGenerator. I would expect you to use NonPartitionedKeyGenerator in that case.
https://hudi.apache.org/blog/2021/02/13/hudi-key-generators/#nonpartitionedkeygenerator

I tried our quick start example for both 0.9.0 and 0.11. both are showing similar behavior. I don't see any default

[2022-09-07 19:50] nsivabalan commented on #6601
Using custom key gen, but setting empty value for partition path is a wrong usage may be. Can you try fixing it and give it a try.
Reason why hudi could write to default folder is:
lets say you configure partition path file as col5. for those records where col5 value is null, hudi writes to "default" folder. btw, we are changing that with 0.12. our default fallback folder is `__HIVE_DEFAULT_PARTIT

[2022-09-07 22:29] rahil-c commented on #6552
Currently investigating this issue

[2022-09-08 01:30] nsivabalan commented on #6552
yeah. Udit pointed out the right commit.
here is the fix that worked out for me locally.

[code]

[2022-09-08 01:50] Gump518 commented on #6609
Thanks, today we'll test according to the new patch. If there's any news, we'll sync it with you again

[2022-09-08 02:46] Gump518 commented on #6609
still repeated according to the new patch

[2022-09-08 02:50] Gump518 commented on #6609
Remove these config, then data duplication disappeared.  why?
[code]

[2022-09-08 02:52] arunb2w commented on #6626
@nsivabalan Can you please provide some help on this issue

[2022-09-08 03:33] yihua commented on #6552
@rahil-c and I discussed this today.  The proper fix is to call the corresponding API instead of repeating the invocation of `handleDeleteOperation`:
[code]
@rahil-c will put up a fix.

[2022-09-08 03:34] yihua commented on #6590
This is the same issue as #6552.  cc @rahil-c

[2022-09-08 03:36] Gatsby-Lee commented on #6024
Hi, let's close issue if I am the only one facing the issue.

Let me write more details before I forget.

A couple of months ago, I tried DELETE_PARTITION operation with 0.10.1 and 0.11.0
I noticed that 0.11.0 and 0.10.1 have different behavior when HUDI runs DELETE_PARTITION operation on not existing partition.

* 0.10.1 raised exception and failed. ( the serious issue was Hudi became unstable
*

[2022-09-08 03:36] #6024 closed

[2022-09-08 04:16] Gump518 commented on #6609
clustering causes data duplication or presto engine adapter issue

[2022-09-08 04:44] praveenkmr commented on #6623
@yihua  Thanks a lot, Ethan.. I tried the suggestion and it worked fine... Still, wondering during further upgradation do we need to follow the same approach of loading all the jars during spark-submit or in the latest version there is a scope to use hudi-spark-bundle.jar directly?

[2022-09-08 06:41] santoshsb commented on #5452
@xiarixiaoyao thanks for the input, it works with these options `      .option("hoodie.schema.on.read.enable", "true")
      .option("hoodie.datasource.write.reconcile.schema", "true")` as expected.

[2022-09-08 07:18] #5452 closed

[2022-09-08 07:19] codope commented on #6024
@Gatsby-Lee Thanks and I have noted your point. Would you mind upstreaming your fix (logic that checks if the target partition exists). I believe this would be helpful for other users as well. If so, please assign HUDI-4591 to yourself.

[2022-09-08 09:09] eric9204 commented on #6573
https://issues.apache.org/jira/projects/HUDI/issues/HUDI-4814?filter=allissues

[2022-09-08 09:54] wangzheyuan opened #6635 "[SUPPORT] Failed to build hudi 0.12.0 with spark 3.2.2"
**Describe the problem you faced**

Failed to build hudi 0.12.0 with spark 3.2.2

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Environment Description**

* Hudi version : 0.12.0

* Spark version : 3.2.2

**Stacktrace**
[code]

ProjectionOverSchema.scala:
[code]
Spark32NestedSchemaPruning.scala:
[code]
Spark33NestedSchemaPruning.scala:
[code]
In spark 3.2.1, ProjectionOverSchema ha

[2022-09-08 15:08] joao-miranda commented on #6601
Thank you for replying.

You are correct that we should be using a different Generator. However that ended up not being necessary since our solution was just to add an empty column and partition non-partitioned tables by that new column.

With that, we can use AWS Glue Crawler with both non-partitioned and partitioned tables.

The only suggestion I'd give you to avoid this work around would be to

[2022-09-08 15:08] #6601 closed

[2022-09-08 17:47] rahil-c commented on #6552
Draft pr: https://github.com/apache/hudi/pull/6637

[2022-09-08 18:10] yihua commented on #6623
@praveenkmr Great to hear that.

For the upgrade to OSS Hudi 0.12.0 (the latest release), using hudi-spark-bundle should be sufficient as OSS Hudi 0.12.0 bundle jars work out-of-the-box on the EMR environment.  Prior to this version, you need to follow the workaround above.

[2022-09-08 18:11] #6623 closed

[2022-09-09 02:44] zwj0110 opened #6640 "[SUPPORT] HUDI partition table duplicate data cow hudi 0.10.0 flink 1.13.1"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-09-09 02:56] Zhifeiyu commented on #6640
mark

[2022-09-09 02:57] LinMingQiang commented on #6618
I have encountered this problem,this pr may solve your problem : https://github.com/apache/hudi/pull/6393

[2022-09-09 06:09] danny0405 commented on #6621
https://github.com/JohnSnowLabs/spark-nlp/issues/1123

Did you try configuring the serializer explicitly: `spark.serializer: org.apache.spark.serializer.KryoSerializer`

[2022-09-09 06:23] danny0405 commented on #6621
@alexeykudinkin Do you have interest on this ?

[2022-09-09 11:17] koochiswathiTR opened #6644 "Hudi Multi Writer DynamoDBBasedLocking issue"
Hi,
This is the first time we are setting up hudi with Multi writer,
Below are my hudi config properties, I have set up
HoodieWriteConfig.WRITE_CONCURRENCY_MODE.key()->"optimistic_concurrency_control",
HoodieCompactionConfig.FAILED_WRITES_CLEANER_POLICY.key()->"LAZY",
 HoodieLockConfig.LOCK_ACQUIRE_NUM_RETRIES.key()->"3000",
HoodieLockConfig.LOCK_ACQUIRE_CLIENT_NUM_RETRIES.key()->"1",
HoodieLockCo

[2022-09-09 11:20] koochiswathiTR commented on #6644
@zhedoubushishi
@nsivabalan

Please help me here

[2022-09-09 13:40] praveenkmr commented on #6623
@yihua  Thanks for the confirmation on v0.12.0 ( latest version). Will try to test on the same code in the latest releases also.

[2022-09-09 21:20] navbalaraman commented on #6101
Hi @nsivabalan, i still am having issues with the deletion. If my delete records all in a single partition then it succeeds, if its spread across partitions then i see partial record deletions or sometimes no record deletions. The worst part is my EMR job also doesnt throw an error in these cases. I know there are some minor schema differences in some of the records (some records dont have some va

[2022-09-09 21:38] alexeykudinkin commented on #6354
This will be addressed by https://github.com/apache/hudi/pull/6361

@xushiyan you can assign this one to myself

[2022-09-09 22:23] alexeykudinkin commented on #6514
@functicons we did actually correct the guide recently (thank you to @KnightChess for addressing it)-- you need to add `HoodieSparkSessionExtension`:

<img width="1017" alt="Screen Shot 2022-09-09 at 3 21 28 PM" src="https://user-images.githubusercontent.com/428277/189453540-d3b9080a-ae6b-4ab9-b59b-daf0b0bdc341.png">

The reason why it's breaking is b/c it's handled by Spark code, not Hudi code

@

[2022-09-09 22:27] alexeykudinkin commented on #6503
@xushiyan you can assign this one to me

[2022-09-09 22:41] alexeykudinkin commented on #6398
@rbtrtr so the issue is in the first exception in your stack-trace:

[code]

Your `hbase-default.xml` is for older version of HBase than the Hudi is using (2.4.9). Would it be possible for you to upgrade it?

[2022-09-09 22:44] alexeykudinkin commented on #6249
@soma1712 if you can please fill out the issue following the format, that would greatly help us in investigation (for ex, what version of Hudi are you using?)

Can you please paste full stack-trace of the exception?

[2022-09-09 22:54] alexeykudinkin commented on #6249
@soma1712 are you sure you're running 0.11.1?

It seems like you're running an earlier version: looking at your stacktrace, i see method being used (`createRowWithRequiredSchema`) which was removed in 0.11.1:

[code]

[2022-09-10 01:18] guanlisheng commented on #3399
hey @nsivabalan, possible to extend this purge for a condition (such as older than 100 partitions) instead of the given partition list?  just wanted to keep a rolling N partitions in the table.

[2022-09-10 04:06] rbtrtr commented on #6398
@alexeykudinkin no we‘re not able to upgrade.

[2022-09-10 17:41] nsivabalan commented on #6341
@rjmblc : any updates please.

[2022-09-10 17:41] nsivabalan commented on #6606
@koochiswathiTR : can you check my above response and update please.

[2022-09-10 17:42] nsivabalan commented on #6609
which version of presto are you using? CC @codope : do you know when the bug related to clustering was fixed in presto ? any specific configs to use.

[2022-09-10 17:43] nsivabalan commented on #5823
@ksrihari93 : gentle ping.

[2022-09-11 09:21] Zouxxyy opened #6651 "[SUPPORT] testNoGlobalConfFileConfigured will throw exception when add hudi-defaults.conf in DEFAULT_PATH"
**Describe the problem you faced**

`testNoGlobalConfFileConfigured` will throw exception when set hudi-defaults.conf in DEFAULT_PATH

**To Reproduce**

Steps to reproduce the behavior:

1. add hudi-defaults.conf in DEFAULT_PATH(file:/etc/hudi/conf/hudi-defaults.conf)
2. run test `testNoGlobalConfFileConfigured`

**Environment Description**

* Hudi version : 0.12.0

[2022-09-11 09:45] Zouxxyy commented on #6651
https://github.com/apache/hudi/pull/6652

[2022-09-11 13:59] codope commented on #6609
Yes this bug was fixed in Hudi 0.12.0. However, hudi bundle in presto has not been updated yet. We have a PR https://github.com/prestodb/presto/pull/18209 to upgrade Hudi in presto. It should land soon. We will update the website once it is released.

[2022-09-11 19:19] Xiaohan-Shen opened #6653 "[SUPPORT] Hudi table COW taking up significant space for a small table"
**Describe the problem you faced**

Hey guys, I tried to run DeltaStreamer on EMR to capture changes in MySQL through AWS DMS and store them COW on S3. I tried to run it for a table with 30,000 rows and 9 columns, which takes up ~6M on MySQL, but on S3 the Hudi table's folder takes up >10 GB... Did I configure something wrong?
![image (12)](https://user-images.githubusercontent.com/55402701/189544

[2022-09-12 04:49] #6605 closed

[2022-09-12 05:30] nsivabalan commented on #5875
@ksrihari93 : hey did you get a chance to check out my response above. is there any more assistance you are looking for ?

[2022-09-12 05:31] nsivabalan commented on #5249
@toninis : https://github.com/apache/hudi/pull/6619 can you try out this patch and let us know if you still see the issue.

[2022-09-12 06:37] koochiswathiTR commented on #6606
@nsivabalan

Hi,
This is the first time we are setting up hudi with Multi writer,
Below are my hudi config properties, I have set up
HoodieWriteConfig.WRITE_CONCURRENCY_MODE.key()->"optimistic_concurrency_control",
HoodieCompactionConfig.FAILED_WRITES_CLEANER_POLICY.key()->"LAZY",
HoodieLockConfig.LOCK_ACQUIRE_NUM_RETRIES.key()->"3000",
HoodieLockConfig.LOCK_ACQUIRE_CLIENT_NUM_RETRIES.key()->"1",

[2022-09-12 08:37] Zhangshunyu opened #6655 "[SUPPORT] tryComposeIndexFilterExpr in dataskip util could support InSet expression of spark?"
spark has a threshold spark.sql.optimizer.inSetConversionThreshold by default it is 10,
when filter is IN expression for example in ('1', '2', '3' ... '100'), when the values of in set > 10
IN will transform to InSet, but the filter expression transform doesnt check InSet, it only has In
![image](https://user-images.githubusercontent.com/13940237/189609655-2a23c271-a48d-485d-80ae-f8e8d657c3ea.png)

[2022-09-12 11:13] ksrihari93 commented on #5823
We have recovered the job by skipping a few offsets. this issue can be closed now.

[2022-09-12 13:11] ashishsinghi commented on #5180
I came across this and added a unit test case in _TestOverwriteNonDefaultsWithLatestAvroPayload_ to check whether partial updates works or not by using _OverwriteNonDefaultsWithLatestAvroPayload_.  It does work! JFYR below is sample UT which I used to verify the same.

[code]

[2022-09-12 14:27] Rap70r commented on #5770
Hi @nsivabalan,
I will upgrade and reload the files and give it couple of weeks of testing and confirm again. I will close this ticket and re-open if necessary. I was just curious if there is a different parameter that needs to be configured other than hoodie.parquet.max.file.size in order to maintain maximum file size.

Thank you

[2022-09-12 14:28] #5770 closed

[2022-09-12 15:44] nsivabalan commented on #6590
closing as duplicate and we have a fix for it already.
https://github.com/apache/hudi/pull/6637

[2022-09-12 15:44] #6590 closed

[2022-09-12 15:46] nsivabalan commented on #6552
closing this as we have a fix. thanks for reporting.

[2022-09-12 15:47] #6552 closed

[2022-09-12 15:52] nsivabalan commented on #6137
@yihua @codope : this seems like the EMR hudi version issue right ? can you folks point to the guidelines from EMR team.

[2022-09-12 15:56] nsivabalan commented on #5591
@BalaMahesh : any updates please.

[2022-09-12 15:57] nsivabalan commented on #5777
@jiangjiguang : gentle ping.

[2022-09-12 15:57] nsivabalan commented on #6146
@jiangbiao910 : gentle ping.

[2022-09-12 16:53] codope commented on #6578
@pratyakshsharma @Zouxxyy This is an issue which should be fixed. Thanks for pointing it out. Created HUDI-4832 to track this. We will get this fixed in upcoming release (0.12.1).

[2022-09-12 17:38] alexeykudinkin commented on #6398
@rbtrtr can you try this remediation:
https://stackoverflow.com/questions/16497480/hbase-error-hbase-default-xml-file-seems-to-be-for-and-old-version-of-hbase-nu

[2022-09-12 17:47] rbtrtr commented on #6398
@alexeykudinkin You mean adding the hbase xml and set the skip version parameter? I already tried this in some comments above. Or did you think of a different approach?

[2022-09-12 20:28] #6514 closed

[2022-09-12 20:46] yihua commented on #6517
@peanut-chenzhong I assume the source parquet table uses Hive-style partition path.  It should be related to HUDI-4783.

[2022-09-12 20:46] yihua commented on #6517
I'm going to fix it.

[2022-09-12 21:01] yihua commented on #6398
The metadata table in Hudi uses `HFile` as the base file format.  This issue should be fixed by #6114 (setting `hbase.defaults.for.version.skip` to `true`) which is included in 0.12.0.  @rbtrtr could you double-check?  And there is no need to start spark-shell with the HBase jars.

[2022-09-12 21:54] alexeykudinkin commented on #6398
To clarify what @yihua was saying: this should have already been addressed in 0.12. Can you try 0.12 and see if that works for you?

[2022-09-12 21:59] nsivabalan commented on #6517
if we have a tracking jira, can we close it and since you plan to fix it in the next 2 to 3 weeks.

[2022-09-12 22:05] nsivabalan commented on #6414
@yihua : do we have a tracking jira for doc improvements. lets not miss this.
and once we have the doc PR up, feel free to close it out. CC @bhasudha

[2022-09-12 22:06] nsivabalan commented on #6283
@eshu : is there any update? if the issue is resolved, can you close the github issue please. If not, let us know and we can debug further.

[2022-09-12 22:07] nsivabalan commented on #6232
@YannByron : gentle reminder to look at the issue when you get a chance.

[2022-09-12 22:08] #5823 closed

[2022-09-12 22:11] nsivabalan commented on #5582
@vicuna96  : gentle ping.

[2022-09-12 22:24] nsivabalan commented on #5242
@matthiasdg : one clarification. so the 1st round succeeds w/o any issues. and you are facing issues only w/ 2nd round is it?

[2022-09-12 22:25] nsivabalan commented on #6532
if we have a specific jira tackling the issue reported here, we can close this one out

[2022-09-12 22:31] nsivabalan commented on #5253
@njalan : gentle ping.

[2022-09-12 22:32] nsivabalan commented on #5687
@xushiyan : can you follow up on this.

[2022-09-12 22:33] nsivabalan commented on #5931
@WangCHX : gentle ping.

[2022-09-12 22:34] nsivabalan commented on #6223
@huzk8 : can you give https://github.com/apache/hudi/pull/6264 and let us know if the issue is resolved.

[2022-09-12 22:34] nsivabalan commented on #6174
@tarunguptanit : did you get a chance to try out 0.12? partition pruning should work as expected.

[2022-09-12 22:35] nsivabalan commented on #6315
@15663671003 : gentle ping. do you have any more specific questions for us?

[2022-09-12 22:36] nsivabalan commented on #6321
@gtwuser : gentle ping.

[2022-09-12 22:50] nsivabalan commented on #4881
looks like the issue is resolved. closing it out for now.

[2022-09-12 22:50] #4881 closed

[2022-09-12 22:52] nsivabalan commented on #5326
@rmahindra123 @harsh1231 : do we have any suggestions on how to go about this.

[2022-09-12 22:55] nsivabalan commented on #5575
@Guanpx : do you still face the issue or got ti resolved? if yes, can you post how you got it resolved.
any updates would be appreciable.

[2022-09-12 23:00] nsivabalan commented on #5074
might be good to revisit after https://github.com/apache/hudi/pull/5815

[2022-09-12 23:03] nsivabalan commented on #3605
we have done lot of improvements around perf w/ hudi. https://hudi.apache.org/blog/2022/06/29/Apache-Hudi-vs-Delta-Lake-transparent-tpc-ds-lakehouse-performance-benchmarks

Can you try out 0.12.
Closing it out due to long inactivity.

[2022-09-12 23:03] #3605 closed

[2022-09-12 23:14] nsivabalan commented on #3418
We have done lot of improvements around perf w/ hudi. https://hudi.apache.org/blog/2022/06/29/Apache-Hudi-vs-Delta-Lake-transparent-tpc-ds-lakehouse-performance-benchmarks

Can you try out 0.12.
Closing it out due to long inactivity.

Feel free to open new issue if you need assistance.

[2022-09-12 23:14] #3418 closed

[2022-09-12 23:19] nsivabalan commented on #3324
@conanxjp :
we have done lot of improvements around perf w/ hudi. https://hudi.apache.org/blog/2022/06/29/Apache-Hudi-vs-Delta-Lake-transparent-tpc-ds-lakehouse-performance-benchmarks

Can you try out 0.12 and let us know if you are still facing the issue. and we can further investigate.

[2022-09-12 23:21] nsivabalan commented on #2083
This seems like a very old version that is not actively maintained.

we have done lot of improvements around perf w/ hudi. https://hudi.apache.org/blog/2022/06/29/Apache-Hudi-vs-Delta-Lake-transparent-tpc-ds-lakehouse-performance-benchmarks

Can you try out 0.12.
Closing it out due to long inactivity.

Feel free to open new issue if you need assistance.

[2022-09-12 23:21] #2083 closed

[2022-09-12 23:24] nsivabalan commented on #1694
we have done lot of improvements around perf w/ hudi. https://hudi.apache.org/blog/2022/06/29/Apache-Hudi-vs-Delta-Lake-transparent-tpc-ds-lakehouse-performance-benchmarks

Can you try out 0.12.
Also, we have written a blog around diff indexes in hudi and when to use what. https://hudi.apache.org/blog/2020/11/11/hudi-indexing-mechanisms/ Might benefit in your use-case.

Closing it out due to long

[2022-09-12 23:24] #1694 closed

[2022-09-12 23:25] nsivabalan commented on #4891
@codope : do we have a tracking jira. feel free to close it out and tag w/ right jira.

[2022-09-12 23:28] nsivabalan commented on #5020
closing this since we had a patch addressing the issue reported.
https://github.com/apache/hudi/pull/5406

[2022-09-12 23:28] #5020 closed

[2022-09-12 23:34] nsivabalan commented on #5094
Closing it out due to long inactivity. Already seemed to have provided the resolution. you can check out latest quick start if need be.https://hudi.apache.org/docs/quick-start-guide#deletes

Feel free to re-open or open a new issue if you need assistance.

[2022-09-12 23:34] #5094 closed

[2022-09-12 23:37] nsivabalan commented on #5500
Closing it out due to long inactivity.

Feel free to re-open or open a new issue if you need assistance.

[2022-09-12 23:37] #5500 closed

[2022-09-12 23:37] nsivabalan commented on #5558
Closing it out due to long inactivity.
Feel free to re-open or open a new issue if you need assistance.

[2022-09-12 23:37] #5558 closed

[2022-09-12 23:44] nsivabalan commented on #4873
@CodeCooker17 :

we have done lot of improvements around perf w/ hudi. https://hudi.apache.org/blog/2022/06/29/Apache-Hudi-vs-Delta-Lake-transparent-tpc-ds-lakehouse-performance-benchmarks

Can you try out 0.12 and let us know if you are still facing the perf issue.

[2022-09-12 23:46] nsivabalan commented on #4604
Closing it out due to long inactivity.
Feel free to re-open or open a new issue if you need assistance.

[2022-09-12 23:46] #4604 closed

[2022-09-12 23:47] nsivabalan commented on #4835
thanks!

[2022-09-12 23:47] #4835 closed

[2022-09-12 23:49] nsivabalan commented on #4863
Closing it out due to long inactivity.
Feel free to re-open or open a new issue if you need assistance.

[2022-09-12 23:52] nsivabalan commented on #3795
Closing it out due to long inactivity.

Feel free to re-open or open a new issue if you need assistance.

[2022-09-12 23:52] #3795 closed

[2022-09-12 23:55] nsivabalan commented on #5036
you can try setting key gen as `org.apache.hudi.keygen.GlobalDeleteKeyGenerator` and set operation type to "DELETE", just the batch which has only records to be deleted. and set index type to "GLOBAL_BLOOM".

[2022-09-12 23:55] nsivabalan commented on #5036
@pratyakshsharma : can you help me understand the use-case a bit more.

[2022-09-12 23:57] alexeykudinkin commented on #6558
@parisni can you please update issue description to follow the suggested format (it helps tremendously to clarify a lot of basic things like Spark version, steps to reproduce etc)?

Can you elaborate what are the steps you're taking when you observe this issue

[2022-09-12 23:58] nsivabalan commented on #5054
@worf0815 : We have done lot of improvements around perf w/ hudi. https://hudi.apache.org/blog/2022/06/29/Apache-Hudi-vs-Delta-Lake-transparent-tpc-ds-lakehouse-performance-benchmarks

Can you try out hudi OSS 0.12 version instead of glue hudi connector by aws.

[2022-09-12 23:59] nsivabalan commented on #4713
@stym06 : did you try out what @Gatsby-Lee suggested.

[2022-09-13 00:18] alexeykudinkin commented on #6321
@gtwuser i don't think you even to enable advanced schema evolution that @xiarixiaoyao was suggesting. Just enabling `hoodie.datasource.write.reconcile.schema=true` should work for your use-case

[2022-09-13 00:29] alexeykudinkin commented on #6174
@tarunguptanit would it be possible for you to try out Hudi 0.12?

To explain a little bit what you might be observing:
  - First of all in your case you don't rely on partition-pruning, instead you're _directly_ reading one of the partitions by providing tha sub-path w/in the table. While it's somewhat similar to partition pruning behavior this distinctly different mechanism in terms of implement

[2022-09-13 00:35] tarunguptanit commented on #6174
Yes, I was able to fix this issue by upgrading to 0.10.
Seems like this way of reading the specific partition by providing the actual path is not supported with the newer versions of Hudi  :

```scala> val hudiDirectory = "s3a://podsofaupgradetesting-v2/HZ_CUST_ACCOUNTS/2022/05/04/"```

I had to url encode the partition path for my table by using the parameter ```hoodie.datasource.write.partitionp

[2022-09-13 00:42] WangCHX commented on #5931
I can read it now by calling the parquet file directly. feel free to close. thanks

[2022-09-13 00:56] melin opened #6658 "[SUPPORT] undrop table"
Specifies the identifier for the table to restore. If the identifier contains spaces or special characters, the entire string must be enclosed in double quotes. Identifiers enclosed in double quotes are also case-sensitive.

1. Restoring tables is only supported in the current schema or current database, even if the table name is fully-qualified.
2. If a table with the same name already exists, an

[2022-09-13 01:22] peanut-chenzhong commented on #6517
sure，will recheck after this jira ticket has fixed, thx for help

[2022-09-13 01:59] nsivabalan commented on #6573
@eric9204 : can you post your write configs you use. clustering should get triggered once every N commits, where N = `hoodie.clustering.inline.max.commits`. if you see more than 1 replace commits every N commits, then it could be a valid issue.

[2022-09-13 02:12] nsivabalan commented on #5492
@ashah-lightbox : sorry to have dropped the ball on this. I can help me understand what you mean by docker(case 2)? is it hdfs that you are using within docker?
when you say EMR(case1), does it mean spark data source writer in EMR ? and are you using EMR's version of hudi. in docker, are you using oss hudi bundles?

[2022-09-13 02:13] nsivabalan commented on #5492
also, I see you have used 2 diff scripts in both.
Can you try your EMR script https://gist.github.com/ashays83/6beaf642bd55b4c46292b8f382d0088b also in docker and share what you see.

[2022-09-13 02:14] nsivabalan commented on #6573
since we have a PR addressing the issue, closing it out.

[2022-09-13 02:14] #6573 closed

[2022-09-13 02:25] nsivabalan commented on #4784
@yesemsanthoshkumar : gentle ping.

[2022-09-13 02:43] guanlisheng opened #6659 "[SUPPORT] query hudi table with Spark SQL on Hive return empty result"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
Yes
- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

1. Hudi 0.9 on EMR-5.3

[2022-09-13 03:00] nsivabalan commented on #5211
I could able to verify that @haggy 's solution worked for me. I used 0.12 artifacts and re-used our quickstart  example to try it out.

I just added 1 additional config to whats given [here](https://hudi.apache.org/docs/quick-start-guide)
`option("hoodie.datasource.write.hive_style_partitioning","true")`

dir structure

ls -ltr /tmp/hudi_trips_cow/
total 0
drwxr-xr-x  4 nsb  wheel  128 Sep 12 19:4

[2022-09-13 05:05] koochiswathiTR commented on #4456
Hello @nsivabalan  @zhedoubushishi ,

I am facing same exception[Unable to acquire lock, lock object null]
We don't need to create a dynamodb table ahead ? will hudi create a DynamoDB automatically?
Pls confirm

[2022-09-13 05:47] rbtrtr commented on #6398
I tried 0.12.0, but with the same stacktrace like before. In the jar file itself are two hbase xml files
- hbase-default.xml with hbase.defaults.for.version.skip = false
- hbase-site.xml with hbase.defaults.for.version.skip = true

Might this cause the error?

[2022-09-13 05:58] low-on-mana commented on #6137
I have tested same jar on both emr / databricks. The issue is only happening on databricks as of now.

[2022-09-13 06:08] codope commented on #6137
Can you check the `spark-sql_2.12-3.2.0.jar` in the classpath of Databricks runtime? If it's present, you can unarchive to some dir and inspect the method as follows:
[code]

This is what I see in my local:
[code]
You can see the signature of `putLeafFiles` method and it is same as that in Apache Spark 3.1.2.

[2022-09-13 06:30] nsivabalan commented on #5952
@glory9211 : got it. can you check if this is what you suggested
https://github.com/apache/hudi/pull/6661/files

[2022-09-13 06:31] nsivabalan commented on #5952
again, just to clarify. the code you have referenced
[code]
is actually reading data from SQS and does not involve reading from S3. Only S3EventsIncrSource reads from S3. and hence my fix.

[2022-09-13 08:44] gubinjie opened #6663 "[SUPPORT] java.lang.ClassNotFoundException: org.apache.hudi.exception.HoodieValidationException"
Flink1.13
Hudi: 0.10.1
Compile with:
mvn clean package -DskipITs -Dmaven.test.skip=true -Dhadoop.version=3.2.1 -Pflink-bundle-shade-hive3

Put the compiled hudi-flink_2.11-0.10.1-rc1.jar into ${FLINK_HOME}/lib
Startup method: ./sql-client.sh embedded -j ../lib/hudi-flink_2.11-0.10.1-rc1.jar
Create the table:

CREATE TABLE paat_hudi_flink_test(
 id bigint ,
 name string,
 birthday TIMESTAMP(3),
 ts

[2022-09-13 08:54] #6663 closed

[2022-09-13 09:48] codope commented on #5780
There could be two most common kinds of 5xx errors: 500 and 503.
In case of 500 (internal service error), the reasons could be any kind of service failure (but not degradation).
In case of 503 (slowdown/degradation), most likely the rate limiter is not allowing the request through.

Either way, Hudi has an exponential backoff [retry mechanism](https://github.com/apache/hudi/blob/1b2179269efab4eb41

[2022-09-13 09:57] codope commented on #6578
Folks, I'm closing the issue. I've triaged and fixed it in #6662
Can you please review the patch? Let's take the discussion there.

[2022-09-13 09:57] #6578 closed

[2022-09-13 11:55] zhouhaijia commented on #6137
We've spoken with Databricks support and looks like the root cause was that Databricks runtime used certain customized Spark SQL data source API.

[2022-09-13 13:20] parisni commented on #5780
Thanks. Not sure if this also apply to timeline server ?

On September 13, 2022 9:49:08 AM UTC, Sagar Sumit ***@***.***> wrote:

[2022-09-13 13:37] rjmblc commented on #6341
@nsivabalan Didn't get a chance to validate. I will do it today. Thanks

[2022-09-13 16:13] alexeykudinkin commented on #6398
This is a miss. Filed HUDI-4836

[2022-09-13 16:39] rbtrtr commented on #6398
@alexeykudinkin should it work if we unpack the jar. Change the parameter and pack it again? Just as a workaround until it is fixed?

[2022-09-13 17:13] alexeykudinkin commented on #6398
Yeah, you can try to remove "hudi-default.xml"

[2022-09-13 21:37] nsivabalan commented on #5358
closing it due to no activity for long time.
feel free to raise a new issue for any assistance.

[2022-09-13 21:37] #5358 closed

[2022-09-13 21:37] nsivabalan commented on #5724
closing it due to no activity. feel free to raise a new issue if you are looking for assistance.

[2022-09-13 21:40] nsivabalan commented on #4656
@ganczarek : have you tried giving latest version of hudi (0.12) which has few critical perf fixes.
also, we stabilized our metadata table in 0.11 and above. So, if you can give it a try and let us know how it goes, would be nice.

[2022-09-13 21:45] nsivabalan commented on #4044
we made a perf fix around fixing the issue you have reported.
https://github.com/apache/hudi/pull/5187
this should be available from 0.11. But in general, we also made few critical perf fixes with hudi in 0.12. So, would recommend to upgrade to latest hudi version.

thanks!

[2022-09-13 21:45] #4044 closed

[2022-09-13 21:45] nsivabalan commented on #4044
feel free to open a new issue if you are looking for further assitance,

[2022-09-13 21:51] yihua commented on #5780
@parisni @codope talks about the configs to retry the requests to the timeline server if the server fails to fulfill the request at the first time.  For the 500s, could you paste the stacktrace from the timeline server? The timeline server refreshes the file system view only upon the changes of the requested instant.  Wondering if it's caused by a bug triggering repeated refresh.

[2022-09-13 22:00] nsivabalan commented on #3077
sorry we dropped the ball on this. lets try to make some progress.
I re-read entire thread.

here are my thoughts:
- what kind of write you are using to write to hudi? is it spark datasource write or deltastreamer writes or spark structured streaming?
- probably MOR is not the right approach since you don't seem to have any updates(only 1%).
- in COW, we can disable small file handling, but enable

[2022-09-13 22:08] nsivabalan commented on #4864
sorry to have dropped the ball here. we have made lot of perf improvements with hudi in 0.12.
Can you give it a try. If you are still facing issues, we can dive in deeper and see how we can tackle this.

If you know roughly how many entries are going to be packed into 1 parquet file, you can specify the bloom num entries accordingly

[2022-09-13 22:16] nsivabalan commented on #3733
hey, we have added few critical perf fixes with hudi in 0.12. Would recommend trying it out.
And with 0.12, we have enabled metadata table by default. Should help you for such large number of partitions.

closing this out due to long inactivity.
feel free to raise a new issue if you are looking for further assistance.

[2022-09-13 22:22] nsivabalan commented on #3975
hey @dmenin : sorry to have dropped the ball on this. Don't think we have anything concrete towards your proposal yet. Might be tricky to make it work for any partitioning logic. for day based, we can choose the latest 10, but if its product_id based or something else, it may not be feasible to choose the latest 10 partitions.

One option I can think of, is to increase the file size.
Also, you can

[2022-09-13 22:27] nsivabalan commented on #3854
we made a perf fix around fixing the issue you have reported.
https://github.com/apache/hudi/pull/5187

this should be available from 0.11. But in general, we also made few critical perf fixes with hudi in 0.12. So, would recommend to upgrade to latest hudi version since it also enables metadata table by default.

[2022-09-13 22:44] nsivabalan commented on #4682
@tjtoll : I vaguely remember discussing a similar issue (4, 20, 100) in slack or somewhere. were you involved in any of it. did we have any fix around it ?

[2022-09-14 01:06] tjtoll commented on #4682
@nsivabalan we still see these behavior but I didn’t see this in slack. The stages in the Spark UI are more clear in versions after 0.9.0 but we are still using that version

[2022-09-14 05:09] njalan commented on #5253
@nsivabalan  I am sorry for the delay response. Please close it .

[2022-09-14 05:09] #5253 closed

[2022-09-14 05:38] nsivabalan commented on #6591
yes, this is a known limitation we have w/ MOR table. If a compaction kicks in, you may not see the update in older partitions/ where it was deleted. it will be an issue until then.

[2022-09-14 06:22] codope commented on #4891
We had benchmarked this. For multiple spark jobs, we cannot avoid `union`. Good thing is that clustering does not do rdd.union, instead it runs context.union which is slightly better. Benchmark revealed that writing to parquet column as a whole incurs high overhead. Another thing which hogs up memory is bytes-avro conversion. More details in HUDI-2949. Te fix entailed making changes in [parquet-mr

[2022-09-14 06:22] #4891 closed

[2022-09-14 07:04] codope commented on #5242
I am unable to reproduce this issue with version 0.12.0. I ran the whole quickstart (which has multiple commits) with the same fixed timeline server port. Looking at the code, I don't see a reason why the same port cannot be used. Is it that in your case you have enabled `hoodie.embed.timeline.server.reuse.enabled` and then set a fixed port?

[2022-09-14 07:06] codope commented on #5242
Btw, I just tried with reuse enabled as well as fixed port. It still works for me.

[2022-09-14 07:37] nsivabalan commented on #6591
atleast I will file a follow up jira so that we don't miss this. thanks for filing the issue.

[2022-09-14 08:52] FredMkl commented on #6591
Thank you for reply, actually we found that even if a compaction kicks in, the duplication data is still there.
We tried the settings below, then the duplicate disappear, unfortunately this is not we want.
  hoodie.compact.inline.trigger.strategy = 'NUM_COMMITS',
  hoodie.compact.inline.max.delta.commits = '1'

[2022-09-14 09:19] toninis commented on #5249
@nsivabalan Let me try and get back to you 😄  . Thanks for the effort !!

[2022-09-14 11:16] glory9211 commented on #5952
I'm understanding that now instead of reading the files list, you are parallelizing the array and using multiple executors to read the split arrays of files.

If yes, (Correct me if I'm wrong 😎 ) then
This is a better approach than the previous one, but the significance can be verified by running this scenario and comparing it with the previous implementation.

[2022-09-14 11:55] nitinkul commented on #5582
Any update on the issue.
I am facing exactly same issue. difference being i wrote a bootstrap job to do ```bulk_insert``` using hudi-spark job and then i was running incremental run using dbt-spark with hudi.

o/p of the commands suggested by @minihippo

[code]
hudi params used for bulk_insert
[code]
following is the stacktrace
[code]

[2022-09-14 16:35] sameerchandra commented on #3984
@XuQianJin-Stars Tried setting this config while reading. Printing the schema doesn't seem to show the partition columns

[2022-09-14 22:32] nsivabalan commented on #6591
yes, I get it.

[2022-09-14 22:33] nsivabalan commented on #6463
yes, you can find configs that need to set for zookeeper based lock or for hive metastore based lock here.
https://hudi.apache.org/docs/concurrency_control

we also have dynamoDB based lock if you are interested.

[2022-09-14 22:35] nsivabalan commented on #6463
common configs requried for any lock provider:

hoodie.write.concurrency.mode=optimistic_concurrency_control
hoodie.cleaner.policy.failed.writes=LAZY
hoodie.write.lock.provider=<lock-provider-classname>

configs for zookeeper based lock
[code]

Configs for hive metastore based lock:
[code]

DynamoDb based lock:
[code]
[code]

[2022-09-14 22:36] nsivabalan commented on #6463
let us know if you are still looking for any assistance. if not, we can go ahead and close out the issue.

[2022-09-14 22:39] nsivabalan commented on #6101
I assume you are referring to delete_partitions right? how are you triggering delete_partition. are you passing in a regular dataframe as you would for other write operations.
Or are you setting the config https://hudi.apache.org/docs/configurations#hoodiedatasourcewritepartitionstodelete . you can set comma separated list of partition values that needs to be deleted.

I might need to reproduce yo

[2022-09-14 22:41] nsivabalan commented on #6341
sure.

[2022-09-14 23:45] xushiyan commented on #6659
from what you listed, `org.apache.hudi:hudi-spark-bundle_2.11:0.5.3,org.apache.spark:spark-avro_2.11:2.4.4` this is hudi 0.5.3. can you confirm which hudi version do you have  problem with?

[2022-09-15 00:32] xushiyan commented on #6655
@alexeykudinkin can you take a look pls?

[2022-09-15 00:39] xushiyan commented on #6653
likely a lot of small files were created. @Xiaohan-Shen how many files were created in S3? and what do the file sizes look like?
cc @zhangyue19921010 @yihua this can be a good point for diagnositc reporter to capture, as in how file sizes distribution look like, to help diagnose parquet size setting issues for example.

[2022-09-15 00:44] Xiaohan-Shen commented on #6653
I just figured out the problem: I used the primary key field for partitioning, so it was creating one partition for every row. My bad.

[2022-09-15 00:44] #6653 closed

[2022-09-15 00:49] xushiyan commented on #6644
No you should not need to. in aws env you'll just rely on whatever roles for your service to access another service. Please raise support case with aws and get help to configure roles properly.

[2022-09-15 01:00] xushiyan commented on #6626
@arunb2w noticed that you're on hudi 0.10. would you also verify if 0.12 has the same behavior?

[2022-09-15 01:06] xushiyan commented on #6618
@Aload can you verify if the patch is used in your version of hudi? and still having the problem?

in order to help diagnose, we need more info also to reproduce it. like configs and code snippet

[2022-09-15 01:17] xushiyan commented on #6596
@zhengyuan-cn do you mean you replaced `hudi-*-0.5.0` with `hudi-*-0.11.0` and it worked?

[2022-09-15 01:30] xushiyan commented on #6579
hi @azhsmesos thanks for your interests in contributing! please check out https://hudi.apache.org/docs/quick-start-guide for quick start examples (both spark and flink) and many more guides under https://hudi.apache.org/docs/overview
There is a `new-to-hudi` label you can [filter on from jira](https://issues.apache.org/jira/browse/HUDI-4752?jql=project%20%3D%20HUDI%20and%20labels%20%3D%20new-to-hu