[2021-04-09 09:33] Magicbeanbuyer commented on #2498
Hey @nsivabalan,

We have wrapped up our POC, therefore no  longer have the setup anymore. Sorry couldn't contribute further to the issue.

[2021-04-09 13:53] kimberlyamandalu commented on #2620
hi @nsivabalan no, i do not have a separate ticket for my question. I thought it might be related to this so I chimed in. I can open a new ticket for my use case so we can isolate. Sorry for the confusion. Thanks.

[2021-04-09 16:45] rubenssoto commented on #2509
Hello Guys,

Athena Behavior changes,

<img width="1677" alt="Captura de Tela 2021-04-08 às 22 55 24" src="https://user-images.githubusercontent.com/36298331/114213658-a841c400-9939-11eb-9fc9-a2e51761908e.png">
<img width="1254" alt="Captura de Tela 2021-04-08 às 22 58 09" src="https://user-images.githubusercontent.com/36298331/114213672-ad067800-9939-11eb-872d-fe264f97fcde.png">

This is a grea

[2021-04-09 18:09] vansimonsen opened #2797 "[SUPPORT] Can not create a Path from an empty string on unpartitioned table"
**Describe the problem you faced**

* Issue trying to create unpartitioned tables to hive metastore (in aws glue data catalog) using hudi (Tested on `0.6.0`, `0.7.0` and `0.8.0` )
* Using hudi on AWS EMR, with pyspark
* Previous [fix](https://github.com/apache/hudi/pull/2301) is implemented on new versions, but it continues failing

 * Hudi config for unpartitioned tables
[code]

**To Reproduce**

[2021-04-09 18:50] vansimonsen commented on #2294
@bvaradar

https://github.com/apache/hudi/issues/2797

[2021-04-10 02:12] hj2016 commented on #2623
@n3nash @nsivabalan @root18039532923 I also have the same connection problem. The debug found that it was because of the jar conflict. I submitted a pr [https://github.com/apache/hudi/pull/2799]. I hope that when the connection error is reported, a more detailed stack log will be printed to help accurately locate the problem.

[2021-04-10 10:31] aditiwari01 opened #2801 "Issues with Hive querying on MOR tables with no partitions"
Unable to read data via Hive from both _ro & _rt tables if my data is not partitioned.
Reading from spark api works fine.

Related Write Confs used:

[code]

Issue faced: NullPointerException in `getTableMetaClientForBasePath` of class `HoodieInputFormatUtils`.

My take:

[code]

Herein if partition meta is not available (as in case of no partition), we set levels to default of 3, in which case th

[2021-04-10 11:22] aditiwari01 commented on #2801
Update:

After setting default to 0 in case of no partition, I am able to avoid above error and able to get Table meta correctly. However, now select * query on hive return empty dataset.
From logs I can see that `.HoodieInputFormatUtils: Total paths to process after hoodie filter 0`.

[2021-04-10 11:46] aditiwari01 commented on #2797
Issue (https://github.com/apache/hudi/issues/2801) might be a duplicate.

However while creating an unpartitioned table, my dataframe.write is getting succeeded but I am not able to query the data via hive. Although spark read are working fine for me tough. (Testing via spark shell)

[2021-04-10 12:06] aditiwari01 opened #2802 "Hive read issues when different partition have different schemas."
Hive reads writer schema separately for each partition. If a schema has evolved and updates has not made for all partitions (i.e. for some partition last change was from older schema), they hive read for that partition would fail since non availability of new column in schema.

Concerned code: (Class: `AbstractRealtimeRecordReader`)

[code]

I tried replacing this writer schema to get schema from

[2021-04-10 13:46] aditiwari01 commented on #2801
Please ignore the above comment. The empty result from hive was due to me missinng one of the configs.

Everything is working as expected after changing the default value of `HoodieHiveUtils.DEFAULT_LEVELS_TO_BASEPATH` to 0 (currennt value 3), as explained in first comment.

I think we should permanently change this to 0. 3 looks like a random number. Also I have confirmed that this default is not

[2021-04-10 14:28] wosow commented on #2676
I switched GLOBAL_BLOOM to BLOOM, and the program ran very fast. Thank you for your answer

[2021-04-10 14:29] wosow commented on #2676
well

[2021-04-10 14:50] #2676 closed

[2021-04-12 06:54] aditiwari01 commented on #2801
Issue resolved after using correct key generator class. Closing the issue.

[2021-04-12 06:54] #2801 closed

[2021-04-12 07:43] tmac2100 opened #2806 "Spark upsert Hudi performance degrades significantly"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

While u

[2021-04-12 15:12] rubenssoto opened #2810 "[SUPPORT] How Hudi with Spark Streaming works?"
Hello Guys,

How hudi with spark structured streaming works?

I'm trying to use no error, but no files are written.

---Function to read Hudi Table
def read_hudi_stream(spark_session, read_folder_path, max_files_per_trigger):
    spark = spark_session
    df = (
        spark.readStream.format("hudi")
        .load(read_folder_path)
    )
    return df

--Function to write the stream
def write_par

[2021-04-13 02:36] pengzhiwei2018 commented on #2810
Hi @rubenssoto , first you should write some data to the hudi table, then you can consume the data from that hudi table.
You can refer to  the test case in [TestStreamingSource](https://github.com/apache/hudi/blob/master/hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestStreamingSource.scala).

[2021-04-13 05:42] rubenssoto commented on #2787
Hello,

My Hudi config

`Map(hoodie.datasource.hive_sync.database -> raw_freshdesk,
hoodie.parquet.small.file.limit -> 402653184,
hoodie.copyonwrite.record.size.estimate -> 1024,
hoodie.datasource.hive_sync.support_timestamp -> true,
hoodie.datasource.write.precombine.field -> updated_at,
hoodie.datasource.hive_sync.partition_extractor_class -> org.apache.hudi.hive.NonPartitionedExtractor, hoodie.

[2021-04-13 05:44] n3nash commented on #2806
@tmac2100 The commands you have provided to reproduce this issue seem to be related to the internal working of your company. I'm unable to reproduce this issue with the given command.

Can you provide some additional information so I can help debug this issue ?

1. How many records are you ingesting in every batch ?
2. How many of these are inserts vs updates ?
3. From what it looks like, you have

[2021-04-13 05:45] rubenssoto commented on #2588
Hello Guys,

I think is something related to EMR and Hive, we made a solution for our own to only enable hive sync when schema changes.

It could be a good feature to Hudi, enable syncs only when schema changes or a new partition arrives.

I will close the issue, because is not something related to hudi.

[2021-04-13 05:45] #2588 closed

[2021-04-13 05:51] n3nash commented on #2802
@aditiwari01 What failure do you see ? Generally the following is the execution path

1. Provide new writer schema to Hudi
2. Write data with new writer schema to hudi log files

Here there are 2 possibilities

a. Commit this batch succeeds - In this case, the writerSchema for the `AbstractRealtimeRecordReader` will be this latest schema with which the latest data was written
b. Commit this batch

[2021-04-13 05:56] n3nash commented on #2797
@vansimonsen Can you check the issue that @aditiwari01 is pointing to and check if you are using the correct `KeyGenerators` as well as `PartitionValueExtractor` (check here -> https://hudi.apache.org/docs/configurations.html#HIVE_PARTITION_EXTRACTOR_CLASS_OPT_KEY) ?

Additionally, this looks like the `basePath` might not have been correctly registered to Glue. Let me know after you check these co

[2021-04-13 06:29] tmac2100 commented on #2806
About 300M

80% insert and 20% update

Partitioned table by create date column,date format yyyymmdd, like 20210413

the first batch cost 7 minutes complete,5 hours later,the batch lasted 16 hours and was still incomplete

[2021-04-13 06:31] tmac2100 commented on #2806
How many records are you ingesting in every batch ?
About 300M
How many of these are inserts vs updates ?
80% insert and 20% update
From what it looks like, you have chosen a partition path but no partitioning strategy, is this a partitioned table or a non-partitioned one ?
Partitioned table by create date column,date format yyyymmdd, like 20210413
Can you describe the amount of time by which each

[2021-04-13 08:35] murphp15 opened #2811 "[SUPPORT] How to run hudi on dataproc and write to gcs bucket"
**Describe the problem you faced**

I want to write to a gcs bucket from dataproc using hudi.

To write to gcs using hudi it says to set prop fs.defaultFS to value gs:// (https://hudi.apache.org/docs/gcs_hoodie)

However when I set fs.defaultFS on dataproc to be a gcs bucket I get errors at startup relating to the job not being able to find my jar. It is looking in a gs:/ prefix, presumably becaus

[2021-04-13 09:21] xglv1985 opened #2812 "[SUPPORT]Got a parquet related error when incremental querying MOR table, using Spark 2.4"
when I ran a Spark 2.4 job to incremental query a MOR table, the job failed with the following errors:

`2021-04-13 12:39:54 [Executor task launch worker for task 215] ERROR [Executor:91]: Exception in task 160.2 in stage 0.0 (TID 215)
java.io.IOException: can not read class org.apache.parquet.format.PageHeader: null
	at org.apache.parquet.format.Util.read(Util.java:216)
	at org.apache.parquet.for

[2021-04-13 09:44] MyLanPangzi opened #2813 "[SUPPORT] HoodieRealtimeRecordReader can only work on RealtimeSplit and not with hdfs://111.parquet:0+4"
**Describe the problem you faced**

flink write mor table but cannot using hive agg query newest data.

**To Reproduce**

Steps to reproduce the behavior:

1.flink write mor table
2.create hive extrenal table using org.apache.hudi.hadoop.realtime.HoodieParquetRealtimeInputFormat
[code]
3.using hive shell agg query get error
4.

**Expected behavior**

hive query mor correctly and return agg result.

[2021-04-13 12:13] njalan commented on #2609
is it merged into presto sql?

[2021-04-13 12:20] njalan commented on #2791
Any updates on it?
Actually I am facing the same below issues on s3 as other faced and wonder if they are fixed:
https://github.com/apache/hudi/issues/1981
https://github.com/apache/hudi/issues/1829

[2021-04-13 13:30] tooptoop4 commented on #2609
@njalan not trino (aka prestosql), it only in prestodb

[2021-04-13 16:23] bvaradar commented on #2723
@liijiankang : This exception is also seen when shutting down service which has async threads running. With async cleaning, there is a separate executor service setup to handle cleaning. Is it possible that you were doing ctrl-C and then saw this exception.

[2021-04-13 16:30] bvaradar commented on #2813
cc @n3nash

Can you try setting hive.input.format=org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat

and trying.

[2021-04-14 00:08] prashantwason commented on #2791
Are you getting this error each time you run df.write.format() ?
or
Are you getting this error occasionally (i.e. sometimes df.write.format succeeds and then you run into this error)?

[2021-04-14 00:43] njalan commented on #2791
@prashantwason  Thanks for your reply. I am getting this error occasionally.  In my couple of testing it keeps running for likely 20 times df.write.format successfully and then get this error.

[2021-04-14 01:08] liijiankang commented on #2723
@bvaradar Our spark streaming program is submitted to yarn to run in cluster mode, and ctrl-C is not executed during the operation.

[2021-04-14 01:21] prashantwason commented on #2791
Ok thanks for confirming. I am looking into this issue.

[2021-04-14 02:17] BigWrite opened #2817 "[SUPPORT]how can i query old snapshot by flink-sql"
**Describe the problem you faced**

how can i query old snapshot by flink-sql ?
here is flink table DDL
![image](https://user-images.githubusercontent.com/18157374/114644828-d4c75880-9d0a-11eb-9dce-881f7f8246f2.png)

**Environment Description**

* Hudi version :0.8.0

* Flink version :1.12.0

* Hive version :

* Hadoop version :3.1.1

* Storage (HDFS/S3/GCS..) :HDFS

* Running on Docker? (yes/no)

[2021-04-14 02:47] qianjiangbing commented on #2813
I tried to set hive.input.format = org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat;
But another error occurred:

Diagnostic Messages for this Task:
Error: java.lang.ClassCastException: org.apache.hadoop.hive.ql.exec.vector.VectorizedRowBatch cannot be cast to org.apache.hadoop.io.ArrayWritable
        at org.apache.hudi.hadoop.realtime.RealtimeCompactedRecordReader.createValue(RealtimeCom

[2021-04-14 04:47] n3nash commented on #2817
@danny0405 @yanghua Can one of you help here ?

[2021-04-14 04:55] n3nash commented on #2813
@qianjiangbing @bvaradar There is a ticket created for this -> https://issues.apache.org/jira/browse/HUDI-1036. I will look into this later this week. This looks like a legitimate issue

[2021-04-14 05:00] n3nash commented on #2812
@xglv1985 It looks like you hit this issue -> https://issues.apache.org/jira/browse/SPARK-11844.

The ticket was created as a MINOR and is already resolved by customers explaining that re-try works. Have you tried re-running the job with "hudi" multiple times to see if this problem is repeatable ? if yes, we might have to re-open that Spark ticket to get some help.

[2021-04-14 05:38] MyLanPangzi commented on #2813
update the question description. i'm using org.apache.hudi.hadoop.realtime.HoodieParquetRealtimeInputFormat agg query mor table when error occur.

[2021-04-14 05:51] ssdong opened #2818 "[SUPPORT] Exception thrown in incremental query(MOR) and potential change data loss after archiving"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-04-14 06:13] xglv1985 commented on #2812
Thanks for attention. Yes, the problem is repeatable and can be reproduce each time definitely.

[2021-04-14 06:15] danny0405 commented on #2817
Can not do that now really, for batch query, Flink SQL always query the latest snapshot, would support query the history snapshot soon ~

[2021-04-14 06:15] danny0405 commented on #2817
@n3nash Sorry i have no permission to edit the tags.

[2021-04-14 07:01] BigWrite commented on #2817
@danny0405 tks for your resp, can i manage history snapshot? such as clean log from one year ago ,to save space, only  save 1 snapshot at first day of each month

[2021-04-14 07:04] danny0405 commented on #2817
You can do that, and actually Flink SQL already does that, see config options `clean.retain_commits` and `clean.async.enabled`.

[2021-04-14 07:04] danny0405 commented on #2817
BTW, i suggest you to use the latest master code which is more stable for production now ~

[2021-04-14 07:17] BigWrite commented on #2817
thanks for your help. we are research how to build our datalake，your help means a lot. we'll try to use the most recently released code.

[2021-04-14 07:22] #2817 closed

[2021-04-14 08:25] ismailsimsek commented on #2688
this comment might help  https://github.com/apache/hudi/issues/1751#issuecomment-648481221
adding this jars solved the error for me

[2021-04-14 08:27] ismailsimsek commented on #1679
this comment might help for the second error #1751 (comment)
`java.lang.NoClassDefFoundError: org/apache/calcite/rel/type/RelDataTypeSystem`

[2021-04-14 09:18] qianjiangbing commented on #2813
I use hive2.3.8 to test, it's ok!

[2021-04-14 10:01] ismailsimsek opened #2820 "getting ClassNotFoundException: com.esotericsoftware.shaded.org.objenesis.strategy.InstantiatorStrategy"
getting
`Caused by: java.lang.ClassNotFoundException: com.esotericsoftware.shaded.org.objenesis.strategy.InstantiatorStrategy`

following dependencies loaded by spark
[code]

have `kryo-shaded-4.0.2.jar` available in spark jars directory

**Environment Description**

* Hudi version : 0.8.0
* Spark version : 3.0.2
* Hive version : 1.2.1
* Hadoop version : 2.8.5
* Storage (HDFS/S3/GCS..) : S3
* Runn

[2021-04-14 13:49] ismailsimsek commented on #2797
its might be related to missing Glue database s3 path, the field is named  "Amazon S3 path"(lakeformation) or "Location"(glue) in aws console

as far as i see at one point in code it is tryiong to construct a path like :  `getDatabasePath` +` tableName`
in my case it was creating:  s3://MyBucketMytable  because of missing `/`. at the end of the database Location

[2021-04-14 13:52] ismailsimsek commented on #1909
probably related to https://github.com/apache/hudi/issues/2797#issuecomment-819532968

[2021-04-14 14:27] aditiwari01 commented on #2802
Hi @n3nash

The issue I am facing is in the case when commit gets succeeded. Let me explain the issue with an example:

Commit1: insert key1 in partition1 and key2 in partition2 with schema1.
Commit2: update key2 in partition2 with schema2

In this case the schema2 is registered successfully after commit2. But the issue is that the `AbstractRealtimeRecordReader` is not reading the latest schema of

[2021-04-14 19:57] n3nash commented on #2820
@ismailsimsek Can you paste the command you are using to start your spark-shell (assuming that's what you are using here to ingest to a hudi table) ?

It should be something like this for Spark 3.x

[code]

This can also be found at https://hudi.apache.org/docs/spark_quick-start-guide.html#setup

[2021-04-14 22:55] dszakallas commented on #1751
I am getting the same `java.lang.NoClassDefFoundError: org/apache/calcite/rel/type/RelDataTypeSystem` when trying to use Hive sync. It looks like Spark 3 is using a custom class loading mechanism for loading Hive:
.https://github.com/apache/spark/blob/ab93729987084ec55f762639a7e7f7cb8dd275e1/sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala#L170
I think this might

[2021-04-15 01:29] njalan commented on #2609
@tooptoop4 Thanks for your reply

[2021-04-15 03:06] QiAnXinCodeSafe opened #2823 "There is a vulnerability in log4j 1.2.17 ,upgrade recommended"
https://github.com/apache/hudi/blob/62bb9e10d9d2f2a9807ee46b0ed094ef2fcc89e5/pom.xml#L98

CVE-2019-17571 CVE-2020-9488

Recommended upgrade version：2.13.2

[2021-04-15 03:19] QiAnXinCodeSafe opened #2824 "There is a vulnerability in hadoop 2.7.3 ,upgrade recommended"
https://github.com/apache/hudi/blob/62bb9e10d9d2f2a9807ee46b0ed094ef2fcc89e5/pom.xml#L101

CVE-2017-15718  CVE-2020-9492  CVE-2018-8009  CVE-2016-6811  CVE-2018-8029

Recommended upgrade version：2.10.1

[2021-04-15 03:31] QiAnXinCodeSafe opened #2826 "There is a vulnerability in jackson.databind 2.6.7.3,upgrade recommended"
https://github.com/apache/hudi/blob/62bb9e10d9d2f2a9807ee46b0ed094ef2fcc89e5/pom.xml#L87

CVE-2020-9547  CVE-2019-20330  CVE-2019-16942  CVE-2020-8840

Recommended upgrade version：2.9.10.8

[2021-04-15 03:34] QiAnXinCodeSafe opened #2827 "There is a vulnerability in hive 2.3.1 ,upgrade recommended"
https://github.com/apache/hudi/blob/62bb9e10d9d2f2a9807ee46b0ed094ef2fcc89e5/pom.xml#L103

CVE-2018-1282 CVE-2018-11777 CVE-2018-1314   CVE-2020-1926

Recommended upgrade version：2.3.8

[2021-04-15 06:16] n3nash commented on #2818
@ssdong Thanks for the detailed description of the problem and how to reproduce this. First, it looks like there is an issue in `MergeOnReadIncrementalRelation` that is resulting in `NoSuchElementException`. @garyli1019 Can you take a look at this one ?

Second, yes, if the commit is archived before you could `incrementally pull` the changes, you will not be able to pull the changes happening betw

[2021-04-15 06:23] n3nash commented on #2787
This does look like related to some files having incompatible schema. @rubenssoto
1) Is this a tables boostrapped into hudi or is this a new hudi tables ?
2) Is this problem repeatable or happens intermittently ?

[2021-04-15 06:26] n3nash commented on #2797
@ismailsimsek Are you saying it was fixed after you fixed the databasePath / location in your glue metastore to include `/` ? Is the `/` expected always at the end of the path ? If yes, we can probably put in that fix in hudi hive sync.

[2021-04-15 06:29] n3nash commented on #2802
@aditiwari01 Thanks for that explanation. Can you please add the failure message / exception that you see with the current code ?

[2021-04-15 06:33] n3nash commented on #2806
@tmac2100 Thanks for those details, they are very helpful to understand your job. I need one more information before I can understand the root cause, can you please put a screenshot of the "stages" tab of the spark application that took 16 hours ? I want to understand which stages took this much time, my hunch is this should be the spark stages related to BloomIndex in which case either a) Your bl

[2021-04-15 06:34] n3nash commented on #2811
@vburenin Are you able to help out here ? Looks like a GCS related issue which you are more familiar with

[2021-04-15 06:35] n3nash commented on #2812
Okay, do you mind re-opening that Spark ticket and asking a question there ? Other options are to try a different Spark build to confirm that this is a spark issue and should probably go away with a different build (may be 2.4)

[2021-04-15 06:37] aditiwari01 commented on #2802
Actually we get Null pointer exceptionn when trying to get when we try to create readerSchema from writer schema and projectedFields, because the new column would present in projectedFields but not in writer schema.

I'm bit busy for next couple of days. Currently we're using the fix I've mentioned. Will try to rebuild with latest code and reproduce the issue and add the exact stack here in next f

[2021-04-15 06:42] n3nash commented on #2633
I've filed a ticket here -> https://issues.apache.org/jira/browse/HUDI-1800. Let's move the discussion and solution there.

[2021-04-15 06:42] #2633 closed

[2021-04-15 07:17] ssdong commented on #2818
@n3nash Thank you for getting back to me. Let me know if you need extra manpower to help fix `MergeOnReadIncrementalRelation`. :)

As for the second issue, thank you for providing extra insights into this, and I understand your point that if the checkpoint has not changed; once there is another "latest" change, it will surely pull that out for me incrementally given it will be on the active timeli

[2021-04-15 08:27] manishbol opened #2829 "Getting an Exception Property hoodie.deltastreamer.schemaprovider.registry.baseUrl not found"
What do the below two properties mean? What can be the possible values of these properties?

hoodie.deltastreamer.schemaprovider.registry.baseUrl
hoodie.deltastreamer.schemaprovider.registry.urlSuffix
EMR Version: emr-5.32.0
Hudi Version: 0.6.0
Spark Version: Spark 2.4.7

Spark submit command:
`spark-submit --class org.apache.hudi.utilities.deltastreamer.HoodieMultiTableDeltaStreamer --packages or

[2021-04-15 09:03] wsxGit opened #2830 "[SUPPORT]same _hoodie_record_key has duplicates data"
config is :
`props.put("hoodie.datasource.write.table.type", "COPY_ON_WRITE")
props.put(RECORDKEY_FIELD_OPT_KEY, "hudi_uuid")
props.put(PRECOMBINE_FIELD_OPT_KEY, "opttime")
props.put(PARTITIONPATH_FIELD_OPT_KEY, partitionColumn)
props.put("hoodie.insert.shuffle.parallelism", "10")
    props.put("hoodie.upsert.shuffle.parallelism", "10")
    props.put("hoodie.datasource.hive_sync.database", "fdm")

[2021-04-15 09:45] huzekang commented on #2656
I have the same problem.
when i set insert operation to hudi, I expect the result has 10 records,but there is 8 records .
It just like upsert opt.
[code]

[2021-04-15 10:27] dszakallas commented on #1751
I resolved the issue by deleting these two exclusions from Spark: https://github.com/apache/spark/blob/v3.0.1/pom.xml#L1692-L1699

[2021-04-15 11:59] tmac2100 commented on #2806
@n3nash Thank you for your help.I can't transfer pictures because of company information security restrictions.
1)BloomIndex is more efficient when the number of fields is smaller than when the number of fields is higher;
2)The data is written to hudi by partition.
Thank you.

[2021-04-15 14:25] rubenssoto commented on #2787
Its a new Hudi table.

It happens intermittently, probably some schema mismatch I think...is there any way to know where exactly the problem or I will have to inspect the new when the problem starts to happen?

thank you.

[2021-04-15 15:41] vburenin commented on #2811
It looks like core-site.xml is not visible since it didn't trigger gs:// schema handler.
One more thing though, I would recommend to upgrade google GCS connector to the latest version 2.1.x.

Don't use 2.2, it won't work.

[2021-04-15 22:43] nevgin opened #2832 "[SUPPORT] Hive on Spark dont work"
I have installed vanilla versions of hive and spark.
Put the jar hoodie spark bundle in the spark. Put hudi-hadoop-mr-bundle-x.y.z-SNAPSHOT.jar in aux hive dir and to classpath hadoop on all datanodes.
When a query on hudi MoR table is executed in hive with the MR engine, the queries are executed. Requests also be executed from spark.
However, when running a query to Hive with Engine Spark, an err

[2021-04-16 01:51] wk888 opened #2834 "[SUPPORT] Help~~~org.apache.hudi.exception.TableNotFoundException"
when use flinksql to write data to hudi，but i can not query by hive...

1、
hive> show create table test.hudu_test_1_rt ;
OK
CREATE EXTERNAL TABLE `test.hudu_test_1_rt`(
  `_hoodie_commit_time` string,
  `_hoodie_commit_seqno` string,
  `_hoodie_record_key` string,
  `_hoodie_partition_path` string,
  `_hoodie_file_name` string,
  `uuid` string,
  `name` string,
  `age` int,
  `ts` bigint)
PARTITIO

[2021-04-16 03:04] garyli1019 commented on #2818
@ssdong Thanks for report the issue. For the `NoSuchElementException`, please feel free to submit a fix.
For the incremental pulling form archived commits, do you think we should get the commits from the archive folder?

[2021-04-16 03:13] njalan commented on #2609
@tooptoop4  So is there any plan to merge it in prestosql?

[2021-04-16 05:23] xglv1985 commented on #2812
OK, I've left a message there. And I will try a different Spark version.

[2021-04-16 06:36] liijiankang opened #2837 "[SUPPORT]How to measure the performance of upsert"
**Describe the problem you faced**

I am a novice  and would appreciate your help.
We use Structured Streaming to consume the data in Kafka, and then write the data to the cow table of hudi.I want to know whether the performance of this program is high or low

![1](https://user-images.githubusercontent.com/42951757/114981730-0124d580-9ec1-11eb-837a-bb82e29294e2.png)
![2](https://user-images.github

[2021-04-16 06:51] zherenyu831 commented on #2837
It dependent on count of cores, configuration, ratio of insert/update, storage type
IMO, it is not slow

[2021-04-16 07:45] #2837 closed

[2021-04-16 08:57] tooptoop4 commented on #2609
u can raise the PR @njalan

[2021-04-16 09:54] 410680876f1 opened #2838 "[SUPPORT]User class threw exception: org.apache.hudi.exception.HoodieMetadataException: Error syncing to metadata table"
I tried to upgrade hudi to version 0.8.0 with set "hoodie.metadata.enable" true,but i throw an error when spark writting data to hudi

2021/04/16 14:49:03,837 [WARN][Class->HoodieBackedTableMetadataWriter][Method->bootstrapIfNeeded]: Metadata Table will need to be re-bootstrapped as no instants were found
2021/04/16 14:49:04,047 [ERROR][Class->ApplicationMaster][Method->logError]: User class threw

[2021-04-16 09:59] GaruGaru commented on #2609
It can be a nice idea to port changes to trinodb(prestosql) but there may be some differences in the `hive-connector` implementation

[2021-04-16 10:52] luopuya opened #2839 "HIVE_SKIP_RO_SUFFIX config not working"
How to produce:

[code]

It seems that it is not working.

buildSyncConfig (in HoodieSparkSqlWriter) did not set skipROSuffix from parameters
https://github.com/apache/hudi/blob/master/hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala#L398

[2021-04-16 12:34] AkshayChan opened #2841 "hoodie.cleaner.commits.retained max value?"
1. Is there a greatest value possible for the number of commits the hudi cleaner can retain?

2. What about the greatest possible value for `hoodie.keep.min.commits` and `hoodie.keep.max.commits`?

3. What is the difference between `hoodie.cleaner.commits.retained` and `hoodie.keep.min.commits`? If I understand correctly, the _cleaner commits retained_ is the maximum number of commits we can query

[2021-04-16 21:55] jtmzheng commented on #2566
@nsivabalan I tried bumping to 0.8.0 in the Dockerfile provided above but I'm running into same errors. Can you reprod on your end? Thanks!

[2021-04-17 03:03] nsivabalan commented on #2787
Can you try enabling schema validation and we can go from there.
[code]
set this property to true.

[2021-04-17 03:23] nsivabalan commented on #2656
I guess I understand what's happening. in COW, when creating a new data file, hudi reads existing data and merges w/ incoming data. From merging standpoint, partition path and record key pairs are considered unique. And so even if we insert the same batch again, new data file will not have duplicated data. One option is to create unique keys for every record as suggested by @pengzhiwei2018.

[2021-04-17 03:30] nsivabalan commented on #2656
my bad. In latest release, we added support for allowing duplicates w/ INSERTs btw. forgot about it when I posted earlier.
ensure you set "hoodie.merge.allow.duplicate.on.inserts" to true and your operation is "insert". you should see duplicates if you try to ingest same batch of records again.

[2021-04-17 03:31] #2656 closed

[2021-04-17 03:51] nsivabalan commented on #2588
Did you file a ticket w/ EMR then? if you know the actual root cause and the fix, would be good to bring it up w/ EMR folks so that EMR can patch the fix and others can benefit.

[2021-04-17 03:58] nsivabalan commented on #2588
and wrt your point about syncing hive only when required:
we might have to establish hive connection to get the schema and compare w/ latest hudi schema and to find differences in partitions. so not sure how we can avoid creating hive connections if no changes are done to schema and partitions.

[2021-04-17 04:31] nsivabalan commented on #2829
@pratyakshsharma : can you take this up. related to HoodieMultiTableDeltaStreamer

[2021-04-17 04:34] nsivabalan commented on #2830
Is it possible to give us some reproducible code snippet.  also, can you clarify if you are seeing duplicates in both spark ds/spark sql and hive or just in hive.

[2021-04-17 04:36] nsivabalan commented on #2834
@yanghua : related to Flink. can you (or loop in someone to) assist here.

[2021-04-17 04:37] nsivabalan commented on #2838
@prashantwason : can you assist here.

[2021-04-17 04:43] rubenssoto commented on #2588
@nsivabalan
I really tried, our migration to hudi was late more than 2 months, we have a 2 months ticket with AWS and no solution was gave to us.

We will create a file on table folder with all table columns, when the new dataframe have different columns comparing to that file, we will enable hudi hive sync. I think it could solve the problem for now, until aws gave to us a better solution.

Anoth

[2021-04-17 04:44] nsivabalan commented on #2839
looks like its a bug, have filed a [jira](https://issues.apache.org/jira/browse/HUDI-1806). Feel free to put in a patch if interested :)

[2021-04-17 04:44] #2839 closed

[2021-04-17 11:44] ssdong commented on #2818
@garyli1019 Thank you for getting back to me. I've created a [JIRA](https://issues.apache.org/jira/browse/HUDI-1807) for the `NoSuchElementException` issue and will work on it.
As for the incremental pulling concern, as the document says:
[code]

I believe it clearly states `The instanttime here need not necessarily correspond to an instant on the timeline`. It contradicts the behaviour I had obse

[2021-04-18 23:58] ngonik commented on #1679
Hey, I'm having the same issues with JSONEXception on EMR as mentioned above. Is there any update around that? Anything I can help with to make it work? Thanks!

[2021-04-19 06:52] wk888 commented on #2834
use hive query hudi... would the .hoodie file  copy to /tmp/hive/..???。 how does it work

[2021-04-19 08:54] yanghua commented on #2834
@wk888 Did you sync table information of hoodie to HMS?

[2021-04-19 09:17] wk888 commented on #2834
yes  .tables  hudu_test_1_rt  and  hudu_test_1_ro is create success by  run_sync_tool.sh

./hudi-hive-sync/run_sync_tool.sh  \

-----------------------------------------logs-------------------------
2021-04-19 16:26:18,871 INFO  [main] hive.HoodieHiveClient (HoodieHiveClient.java:updateHiveSQL(366)) - Executing SQL create database if not exists test
2021-04-19 16:26:18,995 WARN  [main] hive.HiveSy

[2021-04-19 14:43] nsivabalan commented on #2841
@n3nash @bvaradar : can you folks help here.

[2021-04-19 14:57] garyli1019 commented on #2818
Hi @ssdong , pulling from the active timeline only was the expected behavior. We can improve the documentation to clarify this. Archive the instants constantly are in order to avoid bulky active timeline, if we pull the instants from the archived timeline in every query, we lost the point to separate them. What I recommend is to tune the configuration that controls how many instants to store in th

[2021-04-19 14:58] nsivabalan commented on #2774
@vobukh : if your issue is resolved, can we close this ticket please.

[2021-04-19 14:59] nsivabalan commented on #2791
@prashantwason : if you have filed any tracking jiras, do update it here. we can close this if we have a tracking jira.

[2021-04-19 15:19] nsivabalan commented on #2832
can you please give us the command you used to launch spark and ran your commands.

[2021-04-19 15:34] nsivabalan commented on #2623
@hj2016 : were you able to resolve the jar conflict. if you can post your solution here, would benefit the author may be.

[2021-04-19 15:35] nsivabalan commented on #2546
Closing this due to inactivity.

[2021-04-19 15:35] #2546 closed

[2021-04-19 15:41] nsivabalan commented on #2544
Hey @cdmikechen and @li36909 : can you folks consider adding a faq entry [here](https://cwiki.apache.org/confluence/display/HUDI/FAQ) on timestamp and hive. we have seen few customers struggling on this. would benefit the community a lot.

[2021-04-19 15:42] nsivabalan commented on #2537
@jiangjiguang : gentle ping. will close this out after a week if there is no activity. but def interested to understand the issue and fix if required.

[2021-04-19 15:43] nsivabalan commented on #2509
@rubenssoto : just incase you haven't seen this https://github.com/apache/hudi/issues/2544. talks about timestamp and hive.

[2021-04-19 15:45] nsivabalan commented on #2490
Closing this out due to inactivity.

[2021-04-19 15:45] #2490 closed

[2021-04-19 15:49] raphaelauv opened #2848 "[SUPPORT] maven | jdk.tools:jdk.tools:1.7"
**Describe the problem you faced**

When I import the repo in Intellij ( IntelliJ IDEA 2021.1 (Community Edition) ) , the maven fail with a 1.7 jdk dependency
[code]

**To Reproduce**

clone the repo
open it with intellij

**Expected behavior**

Since openJDK 8 is expected as requirement, It would be nice to get rid of this

**Stacktrace**

org.apache.hive:hive-metastore:2.3.1
org.apache.hbase:hba

[2021-04-19 16:15] AdeloreSimiloluwa opened #2849 "[SUPPORT] - org.apache.hudi.exception.HoodieIOException: Could not load Hoodie properties from file:/tmp/hudi_trips_cow/.hoodie/hoodie.properties"
I am testing the [hudi setup](https://hudi.apache.org/docs/spark_quick-start-guide.html#setup) on my mac. While running the insert data instructions I ran into this error.

[code]
I am new to hudi and scala.

[2021-04-19 17:55] ssdong commented on #2818
Hey @garyli1019 thank you for the meticulous explanation. Yep, I was trying to confirm the “expected” behavior of incremental query. It makes sense to pull from _existing_ active timeline, given a bulky active time line would introduce a file listing issue and so we do archiving. Controlling the number of instants on the active timeline through `keep.max` is definitely one way to go. Adding extra

[2021-04-19 19:27] abhijeetkushe opened #2850 "[SUPPORT] S3 files skipped by HoodieDeltaStreamer on s3 bucket in continuous mode"
**Describe the problem you faced**
Summary: hoodiedeltastreamer application running on EMR in continuous mode has been skipping files regularly while reading from S3 bucket

We have a hoodiedeltastreamer application deployed in EMR which reads objects from source bucket : s3://<landing_bucket>/<event_type>/<year>/<mm>/<dd> which is populated by a kinesis firehose located in a different account and

[2021-04-20 02:21] ngonik commented on #1679
I was able to fix the JSONException error on EMR. Just needed to add the org.json package when deploying the cluster. I created a blog post for future reference: https://ngonik.medium.com/fix-jsonexception-error-when-syncing-hudi-table-to-aws-glue-data-catalog-on-emr-e4555aa573a4

[2021-04-20 06:08] codejoyan opened #2852 "[SUPPORT] Read Hudi Table from Hive - Hive Sync clarification"
I have a requirement to read Hudi table from Hive.
Documentation (https://hudi.apache.org/docs/querying_data.html#hive) says that we have to copy hudi-hadoop-mr-bundle-x.y.z-SNAPSHOT.jar in the aux jar path of the HiveServer2 host. I wanted to know what is the role of this jar and what happens internally when I start Hive with this jar.

While hive sync without copying the jar to the aux path, I g

[2021-04-20 06:42] yanghua commented on #2834
It seems you do not have hive authorized.

[2021-04-20 09:13] nevgin commented on #2832
Directly from the spark, queries are being handled wonderfully.
From spark for hive, according to the documentation, I removed the hive*.jar libraries. If you do not delete the hive does not work with the spark engine.
my guess is that the spark needs to be built with my version of the hive - 2.3.8.
This is true?

[2021-04-20 12:50] tooptoop4 commented on #2284
https://aws.amazon.com/blogs/big-data/build-slowly-changing-dimensions-type-2-scd2-with-apache-spark-and-apache-hudi-on-amazon-emr/

[2021-04-20 14:50] raphaelauv opened #2855 "[SUPPORT] hudi-utilities documentation"
**Describe the problem you faced**

The hudi-utilities are use in the [Docker Demo](https://hudi.apache.org/docs/docker_demo.html) , but there is no documentation on there purpose and if they can be considered "prod-ready" jobs.

**Expected behavior**
A Readme inside the folder hudi-utilities or some lines in the documentation explaining the purpose and if they can be considered prod ready jobs.

[2021-04-20 14:52] PavelPetukhov opened #2856 "[SUPPORT] Metrics Prometheus pushgateway"
I have discovered that you've added prometheus related changes
like here https://issues.apache.org/jira/browse/HUDI-210

But unfortunately there is no documentation related to pushing hudi metrics to Prometheus Push Gateway
https://hudi.apache.org/docs/metrics.html#hoodiemetrics

What parameters should be set in order to do that?

**Environment Description**

* Hudi version : 0.6.0

* Spark versio

[2021-04-20 22:34] nsivabalan commented on #2849
Can you clean up the base path once and retry.
rm -rf <basePath>
sometimes, there could be some residues.

[2021-04-21 01:01] wk888 commented on #2834
@yanghua it seems have no privilege create database not create table ....
and the table is created successed

[2021-04-21 01:16] yanghua commented on #2834
@wk888 OK, I reviewed the code, at `TableNotFoundException.java:53`, the path you provided triggered `FileNotFoundException | IllegalArgumentException`. Did you make sure the path exists?

[2021-04-21 02:32] wk888 commented on #2834
@yanghua
i can find  the hoodie file in hdfs:

![image](https://user-images.githubusercontent.com/16316415/115488269-cf2ebd00-a28c-11eb-85ac-73ed631b6f31.png)

but from the error log  you can see it find the file from the  /tmp/hive/root/1c7ec12e-4953-4913-bf9f-a09372b51609/.hoodie it seemd like the hive tm directory...so it cant find the .hoodie file

[2021-04-21 03:17] nsivabalan commented on #2850
We know one bug ATM w/ deltastreamer where if multiple files are present w/ same mod time, deltastreamer could skip some of them. https://issues.apache.org/jira/browse/HUDI-1723 https://github.com/apache/hudi/pull/2845
Do you think yours is falling into this category ?

[2021-04-21 03:20] nsivabalan commented on #2850
CC @xushiyan @bvaradar @n3nash

[2021-04-21 03:26] nsivabalan commented on #2855
yes, HoodieDeltastreamer is heavily used by many users, which is in Hudi-utilities-bundle.
https://issues.apache.org/jira/browse/HUDI-1815
@bvaradar : can you briefly go over what all is offered in Hudi-utilities for end users.

[2021-04-21 03:31] nsivabalan commented on #2852
Guess the documentation you have linked actually talks about the usage.
```This will ensure the input format classes with its dependencies are available for query planning & execution.```

[2021-04-21 03:34] nsivabalan commented on #2830
oh, I see you are using GLOBAL_BLOOM as your index. Can you tell us which version of hudi are you using and other env details.

[2021-04-21 06:47] shenbinglife opened #2857 "[SUPPORT] How to compile package hudi ?"
How to compile package hudi ?

mvn package -DskipTests -Dskip.tests=true

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------< org.apache.hudi:hudi >------------------------
[INFO] Building Hudi 0.7.0
[INFO] --------------------------------[ pom ]---------------------------------
[INFO]
[INFO] --- maven-enforcer-plugin:1.4.1:enforce (enforce-maven-version) @ hudi ---
[INFO]
[INF

[2021-04-21 09:14] bvaradar commented on #2855
Yes, Utilities like deltastreamer are used in production in many companies. You can also find some documentation in https://hudi.apache.org/docs/writing_data.html

[2021-04-21 09:17] bvaradar commented on #2852
Yes, hoodie-hadoop-mr-bundle has the input-format classes definition. HMS does perform validation when creating new tables which will check if the inputformat class is present. It will fail if the bundle is missing.

[2021-04-21 09:24] bvaradar commented on #2856
Here is an example config :

``` --hoodie-conf hoodie.metrics.on=true --hoodie-conf hoodie.metrics.reporter.type=PROMETHEUS_PUSHGATEWAY --hoodie-conf hoodie.metrics.pushgateway.host=<PUSH-GATEWAY-HOST> --hoodie-conf hoodie.metrics.pushgateway.port=9091 --hoodie-conf hoodie.metrics.pushgateway.job.name=<JOB_NAME> --hoodie-conf hoodie.metrics.pushgateway.random.job.name.suffix=false --hoodie-conf ho

[2021-04-21 09:25] bvaradar commented on #2857
This command is good. You should be seeing the bundle jars under packaging/

[2021-04-21 09:56] shenbinglife opened #2860 "[SUPPORT] How to get record key and partitionfields using hudi API ？"
I load a base path using HoodieTableMetaClient， but how to get key and partition feilds？

My Version： 0.7.0

[2021-04-21 10:03] shenbinglife commented on #2857
That's OK。 Please update readme.me

[2021-04-21 10:03] #2857 closed

[2021-04-21 10:40] 410680876f1 commented on #2838
This happened because of set “hoodie.datasource.write.partitionpath.field” to empty string("")

[2021-04-21 10:40] #2838 closed

[2021-04-21 11:17] nsivabalan commented on #2838
oh, I vaguely remember there was a jira filed that metadata sync does not work for non partitioned datasets. thanks for updating.

[2021-04-21 13:41] abhijeetkushe commented on #2850
@nsivabalan That is another issue which i wanted to ask ?.I also realized that hudi's checkpoint method a bug so doing something like this would be needed -> [aws-glue-job-bookmarking](https://stackoverflow.com/questions/51529192/aws-glue-job-bookmarking )
In my case this was not the bug as the file that got skipped did not have a more than 1 file with the same timestamp
 ctct-tdp-p2-send-5-2021-0

[2021-04-21 14:56] njalan commented on #2791
@prashantwason By the way  table is no a partition table.

[2021-04-21 18:28] codejoyan commented on #2852
Can we pass the jar when we are creating the Hudi table using Spark datasourcewriter and add the jars while reading using Hive from beeline/hive cli? In that case the inputformatclasses will be visible to the HMS while creating of the table as well as reading?

spark-shell \
--packages org.apache.hudi:hudi-spark-bundle_2.11:0.7.0,org.apache.spark:spark-avro_2.11:2.4.4,org.apache.avro:avro:1.8.2 \

[2021-04-21 21:07] rubenssoto commented on #2787
Yeah I can.

is it a safe configuration? Because I use a generic pipeline for many tables, so it will apply for all...

Thank you

[2021-04-21 22:26] xushiyan commented on #2850
@abhijeetkushe I think the bug is also related to [HUDI-1723](https://issues.apache.org/jira/browse/HUDI-1723) , in a rarer scenario of racing condition like you mentioned: some files written to S3 during the same second (T1) but last hudi commit just finished with checkpoint saved as T1. The cause is checkpoint is only made of time info and S3 granularity is unusually coarse (in seconds)

- A lon

[2021-04-21 23:59] n3nash commented on #2860
@shenbinglife you can just look for the columns `_hoodie_record_key` and `_hoodie_partition_path`

[2021-04-22 02:19] yanghua commented on #2834
@wk888 Sorry, I did not find the reason. It seems it was not caused by the flink write client. Can you test the whole workflow via spark?

[2021-04-22 03:08] JSK520 commented on #143
Please add me to the community-
18502070898@163.com

[2021-04-22 04:17] n3nash commented on #2489
@ishg Since we haven't heard from you in over a month, closing this ticket. Please re-open if your issue is unresolved.

[2021-04-22 04:17] #2489 closed

[2021-04-22 04:18] n3nash commented on #2482
@duanyongvictory Closing this ticket due to inactivity. Please re-open if your issue persists.

[2021-04-22 04:21] n3nash commented on #2696
@umehrot2 Are you able to jump in and help @kimberlyamandalu here ?

[2021-04-22 04:26] n3nash commented on #2688
@rubenssoto Are you able to resolve this issue or consider @ismailsimsek solution proposal. If this issue is resolved, please let me know so I can close this ticket

[2021-04-22 04:33] n3nash commented on #2614
@root18039532923 Are you able to try out hudi-0.7.0 to see if your issue is resolved ? Please let us know so we can close this ticket

[2021-04-22 04:37] n3nash commented on #2605
Closing this ticket, follow up on the opened JIRA

[2021-04-22 04:37] #2605 closed

[2021-04-22 04:40] n3nash commented on #2557
@kingkongpoon Please let us know if this issue persists, else we can close this ticket

[2021-04-22 04:42] n3nash commented on #1491
Closing this ticket due to inactivity, details and PR to follow up on the filed JIRA

[2021-04-22 04:48] n3nash commented on #1552
@FelixKJose Closing this ticket due to inactivity. Please feel free to re-open or open a new one if you continue to see issue. I understand you are also trying to get 0.8.0 version work with EMR to try out multi-writer. Let us know if you run into issues by opening a new ticket.

[2021-04-22 04:57] n3nash commented on #2529
@Magicbeanbuyer I've seen multiple people want to update the Hudi jar in their EMR cluster. Do you mind writing this in a FAQ ?

[2021-04-22 04:58] n3nash commented on #2513
@GintokiYs Closing this ticket due to inactivity. If you continue to see this issue, please re-open

[2021-04-22 05:02] n3nash commented on #2135
Closing this ticket due to inactivity and existing JIRA to follow up on.

[2021-04-22 06:13] n3nash commented on #2072
Closing this due to inactivity and follow up JIRA filed.

[2021-04-22 06:13] #2072 closed

[2021-04-22 06:14] n3nash commented on #2066
JIRA for making the key virtual -> https://issues.apache.org/jira/browse/HUDI-1449. This will be done in the next 2 months. Closing this ticket.

[2021-04-22 06:16] n3nash commented on #1981
@umehrot2 Do you know when 0.7 will support metadata table in Athena ?

[2021-04-22 06:17] n3nash commented on #1957
Closing this ticket due to inactivity. @jiangok2006 please re-open if your slow issue continues to persist.

[2021-04-22 06:24] n3nash commented on #1737
Closing this ticket since the issue seems resolved by 0.7.0 and no activity in the last 60+ days. @kimberlyamandalu feel free to re-open or open a new ticket.

[2021-04-22 14:59] abhijeetkushe commented on #2850
@xushiyan Thanks for your prompt reply.I agree that the issue I am facing is somewhat related to [HUDI-1723](https://issues.apache.org/jira/browse/HUDI-1723).
It is great that the hudi team is actively working on addressing this issue.We have come up with the below interim solution to address our issue

- We are using INSERT while writing our data as that is both memory and time efficient so using

[2021-04-22 17:51] ishg commented on #2489
Just FYI this isn't me. The OP is @lshg (with a L, not I) 😄

[2021-04-22 21:46] jackye1995 commented on #2123
Just FYI, a similar fix has been done after that ticket was created, and this issue should no longer exist in Athena. You can now use timestamp as the column type and there is no need to perform a conversion using something like `from_unixtime(createdt/1000000)`.

[2021-04-23 03:31] njalan commented on #2620
I face the same issue. It usually takes 1-2 minutes for getting small files from partitions in one micro batch(60 seconds interval). My storage is s3. But it looks like it is working fine on hdfs.

[2021-04-23 11:29] putaozhi123 opened #2869 "[SUPPORT] java.lang.ClassCastException: org.apache.hadoop.io.LongWritable cannot be cast to org.apache.hadoop.hive.serde2.io.TimestampWritable when I query a hudi table"
The Hive tables created are as follows after hudi sync ： CREATE EXTERNAL TABLE  IF NOT EXISTS `tmp`.`hud_test`( `_hoodie_commit_time` string, `_hoodie_commit_seqno` string, `_hoodie_record_key` string, `_hoodie_partition_path` string, `_hoodie_file_name` string, `name` string, `age` int, `address` string, `score` DECIMAL(10 , 4), `ts` TIMESTAMP) PARTITIONED BY (`default` String) ROW FORMAT SERDE '

[2021-04-23 13:07] hushenmin opened #2871 "[SUPPORT]"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-04-23 13:07] #2871 closed

[2021-04-23 15:06] WilliamWhispell commented on #2515
@nsivabalan - what commit fixes the issue and what version of hudi contains the fix? Is the fix included in 0.8.0 ?

[2021-04-23 19:38] xushiyan commented on #2850
@abhijeetkushe the logic looks ok, the checkpoint saved will just be the latest file you read during last commit

[2021-04-23 20:26] nsivabalan commented on #2824
@QiAnXinCodeSafe :Hadoop upgrade will not be easier one. Do you know if other well known projects have upgraded?

[2021-04-23 20:27] nsivabalan commented on #2827
@QiAnXinCodeSafe : again, hive upgrade may not be easy. Will check around if other well known projects have started moving away from hive 2.3.1.

[2021-04-25 07:34] hushenmin opened #2874 "[SUPPORT] Can not query mor `_rt` table by FlinkSQL Writing ."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-04-25 08:59] hushenmin commented on #2648
I also meet the problem  when i use spark/hive to read the mor rt table writed by flink.I think it's a critical bug.
Hope you solve this problem first。

[2021-04-26 05:12] jtmzheng opened #2878 "[SUPPORT] Unable to read Hudi MOR data set in a test on 0.8"
**Describe the problem you faced**

This is the same issue as https://github.com/apache/hudi/issues/2566#issuecomment-821583643 in 0.8, seems like the latest version did not fix the issue (unless I'm doing something wrong here).

**To Reproduce**

I was able to reproduce this issue with the Dockerfile below, building with docker build -f hudi.Dockerfile -t test_hudi . and running py.test -s --verb

[2021-04-26 06:05] n3nash commented on #2878
@nsivabalan Can you see if this is still an issue ?

[2021-04-26 06:06] n3nash commented on #2874
@danny0405 @yanghua Can one of you take a look at this ?

[2021-04-26 06:16] n3nash commented on #2869
@putaozhi123 This is a known issue, a workaround has been mentioned here -> https://github.com/apache/hudi/issues/2544#issuecomment-815849870. Can you please try this and see if it works for you ?

[2021-04-26 06:18] n3nash commented on #2855
@raphaelauv I'm closing this ticket since you have found the documentation you are looking for. We will add more docs to read me under the filed JIRA.

[2021-04-26 06:18] #2855 closed

[2021-04-26 06:25] n3nash commented on #2848
@raphaelauv I don't think there is any dependency of jdk.tools in Hudi repository. Looked through the POM as well as any transitive dependencies.

hoodie % mvn dependency:tree > temp
hoodie % cat temp | grep jdk.tools
[INFO] |  |  \- jdk.tools:jdk.tools:jar:1.8:system
[INFO] |  |  |  \- jdk.tools:jdk.tools:jar:1.7:system
[INFO] |  |  |  \- jdk.tools:jdk.tools:jar:1.7:system
[INFO] |  |  |  \- jdk.

[2021-04-26 06:35] hushenmin commented on #2874
@n3nash
There are these files under the **.hoodie** path of the table. There are many files. I uploaded the nearby **hoodie.txt**

[hoodie.txt](https://github.com/apache/hudi/files/6374756/hoodie.txt)

[2021-04-26 06:50] n3nash commented on #2841
@AkshayChan Please find my answers inline

The num_commits is eventually converted to an integer, so you can pass Integer.MAX_VALUE. Although, that will increase the number of files on the .hoodie folder and eventually cause slowness due to file listing (if on S3)

See above. Ideally, you want to set the value of `hoodie.keep.min.commits` to a lower value than `hoodie.keep.max.commits`. I've expla

[2021-04-26 06:53] danny0405 commented on #2874
It is because flink has global index, and it only writes log files, while the spark reader requires that a base file must exist, which is buggy.

[2021-04-26 06:54] n3nash commented on #2832
@nevgin Yes, this is true. Spark 2.x still uses Hive 1.x (https://github.com/apache/spark/blob/v2.4.6/pom.xml#L129) whereas spark 3.x uses Hive 2.x (https://github.com/apache/spark/blob/master/pom.xml#L131). Since Hudi support Hive 2.x+, this workaround is needed for spark 2.x

[2021-04-26 06:55] n3nash commented on #2830
@wsxGit Can you help answer @nsivabalan question so we can help triage your issue ?

[2021-04-26 06:55] n3nash commented on #2829
@pratyakshsharma Can you take this up ?

[2021-04-26 07:07] n3nash commented on #2813
@qianjiangbing Thanks for confirming.

@MyLanPangzi I just noticed that you were using Hive version : 1.1 cdh 5.6.12. This is a very old version of Hive. The latest Hudi builds only work with Hive 2.x+ versions. Are you able to migrate to a higher version of Hive ?

[2021-04-26 07:08] n3nash commented on #2812
@xglv1985 Thanks, were you able to try a different spark version to see if it works for you ?

[2021-04-26 07:09] n3nash commented on #2810
@rubenssoto Does @pengzhiwei2018 recommendation solve your problem ?

[2021-04-26 07:21] n3nash commented on #2806
@tmac2100 Yes, that is expected. The more number of fileIds touched by your updates, the higher the runtime. Although, there could be more factors governing this.

1. Are you setting your bloom filter setting correctly ? Depending on the number of entries in your file, you need to set your bloom filter setting high enough to avoid false positives. Check here -> https://github.com/apache/hudi/blob/

[2021-04-26 07:22] n3nash commented on #2802
@aditiwari01 Any luck reproducing the issue and providing the stack trace ?

[2021-04-26 07:22] n3nash commented on #2791
@njalan I think there is an issue enabling the metadata table for a non-partitioned table. @prashantwason Can you file a JIRA for this ?

[2021-04-26 08:32] xglv1985 commented on #2812
Yes, I am trying Spark 3.0.0 to see if it work for me, and I will feedback once the result comes out.

[2021-04-26 09:27] aditiwari01 commented on #2802
Have quite a busy sprint. I'll try to get back. If not, I'll update by weekend.

[2021-04-26 11:26] PavelPetukhov commented on #2856
Thanks a lot for the reply

I my case I am getting the following error:

1/04/26 13:29:52 WARN prometheus.PushGatewayReporter: Can't push monitoring information to pushGateway
java.net.UnknownHostException: https
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:184)
	at java.net.SocksSocketImpl.connect(SocksSocketImpl.java:392)
	at java.net.Socket.connect(Socket.java:607)

[2021-04-26 14:32] abhijeetkushe commented on #2850
Thanks your help.Closing this issue

[2021-04-26 14:32] #2850 closed

[2021-04-26 20:49] jiegzhan opened #2883 "[SUPPORT] Does Hudi support flink DataStream API?"
Besides [flink-sql-client](https://hudi.apache.org/docs/flink-quick-start-guide.html#setup), does hudi support [flink DataStream API](https://ci.apache.org/projects/flink/flink-docs-stable/dev/connectors/kafka.html#kafka-consumer)?

[code]
Given DataStream[String] above ^^^, is there a way to publish it to hudi table? If yes, any scala/java code snippet? Thanks for your help.

[2021-04-27 00:14] cdmikechen commented on #2544
@nsivabalan Sure ~ I'll deal with it next week.

[2021-04-27 04:07] n3nash commented on #2874
@danny0405 Thanks for that explanation. Is there already a JIRA filed for this ? Does all implementation of flink use global index ? Or is there a non-global index implementation for merge on read tables ?

[2021-04-27 04:29] n3nash commented on #2787
@rubenssoto This config is "safe" in a way that it will throw an error and fail the pipeline if there is any schema evolution issue. So you can turn it on and if pipeline fails, please get the logs so we can debug and you can turn this config off if needed.

[2021-04-27 04:37] n3nash commented on #2774
@vobukh Closing this ticket since this seems to have resolved your issue. Feel free to re-open if otherwise

[2021-04-27 04:42] n3nash commented on #2723
@liijiankang Does this issue come back when you turn on async cleaning ? If yes, can you file a JIRA ticket and ping back the ticket here so we can look into this ?

[2021-04-27 04:47] n3nash commented on #2688
@rubenssoto Gentle ping

[2021-04-27 04:55] n3nash commented on #2680
@ztcheck Since this issue is not reported by other users, my guess is that this has something to do with your environment. If you are able to pin point which jar helped resolved the issue, that will be helpful to provide a longer term fix, if not, we can close this ticket. Let me know

[2021-04-27 04:56] n3nash commented on #2657
@garyli1019 Are you able to pick this up now ?

[2021-04-27 04:56] liijiankang commented on #2723
@n3nash https://issues.apache.org/jira/browse/HUDI-1855

[2021-04-27 04:57] n3nash commented on #2648
@hushenmin Thanks for the cross comment. Yes, it looks like for _rt view, for indexType = global when there are no base data files, this exception is thrown. We will take this up soon.

[2021-04-27 05:00] n3nash commented on #2647
@liujinhui1994 Are you able to provide information that @nsivabalan and @bvaradar have asked ? We can help triage this issue, if not, I will close this ticket soon.

[2021-04-27 05:01] n3nash commented on #2641
@garyli1019 Are you able to take a look at this one as well ?

[2021-04-27 05:02] n3nash commented on #2639
@afeldman1 I think this issue is related to the AWS EMR changes for Hudi 0.6. As @rubenssoto described, the Hudi 0.7 works fine. Closing this ticket, feel free to re-open if issue still persists for you.

[2021-04-27 05:02] #2639 closed

[2021-04-27 05:14] n3nash commented on #2623
@hj2016 Thanks for the update. @root18039532923 Is your issue resolved now ? Were you able to package the jar and try it out

[2021-04-27 05:24] n3nash commented on #2620
@kimberlyamandalu @njalan @codejoyan There are a few problems when using BLOOM_INDEX

1. Depending on the number of entries in the parquet file, if the BLOOM_INDEX num_entries is not configured correctly, it will lead to lots of false positives that results in bloom index spending more time looking up data. You can check the default bloom index entries here -> https://github.com/apache/hudi/blob/5

[2021-04-27 05:30] n3nash commented on #2609
I've filed a ticket here -> https://issues.apache.org/jira/browse/HUDI-1856. Let's move the conversation to the JIRA. Happy to guide you @GaruGaru or @njalan if you would like to upstream the change in Trino.

[2021-04-27 06:49] danny0405 commented on #2874
@n3nash Flink writer now only use one index implementation which is global for MOR and COW tables.

I missed that this is Hive reading, let me figure out which variable causes NPE here ~

[2021-04-27 08:58] MyLanPangzi commented on #2813
Sorry, I can't upgrade the cluster version. so the only option is using org.apache.hudi.hadoop.HoodieParquetInputFormat for mor table in my cluster.
Can i close the issue if you haven't any fix?

[2021-04-27 13:44] rancylive opened #2887 "[SUPPORT]"
**Describe the problem you faced**

We are writing hudi files with hive sync enabled using spark hudi library in dataproc cluster. The write job is extremely slow. For a dataset of 560 MB, it is taking more than an hour to complete the job. Also we observed that the shuffle is very high which is more than 42 GB for an input data of 560 MB only. Please consider below details and help us with proper

[2021-04-27 13:47] rancylive commented on #2887
@vburenin please help here

[2021-04-27 14:54] vburenin commented on #2887
@rancylive can you take a look at spark execution plan, take snapshot how long each stage takes and print it out here? Also, would be interesting to know how many partitions you end up with. What is the CPU load on the executors during each stage?

On my side every time I observe any such slowness without a meaningful CPU load it is typically IO bottleneck somewhere.

You also may want to upgrade

[2021-04-27 15:21] PavelPetukhov opened #2888 "[SUPPORT] Hudi spark submit job crashes at some point after eating all memory available"
Hi,

I am facing the following issue. After spark submit start (attached the whole request with parameters below) it fails on

Application application_1617982296136_0040 failed 2 times due to AM Container for appattempt_1617982296136_0040_000002 exited with exitCode: -104
For more detailed output, check the application tracking page: http://xxx:8088/cluster/app/application_1617982296136_0040 Then

[2021-04-27 22:17] rubenssoto commented on #2787
Hi Guys,

I tried with another table...but the error message doesn't help

`java.lang.Exception: Error on Table: tracking_speedy_gonzales_app, Error Message: org.apache.hudi.exception.HoodieUpsertException: Failed upsert schema compatibility check.
	at TableProcessorWrapper$.$anonfun$main$4(TableProcessorWrapper.scala:32)
	at TableProcessorWrapper$.$anonfun$main$4$adapted(TableProcessorWrapper.sca

[2021-04-27 22:18] vburenin commented on #2641
@n3nash This error pops up even with Spark 3.0.1

[2021-04-28 01:06] vburenin commented on #2641
It looks like IncompatibleSchemaException class has been moved under SchemaConverters scope, so it is no longer available on the same path.

[2021-04-28 01:16] vburenin commented on #2641
Okay, the fix apparently easy. The exception IncompatibleSchemaException is only being thrown and never handled anywhere. so it is used only for the reason as a reusable code.

However, the problem doesn't stop there.
Here is more errors after I fixed it:
[code]

[2021-04-28 03:21] liujinhui1994 commented on #2647
It seems that it can be closed first. Recently we mainly use spark/presto. If I meet later, I will find a way to locate it in detail. Thank you for your attention.
@n3nash

[2021-04-28 03:21] #2647 closed

[2021-04-28 11:02] nsivabalan commented on #2887
while you update the ticket w/ more info, curious to know if you had set partition path to empty intentionally?
[code]

[2021-04-28 22:43] diogodilcl commented on #1679
Hudi  version: 0.7.0
Emr : 6.2

Hi,

when I use:

`"hoodie.datasource.hive_sync.use_jdbc":"false"`

I have the following exception:

[code]
Existing tables are updated, but for tables that need to be created I get the exception above.

[2021-04-29 08:55] garyli1019 commented on #2641
that's right. Avro serialization class becomes private. We need to move those classes into hudi's repo.
Created a ticket for this https://issues.apache.org/jira/browse/HUDI-1870

[2021-04-29 08:55] garyli1019 commented on #2641
Closing this issue and let's track this on Jira.

[2021-04-29 08:55] #2641 closed

[2021-04-29 09:19] vobukh commented on #2774
@n3nash , why did you close the issue? I replied that we prefer the first alternative from your list. Since you've closed the issue, I cannot reopen it.

[2021-04-29 09:23] vobukh opened #2897 "[SUPPORT] NoSuchMethodError on exposing metrics"
Reopening mistakenly closed issue https://github.com/apache/hudi/issues/2774
Please fill free to close it and re-open https://github.com/apache/hudi/issues/2774

[2021-04-29 09:45] cdmikechen commented on #2589
@t0il3ts0ap I've open a new project to deal with ddl by debezium which can identify the DDL SQL and transform the structural changes to the new Kafka message. If you have time, maybe you can try it.
In debezium, the change of structure will not trigger the data push. This leads to the fact that if I change the field from a to b, no new data will appear in Kafka unless DML operation is generated.

[2021-04-29 11:26] rancylive commented on #2887
@nsivabalan , Yes, we had to  set partition path to empty intentionally. We have a case where there are multiple column as primary key and no partition column. For this case, the KEYGENERATOR_CLASS_PROP would be ComplexKeyGenerator. Doing so hudi was producing a default partition with name default.
Since, The KEYGENERATOR_CLASS_PROP is same for both primary key and partition column, we did not had

[2021-04-29 12:26] aditiwari01 commented on #2802
@n3nash Sorry for the delay. Attaching the complete stack trace for the issue faced.
Note: Here "newCol" was not present in the initial schema. I updated only one partition out of four with the new schema and when I try to do a select * on rt table the following error is thrown:

[code]

[2021-04-29 17:41] AkshayChan opened #2901 "[SUPPORT] Multiple primary keys + Multiple partitions doesn't work"
When using multiple primary keys and multiple partitions, Hudi simply inserts a new record instead of updating the record, when we change some fields/columns in the record (not the primary key or precombine field). We are writing the data to Amazon S3 and visualizing the data using Amazon Athena. Please find our Hudi configurations below:

`primary_keys` and `partition_keys` are python lists conta

[2021-04-29 17:43] AkshayChan commented on #2901
@n3nash can you help with this, thanks in advance :)

[2021-04-29 18:09] AkshayChan commented on #2841
@n3nash Thanks a lot for your response. So if I understand correctly, if `hoodie.cleaner.commits.retained` is set to 24 and we have 25 commits, we will be unable to see the 1st commit in Amazon Athena/S3/other query engines like Redshift Spectrum.

Will we also not be able to point-in-time/incrementally query this 1st commit through spark anymore? Thanks

[2021-04-30 13:50] nsivabalan commented on #2887
@rancylive : got it. yeah, complexKeyGen is the way to go. would you mind giving us a screen shot of spark jobs and stages UI.

[2021-04-30 15:41] nsivabalan commented on #2878
Can you try hudi-spark**3**-bundle_2.12:0.8.0 (its -spark**3**- and not -spark-)

[2021-04-30 15:42] nsivabalan commented on #2878
scala 11 and spark2: hudi-spark-bundle_2.11:0.8.0
scala 12 and spark2: hudi-spark-bundle_2.12:0.8.0
scala 12 andspark3: hudi-spark3-bundle_2.12:0.8.0

[2021-04-30 16:30] nsivabalan commented on #2787
sure, will look into it. for now, looks like you are interested in knowing detailed error msg on schema incompatability. is my understanding right ?

[2021-04-30 16:36] nsivabalan commented on #2620
[FAQ link](https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-HowdoIconfigureBloomfilter(whenBloom/Global_Bloomindexisused)?) on how to configure bloom configs.

[2021-04-30 19:22] xushiyan opened #2905 "Website redesign"
A thread to track discussion for website redesign and iterations.

To post mock-ups and discuss improvements.

cc @vinothchandar

[2021-04-30 21:43] WilliamWhispell commented on #2265
We are experiencing the same issue using hudi 0.8.0 - Setting the write-old-list-structures to false also produces the second stack shown above. This has the potential to hold up a production release for us. We need the ability to handle reading and writing parquet files that use newer 3 -level format.

[2021-04-30 22:31] umehrot2 commented on #2696
@kimberlyamandalu @n3nash sorry for being late to get on this. This resource should help, please check it out:
https://aws.amazon.com/premiumsupport/knowledge-center/emr-timeout-connection-wait/

Essentially try increasing the connection count for EmrFS and see if that helps.

[2021-04-30 23:42] WilliamWhispell commented on #2265
So another side effect, when you remove the breaking entry from the example above, hudi_key 4 that has the null in the array:

docker run -d -p 8888:8888 -v ./data:/home/jovyan --name spark jupyter/pyspark-notebook

docker exec -it jupyter/pyspark-notebook /bin/bash

spark-shell   --packages org.apache.hudi:hudi-spark3-bundle_2.12:0.8.0,org.apache.spark:spark-avro_2.12:3.0.1   --conf 'spark.serial

[2021-04-30 23:58] WilliamWhispell commented on #2265
Then on the above, if we start pyspark with --conf 'spark.hadoop.parquet.avro.write-old-list-structure=false'

when we write hudi with the same steps as above we get:

21/04/30 23:54:57 ERROR HoodieCreateHandle: Error writing record HoodieRecord{key=HoodieKey { recordKey=5 partitionPath=default}, currentLocation='null', newLocation='null'}
java.lang.ClassCastException: repeated binary array (UTF8)

[2021-05-01 04:04] nsivabalan commented on #2723
can you please update the jira w/ stack trace as well.

[2021-05-01 04:09] nsivabalan commented on #2883
@yanghua @leesf @dannyhchen : can one of you folks take this up

[2021-05-01 04:11] nsivabalan commented on #2856
@bvaradar : while you respond to author, can you add a faq entry(or some other documentation) on how to push hudi metrics to Prometheus Push Gateway.

[2021-05-01 04:13] nsivabalan commented on #2806
[link](https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-HowdoIconfigureBloomfilter(whenBloom/Global_Bloomindexisused)?) to faq to assist in configuring bloom filter configs.

[2021-05-01 04:21] nsivabalan commented on #2812
While we wait for your response, can you help answer these questions too
- Did you hit this issue right from the beginning when you start incremental query? Or do you see after some time(ie. few incremental pulls succeeded and after sometime you hit this error and after that its consistent?
- If its later, can you give us the contents of ".hoodie". I am trying to get a sense if this happens just a

[2021-05-01 16:52] ismailsimsek opened #2910 "java.lang.NoSuchMethodError: 'java.lang.String org.apache.http.client.utils.URLEncodedUtils.formatSegments"
Getting
`java.lang.RuntimeException: java.lang.NoSuchMethodError: 'java.lang.String org.apache.http.client.utils.URLEncodedUtils.formatSegments(java.lang.String[])'`

A clear and concise description of the problem.
dependency to `org.apache.httpcomponents:httpclient` conflicts with embedded class in `hudi-spark-bundle_2.12`
im not expert on this but i belive `hudi-spark-bundle_2.12`  should use sh

[2021-05-01 19:44] jtmzheng commented on #2878
Ah that worked, thank you @nsivabalan !

[2021-05-02 00:22] nsivabalan commented on #2901
@AkshayChan : Can you try your query from spark.sql or hive and let us know if you see the same behavior.
btw, I see that you are setting the operation type to "bulk_insert". this operation will not do any de-dup or resolution as you expect. This is intended only for first time loading data into hudi. Successive operations should be "upsert".

[2021-05-02 00:27] nsivabalan commented on #2806
If your record keys are random UUIDs and does not have much ordering semantics, then SIMPLE index would help your use-case.

[2021-05-02 00:49] nsivabalan commented on #2888
@PavelPetukhov :  I see that you have given only 2 as parallelism. Can you try increasing to 50 may be.

--hoodie-conf hoodie.upsert.shuffle.parallelism=50
--hoodie-conf hoodie.insert.shuffle.parallelism=50
--hoodie-conf hoodie.delete.shuffle.parallelism=50
--hoodie-conf hoodie.bulkinsert.shuffle.parallelism=50

Also, I see you are setting the operation as "BULK_INSERT". Wanted to clarify what thi

[2021-05-03 09:37] rancylive commented on #2887
<img width="1680" alt="Screenshot 2021-04-14 at 1 42 45 PM" src="https://user-images.githubusercontent.com/13742824/116861674-1f106b00-ac21-11eb-8270-37e6a2bf9536.png">
<img width="1680" alt="Screenshot 2021-04-14 at 1 44 07 PM" src="https://user-images.githubusercontent.com/13742824/116861687-2899d300-ac21-11eb-8289-8d95c95ccf0a.png">
[Spark_Parsed_Logical_Plan.txt](https://github.com/apache/hudi

[2021-05-03 10:34] #2813 closed

[2021-05-03 11:37] Akshay2Agarwal opened #2913 "[SUPPORT] Hudi + Hive Metastore Sync"
Do we need hive server compulsorily for running hive sync as I tried to use metastore jdbc url in `hoodie.datasource.hive_sync.jdbcurl` as the mysql jdbc url. It gave syntax error in SQL statement when tried to sync hudi table.

**To Reproduce**

Steps to reproduce the behavior:

1.```spark-shell \
  --packages org.apache.hudi:hudi-spark-bundle_2.11:0.8.0,org.apache.spark:spark-avro_2.11:2.4.4 \

[2021-05-03 12:04] Akshay2Agarwal commented on #2913
Reason behind asking this that, we are planning to use presto for querying, so we don't need hiveserver to query if metastore is only getting used. Let us know if we missed something while reading dependencies and structure of hudi.

[2021-05-03 17:05] rubenssoto commented on #2787
yeah thats it, because with this error I dont know how to solve the issue.

@nsivabalan

[2021-05-03 18:21] diogodilcl commented on #2688
@n3nash I have a similar problem, same environment and I tried to solve it using @ismailsimsek dependencies but without success.

[2021-05-03 19:05] codejoyan commented on #2852
@n3nash @bvaradar Please let me know if I will miss out any features if I do this?

Step 1: Save the dataframe as Hudi table without the hive_sync options.
Step 2: Use beeline and use add jars
Step 3: Create an external hive table pointing to the hudi table path with the hoodie metadata columns as below

[code]

[2021-05-03 21:08] prashantwason commented on #2791
To be handled as part of https://issues.apache.org/jira/browse/HUDI-1592

Closing this as we have a tracking ticket

[2021-05-04 07:33] Akshay2Agarwal commented on #2913
I read further about hudi's integration with query engines, from what I can understand, is it due to the reason that we don't have a separate hudi connector for presto or other engines and hudi has only hive plugin.

[2021-05-04 09:03] vinothchandar commented on #2905
Please loop others in :) . Look forward to the conversation

[2021-05-04 12:56] ZiyueGuan-bytedance commented on #2648
@hushenmin if you need a rapid but not good fix. I could offer a temp branch. This can be fixed by temporarily disable some feature of canIndexLogFile. However, such action is opposite to the roadmap of community. I have checked it works well in prod.

[2021-05-04 12:58] guanziyue commented on #2648
@hushenmin if you need a rapid but not good fix. I could offer a temp branch. This can be fixed by temporarily disable some features of canIndexLogFile. However, such action is opposite to the roadmap of community. I have checked it works well in prod.

[2021-05-04 13:05] #2878 closed

[2021-05-04 14:05] nsivabalan commented on #2787
If you happened to know both schemas(old and new), and if you can give it to me, I can run it locally to see schema incompatible issue. Or I can give you a patch that you can try it out on your end. Let me know how you wanna proceed.

[2021-05-04 14:11] nsivabalan commented on #2905
Is this most around tabification or much more. I have rough idea around tabification.

![Screen Shot 2021-05-04 at 10 08 58 AM](https://user-images.githubusercontent.com/513218/117016700-f63fb280-acc0-11eb-8487-da9b6ffca732.png)

![Screen Shot 2021-05-04 at 10 09 07 AM](https://user-images.githubusercontent.com/513218/117016737-fe97ed80-acc0-11eb-8887-8db9e90172c6.png)

![Screen Shot 2021-05-04 at

[2021-05-04 14:33] nsivabalan commented on #2265
I guess I know why the config is not honored. Have put up a draft PR [here](https://github.com/apache/hudi/pull/2914). Would you mind testing it out and letting us know if this works at least for arrays w/ non null and have 3 level list format.

Params that will be honored w/ the fix are:
parquet.avro.add-list-element-records
parquet.avro.write-old-list-structure

[2021-05-04 14:52] nsivabalan commented on #2813
CC @n3nash

[2021-05-04 14:54] nsivabalan commented on #2913
@bhasudha @n3nash @bvaradar : can you folks take this up.

[2021-05-04 15:01] nsivabalan commented on #2852
@bvaradar : would you mind following up with this when you get a chance. thanks.

[2021-05-04 15:06] nsivabalan commented on #2648
Here is the PR raised on this behalf: https://github.com/apache/hudi/pull/2902
@n3nash : I see there were 2 jiras filed and later one was closed as duplicate. So, can you confirm that the PR fixes the issue raised in this ticket.

[2021-05-04 15:24] nsivabalan commented on #2887
bloom index is where it consumes most time. Can you try "SIMPLE" as your index type(hoodie.index.type).
Does your record keys have any ordering semantics in them? like timestamp or are they completely random UUIDs sort of. trying to gauge if you will benefit from range pruning in other index types.

[2021-05-04 15:27] nsivabalan commented on #2887
oh, btw I forgot about the key gen actually. You could use [NonpartitionedKeyGenerator](https://github.com/apache/hudi/blob/master/hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/keygen/NonpartitionedKeyGenerator.java) for your use-case.

[2021-05-04 15:59] nsivabalan commented on #2910
@ismailsimsek : is it possible to give us steps to reproduce this.

[2021-05-04 19:10] WilliamWhispell commented on #2265
@nsivabalan - thanks for the quick fix. I compiled this for spark3 scala2.12 and confirmed it now ran in pyspark without error and produced the new 3-level list format when setting the appropriate params.

[2021-05-05 03:57] nsivabalan commented on #2265
awesome, thanks for confirming. Can I close this ticket then?

[2021-05-05 10:24] ismailsimsek commented on #2910
the [project is here ](https://github.com/memiiso/debezium-server-batch)
it uses debezium and replicates database events to Hudi table as mini batches
the [pull request and pipeline error is here ](https://github.com/memiiso/debezium-server-batch/pull/11)

i believe this two dependencies are having conflict, i think hudi bundle loads the class but its bundled older version of httpclient library an

[2021-05-05 10:40] AkshayChan commented on #2901
@nsivabalan thanks for your response, I accidentally posted the bulk insert configuration, I have updated it to our upsert configuration that we are actually using. Yes I believe I'm seeing the same behavior :)

[2021-05-05 12:41] WilliamWhispell commented on #2265
@nsivabalan - I think the fix allows us to avoid the issues originally reported, but its not the default setting. So people writing lists without the configs may still see the issues shown by @konradwudkowski

[2021-05-05 13:54] nsivabalan commented on #2265
got it. We usually don't do any backporting unless there is some regression. This should be available in next release. Closing the ticket for now. Thanks for making hudi better for everyone :) Will add an faq entry that until 0.8.0 3 level list format may not be honored/supported.

[2021-05-05 14:51] jkdll opened #2916 "[SUPPORT] Hudi + AWS Redshift Spectrum Table"
Hi,
We are running Hudi on AWS EMR 5.33, with Hive configured to use an external metastore hosted on a MySQL Database (via Amazon RDS). We are attempting to read data from AWS Redshift Spectrum using an external table.

First we ingest the data in Hudi, then add partition on Hive, then create the external schema. Upon querying, we get the following error (full error below):
`SQL Error [500310] [XX

[2021-05-05 16:51] WilliamWhispell commented on #2265
ok, thanks. Yes the fix works for me

[2021-05-06 08:32] liijiankang opened #2917 "[SUPPORT]NoSuchElementException: No value present"
**Describe the problem you faced**
Kafka data written to the hudi MOR table throws an exception

**Expected behavior**
Kafka data is written to the hudi COW table without exception .Hope it can run normally like MOR table .

**Environment Description**

* Hudi version :0.6.0

* Spark version :2.4

* Storage :HDFS
![1](https://user-images.githubusercontent.com/42951757/117267210-9f84d500-ae88-11eb-

[2021-05-06 08:45] liijiankang commented on #2917
![2](https://user-images.githubusercontent.com/42951757/117268956-6b121880-ae8a-11eb-8448-eed776dbcdcf.jpg)

[2021-05-07 02:01] #2917 closed

[2021-05-07 05:38] tandonraghav opened #2919 "[SUPPORT] Schema Evolution Failing Spark+Hudi- Adding New fields"
I am facing issue in Schema Evolution. While adding a new field to the Spark DF, it is giving exception if there are previous Log files/Records which do not have that field.

I can see *type* is reversed in *test* and there is no default value(In Hoodie Log files). Is it because of the SchemaConvertors?

**Environment Description**

* Hudi version : 0.8.0

* Spark version : 2.4

* Hive version :

[2021-05-07 06:45] yanghua commented on #2883
Yes, you can change or rewrite your `HoodieFlinkStreamer` so that you can replace the source or do more things.

Or, you can even reuse the `HoodieFlinkWriteClient` for more scalability if you want.

[2021-05-08 02:12] root18039532923 opened #2924 "[SUPPORT]presto query:could not initialize class org.apache.hudi.common.util.HoodieAvroUtils"
**Environment Description**

* Hudi version :0.6.0

* Spark version :2.4.0

* Hive version :2.1.1

*presto version:0.240

* Hadoop version :3.0.0

* Storage (HDFS/S3/GCS..) :hdfs

* Running on Docker? (yes/no) :no

**Additional context**
When I query mor_rt table,it happened:
![presto error](https://user-images.githubusercontent.com/45333549/117522411-cc023380-afe5-11eb-8a49-f47daf2c01e3.jpg)

[2021-05-08 02:13] root18039532923 commented on #2924
I think it may be due to log files.Because I query mor_ro table,it is ok. @msridhar

[2021-05-08 02:57] wsxGit commented on #2830
I have found reason ,hoodie.datasource.write.operation use UPSERT  sloved the issue

[2021-05-08 03:56] tandonraghav commented on #2919
@vinothchandar @nsivabalan  Can you guys please help here. I am stuck and cant things forward if Schema Evolution is not happening.

[2021-05-10 06:00] aditiwari01 commented on #2802
@n3nash Did you get a chance to look at this?

[2021-05-10 13:32] Akshay2Agarwal commented on #2913
Closing the ticket, as I read through the code, I realized hudi is integrated with hive2 and queryable in presto as an external table and not as managed table.

[2021-05-10 13:32] #2913 closed

[2021-05-10 13:59] t0il3ts0ap opened #2934 "[SUPPORT] Parquet file does not exist when trying to read hudi table incrementally"
**Describe the problem you faced**

My aim is to read an existing hudi table (COW) using deltastreamer, do some transformations and write it to another ( fresh ) table. I am using deltastreamer so as check-pointing can be automated.

Relevant hudi configs used for deltastreamer
[code]

The first run of deltastreamer failed with
[code]

The existing table is couple of months old. Its created by del

[2021-05-10 19:49] l-jhon commented on #2123
@jackye1995 Is it necessary to change something to make it work? Because I still have a problem.

My code:

`spark = SparkSession \
    .builder \
    .appName("data_ingestion_incremental_dev") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .config("spark.sql.hive.convertMetastoreParquet", "false") \
    .config("spark.sql.session.timeZone", "America/Sao_Paul

[2021-05-10 19:57] l-jhon commented on #2123
For example, the output of Dataframe .show is: `2017-05-09 08:21:35`, but output at Athena is `+49134-01-07 05:30:00.000`

[2021-05-10 19:58] l-jhon commented on #2123
For example, the output of Dataframe .show is: 2017-05-09 08:21:35, but output at Athena is +49134-01-07 05:30:00.000

[2021-05-10 20:03] jackye1995 commented on #2123
What is the schema of the table through `DESCRIBE table`?

[2021-05-10 20:17] l-jhon commented on #2123
Follows describe:

_hoodie_commit_time 	string
_hoodie_commit_seqno	string
_hoodie_record_key  	string
_hoodie_partition_path	string
_hoodie_file_name   	string
origin              	                string
created_at          	        timestamp
updated_at          	        timestamp
id                  	                string
channel_order_code  	string
purchase_timestamp  	timestamp

# Partition I

[2021-05-11 02:37] shenbinglife opened #2935 "[Support] HoodieFileIndex get a error when there is no partition path in table storage"
https://github.com/apache/hudi/blob/42ec7e30d74104a15ff76cb004fe7a0c2649abe6/hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/hudi/HoodieFileIndex.scala#L319

Version: hudi-0.9.0-snapshot
May it should be :  spark.sparkContext.parallelize(pathToFetch, Math.max(1, Math.min(pathToFetch.size, maxListParallelism)))

[2021-05-11 07:58] shenbinglife opened #2936 "[SUPPORT] OverwriteNonDefaultsWithLatestAvroPayload not work in mor table"
**Describe the problem you faced**

Try to update some field with new value，OverwriteNonDefaultsWithLatestAvroPayload works in MOR table not work

I hope to update a dataframe that changes xx field to newValue , and xx2 field to previous value.

**To Reproduce**

Steps to reproduce the behavior:

1. create a mor table
2. read mor table  as DataFrame df
3. df.withColumn(xx, new Value).withColumn(xx

[2021-05-11 12:41] PavelPetukhov commented on #2856
@bvaradar

Any ideas why I am getting
PushGatewayReporter: Can't push monitoring information to pushGateway

?

[2021-05-12 02:30] Akshay2Agarwal commented on #2913
Read this:https://github.com/apache/hudi/issues/1679

[2021-05-12 09:18] xglv1985 commented on #2812
sorry for late response.

**Yes, right from the beginning, and each time definitely hit the error on the Spark cluster. But in my local IDEA, I did not hit the error, with only 5 hudi records. So I doubt that the error was caused by a corrupted parquet file. But until now I have not found the reason why it was damaged. https://issues.apache.org/jira/browse/SPARK-11844**

**Newest conclusion: the s

[2021-05-12 10:42] dong0808 opened #2939 "spark struct streaming写hudi get small file性能很差"
开启metadatatable之后，性能依旧无任何改善

[2021-05-13 06:11] dong0808 opened #2941 "the step of get small file has very poor performance by spark struct streaming"
"hoodie.metadata.enable": "true",

[2021-05-13 06:11] dong0808 opened #2942 "the step of get small file has very poor performance by spark struct streaming"
"hoodie.metadata.enable": "true",

[2021-05-13 06:17] tandonraghav commented on #2919
@bvaradar Can you please help here? I am stuck for past few days.
I can see PR's going on. Will tht resolve the issue. If yes, what will be the release date?

[2021-05-13 12:53] #2848 closed

[2021-05-13 13:47] rubenssoto opened #2944 "[SUPPORT] Failed to archive commits"
Hello guys,

I have a lot of Hudi jobs, one job failed yesterday and after some hours started to show this error:

Apache Hudi 0.8
EMR 6.2
Apache Spark 3.0

Hudi Options:

Map(hoodie.datasource.hive_sync.database -> raw_freshchat,
hoodie.parquet.small.file.limit -> 402653184,
hoodie.copyonwrite.record.size.estimate -> 1024,
hoodie.datasource.hive_sync.support_timestamp -> true,
hoodie.datasource.w

[2021-05-13 14:57] garyli1019 commented on #2944
Hello @rubenssoto , you can manually remove 20210504033941.rollback.inflight this file to resume your pipeline for now or set `hoodie.fail.on.timeline.archiving=false` to temporarily resolve this issue. I created a ticket to track this and will resolve it before next release. https://issues.apache.org/jira/browse/HUDI-1901

[2021-05-13 15:51] AkshayChan opened #2946 "[SUPPORT] Bulk upsert?"
I am trying to insert/update **15GB** of data on a **165GB** table, however I keep getting the following error

[code]

Here is my upsert config:

[code]

We are using the AWS Glue Connector for Apache Hudi through the AWS Glue Studio Marketplace

* Hudi version : 0.5.3

* Spark version : 2.4

* AWS Glue version : 2.0

* Storage (HDFS/S3/GCS..) : S3

* Running on Docker? (yes/no) : no

**Stacktrac

[2021-05-13 19:06] tandonraghav opened #2948 "[SUPPORT] EMR (5.33.x) Presto Query on _rt tables"
**Describe the problem you faced**

EMR (5.33) Presto not able to query _rt table using Hudi data ingested via Spark Streaming and AWS Glue as metastore.

**To Reproduce**

Steps to reproduce the behavior:

1. Insert data to s3 using Spark Dataframe for MoR table.
2. Sync to AWS Glue using the Spark Streaming Job (Hive_SYNC -> Enabled) . This is a partitioned Table
3. Query _ro and _rt table via P

[2021-05-14 03:59] garyli1019 commented on #2944
This issue should be fixed by https://github.com/apache/hudi/pull/2677 , will be released with 0.9.0.

[2021-05-14 03:59] #2944 closed

[2021-05-14 09:02] Xuehai-Chen opened #2950 "[SUPPORT] Streaming query crash after 10 mins running"
**Describe the problem you faced**

The Streaming query crash after about 10 mins running.

**To Reproduce**

Steps to reproduce the behavior:

1. Build from source with branch [master], the version is 0.9.0-SNAPSHOT. HUDI-1880 is already included.
2. Start a flink streaming job, write data to hudi table [tableA].
3. Streaming query [tableA] using flink sql-client.

**Expected behavior**
Streaming

[2021-05-14 09:03] Xuehai-Chen commented on #2950
@danny0405 Could you please lookup at this?

[2021-05-14 11:12] danny0405 commented on #2950
You may need to build with the latest master code and retry

[2021-05-14 11:55] Xuehai-Chen commented on #2950
I do duilt with with the latest (about 2021-05-14 13:30:00 UTC+8) code from master branch.

[2021-05-14 14:06] ChandraNarreddy opened #2951 "Can Hudi pull data for incremental queries with the latest snapshot alone?"
I am PoCing Hudi and had a couple of questions -

1. Does Hudi allow to perform incremental queries from a previous commit time to the latest snapshot while maintaining just the current version of the data say by setting `"hoodie.cleaner.commits.retained": "1"` and `"hoodie.cleaner.fileversions.retained": "1"`.
2. What are the differences between these two configuration options `"hoodie.cleaner.co

[2021-05-14 16:19] danny0405 commented on #2950
You are right, we can log warning instead of throws when there are no new input files for incremental instants. Would fire a fix soon ~

[2021-05-15 01:47] Xuehai-Chen commented on #2950
Sounds good. Thanks for your work.

[2021-05-15 01:48] Xuehai-Chen commented on #2950
May be it's better to add a test case for this scenario, BTW.

[2021-05-15 07:19] aditiwari01 commented on #2919
Hey @tandonraghav ,

Can you quickly retry schema evolution with latest hudi (0.9.0-SNAPSHOT)?
I've faced similar issue in past and raised a fix for the same. The PR is merged but it's not released yet.

You can refer this issue for more details: https://github.com/apache/hudi/issues/2675

[2021-05-15 08:37] danny0405 commented on #2950
Yes we should

[2021-05-15 09:48] tandonraghav commented on #2919
@aditiwari01 Yes, i did tried with 0.9.0-SNAPSHOT, it is working fine. But it is storing schema with Glue now
Also, it is storing schema inside Avro log files, I do understand why this is required.

Do you know any tentative timeline when it will be released? Because we cant use SNAPSHOT in prod.

[2021-05-15 10:17] aditiwari01 commented on #2919
I guess I've read somewhere that new version is released every 6 to 8 weeks. So maybe sometime in July. Not sure though.

@nsivabalan @vinothchandar Can comment on this better.

[2021-05-15 17:22] n3nash commented on #2948
@tandonraghav Some more clarification

1. Do you have data in your basePath ?
2. Can you paste the contents of a partition (if the table is partitioned) or the basePath (if the table is non-partitioned).

My guess right now is there are no log files in the data path and it's trying to read from an empty path.

[2021-05-16 08:44] tandonraghav commented on #2948
@n3nash Yes, after putting some log files, I am abel to query `_rt` tables as well.
But isn't this should be handled that if there are no log files... then it should just return data from .parquet?

[2021-05-16 18:17] xushiyan commented on #2905
As requested by the designer, I came up with these information architecture (IA) (current & proposed).

### [Current IA](https://docs.google.com/drawings/d/1t9D_gtiOHjL-K4CH7iVz74OkbrE2nTPiPgsaruEGqho/edit?usp=sharing)

![hudi apache org info architecture (current)](https://user-images.githubusercontent.com/2701446/118407984-4b23e700-b638-11eb-8d92-7edf8389c1b1.png)

### [Proposed IA](https://docs

[2021-05-17 01:26] peanut-chenzhong opened #2955 "[SUPPORT]Log system conflict in Hudi-Cli after run temp_* command"
**Describe the problem you faced**

When using hudi-cli.sh to manage hudi table, once we run the temp_* command, there won`t be any response print out for any other command.

**To Reproduce**

Steps to reproduce the behavior:

1.Run hudi-cli.sh.
2.Execute command： temp_query --sql 'show tables'.
3.Excute command：help.
4.The result won`t print out.

**Expected behavior**

The other commands` result

[2021-05-17 01:37] peanut-chenzhong commented on #2955
@n3nash could you kindly review this issue?

[2021-05-17 02:56] root18039532923 commented on #2924
@n3nash

[2021-05-17 04:48] n3nash commented on #2951
@ChandraNarreddy Yes, Hudi can perform incremental queries based on just 1 snapshot. Incremental queries check if there are any new commits from the last checkpoint passed from user, if yes, it will get the latest snapshot of the record.

hoodie.cleaner.commits.retained -> This config is a rolling window. If you set this to let's say 10, Hudi will keep all versions (including latest) of files unti

[2021-05-17 04:50] n3nash commented on #2950
@danny0405 Is there a JIRA for this issue if not can you file one and ping it here so we can close the github issue ?

[2021-05-17 04:52] n3nash commented on #2948
@tandonraghav Hmm, I will try to reproduce this on docker to confirm the issue.

[2021-05-17 05:00] n3nash commented on #2946
@AkshayChan From the message it seems to be pretty clear that some of the nodes are running out of disk space

[code]

I would recommend checking the EMR instances you are provisioning and logging into the boxes when the job is running to see when it's running out of space. To give you an idea of how this can happen, whenever Hudi performs an upsert, it will shuffle some data around. Spark shuffle

[2021-05-17 05:02] n3nash commented on #2942
@dong0808 Can you please explain the problem in more detail ?

[2021-05-17 05:03] n3nash commented on #2939
@dong0808 I think there's another issue open with the same details, let's continue on that one https://github.com/apache/hudi/issues/2941. Closing this one.

[2021-05-17 05:03] #2939 closed

[2021-05-17 05:32] n3nash commented on #2955
@peanut-chenzhong Yes, you are right. I am able to reproduce this issue. Do you mind taking a look at how to resolve this ? Good starting point is to check why "Query ran successfully!" is not returned at the end of `show tables` query. Let me know if you're unable to resolve it.

[2021-05-17 05:37] n3nash commented on #2936
@shenbinglife I'm trying to understand the issue you are facing.

Are you expecting to just change `xx field to newValue` and let xx2 field continue to have it's previous value ? If yes, you can try the following:

df.withColumn(xx, new Value) and then perform the upsert. Once that is done, try to do the following :

1. Run a realtime query on the mor table with _rt
2. Compact the table
3. Run a r

[2021-05-17 05:44] n3nash commented on #2934
@t0il3ts0ap Can you please share some more information so I can help you.

1. What is the rate of new data written to the source table ? Are there many updates to the source table ?
2. How many commits happen on the source table every day ?
3. What are your settings for`hoodie.cleaner.policy` and corresponding value for that policy (for eg. hoodie.cleaner.commits.retained) ?
4. How often are you r

[2021-05-17 05:48] n3nash commented on #2919
@tandonraghav The tentative date for the next release is sometime in June. You can backport the PR @aditiwari01 is pointing to on 0.8.0 build and use that in your prod environment.

[2021-05-17 05:53] n3nash commented on #2916
@jkdll From what I can guess, this look like an issue with the way the Hudi table was registered with AWS Redshift. Can you shed some more light on
1. how you registered the hudi table in Redshift ?
2. Run describe table on the hudi table in Redshift to see the hudi table schema and properties

[2021-05-17 05:58] n3nash commented on #2910
@ismailsimsek Thanks for providing these details. Could you please also let us know if the `httpclient-4.5.9.jar` jar is something that was part of your spark distribution or is this jar something was introduced as part of your application environment ?

@nsivabalan Looks like shading the http-client shouldn't hurt.

[2021-05-17 06:03] n3nash commented on #2905
@xushiyan From looking at it high level, looks like you are suggesting to introduce another level of navigation between the NavBar and different info pages, example is `NavBar -> Blog` to `NavBar -> Learn -> Blog` apart from some more restructuring. I like it, is this based on some user feedback or inspiration from other projects ?

[2021-05-17 06:03] ChandraNarreddy commented on #2951
@n3nash, thanks for the quick reply. A follow up on the incremental pull, how does Hudi keep track of which records were changed and which ones were inserted and deleted from a particular checkpoint among others. Does Hudi maintain the state of each record from previous commits even in the latest snapshot (which I thought was the sole purpose of the file versions). I guess what I am trying to get

[2021-05-17 06:05] tandonraghav commented on #2919
@n3nash So, form now onwards, Glue(Hive) will be storing schema as well?
So, this hive sync is always required from Ingestion job?

Can i use Glue Apis to update it asynchronously? If Yes, then which Schema should be updated ?

Does Hive-Sync tool will take care of schema update?

[2021-05-17 06:32] n3nash commented on #2774
@vobukh I closed the issue because there isn't anything further we can do. You would have to change the version and build it yourself to resolve your issue. Are you able to do that ?

[2021-05-17 06:33] n3nash commented on #2897
Okay, closing this issue since the other one is re-opened

[2021-05-17 06:33] #2897 closed

[2021-05-17 06:42] n3nash commented on #2901
@AkshayChan With `upsert`, `GLOBAL_BLOOM` and `hoodie.bloom.index.update.partition.path` the expectation is that data should be inserted into the new partition and deleted from the old one. Are you using a COW or MOR table ?

Meanwhile, I will try to run a job with these settings.

[2021-05-17 06:43] n3nash commented on #2888
@PavelPetukhov Were you able to try out the configs pointed by @nsivabalan  ?

[2021-05-17 06:45] n3nash commented on #2887
@rancylive Were you able to try out SIMPLE_INDEX ? This should improve your performance considerably.

[2021-05-17 06:47] n3nash commented on #2883
@jiegzhan Does that help answer your question ? Are you looking for any further help ?

[2021-05-17 06:48] n3nash commented on #2874
@danny0405 Any chance you found our why this NPE is occurring in the Hive code ? Happy to debug this further if you can provide me some pointers

[2021-05-17 08:52] PavelPetukhov opened #2959 "No data stored after migrating to Hudi 0.8.0"
While working with Hudi 0.7.0 we were able to store data from Kafka topics to hdfs
We tried to migrate to 0.8.0, but we've discovered a strange behavior -
spark submit finishes with status SUCCEEDED but no data is actually stored in HDFS
Only .hoodie folder is created is in the desired location with files like .aux, .temp, deltacommit.infligh, deltacommit.requested, hoodie.properties, archived

Sp

[2021-05-17 09:08] danny0405 commented on #2950
Thanks, https://issues.apache.org/jira/browse/HUDI-1909 issue created here ~

[2021-05-17 10:46] tandonraghav commented on #2936
@n3nash I was trying this out, so if i understand this feature it is trying to update the value only for the keys whoo are not equivalent to theie default Value.
- So, in this case if i construct defaultValue = null , I dont think it is working for Union type of Schema like

["null", "long"], default : null

[2021-05-17 11:19] pratyakshsharma commented on #2951
@n3nash Will raise a PR for the same by tomorrow. It is mostly done.

[2021-05-17 11:28] danny0405 commented on #2874
Sorry, actually i have no time for this issue yet ~

[2021-05-17 11:47] AkshayChan commented on #2901
@n3nash Thanks a lot for your reply, so if I understand correctly `GLOBAL_BLOOM` and `hoodie.bloom.index.update.partition.path` is absolutely required to update records across partitions. Are there any limitations with using Global bloom when we want to update 100s of GBs of data for example?

We are using a COW table

[2021-05-17 13:46] PavelPetukhov opened #2960 "[SUPPORT] Failed to push metrics to Prometheus pushgateway"
I am unable to push metrics to Prometheus pushgateway using following settings

--hoodie-conf hoodie.metrics.on=true
--hoodie-conf hoodie.metrics.reporter.type=PROMETHEUS_PUSHGATEWAY
--hoodie-conf hoodie.metrics.pushgateway.host=https://pushgateway_url.com/
--hoodie-conf hoodie.metrics.pushgateway.port=8080
--hoodie-conf hoodie.metrics.pushgateway.job.name=test_job_1
--hoodie-conf hoodie.metrics.p

[2021-05-17 19:11] xushiyan commented on #2905
@n3nash you're right. It will be hover effect though, so still 1 click as it's now to go from NavBar to Blog. I suggest the dropdown menu for better organizing the pages (categorize them for easier discovery). It's just a common UI component for static website navigation, which I've seen in other projects too.

[2021-05-18 02:52] JerryTaoTao commented on #143
please add me to the slack group
the email: 272614347@qq.com
thanks a lot

[2021-05-18 04:25] peanut-chenzhong commented on #2955
@n3nash Thanks for reply. There`s hard code log level 'ERROR' in SparkTempViewProvider so that the Info log result can`t be print.
![image](https://user-images.githubusercontent.com/58263343/118589344-cb7e4f80-b7d2-11eb-9b11-567bf301c093.png)

If we remove the hard code log level, it can return "Query ran successfully!", but will be coverd by SLf4g format like below:
![image](https://user-images.g

[2021-05-18 09:49] vobukh commented on #2774
@n3nash , you suggested an action item "Downgrade io.dropwizard in Hudi to 3.1.2". I'd be a good solution for me, is it possible to implement?

[2021-05-18 11:12] peanut-chenzhong commented on #2955
BTW， how can I change this label to awaiting-community-help?

[2021-05-19 03:36] ChandraNarreddy commented on #2951
@n3nash, would you be able to address my follow up questions? Thanks in advance.

[2021-05-19 16:28] BenjMaq commented on #2544
I've seen multiple issues raised about this here, and in most of them there's a link to @li36909's [comment above](https://github.com/apache/hudi/issues/2544#issuecomment-815849870) as a workaround. Unfortunately, as mentioned by @cdmikechen " `TimestampWritableV2` is a hive3 class" are we are also relying on Hive2.

Is there a workaround for Hive2? I'll be happy to help with anything to move this

[2021-05-19 22:17] WilliamWhispell commented on #1581
The jira is marked as resolved, yet the last comment there indicates the issue still persists. We are running into this today with the same scenario we are creating a new partition on each new insert.

[2021-05-20 04:33] KarthickAN opened #2970 "[SUPPORT] Failed to upsert for commit time"
Hi,
I keep getting the following error intermittently and I'm not sure what causes this issue. There may be two different hudi jobs running parallelly and writing to the same bucket. Will that be an issue ? Also Please guide me in resolving the following error.

py4j.protocol.Py4JJavaError: An error occurred while calling o318.save.
: org.apache.hudi.exception.HoodieUpsertException: Failed to upse

[2021-05-20 11:17] Limess commented on #2688
I've seen the same issue with `emr-5.33.0` - `Spark 2.4.7`, `Hudi 0.7.0`

[code]

[2021-05-20 15:29] Limess commented on #2688
Turns out I only see this when submitting a job step using EMR in clustered mode. If I run things in a spark shell on the master node I have no issues updating the glue metastore.

[2021-05-20 18:29] xushiyan commented on #2905
@vinothchandar @n3nash check out the wireframe our designer @joanna-ux has put up!

https://www.figma.com/file/tipod1JZRw7anZRWBI6sZh/Hudi.Apache?node-id=32%3A6

[2021-05-20 20:39] fengjian428 opened #2973 "[SUPPORT]Fail to run compaction in Docker Demo"
![image](https://user-images.githubusercontent.com/4403474/119045115-9ef24f80-b9ed-11eb-877c-77d4fdf56340.png)
I follow the Docker Demo [this](https://hudi.apache.org/docs/docker_demo.html) , and everything run properly before step 8.
when I did compaction schedule like Docker Demo doc said, It return an attempted not a complete.  and there is no requested compaction, so cannot run compaction .

[2021-05-21 06:31] pmathew-coder opened #2974 "[SUPPORT] Docker demo hudi build error"
![image](https://user-images.githubusercontent.com/83719936/119093320-7144e080-b9c4-11eb-8e54-72b66fa73096.png)

Hudi local build is failing with below error :  please let me know if you have any suggestions. Thank you

 ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project hudi-hadoop-mr: Could not resolve dependencies for project org.a

[2021-05-21 06:46] calleo opened #2975 "[SUPPORT] Read record using index"
**Describe the problem you faced**

I would like to read records from a Hudi table using the record key, to avoid having to scan the entire table.

I've read through the examples on how to query a Hudi table and the Spark Datasource mentions `read(keys)` but it's very unclear on how to apply this when using PySpark.

What I am doing is reading data from a source table (non hudi), then transforming

[2021-05-21 08:52] peanut-chenzhong commented on #2955
@n3nash Dear community supporter, we have fixed this issue in our local branch, how could we submit this enhance to master branch?

[2021-05-21 08:59] fengjian428 commented on #2974
<mirror>
		<id>repo2</id>
		<name>Mirror from Maven Repo2</name>
		<url>https://repo.spring.io/plugins-release/</url>
		<mirrorOf>central</mirrorOf>
	</mirror>

I also met this yesterday ,add this to setting.xml can fix

[2021-05-21 10:50] AirToSupply opened #2976 "[SUPPORT] Column misalignment occurs when reading the copy on write type of hudi table through Flink"
**To Reproduce**

Steps to reproduce the behavior:

1.Build from source with branch [master], the version is 0.9.0-SNAPSHOT.
2.Start a Fink1.12.x streaming job, read data from hudi table to test.
3.Online observation, the exception caused the flink job to fail

**Expected behavior**
java.lang.IllegalArgumentException: Unexpected type: ...

A clear and concise description of what you expected to ha

[2021-05-21 15:18] pmathew-coder commented on #2974
Thanks, but looks like I ran into some access issues. There are some workarounds suggested on this link but nothing has worked. If you have seen this or recognize this error please respond
https://spring.io/blog/2020/10/29/notice-of-permissions-changes-to-repo-spring-io-fall-and-winter-2020

![image](https://user-images.githubusercontent.com/83719936/119160277-ed631680-ba0c-11eb-8dfe-54518981fab5.

[2021-05-21 16:30] AirToSupply commented on #2976
@AirToSupply Is there a JIRA for this issue if not can you file one and ping it here so we can close the github issue ?
Thanks, https://issues.apache.org/jira/browse/HUDI-1919 issue created here ~

[2021-05-21 16:36] tandonraghav commented on #2948
@n3nash Were you able to reproduce this?

[2021-05-21 17:05] pmathew-coder commented on #2974
The jar is available at https://public.nexus.pentaho.org , adding this repo will resole the issue.

[2021-05-21 17:39] vinothchandar commented on #2974
@xushiyan this might interest you?

[2021-05-21 20:28] #2974 closed

[2021-05-22 13:36] ismailsimsek commented on #2910
one dependency is coming from `org.apache.hadoop:hadoop-common:jar:3.2.0:compile`
i believe conflicting call/dependency is coming from quarks unit test

[2021-05-22 14:52] guanziyue commented on #2648
@nsivabalan @n3nash  Actually this problem is not totally equivalent to the issue 2633. Just like I mentioned before, the method buildFileIndex in MergeOnReadSnapshotRelation assume all file group must have a base file. Even though issue 2633 is fixed, an index with canLogIndexFile will still generate file group w/o base file. I think the logic in MergeOnReadSnapshotRelation should have a small fi

[2021-05-23 03:35] xushiyan commented on #2974
@pmathew-coder thanks for bring up this. so I ended up adding this

[code]

to be able to download that jar.

[2021-05-24 01:37] jtmzheng opened #2983 "[SUPPORT] Is hoodie.consistency.check.enabled still relevant?"
Is the option https://hudi.apache.org/docs/configurations.html#withConsistencyCheckEnabled still relevant? Given the documentation in https://aws.amazon.com/s3/consistency/ it seems like no ("S3 also provides strong consistency for list operations, so after a write, you can immediately perform a listing of the objects in a bucket with any changes reflected"), but wanted to check before disabling.

[2021-05-24 19:33] nmahmood630 commented on #2522
Can you please provide some example implementations of extending the DefaulHoodieRecordPayload to create our own implementation? I have a similar use-case where many upserts that occur will be identical to the records already in the Hudi table, and I would like the incremental query to only include the records that actually changed.

[2021-05-24 20:06] nsivabalan commented on #2522
https://cwiki.apache.org/confluence/display/HUDI/FAQ#FAQ-CanIimplementmyownlogicforhowinputrecordsaremergedwithrecordonstorage
Do you think this would help ? If not, let me know.

[2021-05-24 22:38] n3nash commented on #2959
@PavelPetukhov

I'm guessing there's more in the logs to tell us what is happening even though the status is `SUCCEEDED`.

1. Can you paste the contents of the `.hoodie` directory please ?
2. Can you look for any ERRORs/Exceptions in logs ?

[2021-05-24 22:40] n3nash commented on #2960
@PavelPetukhov I see you have set the following

[code]

Is this a prometheus you are running locally ? If yes, this looks like a `https` protocol which will probably also require a username and password. Is that something you are passing as well ?

[2021-05-24 22:45] n3nash commented on #2970
@KarthickAN Yes, like we discussed over slack, hudi 0.6.0 doesn't allow concurrent writes. To give you an idea of what's happening, Hudi timeline transitions are from `requested` to `inflight` to `completed`. At point in time, this transition can be performed only once. This exception is basically saying the transition has already happened and someone else is trying to do the same transition - thi

[2021-05-24 22:58] n3nash commented on #2975
@calleo Hudi allows you to write custom merge logic at a record level so you don't have to read the target table. Instead, you can just provide the input from the source non-hudi table, define your merge logic and let Hudi ensure to merge the incoming and on-disk data using the logic you have defined.

One way to do this is to implement the [HoodieRecordPayload](https://github.com/apache/hudi/blob

[2021-05-24 23:07] n3nash commented on #2983
@jtmzheng That's a good point. I think this is not relevant anymore. Do you mind creating a PR to disable this check by default as well ?

[2021-05-24 23:09] vinothchandar commented on #2983
I don't think its enabled by default? We should correct the docs, as
needed.

On Mon, May 24, 2021 at 4:07 PM n3nash ***@***.***> wrote:

[2021-05-25 04:04] nmahmood630 opened #2987 "[SUPPORT] Only able to retrieve last _hoodie_commit_time"
**Describe the problem you faced**

I am trying to make an incremental query to get changes to my Hudi table since the last commit, but when I run:

[code]

this only returns the latest commit (commits : ['20210525033453']), though I have upserted to the table 8 times. The .hoodie folder in S3 shows 8 commits:
![Screen Shot 2021-05-24 at 10 57 07 PM](https://user-images.githubusercontent.com/66952

[2021-05-25 07:39] Tandoy commented on #143
please add me to the slack group
the email: tangzhi8023@gmail.com
thanks a lot

[2021-05-25 08:32] ayush71994 opened #2992 "[SUPPORT] Insert_Override Api not working as expected in Hudi 0.7.0"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?
  - Yes.
- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.
  -  Requested

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.
  -   Pretty sure its

[2021-05-25 10:18] am-cpp commented on #2992
The issue seems to be happening only when the **INSERT_DROP_DUPS_OPT_KEY** flag is set to **true**.  Looks like this config is being used for both:

1. Pre-combining: [link](https://github.com/apache/hudi/blob/master/hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala#L182)
2. Deleting records already present in the table:[link](https://github.com/apache/hudi

[2021-05-25 14:05] nsivabalan commented on #2992
@ayush71994 : May I know which config you are referring to here "delete.duplicates"? Can you point me to full config from here https://hudi.apache.org/docs/configurations.html
And with your insert overwrite operation, does your new dataframe has duplicates and you wish to dedup before overwriting?

[2021-05-25 15:24] n3nash commented on #2975
@fanaticjo Can you help @calleo since you recently implemented a custom recordpayload while using pyspark ?

[2021-05-25 17:37] nmahmood630 commented on #2522
Just seeing the interface definition isn't that helpful. My project is written in python/pyspark and ran on AWS Glue. How would I include this file to provide my own implementation?

[2021-05-25 18:18] n3nash commented on #2955
@peanut-chenzhong Can you please send a PR to the master branch for us to review ?

[2021-05-25 18:28] n3nash commented on #2924
@root18039532923 I'm not sure why you are getting this exception. Have you added the hudi-hadoop-mr bundle to the classpath of the hive deployment ?

[2021-05-25 21:50] jtmzheng commented on #2983
We enabled for our Hudi 0.6 dataset since this pre-dated strong consistency on S3. Wanted to confirm we can safely disable this now since I think this adds overhead to ingestion.

[2021-05-25 22:29] nmahmood630 commented on #2987
Any update on this?

[2021-05-25 23:59] jtmzheng opened #2995 "[SUPPORT] Upserts creating duplicates after enabling metadata table in Hudi 0.7 indexing pipeline"
**Describe the problem you faced**

**Background**: We run a Spark Streaming application that ingests messages from Kinesis and upserts/deletes objects from a date-partitioned Hudi 0.6 MOR dataset. This runs on EMR 5.31.

We’ve been running into serious performance issues and S3 503s due to file listing when ingesting into Hudi. To solve this issue we are prototyping upgrading to 0.7 on EMR 5.33 a

[2021-05-26 01:07] nmahmood630 commented on #2522
Can you also please provide additional information regarding how we 'could achieve this using existing recordPayload with one column to determine source ordering.'?

[2021-05-26 01:57] nmahmood630 commented on #2987
I think the issue I am seeing is similar to: https://github.com/apache/hudi/issues/2002 where all the records commit time are getting updated since this table holds aggregation data that will be upserting duplicate rows. Is there any other way to get the commit history using spark that doesn't relay on the individual records commit time?

[2021-05-26 06:23] am-cpp commented on #2992
@nsivabalan

1. Yes the configuration is https://hudi.apache.org/docs/configurations.html#INSERT_DROP_DUPS_OPT_KEY
2. Yes the incoming records in the dataframe have multiple records for the same primary which we want to pre-combine/drop based on the column set using the https://hudi.apache.org/docs/configurations.html#PRECOMBINE_FIELD_OPT_KEY config .
3. Yea the partition and the incoming datafram

[2021-05-26 10:50] arun990 opened #2997 "error - Failed to find data source: org.apache.hudi"
Hi,
Getting the below error when trying to save the Hudi table to hdfs location and Google Storage location.
Hadoop envirnoment is Dataproc and the spark version 2.4.7 and Hive 2x.
Hudi jars used are hudi-spark-bundle_2.12-0.8.0.jar  and   spark-avro_2.12-2.4.7.jar.
Appreciate your help.

py4j.protocol.Py4JJavaError: An error occurred while calling o119.save.
: java.lang.ClassNotFoundException: Fa

[2021-05-26 12:35] nsivabalan commented on #2992
thanks @am-cpp . @satishkotha : would appreciate if you can take a look at the issue.

[2021-05-26 12:38] nsivabalan commented on #2992
While satish tries to investigate, one more question to narrow down the root cause. If you don't set https://hudi.apache.org/docs/configurations.html#INSERT_DROP_DUPS_OPT_KEY, is your records intact? I mean, new batch overwrites all data in matching partitions, but just that you will find duplicate records if any and your read does return only new records. Can you confirm this behavior?

[2021-05-26 12:44] PavelPetukhov commented on #2888
Hi,

We changed to
--hoodie-conf hoodie.upsert.shuffle.parallelism=50
--hoodie-conf hoodie.insert.shuffle.parallelism=50
--hoodie-conf hoodie.delete.shuffle.parallelism=50
--hoodie-conf hoodie.bulkinsert.shuffle.parallelism=50

and moved to UPSERT instead

But still facing the same issue

[2021-05-26 13:52] ayush71994 commented on #2992
@nsivabalan

- Yes, when we dont set this flag, the incoming batch does have duplicates in them. We are running our own compaction to remove duplicates.
- Our reads are returning new records only, i.e deleting everything that was previously present in the partition

[2021-05-26 15:45] PavelPetukhov commented on #2959
.hoodie directory structure is the following
hdfs dfs -ls /user/hdfs/raw_data/public/ml_training_data/foo/.hoodie
Found 7 items
drwxr-xr-x   - hdfs hadoop          0 2021-05-26 18:33 /user/hdfs/raw_data/public/ml_training_data/foo/.hoodie/.aux
drwxr-xr-x   - hdfs hadoop          0 2021-05-26 18:33 /user/hdfs/raw_data/public/ml_training_data/foo/.hoodie/.temp
-rw-r--r--   3 hdfs hadoop       1201 2

[2021-05-26 15:52] PavelPetukhov commented on #2959
There is no exceptions or errors in the logs, all warnings I found are the below

21/05/26 18:33:18 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
21/05/26 18:33:19 WARN shortcircuit.DomainSocketFactory: The short-circuit local reads feature cannot be used because libhadoop cannot be loaded.
21/05/26 18:33:19 WARN d

[2021-05-26 16:38] PavelPetukhov commented on #2959
Below is our full log:

Logged in as: dr.who
Application
About
Jobs
Tools

Log Type: stderr
Log Upload Time: Wed May 26 18:33:34 +0300 2021
Log Length: 104910
21/05/26 18:33:18 INFO util.SignalUtils: Registered signal handler for TERM
21/05/26 18:33:18 INFO util.SignalUtils: Registered signal handler for HUP
21/05/26 18:33:18 INFO util.SignalUtils: Registered signal handler for INT
21/05/26 18:33:

[2021-05-27 02:36] fengfengsolucky commented on #2973
设置参数hoodie.compact.inline.max.delta.commits=1；
参考docker/demo/compaction.commands ；

[2021-05-27 11:09] fbraza commented on #160
Hello everyone,

I am hitting the same error while trying to build Apache Hudi as described in the github `REAMDE.md`:

[code]

I tried what @ajaychitre did but without any success.
Many thanks for your feedback

[2021-05-27 17:45] rajat0807 commented on #1581
AWS EMR : 5.32.0
Hudi Version : 0.8.0
Spark Version : 2.4.7
Hive Version : 2.3.7

While trying to add a new column to a partitioned table, with the above configurations, it produces the following error :

As per https://jira.apache.org/jira/browse/HUDI-874, the issue of alter table cascade should not persist with EMR 5.32.0. Any possible solutions to this?

[2021-05-28 02:38] nsivabalan commented on #2987
I assume every commit updates all records. and by default if you read a table in hudi format in spark, it will return the latest snaphot and hence you are seeing just the last commit.
I can think of some hack that you can do. But not sure if there are some other elegant ways.
You can read the table in parquet format and retrieve all distinct commit times and then go from there.  // don't think thi

[2021-05-28 05:57] n3nash commented on #2688
Let me describe to you the problem:

1. Hudi has a compile time dependency on Hive to 2.x
2. Spark internally depends on Hive 1.x

The Hive-Sync mechanism generally works as a standalone piece that registers your tables in HMS to work as "hive tables". Since this is a standalone piece, it can control what dependency it brings in.

Spark on the other hand, always brings in Hive 1.x and depending on

[2021-05-28 07:15] hushenmin opened #3005 "[SUPPORT]How to query history snapshot by given one history partition?"
How to query history snapshot by given one history partition?
At present, through the following method, I can query the historical snapshot of a Hudi partition, but for me, this method is very unfriendly. Because I didn't know how many times there were the most recent commits in the partition I want to query when I query.
[code]
If the Hudi community can provide a way to query the full history sna

[2021-05-28 10:14] t0il3ts0ap commented on #2934
@n3nash Sorry for late reply, was away on vacation
1. We run one instance of deltastreamer job every 2 hrs on source table. Each run at the max sources 6 million records using --source-limit parameter.
2. ~ 12 runs of deltastreamer. Not sure if results in 12 commits.  ( Please share some knowledge or documentation here. I apologize that I dont know this. )
3. Please assume defaults for this. I hav

[2021-05-28 16:48] fanaticjo commented on #2975
Hello @calleo   i am trying to make this as a generic release in version 0.9.0 , till the time being you can clone this git hub repo - https://github.com/fanaticjo/HudiJavaCustomUpsert/tree/master/src/main/java/com create a jar out of it and load this as a dependent jar with hudi and avro jar for your pysaprk .

In your pyspark code you can add this 2 options
"hoodie.update.keys": "admission_date,

[2021-05-28 16:52] fanaticjo commented on #2983
I think this is still required as i have seen issues still persisting in emr version below 5.33

[2021-05-28 19:15] jtmzheng commented on #2983
@fanaticjo what kind of issues did you see?

[2021-05-28 20:13] pranotishanbhag opened #3008 "[SUPPORT] Hive Sync issues on deletes and non partitioned table"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?
YES

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.
Part of the Slack groups. Did not find resolution there.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/i

[2021-05-29 14:34] arun990 opened #3009 "Dependency error when attempt to build Hudi from git source .."
Hi,
Followed the steps to get the hudi soruce from git and build it and getting the build failure error as mentioned below:
Please help.
[INFO] Hudi ............................................... SUCCESS [  7.032 s]
[INFO] hudi-common ........................................ SUCCESS [ 31.071 s]
[INFO] hudi-timeline-service .............................. SUCCESS [  4.266 s]
[INFO] hudi-client ....

[2021-05-31 07:53] arun990 commented on #3009
Hi,
Even after cloning the https://github.com/vinothchandar/hudi/tree/remove-spring-deps and attempt to mvn build, getting the same error.
Please help.
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project hudi-hadoop-mr: Could not resolve dependencies for project org.apache.hudi
:hudi-hadoop-mr:jar:0.9.0-SNAPSHOT: Failed to colle

[2021-05-31 07:56] arun990 commented on #2479
Hi, is this issue resolved.
Even after cloning the https://github.com/vinothchandar/hudi/tree/remove-spring-deps and attempt to mvn build, getting the same error.
Please help.
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project hudi-hadoop-mr: Could not resolve dependencies for project org.apache.hudi
:hudi-hadoop-mr:jar:0.9.0-S

[2021-05-31 08:10] arun990 commented on #160
Hi, is this issue resolved.
Even after cloning the https://github.com/vinothchandar/hudi/tree/remove-spring-deps adn attemp to mvn build, getting the same error.
Please help.
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project hudi-hadoop-mr: Could not resolve dependencies for project org.apache.hudi
:hudi-hadoop-mr:jar:0.9.0-SN

[2021-05-31 16:40] Doorwood commented on #3009
I met the same question and how I solved this question is to change the settings of maven by changing the mirrors config.But you may still have some  jar files which could not be supported.I downloaded them by myself.

[2021-05-31 22:47] n3nash commented on #3009
@Doorwood Thanks for chiming in. Have you found any fixes that can address this permanently ?

[2021-05-31 22:59] n3nash commented on #3005
@hushenmin I'm trying to understand your request a little better. Are you wanting to query older snapshots of the table ? Something like select * from hudi_table where timeAsOf (commit_time). Can you explain what you mean by "history partition" ?

Some of the details around time-travel have been listed here -> https://cwiki.apache.org/confluence/display/HUDI/RFC+-+07+%3A+Point+in+time+Time-Travel+

[2021-05-31 23:02] n3nash commented on #2997
@arun990 How are you trying to execute your pyspark job ?

[2021-05-31 23:24] n3nash commented on #2995
@jtmzheng Thanks for the very detailed information that helps to understand the problem. Let me answer some of your questions inline before attempting to debug the underlying root cause of duplicates.

Can you check if the files from the dataset is the same as in the metadata table ? This would require you to

1. Perform a listing on the entire dataset and get the unique files
2. Read the metadata

[2021-05-31 23:38] n3nash commented on #2987
@nmahmood630 Currently, there is no way to get the list of commits that a particular record underwent multiple times due to an update operation. Like what @nsivabalan mentioned, spark read on hudi will only returned the latest commit. If you're looking to get the commit history, there is no way to do that in spark. There are Timeline API's in java and using the `HoodieActiveTimeline` class you can

[2021-05-31 23:39] n3nash commented on #2983
@jtmzheng The consistency check is disabled by default

[code]

Please confirm with the EMR team to ensure that the S3 flag can be disabled for your use-case. Closing this issue since the config is already false.

[2021-05-31 23:39] #2983 closed

[2021-05-31 23:41] n3nash commented on #2976
This issue has been resolved, closing this.

[2021-05-31 23:41] #2976 closed

[2021-05-31 23:45] n3nash commented on #2975
This is being tracked in this JIRA -> https://issues.apache.org/jira/browse/HUDI-1936

[2021-05-31 23:46] n3nash commented on #2970
@KarthickAN Any updates on this one ?

[2021-05-31 23:46] n3nash commented on #2960
@PavelPetukhov Any updates on this one ?

[2021-05-31 23:47] n3nash commented on #2955
@peanut-chenzhong Please read the contribution guide here -> https://hudi.apache.org/contributing to help create the PR to the master branch.

[2021-05-31 23:55] n3nash commented on #2951
@ChandraNarreddy Sorry for the delayed response. Hudi only keeps track of what records have changed. This is known by the _hoodie_commit_time value between 2 records. It is not possible to identify whether the changes for the records were inserts/updates/deletes just by looking at this timestamp.

Hudi can only keep versions of data if the config is set to keep those many versions of the data. Sup

[2021-05-31 23:55] #2951 closed

[2021-05-31 23:58] n3nash commented on #2946
@AkshayChan Haven't heard from you in a while, I'm closing this ticket since the resolution is outside of Hudi. Please re-open if you need more help.

[2021-05-31 23:58] #2946 closed

[2021-06-01 00:03] n3nash commented on #2942
@dong0808 Closing this ticket since haven't gotten back more information from you regarding the problem. Please feel free to re-open with more information.

[2021-06-01 00:03] #2942 closed

[2021-06-01 00:11] arun990 commented on #2997
Thank you. This issue is resolved by copying the jar.

[2021-06-01 00:11] #2997 closed

[2021-06-01 00:19] arun990 commented on #3009
Hi, The mentioned error is observed in hudi-hadoop-mr module. We can download the jar for hudi-hadoop-mr.
To resolve this error where to keep the jar and what config changes need to be made for successfully mvn build?
Anyway having perm fix or/and hudi-cli binary download would help.

[2021-06-01 01:02] KarthickAN commented on #2970
I made sure there are no other jobs running in parallel and I didn't face this issue. Thank you. We can close this.

[2021-06-01 01:02] #2970 closed

[2021-06-01 15:00] rubenssoto opened #3022 "[FEATURE REQUEST] Better support for Trino"
Hello Guys,

We will start a Poc with Trino in our company and we use Hudi in production.
I know Hudi has some limitations with Trino.
Do you have plans to implement all improvements made to Prestodb in Trino?

Thank you so much!

[2021-06-01 20:26] prashantwason commented on #2995
@jtmzheng if you have logs from the spark applications, please grep to check if any HoodieMetadataException was ever raised. There may have been an exception which got swallowed so the pipeline did not fail but there was an error anyways.

Also, can you check if you have any non-completed instants on your hoodie timeline (i.e. instants which have .requested and .inflight but not the third file). A

[2021-06-02 02:27] anupam-dewan commented on #1581
Is there any solution for this, we are also facing this same issue.. on adding extra columns in the updating.
Hudi updates the records in S3, but the Hive sync does not happen.

EMR-5.32
Error:
Caused by: java.sql.SQLException: org.apache.hive.service.cli.HiveSQLException: Error while processing statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. Cascade

[2021-06-02 05:34] veenaypatil commented on #2948
I am facing similar issues on querying _rt tables on our cluster, it keeps failing intermittently with the following exception
[code]

[2021-06-02 06:06] jtmzheng commented on #2995
I grepped for HoodieMetadataException and "Creating a new metadata table in"/"Initializing metadata table by using file listings in"/"files to metadata" in the EMR logs but did not find anything. I can try replicating this from scratch later this week with more verbose Hudi logging enabled.

@n3nash re:

Not sure if this is what you're referring to, but I tried to run "metadata list-partitions" wh

[2021-06-02 06:53] #1737 closed

[2021-06-02 06:56] n3nash commented on #2470
@jtmzheng Were you able to migrate to 0.7.0 and confirm that the skew goes away ?

[2021-06-02 06:58] n3nash commented on #2461
@vrtrepp @noobarcitect Closing this issue since the proposed solution is straightforward. If you still need help making your glue connector work, please feel free to re-open.

[2021-06-02 06:58] #2461 closed

[2021-06-02 07:06] n3nash commented on #2448
@peng-xin Since we haven't heard from you in a while and this issue has not been reported by anyone else, I'm assuming this to be a transient issue with some of your settings. Let me know if you need further help.

@root18039532923 Please feel free to re-open if you are still confused about how to use async compaction.

[2021-06-02 07:06] #2448 closed

[2021-06-02 07:09] n3nash commented on #2437
@jiangok2006 Closing this issue since the logs are not enough to reproduce the issue. Please re-open if you need further help.

[2021-06-02 07:09] #2437 closed

[2021-06-02 09:59] Tandoy commented on #3009
[settings.md](https://github.com/apache/hudi/files/6583594/settings.md)
You can try this maven configuration file.

[2021-06-02 10:58] arun990 commented on #3009
Hi, Tried to mvn build using the settings.xml and getting the same error as pasted below.

[INFO] Building hudi-hadoop-mr 0.8.0                                     [6/42]
[INFO] --------------------------------[ jar ]---------------------------------
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for Hudi 0.8.0:
[INFO]
[INFO] Hudi ...........

[2021-06-02 16:35] jtmzheng commented on #2470
Unfortunately no, ran into https://github.com/apache/hudi/issues/2995

I think this issue is fine to close out, https://github.com/apache/hudi/issues/2470#issuecomment-769948718 got our rollback performance to an acceptable state even without the metadata table

[2021-06-03 00:19] jtmzheng commented on #2995
Update, I was able to run the metadata commands from the CLI and check `list-partitions` and `list-files`. It seems like every partition is there, but spot checking some partitions its clear not all the files are there:

[code]

Listing shows 1,539 files under that partition.

[2021-06-03 02:18] hushenmin commented on #3005
In short, in the case of non-global index writes, backtrack historical snapshots and remove duplicates

[2021-06-03 06:25] n3nash commented on #2409
Closing this ticket due to inactivity. @wosow Please feel free to re-open if you need more information.

[2021-06-03 06:29] n3nash commented on #2331
Closing this ticket, docs will be added as part of the JIRA. @brandon-stanley Feel free to re-open if needed

[2021-06-03 06:29] #2331 closed

[2021-06-03 06:31] xdingou commented on #143
Please add me to slack group
Email: dinesh.gouda@gmail.com
Thanks

[2021-06-03 07:06] #2135 closed

[2021-06-03 07:15] #2066 closed

[2021-06-03 07:23] n3nash commented on #1981
@umehrot2 gentle reminder on this one

[2021-06-03 07:28] #1957 closed

[2021-06-03 08:04] djKooks commented on #160
Also facing with this issue...is there any solution?

[2021-06-03 11:27] #2723 closed

[2021-06-03 15:29] n3nash commented on #2919
@tandonraghav Hive-Sync tool will register the schema in the glue catalog. This process is not new.

[2021-06-03 18:15] n3nash commented on #1679
@diogodilcl Are you able to reproduce this issue consistently ? Could you provide some ways to reproduce it so we can find a resolution.

[2021-06-03 18:32] #2482 closed

[2021-06-03 21:09] vinothchandar commented on #160
reopening this. @n3nash could you please try and repro this? If the jar is already cached in local .m2, it won't repro. So we need to manually delete that or force update/fetch.

[2021-06-04 00:38] djKooks commented on #160
Yes, as @vinothchandar commented, it started to happen after I've removed `.m2/` directory.
(I had back-up of this folder, and it worked well again after I reverted this)

[2021-06-04 02:04] #2513 closed

[2021-06-04 02:19] n3nash commented on #2537
Closing this issue due to no activity.

[2021-06-04 02:19] #2537 closed

[2021-06-04 02:25] n3nash commented on #2557
@kingkongpoon Gentle ping if your issue still persists and if there is a way to reproduce it.

[2021-06-04 02:25] #2557 closed

[2021-06-04 02:48] n3nash commented on #2564
@rswagatika Are you still continuing to have this issue ? I'm not sure why clean is not getting triggered.

[2021-06-04 04:01] giridharmunagala commented on #160
@vinothchandar Any solution if I deleted the m2 directory and no backup for it?

[2021-06-04 04:13] n3nash commented on #2614
Closing this ticket since the patch is now landed and can be picked up from master if needed.

[2021-06-04 04:13] #2614 closed

[2021-06-04 04:13] danny0405 commented on #2874
@n3nash Finally i figure out why it throws NPE here, look at the code in `HoodieInputFormatUtils.getTableMetaClientByBasePath` the return value map has the table base path as keys, but in  `HoodieRealtimeInputFormatUtils.getRealtimeSplits` we look up the code by partition path, which always returns null,
I will fire a fix soon ~

[2021-06-04 04:36] danny0405 commented on #2874
See https://github.com/apache/hudi/pull/3032

[2021-06-04 04:39] djKooks commented on #160
@giridharmunagala  Oh, sorry for confusion. Does not work though I've revert the backup `m2` storage...

[2021-06-04 06:06] n3nash commented on #2623
Closing this issue since the jar has been packaged correctly.

[2021-06-04 06:06] #2623 closed

[2021-06-04 06:16] n3nash commented on #2648
@guanziyue Thanks for the note. Would you mind filing a JIRA and opening a PR for the same ?

[2021-06-04 06:17] n3nash commented on #2657
@garyli1019 Gentle reminder to look into this. Let me know if you need any help.

[2021-06-04 06:21] n3nash commented on #2680
@ztcheck Since I haven't heard from you in a while, closing thing ticket. Please feel free to re-open if needed.

[2021-06-04 06:21] #2680 closed

[2021-06-04 06:21] n3nash commented on #2688
@Limess Did you get a chance to try out the steps I recommended ?

[2021-06-04 06:27] n3nash commented on #2696
@kimberlyamandalu Are you able to try out the suggestions from @umehrot2 ?

[2021-06-04 06:29] n3nash commented on #2774
@vobukh The downgrade Hudi to 3.1.2 is something you'd have to do on your own and then build Hudi locally. Just make the change in your POM file and then follow this -> https://github.com/apache/hudi#building-apache-hudi-from-source to build a new version of Hudi that you can use. Let me know if you need any further help.

[2021-06-04 06:31] n3nash commented on #2797
@ismailsimsek @vansimonsen Closing this due to inactivity, please re-open it or open a new one if you need further assistance.

[2021-06-04 06:31] #2797 closed

[2021-06-04 06:33] n3nash commented on #2802
@aditiwari01 Sorry this slipped out of my radar, I will update here with my findings in the next couple of days

[2021-06-04 06:33] garyli1019 commented on #2657
@n3nash sorry, missed this issue. I don't have hive set up in my environment, might be hard to reproduce this issue. Any help is appreciated.

[2021-06-04 06:34] n3nash commented on #2806
@tmac2100 Closing this ticket due to inactivity, hopefully the information is helpful. If you need further assistance, please re-open or open another issue.

[2021-06-04 06:34] #2806 closed

[2021-06-04 06:37] n3nash commented on #2810
@rubenssoto Closing this ticket due to inactivity - feel free to re-open if you need further assistance.

[2021-06-04 06:37] #2810 closed

[2021-06-04 06:41] n3nash commented on #2818
@ssdong Are you able to add the config and document it ? Please open a JIRA if you can.

[2021-06-04 06:42] n3nash commented on #2820
@ismailsimsek Closing this issue due to inactivity. Please re-open if you need further assistance.

[2021-06-04 06:42] #2820 closed

[2021-06-04 06:44] n3nash commented on #2830
@wsxGit Thank for confirming! Closing this issue now.

[2021-06-04 06:44] #2830 closed

[2021-06-04 06:46] n3nash commented on #2832
@nevgin Closing this issue due to inactivity. Please re-open if you need further assistance.

[2021-06-04 06:46] #2832 closed

[2021-06-04 06:46] n3nash commented on #2834
@wk888 Could you please let @yanghua know if you need further assistance ?

[2021-06-04 06:48] n3nash commented on #2841
Yes, that is correct @AkshayChan. Closing this ticket, please open one if you need further assistance

[2021-06-04 06:48] #2841 closed

[2021-06-04 06:48] n3nash commented on #2849
@AdeloreSimiloluwa Is this still an issue for you ?

[2021-06-04 06:49] n3nash commented on #2856
@bvaradar Could you look into this please ?

[2021-06-04 06:50] n3nash commented on #2860
@shenbinglife Closing this ticket due to inactivity. Please re-open if you need further assistance.

[2021-06-04 06:50] #2860 closed

[2021-06-04 06:51] n3nash commented on #2874
@danny0405 Thanks for the update. It should be reviewed soon.

[2021-06-04 06:52] n3nash commented on #2883
@jiegzhan Closing this ticket due to inactivity. Please re-open if you need further assistance.

[2021-06-04 06:52] #2883 closed

[2021-06-04 06:53] n3nash commented on #2887
@rancylive Gentle ping if you got a chance to try out the simple index

[2021-06-04 06:55] n3nash commented on #2901
@AkshayChan Yes, GLOBAL_BLOOM can be slightly slow if your updates span across many partitions.

[2021-06-04 06:57] n3nash commented on #2910
@ismailsimsek unit test packages should have a `test` scope and show not be available in the bundles. Can you explain what you mean by `coming from quarks unit test` ?

[2021-06-04 08:05] Limess commented on #2688
Hi, for the experiment we were running I ended up using jdbc instead.

[2021-06-04 12:40] guanziyue commented on #2648
Hi na3nash, I find https://github.com/apache/hudi/issues/2874. I think they are actually the same problem because HoodieRealtimeInputFormatUtils is shared by both hive and spark. It seems that @danny0405 has taken over this problem. Anything I can contribute to this problem?

[2021-06-04 12:45] vinothchandar commented on #2479
there is a dup issue open for this at #160

[2021-06-04 12:56] vinothchandar commented on #160
Looks like this was being fetched out of the spring repo. and we removed the spring repository recently(#2481  to fix #2479), since it was retired.

So now the issue is maven central does not have this jar.
https://mvnrepository.com/artifact/org.pentaho/pentaho-aggdesigner-algorithm/5.1.5-jhyde

[2021-06-04 13:17] fbraza commented on #160
Many thanks for your prompt feedback @vinothchandar. I stay tuned. Cheers.

[2021-06-04 14:09] vinothchandar commented on #160
So this artifact is accessible from none of the repositories anymore. Good grief. :) Trying to exclude it from the build, none of the code actually uses it. its a third level transitive dependency

[2021-06-04 14:22] vinothchandar commented on #160
lets see if  #3034 passes integration tests. For now, it should resolve your build issue itself.

[2021-06-04 15:30] nsivabalan commented on #160
I ran into this just now. I got a new laptop and tried hudi for first time in clean slate and ran into the exact issue.

[2021-06-04 16:20] vinothchandar commented on #160
That patch seems to work. I ll land, once the next round of tests pass.

@nsivabalan yes. as I memtioned, that artifact is not served by maven central amymore (for whatever reason). so new installs will see this.

[2021-06-04 19:14] vinothchandar commented on #2905
The new nav makes sense! How do we proceed?

[2021-06-04 19:28] #160 closed

[2021-06-05 05:02] n3nash commented on #3009
@arun990 A fix for this was landed today -> https://github.com/apache/hudi/pull/3034 Can you check if the master works for you now ?

[2021-06-05 05:14] n3nash commented on #2973
@fengjian428 Are you running it off the master branch ? I did not see any problems with it.

[2021-06-05 05:18] n3nash commented on #2941
@dong0808 Can you provide more details to help debug this issue ?

[2021-06-05 05:20] n3nash commented on #2924
@root18039532923 Can you confirm if hudi-hadoop-mr bundle is in the classpath ?

[2021-06-05 05:24] n3nash commented on #2849
@AdeloreSimiloluwa Closing this issue. Please re-open if you see the same issue or need assistance.

[2021-06-05 05:24] #2849 closed

[2021-06-05 05:29] n3nash commented on #3022
@rubenssoto You should be able to use CopyOnWrite with Trino + Hudi. I'm aware that MOR is not supported. Full Hudi support on Trino is on the roadmap.

[2021-06-05 05:44] n3nash commented on #2905
@xushiyan LGTM!

[2021-06-05 05:59] #1491 closed

[2021-06-05 06:04] #1552 closed

[2021-06-05 06:06] vinothchandar commented on #1837
Metadata table is out for couple releases now.

[2021-06-05 06:06] #1837 closed

[2021-06-05 06:08] vinothchandar commented on #1845
cc @nsivabalan as well. This is related to the schema evolution PR.

[2021-06-05 06:09] vinothchandar commented on #1845
@n3nash The concrete thing to do here, is to just take and repro this scenario with master branch and see if its still an issue.

[2021-06-05 06:14] vinothchandar commented on #1962
I think we should doc better, when `set hive.fetch.task.conversion=none;` is to be set with Hudi tables. Closing this

[2021-06-05 06:14] vinothchandar commented on #1962
https://issues.apache.org/jira/browse/HUDI-1972

[2021-06-05 06:14] #1962 closed

[2021-06-05 06:18] vinothchandar commented on #1981
Closing this issue. 0.7 is at-least in EMR now. But ultimately, this issue boils down to Athena and we have little idea what exact prestoDB (or trino) they are running.

[2021-06-05 06:18] #1981 closed

[2021-06-05 06:19] vinothchandar commented on #1982
Next step: Can we test this setup and reproduce this?

[2021-06-05 06:25] n3nash commented on #2284
Filed a JIRA for us to document this on Hudi -> https://issues.apache.org/jira/browse/HUDI-1973

[2021-06-05 06:25] #2284 closed

[2021-06-05 06:45] vinothchandar commented on #2509
Just reading through this again. We def need to understand if this is an issue even when using Spark as the only engine (i.e no registration to HMS). and understand if parquet-avro is the problem child.
Running this with row writer enabled is a good way to quickly weed that out

[2021-06-05 06:49] vinothchandar commented on #2544
Few things. On master now, we fallback to the datasource when reading a Hudi/Hive table. And the MOR snapshot query uses Spark's reading (not the Hive SerDes). So worth reproducing this again on master and we go from there.

[2021-06-05 06:52] vinothchandar commented on #2517
Can you try with a higher hive version or reproduce this in the docker setup? We run an integ test on each commit, that works on Apache Hive 2.3.1. So I am a bit confused as well

[2021-06-05 06:55] vinothchandar commented on #2564
lets run the integ-test-suite with large number of commit rounds and see everything is healthy. We should use this opp to add a few serious YAML files to the code base.

[2021-06-05 06:59] vinothchandar commented on #2592
Closing due to inactivity and since the issue goes away with spark 2.4

[2021-06-05 06:59] #2592 closed

[2021-06-05 07:01] #2609 closed

[2021-06-05 07:08] vinothchandar commented on #2648
@guanziyue that PR looks good. Should be landed soon. May be you can verify after #3032 is landed and see if all is well?

[2021-06-05 07:14] vinothchandar commented on #2823
#1946 is moving us to log4j2, which is probably a larger/safer effort

[2021-06-05 07:15] #2791 closed

[2021-06-05 07:18] n3nash commented on #2774
@vobukh I think if we upgrade prometheus client in master, this should be resolved. I've filed a ticket for this -> https://issues.apache.org/jira/projects/HUDI/issues/HUDI-1975. Would you want to open a PR for the same ?

[2021-06-05 07:23] vinothchandar commented on #2829
@manishbol I see that `--schemaprovider-class org.apache.hudi.utilities.schema.SchemaRegistryProvider --source-class org.apache.hudi.utilities.sources.AvroKafkaSource`, you are using the Kafka source and also configuring schema to be fetched from the confluent schema registry. Thats why its complaining.

may be you can walk us through what you are trying to do and we can help step-by-step

[2021-06-05 07:24] n3nash commented on #2827
Filed a JIRA -> https://issues.apache.org/jira/browse/HUDI-1976. We should be closing this during 0.9.0 release.

[2021-06-05 07:24] #2827 closed

[2021-06-05 07:24] n3nash commented on #2826
Filed a JIRA -> https://issues.apache.org/jira/browse/HUDI-1976. We should be closing this during 0.9.0 release.

[2021-06-05 07:24] #2826 closed

[2021-06-05 07:24] sbernauer commented on #1845
Hi @vinothchandar, @nsivabalan and me are working on Slack trying to get our schema evolution usecase running. Currently only Inserts, no Upserts for CoW. I'm trying out his patch in https://github.com/apache/hudi/pull/2927
I seems to work fine but only if I put in a dummy transformation and specify both - source and target - Schemas. Setting target schema to null the schema evolution part fails,

[2021-06-05 07:24] n3nash commented on #2824
Filed a JIRA -> https://issues.apache.org/jira/browse/HUDI-1976. We should be closing this during 0.9.0 release.

[2021-06-05 07:24] #2824 closed

[2021-06-05 07:25] n3nash commented on #2823
Filed a JIRA -> https://issues.apache.org/jira/browse/HUDI-1976. We should be closing this during 0.9.0 release.

[2021-06-05 07:25] #2823 closed

[2021-06-05 07:26] n3nash commented on #2852
@codejoyan Do you still have any outstanding questions ? Are you able to use Hudi ?

[2021-06-05 07:27] vinothchandar commented on #2852
That should work per se. https://hudi.apache.org/blog/registering-dataset-to-hive/ , although too manual, that I have never seen anyone use this

[2021-06-05 07:30] n3nash commented on #2856
@PavelPetukhov This looks like the push gateway URL has not been configured correctly. The `hoodie-conf hoodie.metrics.pushgateway.host` probably expects a hostname instead of a http URL. Can you see if this is the issue ?

[2021-06-05 07:32] vinothchandar commented on #2888
@n3nash , I believe you all synced on this?

[2021-06-05 07:32] vinothchandar commented on #2905
@xushiyan and I discussed this. We will file JIRAs and see if there are takers.

[2021-06-05 07:46] n3nash commented on #2955
@peanut-chenzhong I've filed the JIRA here -> https://issues.apache.org/jira/browse/HUDI-1977 Do you mind creating a PR ?

[2021-06-05 07:52] vinothchandar commented on #3022
Filed a umbrella ticket to capture all of the improvements.
https://issues.apache.org/jira/browse/HUDI-1978

[2021-06-05 07:52] #3022 closed

[2021-06-05 08:06] #2874 closed

[2021-06-06 03:02] arun990 commented on #3009
Hi, checked it and the build was completed without the reported error.
Thank you.
Closing the issue.

[2021-06-06 03:02] #3009 closed

[2021-06-06 11:33] putaozhi123 opened #3042 "[SUPPORT]Caused by: java.lang.NoSuchMethodError: org.apache.parquet.schema.Types$PrimitiveBuilder.as(Lorg/apache/parquet/schema/LogicalTypeAnnotation;)Lorg/apache/parquet/schema/Types$Builder"
hi, I am facing issue while I try to write hudi table using spark datasource api.

* Hudi version :0.8.0

* Spark version :2.4.7

* Hive version :

* Hadoop version :3.0.0-cdh6.3.2

* Storage (HDFS/S3/GCS..) :HDFS

* Running on Docker? (yes/no) :no

**Additional context**
scala> df.write.format("hudi").
     |   options(getQuickstartWriteConfigs).
     |   option(PRECOMBINE_FIELD_OPT_KEY, "ts").

[2021-06-06 15:48] ssdong commented on #2818
Hey @n3nash, I should be able to spend some time and work on this. However, this is a major change, and I'd like to gather more opinions regarding whether or not we should _really_ implement this feature. I've conveyed some of my perspectives but preferably would like more inputs on this. Thanks!  😄

[2021-06-07 09:30] fengjian428 opened #3044 "[SUPPORT]delta streamer run bootstrap error, Hoodie table not found"
run bootstrap with following command:
`spark-submit   --master yarn --deploy-mode cluster --queue nonlive  --conf spark.yarn.maxAppAttempts=1 \
        --driver-memory 20g --driver-cores 2 --executor-memory 15g --executor-cores 2 \
        --conf 'spark.serializer=org.apache.spark.serializer.KryoSerializer' \
        --conf 'spark.driver.extraJavaOptions=-XX:+HeapDumpOnOutOfMemoryError -XX:HeapDum

[2021-06-07 14:22] fengjian428 commented on #3044
I print detail exception and display below :
Wrong FS: hdfs:/projects/shopee_item_v4_bootdb__item_v4_tab/.hoodie, expected: hdfs://R2
 add prefix  "hdfs://R2" seems work for me

[2021-06-07 15:42] prashantwason commented on #2995
I have found the issue - The metadata table timeline is updated only till 20201216222013.deltacommit.
2021-05-20 15:00:47          0 .temp_$folder$
2021-05-20 15:01:09       2001 20201216222013.deltacommit
2021-05-20 15:01:03        985 20201216222013.deltacommit.inflight
2021-05-20 15:01:02          0 20201216222013.deltacommit.requested

So the table is returning the old listing (which was accur

[2021-06-07 16:33] xushiyan commented on #2905
@vinothchandar @n3nash @joanna-ux filed https://issues.apache.org/jira/browse/HUDI-1985
will highlight in dev email soon. thanks!

[2021-06-08 01:13] #3042 closed

[2021-06-08 03:50] #3044 closed

[2021-06-08 03:56] fengjian428 opened #3048 "[SUPPORT]delta streamer run bootstrap from one hudi table to another error .parquet is not a Parquet file. expected magic number at tail"
I want migrate old table's data to new one . old table in COW mode, new one in MOR. and their partition also different. when I ran command
error is : java.lang.RuntimeException: hdfs://R2/projects/db__item_v4_tab/bucket_id=1020/e1578b9c-16c7-4b3d-aa64-1f970b961f87-0_10200-48-180878_20210602103323.parquet is not a Parquet file. expected magic number at tail [80, 65, 82, 49] but found [-81, -87, 15,

[2021-06-09 01:04] Vikas-kum opened #3054 "[SUPPORT] Point query at hudi tables"
Does Hudi supports point queries(in efficient way). I want to know if I can query the value of specific row from table at certain time instant.

For example:
select * from ABC where key='p1' and event_time='t1'

Also, if I have lot of query like this, is there efficient recommended way to achieve this?

[2021-06-09 15:08] tmacedo commented on #1925
I'm surprised this worked for you both as I was trying this and stumbled upon https://bugs.openjdk.java.net/browse/JDK-5043482

This is also on EMR, so I assume you're not using an alternative JDK?

[2021-06-09 17:43] jtmzheng commented on #2995
Interesting, @prashantwason so the timeline of how I ran the shadow pipeline was:

1. Stopped ingestion pipeline (0.6 without metadata table)
2. Ran s3-dist-cp job to replicate dataset to a separate path
3. Ran shadow pipeline (0.7 with metadata table enabled) against replica

What I'm not understanding is how the table is only updated until 20201216222013.deltacommit since that commit was long be

[2021-06-09 19:19] dkapupara-te commented on #2856
I am experiencing the same issue using simpleclient with Spring boot for one of our cron jobs.

```Caused by: java.net.UnknownHostException: https```

[2021-06-10 01:37] lppsuixn opened #3059 "when java client api support MERGE_ON_READ ?"
Currently,  only support COPY_ON_WRITE，when  will support   MERGE_ON_READ ? Thanks!
[code]

[2021-06-10 08:12] pranotishanbhag commented on #2797
I am facing the same issue. Please can you share the fix. I am using Hudi version 0.8.

[2021-06-10 13:34] konradwudkowski opened #3063 "Hive database not auto created when syncing"
**Describe the problem you faced**

There is a new flag in hudi 0.7.0 or later - `hoodie.datasource.hive_sync.auto_create_database`. Based on documentation it defaults to `true` which would be consistent with previous behaviour that created hive dbs if they don't exist.

It seems that `0.7.0` and `0.8.0` will actually default to `false` when writing a dataframe as hudi if the flag is not specified

[2021-06-10 15:12] veenaypatil commented on #3063
@konradwudkowski  This was fixed recently as part of - https://issues.apache.org/jira/browse/HUDI-1942 , do you want to try out the latest source from master ?

[2021-06-10 15:34] leesf commented on #3059
@lppsuixn would you please describe the need for java client api for MERGE_ON_READ and do you have interest to pick it up?

[2021-06-10 16:20] konradwudkowski commented on #3063
hi @veenaypatil the version in master is indeed fixed - thanks. Any thoughts of updating the docs or releasing `0.7.1` and `0.8.1`? I set the flag to "true" already so I'm not affected anymore but it may surprise someone else until `0.9.0`

[2021-06-11 06:13] n3nash commented on #3063
@konradwudkowski Thanks for bringing this up. We will be releasing 0.9.0 in few weeks. In the meantime, I think it makes sense to add this as a note in the configs. @veenaypatil Do you think you can take this ? JIRA here -> https://issues.apache.org/jira/browse/HUDI-1997

[2021-06-11 06:16] n3nash commented on #3054
@Vikas-kum We are working on column level and record level indexes which will can this kind of query really fast, read here -> https://cwiki.apache.org/confluence/display/HUDI/RFC-27+Data+skipping+index+to+improve+query+performance.

In the meantime, to answer your question, yes Hudi does support Point in time queries in Presto and Spark but not in Hive. Let me know if you need any other informati

[2021-06-11 06:20] veenaypatil commented on #3063
@n3nash  yes, I will pick it up and a note in documentation

[2021-06-11 06:22] wangfeigithub opened #3065 "Not in Marker Dir occurs when I write to HDFS using Spark"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-06-11 06:23] n3nash commented on #3048
@fengjian428 Since your source table is Hudi, you cannot use `SparkParquetBootstrapDataProvider` to read the data. The `SparkParquetBootstrapDataProvider` is used to read a normal parquet table. Since new data can be coming into your source Hudi table, the `SparkParquetBootstrapDataProvider` may end up reading a parquet file that is being written to Hudi table and hence not providing snapshot isol

[2021-06-11 06:28] wangfeigithub commented on #3065
/hive/warehouse/ods3.db/orders\.hoodie\.temp\20210610180447/month_key=default/ecddd088-5b6e-4efe-82c2-c8c86988e8cb-0_0-28-83_20210610180447.parquet.marker.CREATE.

When I run with Window Idea and generate the Orders \ path,
There are no errors when I use MacOS, and the log shows orders/.
Are \ and / identifying the problem?

[2021-06-11 06:31] n3nash commented on #3008
@pranotishanbhag Thanks for providing reproducible steps.

@nsivabalan Do you have any quick insights into #issue1 described above before I dive into both ?

[2021-06-11 06:33] n3nash commented on #3005
@hushenmin You want to time travel to a historical snapshot ? That should be possible with Hudi. Although, I'm not following the "remove duplicates" requirement, can you elaborate this with an example please ?

[2021-06-11 06:36] n3nash commented on #2987
@nmahmood630 I've opened a feature request here -> https://issues.apache.org/jira/browse/HUDI-1998. If you are interested in contributing it, please comment on the JIRA and tag me - happy to guide you through it

[2021-06-11 06:36] #2987 closed

[2021-06-11 06:38] n3nash commented on #2975
Closing since JIRA is filed and no activity on this issue. Please re-open if further assistance is required

[2021-06-11 06:38] #2975 closed

[2021-06-11 06:39] n3nash commented on #2955
@peanut-chenzhong If you are interested in contributing this PR, please pick up the JIRA, closing this issue due to inactivity

[2021-06-11 06:39] #2955 closed

[2021-06-11 06:40] n3nash commented on #2950
Closing this since PR has been landed.

[2021-06-11 06:40] #2950 closed

[2021-06-11 06:40] n3nash commented on #2941
Closing this issue due to inactivity.

[2021-06-11 06:40] #2941 closed

[2021-06-11 06:48] n3nash commented on #2936
@tandonraghav I'm not following. Can you describe it more concretely ?

[2021-06-11 06:54] n3nash commented on #2934
@t0il3ts0ap You can read this blog -> https://github.com/apache/hudi/pull/2967 (soon to be merged) that describes how you can play with source table number of commits and cleaner configs to ensure that if your source table is moving faster than the downstream table, you don't end up cleaning the versioned files in the source by the time the downstream table wants to read it. Let me know if you nee

[2021-06-11 06:55] n3nash commented on #2924
Closing this ticket due to inactivity.

[2021-06-11 06:55] #2924 closed

[2021-06-11 06:56] n3nash commented on #2916
@jkdll Closing this ticket due to inactivity. Please feel free to re-open with answers if you still need assistance.

[2021-06-11 06:56] #2916 closed

[2021-06-11 06:56] n3nash commented on #2910
@ismailsimsek Is this still an issue ?

[2021-06-11 06:57] n3nash commented on #2901
@AkshayChan You can also try SIMPLE_INDEX for this use-case to speed it up. Closing this ticket since there is no other follow up on this. Please re-open if you need further assistance

[2021-06-11 06:57] #2901 closed

[2021-06-11 06:59] n3nash commented on #2887
Closing this ticket due to inactivity. Please re-open if you need assistance

[2021-06-11 06:59] #2887 closed

[2021-06-11 07:00] n3nash commented on #2852
Closing this ticket due to inactivity.

[2021-06-11 07:00] #2852 closed

[2021-06-11 07:03] n3nash commented on #2834
Closing this due to inactivity.

[2021-06-11 07:03] #2834 closed

[2021-06-11 07:04] n3nash commented on #2829
@manishbol Closing this ticket due to inactivity. Please re-open if you need further assistance.

[2021-06-11 07:04] #2829 closed

[2021-06-11 07:07] n3nash commented on #2811
@murphp15 Closing this ticket due to inactivity. Please re-open if you still need assistance

[2021-06-11 07:07] #2811 closed

[2021-06-11 07:08] n3nash commented on #2787
@rubenssoto Closing this ticket due to inactivity. Please re-open if you need further assistance.

[2021-06-11 07:08] #2787 closed

[2021-06-11 07:09] veenaypatil commented on #3063
@n3nash @konradwudkowski  https://github.com/apache/hudi/pull/3066 pls review is this note looks good

[2021-06-11 08:44] pranotishanbhag commented on #3008
An update here:
For the first issue, I changed the class to MultiPartKeysValueExtractor and tested it on the EMR cluster. It works as expected. Both hive and hudi reads and showing the right data. I however see the same exception with GlobalDeleteKeyGenerator.

Please take a look and update the hudi doc with the right KeyGenerator for hard delete usecase.

[2021-06-11 08:45] pranotishanbhag commented on #3008
I was able to get around the 2nd issue by creating the hive db with location information:
spark.sql("""CREATE DATABASE test_hudi_db LOCATION "s3://bucket/pranoti/hudi/datasets/test1/test_hudi_db"""")

I was able to save the non-partitioned table in this DB after this. May be some changes are needed in the code. My metastore is Glue.

[2021-06-11 08:48] konradwudkowski commented on #3063
@veenaypatil looks good to me, thanks!

[2021-06-12 07:32] calleo commented on #2975
Will give this a try. Thanks all for helping out.

[2021-06-12 14:31] arun990 opened #3069 "[SUPPORT] presto query error on hudi table - hudi.hadoop.HoodieParquetInputFormat"
Hi,
Hudi table is working with spark and Hive.
But when queried the hudi table using presto giving error:
error: "Unable to create input format org.apache.hudi.hadoop.HoodieParquetInputFormat"

Presto verions is : Presto CLI dataproc-tag-340-3

Kept the hudi presto bundle jar at /usr/lib/presto/plugin/hive-hadoop2 as well and
hive-site xml has the input format set as org.apache.hudi.hadoop.HoodieP

[2021-06-12 18:07] veenaypatil commented on #2827
@nsivabalan  created WIP PR - https://github.com/apache/hudi/pull/3071 , Spark is moved to hive 2.3.9 version https://github.com/apache/spark/blob/master/pom.xml#L131

[2021-06-13 03:07] arun990 commented on #3069
Hi, restart helped after setting HoodieParquetInputFormat.
closing this.
Thank you.

[2021-06-13 03:07] #3069 closed

[2021-06-14 08:18] deep-teliacompany commented on #2970
Hi, does Hudi 0.8.0 supports concurrency or from which version concurrecy is supported??

[2021-06-14 12:40] karan867 opened #3077 "[SUPPORT] Large latencies in hudi writes using upsert mode."
**Describe the problem you faced**
I am currently working on a POC to integrate Hudi with our existing Data lake. I am seeing large latencies in hudi writes. It is almost 7x compared to the partitioned parquet writes we perform now.

I am writing around 2.5 million rows (3.9 GB) in two batches with upsert mode. The first write gets completed in 2-3 mins. For the second batch, the latency is around

[2021-06-14 13:29] FelixKJose commented on #3054
@n3nash Could you please give more details on how is it supported in Presto and Spark? I mean, do I have to provide some specific configurations etc and does it support in both MOR and COW table types? Why I am asking this is, RFC-7 (https://cwiki.apache.org/confluence/display/HUDI/RFC+-+07+%3A+Point+in+time+Time-Travel+queries+on+Hudi+table) seems inactive and I haven't seen any documentation reg

[2021-06-14 17:00] tandonraghav opened #3078 "[SUPPORT] combineAndGetUpdateValue is not getting called when Schema evolution happens"
**Describe the problem you faced**

We have a stream of partial records (Mongo CDC oplogs) and want to update the keys which are passed in partial records, and keeping the other values intact.

A sample record in our CDC Kafka:-

````{"op":"u","doc_id":"606ffc3c10f9138e2a6b6csdc","shard_id":"shard01","ts":{"$timestamp":{"i":1,"t":1617951883}},"db_name":"test","collection":"Users","o":{"$v":1,"$set

[2021-06-14 17:08] tandonraghav commented on #2919
@n3nash @vinothchandar I am seeing the entire schema is getting persisted in Glue **TBLPROPERTIES**. This was not the behaviour previously. Do we need schema there as well or we can have a config to switch it off?

Hudi version - 0.9.0-SNAPSHOT

[code]

[2021-06-15 04:13] fengjian428 commented on #3054
@n3nash is this new data skipping index can improve incremental&point query‘s performance？seems when using  incremental&point query, need use INCR_PATH_GLOB_OPT_KEY to set pattern to filter on path， otherwise query will pull all the data in commit time range

[2021-06-15 13:28] vinothchandar commented on #2919
Probably don't need it persisted in glue like this.
@pengzhiwei2018 any thoughts? cc @umehrot2 as well

[2021-06-15 13:32] vinothchandar commented on #2905
Thanks all! Would be nice to do this along with the 0.9.0 release.

[2021-06-16 03:06] atharshah-ea commented on #2522
Hi, also looking for an example of how to specify the DefaultHoodieRecordPayload. Setting the following option did not work for us:
 **'hoodie.datasource.write.payload.class': 'org.apache.hudi.DefaultHoodieRecordPayload'**

Output:
could not create payload for class: org.apache.hudi.default hoodie record payload

[2021-06-16 03:27] n3nash commented on #3078
@tandonraghav To expect the payload semantics for compaction, you need to override the `preCombine` implementation and have the same implementation across `combineAndGetUpdateValue` and `preCombine`. The idea is that whether it is 2 records in memory, 2 records on disk or 1 record in memory vs 1 on disk -> we call either `preCombine` or `combineAndGetUpdateValue` depending on what can be construct

[2021-06-16 03:29] n3nash commented on #3065
@wangfeigithub Are you trying to upgrade from a previous older version of Hudi or are you directly writing new files using 0.8 ?

[2021-06-16 03:32] n3nash commented on #3063
Closing this ticket since the issue is resolved. Thanks @veenaypatil !

[2021-06-16 03:32] #3063 closed

[2021-06-16 03:33] n3nash commented on #3059
@lppsuixn Gentle ping to respond to @leesf comment

[2021-06-16 03:38] n3nash commented on #3008
@pranotishanbhag We will add the right documentation for the GlobalDeleteKeyGenerator. Can you please expand on what code changes are needed for the second issue ?

[2021-06-16 03:38] #3008 closed

[2021-06-16 03:44] n3nash commented on #1679
Closing this ticket due to inactivity. There is a [PR](https://github.com/apache/hudi/pull/2879) open that will provide ways to disable JDBC.

[2021-06-16 03:44] #1679 closed

[2021-06-16 03:50] n3nash commented on #1829
With 0.7.0, one can set `hoodie.metadata.enable` to true to eliminate issues due to file listings. Closing this ticket now.

[2021-06-16 03:50] #1829 closed

[2021-06-16 03:50] n3nash commented on #1845
@nsivabalan Can you please reply above ?

[2021-06-16 03:52] n3nash commented on #2265
The fix has been landed and a FAQ has been added here -> https://cwiki.apache.org/confluence/display/HUDI/FAQ?focusedCommentId=181310323#comment-181310323

[2021-06-16 03:52] #2265 closed

[2021-06-16 04:58] nsivabalan commented on #1845
yes, I am in sync w/ @sbernauer via slack. He confirmed that the PR we have put up works for him (older records able to be upserted to hudi after schema evolved w/ hudi table). He is doing more testing for now.

[2021-06-16 05:38] wangfeigithub commented on #3065
https://github.com/apache/hudi/issues/3065#issuecomment-862009477

directly writing new files using 0.8

[2021-06-16 08:35] tandonraghav commented on #3078
@n3nash I thought `preCombine` is only used to dedup incoming records.
Then why `OverwriteNonDefaultsWithLatestAvroPayload` is not overriding `preCombine`?
As well as in this [PR](https://github.com/apache/hudi/pull/3035/files)

[2021-06-16 09:48] moranyuwen opened #3094 "Hive query hudi FAILED: Execution Error, return code 2 from org.apache.hadoop.hive.ql.exec.mr.MapRedTask"
I created a Hudi table member2 using Spark, select * from member2 was a success. but select count(*) from member2 is error;

Steps to reproduce the behavior:
1.spark create table
df.write.format("org.apache.hudi")
  .option(DataSourceWriteOptions.TABLE_TYPE_OPT_KEY, DataSourceWriteOptions.COW_TABLE_TYPE_OPT_VAL)
  .option("hoodie.insert.shuffle.parallelism", 12)
  .option("hoodie.upsert.shuffle.pa

[2021-06-16 14:16] lppsuixn commented on #3059
I am very sorry that I just saw your message.
I just want to have a  [canal](https://github.com/alibaba/canal) writer  write to hudi directly。currently,we write data to hbase , and  want to replace hbase with hudi.
The reason we don’t want to use a is we already have a lot of writers like kafka writer,cassandra writer, orc writer , etc..。we don't want to change this process.
I'm just a beginner fo

[2021-06-16 14:17] tamil-balaiah opened #3095 "[SUPPORT] Not able to submit the spark-submit code into AWS EMR step execution"
**SPARK-SUBMIT failure in AWS EMR step execution**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)? No

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**SPARK-SUBMIT failure

[2021-06-16 15:24] leesf commented on #3059
@lppsuixn Thanks for the clarification, if you are interested and I am happy to guide you to support MOR type for java client.

[2021-06-17 03:13] lppsuixn commented on #3059
@leesf  I am very interested. Can you give me some suggestions? Thanks!

[2021-06-17 15:31] leesf commented on #3059
@lppsuixn there is also a jira ticket https://issues.apache.org/jira/browse/HUDI-1422 to track the MOR support for java client , we would sync offline about the detail and just send you an email .

[2021-06-17 15:31] leesf commented on #3059
closing this as we already have a ticket to track this.

[2021-06-17 15:31] #3059 closed

[2021-06-18 07:01] dwshmilyss opened #3107 "[SUPPORT]Use Spark to Hudi and JVM Metaspace OOM"
**Use Spark to Hudi and JVM Metaspace OOM**

When I use the Spark API to write a piece of data to Hudi, I notice that the JVM's Metaspace continues to grow until the OOM.
![image](https://user-images.githubusercontent.com/8295288/122516043-d847ca80-d040-11eb-8497-7b24eb55516a.png)
**Here's my code:**
[code]

Then I let this method loop 1000 times, I found every JVM load of classes named GeneratedS

[2021-06-18 23:57] jkdll opened #3113 "[SUPPORT] Deltastreamer Error when reading AVRO Schema with UNION Types"
## Problem

I am running deltastreamer (spark submit below) with schema registry provider `SchemaRegistryProvider` and source class `AvroKafkaSource`. I am reading a schema which contains UNION Avro types (sample below). Deltastreamer fails to read all the records. or sometimes also fails outright. I believe this is due to the UNION Avro type being used to define nullable structs and nullable arra

[2021-06-19 01:28] jkdll commented on #3113
I have also tested with the latest version on the `master` branch. Same error.

Moreover, without `--transformer-class org.apache.hudi.utilities.transform.FlatteningTransformer` I get this error, which I believe is triggered due to UNION structs. I believe the flatten transformer "fixes" this by flattening the struct, however it is only a workaround:
[code]

[2021-06-20 21:06] tandonraghav commented on #3078
@n3nash I am not able to resolve this. `preCombine` can be called even if there are no duplicates in the incoming records?
Can you please explain with a sample ?

I fail to understand how will i combine the existing record if it doesn't call the method `combineAndGetUpdateValue` as nowhere else i have ref to `IndexedRecord currentValue`.

[2021-06-21 09:53] mauropelucchi commented on #2564
Hello @vinothchandar @n3nash

We continue to have this type of issue

Let's me to share our situation, the configuration is the same for all the tables in our environment

![image](https://user-images.githubusercontent.com/16307145/122742906-bb9cd400-d286-11eb-8942-369d0ce69f41.png)

![image](https://user-images.githubusercontent.com/16307145/122742944-c8212c80-d286-11eb-9b3c-48972ce75fe6.png)

Se

[2021-06-21 14:09] tamil-balaiah commented on #3095
Can anybody help on the above issue

[2021-06-21 14:47] arun990 opened #3127 "[SUPPORT] Py4JJavaError An error occurred while calling o151.save Hudi save .."
Hi, Using spark 2.4.0 with python 3.6
set the hive_sync.enable': 'false' while checking.
Saving the dataframe to hdfs giving the below error.
please help.
  df.write.format("org.apache.hudi").options(**hudiOptions).mode("append").save("/data1/table1")
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 736, in save
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py

[2021-06-21 15:58] arun990 commented on #3127
Hi, using Hudi 0.8.0 for the above and got the above mentioned error.
Does using Hudi 0.7.0 helps to solve it?

[2021-06-21 16:04] arun990 commented on #564
Hi, Using spark 2.4.0 with python 3.6
set the hive_sync.enable': 'false' while checking.
Saving the dataframe to hdfs giving the below error.
please help.
df.write.format("org.apache.hudi").options(**hudiOptions).mode("append").save("/data1/table1")
File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 736, in save
File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/jav

[2021-06-21 16:05] arun990 commented on #564
Hi, using Hudi 0.8.0 for the above and got the above mentioned error.
Does using Hudi 0.7.0 helps to solve it?
ref #3127

[2021-06-21 23:16] n3nash commented on #3127
@arun990 Are you following these instructions on using pyspark with Hudi -> https://hudi.apache.org/docs/spark_quick-start-guide.html#pyspark-example ?

[2021-06-21 23:27] n3nash commented on #3113
@jkdll Can you try changing your schema as follows :

[code]

The "Name" field did not have a default value NULL before.

To be able to debug this further, could you trim down your schema to provide 1 with which we can reproduce this behavior ?

[2021-06-21 23:30] n3nash commented on #3095
@tamil-balaiah This looks like a deployment problem with AWS EMR and not specifically a Hudi issue. Have you tried reaching out to the AWS support team ?

cc @umehrot2

[2021-06-21 23:37] n3nash commented on #3094
@moranyuwen Could you please provide the full stack trace from the output to be able to debug the issue ?

[2021-06-21 23:45] n3nash commented on #3078
@tandonraghav Let me explain in details

1. `preCombine` -> This is used in the following code paths a) In-Memory deduping/merging of incoming records. The logic in preCombine decides how 2 records with the same record key will be deduped b) On-Disk deduping/merging of incoming records. The same logic in preCombine decides how 2 records will the same record key in log files will be merged/deduped.

[2021-06-21 23:55] n3nash commented on #3077
@karan867 Can you try setting the following parameters ?

1. https://hudi.apache.org/docs/configurations.html#withIndexType -> Set the index type to SIMPLE.
2. https://hudi.apache.org/docs/configurations.html#compactionSmallFileSize -> Set this config to 0.

Both of the above should speed up your ingestion. Hudi attempts to find small files and then pack records into them to ensure that small file

[2021-06-21 23:56] n3nash commented on #3065
@wangfeigithub It's hard to say what the issue really is but one thing I can see is that MARKER files are generally under a "." directory. Do you think Windows fs might not be recognizing that ?

[2021-06-22 00:03] n3nash commented on #3054
@FelixKJose You can do time travel in the following way:

**Using Spark**

[code]

**Using Hive**

[code]

Ideally, we should add a `hoodie.table_name.consume.end.timestamp` to support the same behavior in Hive.

@fengjian428 For the incremental pull using Spark, the INCR_PATH_GLOB_OPT_KEY will just be used to incrementally pull data based on commit ranges. This works on file level. If you want to

[2021-06-22 00:57] arun990 commented on #3127
Hi @n3nash, Thanks for quick update.
Yes, followed these instructions on using pyspark with Hudi -> https://hudi.apache.org/docs/spark_quick-start-guide.html#pyspark-example and its working fine for spark 2.4.7 on google cloud for cow tables.
But we have spark 2.4.0 with python 2.7 (and python 3.6) for DEV, UAT, PROPROD and PROD environments. I need to
make it work for spark 2.4.0.
Following this,

[2021-06-22 02:57] arun990 commented on #3127
Hi, checked with hive sync as true also after setting up spark 2.4.0 with hive.
Getting the same error as mentioned below.
Please advise.
df.write.format("org.apache.hudi").options(**hudiOptions).mode("append").save(sys.argv[5])
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 736, in save
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", li

[2021-06-22 07:24] Akshay2Agarwal opened #3131 "[SUPPORT] Creating non-partitioned table in hudi generates duplicates"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I am tr

[2021-06-22 08:32] deep-teliacompany opened #3132 "[SUPPORT]- HUDI table returns no records when queried using Hive with partition columns in where clause"
HUDI table returns no records when queried using Hive with partition columns in where clause. While same query returns expected records perfectly in Impala

Hudi Table created in hive-
CREATE EXTERNAL TABLE t_test_hudi (
`_hoodie_commit_time` string,
`_hoodie_commit_seqno` string,
`_hoodie_record_key` string,
`_hoodie_partition_path` string,
`_hoodie_file_name` string,
`DagName` string,
`sequence_

[2021-06-22 09:46] Akshay2Agarwal commented on #3131
Sorry, I missed `KEYGENERATOR_CLASS_OPT_KEY` in upsert. Closing the ticket, sorry for nuisance.

[2021-06-22 09:46] #3131 closed

[2021-06-22 13:30] #3094 closed

[2021-06-22 19:25] tandonraghav commented on #3078
@n3nash I am trying to implement exactly `https://github.com/apache/hudi/pull/2106/files` , in this also `PartialAvroPayload` class only implements `combineAndGetUpdateValue` .
Also, i do not have `Schema` in preCombine method.
Also, i am saying if the record preexists in (.parquet) and if i add the field in incoming records (log file .avro files) then on compaction `combineAndGetUpdateValue` is n

[2021-06-23 02:04] n3nash commented on #3048
@fengjian428 Closing this due to inactivity. Please feel free to re-open if you need assistance.

[2021-06-23 02:04] #3048 closed

[2021-06-23 03:48] guanziyue commented on #3078
Hi tandonraghav
I did some similar work before. Hope my experience could help you.
First, as nanash mentioned before, we may call precombine method in two cases. First is dedup in ingestion. Second is in compaction.
In compaction process, we first read log file use schema stored in log block to construct generic record and then have generic record transfer into payload. Then put them into a map. W

[2021-06-23 07:57] wangfeigithub commented on #3065
@n3nash  I think it's the window's path conversion problem.

![image](https://user-images.githubusercontent.com/29723968/123058720-addc7f80-d43b-11eb-9f9f-c7fb2ad8040f.png)
I added this section in the source code to solve the problem

[2021-06-23 14:59] karan867 commented on #3077
@n3nash  Thank you for the suggestions. I tried the parameters you suggested.

* Setting hoodie.parquet.small.file.limit to zero did not make much difference and the subsequent commits turned slower.
![image](https://user-images.githubusercontent.com/85880633/123118196-0b82c300-d460-11eb-8a40-b279e704cc98.png)

* Setting the index to SIMPLE decreased the time from 12 mins to 9.5 mins. I did not tr

[2021-06-23 19:23] rubenssoto opened #3143 "[SUPPORT] Skew partition on simple count in a Hudi Table"
Hello Guys,

I'm trying to run a simples spark query on a Hudi dataset but took a long to finished and I realized that exist very skew partitions, but I didnt understand why.

The table has 50gb
Spark 3.0.1
Emr 6.1
Hudi 0.8

Cluster
16 r4.xlarge machines

query:
[code]
Hudi options to create the table

'hoodie.table.name': self.table_name,
              'hoodie.datasource.write.recordkey.field': "

[2021-06-23 19:28] rubenssoto commented on #3143
I think the problem was my data.

[2021-06-23 19:28] #3143 closed

[2021-06-23 22:42] vinothchandar commented on #2992
folks,  whats the next step here?

[2021-06-26 05:37] veenaypatil commented on #2774
@vobukh can you pls try https://github.com/apache/hudi/pull/3160 and let us know if it works

[2021-06-26 16:40] cb149 opened #3161 "[SUPPORT] Spark Structured Streaming from Kafka to HoodieStreamingSink missing messages"
**Describe the problem you faced**

I have a Spark Structured Streaming application running on YARN which I trigger once at the start of every hour. Now I have discovered missing messages in my Hudi table, which is confusing since Structured Streaming proclaims _the system ensures end-to-end exactly-once fault-tolerance guarantees_

Effectively the application runs:

[code]

Commit operation is `u

[2021-06-27 16:03] jkdll commented on #3113
@n3nash apologies for the late reply. I have been trying to replicate this error using a different data set, however I have not managed to do so.

Could you please clarify why such an error (as shown in the ticket) would occur? (as this seems to be the original error).
[code]

I will continue trying to replicate the error with a smaller schema.

[2021-06-27 19:09] tandonraghavs commented on #3078
@guanziyue Well, in my testing `combinAndGetUpdateValue` in not getting called at all. I am not worried about how compaction is happening for delta records.
Do you have a reference implementation?

[2021-06-27 19:16] tandonraghav commented on #3078
@guanziyue Well, in my testing combinAndGetUpdateValue in not getting called at all. I am not worried about how compaction is happening for delta records.
Do you have a reference implementation?

[2021-06-27 19:29] n3nash commented on #3078
@guanziyue Thanks for the detailed explanation.

@tandonraghav During compaction, `combineAndGetUpdateValue` is never called. See this to get an understanding of how compaction works -> https://github.com/apache/hudi/blob/e99a6b031bf4f2e3037d4cb5307d443cda2d2002/hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordScanner.java#L132.

The issue is you want a common implem

[2021-06-28 16:28] fanaticjo commented on #3078
@n3nash  This same problem is there in my pull request also https://github.com/apache/hudi/pull/3035

I also wanted a way to solve this . i was thinking internally if a new column is added add that in the hoodie.update.keys

[2021-06-29 13:26] jkdll commented on #3113
After further investiation; it seems like the first error (`java.lang.ArrayIndexOutOfBoundsException`) is related to data types being changed and new fields being introduced in the middle of the schema. The topic I am reading from contains a lot of data whose structure has changed quite drastically. It is backward compatible, but fields were introduced in the middle of the schema. Thus I have conc

[2021-06-29 18:39] tandonraghav commented on #3078
@fanaticjo As per the above comments, you should also implement `preCombine` method.
And also do u faced the same problem while Schema Evolution? or something else?

[2021-06-29 18:41] fanaticjo commented on #3078
I faced the only problem only in schema evolution where a new column is coming its filled as null

[2021-06-29 18:46] tandonraghav commented on #3078
@fanaticjo ok, but you should implement `preCombine` also, as the logic should be uniform, might be that is the reason?

[2021-06-29 18:50] fanaticjo commented on #3078
okay , will implement preCombine also

[2021-06-30 03:12] liijiankang opened #3187 "[SUPPORT]Unable to shutdown local metastore client"
**Describe the problem you faced**

I used the code on the hudi master branch to write data into hudi and synced it to hive, and encountered this exception ："ERROR hive.metastore: Unable to shutdown local metastore client" .
I'm not sure if this is a hive problem or a hudi problem. I found this link in the hive community. “https://issues.apache.org/jira/browse/HIVE-2883”.
I did not encounter this

[2021-06-30 06:41] liijiankang commented on #3187
After client.close() is changed to Hive.closeCurrent() in HoodieHiveClient$close(), there is no the above-mentioned exception.

[2021-06-30 08:32] freeshow opened #3188 "java.lang.NoSuchMethodError: org.apache.hudi.org.apache.jetty.server.session.SessionHandler.setHttpOnly(Z)V[SUPPORT]"
when i use cdh6.3.2 with hudi :
happen: java.lang.NoSuchMethodError: org.apache.hudi.org.apache.jetty.server.session.SessionHandler.setHttpOnly(Z)V

**Environment Description**

* Hudi version : 0.9.0-SNAPSHOT

* Spark version : 2.4.4

* Hive version : 2.1.1-cdh6.3.2

* Hadoop version : 3.0.0-cdh6.3.2

* Storage (HDFS/S3/GCS..) :

* Running on Docker? (yes/no) : no

```Add the stacktrace of the er

[2021-06-30 10:24] mdz-doit opened #3191 "[SUPPORT]client spark-submit cmd error:Caused by: java.lang.NoSuchMethodError: org.apache.spark.sql.execution.datasources.DataSourceUtils$.PARTITIONING_COLUMNS_KEY()Ljava/lang/String;"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-06-30 18:09] jkdll commented on #3113
@n3nash For the following error:
[code]
I dug a bit deeper and found that the Spark Avro version we were running, 2.4.8, does not support null attributes, as shown here:
https://github.com/apache/spark/blob/branch-2.4/external/avro/src/main/scala/org/apache/spark/sql/avro/SchemaConverters.scala

However, updated versions of the library, specifically 3.x do:
https://github.com/apache/spark/blob/mas

[2021-06-30 23:14] jkdll commented on #3113
@n3nash I believe I found the issue, and added this code: https://github.com/jkdll/hudi/commit/8c3aabca64b2f65061864bac2fb1816df2fb9d89

I am unable to test right now because it seems like build is broken on release branches 0.8.0 and 0.7.0. Cannot find this dependency: https://mvnrepository.com/artifact/org.pentaho/pentaho-aggdesigner-algorithm/5.1.5-jhyde

[2021-06-30 23:25] jkdll commented on #3113
Added PR: https://github.com/apache/hudi/pull/3195

[2021-07-01 06:48] wangfeigithub opened #3199 "Hudi reported an error, but the SparkStreaming still works"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-07-01 06:50] wangfeigithub commented on #3199
In this case, how do you ensure that you actively stop the SparkStreaming task or stop the YARN task if you write to a HUDI table in error

[2021-07-01 08:47] riritack opened #3201 "[SUPPORT]Flink SQL customize fromat cannot sink into hudi"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear

[2021-07-01 10:14] Tandoy opened #3205 "[SUPPORT]Clustering of the hudi MOR table using HoodieClusteringJob failed"
**Steps to reproduce the behavior:**
`spark-submit \
--master yarn \
--deploy-mode cluster \
--conf spark.task.cpus=1 \
--conf spark.executor.cores=1 \
--class org.apache.hudi.utilities.HoodieClusteringJob `ls /home/appuser/tangzhi/hudi-spark/hudi-sparkSql/packaging/hudi-utilities-bundle/target/hudi-utilities-bundle_2.11-0.9.0-SNAPSHOT.jar` \
--schedule \
--base-path hdfs://dxbigdata101:8020/user/

[2021-07-02 01:13] freeshow commented on #3188
I fount hadoop3.0.0 provides Jetty 9.3; Hudi has a dependency on Jetty 9.4 (specifically, SessionHandler.setHttpOnly() doesn't exist in 9.3). I compile with Hadoop3.0.0.
When I use hadoop2.7,   not appeer the error!

[2021-07-02 01:26] wangxianghu commented on #3188
@freeshow Try this :
[code]

[2021-07-02 02:52] freeshow commented on #3188
Thanks，it works

[2021-07-02 03:29] #3188 closed

[2021-07-02 07:16] #3201 closed

[2021-07-02 10:25] Tandoy commented on #3205
INLINE_CLUSTERING_MAX_COMMIT_PROP：hoodie.clustering.inline.max.commits = 4;
When my Debug source code found that the last clustering commits must be greater than 4 when creating the ClusteringPlan, otherwise it would return empty. My hudi MOR table only has 3 commits, so clustering cannot be successful.

[2021-07-02 10:25] #3205 closed

[2021-07-02 12:41] stym06 commented on #736
This works for Hive 3 also, if we include all the jars in $HIVE_HOME/lib/* folder while running hive_sync.sh
`java -cp $HUDI_HIVE_UBER_JAR:${HADOOP_HIVE_JARS}:${HADOOP_CONF_DIR}:${HIVE_HOME}/lib/* org.apache.hudi.hive.HiveSyncTool "$@"`

[2021-07-02 16:50] anikait-rao opened #3215 "[SUPPORT] Flink Hudi Quickstart - SqlClientException"
**Describe the problem you faced**
Running the Flink Quickstart guide (https://hudi.apache.org/docs/flink-quick-start-guide.html), I receive the error I copied in the stack trace when I get to the "Insert Table" step. If anyone could give me a quick demo of how this works via Zoom or some other platform, that would be very helpful.

**To Reproduce**

Steps to reproduce the behavior:

1. cd to the

[2021-07-03 04:59] stym06 opened #3217 "Error in running Deltastreamer in K8s Could not load key generator class org.apache.hudi.hive.NonpartitionedKeyGenerator [SUPPORT]"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I'm run

[2021-07-03 11:02] Tandoy opened #3218 "[SUPPORT]Failed to cluster the hudi COW table using HoodieClusteringJob"
**Steps to reproduce the behavior:**
spark2-submit \
--master yarn \
--deploy-mode client \
--conf spark.task.cpus=1 \
--conf spark.executor.cores=1 \
--class org.apache.hudi.utilities.HoodieClusteringJob ls /home/appuser/tangzhi/hudi-spark/hudi-sparkSql/packaging/hudi-utilities-bundle/target/hudi-utilities-bundle_2.11-0.9.0-SNAPSHOT.jar \
--schedule \
--base-path hdfs://dxbigdata101:8020/user/hud

[2021-07-03 12:07] #3217 closed

[2021-07-03 21:53] jsbali commented on #3187
@leesf and @liijiankang. Thanks for the info @liijiankang. Looking into it

[2021-07-04 00:23] puremachinery commented on #2970
I'm getting this issue using hudi 0.8.0 and with no other jobs running in parallel.

[2021-07-05 06:36] karan867 commented on #3077
@n3nash did you get a chance to look at this?

[2021-07-05 14:45] codope commented on #3218
@Tandoy The `HoodieClusteringJob` has two steps:

1. Schedule clustering (which is the `spark-submit` with `--schedule` option). As seen in the logs screenshot, this gives the instant for which clustering is scheduled.
2. Run clustering (`spark-submit` with `--instant-time` option) where you give the instant obtained in step 1. This is the steop which actually executes clustering.
More details on

[2021-07-06 02:42] Tandoy commented on #3218
I got it, thank you very much.

[2021-07-06 02:42] #3218 closed

[2021-07-06 08:16] LiLiu88 commented on #1823
can we disable compaction in sink ,and run compaction using hudi-cli manully? both inline or async all disable

[2021-07-06 14:29] bgt-cdedels commented on #2564
The `show fsview all` yields no results because of the default value of the `pathRegex` parameter.  As we only have one level of partitioning, changing the command to `show fsview all --pathRegex */*` lists many files.

[2021-07-07 06:10] prashantwason commented on #2995
Metadata Table bootstrap had some bug which caused it to only bootrap till 20201216222013. Future changes (commits / cleans etc) were not committed to metadata table which caused it to always report data from dec.

This was not caused by your actions.

I have been filing the various patches to fix this.  0.9 will have all the fixes for metadata table. But if you want to try now, you need these pat

[2021-07-07 11:45] LiLiu88 opened #3236 "why use avro not parquet in MOR"
why use avro not parquet in MOR?
the write perfermance is better?

[2021-07-07 15:09] vinothchandar commented on #2919
@codope worth looking at this ticket and everything with same label to see you have covered those cases for schema evol tests as well. FYI

[2021-07-08 01:12] abdulmuqeeth commented on #3077
I have a similar observation. I've done an initial load of 300M rows into a COW hudi table and trying to upsert a batch of 12M which is mostly new data but might occasionally contain a couple thousand rows that are updates. This upsert sometimes takes 8mins and sometimes about 25mins. I've noticed that the stage that's causing the increase in time is **Getting small files from partitions** . Somet

[2021-07-08 06:45] vinothchandar commented on #3236
yes. That said, #3228 is coming. :)

[2021-07-08 07:33] Sunny-Island opened #3241 "[SUPPORT] NoClassDefFoundError when run HoodieJavaWriteClientExample"
**Describe the problem you faced**

When I run HoodieJavaWriteClientExample with parameters: file:///tmp/hoodie/sample-table hoodie_rt

It shows:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Use IDEA to run HoodieJavaWriteClientExample with parameter file:///tmp/hoodie/sample-table hoodie_rt

**Expected behavior**

I wonder if I run this example in a wrong way?

**Environment De

[2021-07-08 07:59] moranyuwen commented on #2680
@n3nash  I had the same problem

[2021-07-08 08:05] moranyuwen commented on #2680
@n3nash

2021-07-08 15:39:57,298 INFO  [main] metastore.ObjectStore (ObjectStore.java:getPMF(631)) - Setting MetaStore object pin classes with hive.metastore.cache.pinobjtypes="Table,StorageDescriptor,SerDeInfo,Partition,Database,Type,FieldSchema,Order"
2021-07-08 15:39:57,458 WARN  [main] metastore.MetaStoreDirectSql (MetaStoreDirectSql.java:runTestQuery(327)) - Self-test query [select "DB_ID" fr

[2021-07-08 08:12] moranyuwen opened #3242 "Hive sync error by using run_sync_tool.sh JDODataStoreException: Error executing SQL query "select "DB_ID" from "DBS"""
2021-07-08 15:39:57,458 WARN  [main] metastore.MetaStoreDirectSql (MetaStoreDirectSql.java:runTestQuery(327)) - Self-test query [select "DB_ID" from "DBS"] failed; direct SQL is disabled
javax.jdo.JDODataStoreException: Error executing SQL query "select "DB_ID" from "DBS"".
	at org.datanucleus.api.jdo.NucleusJDOHelper.getJDOExceptionForNucleusException(NucleusJDOHelper.java:543)
	at org.datanucleu

[2021-07-08 10:15] stym06 commented on #2053
If we have the hudi-hadoop-mr bundle jar in a different path other the aux jars path set in hive-site.xml, can we reference that classpath so that this does not happen?

[2021-07-09 02:45] LiLiu88 opened #3246 "OCC correct problem"
Job1&Job2 do upsert concurrently, and they both have the same primaryKey record (pk1 ...), and this pk1 record does not exists in the table before.

because these two jobs upsert concurrently, so Job1&Job2 do indexlookup and both treat pk1 as insert type.
And Job1 first commit to table, then Job2 commit to table and check file level conflict with Job1's commit, there is no conflict, and also inser

[2021-07-09 12:06] jazzyMin opened #3249 "execute insert into ... error:Unexpected exception. This is a bug. Please consider filing an issue."
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://cwiki.apache.org/confluence/display/HUDI/FAQ)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear