[2021-12-10 17:00] alex-shchetkov commented on #3724
This really threw me for a loop, thank you for looking into this and clarifying this @kazdy, otherwise I would've spent far longer trying to fiddle with the properties to make it read the entire hudi table.

The only workaround I found for reading the entire table during the first readStream trigger, is by re-writing the original table with itself. This creates a new commit containing all records,

[2021-12-10 18:59] Rap70r commented on #4242
Thank you @codope and @nsivabalan. I will read those articles.

[2021-12-10 18:59] #4242 closed

[2021-12-10 19:28] kazdy commented on #3724
Glad to hear that @alex-shchetkov :)
There is one option that I want to try -  [hoodie.datasource.read.incr.path.glob](hoodie.datasource.read.incr.path.glob)
I don't know how it works exactly yet, but maybe you'll find it useful :)

Knowing how it works now, I'd keep commits for the last x days, and when there's a need for reprocessing I'd run it in batch mode, only for some partitions if needed.

[2021-12-11 02:46] zhangyue19921010 commented on #4275
Hi @JoshuaZhuCN , I also meet this issue when using S3.
https://github.com/apache/hudi/pull/4078
Hope this PR can help you.

[2021-12-11 05:01] york-yu-ctw opened #4283 "[SUPPORT] Data written by hudi 0.10.0 is not able be queried by redshift"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

By using hudi 0.10.0,

[2021-12-11 15:35] york-yu-ctw commented on #4283
I tired to change the logic in HoodieInstantTimeGenerator to create **second** instant timestamp and build the jar file, it works

[2021-12-11 15:40] york-yu-ctw commented on #4283
I found some discussion in
https://github.com/apache/hudi/pull/4024

As the contributor mentioned, the functions to parse timestamp are static, it may cause parameter parsing everywhere
Do you guys have any suggestion?

[2021-12-11 18:00] nikita-sheremet-clearscale commented on #4267
I do not know how to fix this for Glue because it hides all nodes from management. But I know how to fix this error for EMR.
The source article is - https://aws.amazon.com/ru/blogs/big-data/apply-record-level-changes-from-relational-databases-to-amazon-s3-data-lake-using-apache-hudi-on-amazon-emr-and-aws-database-migration-service/

See the error:

[code]

It means that all nodes inside the cluste

[2021-12-11 18:14] nikita-sheremet-clearscale opened #4288 "[SUPPORT] Could you please clarify hoodie.datasource.hive_sync.mode config value in documentation?"
The config key `hoodie.datasource.hive_sync.mode` appeared in hudi 0.9.0 version. Maybe I miss something but I am not able to find this parameter in previous versions. How hudi worked without it? What was the default value? What is the difference between allowed values `hms`, `jdbc` and `hiveql`? In my mind jdbc and hiveql are very different: jdbc is a protocol but hiveql is SQL dialect. What does

[2021-12-12 03:43] nsivabalan commented on #4283
@york-yu-ctw : Can you raise a support ticket against redshift? looks like hudi::ParsedFilename::IsValidCommitTimestamp has to be fixed when using 0.10.0.
unfortunately, we did not guard the change behind a config. we have to fix it forward. We tested the ms change with spark, hive, presto and trino. but could not test against all engines/envs.

CCn @umehrot2. Is there any quick work around you ca

[2021-12-12 03:46] nsivabalan commented on #4288
@codope  Can you chime in here. Also, @kywe665 : can we improve the docs if this is not yet covered.

[2021-12-12 03:54] nsivabalan commented on #4233
thanks for updating with the resolution. I will add it to our faq to assist others in the community.

[2021-12-12 03:56] nsivabalan commented on #4230
@BenjMaq : Is timeline server running? Can you try disabling timeline server explicitly and giving it a try in the mean time ethan assists us here.
hoodie.embed.timeline.server=false.

[2021-12-12 03:59] nsivabalan commented on #4227
some of your text is in non-english. but if I am not wrong, its about having duplicate entires in the map returned from  getPendingRollbackInfos. Can you put up a patch with the fix you have. I can help review and  land it.

[2021-12-12 04:02] nsivabalan commented on #4176
@codejoyan : Did the proposed solution work or are you still having issues.

[2021-12-12 04:06] nsivabalan commented on #4162
@xushiyan : with 0.10.0, we have made default compile version for spark3 as 3.2.0 right? is this going to cause any serious issue then?

[2021-12-12 04:14] york-yu-ctw commented on #4283
@nsivabalan

I already did, but they are using hudi library 0.5.2, which is not been updated for long time, I don't think they are able to quick update it.
My workaround is implementing  a org.apache.hudi.common.table.timeline.HoodieInstantTimeGenerator class returning second instant instead of millisecond in application, it will override the class in library

[2021-12-12 05:09] nsivabalan commented on #4086
surprising that job succeeds despite the errors. I have not encountered this issue w/ spark-shell or deltastreamer locally as well as in EMR. but don't have exp with glue job.
@umehrot2 : Can you loop in someone to assist here please.

[2021-12-12 05:11] nsivabalan commented on #4082
may I know whats your requirement here? reading from one stream, but depending on certain conditions, write to different hudi tables? or read from multiple streams and write to diff hudi tables?

[2021-12-12 05:15] nsivabalan commented on #4072
hmmm, seems strange. if you got unblocked, can we close the ticket.

[2021-12-12 05:35] xushiyan commented on #4162
in 0.10.0 it's built against spark 3.1.2, not 3.2. Don't think this would cause any serious issue. People can still build with maven profile spark3.0.x for earlier version they use, whenever they decide to upgrade the jar. The release notes are clear about this.

[2021-12-12 05:39] yanenze commented on #4227
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/hudi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月12日(星期天) 中午11:59
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [apache/hudi] [

[2021-12-12 05:42] xushiyan commented on #4162
@yyar actually i don't quite understand your scenario. Are you saying you have a sbt project with hudi dependency and there is dependency conflict? you can always exclude transitive dependency. you can also activate `spark-shade-unbundle-avro` maven profile to build a hudi jar without spark-avro. is this the avro library you're talking about?

[2021-12-12 05:43] yanenze commented on #4227
i have sent patch to you mailbox, and look forward to your favourable reply.

[2021-12-12 06:01] Carl-Zhou-CN commented on #4267
hoodie.datasource.hive_sync.use_jdbc  -> false  Try to prohibit the connection to hive through jdbc?

[2021-12-12 07:04] nsivabalan commented on #4027
@codope : can you take a look please.

[2021-12-12 07:07] nsivabalan commented on #3981
thanks for confirming this. Can we close it out if you don't have more questions

[2021-12-12 07:09] nsivabalan commented on #4162
gotcha, my bad. mistook 3.1.2 for 3.2. thanks.

[2021-12-12 07:17] nsivabalan commented on #3965
@Frogglet : bulk_insert row writer had some issues around timestamp. did you query your dataset after bulk_insert and before upsert to ensure data is intact?

Also, can you try setting
[code]
and let us know what you see.

And I don't think cleaner has anything to do with the issue you are reporting.

[2021-12-12 07:22] nsivabalan commented on #3933
thanks.
in general, try to ensure that each executor has enough memory to accommodate the parallel tasks that it can run based on your configs. for eg, if you let 8 tasks to run concurrently per executor and if executor has 32 GB for eg, each task may get only ~4 GB. Disk spill could happen only when there isn't sufficient memory.

btw, will close the issue out if you are good w/ perf now.

[2021-12-12 07:23] nsivabalan commented on #3890
@stym06 : Can you respond when you can.

[2021-12-12 07:24] nsivabalan commented on #3879
you can share it here if its simple script or via github gists. Or if you want to share data, may be google drive link or something where I have access to download the data.

[2021-12-12 07:25] nsivabalan commented on #3870
@yihua : Can you take this up please.

[2021-12-12 07:28] #3856 closed

[2021-12-12 07:29] nsivabalan commented on #3848
Please feel free to reopen if you the proposed solution does not work.

[2021-12-12 07:29] #3848 closed

[2021-12-12 07:32] nsivabalan commented on #3831
@Kavin88 : with 0.10.0, hudi has added support for setting configs in a props file. https://hudi.apache.org/releases/release-0.10.0#external-config-file-support

[2021-12-12 07:33] nsivabalan commented on #3828
Closing it out for now. Please re-open if you are looking for more details or having any issues.

[2021-12-12 07:33] #3828 closed

[2021-12-12 07:53] nsivabalan commented on #3782
Hey folks. We have made few bug fixes in 0.10.0. Can you give it a try and let us know if the issues are resolved.

[2021-12-12 07:54] nsivabalan commented on #3770
@codejoyan : Can you try this with 0.10.0 and let us know how it goes.
and respond to previous comment if applicable.

[2021-12-12 07:55] #3760 closed

[2021-12-12 08:12] nsivabalan commented on #3755
We made some fix around illegal arg exception you have posted above. Can you try with 0.10.0.
Also, interested to understand more details around "after running few hours, the compaction plan was unreasonable". May I know how do you say that? is it bcoz of the stacktrace posted above or due to something else you noticed. can you throw some light please.

and for the timeout issue you posted above,

[2021-12-12 08:20] nsivabalan commented on #3731
can you please try 0.10.0 and let us know how it goes.

[2021-12-12 12:58] fengjian428 commented on #3755
OK let me try it with 0.10 and see how it goes.

[2021-12-12 13:29] JoshuaZhuCN commented on #3981
This issue can be closed, thanks for answering my doubts.

[2021-12-12 14:58] nsivabalan commented on #3418
this is not reproducible locally. Only diff I see is GLOBAL_BLOOM. I will try to test it out and let you know. in the mean time, if you can provide us with reproducible steps, would be good. I assume your case is, just with one round of bulk_insert with input df having  duplicates, and setting appropriate configs, you see dups in hudi after writing to hudi table.

[2021-12-12 14:59] nsivabalan commented on #3395
thanks for the update. closing the issue.

[2021-12-12 14:59] #3395 closed

[2021-12-12 14:59] nsivabalan commented on #3394
if you are good, can we close the issue out please.

[2021-12-12 15:00] nsivabalan commented on #3394
feel free to reopen if need be. would be happy to help.

[2021-12-12 15:00] #3394 closed

[2021-12-12 15:01] nsivabalan commented on #3297
Closing this out as we could not reproduce. Also, we have made lot of fixes around metadata table with 0.10.0. Please do give it a try.
Feel free to re-open if you are still having the issue. would be happy to help.

[2021-12-12 15:01] #3297 closed

[2021-12-12 15:03] nsivabalan commented on #3242
@niloo-sh : Can you try out what Sagar have suggested above and let us know how it goes. Or feel free to close the issue if the solution worked.

[2021-12-12 15:04] nsivabalan commented on #3191
@xer001 @mdz-doit : Can you please check Raymond's comment above and respond.

[2021-12-12 15:05] nsivabalan commented on #3132
@deep-teliacompany : would appreciate if you can respond so that we can investigate further.

[2021-12-12 15:06] nsivabalan commented on #2992
@ayush71994 : Can you respond with your latest when you get a chance. would like to get to the bottom of this.

[2021-12-12 15:07] nsivabalan commented on #2948
@tandonraghav @veenaypatil : Can you try 0.10.0 and let us know if you issue still persists. above patch should have fixed the issue raised.

[2021-12-12 15:11] nsivabalan commented on #2802
@aditiwari01 :  sorry for dropping the ball on this. Can you put up the patch with the fix you have locally. we can help review and land it.

[2021-12-12 15:13] nsivabalan commented on #2774
@vobukh : Closing the ticket as the proposed patch has been landed in master and is part of latest release. Please re-open this github issue, if the problem still persists. would be happy to help.

[2021-12-12 15:13] #2774 closed

[2021-12-12 15:15] nsivabalan commented on #2688
Hey folks, if you can confirm with 0.10.0, hive sync works w/ hms mode, we can close this ticket out. let me know.

[2021-12-12 15:16] nsivabalan commented on #2529
CCn @kywe665

[2021-12-12 15:29] nsivabalan commented on #2439
@rubenssoto : can you confirm that all connection configs are intact in your set up.

these are the ones that worked for sagar.

"javax.jdo.option.ConnectionURL": "jdbc:mysql://hostname:3306/hive?createDatabaseIfNotExist=true",
"javax.jdo.option.ConnectionDriverName": "org.mariadb.jdbc.Driver",
"javax.jdo.option.ConnectionUserName": "username",
"javax.jdo.option.ConnectionPassword": "password"

al

[2021-12-13 00:00] waywtdcc commented on #4249
I also encountered this problem. Is this a bug？

[2021-12-13 00:03] waywtdcc commented on #4204
I also encountered this problem. Is this a bug? Is it difficult to manually delete the metadata file every time? @danny0405

[2021-12-13 02:32] danny0405 commented on #4249
Can you try 0.10.0 please ? Seems has been fixed in the latest version.

[2021-12-13 05:50] Arun-kc commented on #4267
@Carl-Zhou-CN
I tried `ALTER TABLE table_name RECOVER PARTITIONS;`, but its not working.

![image](https://user-images.githubusercontent.com/22231409/145756912-c82b44ee-8d03-4802-8412-ddf2919aa766.png)

hoodie.datasource.hive_sync.use_jdbc -> false  Tried this approach too, but to no vain.

@nikita-sheremet-clearscale
Yes, I'm using Glue in this scenario. I'm using a hudi connector that was subscr

[2021-12-13 06:32] Carl-Zhou-CN commented on #4267
@Arun-kc  Sorry, it seems I misunderstood，what needs to be done should be   ALTER TABLE ADD PARTITION
![image](https://user-images.githubusercontent.com/67902676/145762846-007866d1-1bfe-46fe-b082-66e723007b92.png)
![image](https://user-images.githubusercontent.com/67902676/145762903-7599f309-b5b0-4eac-9e7c-d3b9ecafe9b8.png)

https://docs.aws.amazon.com/athena/latest/ug/querying-hudi.html#querying-

[2021-12-13 06:33] yihua commented on #4230
@BenjMaq Could you try adding this config to disable timeline-server-based markers and check if the insert is successful?
[code]
The problem is likely due to no/failed timeline server in the insert operation in Spark SQL.  I'm going to understand the root cause.

[2021-12-13 06:35] zztttt commented on #4072
yes, I have already tried to change the warehouse dir url, but it didn't works. Using remote metastore may be a better approach, and I have finished this but by add "spark.hadoop." prefix before hive configurations what is usually placed in hive-site.xml.

[2021-12-13 06:45] Arun-kc commented on #4267
@Carl-Zhou-CN It's ok.

I have tried `ALTER TABLE ADD PARTITION` before, it does work. But we will have to specify the partitions manually. When there are a lot of partitions this is not a viable solution, until and unless we can automate it. I will have to create a script to do this using boto3, that's doable.

What I was trying to do is letting the Hudi system do this on its own so that in Athen

[2021-12-13 06:49] mincwang commented on #4227
hi @yanenze , i also has this probloms，do you have push patch to github repository ?

[2021-12-13 07:23] Carl-Zhou-CN commented on #4267
I think it is possible, but I am not familiar with Athena. I think that as long as Hudi can interact with Glue Catalog, your problem should be solved. You may need to ask others to help.
@nsivabalan Do you have time to help?

[2021-12-13 07:50] waywtdcc commented on #4249
Is the release version 0.10 okay? I see there is also an exception of the 0.10 rc version here #4204

[2021-12-13 08:11] danny0405 commented on #4204
I would fire a fix then ~

[2021-12-13 08:12] danny0405 commented on #4249
Then it is not fixed yet. Would fire a fix then ~

[2021-12-13 08:14] yihua commented on #4230
@BenjMaq I'm not able to reproduce this problem on Spark2/3 with local FS or S3 on the 0.10.0 release.  It would be great if you could run the steps again on 0.10.0 release and check if the problem still persists.

[2021-12-13 08:31] danny0405 commented on #4249
Fired a fix in https://github.com/apache/hudi/pull/4296

[2021-12-13 08:32] JoshuaZhuCN commented on #4275
thx，i try it again

[2021-12-13 08:44] waywtdcc commented on #4249
'hoodie.fail.on.timeline.archiving': 'false'
Can this setting avoid this error

[2021-12-13 08:54] ngk2009 opened #4297 "[SUPPORT]Flink SQL No FileSystem for scheme s3"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?
yes

**Describe the problem you faced**

I used the Hudi0.10 version on the flink1.13.2 version. The flink storage has been successfully set to s3 access, and the storage access based on hdfs/alluxio is also normal, but there will be errors in the problem when the storage based on s3 is perfo

[2021-12-13 09:12] blxyct commented on #2104
@ashishmgofficial Hello, I have encountered the same problem. How did you solve it

[2021-12-13 09:17] danny0405 commented on #4297
you need to set up the s3 config in hadoop core-site file ? do you package the s3 package in the bundle jar ?

[2021-12-13 09:18] danny0405 commented on #4249
No, archiving and rollback is different action.

[2021-12-13 09:30] ngk2009 commented on #4297
Thank you for your reply, I did not find in the guide about flink setting core-site.xml, and I do not plan to use hadoop environment, just build data lake analysis based on S3 storage

[2021-12-13 09:34] ngk2009 commented on #4297
Thank you for your reply, I did not find in the guide about flink setting core-site.xml, and I do not plan to use hadoop environment, just build data lake analysis based on S3 storage。
The bundle jar I found in hadoop jars library folder，Can't confirm whether it's packaged in。

[2021-12-13 09:40] danny0405 commented on #4227
I have fixed it al-together in this PR: https://github.com/apache/hudi/pull/4296

[2021-12-13 09:45] parisni commented on #3731
with the 0.10.0, things looks better: I only get one kind of concurrency error.
When running 4 concurrent writers into their own partition, I consistently get
the bellow error for 2 of them. I

from my config, I am expecting the lock to be able to wait a long time before
failing. Here the whole process is running for 25 seconds :

[code]

[2021-12-13 09:53] yanenze commented on #4227
hi, this problem has been resolved  in this PR: #4296

[2021-12-13 10:07] #4227 closed

[2021-12-13 10:18] danny0405 commented on #4297
Flink use its own plugin to support filesystems other than HDFS. Hudi adapter to different DFS by extending the `FileSystem` interface directly.

[2021-12-13 10:46] BenjMaq commented on #4230
@yihua , @nsivabalan

Using `hoodie.write.markers.type=direct` worked for me. Interestingly, I did not need this config on 0.9.0. Did the default behavior change in `0.10.0`?

Anyway, it works now so thanks a lot! I'm good to close this ticket :)

[2021-12-13 10:52] BenjMaq commented on #4208
Still having this issue in `0.10.0`. I use `hive-exec` `2.3.8`, might be the cause...? Still trying to figure out which part of my environment is causing this problem

[2021-12-13 12:29] forest455 commented on #3217
hi  can you tell me how to solve that problem.  thanks
.

[2021-12-13 13:02] york-yu-ctw commented on #4297
I have some tips
1. put `flink-s3-fs-hadoop` into `/opt/flink/lib`
2. add `hadoop-hdfs-client`, `hadoop-aws`, `hadoop-mapreduce-client-core` as well
3. if there is aws credential issue, try to set up core-site.xml (I had this issue when using hudi 0.9.0 and flink 1.12.2)

[2021-12-13 16:08] vinothchandar commented on #4249
cc @nsivabalan can you please look into this?

[2021-12-13 16:09] vinothchandar commented on #4227
cc @nsivabalan

[2021-12-13 17:06] stym06 commented on #3217
I think the proper jar was missing in the $SPARK_HOME/jars folder. I probably had added it in the Docker image and redeployed the job

[2021-12-13 17:18] stym06 commented on #2265
@kazdy I did a workaround by changing the schema to just `string`. In any case, the hive table column can be parsed using some UDFs to an array or list

[2021-12-13 17:25] yihua commented on #4230
@BenjMaq You're welcome.  We have made timeline-server-based markers as default with this release.  [Here](https://hudi.apache.org/releases/release-0.10.0#default-flips) are more details of default flips.

[2021-12-13 18:44] nsivabalan commented on #4230
@yihua : lets try to get to the bottom of this and understand where this is breaking. We might wanna make some fixes with 0.10.1 if need be on this end.

[2021-12-13 19:14] nsivabalan commented on #4227
@yanenze : Do you happen to know when this could happen. from what I see, this can happen only if we have two rollback instants with sametimestamp ? (not the commit that is being rolledback, but the rollback timestamp).
Can you paste the contents of .hoodie folder when this issue happened.

[2021-12-13 20:15] nsivabalan commented on #4249
@wjcwin : Can you post the contents of .hoodie/. Is the rollback.requested meta file of interest is an empty file. I am trying to get a sense of why would an empty rollback.requested file will be created. Will look into the code and update here. Or if you know why this could occur, let me know.

[2021-12-13 20:32] kazdy commented on #4241
There is a preview available for [AWS Backup for S3](https://docs.aws.amazon.com/aws-backup/latest/devguide/s3-backups.html), this might be interesting to use in future. AWS claims that you can do point in time recovery with it: `Continuous backups create point-in-time backups, and allow you to restore S3 resources to any point-in-time within the last 35 days.`

[2021-12-13 23:21] nochimow opened #4299 "[SUPPORT] Upsert performance decreased after 3 years of data loading"
Hi there,
I'm currently facing some performance gaps in one specific table after we load 3 years of data.
Our typical cenario is the following:

Ingestion of 57 avro files (stored on S3) with typical sizes of 70-128MB giving 2,75GB of input data. We create a spark data-frame loading all these files and writing into Hudi using CoW upsert.
This data is equal 186 million of rows.
The schema of the ta

[2021-12-14 00:25] nsivabalan commented on #4244
thanks for the update.

[2021-12-14 00:27] alex-shchetkov commented on #4244
For others who stumble on this in EMR, you can get the master hive url like this:
[code]

[2021-12-14 00:28] yyar commented on #4162
@xushiyan
I initially posted a question that both the spark version and sbt happen. Looking at my sbt problem, I assume that avro version (probably upper than 1.8.2) will have a problem in hudi. Last time I asked code level question, I wanted to know why this happens when I reference that avro library.

If it is not appropriate to ask a question here, you may close this issue.

[2021-12-14 01:28] ngk2009 commented on #4297
How to solve it？thanks

[2021-12-14 01:32] ngk2009 commented on #4297
Unfortunately, I tried your method but did not succeed。Copy those jar packages to the /opt/flink/lib and $FLINK_HOME/lib directories at the same time, and then restart the yarn session
[ERROR] Could not execute SQL statement. Reason:
org.apache.hadoop.fs.UnsupportedFileSystemException: No FileSystem for scheme "s3"

[2021-12-14 02:33] danny0405 commented on #4249
![image](https://user-images.githubusercontent.com/7644508/145922365-0609bea7-bfba-4a97-bc3a-2217447a25e0.png)

Maybe here is the reason, the timeline only request the non-complete instant but the instant may be in `inflight` state,  which is empty, we must ensure that the file we request is in `requested` state.

[2021-12-14 03:25] danny0405 commented on #4297
Hudi did depend on the hadoop `FileSystem` interface, what we need to do is adding the aws s3 `FileSystem` impl codes in the classpath, and it's specific configuration should also be configured in hadoop `Configuration`, you can reference the `StreamerUtil.getHadoopConf` how we fetch the hadoop configuration in the flink pipeline.

[2021-12-14 03:33] h7kanna commented on #4230
This is happening also in 'Delete archive instants'

java.lang.RuntimeException: org.apache.hudi.exception.HoodieException: org.apache.hudi.exception.HoodieException: java.util.concurrent.ExecutionException: org.apache.hudi.exception.HoodieRemoteException: Failed to create marker file entrydate=2021/12/14/cca45c9b-106f-4a06-97db-4aa55c8101c7-0_0-52-2449_20211214025903027.parquet.marker.CREATE
Read

[2021-12-14 06:45] wjcwin commented on #4249
@nsivabalan ;
@danny0405 ;
my application base on flink version:1.13.1  hudi-flink-bundle version:0.10.0 .
sorry, i have cleared this files, and i remove hive-exec-2.1.1.jar , flink-connector-hive_2.11-1.13.1.jar ,hive-metastore-2.1.1.jar  from FLINK_HOME/lib ,  this exception not happen again , maybe  some  Jar package conflict  caused this ,but i do not know why

[2021-12-14 06:51] danny0405 commented on #4249
No, it is not jar conflict, i have fixed it in https://github.com/apache/hudi/pull/4296, you can use the patch branch code here:
https://github.com/apache/hudi/pull/4287, the branch has several critical fix that may be useful to you.

[2021-12-14 07:09] waywtdcc opened #4305 "[SUPPORT] Duplicate Flink write record"
**Describe the problem you faced**

When Flink submits multiple tasks, the write record is repeated. There are multiple data with the same primary key in the Hudi table. The Hudi table ID is the primary key, and multiple records with the same ID are queried。
![image](https://user-images.githubusercontent.com/59957056/145950240-d049b475-6cde-46ec-8a4d-fe22833a7793.png)

![image](https://user-images

[2021-12-14 07:23] ngk2009 commented on #4297
hi,I found you changed the class loader in file org.apache.hudi.sink.StreamWriteOperatorCoordinator：Thread.currentThread().setContextClassLoader(getClass().getClassLoader()),Will the classpath in the hudi-bundle jar be used? Will the classes under flink/lib fail to load and cause the S3 schema not to be found? so which "the aws s3 `FileSystem` impl codes in the classpath" package to be add in flin

[2021-12-14 07:37] wjcwin commented on #4249
@danny0405 ; nice

[2021-12-14 07:38] #4249 closed

[2021-12-14 08:45] ngk2009 commented on #4297
S3:// cannot be used now, and s3a:// can be used. In addition, s3-fs-hadoop under flink will always appear in the INITIALIZING state when the task is submitted. In addition, the dependency of hadoop and core-site.xml must be required. ,This dependency is too heavy, I switched to using alluxio:// to write data to S3 UFS 。
Thanks for help。

[2021-12-14 08:45] #4297 closed

[2021-12-14 11:39] YuweiXiao commented on #4299
looking at the spark ui figure, seems there is severe write amplification (38 min writing).

are you using COW table?  maybe try MOR to enable log write.

[2021-12-14 13:21] nochimow commented on #4299
Yes, this case is a CoW table.
I really wanted to check if there was some kind of tune on this case before going to MoR, because the read performance is also important for us.

[2021-12-14 13:45] YuweiXiao commented on #4299
try to limit the parquet file size.
`hoodie.parquet.small.file.limit = 10485760` 10MB

also, maybe try the hbase index, should perform better than  Bloom Filter

[2021-12-14 15:18] nikita-sheremet-clearscale commented on #3854
I have moved from hudi 0.7.0-amz to hudi 0.9.0 and yes there is a performance problem. I can not provide exact comparison for 2 versions but 0.9.0 become about 1.5 times slower (maybe more).
See my post - https://github.com/apache/hudi/issues/4044

Btw @vinothchandar , @Limess , @xushiyan

Does hudi team have instructions or articles for hudi profiling? I understand that profiling java on local ma

[2021-12-14 16:04] nsivabalan commented on #4109
@satishkotha : please do file a jira when you put up a PR for this.

[2021-12-14 16:06] nsivabalan commented on #4177
@codejoyan : can you respond with any latest updates on this so that we can look into more debugging.

[2021-12-14 16:08] nsivabalan commented on #4275
Closing this issue as we have a patch out to trim the archive files. Feel free to reopen if you have more issues apart from the patch posted.

[2021-12-14 16:08] #4275 closed

[2021-12-14 16:42] nikita-sheremet-clearscale opened #4310 "[SUPPORT] Row count in hudi parquer files"
Look at the sources: [fast-parquet-row-count-in-spark](https://stackoverflow.com/questions/40629435/fast-parquet-row-count-in-spark) and [parquet-count-metadata-explanation](https://github.com/dennyglee/databricks/blob/master/misc/parquet-count-metadata-explanation.md)

Stackoverflow and official spark documentation tells us that parquet file should contains row count in metadata. And spark added

[2021-12-14 18:10] WTa-hash commented on #4241
Thanks @kazdy for your input. I read the documentation for AWS Backup and S3 support.

Based on the documentation, I am assuming we can do the following (using the us-east-1 issue that occurred on 2021-DEC-7):
FAILURE SCENARIO:
1. Create a backup of Hudi Datalake S3 bucket on us-east-1 using AWS Backup and create a copy of that in region X.
2. When us-east-1 failure/issue occurs, then restore Hudi

[2021-12-14 18:43] nsivabalan commented on #3961
looks like we already have a PR to fix this https://github.com/apache/hudi/pull/4016
Closing this out as we have a fix. Feel free to re-open if you have more issues.
thanks for reporting.

[2021-12-14 18:43] #3961 closed

[2021-12-14 19:37] nsivabalan commented on #4031
got it. would be nice to add the validation to the minimum. Have filed a tracking ticket [here](https://issues.apache.org/jira/browse/HUDI-3018).  closing this github issue out for now. Feel free to add more to the tracking jira.

[2021-12-14 19:38] #4031 closed

[2021-12-14 19:40] nsivabalan commented on #3755
sure, thanks a bunch.

[2021-12-14 19:54] nsivabalan commented on #3533
@aresa7796 : Can you update us with more info to assist us in debugging this further

[2021-12-14 19:54] JohnEngelhart opened #4311 "Duplicate Records in Merge on Read [SUPPORT]"
**Describe the problem you faced**

We are incrementally upserting data into our Hudi table/s every 5 minutes. As we begin to read this data we notice that duplicate records occur. The only command we execute is Upsert. We never call bulk insert/insert.

The duplicates appear to be happen in two respective areas.
1. In the same upsert command. (The hudi commit time in the table is the same)
2. In

[2021-12-14 20:09] nsivabalan commented on #3558
I could able to reproduce what @novakov-alexey has reported. just with local spark shell, add one batch of inserts to part_0 and part_1 with a column of integer data type. Did an upsert with an evolved schema with column evolved to double. And reading the hudi table reports above exception
[code]

[2021-12-14 20:20] nsivabalan commented on #3558
I have filed a tracking jira [here](https://issues.apache.org/jira/browse/HUDI-3019). We have working towards a comprehensive schema evolution support. I will ensure this  issue gets addressed as part of the dev work. As of now, since we rely on external parquet avro libs, don't think we can do much here until we have the comprehensive schema evolution.

thanks for bringing it to our attention. I

[2021-12-14 23:15] WTa-hash commented on #4311
I have a similar issue with MOR table type where I see duplicate records: https://github.com/apache/hudi/issues/2255, https://issues.apache.org/jira/browse/HUDI-1608

[2021-12-15 01:02] FeiZou commented on #3418
Hey @nsivabalan thanks for checking! Really appreciate it! Yes, you assumption is very exact! Please let me know if you need any other information to reproduce the issue.

[2021-12-15 07:01] Arun-kc commented on #4267
Hi @Carl-Zhou-CN and @nikita-sheremet-clearscale

I tried the same with hudi connector version `0.9.0` and it's working fine now. The partition is getting reflected in Athena.
Seems the problem was with the hudi connector version `0.5.1`.

Thanks for the help both of you 🙌 I'm closing this issue

[2021-12-15 07:01] #4267 closed

[2021-12-15 07:04] stym06 opened #4318 "[SUPPORT] Duplicate records in COW table within same partition path"
**Describe the problem you faced**
We have written IOT data from Kafka to Azure blob using Deltastreamer utility in continuous mode and are querying the table through Presto. We are seeing duplicate records with the same _hoodie_record_key but different commit file number and different parquet file in the same partition path.

[code]
Deltastreamer configs:
[code]

**Environment Description**

* Hu

[2021-12-15 09:18] BenjMaq commented on #4229
Thank you all. Passing a primary is the way then. We are good to close for me.

[2021-12-15 09:20] nikita-sheremet-clearscale commented on #4310
[Here](https://stackoverflow.com/a/70352968/1251549) is answer how check count in parquet metadata. No issues with hudi.

[2021-12-15 09:20] #4310 closed

[2021-12-15 10:14] BenjMaq commented on #4154
@YannByron I use the same Spark and Hudi as you and I still have this issue in `0.10.0`.
I see the parquet files being correctly created but the table still points to the old files (not the new ones created...).

[2021-12-15 11:24] danny0405 commented on #4154
Our flink sql on 0.10.0 is also failing, i have checked the metadata is correct, i suspect there was something wrong with the filesystem view strategy for replace commit. Somehow, it is filtered out.

[2021-12-15 12:30] danny0405 commented on #4305
Did you read in streaming or in batch ?

[2021-12-16 01:13] yanghua commented on #4229
thanks, closing now.

[2021-12-16 01:13] #4229 closed

[2021-12-16 01:29] JoshuaZhuCN commented on #4318
you can try using global index

[2021-12-16 02:13] yanenze commented on #4227
i am  sorry for that i have not met this problem on my test environment with 0.10.0-release, maybe the data size was not big enough , on the product environment since i have modify the code that problem has never occured and i  have inspected the data synchrozied by flink when rollback action executed, the data  was not lose or duplicate.

[2021-12-16 02:53] rubenssoto commented on #4283
@york-yu-ctw because of this slowness of redshift to update Hudi, we started to only provide new tables on Presto and after that we will started to do the same thing with the old ones.

[2021-12-16 13:13] fireking77 opened #4340 "[SUPPORT] Incremental read fails when no commit in the particular zone"
Hi Guys!

I use HUDI with the following setup:
 AWS EMR 6.4 HUDI 0.8, PySpark 3.1.2

The problem is when you try to read from a HUDI dataset incrementaly

`
df = (spark.read
		.format('org.apache.hudi')
		.options(**{
			"hoodie.datasource.query.type": "incremental",
			"hoodie.datasource.read.begin.instanttime": <start_instant_time>,
			"hoodie.datasource.read.end.instanttime": <stop_instant_time

[2021-12-17 03:38] esaeki opened #4348 "[SUPPORT] How to set timezone for "_hoodie_commit_time" column?"
I use Glue and Hudi to replicate databases in AWS environment.
Regarding "_hoodie_commit_time" column of Hudi table, I would like to set timezone to UTF+9:00. (e.g. 202112170222425 →　20211217112425)

How can I set the timezone for this column? I already set "hoodie.deltastreamer.keygen.timebased.timezone" to UTF+9:00 and GMT+9:00, but there was no change.

[2021-12-17 08:55] shenbinglife opened #4351 "[SUPPORT] Spark3 无法读取hudi表"
sparksql 3.2
hudi0.9.0

 有对hudi从spark2 升级到 spark3了解的吗？ 使用sparksql语法， 升级后，org.apache.spark.sql.hive.HiveExternalCatalog#restoreDataSourceTable 强制从  spark.sql.sources.schema 属性中读取schema ，但是hudi表中没有这个属性

[2021-12-17 10:01] kazdy commented on #4241
@WTa-hash have you tried using savepoint feature? Maybe it'll allow you to deal with these issues when using s3 replication and missing .hoodie files? There will be some missing data, but maybe tables will not be corrupted?

[2021-12-17 17:05] xushiyan commented on #4351
@shenbinglife hudi 0.9.0 does not support spark 3.2; 0.9.0 is supposed to work with spark 3.0.x
hudi 0.10.0 supports spark 3.1.x
hudi 0.11.0 supports spark 3.2 and the PR is close to land https://github.com/apache/hudi/pull/4270
Please use the right spark / hudi combinations.

cc @YannByron

[2021-12-17 21:37] nsivabalan commented on #4283
Closing this since we don't forsee any fixes in hudi. But highly encourage to contact redshift support and get this fixed.
@umehrot2 : Can you please follow up on this.

[2021-12-17 21:38] #4283 closed

[2021-12-17 21:41] nsivabalan commented on #4283
I have filed a [jira](https://issues.apache.org/jira/browse/HUDI-3056) and have assigned it to Udit from aws.

[2021-12-17 21:46] nsivabalan commented on #4299
would you mind posting spark stages UI as well. We can see if indexing or small file handling is taking lot of time and tweak some params.

[2021-12-17 21:50] nsivabalan commented on #4288
We added some docs [here](https://hudi.apache.org/docs/syncing_metastore#sync-template). Let me know if you are looking for more info.

[2021-12-17 21:56] nsivabalan commented on #4311
hmmm, very strange. Was there any multi writer involved? also, I see you have clustering enabled. Can you post the contents of .hoodie. wanted to check the commits pertaining the commit times where duplicates are seen.

[2021-12-17 22:01] nsivabalan commented on #4311
Can you confirm the operation is "upsert" right? bcoz, with "insert" there could be duplicates.

[2021-12-17 22:37] nsivabalan commented on #4348
commit time is what hudi generates internally. don't think its customizable.

[2021-12-17 22:37] nsivabalan commented on #4348
May I know whats the use-case.

[2021-12-17 22:42] nsivabalan commented on #3747
@stym06 : are you still stuck at the issue. Can you enable debug logs while doing the hive sync and provide us the same. Is it just that your process is stuck, but all data is synced in good shape or do you see issues w/ sync as well ?

[2021-12-17 22:43] nsivabalan commented on #3747
we don't have azure wasb FS atm. need to set up one to repro.

[2021-12-17 22:45] nsivabalan commented on #3607
Since we have patches to support metadata for presto, closing the github issue for now.

[2021-12-17 22:45] #3607 closed

[2021-12-17 22:46] nsivabalan commented on #3530
@Ayan07 : do you have any updates on this. Did Sagar's suggestion work out.

[2021-12-17 23:30] nsivabalan commented on #4318
@stym06 : Did you try querying via spark datasource? Do you see the same.
Also, can you post the contents of .hoodie. Wanna check if the two commits times are two writes or one is from compaction.
@bvaradar @bhasudha @satishkotha : have you folks encountered duplicates records anytime. Any idea on why this could happen.

[2021-12-17 23:36] nsivabalan commented on #3965
@Frogglet : Can you respond to my above question.
Also, can you tell us whats the resultant column's schema in hudi after insert and after upsert? Can you try reading as parquet and let us know whats the data type. guess in hive its bigint.

Also, can you give us the configs you set for writing. especially interested in the key generator configs. I will try to reproduce on my end.

[2021-12-18 00:02] nsivabalan commented on #4072
Sorry don't get you. do you say that you were able to get past the issue by prefixing "spark.hadoop" for hive configs ?

[2021-12-18 00:03] nsivabalan commented on #3981
thanks.

[2021-12-18 00:03] #3981 closed

[2021-12-18 00:13] #2688 closed

[2021-12-18 00:40] nsivabalan commented on #4170
@rubenssoto : Can you respond when you get a chance.

[2021-12-18 01:20] nsivabalan commented on #4162
It's fine. Good to get it clarified. will close out the issue since you get past the original issue.

[2021-12-18 01:20] #4162 closed

[2021-12-18 01:22] nsivabalan commented on #4086
@jdattani : Do you know if this happens w/ datasource or deltastreamer directly? I could not reproduce this issue unless its very use-case specific. But general errors, my console or driver logs does print the errors. (spark-shell and spark-submit)

[2021-12-18 01:29] nsivabalan commented on #3973
@zhangyue19921010 : sorry about the late turn around.
Archive will not step into commits which are part of compaction plan. So, multiple writers should not cause any issues.

Also, in example above, job1 will deal with only latest file slice. so archiving by job2 should not have any impact.

Let me know if you have any more clarifications.

[2021-12-18 01:33] nsivabalan commented on #4109
Have filed a tracking [jira](https://issues.apache.org/jira/browse/HUDI-3058). Will close this out. @satishkotha : Once you have a PR, let me know. I can help review.

[2021-12-18 01:33] #4109 closed

[2021-12-18 01:48] nsivabalan commented on #4340
@fireking77 : may I know what do you mean by timezone here? do you mean, if there is no commit between begin time and end time?

[2021-12-18 01:52] nsivabalan commented on #4131
@YannByron : Can you look into this issue please.

[2021-12-18 02:10] nsivabalan commented on #4154
@YannByron @danny0405 : Can either of you triage this. We might need a fix if its a bug. Feel free to file a tracking jira and work towards it.

[2021-12-18 02:15] nsivabalan commented on #4241
@xushiyan @bhasudha @bvaradar @yanghua : Do you folks have any pointes on this regard.

[2021-12-18 02:17] nsivabalan commented on #4221
If the conversation is taken offline, can we close this out. But please file a tracking jira if a bug if triaged as one.

[2021-12-18 02:20] nsivabalan commented on #4200
@YannByron : Can we please follow up on this one. If its a bug, please do file a tracking jira and close this one out. But lets try to work towards a fix it its a valid bug.

[2021-12-18 02:21] yihua commented on #4230
@h7kanna This could be due to FS timeout.  The writer may still proceed with retries after the exception.  Do you see this failing the write actions constantly?

[2021-12-18 02:22] nsivabalan commented on #4184
@bhasudha @bvaradar @leesf @danny0405 : have you folks encountered this before. a parquet file of size 4 bytes.

[2021-12-18 02:26] nsivabalan commented on #4135
Hey folks, is there any pending things to be resolved. If not, can we close this one out.

[2021-12-18 02:59] YannByron commented on #4154
@nsivabalan I failed to reproduce this. @danny0405 can you reproduce this issues?
And @BenjMaq just execute `create table`, `insert into`, and `insert overwrite` these three steps? any other commits?

[2021-12-18 03:06] YannByron commented on #4200
@nsivabalan  i'll locate this in next days and reply asap.

[2021-12-18 03:24] nsivabalan commented on #3890
@stym06 : Can you respond to my questions above. would like to get to the bottom of this. But hive sync in general, keeps track of last synced time. so not sure how this could happen. If you were able to resolve the issue, feel free to close it out.

[2021-12-18 03:33] nsivabalan commented on #3879
@jardel-lima : let us know if you have any updates or if you can share the dataset.

[2021-12-18 03:39] esaeki commented on #4348
Thank you for your response.
I develop datalake for Japanese client, and Japan's standard time zone is UTC +9 hours. That's why, it's better to adjust the timezone for proper data management.
I would appreciate if you tell me an alternative for this.

[2021-12-18 04:22] zztttt commented on #4072
yes, I read the related documents: [https://jaceklaskowski.gitbooks.io/mastering-spark-sql/content/spark-sql-hive-metastore.html](url) and find a sentences saying "You can configure javax.jdo.option properties in hive-site.xml or using options with spark.hadoop prefix." ， then I can achieve the target.

[2021-12-18 12:45] nikita-sheremet-clearscale commented on #4288
@nsivabalan
First of all is `hoodie.datasource.hive_sync.mode` for flynk only? If yes maybe it should be placed into flynk `prefix`?
Second provided docs describes only `jdbc` and `hms` values. While https://hudi.apache.org/docs/configurations/ page describes 3 possible values:

Could you please update documentation to add or remove 3rd value for `hoodie.datasource.hive_sync.mode`?

[2021-12-18 13:08] leesf commented on #4348
@esaeki Can this PR(https://github.com/apache/hudi/pull/4306) solve the issue?

[2021-12-18 13:16] leesf commented on #4135
closing this as we have a fix https://github.com/apache/hudi/pull/4178 on master branch

[2021-12-18 13:16] #4135 closed

[2021-12-18 13:29] esaeki commented on #4348
Thank you for writing in. I will check it out.

[2021-12-18 14:30] nsivabalan commented on #3870
@atharvai : I was able to get the savepoint rollback working with some minor fix. spark master url parsing had issues.
https://issues.apache.org/jira/browse/HUDI-3059
Let me know if thats not the case for you. or is your use-case is something diff. All I am doing is,
C1, C2, C3, SP1, C4,
do savepoint rollback for SP1. and count matched until C3.

[2021-12-18 21:57] nsivabalan commented on #3935
@melin : Is there anything else you are looking for. if you are looking for more than cleaner and clustering, let us know. If not, will close it out. Or if you have any clarifications on how to go about performing any of these, let us know.

[2021-12-18 22:00] nsivabalan commented on #4032
@garyli1019 : Can you create a jira on this end and tag Danny or someone who can loop in someone who can contribute towards this (if you don't have cycles to chime in).
Once you have the jira, feel free to close the github issues.

[2021-12-18 22:23] nsivabalan commented on #3984
spark auto partition discovery seems a real blocker bug. I have filed a tracking [jira](https://issues.apache.org/jira/browse/HUDI-3065).

[2021-12-18 22:30] nsivabalan commented on #3984
@cb149 : I see you are using SIMPLE index. This caters to use-cases where you have random updates and so records could randomly spread across all partitions. If your incremental updates are mostly with fewer partitions, can you trying using "BLOOM" index. Also, I see you have some streaming configs. Did you try using MOR table instead of COW since for streaming use-cases MOR writes would be faster

[2021-12-18 22:38] nsivabalan commented on #3975
@dmenin : If you are up for issuing two separate operations (delete followed by update), I might have a suggestion. How is your updates/deletes spread in general? Is it totally random spreading across all partitions and file groups or has any affinity towards few partitions.

May be you can try using BLOOM index for deletes and see how that goes. If its not randomly spread out, this will help in r

[2021-12-18 22:44] nsivabalan commented on #4044
Hey @nikita-sheremet-clearscale : what do you mean by "What happens when some partitions were deleted and then indexed?" ? can you please clarify. In general, its not encouraged to delete data files manually, but leave it to rollback to take care of cleaning up partially failed commits.

my guess is that, your large job failed due to OOM or some other reason. And so the next job you started, does

[2021-12-18 23:00] nsivabalan commented on #3782
@ChiehFu : Did you get a chance to test out 0.10.0 for multi-writers. Let us know how it goes.

[2021-12-18 23:02] nsivabalan commented on #3770
Clustering along with metadata wasn't tested well in previous versions and known to had bugs. So, would recommend to try it out with 0.10.0. Will close this issue out. If you have any more questions/issues, feel free to open a new github issue.

[2021-12-18 23:02] #3770 closed

[2021-12-18 23:16] nsivabalan commented on #3737
@qingyuan18 : would you like to share how did you go about the migration and anything you would like to share that would benefit the community.

[2021-12-18 23:17] nsivabalan commented on #3731
glad to know most of the issues are gone.
what type of lock provider are you using ?

[2021-12-18 23:25] nsivabalan commented on #3713
@calleo : did you get a chance to try out the docker set up that sagar pointed out earlier. it does have all components (spark, hive, presto, etc) to assist in testing. Let us know if you have any updates. Or feel free to close it out if the docker worked out for you.

[2021-12-18 23:27] nsivabalan commented on #3699
@ZeMirella : Can we get any updates on this end. Did the proposed suggestions work for you. please let us know.

[2021-12-18 23:28] nsivabalan commented on #3673
@wuleistarrocks : Can you provide us with more details. w/o much info, its hard to investigate.

[2021-12-18 23:31] nsivabalan commented on #3571
@yuangjiang : do you have any updates in this regard. if the issue is resolved, please feel free to close out the github issue.

[2021-12-19 00:51] nsivabalan commented on #3834
Closing the github issue as its root caused it to parquet upgrade. Feel free to follow the jira for updates. We are looking to get the parquet upgrade for 0.11.0.
thanks for reporting. If you feel, the issue is not related to parquet lib, feel free to re-open.

[2021-12-19 00:51] #3834 closed

[2021-12-19 00:53] nsivabalan commented on #3841
Closing the github issue its root caused to parquet library upgrade. Feel free to subscribe to the jira for updates. But if you feel, its not related to parquet lib, feel free to re-open. We can further investigate.
thanks for reporting the issue.

[2021-12-19 00:53] #3841 closed

[2021-12-19 00:58] nsivabalan commented on #3572
@niloo-sh : can you try using run_hive_sync tool which is the most common way : https://hudi.apache.org/docs/docker_demo#step-3-sync-with-hive
and let us know how it goes.

[2021-12-19 05:14] nsivabalan commented on #4318
also, can you give us spark-submit command (mask any info as per necessity).

[2021-12-19 05:33] nsivabalan commented on #4072
awesome, thanks for letting us know. we didn't know you can prefix spark.hadoop and provide as spark configs. I will go ahead and close the github issue.

[2021-12-19 05:33] #4072 closed

[2021-12-19 05:58] stym06 commented on #4318
@nsivabalan I tried querying through both Presto and Hive and got duplicate records. Yet to query through Spark datasource. Will post the `.hoodie` folder in some time. Posting the spark-submit below:

[code]

[2021-12-19 06:15] Gatsby-Lee commented on #3975
@nsivabalan  isn't the BLOOM index the default one?

[2021-12-19 06:47] nsivabalan commented on #2498
For `NoSuchMethodError: org.apache.spark.sql.execution.datasources.PartitionedFile.<init>`, please refer to https://github.com/apache/hudi/issues/2498#issuecomment-969228521 for the proposed fix. You have to provide the jars explicitly in class path or add it to spark/jars dir.

We had issues w/ EMR version of spark and after copying spark-sql jar to spark/jars directory, able to resolve it.

[2021-12-19 06:56] nsivabalan commented on #4318
thanks. can you post the contents of /opt/spark/hudi/config/source.properties as well.

[2021-12-19 07:08] nsivabalan commented on #3572
@niloo-sh : I see you have still using hudi 0.6.0. Can you try one of the latest version like 0.9.0 or higher. we don't think hive 3 has been tested with older versions of hudi.
Also, would be easier to run hive sync tool from terminal rather than IDE.

[2021-12-19 07:09] nsivabalan commented on #3572
also, can you give us full stacktrace and configs you are running with.

[2021-12-19 07:15] nsivabalan commented on #4027
Hey @liujinhui1994 : Can you try with 0.10.0 or latest master. Looks like we made a fix around 0 outputfileGroups by nov 12 in [this](https://github.com/apache/hudi/pull/3833/files#r738037336) patch.

[2021-12-19 07:18] stym06 commented on #4318
@nsivabalan any idea how I can start spark-shell with the azure related dependencies? I'm getting the below error:
[code]

[2021-12-19 07:30] stym06 commented on #3890
@nsivabalan I don't have the hoodie folder right now, but what I saw was that when hive sync ran with last_commit_time as 26, it searches all the commit files after 26 and gets the partitions that were written in those particular commits. However, the commits from 27 and 28 were not there in the hoodie folder but 29th day commit file was there. And. in the code, it is written to get all commits af

[2021-12-19 15:43] nikita-sheremet-clearscale commented on #4044
@nsivabalan
Many thanks for reply! :-)

`What happens when some partitions were deleted and then indexed?`
It means that I got to S3 web console, select prefixes and click delete button. I understand that it is not the right way but I have restrictions on code modification so I can not change jobs to cleanup all old data when data are rewritten.

`my guess is that, your large job failed due to OOM

[2021-12-20 02:06] liujinhui1994 commented on #4027
ok，i am trying ， thanks
@nsivabalan

[2021-12-20 02:10] shenbinglife commented on #4351
thanks for help ^-^

[2021-12-20 02:13] shenbinglife commented on #4351
如果我想使用hudi0.10 和spark3.1 ，我是否应该自己编译hudi 并启用 -Pscala-2.12 -Pspark3， 而不是直接用maven仓库的hudi-spark-bundle-0.10 ？

[2021-12-20 02:17] nsivabalan commented on #4154
@YannByron : Alternatively you can give the exact commands you ran and BenjMaq can see how does his/her commands differ.

[2021-12-20 02:18] nsivabalan commented on #4288
@codope will follow up on this. he is going to update the website with the required documentation. will leave the github issue open until we fix it.

[2021-12-20 02:19] nsivabalan commented on #4348
glad to know we have a PR on this. thanks for the update.
Will close the github issue as we have a PR out.

[2021-12-20 02:19] #4348 closed

[2021-12-20 02:20] nsivabalan commented on #3975
yes, default is BLOOM. But @dmenin in this original description mentioned he is using SIMPLE.

[2021-12-20 02:27] YannByron commented on #4351
@shenbinglife
you can use [the jar in maven repo](https://mvnrepository.com/artifact/org.apache.hudi/hudi-spark3-bundle_2.12/0.10.0) directly.

[2021-12-20 02:29] nsivabalan commented on #3890
yeah, I inspected the code and looks like there could be a gap.
ie. if every day you create new partitions and once you get past the date, if older partitions may never get updated, and if you fail to sync daily, and if archival is aggressive such that it trimmed some commits pertaining to partitions which was never synced, our hive sync tool might miss to sync those partitions.

From AbstractSync

[2021-12-20 02:46] nsivabalan commented on #3890
If there any particular reason why you do hive sync separately and with large gaps wrt regular commits. we can support this use-case, but for every sync we will be fetching all partitions which might not be ideal for regular users.

[2021-12-20 02:54] nsivabalan commented on #3890
https://issues.apache.org/jira/browse/HUDI-3068

[2021-12-20 03:03] nsivabalan commented on #4318
I see you are using "INSERT" as the operation type. If your incoming records have duplicates, those can reflect as duplicates in hudi as well. only with "UPSERT" we de-dup explicitly. for "INSERT", you need to set this config https://hudi.apache.org/docs/configurations/#hoodiecombinebeforeinsert to true.

Can you try setting this and let us know how it goes.

[2021-12-20 03:22] nsivabalan commented on #4318
Or if you wish to not have duplicates at all, can you use "UPSERT" operation.

[2021-12-20 03:24] nsivabalan commented on #4318
@kywe665 Do you know anyone from the community who have used azure blob storage with hudi. this user is having difficulty using spark-shell with azure. I don't have any exp.

[2021-12-20 03:28] nsivabalan commented on #3530
Closing the issue as its a jar version issue. Feel free to re-open is you run into any other issues.

[2021-12-20 03:28] #3530 closed

[2021-12-20 03:29] nsivabalan commented on #3242
Closing out the issue as we have a solution and no activity further from user. feel free to re-open is are you still facing the issue.

[2021-12-20 03:29] #3242 closed

[2021-12-20 03:30] nsivabalan commented on #3191
Going ahead and closing out the issue as its a jar mismatch issue. If the above proposed solution does not work, please feel free to re-open or create a new issue. would be happy to assist.

[2021-12-20 03:31] #3191 closed

[2021-12-20 03:33] nsivabalan commented on #3132
@deep-teliacompany : will go ahead and close out the issue if we don't hear back from you. Hive sync tool should work for you as proposed above. Or you can set appropriate hive sync configs and hudi writes will take care of syncing.
Feel free to re-open if you still have issues or open a new issue if you are having some other problems. would be happy to assist.

[2021-12-20 03:33] #3132 closed

[2021-12-20 03:34] nsivabalan commented on #2948
Closing the github issue as we have fixed it with 0.10.0. Feel free to re-open if you still face any issues. would be happy to assist.

[2021-12-20 03:34] #2948 closed

[2021-12-20 03:36] nsivabalan commented on #2509
@Gatsby-Lee : hoodie.datasource.hive_sync.support_timestamp is the right way to go.

@rubenssoto : is everything resolved on your end or are you still having any issues. Let us know. if things are resolved, feel free to close out the issue.

[2021-12-20 03:59] nsivabalan commented on #2992
closing the issue we we could not reproduce. Feel free to re-open if you are still facing the issue. would be happy to assist

[2021-12-20 03:59] #2992 closed

[2021-12-20 05:05] xushiyan commented on #4351
@shenbinglife I updated the website and hope it clarifies. Closing this now.
https://hudi.apache.org/docs/next/quick-start-guide#setup

hudi 0.10.0 is built against spark 3.1 by default. Only when users are on spark 3.0.x, they build hudi jars for themselves

[2021-12-20 05:05] #4351 closed

[2021-12-20 07:41] Gatsby-Lee commented on #3975
@nsivabalan  I see. Thank you :)

[2021-12-20 07:44] Gatsby-Lee commented on #2509
@nsivabalan

Thank you for your comment.
I am using "hoodie.datasource.hive_sync.support_timestamp"

BTW, AWS Athena fails to read MoR Realtime table. ( Read Optimized table is ok )
I found some articles that say this is related to the Query Engine. ( in this case, it's the managed Presto )
so, I created a support ticket to AWS.

Any input you want me to provide to AWS Athena team?

[2021-12-20 13:26] jardel-lima commented on #3879
Hi @nsivabalan. I am talking with our DPO about modifications we have to make in our dataset before sending it to you. As soon as I get his approval I will share the it with you.

Meanwhile I can share the code I am using:

[code]

[2021-12-20 15:41] codope commented on #4288
Ack. I will update the docs by end of this week.

[2021-12-20 21:23] #4122 closed

[2021-12-21 00:54] nsivabalan commented on #3965
hudi use avro logical type with time millis（spark default）， so that they differ in percison by 3
Related issue: https://github.com/apache/hudi/issues/3429

[2021-12-21 00:57] Gatsby-Lee commented on #2178
@nsivabalan  hi, the link is broken. can you share the updated link?
Thank you

[2021-12-21 01:04] nsivabalan commented on #4200
thanks!

[2021-12-21 01:09] nsivabalan commented on #3478
@codope : do we have a tracking jira for this.

[2021-12-21 01:15] nsivabalan commented on #2178
https://hudi.apache.org/blog/2020/11/11/hudi-indexing-mechanisms/

[2021-12-21 01:16] Gatsby-Lee commented on #2178
@nsivabalan

Thank you very much!!

[2021-12-21 01:21] nsivabalan commented on #4267
thanks for the update.

[2021-12-21 03:08] codope commented on #3478
This should no longer be an issue. `HoodieParquetInputFormat` will not provide a real-time view. Instead, set `hive.input.format=org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat`.
@affei Can you confirm whether you still face the issue with `HoodieCombineHiveInputFormat`.

[2021-12-21 03:32] nsivabalan commented on #3429
@mtami : may I know whats the datatype of. "updated" here.
I tried to cast it as timestamp, but it fails.
this is in spark shell though.

[code]
I will give it a try with pyspark. just wanted to see if I can repro with spark.

[2021-12-21 03:50] nsivabalan commented on #3890
closing the github issue. we will work on fixing it.

[2021-12-21 03:50] #3890 closed

[2021-12-21 06:35] waywtdcc commented on #4305
streaming.It is ok when open set 'index.global.enabled' for 'true'

[2021-12-21 06:36] mtami commented on #3429
Hi @nsivabalan

It's a timestamp string,  i cast it to timestamp.

`input_df = input_df.withColumn('updated', f.to_timestamp(f.col('updated')))`

[2021-12-21 08:36] leesf commented on #4348
@esaeki hi, can the PR https://github.com/apache/hudi/pull/4306 solve your problem?

[2021-12-21 09:23] cb149 commented on #3984
@nsivabalan I am not specifically setting `hoodie.index.type` so it should be using Bloom by default right?

I have changed `hoodie.parquet.small.file.limit` to 0 and use clustering, which also improved the performance a bit, but its still worse than in 0.8.0

The most time is during file creation, e.g. for this 113MB file
[code]
and afterwards another 35 seconds to create a ~56MB second file with

[2021-12-21 10:15] danny0405 commented on #4305
Yeah, for 0.10.0 we have set `index.global.enabled` default as true.

[2021-12-21 10:16] danny0405 commented on #4305
Assumes that the issue has been resolved, re-open it freely if you think it is still a problem.

[2021-12-21 12:35] WTa-hash commented on #4241
No, I haven't. Can you link me to documentation about the savepoint feature.

[2021-12-21 14:42] rajgowtham24 opened #4411 "[SUPPORT] - Presto Querying Issue in AWS EMR 6.3.1"
Hi team,

We are using Hudi 0.5.0, Presto 0.230 in emr 6.0.0 version and we have used the below sample code for data ingestion. During the upgrade, we are facing error with Presto.

Below code executed in 0.5.0. Post the data ingestion we have manually updated the table location to **"s3://bucket_name/test/table_name/default"** and we are able to query the data in Presto 0.230 as well.

We are in

[2021-12-21 17:13] jdattani commented on #4086
This happened for us w/ datasource. Haven't checked through deltastreamer. Was able to build hudi after enabling additional logging in the snippet originally shared (ws.getErrors) and found the exception to be "ArrayIndexOutOfBounds". It seems to be a specific use-case we have where we were getting an array field input as a string value that we were trying to cast to another datatype. This array c

[2021-12-22 00:14] bhasudha opened #4414 "[SUPPORT] Required params in DynamoDBBasedLockProvider"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
This is from one of the sl

[2021-12-22 01:00] waywtdcc commented on #4227
Is there any other way to deal with this? There is no official version of fix yet. Can this fix release a new version as soon as possible? This error is very easy to occur.

[2021-12-22 01:27] nsivabalan commented on #4227
@waywtdcc : You can try to patch the linked patch for now. We are looking to do a minor release by early jan. Will keep you posted.

[2021-12-22 02:17] waywtdcc opened #4415 "[SUPPORT] IDE compilation Hudi error, houdiecleanmetadata class not found"
IDE compilation Hudi error, houdiecleanmetadata and other classes cannot be found.
![image](https://user-images.githubusercontent.com/59957056/147023792-ade1918f-555e-4d04-95f3-3894f90d98cd.png)

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment Description**

* Hudi version : 0.10

[2021-12-22 02:31] waywtdcc commented on #4227
ok, thank you very much

[2021-12-22 02:44] YannByron commented on #4200
@forest455 @nsivabalan
it's a bug for spark-sql query hudi which write data with `TimestampBasedKeyGenerator`.
link to https://issues.apache.org/jira/browse/HUDI-3093.

[2021-12-22 03:04] YannByron commented on #4200
@forest455
can you cherry-pick #4416 to your local branch, build it and test ? i'll appreciate if have any feedback.

[2021-12-22 06:35] yanenze opened #4419 "[SUPPORT] Not An Avro File (flink)"
org.apache.flink.util.FlinkException: Global failure triggered by OperatorCoordinator for 'hoodie_stream_write' (operator 3753fee1be0c09a88b595fb91c4052d9).
	at org.apache.flink.runtime.operators.coordination.OperatorCoordinatorHolder$LazyInitializedCoordinatorContext.failJob(OperatorCoordinatorHolder.java:557)
	at org.apache.hudi.sink.StreamWriteOperatorCoordinator.lambda$start$0(StreamWriteOpera

[2021-12-22 06:39] yanenze commented on #4419
i have met this problem when i restart my program(flink on hudi) , i have seen a same problem had been resolved on#4926 , but i think my problem is different with that one , my problem occrued when  it read an deltacommit request avro file

[2021-12-22 06:44] danny0405 commented on #4419
Thanks, can you make sure the file handle or file name ?

[2021-12-22 07:02] esaeki commented on #4348
Yeah. Customizing "_hoodie_commit_time" column is the best solution, but it's ok.

[2021-12-22 07:51] nsivabalan commented on #4415
@waywtdcc : can you do mvn clean and then package from terminal. These avro models have to be built.

[2021-12-22 08:22] yanenze commented on #4419
![image](https://user-images.githubusercontent.com/34880077/147059624-c3427709-f7db-4f01-bfaa-7ffbd26d59a5.png)
only this three files match the instant that the exception report

[2021-12-22 08:34] yanenze commented on #4419
2021-12-22 16:32:03
org.apache.flink.util.FlinkException: Global failure triggered by OperatorCoordinator for 'hoodie_stream_write' (operator 3753fee1be0c09a88b595fb91c4052d9).
	at org.apache.flink.runtime.operators.coordination.OperatorCoordinatorHolder$LazyInitializedCoordinatorContext.failJob(OperatorCoordinatorHolder.java:557)
	at org.apache.hudi.sink.StreamWriteOperatorCoordinator.lambda$star

[2021-12-22 08:38] danny0405 commented on #4419
These file seems normal, is the `xxx.deltacommit` file a normal json meta file ?

[2021-12-22 08:46] yanenze commented on #4419
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/hudi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月22日(星期三) 下午4:38
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [apache/hudi] [S

[2021-12-22 08:47] yanenze commented on #4419
yes, it is normal，i have sent the file to your mailbox

[2021-12-22 08:49] danny0405 commented on #4419
Does the table has concurrent reader there ? If the file is a complete json file, it seems an issue caused by concurrent modification.

[2021-12-22 08:50] nsivabalan commented on #2936
@shenbinglife : I could not reproduce this. Here is what I tried.
Inserted a bunch of records to a new hudi MOR table.
Generated updates and marked one of the column as null (columns's default value is null). and upserted these to hudi.
On read, I can confirm that the column which I nullified, picked up the value from previous version of the record.

If your use-case is something different, let me

[2021-12-22 08:51] yanenze commented on #4419
now my flink mission like this it can also checkpoint sussessful, but the exception occured when each checkpoint has completed, and this mission restart
![image](https://user-images.githubusercontent.com/34880077/147063831-a205364c-8f1d-4e6f-b5f2-7ede4e16f033.png)

<img width="757" alt="企业微信截图_16401630981829" src="https://user-images.githubusercontent.com/34880077/147064346-a8310b6b-9e0f-4df3-bb4a

[2021-12-22 08:56] yanenze commented on #4419
there is only one mission to write and read the hoodie table

[2021-12-22 09:15] nsivabalan commented on #3429
got it. I could able to repro.
@cdmikechen : Do you know if there is a way we can get around this.

[2021-12-22 09:22] nsivabalan commented on #4414
https://github.com/apache/hudi/pull/4422

[2021-12-22 09:26] nsivabalan commented on #4414
Filed a tracking jira too. https://issues.apache.org/jira/browse/HUDI-3098

[2021-12-22 09:26] #4414 closed

[2021-12-22 12:39] nochimow commented on #4299
Hello,
Tried changing the hoodie.parquet.small.file.limit parameter, but this made no difference in our case.

@nsivabalan, got the sparkui from the most time consuming step (41min).
If you need something more specific let me know.

![sparkui12](https://user-images.githubusercontent.com/83978996/147094009-57e6dbb7-ae57-4a9e-b175-ff5f57f98fc2.png)

[2021-12-22 16:04] stym06 commented on #4318
Does anyone know how to get spark-shell or hudi-cli working with s3 or azure ?

[2021-12-22 16:49] sunilknataraj commented on #4311
Yes, we are using upsert operation only. Code snippet is given below. hudiOptions is mentioned in the original issue description.
`        dataframe.write.format("org.apache.hudi")
          .option("hoodie.insert.shuffle.parallelism", hudiParallelism)
          .option("hoodie.upsert.shuffle.parallelism", hudiParallelism)
          .option("hoodie.metadata.enable", value = true)
          .option

[2021-12-22 19:26] sunilknataraj commented on #4311
.hoodie folder at table level contains thousands of .rollback, .clean and .inflight files.
Below given is the content of .hoodie_partition_metadata for one of the partition where we see duplicates and it contains so many files as shown in the image below,
_#partition metadata
_#Sun Nov 21 14:25:16 GMT 2021_
_commitTime=20211121142502_
_partitionDepth=1__

![image](https://user-images.githubusercon

[2021-12-22 19:31] nsivabalan commented on #4318
for S3, I came across this https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-hudi-cli.html

[2021-12-23 02:12] nsivabalan commented on #2498
Closing out the issue as its jar mismatch issue and we have some proposed solution above.

[2021-12-23 02:12] #2498 closed

[2021-12-23 05:53] vingov opened #4429 "[SUPPORT] Spark SQL CTAS command doesn't work with 0.10.0 version and Spark 3.1.1"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Use create table statemen

[2021-12-23 06:17] hehexiaoduantui opened #4430 "[SUPPORT]hive Incremental query error"
when use hive Incremental query
got this exception:

Exception in thread main" java. lang IllegalArgumentException: Wrong FS: hdfs://localhost:8020/hudi/test , expected: file: ///
at org.apache.hadoop.fs.FileSystem.checkPath(FileSystem.java:780)
at org.apache.hadoop.fs.RawLocalFileSystem.pathToFile(RawLocalFileSystem.java:86)
at org.apache.hadoop.fs.RawLocalFileSystem.deprecatedGetFileStatus(RawLo

[2021-12-23 07:50] waywtdcc opened #4432 "[SUPPORT] The parquet file size exceeds the configured value"
The parquet file size exceeds the configured value

![image](https://user-images.githubusercontent.com/59957056/147206536-f7206021-d932-4b2c-affa-6e61af43ed52.png)

hudi:0.10 flink:1.13.5

DDL:
CREATE TABLE hudi.datagen_hudi2(
id bigint ,
name1        VARCHAR(10),
    name2        VARCHAR(10),
    name3        VARCHAR(10),
    name4        VARCHAR(10),
    name5        VARCHAR(10),
    name6

[2021-12-23 07:50] waywtdcc commented on #4415
ok,thank you very much

[2021-12-23 08:03] hehexiaoduantui commented on #4430
hive Incremental query

[2021-12-23 08:24] BruceKellan commented on #4247
@danny0405 Will it be fixed in the next release version?

[2021-12-23 08:35] codejoyan opened #4433 "[SUPPORT] Time travel query using Hive"
Spark - 2.4.7
Hive - 2.3.7
Hudi - 0.9.0

I am doing a point-in-time read a Hudi table by specifying begin and end time in Hive. While I get the expected result in spark, I do not get the same result in Hive.

1. In Hive it seems even after setting the property `hoodie.table.start.timestamp`, it returns the snapshot view. Basically it returns the latest value after hoodie.table.start.timestamp. If

[2021-12-23 08:52] zhangyue19921010 commented on #3973
Hi @nsivabalan Thanks a lot for your response :)

[2021-12-23 08:52] #3973 closed

[2021-12-23 10:00] tieke1121 opened #4434 "[SUPPORT]why are there many files under the Hoodie file?"
**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment Description**

* Hudi version : 0.10.0

* Hive version : 2.3.1

* Hadoop version :

* Storage (HDFS/S3/GCS..) : HDFS

* Running on Docker? (yes/no) : no

**Additional context**

Add any other context about the problem here.

**Stacktrace**

```Add the stacktrace of the error.```

![image](https://

[2021-12-23 10:01] tieke1121 commented on #4434
![image](https://user-images.githubusercontent.com/6927930/147224028-dac98848-b10d-4db7-b002-2fb159693921.png)

[2021-12-23 10:02] tieke1121 commented on #4434
![image](https://user-images.githubusercontent.com/6927930/147224118-cd49e353-2e2b-434c-960d-767438f7b827.png)

[2021-12-23 15:06] stym06 commented on #4318
This is set up on EMR. Is there a doc to set it up in local env?

[2021-12-23 22:43] gunjdesai opened #4437 "[QUESTION] Example for CREATE TABLE on TRINO using HUDI"
I am using `Spark Structured Streaming (3.1.1)` to read data from `Kafka` and use `HUDI (0.8.0)` as the storage system on S3 partitioning the data by date. (no problems with this section)

I am looking to use `Trino (355)` to be able to query that data. As a pre-curser, I've already placed the `hudi-presto-bundle-0.8.0.jar` in `/data/trino/hive/`

I created a table with the following schema

[code

[2021-12-24 01:30] waywtdcc opened #4439 "[BUG] ROLLBACK meet Cannot use marker based rollback strategy on completed error"
**Describe the problem you faced**

`org.apache.flink.util.FlinkException: Global failure triggered by OperatorCoordinator for 'hoodie_stream_write' (operator a75843bfd239577dd73ed4d150d8cfdb).
	at org.apache.flink.runtime.operators.coordination.OperatorCoordinatorHolder$LazyInitializedCoordinatorContext.failJob(OperatorCoordinatorHolder.java:553)
	at org.apache.hudi.sink.StreamWriteOperatorCoordi

[2021-12-24 08:49] a0x opened #4442 "[SUPPORT] PySpark(3.1.2) with Hudi(0.10.0) failed when querying spark sql"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2021-12-24 09:52] danny0405 commented on #4419
Hmm, somehow, there generates an empty `xxx.rollback` file, seems we do not have good solutions for this case except to remote the file manually.

[2021-12-24 09:54] danny0405 commented on #4432
Yes, the file size control is just an estimation. You can set the record size with option `hoodie.copyonwrite.record.size.estimate` manually to make the file size more precise BTW.

[2021-12-24 12:41] danny0405 commented on #4439
Did you use the offline compaction yet ?

[2021-12-24 14:56] danny0405 commented on #4439
I have fired a fix in https://github.com/apache/hudi/pull/4443

[2021-12-26 07:14] xushiyan commented on #4442
@a0x can you try put the jars in a different directory like /home/hadoop and try not to change /usr/lib/hudi .

[2021-12-26 07:29] xushiyan commented on #4429
@vingov spark 3.2 is not supported with hudi 0.10. Put a support matrix here
https://hudi.apache.org/docs/next/quick-start-guide#setup
this shouldn't be a problem when the right version is used.

[2021-12-26 07:58] xushiyan commented on #3344
@Kavin88 Gonna close this as this is not a hudi-specific problem; it's a general orchestration decision problem for running large number of spark applications. You can look into apache livy that can help manage spark applications. if you run spark on kubernetes, then k8s helps with the orchestration

[2021-12-26 07:58] #3344 closed

[2021-12-26 07:59] xushiyan commented on #3624
close due to inactive

[2021-12-26 07:59] #3624 closed

[2021-12-26 13:23] cdmikechen commented on #3429
@nsivabalan
You can replace `Timestamp.valueOf("2015-01-01T13:51:39.345397Z")` to `Timestamp.valueOf("2015-01-01 13:51:39.345397")`

[2021-12-26 20:36] maddy2u commented on #4202
Facing the same issue. When will this be fixed? Is it part of the next minor release of 0.10.1 ?

[2021-12-26 21:30] xushiyan commented on #4202
@maddy2u Pls let me clarify: spark 3.2 support is a feature to be added, not an issue.
And no, 0.10.1 will be a bug fix release, no new feature should be added there. This is expected in 0.11.0 major release.

[2021-12-27 00:26] waywtdcc commented on #4439
Does hudi0.9 have this bug?

Does hudi0.9 have this bug?

[2021-12-27 00:26] waywtdcc commented on #4439
Does hudi0.9 have this bug?

[2021-12-27 00:40] danny0405 commented on #4439
No, but generally 0.10 is better.

[2021-12-27 00:46] waywtdcc commented on #4439
But we pay more attention to stability. I feel that 0.10 is not enough stability, right?

[2021-12-27 02:13] waywtdcc commented on #4439
Restart the task or report this error. Do you want to delete the data and then write it again?

[2021-12-27 03:03] waywtdcc commented on #4439
use offline compaction.error is
`
2021-12-27T10:59:37.248+0800: 69.147: Total time for which application threads were stopped: 0.0002348 seconds, Stopping threads took: 0.0000544 seconds
2021-12-27T10:59:37.253+0800: 69.153: Total time for which application threads were stopped: 0.0002075 seconds, Stopping threads took: 0.0000396 seconds
2021-12-27T10:59:37.254+0800: 69.153: Total time for which a

[2021-12-27 06:12] danny0405 commented on #4439
You can delete the error meta file only.

[2021-12-27 06:24] China-JasonW commented on #3042
I meet the same exception, how to fix it?

[2021-12-27 13:39] maddy2u commented on #4202
If i am trying to compile the master branch, I am not able to compile the code as it is failing on Spark 3.2. I have to revert to the earlier release (0.10.0) to be able to do it. Not sure if it is something wrong i am doing with the configuration.

[2021-12-27 15:46] rajgowtham24 commented on #4411
@nsivabalan Hi Siva, when you get a chance, can you please take a look on the above

[2021-12-27 18:10] nochimow opened #4456 "[SUPPORT] MultiWriter w/ DynamoDB - Unable to acquire lock, lock object null"
Hello,

I'm currently trying the multiwriter feature using the dynamoDB lock.
I followed all the steps documented on the https://hudi.apache.org/docs/concurrency_control/ and also the hoodie.write.lock.dynamodb.billing_mode=PAY_PER_REQUEST config, thanks to @bhasudha advice on slack.

After that i ended with the following error: org.apache.hudi.exception.HoodieLockException: Unable to acquire lock

[2021-12-27 20:53] vingov commented on #4429
@xushiyan - Thanks for the reply, but it doesn't work even with Spark 3.0.2, but the same statement works with Hudi 0.9.0 version.

[code]

[2021-12-27 21:06] #4415 closed

[2021-12-27 21:10] nsivabalan commented on #4432
yes, hudi by default uses gzip for parquet compression. but you can override the compression if need be.

[2021-12-27 21:12] nsivabalan commented on #4430
@hehexiaoduantui : Is it that snapshot query works and you have having issues with incremental query?
Were you able to run docker example given [here](https://hudi.apache.org/docs/docker_demo/#step-7-a-incremental-query-for-copy-on-write-table) w/o any issues to rule out any environmental specific issues?

[2021-12-27 21:14] nsivabalan commented on #4434
Hudi maintains a timeline to track every commit/operation in hudi. This serves multiple purpose like transaction management, point in time query, incremental query etc. Let me know if you need more details.

[2021-12-27 21:14] nsivabalan commented on #4437
@codope : Can you take this up please.

[2021-12-27 21:17] nsivabalan commented on #4456
@zhedoubushishi : Can you take a look at this issue please?

[2021-12-27 21:23] nsivabalan commented on #4411
sure. Will be looking into github issues today and tomorrow.

[2021-12-27 23:59] xushiyan commented on #4429
@vingov the downloaded jar 0.10.0 is built against 3.1.x. it needs to be built against 3.0.x to work with it. There are some incompatibility with spark 3 versions. I'll make this section clearer https://hudi.apache.org/docs/next/quick-start-guide#setup

[2021-12-28 00:03] zuyanton opened #4457 "[SUPPORT] Hudi archive stopped working"
**Describe the problem you faced**

Hi Team,

we have been using Hudi for over a year now. We have 50+ tables running incremental updates every 10 minutes . We have noticed that one of our table stopped archiving commits . Symptoms : we see that ".hoodie/archived" folder does not contain any new files generated past early August . We do see thousands of commit files in ".hoodie" folder created fro

[2021-12-28 00:12] nsivabalan commented on #4432
Have filed a tracking jira. Will be looking into it.
https://issues.apache.org/jira/browse/HUDI-3110

[2021-12-28 02:35] nsivabalan commented on #4433
I haven't tried it out yet, but can you try
`hoodie.hudi_read_test_4.consume.commit` instead of end.timestamp.
CC @codope

[2021-12-28 02:38] danny0405 commented on #4434
It seems without compaction, these meta files would never be archived.

[2021-12-28 03:44] nsivabalan commented on #4433
this worked for me. setting valid start commit time
[code]
my dataset has 4 commits in total
[code]

[2021-12-28 03:46] nsivabalan commented on #4433
[code]

[2021-12-28 04:29] nsivabalan commented on #4430
Likely you are not using right no of slashes in url.
I tried incremental query recently w/ latest master and it worked for me in docker.
https://github.com/apache/hudi/issues/4433#issuecomment-1001852996

`Wrong FS: hdfs://localhost:8020/hudi/test expected: file: ///`

[2021-12-28 05:15] codejoyan commented on #4433
Setting the hoodie.store_visit_scan_hudi_read_test_4.consume.max.commits works!! Thanks @nsivabalan.
Just wanted to confirm how to interpret this config?
In your example you have 4 commits in the below order.

20211228032849365
20211228033135331
20211228033152850
20211228033158272

If I have start.timestamp as 000 and max.commits as 2, the query will fetch the records as of commit - 20211228033135

[2021-12-28 05:19] #4433 closed

[2021-12-28 07:48] codope commented on #4411
@rajgowtham24 From the stacktrace, it seems like `.hoodie` directory is not present under the table basepath. How was the relocation done? Can you please check that the path contain .hoodie dir after updating the location?

Another problem I noticed with the stacktrace is that it contains a call from `HudiDirectoryLister`. This class is not present in Presto version 0.245.1. Can you check again?

[2021-12-28 08:31] vingov commented on #4429
@xushiyan - Thanks for the context, spoke to @vinothchandar about this issue as well, we both agree that we should reopen this issue and fix it. wdyt?

The first thing we need to do is to update the 0.10.0 spark guide docs with the version compatibility matrix.

One more issue I found today is this, the create table command works, but the CTAS command doesn't work with 0.10.0 version and Spark 3.1

[2021-12-28 08:37] liujinhui1994 commented on #4027
@nsivabalan Still not working, the same error

[2021-12-28 08:44] liujinhui1994 commented on #4027
i used latest master

[2021-12-28 08:57] rajgowtham24 commented on #4411
@codope - below is the folder structure post the data write from 0.5.0. Since Presto doesn't identify the parquet files under /default directory we have manually updated the table location for the table so that the query would work fine in Presto 0.230

s3://bucket_name/test/table_name/
 -.hoodie_$folder$
 -.hoodie/
 -default_$folder$
 -default/

[2021-12-28 10:08] nikenfls opened #4461 "[SUPPORT]Hudi(0.10.0) write to Aliyun oss using metadata table warning"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes, I searched the keyword "Invalid range value".

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe

[2021-12-28 15:43] nsivabalan commented on #4432
with bulk_insert, file sizing is not guaranteed as its closely tied to flushing of data to disk. So, if you are seeing issues w/ bulk_insert, it is expected. but if you see it with incremental ingestion. that the file keeps growing, then it needs to be looked into. Let me know where exactly do you see the problem.

[2021-12-28 16:19] nsivabalan commented on #3935
Hey @melin : will go ahead and close this one out. Please feel free to reopen If you have more questions or open a new one if you are looking for any more support. would be happy to help. thanks!

[2021-12-28 16:19] #3935 closed

[2021-12-28 16:20] nsivabalan commented on #4176
Will go ahead and close this one out. Do let us know if you have more questions or if the proposed solution does not work.

[2021-12-28 16:20] #4176 closed

[2021-12-28 16:22] nsivabalan commented on #3533
@aresa7796 : Let us know if you have any more updates for us on this regard. If you got it resolved, feel free to close out the GitHub issue.

[2021-12-28 21:07] nsivabalan commented on #2439
Will go ahead and close this one out as we have a solution proposed. Feel free to re-open if you are still encountering issues.

[2021-12-28 21:07] #2439 closed

[2021-12-28 21:22] #4233 closed

[2021-12-28 21:23] nsivabalan commented on #4457
Can you post the contents of .hoodie. And if you can enable debug logs and post it here, would be helpful. wanted to see why archival is not kicking in.

[2021-12-28 21:25] nsivabalan commented on #4200
@forest455 : do you have any updates for us.

[2021-12-28 21:26] nsivabalan commented on #4221
Please re-open if need be. thanks for reporting.

[2021-12-28 21:26] #4221 closed

[2021-12-28 21:26] #4165 closed

[2021-12-28 21:26] nsivabalan commented on #4165
Feel free to reopen is the suggested solution does not work. would be happy to assist.

[2021-12-28 21:27] nsivabalan commented on #4170
Hey @rubenssoto : closing this one out. Feel free to re-open if required. or reach us via slack. would be happy to assist.

[2021-12-28 21:29] nsivabalan commented on #4154
@YannByron : can you post your playbook here please.

[2021-12-28 21:32] nsivabalan commented on #4043
@Limess : do you have any updates for us. if the issue is resolved, can we close the github issue. if not, let us know how we can assist you here.

[2021-12-28 21:33] nsivabalan commented on #3731
@parisni : do you have any updates for us.

[2021-12-28 21:33] nsivabalan commented on #3737
@qingyuan18 : do you have any updates for us. Feel free to close out the github issue if you got past the issue.

[2021-12-28 21:34] nsivabalan commented on #3755
@fengjian428 : do you have any updates for us in this regard. If issue is resolved, feel free to close the github issue. if not, let us know how we can be of help.

[2021-12-28 21:35] nsivabalan commented on #3782
Closing this out since we fixed bunch of multi writer bugs with 0.10.0. Feel free to re-open this issue or open a new one if you encounter issues. would be happy to help.

[2021-12-28 21:35] #3782 closed

[2021-12-28 21:37] nsivabalan commented on #3572
@niloo-sh : do you have any updates for us.

[2021-12-28 21:38] nsivabalan commented on #3499
@codejoyan : Do you have any updates for us in this regard. If the issue is resolved, feel free to close out the github issue.

[2021-12-28 22:49] nsivabalan commented on #3795
@harsh1231 to look into this.

[2021-12-28 23:10] nsivabalan commented on #4432
Can you also try setting `hoodie.parquet.block.size` in addition to parquet.max.file.size.

[2021-12-28 23:56] xushiyan commented on #4429
I closed this as I thought this is a version mismatch. Then since there is a different issue we should open it.

 Yup on it.

[2021-12-29 00:40] nsivabalan commented on #4318
you mean, to access S3 dataset from your local laptop ? or to access a local dataset in your laptop ?

[2021-12-29 00:45] nsivabalan commented on #4311
Not sure if Sunil and JohnEngelhart are talking about the same issue or you folks belong to two diff orgs/company. anyways, I see you have enabled metadata table. Can you disable metadata and verify if the duplicates go away. Also, the rollbacks you are talking about, is it in the data table or metadata table? Do you happened to know why there are so may rollbacks in your dataset. Can you post the

[2021-12-29 02:35] YuweiXiao commented on #4461
I cannot reproduce the warning. I am using master branch and run directly inside the IDE (with spark local mode and core-site.xml setup)

by the way, I am using the following version of AliyunOSS sdk
[code]

[2021-12-29 02:51] YannByron commented on #4154
@nsivabalan @BenjMaq
I use the basically same commands, in Hudi0.9 + Spark2.4.4.

`CREATE TABLE IF NOT EXISTS test_overwrite (
    id bigint,
    name string,
    dt string
) USING hudi
LOCATION 'file:///tmp/hudi/test_overwrite'
OPTIONS (
  type = 'cow'
)
PARTITIONED by (dt);

insert into test_overwrite
values
    (1, 'a1', '2021-11-29'),
    (2, 'a2', '2021-11-29')
;

insert overwrite table test_

[2021-12-29 02:53] vingov commented on #4429
Thanks, @xushiyan, I've updated the title to reflect the CTAS issue.

[2021-12-29 03:02] nikenfls commented on #4461
Thank you very much for your time. I will try these sdk. XD

[2021-12-29 03:03] putaozhi123 opened #4466 "[SUPPORT]ERROR table.HoodieTimelineArchiveLog: Failed to archive commits,Not an Avro data file"
**Environment Description**

Hudi version : 0.8.0

Spark version : 2.4.7

Storage (HDFS/S3/GCS..) : HDFS

Running on Docker? (yes/no) : no

**Additional context**
the exception is as follows after hudi running for a period of time

**Stacktrace**
21/12/29 05:57:06 ERROR table.HoodieTimelineArchiveLog: Failed to archive commits, .commit file: 20210916102118.rollback.inflight
java.io.IOException: No

[2021-12-29 03:32] stym06 commented on #4318
yes, to access s3 data from the local

[2021-12-29 06:20] bhasudha commented on #2529
Should be in FAQ already - https://hudi.apache.org/learn/faq/#how-to-override-hudi-jars-in-emr

[2021-12-29 06:20] #2529 closed

[2021-12-29 08:41] xushiyan commented on #4461
@nikenfls pls let us know if it gets resolved.

[2021-12-29 12:16] sunilknataraj commented on #4311
Myself and John belong to same company and talking about same issue. As I mentioned in my post, John already provided the hudiOptions in the original issue description and I was mentioning the upsert operation details.
1. We will disable metadata and verify the same.
2. We have seen multiple .rollback files under .hoodie folder hence it is data table related, not metadata table.
3. Not sure why ro

[2021-12-29 12:38] aditiwari01 commented on #2802
@nsivabalan I had to setup my env with latest hudi code. I have raised the PR with minor patch for the same. Kindly go through the change. I have tested it on local and on cluster as well. However, I. haven't added any unit tests for now. AFAIR when I initially worked on this I was unable to reproduce the issue via tests. Would be helpful if you can provide some pointers.

Also please let me know

[2021-12-29 12:48] todd5167 opened #4469 "[SUPPORT] bulk_insert cannot write final metadata information"
**Environment Description**

	Hudi version : 0.10.0

	Flink version : 1.13.3

	Storage (HDFS/S3/GCS..) : AWS s3

	Running on Docker? (yes/no) : yes, k8s

**Additional context**
	flink batch mode, use bulk_insert operation. When the data is written, the last commit information cannot be synchronized to .hoodie/ .
	Because when the handleEndInputEvent is executed, the filesystem close method has alr

[2021-12-29 16:30] YannByron commented on #4429
@vingov
I can't reproduce this with Hudi 0.10.0 and Spark 3.1.2.

![image](https://user-images.githubusercontent.com/10036681/147683058-f8cacbf2-9546-42fd-9666-5e9d33a6d069.png)

And according to the exception above (Line 39 in `CreateHoodieTableAsSelectCommand`), i don't think it's from hudi 0.10.0 version. Can you check this?

[code]

[2021-12-29 16:35] nsivabalan commented on #4027
Hey, I tried to reproduce locally and could not.
https://gist.github.com/nsivabalan/7d6ea90ebfa76f9a53abedfa562562b7

can you confirm few things:
1. is your table MOR?
2. If yes, do you have any file groups with any base files but just log files? From the code, I see hudi clustering considers only  parquet file size and not the log file sizes.
3. Can you enable info logging and let us know what yo

[2021-12-29 19:38] singaretti commented on #4177
Hi, I was facing this error last weeks, and now, I guess I fixed data pipeline just adjusting AWS EMR versions that it was using Hudi to write to s3 buckets.
Data Pipeline workflow here was using EMR 6.5, EMR 6.4, and in some cases, EMR 5.33.1, and now that all processes is using EMR 6.5, we dont have broken pipeline with that version error.
I Hope it helps @nsivabalan and @codejoyan

[2021-12-29 21:48] nsivabalan commented on #4177
thanks @singaretti  for the update. glad to know everything is resolved now.

[2021-12-29 21:50] nsivabalan commented on #2802
@aditiwari01 : sorry, can you point me to the patch which you have put up on this regard. I can take a stab at it.

[2021-12-29 22:02] nsivabalan commented on #4318
@stym06 : Can you give this a try https://github.com/apache/hudi/pull/3222. would help to certify the patch too.

[2021-12-29 23:39] vingov commented on #4429
@xushiyan - Thanks for confirming that it works with 3.1.2, my initial error was on Spark 3.1.1, after your last message, I updated my Spark to 3.1.2, even after that update I got a different error:

[code]

[2021-12-30 02:44] boneanxs opened #4474 "[SUPPORT] Should we shade all aws dependencies to avoid class conflicts?"
As we introduce support for DynamoDb based lock by [HUDI-2314](https://github.com/apache/hudi/pull/3486/files), can we shade all aws dependencies for all our bundled jars(spark, flink)? As many users also import their own aws packages but also use hudi, which could cause many class conflicts like following error:

[code]

I'm not sure whether shading these jars will introduce other issues or not.

[2021-12-30 03:16] LuPan2015 opened #4475 "[SUPPORT] Hudi and aws S3 integration exception"
**Describe the problem you faced**

The Hudi table is created not successfully and the data is stored in S3

**To Reproduce**

Steps to reproduce the behavior:

1. Configure core-site.xml under spark/conf
2. Start spark-sql client
3. Create Hudi external table to store data to S3

**Expected behavior**

The Hudi table is created successfully and the data is stored in S3

**Environment Description*

[2021-12-30 03:18] LuPan2015 commented on #4474
I seem to have encountered the same problem  #4475 . Is there any good way to solve it quickly?

[2021-12-30 03:32] BruceKellan commented on #4247
Thanks. I have seen the PR.
[Link](https://github.com/apache/hudi/pull/4470)
I will close it.

[2021-12-30 03:32] #4247 closed

[2021-12-30 03:42] boneanxs commented on #4474
For our internal hudi version, we shade aws dependencies, you can add new relocation and build a new bundle package:

For example, to shade aws dependencies in spark, add following codes in **packaging/hudi-spark-bundle/pom.xml**

[code]

[2021-12-30 03:53] nsivabalan commented on #4466
We have a fix [here](https://github.com/apache/hudi/pull/4016). Can you try out the patch.

[2021-12-30 03:55] nsivabalan commented on #4432
please re-open if the proposed solution does not work.thanks

[2021-12-30 03:55] #4432 closed

[2021-12-30 03:57] YannByron commented on #4429
@vingov @xushiyan
I can reproduce this in spark3.1.1. It's a real bug, and i've opened a ticket and committed a pr for this, #4476 .

[2021-12-30 04:01] nsivabalan commented on #3879
sure. let us know once you have the dataset available to share.

[2021-12-30 04:36] zuyanton commented on #4457
@nsivabalan do you mean content of .hoodie folder ? - its bunch of old commit files plus following subfolders ".aux", ".temp", "metadata", "archived"
![image](https://user-images.githubusercontent.com/67354813/147721123-4227e385-76cb-4120-8510-a472fbb9643c.png)

[2021-12-30 05:41] vingov commented on #4429
@YannByron - Thanks for the quick turnaround, I appreciate it!

@xushiyan - There are more errors with Spark 3.1.2 as well, see below:

[code]

another error with 0.10.0, but these statements are working with 0.9.0 version:

[code]

[2021-12-30 05:50] LuPan2015 commented on #4474
I tried it, but the following exception was still thrown。
[code]
[code]

[2021-12-30 06:10] YannByron commented on #4429
@vingov
as the picture I mentioned above, need to `set spark.sql.datetime.java8API.enabled=false;` manually at this time.
And i also try to improve it that don't need set by user, #4471. In this, just work for `insert`, not for `CTAS`, but i'm still working on it..

[2021-12-30 06:25] boneanxs commented on #4474
Not the same exception?

[2021-12-30 06:39] LuPan2015 commented on #4474
yes.  But it works fine。
Next I need to store the metadata in glue。
Thanks.

[2021-12-30 06:50] LuPan2015 commented on #4475
solved #4474

[2021-12-30 06:50] #4475 closed

[2021-12-30 08:02] vingov commented on #4429
Thanks again for the config @YannByron! It works after passing that config explicitly.

[2021-12-30 08:26] taisenki opened #4477 "[SUPPORT]using spark on TimestampBasedKeyGenerator has no result when query by partition column"
hudi table options:

hoodie.datasource.write.table.type=MERGE_ON_READ
hoodie.datasource.write.recordkey.field=id
hoodie.datasource.write.partitionpath.field=data_date
hoodie.datasource.write.precombine.field=ts
hoodie.datasource.write.keygenerator.class=org.apache.hudi.keygen.TimestampBasedKeyGenerator
hoodie.deltastreamer.keygen.timebased.timestamp.type=DATE_STRING
hoodie.deltastreamer.keygen.tim

[2021-12-30 08:28] taisenki commented on #4477
My env hudi 0.10.0 , spark 2.4.0-cdh6.3.2

[2021-12-30 10:00] nikenfls commented on #4461
Actually, I didn't find hadoop-aliyun jar with version "2.7.2.4-oss-magic-copy-12"

[2021-12-30 10:02] parisni commented on #3731
They are independant JVM process : multiple spark-submit run un parallele with xargs

[2021-12-30 10:26] YuweiXiao commented on #4461
sorry, it is for Hadoop 2.0.

Could u try running this demo? (change the hudi version to 0.10.0 in the `pom.xml` file and enable the metadata config)
https://github.com/leesf/hudi-demos

I just tested and it seems work out just fine.

[2021-12-30 10:31] Limess commented on #4043
We worked around this issue with column ordering. I do believe the wider community would benefit from better error messaging here in this scenario.

[2021-12-30 12:08] nsivabalan commented on #4457
I see you have enabled metadata table. Can you try disabling metadata table and give it a try. I am not very sure on metadata table nuances in 0.8.0, but with 0.10.0, if data table has any pending operations, metadata table may not compact and so archival in data table may be fenced as well due to this.

[2021-12-30 12:11] nsivabalan commented on #4230
@yihua : do you happened to know the root cause of the original issue. If you could triage it to a bug, we want to get it in for 0.10.1. Please follow up on this.

[2021-12-31 03:46] Tandoy commented on #3598
got it thanks,8D

[2021-12-31 06:24] sunilknataraj commented on #4311
@nsivabalan  Attaching entire .hoodie contents (all the files under .hoodie, metadata, .aux and archived folders under .hoodie)
[files.zip](https://github.com/apache/hudi/files/7795457/files.zip)
[metadataAND.aux.zip](https://github.com/apache/hudi/files/7795459/metadataAND.aux.zip)
[archived.zip](https://github.com/apache/hudi/files/7795460/archived.zip)

[2021-12-31 07:27] liujinhui1994 commented on #4027
Thanks for the reply. I use COW
I’m making some attempts. Once there are new discoveries, I will report

Thanks for the reply. I use COW
I’m making some attempts. Once there are new discoveries, I will report

[2022-01-02 15:43] kazdy commented on #4442
I have the same issue when running hudi on emr.
This issue seems to have the same root cause as in this one: [https://github.com/apache/hudi/issues/4474](4474).
The solution is to shade and relocate aws dependencies introduced in hudi-aws:

@xushiyan should this relocation be added to the official hudi release to avoid such conflicts?

[2022-01-02 21:43] nsivabalan commented on #3870
@atharvai : I tried a simple savepoint and rollback and able to get it working. Even the minor fix which I mentioned above is not required. I had to pass in sparkMaster as explicit argument. I have added the details in this [jira](https://issues.apache.org/jira/browse/HUDI-3059).

I tried w/ 0.10.0.
Can you try w/ latest master or 0.10.0 and let me know what do you see. Or if you can go over exact

[2022-01-02 21:53] nsivabalan commented on #4184
Closing this as user is able to get past the issue. We haven't come across such dirty files with hudi in general. Hudi cleans up any partially written files in general. Also, if a commit is partially failed, hudi should never be attempting to read it.
thanks for reporting. If you encounter the issue again, feel free to re-open. Or if you can provide us w/ reproducing steps, would definitely look i

[2022-01-02 21:53] #4184 closed

[2022-01-02 21:54] nsivabalan commented on #4469
@danny0405 @leesf : Can you loop in someone from flink to look into the issue. thanks.

[2022-01-02 21:55] nsivabalan commented on #4466
Closing this as we have triaged it and have a patch which is landed in master.
Feel free to re-open is the suggested fix does not work. or you need any more assistance.
thanks for reporting.

[2022-01-02 21:55] #4466 closed

[2022-01-02 21:57] nsivabalan commented on #4419
Hey @danny0405 : is this something different from https://github.com/apache/hudi/pull/4016 or is the same. If its the same, can we close this issue since its already triaged and fixed.

[2022-01-02 22:02] nsivabalan commented on #3249
without any further info (logs), its tough to assist with debugging. Closing this due to inactivity for now. but highly recommend to reopen if you have not resolved and still looking for further help.
thanks for reporting!

[2022-01-02 22:02] #3249 closed

[2022-01-02 22:05] nsivabalan commented on #4131
@BenjMaq : Did you get a chance to try explicitly setting preCombine field.
@YannByron @xushiyan : Can either of you folks please follow up on the issue.

[2022-01-02 22:11] nsivabalan commented on #4177
since this is related to EMR version issue, we can't help much here. Going ahead and closing the issue. @codejoyan : feel fee to re-open if you feel the proposed resolution does not work for you and if you are still looking for assistance. we would be happy to assist.

[2022-01-02 22:11] #4177 closed

[2022-01-02 22:12] nsivabalan commented on #4032
@garyli1019 : Any updates on this issue.

[2022-01-02 22:18] nsivabalan commented on #4082
@xuranyang : without further info, we can't do much here. Can you please let us know what exactly you are looking for.
I am not an expert in structured streaming, but if you are looking to read from one stream and write to diff hudi tables based on some condition, here is one hacky way which I can think of.

https://gist.github.com/nsivabalan/f7ee7fa611cfc864db7506c016a73787

This intercepts each

[2022-01-02 22:19] nsivabalan commented on #2802
able to get hold of it, thanks. will close the github issue and follow up on the patch review. thanks!

[2022-01-02 22:19] #2802 closed

[2022-01-02 22:21] nsivabalan commented on #4027
thanks. sure.

[2022-01-02 22:35] nsivabalan commented on #4340
Hey @fireking77 : I have filed a jira for this. Feel free to update the jira with further clarification or steps to reproduce. https://issues.apache.org/jira/browse/HUDI-3137
thanks for reporting.

[2022-01-02 22:35] #4340 closed

[2022-01-02 22:43] nsivabalan commented on #3673
Closing this due to inactivity. Feel free to re-open if you have more and we can definitely look into debugging.

[2022-01-02 22:43] #3673 closed

[2022-01-03 04:31] nsivabalan commented on #4477
thanks for reporting. for the time being, can you try query using `YYYY/MM/DD` format.

[2022-01-03 04:39] taisenki commented on #4477
yyyy/MM/DD can find the partition file, but there is no equal data in the table for value store in data_date is 'YYYY-MM-DD'

[2022-01-03 06:10] t0il3ts0ap commented on #2774
@nsivabalan Facing this issue with hudi 0.10. Can you pinpoint to the patch which is fixing this ?

[2022-01-03 06:50] codejoyan commented on #3499
Hi @nsivabalan I am yet to retest this issue. We can close this issue as of now.
I will test with both 0.9.0 and 0.10.0 and open a GH issue if it persists.

[2022-01-03 11:04] t0il3ts0ap opened #4496 "[SUPPORT] Hudi is unable to push metrics to pushgateway via https"
**Describe the problem you faced**

Hudi is not able to report metrics to pushgateway when secured by https

**To Reproduce**

--hoodie-conf hoodie.metrics.on=true
--hoodie-conf hoodie.metrics.reporter.type=PROMETHEUS_PUSHGATEWAY
--hoodie-conf hoodie.metrics.pushgateway.host=pushgateway.prod.some-tech.in
--hoodie-conf hoodie.metrics.pushgateway.port=443
--hoodie-conf hoodie.metrics.pushgateway.del

[2022-01-03 13:34] t0il3ts0ap commented on #4496
Able to get metrics on patching https://github.com/apache/hudi/pull/4497

[2022-01-03 13:43] nsivabalan commented on #4311
thanks for the timeline.
Here are our findings so far. unfortunately we don't have a root cause yet. but updating some findings for now.

1. We see same data file being cleaned up by multiple clean instants. we need to understand how this could be possible. Only reason I can see this happening, if a new clean is scheduled even before previously clean is completed and hence the scheduling of new cl

[2022-01-03 14:00] dmenin commented on #3975
Hi @nsivabalan

"How is your updates/deletes spread in general? "

I have the data partitioned by year/month/day, and deal with time related data, the vast majority of the updates happen on the same partition, however, a percentage happens on different partitions (yesterday's and the days before).
This percentage gets smaller towards the end of the day.

Since I get a batch of data from the source

[2022-01-03 14:58] BenjMaq commented on #4154
Hi everyone, sorry for the late reply as I was on holidays.

I tried again after @YannByron 's comment but this time I tried reading the files using Scala (`spark.read.format("hudi")`) and not Presto / Hive... and I was able to see the **correct** data! I then tried again using Presto / Hive, and I still saw the **old** data.

**So I believe it has something to do with Presto / Hive not being able

[2022-01-03 15:01] parisni opened #4499 "[SUPPORT] DynamoDBBasedLockProvider support for local dynamodb"
so far, we can only deal with AWS endpoints.

however, for local development having a local dynamodb instance is useful

then allowing to specify the dynamodb endpoint would help in that case

[2022-01-03 19:46] jasondavindev opened #4501 "[SUPPORT] Duplicate records for same recordKey and differents partitionpath"
**Describe the problem you faced**

I've created a simple script to test insert and upsert operations. When I run upsert operation for a given record but with different partition field column value, hudi duplicates the record.

**To Reproduce**

My script

[code]

**Expected behavior**

Hudi should updates _hoodie_partition_path and is_syncing column, not create a new record.

**Environment Descri

[2022-01-03 19:55] nsivabalan commented on #3499
thanks. but do reach out to us if you hit any issues. would be happy to assist you.

[2022-01-03 19:55] #3499 closed

[2022-01-03 19:55] h7kanna commented on #4501
Hi, Difference of indexing schemes in Hudi
https://hudi.apache.org/blog/2020/11/11/hudi-indexing-mechanisms/
check Global vs Non Global

[2022-01-03 19:59] nsivabalan commented on #4499
thanks for reporting.
https://issues.apache.org/jira/browse/HUDI-3147

[2022-01-03 19:59] #4499 closed

[2022-01-03 20:00] nsivabalan commented on #4501
yes, for partition datasets and non global index, a pair of partition path and record key is unique across entire hudi table. I see two rows seen in the attached screenshot has different partition path values.

[2022-01-03 20:04] nsivabalan commented on #4496
thanks for reporting .have filed https://issues.apache.org/jira/browse/HUDI-3147

[2022-01-03 20:04] #4496 closed

[2022-01-03 20:26] jasondavindev commented on #4501
Thanks for the quick answer

[2022-01-03 20:32] jasondavindev commented on #4501
Reopen
When I add `hoodie.index.type=GLOBAL_BLOOM` the given error is thrown

[code]

[2022-01-03 20:33] jasondavindev commented on #4501
Reopen
Thanks @nsivabalan @h7kanna
but when I add `hoodie.index.type=GLOBAL_BLOOM` the given error is thrown

[code]

[2022-01-03 21:13] jasondavindev commented on #4501
I noticed when use `withColumn` the final schema is changed. `is_syncing` column hasn't default value.
[code]

From
[code]

To
[code]

Could be this the problem?

[2022-01-03 22:38] nsivabalan commented on #4501
yes, its backwards incompatible change.

[2022-01-03 22:40] nsivabalan commented on #4501
Can you try with a new table. usually changing index types, partition path fields or record key fields is not recommended for a given table.

[2022-01-03 23:41] lethrez opened #4502 "[QUESTION] Athena Hudi Time Travel Queries"
Just a quick question that might even end up as yes/no.

I've been looking into having a Hudi table queried by Athena. And wondering about the compatibility of time travel queries.

To my understanding, there is functionality with presto/spark but this isn't supported in hive. in order to build the time travel query use `_hoodie_commit_time`. What is the efficiency like in using this method and wo

[2022-01-04 01:37] taisenki commented on #4477
@nsivabalan result like this:
[code]

[2022-01-04 01:58] YannByron commented on #4154
@BenjMaq Does Spark-SQL work correctly also?
Can @xushiyan give some advices for Hive/Presto?

[2022-01-04 02:00] YannByron commented on #4477
@taisenki @nsivabalan
I found there are different behaviors in cow and mor type. i'll take this up and reply asap.

[2022-01-04 02:35] a0x commented on #4442
@xushiyan Thanks for your reply.

Do you mean not to replace Hudi 0.8.0 bundled in EMR and start spark session with Hudi 0.10.0 which in another separated dir?

To be honest I think it's not a good idea.

When I dug into the error, I realized this was the problem inside the aws java sdk bundled in EMR Spark library.

[2022-01-04 02:38] a0x commented on #4442
Thank you! This should work.

But shall we shade all aws deps in Spark? I'm worrying about the side effict, but let me have a try before replying in that issue.

[2022-01-04 03:44] boneanxs commented on #4474
@xushiyan @zhedoubushishi , Looks this is a common case for many users, does shade this has other side effects or not? If not, I'm willing to raise a ticket to solve this.

[2022-01-04 05:31] a0x commented on #4442
@kazdy I did recompile Hudi packages as the mentioned config, yet the error remains.

This is an interesting problem, because all things good in `spark-shell`, yet the problem occues **only in PySpark**.

So I think the lib confliction is hidden in the diff between `spark-shell` and `pyspark`.

[2022-01-04 05:54] codope commented on #4474
@boneanxs Shading is fine. Do consider adding a new profile so that users can build according to their use case.
cc @umehrot2  for more inputs.

[2022-01-04 06:34] codope commented on #4154
@BenjMaq How did you sync to hive? My hunch is something went wrong while hive syncing. Using latest master and the script that @YannByron shared, I ran hive sync and could see the latest data from both hive and presto.
Gist: https://gist.github.com/codope/d42a6fb85ef081b3bcd94d4897a4481d
Hoodie Timeline:
[code]

[2022-01-04 07:13] melin opened #4504 "[SUPPORT] Support analyze sql"
Support analyze sql： https://spark.apache.org/docs/latest/sql-ref-syntax-aux-analyze-table.html

[2022-01-04 09:51] xushiyan commented on #4474
@boneanxs +1 for shading. We already do that for other dependencies (global search `shade-unbundle`). Feel free to file a JIRA and a patch. thanks! @umehrot2 @zhedoubushishi please chime in. thanks.

[2022-01-04 10:06] BenjMaq commented on #4154
@codope Hive is automatically synced. It works correctly for inserts, updates, deletes. I followed [these steps](https://hudi.apache.org/docs/query_engine_setup#hive) initially for Presto and Hive and it has always worked without the need for an extra manual sync. I'm just wondering why `insert overwrite` does not work the same way?

[2022-01-04 12:19] codope commented on #4154
@BenjMaq That's right. If you did that hive/presto setup once it's enough. We don't need to sync every commit. As for the difference between commit and replacecommit, that is expected for insert overwrite.

Do you mind trying the latest master? I can't repro  the issue in latest master. Meanwhile, i'll try with hudi 0.9.0.

`hudi-hive-sync` module provides you `run_sync_tool` which sync the hudi t

[2022-01-04 13:07] boneanxs commented on #4474
After some investigation about this, I'm curious why flink remove amazonaws packages by this JIRA(it doesn't have too much description): [HUDI-2803](https://issues.apache.org/jira/browse/HUDI-2803), and it's only include **hudi-aws** by the pr: [4127](https://github.com/apache/hudi/pull/4127), can we follow flink to do the same thing for **spark-bundle** and **utilities-bundle**?

[2022-01-04 13:21] BenjMaq commented on #4154
I'm facing that issues using Hudi `0.9.0` and `0.10.0`. I'll try with the latest master.
Thank you for following up on this!

[2022-01-04 15:42] #4501 closed

[2022-01-04 19:18] parisni opened #4506 "[SUPPORT] Hive Sync fails silently with embedded derby hive metastore"
When using a embebded derby database (the spark default), the hive sync does not work silently.

The bellow code should create a hive table (hoodie.datasource.hive_sync.enable=true). However, this does not happens.

If I use a real hive metastore (eg: postgres backend), then it works as expected.

THis happens with at least 0.10.0 and 0.9.0

[code]

This is empty.

[code]

here are th spark sessio

[2022-01-04 21:20] nsivabalan commented on #4430
I see you have put up a PR. will close it out. thanks!

[2022-01-04 21:20] #4430 closed

[2022-01-05 01:47] waywtdcc opened #4508 "[SUPPORT]Duplicate Flink Hudi data"
**Describe the problem you faced**

Duplicate Flink Hudi data

**To Reproduce**

Steps to reproduce the behavior:

CREATE TABLE hudi.datagen_test3 (
    id BIGINT,
    name1        VARCHAR(10),
    name2        VARCHAR(10),
    name3        VARCHAR(10),
    name4        VARCHAR(10),
    name5        VARCHAR(10),
    name6        VARCHAR(10),
    name7        VARCHAR(10),
    name8        VARCHAR(1

[2022-01-05 02:38] Guanpx opened #4510 "[SUPPORT] Impala query error"
**Describe the problem you faced**

A clear and concise description of the problem.

**To Reproduce**

Steps to reproduce the behavior:

1. hudi sync hive
2. CREATE EXTERNAL IMPALA TABLE (https://hudi.apache.org/docs/querying_data/#impala-34-or-later)
3. select from impala table or REFRESH table
4. impala error and query without data

**Expected behavior**
can not query impala table

**Environment

[2022-01-05 02:45] Guanpx commented on #4508
try to set  **index.global.enabled=true**

[2022-01-05 04:02] a0x commented on #4442
Finally I fixed this problem by removing aws deps in `packing/hudi-spark-bundle/pom.xml` and recompiling it myself.

[code]

[2022-01-05 04:02] #4442 closed

[2022-01-05 04:05] a0x commented on #4474
Hi, I solved my issue by removing aws deps in the pom file. #4442
And whatsmore, I found in Hudi 0.8 there's not aws deps in the same pom file.

Are there any plans for adding aws deps to support more functinos in the future, or why to add thses in the first place?

[2022-01-05 05:36] waywtdcc commented on #4508
I set index global. Enabled is true; However, it is still repeated. The query has not been repeated for about 4 days at the beginning. Today, there are duplicate data; All are repeated across partitions;

[2022-01-05 07:18] dongkelun commented on #143
Hi, could you add me to the slack group? My email is 1412359494@qq.com

[2022-01-05 07:50] danny0405 commented on #4508
Do you setup the state ttl already ?

[2022-01-05 07:51] xushiyan commented on #4474
@boneanxs @a0x Thanks for sharing the info and ideas. I've filed https://issues.apache.org/jira/browse/HUDI-3157
I'll defer to @zhedoubushishi to give some guidance from aws :)

[2022-01-05 07:59] waywtdcc commented on #4508
I didn't set TTL related parameters

[2022-01-05 08:05] zhedoubushishi commented on #4474
Thanks for bringing up this issue. My initial idea is to relocate the aws jars with a Hudi prefix to avoid jar conflicts.

If we just directly remove the shading for aws jars, then we need to manually pass aws jars in the Spark/Flink classpath when the users are using AWS Dynamodb/cloudwatch features.

[2022-01-05 08:29] boneanxs commented on #4474
Looks flink-bundle already remove this...[HUDI-2803](https://issues.apache.org/jira/browse/HUDI-2803)

[2022-01-05 08:34] Carl-Zhou-CN commented on #4082
@nsivabalan I was very interested in the way hudi was written 'But this would mean your writes are going through spark datasource write and not as streaming write.'  Which way does the stream write？

[2022-01-05 08:44] xuranyang commented on #4082
@nsivabalan ,Thanks for your reply. I want read from multiple streams and write to diff hudi tables.
Such as writing hudi from multiple Kafka sources.
I know it can be done with DeltaStreamer.But I wonder if Spark Streaming can do the same.

[2022-01-05 09:12] liujinhui1994 commented on #4027
I currently emptied the historical data directory and ran it with the same code and found that there is no problem.
thanks

[2022-01-05 09:22] yanenze commented on #4419
i used  #4016  on release-0.10.0 ， the problem does not reappear

[2022-01-05 09:23] yanenze commented on #4419
i use #4016 on release0.10.0 ,the problem does not reappear

[2022-01-05 09:31] Guanpx commented on #4510
In hudi-MOR table type, HDFS path have some log file, that leads to impala read error;

**use COW will be fine**  because that HDFS path only have parquet file

[2022-01-05 09:38] danny0405 commented on #4508
what version of hudi did you use ? In 0.9 it is 1.5 days as default.

[2022-01-05 09:40] Guanpx commented on #4508
try to set **index.state.ttl=0**（that default in hudi-0.10.0）

[2022-01-05 09:43] waywtdcc commented on #4508
I started it today and it has been running for less than an hour. I found that the error is repeated. The number of bootstrap operation records is much less than that of real data. It may not be a ttl problem. I will also set this.

[2022-01-05 10:55] forest455 commented on #4200
Thanks for all your efforts. it works
well now.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sivabalan Narayanan ***@***.***>
Sent: Wednesday, December 29, 2021 5:25:47 AM
To: apache/hudi ***@***.***>
Cc: forest455 ***@***.***>; Mention ***@***.***>
Subject: Re: [apache/hudi] spark-sql query timestamp partition error (Issue #4200)

@forest455<https://gith

[2022-01-05 15:30] nsivabalan commented on #4477
thanks Yann for helping out.

[2022-01-05 21:15] zhedoubushishi commented on #4456
Can you provide the code you used? And how you create the Dynamodb table?

[2022-01-06 02:43] danny0405 commented on #4508
Yes, can you use
the patch branch code for 0.9: https://github.com/apache/hudi/pull/3519
or use 0.10.0 patch branch: https://github.com/apache/hudi/pull/4287
or master directly.

[2022-01-06 03:42] waywtdcc commented on #4508
Hello, have you repeated this question? Bootstrap did not read all data. What caused it? @danny0405

[2022-01-06 08:01] huangweifeng7 commented on #143
Please add me to slack group
Email:huangweifeng_null@126.com
Thanks

[2022-01-06 10:10] AirToSupply opened #4522 "[SUPPORT] hudi-flink support timestamp-micros"
**To Reproduce**

Steps to reproduce the behavior:

1. The spark engine is used to write data into the hoodie table（PS: There are timestamp type columns in the dataset field）.
2. Use the Flink engine to read the hoodie table written in step 1.

**Expected behavior**

[code]

**Environment Description**

* Hudi version : 0.11.0-SNAPSHOT

* Spark version : 3.1.2

* Flink version : 1.13.1

* Hive ver

[2022-01-06 10:44] AirToSupply commented on #4522
@AirToSupply Thanks, https://issues.apache.org/jira/browse/HUDI-3184 issue created here ~

[2022-01-06 11:46] #4027 closed

[2022-01-06 12:44] nochimow commented on #4299
Hi,
Still waiting for some updates on this case.

[2022-01-06 14:04] garystafford opened #4524 "[SUPPORT] Kafka Connect Sink for Hudi README has Incorrect Command"
**Describe the problem you faced**

In the current instructions for the [Kafka Connect Sink for Hudi](https://github.com/apache/hudi/blob/master/hudi-kafka-connect/README.md), the command, `confluentinc-kafka-connect-hdfs-10.1.0/* /usr/local/share/kafka/plugins/` is incorrect. I believe it should be `cp confluentinc-kafka-connect-hdfs-10.1.0/lib/* /usr/local/share/kafka/plugins/lib`, per Ethan Guo

[2022-01-06 15:23] parisni opened #4525 "[SUPPORT] Spark metastore schema evolution broken"
Spark 2 & 3, hive metastore 2.3.x, apache hudi *

From my experiments, when a given hudi table gets added columns, then all works except spark read from metastore:

- hive read metastore -> New Column added
- spark read from hudi path -> New column added
- spark read from metastore (spark.table("database.hudi_table"))-> New Column not added

I have looked at the hive metastore content, and apparen

[2022-01-06 21:36] yihua commented on #4524
@garystafford Thanks for reporting the issue.  I put up a PR to update the quick start guide of Kafka Connect Sink for Hudi: #4527 .

[2022-01-06 22:24] yihua opened #4528 "[SUPPORT] Kafka Connect Sink for Hudi gets stuck with Hive Sync enabled in the Quick Start guide"
**Describe the problem you faced**

When following the [Quick Start guide](https://github.com/apache/hudi/tree/master/hudi-kafka-connect) of Kafka Connect Sink for Hudi with Hive sync, the sink connector gets stuck after the first delta commit.  Using beeline cannot find the Hudi table to be synced to Hive:

[code]

**To Reproduce**

Steps to reproduce the behavior:

Following the [Quick Start gui

[2022-01-07 00:17] nsivabalan commented on #4524
Closing the issue out as we have a tracking jira. thanks for reporting.

[2022-01-07 00:17] #4524 closed

[2022-01-07 00:41] waywtdcc commented on #4508
![image](https://user-images.githubusercontent.com/59957056/148472510-88e60ae1-9e89-48fe-b8e2-1600522d603c.png)
![image](https://user-images.githubusercontent.com/59957056/148472603-063d734e-524b-47fd-96d2-2aef119574b5.png)
The amount of bootstrap data is far less than the actual amount of table data

[2022-01-07 07:10] xushiyan commented on #4474
After some discussions, we think that we should keep cloud provider's jars out of open source bundle jars. Any cloud provider can create its own specific hudi module and hudi bundle jars. (like `hudi-aws` and `hudi-spark-aws-bundle` for example) But open source bundle jars should stay neutral. cc @danny0405 @nsivabalan @codope @vinothchandar @zhedoubushishi @umehrot2

I've pivoted this ticket to r

[2022-01-07 08:44] danny0405 commented on #4508
I said you should use the right code version.

[2022-01-07 09:08] Limess commented on #4525
I think this is the same issue I raised on JIRA previously https://issues.apache.org/jira/browse/HUDI-2682

[2022-01-07 13:05] nsivabalan commented on #4525
Closing this as we have a tracking jira and a patch put up on this end.
https://github.com/apache/hudi/pull/4533
thanks for reporting.

[2022-01-07 13:06] #4525 closed

[2022-01-07 14:10] jardel-lima commented on #3879
Hi @nsivabalan.
[HERE](https://drive.google.com/file/d/1RsesivvlLUZ9dZh7WbaGJJpnqIcWNbso/view?usp=sharing) is the dataset used to replicate this problem. The file is not public, but will give access as soon as you request.

Here is the code that initiate the spark session, maybe it will be useful for you:
[code]

Here is the code used to load this dataset:
[code]
Sorry for the daley. I hope it can

[2022-01-07 14:11] parisni commented on #4525
@Limess @nsivabalan the issue is independant from hudi I guess. CF my [spark-user mail](https://lists.apache.org/thread/9mmrnc5o7w42z723s2yqgcrdpwwtts3x)

[2022-01-07 15:26] Guanpx opened #4537 "[SUPPORT] spark 2.4.0 write data to hudi ERROR (0.10.0)"
**Describe the problem you faced**

use spark 2.4.0
Exception in thread "main" java.lang.NoSuchMethodError: org.apache.spark.sql.execution.datasources.DataSourceUtils$.PARTITIONING_COLUMNS_KEY()Ljava/lang/String;

**To Reproduce**

Steps to reproduce the behavior:

1. spark writer data to hudi

**Expected behavior**
a sample code
[code]
**Environment Description**

* Hudi version : 0.10.0

* Spark

[2022-01-07 15:46] Guanpx opened #4539 "[SUPPORT] spark 2.4.0 write data to hudi ERROR (0.10.0)"
**Describe the problem you faced**

use spark 2.4.0
Exception in thread "main" java.lang.NoSuchMethodError: org.apache.spark.sql.execution.datasources.DataSourceUtils$.PARTITIONING_COLUMNS_KEY()Ljava/lang/String;

**To Reproduce**

Steps to reproduce the behavior:

1. spark writer data to hudi

**Expected behavior**
a sample code
[code]
**Environment Description**

* Hudi version : 0.10.0

* Spark

[2022-01-07 15:49] Guanpx commented on #4539
#3191

[2022-01-08 09:02] Guanpx commented on #4537
Duplicate of #

[2022-01-08 09:02] #4537 closed

[2022-01-08 10:24] danny0405 commented on #4238
Yes, we can use clustering first then bootstrap the table with flink streaming. The clustering feature is on the way for flink side ~

[2022-01-08 10:25] danny0405 commented on #3657
Close the issue because of non feedback, feel free to re-open it if you still think it is an issue.

[2022-01-08 10:25] #3657 closed

[2022-01-08 10:29] danny0405 commented on #4469
We did some offline discussion and think that this is an issue of the way how the s3 storage was integrated with flink filesystem. So close it first because it is generally not a flink hudi code issue.

[2022-01-08 10:29] #4469 closed

[2022-01-09 01:38] aznwarmonkey opened #4541 "[SUPPORT] NullPointerException while writing Bulk ingest table"
Hello,

I am currently getting an exception while writing a `hudi` talbe in `bulk_ingest` mode. Please see below for the stacktrace along with the snippet of code I a using to write the data. I am new to `hudi` and this stacktrace doesn't provide much insight as to why it is happening.  The data gets partially written out to s3 then it errors out. I am using v0.7 on AWS EMR. Any help with this iss

[2022-01-09 04:53] nsivabalan commented on #4539
2.4.0 is not supported. Can you try with 2.4.3 or higher spark versions.

[2022-01-09 05:01] nsivabalan commented on #4541
let's try to remove some advanced configs, and test if we can make a simple job succeed and then we can add back more configs to deduce the issue.

- I see you have added lot of custom configs for index. can we remove them for now.
[code]
- 'write.parquet.block.size': 256 seems very low. Can we remove this for now.
- I see the exception arises from clustering code. lets try to remove them for now.

[2022-01-09 05:02] nsivabalan commented on #4474
Closing the github issue as we have a tracking jira. thank you folks for chiming in.

[2022-01-09 05:02] #4474 closed

[2022-01-09 05:03] nsivabalan commented on #4477
@YannByron : may I know whats the tracking ticket. If not, can we create one for the issue reported in this github issue.

[2022-01-09 05:04] nsivabalan commented on #4434
@tieke1121 : hey are you looking for more info. let us know. if not, feel free to close out the github issue.

[2022-01-09 05:05] nsivabalan commented on #4456
@nochimow : a gentle reminder to respond to above question. above commentor is a Hoodie committer who added dynamoDB lock provider. So, he should be able to help in your case.

[2022-01-09 05:06] nsivabalan commented on #4461
@nikenfls : do you have any updates for us. if the issue is resolved, can we close out the github issue. thanks.

[2022-01-09 05:06] nsivabalan commented on #4457
@zuyanton : hey, do you have any updates for us.
CC @prashantwason does something pop up for you.

[2022-01-09 05:07] nsivabalan commented on #4419
thanks for confirming.

[2022-01-09 05:07] #4419 closed

[2022-01-09 05:08] nsivabalan commented on #4429
hey folks. if the issue is resolved, can we close out the github issue. thanks to Yann for quick turn around.

[2022-01-09 05:10] nsivabalan commented on #4439
Hey @waywtdcc : let us know if you are looking for any more assistance. If not, feel free to close out the issue.

[2022-01-09 05:11] nsivabalan commented on #4230
@yihua : gentle ping to follow up on the issue. If there is some regression, we might want to fix in 0.10.1. would appreciate if you can follow up on this.

[2022-01-09 05:12] nsivabalan commented on #4208
@YannByron @xushiyan : can you folks please follow up on this.

[2022-01-09 05:13] nsivabalan commented on #4200
thanks for confirming. appreciate it.

[2022-01-09 05:13] #4200 closed

[2022-01-09 05:14] nsivabalan commented on #4170
@rubenssoto : hey, any updates in this regard please. unless we get more logs, we can't help much here.

[2022-01-09 08:38] YannByron commented on #4477
@nsivabalan I haven't created a ticket yet. You can create it and assign to me.

[2022-01-09 09:08] XuQianJin-Stars commented on #3984
hi @cb149 @nsivabalan @xushiyan  I have found this problem, just need to `set hoodie.file.index.enable=false` to work

[code]

[2022-01-09 09:09] yihua commented on #4230
@nsivabalan There might be an issue related to how the timeline server handles the timeout, but this requires a larger fix involving designing a prompt timeout scheme besides Javalin timeline server's timeouts.  There's not enough time to make it to 0.10.1 release.  I'll follow up on this regardless.

[2022-01-09 11:56] aznwarmonkey commented on #4541
Hi,

After making the suggested changes as mentioned above, I am getting this exception thrown immediately:

[code]
The updated config looks like the following

[code]

If i change `hoodie.datasource.write.operation` to `upsert` then I do not get the error. (I am currently rerunning with `upsert` as i type this to ensure the process fully completes`

A couple of questions and what I am hoping to a

[2022-01-09 13:40] nsivabalan commented on #4238
Closing the issue. Feel free to re-open or raise a new one if you need any more assistant. thanks!

[2022-01-09 13:40] #4238 closed

[2022-01-10 02:22] Guanpx commented on #4539
our spark can not upgrade, so, if replace hudi source code
SparkDataSourceUtils.PARTITIONING_COLUMNS_KEY TO string "__partition_columns" or delete that code will Impact on other functions?

[2022-01-10 03:32] guoch opened #4545 "[SUPPORT] Hudi(0.10.0) backward compatibility for Flink 1.11/1.12 version"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Hudi flink bundle ver

[2022-01-10 05:10] nsivabalan commented on #4082
@xuranyang : are you referring to MultiTableDeltastreamer. I don't think we have any such functionality for now to stream from multiple and write to diff hudi tables. Had to be done manually at the application layer by the user.
If you can build some simple framework to get this, please consider upstreaming the functionality to benefit others in the community.
thanks!

[2022-01-10 05:13] nsivabalan commented on #3731
what kind of lock provider are you using?

[2022-01-10 05:14] nsivabalan commented on #3713
Closing this due to inactivity. Feel free to re-open if need be. would be happy to help.

[2022-01-10 05:14] #3713 closed

[2022-01-10 05:15] nsivabalan commented on #3478
@affei : hey, any updates for us in this regard please.

[2022-01-10 05:16] nsivabalan commented on #2936
@shenbinglife : let us know if you are looking for any more help. Or feel free to close the issue if you got it resolved.

[2022-01-10 05:18] nsivabalan commented on #2509
@umehrot2 @zhedoubushishi : Do you folks have any pointers on this.
@Gatsby-Lee : I guess athena added support for real time query in one of the latest versions. Did you try using latest athena?

[2022-01-10 05:18] nsivabalan commented on #3533
@aresa7796 : will go ahead and close due to inactivity. Feel free to reopen if need be. will be happy to help.

[2022-01-10 05:18] #3533 closed

[2022-01-10 05:20] #4305 closed

[2022-01-10 05:20] Gatsby-Lee commented on #2509
@nsivabalan
after I got your msg, I queried to RT table. It still fails.
I heard from AWS that the fix will be shipped out at the end of Jan 2022.

[2022-01-10 05:46] danny0405 commented on #4545
I think we can after the flink version is stable, for e,g the flink 1.14.x.

[2022-01-10 06:09] arpanrkl7 commented on #2509
When i am trying to read using spark-sql getting below error which was same mentioned by @zuyanton .
 java.lang.ClassCastException: org.apache.hadoop.io.LongWritable cannot be cast to org.apache.hadoop.hive.serde2.io.TimestampWritable

[2022-01-10 07:34] guoch commented on #4545
Got it. Thanks for the info.

[2022-01-10 07:34] #4545 closed

[2022-01-10 09:22] YannByron commented on #4208
@BenjMaq can you run `jstack PID` to see what is the thread doing?

[2022-01-10 09:51] pankajc007 opened #4550 "[QUESTION] Hudi Partial Update on COW"
Hi Team,
I have a use case for partial update on a Hudi table. I saw a https://issues.apache.org/jira/browse/HUDI-1884 ticket ([PR](https://github.com/apache/hudi/pull/3154/)) already merged in version 0.9.0. I am trying out this, but could not achieve it. getting schema error while writing.
Wondering if I need to set some hudi options explicitly to enable partial updates.
I would really appreciat

[2022-01-10 10:15] parisni commented on #4474
could this be included in the future separate aws bundle ?

[2022-01-10 10:22] parisni commented on #3731
this is the hive provider as mentioned in the OP

[2022-01-10 12:09] BenjMaq commented on #4208
@YannByron
Here's the output of `jstack`
[code]

[2022-01-10 12:19] nsivabalan commented on #4477
Closing it as we have a tracking jira. Yann will work on putting up a fix towards this end. thanks for reporting!

[2022-01-10 12:19] #4477 closed

[2022-01-10 12:54] nochimow commented on #4456
Hi there, my code basically reads some avro file into a dataframe then we write this dataframe into a hudi table.
I'm using the following hudi confs during the write. (It's a python on AWS Glue 3.0)

oodie.datasource.write.keygenerator.class": "org.apache.hudi.keygen.ComplexKeyGenerator",
oodie.datasource.write.payload.class": "org.apache.hudi.common.model.DefaultHoodieRecordPayload",
hoodie.datas

[2022-01-10 13:11] YannByron commented on #4208
Emm, there is no useful message. maybe it's not hudi caused that.

[2022-01-10 13:32] cb149 commented on #3984
HI @XuQianJin-Stars that solves the problem but decreases the performance extremely, since it takes a very long time before the Stage in Spark is visible.

[2022-01-10 21:09] denys-tyshetskyy opened #4552 "[BUG] Data corrupted in the timestamp field to 1970-01-01 19:45:30.000 after subsequent upsert run"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I am using hudi as a part

[2022-01-10 22:41] nsivabalan commented on #4541
block size is in bytes.
[code]

for small file handling, you may need to set two configs.
hoodie.parquet.max.file.size
and hoodie.parquet.block.size

Can you try setting these and let us know how it goes.

[2022-01-10 22:43] nsivabalan commented on #4539
I am not sure on that. Dont' think anyone has ever tried that. in general, would not recommend doing such custom changes. But if you want to, do give it a try and let us know how it goes.

[2022-01-10 22:46] nsivabalan commented on #4043
sure, thanks for the feedback. I have already filed a tracking jira to add a faq or validation around `_hoodie_is_deleted` being added w/ a diff data type. will take it up along with it. thanks!

[2022-01-10 22:46] #4043 closed

[2022-01-10 22:59] nsivabalan commented on #3731
guess I found the issue. hoodie.write.lock.wait_time_ms. Can you set hoodie.write.lock.wait_time_ms to 5 secs may be (5000). you have set it to too high of a value.

[2022-01-10 23:01] nsivabalan commented on #3571
we would really like to assist you. but w/o further info, we can't do much. Closing it out due to no activity. But feel free to reopen if you are still looking for assistance

[2022-01-10 23:01] #3571 closed

[2022-01-10 23:02] nsivabalan commented on #4550
@YannByron : Can you please follow up here.

[2022-01-10 23:04] nsivabalan commented on #4552
yeah. We recently fixed the issue [here](https://github.com/apache/hudi/pull/4203). Can you try out the patch and let us know if it resolves the issue.

[2022-01-10 23:04] aznwarmonkey commented on #4541
Hi,

After making the above changes I let job process multiple days, after the 3rd day of process I get the below exception. It looks like it is error out during the clustering process. Any ideas as to why this is occuring?

[code]

[2022-01-10 23:05] nsivabalan commented on #4528
@yihua : why not create a jira directly and close out the github issue.

[2022-01-11 00:03] nsivabalan commented on #4541
sorry I thought you had removed clustering for now. or did you add it back once it started working?

[2022-01-11 00:04] nsivabalan commented on #4541
And, do keep in mind that bulk_insert may not do explicit small file handling. So, if you are looking for hudi to do small file handling, you need to use insert or upsert operation.

[2022-01-11 00:09] nsivabalan commented on #4541
which version of hudi are you using ?

[2022-01-11 00:21] aznwarmonkey commented on #4541
I have removed it, this is the latest config that i am running with

[code]
Running on hudi version 0.7 deployed on AWS EMR cluster

[2022-01-11 00:36] waywtdcc opened #4558 "[BUG] Bootstrap operation data loading missing"
The file structure is abnormal, only compaction Request file, which may result in only log file and no basefile; Thus, when bootstrap is loaded, only the log file data is loaded, and the real data is missing, resulting in data duplication

![image](https://user-images.githubusercontent.com/59957056/148860616-c3fde280-c833-4339-b8c9-f5dcb49baf16.png)
![image](https://user-images.githubusercontent.c

[2022-01-11 01:25] xushiyan commented on #4429
Thanks @YannByron for taking this up!

[2022-01-11 01:25] #4429 closed

[2022-01-11 04:41] xushiyan commented on #4202
it can be compiled now. spark 3.2 support was added in #4270 .

[2022-01-11 15:55] #3429 closed

[2022-01-12 03:31] cdmikechen commented on #3429
@nsivabalan I've noticed that flink recently submitted a related pr [hudi-flink support timestamp-micros](https://github.com/apache/hudi/pull/4548).
Should we move the PR to the common package level in hudi to solve the problem uniformly?

[2022-01-12 20:20] jasondavindev commented on #3954
At @emcasa we're using EMR on EKS. We overwritten EMR Hudi jars from 0.8.0 to 0.10.0, then we can leverage hive sync tool and sync tables with Glue Data Catalog.
For this, you must pass the follow spark config:

[code]

For a new session, use
[code]

[2022-01-12 20:22] jasondavindev commented on #3954
@rubenssoto @xushiyan
At @emcasa we're using EMR on EKS. We overwritten EMR Hudi jars from 0.8.0 to 0.10.0, then we can leverage hive sync tool and sync tables with Glue Data Catalog.
For this, you must pass the follow spark config:

[code]

For a new session, use
[code]

[2022-01-13 02:56] DaoXingRuHai opened #4576 "[QUESTION] What is the difference between HoodieWriteConfig.TABLE_NAME and DataSourceWriteOptions.TABLE_NAME_OPT_KEY"
What is the difference between HoodieWriteConfig.TABLE_NAME and DataSourceWriteOptions.TABLE_NAME_OPT_KEY?

[2022-01-13 05:51] #4576 closed

[2022-01-13 06:12] xushiyan commented on #4550
@pankajc007 there are some examples in the quick start guide for merge into
https://hudi.apache.org/docs/quick-start-guide#mergeinto

options you can refer to the setup section
https://hudi.apache.org/docs/quick-start-guide#setup

[2022-01-13 06:33] #4522 closed

[2022-01-13 06:35] xushiyan commented on #4508
@waywtdcc have you tried the version as @danny0405 suggested? if this is resolved in the newer code version, we'd like to close this. thanks.

[2022-01-13 07:05] york-yu-ctw opened #4583 "[SUPPORT] Got NoSuchElementException while using hudi 0.10.0 and Flink (COW)"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? Yes

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**
While using hudi 0.10.

[2022-01-13 07:20] xushiyan commented on #4504
Filed https://issues.apache.org/jira/browse/HUDI-3241

[2022-01-13 07:20] #4504 closed

[2022-01-13 08:19] Guanpx commented on #4550
![image](https://user-images.githubusercontent.com/29246713/149292152-6feb8364-a6ee-4f31-9075-bd9315709e0d.png)

[2022-01-13 08:52] chrischnweiss opened #4585 "[Feature] Make schema registry configs more flexible with MultiTableDeltaStreamer"
Hi guys,

we ran into a problem setting the target schema of our Hudi table using the MultiTableDeltaStreamer.

Using a normal DeltaStreamer, we are able to set our source and target schemas using the properties:

- hoodie.deltastreamer.schemaprovider.registry.url
- hoodie.deltastreamer.schemaprovider.registry.targetUrl

We found that we are not able to set these properties on a table basis using

[2022-01-13 11:39] danny0405 commented on #4583
Did you open the flink checkpoint yet, it seems that the data set was detected to be `UPSERT` but there are no parquet files under the target partition.

[2022-01-13 13:28] dongkelun commented on #4131
@nsivabalan @BenjMaq  In Hudi version 0.9.0, insert takes the last field of the schema as the `PRECOMBINE_FIELD` by default. If the field is null, this exception may be thrown

[code]

[2022-01-13 15:40] nsivabalan commented on #4539
Closing the issue out as we don't have much AI from our side.

[2022-01-13 15:40] #4539 closed

[2022-01-13 15:54] nsivabalan commented on #4541
@codope @satishkotha : do you folks spot anything wrt clustering code in 0.7.0 ? from what I can inder, [config.Schema ](https://github.com/apache/hudi/blob/3e71c915271d77c7306ca0325b212f71ce723fc0/hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/cluster/SparkExecuteClusteringCommitActionExecutor.java#L118)parsing is resulting in NPE.

[2022-01-13 15:57] nsivabalan commented on #4506
CCn @codope
not sure if this will help. but did you set catalog impl to hive when you launched spark ?
[code]

[2022-01-13 16:41] xushiyan commented on #4550
@Guanpx you'd need to switch to the Spark sql tab alongside "scala" "python"

[2022-01-13 16:42] parisni commented on #4506
yeah, no effect sadly. still populating/using the spark json

[2022-01-13 16:53] #4550 closed

[2022-01-13 20:02] WTa-hash opened #4593 "[SUPPORT] Does Hudi support just column re-order?"
Does Hudi support column re-ordering if there are no column additions/removals? According to https://hudi.apache.org/docs/schema_evolution/, it states that "Add a new nullable column and change the ordering of fields" is not supported. So if I perform only the 2nd half of that statement, which is "change the ordering of fields", will Hudi support this?

**To Reproduce**

Steps to reproduce the beh

[2022-01-14 00:20] nsivabalan commented on #3879
thanks. have placed a request.

[2022-01-14 01:42] york-yu-ctw commented on #4583
@danny0405
Since the checkpoint has been deleted by the cleaning policy, I will wait next issue.
I agree with your point, the problem should be the bucket assigner found there is same record key belong to missing parquet file

[2022-01-14 01:48] amorynan commented on #4184
this staff is also happened to me . when i use spark to read hudi table file .here is error:
Caused by: java.io.IOException: Could not read footer for file: FileStatus{path=hdfs://HACluster/home/cloudeng/styx/cloud/hudi/fileSecurity/2022.01.08/4b2a8fc1-aa10-4987-aea1-49efd9875d19_2-12-48_20220110000308.parquet; isDirectory=false; length=4; replication=0; blocksize=0; modification_time=0; access_ti

[2022-01-14 03:52] harishraju-govindaraju opened #4597 "[SUPPORT] - Hudi Upserts Not working"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

Hudi updates are not work

[2022-01-14 03:55] harishraju-govindaraju commented on #4597
Spark version used is 2.4.3, Hudi - hudi-spark-bundle_2.11-0.10.0.jar,s3://bucket001/jars/spark-avro_2.11-2.4.4.jar

[2022-01-14 07:03] gnailJC opened #4599 "[SUPPORT] support savepoint on MergeOnRead table"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

I get a exception "Savepo

[2022-01-14 07:56] Carl-Zhou-CN commented on #4597
@harishraju-govindaraju hi,Because what you changed happened to be the partition field，the default index of hudi can only guarantee upsert under the partition. If you need global upsert, you need to configure hoodie.index.type:GLOBAL_BLOOM

[2022-01-14 08:08] gubinjie opened #4600 "[SUPPORT]When hive queries Hudi data, the query path is wrong"
The created hudi table table structure:
CREATE EXTERNAL TABLE `guhudi_ro`(
  `_hoodie_commit_time` string COMMENT '',
  `_hoodie_commit_seqno` string COMMENT '',
  `_hoodie_record_key` string COMMENT '',
  `_hoodie_partition_path` string COMMENT '',
  `_hoodie_file_name` string COMMENT '',
  `id` bigint COMMENT '',
  `name` string COMMENT '',
  `birthday` bigint COMMENT '',
  `ts` bigint COMMENT '

[2022-01-14 08:16] dongkelun commented on #4131
In Hudi version 0.9.0,SQL insert determines by default that if there is a primary key, the operation is upsert.
Starting from version 0.10.0, change to judge if PRECOMBINE_FIELD is set, operation is upsert

[2022-01-14 17:18] andykrk opened #4604 "[SUPPORT] Archive functionality fails"
Environment Description

Hudi version : 0.9.0

Spark version : 2.4.7

Storage (HDFS/S3/GCS..) : S3

Config:

'hoodie.datasource.write.precombine.field': 'col99',
'hoodie.datasource.write.recordkey.field': 'col1',
'hoodie.table.name': 'target_table',
'hoodie.insert.shuffle.parallelism': 50,
'hoodie.upsert.shuffle.parallelism': 50,
'hoodie.bulkinsert.shuffle.parallelism': 50,
'hoodie.finalize.write.

[2022-01-14 17:48] nsivabalan commented on #4599
We recently added support https://github.com/apache/hudi/commit/2954027b92ada82c41d0a72cc0b837564a730a89.

[2022-01-14 17:48] #4599 closed

[2022-01-14 17:50] nsivabalan commented on #4597
yes, by default, its a pair of partition path and record key thats unique. If you wish to have globally unique record keys, either you have to go with global index or non-partitioned dataset.

[2022-01-14 17:52] nsivabalan commented on #4593
I don't think its supported as of now. Its actively been worked upon.
You can follow the progress [here](https://issues.apache.org/jira/browse/HUDI-2429).
CC @codope @xiarixiaoyao

[2022-01-14 18:11] nsivabalan commented on #4585
Hey @chrischnweiss : I inspected the code and I feel we could configure per table schema providers.
[code]

If you set `hoodie.deltastreamer.schemaprovider.registry.urlSuffix`, and then you can set appropriate values for `hoodie.deltastreamer.schemaprovider.registry.sourceUrlSuffix` and `hoodie.deltastreamer.schemaprovider.registry.targetUrlSuffix`.
but base url and kafka topic will have to same f

[2022-01-14 18:23] nsivabalan commented on #4604
Can you post the contents of instant.commit meta file in /.hoodie/ for which this error is thrown. Especially interested in whats set for extraMetadata. for eg, this is in my local dataset.
[code]

[2022-01-15 05:19] XuQianJin-Stars commented on #3984
Regarding this, we will divide it into three steps to completely solve this problem, [HUDI-3200](https://issues.apache.org/jira/browse/HUDI-3200)、[HUDI-3201](https://issues.apache.org/jira/browse/HUDI-3201)、[HUDI-3202](https://issues.apache.org/jira/browse/HUDI-3202)

[2022-01-15 06:19] xushiyan commented on #4600
@gubinjie we need more info about your environment setup to analyze and reproduce. Can you add info like hudi version, environment, other software versions, how table was prepared, what is the reproducing steps, etc.

[2022-01-15 06:29] xushiyan commented on #4597
@harishraju-govindaraju as suggested above, this looks like unintended use of indexing type. Can you use GLOBAL_BLOOM setting instead? We should be good to close this as soon as you confirm this.

[2022-01-15 08:09] gubinjie commented on #4600
Version list:
Flink: 1.13.3
CDH:6.3.2
Hive: 2.1.1-cdh6.3.2 rb3393cf499504df1d2a12d34b4285e5d0c02be11
Hudi: 0.10.0-rc2
The Jar package compiled by myself is:
**hudi-hadoop-mr-bundle-0.10.0-rc2.jar
hudi-hive-sync-bundle-0.10.0-rc2.jar**

Flink startup method:
**./yarn-session.sh -s 2 -jm 4048 -tm 4048 -nm ys-hudi01 -d**
Flink Sql-Client startup method:
**./sql-client.sh embedded -j ../lib/hudi-flink

[2022-01-15 13:17] dongkelun commented on #4131
Yes, I think it would be best if it could be updated to the Hudi document

[2022-01-15 16:13] fedsp commented on #4502
I have a similar business need:
Imagine that you have a fact table containing the sales of a given period. So you have the salesman id , the product id and at which price the product was sold and a timestamp of the sale.

|salesman_id|product_id|price_sold|sales_timestamp  |
|    fedsp      |    10001    |    0.99     |2022-01-15 13:10|

At the end of each month, the department calculates a bonus

[2022-01-16 01:43] ravs11 opened #4609 "[SUPPORT] Got exception while using clustering with z-order"
**Describe the problem you faced**

I am running a spark batch job that reads parquet files from hdfs and then does bulk insert and clustering with z-order. Output data is also written to hdfs as parquet format. Sometimes this job fails with HoodieClusteringException. Please let me know if I need to provide any other details.

**Hudi Configuration**

.option("hoodie.table.name", "target_table")

[2022-01-16 03:19] xiarixiaoyao commented on #4609
@ravs11  could you pls check the Parquet files in  yourTablePath/.hoodie/.zindex directory?  This error appears to be that the schemas of these parquet files are inconsistent, which makes spark unable to read these files.
1）first pls list all the directy in yourTablePath/.hoodie/.zindex directory and paste it here
2） check all the schemas of parquets files (in yourTablePath/.hoodie/.zindex/xxxx) ,

[2022-01-16 04:07] ravs11 commented on #4609
@xiarixiaoyao Thanks for your reply.

1. There is only one directory.
`Found 1 items
drwxrwxr-x   - ravs11 ravs11          0 2022-01-16 00:16 hdfs://R2/project_path/hudi_z_order/.hoodie/.zindex/20220115235509743`
2. Under the above directory there is only 1 parquet file. spark.read.load(xxx.parquet).schema results into `org.apache.spark.sql.AnalysisException: Unable to infer schema for Parquet. It

[2022-01-16 08:41] xiarixiaoyao commented on #4609
@ravs11  Thank you for your reply， could you pls give me the schema of the table first， i try to create some data to test.  Of course, it would be better if there were some dummy data.

[2022-01-16 09:09] xiarixiaoyao commented on #4593
@WTa-hash
Hudi can't support column order adjustment very well at present, and rfc-33 is doing this
We are testing rfc-33 in a production environment, once done will update the pr.

[2022-01-16 09:16] xiarixiaoyao commented on #4600
@gubinjie
Are there only log files in your current Hudi table?

[2022-01-16 10:02] gubinjie commented on #4600
@xiarixiaoyao @xushiyan
thanks for the reply.
1. In my above steps, I have inserted six pieces of data through flink-sql, and these six pieces of data can also be found through flink-client
2. As you said, there are only log files in the hudi table, so are these six pieces of data also stored in the .log file? If it is not stored in the .log file, where are these six pieces of data stored?
3. If i

[2022-01-16 10:56] xushiyan commented on #4506
@parisni can you try remove this setting?

|spark.hadoop.javax.jdo.option.ConnectionURL                       |jdbc:derby:memory:myInMemDB;create=true|

by default, hive creates local metastore under `metastore_db/`

[2022-01-16 12:58] ravs11 commented on #4609
Hi @xiarixiaoyao , let me try to share some more details on this.

**Hudi Table Schema**
[code]
**Hudi Data Ingestion Logic**
[code]
**Steps to reproduce**

1. Run the above spark job for utc_date=2021-12-24.
Content of Input Parquet file (/tmp/ravs11/hudi_input/utc_date=2021-12-24/xxx.parquet) -
+----------+------------+----------------+-------------+----------+
|product_id|product_name|product_c

[2022-01-17 00:01] harishraju-govindaraju commented on #3913
Can we use aws glue job to run deltastreamer  instead of spark submit? We dont use EMR. However, we wanted to see if aws glue can run deltastreamer ?

[2022-01-17 02:48] harishraju-govindaraju commented on #4597
Folks, please mark this as resolved. Much appreciate your timely responses..

[2022-01-17 02:48] #4597 closed

[2022-01-17 04:55] esaeki opened #4614 "Encountered "Could not load Hoodie properties" error"
I use Glue and Apache Hudi to replicate data in AWS (S3 bucket→ another S3 bucket)

I created a Glue job with jar files of Hudi, and successfully replicate the data. However, when I execute the job after couple of weeks, encountered the following error.

"An error occurred while calling o119.save. Could not load Hoodie properties from s3://(bucket name)/.hoodie/hoodie.properties"

I don't change a

[2022-01-17 04:58] esaeki commented on #4614
Same as https://github.com/apache/hudi/issues/2849

[2022-01-17 04:58] #4614 closed

[2022-01-17 06:16] xiarixiaoyao commented on #4609
@ravs11  sorry for that i cannot reproduce the exception， pls help me check me code
    val path1 = new Path("/tmp/default/clustering/")

    // create parquet file
    spark.sql(
      s"""
         |create table table1 (
         |product_id INT,
         |product_name STRING,
         |product_category STRING,
         |create_time BIGINT,
         |utc_date STRING
         |) using parquet

[2022-01-17 08:28] ChangbingChen opened #4618 "[SUPPORT] When querying a hudi table in hive, there have duplicated records."
**Describe the problem you faced**

When querying a hudi table in hive, there have duplicated records.

This hudi table is created by flink.

**To Reproduce**

Steps to reproduce the behavior:

1. submit a flink job
flink-sql-client -f mysql_table_sink.sql

the sql file content:
[code]

2.query in beeline

[code]

[code]

[code]

**Expected behavior**

A clear and concise description of what you e

[2022-01-17 12:28] BenjMaq commented on #4154
Hi @codope , sorry for late reply...

I have tested with `master` and I'm still facing the same above issue. Presto/Hive do not recognize `*.replacecommit` files I believe and I am not able to query the inserted overwritten data using Presto/Hive. As mentioned previously, I CAN query these using Scala (`spark.read.format("hudi"`).

Were you able to test using `0.9.0`?

To be honest I'm out of opti

[2022-01-17 12:28] andykrk commented on #4604
Please find the content of the .commit file below:

{
  "partitionToWriteStats" : { },
  "compacted" : false,
  "extraMetadata" : {
    "schema" : "{\"type\":\"record\",\"name\":\"targetschema__target_table_record\",\"namespace\":\"hoodie.targetschema__target_table\",\"fields\":[{\"name\":\"col56\",\"type\":[\"null\",\"string\"],\"default\":null},{\"name\":\"col57\",\"type\":[\"null\",\"string\"],

[2022-01-17 16:03] data-storyteller opened #4621 "[SUPPORT] Integ tests are failing for HUDI"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-01-17 17:20] nochimow opened #4622 "[SUPPORT] Can't query Redshift rows even after downgrade from 0.10"
**Describe the problem you faced**

After the upgrade to Hudi 0.10, I faced the https://github.com/apache/hudi/issues/4283 issue in my environment, so my AWS Glue tables were working fine on AWS Athena, but were returning 0 rows with Redshift Spectrum.
After that, I downgraded the tables to version 2 using Hudi-CLI, and returned to Hudi 0.9. I immediately tried to query the tables again after the

[2022-01-17 17:52] xushiyan commented on #4622
@nochimow this is likely caused by the same issue in https://issues.apache.org/jira/browse/HUDI-3056 where the timeline's time precision is not handled properly. But when you write data with 0.9.0, the old time precision was used then partial data is shown in redshift. While we can't troubleshoot any aws services as we're open-source, I'm adding this issue to the ticket to push up the priority.

[2022-01-17 18:11] nochimow commented on #4622
@xushiyan I opened a ticket to AWS support about this too to try to get more priority too.

Can you confirm what is the Hudi behaviour in this case? If i write new data into a partition, all this partition will be visible to Redshift again or just the updates/inserted rows?

[2022-01-17 19:18] xushiyan commented on #4622
@nochimow I can confirm due to time precision change in 0.10.0 there needs to be some fix for redshift. I can't confirm the exact behavior, since the behavior is under the influence of the bug reported in that JIRA, also this is in redshift which i can't verify with. Hope you understand. We just need to prioritize the fix and follow up aws support. Please close this if you don't have further quest

[2022-01-17 22:08] nsivabalan commented on #4510
@Guanpx : I don't have exp w/ impala. But was MOR querying working from impala for older versions of hudi and failing with 0.10.0 ?

[2022-01-17 23:07] nsivabalan commented on #4622
Probably you might have to do a restore to a older commit. Can you give it a try.
add a savepoint to a commit which was created w/ 0.9.0. and then trigger a restore to that savepointed commit.
it should restore your entire table to a older snapshot. (its destructive operation though. something to keep in mind)
essentially restore will delete all data files and timeline files from now until the sav

[2022-01-18 01:03] ravs11 commented on #4609
Strange, the same code is throwing exception for me. Not sure if I'm doing anything wrong.

[2022-01-18 01:58] xiarixiaoyao commented on #4609
@ravs11  have you tried my code above？
i will use spark3.2 to test again.

[2022-01-18 02:14] gubinjie commented on #4618
Hello, may I ask if you have encountered this kind of problem #4600

[2022-01-18 02:32] scxwhite commented on #4311
I encountered the same problem with 0.9.0. I used clustering and set hoodie.clustering.preserve.commit.metadata to true The same data was found.
I think there may be something wrong with clustering. Or when reading data
![image](https://user-images.githubusercontent.com/23207189/149860767-0677791f-a6c4-4319-8242-1214c8c6d15e.png)

[2022-01-18 02:34] ravs11 commented on #4609
@xiarixiaoyao I have tried your code with spark 3.1.2. Gives me same exception.
btw, many thanks for your kind help. Let me try to check with another internal team to see if they can reproduce the same exception.

[2022-01-18 02:57] logan-jun opened #4623 "[SUPPORT] Delete is not working in python, parquet files"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)? y

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise des

[2022-01-18 03:06] xiarixiaoyao commented on #4618
@ChangbingChen   does  parquet files exists in your table？    if parquet file exists， pls set mapreduce.input.fileinputformat.split.maxsize >=（maxSize of paruert file) to forbiden hive spliting the parquet file.

[2022-01-18 03:10] xiarixiaoyao commented on #4609
@ravs11 It's very strange. if possible  could you pls run the
 code i pasted above and send parquet files under .hoodie/.zindex, thank you

[2022-01-18 03:28] ChangbingChen commented on #4618
Thanks for reply.  It doesn't work. the default value is 256M.
[code]

and the maxsize of paruert file is less then 128M.
[code]

[2022-01-18 03:54] xushiyan commented on #4411
@rajgowtham24

so is `default/` the partition path in your table? I don't quite get why this is need. Were you not able to query the table with path = s3://bucket_name/test/table_name ? It's obviously causing problem as the stacktrace is complaining table not found, because the table path is overwritten to where the `.hoodie/` is not present. So the problem is about setting the correct table path.

[2022-01-18 04:23] xiarixiaoyao commented on #4618
@ChangbingChen   i know hudi has a bug for this。
if possible  could you pls  do modify for hudi code and package new hudi jar
HoodieParquetRealtimeInputFormat.isSplitable

  @Override
  protected boolean isSplitable(FileSystem fs, Path filename) {
    if (filename instanceof PathWithLogFilePath) {
      return ((PathWithLogFilePath)filename).splitable();
    }
    // return super.isSplitable(fs, f

[2022-01-18 04:56] xushiyan commented on #4623
@logan-jun hudi table name will be used to generate avro schema record name and hyphen is not a valid character in avro schema name. see https://avro.apache.org/docs/1.8.2/spec.html#names

make the table name start with a letter and change hyphen to underscore should resolve the problem.

[2022-01-18 05:06] logan-jun commented on #4623
Hi. I've already tested changing table name to '500mdeltest' which does not have any hyphen or other special characters. but it returns same error: org.apache.avro.SchemaParseException: Illegal initial character: 500mdeltest_record

It seems that hudi is attaching underscore and 'record' to table name

[2022-01-18 05:06] xushiyan commented on #4621
moving to https://issues.apache.org/jira/browse/HUDI-3262 for work tracking

[2022-01-18 05:06] #4621 closed

[2022-01-18 05:07] xushiyan commented on #4623
it needs to start with letter or underscore

[2022-01-18 05:09] logan-jun commented on #4623
Oh, I see. let me test it again

[2022-01-18 05:12] xushiyan commented on #4604
@XuQianJin-Stars can you help looking into this please? Thanks.

[2022-01-18 05:20] xushiyan commented on #4600
@xiarixiaoyao can you give some advices here please? thank you.

[2022-01-18 05:21] logan-jun commented on #4623
It works. thank you very much

[2022-01-18 05:21] #4623 closed

[2022-01-18 05:25] xushiyan commented on #4593
Great to see rfc 33 moving and thanks @xiarixiaoyao for driving the work there! @WTa-hash if no further questions, let's close this. thank you.

[2022-01-18 05:27] xushiyan commented on #4585
@pratyakshsharma can you chime in here please? looks like some improvements for `MultiTableDeltaStreamer` ?

[2022-01-18 05:33] xushiyan commented on #4583
@york-yu-ctw let us know if you got it resolved. thanks.

[2022-01-18 05:36] XuQianJin-Stars commented on #4604
hi @andykrk Can you provide further steps to help me reproduce this issue?

[2022-01-18 05:43] xushiyan commented on #4299
@XuQianJin-Stars can you help investigate this issue please? thank you.

[2022-01-18 05:53] xushiyan commented on #4082
+1. @xuranyang You can do this with MultiTableDeltaStreamer or using other orchestration tools like kubernetes for example to manage large number of streaming jobs. If you have ideas, feel free to start an RFC or contribute to hudi codebase.

[2022-01-18 06:53] XuQianJin-Stars commented on #4299
well, I will follow this question later.

[2022-01-18 07:05] chrischnweiss commented on #4585
Hey @nsivabalan,

unfortunately our Kafka topic naming schema makes it impossible for us to use it this way.

Cheers,
Christian

[2022-01-18 07:40] ChangbingChen commented on #4618
Sorry, it doesn't work either.  i query the xxx_ro table,  the inputformat should be org.apache.hudi.hadoop.HoodieParquetInputFormat?

By the way, there are four or five parquet files, and for each compaction opertation, a new parquet file wile be generated and the oldest parquet file will be deleted.
So in hive query, it wile scan those all parquet files? perhaps the newest one contains all recor

[2022-01-18 08:06] ChangbingChen commented on #4618
@xiarixiaoyao , sorry, it doesn't work either.  i query the xxx_ro table,  the inputformat should be org.apache.hudi.hadoop.HoodieParquetInputFormat?

By the way, there are four or five parquet files, and for each compaction opertation, a new parquet file wile be generated and the oldest parquet file will be deleted.
So in hive query, it wile scan those all parquet files? perhaps the newest one co

[2022-01-18 08:30] Guanpx commented on #4510
I think MOR does not work in any older versions, that hudi version is 0.5.0-incubating in Impala, and this is commit https://github.com/apache/impala/commit/ea0e1def6160d596082b01365fcbbb6e24afb21d , cc @garyli1019
and this is version in impala: https://github.com/apache/impala/blob/master/bin/impala-config.sh#L204

[2022-01-18 08:49] gunjdesai commented on #4437
Hi Team,

any luck with this. I've tried asking this question on the slack channel for trino as well, but haven't got any luck there.

[2022-01-18 08:54] xushiyan commented on #4585
@chrischnweiss So it makes sense to make the registry url more configurable. I would recommend you propose idea to improve this based on your use case. You can elaborate your idea here or file a JIRA directly to elaborate on how exactly the configs could be. Anyone from the community may pick it up for implementation.

[2022-01-18 08:56] xiarixiaoyao commented on #4618
@ChangbingChen  sorry i forget one things,  before you use hive
 to query hoodie table, do you have  set inputformat,  eg: set hive.input.format=org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat / or set hive.input.format= org.apache.hadoop.hive.ql.io.HiveInputFormat

if you have wechat？we can communicate directly through wechat

[2022-01-18 09:04] pratyakshsharma commented on #4585
@chrischnweiss Are you trying to say you guys are using a subject naming strategy other than `TopicNameStrategy` for your schema registry? MTDS was originally designed to cater to use cases with `TopicNameStrategy` as the subject naming strategy which is the default provided by Confluent.

As mentioned by Raymond, please feel free to elaborate your use case and contribute the fix back. :)

[2022-01-18 09:13] xiarixiaoyao commented on #4600
@gubinjie  if you donot want to modfiy hive code.   could you pls trigger compaction for your table, one compaction done, parquet file will be created, and above problem should not be happen.

problem 2:  now flink only write log file for mor table
problem3:  I discussed this problem with my company's hive experts, we have no way to solve this problem in hudi, since that this check happens before

[2022-01-18 09:54] ChangbingChen commented on #4618
great! thanks~~

it's ok when set hive.input.format=org.apache.hadoop.hive.ql.io.HiveInputFormat.
However, when set hive.input.format=org.apache.hudi.hadoop.hive.HoodieCombineHiveInputFormat, the query throws an exception. It seems that it's a compatibility problem of hive version.
the hive version i used is 1.1.0-cdh5.13.3, there is no the HiveInputFormat.pushProjectionsAndFilters function with s

[2022-01-18 09:56] scxwhite commented on #4311
I reproduced this problem using the following code. In the following code, I repeatedly update 10000 pieces of data, but if I execute the following code more than 5 times, the program will report an error.
The problem may occur in clustering. When merging small files, the old submitted files are obtained(SparkSizeBasedClusteringPlanStrategy#getFileSlicesEligibleForClustering).
@xushiyan @nsivabala

[2022-01-18 09:58] scxwhite commented on #4311
In addition, my Hudi version is 0.9.0 and spark version is 3.0.0

[2022-01-18 10:11] melin opened #4627 "[SUPPORT] Dremio integration"
**_Tips before filing an issue_**

- Have you gone through our [FAQs](https://hudi.apache.org/learn/faq/)?

- Join the mailing list to engage in conversations and get faster support at dev-subscribe@hudi.apache.org.

- If you have triaged this as a bug, then file an [issue](https://issues.apache.org/jira/projects/HUDI/issues) directly.

**Describe the problem you faced**

A clear and concise descr

[2022-01-18 10:43] gubinjie commented on #4600
@xiarixiaoyao
Thank you for your reply
When I add a kafka connector, and then execute insert into 'hudi' select * from 'kafka', ('hudi' and 'kafka' are tables of connector type respectively)
This time there is no problem, there is data appearing.
But I have a question:
If data is not inserted through the kafka connector, do these parameters have no effect: compaction.trigger.strategy, compaction.d

[2022-01-18 11:26] nsivabalan commented on #4552
Closing this one out since we know the root cause and have a solution. Feel free to re-open if you have more questions. would be happy to help.

[2022-01-18 11:31] nsivabalan commented on #4585
I have filed a [jira](https://issues.apache.org/jira/browse/HUDI-3264) on this end. @chrischnweiss : Feel free to update the jira w/ your suggestions. Even if you can't find cycles to contribute, one of us from the community can try to find time to work towards it.

closing the github issue. we can continue the conversation in jira.
thanks for reporting!

[2022-01-18 11:31] #4585 closed

[2022-01-18 11:36] nsivabalan commented on #4510
WE already have a tracking jira to support MOR table type in Impala. If you are interested in working towards it, feel free to grab the jira and we can help with reviews if need be. Closing the github issue for now.

[2022-01-18 11:36] #4510 closed

[2022-01-18 11:38] nsivabalan commented on #4457
@zuyanton : Do you have any updates for us.

[2022-01-18 11:39] nsivabalan commented on #4456
@zhedoubushishi : When you get a chance, can you please follow up.

[2022-01-18 11:39] nsivabalan commented on #4439
Feel free to re-open if you are looking for more assistance.

[2022-01-18 11:39] #4439 closed

[2022-01-18 11:40] nsivabalan commented on #4434
@tieke1121 : let us know if you have more questions /clarifications. If not, will close out the github issue.

[2022-01-18 11:45] nsivabalan commented on #4318
Have updated instructions to access S3 via hudi-cli [here](https://hudi.apache.org/docs/next/cli#using-hudi-cli-in-s3).

[2022-01-18 11:48] nsivabalan commented on #4318
wrt duplicates,
in general, a pair of partition path and record key is unique in hudi. If not, you need to use global index or non partitioned dataset if you wish to have unique record keys globally.
And in addition, preCombine configs has to be set appropriately.

Feel free to close out the issue it was a mis-configuration on your end. If not, we can keep the issue open and discuss further.

[2022-01-18 11:51] stym06 commented on #4318
@nsivabalan #3222 worked for me. Thanks for the help. We can close it out as the operation mode was INSERT and there were duplicate records coming in the Kafka topic as well, leading to this.

[2022-01-18 11:51] #4318 closed

[2022-01-18 11:57] nsivabalan commented on #4241
We don't have any documentation as such. You need to directly use writeClient or go via hudi-cli.

But here is how you can do savepoint and restore using hudi-cli

[code]

[2022-01-18 11:58] codope commented on #4541
@nsivabalan Looks like AVRO_SCHEMA is not getting set in bulk insert mode. I couldn't find [similar logic](https://github.com/apache/hudi/blob/45f054ffdef568e066a53c63c6e6f8d2b1ee67ea/hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala#L442-L443) in 0.7.0 bulk insert path.

[2022-01-18 11:59] #4032 closed

[2022-01-18 11:59] nsivabalan commented on #3870
@atharvai : hey do you have any updates for us.

[2022-01-18 12:08] liujinhui1994 commented on #4311
Clustering does not currently support updates, this should be your problem. @scxwhite  cc@nsivabalan

[2022-01-18 12:11] nsivabalan commented on #4604
we have a related [issue](https://github.com/apache/hudi/pull/2653) reported earlier. Might help @XuQianJin-Stars triage it.

[2022-01-18 12:13] nsivabalan commented on #4170
@rubenssoto : If you got the issue resolved, do close it out. If you found ways to get around the issue, feel free to post it here so that others in the community can benefit.

[2022-01-18 12:14] nsivabalan commented on #4131
Can you folks please file a tracking jira and work towards it. we can close out the github issue once we have a tracking jira if we don't have more to triage wrt this issue.
thanks for looking into it.

[2022-01-18 12:16] nsivabalan commented on #4541
yeah, we had a bug w/ bulk insert row writer path which got fixed in 0.8.0. Can you disable row writer(hoodie.datasource.write.row.writer.enable) and give it a try.

[2022-01-18 12:33] YannByron commented on #4131
@BenjMaq can you mark a field as `preCombineField` and retry? Or use hudi 0.10.0 in which it can work right.

[2022-01-18 12:44] andykrk commented on #4604
hi XuQianJin-Stars, please let me know what if there is anything specific that  can provide to help with this further

[2022-01-18 12:49] scxwhite commented on #4311
To be clear, there is only one job to perform the upsert operation, so there is no problem of concurrent updates

[2022-01-18 13:06] dongkelun commented on #4131
This error does not happen when there is no primaryKey in OPTIONS of the create table statement
This error does not happen when there is a primaryKey and a preCombineField in OPTIONS of the create table statement

According to the above description, this problem will not occur when the `preCombineField` is configured. This problem should have been fixed in Hudi version 0.10.0

[2022-01-18 15:40] ravs11 commented on #4609
@xiarixiaoyao Upon checking with our internal infra team, we found that it was due to some incorrect configuration in our spark cluster. This issue is resolved now.
Thanks for your time. Very sorry to bother you about this.

[2022-01-18 18:51] DSwift510 opened #4629 "[SUPPORT] Extremely long batch times due to timeline server error"
**Describe the problem you faced**
Seeing repetitive error when writing to a single MOR table causing delay in batches for 45 minutes to an hour and a half.
During this time there are no new files being compacted and ingest appears to stop until it fixes itself.

Async Compaction is Enabled by default

Configuration as bellow:
`    df.writeStream
      .trigger(Trigger.ProcessingTime(s"${triggerTi

[2022-01-18 20:40] yihua commented on #4528
Work tracked here: https://issues.apache.org/jira/browse/HUDI-3269

[2022-01-19 01:49] #4528 closed

[2022-01-19 03:15] Guanpx commented on #4510
thx, btw I find that jira here: https://issues.apache.org/jira/browse/HUDI-610

[2022-01-19 04:57] VIKASPATID opened #4635 "[SUPPORT] Bulk write failing due to hudi timeline archive exception"
Seeing repetitive error when bulk writing to cow table, error message not very clear. Please note that we were able to write bunch of files to hudi successfully and started getting this error.

**Configuration**
'className' : 'org.apache.hudi'
'hoodie.write.concurrency.mode':'optimistic_concurrency_control'
'hoodie.cleaner.policy.failed.writes':'LAZY'
'hoodie.write.lock.zookeeper.lock_key': f"{tab

[2022-01-19 06:10] york-yu-ctw commented on #4583
@xushiyan
Not yet, since this error not happen every day, I will keep looking into it

[2022-01-19 07:01] xiarixiaoyao commented on #4609
@xushiyan @ravs11  since this problem has solved， let's close it.

[2022-01-19 07:30] yuzhaojing opened #4636 "[SUPPORT] Sync timeline from embedded timeline server in flink pipline"
At present, in the Flink-Hudi pipeline, each task will scan the meta directory to obtain the latest timeline, which will cause frequent get listing operations on HDFS and cause a lot of pressure.
A proposal is we can modify the way to get the timeline in the Flink-Hudi pipeline and pull the active timeline through the embedded timeline server.

[2022-01-19 08:07] rajgowtham24 commented on #4411
@xushiyan - when we are using complexkey generator in 0.5.0, by default Hudi is creating the data under default partition(same is happening with 0.8.0 as well). So to query the table through Presto 0.230 we have to modify the table location s3://bucket_name/test/table_name/default.

For partitioned table, without updating the table location we are able to query the table from Presto 0.230

[2022-01-19 09:11] XuQianJin-Stars commented on #4604
hi @andykrk Take a look at your table information, use the `desc` command in spark sql, eg:
spark-sql> desc test_hudi_table;
[code]

[2022-01-19 11:10] andykrk commented on #4604
hello @XuQianJin-Stars,

please find output of desc command:

[code]

And here's the output from hoodie.properties:

[code]

Just a note:
I see that the table.version is 3. I have tried my testing both with hudi 0.9.0 and hudi 0.10.0

[2022-01-19 11:29] #4609 closed

[2022-01-19 11:31] stym06 opened #4638 "[SUPPORT] Deltastreamer job failing with RocksDB exception"
**Describe the problem you faced**

Driver is exiting with below stacktrace while doing a BULK_INSERT from Kafka to Blob

**Environment Description**

* Hudi version : 0.9.0

* Spark version : 2.4.4

* Hive version : 3.1.2

* Hadoop version : 2.7.3

* Storage (HDFS/S3/GCS..) : Azure

* Running on Docker? (yes/no) : K8s

**Additional context**

Add any other context about the problem here.

**Stack

[2022-01-19 13:50] XuQianJin-Stars commented on #4160
hi @mincwang You are using spark2's sql query, right?

[2022-01-19 19:37] harishraju-govindaraju opened #4641 "[SUPPORT] - HudiDeltaStreamer - EMR - SparkSubmit Not working"
**Describe the problem you faced**
I started an EMR Cluster and trying to run deltastreamer of HUDI. However, i get an error 👍
**Unrecognized token 'Objavro': was expecting (JSON String, Number, Array, Object or token 'null', 'true' or 'false')**
I was trying to follow this documentation and do the steps.

https://hudi.apache.org/blog/2021/08/23/s3-events-source

A clear and concise description of

[2022-01-19 19:42] LucassLin commented on #4550
Hi Team,

I followed https://hudi.apache.org/docs/quick-start-guide#mergeinto and do a partial update on a table but getting
[code]

Following is the code I have:
[code]

I would really appreciate if anyone can give me an example for that, or point me in the right direction if in case I've missed anything.
Thanks.

[2022-01-19 20:42] LucassLin opened #4642 "[SUPPORT] Hudi Merge Into"
Hi Team,

I followed https://hudi.apache.org/docs/quick-start-guide#mergeinto and do a partial update on a table but getting the following issue

[code]
Hudi version 0.10.0
Spark version 2.4.8
Following is the code I have:
[code]

Job is submitted using spark-submit to dataproc using following command
[code]

I would really appreciate if anyone can help with this issue, or point me in the right di

[2022-01-19 21:23] harishraju-govindaraju commented on #4641
Folks,

I had to change the jar locations to S3 path and managed to  overcome the error. However, i am facing another error. I am using DeltaStreamer for first time run. I was in an assumption that the first time we run, the deltastreamer will create the hudi table. I get an error saying the hoodie table is not found ? Does that mean that i cannot use deltastreamer for initial loads.

Exception in

[2022-01-20 00:57] nsivabalan commented on #4622
@nochimow : let us know how did it go. or if you need hudi-cli commands to do restore, let us know.

[2022-01-20 00:59] nsivabalan commented on #4629
When async table services are enabled, you could see the timeline out of sync issue. Can you try making all table services (cleaning, compaction, etc) inline and see if the problem goes away.

[2022-01-20 01:02] nsivabalan commented on #4635
Is there any more logs/stacktrace. I could not find the actual issue from the above stacktrace.
Also, I see you have multi-writer enabled. Can you disable them and see if we can get past the issue by triggering writes only from a single writer.

[2022-01-20 01:05] nsivabalan commented on #4638
cool, thanks for the update. Would you mind putting up a patch with the version upgrade. I can help review and land.

[2022-01-20 01:08] nsivabalan commented on #4641
nope. you should be able to start deltastreamer on a clean directory.
do you have full stacktrace. Also, can you try cleaning up the target directory complete and retry running deltastreamer.

[2022-01-20 01:09] nsivabalan commented on #4642
@YannByron @dongkelun : Can you folks assist here please.

[2022-01-20 01:11] nsivabalan commented on #4541
@aznwarmonkey : Let us know if you get a chance to try out the suggestion.

[2022-01-20 01:11] nsivabalan commented on #4506
CC @codope

[2022-01-20 01:15] nsivabalan commented on #4457
I see there is a pending rollback in data timeline. So, metadata compaction may not kick in if there are any pending operations in data timeline. and archival in datatable may not proceed if metadata compaction does not kick in.
CC @manojpec @yihua

[2022-01-20 01:30] nsivabalan commented on #4502
We did add time travel query support few versions back. Please refer [here](https://hudi.apache.org/docs/quick-start-guide/#time-travel-query) for example.

[2022-01-20 01:33] nsivabalan commented on #4502
@fedsp : I assume "as of instant" query work for you. If not , can you elaborate bit more.

[2022-01-20 01:34] fedsp commented on #4502
But as far as I understood, this applies for spark contexts only, right?
There is any equivalent which I can use in a standard sql query? My usecase uses a prestodb database (more specifically, aws athena)

[2022-01-20 01:34] nsivabalan commented on #4288
Closing this as we have a patch updating the docs. Let us know if you need more info. thanks!

[2022-01-20 01:34] #4288 closed

[2022-01-20 01:35] xushiyan commented on #4502
@fedsp this is a feature to be added to support spark sql read path
https://issues.apache.org/jira/browse/HUDI-3221

[2022-01-20 01:37] fedsp commented on #4502
Awesome, glad to hear! If you want a beta tester to test it and simulate a real business case scenario count on me! My username on confluence is @fedsp as well.

[2022-01-20 01:43] xushiyan commented on #4502
@fedsp done! let's keep collaborating on this

cc @XuQianJin-Stars @YannByron

[2022-01-20 01:52] dongkelun commented on #4642
Try the target table instead of the temporary table. The target table should not be a temporary table at present

[2022-01-20 03:09] nsivabalan commented on #3879
May I know whats the partition path field I should be choosing while writing to hudi ?

[code]

[2022-01-20 03:37] LucassLin commented on #4642
Thanks for the reply. By entity table, do you mean something like
[code]
Can you also elaborate more on "And the target table must be a Hudi table"? How do I ensure the table I write is Hudi table? Is there a specific API to use to create this entity table as hudi table?

Thanks!

[2022-01-20 03:43] dongkelun commented on #4642
@LucassLin
In official documents:[https://hudi.apache.org/docs/quick-start-guide/](https://hudi.apache.org/docs/quick-start-guide/)
#Create Table # SparkSQL
[code]

[2022-01-20 04:26] dongkelun commented on #4642
[code]
Sorry, I didn't see this one just now. It's OK from Hudi version 0.9.0, because there's still hudi sparkSql

In addition, it is also possible to configure sync hive, but there are bugs in previous versions. See this PR for details [3745](https://github.com/apache/hudi/pull/3745)

Of course, you can also create a hive table. As long as the attributes are completely consistent, it is essentia

[2022-01-20 04:53] LucassLin commented on #4642
thanks for the replies. I tried using hudi createTable sql command but getting
[code]
I also tried using saveAsTable but seems like there might be some issue with hive config which causes
[code]
I will try to resolve these once I get back to work and see if the entity table would solve the mergeInto issue. Thanks again for your help.

[2022-01-20 05:02] harishraju-govindaraju commented on #4641
Hello @nsivabalan ,

Thanks for promptly responding to my question.

I tried to clear the folder and reran the below spark-submit command. The folder .hoodie got created but the job ended with error with no data files.

 Unrecognized token 'Objavro': was expecting (JSON String, Number, Array, Object or token 'null', 'true' or 'false')
 at [Source: (String)"Objavro.schema�{"type":"record","name":"t

[2022-01-20 05:40] harishraju-govindaraju commented on #4641
tried to define proper schema. Still having same error

Caused by: org.apache.hudi.exception.HoodieIOException: Unrecognized token 'Objavro': was expecting (JSON String, Number, Array, Object or token 'null', 'true' or 'false')
 at [Source: (String)"Objavro.schema�{"type":"record","name":"topLevelRecord","fields":[{"name":"id","type":["string","null"]},{"name":"creation_date","type":["string","nul

[2022-01-20 07:44] BruceKellan opened #4648 "[SUPPORT] Upgrade Hudi to 0.10.1-rc2 from 0.10.0 using spark"
Hi Team,

I am using spark3 + hudi 0.10.0.
When I am upgrading hudi to 0.10.1-rc2, get this:
java.io.InvalidClassException: org.apache.hudi.common.table.timeline.HoodieActiveTimeline; local class incompatible: stream classdesc serialVersionUID = -1280891512509140081, local class serialVersionUID = 1642514781003501811
	at java.io.ObjectStreamClass.initNonProxy(ObjectStreamClass.java:699)
	at java.i

[2022-01-20 07:45] xushiyan commented on #4411
@rajgowtham24 i think you need `NonpartitionedKeyGenerator` instead for non-partitioned table. `default/` is created when complex key gen fails to extract partition path properly. With `default/` in the directory, your table is unexpectedly "partitioned" now, and in your `hive_sync.partition_extractor_class` you used `NonPartitionedExtractor`, that's probably causing reading issue.

[2022-01-20 09:23] XuQianJin-Stars commented on #4160
hi @mincwang I put a pr for fix this. https://github.com/apache/hudi/pull/4649

[2022-01-20 11:42] codope commented on #4506
@parisni Did you get a chance to try out this suggestion?
I would also check `spark.sql.warehouse.dir` spark config, and  set `hive.metastore.warehouse.dir` in hive-site.xml to the same value.

[2022-01-20 11:57] nsivabalan commented on #4502
awesome @fedsp, sure. appreciate it. As we have a tracking jira, let's continue discussions in the jira so that it will help in bookkeeping. Feel free to subscribe to the jira.
If you don't have any more questions/clarifications, we can close out the github issue.

[2022-01-20 15:54] xushiyan commented on #4648
@BruceKellan did you build the bundle with spark 3 profile? https://github.com/apache/hudi/tree/release-0.10.1-rc2#build-with-spark-3

[2022-01-20 18:43] ganczarek opened #4656 "[Support] Slow file listing after update to Hudi 0.10.0"
## Description

I have two tables with large amount of partitions (~300k). Both contain almost the same data, but were created and updated
with slightly different configurations and versions of Hudi. For some reason I see a significant time difference in file
listing when reading both tables. A new table spends much more time listing files in many instants, when in the other
table there are none (

[2022-01-20 19:33] nsivabalan commented on #4621
@data-storyteller : I tested integ test bundle in latest master and is all good. I have attached logs in the linked jira.
is your env spark2 or spark3?

[2022-01-20 19:57] xushiyan commented on #4621
@data-storyteller @nsivabalan i see this param `--packages org.apache.spark:spark-avro_2.11:2.4.0` while the spark version mentioned is 2.4.7. @data-storyteller can you align these versions? should be both 2.4.7

[2022-01-21 01:46] #4600 closed

[2022-01-21 04:16] VIKASPATID commented on #4635
Bulk Write is running without any failures with single writer, but we want to write bunch of files, so we need multi writer to decrease total write time. Is there anything we are missing for multi writer or any way to fix it for multi writer ?
That's all we have in the stack trace.

[2022-01-21 04:50] Guanpx opened #4658 "[SUPPORT] Data lose with Flink write COW insert table, Flink web UI show Records Received was different with HIVE count(1)"
**Describe the problem you faced**

Data lose with Flink write COW insert table, Flink web UI show Records Received was different with HIVE count(1)

**To Reproduce**

Steps to reproduce the behavior:

1. Flink write and sync to hive
2. and face that Flink web UI show Records Received was different with HIVE（impala） count(1)

**Expected behavior**

![image](https://user-images.githubusercontent.co

[2022-01-21 06:19] danny0405 commented on #4658
So you use the `upsert` mode right ? And the hoodie table has a pk there ?

[2022-01-21 07:34] Guanpx commented on #4658
we use insert (append) mode, not have a unique key, does data will deduplicate?

[2022-01-21 08:44] rajgowtham24 commented on #4411
@xushiyan - in 0.5.0, NonpartitionedKeyGenerator doesn't support Composite Primary Keys, so we have used ComplexKeyGenerator and the querying works as expected through Presto 0.230 and not in Presto 0.245.1

[2022-01-21 09:06] stym06 commented on #4638
Filed a PR: https://github.com/apache/hudi/pull/4663

[2022-01-21 11:02] mincwang commented on #4160
thanks a lot for your support

[2022-01-21 13:31] danny0405 commented on #4658
No, data would not be dedupped.

[2022-01-21 13:37] nsivabalan commented on #3879
@jardel-lima : gentle ping. may I know which field I should be using as partition path.

[2022-01-21 13:48] nsivabalan commented on #4558
@danny0405 : Can you loop in someone to look into the issue please.

[2022-01-21 13:51] nsivabalan commented on #4618
@xiarixiaoyao : I see you have mentioned that there is a bug in hoodie around HoodieParquetRealtimeInputFormat.isSplitable. Do we have a open PR around this. If not, do you think you can put up one.

[2022-01-21 13:52] nsivabalan commented on #4658
Can you try using upsert mode and report back.

[2022-01-21 13:54] nsivabalan commented on #4638
thanks!

[2022-01-21 13:54] #4638 closed

[2022-01-21 14:00] rafcis02 commented on #4552
I tried the patch from https://github.com/apache/hudi/pull/4203 but it still does not work for me.
The only difference is that I upserts data using SQL MERGE INTO statement.
I run my job in the AWS Glue - first job execution dumps data to S3 and creates table in Glue Data Catalog(BULK_INSERT). Then I add property(to serde properties) to Glue table `hoodie.datasource.write.keygenerator.consistent.l

[2022-01-21 14:03] nsivabalan commented on #4635
got it. So, w/o setting any multi-writer configs, are things working fine?
Also, can you post the contents of .hoodie folder.

Let's try few things to see if we can unblock you and we can go from there.
- Try switching to "insert" or "upsert"
- Try removing all multi-writer configs and see what happens.

btw, multi-writer had few bugs in 0.8.0. We fixed few bugs in 0.10.0. So, would recommend givi

[2022-01-21 14:07] nsivabalan commented on #4641
nope, you don't need to set any schema explicilty.
I went through all configs from the description.

Guess there could be some typo
hoodie.deltastreamer.s3.source.queue.url is the right config. I see you are setting hoodie.deltastreamer.source.queue.url.

CC @codope

[2022-01-21 14:23] nsivabalan commented on #4502
Closing this as we have a tracking jira. thanks!

[2022-01-21 14:23] #4502 closed

[2022-01-21 14:29] nsivabalan commented on #4055
@JB-data : Do you have any updates for us. Can you confirm that target schema you set is aligned with the output from after transformation?

[2022-01-21 14:30] nsivabalan commented on #4055
@guanlisheng : I see your issue is slightly different, as you claim that you could able to get it working w/ one source, but not w/ jsonKafkaSource. Can you please file a new github issue w/ all details. we can take a look.

[2022-01-21 14:46] nsivabalan commented on #4604
are you also facing this w/ 0.10.0 as well? interesting. I remember we made some fix towards NPE with commit metadata parsing during archival, looks like this is different.
btw, while we triage the root cause, a bit hacky suggestion to get past the issue. From the commit metadata, I see this is an empty commit. No files were written as part of this commit. if its a PoC dataset, you can try deletin

[2022-01-21 14:57] #4434 closed

[2022-01-21 14:58] nsivabalan commented on #4437
@codope gentle ping to assist here.

[2022-01-21 14:59] nsivabalan commented on #4461
thanks!

[2022-01-21 15:00] nsivabalan commented on #4461
sorry, I thought Yuwei is the author. looks like its nikenfls. lets wait for few more days to hear back from the original author.

[2022-01-21 15:05] nsivabalan commented on #4230
@xushiyan @yihua : with sql-dml, how are timeline server instantiated? Is it the same flow as sparkdatasource.
@yihua : Do we know if the timeline server is running in this case ? or is it the case of increasing the read timeouts. But from our local exp, timeline server was able to handle 90k+ requests per sec. So, likely its the case where timeline server is not reachable at all.

[2022-01-21 15:13] nsivabalan commented on #4082
@xushiyan : Guess author is asking if we can achieve what MultiTableDeltaStreamer does using spark streaming. I don't think we have any readily available solution for this yet.
@xuranyang : As raymond suggested, it would be a good addition to hudi feature set. Feel free to start a discussion or RFC around this.

[2022-01-21 15:14] nsivabalan commented on #4030
By incremental field updates, do you mean partial field updates. I believe we have this functionality in sql-dml. But not sure on the flink.
I will let danny speak for that.
CC @xushiyan @YannByron

[2022-01-21 15:15] nsivabalan commented on #4030
oh, just now noticed we have a PR put up already for the flink. I will go ahead and close the issue out for now. Feel free to continue discussions on the jira and PR. Or open up a new issue if you have any asks. thanks! @dik111

[2022-01-21 15:15] #4030 closed

[2022-01-21 15:16] #3999 closed

[2022-01-21 15:16] nsivabalan commented on #3965
@Frogglet : gentle ping

[2022-01-21 15:17] nsivabalan commented on #3960
@danny0405 : can we have some follow up here please. If its a feature request, can we file a tracking jira.

[2022-01-21 15:19] Guanpx commented on #4658
I will try it, but we not have a unique key

[2022-01-21 15:20] nsivabalan commented on #3831
@Kavin88 : did you get a chance to try out the external config file.

[2022-01-21 15:23] nsivabalan commented on #3831
Also, if you were able to get it working w/ Livy, consider adding a blog or a write up on how you went about it. Others in the community might benefit from your work. We can help with the write up if need be.

[2022-01-21 15:24] nsivabalan commented on #4241
btw, savepoint and restore for MOR is added just few weeks back and so is available only from 0.11. But should work for COW for older releases too.

[2022-01-21 15:24] nsivabalan commented on #4241
I will try to add more documentation around savepoint/restore to our website.

[2022-01-21 15:38] nsivabalan commented on #4241
recently we also updated instructions on how to use hudi-cli for S3 dataset.
https://hudi.apache.org/docs/next/cli/
just incase you you interested.

[2022-01-21 15:39] nsivabalan commented on #4248
@danny0405 @leesf : can you loop in someone to help.

[2022-01-21 15:45] nsivabalan commented on #4223
@tieke1121 : Can you please respond to Danny's question above. Unless we have more info, its hard to debug. if you have got past the issue, please update us on how you get past it so that it can benefit others in the community.

[2022-01-21 15:45] nsivabalan commented on #4223
feel free to close out the issue if you got it resolved btw.

[2022-01-21 15:48] nsivabalan commented on #4154
I will let @codope follow up here. but when you query via hive, may I know what input format are you using? HiveInputFormat, or HoodieCombineHiveInputFormat.

[2022-01-21 15:50] nsivabalan commented on #3895
@Cherry-Puppy : can we have any updates on your end. If you got the issue resolved, can we close the github issue.

[2022-01-21 15:51] nsivabalan commented on #3755
@fengjian428 : gentle ping. Interested to know any progress. or if you got past the issue, how did you get it resolved.

[2022-01-21 15:52] nsivabalan commented on #3747
@stym06 : can we have any updates on this regard please.

[2022-01-21 15:52] nsivabalan commented on #3747
also, interested to know, why not enable hive sync along w/ deltastreamer configs.

[2022-01-21 15:54] nsivabalan commented on #3737
Closing this due to inactivity. But please do share w/ which approach you went ahead with. We can add a faq so that others in the community can benefit.