[2016-12-16 23:25] prazanna opened #1 "Add hoodie-hadoop-mr module with support for InputFormat"
Add a module with the necessary inputformat to be able read datasets ingested using Hoodie library

[2016-12-16 23:26] prazanna opened #2 "Add hoodie-hive module to support hive registration"
Add hoodie-hive module which can register hoodie datasets to hive metastore

[2016-12-19 21:12] #1 closed, assigned to prazanna

[2016-12-20 22:55] #2 closed, assigned to prazanna

[2016-12-27 15:54] vinothchandar opened #7 "Add a Spark Datasource to query Hoodie tables natively"
Would be nice to have something native that understand queries on Hoodie tables

- [ ] Supporting queries with _hoodie_commit_time to switch to incremental mode
- [ ] Can cross join with other tables seamlessly

[2016-12-27 15:55] vinothchandar opened #8 "Beam IO module to support incremental tailing of Hoodie Hive/Spark tables"

[2016-12-27 19:03] vinothchandar opened #9 "Move over hoodie utility tools as hoodie-utilities module"
Following tools to be moved over

- [ ] Tool to pull Hive incrementally
- [ ] Tool to pull incrementally and execute Spark SQL on it & upsert (SQLStreamer)
- [ ] Tool to copy snapshots of Hoodie Tables, for safe keeping

[2016-12-29 00:36] vinothchandar opened #11 "Travis build fails with compilation errors"
https://travis-ci.org/uber/hoodie/builds/187340755

Its pulling in 0.2.8-SNAPSHOT since we have 0.2.7 in maven I suppose.. Need to debug more.

[2016-12-29 00:38] #9 closed

[2016-12-29 00:51] #11 closed

[2017-01-04 01:11] prazanna opened #14 "Test issue"
Testing a new client for task tracking

[2017-01-04 01:11] prazanna commented on #14
closing

[2017-01-04 01:29] prazanna commented on #14
commenting

[2017-01-04 01:31] #14 closed

[2017-01-04 01:50] prazanna opened #15 "Generic way to link partition path to dataset base path"
https://github.com/uber/hoodie/blob/master/hoodie-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java#L247

We need metadata stored at the HDFS partitions to link back to the base path that has the hoodie metadata.

We cannot use the table location as it would not be applicable for all the query engines and there is no enforcement on what value the table location should be if par

[2017-01-04 02:02] prazanna opened #16 "Incremental pull should set the _hoodie_commit_time automatically from configs in HoodieInputFormat"
HoodieInputFormat should pick up the start_ts from the config and merge the _hoodie_commit_time predicate with the predicates set already. This allows the processing SQL to be exactly the same for backfill and incremental processing.
[code]
[code]

Today we have to do
[code]

[2017-01-04 02:06] prazanna opened #17 "Cleanup WriteStatus"
WriteStatus and HoodieCommitMetadata needs a cleanup.

* Do we need all the records to be returned in the status?
* Make it immutable and use builder to build the object
* HoodieCommit / HoodieCommitMetadata - confusing as to what has what

[2017-01-04 02:08] prazanna opened #18 "Write out the concepts in Hoodie Docs"

[2017-01-04 02:17] prazanna opened #19 "Extend HoodieDeltaStreamer to support Kafka and RDBMS (Mysql) as inputs in addition to taking log files from HDFS"

[2017-01-04 02:19] prazanna opened #20 "Implement HoodieSQLStreamer to pull from source Hoodie Dataset, transform and upsert into a target Hoodie dataset"
When Joins need not be spilled on to disk - we can incrementally pull, transform and upsert in one DAG.
This utility will show case that.

[2017-01-04 05:28] prazanna opened #21 "Implement Savepoints"
Hoodie tables should support snapshotting for backup and recovery

* Provide a way to sym link data files of a commit and Hoodie cleaner does not delete them
* Provide API to roll back to a specific snapshotted commit
* Think about how it affects incremental pull

[2017-01-04 05:34] prazanna opened #22 "Overhaul hoodie-commons and re-implement HoodieTableMetadata"
With implementation of merge-on-read underway

As a pre-requisite, This will be good time to overhaul hoodie-commons and work on right abstractions.
Also introduce java 8 features into code to make it more succinct

[2017-01-04 14:23] vinothchandar opened #23 "Hoodie-hadoop-mr jar is no longer a fat jar bundling common classes"
Getting the following, when I try to follow the README for testing..

`Caused by: java.lang.ClassNotFoundException: com.uber.hoodie.exception.InvalidDatasetException
        at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
        at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
        at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
        ... 27 more`

FYI @prazann

[2017-01-04 14:26] vinothchandar commented on #19
Specifically, what we need is the output from SQOOP incremental

https://sqoop.apache.org/docs/1.4.2/SqoopUserGuide.html#_incremental_imports

@ywskycn Could use your expertise here..

[2017-01-04 18:50] vinothchandar opened #24 "HoodieInputFormat needs to have a @UseFileSplitsFromInputFormat annotation"
This approach is cleaner , to integrate with presto and we can follow similar approach to Spark as well

[2017-01-04 19:28] vinothchandar commented on #19
we need a way to checkpoint these files also.. Shall we implement a simple filesystem modified time based tailing, with checkpoints stored on hdfs ? or leave it to the end user? (This could be too much to handle for naive user)

[2017-01-04 20:51] vinothchandar commented on #19
@prazanna Not sure if that route will have as mature support for datatypes as SQOOP has.. I'd vote for sticking with SQOOP and having something people can get up & running in production quickly for atleast 1 target use-case

[2017-01-04 20:55] prazanna commented on #19
@vinothchandar Okay, lets see if setting up a sqoop job and saving it as incremental deltas is something we can do for showcasing a use-case.

[2017-01-05 01:44] vinothchandar opened #27 "Write Hoodie Getting started docs"
This involves

- Overview
- Reworked Quickstart (will change based on new tooling shortly)
- Use cases
- powered by

[2017-01-05 04:54] #27 closed

[2017-01-05 05:37] vinothchandar opened #29 "Hoodie insert() should be implemented via insert partitioner"
Right now, we dont have benefits like small insert handling due to this

[2017-01-05 05:55] prazanna opened #30 "Implement HoodieClient.delete(HoodieKey[] keys)"
This is useful in repairs of a hoodie dataset, where the row_key and partition_field mapping has changed because of an error.

FYI - @vinothchandar

[2017-01-06 00:45] #23 closed

[2017-01-06 00:45] prazanna opened #31 "Hoodie Upset fails with InvalidParquetMetadata because of a parquet file partially written"
I believe we have figured out the root cause

Step 1:
Executor starts writing 11337c2a-9acd-4c07-aa0e-de5e78e9f951_393_20170104223220.parquet, but failed (reason unknown)

[code]
Step 2:
Driver realizes this

1253563 [sparkDriver-akka.actor.default-dispatcher-37] ERROR org.apache.spark.scheduler.cluster.YarnClusterScheduler  - Lost executor 466 on hadoopworker674-sjc1.prod.uber.internal: remote Rp

[2017-01-06 00:59] #31 closed

[2017-01-06 19:10] vinothchandar opened #35 "Rework Spark integration similar to presto"
Approach used in https://github.com/prestodb/presto/pull/7002

Actual changes will be on Apache Spark, this is for tracking

[2017-01-06 19:17] vinothchandar opened #36 "Rethink & Refactor HoodieTable abstraction"
Probably HoodieStorage is a better name.. and as detailed on intro, we will have two storages

- Copy_on_write

 Only support RO table

- merge_on-read

Supports both RO & Realtime tables

[2017-01-06 19:26] vinothchandar opened #37 "Implement a cached version of Bloom Index"
Two things can be cached technically

    Caching the mapping of uuid <=> fileId (higher cost & longer recovery time & high performance)
    Caching the mapping of fileId <=> bloom Filters (lower cost & low recovery time & better perf than HoodieBloomIndex)

What we need is something similar to Spark Streaming's built in mapWithState HashMap .

[2017-01-06 19:27] vinothchandar commented on #37
Current HoodieBloomIndex is built to handle joining of arbitrary number of incoming records to partitions and adapt to skews nicely..

eg: if we had 200M records, each 500 bytes going into a partitionPath with 100 files, a naive join would result in > 2GB size records per partition (each file is a partition say)

Most of this implementation relies on sorting to achieve this & loads the bloom filte

[2017-01-06 19:28] vinothchandar opened #38 "RollingLogWriter should handle recovering partial log write failures"
Writers to log can fail in the middle. RollingLogWriter should be able to

    detect this
    Roll over to a new log so that new records are not appended to corrupted log files

[2017-01-06 19:41] vinothchandar opened #39 "Commit Storage changes for merge-on-read"
Commits are going to be more frequent - this should be appended to Recoverable avro file reader/writer
    Compaction commit should be a special commit with file details containing details about the commit
    HoodieTableMetadata to support API which includes compaction commits

[2017-01-06 19:42] vinothchandar opened #40 "Implement rollback for Hoodie Merge-on-read"
This is tricky as log files will have multiple commits. This requires rewriting avro log file.

[2017-01-06 19:43] vinothchandar opened #41 "Implement incremental pull with merge-on-read"
Now that we have the log format v2 implemented and stable, good time to tap into it to implement incremental pull on MOR datasets.

**Algorithm :**

Simplified problem is :  Given a `begin_instant_time` and `end_instant_time` (part of active timeline) pull data that was written between them.

[code]

**Considerations :**

- [ ] How is the _commit_time metadata preserved as data moves from log to p

[2017-01-06 19:44] vinothchandar opened #42 "Implement HoodieRealTimeInputFormat"
This houses the merge-on-read record reader

[2017-01-06 19:44] vinothchandar commented on #42
Think about supporting multiple delta files - on compaction failures
    Fall back of on-disk merge if the delta file size exceeds certain limit

[2017-01-06 19:46] vinothchandar opened #43 "Handle task failures with merge-on-read"
Failure and retry - Hdfs Throws AlreadyBeingCreatedException - when fs.append, because lease is not expired or close is not called. Roll over the log if this happened?

Need to think about this.

[2017-01-06 19:47] vinothchandar opened #44 "Refactor Commit Creation from HoodieClient"
Commit needs to be done in HoodieClient and in HoodieCompacter. This needs to be refactored into a common place.

[2017-01-06 19:57] vinothchandar opened #45 "Explore ways to minimize impact on NameNode with metadata calls"
Basic idea here is to use the commit metadata to be self contained about managing the storage

[2017-01-06 19:58] vinothchandar opened #46 "CLI Command to trace history of a given partition or file and all changes that happened to it."
This would be super useful in troubleshooting data issues

[2017-01-06 19:59] vinothchandar opened #47 "Simple write token based on Zookeeper to enable multiple competing write operations on single dataset to be serialized"

[2017-01-06 20:00] vinothchandar opened #48 "Preserve some permanent trace for cleaning activity"
This would be helpful to deal with issues where the query fails from FileNotFoundException..

This should and is a rarity. but good to have this tool in the bag

[2017-01-06 20:04] vinothchandar opened #49 "Fetch the block length from HDFS Data Node to precisely handle effect of compression on file size"

[2017-01-06 20:05] vinothchandar opened #50 "Some Hoodieconfigs should only be changed at creation time"

[2017-01-06 20:05] vinothchandar commented on #50
For example Index, storage/table type etc..

[2017-01-06 20:07] vinothchandar opened #51 "Move to Spark 2.x"

[2017-01-06 20:08] vinothchandar opened #52 "Move to Java8 and cleanup code using lambdas"

[2017-01-06 20:08] vinothchandar opened #53 "Add first class support for Rollups in Hoodie"
As we spoke a few times, it would be nice to have the rollup-merge functionality in Hoodie, i.e. Hoodie should be able to apply following functions on individual columns in the 2 or more rows to be merged:

    Max
    Min
    Avg
    Sum
    Var

[2017-01-06 20:10] vinothchandar opened #54 "Tool to convert an existing Hive table as a Hoodie table"

[2017-01-09 18:45] prazanna opened #55 "Implement a way to see all audit events with details on a hoodie dataset"
This will help with triaging and identifying issues with a hoodie dataset. This becomes particularly useful with merge-on-read implementations.

[2017-01-09 18:59] prazanna commented on #22
The following is the gist of changes done

1. All low-level operation of creating a commit code was in HoodieClient which made it hard to share code if there was a compaction commit.
2. HoodieTableMetadata contained a mix of metadata and filtering files. Since merge-on-read requires a lot of that code, but will have to change slightly on how it operates on the metadata and how it filters the files

[2017-01-09 23:44] vinothchandar commented on #35
Upon deep introspection of the Spark 2.x code line, it seems like the changes ought to be in

- CatalogFileIndex.scala

Need more clarity.

[2017-01-10 02:55] vinothchandar commented on #45
Ideas around this
- Having a list of all file ids within each partition path
- Having query engines filter the versions, based on commit metadata

[2017-01-10 21:55] prazanna commented on #38
Few options discussed here.

There are 3 problems
- Recover from a partially written log
- Atomically publish a delta commit
- Handle duplicates in log when spark retries on failure

Thoughts
- A Delta commit can have metadata about the FileId, delta version, offset and writes all the records of that commit in a block.
- From a list of commits and FileID, we can get the list of delta files and off

[2017-01-11 05:28] prazanna opened #58 "Hoodie dataset not queryable because of invalid parquet files. All invalid parquet files are of 4b in length."
Root cause:
=========

* 20170110210127 commit succeded with all files having valid content, archived and cleaned.
* Komondor gets the RDD[WriteStatus] and calculates the count() on this RDD to update num of bad records etc
* Hoodie persists the RDD to avoid recomputation
* Because of DataNode restarts, some of the persisted is not available and Spark re-executes the upsert DAG for the partitions

[2017-01-11 05:30] prazanna opened #59 "Write a unit test that test the recomputation of a DAG partition"
This is to ensure that Driver does not do anything that breaks the idempotency of the upsert or insert DAG. Re-compute can always happen if the persisted RDD[WriteStatus] is lost (or some partitions of the RDD are lost).

[2017-01-11 05:30] prazanna commented on #58
Related issue: https://github.com/uber/hoodie/issues/59

[2017-01-11 10:16] #58 closed

[2017-01-17 07:35] prazanna opened #62 "HoodieClient.commit() fails to collect HoodieWriteStat"
`java.lang.IllegalArgumentException: Size exceeds Integer.MAX_VALUE
	at sun.nio.ch.FileChannelImpl.map(FileChannelImpl.java:869)
	at org.apache.spark.storage.DiskStore$$anonfun$getBytes$2.apply(DiskStore.scala:125)
	at org.apache.spark.storage.DiskStore$$anonfun$getBytes$2.apply(DiskStore.scala:113)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1206)
	at org.apache.spark.storage.

[2017-01-17 07:39] prazanna commented on #62
This is possible when insert parallelism is too small or when there are lot of error during insert (most likely) and 1 or more RDD[WriteStatus] serialized all the error records and it became more than 2 GB and this is a fundamental limit on the block size of a RDD. https://issues.apache.org/jira/browse/SPARK-1476.

Workaround would be to increase the parallelism when doing the collect() in HoodieW

[2017-01-17 17:39] prazanna opened #63 "Port the current Merge-On-Read branch over Model-Refactor branch"
We have some naive/first take code sitting around done for the POC on Merge on Read. Port the code over the model refactor branch and merge them all into master and continue refining on master.

[2017-01-17 17:44] prazanna commented on #44
#22 Resolves this as part of the refactor

[2017-01-24 09:01] prazanna opened #65 "Implement Reliable, Fault tolerant and atomic log appender and reader"

[2017-01-24 16:50] vinothchandar commented on #35
There are broadly three approaches we can take here.

### Approach 1 : Setting Path filters

Only works on Spark 2.x, we have to do something like below.

`spark.sparkContext.hadoopConfiguration.setClass("mapreduce.input.pathFilter.class", classOf[com.uber.hoodie.hadoop.HoodieROTablePathFilter], classOf[org.apache.hadoop.fs.PathFilter]);`

Tested basic counts, and a three-way join. Seems to work.

[2017-01-24 16:53] vinothchandar commented on #35
For now, will get Approach 1, ready, so we have 1 more option in the bag. Will add unit tests around joins etc..

  @prazanna how is our path towards Spark 2.0 looking?

[2017-01-25 16:30] vinothchandar opened #67 "Add more extensive tests for hoodie-hadoop-mr across all query engines"
Specifically following tests need to be executed across Hive/Presto/Spark2.x

- [ ] hoodie vs non-hoodie table join
- [ ] hoodie vs hoodie table vs non-hoodie table join
- [ ] non-hoodie vs non-hoodie vs hoodie table join
- [ ] group by/aggregations on above

cc @prazanna , will tackle the tests here as a separate PR .

[2017-01-25 16:32] vinothchandar commented on #62
yep. we could auto tune this too, but having more parallelislm in commit does not hurt.

[2017-01-25 16:41] vinothchandar opened #68 "Introduce neat abstractions for HoodieFile"
Some of this discussion happened already in #64

High level, we want to decouple hardcoded assumptions on Parquet, and sequcne file etc and introduce a HoodieFile interface

then there could be subclasses for
HoodieDataFile (for Parquet/ORC storing columnar data)
HoodieLogFile (for sequence/avro files storing commits/delta records)

and so forth

[2017-01-27 00:00] prazanna opened #70 "Dynamically configure the number of entries in BloomFilter index based on size of the record"
Use averageBytesPerRecord() logic to configure the number of entries in BloomFilter.
If the number of entries in bloom filters / number of row keys is too small, then bloom filter becomes inefficient with a lot of false positives.

[2017-01-27 18:51] #29 closed

[2017-01-29 23:22] #18 closed

[2017-01-31 16:04] prazanna opened #72 "Introduce HoodieRealtimeTableView and implement HoodieRealtimeTableCompactor"

[2017-02-04 00:48] vinothchandar opened #74 "Investigate support for bucketed tables ala Hive"
fyi  @zshao , for tracking .

[2017-02-06 18:20] vinothchandar commented on #19
I spent some time fleshing this out and here 's what I propose to redesign this and turn it into a very useful utility, that can ingest a kafka topic/sqoop output (Sqoop incremental import, basically writes .avro files onto hdfs . ), flume output whatever..

We generalize three concepts

-  Sources : (Code to read a source and checkpoint it to keep doing it incrementally)
    - HDFS : Files upload

[2017-02-06 18:26] dterror commented on #19
We (@ Shopify) would be very much interested in that too. Right now we have a custom SQOOP-like extractor with some custom logic built-in, but we'd love to streamline the process to the point that extraction/integration is a simple utility.

[2017-02-06 19:01] vinothchandar commented on #19
Sounds good then..

We have a few folks at Uber who are looking to tee their writes to Cassandra/ElasticSearch into a Kafka topic and make it available on Hadoop. Looks like doing this right, will alleviate a lot of issues..

[2017-02-08 03:37] vinothchandar commented on #19
I plan to work on this over the weekend..

@dterror Would this be directly usable at Shopify? I ll add you to the PR, so you can suggest edits

[2017-02-08 03:42] vinothchandar commented on #15
Here's my proposed changes..

a) Have the HoodieIOHandle write a `.hoodie_meta` file in each partition path, with the base path for that hoodie dataset
    - Will take care of partial writes, concurrent writes etc
b) Modify HoodieInputFormat and HoodieROTableFilter to first look for meta file, then fall back to current logic if not found
c) Will add a utility to CLI, to write this metadata out to

[2017-02-08 03:42] vinothchandar commented on #15
@prazanna cool with ths?

[2017-02-08 03:58] dterror commented on #19
Yes, it is usable, (just not immediately usable), but would definitely love
being added. Thanks @vinothchandar

On Tue, Feb 7, 2017 at 10:37 PM vinoth chandar <notifications@github.com>
wrote:

[2017-02-09 20:15] siddharthagunda opened #75 "Add support to delete an existing row"
Hoodie currently supports inserts and updates. We need deletes for some use cases.

[2017-02-09 21:25] prazanna commented on #75
One usecase is:
recordkey, partition_path mapping changed upstream and this needs to be repaired in the hoodie dataset.

Assigning to self.

[2017-02-09 22:01] prazanna commented on #75
Assigning it to @siddharthagunda

[2017-02-10 17:13] vinothchandar commented on #15
Minor change..
Planning to store the depth of the partition relative to the basepath (as opposed to absolute base path).. that way, someone can copy the dataset to another path and funny things wont happen

[2017-02-11 11:21] prazanna commented on #36
I have abstracted this in https://github.com/uber/hoodie/pull/76. If that is what you mean here, we can close this. Otherwise please add more details.

[2017-02-11 11:23] prazanna opened #77 "Compaction today uses a Avro file scan to read all the records"
It should use the logVersion and logOffset in HoodieDeltaWriteStat - from the delta commits to read all the records (avro log files can have corrupted blocks)

[2017-02-14 15:59] vinothchandar commented on #75
@siddharthagunda welcome.. Please post a small blurb of the design before you go full steam on the impl

[2017-02-18 04:12] vinothchandar opened #81 "Presto plugin for Hoodie"

[2017-02-24 00:10] prazanna commented on #54
Omkar @ovj  will be taking this up.

[2017-02-24 00:40] prazanna commented on #54
General steps
1. Read existing data and upsert into target hoodie dataset (if the source parquet files does not have duplicates - then this copy can be avoided - may be have a flag for this)
 a. If no data copy - then rename the files, read and compute write back files with bloom filters
 b. If it involves data copy - then re-use much of the upsert path
2. Create a backfill commit.

[2017-02-27 23:52] #52 closed

[2017-03-05 19:12] #75 closed

[2017-03-06 04:39] vinothchandar commented on #35
Closing this.. the current path filter based approach is verified on the spark ticket

[2017-03-06 04:39] #35 closed

[2017-03-08 23:12] prazanna commented on #51
Hoodie 0.3.0 is moved to Spark 2.1.0

[2017-03-08 23:12] #51 closed

[2017-03-08 23:14] prazanna opened #87 "Make commit archival abstract for all metadata"
... and make sure clean and rollback metadata is archived. Today older metadata files are deleted.

[2017-03-08 23:19] dterror commented on #51
Awesome

On Wed, Mar 8, 2017, 6:12 PM prazanna <notifications@github.com> wrote:

[2017-03-09 21:28] prazanna opened #88 "Implement Savepoints for Merge On Read table"
Today it only supports Copy on Write table

[2017-03-10 01:21] vinothchandar commented on #19
This is how the cli options look now.. Lets the user drop their own implementations for
 -  `Source` => HDFS, Kafka, another Hoodie table
-  `SchemaProvider` => Default just read from a file. We can integrate Confluent registry as follow task
- `Payload`  => Default just overwrites the table with value from Source. But user can do soemthing custom
- `KeyExtractor` => How do extract the `HoodieKey`

[2017-03-10 01:21] vinothchandar commented on #19
I am coding up the Source now with some testing.. Roughly 1 more week ETA.

[2017-03-11 07:06] prazanna opened #90 "Implement Global Index to map a record key to a <partition path, FileID> pair"
This will speed up the indexing which is currently done through looking up bloom filters for all files in the partition

[2017-03-11 07:07] prazanna commented on #90
A interesting project - succinct - https://github.com/amplab/succinct/blob/master/spark/src/main/scala/edu/berkeley/cs/succinct/SuccinctRDD.scala

[2017-03-12 14:36] janl opened #91 "[Name Clash] Hoodie / https://github.com/hoodiehq / http://hood.ie"
Dear Uber Engineering team,

congratulations on open sourcing such an impressive piece of work!

I’m the co-initiator of the Hoodie (http://hood.ie / https://github.com/hoodiehq) open source project and I’d like to discuss the name clash of the two projects.

Hoodie is an open source, [offline-first](http://offlinefirst.org), web application development backend (think of an open source Firebase, b

[2017-03-12 17:31] prazanna commented on #91
Hey Jan,

Thanks for bringing this up. Sorry about the oversight. We will most certainly change the project name. The name (Hoodie) was an extension of HUDI - Hadoop Upsert Delete and Inserts.

In 3 days, we have a [strata talk](https://conferences.oreilly.com/strata/strata-ca/public/schedule/detail/56511) , where we are talking about Hoodie. We may not be able to change the name everywhere before

[2017-03-12 18:22] janl commented on #91
@prazanna thank you for replying so soon and thank you for taking quick action.

No worries about a transition phase.

And good luck with the strata talk! :)

Thank you for the kind words about Hood.ie!

Best
Jan
—

[2017-03-13 19:41] #19 closed

[2017-03-14 06:11] #21 closed

[2017-03-15 22:59] ovj opened #94 "Tool to convert Hive tables into hoodie dataset"
Look at HoodieDataImporter --source-type. Currently it supports "hdfs" (reading from parquet files as is). Scope for this bug is to implement "hive" [source-type] to read from registered hive tables using HiveContext.

[2017-03-15 23:00] ovj commented on #54
Reducing the scope of this bug to only handle --source-type == "hdfs". Created another issue to handle "hive" source-type. https://github.com/uber/hoodie/issues/94.

[2017-03-17 03:01] zqureshi opened #96 "Support multiple filesystems"
Currently `FSUtils.getFS()` only supports fetching the current Filesystem but perhaps it would be better to fetch FS based on the passed URI.

There are about 5 dozen `getFS()` calls sprinkled around the codebase, what do you think is the best way to approach this?

[2017-03-17 03:01] zqureshi commented on #96
/cc @dterror

[2017-03-17 04:22] prazanna opened #97 "Metadata timeline marks an already complete instant as complete again"
`completed` filenames are the same, where it's trying to
`mv .hoodie/001.clean .hoodie/001.clean`

Should this be happening? On HDFS it probably results in a noop but
GCS wrapper barfs

cc @zqureshi @vinothchandar

[2017-03-17 04:27] zqureshi commented on #97
There are also a couple of tests that are trying to commit instants that are not in flight. Do you think it would be a good step to sprinkle assertions around core conditions in the writer / instant handling?

https://github.com/uber/hoodie/blob/master/hoodie-common/src/test/java/com/uber/hoodie/common/table/string/HoodieActiveTimelineTest.java#L55

[2017-03-17 04:28] zqureshi commented on #97
Looks like you just did that!

[2017-03-17 05:25] ovj commented on #96
@zqureshi Take a look at this. May become helpful in general (Only for testing right now). https://github.com/uber/hoodie/pull/89/files#diff-bfcb3fd7efec4239ae9c1ab0e4ea3d36R62

[2017-03-17 16:56] zqureshi commented on #96
Thanks @ovj will take a look.

[2017-03-17 19:42] #97 closed

[2017-03-17 22:20] prazanna opened #99 "Skew in Hoodie tagLocation"
InputPrallelism=2;

And the RDD is as follows. Sorted on fileid first and rowkey second.

(Row1, ProbableFileID1)          --- Task1
(Row1, ProbableFileID2)          --- Task1
(Row1, ProbableFileID3)          --- Task1
(Row2, ProbableFileID4)          --- Task2
(Row3, ProbableFileID4)          --- Task2
(Row4, ProbableFileID4)          --- Task2

In this case, Task1 is processing 3 files and Task2

[2017-03-17 22:20] prazanna commented on #99
hadoopworker1246/25940 - was opening bloom filter for about 200 files and reading the entire file contents for ~50 files
hadoopworker1157/24735 - was opening bloom filter for 1 file.

This is not trivial to repartition based on just files. We cannot exceed 2GB in the remote shuffle block after join (ProbableFileId1, RowKey), which is why we auto size and split the partitions (files * records / num

[2017-03-17 22:23] HenryCaiHaiying opened #100 "How do you get data between a time range?"
I was reading your blog post: https://eng.uber.com/hoodie/

In Incremental Processing section:
"incremental changeset can be pulled from a Hoodie-specific dataset within a start timestamp and an end timestamp."

I think you only have the delta file between a timestamp range in row format avro file, once it's compacted into parquet, it would merge into the latest snapshot, and you don't have the de

[2017-03-17 22:27] HenryCaiHaiying opened #102 "bloom filter for record -> fileid mapping"
In your blog post, https://eng.uber.com/hoodie/, you mentioned using bloom filter to store the recordKey->fileid mapping.

But bloom filter can only answer whether this key is definitely not in the set, does that you mean you would still need to linearly scan the files if the answer is possibly in?

[2017-03-17 22:33] prazanna commented on #100
Hey @HenryCaiHaiying,

Thanks for the question.

Answer to that question is we store the commit time in the record that is saved. So when you set the mode to be incremental, the appropriate parquet file versions are picked by the input format (https://github.com/uber/hoodie/blob/master/hoodie-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java#L104) and using a predicate  _hoodie

[2017-03-17 22:36] prazanna commented on #102
Yes, once bloom filter test passes, we ensure that the key is actually in the parquet file. Columnar access of a single field is usually very effective in parquet. Bloom filter false positive rate is configured by default as 0.000000001 (very low).

-Prasanna

[2017-03-17 22:44] HenryCaiHaiying commented on #100
Thanks, very helpful answer.

[2017-03-17 22:50] HenryCaiHaiying opened #103 "Do you support row format other than Avro?"
We are using Thrift and Json based sequence file here, is that easy to add support for that format as row format?

[2017-03-17 22:52] HenryCaiHaiying opened #104 "Is Spark Streaming the only supported ingestion system?"
From the blog post, it seems the ingestion component is spark.  We have our own ingestion system here (secor), to integrate with hoodie, do we just need to layout the partition file folders accordingly or will there be more work?

[2017-03-18 01:20] vinothchandar commented on #102
Note that this fp rate is much much lower than what is used in LSM based key value stores, if you are thinking about that..

Just wondering, do you have a potential use for hoodie?

[2017-03-18 01:22] vinothchandar commented on #103
It should be, although have not tried it.. Merge on read, in general is under active development, so we can definitely make this work as needed..

[2017-03-18 01:24] vinothchandar commented on #104
Ah secor :) . We used that for a while at uber too. Its hard to integrate with Secor, in general we moved away from Secor & High level consumer, since it could not scale to 1000s of kafka topics we have..

Anyways, I encourage you to take a look at `HoodieDeltaStreamer` which achieves similar exactly once ingestion.. Another issue for you could be dealing with S3 & eventual consistency.. We are tr

[2017-03-18 06:44] vinothchandar commented on #99
For #2, it depends on the amount of files in each partition, as you put it..  the subpartitioning will explode the bigger partitions into multiple subpartitions to try handle it..

Coming back to #1,

`task1 - was opening bloom filter for about 200 files and reading the entire file contents for ~50 files`

do we know the time split between reading the bloom filter for 200 files vs reading contents

[2017-03-18 18:17] hoodielib commented on #7
And also

- df.write.format('hoodie').save() should work seamlessly

[2017-03-18 19:05] vinothchandar commented on #81
Here we hope to have support for faster, point lookup (batch)

[2017-03-18 19:07] vinothchandar opened #106 "test issue"

[2017-03-18 19:18] vinothchandar commented on #106
test comment

[2017-03-19 07:28] #100 closed

[2017-03-19 17:07] #106 closed

[2017-03-20 14:05] DSouzaM opened #107 "Lightweight python commit reader"
We are developing a simple client library in python to identify what files to read within hoodie datasets. We have two main use-cases at this point:

1. Determine the latest version for every dataset file, in order to read a complete dataset as it exists at a given timestamp.
2. Determine the latest version for only files that have changed since a given timestamp, in order to read changes incremen

[2017-03-20 19:58] siddharthagunda opened #108 "Ability to run hoodie file cleaner asynchronously"
@prazanna

[2017-03-20 21:37] vinothchandar commented on #107
Thanks for suggesting this feature.  Sounds like a good thing to add for folks doing pySpark etc ..  I will think a little about file structure for housing python files and report back.

At a high level, this sounds a lot like `HoodieReadClient`, it might be worthwhile to see if the logic from the class can be invoked by python? (same way pySpark calls the jvm RDD classes to get its stuff done)..

[2017-03-20 21:38] vinothchandar commented on #108
@prazanna and I did a brainstorm, to see if cleaning async should cause issues. I think it should be fine.. Just in case, think through any more corner cases at a conceptual level, before we go ahead to impl?

[2017-03-21 14:27] DSouzaM commented on #107
Thanks for the feedback. I agree, maintenance is a lot easier with one codebase to worry about. The code we have so far has been mostly a copy of the `HoodieReadClient` in python.

Invoking java through python is definitely an option, but at this point we'd prefer to have a pure python option. I think we're going to try to continue working on the python version internally (and hopefully open-sourc

[2017-03-21 20:52] vinothchandar commented on #107
sure. sounds good.
If you think pure python version is better, sure we can merge it in a PR here too. Please keep us posted.

[2017-03-22 00:47] yssharma opened #110 "s3 support for Hoodie"
We have all our data on S3 and use HDFS only for intermediate data.
Can Hoodie work with S3 as well?

[2017-03-22 01:09] prazanna commented on #110
Hoodie can work with S3 potentially if (that is a big if) we can
1. Use the DistributedFileSystem API to access S3
2. Achieve strong consistency guarantees (stricter than the default eventual consistency provided by S3)

Not an expert in S3, but in general the above are the requirements for plugging in any file system.
Hope this clarifies. We spoke to multiple people who wanted support for S3, thi

[2017-03-22 01:20] yssharma commented on #110
Are there any classes/docs I can start having a look about adding a new data source ?

[2017-03-22 04:15] vinothchandar commented on #110
#1 is doable..  #2 is where we may need to invent some tricks might be needed..

Per docs, https://aws.amazon.com/s3/faqs/

http://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html#ConsistencyModel has more on this. Assuming a new file is a new object in s3, with file name as key - what the doc says is if you list the bucket after you created new file, you may not see the files..  The abov

[2017-03-22 06:35] prazanna commented on #91
Hey @janl,

I spoke to people concerned and got the go ahead to change the name.
I have set up the maven central artifacts as com.uber.hoodie:hoodie-client etc.
Changing this would involve a lot of work around internal projects.

I would like to change the github project url to github.com/uber/hoodielib and make sure all the external reference and documentation/slides refers as hoodielib. Wanted t

[2017-03-22 06:53] yssharma commented on #110
I am going through the docs and will have a look at the code soon.
We run Athena too with all our data sitting on S3, might be able to test it there.
Thanks.

[2017-03-22 09:43] yssharma commented on #110
Facing some issues while creating the Hoodie test table. Looks like the new code removed - com.uber.hoodie.hadoop.HoodieOutputFormat.

`CREATE EXTERNAL TABLE hoodie_test(`_row_key`  string,
`_hoodie_commit_time` string,
`_hoodie_commit_seqno` string,
 rider string,
 driver string,
 begin_lat double,
 begin_lon double,
 end_lat double,
 end_lon double,
 fare double)
PARTITIONED BY (`datestr` string

[2017-03-22 17:50] vinothchandar commented on #110
@yssharma Thanks for pointing out. Will fix the docs shortly..

TBH, there is still work to be done in terms of easing registration into Hive.. We have not fully integrated hoodie-hive into tools/examples.. Ideally we want the ClientExample to register the table into Hive and have it queryable in Spark/Presto, all in a docker image:) .. Will get there..

Please keep us posted on s3..

[2017-03-22 18:18] DSouzaM commented on #107
Awesome! We'll open up a PR once we've gotten a little further along with it.

[2017-03-22 18:58] prazanna opened #111 "Modify README of any changes when trying out Getting Started Guide"
Modify README to remove HoodieOutputFormat and any other changes you needed when you tried out the getting started guide.

cc @yssharma @vinothchandar

[2017-03-22 19:01] ovj commented on #111
yes. Let me do that.

[2017-03-22 21:36] yssharma commented on #110
+1 for Docker image.
I was thinking of creating a minimal hive external table with Hoodie, having its data on S3. Wanted to see how the data is written to s3. What is the best way to create tables with hoodie file formats ?
Few thoughts in my mind -
- Accessing s3 file system through api should be doable, similar to how spark reads from s3.
- Where do we use strong consistency in Hoodie ? Do we wr

[2017-03-22 22:24] vinothchandar commented on #110
you can see https://github.com/uber/hoodie/pull/95 for adding s3 support.. That PR adds support for Google Cloud.. You can try running HoodieClientExample to write to S3.. basically the quick start.

Let me illustrate an example problem:

Hoodie commit writes a <timestamp>.commit file under the `.hoodie`  metadata folder, to make successful ingestion. Query picks up new commit, but can't find the

[2017-03-22 22:26] vinothchandar commented on #110
we can add you to our slack channel, if you are interested in pursuing this more.. We can have a more interactive discussion on this too..

[2017-03-22 23:38] yssharma commented on #110
Yes i would like to check more on this. Please add me to your slack channel and I can ask my questions there.
Cheers.

[2017-03-22 23:40] vinothchandar commented on #110
email?

[2017-03-23 00:07] yssharma commented on #110
Emailed you.

[2017-03-23 01:08] ovj commented on #111
Submitted pull request. https://github.com/uber/hoodie/pull/112

[2017-03-23 01:25] #111 closed

[2017-03-23 11:33] prazanna commented on #104
Please re-open if you have any follow ups/ Thanks.

[2017-03-23 11:33] #104 closed

[2017-03-23 11:33] prazanna commented on #103
Please re-open if you have any follow ups/ Thanks.

[2017-03-23 11:33] #103 closed

[2017-03-23 11:33] prazanna commented on #102
Please re-open if you have any follow ups/ Thanks.

[2017-03-23 11:33] #102 closed

[2017-03-23 18:02] zqureshi commented on #96
I'm starting to scope this out.

[2017-03-23 19:22] HenryCaiHaiying opened #115 "Does HiveIncrementalPuller works for compact tables?"
By looking at HiveIncrementalPull, looks like it's get records from newly appeared files.  But if the source are generated from hoodie compaction, those compacted files will have older records as well.

I don't seem to see any filtering inside the file to filter out older records.

[2017-03-23 21:12] HenryCaiHaiying commented on #94
Is this work in progress, how soon would we see a PR?

[2017-03-23 21:36] HenryCaiHaiying opened #116 "HoodieInputFormat#constructHoodiePredicate"
I saw the following code in HoodieInputFormat was commented out, what was the issue needs to be fixed?

    public RecordReader<Void, ArrayWritable> getRecordReader(final InputSplit split,
        final JobConf job, final Reporter reporter) throws IOException {
        // TODO enable automatic predicate pushdown after fixing issues
//        FileSplit fileSplit = (FileSplit) split;
//        Hoodi

[2017-03-23 22:25] HenryCaiHaiying commented on #110
For the S3 eventually consistency on PUTS followed by LIST, for the problem mentioned above:

"Hoodie commit writes a .commit file under the .hoodie metadata folder, to make successful ingestion. Query picks up new commit, but can't find the files that where written during the commit.. This will result in some new files not processed by the query."

It seems to me a minor problems, you don't get t

[2017-03-23 22:33] HenryCaiHaiying commented on #110
Maybe one way to make it stronger consistency is use the fact that PUTS followed by GET is strongly consistent.

When the ingestion component generates the abc.commit file, it also adds/appends abc.commit filename into a inFlight S3 file.  When query comes in later, and HoodieTableMetaClient.scanFiles is called, it will use the content in that inFlight S3 file to amend the result it got from fs.li

[2017-03-23 22:50] vinothchandar commented on #115
If you are talking about merge-on-read, this could be true.. @prazanna would know more.. Generally utilities have not been revamped for merge-on-read yet

[2017-03-23 22:52] vinothchandar commented on #110
Top off my head, yes seems like the query will be stale until s3 syncs, and if you don't perform another commit within that, it should be fine..

@HenryCaiHaiying if you are interested, we can add you the slack group. We have a channel where we are toying around with this..

[2017-03-23 23:03] prazanna commented on #116
Automatic predicate pushdown was not not getting picked up.

So this is why for incremental pulls you pass in the predicate in the query (_hoodie_commit_time > 'startTs').

[2017-03-23 23:04] prazanna commented on #115
Yes - Incremental pull works fine on compacted parquet files in copy on write storage format. The filtering predicate needs to be passed as specified in the getting started guide.

[2017-03-23 23:09] prazanna commented on #110
No strong consistency on the underlying file system is an absolute requirement with the current way hoodie is implemented. Query is just one part. Ingestion looks up the files to get the index and look up whether a record is already present or not. If the underlying file system only guarantees eventual consistencies, you may end up with duplicates and once you have duplicates for a row_key within

[2017-03-23 23:11] prazanna commented on #91
ping @janl. Would referring to this hoodie as hoodielib in all the places alleviate any confusions developers might have?

[2017-03-23 23:12] HenryCaiHaiying commented on #115
Does the quick start guide covers this tool: HiveIncrementalPuller?  I
don't see the code was using any predicate.

On Thu, Mar 23, 2017 at 4:05 PM, prazanna <notifications@github.com> wrote:

[2017-03-23 23:24] prazanna commented on #115
You are right :). The documentation was not updated.

Updated it now.

Generally been quite busy and documentation kind of fell behind. We will try to keep up. But in general a note is the incremental pull and ingesting in copy on write mode has been in production for us for more than 8 months and a lot of edge cases has been ironed out. So If you would like to try out incremental processing on HD

[2017-03-23 23:24] gr2m commented on #91
@prazanna I feard hoodielib is not better than just hoodie. We would very much appreciate if you could change the name entirely, without hoodie being part of its name.

[2017-03-23 23:44] HenryCaiHaiying commented on #115
Thanks.

A related question.  Currently there is no tool to create a hoodie table
from the existing hive table.  Does this HiveIncrementalPull actually can
do this work (for the initial bootstrap)?

On Thu, Mar 23, 2017 at 4:24 PM, prazanna <notifications@github.com> wrote:

[2017-03-23 23:47] prazanna commented on #115
@ovj will point you to a tool which can convert existing parquet files in HDFS to a hoodie dataset.

If there is just one commit, incremental pull does not quite make sense. You can may be look at HoodieDeltaStramer to ingest more batches to that dataset before trying out incremental pull.

cc @vinothchandar

[2017-03-24 00:21] HenryCaiHaiying commented on #110
What do you think the idea of keeping a directory listing file of meta files under each partition folder, keep the content current on each meta file add/delete.  filesystem.listStatus will consult this directory listing file for any new files.

S3 guarantee read-after-write consistency for PUT then followed by GET.

[2017-03-24 01:18] HenryCaiHaiying commented on #110
Another thought on this problem, the code usually do listStatus() on dataFolder get a list of data files, and do another listStatus() on metaFolder to get a list of meta files, the LIST operation would have consistency problems in S3.

But we don't have to do this way, when we get a list of data files, we have the file path for each data file and we know the corresponding meta path for each data f

[2017-03-24 04:46] yssharma commented on #110
Can we add re-tries while Hoodie tries to read the files listed in the commit file. It would start processing the files present and will later re-attempt to process the files not found in last round.
Also, eventual consistency is not the only issue, since S3 also throttles read if they are beyond threshold, hence failing the read request. Re-try should address that as well.

Spark has a similar re

[2017-03-24 17:57] prazanna commented on #91
@gr2m

Fair Enough. Coming up with a totally different name would involve quite a bit of changes from our side
1. Maven artifacts needs to be changed and deployment process to maven central needs to change
http://repo1.maven.org/maven2/com/uber/hoodie/
2. Internal production systems needs to be upgraded
3. Preserve history and move github project under a different name
4. Internal approval of the

[2017-03-24 18:43] prazanna commented on #108
Following are the release versions for the branches. This has index parallelism and async clean features. This has just been released to maven central.

Spark 1.5 - Hoodie - 0.2.15
Spark 2.1 - Hoodie - 0.3.2

[2017-03-24 18:43] #108 closed

[2017-03-24 20:15] vinothchandar commented on #110
Interesting ideas. IMO Such functionality to retry can be built more eleganantly outside, as a service that simply tracks to which commit is the dataset consistent at, on the underlying filesystem.. (rather than pushing it down to Hoodie/query engines) .. the hoodie commit file already contains the list of files that were written during the commit, and the service can simply verify that these file

[2017-03-25 00:50] HenryCaiHaiying opened #118 "Fix issue in running HoodieClientExample"
I was trying to run the HoodieClientExample, by the following:

hcai@monarch-adhoc-011-20161122-data-gateway-prod-0a01a7b6:/data/xvdb/hcai/hoodie/hoodie-client$ java -cp ../hoodie-cli/target/lib/*:target/test-classes HoodieClientExample

Hit the following error, looks like there is some incompatible jars in hoodie-cli/targe/lib:

1524 [main] INFO  HoodieClientExample  - Starting commit 001
Excepti

[2017-03-25 18:04] vinothchandar commented on #118
HoodieClientExample is under hoodie-client package... Can you try running from an IDE, you may need to add the spark jars into the project, since that is only `provided` maven scope

[2017-03-26 20:49] vinothchandar opened #119 "Checkin java classess corresponding to .avsc files"
`import com.uber.hoodie.avro.model.HoodieCleanMetadata;
import com.uber.hoodie.avro.model.HoodieRollbackMetadata;
import com.uber.hoodie.avro.model.HoodieSavepointMetadata;`

These imports fail with HoodieWriteClient.. I think these are produced from the avsc files.. These files need to be checked in too.

If anyone changes the .avsc files, then they ll automatically update the javaclasses too..

[2017-03-26 23:57] ovj commented on #94
(parquet files) -> hoodie dataset tool is available. I think no one is working on (hive table) -> (hoodie table) yet.

[2017-03-27 00:31] prazanna commented on #119
I dont think anything that is generated should be in version control. There are different schools of thought on this though, I am okay to check it in as well. But in general, I make sure target/src/main/resources is also added as java sources in my IDE helps with running it from IDE.

[2017-03-27 00:37] vinothchandar commented on #119
I completely disagree.. It makes sense for protocol messages and this kind of metadata message schema, where it should nt keep changing..

I am happy if we can somehow make the classpaths work out-of-box, for an IDE import.. otherwise, its better to check these in, for better developer experience

[2017-03-27 01:12] prazanna commented on #119
Build-helper-maven-plugin http://www.mojohaus.org/build-helper-maven-plugin/add-source-mojo.html should automatically add the target/generated/src/main/java to sources in the IDE.

[2017-03-27 02:28] vinothchandar commented on #119
Not following. You are suggesting to add this or saying this works already?

[2017-03-27 04:44] prazanna commented on #119
Adding this should remove that manual step in the IDE. I will send in a PR.

[2017-03-27 06:54] yssharma commented on #110
Sounds good to me. Will have a look at this to add the check to list status.
How long can the list of commit files be typically. Would we be losing lot on the performance side doing a huge scan ?

[2017-03-27 18:15] vinothchandar commented on #110
old commits get archived eventually.. so it will be bounded to < 50 or so.. (configurable)

[2017-03-27 21:15] vinothchandar commented on #110
Hmmm.. Complication.. https://wiki.apache.org/hadoop/AmazonS3  as per this, rename is not atomic.. We need atleast 1 thing to be atomic, for all the above to be doable..

[2017-03-27 21:54] vinothchandar opened #123 "Fixing Spark & Hive jar mismatch for hive registration via hoodie-hive"
This is a hairy issue. Spark comes with its version of Hive, which could be different from what version of Hive itself being run.  Ultimately since Hoodie is a spark app, this means any incompatibility here prevents hivesync being done inline from a tool like HoodieDeltaStreamer, and forced to run a separate task on a workflow engine..

We need a long term fix for this, to be able to seamlessly re

[2017-03-28 00:27] fishie9 opened #124 "Hoodie is writing absolute paths in .commit files"
In the .commit files, the field "fileIdAndFullPaths" is listing all full paths of the parquet files. This might be problematic when the entire folder gets moved.

[2017-03-28 00:36] HenryCaiHaiying commented on #118
I added this section to pom.xml for hoodie-client/, now it works from command-line:

diff --git a/hoodie-client/pom.xml b/hoodie-client/pom.xml
index 617dc9c..b3be5bb 100644
--- a/hoodie-client/pom.xml
+++ b/hoodie-client/pom.xml
@@ -27,6 +27,42 @@
     <packaging>jar</packaging>
     <build>
         <plugins>
+      <plugin>
+        <groupId>org.apache.maven.plugins</groupId>
+        <artifact

[2017-03-28 01:29] yssharma commented on #123
Looks like Spark is having its own dependencies for hive - https://mvnrepository.com/artifact/org.spark-project.hive

[2017-03-28 02:50] yssharma commented on #118
+1 for this.
I had trouble running from command line and had to settle for the Intellij run. This will make running the example more handy.(We can also mention this command on the getting started page.)

I still hit the same error after building with the dependency-plugin -

`1283 [main] INFO  com.uber.hoodie.common.table.HoodieTableMetaClient  - Finished Loading Table of type COPY_ON_WRITE from f

[2017-03-28 12:04] vinothchandar commented on #118
Generally, we build fat jars out of hoodie-utilities..  May be we can move the client example there?

@prazanna WDYT?

[2017-03-28 12:06] vinothchandar commented on #124
Good point. Probably we just need path relative to basePath alone?

Would you like to take a stab at it? or I can get to it in next weeks.

[2017-03-28 12:06] vinothchandar commented on #123
yes Spark bundles hive as well.

[2017-03-28 12:29] vinothchandar commented on #94
@HenryCaiHaiying ultimately, like to get the spark datasource done, (with working Hive registration if possible).. Then this functionality  should be just `spark.table('sourcetable').write.format('hoodie).save` hopefully.

Currently, feel like we are writing a lot of silo tools. :)

[2017-03-28 16:04] ovj opened #125 "NPE in Hoodie Create Savepoint"
Root cause is jsc passed in is null. Submitting pull request.

java.lang.NullPointerException
    at com.uber.hoodie.HoodieWriteClient.savepoint(HoodieWriteClient.java:465)
    at com.uber.hoodie.cli.commands.SavepointsCommand.savepoint(SavepointsCommand.java:100)
    at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
    at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAcces

[2017-03-28 16:08] ovj commented on #118
+1 for this. Even I ran into this issue today. Its happening while running SavePointCreateCommand

[2017-03-28 16:10] vinothchandar commented on #118
how's  the NPE in #125 related to this?

[2017-03-28 16:11] ovj commented on #118
ohh no after fixing NPE I ran into this. trying this change on top of that.

[2017-03-28 16:12] ovj commented on #118
Corresponding stack trace.

17/03/28 09:05:23 INFO timeline.HoodieActiveTimeline: Loaded instants [[001__clean], [001__commit]]
17/03/28 09:05:24 ERROR core.SimpleExecutionStrategy: Command failed java.lang.NoSuchMethodError: com.fasterxml.jackson.module.scala.deser.BigDecimalDeserializer$.handledType()Ljava/lang/Class;
Exception in thread "Spring Shell" java.lang.NoSuchMethodError: com.fasterxml.

[2017-03-28 16:18] ovj commented on #118
Not sure how to apply this patch. Is there a diff? @HenryCaiHaiying

[2017-03-28 16:45] prazanna commented on #125
Sorry did not rework the CLI after making savepoints parallel. This PR will not work. We need to submit savepoint as a spark command through SparkLauncher. For e.g. Look at CommitsCommand->rollbackCommit. I can take a stab at this later in the day if you are busy with something else.

[2017-03-28 16:59] HenryCaiHaiying commented on #118
The diff is already in my message.  You can save it to a file and use
'patch -p1 < that-diff-file' to apply on your machine.

I used this command 'java -cp
target/test-classes:target/hoodie-client-0.3.1-SNAPSHOT.jar:target/lib/*
HoodieClientExample' to start the process.  You can probably put that into
a shell script.

On Tue, Mar 28, 2017 at 9:18 AM, ovj <notifications@github.com> wrote:

[2017-03-28 17:03] prazanna commented on #118
@vinothchandar - Yeah it makes sense to me to move the ClientExample to hoodie-utilities. It was an odd ball in hoodie-client always.

That may not make it runnable. We do not package spark jars in the fat jar - we package the hoodie-utilities jar to be submitted using spark-submit. We cannot create a fat jar with spark dependencies. So as far as i see,

Looks like couple of options may work
1. Ge

[2017-03-28 17:24] janl commented on #91
`hudi` would be fine by us, if that makes things easier for you.

[2017-03-28 17:24] janl commented on #91
Also: thanks again for taking this seriously!

[2017-03-28 17:35] ovj opened #127 "Ability to add and retrieve (key,value) pairs [metadata] to hoodie savepoints."
We will need this feature in order to store extra information along with savepoints. This information should also be made available may be as a part of HoodieInstant? [ tableMetaClient.getActiveTimeline().getSavePointTimeline().getInstants() ]? What do you guys think? @prazanna @vinothchandar

[2017-03-28 17:38] prazanna commented on #127
Can you give an example of what extra information is savepoint specific and not commit specific? Commit has this feature of saving a artibtrary name value pairs with it.

[2017-03-28 17:39] prazanna commented on #127
In general I am okay to have a key value pair for all the instants. Just trying to understand an exmaple here.

[2017-03-28 17:46] vinothchandar opened #128 "Evaluate feasibility of scheduling hoodie pipelines w/o need for external workflow managers"
Per  http://spark.apache.org/docs/latest/job-scheduling.html , Spark already can do schedule tasks internally (we do this at scale already). and Spark has APIs to request and relinquish executors.

https://spark.apache.org/docs/2.0.2/api/java/org/apache/spark/SparkContext.html#requestExecutors(int)

Even for batch pipelines, we would like hoodie pipelines to be run efficiently, like Spark Streamin

[2017-03-28 17:52] ovj commented on #127
It is client side information which is related to savepoint. For example client (user) may want to store extra information about if data is rolled back to this savepoint then where to start ingesting data from; etc. The good thing is for client this will be single source of truth?

[2017-03-28 18:22] ovj opened #129 "Ability to allow branching in hoodie savepoints just like virtual machine snapshots."
Today all the savepoints and commits are forming linkedlist. It would be good if we can allow forking  from some old savepoint. We have use case for this. Let's say we have 3 savepoints;
- Savepoint-1 : 1 Month old
- Savepoint-2 : 1 Week old
- Savepoint-3 : 1 day old

Now let's say that there was some data loss (very small percentage) detected in the way data was imported to hoodie and that starte

[2017-03-28 20:16] prazanna commented on #129
Had a talk with @ovj offline. Have a commit tree brings in too much operational complexity and the ROI is not justified. Asked him to implement as a tool using the HoodieSnapshotCopier, continue ingesting and hoodie-hive to switch the hive table location once caught up.

[2017-03-28 20:16] #129 closed

[2017-03-31 18:11] vinothchandar opened #130 "Determine ideal block and file sizes for Parquet/Avro on HDFS"
This is needed to ensure good query performance and scalability of NameNode

[2017-04-02 20:31] prazanna commented on #43
This is handed by trying to recover the lease internally.

[2017-04-02 20:31] #43 closed

[2017-04-02 20:32] prazanna opened #132 "Failed commits can create Avro log files of size 0KB"
this needs to be cleaned up the next time the ingest happens.

[2017-04-02 20:35] prazanna opened #133 "Rethink metrics for Hoodie Merge on Read"
Think about what merics makes most sense for mor and publish them

[2017-04-02 20:40] prazanna opened #134 "AvroFileReader should never OOM"
Today it maintains the map of recordKey to HoodieRecord and updates them reading one file at a time. This should be okay for now as we do not expect the memory needed to go too much beyond the maxParquetFileSize. But it may be better to back it up with ExternalKeyValueMap which can spill the records to disk when needed

[2017-04-02 20:43] prazanna opened #135 "Implement Asynchronous Compaction"
Compaction by design today is implemented to run inline. The delta commits have a single base commit and all the delta commits for a base compaction commit is compacted to create the next compaction commit. This needs to be rethought to allow asynchronous compaction.

1. Implement Dataset locking
2. Introduce versioning of log files, independent of compaction commit time. (where do we then keep th

[2017-04-02 20:45] prazanna opened #136 "Support realtime view in Spark datasource"
Need to support hoodie merge on read in HoodieReadClient

[2017-04-02 20:49] prazanna opened #137 "More tests around Compaction"
In TestHoodieCompactor, After modifying HoodieReadClient to support realtime tables - add more tests to make sure the data read is the updated data (compaction correctness),  Also add more test cases for compactions after a failed commit/compaction

[2017-04-02 20:52] prazanna opened #138 "CLI Tools for merge-on-read"
1. Check for corrupted log in a partition and Recover log files
2. Manually compact
3. View compaction stats

[2017-04-02 20:54] #44 closed

[2017-04-02 20:54] #62 closed

[2017-04-02 20:54] #22 closed

[2017-04-02 20:55] #65 closed

[2017-04-02 20:55] #72 closed

[2017-04-02 20:55] #63 closed

[2017-04-02 20:55] #38 closed

[2017-04-02 20:55] #39 closed

[2017-04-02 20:57] prazanna opened #139 "HoodieCleaner should clean log files as well"

[2017-04-02 20:57] #139 closed

[2017-04-03 19:37] vinothchandar opened #140 "Test RealtimeInputFormat integrations with Presto/Spark/Hive"

[2017-04-03 19:43] vinothchandar commented on #30
THis is already done

[2017-04-03 19:43] #30 closed

[2017-04-03 20:22] prazanna commented on #40
Pasting a scrap of thoughts/impl of the record reader - https://gist.github.com/prazanna/698459049447d8898a9de11e3863e99d

@vinothchandar

[2017-04-03 20:49] prazanna opened #141 "IOBound a single Compaction"
Prioritize the compaction operation based on the write amplification cost and log file size and have a bound for the IO to be done by a single compaction run

[2017-04-03 20:56] vinothchandar commented on #141
Dumping my thoughts, on knobs to have

`target_compaction_io_per_run` : Bounds the amount of IO done for compaction per batch, effectively also capping latency.. (or should we have a more direct knob on `target_compaction_secs_per_run` => maximum amount of time to spend on compaction each run.. )

`compaction_policy` : Out of all files ready for compaction, ranks them in order of some incentives t

[2017-04-04 01:16] vinothchandar opened #143 "Tracking ticket for folks to be added to slack group"
### To Join Slack, you can

#### Click **Join on slack** in https://github.com/apache/incubator-hudi [readme]( https://github.com/apache/incubator-hudi )
#### (or) click [here](https://join.slack.com/t/apache-hudi/shared_invite/enQtODYyNDAxNzc5MTg2LTE5OTBlYmVhYjM0N2ZhOTJjOWM4YzBmMWU2MjZjMGE4NDc5ZDFiOGQ2N2VkYTVkNzU3ZDQ4OTI1NmFmYWQ0NzE) to join.
#### (or) Please give us your email as a comment on th

[2017-04-04 01:28] #15 closed

[2017-04-04 04:39] vinothchandar opened #145 "Incorporate small insert handling/file sizing etc for merge-on-read partitioner"
Capturing the fact that, all that is nice about copy-on-write needs to extend into merge-on-read in terms of file sizing and small inserts being tagged onto existing files..

[2017-04-04 04:44] vinothchandar opened #146 "Hoodie Hive Revamp to support copy-on-write & merge-on-read tables"
`hoodie-hive` needs to be rethought ground up in terms of purely supporting Hoodie datasets (it has some hangovers from Uber's evolution, where it was initially used for non-hoodie datasets as well)

Namely the following needs to happen

 - Sync should work off .commit files for discovering which new partitions to add as well as what new schema/fields to add (this can avoid full directory listing

[2017-04-04 11:53] vinothchandar opened #147 "Equivalent TestHoodieClient for merge-on-read tables"

[2017-04-04 14:52] vinothchandar commented on #42
Agree on approach in https://gist.github.com/prazanna/698459049447d8898a9de11e3863e99d , wrapping is the natural way to go.

But planning to approach the reading a little differently..

1. next() on underlying recordReader to get new array writable (need to add projection to get `_hoodie_record_key` out always)
2. Somehow turn the original avro delta logs into a HashMap<`_hoodie_record_key`, Array

[2017-04-04 19:46] prazanna commented on #42
Pasting a scrap of thoughts/impl of the record reader - https://gist.github.com/prazanna/698459049447d8898a9de11e3863e99d

@vinothchandar

[2017-04-04 19:48] prazanna commented on #134
Think about supporting multiple delta files - on compaction failures
Fall back of on-disk merge if the delta file size exceeds certain limit

[2017-04-04 19:52] prazanna commented on #42
Fall back of on-disk merge if the delta file size exceeds certain limit

Just a note - I guess we are okay to assume that we are able to merge in all the updates in memory with HoodieAvroReader. #134 tracks the disk spill if needed.

[2017-04-05 22:03] prazanna opened #149 "Need a custom Log Format"
Today we use Avro.

Drawbacks:
1. A file has a schema, and all objects stored in the file must be written according to that schema. Hoodie Log file schema can change.
2. Need for atomically publishing a Avro block, requires rolling back with a tombstone.
3. We need custom metadata like the delta commit time for the block
4. AvroReader will fail to scan a avro file which has a partial written block

[2017-04-05 22:05] prazanna opened #150 "Hoodie Hive Sync"
Should sync the MOR ingested data into 2 tables. ROTable and WOTable.

Schema sync should happen based on the last compaction commit for ROTable and last delta commit for WOTable.

[2017-04-05 22:13] prazanna commented on #77
This requires #149 to be done first

[2017-04-07 03:14] vinothchandar opened #151 "Check corner case for handling index lookup on new records written into log file"

[2017-04-07 04:18] vinothchandar opened #152 "Check corner case handling for r-m-w patterns in merge on read"

[2017-04-10 15:29] vinothchandar commented on #42
Upon more digging, it all boils down to the following to get the merging right

- [ ] **Projecting only requested fields in query off Avro records**

 Reading using the a sub schema built off `conf.get(ColumnProjectionUtils.READ_COLUMN_NAMES_CONF_STR)` should do the trick. Need to test with nested records and complex data types.  Then compare to Parquet projections, in terms of order  & so forth a

[2017-04-10 23:39] prazanna opened #153 "Implement Hoodie Event callbacks"
This is needed for an external monitoring system looking to get events on hoodie.

[2017-04-11 19:02] alunarbeach opened #154 "Hive 2.X support for Hoodie"
While following the quickstart guide, I got the following error in hive sync tool. Same error is there if i follow "Manually via beeline" option as well.

#command:
java -cp target/hoodie-hive-0.3.6-SNAPSHOT-jar-with-dependencies.jar:target/jars/* com.uber.hoodie.hive.HiveSyncTool   --base-path file:///tmp/hoodie/sample-
table/   --database default   --table hoodie_test   --user hive   --pass hive

[2017-04-11 19:51] vinothchandar commented on #154
Seems to be parquet jars missing? Let me see if I did anything special locally..

[2017-04-11 20:04] alunarbeach commented on #154
Thanks @vinothchandar

[2017-04-11 21:17] alunarbeach commented on #154
I think the issue was with Hive Version. I am using Hive 2.1.0 and the examples were for Hive 1.1.1 and with CDH dependency.
This worked for me after doing the following:

overhauling import statements (changing parquet.* to org.apache.parquet.*)
Modifying dependencies in pom.xmls
Changing a couple of method signatures since Hive 2.1.0 does not have them anymore.

Can I make a pull request?

[2017-04-11 21:20] prazanna commented on #154
Glad you got it working @alunarbeach

The fix is a little tricky. We have to create profiles to support multiple hive versions. We cannot change the parquet library to use apache parquet instead of twitter parquet, because that will break support for hive 1.X versions.

Let me think about this and let you know the best way to create a PR for this.

[2017-04-11 21:22] alunarbeach commented on #154
Thanks @prazanna.   I understand.

[2017-04-11 21:47] vinothchandar commented on #154
@alunarbeach of course, let us know if there is a way to do this easily.. may be a `hoodie-hive2` module? @prazanna ?

[2017-04-18 12:24] RaginBajin opened #155 "ORC support?"
Right now, I see that Parquet is supported, but wondering if the ORC format is there as well.

[2017-04-18 17:03] vinothchandar commented on #155
Not as of now.. Uber is predominantly parquet.

ORC support needs an implementation of https://github.com/uber/hoodie/blob/6e87e79b01d6c6d8fc790403f5de5fbb50d40411/hoodie-client/src/main/java/com/uber/hoodie/io/storage/HoodieStorageWriter.java  and a new HoodieORCInputFormat that subclasses the right ORC IPF..

You are welcome to take a stab :)

[2017-04-19 14:50] vinothchandar commented on #42
Upon more digging, it all boils down to the following to get the merging right

- [ ] **Projecting only requested fields in query off Avro records**

 Reading using the a sub schema built off `conf.get(ColumnProjectionUtils.READ_COLUMN_NAMES_CONF_STR)` should do the trick. Need to test with nested records and complex data types.  Then compare to Parquet projections, in terms of order  & so forth a

[2017-04-19 14:56] vinothchandar commented on #42
As for the design of the `InputFormat` itself, Hive seems to extend `FileSplit` across the board

https://github.com/apache/hive/search?p=3&q=FileSplit&type=&utf8=✓

ORC Split : https://github.com/apache/hive/blob/ff67cdda1c538dc65087878eeba3e165cf3230f4/ql/src/java/org/apache/hadoop/hive/ql/io/orc/OrcNewSplit.java
HBase Split : https://github.com/apache/hive/blob/ff67cdda1c538dc65087878eeba3e165c

[2017-04-20 23:59] #141 closed

[2017-04-27 21:53] prazanna opened #158 "New Index Implementation: HashBasedIndex"
Let us try implementing a hash based partition index instead of the looking up BloomFilters on existing files. Hash partition the row key and get the fileId that this record should go to.

[2017-04-27 22:22] vinothchandar commented on #158
I am going to call this `StaticHashIndex` or `BucketedIndex`

[2017-04-29 00:01] alunarbeach commented on #154
@prazanna @vinothchandar any suggestions on how do you want to proceed?

[2017-04-29 00:04] vinothchandar commented on #154
I am happy with hoodie-hive2.. @prazanna is the hive registration expert.. :) Will wait for him to pitch in

[2017-05-02 04:48] #42 closed

[2017-05-02 12:15] alunarbeach commented on #154
@prazanna Any suggestions?

[2017-05-02 12:29] alunarbeach opened #159 "Updating partition of the record results in new record"
When you upsert a hoodie record with new partition value, Hoodie considers that as a new record.
Is there a way to handle this as an update rather than a new insert?

[2017-05-02 18:19] vinothchandar commented on #159
trying to understand this.. if there is a new partition, then it wont contain an existing record right..so insert seems correct to me..
Can you expand more or give an example for what you are referring to ?

[2017-05-03 13:22] alunarbeach commented on #159
Consider this scenario.
I have a record with a unique id field as a key, dayid and a reprocessed indicator field as partitions.
When I reprocess a record, I update the indicator.  With the current approach, Hoodie dataset results in two records (old one and the new one) with different file ids.

By design, are partition fields expected to be part of the key?

[2017-05-03 18:16] vinothchandar commented on #159
yes. the current indexing methods we have consider partitionpath as a part of the key... the key is made of two strings:  `recordkey` and `partitionPath` (see HoodieKey.java) . your problem seems to be that the partitionPath changes between runs for the same recordKey?

[2017-05-03 18:19] vinothchandar commented on #159
See https://github.com/uber/hoodie/wiki/HashMap-Index for a proposal to make this global..

That said, in practice, we have noticed that the above helps us scale nicely, since most datasets have an active window for a few days and once a time passes, these records are not touched again. So, including the partitionpath in HoodieKey makes the indexing scale better..

Are you on the slack channel? ma

[2017-05-04 01:29] alunarbeach commented on #159
I understand. I am not in the slack channel. I would like to explain my use case in detail. Could you please add me?

[2017-05-04 06:13] vinothchandar commented on #159
sure.. can you give me your email?

[2017-05-04 13:01] alunarbeach commented on #159
alunarbeach@gmail.com

- Anbu

[2017-05-08 19:34] vinothchandar commented on #159
done

[2017-05-09 12:55] alunarbeach commented on #159
Thanks

- Anbu

[2017-05-09 14:54] #159 closed

[2017-05-09 20:21] ajaychitre opened #160 "Failure to find org.pentaho:pentaho-aggdesigner-algorithm:jar:5.1.5-jhyde"
Got latest code from master branch. Was getting error message given below:

Failure to find org.pentaho:pentaho-aggdesigner-algorithm:jar:5.1.5-jhyde in https://repository.cloudera.com/artifactory/repo/

Added following repository in the root pom.xml to fix it:

        <repository>
            <id>spring-libs</id>
            <url>http://repo.spring.io/libs-milestone/</url>
        </repository>

[2017-05-10 21:26] vinothchandar commented on #110
All more follow up after chat with someone from netflix

https://medium.com/netflix-techblog/s3mper-consistency-in-the-cloud-b6a1076aa4f8

we can potentially use something like this.

[2017-05-11 00:32] yssharma commented on #110
Thanks @vinothchandar . Interesting blog. Will read some more on S3amper.

[2017-05-11 00:38] yssharma commented on #110
As I see it, it would be a separate service on cluster checking for inconsistencies and posting them to SQS queues, and the application checks the inconsistencies before using the data. Yet to see few examples how applications use it. Will post back once I get more info.

[2017-05-11 17:52] kainoa21 commented on #110
Another potential solution is the EMRFS directly from Amazon: http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-fs.html

[2017-05-11 17:54] vinothchandar commented on #110
I heard its NFS 4 (which seems to be vastly improved now) under the hoods.. Any operational experiecne with EMRFS? Def worth checking out..

[2017-05-12 00:02] prazanna commented on #154
@alunarbeach - I am still figuring out the best way to do this. Please go ahead with the hoodie-hive2 module for now. If we need to change this to make it something like this (https://github.com/streamsets/datacollector/blob/master/pom.xml#L363) we will refactor this later. Would be happy to sign off a PR from you @alunarbeach - Thanks.

[2017-05-15 20:47] alunarbeach opened #161 "hoodie-cli hdfsparquetimport failed with 'path' must not be null error"
while trying to import an existing parquet file using hoodie-cli hdfsparquetimport  I got the following error
[code]
On a closer look, it looks like system.getenv is missing a parameter and results in null.
https://github.com/uber/hoodie/blob/master/hoodie-cli/src/main/java/com/uber/hoodie/cli/commands/HDFSParquetImportCommand.java#L72

[2017-05-15 21:36] prazanna commented on #161
@ovj - Can you take a look at this please?

[2017-05-15 22:04] ovj commented on #161
yeah. let me look at it.

[2017-05-16 17:09] ovj commented on #161
@alunarbeach quick question. Did you look at this? https://jaceklaskowski.gitbooks.io/mastering-apache-spark/content/spark-properties.html Have you set SPARK_CONF_DIR or SPARK_HOME environment variable from where you are running spark job?

[2017-05-17 11:57] alunarbeach commented on #161
I used Hoodie-cli.sh to launch the admin console and executed this command. By default it should set spark_conf_dir to /etc/spark/conf. Let me check

[2017-05-18 16:21] alunarbeach commented on #161
Thanks @ovj.
After I added the following export statements in  ./hoodie-cli.sh it worked.
I had to set both SPARK_HOME and SPARK_CONF_DIr though.

[code]

[2017-05-18 17:04] prazanna opened #165 "Refactor HoodieCommitArchiveLog"
This should archive all the instants into a archive timeline log (not just commits)

[2017-05-19 19:35] alunarbeach commented on #161
@ovj do you want to change the hoodie-cli.sh?

[2017-05-19 22:04] ovj commented on #161
hum. probably not. These are usually environment variables you need to set as per environment. @vinothchandar @prazanna - what you guys think? create hoodie-env.sh?

[2017-05-19 22:06] prazanna commented on #161
These configs are good defaults. So we can add it to the hoodie-cli.sh
export HADOOP_CONF_DIR="/etc/hadoop/conf"
export SPARK_HOME="/usr/lib/spark"
export SPARK_CONF_DIR="/etc/spark/conf"

These should be documented as well. These are standard hadoop and spark settings that should be set by the user as part of the hadoop user bash profile.

[2017-05-20 00:54] kaushikd49 opened #168 "Make files as the unit of task distribution for HoodieWriteClient.clean()"
When partitions have skew (some partitions having more files than others), clean takes time since the unit of task distribution is partition. Change the unit of task distribution to
be files instead, to avoid delays due to such skews.

[2017-05-22 19:02] prazanna commented on #150
Revamp Hoo

[2017-05-22 19:13] vinothchandar opened #171 "Refactor FileSystemView with notion of FileGroups"

[2017-05-22 19:45] vinothchandar commented on #168
This needs to be done on top of #171 .. @kaushikd49 when are you planning to work on this

[2017-05-22 21:24] prazanna opened #172 "HoodieLogFormat can incorrectly rollback a datablock"
Today when we have a datablock followed by a command (rollback) block, we discard the records written in the datablock. When we have a datablock, followed by a corrupt block (arbitrary bytes) and a rollback block we assume that the the corrupt block is a data block that is rolled back, but that could be a failed write of a rollback block, in which case we should not be reading the previous data bl

[2017-05-22 21:26] prazanna opened #173 "HoodieRealtimeInputFormat does not apply application specific merge hooks"
HoodieCompactedLogRecordScanner scans all the logs and creates a compacted lookup map for compaction and record reader.

Today it just replaces newer records with older records and does not apply the application specific preCombine, today the payload is assumed to be HoodieAvroPayload (which does the replace on preCombine).

cc @vinothchandar

[2017-05-22 21:28] prazanna opened #174 "Optimizations to HoodieLogFormatReader"
Today every block read by HoodieLogFormatReader results in a new byte[] and memcpy of contents over. Avoid this by having a max size for a block and reuse a ByteBuffer underneath which avoids byte array creation for every block and reuse.

cc @vinothchandar

[2017-05-22 21:30] prazanna opened #175 "End Marker to HoodieLogFormat"
Today we assume that we only log to the latest log version. However nothing in code actually makes an older log file immutable. We need to write an end marker to a log file, before we roll over to make it immutable.

cc @vinothchandar

[2017-05-22 21:31] prazanna commented on #174
Also look at HoodieLogBlock.fromBytes

[2017-05-22 23:40] ovj opened #176 "Need a way to differentiate between invalid records and failed records as a part of insert/upsert."
Discussed this with @prazanna offline. Summarizing it here.

When we send an RDD<data> to hoodie for write we get back WriteStatuses. In case of an error there is no way for us to know if the record was invalid or there was an error while writing it to hoodie dataset. It would be nice if we can differentiate between these. For example if there is an issue with record itself then we can skip it but

[2017-05-23 05:16] prazanna commented on #176
Today we return the error record with the exception - It may be better to classify this error with certain labels (INTERNAL, SCHEMA etc)

[2017-05-23 14:57] vinothchandar commented on #176
Hmmm. Can't the client figure it out based on the exception.. Going down the path of classifying exceptions into buckets inside hoodie, seems like an overkill to me.

[2017-05-23 15:29] ovj commented on #176
@vinothchandar Yeah I agree that if we create exception class for every possible combination then it would be too much. But today the problem is in WriteStatus we get back Throwable and it is very hard to figure out what happened with this record. At least if we can classify them as HoodieServerException / HoodieClientException (names can be different) then still it would be helpful. That way all

[2017-05-23 15:35] #149 closed

[2017-05-23 15:40] vinothchandar commented on #176
Most systems shy away from this type of thing, since exceptions could be result of other side effects and so forth, hence having the clients decide is better..

Lets may be define these classes of errors and take this forward, if there are significant benefits?

[2017-05-23 15:45] vinothchandar opened #177 "Travis build keeps failing"
[code]

[2017-05-23 18:54] prazanna commented on #177
Looking

[2017-05-23 18:57] prazanna commented on #177
Looks like travis stopped pulling in from configured 3rd party repo (for us it is cdh repo) and is just going to use maven central. Trying to figure out what could be a solution to this.

[2017-05-23 19:45] prazanna commented on #177
Not as bad as i initially thought. Travis can still contact 3rd party repo. The cdh url changed.
https://github.com/uber/hoodie/commit/e1d13f2bc8adf78f6413dda7fd3b38d711a1417a

Build passed: https://travis-ci.org/uber/hoodie

[2017-05-23 19:45] #177 closed

[2017-05-23 20:10] kaushikd49 commented on #168
@vinothchandar I am taking this up this week. I had started making some changes actually. Sure, I can make it on top of that. Any idea when that will be complete?

[2017-05-23 20:12] vinothchandar commented on #168
Conservatively, by end of week, mostly by EOD tmrw. I strongly encourage to wait for the filegroups to be in, before you go there, coz what you need is to ultimately parallelize by file groups.

[2017-05-23 20:17] kaushikd49 commented on #168
Ok, that would be great. I'll wait for it to go in before.

[2017-05-23 21:07] vinothchandar commented on #177
Awesome..

[2017-05-24 06:31] #77 closed

[2017-05-24 14:58] vinothchandar commented on #168
@kaushikd49 and I chatted offline and decided to decouple the efforts..

[2017-05-24 17:55] alunarbeach opened #178 "java.lang.ClassCastException: com.uber.hoodie.io.storage.HoodieWrapperFileSystem cannot be cast to com.uber.hoodie.io.storage.HoodieWrapperFileSystem"
Documenting this non-issue here.

While trying to import Parquet files to Hoodie Dataset ran into this weird error.
[code]
**Root Cause**
Apparently the root cause is ```enableHiveSupport()``` statement used in Spark Session creation.
It uses a different class loader. Creating the spark session without it solved the issue.
Thanks,  @prazanna and @vinothchandar for helping.

[2017-05-24 17:55] #178 closed

[2017-05-25 02:33] boristyukin opened #179 "Impala not supported"
hoodie is not working with Impala, cannot even pull metadata from hive:

Query: show create table hoodie_test
ERROR: AnalysisException: Unrecognized table type for table: hoodie.hoodie_test
CAUSED BY: TableLoadingException: Unrecognized table type for table: hoodie.hoodie_test

[2017-05-25 04:13] vinothchandar commented on #7
https://hackernoon.com/extending-our-spark-sql-query-engine-5f4a088de986 is an example for writing a datasource

[2017-05-25 04:41] vinothchandar commented on #179
https://github.com/cloudera/Impala/blob/cdh5-trunk/fe/src/main/java/org/apache/impala/catalog/TableLoader.java#L69 might be coming from this. My guess is we need a fix to https://github.com/cloudera/Impala/blob/cdh5-trunk/fe/src/main/java/org/apache/impala/catalog/HdfsTable.java

As far as I see, the input format is instantiated there.. so,there is hope. but needs some work. I have 0 exp with impa

[2017-05-25 20:27] zqureshi commented on #124
@gekath is taking a stab at it.

[2017-05-26 00:11] vinothchandar commented on #124
Sounds good. all yours

[2017-05-26 01:20] vinothchandar commented on #7
Here is a brain dump on this.. Feel free to pick the first subset of this list, to get started.

**Goal:**
Ultimately,
 - Subsume most functionality of `HoodieWriteClient` for saving a dataframe back into a hoodie dataset, including all two storage types (COPY_ON_WRITE, MERGE_ON_READ)
 - Subsume most functionality of `HoodieReadClient` for running queries on a Hoodie dataset - including all three

[2017-05-26 01:20] vinothchandar commented on #7
@zqureshi here you go.. cc @prazanna

[2017-05-30 19:54] prazanna commented on #150
PR #181 fixes this

[2017-05-30 19:54] #150 closed

[2017-05-30 19:55] prazanna opened #185 "Test MVP Merge on Read with test scale dataset"

[2017-05-31 21:59] vinothchandar commented on #96
Just summarizing the current behavior, as long as the filesystem config is on the class path, `FsUtils.getFs()` will do the right thing and load the correct filesystem object, using the scheme i.e  `hdfs://tmp/dataset1` will talk to hdfs & `s3a://tmp/dataset1` will talk to s3..

Can you expand the use case here more with an example? I think we are trying to read from gcs and write to hdfs.. is tha

[2017-06-01 13:01] zqureshi commented on #96
So this will pick up the right filesystem configured via `fs.defaultFS` in the config.

We were thinking of a case where we would like to read from HDFS and say write to GCS, yep.

[2017-06-01 13:02] zqureshi commented on #96
@gekath had been tracking down consumers of `getFs` yesterday and trying to figure out what the best way to thread the URI would be.

[2017-06-01 13:26] alunarbeach commented on #96
@zqureshi Also current Google Storage support for Hoodie restricts read and write to be done on the same bucket.

[2017-06-01 15:58] gekath commented on #96
@vinothchandar instead of relying on fs config being on classpath, looking into getting filesystem according to provided URI. Most calls to getFs() have access to a config or spark context. Was thinking to set the URI in config or spark context. Then getFs() can get corresponding filesystem, otherwise it will return default filesystem. Thoughts?

[2017-06-01 16:13] vinothchandar commented on #96
If you have the right scheme in the path `hdfs` or `gcs` or `s3`, getFileSystem() , will do the right thing and fetch the correct FileSystem impl. No? You need to set `fs.defaultFs` to only denote what scheme to pick if one is not specified? May be I am understanding this wrong?

I acknowledge the FSUtils.getFS() could be changed and made better. May be we can start with how things break today, wh

[2017-06-01 16:14] vinothchandar commented on #96
cc @prazanna please chip in

[2017-06-01 17:42] prazanna commented on #96
My thoughts on this:
HoodieWriteConfig can have a withConf(Configuration c) and FSUtils.getFS can be formatted for accept a conf which is either passed as the conf set or new Configuration().

Clients can create a conf when they create a HoodieWriteConfig.
cc @@n3nash - who was also looking into this.

[2017-06-01 18:11] gekath commented on #96
@vinothchandar for clarification, how does it infer the correct URI in getFs()? It's not clear to me that the correct scheme is inferred as there is no path provided, in the code below.

`
    public static FileSystem getFs() {
        if (fs != null) {
            return fs;
        }
        Configuration conf = new Configuration();
        conf.set("fs.hdfs.impl", org.apache.hadoop.hdfs.Distrib

[2017-06-01 18:27] vinothchandar commented on #96
Okay. yes we need control of the config object to infer the URI/scheme. What I was saying was always passing the `basePath` with the scheme prefixed, instead of relying on the inference in FileSystem class based on `fs.defaultFS` .

I am open to passing in the `Configuration` either via a configuration property like what Prasanna mentioned, if we don't really want to always prefix basePath with th

[2017-06-02 00:44] n3nash opened #187 "Change HoodieRealtimeRecordReader to use HoodieCompactedLogRecordScanner for MOR"

[2017-06-02 23:35] n3nash commented on #187
HoodieRealtimeRecordReader now uses the CompactedRecordScanner to compact and read log files.

[2017-06-02 23:35] #187 closed

[2017-06-05 19:40] prazanna opened #190 "Deletes in Merge on Read"
Make Delete work on merge on read tables - Append Log has basic building blocks, but appendHandle needs to be updated to insert a delete block.

[2017-06-08 00:12] n3nash opened #192 "HoodieCleaner unable to clean log files"
HoodieCleaner tries to clean log files by constructing the name of the log file as follows :

FSUtils.maskWithoutLogVersion(fileCommitTime, afile.getFileId(),
                                        HoodieLogFile.DELTA_EXTENSION)));

Path to be deleted (in HoodieCleaner) : \<basepath\>/\<partitionpath\>/\<fileid\>\_\<commitid\>.log*
Actual path to be deleted : \<basepath\>/\<partitionpath\>/.\<fil

[2017-06-09 20:05] prazanna opened #193 "HoodieHiveSync should register a RO Table as well"
Today it is registering only the RT table. We need to make sure that major compaction is figured out before RO table can be published.

[2017-06-12 19:16] prazanna commented on #165
1. Remove HoodieCommitArchiveLog use the HoodieLogFormat to archive commits
2. Introduce Avro schemas for archived commits (not used in the active timeline)
3. Archive all instants - not just commits to the archivelog

[2017-06-13 14:15] ovj opened #195 "Hoodie rollback savepoint fails if there are inflight commits in .hoodie directory."
Discussed this issue with @prazanna offline. Attached screen shot of inflight commit file which is causing the failure. [](url)

<img width="260" alt="screen shot 2017-06-13 at 7 07 03 am" src="https://user-images.githubusercontent.com/899843/27086709-e801f7a6-5007-11e7-9f5c-5d13d0f3acaa.png">

[2017-06-14 18:03] #195 closed

[2017-06-16 18:21] #168 closed

[2017-06-16 18:31] #185 closed

[2017-06-16 18:33] prazanna commented on #146
This is done.

[2017-06-16 18:33] #146 closed

[2017-06-16 18:33] prazanna commented on #152
This has been done as far as i can see. If there are any missing cases - please open this back up.

[2017-06-16 18:33] #152 closed

[2017-06-16 18:35] #132 closed

[2017-06-16 18:36] prazanna commented on #123
This may not be fixable in Hoodie other than just working with Spark and Hive versions that are compatible with each other.

[2017-06-16 18:39] prazanna commented on #54
#94 covers remaining work to be done.

[2017-06-16 18:39] #54 closed

[2017-06-16 19:51] #124 closed

[2017-06-18 04:40] ovj opened #200 "Hoodie commit fails if number of partitions to be cleaned are 0."
This is happening for hoodie 0.3.8.

java.lang.IllegalArgumentException: requirement failed: Number of partitions (0) must be positive.

	at scala.Predef$.require(Predef.scala:224)
	at org.apache.spark.rdd.RDD$$anonfun$coalesce$1.apply(RDD.scala:446)
	at org.apache.spark.rdd.RDD$$anonfun$coalesce$1.apply(RDD.scala:445)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:1

[2017-06-18 04:48] vinothchandar commented on #200
@kaushikd49 any thoughts?

[2017-06-18 09:53] kaushikd49 commented on #200
@omkar - was not aware of hoodie version upgrade in Komondor.

Anyway, I don't think we are explicitly setting the clean parallelism in Komondor and the default value for that seems to be 200 in hoodie. Could you please rollback Komondor to use the previous version of hoodie if this is affecting the jobs, so that I can investigate the root cause during the week? I need to double check - but from a

[2017-06-19 03:37] kaushikd49 commented on #200
@vinothchandar @ovj Identified the root cause. It is due to my change. I will send a PR for this. @ovj is assumeDatePartitioning set as false in your job? The num partitions to clean is 0, so this bug is causing job failure.

[2017-06-20 20:05] prazanna opened #203 "Performance test for MOR"

[2017-06-20 20:06] #147 closed

[2017-06-20 22:45] #200 closed

[2017-06-22 22:02] prazanna opened #206 "Savepoints should not leave a hole in the commit timeline"
This results in data files skipped and data loss during query

cc @ovj

[2017-06-23 18:21] vinothchandar opened #208 "Add support for nested fields in queries on Merge-on-read tables"

[2017-06-26 18:28] prazanna opened #209 "Measure the number of RPC calls to namenode as a metric"
For namenode scalability, it will be good to measure the number of RPC calls made (listStatus, open, close, append) from the hoodie library among the metrics captured.

[2017-06-26 19:08] prazanna commented on #171
I believe this is done?

[2017-06-26 19:08] #171 closed

[2017-06-26 19:18] prazanna commented on #133
@n3nash - Please use the google drive that @vinothchandar creates to put together the list of metrics that need to be published for MOR

[2017-06-26 19:28] vinothchandar commented on #209
This is a good metric. But lets try to do in a localized manner, without major refactoring. If you think this wont be doable, lets please chat before impl gets far.

[2017-06-27 23:36] #206 closed

[2017-06-28 21:14] n3nash commented on #209
To collect all RPC calls, we need a way to control/monitor accesses to the FileSystem object across all classes. At the moment, we use FSUtils.getFs() which returns back the vanilla FileSystem object which we have no control over. However, for any FilsSystem access in HoodieStorageWriter we register the HoodieWrapperFileSystem class and use that to read/write data. HoodieWrapperFileSystem provides

[2017-06-28 22:06] vinothchandar commented on #209
I was actually expecting an effort similar to this. This is best accomplished by simply having all accesses to filesystem happen via `HoodieTableFileSystemView`. We are a bit away from this world. Without that, doing this seems like putting the cart in front of the horse...
As opposed to accumulators vs writestatus, I feel we don't need either.. We simply need to account this at the driver in a pr

[2017-06-29 05:44] n3nash commented on #193
Done as a part of https://github.com/uber/hoodie/pull/210.

[2017-06-29 05:44] #193 closed

[2017-06-29 07:33] n3nash commented on #133
Listed down the metrics here : https://docs.google.com/spreadsheets/d/1SOLgSHDZQvDxJ_cx-lUemAwpmq_Q0lelN1AVpX5enbc/edit#gid=0

[2017-06-29 17:03] n3nash commented on #209
To have all filesystem accesses happen via `HoodieTableFileSystemView` and monitor them, we need abstractions of vanilla FileSystem API's like listStatus, append etc. At the moment we have this in `HoodieWrapperFileSystem`; do you think using that everywhere and making it work can be a first step ?

[2017-06-29 22:27] prazanna commented on #40
Also refer to #172 for an edge case

[2017-06-29 22:30] vinothchandar commented on #209
WrapperFileSystem for purposes of simply monitoring seems like an overkill to me. Can't we just measure the code paths calling listStatus etc from the FileSystemView.. Don't want to turn this into a monitoring library for the Hadoop FileSystem object :)

[2017-06-29 22:57] prazanna commented on #209
Agreed. Lets punt this until we have abstraction which localizes all the file system calls into one place. Like the FileSystemView as @vinothchandar mentioned.

[2017-06-29 23:00] vinothchandar commented on #209
@n3nash If you want to measure things like a limited fashion until then, please feel free suggest alternatives.

[2017-06-29 23:40] n3nash opened #212 "HoodieInstant incorrectly categorizes clean action as a commit action"
During rollback, `commit1.clean.inflight` should be categorized as a `clean` action instead of a `commit` action.

[2017-06-30 06:01] n3nash commented on #209
@vinothchandar One way to measure this quickly (just to get a sense of numbers) is to come up with a formula based on the current code base. For example Total RPC calls = [ fs.listStatus calls in index(=input rows) + (count(WriteStatus)*(fs.open + fs.close + fs.listStatus)) + some other miscellaneous fs usages ].
This will just help us understand the severity of RPC calls for the moment.

[2017-06-30 19:43] n3nash commented on #212
This has been backported and fixed in master.https://github.com/uber/hoodie/pull/216 and https://github.com/uber/hoodie/pull/213

[2017-06-30 19:43] #212 closed

[2017-07-04 15:32] jkommeren commented on #143
Please add me to Slack :) email is joris@jongensvantechniek.nl

[2017-07-12 16:44] alunarbeach commented on #154
@prazanna Have a look at my pull request and let me know.

[2017-07-13 16:18] Lwelch45 commented on #143
Can you add me to the slack? laurence@jet.com

[2017-07-13 18:07] vinothchandar commented on #143
@jkommeren @Lwelch45 done and welcome

[2017-07-19 03:44] littleRa1n opened #221 "How can i modify the payload?"
We want to modify something in the payload while ingest from kafka to hdfs. So How can i implement this? Specify the payload-class? Thank u.

[2017-07-19 15:29] vinothchandar commented on #221
are you using the deltastreamer? if so, you can write your own payload class and it will be picked up via a cmd line argument..

[2017-07-19 20:07] n3nash opened #222 "HoodieCleanHelper throws exception when no compaction commits present, for mor table"
HoodieCleanHelper uses the FileGroups abstraction to find fileSlices, the following code always returns an empty stream : https://github.com/uber/hoodie/blob/master/hoodie-common/src/main/java/com/uber/hoodie/common/model/HoodieFileGroup.java#L134 because the timeline is always empty.
The core reason is : https://github.com/uber/hoodie/blob/master/hoodie-client/src/main/java/com/uber/hoodie/table/

[2017-07-20 21:52] ovj opened #223 "Need separate parameter for combineOnCondition parallelism"
Today for example in HoodieWriteClient#bulkInsert() api same insertShuffleParallelism is getting used for combineOnCondition and for actual data insert. However we would want to have combineOnCondition parallelism to be larger/different than insertShuffleParallelism.

[2017-07-25 21:07] n3nash opened #224 "Tool to convert sequence file based archived commits to log format"
After archived commits start using the HoodieLogFormat, there will be 2 version of archived commit files, the old sequence file based and the new logformat based, we need a way to convert the old to the new format.

[2017-07-26 21:13] n3nash opened #225 "Implement Reader Tool in CLI to read archived commit files written using Log format"
Currently, the archived commits are written using sequence format, so one cat just inspect the file using a `cat` command. Once log format is used, it's not possible to read the file without a reader tool.

[2017-07-26 21:16] n3nash opened #226 "Fix ActionType in HoodieArchivedMetaEntry to Enum instead of string"
Unable to make `Enum` optional because of the following bug in avro code generation :

The Enum class from the code generation results in the following class :

`@SuppressWarnings("all") @org.apache.avro.specific.AvroGenerated public enum ActionType { commit, savepoint, compaction, clean, rollback ; public static final org.apache.avro.Schema SCHEMA$ = new org.apache.avro.Schema.Parser().parse("{\"

[2017-07-26 21:44] n3nash commented on #190
Addressed in PR https://github.com/uber/hoodie/pull/218

[2017-07-26 21:45] n3nash commented on #165
Addressed in PR https://github.com/uber/hoodie/pull/205

[2017-07-27 00:10] #190 closed

[2017-07-27 00:10] #165 closed

[2017-07-27 03:36] littleRa1n commented on #221
OK。thanks

[2017-07-27 03:36] #221 closed

[2017-07-27 03:37] littleRa1n opened #227 "FileSystem Closed"

[2017-07-27 19:30] vinothchandar commented on #227
My guess is there is some other piece of code calling fs.close(). fs client is shared across the jvm

[2017-07-28 19:56] n3nash commented on #227
@littleRa1n Are you using multiple cores per executor ?

[2017-07-31 02:03] littleRa1n commented on #227
@n3nash I am not sure. How can i check it?

[2017-07-31 02:17] littleRa1n commented on #227
@n3nash  I have set executor-cores to 1 and num-executors to 2, it still has the problem.

[2017-07-31 02:43] littleRa1n opened #231 "PartitionPath set"
Hello, the example set the partitionpath to a "driver" key. So how can i if set the partitionpath to processing time, like 2017/09/18 ?

[2017-08-02 15:44] n3nash commented on #231
Unless I'm missing your point here, while creating a new HoodieKey as part of a new HoodieRecord, you should be able to set whatever partitionPath you like, including a date.

[2017-08-02 15:46] n3nash commented on #227
Interesting, what sort of a job are you running ? Can you share some more details ?

[2017-08-03 18:23] gekath opened #233 "FSUtils.getRelativePartitionPath does not handle repeated folder names"
Wanted to warn of a potential problem with the getRelativePartitionPath method in FSUtils.

We encountered n exception when retrieving the relative partition paths in the one case where the partition path name is equal to the table name.
I.e. in the case where writing to /tmp/blogs/blogs

[code]
This assumes the partition path and base path name won't be the same, and searches for the last occurre

[2017-08-03 20:57] gekath commented on #233
@zqureshi

[2017-08-03 21:38] vinothchandar commented on #233
Okay problem is `basePath.getName()` (since I did not want to do a basePath.getString() which may contain the scheme e.g: hdfs://tmp/blogs/blogs).

Could you workaround this for now, by naming them different? I ll think of something and fix it in sometime.

[2017-08-07 03:17] littleRa1n commented on #231
can you give a example? Is there any date formmat in hoodie?

[2017-08-08 08:12] n3nash commented on #40
@vinothchandar @prasanna @jianxu please share thoughts/comments.

**Requirements**
Ability to rollback any inflight or proper commit. Essentially, `rollback(commit)` should make sure that no data corresponding to that commit is used either from generated parquet files (`commit, deltacommit or compaction commit`) or from appended log files (`deltacommit`).

**Scenarios**

1) Rollback of an inflight

[2017-08-08 18:53] n3nash opened #236 "Savepoint no-hole fix needs to be backported to hoodie-mor-mvp branch"
PR that fixed this in master : https://github.com/uber/hoodie/pull/207

[2017-08-08 18:53] n3nash commented on #236
@vinothchandar @jianxu FYI

[2017-08-09 21:43] ovj opened #238 "Replace HoodieWriteClient#bulkInsert sortBy() with custom partitioner"
Thanks @vinothchandar for suggestion. FYI @jianxu , @n3nash , @prazanna.

Today as a part of bulkInsert api we first sort input records (using "partitionPath+key" as key) before assigning them to output spark partitions. Ideally these output partitions will results into 1 hoodie-parquet file (unless records are from more than one partition).
My understanding with use of sortBy here is; (please cor

[2017-08-10 17:41] vinothchandar commented on #236
why do we need to backport this?

@prazanna is there any significant changes on the hoodie-mor-mvp brnach that needs merging to master..

[2017-08-10 17:53] vinothchandar commented on #231
@littleRa1n partitionPath is just a string, passed into the `HoodieKey` constructor.  Hoodie does not enforce date formats.. Hope that helps

[2017-08-10 22:26] vinothchandar commented on #40
In solution 1, part 1 => .inflight is not easy to handle without the same input records, that were part of the attempted delta commit, right..  So, this is going to be tricky.

May not be needed. every records has the commitTime already.. We could just reuse it right.. (Although don't object to having the commitTime in the logBlock header or sth)

A problem with solution 1, is that when the origin

[2017-08-10 22:34] vinothchandar commented on #238
yes and most importantly, this nicely handles skews, when bootstrapping datasets into hoodie.. Typically, if you import a multi-year dataset and earlier years have way less data than current years, sorting just ensures small partitionPaths just get 1 file, while larger ones split gracefully across multiple spark partitions and get written into multiple files.

of course, this comes at a cost, sinc

[2017-08-13 02:29] prazanna opened #239 "Test"
Test

[2017-08-13 02:29] #239 closed

[2017-08-14 21:40] n3nash commented on #40
So for Solution 1 part 1, `every record has a commitTime` is not true because only AVRO_DATA_BLOCK has records, a DELETE_BLOCK or a CORUPT_BLOCK does not. So a rollback of a DELETE_BLOCK is not possible to determine. LogBlock does not have any headers apart from 1) MAGIC_NUMBER 2) BLOCKTYPE 3) LENGTH.

Did not understand your above comment `In solution 1, part 1 => .inflight is not easy to handle

[2017-08-16 17:32] vinothchandar commented on #238
@ovj bump

[2017-08-16 17:32] vinothchandar commented on #236
@n3nash please close this when done..

[2017-08-16 17:35] #208 closed

[2017-08-16 17:38] vinothchandar commented on #225
@n3nash could you take this up, while we wait on @prazanna 's comments on rollback

[2017-08-16 17:44] vinothchandar commented on #40
Adding the instantTime or commitTime to block is fine by me.

we can't assume things around compaction not failing (or cleaning for that matter) in the design. IMO, it will just make things flaky and hard to debug.. Each write operation sort of needs to work on guarantees on the timeline, independent of other operations.

Lets f2f this sometime.

[2017-08-16 17:50] ovj commented on #238
@vinothchandar sorry; Didn't reply earlier. Was testing the patch. Actually I went through UpsertPartitioner. bulkInsert will be better for us as we have very large datasets per run. There is some bucket level counting I am doing which I am not sure if we can do it in UpsertPartitioner. I will update patch by today EOD.

[2017-08-16 18:01] vinothchandar commented on #238
okay.. Like to mention couple things.

- We can make the partitioner class configurable inside Hoodie, to let clients plugin their own partitioners as needed
- Spark sort partitioning is a really battletested piece of code, that wins terasort benchmarks every year. So, be sure that your custom partitioning is truly going to be faster :)

[2017-08-16 18:51] n3nash commented on #236
This feature has been backported to the branch as well as a new release 0.3.10. Closing this now.

[2017-08-16 18:51] #236 closed

[2017-08-16 18:53] n3nash commented on #40
That makes sense, I just felt that Solution 2 is a little more disruptive but I think that's the way to go.

[2017-08-16 22:40] ovj commented on #238
Yeah making it configurable will be an added benefit. Currently I am not doing that. I will add it to future patch. The advantages with that;
- We would want our partitioner to support record weights (today they are still considered as of same size/weight) as not all records are of same size. (This is important because if hoodie writer hits max file size limit then hoodie will write rest of the re

[2017-08-16 23:57] vinothchandar commented on #238
This already happens in parallel.. There is a config set to 200K records for each such residual records. its called `insert.split.size` I think.

Not sure how this can be done without sampling the records once => which is okay for small input/normal case. But not for large dataset bulk inserts. This sampling (reservoir sampling) is what sort already does.

Again the determination of sort splits, s

[2017-08-17 00:52] ovj commented on #238
yeah it is not possible to avoid assigning records from different hoodie partitions into single spark partition without sampling the records once. In the custom partitioner we are sampling the records once.

Here is the link to PR. https://github.com/uber/hoodie/pull/245/files

[2017-08-17 20:59] alunarbeach opened #246 "Default Configuration Changes to Hoodie to process large upserts"
@vinothchandar  Documenting the default configuration changes we have done to make larger upserts with multiple partitions work in my use-case for future reference here:

The original bulk-insert was done for ~489MM records (~115GB).
Then a batch process was kicked in to upsert 57MM records out of this ~489MM records and it was timing out with various errors - Out of Memory Issues, Executor Lost a

[2017-08-17 21:36] vinothchandar commented on #246
Awesome.. thanks for sharing.. Will adjust defaults upstream and make sure next release has bunch of these things working out of box

[2017-08-18 19:47] vinothchandar opened #248 "Allow RealTimeInputFormat to have configuration to limit merging to a specifc instant time"
Current behavior of HoodieRealTimeInput format is to provide a fully merged view of parquet and log data. This provides just 1 mode for data consumption via the realtime view and does not allow to tradeoff lower merge costs for staler data.

All of this can be fixed by simply allowing the query to pass in a watermark (i.e a instant on timeline) and have the record reader, stop reading more records

[2017-08-19 05:10] amitjain-lr commented on #143
Could you add me to Slack, email aj2011it@gmail.com

[2017-08-21 07:15] imamitjain commented on #143
Could you send me Slack invite, email aj2011it@gmail.com

[2017-08-21 21:08] alunarbeach opened #249 "Hoodie Hive vs Hoodie Spark SQL results in different counts on the same query"
Hoodie Hive and Spark SQL are giving different results on the same hoodie dataset (Copy On Write). However, Hoodie Client tool matches with the Spark SQL count.

## Hoodie Client CLI:
Here is the result of two commits
### Commit 1: 20170821160113
[code]
### Commit 2: 20170821163118
[code]
## SQL Query and Results

[code]
_Spark SQL Result_ - 6366885
_Hive MR Result_ - 6899492

[code]
_Spark SQL Re

[2017-08-21 21:45] vinothchandar commented on #249
Have not seen this. @alunarbeach could you paste the log lines from hive?

[code]

[2017-08-22 22:40] kaushikd49 commented on #153
Hi @prazanna, I have a PR ready for this. Could you please assign this to me? Thanks.

[2017-08-28 08:32] vinothchandar commented on #7
@zqureshi Started something here.. Plan to push a minimal working version soon. We can iterate on that..

https://github.com/vinothchandar/hoodie/commit/286f38c36a83ab4e87446085d836cba97a3c1ec6

thanks for @alunarbeach for some row -> avro conversion code :)

[2017-09-07 17:53] vinothchandar opened #254 "Support using > 1 spark cores"
Lots more details in #241

[2017-09-11 16:01] vinothchandar opened #256 "Cleanup nomenclature around commitTime and instantTime"
This task involves cleaning up naming of variables, methods, classes and descriptions in tools/comments to reflect the following

- Actions : commit, deltacommit, clean, compact, ..
- Instant : an action that occurred at a given timestamp
- Instant Time : timestamp associated an instant.
- Action(s) timeline: a timeline specific to an action or set of actions, with only instants of those actions,

[2017-09-11 16:02] #238 closed

[2017-09-11 16:04] vinothchandar commented on #192
@n3nash I think this is fixed on 0.3.10 and on master.. could you confirm, so I can close this ?

[2017-09-12 18:35] n3nash commented on #223
This has been handled in https://github.com/uber/hoodie/pull/230

[2017-09-12 18:38] #223 closed

[2017-09-13 14:07] vinothchandar commented on #110
Here is the summary from discussion with @yssharma

- My concern that commit semantics might be compromised, if .inflight -> .commit rename fails midstream, seems to be not a problem, since s3 will guarantee the underlying copy is atomic.
- Only pending issue is , dealing with S3's eventual consistency itself in cases where files that are part of a commit, have `not yet` become available for listi

[2017-09-13 14:11] vinothchandar opened #257 "Support a union mode in HoodieRealtimeRecordReader for pure insert workloads"
There are fair number of cases needing just the following

 -  insert()
 - incremental pull
 - Standard way of sizing and managing files on storage

In these cases, having the record reader simply union records in the parquet and log, instead of attempting to merge them will improve latency & reduce merge cost potentially by a lot.

[2017-09-13 14:12] vinothchandar commented on #257
cc @prazanna @yssharma

[2017-09-13 19:18] vinothchandar commented on #175
Just leaving a note, that this is related to async compaction..

[2017-09-13 19:57] vinothchandar opened #258 "Add methods to HoodieIndex to denote ability to index log files, providing a global index, implict/explicit indexes"

[2017-09-15 17:29] n3nash commented on #40
There are some corner cases which need to be addressed :

Case 1  : Series of events
1. upsert(records)
2. save workload profile to inflight commit file
3. actuallyStartUpserting(..)
4. upsert fails in the middle.

At this point, the job fails with updates to some log files and no updates to others. The workload profile metadata in the inflight however, has information about all log files that sho

[2017-09-15 17:41] vinothchandar commented on #40
I actually thought these checks were already there.

Anyways, I agree with high level approach above, but want to concisely summarize the correctness criteria there.

Above should ensure correctness (if you agree, please add this as a doc on the scanner/compactor).  As for evolving the logBlock metadata, it would be good, to just structure it as a opaque string, string map.. and we can extend late

[2017-09-15 18:26] kaushikd49 commented on #143
Hi Vinoth, could you please add me to Slack? email: kaushikd49@gmail.com

[2017-09-15 20:10] n3nash commented on #40
Agreed, I'll update the PR and add as a doc. I was also tending towards a string map..

[2017-09-21 06:36] ovj opened #260 "Can we make WriteStatus to cache writtenRecords optional?"
Today all written records are cached inside "writtenRecords" in WriteStatus. Can we make this instead optional (user config driven)? thoughts? Spoke with @n3nash offline. We do see memory overhead due to this for large workloads with very small per record size.
@vinothchandar , @n3nash , @jianxu.

[2017-09-21 08:59] vinothchandar commented on #260
Its not all written records, its wrapper information about all written records. Actual payload is deflated already. We can't make this optional , since the Index api needs this information to update the index back (this could be no-op for BloomIndex, but will not be for something like HBaseIndex/CassandraIndex). So don't like to special case it at that level.

Happy to consider other alternatives.

[2017-09-23 22:37] ovj commented on #260
Thanks Vinoth. Makes sense with what you are saying. Let me see if I can get numbers around how much time (apart from space) we can save (if any) with it. I will update once I have those numbers.

[2017-09-25 00:06] vinothchandar opened #261 "Structured Streaming Sink for Hoodie MOR tables"
Should be pretty simple once we have the basic datasource and hardened MOR in place..

Need to just add the `org.apache.spark.sql.execution.streaming.Sink` trait. Could follow off of org.apache.spark.sql.execution.streaming.FileStreamSink

[2017-09-25 00:14] vinothchandar opened #262 "Integrate hoodie-hive sync into spark datasource"
Idea here is to provide a solution to incrmeentally sync schema, much like `saveAsTable` method in Spark 2.2

[2017-09-25 18:37] n3nash opened #264 "Time/affinity based Compactor"
Along with UnboundedIO and BoundedIO based compactions, we need to define a compaction strategy which takes an affinity and applied compactions accordingly, eg. time or partition based compaction strategy.

[2017-09-25 19:58] vinothchandar commented on #260
The best approach here could be to add a method to the HoodieIndex ..

 `isIndexImplicit()` => which returns true of false, depending on whether the index is implicitly updated with storage.. This would return `true` for BloomIndex and `false` for Cassandra/HBaseIndex

we can then use this to determine whether to add the successful records into writestatus..

PS: I still need to triple check wheth

[2017-09-25 19:59] vinothchandar commented on #258
cc @ovj fyi

[2017-09-25 22:28] ovj commented on #260
yeah this would be very clean and beneficial too. Thanks @vinothchandar. One more thing if we do this then it would be nice to expose WriteStatus#totalRecords and WriteStatus#totalErrorRecords (just getters) to users for doing counting? thoughts?

[2017-09-26 18:25] vinothchandar commented on #260
there is a `public long getTotalRecords() {return totalRecords;}` already.

yeah okay for adding another getter for error records.

Could you also add the other two methods in the ticket I mentioned you in? or I can add this when I get to that ticket.. either way is fine..

[2017-09-26 18:50] ovj commented on #260
@vinothchandar will do that. Thanks vinoth.

[2017-09-26 20:33] n3nash commented on #192
This is done, please close this.

[2017-09-26 20:33] n3nash commented on #222
This is done, please close this.

[2017-09-26 20:39] #192 closed

[2017-09-26 20:39] #222 closed

[2017-09-27 15:18] vinothchandar opened #265 "Making older HoodieInputFormat class reading RO view of MOR dataset"
Realized this as I writing a test for the data source.

Currently, MOR datasets write either a `.deltacommit` or `.compaction`. The existing IPF class will filter for `.commit` on the timeline (if i am not wrong). This means, a MOR dataset won't be read out by an older IPF..

We should investigate this and consider just removing the .compaction action and just re-use .commit for MOR.

[2017-09-28 17:19] #258 closed

[2017-09-28 17:21] vinothchandar commented on #260
you should have the getter and the methods now on master..

Can you confirm if you want to get this into the next OSS release? (which means, more testing time).

[2017-09-28 17:22] ovj commented on #258
thanks vinoth

[2017-09-28 17:24] vinothchandar commented on #260
@stauntmaster fyi

[2017-09-28 17:46] vinothchandar commented on #260
@stauntmaster again

[2017-09-28 22:25] ovj commented on #260
I think it is ok to differ this change till next release as it will need more testing. I tried this change in private branch and seeing good improvement for storage. Let me know if this is ok? WriteStatus caching goes does significantly.

<img width="1429" alt="screen shot 2017-09-28 at 10 24 14 am" src="https://user-images.githubusercontent.com/899843/30981035-eeafb140-a437-11e7-919f-1e9e6ea4f846

[2017-09-29 18:06] vinothchandar opened #269 "Scope & design the Hoodie TimelineServer"
Dumping thoughts around how we can leverage

- the Hoodie timeline, that already knows what data was written to what file/partition at what time, its schema
- WriteClient that abstracts away how we manage mutable datasets on top of a HDFS compatible abstraction
- InputFormats & Readers that know how to read these datasets

The core idea here, is

1. Have a tier of long running servers, which const

[2017-10-03 00:41] n3nash opened #270 "Correct/Optimize averageBytesPerRecord estimation (wrong estimation results in OOM)"

[2017-10-03 01:03] n3nash commented on #270
The Append/Merge handle have a list of records that need to be appended or merged, on a wrong estimation [https://github.com/uber/hoodie/blob/master/hoodie-client/src/main/java/com/uber/hoodie/io/HoodieMergeHandle.java#L49](url) blows up.

[2017-10-03 03:44] #7 closed

[2017-10-03 17:47] vinothchandar opened #272 "Benchmark ROView vs RTView query performance"
- In terms of CPU/IO/Memory
 - With and Without caching thrown in
 - Focus on Spark engine & raw RecordReader

Produce a set of benchmark classes independently verifiable/runnable by anyone.

[2017-10-03 17:50] vinothchandar opened #273 "Working impl of BucketIndex"
- Static bucketing enough

[2017-10-03 17:56] #225 closed

[2017-10-03 17:56] vinothchandar commented on #172
@n3nash lets make sure we handle this as well..

[2017-10-03 17:56] vinothchandar commented on #158
Dupe

[2017-10-03 17:56] #158 closed

[2017-10-03 17:57] vinothchandar commented on #153
Done , merged

[2017-10-03 17:57] #153 closed

[2017-10-03 17:57] vinothchandar commented on #119
No longer an issue

[2017-10-03 17:57] #119 closed

[2017-10-03 17:58] vinothchandar commented on #99
PR merged. closing

[2017-10-03 17:58] #99 closed

[2017-10-03 17:59] vinothchandar commented on #45
This precursor to the Timelineserver. closing this, in favor of that ticket

[2017-10-03 17:59] #45 closed

[2017-10-03 18:12] vinothchandar commented on #203
Based on an initial investigation using the worst possible workload (a single column projection has excellent parquet/columnar performance, while row based data is fully read & deserialized)

[code]

Here's what we found :

- As long as the scans are small (<100GB) we expect to see < 10% variance in the query run time and even if the scans are not massive (scanning more than 500GB of data), we exp

[2017-10-03 18:13] vinothchandar commented on #203
thanks @prazanna for the awesome benchmark and analysis ..

[2017-10-03 18:13] #203 closed

[2017-10-03 18:22] vinothchandar commented on #203
@alunarbeach  In case you are interested in knowing..

This is for a heavily updated use-case. I think for your use-case (< 1% updates), the impact would be really negligible and it would take care of any write amplification scale issues, even for the long term.

[2017-10-04 04:33] eramirez51 commented on #143
Could you please send me slak invie? Thanks. e-ramirez@unext.jp

[2017-10-04 22:03] vinothchandar commented on #143
done

[2017-10-06 15:45] vinothchandar commented on #136
Early thoughts.

#### Implement a Spark File Format
 - `HoodieRealtimeFileFormat` modelled after ParquetFileFormat inside Spark
 - Can wrap `org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat` & another piece which merges output from log as Iterator[Row]
 - Use `HadoopFsRelation` to pass in the file format if needed, with schema & everything

#### Reading output from the IPF Reco

[2017-10-06 16:20] vinothchandar opened #274 "Figure out appends & logging to cloud storage"
Across
- S3
- GCS

Describe current behavior of COW & MOR and layout potential ways to address them

[2017-10-10 02:51] ovj opened #276 "Can we make sequenceId in HoodieRecord optional for COW tables?"
We are trying to write large number of very small records into hoodie (COW) tables. In one of the datasets, we are noticing significant size growth of approximately 10% more compared to one if we avoid saving sequenceId.

I don't know full context behind why we have sequenceId per record but if it is for specific feature then can we selectively enable/disable it to save storage space?.

FYI @vinot

[2017-10-10 03:48] vinothchandar commented on #136
spark/sql/hive/src/main/scala/org/apache/spark/sql/hive/TableReader.scala contains code, that will transform a given `Writable` into `Row` in method `fillObject`

[2017-10-10 03:50] vinothchandar commented on #276
to put into context, this is for 1 dataset where the record sizes are fairly small compared to the hoodie metadata. editing description

[2017-10-10 21:31] vinothchandar commented on #262
assigned to you based on today's chat

[2017-10-11 21:27] n3nash opened #277 "Write out an intermediate WorkloadProfile metadata file instead of re-using commit file"
Specially for MOR, we need workload profile metadata for rollback, ideally should be separated out into a different intermediate file.

[2017-10-24 15:18] janl commented on #91
*bump*

[2017-10-30 02:48] vinothchandar commented on #91
@janl we have already incorporated the name change in an incubator proposal, such that we can batch the above changes together. but, that seems to be taking a while. We have clarified this in our slides/talks as promised before.

I can rename the repository here on github, in the meantime. Does that suffice? (I was n't sure how forks would be impacted by that change). lmk if you have more comments

[2017-10-30 02:59] gr2m commented on #91
forks won't be affected by the name change. And GitHub will redirect from https://github.com/uber/hoodie to https://github.com/uber/hudi

[2017-10-30 03:32] vinothchandar commented on #91
@gr2m I got as far as https://help.github.com/articles/renaming-a-repository/ . have you done this before? What I was asking was : would the lineage of forks be preserved?
If you can confirm, then I can rename the repo and close the issue

[2017-11-15 01:07] vinothchandar commented on #134
@n3nash take a look at this..

[2017-11-15 07:00] vinothchandar opened #284 "Handle Spark Stage Retries gracefully"
There could be some side-effects with partial parquet files, due to how stage failures are handled in Spark..

Specifically, under some scenarios, there could be two duplicate `CreateHandle` tasks kicked off concurrently (Task A - from a previous attempt of a stage, Tasks B - duplicate resubmission in new attempt). If task B fails and spark reports as output, filename from A, we could have commit

[2017-11-15 07:25] vinothchandar commented on #284
Some relevant details in https://issues.apache.org/jira/browse/SPARK-17064, but code explanation below, based on [DAGScheduler](https://github.com/apache/spark/blob/master/core/src/main/scala/org/apache/spark/scheduler/DAGScheduler.scala#L1351)

**A) There are some fetch failures**

Spark schedules a resubmit of the stage (ShuffleMapStage mostly[?]) and takes it off `runningStages`

[code]

**B) g

[2017-11-15 07:36] vinothchandar commented on #284
Few cases to consider, for outstanding/pending tasks in the resubmitted stage

**Case A : Pending task succeeds `before` the stage resubmit is scheduled**

 new duplicate tasks are not scheduled.  :)

**Case B : Pending task fails `before`  or  `after` the stage resubmit is scheduled, its suppressed**

`before` must be from cascading fetch failures, as Spark expects.
`after` is the case where the

[2017-11-15 08:18] vinothchandar commented on #284
**Potential Fixes**

**A) Reconcile based on commit metadata**
If this happens rarely enough, we could just compare commit metadata with filesystem just before committing, error out and rollback the batch.

**B) Move newer file to old file, instead of deleting**
As a part of cleaning up leftover files for the partition in `LazyInsertIterable`, we could implement

 - a check for valid parquet file

[2017-11-21 18:37] prazanna commented on #284
Oh wow! Nice find. 200 ms is a long time and we are likely to hit this more often with big shuffles having transient failures.

Fix A is probably simple way to approach this, we can have a threshold for concurrent commits and rollback. Although there is no guarantee that this will fix it for all cases.

I guess to have exactly once we need retries to agree on a file name. I guess that is what opti

[2017-11-28 13:27] n3nash commented on #265
@vinothchandar I see that you have put in the changes in `HoodieInputFormat` to read from commitAndCompactions timeline. Does it make sense to just deploy a new jar to the Hive servers instead of removing the .compaction action ?

[2017-11-28 13:29] vinothchandar commented on #265
Yes, a full upgrade on query engines will fix this as well. Just calling out a potential migration issue.

[2017-11-28 18:59] n3nash commented on #134
@vinothchandar I took a look at `ExternalAppendOnlyMap` used in Spark for spill use cases. As the name suggests, this implementation is AppendOnly, which means a key's value can be altered but it cannot be deleted, this makes handling deletes difficult. If we were to write our own implementation of a spillable map to support deletes, we'd run into the same issue as is the problem with this impleme

[2017-11-29 00:15] vinothchandar commented on #134
I have not dug much into it myself. But, does `AppendOnly` mean you can only add new k-v pairs?
 Not even update?

If it does supports update, could we not implement deletes as soft deletes i.e change value to null, at the map level, instead of changing the upper layers like you mentioned.

P.S: Let me think about the actual proposed changes more deeply in the meantime and get back

[2017-11-29 00:59] n3nash commented on #134
We already support soft deletes as upserts from the source (ingestion job). This is more for hard deletes.

[2017-11-29 19:42] vinothchandar commented on #134
No what I meant is for "we'd run into the same issue as is the problem with this implementation (deleting data on disk which was spilled)."

Why can't we update the map with a null instead of deleting on disk.

[2017-11-29 22:54] n3nash commented on #134
Well, the problem is during merge of this map (from RecordScanner) with the base parquet file. We cannot return null, we need to skip this row.

[2017-12-04 19:37] vinothchandar opened #287 "Add checkstyle maven plugin to enforce code formatting style guidelines"

[2017-12-04 20:56] vinothchandar commented on #134
the comment there should clarify hopefully.

As for the problem, lets may be split concerns into two

### a) Spilling the merge data
Suggest either porting over the Spark map or implement a simple hash based one for ourselves..

### b) Fixes to deletes on MOR
I think we need a follow up to #190. Seems like soft deletes work and hard deletes don't?  May be reopen the issue and  discuss requirements

[2017-12-10 15:46] vinothchandar commented on #91
Got around to testing this off another project

Checked out code continues to work.

[code]

and fork lineage shows

[2017-12-10 15:49] vinothchandar commented on #91
renamed the repo and doc url. we will use `hudi` externally going forward.. Closing issue. thank you for your patience.

[2017-12-10 15:49] #91 closed

[2017-12-10 18:03] gr2m commented on #91
Thank you!

[2017-12-18 22:50] n3nash commented on #264
This has been addressed here : https://github.com/uber/hudi/pull/281

[2017-12-18 22:50] #264 closed

[2017-12-21 21:21] #40 closed

[2017-12-21 21:24] #36 closed

[2018-01-10 20:14] vinothchandar opened #297 "Add metrics around IOHandle times"

[2018-01-23 18:21] n3nash opened #300 "HoodieAvroDataBlock reads entire block in memory, implement a lazy reader and batch writer to relieve memory pressure"

[2018-01-23 18:24] n3nash opened #301 "Small parquet files corrections for Hoodie MergeOnRead"
At the moment, in COW, small file corrections are made by converting inserts to updates to an existing file and re-size the file. For MergeOnRead, due to absence of an index in the log, we cannot do this operation.

[2018-01-23 18:26] n3nash opened #302 "Memory Optimizations for HoodieAvroDataBlock"
1. Avoid creating new byte [] when re-creating IndexedRecord from log contents.
2. Avoid keeping duplicate list of IndexedRecords
3. Fix test cases accordingly.

[2018-01-23 18:50] n3nash opened #303 "Refactor HoodieMergeHandle to accept a map as a constructor argument for keyToNewRecords"
At the moment HoodieMergeHandle takes in an iterator<HoodieRecord> as an argument and then creates a Map<key, HoodieRecord>. HoodieRealTimeCompactor already creates this map in the HoodieCompactedScanner class, add ability to pass this map to avoid re-creating this.

[2018-01-23 18:55] n3nash opened #304 "Implement a SpillableMap to be able to spill records to disk when batch is too large"
In many cases during ingestion, especially during Compaction, the number of records written to disk can be really large and cause OOM when read in memory. Implement a map with spill to disk functionality after the configured memory threshold is exceeded.

[2018-01-23 18:59] n3nash opened #305 "Remove compaction actionType from the commitTimeline and associated operations"
Compaction operation creates a special action filename called `.compaction`. Instead of this, change this to have `.commit` be created after every compaction to be consistent with COW.
Merge the metadata for compaction -> commit and fix InputFormat. Refactor CommitTimeline as needed.

[2018-01-23 19:00] n3nash commented on #305
This has been addressed here : https://github.com/uber/hudi/pull/288

[2018-01-23 19:00] #305 closed

[2018-01-23 19:02] n3nash opened #306 "Add a reverse pointer in HoodieLogFile to be able to iterate over LogFile forward and reverse."
HoodieLogFile supports forward reading blocks when reading the log file. Add metadata in the log file to be able to read the log file from the end to the beginning.

[2018-01-23 19:03] n3nash opened #307 "Add a tool to be able to read stats and contents of a LogFile"
This should be part of HoodieCli

[2018-01-23 19:06] n3nash opened #308 "Separate out compaction API from commit() API, make it a first class operation in HoodieWriteClient"
This helps to do the following :
1. Keeps the semantics correct of having to perform `deltacommit` and `compaction` independently.
2. Ability to give back independent `RDD<WriteStatus>` for the client to see what happened as part of each operation.
3. Eventually helps achieve the goal of aysnchronous compaction neatly.

[2018-01-23 19:10] n3nash opened #309 "Fix bug in Rollback operation for MergeOnRead tabletype"
1. Fix Rollback for compaction/commit operation after `compaction` action has been moved to `commit`.
2. Add check for null commits when reading from commit file.
3. Populate the `prevCommit()` field when reading out commit file.

[2018-01-24 17:48] mason opened #311 "mvn clean install fails to build"
According to these docs I can just run `mvn clean install -DskipTests` but I get this error when trying

[code]

when visiting `https://repository.cloudera.com/content/repositories/snapshots/eigenbase/eigenbase-properties/1.1.4/eigenbase-properties-1.1.4.jar`

I get an error:
[code]

an idea what's wrong? thanks

[2018-01-24 21:22] mason commented on #311
it randomly resolved.... so closing

[2018-01-24 21:22] #311 closed

[2018-01-27 02:48] vinothchandar commented on #311
sg. glad you got it working.. apologies for delay in getting back

[2018-01-29 16:53] vinothchandar commented on #301
does nt PR #299 fix this? Are you just filing tasks for tracking?
#145  if so, there was this task already

[2018-01-29 16:53] vinothchandar commented on #302
this is merged in #290  ?

[2018-01-29 16:56] vinothchandar commented on #304
dupe of #134 ? Can we check for dupe issues on the merge-on-read project board? (I am okay with closing new dupes or old tickets, just want to have 1 issue for each)

[2018-01-29 20:16] vinothchandar commented on #272
https://cdn.oreillystatic.com/en/assets/1/event/160/Parquet%20performance%20tuning_%20The%20missing%20guide%20Presentation.pdf has some parquet tuning tips

[2018-01-30 21:03] vinothchandar opened #314 "Use sort based merge for CompactedRecordScanner & MergeHandle"
MergeHandle and CompactedRecordScanner classes today handle merging of an input iterator of records against a base file.. This is accomplished via a hash merge (with spillable external diskmap for handling large merge)..

However, if we could sort the data that is in base files and log blocks, we can implement a neat N-way sort merge that will reduce memory usage and arguably also allow for parall

[2018-02-16 19:48] n3nash opened #324 "Create a HoodieLogFormat V2 building on the first version of the LogFormat"
The new log format will help us creata placeholders for the following :

1. Headers
2. Version
3. Footers
4. Reverse Pointer to traverse log file in the reverse direction

[2018-02-16 19:50] n3nash opened #325 "Add support for version in HoodieLogFormat"
To be able to evolve the HoodieLogFormat, we need to have support for versioning so that Hoodie can support backwards compatibility for LogBlocks.

[2018-02-16 19:51] n3nash opened #326 "Implement LazyReading of LogBlocks to reduce memory footprints during Reader/Compaction"
Add metrics for trade-offs of Memory vs I/O

[2018-02-28 21:58] #265 closed

[2018-02-28 22:00] vinothchandar opened #329 "Improve TestHoodieCopyOnWriteStorage"
- Refactor and reduce redundant code
- Test upsert, bulkInsert, insert for records de-duping as well

[2018-03-01 18:28] vinothchandar commented on #329
@bvaradar here you go

[2018-03-05 19:13] suniluber opened #333 "When there are 2 or more records with same Hadoop_Rowkey and Hadoop_timestamp in a single parquet file, only one of the records gets updated in the Upsert flow"
Because of atleast once kafka ingestion, there may be situations where there are multiple records with same Hadoop_rowkey and Hadoop_timestamp in a single parquet file. Let's assume a scenario where in we have 3 parquet files, and all the three parquet files have a record with same Hadoop_rowkey and Hadoop_timestamp and 1 of the three files have multiple records with same Hadoop_rowkey and Hadoop_

[2018-03-05 20:59] jianxu opened #334 "Properly handle Hoodie rollback instants"
Currently Hoodie rollback instants are not handled in HoodieCommitArchiveLog, as the result we have a lot of `*.rollback` files under folder `.hoodie`.  We need a way to handle those rollback hoodie instants in HoodieCommitArchiveLog or some place.

[2018-03-05 20:59] jianxu opened #335 "Properly handle Hoodie inflight instants"
Currently Hoodie inflight instants are not handled in HoodieCommitArchiveLog, as the result we have some `*.rollback` files under folder `.hoodie`.  We need a way to handle those inflight hoodie instants in HoodieCommitArchiveLog or some place.

[2018-03-06 05:58] n3nash opened #336 "Move reverseLogReader in HoodieLogFormatReader into an iterator()"
HoodieLogFormatReader implements methods for prev() and hasPrev(). Instead implement an iterator() pattern to do this and use that in the logformat reader.

[2018-03-06 06:00] n3nash opened #337 "Handle non-backwards compatible or smaller schema appended to the log file during updates"
At the moment, in COW, if a smaller (less wide) schema than the one in the parquet file is provided, the mergehandle throws an error and fails fast, we need to do something similar in HoodieAppendHandle when logging updates.

[2018-03-06 06:02] n3nash opened #338 "Create nice/clean Version classes to handle version changes for log and block format"
The current implementation works off a currentVersion counter and switches between implementation based on the value of the version. Instead, think about implementing classes like HoodieLogFormatV1, HoodieLogFormatV2 that implement specific handling per versions and instantiate the correct class based on the version written to the log file.

[2018-03-06 06:03] n3nash opened #339 "Re-factor/clean up lazyBlockReading use in HoodieCompactedLogScanner"
Essentially, there are 2 ways to lazily read blocks :

Do a 2 pass over the log file (just like this implementation does) and merge at the end.
Do a first pass, find first group of blocks that need to be merged. Now the inputstream in the LogBlocks will rewind the disk pointer to the beginning from where it needs to read the block but the logblock does not know where to move the disk pointer for t

[2018-03-06 06:06] n3nash opened #340 "Revisit null checks in the Log Blocks, merge lazyreading with this null check"
If lazy reading is turned off, all the content is read in memory and then immediately either converted to List[IndexedRecords] or List[Keys] in this case. In HoodieScanner, we will keep multiple of such blocks in memory (for rollback etc) and this causes OOM. So this change is to push down the conversion of byte [] to the specific data only when required which is when the block is ready to be merg

[2018-03-08 05:58] n3nash opened #342 "Fix table.getCommitActionType() and eliminate compaction API's from HoodieWriteClient"
Right now, COW table.getCommitActionType() returns COMMIT and MOR table.getCommitActionType() returns DELTA_COMMIT. However for MOR compaction process, we would like for table.getCommitActionType() to return COMMIT or add some abstraction over table.getCommitActionType() to be able to smartly return the correct action based on the operation. After this, get rid of the startCompaction(..) and commi

[2018-03-13 00:38] kaushikd49 opened #344 "HoodieWriteClient.deduplicateRecords() to be based on HoodieKey.recordKey if global index is used"
Currently de-dup is based on HoodieKey, so essentially de-dup only happens on the combination on HoodieKey.recordKey & HoodieKey.partitionPath. When Global indexing is used in ingestion, incoming records could have same recordKey but differ in partitionPath, in which case the de-dup should happen based on recordKey.

[2018-03-14 19:31] xjodoin opened #348 "Bloom filter index serialization issue"
The bug append in my test environement with a local filesytem

java.io.NotSerializableException: org.apache.hadoop.fs.RawLocalFileSystem$DeprecatedRawLocalFileStatus
Serialization stack:
	- object not serializable (class: org.apache.hadoop.fs.RawLocalFileSystem$DeprecatedRawLocalFileStatus, value: DeprecatedRawLocalFileStatus{path=file:/tmp/hoodie/email_open_event/2018/03/14/682966c0-a419-495c-a96

[2018-03-15 07:33] n3nash opened #351 "Make ExternalSpillableMap generic to store any type of data/payload"
At the moment, the ExternalSpillableMap only allows HoodieRecords to be stored, make changes to be able to store and spill any kind of data type with a converter passed to serde it.

[2018-03-15 07:36] n3nash opened #352 "Make compressionRatio be calculated dynamically"
At the moment, we consider a default compression ratio of 0.1. This does not work well for different data models and different parquet files sizes. Make changes to calculate compressionRation based on totalBytesWritten/totalUncompressedBytesWritten.

[2018-03-15 07:37] n3nash opened #353 "Change HoodieMergeHandle to use ExternalSpillableMap to be able to merge large number updates for a large parquet file"

[2018-03-15 07:38] n3nash opened #354 "Fixing memory leak due to HoodieLogFileReader holding on to a logblock"

[2018-03-15 17:05] xjodoin commented on #143
Could you add me to the slack channel? xavier@jodoin.me

[2018-03-15 23:45] vinothchandar commented on #143
done . welcome :) ..

[2018-03-15 23:55] vinothchandar commented on #348
are you running one of the built in examples?

[2018-03-19 01:55] kaushikd49 opened #356 "Standardize write methods in HoodieWriteClient"
If we make `UserDefinedBulkInsertPartitioner` instance config driven (since the it anyway has to be serializable, it could be instantiated with a class name), we could unify the write methods of hoodie again (upsert/insert/bulkInsert). This makes it simple in one of our projects too to have a handleWrite() method, where based on the operation, we choose appropriate write method without having to d

[2018-03-19 02:23] kaushikd49 opened #357 "Make HoodieWriteClient.deduplicateRecords() public"
As part of a project, we have chosen to perform dedup outside of Hoodie to get a more granular control of when we want to dedup/tagLocation, and due to this, [some APIs were exposed in a previous commit to Hoodie](https://github.com/uber/hudi/commit/5d5c306e647e192bcf97b9ef9c970ed4759f116f#diff-f79aa28a4339d401c00ee14cbd7dcbfb). We also would like to re-use the dedup logic too instead of re-implem

[2018-03-19 14:56] ovj commented on #356
The reason we had it this way was to ensure that user can instantiate it on its own without the need to instantiate it using default constructor. Say if user partitioner needs extra parameters then we will have to pass it via hoodieConfig.

[2018-03-19 17:46] jianxu commented on #356
@kaushikd49 @ovj can you check if you can use the following new APIs in HoodieWriteClient:
`upsertPreppedRecords`, `insertPreppedRecords` and `bulkInsertPreppedRecords`?

[2018-03-19 21:43] vinothchandar commented on #356
@ovj & I spent a whole bunch of time on this and decided to go the current route..

[2018-03-19 21:45] vinothchandar commented on #357
@n3nash and @jianxu discussed this..  Opening up de-duplicate api makes the usage pretty unclean and decided that a client who decides to use one of prepped write client API, assumes responsibility for de-dup and tagging..

[2018-03-19 23:38] kaushikd49 commented on #356
@vinothchandar @ovj thanks for the clarification, closing this then.

[2018-03-19 23:38] #356 closed

[2018-03-20 20:16] kaushikd49 commented on #357
Thanks Vinoth, we will continue to replicate the dedup logic and revisit this if dedup logic changes frequently in future.

[2018-03-20 20:16] #357 closed

[2018-03-22 23:16] jianxu opened #362 "Consistent contract in HoodieWriteClient regarding preppedRecord storage level handling"
This task was discovered during discussion of https://github.com/uber/hudi/pull/358.

Copied from the PR
[code]

[2018-03-23 21:31] n3nash opened #363 "Add a inputstream.hsync() to the HoodieLogWriter flush() method"
HDFS hflush() and flush() only ensures that the data is flushed to all datanodes but doesn't ensure that the data is flushed to disk. In a rare scenario of 3 replicas going down or a disk failure issue, the data might not be written to disk even though the writer thinks it has. For such reasons, we would like to add hsync() call which internally issues a fsync() to the datanodes to flush to disk.

[2018-03-23 22:39] n3nash opened #364 "HoodieCommitArchiveLog OOM's if the number of commits/cleans is too large"
If a job fails to archive over 1-2 days, the (numberOfCommits - minCommits) can be really large and much more than (maxCommits - minCommits) intended to be archived. Add a logic in the HoodieCommitArchiveLog to cap the number of commits to archive as follows : min( (numberOfCommits - minCommits), (maxCommits - minCommits)).

@jianxu @kaushikd49 FYI

[2018-03-23 23:01] jianxu commented on #364
Thanks @n3nash !  Just to 1 additional note: the cap should apply to both `clean` instants and `commit` instants.

[2018-03-23 23:26] bvaradar commented on #364
Can you link stack-trace or heap-dump when OOM occured ?

[2018-03-29 00:59] vinothchandar opened #369 "Investigate possibility of logging data blocks in parquet format"

[2018-03-29 17:38] vinothchandar commented on #364
Not sure if I want to rush into caping yet. Can we get into why the archival failed for 1-2 days? How much memory was used, how much was needed?

[2018-03-29 17:39] vinothchandar commented on #354
Merged. closing

[2018-03-29 17:39] #354 closed

[2018-03-29 17:40] vinothchandar commented on #353
@n3nash I think this is done too. Reopen if not

[2018-03-29 17:40] #353 closed

[2018-03-29 17:40] vinothchandar commented on #352
we have a WIP for this #347

[2018-03-29 17:41] vinothchandar commented on #351
@n3nash reopen if needed

[2018-03-29 17:41] #351 closed

[2018-03-29 17:42] vinothchandar commented on #348
@xjodoin reopen if still problem persists..

[2018-03-29 17:42] #348 closed

[2018-03-29 17:47] #344 closed

[2018-03-29 17:48] vinothchandar commented on #342
#305 should have fixed this

[2018-03-29 17:48] #342 closed

[2018-03-29 17:50] vinothchandar commented on #333
we discussed this f2f.. FWIW, this is the correct and expected behavior.. we don't expect a key to be present multiple times in the partition ..

[2018-03-29 17:50] vinothchandar commented on #324
this is merged. #331

[2018-03-29 17:51] vinothchandar commented on #301
@n3nash reopen if needed

[2018-03-29 17:51] #301 closed

[2018-03-29 17:53] vinothchandar commented on #274
This has been fixed as well. if we can append, now we will create a new file..

[2018-03-29 17:53] #274 closed

[2018-03-29 17:54] vinothchandar commented on #270
@n3nash can you add more details on when the estimation is wrong

[2018-03-29 18:04] vinothchandar commented on #174
@n3nash looks like this is a lot of what we ended up doing recently..
@prazanna has this written down already :)

[2018-03-29 18:04] #174 closed

[2018-03-29 18:04] vinothchandar commented on #173
@n3nash I think it does now.. Can you confirm and close this?

[2018-03-29 18:09] #145 closed

[2018-03-29 18:10] #304 closed

[2018-04-02 16:49] ovj commented on #260
@vinothchandar So the suggestion was to have our custom WriteStatus and that will avoid caching records on success. This is what we are using internally.
cc @jianxu

Closing this as no change is needed in hoodie.

[2018-04-02 16:49] #260 closed

[2018-04-02 18:06] bvaradar commented on #287
Resolved by commit https://github.com/uber/hudi/commit/788e4f2d2eeeeee685b9f5d2e09b56be230e34d4

[2018-04-02 18:06] #287 closed

[2018-04-02 18:08] bvaradar commented on #329
PR : https://github.com/uber/hudi/pull/372

[2018-04-04 17:25] n3nash opened #374 "Refactor handleWrite() in HoodieMergeHandle to offload conversion and merging of records to reader"
When we use BufferedIterator, we offload the cpu intensive operation of converting payload to indexedrecord to the reader, this is the case when using LazyInsertIterable. In HoodieMergeHandle, this operation still happens in the writer side hence not completely making use of the parallel reader thread that can perform this operation in parallel and reduce writer time.

[2018-04-11 03:30] #329 closed

[2018-04-11 16:05] bvaradar commented on #306
@n3nash : Where is this reverse iteration helpful ?

[2018-04-12 18:37] vinothchandar commented on #333
who's picking this up.

[2018-04-12 18:48] vinothchandar opened #375 "Replace BufferedIteratorPayload abstraction with function passing"
Follow up to #370 , to see if we can reduce the additional abstractions needed.

[2018-04-12 18:51] suniluber commented on #333
i have made the update to the code and added tests. will send a pull request soon.

[2018-04-12 19:02] bvaradar opened #376 "Compaction must preserve commit timestamps of merged records"
During Compaction, HoodieCompactedRecordScanner merges log records in log files and feeds them to MergeHandle. MergeHandle merges these records with the old columnar data (in base-file). While doing the second level merge, if the mergeHandle chooses the record coming from log, it re-tags hoodie metadata for that record with compaction commit time (using HoodieStorageWriter.writeAvroWithMetadata).

[2018-04-12 21:52] bvaradar commented on #376
@n3nash @vinothchandar : FYI

[2018-04-12 23:22] vinothchandar opened #377 "Benchmark AppendHandle code for 1GB write"

[2018-04-13 00:15] vinothchandar opened #378 "Sort commits command output by instanttime"

[2018-04-16 23:52] leletan opened #381 "Dependency Conflicts with Spark 2.3.0"
Spark 2.3.0 had following dependency version conflicts and caused troubles when I was trying to run ETL job:

parquet:
- Spark 2.3.0: 1.8.2
- Hudi: 1.8.1
Seeing errors like following:
`2018-04-16 07:19:11 INFO  TaskSetManager:54 - Lost task 19.8 in stage 6.0 (TID 2253) on 10.28.21.230, executor 19: java.lang.NoSuchMethodError (org.apache.parquet.column.ParquetProperties.<init>(ILorg/apache/parquet

[2018-04-17 22:42] vinothchandar commented on #381
So the parquet versions mismatch?  Short answer is hudi is not on spark 2.3 and this probably ends up bringing in some conflicting jars..

Do you specifically need spark 2.3? (we want to upgrade, but have not pushed on it yet)

[2018-04-18 00:28] leletan commented on #381
It would be great if we can run spark 2.3, since that is the first official version supporting kubernetes deployment and we already have a couple of kubernetes clusters in production already.

[2018-04-18 22:04] zichuanwang commented on #348
It happens when you use the Hoodie client to upsert against existing datasets.

[2018-04-20 04:45] vinothchandar commented on #381
Gave a quick shot. Seeing some unit test failures around netty. Have to take a another pass.

In the meantime, would building against 2.3.0 yourself work for you as a stop gap?

[2018-04-23 16:07] #151 closed

[2018-04-23 16:08] vinothchandar opened #382 "Move Index under the Table abstraction"

[2018-04-23 20:33] leletan commented on #381
Thanks for the investigation, @vinothchandar .
I am fine with forking the repo and doing it by myself. Just want to make sure not to get too far away from the official implementation in the future.
This ticket is more or less asking about spark version support strategy of hudi, so I will get a better idea how much maintenance effort there will be for us if building against spark 2.3.0 by myself.

[2018-04-24 01:56] zichuanwang commented on #348
@xjodoin Setting `SparkSession.builder().config("spark.serializer", "org.apache.spark.serializer.KryoSerializer")` resolved this issue for me. The `HoodieDataFile` seems to be only kyro SerDe-able.

[2018-04-24 03:56] n3nash commented on #336
A basic version of this was implemented as part of https://github.com/uber/hudi/pull/331.

[2018-04-24 22:17] n3nash opened #384 "Introduce a WriteContext abstraction to HoodieWriteClient"
To be able to wrap information passed from HoodieWriteClient to dependent classes like HoodieTables, HoodieHandles etc, we want to introduce a WriteContext that wraps some of the following information : 1) HoodieWriteConfig 2) Accumulators - used for counting perf metrics and more.

[2018-04-25 02:29] bvaradar commented on #381
@leletan : I was able to get the tests succeeded with spark-2.3.0
 Can you try the commit below and see whether if works for you: https://github.com/bvaradar/hudi/commit/e189734a07b8782ea1d21b3c780dfc61c2ab8f2b

Regarding your question, Supporting spark-2.x versions (one option is by using mvn profiles) is definitely part of our plan.

[2018-04-25 14:58] vinothchandar commented on #348
That sounds right. We set kryo by default if you go thru the datasource apis. Curious about your use case. Can you expand more

[2018-04-25 17:31] vinothchandar commented on #262
@prazanna this is the task we talked about. are you able to take this up

[2018-04-25 23:21] n3nash opened #385 "Fix table.getActionType for MergeOnRead table types"
At the moment, table.getActionType resorts to COMMIT_ACTION for COW and DELTA_COMMIT_ACTION for MOR table type. But when a compaction is run for MOR table type, the actionType has to be COMMIT_ACTION. Implement an abstraction over table.getActionType to correctly return action based on operation delta or commit..

[2018-04-26 21:28] leletan commented on #381
Thanks @bvaradar !
Will give it a try and let you know what we see.

[2018-04-26 22:04] bvaradar commented on #378
Fixed by https://github.com/uber/hudi/commit/c66004d79a2b1d30584df5e99e782d399d0b8ce7

[2018-04-26 22:04] #378 closed

[2018-05-04 15:27] jboulon commented on #143
Could you add me to the slack channel? jboulon@gmail.com

[2018-05-08 19:59] vinothchandar commented on #284
@bvaradar reopening this to fix it in a nicer way going forward

[2018-05-13 16:27] bvaradar commented on #375
Fixed by https://github.com/uber/hudi/commit/dfc0c61eb7d8ef6e66e96252f0fc89c260786704

[2018-05-13 16:27] #375 closed

[2018-05-13 16:28] bvaradar commented on #257
Fixed by https://github.com/uber/hudi/commit/dfc0c61eb7d8ef6e66e96252f0fc89c260786704

[2018-05-13 16:28] #257 closed

[2018-05-15 06:37] leletan opened #392 "Spark structured streaming writing support"
Was trying to use hudi to write structured streaming job but ran into this error
`Data source com.uber.hoodie does not support streamed writing`
Wondering if this is intended, and if yes then how this is done in uber to fetch data from kafka using hudi?
Or is structured streaming integration on the roadmap?

[2018-05-15 22:48] vinothchandar commented on #392
Structured streaming integration is on the roadmap & the ultimate goal. Few issues to iron out before that - async compaction & sending inserts to log files

#261  tracks it.. for now, you can try running small batches. does that work?

[2018-05-16 00:42] leletan commented on #392
Thanks for the reply @vinothchandar. I was doing exactly what is described in #261 but was worrying about getting deviated from the official code further and further if I stay on my own fork. I may offer some contribution to the code base for this if allowed.

And also wondering if those few issues mentioned above are the blockers for the structured streaming, or just higher priority on the list t

[2018-05-16 17:24] vinothchandar opened #393 "Port patch to Hive-sync to enable stats on Hive tables"

[2018-05-16 17:30] vinothchandar opened #394 "Get rid of special casing Global Index for MOR rollback"

[2018-05-16 17:38] vinothchandar commented on #392
Contribution would be great. No, they are not blockers per se. They just lower latencies down to streaming levels , without them each batch may still take few mins depending on your workload.

Would be thrilled to get a patch to support sturcutured streaming :)

[2018-05-17 18:48] leletan commented on #143
@vinothchandar
May I join the slack group?
tanjiale317@gmail.com

[2018-05-17 18:53] leletan commented on #392
@vinothchandar would love to.
Read through [this](https://github.com/uber/hudi/blob/616c9a68c3168d927f08117014949df2f1a859ec/docs/community.md).
This is great but would like to know about contribution/coding style more concretely -
- Is there a guide how to set up a local dev environment for this project?
- Would you mind pointing me to, as you think, a similar PR (with test)?

[2018-05-21 14:21] leletan opened #397 "[Question] What is the right way to only maintain the latest commit version"
Wondering if there is any documentation or example to only have latest version of the data, also a little bit confused with following HoodieCompactionConfig configurations:
`hoodie.cleaner.fileversions.retained`
`hoodie.cleaner.commits.retained`

I already set 1 for the above 2 configs but not seeing older file got deleted. also seeing in the logs `Cleaned 0 files`

[2018-05-21 19:26] vinothchandar commented on #392
https://uber.github.io/hudi/dev_setup.html covers devsetup.
I don't think we have a similar PR for this. So far, just scoped teh task down :)

[2018-05-21 20:06] vinothchandar commented on #143
Done. added! See y'all there

[2018-05-30 05:30] vinothchandar commented on #272
Did a micro-benchmark by generating a file slice as follows
- 400MB base file with 18M records
- Each record has 20 fields or so. Lots of nulls
- Log file has equal 18M updates.
- We test reading upto 50% or 8.9M records from log.

Using vmtouch to control caching of files on linux.. Here's how the numbers stack up.

| Operation       | Fully Cached  | Zero Cache  |
 | ----------------|:----------

[2018-05-31 16:40] vinothchandar commented on #381
@bvaradar does the patch also work with spark 2.1? should we consider merging this in? We can explore if we can use different profiles to support few supported spark versions..

[2018-05-31 16:46] vinothchandar commented on #397
@leletan We had a meeting with the Athena team a while back and they seem to be on an older version of Presto. In general, to use Hudi, we need to find a way to get teh hoodie-hadoop-mr jars into HiveServer and Presto, so they can filter files correctly..

[2018-06-01 17:55] cb149 opened #401 "HoodieDeltaStreamer doesn't support parquet files as source"
I noticed that the option --source-format for the deltastreamer has the possible values: [AVRO, JSON, ROW, CUSTOM]. So my questions/problems are:

- Is there parquet support planned in the future or is there already an implementation/some workaround that I can use?

- The comment for SourceDataFormat.ROW states that it will be added later, but the one for CUSTOM does not, even though I cannot see

[2018-06-02 01:26] cb149 opened #403 "HoodieDeltaStreamer needs modifications to run"
I am trying to use the HoodieDeltaStreamer to get data out of hdfs into a hoodie dataset, with the intention of having a dataset without duplicates and so that I can incrementally pull the newest data from that dataset.

I am using version 0.4.2-SNAPSHOT and start the job the same as described here: [incremental_processing.md](https://github.com/uber/hudi/blob/274aaf49fedc9afd97092e169b970d600eeda

[2018-06-02 01:39] cb149 commented on #143
Hi, could you add me to the slack group? My email is topspin97@web.de

[2018-06-04 14:08] vinothchandar commented on #272
https://gist.github.com/vinothchandar/7cd380a213653b0ad80b973260d0632f  microbenchmark code here

[2018-06-04 15:28] vinothchandar commented on #401
Hey. thanks for a taking a look at the deltastreamer.
On Parquet:
 - Its currently is ingestion centric, thats probably why it does not support parquet yet...
 - if you are looking to just do a one-time parquet import, the `HDFSParquetImporter` could help. There is a CLI command..
 - you can always just use the datasource and wrap it in your own Spark job.

Actually there is planned work to rework

[2018-06-04 15:29] vinothchandar commented on #403
Also adding in the other issue you reported..

[code]

[2018-06-04 15:35] vinothchandar commented on #397
Closing this. Please reopen this or new one for followup.

[2018-06-04 15:35] #397 closed

[2018-06-04 15:36] vinothchandar commented on #143
Done

[2018-06-04 15:43] #325 closed

[2018-06-04 15:43] #324 closed

[2018-06-04 15:43] vinothchandar commented on #309
@n3nash is this fixed/

[2018-06-04 15:44] #306 closed

[2018-06-04 15:44] #302 closed

[2018-06-04 15:46] #276 closed

[2018-06-04 15:47] vinothchandar commented on #392
Closing since this is dupe of #261

[2018-06-04 15:47] #392 closed

[2018-06-04 15:49] vinothchandar commented on #393
#249  could also be related

[2018-06-04 15:49] #249 closed

[2018-06-04 15:50] #209 closed

[2018-06-04 15:51] #175 closed

[2018-06-04 15:52] #176 closed

[2018-06-04 15:53] vinothchandar commented on #172
@n3nash ping.. can you please confirm this is fixed

[2018-06-04 15:54] #161 closed

[2018-06-04 15:54] #138 closed

[2018-06-04 15:55] #133 closed

[2018-06-04 15:56] #130 closed

[2018-06-04 15:56] vinothchandar commented on #127
commit metadata is supported already

[2018-06-04 15:56] #127 closed

[2018-06-04 15:58] #116 closed

[2018-06-04 15:58] #115 closed

[2018-06-04 16:01] vinothchandar opened #405 "Add a consistency check for written data before committing write"
S3 for e.g is eventually conssistent, while Hoodie tries to be timeline consistent (easily achieved on HDFS).

Hence, we plan to add a check to ensure the data is actually readable before publishing out the commit.. effectively delay committing until data shows up on underlying storage..

[2018-06-04 16:02] vinothchandar commented on #110
Per #293, we should be able to read/write to cloud stores properly now. Tested with S3.

Still need to add a check to ensure files are consistent on storage before publishing commit.. This will handle the eventual consistency issue . Filed #405

[2018-06-04 16:08] vinothchandar opened #406 "Support for building with different spark and hadoop versions"

[2018-06-04 16:09] vinothchandar opened #407 "Scope out how hudi can be integrated underneath Gobblin.."
Gobblin-385 is about first adding Spark support for Gobblin

[2018-06-04 16:12] vinothchandar opened #408 "Reduce memory usage on WriteStatus for implicit indexes"
For things like BloomIndex, there is no need to keep accumulating the hoodiekey/recordlocation per IOHandle to be passed to index update..

Fixing this, can greatly ease  bulk inserts/upserts with large number of keys and small record sizes

[2018-06-04 17:35] cb149 commented on #401
Thanks for the reply. I can also use avro as a source-format, I just wanted to check whether there is parquet support, so I don't do any unnecessary work.

[2018-06-06 16:42] n3nash opened #409 "Persist the HoodieIndex type in the hoodie.properties file"

[2018-06-11 02:01] vinothchandar opened #410 "Change DataSource to use RowPayload instead of AvroPayload"

[2018-06-11 02:16] #246 closed

[2018-06-11 16:13] vinothchandar commented on #393
trying to repro on hive1.1.0-cdh5.8.3

[2018-06-11 18:19] lenamaier commented on #143
Hi @vinothchandar, could you add me to the slack group? My email is lenamai.er@web.de

[2018-06-22 01:19] n3nash opened #414 "client.scheduleCompaction should handle not creating duplicate keys for compaction requested"
In a scenario when schedule compaction is invoked one after another, it is possible to get the same timestamp for multiple compaction invocations.

[2018-06-22 01:19] n3nash commented on #414
@bvaradar

[2018-06-22 23:54] leletan commented on #261
Thinking of a naive implementation as following, but running into issues of execution plan check failure:

class HudiFileStreamSink(sqlContext: SQLContext,
                         options: Map[String, String],
                         partitionColumns: Seq[String],
                         outputMode: OutputMode)
  extends DefaultSource
    with Sink
    with Logging
    with Serializable {

  pr

[2018-06-22 23:54] leletan commented on #261
2018-06-22 23:53:00 ERROR MicroBatchExecution:91 - Query [id = 5eaf9de8-0684-4e28-a8db-a45de88e4afa, runId = 8052492e-a2a8-41c3-925a-3d8e16b0301f] terminated with error
org.apache.spark.sql.AnalysisException: Queries with streaming sources must be executed with writeStream.start();;
LogicalRDD [key#141, value#142, topic#143, partition#144, offset#145L, timestamp#146, timestampType#147], true

	at

[2018-06-22 23:56] leletan commented on #261
The complain is about the createRdd function call:

[2018-06-22 23:58] leletan commented on #261
I can have a temp work around by setting certain spark conf, but it looks ugly:

[2018-06-22 23:59] leletan commented on #261
Any suggestions?

[2018-06-25 21:32] lenamaier commented on #143
Hi Vinoth, sorry for bothering again. Could you add me to the slack channel, I have some questions regarding the HoodieDeltaStreamer. My email is: lenamai.er@web.de. Thanks!

[2018-06-25 22:07] vinothchandar commented on #261
I have a plan to push the avro conversion into the HoodieRecordPayload (needs cleanup; sits in my laptop branch now), since I found shuffling avro can cause some memory issues. This can help with this ?

But then we need to do a df.rdd and work with spark `Row` ultimately?  Guessing that would still be a problem?

[2018-06-25 22:08] vinothchandar commented on #143
hey. I actually did that.. let me try inviting again..

[2018-06-25 22:38] lenamaier commented on #143
Hm for some reason I hadn't received an invite, but now it worked, thanks!

[2018-06-26 02:53] leletan commented on #261
Yah, `df.rdd` will end up calling `QueryExecution.assertSupported()`, which does not allow any `.isStreaming` in any of the child of the query plan.

[2018-06-26 16:24] vinothchandar commented on #261
How do other sinks do this? I mean, at some level they all need to convert to an internal data object representation right?
FileStreamSink seems to do something different
https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FileStreamSink.scala#L131

Don't have ideas top of my head. Need to research more :(

[2018-06-29 15:25] n3nash opened #415 "Remove payload class dependency in SpillableMap"
ExternalSpillableMap uses a converter to convert the in-memory data to it's serialized form. To be able to convert back, it requires the payload class name and the fact that the payload class' constructor to be of a specific signature. This may not be backwards compatible given there is no way to enforce constructor signature.

[2018-06-29 15:29] n3nash opened #416 "Improve the way log block magic header is identified when a corrupt block is encountered"
We use "#HUDI#" as the new magic header to identify the beginning of a log block. Also, "HUDI" is used as the old magic header to resolve read time. In the event a corrupt block is written, an exhaustive search is done over the corrupted bytes to find the beginning of the next valid log block or the end of the log file whichever happens first.
If, for some reason, the data in the corrupt bytes its

[2018-07-04 22:44] leletan commented on #81
Is this completed? It seems [the presto patch](https://github.com/prestodb/presto/pull/7002) is merged.

I was trying to build a presto + minimum hive metastore POC (https://stackoverflow.com/questions/43727964/does-presto-require-a-hive- etastore-to-read-parquet-files-from-s3) on top of s3 files written by hudi. It seems presto
- cannot match the field names vs the field values (it shows the hudi

[2018-07-05 02:11] vinothchandar commented on #81
yes. presto patch is merged.  Yes presto support is via the Hive catalog.

Not following fully.. But hudi does add few metadata fields to the table including the commit version of the records.

This is weird.. What presto version are you running? Also be sure to provide the hoodie-hadoop-mr jar to presto workers/coordinators.

For Copy-on-write, hoodie support works without any need for a plugin.

[2018-07-06 16:10] leletan commented on #81
Thanks for the clarification, @vinothchandar. I guess it was due to my own local env set up.

So I fell back to local env set up in [quickstart](https://uber.github.io/hudi/quickstart.html) with hadoop-2.6.0-cdh5.4.7, hive-1.1.0-cdh5.4.7, presto 0.205 and dataset generated from HoodieJavaApp default options. Presto is working fine for `select count(*)` but when I tried to `select *`, I got the fol

[2018-07-06 20:21] leletan commented on #81
Dug a little bit more, it seems presto is trying to decode the binary serialized parquet written by hudi into double, which will require a `DoubleType.writeSlice` call, which DoubleType does not implement and its parent class AbstractType will just throw `UnsupportedOperationException` upon `writeSlice` call.

Not sure if the above holds true. If yes, all open source presto user with uber hudi wil

[2018-07-12 01:12] vinothchandar commented on #410
intial commit here..

https://github.com/vinothchandar/hoodie/tree/rowpayload

but seems more involved, since the DiskBasedMap infrastructure assumes GenericRecords

[2018-07-12 14:41] vinothchandar commented on #81
So, this does not seem like a Hudi issue to me. the parquet files generated by hudi are the same parquet files. Can you try just copying the files themselves into another table (non-hudi) and see if it works..  Also validate that the parquet files are good via spark sql?

Also please feel free to open a new issue around this, since this one is about the presto plugin.

[2018-07-12 18:50] vinothchandar commented on #16
This is the dead code sitting in HoodieInputFormat

[code]

This also causes most of issues for Hive2 support, by bringing in some parquet-deps. Removing and simplifying life until we can fix this again.

[2018-07-12 20:09] leletan commented on #81
Thanks for the info @vinothchandar
I figured it out - missed `hive.parquet.use-column-names=true` in the presto hive config.
Now everything is working!

[2018-07-12 20:10] vinothchandar commented on #81
Nice to hear..  lets put together a hoodie docker container for the future.. Given so many dependencies, it can be overwhelming at times :)

[2018-07-12 21:39] leletan commented on #81
Totally agree. Any thoughts on which folder this should go?

[2018-07-12 21:45] n3nash opened #418 "ExternalSpillableMap should set all member variables (including newLocation and oldLocation)"
The spillable map at the moment spills the HoodieRecord to disk. After it spills the record to disk, when recreating the record, it sets the hoodieKey and data back to the HoodieRecord, the constructor for HoodieRecord sets the `newLocation` and `oldLocation` to `null` as opposed to the actual value that was set during the index tagging process.

[2018-07-16 15:48] vinothchandar commented on #261
Reading up more core.. Seems like the `toRdd` does happen for FileStreamSink, but at the FileFormatWriter level, where this is done within the a SQLExecution..

https://github.com/apache/spark/blob/branch-2.1/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatWriter.scala#L127

Need more understanding of the layering here. but, do you think it will work if we simply wrap

[2018-07-16 15:51] vinothchandar commented on #81
we can create a hoodie-docker and host all scripts and DockerFiles there

[2018-07-16 23:40] vinothchandar opened #422 "Create docker image for Hoodie quickstart"

[2018-07-17 00:09] leletan commented on #261
ran a quick test on the following code but still got the same error, might need to dig a little bit more:
[code]

[2018-07-17 21:01] leletan opened #423 "[Question] About hoodie upsert dedup scope - within / across partitions?"
If we have 2 records with the same key will end up in 2 partitions, will hoodie dedup them
- if a spark upsert batch run reads both records as input (or precombined)?
- if one is in the spark upsert batch run and the other already in the table?
- what if we update the column for partition of an existing record, will it end up in another partition?

[2018-07-18 00:18] n3nash opened #424 "Old HoodieInputFormat does not include parquet files written as part of deltacommits, we need a workaround for this"
At the moment, presto and hive are using a very old jar of hoodie-mr where the commitTimeline only returns `.commit`s.
In MergeOnRead table type, we have 2 modes of writing out inserts :
1. Write Inserts as parquet files (working)
2. Write inserts as log files (still pending)

Say a batch consisting of inserts + updates was written as part of a deltacommit, this batch will create new parquet files

[2018-07-18 03:23] bvaradar commented on #424
@n3nash : @vinothchandar and myself discussed about this. We think there is an option which would not force an upgrade while keeping Hoodie OSS clean.

The idea is to have Komondor identify the file-Ids where new records are inserted and force a future compaction by creating an empty log file before we commit. Once, all the clients have eventually upgraded to latest jars, we can remove this from K

[2018-07-18 03:52] bvaradar opened #425 "HoodieArchivedTimeline not reading archived commits"
Looks like ArchivedTimeline was not updated to work with the log-format we use for archiving commits. The ArchivedCommitsCommand CLI implements its own reader. We should move some of those functionalities to HoodieArchivedTimeline

[2018-07-18 04:52] n3nash commented on #424
@bvaradar @vinothchandar That's also an alternative option. Although, this option seems much more complex and laced with scope for bugs with custom handling of creation of log files, rollback etc on the client. I would rather avoid such complex logic to lie in ingestion jobs making reasoning of code difficult.
I agree with tracking inserts during merging/compacting in HoodieMergeHandle.
I propose

[2018-07-18 05:08] leletan commented on #423
@n3nash Thanks for the explanation!

[2018-07-19 20:18] kaushikd49 opened #426 "Throttling to limit QPS from HbaseIndex"
During experiments on Dev Hbase cluster we noticed that beyond a certain Put QPS, Hbase Region server dies. So, we want to cap aggregate Put QPS for each RegionServer by implementing mechanisms for enabling throttling writes across spark-tasks and spark-jobs.

[2018-07-21 03:48] n3nash opened #428 "Implement a MemoryManager that can be used in different Hoodie Operations"
With many number of components involved in different hoodie operations, it is difficult to have a global fail safe from a OutOfMemory exception. This is specifically very prominent in Compactions where there are many major memory intensive components :

1. DataInputStream for each log block has a BUFFER to improve read time for CORRUPT_BLOCK
2. A log block is of 256 MB on disk which can blow upto

[2018-07-23 05:17] vinothchandar commented on #403
Above issues seem like real issues with placing config files on dfs. Talking with lena over slack, there is an additional ask for support for parquet files as source.
Currently, there are concepts of source (kafka,dfs etc) and format (avro, json), I think it better to just support pulling from spark sources in a general sense. So expanding scope of this bit more and work on this.

[2018-07-23 17:39] SemanticBeeng commented on #143
please add nick@semanticbeeng.com - thanks.

[2018-07-23 21:35] vinothchandar opened #429 "Ability to read from any standard data source in DeltaStreamer"

[2018-07-25 22:55] leletan commented on #423
@n3nash is there a good way to dedup based on key across the partition in hudi?

[2018-07-25 23:09] n3nash commented on #423
@leletan There is no way to dedup across partitions but you can dedup within a partition. As mentioned, HoodieKey is the lowest granularity of dedup, a HoodieKey consists of {UUID, partition-path} and if you have the same UUID across different partition paths, they are treated as different rows. What's your use-case ? May be I can suggest other workarounds.

[2018-07-25 23:16] leletan commented on #423
Thanks for the info @n3nash.
Here is our use case, it should be pretty common:
We are logging events from servers with event_id but not guaranteed to be exactly once delivery, and we need to partition them into daily partition folders. Is there an easy way to guarantee the uniqueness on the event_id across all partitions?

[2018-07-26 00:41] vinothchandar opened #430 "Migration guide for moving datasets to hudi"
Currently, the migration path to move a pure parquet dataset into hoodie is do a full table re-write. This is the cleanest way , supports all the indexes.  But involves a lot of upfront cost, considering we are moving vast amounts of data..

Below is a brain dump of some ways to turn a dataset into hoodie with lower overhead

 - We simply rename files into a Hoodie compatible convention, generate

[2018-07-31 17:26] vinothchandar commented on #143
Done

[2018-07-31 20:15] SemanticBeeng commented on #143
thanks - cannot see an actual invite and trying to find a way to join without. :thinking:

[2018-07-31 23:00] n3nash commented on #424
So, in this scenario, we will have a commitTime for the datafile associated to the commit Timeline and we will filter out such file ids.

If it's in the archived timeline, the query will automatically work since the commit time will be earlier than the earliest commit timeline in the active timeline and wee will not choose this for compaction as well.

Snippet of code that takes care of this

`

[2018-08-01 04:44] vinothchandar commented on #393
Without this aggregation queries could be incorrect with default settings of Hive.

https://community.hortonworks.com/content/supportkb/150059/how-to-set-hive-select-count-to-return-results-wit.html

@bvaradar this is one more thing to test.

[2018-08-01 05:08] vinothchandar commented on #393
First thing to try : disable stats and ensure count(*), avg, groupBy, projection, filtering, self join.  - these things are correct.

[2018-08-01 05:10] #262 closed

[2018-08-01 05:11] vinothchandar commented on #123
#262 is related, in terms of API we want to package this under

[2018-08-01 05:24] vinothchandar commented on #143
It does say - "This person has already been invited to your workspace" :( when I check now. Any chance its in your spam folder?

[2018-08-01 06:15] SemanticBeeng commented on #143
No, I checked thoroughly already.
But found a way in: asked for a password reset.

A bit strange but I am in now.

[2018-08-01 20:45] leletan commented on #423
Thanks @n3nash . Please correct me if I am wrong:
Likely Hoodie is not the right tool to dedup globally at scale, might need to add another layer of kv lookup cache before hoodie.
Wondering if uber has the same use case and if yes how to deal with this.

[2018-08-02 18:31] vinothchandar commented on #430
Need to check if we can add an footer to an existing parquet file without rewriting it.

@bvaradar

[2018-08-02 22:01] vectorijk commented on #8
I am from Beam Community. Love to see if there is any process on this issue. Also, I would love to give some my help on this one.

[2018-08-03 23:13] bvaradar opened #431 "Introduce config to allow users to control case-sensitivity in column projections"
Similar to  "spark.sql.caseSensitive", Needed in this context -

  Avro & Presto field names seems to be case sensitive (support fields differing only in case)
 whereas Hive/Impala/SparkSQL(default) are case-insensitive. Spark allows this to be configurable
 using spark.sql.caseSensitive=true

  For a RT table setup with no delta-files (for a latest file-slice) -> we translate parquet schema to Av

[2018-08-03 23:16] bvaradar opened #432 "Refactor HoodieWriteClient and make the APIs more coherent and reuse functionality when possible"

[2018-08-06 20:31] vinothchandar commented on #424
Looks okay to me. lets revisit again based on some testing resutls

[2018-08-06 20:36] vinothchandar commented on #423
For large log scale data feeds (think Kafka/Kinesis events), actually a kv store may also be a hard thing to pull off. For database feeds, we have a HBaseIndex which does what you described. Its a tradeoff -
a) HoodieBloomIndex  - does not support dedup globally (mostly coz we thought it would be expensive, you can make it do that depending on your datasets), but no extra operational overhead
b) H

[2018-08-06 20:40] leletan commented on #261
More findings:
it seems the FileFormatWriter.write(...) in [spark 2.3](https://github.com/apache/spark/blob/branch-2.3/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatWriter.scala#L127) is quite different from spark 2.1 now. There is no longer `.toRdd` any more in the code.

For `FileFormatWriter.write(...)` in Spark 2.3, it seems they played the trick of calling `df.q

[2018-08-06 20:44] vinothchandar commented on #8
Hi @vectorijk, the idea here was to see if we can

- Build a `HoodieIO` - that can support streaming semantics on data in hdfs/s3/gcs in a standard way. There is nt one now IIAC
- Potentially use Hoodie to manage intermediate state to publish corrections.

Then, we could support three style of pipelines : Streaming, Incremental, Batch - to make the spectrum of pipeline latencies more continuous .

[2018-08-06 20:51] vinothchandar commented on #261
yeah. do you know of a guide to write structured streaming sources? Seems like we are guessing a lot of these things based on code :)

When I met td/spark folks a while back, they actually suggested this work.. :) may be I can try reaching out and asking again

[2018-08-06 21:19] leletan commented on #261
I am eager to know where to find such a guide, too. Would love to hear if you get something from the td/spark folks.

[2018-08-06 22:46] bvaradar opened #433 "Cache FilesystemView early and reuse to reduce listStatus calls on namenode"
Referenced here: https://github.com/bvaradar/hudi/pull/5#discussion_r208047705

[2018-08-08 12:34] mshtelma commented on #143
Can you add me please ? My email is mshtelma@gmail.com

[2018-08-10 22:36] n3nash opened #437 "Spark stage retry results in a cascading set of failures on MergeOnRead"
Whenever a spark stage is retried (after maxFailures for a task is exhausted), the tasks of the previous stage are NOT killed.
If the tasks in the previous stage are running APPEND to HDFS, the new task will not be able to acquire a lock to the HDFS file being appended to since the previous task still holds the lock. This will result in multiple task retries failing again and eventually fail the j

[2018-08-20 14:31] vinothchandar commented on #143
done.. sorry for the delay. missed this notification somehow..

[2018-08-21 18:49] #423 closed

[2018-08-21 22:08] bvaradar opened #439 "Beeline/Hive Client - select * on real-time views fails with schema related errors for tables with deep-nested schema"
For deep nested schema containing arrays of structs, schema derived by parquet-avro and the one from log-files do not match. The avro record in log-file has one level of nesting for (array of arrays of structs) more than that of the the generic record generated by parquet-avro converters (hive implementation). The schema validation logic in Hive query layer fails due to this.

Here is an example e

[2018-08-22 03:46] vinothchandar commented on #422
Goal here is to : come up with docker compose based framework to spin up hive metastore, hive, spark, hdfs containers of different apache/cdh versions and then we able to run HoodieJavaApp on them..
and then a standard combination of this becomes the new quickstart.

[2018-08-22 03:49] vinothchandar commented on #406
per discussion with @bvaradar , we can punt on this for a bit..

[2018-08-22 06:32] leletan commented on #254
This might just be more than testing impacted.

Running a spark job with multi-core executors and seeing the same behavior.
[code]

[2018-08-22 06:45] leletan commented on #254
With more digging I got the call stack for `fs.close();` which same as mentioned #241 was triggered upon creating a new ParquetWriter

[code]

[2018-08-22 06:45] leletan commented on #254
What do you guys think of adding a synchronized block around the ParquetFileWriter creation in com.uber.hoodie.io.storage.HoodieParquetWriter constructor to mitigate the race condition?

[2018-08-22 06:58] leletan commented on #254
What do you guys think of adding a synchronized block to guard
```return new HoodieParquetWriter<>(commitTime, path, parquetConfig, schema);```
in the `com.uber.hoodie.io.storage.HoodieStorageWriterFactory.newParquetStorageWriter`?
Of course there will be a cost of performance. Not a concurrency expert, not sure if this is a bad practice.

[2018-08-22 16:40] vinothchandar commented on #254
yes this is a general spark quirk. we have nt found a compelling case to run with num_cores > 1. This is typically done with ML workloads, to get more locality of memory per host.. Do you see a strong reason for supporting this for ingestion/etl use-cases?

Happy to explore fixes around this..  @n3nash can you chime in as well

[2018-08-22 17:47] vinothchandar commented on #254
@leletan https://stackoverflow.com/questions/4354677/cost-of-synchronization sheds some light. In general, with contention synchronized blocks will drag per fown. However, the code snipped you pasted may be okay, since its only done once per file creation. so perf is less of a concern here..

Could you please explain how protecting that line would alleviate the issue? I am not following fully. I t

[2018-08-22 17:56] leletan commented on #254
I took that back since synchronized block does not work with static functions.

The high level idea is to remove the race condition between different threads to call `org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:2707)` at the same time, during which each thread will try to close the extra fs as following:

[code]

[2018-08-22 18:00] leletan commented on #254
Unless we want to change hadoop / parquet code, the first available control hoodie has is `com.uber.hoodie.io.storage.HoodieParquetWriter.(HoodieParquetWriter.java:54)`. However java class constructor does not allow you to wrap synchronized block around the `super()` call, so next easiest thing to do is try to control who calls that constructor, which is `com.uber.hoodie.io.storage.HoodieStorageWr

[2018-08-22 18:04] leletan commented on #254
We do not have an immediate concern about executor core number as 1.
Not sure if it is valid - my concern is around extra jvm overhead (now we have more jvms) and shuffling cost between executors, especially if we have lots of executors and complicated join / shuffling workload before we write to hoodie table.

[2018-08-22 18:36] leletan commented on #254
this seems to compile:
[code]

[2018-08-22 23:27] n3nash commented on #254
@leletan There can be multiple executors (JVMs) started on the same node and if most tasks run on those jvm's running on the same node, shuffling cost should be minimal (or may not matter at all) but obviously cannot be said with certainty.

We know this problem's scope is more than the tests, this first arose as a change to a test and hence is documented here. Just like @vinothchandar mentioned,

[2018-08-23 05:12] leletan commented on #254
Sure. Here is my understanding, please feel free to correct me:
In the same executor (jvm), let's say there are 2 cores, here is the when the race condition cause the issue mentioned in this ticket:
partition 0 (thread 0) -... -> HoodieStorageWriterFactory.newParquetStorageWriter -........-> fs.close()
partition 1 (thread 1) -... -> HoodieStorageWriterFactory.newParquetStorageWriter -. -> fs.close

[2018-08-23 05:16] leletan commented on #254
Of course ideally we might want to just wrap around just `fs.close() -> fs.create()`, but that will need to change code in hadoop package. So if you take a closer look at the call stacks of the threads I pasted above, you might find the `HoodieStorageWriterFactory.newParquetStorageWriter` closest place available to make this change.

[2018-08-23 06:30] leletan commented on #254
Please let me know if I may help providing more details.

[2018-08-23 22:47] leletan opened #441 "[Question] What would be the best way to ingest data and drop later data with the same key"
I have a use case to drop later arrived dup data.

There are 2 ways I can think of now:

- Use a new type of `HoodieRecordPayload` and just keep the previous persisted one as output of `combineAndGetUpdateValue(...)`, however the commit time of the previous persisted one will be updated to the latest, which makes the downstream incremental ETL job potentially counting this record twice.

- Left jo

[2018-08-24 16:15] n3nash opened #442 "Remove dependency on apache common-lang3"
commons-lang3 has caused many issues in the past such as ClassNotFound, NoSuchMethod and we are ending up having to shade jars. Ideally, we can avoid having a dependency on this library.

[2018-08-29 00:05] n3nash commented on #254
@leletan So the fs object is shared between all instances of the writer. Are you suggesting we instantiate only one writer at a time ? Because there is no control on how fs.close() is called once the stream completes so the synchronization block will have to just wait till that happens, is that what you are suggesting ?

[2018-08-29 12:06] saravsars commented on #143
@vinothchandar can you add me to the slack group please? My email is sarav.sars@gmail.com

[2018-08-29 15:40] arw357 commented on #143
Hi, please add me to slack  kaetter@gmail.com

[2018-08-29 19:31] leletan commented on #254
@n3nash correct.  By no control, we mean not going to modify where `fs.close()` in the hadoop parquet code (as shown above).

[2018-08-29 19:56] leletan commented on #441
Did some digging into 1st way - there maybe 2 ways to deal with the commit time -
1. Put a new flag field in the HoodieRecord to indicate if a copyOldRecord is needed during writing
2. Pass down a flag during dataframe options to enforce this entire job will be copyOldRecord

It seems there are trade off in design and usabilities. Wondering if and which one matches hoodie's design philosophy bette

[2018-08-30 09:42] vinothchandar commented on #441
For very similar use-case (de-duping kafka tables), we do something like approach 2. Approach 1 will incur these side-effects you mentioned and also needlessly incurs write I/O for just writing out the same data again.

Assuming you have the GlobalBloomIndex, you could use the `HoodieReadClient::tagLocation` which hands back location of each key (should be faster than a full left join) and you can

[2018-08-31 00:31] leletan commented on #441
Thanks @vinothchandar. Will take a closer look.

[2018-08-31 14:39] vinothchandar commented on #143
Done!

[2018-08-31 18:15] n3nash commented on #254
@leletan Have you tried this fix ? Does it give you true multi-core parallelism for the write phase in the same executor without causing the `fs.close()` issues ?

[2018-09-05 19:56] bvaradar commented on #439
Note that this query works well  under Spark

[2018-09-07 02:03] n3nash commented on #442
Addressed here : https://github.com/uber/hudi/pull/444

[2018-09-07 02:03] #442 closed

[2018-09-07 19:15] n3nash opened #450 "Add test cases to capture incorrect prev commit times set in HoodieAppendHandle"

[2018-09-10 20:50] leletan commented on #441
@vinothchandar I was able to leverage global bloom filter to build approach 2, with some code copying from `DefaultSource.createRelation` to convert `DataFrame` into `RDD[HoodieRecord[_ <: HoodieRecordPayload[_]]]`

[2018-09-11 05:32] leletan commented on #441
Thinking of maybe adding an extra option to write parameter like `hoodie.datasource.write.drop.later` (boolean false by default), and adding an optional logic in the `DefaultSource.createRelation` to tag the incoming df and `.filter(_.getCurrentLocation != null)` before writing to disk.
And also we can add another option `hoodie.datasource.write.dedup.global` to indicate if we want to tag it with

[2018-09-11 05:47] vinothchandar commented on #441
at uber, our ingest system uses the RDD apis (see https://github.com/uber/marmaray), so we don't have this issue.

What you are suggesting makes sense. Let me repeat it, to see if we are on the same page

1. Add a flag to drop duplicate data, for insert operations (INSERT/BULK_INSERT)?  This way de-duping is something supported as a first class citizen.
2. Optionally support global deduping.. I th

[2018-09-11 05:59] leletan commented on #441
Thanks for the info @vinothchandar
Same page for 1
For 2 - I kind of thought of the same approach, just one thing want to clarify -
Not sure if it makes sense to extend this deduping to other index types than HoodieGlobalBloomIndex or HoodieBloomIndex if we expose this option to user?

[2018-09-11 06:19] leletan commented on #441
[Marmaray](https://github.com/uber/marmaray) is amazing, wondering how many more of those big data tools are there open sourced by uber so far? What are the most used combo of frameworks?

[2018-09-11 17:53] leletan commented on #441
Just realized - does it mean HoodieKey might not be unique in the table since insert may accept duplicate records?

[2018-09-11 18:11] vinothchandar commented on #441
yes. but not all indexes may be able to support global de-duping. So like to leave them decoupled and just advice user on what index to use when..

In a nutshell, we use Hive (ETL), Spark (ML/Data science/ETL), Presto (interactive queries).. :)

[2018-09-11 19:41] vinothchandar commented on #154
#420 fixes this

[2018-09-11 19:41] #154 closed

[2018-09-11 19:42] vinothchandar commented on #403
#449 fixes this

[2018-09-11 19:42] #403 closed

[2018-09-11 19:43] vinothchandar commented on #118
#449 addressed the jackson mismatch causing this at times

[2018-09-11 19:43] #118 closed

[2018-09-11 19:52] vinothchandar commented on #123
spark datasource can now sync to hive..

[2018-09-11 19:52] #123 closed

[2018-09-12 08:44] arw357 opened #456 "Multiple field partitions aren't synced to Hive"
In HoodieHiveClient the creation of the sql that alter's the Hive partition does not create the PARTITION statement correctly when dealing with multiple fields.

The code is here  [https://github.com/uber/hudi/blob/master/hoodie-hive/src/main/java/com/uber/hoodie/hive/HoodieHiveClient.java#L163](url)

`      for (int i = 0; i < syncConfig.partitionFields.size(); i++) {
        partBuilder.append(s

[2018-09-12 18:40] vinothchandar commented on #441
both insert and bulk_insert assume that the input data won't contain any duplicates. if it does, then use upsert() . For your use case., we can call tagLocation() -> filter out dupes -> insert() / bulkInsert() .. this is how we use it..

This is more efficient than upsert() for the de-duping case, since it avoid updating the same data again.

[2018-09-12 18:44] vinothchandar commented on #456
@bvaradar any initial thoughts?

[2018-09-12 19:02] #426 closed

[2018-09-12 19:04] #382 closed

[2018-09-12 19:05] #303 closed

[2018-09-12 19:06] #135 closed

[2018-09-13 01:18] leletan commented on #261
Got some nice guy pointed out some potential solution https://stackoverflow.com/questions/51715645/convert-a-sparksql-batch-source-to-structured-streaming-sink
will give it a try

[2018-09-13 06:47] leletan commented on #261
It seems working. Will create a PR for this after more edge case testing.

[2018-09-14 10:35] rajatkumarraghuvanshi opened #459 "rajatkumarraghuvanshi@gmail.com wants to be a hudi committer and join slack discusisons"
working as Data engineer in Paytm.

[2018-09-14 12:43] vinothchandar commented on #459
Hey.. added you to our slack group. Welcome aboard!

[2018-09-14 12:43] #459 closed

[2018-09-14 23:52] vinothchandar commented on #261
Kickass!! Nice find..

[2018-09-14 23:55] vinothchandar commented on #41
@n3nash @bvaradar thoughts? I plan to begin working on this next week..

[2018-09-16 15:16] bvaradar commented on #456
Thanks @arw357 for reporting this issue. This is indeed a bug. We have a PR now https://github.com/uber/hudi/pull/460 to fix this issue. You can try using the patch to continue working with Hoodie. We will keep you posted when this PR merges to master.

[2018-09-17 00:05] n3nash commented on #430
@vinothchandar I can take this up in the upcoming week unless you have any other suggestion for usability things to fix ?

[2018-09-18 19:34] vinothchandar opened #462 "Travis CI fails intermittently due to memory issues"
Capturing these failures in a ticket

https://api.travis-ci.org/v3/job/429869920/log.txt

[code]

[2018-09-19 04:53] vinothchandar commented on #462
Another issue reported by @leletan is
https://api.travis-ci.org/v3/job/429910904/log.txt

[code]

[2018-09-21 21:59] sungjuly commented on #143
@bvaradar would you please add me to slack channel? sungju@softwaregeeks.org

[2018-09-21 22:39] bvaradar commented on #143
@sungjuly : Just sent an invitation

[2018-09-24 15:39] bvaradar opened #469 "Create hub.docker.com account for releasing official Hudi docker images"
The PR has changes https://github.com/uber/hudi/pull/455 has changes to release docker images as part of mvn release. But, I have commented that part in pom.xml as we do not have any official repository. For the purpose of the demo, I have temporarily used my repositories to upload docker images and quickstart is referencing them.

Once, we create an official account and publish a release, we can

[2018-09-26 05:52] #462 closed

[2018-09-29 04:20] bvaradar opened #472 "Allow all Hudi Data sources to be constructed from base-path"
When loading an incremental data-source, users need to provide a base-path

For e:g -
val hoodieIncViewDF =  spark.read.format("com.uber.hoodie").option(DataSourceReadOptions.VIEW_TYPE_OPT_KEY, DataSourceReadOptions.VIEW_TYPE_INCREMENTAL_OPT_VAL).option(DataSourceReadOptions.BEGIN_INSTANTTIME_OPT_KEY, "20180724171449").load("/user/hive/warehouse/sample_trips_data")

But when instantiating a regula

[2018-10-01 13:19] #405 closed

[2018-10-01 13:20] vinothchandar commented on #110
Also merged support for ensuring file consistency before commit.. Closing this master issue.. Changes available in release `0.4.5` if you are still interested.

[2018-10-01 13:20] #110 closed

[2018-10-01 13:21] vinothchandar commented on #422
Fixed by #455

[2018-10-01 13:21] #422 closed

[2018-10-02 04:39] vinothchandar opened #475 "Vote for committership for n3nash"
@prazanna Need your +1 here, before I do it.

@n3nash has contributed immensely to the project over the past year or so. About time to make him a committer!

https://github.com/uber/hudi/pulls?utf8=✓&q=author%3An3nash+

[2018-10-02 04:54] prasannarajaperumal commented on #475
Absolutely, Well deserved @n3nash

[2018-10-02 04:55] vinothchandar commented on #475
Alright!

[2018-10-02 04:55] #475 closed

[2018-10-04 09:47] TadasSugintasYields commented on #143
Hi, would you please add me ? tadas.sugintas@yields.io

[2018-10-07 03:43] vinothchandar opened #479 "Document caveats with spark num_cores > 1"

[2018-10-07 03:48] vinothchandar commented on #143
Done and done

[2018-10-07 16:00] AnkitMishra3220 opened #480 "Not able to fetch the records from Hoodie Table"
I have manually configured Uber-Hoodie via beeline by following steps:

hive> set hive.input.format=org.apache.hadoop.hive.ql.io.HiveInputFormat;
hive> set hive.stats.autogather=false;
hive> add jar file:///hoodie-poc/hoodie-common-0.4.5-SNAPSHOT.jar;
hive> add jar file:///hoodie-poc/hoodie-hadoop-mr-0.4.4-SNAPSHOT.jar;
hive> CREATE EXTERNAL TABLE hoodie_test(id int,name string,city string) PARTIT

[2018-10-08 16:28] bvaradar commented on #480
@AnkitMishra3220 : Couple of things:
1. If you are trying to ingest data directly in Hudi format, the "insert into" hive query will not work. You should instead use the delta-streamer spark-tool (or HoodieWriteClient API) as described in the quickstart : https://uber.github.io/hudi/quickstart.html#a-demo-using-docker-containers
2. But (1) should not be the reason why are not seeing any data. Hudi

[2018-10-08 17:57] AnkitMishra3220 commented on #480
Hello @bvaradar,

Thanks for your quick response !!

I have seen location attribute is set correctly. I did typo in DDL statement. Please find describe formatted details as below:

hive> describe formatted hoodie_test;

OK

# col_name                        data_type                           comment

id                          int

name                   string

city                       string